1. <A NAME="03500165"></A><I>Achlys triphylla</I> (Smith) de Candolle</B>,
Syst. Nat. 2: 35. 1821 - Deer-foot, vanilla-leaf - E F</P>

<P><I>Leontice triphylla</I> Smith in A. Rees,
Cycl. 20: [5]. 1812</P>

<P><B>Plants</B>, 2-4&nbsp;dm. <B>Leaves:</B>
petiole 1-3&nbsp;cm. <B>Central leaflet blade</B> 4-11 &times; 4-8&nbsp;cm,
proximal margins entire, distal margins (1-)3-4(-8)-lobed. <B>Inflorescences</B>
2.5-5&nbsp;cm excluding peduncle. <B>Flowers:</B> stamens 3-4&nbsp;mm;
ovaries 1-1.5&nbsp;mm. <B>Follicles</B> red-purple, 3-4.5&nbsp;mm. 2<I>n</I>&nbsp;=&nbsp;12.</P>

<P>Flowering spring-summer (Apr-Jul). Mountain
regions in Cascade Range and Coast Range of California in coniferous forests;
0-1500&nbsp;m; B.C.; Calif., Oreg., Wash.</P>

<P>Medicinally, Native Americans used preparations
of the leaves of <I>Achlys triphylla</I> to treat tuberculosis, for a hair
wash, and as an emetic (D.&nbsp;E. Moermann 1986).<BR>
<BR>
<BR>
<B>