2. <A NAME="03500408"></A><I>Achlys californica</I> Fukuda &amp; H.&nbsp;G.
Baker</B>, Taxon 19: 341. 1970</P>

<P><B>Plants</B>, 3-5&nbsp;dm. <B>Leaves:</B>
petiole 1-3&nbsp;cm. <B>Central leaflet blade</B> ca. 7-16 &times; 8-17&nbsp;cm,
proximal margins entire, distal margins (3-)6-9(-12)-lobed. <B>Inflorescences</B>
2.8-5.8&nbsp;cm excluding peduncle. <B>Flowers:</B> stamens 3.8-6&nbsp;mm;
ovaries 1.5-2&nbsp;mm. <B>Follicles</B> brown, 3.5-5&nbsp;mm. 2<I>n</I>&nbsp;=&nbsp;24.</P>

<P>Flowering spring-summer (Apr-Jul). Coastal
and mountainous regions, <I>Sequoia sempervirens</I> and <I>Pseudotsuga
menziesii</I> forests; 0-1200&nbsp;m; B.C.; Calif., Oreg., Wash.</P>

<P>Triploid plants have been reported from one
locality in central Washington and from a site in northwestern California.<BR>
</P>

