

<P><B>6. ACHLYS de Candolle</B>,
Syst. Nat. 2: 35. 1821 - [Greek <I>Achlus</I>, a god of night]</P>

<P><B>Herbs</B>, perennial, deciduous, 2.5-5&nbsp;dm,
glabrous. <B>Rhizomes</B> extensive, branching, producing 1-few foliage
leaves or flowering shoots per year. <B>Aerial stems</B> absent. <B>Leaves</B>
basal, alternate, 3-foliolate; petiole long, slender. <B>Leaf blade</B>
orbiculate in gross outline, 20-40&nbsp;cm; leaflet blades fan-shaped,
entire or lobed, lateral leaflet blades strongly asymmetric, margins entire
to coarsely sinuate; venation palmate. <B>Inflorescences</B> terminal,
dense scapose-pedunculate spikes of inconspicuous flowers. <B>Flowers</B>
3-merous, white to cream, 6&nbsp;mm or less; bracteoles absent; sepals
absent; petals absent; stamens 8-10(-13); anthers dehiscing by 2 apically
hinged flaps; pollen exine striate; ovaries asymmetrically ellipsoid; placentation
marginal, placenta developed only near base of ovary. <B>Fruits</B> follicles
with transverse dehiscence, purplish red or brown, curved, furrowed. <B>Seeds</B>
1, brown; aril absent. <I>x</I>&nbsp;=&nbsp;6.</P>

<P>Species 3 (2 in the flora): North America,
Asia (Japan).</P>

<P><I>Achlys</I> is of particular interest because
of its amphi-Pacific disjunction. Despite the 8000&nbsp;km or more disjunction,
the taxa are remarkably similar in morphology, ecology, and karyology.
Japanese populations are diploid; American populations are diploid and
tetraploid.</P>

<P>Two species are recognized in this treatment;
some researchers prefer to treat them as varieties. In the Californian
portion of the range, some field botanists believe the two taxa are sufficiently
morphologically distinct to be called species; farther north these differences
are reportedly less apparent.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Fukuda,&nbsp;I. 1967. The biosystematics of <I>Achlys</I>. Taxon 16:
308-316. Fukuda,&nbsp;I. and H.&nbsp;G. Baker. 1970. <I>Achlys californica</I>
--(Berberidaceae)--a new species. Taxon 19: 341-344.<BR>
<BR>
<BR>
<B>