5b. <A NAME="27103528"></A><I>Aconitum columbianum</I> Nuttall subsp.
<I>viviparum</I> (Greene) Brink</B>, Sida 16: 13. 1994<B> </B>- E F</P>

<P><I>Aconitum viviparum</I> Greene, Feddes Repert.
Spec. Nov. Regni Veg. 7: 2. 1909; <I>A</I>.<I>bulbiferum</I> Howell 1897,
not <I>A</I>. <I>bulbiferum</I> Reichenbach 1819; <I>A</I>. <I>columbianum</I>
var. <I>howellii</I> (A. Nelson &amp; J. F. Macbride) C. L. Hitchcock;
<I>A</I>. <I>hansenii</I> Greene</P>

<P><B>Bulbils</B> conspicuous in leaf axils and
sometimes in inflorescence in place of flowers. 2<I>n</I>=18, 19, 20.</P>

<P>Flowering summer (Jul-Sep). Spring-fed bogs,
seep areas, meadows, along streams, and other moist areas in mountains;
900-2500 m; Calif., Oreg.</P>

<P>One group of populations occurs in the Sierra
Nevada, south of Lake Tahoe, in California. Another group of bulbiferous
populations begins ca. 350 miles north in the Klamath Mountains of California
and extends to northern Oregon in the Cascade Range. These bulbiferous
populations form a geographically and morphologically distinct group. We
have not noted intergradation between bulbiferous and nonbulbiferous subspecies
of <I>A</I>. <I>columbianum</I>.</P>

<P>Bulbils are an effective means of vegetative
reproduction. They fall to the ground late in the season and sprout vigorously,
giving rise to new plants. Bulbil production should not be confused with
the production of one to several small daughter tubers at the first few
nodes above the parent tuber, usually below ground, which can occur on
a small percentage of the plants in bulbiferous and nonbulbiferous populations.
In other respects, these bulbiferous populations are similar to adjoining
races of <I>Aconitum columbianum</I> subsp. <I>columbianum</I>.<BR>
</P>

