5a. <A NAME="27101506"></A><I>Aconitum columbianum</I> Nuttall subsp.
<I>columbianum</I> </B>- F</P>

<P><I>Aconitum columbianum</I> var. <I>ochroleucum</I>
A. Nelson; <I>A</I>. <I>columbianum</I> subsp. <I>pallidum</I> Piper; <I>A</I>.
<I>geranioides</I> Greene; <I>A</I>.<I>i nfectum</I> Greene; <I>A</I>.
<I>leibergii</I> Greene; <I>A</I>. <I>mogollonicum</I> Greene; <I>A</I>.
<I>noveboracense</I> A.Gray; <I>A</I>. <I>uncinatum</I> subsp. <I>noveboracense</I>
(A. Gray) Hardin</P>

<P><B>Bulbils</B> absent in leaf axils and inflorescences.
2<I>n</I>=16, 18.</P>

<P>Flowering summer (Jul-Sep). Spring-fed bogs,
seep areas, meadows, along streams, and in other wet areas; 300-3500 m;
B.C.; Ariz., Calif., Colo., Idaho, Iowa, Mont., Nev., N.Mex., N.Y., Ohio,
Oreg., S.Dak., Utah, Wash., Wis., Wyo.; Mexico.</P>

<P>Disjunct, outlying populations of <I>Aconitum
columbianum</I> subsp. <I>columbianum</I> in Iowa, Wisconsin, Ohio, and
New York occur at relatively low elevations (as low as 300 m), sometimes
in frigid air drainages from caves, or in other microhabitats that simulate
conditions of higher elevations. They are probably relict populations that
have persisted locally since the last glacial period. These northern wild
monkshoods have been treated as a species (<I>Aconitum noveboracense</I>,
which has had U.S. federal conservation status), or as a subspecies of
<I>A</I>. <I>uncinatum</I>. We find, however, that they are part of the
<I>A</I>. <I>columbianum</I> complex. They have a single daughter tuber
that is separated from the parent tuber by a connecting rhizome no more
than 5mm long. This is like <I>Acolumbianum</I>, and unlike <I>A</I>. <I>uncinatum</I>,
which has several daughter tubers separated from the parent by elongate
connectives. Leaf morphology is also typical of <I>A</I>. <I>columbianum</I>,
and unlike <I>A</I>. <I>uncinatum</I>. Floral morphology is similar to
that found in diminutive races of <I>A</I>. <I>columbianum</I> in California,
Wyoming, and South Dakota. Several populations in Iowa and Wisconsin are
at the diminutive extreme of the range of variation in <I>A</I>. <I>columbianum</I>
floral characters such as nectary depth and hood height. Data for Iowa
and Wisconsin populations can be found in D. E. Brink (1982, also 1980).
Plants in an Ohio population were too stressed and depauperate for data
collection. Data collected in New York populations by Brink in 1982 are
not published.</P>

<P><I>Aconitum columbianum</I> subsp. <I>columbianum</I>
is exceedingly variable. Plants often occur in dense, highly localized
populations; they are very similar morphologically within populations and
within regional groups of populations. Extreme differences occur between
the geographic races. Specimens of the most diminutive races rarely exceed
1 m in height, whereas plants of the largest races may exceed 3m, with
correlated differences in size and number of plant parts. A complete range
of variation exists between the extremes if many regional groups of populations
are considered. Geographic patterns of morphologic variation have been
considered too complex to accord formal taxonomic rank to the variants,
so the group has been treated as one large, intergrading species complex,
with bulbil-bearing and nonbulbil-bearing subspecies. White-flowered variants
occur within populations, but white-flowered populations and groups of
populations also occur. In each case, these seem to be sporadic variants
within larger, regional patterns of morphologic variation. Consequently,
white-flowered morphs are not accorded formal taxonomic rank.<BR>
<BR>
<B>