5. <A NAME="27100713"></A><I>Aconitum columbianum</I> Nuttall in J.
Torrey &amp; A. Gray</B>, Fl. N. Amer. 1: 34. 1838 - W2</P>

<P><B>Roots</B> tuberous, tuber distally not
obviously bulblike, to 60 &times; 15 mm, parent tuber producing 1 (rarely
2) daughter tubers with connecting rhizome very short, i.e., tubers &plusmn;contiguous.
<B>Stems</B> erect and stout to twining and reclining, 2-30 dm. <B>Cauline
leaves:</B> blade deeply 3-5(-7)-divided, usually with more than 2 mm leaf
tissue between deepest sinus and base of blade, 5-15 cm wide, segment margins
variously cleft and toothed. <B>Inflorescences</B> open racemes or panicles.
<B>Flowers</B> commonly blue, sometimes white, cream colored, or blue tinged
at sepal margins, 18-50 mm from tips of pendent sepals to top of hood;
pendent sepals 6-16 mm; hood conic-hemispheric, hemispheric, or crescent-shaped,
11-34mm from receptacle to top of hood, 6-26 mm wide from receptacle to
beak apex.</P>

<P>Subspecies 2 (2 in the flora): moist areas,
primarily in w North America, sporadic in e U.S.</P>

<P>Available information suggests that <I>Aconitum
columbianum</I> is probably not one of the extremely toxic aconites (D.
E. Brink 1982; J. D. Olsen et al. 1990).</P>

<P><B>SELECTED REFERENCES<BR>
</B>Brink, D. E. 1980. Reproduction and variation in <I>Aconitum columbianum</I>
(Ranunculaceae), with emphasis on California populations. Amer. J.Bot.
67: 263-273. Brink, D. E. and J. M. J. de Wet. 1980. Interpopulation variation
in nectar production in <I>Aconitum columbianum</I> (Ranunculaceae). Oecologia
47: 160-163.<BR>
<BR>
<B>