2. <A NAME="27100003"></A><I>Aconitum delphiniifolium</I> de Candolle</B>,
Syst. Nat. 1: 380. 1817 - F</P>

<P><I>Aconitum delphiniifolium</I> subsp. <I>chamissonianum</I>
(Reichenbach) Hult&eacute;n; <I>A</I>. <I>delphiniifolium</I> subsp. <I>paradoxum</I>
(Reichenbach) Hult&eacute;n; <I>A</I>. <I>delphiniifolium</I> var. <I>paradoxum</I>
(Reichenbach) S. L. Welsh</P>

<P><B>Roots</B> tuberous, tuber ca. 10-15 &times;
5 mm, with 1 (rarely more) contiguous daughter tuber. <B>Stem</B> erect,
slender, 1-10 dm. <B>Cauline leaves:</B> blade 3-divided to base, (1-)7(-13)
cm wide, occasionally with up to 2(-4) mm of leaf tissue between deepest
sinus and base of blade, 2 lateral segments each deeply 2-parted; margins
cleft into narrow, linear-oblong lobes. <B>Inflorescences</B> open racemes
or panicles. <B>Flowers</B> blue, purple, occasionally greenish purple,
yellowish, or white, 20-40 mm from tips of pendent sepals to top of hood;
pendent sepals 9-20 mm; hood low, crescent-shaped to hemispheric to conic-hemispheric,
10-24 mm high receptacle to top of hood, 13-30 mm broad from receptacle
to beak apex. 2<I>n</I>=16.</P>

<P>Flowering summer (mid Jun-Sep). Meadows, along
creeks, thickets, woods, rocky slopes, and alpine tundra; 0-1700 m; Alta.,
B.C., N.W.T., Yukon; Alaska; Asia (Russia).</P>

<P><I>Aconitum delphiniifolium</I> is variable
and was divided into three intergrading subspecies by E. Hult&eacute;n
(1941-1950, vol. 4) on basis of plant size, flower size, number of flowers,
petal morphology, and narrow versus somewhat broader leaf lobing. Because
of the &quot;paucity of definitive criteria,&quot; J. A. Calder and R.
L. Taylor (1968, vol.1) and S. L. Welsh (1974) chose not to recognize infraspecific
taxa within <I>A</I>. <I>delphiniifolium</I>. Similarly, we have deferred
formal recognition of infraspecific taxa within this species pending population
studies. The most distinctive group within <I>A</I>. <I>delphiniifolium</I>
has one to several large flowers with shallow nectaries borne on diminutive
plants. These are sometimes distinguished as subsp. <I>paradoxum</I>, and
they exhibit a different pattern of variation from that found in <I>A</I>.
<I>columbianum</I>, in which large flower size is associated almost invariably
with large, robust plants and deep nectaries.</P>

<P>More typical forms of <I>Aconitum delphiniifolium</I>
are similar to <I>A</I>. <I>columbianum</I> except that leaves tend to
be more deeply divided and the hood tends to be lower, i.e., more crescent-shaped
and less conic. Some plants and populations of <I>A</I>. <I>columbianum</I>
also have leaves divided almost to the base and low hoods. Intergradation
between the two species should be investigated more fully.</P>

<P>The Salishan used <I>Aconitum delphiniifolium</I>
for unspecified medicinal purposes (D. E. Moerman 1986).<BR>
<BR>
<BR>
<B>