3a. <A NAME="27103527"></A><I>Aconitum maximum</I> Pallas ex de Candolle
subsp. <I>maximum</I> </B>- F</P>

<P><B>Roots</B> tuberous, tubers distally bulbous,
20-50 &times; 5-20 mm, parent and daughter tubers separated by connecting
rhizome usually 10-15 mm. <B>Stem</B> erect, ca. 3-20 dm. <B>Cauline leaves:</B>
blade 3-divided with more than 2 mm leaf tissue between deepest sinus and
base of blade, 5-20cm wide, segment margins deeply cleft and toothed. <B>Inflorescences</B>
racemes or panicles, terminal portion often contracted and capitate. <B>Flowers</B>
blue, purple, or occasionally bluish white, 25-50 mm from tips of pendent
sepals to top of hood; pendent sepals ca. 15 mm; hood conic-hemispheric,
ca. 17 mm from receptacle to top of hood, ca. 20 mm wide from receptacle
to beak apex.</P>

<P>Flowering summer (mid Jul-Sep). Meadows, thickets,
and forests; 0-300 m; Alaska; Asia (Russian Far East and Japan).</P>

<P><I>Aconitum maximum</I> subsp. <I>maximum</I>
is a variable species. The only other species of <I>Aconitum</I> occurring
with it on the Alaska Peninsula and the Aleutian Islands is <I>A</I>.<I>delphiniifolium</I>.
<I>Aconitum maximum</I> subsp. <I>maximum</I> is reputedly extremely poisonous
and was used as a source of arrow poison by the Aleuts (D. E. Moerman 1986;
D. E. Brink 1982).<BR>
<BR>
<BR>
<B>