4. <A NAME="27100832"></A><I>Aconitum uncinatum</I> Linnaeus</B>, Sp.
Pl. ed. 2, 1: 750. 1762 - Wild monkshood - E F</P>

<P><I>Aconitum uncinatum</I> subsp. <I>muticum</I>
(de Candolle) Hardin; <I>A</I>. <I>uncinatum</I> var. <I>acutidens</I>
Fernald</P>

<P><B>Roots</B> tuberous, tubers distally not
obviously bulblike, 10-30 &times; 5-15 mm, parent tuber producing several
(ca. 5) daughter tubers separated from parent by connecting rhizomes 5-30
mm. <B>Stems</B> erect, reclining or climbing, 3-25 dm. <B>Cauline leaves:</B>
blade 3-5-divided, usually with more than 2 mm leaf tissue between deepest
sinus and base of blade, 4-10 cm wide, segment margins cleft and toothed.
<B>Inflorescences</B> open racemes or panicles. <B>Flowers</B> commonly
blue, 2.5-5 cm from tips of pendent sepals to top of hood; pendent sepals
10-18 mm; hood conic-hemispheric, 15-27 mm from receptacle to top of hood,
13-24 mm wide from receptacle to beak apex.</P>

<P>Flowering late summer (mid Aug-late Sep).
Wet areas along streams and in springs, also less mesic locations in woods
and clearings; 200-2000 m; Ga., Ind., Ky., Md., N.C., Ohio, Pa., S.C.,
Tenn., Va., W.Va.</P>

<P><I>Aconitum uncinatum</I> grows in the Appalachian
Mountains, on the Piedmont, and on the upper Atlantic Coastal Plain. It
is a relatively homogeneous group divided into two intergrading subspecies
by J. W. Hardin (1964).</P>

<P>Daughter tubers and connecting rhizomes are
seldom present on herbarium specimens because they are easily dislodged
during collection.</P>

<P>Available information suggests that <I>Aconitum
uncinatum</I> is probably not one of the extremely toxic aconites (D. E.
Brink 1982).<BR>
<BR>
<BR>
<B>