

<P><B>15. ACONITUM Linnaeus</B>,
Sp. Pl. 1: 532. 1753; Gen. Pl. ed. 5, 236. 1754 - Monkshood, aconite, wolfsbane,
aconit [according to Pliny, the name &quot;aconite&quot; is taken from
the ancient Black Sea port Aconis]</P>

<P><B>Herbs</B>, perennial, from tubers or elongate,
fascicled roots. <B>Leaves</B> basal and cauline, proximal leaves petiolate,
distal leaves sessile or nearly so; cauline leaves alternate. <B>Leaf blade</B>
palmately divided into 3-7 segments, ultimate segments narrowly elliptic
or lanceolate to linear, margins incised and toothed. <B>Inflorescences</B>
terminal, sometimes also axillary, 1-32(-more) racemes or panicles, to
28 cm; bracts leaflike, not forming involucre. <B>Flowers</B> bisexual,
bilaterally symmetric; sepals not persistent in fruit; lower sepals (pendents)
2, plane, 6-20 mm; lateral sepals 2, round-reniform; upper sepal (hood)
1, saccate, arched, crescent-shaped or hemispheric to rounded-conic or
tall and cylindric, usually beaked, 10-50 mm; petals 2, distinct, bearing
near apex a capitate to coiled spur, concealed in hood, long-clawed; nectary
present, on spur; stamens 25-50; filaments with base expanded; staminodes
absent between stamens and pistils; pistils 3(-5), simple; ovules 10-20
per pistil; style present. <B>Fruits</B> follicles, aggregate, sessile,
oblong, sides prominently transversely veined; beak terminal, straight,
2-3 mm. <B>Seeds</B> deltoid, usually with small, transverse, membranous
lamellae. <I>x</I>=8.</P>

<P>Species ca. 100 (5 in the flora): circumboreal,
southward into n Mexico and n Africa.</P>

<P>The greatest concentration of species of <I>Aconitum</I>
is in Asia, with a smaller group in Europe.</P>

<P><I>Aconitum</I> is phylogenetically most closely
related to <I>Delphinium</I> Linnaeus as evidenced by similarities in karyotype,
production of diterpene alkaloids, and similarities in floral morphology.
Distinctive and unique floral morphology clearly distinguishes <I>Aconitum</I>
from all other genera.</P>

<P>The aconites have been of interest since ancient
times because they contain diterpene alkaloids that range from relatively
nontoxic to deadly poisonous. In various parts of the world they have been
used medicinally and as a source of poisons throughout history (D. E. Brink
1982). Use of <I>Aconitum</I> alkaloids in modern medicine was largely
discontinued by the late 1930s and early 1940s (E. E. Swanson et al. 1938;
H. C. Wood and A. Osol 1943; A. Osol et al. 1960).</P>

<P><I>Aconitum</I> is a circumboreal arctic and
alpine genus that extends into lower latitudes where there is suitable
mesic habitat at high elevations along the north-south chains of mountains
in eastern and western North America, and also in outlying, scattered,
mesic, interglacial refugia, occasionally at low elevations.</P>

<P>The genus <I>Aconitum</I> worldwide is notorious
for complex patterns of morphologic intergradation that blur the lines
between taxa. Aconites from different regions may be morphologically distinct
but connected by a series of intermediate races. <I>Aconitum columbianum</I>
exemplifies this in North America, and <I>A</I>. <I>delphiniifolium</I>
may extend this complex of variation into Asia. Intergradation between
<I>A</I>. <I>columbianum</I> and <I>A</I>. <I>delphiniifolium</I> should
be more fully investigated.</P>

<P>Cultivated aconites with origins outside North
America sometimes persist in old gardens or are encountered as garden escapes,
especially in eastern Canada (New Brunswick, Newfoundland, Nova Scotia,
Ontario, and Quebec). These may include <I>Aconitum lycoctonum</I> Linnaeus,
<I>A</I>. <I>napellus</I> Linnaeus, <I>A</I>. <I>variegatum</I> Linnaeus,
and <I>A</I>.<I>bicolor</I> Schultes. <I>Aconitum lycoctonum</I> is similar
to <I>A</I>. <I>reclinatum</I> of the southeastern United States in having
the tall, conic-cylindric hood that is characterisitc of species in <I>Aconitum</I>
sect. <I>Lycoctonum</I> de Candolle. <I>Aconitum reclinatum</I> has white
flowers whereas <I>A</I>. <I>lycoctonum</I> has lilac-purple flowers.</P>

<P><I>Aconitum napellus</I> and <I>A</I>. <I>variegatum</I>
are European introductions with leaves divided to the base as in <I>A</I>.
<I>delphiniifolium</I>, which is native to Canada and Alaska. The introduced
species have taller hoods and relatively short-petiolate leaves compared
to <I>A</I>. <I>delphiniifolium</I>; in <I>A</I>. <I>delphiniifolium</I>
petioles are longer, i.e., mostly as long as blades. <I>Aconitum napellus</I>
has smooth seeds that lack the undulating membranous lamellae present in
<I>A</I>. <I>delpinifolium</I> and <I>A</I>. <I>variegatum</I>.</P>

<P><I>Aconitum bicolor</I> is a reputed hybrid
between <I>A</I>. <I>napellus</I> and <I>A</I>. <I>variegatum</I>, having
leaves like the former and flowers similar to the latter. It is always
sterile; seeds are not viable. Flowers of <I>A</I>. <I>bicolor</I> are
frequently white with purple margins.</P>

<P>A more complete treatment of the cultivated
aconites likely to be encountered in North America can be found in H. J.
Scoggan (1978-1979, part 3, pp. 718-720) and P. A. Munz (1945).</P>

<P><B>SELECTED REFERENCES<BR>
</B>Brink, D. E. 1982. Tuberous <I>Aconitum</I> (Ranunculaceae) of the
continental United States: Morphological variation, taxonomy and disjunction.
Bull. Torrey Bot. Club 109: 13-23. Brink, D. E., J. A. Woods, and K. R.
Stern. 1994. Bulbiferous <I>Aconitum</I> (Ranunculaceae) of the western
United States. Sida 16: 9-15. Hardin, J. W. 1964. Variation in <I>Aconitum</I>
of eastern United States. Brittonia 16: 80-94. Kadota, Y. 1987. A Revision
of <I>Aconitum</I> subgenus <I>Aconitum</I> (Ranunculaceae) of East Asia.
Utsunomiya. Munz, P. A. 1945. The cultivated aconites. Gentes Herb. 6:
462-505. Shteinberg, E. I. 1970. <I>Aconitum</I>L. In: V. L. Komarov et
al., eds. 1963+. Flora of the U.S.S.R. (Flora SSSR). Translated from Russian.
22+ vols. Jerusalem. Vol. 7, pp. 143-184.<BR>
<BR>
<BR>
<B>