1. <A NAME="27100831"></A><I>Aconitum reclinatum</I> A. Gray</B>, Amer.
J. Sci. Arts 42: 34. 1842 - Trailing wolfsbane - E F</P>

<P><B>Roots</B> slender, elongate, fascicled.
<B>Stems</B> erect, reclining or climbing, 6-25 dm. <B>Cauline leaves:</B>
blade 3-7-divided with more than 4mm leaf tissue between deepest sinus
and base of blade, 12-20 cm wide, segment margins cleft and toothed. <B>Inflorescences</B>
open racemes or panicles. <B>Flowers</B> white to cream colored, 18-30
mm from tips of pendent sepals to top of hood; pendent sepals 7-10 mm;
hood conic to nearly cylindric, 15-23 mm from receptacle to top of hood,
4-12 mm wide from receptacle to beak apex.</P>

<P>Flowering late spring-summer (Jun-Sep). Shaded
ravines of woods in mountains and upper piedmont; to 1700 m; N.C., Pa.,
Va., W.Va.</P>

<P>The only American species of <I>Aconitum</I>
sect. <I>Lycoctonum</I> de Candolle, <I>A</I>. <I>reclinatum</I> exhibits
elongate, fasciculate roots and the tall, conic-cylindric hood characteristic
of that section.<BR>
<BR>
<BR>
<B>