3. <A NAME="27100758"></A><I>Aconitum maximum</I> Pallas ex de Candolle</B>,
Syst. Nat. 1: 380. 1817</P>

<P>Subspecies 2 (1 in the flora): maritime and
subalpine areas of w North America, and Asia (Russian Far East and Japan).<BR>
<BR>
<B>