

<P><B>9. ACTAEA Linnaeus</B>,
Sp. Pl. 1: 504. 1753; Gen. Pl. ed. 5, 222. 1754 - Baneberry, necklaceweed,
cohosh, act&eacute;e [Greek, <I>aktea</I>, ancient name for the elder,
probably for leaf similarity]</P>

<P><B>Herbs</B>, perennial, from caudices ca.
1 cm thick. <B>Leaves</B> cauline, alternate, petiolate. <B>Leaf blade</B>
1-3-ternately or -pinnately compound; leaflets ovate to narrowly elliptic,
unlobed to 3-lobed, margins sharply cleft, irregularly dentate. <B>Inflorescences</B>
terminal or axillary, 25(-more)-flowered racemes, 2-17 cm; bracts leaflike,
sometimes present between leaves and inflorescence, bracteoles 1-2, at
base of each pedicel, not forming involucre. <B>Flowers</B> bisexual, radially
symmetric; sepals not persistent in fruit, 3-5, whitish green, plane, orbiculate,
2-4.5 mm; petals 4-10, distinct, cream colored, plane, spatulate to obovate,
clawed, 2-4.5 mm; nectary absent; stamens 15-50; filaments filiform; staminodes
absent between stamens and pistils; pistil 1, simple; ovules many per pistil;
style very short or absent. <B>Fruits</B> berries, solitary, sessile, broadly
ellipsoid to nearly globose, sides smooth; beak a wart, terminal, to 1
mm. <B>Seeds</B> dark brown to reddish brown, obconic to wedge-shaped,
rugulose. <I>x </I>= 8.</P>

<P>Species ca. 8 (2 in the flora): temperate
to cool forests throughout Northern Hemisphere.</P>

<P>The two species in North America are similar
to each other vegetatively and differ primarily in flower and fruit characteristics.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Hult&eacute;n, E. 1971. The circumpolar plants. II. Dicotyledons. Kongl.
Svenska Vetenskapsakad. Handl., ser. 4, 13: 1-463. Keener, C.S. 1977. Studies
in the Ranunculaceae of the southeastern United States. VI. Miscellaneous
genera. Sida 7: 1-12. Pellmyr, O. 1985. The pollination biology of <I>Actaea
pachypoda</I> and <I>A</I>. <I>rubra</I> (including <I>A</I>. <I>erythrocarpa</I>)
in northern Michigan and Finland. Bull. Torrey Bot. Club 112: 265-273.<BR>
<BR>
<BR>
<B>