1. <A NAME="27100835"></A><I>Actaea pachypoda</I> Elliott</B>, Sketch.
Bot. S. Carolina 2: 15. 1821 - Doll's-eyes, act&eacute;e &agrave; gros
p&eacute;dicelles - E F</P>

<P><B>Leaf blade:</B> leaflets abaxially &plusmn;
glabrous. <B>Inflorescences</B> at anthesis often longer than wide, short-cylindric.
<B>Flowers:</B> petals truncate or cleft, often antherlike at apex; stigma
sessile, 1.5-2.8 mm diam. during anthesis, as broad as or broader than
ovary. <B>Berries</B> white, very rarely red, widely ellipsoid to nearly
globose, 6.5-9 mm; pedicel bright red, stout, (0.7-)0.9-2.2(-3) mm diam.,
&plusmn; as thick as axis of raceme. <B>Seeds</B> 3.4-4.5 mm. 2<I>n </I>=
16.</P>

<P>Flowering spring-early summer. Deciduous forests,
less often with pines, junipers, or other conifers; 0-1200 m; N.B., N.S.,
Ont., P.E.I., Que.; Ala., Ark., Conn., Del., Fla., Ga., Ill., Ind., Iowa,
Kans., Ky., La., Maine, Md., Mass., Mich., Minn., Miss., Mo., Nebr., N.H.,
N.J., N.Y., N.C., Ohio, Okla., Pa., R.I., S.C., Tenn., Vt., Va., W.Va.,
Wis.</P>

<P>The &quot;eye&quot; formed by the persistent
stigma in <I>Actaea pachypoda</I> is larger than that in <I>A</I>. <I>rubra</I>.</P>

<P>Red- and pink-berried plants have been called
<I>Actaea pachypoda</I> forma <I>rubrocarpa</I> (Killip) Fernald or <I>A</I>.
<I>ludovicii</I> Boivin. Some of these plants are intermediate in morphology
between <I>A</I>. <I>pachypoda</I> and <I>A</I>. <I>rubra</I>; they may
be of hybrid origin. The sterility of fruits in many such plants lends
support to this theory (R. S. Mitchell and J. K. Dean 1982).</P>

<P><I>Actaea pachypoda</I> has been called <I>A</I>.
<I>alba</I> (Linnaeus) Miller in some manuals (e.g., H. A. Gleason and
A. Cronquist 1991; S. M. Walters et al. 1984+, vol. 3; Great Plains Flora
Association 1986). Other authors (e.g., M. L. Fernald 1940; C. S. Keener
1977) have argued that the name <I>A</I>. <I>alba</I> is based on an illustration
that is conspecific with the type of the European <I>A</I>. <I>spicata</I>
Linnaeus and does not apply to plants here called <I>A</I>. <I>pachypoda</I>.</P>

<P>Native Americans prepared infusions from <I>Actaea
pachypoda</I> to use medicinally as a gargle or throat aid (D. E. Moerman
1986).</P>

<P><B>SELECTED REFERENCE<BR>
</B>Fernald, M. L. 1940. What is <I>Actaea alba</I>? Rhodora 42: 260-265.<BR>
<BR>
<BR>
<B>