2. <A NAME="27100018"></A><I>Actaea rubra</I> (Aiton) Willdenow</B>,
Enum. Pl. 1: 561. 1809 - Act&eacute;e rouge - E F W2</P>

<P><I>Actaea spicata</I> Linnaeus var. <I>rubra</I>
Aiton, Hort. Kew. 2: 221. 1789; <I>A</I>. <I>arguta</I> Nuttall; <I>A</I>.
<I>eburnea</I> Rydberg; <I>A</I>. <I>rubra</I> subsp. <I>arguta</I> (Nuttall)
Hult&eacute;n; <I>A</I>. <I>neglecta</I> Gillman; <I>A</I>. <I>rubra</I>
var. <I>dissecta</I> Britton; <I>A</I>. <I>viridiflora</I> Greene</P>

<P><B>Leaf blade:</B> leaflets abaxially glabrous
or pubescent. <B>Inflorescences</B> at anthesis often as long as wide,
pyramidal. <B>Flowers:</B> petals acute to obtuse at apex; stigma nearly
sessile, 0.7-1.2 mm diam. during anthesis, much narrower than ovary. <B>Berries</B>
red or white, widely ellipsoid, 5-11 mm; pedicel dull green or brown, slender,
0.3-0.7 mm diam., thinner than axis of raceme. <B>Seeds</B> 2.9-3.6 mm.
2<I>n </I>= 16.</P>

<P>Flowering spring-early summer. Mostly deciduous
forests, also mixed coniferous forests, open pine or spruce woodlands,
swales, stream banks, and swamps; 0-3500 m; Alta., B.C., Man., N.B., Nfld.,
N.W.T., N.S., Ont., P.E.I., Que., Sask., Yukon; Alaska, Ariz., Calif.,
Colo., Conn., Idaho, Ill., Ind., Iowa, Maine, Mass., Mich., Minn., Mont.,
Nebr., Nev., N.H., N.J., N.Mex., N.Y., N.Dak., Ohio, Oreg., Pa., R.I.,
S.Dak., Utah, Vt., Wash., Wis., Wyo.</P>

<P>The &quot;eye&quot; formed by the persistent
stigma in <I>Actaea rubra</I> is smaller than that in <I>A</I>.<I>pachypoda</I>.</P>

<P><I>Actaea rubra</I> is part of a circumboreal
complex and is very similar to the black-fruited European species <I>A</I>.
<I>spicata</I> Linnaeus, with which it is sometimes considered conspecific.
The western North American plants of <I>A</I>. <I>rubra</I> have been called
<I>A</I>. <I>arguta</I> and were distinguished on the basis of their smaller
berries, more pubescent leaves, and narrow, more dissected leaflets. Those
distinctions, however, are weak; specimens from the West often have fruits
and leaves similar to those of plants from the East. A thorough study of
<I>A</I>.<I>spicata</I> in the broad sense, on a worldwide scale, is needed
to resolve the delimitation of taxa within this complex.</P>

<P>Plants with white fruit, sometimes distinguished
as <I>Actaea rubra</I> forma <I>neglecta</I> (Gillman) H. Robinson, are
frequent and are more common than the red-fruited form in many localities.</P>

<P>Native Americans used various preparations
made from the roots of <I>Actaea rubra</I> medicinally to treat coughs
and colds, sores, hemorrhages, stomachaches, syphilis, and emaciations;
preparations from the entire plant as a purgative; and infusions from the
stems to increase milk flow. It was also used in various ceremonies (D.
E. Moerman 1986).<BR>
</P>

