1. <A NAME="24000001"></A><I>Adlumia fungosa</I> (Aiton) Greene ex Britton</B>,
Sterns &amp; Poggenberg, Prelim. Cat., 3. 1888 - Climbing fumitory, Allegheny-vine,
mountain-fringe - E F</P>

<P><I>Fumaria fungosa</I> Aiton, Hort. Kew. 3:
1. 1789</P>

<P><B>Plants</B> 0.5-4&nbsp;m. <B>Leaves</B>
2-13 &times; 1-8&nbsp;cm. <B>Flowers</B>: corolla white to pale pink or
purplish, 10-17 &times; 3-7&nbsp;mm. <B>Capsules</B> compressed-cylindric,
ca. 10&nbsp;mm. <B>Seeds</B> compressed-globose, lustrous. 2<I>n</I>&nbsp;=&nbsp;32.</P>

<P>Flowering summer-early fall. Moist coves,
rocky woods, ledges, alluvial slopes, and thickets; 0-1500&nbsp;m; B.C.,
Man., N.B., N.S., Ont., Que.; Conn., Del., Ill., Ind., Ky., Maine, Md.,
Mass., Mich., Minn., N.H., N.J., N.Y., N.C., Ohio, Pa., R.I., Tenn., Vt.,
Va., W.Va., Wis.</P>

<P><I>Adlumia fungosa</I> is apparently naturalized
in southwestern British Columbia. It was reported to be &quot;freely escaping&quot;
from a garden in Alberta (H.&nbsp;Groh 1949), and it is a casual, but usually
not persisting, escape elsewhere.<BR>
</P>

