

<P><B>2. ADLUMIA Rafinesque
ex de Candolle</B>, Syst. Nat. 2: 111. 1821, name conserved - [For John
Adlum, 1759-1836, a horticulturist born in York, Pa., died in Georgetown,
D.C.]</P>

<P><B>Vines or vinelike caulescent herbs</B>,
biennial, perhaps also annual, from taproots. <B>Stems</B> developing in
2d year, climbing, usually simple. <B>Leaves</B> cauline, compound, petiolate;
blade with 3-5 orders of leaflets and lobes; margins entire; surfaces glabrous;
distal petiolules and reduced leaflets twining and tendril-like. <B>Inflorescences</B>
axillary, cymose-paniculate, multifloral. <B>Flowers</B> bilaterally symmetric
about each of 2 perpendicular planes; sepals caducous, peltate with attachment
near base; corolla persistent, compressed-urceolate, becoming spongy; outer
petals connate except at apex, base saccate, apex with erect or reflexed,
ovate to deltate lobe; inner petals similar but with apical lobes connate
over stigma; filaments basally connate and adnate to petals; ovary linear
or narrowly oblong; style persistent; stigma &plusmn;&nbsp;2-lobed. <B>Capsules</B>
dehiscent, 2-valved. <B>Seeds</B> ca. 6, elaiosome absent.</P>

<P>Species 2 (1 in the flora): e North America,
Asia (Korea).</P>

<P>The Asian members of the genus usually are
considered to be a distinct species, <I>Adlumia asiatica</I> Ohwi.<BR>
<BR>
<BR>
<B>