1. <A NAME="27100866"></A><I>Adonis annua</I> Linnaeus</B>, Sp. Pl.
1: 547. 1753 - Autumn adonis, bird's-eye - F W1</P>

<P><I>Adonis autumnalis</I> Linnaeus</P>

<P><B>Herbs</B>, annual, taprooted. <B>Stem</B>
1, 10-40 cm. <B>Leaves:</B> basal leaves 2-5 cm, similar to cauline, petiolate;
cauline leaves sessile or subsessile. <B>Leaf blade</B> 2-3-pinnatifid.
<B>Flowers</B> 1.5-2.5 cm diam.; sepals appressed to petals, broadly obovate,
&plusmn; erose in distal 1/3, minutely ciliate, otherwise glabrous; petals
6-10, spreading, dark red [orange to red-purple], usually with dark basal
blotch, &plusmn;plane, 8-15 mm, ca. 1.5 times length of calyx, apex slightly
erose; stamens 15-20; anthers purple-black (olive green with age); pistils
20-30. <B>Heads of achenes</B> short-cylindric, 13-20 &times; 6-10 mm;
pedicels conspicuously exserted well beyond leaves. <B>Achenes</B> 3-5
mm, glabrous, adaxial margin nearly straight, abaxial keel gibbous, not
toothed; beak straight, erect, 0.5-1 mm.</P>

<P>Flowering spring-summer (Apr-Jun). Prairies,
fields, river banks, and waste places; 100-200 m; introduced; Ala., Ark.,
La., Mo., Tenn., Tex.; native to Eurasia.</P>

<P><I>Adonis annua</I> also has been reported
for the lower Mississippi Valley (W.C. Muenscher 1980), Ontario and Manitoba
(H. J. Scoggan 1978-1979, part 3), some of the western states, and New
England. I have not found more recent records to confirm abundance of the
species in those regions. Muenscher's report was presumably based on J.
K. Small (1933), who cited the species as abundant along newly built levees
of the Mississippi River. Although the species may escape frequently in
some areas, the populations are often tenuously established and tend not
to persist. Records of <I>A</I>. <I>annua</I> from western states were
based on misidentified <I>A</I>. <I>aestivalis</I>.</P>

<P>Herbarium specimens without mature achenes
may be impossible to distinguish from the closely related <I>Adonis aestivalis</I>,
which differs in achene morphology and, reportedly, a slight difference
in orientation of sepals and petals.</P>

<P>Several infraspecific taxonomies have been
proposed for <I>Adonis annua</I>; none are well supported by observations
in the field (C. C. Heyn and B. Pazy 1989).</P>

<P>Petal color has been variously reported; in
the flora only dark red with a dark basal blotch is confirmed by herbarium
specimens.<BR>
<BR>
<BR>
<B>