2. <A NAME="27100277"></A><I>Adonis aestivalis</I> Linnaeus</B>, Sp.
Pl. ed. 2, 1: 771. 1762 - Summer adonis - F</P>

<P><B>Herbs</B>, annual, taprooted. <B>Stem</B>
1, 20-50(-100) cm. <B>Leaves:</B> basal leaves 3-5 cm, similar to cauline,
petiolate; cauline leaves sessile or subsessile. <B>Leaf blade</B> 2-3-pinnatifid.
<B>Flowers</B> 1.5-3.5 cm diam.; sepals appressed to petals, broadly obovate,
&plusmn;erose in distal 1/3, minutely ciliate, otherwise glabrous; petals
6-8, &plusmn; erect, orange [yellow, scarlet, or bright red-purple], usually
with dark purple basal blotch, &plusmn; plane, 10-17 mm, ca. 1.5 times
length of calyx, apex slightly erose; stamens ca. 30; anthers purple-black
(olive green with age); pistils 30-40. <B>Heads of achenes</B> cylindric,
20-30 &times; 7-10mm; pedicels conspicuously exserted well beyond leaves;
achenes 4-6mm, glabrous, adaxial margin with low, rounded tooth, transverse
flange around middle (most pronounced abaxially), abaxial keel bearing
small obtuse tooth at junction with flange; beak straight, erect, 1.5-2
mm.</P>

<P>Flowering spring-summer (May-Jul). Roadsides,
fields, sagebrush scrub, and open pine or aspen forests in valleys and
foothills; 1200-2400 m; introduced; Calif., Idaho, Mont., Oreg., Utah;
native to Eurasia.</P>

<P>I have not seen specimens from Washington
and Wyoming; <I>Adonis aestivalis</I> is documented from Idaho immediately
across the border from those states.</P>

<P>Except for details of the achenes and the
subtle differences in orientation of sepals and petals, <I>Adonis aestivalis</I>
is much like <I>A</I>. <I>annua</I>. <I>Adonis aestivalis</I> has been
divided into three variable subspecies, although only two [<I>Adonis aestivalis</I>
subsp. <I>aestivalis</I> and subsp. <I>parviflora</I> (de Candolle) N.
Busch] seem to be well delimited morphologically and geographically in
Eurasia (C. C. Heyn and B. Pazy 1989). North American material is not readily
assigned to either subspecies.</P>

<P>Petal color has been variously reported; in
the flora only orange with a dark basal blotch is confirmed.<BR>
<BR>
<BR>
<B>