

<P><B>12. ADONIS Linnaeus</B>,
Sp. Pl. 1: 547. 1753; Gen. Pl. ed. 5, 242. 1754 - Pheasant's-eye, adonis
[Greek mythology: sprouted from blood of Adonis, lover of Aphrodite, based
on the blood red flowers]</P>

<P><B>Herbs</B>, annual, or perennial from stout
rhizomes. <B>Leaves</B> basal and cauline (cauline often absent at flowering
time), proximal leaves petiolate, distal leaves sessile; cauline leaves
alternate. <B>Leaf blade</B> 1-3-pinnately dissected, segments narrowly
linear, margins entire or with occasional tooth. <B>Inflorescences</B>
terminal, flowers solitary; bracts absent. <B>Flowers</B> bisexual, radially
symmetric; sepals not persistent in fruit, 5(-8), nearly colorless or green,
plane, obovate, 6-22 mm, apex &plusmn; erose; petals 3-20, distinct, yellow
to red [white], often striped or basally darkened with black, purple, or
blue, plane, oblanceolate, 8-35 mm; nectary absent; stamens 15-80; filaments
filiform; staminodes absent between stamens and pistils; pistils ca. 20-50,
simple; ovule 1 per pistil; style present. <B>Fruits</B> achenes, aggregate,
sessile, nearly globose, sides veined or rugose; beak terminal, straight
or strongly curved, 0.5-1 mm. <I>x</I>=8.</P>

<P>Species ca. 35 (3 in the flora): North America,
Eurasia, nAfrica.</P>

<P>Several species of <I>Adonis</I> are frequently
cultivated in North America for their showy flowers. In eastern North America
the species sometimes escape from cultivation; although they may become
briefly naturalized, most populations evidently do not persist. In the
western United States <I>A</I>.<I>aestivalis</I> apparently was introduced
as a contaminant in agricultural seed and might have escaped from cultivation.
It has become naturalized, and populations tend to persist.</P>

<P>Reliance on herbarium specimens, rather than
population studies, of annual <I>Adonis</I> in North America has resulted
in confused species concepts. Flower color is variable within the species
and changes with drying, and diagnostic features of the fruit are reliable
only when achenes are fully mature (C. C. Heyn and B. Pazy 1989).</P>

<P>While most Ranunculaceae attract pollinators
to often highly specialized floral nectaries, <I>Adonis</I> lacks nectaries,
instead offering pollen as a reward. The fruits are harvested by ants.</P>

<P>Leaves and roots are said to be poisonous
to humans and livestock.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Heyn, C. C. and B. Pazy. 1989. The annual species of <I>Adonis</I>
(Ranunculaceae)--A polyploid complex. Pl. Syst. Evol. 168: 181-193. Walters,
S. M. et al., eds. 1984+. The European Garden Flora. 3+ vols. Cambridge
etc. Vol. 3.<BR>
<BR>
<BR>
<B>