3. <A NAME="27100867"></A><I>Adonis vernalis</I> Linnaeus</B>, Sp. Pl.
1: 547. 1753 - Spring adonis, ox-eye - W1</P>

<P><B>Herbs</B>, perennial, stout-rhizomatous.
<B>Stems</B> 1-4, 5-35 cm at anthesis (10-40 cm at fruiting time). <B>Leaves:</B>
basal leaves scalelike, 1cm, sessile; proximal cauline leaves with sheathlike
petiole base, distal leaves short-petiolate to sessile; leaf blade 1-2-pinnatisect.
<B>Flowers</B> 4-8 cm diam.; sepals appressed to petals, ovate-elliptic
to obovate, margins and abaxial surface villous, apex slightly crenulate
to &plusmn;erose; petals 10-20, spreading, yellow, without basal blotch,
plane, 25-35 mm, 1.5 times length of calyx, apex erose or irregularly crenulate;
stamens ca. 80; anthers yellow; pistils 40-50. <B>Heads of achenes</B>
globose to ovoid, 15-20 &times; 12-15 mm; pedicels hidden among dense leaves;
achenes pubescent, 3.5-5.5 mm, transverse flange absent, basal tooth absent,
adaxial margin very short (1 mm), straight, abaxial margin strongly gibbous;
beak strongly recurved against abaxial surface, 0.5-1 mm.</P>

<P>Flowering spring (Apr-May). Roadsides and
sites adjacent to gardens; introduced; N.Y.; native to Eurasia.</P>

<P><I>Adonis vernalis</I> occasionally escapes
from cultivation as an ornamental. It is much less frequently encountered
in the flora than the other two species of <I>Adonis</I>.</P>

