

<P><B>1. AKEBIA Decaisne</B>,
Arch. Mus. Hist. Nat. 1: 195. 1839 - [Japanese <I>akebi</I>, name for <I>Akebia
quinata</I>]</P>

<P><B>Vines</B>, twining. <B>Leaves</B> palmately
compound; leaflets 3-5, articulate at base of blade and at base of petiolule.
<B>Inflorescences</B> racemose, pistillate flowers proximal to staminate
flowers in each raceme. <B>Flowers</B> dimorphic: pistillate flowers larger
and longer pediceled than staminate flowers; sepals mostly brownish to
purplish. <B>Staminate flowers:</B> pistillodes present. <B>Pistillate
flowers:</B> pistils (3-)-8(-15); placentation laminar; staminodes present.
<B>Fruits</B> follicles, fleshy, dehiscent along adaxial suture. <B>Seeds</B>
100-several hundred. <I>x </I>= 16.</P>

<P>Species 4 (1 in the flora): North America,
Asia.</P>

<P>Pistils in <I>Akebia</I> are incompletely
closed distally (W. W. Payne and J. L. Seago 1968).</P>

<P><B>SELECTED REFERENCES<BR>
</B>Anderson, E. 1934. The genus <I>Akebia</I>. Bull. Popular Inform. Arnold
Arbor., ser. 4, 2: 17-20. Payne, W. W. and J. L. Seago. 1968. The open
conduplicate carpel of <I>Akebia quinata</I> (Berberidales: Lardizabalaceae).
Amer. J. Bot. 55: 575-581. Sargent, C. S. 1891. The fruit of <I>Akebia
quinata</I>. Gard. &amp; Forest 4: 136-137.<BR>
<BR>
<BR>
<B>