1. <A NAME="17700001"></A><I>Akebia quinata</I> (Houttuyn) Decaisne</B>,
Arch. Mus. Hist. Nat.&shy;1: 195, fig. 1(a-c). 1839 - Chocolate-vine, five-leaf
- F</P>

<P><I>Rajania quinata</I> Houttuyn, Nat. Hist.
11: 366, plate 75, fig. 1. 1779</P>

<P><B>Plants</B>, deciduous to semi-evergreen,
climbing to 12 m, glabrous. <B>Leaves:</B> petiole 1.6-12.5 cm; leaflets
mostly 5, petiolules 0.2-2.2 cm, blades oblong to ovate-elliptic, 0.7-8.2
&times; 0.4-4.2 cm, base rounded, margins entire, apex retuse. <B>Inflorescences</B>
pendent, 4.5-12 cm; pedicel with basal bracts. <B>Flowers</B> fragrant.
<B>Staminate flowers</B> 4-15 per inflorescence, 1.2-1.6 cm diam.; sepals
oblong to ovate or elliptic, 5-9 mm; stamens 4-5 mm. <B>Pistillate flowers</B>
(0-)1-5 per inflorescence, 2-3 cm diam.; sepals elliptic to ovate or nearly
orbiculate, 10 16&shy;mm; pistils 3-7, 1 or more maturing. <B>Follicles</B>
glaucous, violet to dark purple, oblong, 5-15 cm. <B>Seeds</B> black, ovoid,
embedded in whitish pulp.</P>

<P>Flowering spring, fruiting fall (Sep-Oct).
Waste places, open woodlands; 0-400 m; introduced; Conn., Ga., Ind., Ky.,
Md., Mass., Mich., N.J., N.Y., N.C., Ohio, Pa., Va., W.Va.; native, Asia.</P>

<P>No specimens are known from Rhode Island.</P>

<P>A fast-growing, invasive vine whose aggressiveness
may at times approach that of <I>Lonicera japonica</I>, <I>Akebia quinata</I>
is occasionally planted as an ornamental; it is of more botanical than
horticultural interest. A greenish to whitish flowered variant, known from
Asia, is cultivated in North America. The edible, though allegedly insipid,
fruits are apparently uncommon in cultivation; cross pollination appears
to be necessary for their development (C. S. Sargent 1891).<BR>
</P>

