13. <A NAME="27100031"></A><I>Anemone multiceps</I> (Greene) Standley</B>,
Publ. Field Mus. Nat. Hist., Rep. Ser. 8(5): 310. 1931 - Purple anemone
- E</P>

<P><I>Pulsatilla multiceps</I> Greene, Erythea
1: 4. 1893</P>

<P><B>Aerial shoots</B> (3-)5-15 cm, from caudices,
caudices ascending to primarily vertical. <B>Basal leaves</B> 5-20(-30+),
2-ternate, occasionally irregularly so; petiole 2-5(-10) cm; terminal leaflet
sessile or basally attenuate and appearing petiolulate, obovate to obtriangular,
0.5-2(-3) &times; 0.5-2 cm, bases narrowly cuneate to cuneate, margins
incised to dissected on distal 1/3-1/2, apex broadly acute to obtuse, surfaces
sparsely villous, often nearly glabrous; lateral leaflets 2&times;-lobed,
lobing frequently irregular; ultimate lobes 1-2.6 mm wide. <B>Inflorescences</B>
1-flowered; peduncle villous; involucral bracts 3(-4), 1-tiered, &plusmn;similar
to basal leaves, highly reduced, 2-ternate or irregularly so, bases distinct;
terminal leaflet sessile or basally attenuate and appearing petiolulate,
obovate to pinnatifid, 1-2(-2.5) &times; 0.5-2 cm, base narrowly cuneate
to cuneate, margins incised to dissected on distal 1/3-1/2, apex broadly
acute to obtuse, surfaces villous; lateral leaflets 2&times;-parted, division
frequently irregular; ultimate segments 1-2.5 mm wide. <B>Flowers:</B>
sepals 5-6, blue to purple, oblong or narrowly obovate, 8-20 &times; 6-10
mm, abaxially villous; stamens 80-100, purple; styles red. <B>Heads of
achenes</B> spheric, rarely cylindric; pedicel 2-6(-18) cm. <B>Achenes:</B>
body ovoid, 2-4 &times; 1-1.5 mm, not winged, villous; beak straight, 2-4(-6)
mm, glabrous. 2<I>n</I>=16.</P>

<P>Flowering spring-summer (May-Jul). Tundra,
slopes, ridges, limestone outcrops, and screes; 100-2100 m; Yukon; Alaska.</P>

<P><I>Anemone multiceps</I> has uniformly purple
sepals, purple stamens, and red styles, whereas <I>A</I>. <I>drummondii</I>
(morphologically most similar to <I>A</I>. <I>multiceps</I>) has white
or adaxially white and abaxially bluish sepals, whitish stamens, and white
styles. Future biosystematic analysis of these entities is needed to determine
whether <I>A</I>. <I>multiceps</I> is indeed distinct from <I>A</I>. <I>drummondii</I>.<BR>
<BR>
<BR>
<B>