14d. <A NAME="27103220"></A><I>Anemone multifida</I> Poiret var. <I>stylosa</I>
(A. Nelson) B. E. Dutton &amp; Keener</B>, Phytologia 77: 84. 1994<B> </B>-
C E</P>

<P><I>Anemone stylosa</I> A. Nelson, Bot. Gaz.
42: 52. 1906</P>

<P><B>Aerial shoots</B> 10-15 cm. <B>Basal leaves</B>
abaxially sparsely long-pilose, adaxially glabrous or nearly glabrous.
<B>Inflorescences:</B> flowers solitary; peduncle sparsely long-pilose;
involucral bracts 1-tiered, abaxially sparsely long-pilose, adaxially glabrous
or nearly glabrous. <B>Flowers:</B> sepals 6(-8), purple to red or green
to red, ovate to oblong, 8-10 mm. <B>Achenes:</B> beak strongly hooked
distally. 2<I>n</I>=32.</P>

<P>Flowering summer (Jul-Aug). Rocky slopes;
of conservation concern; 2700-3700 m; Ariz., Utah.<BR>
<BR>
<BR>
<B>