12b. <A NAME="27100652"></A><I>Anemone drummondii</I> S. Watson var.
<I>lithophila</I> (Rydberg) C. L. Hitchcock</B>, Vasc. Pl.<B> </B>Pacif.
N.W. 2: 325. 1964<B> </B>- E</P>

<P><I>Anemone lithophila</I> Rydberg, Bull. Torrey
Bot. Club 29: 152. 1902; <I>A</I>. <I>globosa</I> var. <I>lithophila</I>
(Rydberg) M.Peck</P>

<P><B>Aerial shoots</B> (7-)10-25 cm. <B>Basal
leaves</B> 5-12(-15); petiole 5-9 cm; leaflets nearly glabrous or pilose;
ultimate segments of lateral leaflets 1.5-2.6 mm wide. <B>Inflorescences:</B>
peduncle pilose; involucral bracts nearly glabrous or pilose; ultimate
segments of lateral leaflets 1.5-2.6 mm wide. <B>Flowers:</B> sepals white,
tinged blue, rarely abaxially white and blue, adaxially white, abaxially
hairy; filaments yellow. <B>Heads of achenes</B> spheric. 2<I>n</I>=48.</P>

<P>Flowering summer (Jun-Aug). Slopes, ridges;
2100-3300m; Alta., B.C., N.W.T., Yukon; Alaska, Idaho, Mont., Wyo.<BR>
<BR>
<BR>
<B>