1. <A NAME="27101414"></A><I>Anemone occidentalis</I> S. Watson</B>,
Proc. Amer. Acad. Arts 11: 121. 1876 - Western pasqueflower, mountain pasqueflower,
pulsatille - E</P>

<P><I>Anemone occidentalis</I> var. <I>subpilosa</I>
Hardin; <I>Pulsatilla occidentalis</I> (S. Watson) Freyn</P>

<P><B>Aerial shoots</B> 10-60(-75) cm, from caudices,
caudices ascending to vertical. <B>Basal leaves</B> (2-)3-6(-8), primarily
3-foliolate with each leaflet pinnatifid to dissected; petiole 6-8(-12)
cm; terminal leaflet petiolulate, ovate in outline, (2.5-)3-6(-8) cm, base
cuneate, margins pinnatifid to dissected throughout, apex narrowly acute,
surfaces villous; lateral leaflets 2&times;-parted, pinnatifid; ultimate
segments 2-3 mm wide. <B>Inflorescences</B> 1-flowered; peduncle woolly
or densely villous, glabrate; involucral bracts 3, occasionally more, 1-tiered,
&plusmn;similar to basal leaves, 3-foliolate, ovate in outline, bases distinct;
terminal leaflet petiolulate, 2.5-7 cm (2.5 cm in flower, 7 cm or less
in fruit), margins pinnatifid throughout, apex narrowly acute, surfaces
villous; lateral leaflets 2&times;-parted, pinnatifid; ultimate segments
2-3 mm wide. <B>Flowers:</B> sepals 5-7, white, tinged purple (rarely abaxially
blue proximally, white distally, and adaxially white), ovate to obovate,
rarely elliptic, 15-30 &times; 10-17(-19) mm, abaxially hairy, adaxially
glabrous; stamens 150-200. <B>Heads of achenes</B> spheric, rarely cylindric;
pedicel 15-20(-22) cm. <B>Achenes:</B> body ellipsoid, 3-4 &times; ca.
1.5 mm, not winged, villous; beak curved or recurved, reflexed with age,
(18-)20-40(-50) mm, long-villous, plumose. 2<I>n</I>=16.</P>

<P>Flowering spring-summer (May-Aug/Sep). Gravelly,
rocky slopes, moist meadows; 500-3700 m; Alta., B.C.; Calif., Idaho, Mont.,
Oreg., Wash.</P>

<P>W. J. Hooker (1829) included <I>Anemone occidentalis</I>
in his concept of <I>Anemone alpina</I> Linnaeus.</P>

<P>The Thompson Indians and the Okanagan used
decoctions prepared from the roots of <I>Anemone occidentalis</I> to treat
stomach and bowel troubles (D. E. Moerman 1986).<BR>
<BR>
<BR>
<B>