19a. <A NAME="27101858"></A><I>Anemone oregana</I> A. Gray var. <I>oregana</I>
</B>- E F</P>

<P><I>Anemone adamsiana</I> Eastwood; <I>A</I>.
<I>quinquefolia</I> Linnaeus var. <I>oregana</I> (A. Gray) B.L. Robinson</P>

<P><B>Aerial shoots</B> 8-30(-35) cm. <B>Basal
leaves:</B> lateral leaflets 1&times;-lobed; ultimate lobes 0.4-2 mm wide.
<B>Inflorescences:</B> involucral bracts with terminal leaflet 2-8 &times;
1-3(-3.5) cm, base cuneate, margins crenate to deeply serrate, apex acuminate
to acute; lateral leaflets unlobed or 1&times;-lobed; ultimate lobes 0.5-2
mm wide. <B>Flowers:</B> sepals blue to purple, reddish, or purple to pink,
rarely nearly white; stamens 30-60, occasionally more. <B>Achenes:</B>
body puberulous to pilose, rarely glabrous. 2<I>n</I>=16.</P>

<P>Flowering spring (Mar-Jun). Shaded, moist
woods, open hillsides; 100-1800 m; Calif., Oreg., Wash.<BR>
<BR>
<BR>
<B>