24. <A NAME="27103248"></A><I>Anemone acutiloba</I> (de Candolle) G.Lawson</B>,
Proc. &amp; Trans. Roy. Soc. Canada 2(4): 30. 1884 - Sharp-lobed hepatica,
an&eacute;mone &agrave; lobes aigus, h&eacute;patique &agrave; lobes aigus
- E F</P>

<P><I>Hepatica acutiloba</I> de Candolle, Prodr.
1: 22. 1824; <I>H</I>. <I>acuta</I> (Pursh) Britton; <I>H</I>. <I>nobilis</I>
Miller var. <I>acuta</I> (Pursh) Steyermark; <I>H</I>. <I>triloba</I> Chaix
var. <I>acuta</I> Pursh; <I>H</I>. <I>triloba</I> var. <I>acutiloba</I>
(de Candolle) Warner</P>

<P><B>Aerial shoots</B> 5-19 cm, from rhizomes,
rhizomes ascending to horizontal. <B>Basal leaves</B> 3-15, often purplish
abaxially, simple, deeply divided; petiole 3-19 cm; leaf blade widely orbiculate,
1.3-8 &times; 1.8- -11.5 cm, base cordate, margins entire, apex acute or
acuminate, surfaces strongly villous to glabrescent; lobes 3(-5), deltate,
0.7-4 cm wide; middle lobe 70-90% of total blade length. <B>Inflorescences</B>
1-flowered, villous to pilose; involucral bracts 3, 1-tiered, simple, dissimilar
to basal leaves, lanceolate to ovate, 0.53-1.8 &times; 0.27-0.95 cm, sessile,
calyx-like, closely subtending flowers, bases distinct, cuneate, margins
entire, apex acute, strongly villous to glabrescent. <B>Flowers:</B> sepals
5-12, white to pink or bluish, ovate to obovate, 6-14.6 &times; 2.2-5.8
mm, glabrous; petals absent; stamens 10-30. <B>Heads of achenes</B> spheric;
pedicel 0.1-0.4 cm. <B>Achenes:</B> body narrowly ovoid, 3.5-4.7 &times;
1.3-1.9 mm, slightly winged, hispid, gradually tapering; beak indistinct.
2<I>n</I>=14.</P>

<P>Flowering spring. Deciduous woods, often in
calcareous soils; 0-1200 m; Ont., Que.; Ala., Ark., Conn., Ga., Ill., Ind.,
Iowa, Ky., Maine, Md., Mass., Mich., Minn., Mo., N.H., N.Y., N.C., Ohio,
Pa., S.C., Tenn., Vt., Va., W.Va., Wis.</P>

<P>In North America, <I>Anemone acutiloba</I>
and <I>A</I>. <I>americana</I> are sufficiently well differentiated to
enable the distinction of the two species. Some intermediates do occur
but it is uncertain as to whether these are true intermediates or hybrids.
The fact that the two species are highly sympatric and still maintain their
differences implies that they should still be recognized as distinctive
species (see G.L. Stebbins 1993).</P>

<P>The two North American species formerly placed
in <I>Hepatica</I> are closely allied to the Eurasian <I>Anemone hepatica</I>
Linnaeus [=<I>Hepatica nobilis</I> Miller, <I>Hepatica hepatica</I> (Linnaeus)
Karst]. Among European collections, plants approach either <I>A</I>. <I>acutiloba</I>
or <I>A</I>. <I>americana</I> in leaf morphology, but some intermediates
are found (J. A. Steyermark and C. S. Steyermark 1960). North American
plants differ from <I>A</I>. <I>hepatica</I> in having narrower sepals,
larger involucral bracts, and shorter and less pubescent scapes. Further
research, including a comparative study of breeding systems, is needed
to clarify the relationship between <I>Anemone hepatica</I>, <I>A</I>.
<I>acutiloba</I>, and <I>A</I>. <I>americana</I>. Pending such work, the
eastern North American hepaticas are here recognized as distinct species.</P>

<P>D. E. Moerman (1986) lists <I>Hepatica acutiloba</I>
as one of the plants used medicinally by Native Americans in the treatment
of abdominal pains, poor digestion, and constipation, as a wash for &quot;twisted
mouth or crossed eyes,&quot; and as a gynecological aid.<BR>
<BR>
<BR>
<B>