5. <A NAME="40014392"></A>ANEMONE Linnaeus</B>,
Sp. Pl. 1: 538. 1753; Gen. Pl. ed. 5, 241. 1754 - Windflower, an&eacute;mone
[etymology not clear: probably Greek <I>anemos</I>, wind; possibly from
<I>Naaman</I>, Semitic name for Adonis, whose blood, according to myth,
produced <I>Anemone coronaria</I>]</P>

<P><I>Anemonastrum</I> Holub; <I>Anemonidium</I>
(Spach) Holub; <I>Anemonoides</I> Miller; <I>Hepatica</I> Miller; <I>Jurtsevia</I>
A. L&ouml;ve &amp; D. L&ouml;ve; <I>Pulsatilla</I> Miller</P>

<P><B>Herbs</B>, perennial, from rhizomes, caudices,
or tubers. <B>Leaves</B> basal, simple or compound, petiolate. <B>Leaf
blade</B> lobed or parted or undivided, reniform to obtriangular or lanceolate,
margins entire or variously toothed. <B>Inflorescences</B> terminal, 2-9-flowered
cymes or umbels, or flowers solitary, to 60 cm; involucres present, often
with primary involucres subtending inflorescences, and secondary and tertiary
involucres subtending inflorescence branches or single flowers (primary,
secondary, and tertiary involucres appearing to be in tiers), involucral
bracts 2-7(-9), leaflike or sepaloid, distant from or close to flowers.
<B>Flowers</B> bisexual, radially symmetric; sepals not persistent in fruit,
4-20(-27), white, purple, blue, green, yellow, pink, or red, plane, linear
to oblong or ovate to obovate, 3.5-40 mm; petals usually absent (present
in <I>A</I>. <I>patens</I>), distinct, plane, obovate to elliptic, 1.5-2
mm; nectary present; stamens 10-200; filaments filiform or somewhat broadened
at base; staminodes absent between stamens and pistils; pistils many, simple;
ovule 1 per pistil; style present. <B>Fruits</B> achenes, aggregate, sessile
or stalked, ovoid to obovoid, sides not veined; beak (persistent style)
present, sometimes rudimentary, terminal, straight or curved, to 40(-50)
mm, sometimes plumose. <I>x</I>=7 or 8.</P>

<P>Species ca. 150 (25 in the flora): nearly
worldwide, primarily in cooler temperate and arctic regions.</P>

<P>The taxonomy of <I>Anemone</I> continues to
be problematic. <I>Anemone occidentalis</I> and <I>A</I>. <I>patens</I>
var. <I>multifida</I> (the first two taxa in this treatment) are frequently
placed in the genus <I>Pulsatilla</I> Miller on the basis of the long plumose
achene beaks, and <I>A</I>. <I>acutiloba</I> and <I>A</I>. <I>americana</I>
(the last two taxa in this treatment) in the genus <I>Hepatica</I> Miller,
primarily on the basis of the involucre immediately subtending the flower
and the lobed, persistent leaves. Recent phylogenetic analyses of <I>Anemone</I>
in the broad sense, however, indicate that both <I>Pulsatilla</I> and <I>Hepatica</I>
should be subsumed within <I>Anemone</I>. While traditional morphologic
characters are useful in distinguishing between <I>Pulsatilla</I> and <I>Hepatica</I>
species, respectively, many other morphologic and molecular attributes
are shared with <I>Anemone</I>, strongly suggesting that these genera should
be united (S. B. Hoot et al. 1994). In addition, a number of genera that
have been recognized primarily on a cytotaxonomic basis (e.g., <I>Anemonastrum</I>,
<I>Anemonidium</I>, <I>Anemonoides</I>, and <I>Jurtsevia</I>) are reduced
to synonymy here. Some North American species of <I>Anemone</I> are closely
related to plants in Europe, Asia, and South America and continue to be
recognized at different ranks. For example, <I>Anemone patens</I> Linnaeus
var. <I>multifida</I> (a species included in this treatment) was called
<I>Pulsatilla multifida</I> (Pritzel) Juzepczuk for the former Soviet Union
by S. V. Juzepczuk (1970) and <I>Pulsatilla patens</I> (Linnaeus) Miller
var. <I>multifida</I> (Pritzel) Li S.H. &amp; Huang Y. H. for China by
Wang W.-T. (1980). Moreover, interspecific hybridization among some sympatric
or nearly sympatric North American species also contributes to the confusion
(see N. L. Britton 1891; C. L. Hitchcock et al. 1955-1969, vol. 2; R. S.
Mitchell and J. K. Dean 1982). Additional analyses (e.g., G. Boraiah and
M. Heimburger 1964; M. Heimburger 1959; C. Joseph and M. Heimburger 1966;
and C. S. Keener et al. 1995) may prove to be helpful in resolving the
taxonomy within this morphologically diverse genus.</P>

<P><I>Anemone nemorosa</I> Linnaeus, <I>A</I>.
<I>ranunculoides</I> Linnaeus, and <I>A</I>. <I>blanda</I> Schott &amp;
Kotschy, all native to Europe, are cultivated and may persist in the flora.
Although apparently they rarely become naturalized, <I>A</I>. <I>nemorosa</I>
is established at two sites in Newfoundland and Quebec, and <I>A</I>. <I>ranunculoides</I>
in Quebec. Both are close relatives of <I>A</I>. <I>quinquefolia</I> and
its allies.</P>

<P><I>Anemone ranunculoides</I> is the only species
in North America combining yellow sepals with rhizomes and 1-2-ternate
leaves. <I>Anemone blanda</I> will key to <I>A</I>. <I>caroliniana</I>
or <I>A</I>. <I>berlandieri</I> in this treatment. It can be distinguished
by its short-pilose achenes, in contrast to the densely woolly achenes
of <I>A</I>. <I>caroliniana</I> and <I>A</I>. <I>berlandieri</I>. <I>Anemone
nemorosa</I> will key to <I>A</I>. <I>quinquefolia</I>; it differs in having
6-8 sepals and brown or black (never white) rhizomes with a 3-5 mm diameter
in contrast to the 5 sepals and white or black rhizomes with 1-3 mmdiameter
of <I>A</I>. <I>quinquefolia</I>.</P>

<P>Protoanemonin, an irritating acrid oil, is
an enzymatic breakdown product of the glycoside ranunculin and is found
in many species of <I>Anemone</I>. While protoanemonin can cause severe
topical and gastrointestinal irritation, it is unstable and changes into
harmless anemonin when plants are dried (N. J. Turner and A. F. Szczawinski
1991).</P>

<P>A caudex, as the term is used here, is the
&quot;woody,&quot; perennating base of an aerial shoot (inflorescences
and basal leaves). The word tuber refers to a swollen, more or less vertical
underground stem. The aerial shoots arise from the apex of either of those
persistent structures. Rhizome, as the term is used here, refers to an
underground, usually horizontal stem (more or less vertical in <I>Anemone
piperi</I>), that is nearly uniform in diameter (about 1-4 mm diam., depending
on the species) along its length. Aerial shoots arise directly from nodes
at or near the apex of the rhizome.</P>

<P>Many species of <I>Anemone</I> have only one
type of underground stem. Some species, however, have both rhizomes and
caudices. In such cases the aerial shoots arise from the apex of a caudex
attached to the rhizome. Some other species sometimes have both tubers
and rhizomes. In those, one or more horizontal rhizomes arise near the
apex of the tuber; the aerial shoots arise from the apex of the tuber.</P>

<P>Proportions given in the key for the middle
lobes of basal leaves are calculated as follows: measure length of lobe
from apex to a line connecting bases of sinuses; and measure total length
of blade from leaf apex to summit of petiole.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Fernald, M. L. 1928b. The North American species of <I>Anemone</I>
&sect; <I>Anemonanthea</I>. Rhodora 30: 180-188. Frodin, D.G. 1964. A Preliminary
Revision of the Section <I>Anemonanthea</I> of <I>Anemone</I> in Eastern
North America, with Special Reference to the Southern Appalachian Mountains.
M.S. thesis. University of Tennessee. Hoot, S. B., A. A. Reznicek, and
J. D. Palmer. 1994. Phylogenetic relationships in <I>Anemone</I> (Ranunculaceae)
based on morphology and chloroplast DNA. Syst. Bot. 19: 169-200. Wang,W.-T.
1980. <I>Anemone</I> In: W.-T. Wang, ed. 1980. Flora Republicae Popularis
Sinicae. Vol. 28, pp. 1-56.<BR>
<BR>
<BR>
<B>