5a. <A NAME="27101459"></A><I>Anemone narcissiflora</I> Linnaeus var.
<I>monantha</I> de Candolle</B>, Syst. Nat. 1: 213. 1817</P>

<P><I>Anemone narcissiflora</I> subsp. <I>alaskana</I>
Hult&eacute;n; <I>A</I>. <I>narcissiflora</I> subsp. <I>interior</I> Hult&eacute;n;
<I>A</I>. <I>narcissiflora</I> subsp. <I>sibirica</I> (Linnaeus) Hult&eacute;n;
<I>A</I>. <I>narcissiflora</I> var. <I>uniflora</I> Eastwood</P>

<P><B>Aerial shoots</B> 10-50 cm. <B>Basal leaves</B>
3-5; petiole (2-)4-7 cm; leaflets puberulous to moderately villous and
glabrate; lateral leaflets 1-2&times;-lobed; ultimate lobes 3-6 mm wide.
<B>Inflorescences</B> 2-3(-5)-flowered umbels or flowers solitary; peduncle
puberulous to villous to nearly glabrous; involucral bracts (2-)3, obtriangular,
3-cleft, (1-)1.5-2.5 cm, surfaces puberulous to moderately villous and
glabrate; lateral segments unlobed. <B>Flowers:</B> sepals 5-8, white,
or abaxially white or blue and adaxially white; stamens 40-60. <B>Pedicels</B>
(4.5-)7-14(-18.5) cm in fruit. <B>Achenes:</B> body 6-9 mm.</P>

<P>Flowering spring-summer (May-Jul). Moist slopes,
grassy areas, thickets; 0-1700 m; B.C., N.W.T., Yukon; Alaska; Asia.<BR>
<BR>
<BR>
<B>