7. <A NAME="27100653"></A><I>Anemone edwardsiana</I> Tharp</B>, Amer.
Midl. Naturalist 33: 669. 1945 - E</P>

<P><B>Aerial shoots</B> (20-)30-50 cm, from tubers,
tubers &plusmn;vertical. <B>Basal leaves</B> 3-6, 1-(nearly 2)-ternate;
petiole 8-15 cm; terminal leaflet petiolulate, oblanceolate to obovate,
2-5 &times; 2-2.5 cm, base broadly cuneate, margins coarsely crenate on
distal 1/2, apex obtuse to broadly acute, surfaces glabrous; lateral leaflets
1&times;-lobed; ultimate lobes 4-8(-12) mm wide. <B>Inflorescences</B>
(1-)2-5-flowered cymes; peduncle proximally nearly glabrous, distally densely
pubescent; involucral bracts primarily 3, 2-tiered, simple, dissimilar
to basal leaves, 3-cleft to pinnatifid, 2-5 cm, bases clasping, &plusmn;connate,
margins coarsely crenate throughout, apex narrowly acute to acuminate,
surfaces glabrous; segments primarily 3, linear; lateral segments unlobed
or occasionally 1&times;-lobed; ultimate lobes 3-5 mm wide. <B>Flowers:</B>
sepals (8-)10-20, white to bluish, oblanceolate, 10-16 &times; 2-3 mm,
sparsely hairy to nearly glabrous; stamens 50-60. <B>Heads of achenes</B>
obconic to fusiform; pedicel 10-20 cm. <B>Achenes:</B> body orbiculate,
flat, not winged, &plusmn;dull or varnished, woolly with long tuft of hairs
at base, or glabrous; beak straight, rarely curved, 0.5-1 mm, glabrous
or sparsely villous proximally, not plumose. 2<I>n</I>=16.</P>

<P><I>Anemone edwardsiana</I> is found only in
Texas on the Edwards Plateau.</P>

<P>Varieties 2 (2 in the flora): North America.<BR>
<BR>
<BR>
<B>