4. <A NAME="27100038"></A><I>Anemone richardsonii</I> Hooker</B>, Fl.
Bor.-Amer. 1: 6. 1829 - Yellow anemone, an&eacute;mone de Richardson -
F</P>

<P><I>Anemone vahlii</I> Hornemann</P>

<P><B>Aerial shoots</B> 5-30 cm, from rhizomes,
rhizomes horizontal. <B>Basal leaves</B> 1, simple; petiole (0.8-)2-8(-12)
cm; leaf blade reniform to &plusmn;orbiculate, (1-)1.5-3(-4) &times; 1.5-4
cm, base somewhat cordate, margins crenate to serrate &plusmn;throughout,
apex acute to broadly acute, surfaces glabrous or &plusmn;villous, or abaxially
glabrescent; segments primarily 3, rhombic; lateral segments unlobed or
1&times;-lobed; ultimate lobes 4-10(-15) mm wide. <B>Inflorescences</B>
1-flowered; peduncle puberulous; involucral bracts 2-3, 1-tiered, simple,
&plusmn;similar to basal leaves, primarily rhombic, 1-3.5 cm, bases distinct,
cuneate, margins crenate on distal 1/2, apex acute to narrowly acute, surfaces
glabrous or &plusmn;villous, or abaxially glabrescent; segments 3, primarily
rhombic; lateral segments unlobed, 2-10 mm wide. <B>Flowers:</B> sepals
(4-)6(-8), yellow (rarely abaxially yellow, tinged blue, and adaxially
yellow), elliptic, 8-15 &times; 4-10 mm, abaxially villous, especially
proximally, adaxially glabrous; stamens 25-55. <B>Heads of achenes</B>
loosely spheric; pedicel 3-20 cm. <B>Achenes:</B> body ovoid to oblong,
3-4 &times; ca. 1.5 mm, not winged, glabrous; beak recurved, 4-6 mm, glabrous.
2<I>n</I>=14.</P>

<P>Flowering spring-summer (May-Aug). Thickets,
moist woods, meadows, slopes; 20-2200 m; Greenland; Alta., B.C., Man.,
Nfld., N.W.T., Que., Sask., Yukon; Alaska; Asia.<BR>
<BR>
<BR>
<B>