10. <A NAME="27100649"></A><I>Anemone caroliniana</I> Walter</B>, Fl.
Carol., 157. 1788 - Carolina anemone - E</P>

<P><B>Aerial shoots</B> 5-35(-60) cm, from tubers
with rhizomes near apex, tubers ascending or vertical, rhizomes horizontal
or ascending. <B>Basal leaves</B> 1-3(-5), 1-2-ternate; petiole 3-9(-10)
cm; terminal leaflet petiolulate, rarely sessile, obtriangular, 2-3-cleft,
1-3 &times; 0.8-2(-2.5) cm, base narrowly attenuate to strongly and narrowly
cuneate, margins serrate, rarely dissected on distal 2/3, apex obtuse to
broadly acute, surfaces glabrous; lateral leaflets &plusmn;pinnately 1-2(-3)&times;-lobed
or -parted; ultimate lobes 2-10 mm wide. <B>Inflorescences</B> 1-flowered;
peduncle proximally glabrous, distally villous; involucral bracts 3, borne
below middle of scape at anthesis, 1-tiered, simple, &plusmn;similar to
basal leaves, obtriangular, 3-cleft, 1-2.5 cm, bases somewhat clasping,
connate, margins incised on distal 1/2, apex acuminate, surfaces sparsely
pilose; segments 3, broadly linear; lateral segments 1-2&times;-lobed or
-parted; ultimate lobes 1-2.5 mm wide. <B>Flowers:</B> sepals 10-20(-30),
white to rose or blue to purple, linear to oblong, (6-)10-20(-22) &times;
2-5(-7) mm, abaxially sparsely hairy, adaxially glabrous or nearly so;
stamens 50-60. <B>Heads of achenes</B> fusiform; pedicel (5-)10-20 cm.
<B>Achenes:</B> body ovoid, 1.5-2.5(-3) &times; ca. 2 mm, not winged, densely
woolly; beak straight, 1.3-2 mm, projecting beyond achene indument, proximally
tomentose, not plumose. 2<I>n</I>=16.</P>

<P>Flowering winter-spring (Feb-Apr). Dry prairies,
barrens, pastures, meadows, rocky, open woods; 60-700m; Ala., Ark., Ga.,
Ill., Iowa, Kans., La., Minn., Miss., Mo., Nebr., Okla., S.C., S.Dak.,
Tenn., Tex., Wis.</P>

<P><I>Anemone caroliniana</I> was recorded from
Indiana (Vigo County); it has since been extirpated.<BR>
<BR>
<BR>
<B>