22. <A NAME="27100048"></A><I>Anemone virginiana</I> Linnaeus</B>, Sp.
Pl. 1: 540. 1753 - Thimbleweed, tall anemone, an&eacute;mone de Virginie</P>

<P><B>Aerial shoots</B> 30-100(-110) cm, from
caudices, rarely with ascending rhizomes, caudices ascending to vertical.
<B>Basal leaves</B> 1-5, ternate; petiole 5-35 cm; terminal leaflet sessile
or nearly so, oblanceolate to obovate, 2-9(-12) &times; 2-5(-7) cm, base
cuneate to broadly cuneate, margins coarsely serrate and incised on distal
1/2, apex acuminate to narrowly acute, surfaces pilose, more so abaxially;
lateral leaflets usually 1-2&times;-lobed or -parted, occasionally unlobed;
ultimate lobes 10-30(-40) mm wide. <B>Inflorescences</B> (1-)3-9-flowered
cymes; peduncle villous; primary involucral bracts 3(-5), secondary involucral
bracts 2(-3), (1-)2-tiered, ternate, &plusmn;similar to basal leaves, bases
distinct; terminal leaflet &plusmn;sessile, elliptic to oblanceolate, 2-10(-12)
cm (2 cm in secondary involucre) &times; 2-5(-7) cm, bases cuneate, margins
coarsely serrate and incised on distal 1/2, apex acuminate to narrowly
acute, surfaces pilose, more so abaxially; lateral leaflets unlobed or
1&times;-lobed or -parted; ultimate lobes 8-25(-35)mm wide. <B>Flowers:</B>
sepals usually 5, green, yellow, or red (rarely white or abaxially green
to green-yellow and adaxially green or yellow and tinged red), oblong,
ovate, or obovate, 6.5-20 &times; 2.5-10mm, abaxially hairy, adaxially
glabrous or nearly so; stamens 50-70. <B>Heads of achenes</B> oblong-ellipsoid,
rarely obconic; pedicel 13-25(-30) cm. <B>Achenes:</B> body obovoid, 2-3.7
&times; 1.5-2mm, not winged, densely woolly; beak curved, 1-1.5mm, puberulous,
not plumose.</P>

<P>Varieties 3 (3 in the flora): North America.</P>

<P>See C. S. Keener et al. (1995) for an analysis
of infraspecific variation within <I>Anemone virginiana</I> from which
the current treatment has been adopted.</P>

<P>Varieties of <I>Anemone virginiana</I> used
medicinally by native Americans were not specified; the species was used
as an antidiarrheal, an aid for whooping cough, a stimulant, an emetic,
a love potion, a remedy for tuberculosis, and a protection against witchcraft
medicine (D. E. Moerman 1986).<BR>
<BR>
<BR>
<B>