15. <A NAME="27100650"></A><I>Anemone deltoidea</I> Hooker</B>, Fl. Bor.-Amer.
1: 6. 1829 - Columbia windflower, western white anemone - E F</P>

<P><B>Aerial shoots</B> (7.5-)10-30 cm, from
rhizomes, rhizomes horizontal. <B>Basal leaves</B> 0-2, ternate; petiole
10-15 cm; terminal leaflet sessile, ovate to rhombic, (2.5-)3-5(-6) &times;
(2-)2.5-3.5 cm, base slightly oblique to broadly cuneate, margins crenate
to serrate on distal 2/3, apex acuminate, surfaces abaxially glabrous,
rarely puberulous on veins, adaxially usually glabrous; lateral leaflets
unlobed, rarely 1&times;-lobed; ultimate lobes (8-)10-20 mm wide. <B>Inflorescences</B>
1-flowered; peduncle sparsely hispid or glabrous; involucral bracts 3,
1-tiered, simple, &plusmn;similar to terminal leaflets of basal leaves,
ovate, rarely rhombic, (2.5-)4-8 cm, bases distinct, broadly cuneate, margins
crenate to serrate, or dentate on distal 2/3, apex acuminate, surfaces
usually glabrous; lateral leaves unlobed or occasionally 1&times;-lobed;
ultimate lobes 8-15 mm wide. <B>Flowers:</B> sepals usually 5, white, ovate
to obovate, rarely oblanceolate, (12-)15-25 &times; (8-)10-15(-20) mm,
glabrous; stamens 100-120. <B>Heads of achenes</B> spheric; pedicel (5-)7-12
cm. <B>Achenes:</B> body ovoid, swollen, 2.5-4 &times; 2-3 mm, not winged,
proximally hispid, distally glabrous; beak straight to subulate, 0.5 mm
or less, glabrous. 2<I>n</I>=14.</P>

<P>Flowering spring-summer (Apr-Jul). Open to
deep woods; 200-2000 m; Calif., Oreg., Wash.</P>

<P>Reports of <I>Anemone deltoidea</I> in British
Columbia are erroneous (H.J. Scoggan 1978-1979, vol. 3).</P>

<P>Rhizomes 7m long and about 2 mm in diameter
have been observed in <I>Anemone deltoidea</I>.<BR>
<BR>
<BR>
<B>