5b. <A NAME="27101458"></A><I>Anemone narcissiflora</I> Linnaeus var.
<I>villosissima</I> de Candolle</B>,<B> </B>Prodr. 1: 22. 1824 - F</P>

<P><I>Anemone narcissiflora</I> subsp. <I>villosissima</I>
(de Candolle) Hult&eacute;n</P>

<P><B>Aerial shoots</B> (15-)25-60 cm. <B>Basal
leaves</B> (3-)5-10; petiole (10-)15-20 cm; leaflets villous; lateral leaflets
2-3&times;-lobed; ultimate lobes 3-10 mm wide. <B>Inflorescences</B> (3-)5-8-flowered
umbels; peduncle villous; involucral bracts obtriangular, distally pinnatifid,
(2.5-)3-5(-5.5) cm, surfaces villous; lateral segments 2-3&times;-lobed.
<B>Flowers:</B> sepals 5-6, white or often abaxially white, tinged blue,
and adaxially white; stamens 60-80(-100). <B>Pedicels</B> 5-10(-13) cm
in fruit. <B>Achenes:</B> body 6-9 mm.</P>

<P>Flowering spring-summer (May-Aug). Meadows,
tundra; 0-900 m; Alaska; Asia.<BR>
<BR>
<BR>
<B>