

<P><B>1. ANEMOPSIS Hooker
&amp; Arnott</B>, Bot. Beechey Voy., 390. 1841 - Yerba mansa [Greek <I>anemone</I>,
the windflower, and <I>opsis</I>, appearance]</P>

<P><B>Stems</B> simple, nodes 1(-2). <B>Leaves</B>
mostly basal. <B>Inflorescences</B> terminal, spikes, compact, conic, subtended
by petaloid bracts. <B>Flowers</B> 75-150, coalescent; stamens epigynous,
6(-8); pistil 1, 3(-4)-carpellate; placentae 3(-4), parietal; ovules 6-10
per placenta; styles and stigmas 3(-4), distinct. <B>Fruits</B> capsules,
dehiscent. <B>Seeds</B> 18-40. <I>x</I>&nbsp;=&nbsp;11.</P>

<P>Species 1: w North America.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Holm,&nbsp;T. 1905. <I>Anemiopsis</I> [sic] <I>californica</I> (Nutt.)
H. and A. An anatomical study. Amer. J.&nbsp;Sci., ser. 4, 19: 76-82. Kelso,&nbsp;L.
1932. A note on <I>Anemopsis californica</I>. Amer. Midl. Naturalist 13:
110-113. Nozeran,&nbsp;R. 1955. Contribution &agrave; l'&eacute;tude de
quelques structures florales. (Essai de morphologie florale compar&eacute;e).
Ann. Sci. Nat., Bot., s&eacute;r. 11, 16: 1-224. Quibell, C.&nbsp;H. 1941.
Floral anatomy and morphology of <I>Anemopsis californica</I>. Bot. Gaz.
102: 749-758.</P>

<P><B>