5. <A NAME="27100033"></A><I>Anemone narcissiflora</I> Linnaeus</B>,
Sp. Pl. 1: 542. 1753 - Narcissus-flowered anemone</P>

<P><B>Aerial shoots</B> 7-60 cm, from caudices,
caudices ascending to vertical. <B>Basal leaves</B> 3-10, ternate; petiole
(2-)4-20 cm; terminal leaflet &plusmn;sessile, obtriangular to oblanceolate,
(2.5-)3-6(-9) &times; 2-10 cm, base narrowly cuneate to cuneate, margins
incised (sometimes with few serrate teeth) on distal 1/3, apex acute to
obtuse, surfaces glabrous or puberulous to villous or pilose; lateral leaflets
1-3&times;-parted and -lobed; ultimate lobes 3-10 mm wide. <B>Inflorescences</B>
2-8-flowered umbels or flowers solitary; peduncle puberulous to villous
or pilose to nearly glabrous; involucral bracts (2-)3, 1-tiered, simple,
greatly reduced, otherwise similar to basal leaves, obtriangular, distally
3-cleft and pinnatifid, (1-)1.5-5(-5.5) cm, bases clasping, &plusmn;connate,
margins incised on distal 1/3, apex acuminate-acute to obtuse, surfaces
glabrous or puberulous to villous or pilose; segments primarily 3, subulate
or narrowly obtriangular; lateral segments unlobed or 2-3&times;-parted
and -lobed; ultimate lobes 3-10 mm wide. <B>Flowers:</B> sepals 5-9, white
or yellow, or abaxially white, tinged blue, white, or blue, and adaxially
white, ovate to rhombic or obovate, 8-20 &times; 5-13(-15) mm, glabrous;
stamens 40-80(-100). <B>Heads of achenes</B> spheric; pedicel (4.5-)5-14(-18.5)
cm. <B>Achenes:</B> body ellipsoid to ovate, flat, 5-9 &times; (3-)4-6
mm, winged, glabrous; beak curved to recurved, 0.8-1.5 mm, glabrous. 2<I>n</I>=14.</P>

<P>Varieties ca. 12 (3 in the flora): North America,
Eurasia.</P>

<P>J. Jalas (1988), W. Greuter (1989), W. Greuter
et al. (1989), J. Jalas and J. Suominen (1989), and T. G. Tutin et al.
(1993+, vol. 1) have recently used the name <I>Anemone narcissifolia</I>
Linnaeus because they considered <I>Anemone narcissiflora</I> an illegitimate
name. B. E. Dutton et al. (1995) recently proposed to conserve the orthography
of <I>Anemone narcissiflora</I>, and the authors of this treatment ollow
14A.1 of the <I>Code</I>, which recommends following &quot;existing usage
as far as possible pending the General Committee's recommendation on the
proposal&quot; (W. Greuter et al. 1994).</P>

<P>The taxonomy of this highly variable, widespread
species is extremely controversial. The conservative approach taken here
most closely approximates S.L. Welsh's (1974) treatment for the Alaskan
varieties. E. Hult&eacute;n's discussion (1941-1950, vol. 4, pp. 735-736)
of local races and the variation within this species, however, clearly
illustrates the need for a thorough biosystematic investigation. Recognition
of about 12 varieties is in light of S. V. Juzepczuk's (1970) work; however,
he elevated local races to specific rank in his treatment.</P>

<P>The Aleuts used <I>Anemone narcissiflora</I>
(no varieties specified) medicinally as an antihemorrhagic (D. E. Moerman
1986).<BR>
<BR>
<BR>
<B>