6. <A NAME="27100671"></A><I>Anemone tuberosa</I> Rydberg</B>, Bull.
Torrey Bot. Club 29: 151. 1902 - Desert anemone - F</P>

<P><B>Aerial shoots</B> 10-30(-40) cm, from caudex-like
tubers, tubers ascending to vertical. <B>Basal leaves</B> 1-3(-5), 1-2-ternate;
petiole 5-7 cm; terminal leaflet sessile, rarely petiolulate, irregularly
oblanceolate, (1.5-)2-3(-3.5) &times; 1-2(-2.5) cm, base narrowly cuneate,
margins incised to dissected on distal 2/3, apex broadly acute, surfaces
nearly glabrous; lateral leaflets 1-2&times;-parted and/or -lobed; ultimate
lobes 4-8(-12) mm wide. <B>Inflorescences</B> 2-3(-5)-flowered cymes or
flowers solitary; peduncle proximally nearly glabrous, distally villous;
involucral bracts primarily 3, (1-)2-tiered, simple, &plusmn;similar to
basal leaves, pinnatifid, 1.5-5.5 cm (primary involucral bracts 2-5.5 cm,
secondary involucral bracts 1.5-3.5 cm), bases distinct, broadly to narrowly
cuneate to clasping, margins irregularly serrulate and pinnatifid on ca.
distal 1/2, apex narrowly acute to acuminate, surfaces thinly pilose; segments
primarily 3, linear to pinnatifid; lateral segments 1-2&times;-parted and/or
-lobed; ultimate lobes 1.5-2.5 mm wide. <B>Flowers:</B> sepals 8-10, pink
to white, linear-oblong, 10-14(-20) &times; (2-)3-5(-6) mm, sparsely hairy;
stamens 50-60. <B>Heads of achenes</B> fusiform; pedicel (5-)7-15(-22)
cm. <B>Achenes:</B> body orbiculate, flat, 2.5-3.5 &times; 2-2.5 mm, not
winged, densely villous; beak straight, ca. 1.5 mm, minutely puberulous,
not plumose. 2<I>n</I>=16.</P>

<P>Flowering spring (Apr-May). Rocky slopes,
streamsides; 800-2500 m; Ariz., Calif., Nev., N.Mex., Tex., Utah; n Mexico.</P>

<P>The tuberous anemones in North America (<I>A</I>.
<I>tuberosa</I>, <I>A</I>. <I>edwardsiana</I>, <I>A</I>. <I>okennonii</I>,
<I>A</I>. <I>berlandieri</I>, and <I>A</I>. <I>caroliniana</I>) are closely
related to each other and to the South American species <I>A</I>. <I>decapetala</I>
Arduino, <I>A</I>. <I>triternata</I> Vahl, <I>A</I>. <I>cicutifolia</I>
I.M. Johnston, and <I>A</I>. <I>sphenophylla</I> Poeppig. Particularly
useful characters in identifying North American plants are number of tiers
of involucral bracts, presence or absence of heterophylly between basal
leaves and involucral bracts, and presence or absence of rhizomes. The
current treatment of this group primarily follows C. S. Keener and B. E.
Dutton (1994), who included a discussion of the relationships among its
members. For a cytotaxonomic discussion of most members of this group,
see C.&nbsp;Joseph and M.&nbsp;Heimburger (1966).<BR>
<BR>
<BR>
<B>