16. <A NAME="27100670"></A><I>Anemone quinquefolia</I> Linnaeus</B>,
Sp. Pl. 1: 541. 1753 - Wood anemone, an&eacute;mone &agrave; cinq folioles</P>

<P><B>Aerial shoots</B> 5-30 cm, from rhizomes,
rhizomes primarily horizontal. <B>Basal leaves</B> 0-1, ternate; petiole
4-25 cm; terminal leaflet &plusmn; sessile, rhombic to oblanceolate or
obliquely oblanceolate, 1-4.5 &times; 1.4-3.7 cm, base narrowly cuneate,
margins crenate-serrate, serrate, occasionally dentate or incised on distal
1/3-1/2, apex acuminate to obtuse, surfaces glabrous or puberulous to pilose;
lateral leaflets unlobed or 1&times;-lobed or -parted; ultimate lobes 4-15
mm wide. <B>Inflorescences</B> 1-flowered; peduncle puberulous, villous,
or glabrous; involucral bracts 3, 1-tiered, ternate, &plusmn;similar to
basal leaves, bases distinct; terminal leaflet petiolulate or sessile,
rhombic to oblanceolate or obliquely oblanceolate, 1-5(-5.5) &times; 0.5-3
cm, base narrowly cuneate, margins crenate to serrate, serrate to dentate,
occasionally incised on distal 1/3-1/2, apex acuminate to acute, surfaces
glabrous or puberulous to pilose; lateral leaflets unlobed or 1&times;-lobed
or -parted, ultimate lobes 5-20 mm wide. <B>Flowers:</B> sepals (4-)5(-6),
white, rarely pink, or abaxially white or tinged pink or blue and adaxially
white, oblong to ovate, 6-25 &times; 4-8 mm, glabrous; stamens 30-60. <B>Heads
of achenes</B> spheric or nearly so; pedicel 1-6(-8) cm. <B>Achenes:</B>
body ellipsoid or ovoid, 2.5-4.5 &times; 1-1.5 mm, not winged, puberulous
or villous; beak straight to curved, rarely recurved, 0.5-2 mm, &plusmn;glabrous
to sparsely puberulous, not plumose.</P>

<P>Varieties 2 (2 in the flora): North America.</P>

<P><I>Anemone quinquefolia</I> and its relatives
(<I>A</I>. <I>grayi</I>, <I>A</I>. <I>lancifolia</I>, <I>A</I>. <I>lyallii</I>,
<I>A</I>. <I>oregana</I>, and <I>A</I>. <I>piperi</I>) are remarkably similar
morphologically. Consideration of the sizes of various plant parts, degree
of lobing of lateral leaflets, and orientation of the rhizome are particularly
critical in distinguishing these species. This species complex also shares
close morphologic affinities with both European (e.g., <I>A</I>. <I>nemorosa</I>
Linnaeus) and Asian (e.g., <I>A</I>. <I>altaica</I> Fischer ex Ledebour)
plants.<BR>
<BR>
<BR>
<B>