9. <A NAME="27100647"></A><I>Anemone berlandieri</I> Pritzel</B>, Linnaea
15: 628. 1841 - Tenpetal anemone - E F</P>

<P><I>Anemone heterophylla</I> Nuttall ex A.W.
Wood</P>

<P><B>Aerial shoots</B> (10-)30-50 cm, from tubers,
rarely also from rhizomes, tubers vertical, rarely ascending. <B>Basal
leaves</B> (1-)3-6(-9), 1-(nearly 2)-ternate; petiole 3-20 cm; terminal
leaflet sessile, rarely petiolulate, ovate to obovate, 1-3(-6) &times;
(0.4-)0.7-3(-4) cm, base broadly cuneate, margins crenate to serrate on
distal 1/2, rarely on distal 2/3, apex obtuse to broadly acute, surfaces
pubescent; lateral leaflets unlobed or 1&times;-lobed or -parted; ultimate
lobes (6-)8-12 mm wide. <B>Inflorescences</B> 1-flowered; peduncle villous;
involucral bracts 3, borne above middle of scape at anthesis, 1-tiered,
simple, dissimilar to basal leaves, obtriangular, 3-cleft, (1-)1.5-4(-5)
cm, bases clasping, &plusmn;connate, margins incised throughout, apex narrowly
acute to acuminate, surfaces pilose; segments primarily 3, broadly linear;
lateral segments unlobed or occasionally 1&times;-lobed; ultimate lobes
1.5-2.5 mm wide. <B>Flowers:</B> sepals (7-)10-17(-25), abaxially blue
to violet, adaxially white, linear-oblong, rarely narrowly elliptic, (10-)15-20
&times; 2-3(-4) mm, abaxially hairy, especially toward base, adaxially
glabrous or hairy toward base; stamens 60-70. <B>Heads of achenes</B> cylindric;
pedicel (7-)9-15(-28) cm. <B>Achenes:</B> body elliptic, flat, 2.7-3.5
&times; 2.2-2.5 mm, not winged, densely white-woolly; beak subulate, curved,
1-2.3 mm, hidden in achene indument, white tomentose, not plumose. 2<I>n</I>=16.</P>

<P>Flowering winter-spring (Feb-Apr). Open grasslands,
prairies, hillsides, often limy substrate, also woods over thin shale;
60-1100m; Ala., Ark., Fla., Kans., La., Miss., N.C., Okla., S.C., Tex.,
Va.; n Mexico.<BR>
<BR>
<BR>
<B>