22a. <A NAME="27103241"></A><I>Anemone virginiana</I> Linnaeus var. <I>virginiana</I>
</B>- E F</P>

<P><B>Inflorescences:</B> involucral bracts with
base cordate or reniform, rarely subtruncate; terminal leaflets light green,
margins proximally mostly straight to convex-sided, variously lobed or
serrate, variously pubescent. <B>Flowers:</B> sepals (6-)10-20 mm, abaxially
usually thinly pubescent; anthers (0.9-)1-1.7 mm. <B>Heads of achenes</B>
ovoid to ovoid-cylindric, (9-)11-14 mm diam. 2<I>n</I>=16.</P>

<P>Flowering summer (Jun-Aug). Dry, rocky, open
woods, thickets, river banks; 0-2000 m; Ont., Que.; Ala., Ark., Conn.,
Del., D.C., Ga., Ill., Ind., Iowa, Kans., Ky., La., Maine, Md., Mass.,
Mich., Minn., Miss., Mo., Nebr., N.H., N.J., N.Y., N.C., N.Dak., Ohio,
Okla., Pa., R.I., S.C., S.Dak., Tenn., Vt., Va., W.Va., Wis., Wyo.<BR>
<BR>
<BR>
<B>