20. <A NAME="27100656"></A><I>Anemone lyallii</I> Britton</B>, Ann. New
York Acad. Sci. 6: 227. 1891 - Little mountain anemone - E</P>

<P><I>Anemone oligantha</I> Eastwood; <I>A</I>.
<I>quinquefolia</I> Linnaeus var. <I>lyallii</I> (Britton) B.L. Robinson</P>

<P><B>Aerial shoots</B> 5-30(-40) cm, from rhizomes,
rhizomes horizontal. <B>Basal leaves</B> 0-1, ternate; petiole 5-8 cm;
terminal leaflet sessile to petiolulate, ovate to oblanceolate, (1-)1.5-3(-4)
&times; (0.4-)0.7-1.5(-2) cm, base narrowly cuneate, margins serrate to
crenate on distal 1/2-2/3, apex acuminate to narrowly acute, rarely obtuse,
surfaces glabrous, rarely puberulous; lateral leaflets unlobed or occasionally
nearly lobed. <B>Inflorescences</B> 1-flowered; peduncle distally puberulous
or nearly glabrous throughout; involucral bracts 3, 1-tiered, ternate,
&plusmn;similar to basal leaves, bases distinct; terminal leaflet sessile
to petiolulate, ovate to oblanceolate, (1-)1.5-3(-4) &times; (0.4-)0.7-1.5(-2)
cm, bases narrowly cuneate, margins serrate to crenate on distal 1/2-2/3,
apex acuminate to narrowly acute, rarely obtuse, surfaces glabrous, rarely
puberulous; lateral leaflets unlobed or occasionally nearly lobed. <B>Flowers:</B>
sepals 5(-7), white, pink, or sometimes blue-tinged, oblong, rarely narrowly
ovate, 3.5-8(-10) &times; 1.5-3(-3.5) mm, glabrous; stamens 10-30(-35).
<B>Heads of achenes</B> nearly spheric; pedicel 1-3(-4) cm in fruit. <B>Achenes:</B>
body elliptic, flat, 3-4 &times; 1-1.5 mm, not winged, white-puberulous;
beak subulate, sometimes slightly curved, ca. 0.5 mm, glabrous. 2<I>n</I>=16.</P>

<P>Flowering spring-summer (Mar-Jul). Shaded
woods, subalpine ridges; 200-1900 m; B.C.; Calif., Oreg., Wash.</P>

<P><I>Anemone lyallii</I> may occasionally intergrade
with <I>A</I>. <I>oregana</I> west of the Cascades in northern Oregon (C.
L. Hitchcock et al. 1955-1969, vol. 2). The area of probable intergradation
should be extended to the southern limits of both species where they are
sympatric.<BR>
<BR>
<BR>
<B>