1.<A NAME="29000016"></A><I>Anemopsis californica</I>
Hooker &amp; Arnott</B>, Bot. Beechey Voy., 390. 1841 - F W2</P>

<P><I>Anemopsis californica</I> var. <I>subglabra</I>
Kelso</P>

<P><B>Herbs</B>, 8-80&nbsp;cm, densely pubescent
to nearly glabrous, producing stolons. <B>Basal leaves</B> 5-60&nbsp;cm;
petiole 2-40&nbsp;cm; blade elliptic-oblong, 1-25 &times; 1-12&nbsp;cm,
base cordate to obtuse, apex rounded. <B>Cauline leaves</B> dimorphic;
primary leaf 1(-2), usually bearing secondary leaves in axil; blade sessile,
broadly to narrowly ovate, 1-9 &times; 1-4&nbsp;cm, base clasping, apex
rounded to acute. <B>Secondary leaves</B> 1-4, 2-20&nbsp;cm; petiole 1-12&nbsp;cm;
blade elliptic-oblong, 2-10 &times; 1-5&nbsp;cm, base cordate to rounded,
apex rounded to acute. <B>Spikes</B> erect, fragrant, conic, 1-4&nbsp;cm,
subtended by bracts; bracts 4-9, white to reddish, petaloid, 5-35 &times;
5-15&nbsp;mm. <B>Floral bracts</B> white, &plusmn;&nbsp;orbiculate, 3.5-6&nbsp;mm
(distinct portion), clawed, each adnate to an ovary. <B>Capsules</B> brown,
5-7&nbsp;mm, coalescent but easily separable. <B>Seeds</B> brown, 1-1.5
&times; 0.8-1&nbsp;mm, reticulate. 2<I>n</I>&nbsp;=&nbsp;22.</P>

<P>Flowering early spring-summer. Wet, alkaline,
saline, and coastal marsh areas; 0-2000&nbsp;m; Ariz., Calif., Colo., Kans.,
Nev., N.Mex., Okla., Oreg., Tex., Utah; n&nbsp;Mexico.</P>

<P>Some American Indians used <I>Anemopsis californica</I>
for a variety of medicinal purposes (D.&nbsp;E. Moerman 1986).<BR>
</P>

