11. <A NAME="27100035"></A><I>Anemone parviflora</I> Michaux</B>, Fl.
Bor.-Amer. 1: 319. 1803 - Northern anemone, small-flowered anemone - F</P>

<P><I>Anemone borealis</I> Richardson; <I>A</I>.
<I>parviflora</I> Michaux var. <I>grandiflora</I> Ulbrich</P>

<P><B>Aerial shoots</B> 5-30(-35) cm, from short
caudices on rhizomes, rhizomes primarily horizontal. <B>Basal leaves</B>
1-5(-7), ternate; petiole 1-10 cm; terminal leaflet sessile, obtriangular,
(0.5-)0.7-1.8(-2.2) &times; 0.5-1.3 cm, base cuneate, margins crenate to
broadly serrate on distal 1/3, apex obtuse to truncate, surfaces villous
to nearly glabrous; lateral leaflets usually 1&times;-lobed or -parted;
ultimate lobes 4-15 mm wide. <B>Inflorescences</B> 1-flowered; peduncle
villous; involucral bracts 2-3, 1-tiered, simple, &plusmn; similar to terminal
leaflets of basal leaves, obtriangular, 3-cleft, 0.5-2.5 cm, bases distinct,
cuneate, margins crenate to broadly serrate, surfaces villous to nearly
glabrous; segments 3, oblanceolate to obovate; lateral segments unlobed,
2-8 mm wide. <B>Flowers:</B> sepals 4-7, white or tinged blue or abaxially
white, proximally blue, and adaxially white, broadly elliptic to ovate,
(7-)8-20 &times; 4-9 mm, abaxially hairy, adaxially glabrous; stamens 70-80.
<B>Heads of achenes</B> spheric; pedicel 4-18 cm. <B>Achenes:</B> body
obovoid, 2-2.5 &times; ca. 1 mm, not winged, densely woolly; beak straight,
1-2.5 mm, glabrous. 2<I>n</I>=16.</P>

<P>Flowering spring-summer (May-Aug). Streamsides,
meadows, rocky slopes; 0-3800m; Alta., B.C., Man., N.B., Nfld., N.W.T.,
Ont., Que., Sask., Yukon; Alaska, Colo., Idaho, Mont., Oreg., Utah, Wash.,
Wyo.; Asia.<BR>
<BR>
<BR>
<B>