14. <A NAME="27100032"></A><I>Anemone multifida</I> Poiret in J.Lamarck
et al</B>., Encycl., suppl. 1: 364. 1810 - Cut-leaved anemone, an&eacute;mone
multifide</P>

<P><B>Aerial shoots</B> 10-70 cm, from caudices,
caudices ascending to vertical. <B>Basal leaves</B> 3-6(-10), 1-2-ternate;
petiole (2-)4-10(-14) cm; terminal leaflet petiolulate to &plusmn;sessile,
broadly and irregularly rhombic to obovate, (1.5-)2.5-4.5(-5.5) &times;
(1-)3-10 cm, base narrowly cuneate, margins incised on distal 1/3, apex
broadly acute to nearly obtuse; surfaces abaxially villous-silky, hispid
to villous, or sparsely long-pilose, adaxially glabrous, nearly glabrous,
villous-silky, or hispid to villous; lateral leaflets (2-)3&times;-parted;
ultimate segments (1.5-)2-3.5(-5) mm wide. <B>Inflorescences</B> 2-7-flowered
cymes or flowers solitary; peduncle villous, pilose, or hispid to villous;
involucral bracts usually 3-5, occasionally 2 in secondary involucres,
1-2-tiered, ternate, occasionally incompletely ternate, &plusmn;similar
to basal leaves, greatly reduced, bases distinct; terminal leaflet petiolulate
to &plusmn;sessile, broadly and irregularly rhombic to obovate, (1.5-)3-4(-5)
&times; 0.5-1(-2) cm, base narrowly cuneate, margins incised on distal
1/3, apex broadly acute to nearly obtuse, surfaces abaxially hispid to
villous, villous-silky, or sparsely long-pilose, adaxially glabrous, nearly
glabrous, hispid to villous, or villous-silky; lateral leaflets (2-)3&times;-parted
or -lobed, lobes frequently unequal; ultimate lobes 1.5-3(-4.3) mm wide.
<B>Flowers:</B> sepals 5-9, green to yellow, blue, purple, red, or occasionally
white, or abaxially blue, red, yellow and red, or purple, or tinged purple,
adaxially white, yellow, yellow and red, blue, or tinged purple, ovate
to oblong, 5-17 &times; (3.5-)5-7(-9) mm, abaxially hairy, adaxially glabrous;
stamens 50-80. <B>Heads of achenes</B> spheric; pedicel 6-15(-23) cm. <B>Achenes:</B>
body irregularly ellipsoid or elliptic, flat, 3-4 &times; 1.5-2 mm, not
winged, tomentose, woolly, or villous; beak &plusmn;straight, distally
recurved or strongly hooked, 1-6 mm, glabrous.</P>

<P>Varieties 4 (4 in the flora): North America,
South America.</P>

<P>G.Boraiah and M.Heimburger (1964) conducted
an extensive cytotaxonomic analysis of this wide-ranging and extremely
variable species and its relatives. The present treatment takes a broader
view of the species (and its variation) and recognizes fewer entities.
In addition, <I>Anemone tetonensis</I> and <I>A</I>. <I>stylosa</I>, plants
treated as closely related species by G.Boraiah and M.Heimburger, are treated
here as varieties of <I>A</I>. <I>multifida</I>.</P>

<P>Early-season plants of <I>Anemone multifida</I>
var. <I>multifida</I> have solitary flowers and will key to var. <I>saxicola</I>.
<I>Anemone multifida</I> var. <I>tetonensis</I> and especially var. <I>saxicola</I>
might be based on characteristics that are influenced primarily by environment;
further study is warranted.</P>

<P>Native Americans used <I>Anemone multifida</I>
(no varieties specified) medicinally as an antirheumatic, cold remedy,
nosebleed cure, and general panacea, as well as a means of killing lice
and fleas (D. E. Moerman 1986).<BR>
<BR>
<BR>
<B>