18. <A NAME="27100669"></A><I>Anemone piperi</I> Britton ex Rydberg</B>,
Bull. Torrey Bot. Club 29: 153. 1902 - Piper's anemone - E</P>

<P><B>Aerial shoots</B> 10-35 cm, from rhizomes,
rhizomes primarily vertical, occasionally strongly ascending. <B>Basal
leaves</B> (0-)1-2, ternate; petiole 10-20 cm; terminal leaflet sessile,
rhombic, lanceolate, or oblanceolate, (1.5-)2.5-6 &times; (1-)2-4 cm, base
narrowly cuneate, margins coarsely serrate to coarsely dentate on distal
1/2-2/3, apex acuminate to narrowly acute, surfaces pilose or glabrous;
lateral leaflets unlobed or sometimes 1&times;-lobed; ultimate lobes 10-19
mm wide. <B>Inflorescences</B> 1-flowered; peduncle coarsely pilose distally;
involucral bracts 3, 1-tiered, ternate, &plusmn;similar to basal leaves,
bases distinct; terminal leaflet sessile, rhombic, lanceolate, or oblanceolate,
(1.5-)2-5.5(-7) &times; (0.6-)1-2.5 cm, base narrowly cuneate, margins
coarsely serrate to coarsely dentate on distal 1/2-2/3, apex acuminate
to narrowly acute, surfaces pilose or glabrous; lateral leaflets unlobed
or sometimes 1&times;-lobed; ultimate lobes (5-)8-18 mm wide. <B>Flowers:</B>
sepals 5-7, white, rarely pinkish, elliptic-obovate to ovate, (6-)8-20
&times; 6-8 mm, glabrous; stamens 35-55(-90). <B>Heads of achenes</B> nearly
spheric; pedicel (1.5-)2-5 cm. <B>Achenes:</B> body ellipsoid to obliquely
ovoid, 3-4 &times; 1.5-2 mm, not winged, villous; beak straight or slightly
curved, 0.5-1 mm, glabrous or proximally minutely puberulous, not plumose.</P>

<P>Flowering spring-summer (Apr-Aug). Shaded,
moist woods; 400-3000 m; B.C.; Idaho, Mont., Oreg., Utah, Wash.</P>

<P>Plants of <I>Anemone piperi</I> from southeastern
Washington and northeastern Oregon (i.e., the westernmost limits of the
species) are sometimes intermediate between <I>A</I>. <I>piperi</I> and
<I>A</I>. <I>oregana</I>. Although they possess vertical rhizomes characteristic
of <I>A</I>. <I>piperi</I>, they have the bluish or pinkish sepals of <I>A</I>.
<I>oregana</I>. These plants are best referred to <I>A</I>. <I>piperi</I>,
pending detailed biosystematic analysis.<BR>
<BR>
<BR>
<B>