2a. <A NAME="27101460"></A><I>Anemone patens</I> Linnaeus var. <I>multifida</I>
Pritzel</B>, Linnaea 15: 581. 1841<B> </B>- Pasqueflower, prairie-smoke,
prairie-crocus, pulsatille - F</P>

<P><I>Anemone patens</I> var. <I>nuttalliana</I>
(de Candolle) A. Gray; <I>A</I>. <I>patens</I> var. <I>wolfgangiana</I>
(Besser) Koch; <I>Pulsatilla patens</I> (Linnaeus) Miller subsp. <I>asiatica</I>
Krylov &amp; Sergievskaja; <I>P</I>. <I>patens</I> (Linnaeus) Miller subsp.
<I>multifida</I> (Pritzel) Z&auml;melis</P>

<P><B>Aerial shoots</B> 5-40(-60) cm, from caudices,
caudices ascending to vertical. <B>Basal leaves</B> (3-)5-8(-10), primarily
3-foliolate with each leaflet dichotomously dissected; petiole 5-10(-13)
cm; terminal leaflet petiolulate to nearly sessile, obovate in outline,
(2.5-)3-5 cm, base narrowly cuneate, margins dichotomously dissected throughout,
apex acute to obtuse, surfaces villous, rarely glabrous; lateral leaflets
3-4&times;-parted (&plusmn;dichotomously); ultimate segments 2-4 mm wide.
<B>Inflorescences</B> 1-flowered; peduncle villous or glabrate; involucral
bracts primarily 3, 1-tiered, simple, dissimilar to basal leaves, (2-)2.5-4
cm, bases clasping, connate, margins deeply laciniate throughout, surfaces
villous, rarely glabrous to nearly glabrous; segments usually 4-6, filiform
to linear, unlobed, 1-2(-3) mm wide. <B>Flowers:</B> sepals 5-8, blue,
purple, to rarely nearly white, oblong to elliptic, (18-)20-40 &times;
(8-)10-15 mm, abaxially villous, adaxially glabrous; petals present; stamens
150-200. <B>Heads of achenes</B> spheric to ovoid; pedicel 10-18(-22) cm.
<B>Achenes:</B> body ellipsoid to obovoid, 3-4(-6) &times; ca. 1 mm, not
winged, villous; beak curved, 20-40 mm, long-villous, plumose. 2<I>n</I>=16.</P>

<P>Flowering spring-summer (Apr-Aug). Prairies,
open slopes, sometimes open woods or granite outcrops in woods; 100-3800
m; Alta., B.C., Man., N.W.T., Ont., Sask., Yukon; Alaska, Colo., Idaho,
Ill., Iowa, Minn., Mont., Nebr., N.Mex., N.Dak., S.Dak., Utah, Wis., Wyo.;
Eurasia.</P>

<P><I>Anemone patens</I> var. <I>multifida</I>
has frequently been recognized as a subspecies of <I>A</I>. <I>patens</I>.
Although <I>A</I>. <I>patens</I> var. <I>wolfgangiana</I> has been used
by some authors, <I>A</I>. <I>patens</I> var. <I>multifida</I> has priority.</P>

<P>Pasqueflower (as <I>Anemone patens</I> var.
<I>wolfgangiana</I>) is the floral emblem of Manitoba and (as <I>Pulsatilla
hirsutissima</I>) the state flower of South Dakota.</P>

<P>Native Americans used fresh leaves of <I>Anemone
patens</I> var. <I>multifida</I> medicinally to treat rheumatism and neuralgia;
crushed leaves for poultices; pulverized leaves to smell to alleviate headaches;
and made decoctions from roots to treat lung problems (D. E. Moerman 1986).</P>

<P>The names <I>Pulsatilla hirsutissima</I> (Pursh)
Britton and <I>P</I>. <I>ludoviciana</I> (Nuttall) A. Heller are illegitimate.<BR>
<BR>
<BR>
<B>