16b. <A NAME="27103225"></A><I>Anemone quinquefolia</I> Linnaeus var.
<I>minima</I> (de Candolle) Frodin,</B> Phytologia 77: 86. 1994 - E</P>

<P><I>Anemone minima</I> de Candolle, Syst. Nat.
1: 206. 1817</P>

<P><B>Aerial shoots</B> 5-15 cm. <B>Leaves:</B>
petiole 4-12 cm; terminal leaflet of basal leaves 1-2.5 &times; 1-2 cm,
pilose; lateral leaflets unlobed or occasionally 1&times;-lobed; ultimate
lobes 4-8 mm wide. <B>Inflorescences:</B> involucral bracts with terminal
leaflet of 1-2 &times; 0.5-1 cm wide, base &plusmn; narrowly cuneate, margins
crenate or serrate to dentate, apex acuminate to narrowly acute, surfaces
pilose; lateral leaflets unlobed, rarely slightly 1&times;-lobed). <B>Flowers:</B>
sepals (7-)8(-11) &times; ca. 4 mm; stamens 30-40. <B>Pedicel</B> 1-4 cm
in fruit. <B>Achenes:</B> body 2.5-3 mm. 2<I>n</I>=32.</P>

<P>Flowering spring (Apr-May). Damp, frequently
acidic, wooded hillsides; 600-1000 m; N.C., Tenn., Va., W.Va.<BR>
<BR>
<BR>
<B>