12. <A NAME="27100651"></A><I>Anemone drummondii</I> S. Watson</B>, Bot.
California 2: 424. 1880 - Drummond's anemone</P>

<P><B>Aerial shoots</B> (7-)10-25(-30) cm, from
caudices, caudices ascending to primarily vertical. <B>Basal leaves</B>
5-15, 2-ternate, occasionally irregularly so; petiole 2-10 cm; terminal
leaflet sessile or basally attenuate and appearing petiolulate, obovate
to obtriangular, 0.5-3 &times; 0.5-2 cm, base narrowly cuneate to cuneate,
margins incised to dissected on distal 1/3-1/2, apex broadly acute to obtuse,
surfaces villous; lateral leaflets 2&times;-parted, division frequently
irregular; ultimate segments 1-2.6 mm wide. <B>Inflorescences</B> 1(-2)-flowered;
peduncle villous; involucral bracts 3(-4), 1-tiered, &plusmn;similar to
basal leaves, highly reduced, 2-ternate or irregularly so, bases distinct;
terminal leaflet sessile or basally attenuate and appearing petiolulate,
obovate to pinnatifid, 1-3.5 &times; 0.5-2 cm, bases narrowly cuneate to
cuneate, margins incised to dissected on distal 1/3-1/2, apex broadly acute
to obtuse, surfaces villous; lateral leaflets 2&times;-parted, division
frequently irregular; ultimate segments 1-2.5 mm wide. <B>Flowers:</B>
sepals (5-)6-9, white, or abaxially white, tinged blue, and adaxially white,
ovate, rarely oblong or narrowly obovate, 8-20 &times; 6-10 mm, abaxially
hairy, rarely glabrous, adaxially glabrous; stamens 80-100, whitish; styles
white. <B>Heads of achenes</B> spheric, rarely cylindric; pedicel (2-)3-10
cm. <B>Achenes:</B> body ovoid, 2-4 &times; 1-1.5 mm, not winged, woolly;
beak straight, 2-4(-6) mm, glabrous.</P>

<P>Varieties 2 (2 in the flora): North America,
Asia.</P>

<P><I>Anemone drummondii</I> is an extremely
variable species whose circumscription is controversial. Some plants appear
intermediate between this species and <I>A</I>. <I>multifida</I>; cytologically
the two are quite distinct (G.Boraiah and M.Heimburger 1964; C. L. Hitchcock
et al. 1955-1969, vol.2).<BR>
<BR>
<BR>
<B>