19b. <A NAME="27100668"></A><I>Anemone oregana</I> A. Gray var. <I>felix</I>
(M.Peck) C. L. Hitchcock</B>, Vasc. Pl. Pacif. N.W. 2: 329. 1964 - C E</P>

<P><I>Anemone felix</I> M.Peck, Torreya 32: 149.
1932</P>

<P><B>Aerial shoots</B> 5-20(-30) cm. <B>Basal
leaves:</B> lateral leaflets usually 1&times;-lobed; ultimate lobes 6-10
mm wide. <B>Inflorescences:</B> involucral bracts with terminal leaflet
1-4 &times; 0.8-2.5 cm, base narrowly cuneate, margins serrate, more sharply
serrate than in basal leaves, apex acuminate to narrowly acute; lateral
leaflets usually 1&times;-lobed; ultimate lobes 4-10 mm wide. <B>Flowers:</B>
sepals abaxially reddish, violet, or marginally purple, adaxially white;
stamens 60-75. <B>Achenes:</B> body puberulous to pilose.</P>

<P>Flowering spring (Apr-Jun). Marshes, sphagnum
bogs; of conservation concern; 300-1000 m; Oreg., Wash.<BR>
<BR>
<BR>
<B>