14a. <A NAME="27101457"></A><I>Anemone multifida</I> Poiret var. <I>multifida</I>
</B>- F</P>

<P><I>Anemone globosa</I> Nuttall ex A. Nelson;
<I>A</I>. <I>multifida</I> var. <I>hudsoniana</I> de Candolle; <I>A</I>.
<I>multifida</I> var. <I>nowasadii</I> B.Boivin; <I>A</I>. <I>multifida</I>
var. <I>richardsiana</I> Fernald; <I>A</I>. <I>multifida</I> var. <I>sansonii</I>
B.Boivin</P>

<P><B>Aerial shoots</B> (30-)40-70 cm. <B>Basal
leaves</B> silky. <B>Inflorescences</B> (2-)5-7-flowered cymes; peduncle
villous; involucral bracts (1-)2-tiered, silky. <B>Flowers:</B> sepals
5(-9), green to yellow, blue, purple, or red (rarely abaxially blue or
red and adaxially white or yellow), ovate or oblong, 6-17 mm. <B>Achenes:</B>
beak &plusmn; straight. 2<I>n</I>=32.</P>

<P>Flowering spring-summer (Apr-Jul). Open forests,
grassy slopes, often rocky areas, also moist prairie depressions, coulees,
sandhill shrubland; 0-3200 m; Alta., B.C., Man., N.B., Nfld., N.W.T., Ont.,
Que., Sask., Yukon; Alaska, Calif., Colo., Idaho, Maine, Mich., Minn.,
Mont., Nebr., Nev., N.Mex., N.Y., N.Dak., Oreg., S.Dak., Utah, Vt., Wash.,
Wis., Wyo; South America (Chile and Argentina).</P>

<P>According to D. E. Moerman (1986), the Blackfeet
burned <I>Anemone multifida</I> var. <I>multifida</I> on hot coals to alleviate
headaches.</P>

<P><B>