25. <A NAME="27103251"></A><I>Anemone americana</I> (de Candolle) H.Hara</B>,
J. Jap. Bot. 33: 271. 1958 - Round-lobed hepatica, an&eacute;mone d'Am&eacute;rique,
h&eacute;patique d'Am&eacute;rique - E F</P>

<P><I>Hepatica triloba</I> Chaix var. <I>americana</I>
de Candolle, Syst. Nat. 1: 216. 1817; <I>H</I>. <I>americana</I> (de Candolle)
Ker-Gawler; <I>H</I>. <I>nobilis</I> Miller var. <I>obtusa</I> (Pursh)
Steyermark; <I>H</I>. <I>triloba</I> var. <I>obtusa</I> Pursh</P>

<P><B>Aerial shoots</B> 5-18 cm, from rhizomes,
rhizomes ascending to horizontal. <B>Basal leaves</B> 3-15, often purplish
abaxially, simple, deeply divided; petiole 5-20 cm; leaf blade widely orbiculate,
1.5-7 &times; 2-10 cm, base cordate, margins entire, apex rounded, surfaces
strongly villous to glabrescent; lobes 3(-4), widely ovate, 1-4 cm wide;
middle lobe 50-70(-75)% of total blade length. <B>Inflorescences</B> 1-flowered,
villous to pilose; involucral bracts 3, 1-tiered, simple, dissimilar to
basal leaves, sessile, calyx-like, closely subtending flower, ovate or
elliptic, 0.65-1.8 &times; 0.5-1.2 cm, bases distinct, cuneate, margins
entire, apex obtuse, strongly villous to glabrescent. <B>Flowers:</B> sepals
5-12, white to pink or bluish, ovate to obovate 7.5-14.5 &times; 3.5-7.7
mm, glabrous; petals absent; stamens 10-30. <B>Heads of achenes</B> spheric;
pedicel 0.1-0.4 cm. <B>Achenes:</B> body narrowly ovoid, 3.5-5 &times;
1.2-1.6 mm, slightly winged, hispid, gradually tapering; beak indistinct.
2<I>n</I>=14.</P>

<P>Flowering spring. Mixed woods, often in association
with both conifers and deciduous trees; 0-1200 m; Man., N.B., N.S., Ont.,
Que.; Ala., Ark., Conn., Del., D.C., Fla., Ga., Ill., Ind., Iowa, Ky.,
Maine, Md., Mass., Mich., Minn., Miss., Mo., N.H., N.J., N.Y., N.C., Ohio,
Pa., R.I., S.C., Tenn., Vt., Va., W.Va., Wis.</P>

<P><I>Anemone americana</I> is found in habitats
similar to those of <I>A</I>. <I>acutiloba</I> but usually in drier sites
with more acid soils.<BR>
</P>

