5c. <A NAME="27103203"></A><I>Anemone narcissiflora</I> Linnaeus var.
<I>zephyra</I> (A. Nelson) B. E. Dutton &amp; Keener</B>, Phytolgia 77:
85. 1994<B> </B>- E</P>

<P><I>Anemone zephyra</I> A. Nelson, Bot. Gaz.
42: 51. 1906; <I>A</I>. <I>narcissiflora</I> subsp. <I>zephyra</I> (A.
Nelson) A. L&ouml;ve, D. L&ouml;ve, &amp; B. M. Kapoor</P>

<P><B>Aerial shoots</B> 7-40 cm. <B>Basal leaves</B>
3-7; petiole (4-)5-10(-15) cm; leaflets glabrous, sparsely pilose, or villous;
lateral leaflets 2(-3)&times;-lobed; ultimate lobes 3-8 mm wide. <B>Inflorescences</B>
2-3(-4)-flowered umbels or flowers solitary; peduncle pilose or villous;
involucral bracts obtriangular, 3-cleft, (1.5-)2.5-5 cm, surfaces glabrous,
sparsely pilose, or villous; lateral segments unlobed. <B>Flowers:</B>
sepals 5-9, yellow or yellowish; stamens 40-60. <B>Pedicels</B> 5-10 cm
in fruit. <B>Achenes:</B> body ca. 5 mm.</P>

<P>Flowering summer (Jun-Aug). Forest margins,
alpine meadows; 2700-4000 m; Colo., Wyo.<BR>
<BR>
<BR>
<B>