17. <A NAME="27100655"></A><I>Anemone lancifolia</I> Pursh</B>, Fl. Amer.
Sept. 2: 386. 1814 - Lance-leaved anemone - E</P>

<P><I>Anemone quinquefolia</I> Linnaeus var.
<I>lancifolia</I> (Pursh) Fosberg</P>

<P><B>Aerial shoots</B> 10-40 cm, from rhizomes,
rhizomes horizontal. <B>Basal leaves</B> 1, ternate; petiole 10-25 cm;
terminal leaflet sessile, oblanceolate to ovate, (3.5-)4-7(-8) &times;
2.5-4(-6) cm, base broadly cuneate, margins coarsely serrate on distal
1/2-2/3, apex acuminate, surfaces &plusmn;glabrous; lateral leaflets unlobed
or occasionally 1&times;-lobed; ultimate lobes 8-25 mm wide. <B>Inflorescences</B>
1-flowered; peduncle &plusmn;glabrous; involucral bracts 3, 1-tiered, ternate,
&plusmn;similar to basal leaves, bases distinct; terminal leaflet sessile,
oblanceolate to ovate, (2-)3-8.7 &times; 0.8-3 cm, bases narrowly cuneate
to cuneate, margins coarsely serrate on distal 1/2 -2/3, apex acuminate,
surfaces &plusmn; glabrous; lateral leaflets unlobed or occasionally 1&times;-lobed;
ultimate lobes 15-30 mm wide. <B>Flowers:</B> sepals (4-)5(-7), white,
oblong to elliptic, (13-)15-20(-25) &times; 5-10 mm, glabrous; stamens
50-70. <B>Heads of achenes</B> nearly spheric; pedicel (3-)4-8(-10) cm.
<B>Achenes:</B> body elliptic, flat, 3.5-5 &times; 1-1.5 mm, not winged,
puberulous; beak straight or slightly curved, 1-1.5 mm, &plusmn;glabrous,
not plumose.</P>

<P>Flowering spring-summer (Apr-Jun). Damp, rich
woods; 800-1500 m; N.C., S.C., Va., W.Va.<BR>
<BR>
<BR>
<B>