7a. <A NAME="27101792"></A><I>Anemone edwardsiana</I></B><I> </I><B>Tharp
var. <I>edwardsiana</I></B><I> - </I>E</P>

<P><B>Achenes &plusmn; </B>dull, wooly.<BR>

<P>Flowering winter-spring (Feb--Apr). Moist, limestone bluffs and ledges;
200-500 m; Tex.<BR>
<BR>
<BR>
<B>
