14b. <A NAME="27100660"></A><I>Anemone multifida</I>
Poiret var. <I>saxicola</I> B.Boivin</B>,
Canad. Field-Naturalist 65: 2. 1951<B> </B>- C E</P>

<P><I>Anemone multifida</I> var. <I>hirsuta</I>
C. L. Hitchcock</P>

<P><B>Aerial shoots</B> (10-)20-40 cm. <B>Basal
leaves</B> villous. <B>Inflorescences</B> (1-)2-3-flowered cymes; peduncle
villous; involucral bracts 1-2-tiered, villous. <B>Flowers:</B> sepals
5, abaxially red, purple, or blue, adaxially white or yellow, elliptic,
6-10 mm. <B>Achenes:</B> beak &plusmn;straight. 2<I>n</I>=32.</P>

<P>Flowering summer (Jun-Aug). Rocky slopes,
meadows; of conservation concern; 1300-4200 m; Alta., B.C., N.W.T.; Alaska,
Colo., Idaho, Mont., Nev., Oreg., Utah, Wash., Wyo.<BR>
<BR>
<BR>
<B>