21. <A NAME="27103236"></A><I>Anemone grayi</I> Behr &amp; Kellogg</B>,
Bull. Calif. Acad. Sci. 1: 5. 1884 - Western windflower - E</P>

<P><I>Anemone quinquefolia</I> Linnaeus var.
<I>grayi</I> (Behr &amp; Kellogg) Jepson; <I>A</I>. <I>quinquefolia</I>
var. <I>minor</I> (Eastwood) Munz</P>

<P><B>Aerial shoots</B> (3-)10-30(-40) cm, from
rhizomes, rhizomes horizontal, occasionally ascending. <B>Basal leaves</B>
usually absent, occasionally 1, ternate; petiole (1.5-)2.5-20(-25) cm;
terminal leaflet sessile or petiolulate, ovate to rhombic or oblanceolate,
(1-)1.5-4.5(-5) &times; (0.6-)1-2.5(-3.5) cm, base cuneate, margins crenate,
sometimes coarsely serrate, on distal 1/2-2/3, apex narrowly acute to acute,
surfaces white-puberulous to pilose to nearly glabrous; lateral leaflets
unlobed, rarely scarcely 1&times;-lobed; ultimate lobes 4-12 mm wide. <B>Inflorescences</B>
1-flowered; peduncle proximally glabrous, distally villous or pilose; involucral
bracts 3, 1-tiered, ternate, &plusmn;similar to basal leaves, bases distinct;
terminal leaflet sessile to petiolulate, ovate to rhombic or oblanceolate,
(1-)1.5-4.5(-5) &times; (0.6-)1-2.5(-3.5) cm, bases cuneate, margins crenate,
sometimes coarsely serrate, on distal 1/2-2/3, apex narrowly acute to acute,
surfaces white-puberulous to pilose to nearly glabrous; lateral leaflets
unlobed, rarely scarcely 1&times;-lobed; ultimate lobes 4-12 mm wide. <B>Flowers:</B>
sepals 5-6, white or blue, elliptic to obovate, rarely ovate, 7-15 &times;
4-8 mm, glabrous; stamens 25-40. <B>Heads of achenes</B> nearly spheric;
pedicel (0.5-)3-10 cm in fruit. <B>Achenes:</B> body elliptic, flat, 3-4
&times; 1.5-2 mm, not winged, puberulous to pilose; beak curved or recurved,
0.6-1 mm, glabrous. 2<I>n</I>=16.</P>

<P>Flowering winter-early summer (Feb-Jun). Shaded
woods, wooded slopes; 100-900 m; Calif., Oreg.</P>

<P>The rhizomes of <I>Anemone grayi</I> tend
to be knobby rather than filiform as in <I>A</I>. <I>lyallii</I> and <I>A</I>.
<I>oregana</I>. Investigation of the populations in which these three species
overlap and appear to intergrade in southern Oregon and northern California
is needed to clarify the taxonomic relationships among them.<BR>
<BR>
<BR>
<B>