19. <A NAME="27100667"></A><I>Anemone oregana</I> A. Gray</B>, Proc.
Amer. Acad. Arts 22: 308. 1887 - Oregon anemone, western wood anemone</P>

<P><B>Aerial shoots</B> 5-30(-35) cm, from rhizomes,
rhizomes horizontal. <B>Basal leaves</B> 0-1, ternate; petiole 4-20 cm;
terminal leaflet sessile to petiolulate, oblanceolate to rhombic, oblong,
or ovate, 1-5(-6) &times; 0.7-2.5(-3.5) cm, base narrowly cuneate, margins
sharply serrate on distal 1/2(-2/3), apex acuminate to acute, surfaces
strigose to nearly glabrous; lateral leaflets unlobed or 1&times;-lobed;
ultimate lobes 0.4-10 mm wide. <B>Inflorescences</B> 1-flowered; peduncle
proximally glabrous, distally villous to pilose; involucral bracts 3, 1-tiered,
ternate, &plusmn;similar to basal leaves, bases distinct; terminal leaflet
sessile to petiolulate, oblanceolate to rhombic, oblong, or ovate, 1-8
&times; 0.8-3(-3.5) cm, bases narrowly cuneate to cuneate, margins crenate
to serrate on distal 1/2(-2/3), apex acuminate to acute, surfaces abaxially
glabrous or strigose, adaxially nearly glabrous to strigose; lateral leaflets
unlobed or 1&times;-lobed; ultimate lobes 0.5-10 mm wide. <B>Flowers:</B>
sepals 5-7(-8), blue to purple, reddish, or purple to pink (rarely nearly
white or abaxially reddish, violet, or marginally purple, adaxially white),
ovate, oblong, or elliptic, 10-20 &times; 5-8(-10) mm, glabrous; stamens
30-75. <B>Heads of achenes</B> nearly spheric; pedicel (1.5-)2-5(-7) cm.
<B>Achenes:</B> body oblong to ellipsoid, 4-5 &times; 1.5-2 mm, not winged,
puberulous to pilose, rarely glabrous; beak &plusmn;straight, (0.5-)1-1.5
mm, glabrous.</P>

<P>Varieties 2 (2 in the flora): North America.<BR>
<BR>
<BR>
<B>