22c. <A NAME="27101853"></A><I>Anemone virginiana</I> Linnaeus var. <I>alba</I>
(Oakes) A.W. Wood</B>, Class-book Bot. ed. 2(a), 140. 1847<B> </B>- E</P>

<P><I>Anemone cylindrica</I> A. Gray var. <I>alba</I>
Oakes, Mag. Hort. Bot. 7: 182. 1841; <I>A</I>. <I>riparia</I> Fernald;
<I>A</I>. <I>virginiana</I> var. <I>riparia</I> (Fernald) B.Boivin</P>

<P><B>Inflorescences:</B> involucral bracts with
base often truncate to subtruncate, sometimes reniform or cordate; terminal
leaflets dark green, margins proximally concave to straight-sided, distally
incised, abaxially thinly pubescent. <B>Flowers:</B> sepals (9-)10-21 mm,
abaxially thinly pubescent; anthers 0.8-1.2(-1.7) mm. <B>Heads of achenes</B>
&plusmn;ovoid-cylindric, 8-10(-11) mm diam. 2<I>n</I>=16.</P>

<P>Flowering spring-summer (May-Jul). Riparian
areas, moist cliffs and ledges; 10-1000 m; N.B., Nfld., N.S., Ont., Que.;
Conn., Maine, Mass., Mich., Minn., N.H., N.J., N.Y., Vt., Wis.<BR>
<BR>
<BR>
<B>