3. <A NAME="27100648"></A><I>Anemone canadensis</I> Linnaeus</B>, Syst.
Nat. ed. 12, 3: 231. 1768 - Canada anemone, an&eacute;mone du Canada -
E F</P>

<P><I>Anemone dichotoma</I> Linnaeus var. <I>canadensis</I>
(Linnaeus) C. MacMillan</P>

<P><B>Aerial shoots</B> (15-)20-80 cm, from caudices
on rhizomes, caudices ascending, rhizomes ascending to horizontal. <B>Basal
leaves</B> 1-5, simple, deeply divided; petiole 8-22(-37) cm; leaf blade
orbiculate, 4-10 &times; 5-15(-20) cm, base sagittate to nearly truncate,
margins serrate and incised on distal 1/3-1/2, apex acuminate, surfaces
puberulous (more so abaxially); segments primarily 3, lanceolate to oblanceolate;
lateral segments again 1&times;-lobed or -parted (proximal lobe occasionally
lobed again); ultimate segments 10-30(-35) mm wide. <B>Inflorescences</B>
1(-3+)-flowered, rarely cymes; peduncle puberulous to villous, distally
densely villous; involucral bracts 3 (secondary involucres with 2), remotely
subtending flowers, (1-)2-tiered, simple, &plusmn;similar to basal leaves,
broadly obtriangular, 3-cleft, 3-10 cm, bases broadly cuneate, connate,
margins sharply, irregularly serrate and incised on distal 1/3-1/2, apex
acuminate, surfaces puberulous, more so abaxially; segments 3, lanceolate
to oblanceolate; lateral segments unlobed or 1&times;-lobed; ultimate lobes
(8-)10-15(-20) mm wide. <B>Flowers:</B> sepals (4-)5(-6), white, obovate,
(8-)10-20(-25) &times; 5-15 mm, hairy or glabrous; stamens 80-100. <B>Heads
of achenes</B> spheric to ovoid; pedicel 7.5-11.5 cm. <B>Achenes:</B> body
obovoid to ellipsoid, (2.5-)3-6 &times; 3.5-6 mm, winged, strigose or glabrate;
beak straight, 2-6 mm, strigose, not plumose. 2<I>n</I>=14.</P>

<P>Flowering spring-summer (May-Aug). Damp thickets,
meadows, wet prairies, lake shores, streamsides, clearings, occasionally
swampy areas; 200-2800 m; Alta., B.C., Man., N.B., Nfld., N.W.T., N.S.,
Ont., P.E.I., Que., Sask.; Colo., Conn., Ill., Ind., Iowa, Kans., Maine,
Md., Mass., Mich., Minn., Mo., Mont., Nebr., N.H., N.J., N.Mex., N.Y.,
N.Dak., Ohio, Pa., S.Dak., Vt., W.Va., Wis., Wyo.</P>

<P>Various parts of <I>Anemone canadensis</I>
were used medicinally by Native Americans in the treatment of wounds, nasal
hemorrhages, eye problems, and sore throats, to counteract witch medicines,
and as a general panacea (D. E. Moerman 1986).<BR>
<BR>
<BR>
<B>