8. <A NAME="27103206"></A><I>Anemone okennonii</I> Keener &amp; B. E.
Dutton</B>, Sida 16: 198. 1994 - Okennon's anemone - E</P>

<P><I>Anemone tuberosa</I> Rydberg var. <I>texana</I>
Enquist &amp; Crozier</P>

<P><B>Aerial shoots</B> 20-30 cm, from tubers,
tubers &plusmn;vertical. <B>Basal leaves</B> 4-10, 2-3-ternate or irregularly
so; petiole 5-10 cm; terminal leaflet petiolulate, obovate, 1.2-1.8(-20)
&times; ca. 1.5(-2.5) cm, base narrowly cuneate, margins coarsely serrate
to nearly incised on distal 1/2, ciliate or not, apex broadly acute, surfaces
nearly glabrous; lateral leaflets 1-2&times;-lobed or -parted; ultimate
lobes 2-5 mm wide. <B>Inflorescences</B> (1-)2-3-flowered cymes; peduncle
proximally nearly glabrous, distally downy; involucral bracts primarily
3, (1-)2-tiered, simple, dissimilar to basal leaves, obtriangular, 3-cleft
to pinnatifid, 2-5 cm, bases clasping, &plusmn;connate, margins incised
throughout, apex acuminate, surfaces appressed-pilose; segments primarily
3, linear; lateral segments unlobed or 1&times;-lobed; ultimate segments
1-2 mm wide. <B>Flowers:</B> sepals 7-11, greenish white to abaxially reddish,
oblong, 6-12(-14) &times; (2-)3-4.5 mm, abaxially hairy, adaxially glabrous;
stamens 35-55. <B>Heads of achenes</B> oblong-ellipsoid; pedicel 10-18
cm. <B>Achenes:</B> body ovate, flat, not winged, densely white-villous
(with long tuft of hairs at base); beak &plusmn;straight, ca. 1 mm, hidden
in achene indument, white-tomentose, not plumose.</P>

<P>Flowering spring (Mar-Apr). Dry, open ledges
and slopes; 500-1500m; Tex.<BR>
<BR>
<BR>
<B>