22b. <A NAME="27103240"></A><I>Anemone virginiana</I> Linnaeus var. <I>cylindroidea</I>
B.Boivin</B>, Phytologia 18: 281. 1969<B> </B>- E</P>

<P><B>Inflorescences:</B> involucral bracts &plusmn;
light green. <B>Flowers:</B> sepals 5-10 mm, abaxially densely tomentose;
anthers 0.7-1(-1.2) mm. <B>Heads of achenes</B> ovoid to ovoid-cylindric,
7-11 mm diam.</P>

<P>Flowering summer (Jun-Aug). Dry woods, sandy
ridges, grasslands; 400-3000 m; Alta., B.C., Man., N.B., Ont., Que., Sask.;
Minn., N.Y.<BR>
<BR>
<BR>
<B>