12a. <A NAME="27101507"></A><I>Anemone drummondii</I> S. Watson var.
<I>drummondii</I></B></P>

<P><B><I>Anemone cairnesiana</I> Greene; <I>A</I>.
<I>californica</I> Eastwood</B></P>

<P><B>Aerial shoots</B> (7-)10-25(-30) cm. <B>Basal
leaves</B> 5-15; petiole 2-10 cm; leaflets villous; ultimate segments of
lateral leaflets 1-1.5(-2) mm wide. <B>Inflorescences:</B> peduncle villous;
involucral bracts villous; ultimate segments of lateral leaflets 1-1.5(-2)
mm wide. <B>Flowers:</B> sepals white, tinged blue, or abaxially white,
tinged blue, and adaxially white, abaxially hairy, rarely glabrous. <B>Heads
of achenes</B> spheric, rarely cylindric. 2<I>n</I>=32.</P>

<P>Flowering summer (Jun-Aug). Gravelly slopes,
dry rocky ledges; 1200-3300 m; B.C.; Calif., Idaho, Oreg., Wash.; Asia.<BR>
<BR>
<BR>
<B>