23. <A NAME="27100025"></A><I>Anemone cylindrica</I> A. Gray</B>, Ann.
Lyceum Nat. Hist. New York 3: 221. 1835 - Long-headed anemone, thimbleweed,
candle anemone, an&eacute;mone cylindrique - E</P>

<P><B>Aerial shoots</B> (20-)30-70(-80) cm, from
caudices, rarely with very short ascending rhizomes, caudices ascending
to vertical. <B>Basal leaves</B> (2-)5-10(-13), ternate; petiole 9-21 cm;
terminal leaflet sessile, broadly rhombic to oblanceolate, (2.5-)3-5(-6)
&times; (3-)4-10(-14) cm, base narrowly cuneate, margins crenate, or serrate
and deeply incised on distal 1/2, apex narrowly acute, surfaces strigose,
more so abaxially; lateral leaflets 1-2&times;-parted and -lobed; ultimate
lobes 4-10(-13) mm wide. <B>Inflorescences</B> (1-)2-8-flowered cymes,
sometimes appearing umbellike; peduncle villous to densely villous; involucral
bracts 3-7(-9), 2(-3)-tiered (can appear 1-tiered), ternate, &plusmn;similar
to basal leaves, bases distinct; terminal leaflet sessile, rhombic to oblanceolate,
2.5-6.5 &times; (1-)1.5-2(-2.5) cm, bases narrowly cuneate, margins serrate
and incised on distal 1/3-1/2, apex narrowly acute, surfaces puberulous,
more so abaxially; lateral leaflets 1(-2)&times;-parted or -lobed; ultimate
lobes (4-)6-10(-15) mm wide. <B>Flowers:</B> pedicel usually appearing
bractless; sepals 4-5(-6), green to whitish, oblong to elliptic or ovate,
5-12(-15) &times; 3-6 mm, abaxially silky, adaxially glabrous; stamens
50-75. <B>Heads of achenes</B> cylindric; pedicel 10-30 cm. <B>Achenes:</B>
body ovoid, (1.8-)2-3 &times; 1.5-2 mm, not winged, woolly; beak usually
recurved, (0.3-)0.5-1 mm, hidden by achene indument, glabrous. 2<I>n</I>=16.</P>

<P>Flowering summer (Jun-Jul). Prairies, dry,
open woods, pastures, roadsides; 300-3000 m; Alta., B.C., Man., Ont., Que.,
Sask.; Ariz., Colo., Conn., Idaho, Ill., Ind., Iowa, Kans., Maine, Mass.,
Mich., Minn., Mo., Mont., Nebr., N.H., N.J., N.Mex., N.Y., N.Dak., Ohio,
Pa., R.I., S.Dak., Vt., Wis., Wyo.</P>

<P>The cymes of <I>Anemone cylindrica</I> may
appear 1-tiered because the second tier of involucres is closely nestled
among the leaves of the first tier. The cymes then resemble umbels with
unusually leafy involucral bracts; they might be misinterpreted as such.</P>

<P><I>Anemone cylindrica</I> was used medicinally
by Native Americans for headaches, sore eyes, and bad burns, as a psychological
aid, and as a relief for tuberculosis (D. E. Moerman 1986).<BR>
<BR>
<BR>
<B>