14c. <A NAME="27100661"></A><I>Anemone multifida</I> Poiret var. <I>tetonensis</I>
(Porter ex Britton) C. L. Hitchcock</B>, Vasc. Pl. Pacif. N.W. 2: 327.
1964<B> </B>- E</P>

<P><I>Anemone tetonensis</I> Porter ex Britton,
Ann. New York Acad. Sci. 6: 224. 1891</P>

<P><B>Aerial shoots</B> 10-20(-25) cm. <B>Basal
leaves</B> hispid to villous. <B>Inflorescences</B> (2-)3-flowered cymes
or flowers solitary; peduncle hispid to villous; involucral bracts 1(-2)-tiered,
hispid to villous. <B>Flowers:</B> sepals 5-7(-9), usually blue or purple,
sometimes white, or abaxially yellow and red, blue, or tinged purple, and
adaxially yellow, red, blue, or tinged purple, oblong to elliptic or ovate,
5-15 mm. <B>Achenes:</B> beak recurved. 2n=32.</P>

<P>Flowering spring-summer (Mar-Aug). Talus slopes,
canyons; 2200-3700 m; Idaho, Mont., Nev., Oreg., Utah, Wyo.<BR>
<BR>
<BR>
<B>