16a. <A NAME="27101605"></A><I>Anemone quinquefolia</I> Linnaeus var.
<I>quinquefolia</I> </B>- E F</P>

<P><I>Anemone nemorosa</I> Linnaeus var. <I>bifolia</I>
(Farwell) B.Boivin; <I>A</I>. <I>quinquefolia</I> var. <I>bifolia</I> Farwell</P>

<P><B>Aerial shoots</B> 5-30 cm. <B>Leaves:</B>
petiole 5-25 cm; terminal leaflet of basal leaves 1.5-4.5 &times; 1.4-3.7
cm, abaxially puberulous or glabrous, adaxially puberulous; lateral leaflets
frequently 1&times;-lobed or -parted or unlobed; ultimate lobes 5-15 mm
wide. <B>Inflorescences:</B> involucral bracts with terminal leaflet 1-5(-5.5)
&times; 1-3 cm, base cuneate or &plusmn; oblique, margins crenate to serrate,
sometimes incised, apex acuminate to acute, surfaces glabrous or puberulous;
lateral leaflets frequently 1&times;-lobed or -parted, sometimes unlobed;
ultimate lobes 5-20 mm wide. <B>Flowers:</B> sepals 6-25 &times; 4-8 mm;
stamens 30-60. <B>Pedicels</B> 2-6(-8) cm in fruit. <B>Achenes:</B> body
3-4.5 mm. 2<I>n</I>=32.</P>

<P>Flowering spring-early summer (Mar-Jun). Moist,
open woods, thickets, clearings, streamsides, occasionally swampy areas;
30-1900 m; Alta., Man., N.B., N.S., Ont., Que., Sask.; Ala., Conn., Del.,
D.C., Ga., Ill., Ind., Iowa, Ky., Maine, Md., Mass., Mich., Minn., Mo.,
N.H., N.J., N.Y., N.C., N.Dak., Ohio, Pa., R.I., S.C., S.Dak., Tenn., Vt.,
Va., W.Va., Wis.</P>

<P><I>Anemone quinquefolia</I> var. <I>interior</I>
Fernald is an often used, although illegitimate, name for <I>A</I>. <I>quinquefolia</I>
var. <I>bifolia</I>. This taxon, characterized by its villous flowering
stems, is scarcely worthy of varietal recognition inasmuch as local populations
may have plants referable to both var. <I>bifolia</I> and var. <I>quinquefolia</I>
(C. S. Keener 1975b).</P>

<P>Intergradation of characteristics between
<I>Anemone quinquifolia</I> var. <I>minima</I> and var. <I>quinquefolia</I>,
and between var. <I>quinquefolia</I> and <I>A</I>. <I>lancifolia</I> frequently
makes identification extremely difficult in the area where the taxa overlap.<BR>
<BR>
<BR>
<B>