7b. <A NAME="27100654"></A><I>Anemone edwardsiana</I>
Tharp var. <I>petraea</I> Correll</B>,
Madro&ntilde;o 19: 189. 1968<B> </B>- Edge Falls anemone - C E</P>

<P><B>Achenes</B> varnished, glabrous.</P>

<P>Flowering winter-spring (Feb-Apr). Moist,
rocky crevices; of conservation concern; 300-500m; Tex.<BR>
<BR>
<BR>
<B>