

<P><B>1. ANNONA Linnaeus</B>,
Sp. Pl. 1: 536. 1753; Gen. Pl. ed. 5, 241. 1754 - Custard-apple, soursop,
alligator-apple [native Hispaniolan <I>anon</I> or <I>hanon</I>, given
to <I>A</I>. <I>muricata</I>]</P>

<P><B>Trees or shrubs</B>, taprooted; trunks
buttressed or not buttressed at base. <B>Bark</B> thin, mostly broadly
and shallowly fissured, scaly, fissures anastomosing. <B>Shoots</B> slender,
stiff, terete; lenticels raised; buds naked. <B>Leaves</B> persistent or
deciduous to late deciduous. <B>Leaf blade</B> leathery or membranous,
glabrous to pubescent. <B>Inflorescences</B> axillary or supra-axillary,
occasionally from axillary buds on main stem or older stems, solitary flowers
or fascicles; peduncle bracteolate. <B>Flowers:</B> receptacle convex to
&plusmn;globose or elongate, elevated; sepals deciduous, 3(-4), smaller
than outer petals, valvate in bud; petals 6(-8) in 2 whorls, usually fleshy,
those of outer whorl larger, valvate in bud, those of inner whorl more
ascending, distinctly smaller or reduced, rarely absent, valvate or imbricate
in bud; nectaries present as darker-pigmented, usually corrugate zones
adaxially near petal bases; stamens very numerous, packed into ball, club-shaped,
curved; connective dilated, hooded or pointed beyond anther sac; pistils
numerous, sessile, partially connate to various degrees with at least stigmas
distinct; ovules 1(-2) per pistil; style and stigma club-shaped or narrowly
conic. <B>Fruits</B> fleshy syncarps, 1 per flower, usually ovoid to nearly
globose, surface variable depending on orientation, structure, and relative
connation of pistil apices. <B>Seed</B> usually 1 per pistil, ovoid to
ellipsoid, beanlike, coat tough, margins various, narrow. <I>x</I>=7.</P>

<P>Species 110 (2 in the flora): mostly neotropic;
North America; 10 in Africa.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Safford, W. E. 1914. Classification of the genus <I>Annona</I>, with
descriptions of new and imperfectly known species. Contr. U.S. Natl. Herb.
18: i-ix, 1-68. Sargent, C. S. 1922. Manual of the Trees of North America
(Exclusive of Mexico), ed. 2. Boston and New York. Pp. 354-356. [Reprints
in 2 vols., 1961, 1965. New York.] Wood, C. E. 1958. The genera of the
woody Ranales in the southeastern United States. J.Arnold Arbor.39: 296-346.</P>

<P><B>