

<P><B>2. ANNONACEAE Jussieu
- Custard-apple family</B></P>

<P><B>Trees, shrubs, rarely woody vines</B>,
deciduous or evergreen, with aromatic bark, leaves, and flowers. <B>Pith</B>
septate to diaphragmed. <B>Leaves</B> alternate, simple, without stipules,
petiolate. <B>Leaf blade</B> pinnately veined, unlobed, margins entire.
<B>Inflorescences</B> axillary to leaf scars on old wood or to leaves on
new shoots, solitary flowers or few-flowered fascicles, pedunculate; bracts
or bracteoles present or absent. <B>Flowers</B> bisexual, rarely unisexual;
receptacle becoming enlarged, elevated or flat; perianth hypogynous, segments
valvate or imbricate; sepals persistent, (2-)3(-4), distinct or basally
connate; petals either 6 in 2 unequal whorls of 3 with petals of outer
whorl larger, petals of inner whorl fleshier than the outer, often with
corrugate nectary zone, or petals 6-12(-15), nearly equal or unequal, veins
impressed on inner face; stamens 10-20 or very numerous, hypogynous, spirally
arranged, forming ball or flat-topped mass; filament short, stout; anther
linear to oblong-linear, extrorse, longitudinally dehiscent; connective
apically elongate, connivent; pistils 1-many, superior, 1-carpellate, 1-locular,
distinct or connate to various degrees with at least stigmas distinct;
placentation marginal, placenta 1; ovules 1-many per pistil; style short,
thick; stigma terminal. <B>Fruits</B> berries, distinct, 1-8(-12) per flower,
or coalescent, forming syncarps, 1 per flower. <B>Seeds</B> 1-many per
pistil, arillate; endosperm ruminate, oily.</P>

<P>Genera ca. 128, species ca. 2300 (3 genera,
12 species in the flora): mostly circumtropical.</P>

<P>The family has particular importance in the
tropics because of the edible syncarps of some species of <I>Annona</I>;
in the eastern United States the fruit of <I>Asimina triloba</I> (pawpaw)
was once much gathered and appreciated. Programs in breeding from selected
stock of <I>Asimina</I> have been undertaken (G. A. Zimmerman 1941).</P>

<P>Currently, the Pawpaw Foundation is intensively
researching means to develop commercially marketable fruits. Recent studies
of the chemical properties of <I>Asimina</I> reveal its pesticidal possibilities,
and its potential as an anticancer agent (E. M. Norman, pers. comm.) The
warm-climate genera <I>Cananga</I>, <I>Rollinia</I>, and <I>Artabotrys</I>
have been used as ornamentals.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Fries, R. E. 1931. Revision der Arten einiger Annonaceen-Gattungen.
Acta Horti Berg. 10: 1-341. Fries, R. E. 1934. Revision der Arten einiger
Annonaceen-Gattungen. Acta Horti Berg. 12(1): 1-220. Fries, R. E. 1939.
Revision der Arten einiger Annonaceen-Gattungen. Acta Horti Berg. 12(3):
289-577. Hutchinson, J. 1923. Contributions toward a phylogenetic classification
of flowering plants. II. The genera of Annonaceae. Bull. Misc. Inform.
Kew: 241-261. Kral, R. 1960. A revision of <I>Asimina</I> and <I>Deeringothamnus</I>
(Annonaceae). Brittonia 12(4): 233-278. Rusby, H. H. 1935. The custard-apple
family in Florida. J. New York Bot. Gard. 36: 233-239.<BR>
</P>

<P><BR>
<BR>
<BR>
</P>

