1.<A NAME="01600683"></A><I>Annona glabra</I>
Linnaeus</B>, Sp. Pl. 1: 537. 1753 - Pond-apple
- F</P>

<P><I>Annona palustris</I> Linnaeus</P>

<P><B>Shrubs or trees</B>, to ca. 15 m; trunks
commonly buttressed at base. <B>Principal leaves</B> late deciduous; petiole
10-20mm. <B>Leaf blade</B> ovate to elliptic, 5-15 &times; 6(-8) cm, base
broadly cuneate to rounded, apex acute to short-acuminate; surfaces glabrous.
<B>Inflorescences</B> from leaf axils on new shoots, solitary flowers;
peduncle stout, linear, club-shaped, to 2cm, becoming enlarged. <B>Flowers:</B>
sepals reniform-cordate, 5-6 mm, glabrous; outer petals cream-white, ovate-cordate,
adaxially concave, 2.5-3 cm, apex acute; inner petals cream-white, inside
base deep purple, oblong-ovate, 2-2.5 cm, base cupped, incurved-cuneate,
at least 2&times;3 length of outer petals, corrugate; stamens linear, 3-4
mm; connective thickened above anther tip; pistils conically massed, connate.
<B>Syncarp</B> pendulous on thickened peduncle, dull yellow blotched with
brown, &plusmn; ovoid, 5-12 cm, smooth with reticulate pattern formed by
pistil boundaries. <B>Seed</B> ellipsoid to obovoid, 1-1.5 cm. 2<I>n</I>=28.</P>

<P>Flowering spring-early summer. Wet substrates,
brackish to fresh, in pond borders, tidally influenced stream banks, banks
of estuaries and lakes; 0-50 m; Fla; West Indies; Mexico; Central America;
South America; w Africa; South Asia (Sri Lanka).</P>

<P><I>Annona glabra</I> (<I>Annona</I> sect.
<I>Phelloxylon</I> Safford) has edible although scarcely desirable, yellow-fleshed
fruits. The sectional name (Greek <I>phellos</I>, cork and <I>xylon</I>,
wood) is descriptive because small sections of the very light wood have
been used as floats by fishermen. Forms with smaller leaves and fruit have
been considered a species referable to <I>A</I>. <I>palustris</I> (J. K.
Small 1933); W. E. Safford (1914) considered them to be of no taxonomic
consequence.<BR>
</P>

<P><B>