2.<A NAME="01600002"></A><I>Annona squamosa</I>
Linnaeus</B>, Sp. Pl. 1: 537. 1753 - Sweetsop,
sugar-apple</P>

<P><I>Annona asiatica</I> Linnaeus</P>

<P><B>Shrubs or trees</B>, to ca. 8 m; trunks
short, not buttressed at base. <B>Principal leaves</B> late deciduous;
petiole 4-22 mm. <B>Leaf blade</B> narrowly elliptic to oblong or lanceolate,
5-17 &times; 2-5.5 cm, base broadly cuneate to rounded, apex acute to obtuse;
surfaces glaucous, abaxially variably pubescent, adaxially glabrate. <B>Inflorescences</B>
solitary flowers or fascicles; peduncle slender, to 2 cm, becoming enlarged
in fruit. <B>Flowers:</B> sepals deltate, 1.5-2 mm, apex acute, surfaces
abaxially pubescent or glabrous; outer petals pale green above purplish
base, oblong or lance-oblong, 1.5-3 cm, base slightly concave, surfaces
abaxially furrowed, pubescent, adaxially thickened, keeled; inner petals
ovate, keeled, minute, nearly as long as stamens; stamens club-shaped,
curved, 1-3 mm; connective dilated, flattened and truncate; pistils conically
massed, separable at anthesis, later connate. <B>Syncarp</B> pendulous
on thickened peduncle, greenish yellow, glaucous, mostly &plusmn;globose,
5-10 cm, muricate. <B>Seed</B> ellipsoid to obovoid, 1-1.4 cm.</P>

<P>Flowering spring-early summer. Dryish sandy
substrates, dry hammocks; 0-50 m; introduced; Fla.; native to West Indies;
naturalized or cultivated circumtropically.</P>

<P>The fruit of <I>Annona squamosa</I> (<I>Annona</I>
sect. <I>Atta</I> C. Martius) has delicious whitish pulp, and it is popular
in tropical markets.<BR>
</P>

