16b. <A NAME="27103393"></A><I><B>Aquilegia formosa</B></I><B>
Fischer ex de Candolle var. <I>truncata</I> (Fischer &amp; Meyer)
Baker</B></B>, Gard. Chron.,
ser. 2, 10: 111.  1878 - E F
<P>
<I>Aquilegia truncata</I>
Fischer &amp; Meyer in F.&nbsp;E.&nbsp;L. von Fischer et al.,
Index Sem. Hort. Petrop. 9, suppl.: 8.  1844; <I>A</I>.&nbsp;<I>formosa</I>
var. <I>pauciflora</I> (Greene) Munz
<P>
<B>Stems and petioles</B>
glabrous or sparsely pilose, not viscid.  <B>Flowers:</B> sepals
10-20&nbsp;mm, 0.7-1.1 times as long as spurs; petal blades 0-3&nbsp;mm.
 2<I>n</I>&nbsp;=&nbsp;14.  
<P>
 Flowering spring-summer (Apr-Aug).
 Mesic woods or shrublands; 0-3500&nbsp;m; Calif., Nev., Oreg.
<P>
 <I>Aquilegia formosa</I> var. <I>truncata</I>
replaces <I>A</I>.&nbsp;<I>formosa</I> var. <I>formosa</I> from
the Sierra Nevada westward.  The two varieties intergrade where
they come together. 
<P>
 The common form of <I>Aquilegia formosa</I>
var. <I>truncata</I> is 50-100&nbsp;cm, with well-developed stem
leaves.  Montane forms with short stems and very small stem leaves
are often separated as <I>A</I>.&nbsp;<I>formosa</I> var. <I>pauciflora</I>.
 Similar dwarf montane races with the floral characters of <I>A</I>.&nbsp;<I>formosa</I>
var. <I>formosa</I> occur in the Pacific Northwest; these have
never been separated taxonomically. <BR>

<P>
<B>