21. <A NAME="27100055"></A><I><B>Aquilegia canadensis</B></I><B>
Linnaeus</B></B>, Sp. Pl. 1:
533-534.  1753 - Canadian columbine, ancolie du Canada - E F
<P>
<I>Aquilegia australis</I>
Small; <I>A</I>.&nbsp;<I>canadensis</I> var. <I>australis</I>
(Small) Munz; <I>A</I>.&nbsp;<I>canadensis</I> var. <I>coccinea</I>
(Small) Munz; <I>A</I>.&nbsp;<I>canadensis</I> var. <I>eminens</I>
(Greene) B.&nbsp;Boivin; <I>A</I>.&nbsp;<I>canadensis</I> var.
<I>latiuscula</I> (Greene) Munz; <I>A</I>.&nbsp;<I>coccinea</I>
Small
<P>
<B>Stems</B>
15-90&nbsp;cm.  <B>Basal leaves</B> 2&#215;-ternately compound,
7-30&nbsp;cm, much shorter than stems; leaflets green adaxially,
17-52&nbsp;mm, not viscid; primary petiolules 17-93&nbsp;mm (leaflets
not crowded), glabrous or pilose, sometimes somewhat viscid. 
<B>Flowers</B> pendent; sepals divergent from floral axis, red
or apex green, lance-ovate to oblong-ovate, 8-18&nbsp;&#215; 3-8&nbsp;mm,
apex broadly acute to acuminate; petals: spurs red, straight,
&#177;&nbsp;parallel to divergent, 13-25&nbsp;mm, stout (at least
proximally), abruptly narrowed near middle, blades pale yellow
or yellow-green, oblong to rounded, 5-9&nbsp;&#215; 4-8&nbsp;mm;
stamens 15-23&nbsp;mm.  <B>Follicles</B> 15-31&nbsp;mm; beak 10-18&nbsp;mm.
 2<I>n</I>&nbsp;=&nbsp;14.  
<P>
 Flowering spring-summer (Mar-Jun).
 Shaded or open woods, often around cliffs, rock outcrops, and
forest edges; 0-1600&nbsp;m; Man., Ont., Que., Sask.; Ala., Ark.,
Conn., Del., Fla., Ga., Ill., Ind., Iowa, Kans., Ky., Maine, Md.,
Mass., Mich., Minn., Mo., Nebr., N.H., N.J., N.Y., N.C., N.Dak.,
Ohio, Okla., Pa., R.I., S.C., S.Dak., Tenn., Tex., Vt., Va., W.Va.,
Wis.
<P>
 P.&nbsp;A. Munz divided this species
into five varieties, based on size of the plants, sepals, and
leaflets and whether the leaves are 2-3&#215;-ternately compound.
 The variation in size of these organs is not discontinuous or
even bimodal, however, and I have not seen any material with 3&#215;-ternately
compound leaves.  For this reason, no varieties are recognized
here.  The name <I>Aquilegia canadensis</I> var. <I>hybrida</I>
Hooker has been misapplied to this species; the type specimen
actually belongs to <I>A</I>.&nbsp;<I>brevistyla</I> (B.&nbsp;Boivin
1953).
<P>
 <I>Aquilegia canadensis</I> has also
been reported from New Brunswick, but the specimen has been destroyed
and the species has never been recollected in the province.
<P>
 Native Americans prepare infusions
from various parts of plants of <I>Aquilegia canadensis</I> to
treat heart trouble, kidney problems, headaches, bladder problems,
and fever, and as a wash for poison ivy; pulverized seeds were
used as love charms; and a compound was used to detect bewitchment
(D.&nbsp;E. Moerman 1986).
