1. <A NAME="27100699"></A><I><B>Aquilegia saximontana</B></I><B>
Rydberg in A.&nbsp;Gray et al</B></B>.,
Syn. Fl. N. Amer. 1: 43.  1895 - C E F
<P>
<B>Stems</B>
5-25&nbsp;cm.  <B>Basal leaves</B> 1-2&#215;-ternately compound,
5-25&nbsp;cm, no longer than stems; leaflets green adaxially,
7-22&nbsp;mm, not viscid; primary petiolules 7-40&nbsp;mm (leaflets
usually crowded), glabrous.  <B>Flowers</B> nodding; sepals divergent
from floral axis, blue, oblong-ovate, 9-18&nbsp;&#215; 5-8&nbsp;mm,
apex obtuse to acute; petals: spurs blue, hooked, 3-9&nbsp;mm,
stout, evenly tapered from base, blades yellowish, oblong or spatulate,
7-10&nbsp;&#215; 3-5&nbsp;mm; stamens 5-8&nbsp;mm.  <B>Follicles</B>
7-10&nbsp;mm; beak 3-5&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;14.  
<P>
 Flowering summer (Jul-Aug).  Cliffs
and rocky slopes, subalpine and alpine; of conservation concern;
3300-4000&nbsp;m; Colo.<BR>

<P>
<B>