7b. <A NAME="27100683"></A><I><B>Aquilegia coerulea</B></I><B>
E.&nbsp;James var. <I>ochroleuca</I> Hooker</B></B>,
Bot. Mag., plate 5477.  1864 - E
<P>
<B>Leaves</B>
2&#215;-ternately compound.  <B>Flowers:</B> sepals white or pale
blue, 26-40&nbsp;mm; petals: spurs 36-54&nbsp;mm, blades 19-25&nbsp;mm;
stamens 13-18&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;14.  
<P>
 Flowering summer (late Jun-Aug).  Rocky
slopes or near streams, in open woodland or herbland; 2000-3600&nbsp;m;
Idaho, Mont., Nev., Utah, Wyo.<BR>

<P>
<B>