6. <A NAME="27100700"></A><I><B>Aquilegia scopulorum</B></I><B>
Tidestrom</B></B>, Amer. Midl.
Naturalist 1: 167, plate 11.  1910 - E F
<P>
<I>Aquilegia scopulorum</I>
var. <I>calcarea</I> (M.&nbsp;E. Jones) Munz  
<P>
<B>Stems</B>
5-30&nbsp;cm.  <B>Basal leaves</B> 2&#215;-ternately compound,
3-12&nbsp;cm, much shorter than stems; leaflets to 5-14&nbsp;mm,
not viscid, glaucous on both sides; primary petiolules 3-15&nbsp;mm
(leaflets densely crowded), glabrous or pilose.  <B>Flowers</B>
erect; sepals perpendicular to floral axis, blue to white or sometimes
reddish purple, ovate-oblong, 13-22&nbsp;&#215; 4-10&nbsp;mm,
apex obtuse or broadly acute; petals: spurs blue to white or reddish
purple, straight, &#177;&nbsp;parallel, 25-40&nbsp;mm, slender,
evenly tapered from base, blades white, yellow, blue, or reddish
purple, oblong or spatulate, 8-14&nbsp;&#215; 4-7&nbsp;mm; stamens
11-15&nbsp;mm.  <B>Follicles</B> 10-18&nbsp;mm; beak 8-11&nbsp;mm.

<P>
 Flowering summer (Jun-Aug).  Rocky
slopes, woodlands, or meadows; 2000-3500&nbsp;m; Nev., Utah.
<P>
 Populations intermediate between <I>Aquilegia
scopulorum</I> and <I>A</I>.&nbsp;<I>coerulea</I> are known from
Utah.  <I>Aquilegia scopulorum</I> has also been reported from
southern Wyoming; the record is doubtful. <BR>

<P>
<B>