16c. <A NAME="27100690"></A><I><B>Aquilegia formosa</B></I><B>
Fischer ex de Candolle var. <I>hypolasia</I> (Greene) Munz</B></B>,
Gentes Herb. 7: 106.  1946 
<P>
<I>Aquilegia hypolasia</I>
Greene, Leafl. Bot. Observ. Crit. 2: 141-142.  1911
<P>
<B>Stems and petioles</B>
densely pilose, somewhat viscid.  <B>Flowers:</B> sepals 13-20&nbsp;mm,
0.7-1 times as long as spurs; petal blades 0-3&nbsp;mm.
<P>
 Flowering summer (Jun-Aug).  Mesic
woods or shrublands; 0-2000&nbsp;m; Calif.; Mexico (Baja California).

<P>
 <I>Aquilegia formosa</I> var. <I>hypolasia</I>
is endemic to the peninsular ranges of California and adjacent
Baja California.  It is very close to <I>A</I>.&nbsp;<I>formosa</I>
var. <I>truncata</I>; occasional plants of var. <I>hypoplasia</I>
from the Peninsular Ranges may be almost glabrous, and occasional
plants of var. <I>truncata</I> may be almost as pubescent as var.
<I>hypoplasia</I>.<BR>

<P>
<B>