7d. <A NAME="27100684"></A><I><B>Aquilegia coerulea</B></I><B>
E.&nbsp;James var. <I>pinetorum</I> (Tidestrom) Payson ex Kearney
&amp; Peebles</B></B>, Fl. Pl.
Ferns Ariz., 318.  1942 - E
<P>
<I>Aquilegia pinetorum</I>
Tidestrom, Amer. Midl. Naturalist 1: 166-167.  1910
<P>
<B>Leaves</B>
2-3&#215;-ternately compound.  <B>Flowers:</B> sepals white, pale
blue, or pink, (22-)29-51&nbsp;mm; petals: spurs 43-72&nbsp;mm,
blades 20-28&nbsp;mm; stamens 17-24&nbsp;mm.
<P>
 Flowering spring-summer (May-Sep).
 Rocky slopes or near streams, in open woodland or herbland; 1800-3400&nbsp;m;
Ariz., Utah. 
<P>
 <I>Aquilegia coerulea</I> var. <I>pinetorum</I>
is very close to <I>A</I>.&nbsp;<I>coerulea</I> var. <I>ochroleuca</I>;
leaf differences given by P.&nbsp;A. Munz (1946) do not hold up.
 The varieties may be reliably distinguished if data on variation
in the whole population are available (mean spur length 40-48&nbsp;mm
in populations of <I>A</I>.&nbsp;<I>coerulea</I> var. <I>ochroleuca</I>,
50-58&nbsp;mm in populations of <I>A</I>.&nbsp;<I>coerulea</I>
var. <I>pinetorum</I>), but the range for individual flowers overlaps
somewhat.<BR>

<P>
<B>