4. <A NAME="27100059"></A><I><B>Aquilegia vulgaris</B></I><B>
Linnaeus</B></B>, Sp. Pl. 1:
533.  1753 - Ancolie vulgaire - W1
<P>
<B>Stems</B>
30-72&nbsp;cm.  <B>Basal leaves</B> 2&#215;-ternately compound,
10-30&nbsp;cm, much shorter than stems; leaflets green adaxially,
to 15-47&nbsp;mm, not viscid; primary petiolules 22-60&nbsp;mm
(leaflets not crowded), pilose or rarely glabrous.  <B>Flowers</B>
nodding; sepals divergent from or perpendicular to floral axis,
mostly blue or purple, lance-ovate, (10-)15-25&nbsp;&#215; 8-12&nbsp;mm,
apex broadly acute or obtuse; petals: spurs mostly blue or purple,
hooked, 14-22&nbsp;mm, stout, evenly tapered from base, blades
mostly blue or purple, oblong, 10-13&nbsp;&#215; 6-10&nbsp;mm;
stamens 9-13&nbsp;mm.  <B>Follicles</B> 15-25&nbsp;mm; beak 7-15&nbsp;mm.
 2<I>n</I>&nbsp;=&nbsp;14 (Europe).  
<P>
 Flowering spring-summer (May-Jul).
 Disturbed habitats; 0-1500&nbsp;m; introduced; B.C., Man., N.B.,
Nfld., N.S., Ont., P.E.I., Que.; Conn., Ill., Iowa, Maine, Mass.,
Mich., Minn., N.H., N.J., N.Y., N.C., Ohio, Pa., R.I., Vt., Wash.,
W.Va.; native to Europe.
<P>
  <I>Aquilegia vulgaris</I> is cultivated
as an ornamental and occasionally escapes into disturbed habitats.
 Most plants have blue or purple flowers (the wild type), but
horticultural races with white or reddish flowers sometimes become
established.  Many cultivated columbines are derived from hybrids
between <I>A</I>.&nbsp;<I>vulgaris</I> and related species.  Some
of our escaped plants are probably descended from such hybrids.
<BR>

<P>
<B>