13. <A NAME="27100697"></A><I><B>Aquilegia micrantha</B></I><B>
Eastwood</B></B>, Proc. Calif.
Acad. Sci., ser. 2, 4: 559-560, plate 19.  1895 - E F
<P>
<I>Aquilegia flavescens</I>
S.&nbsp;Watson var. <I>rubicunda</I> (Tidestrom) S.&nbsp;L. Welsh;
<I>A</I>.&nbsp;<I>micrantha</I> var. <I>mancosana</I> Eastwood
<P>
<B>Stems</B>
30-60&nbsp;cm.  <B>Basal leaves</B> 2-3&#215;-ternately compound,
10-35&nbsp;cm, much shorter than stems; leaflets green adaxially,
to 13-32&nbsp;mm, viscid; primary petiolules 21-64&nbsp;mm (leaflets
not crowded), glandular-pubescent or glandular.  <B>Flowers</B>
erect or nodding; sepals perpendicular to floral axis, white,
cream, blue, or pink, oblong-lanceolate, 8-20&nbsp;&#215; 3-6&nbsp;mm,
apex acuminate to obtuse; petals: spurs white or colored like
sepals, straight, &#177;&nbsp;parallel or divergent, 15-30&nbsp;mm,
slender, evenly tapered from base or occasionally &#177;&nbsp;abruptly
narrowed near middle, blades white or cream, oblong, 6-10&nbsp;&#215;
3-7&nbsp;mm; stamens 9-14&nbsp;mm.  <B>Follicles</B> 10-20&nbsp;mm;
beak 8-10&nbsp;mm. 
<P>
 Flowering spring-summer (Apr-Sep).
 Seepy rock walls of canyons; 1000-2500&nbsp;m; Ariz., Colo.,
Utah.<BR>

<P>
<B>