11. <A NAME="27100693"></A><I><B>Aquilegia hinckleyana</B></I><B>
Munz</B></B>, Gentes Herb. 7:
141.  1946 - Hinckley's columbine - C E
<P>
<I>Aquilegia chrysantha</I>
A.&nbsp;Gray var. <I>hinckleyana</I> (Munz) E.&nbsp;J. Lott
<P>
<B>Stems</B>
50-70&nbsp;cm.  <B>Basal leaves</B> 2&#215;-ternately compound,
30-40&nbsp;cm, much shorter than stems; leaflets green adaxially,
to 20-40&nbsp;mm, not viscid; primary petiolules 25-50&nbsp;mm
(leaflets not crowded), pilose.  <B>Flowers</B> suberect; sepals
perpendicular to floral axis, yellow, ovate, 25-34&nbsp;&#215;
14-18&nbsp;mm, apex obtuse; petals: spurs yellow, straight, &#177;&nbsp;parallel,
40-56&nbsp;mm, slender, evenly tapered from base, blades yellow,
oblong, 19-23&nbsp;&#215; 13-17&nbsp;mm; stamens 17-20&nbsp;mm.
 <B>Follicles</B> 20-25&nbsp;mm; beak 20&nbsp;mm. 
<P>
 Flowering spring (Mar-Apr).  Dripping
cliffs; of conservation concern; 1000&nbsp;m; Tex. 
<P>
 <I>Aquilegia hinckleyana</I> is endemic
to Capote Falls, Presidio County, Texas.  The key and description
above are based on specimens seen.  E.&nbsp;J. Lott (1979) gave
the range of sepal width in <I>A</I>.&nbsp;<I>hinckleyana</I>
as 9-17&nbsp;mm, thus overlapping the range in <I>A</I>.&nbsp;<I>chrysantha</I>.
 She considered sepal shape to be the most reliable key character
for distinguishing these species, with sepals less than 2.5 times
as long as wide in <I>A</I>.&nbsp;<I>hinckleyana</I> and more
than 2.5 times as long as wide in <I>A</I>.&nbsp;<I>chrysantha</I>.
 Perhaps because of the overlap in characters, she later reduced
<I>A</I>.&nbsp;<I>hinckleyana</I> to a variety of <I>A</I>.&nbsp;<I>chrysantha</I>
(E.&nbsp;J. Lott 1985).  Until her data are published, I prefer
to follow the established taxonomy. <BR>

<P>
<B>