18. <A NAME="27100687"></A><I><B>Aquilegia eximia</B></I><B>
Van Houtte ex Planchon</B></B>,
J. G&eacute;n. Hort. 12: 13, plate 1188.  1857 - E F
<P>
<I>Aquilegia fontinalis</I>
J.&nbsp;T. Howell 
<P>
<B>Stems</B>
50-100&nbsp;cm.  <B>Basal leaves</B> 2-3&#215;-ternately compound,
15-35&nbsp;cm, much shorter than stems; leaflets green adaxially,
to 10-48&nbsp;mm, somewhat viscid; primary petiolules 21-90&nbsp;mm
(leaflets not crowded), glandular-pubescent.  <B>Flowers</B> nodding;
sepals perpendicular to floral axis, red, lance-ovate, 15-28&nbsp;&#215;
5-10&nbsp;mm, apex narrowly acute or acuminate; petals: spurs
red, straight, &#177;&nbsp;parallel, 18-32&nbsp;mm, stout, abruptly
narrowed near middle, mouth yellow, cut obliquely backward from
insertion, blade thus absent; stamens 17-30&nbsp;mm.  <B>Follicles</B>
15-25&nbsp;mm; beak 12-20&nbsp;mm. 
<P>
 Flowering spring-summer (May-Aug).
 Damp rocky places; 0-2000&nbsp;m; Calif.<BR>

<P>
<B>