16a. <A NAME="27101510"></A><I><B>Aquilegia formosa</B></I><B>
Fischer ex de Candolle var. <I>formosa</I> </B></B>-
E
<P>
<I>Aquilegia formosa</I>
var. <I>communis</I> B.&nbsp;Boivin; <I>A</I>.&nbsp;<I>formosa</I>
var. <I>megalantha</I> B.&nbsp;Boivin; <I>A</I>.&nbsp;<I>formosa</I>
var. <I>wawawensis</I> (Payson) H.&nbsp;St. John
<P>
<B>Stems and petioles</B>
glabrous or pilose, not viscid.  <B>Flowers:</B> sepals 14-26&nbsp;mm,
0.9-1.3 times as long as spurs;  petal blades 3-6(-7)&nbsp;mm.
 2<I>n</I>&nbsp;=&nbsp;14.  
<P>
 Flowering spring-summer (Apr-Aug).
 Mesic woods; 0-2500&nbsp;m; Alta., B.C., Yukon; Alaska, Calif.,
Idaho, Mont., Nev., Oreg., Utah, Wash., Wyo.<BR>

<P>
<B>