2. <A NAME="27100695"></A><I><B>Aquilegia laramiensis</B></I><B>
A.&nbsp;Nelson</B></B>, Wyoming
Agric. Exp. Sta. Bull. 28: 78-79.  1896 - Laramie columbine -
C E
<P>
<B>Stems</B>
5-25&nbsp;cm.  <B>Basal leaves</B> 1-2&#215;-ternately compound,
5-25&nbsp;cm, about as long as stems; leaflets green adaxially,
to 9-27&nbsp;mm, not viscid; primary petiolules 17-35&nbsp;mm
(leaflets not crowded), glabrous.  <B>Flowers</B> nodding; sepals
divergent from floral axis, greenish white, linear or lanceolate,
7-15&nbsp;&#215; 1-4&nbsp;mm, apex acute to rounded; petals: spurs
white, hooked, 5-8&nbsp;mm, stout, evenly tapered from base, blades
cream colored, oblong to elliptic, 5-12&nbsp;&#215; 3-7&nbsp;mm;
stamens 10-11&nbsp;mm.  <B>Follicles</B> 10-14&nbsp;mm; beak 3-5&nbsp;mm.
 2<I>n</I>&nbsp;=&nbsp;14.  
<P>
  Flowering summer (Jun-Jul).  Rock
crevices; of conservation concern; 2000-2500&nbsp;m; Wyo.
<P>
 <I>Aquilegia laramiensis</I> is endemic
to the Laramie Mountains. <BR>

<P>
<B>