19. <A NAME="27100686"></A><I><B>Aquilegia elegantula</B></I><B>
Greene</B></B>, Pittonia 4: 14-15.
 1899 - F
<P>
<B>Stems</B>
10-60&nbsp;cm.  <B>Basal leaves</B> 2&#215;-ternately compound,
15-30&nbsp;cm, usually shorter than stems; leaflets green adaxially,
to 11-33&nbsp;mm, not viscid; primary petiolules 17-58&nbsp;mm
(leaflets not crowded), glabrous or pilose.  <B>Flowers</B> pendent;
sepals erect, red proximally, yellow-green distally, elliptic-ovate,
7-11&nbsp;&#215; 4-5&nbsp;mm, apex rounded to acute; petals: spurs
red, straight, &#177;&nbsp;parallel, 16-23&nbsp;mm, stout (at
least proximally), abruptly narrowed near middle, blades yellow-green,
oblong or rounded, 6-8&nbsp;&#215; 3-4&nbsp;mm; stamens 8-14&nbsp;mm.
 <B>Follicles</B> 13-20&nbsp;mm; beak 13-15&nbsp;mm.
<P>
 Flowering spring-summer (May-Jul).
 Moist coniferous forests, especially along streams; 1500-3500&nbsp;m;
Ariz., Colo., N.Mex., Utah; n&nbsp;Mexico.<BR>

<P>
<B>