15. <A NAME="27100688"></A><I><B>Aquilegia flavescens</B></I><B>
S. Watson</B></B>, Botany (Fortieth Parallel), 10.  1871 - E F
<P>
<I>Aquilegia flavescens</I>
var. <I>miniana</I> J.&nbsp;F. Macbride &amp; Payson
<P>
<B>Stems</B>
20-70&nbsp;cm.  <B>Basal leaves</B> 2&#215;-ternately compound,
8-30&nbsp;cm, much shorter than stems; leaflets green adaxially,
to 14-42&nbsp;mm, not viscid; primary petiolules to 13-67&nbsp;mm
(leaflets not crowded), glabrous or pilose.  <B>Flowers</B> nodding;
sepals perpendicular to floral axis, yellow or tinged with pink,
elliptic-lanceolate to oblong, 12-22&nbsp;&#215; 4-10&nbsp;mm,
apex obtuse to acute or sometimes acuminate; petals: spurs yellow,
tips incurved, 10-18&nbsp;mm, stout, evenly tapered from base
or more abruptly narrowed near middle, blades cream colored, oblong,
7-10&nbsp;&#215; 4-8&nbsp;mm; stamens 12-17&nbsp;mm.  <B>Follicles</B>
18-27&nbsp;mm; beak 8-10&nbsp;mm. 
<P>
 Flowering summer (Jun-Aug).  Moist
mountain meadows and alpine slopes; 1300-3500&nbsp;m; Alta., B.C.;
Idaho, Mont., Oreg., Utah, Wash., Wyo.
<P>
 <I>Aquilegia flavescens</I> sometimes
forms hybrid swarms with <I>A</I>.&nbsp;<I>formosa</I> var. <I>formosa</I>,
which grows at lower elevations through much of its range.  Intermediate
specimens having pinkish red flowers and petal blades 5-6&nbsp;mm
are occasionally found where these species grow together.  The
name <I>A</I>.&nbsp;<I>flavescens</I> var. <I>miniana</I> has
sometimes been mistakenly applied to these intermediates, but
the type of var. <I>miniana</I> is a typical, pink-sepaled plant
of <I>A</I>.&nbsp;<I>flavescens</I>.<BR>

<P>
<B>
