14. <A NAME="27103390"></A><I><B>Aquilegia barnebyi</B></I><B>
Munz</B></B>, Leafl. W. Bot.
5: 177-178.  1949 - E
<P>
<B>Stems</B>
30-80&nbsp;cm.  <B>Basal leaves</B> 2-3&#215;-ternately compound,
5-30&nbsp;cm, much shorter than stems; leaflets to 8-20&nbsp;mm,
glaucous on both sides, not viscid; primary petiolules 17-34&nbsp;mm
(leaflets not crowded), glabrous.  <B>Flowers</B> erect or nodding;
sepals perpendicular to floral axis, pink, ovate-lanceolate to
elliptic, 10-18&nbsp;&#215; 5-7&nbsp;mm, apex acute or acuminate;
petals: spurs pink, straight, &#177;&nbsp;parallel, 14-27&nbsp;mm,
stout proximally, slender distally, evenly tapered from base,
blades yellow or cream, oblong, 6-10&nbsp;&#215; 4-6&nbsp;mm;
stamens 11-16&nbsp;mm.  <B>Follicles</B> 18-25&nbsp;mm; beak 8-12&nbsp;mm.

<P>
 Flowering summer (Jun-Jul).  Cliff
walls and talus slopes, usually on shale; 1500-2600&nbsp;m; Colo.,
Utah.
<P>
 <I>Aquilegia barnebyi</I> is endemic
to the Green River drainage.  It is very similar to <I>A</I>.&nbsp;<I>micrantha</I>,
and intermediate plants are found in Colorado.<BR>

<P>
<B>