3. <A NAME="27100054"></A><I><B>Aquilegia brevistyla</B></I><B>
Hooker</B></B>, Fl. Bor.-Amer.
1: 24.  1829 - E F
<P>
<B>Stems</B>
20-80&nbsp;cm.  <B>Basal leaves</B> 2&#215;-ternately compound,
5-30&nbsp;cm, much shorter than stems; leaflets green adaxially,
to 12-44&nbsp;mm, not viscid; primary petiolules 10-55&nbsp;mm
(leaflets not crowded), distally pilose or occasionally glabrous.
 <B>Flowers</B> nodding; sepals divergent from floral axis, blue,
lanceolate or narrowly elliptic, 13-16&nbsp;&#215; 3-6&nbsp;mm,
apex acuminate or acute; petals: spurs blue, hooked, 5-10&nbsp;mm,
stout, evenly tapered from base, blades white or pale yellow,
oblong, 7-10&nbsp;&#215; 3-6&nbsp;mm; stamens 7-11&nbsp;mm.  <B>Follicles</B>
15-25&nbsp;mm; beak 3-4&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;14, 16.
 
<P>
 Flowering summer (Jun-Aug).  Open woods,
meadows, shores, and rock outcrops; 800-3500&nbsp;m; Alta., B.C.,
Man., N.W.T., Ont., Sask., Yukon; Alaska, Mont., S.Dak., Wyo.
<P>
 <I>Aquilegia brevistyla</I> has been
reported from Minnesota.   All Minnesota material seen, however,
has been misidentified.  
<P>
 The chromosome number in this species
needs to be reinvestigated. <BR>

<P>
<B>