12. <A NAME="27100696"></A><I><B>Aquilegia longissima</B></I><B>
A.&nbsp;Gray ex S.&nbsp;Watson</B></B>,
Proc. Amer. Acad. Arts 17: 317-318.  1882 - Long-spur columbine

<P>
<B>Stems</B>
25-90&nbsp;cm.  <B>Basal leaves</B> 3&#215;-ternately compound,
20-45&nbsp;cm, usually shorter than stems; leaflets green adaxially,
to 20-40&nbsp;mm, not viscid; primary petiolules 28-82&nbsp;mm
(leaflets not crowded), glabrous or sometimes pilose.  <B>Flowers</B>
erect; sepals perpendicular to floral axis, pale yellow, lanceolate,
25-40&nbsp;&#215; 6-11&nbsp;mm, apex narrowly acute or acuminate;
petals: spurs pale yellow, straight, &#177;&nbsp;parallel, 72-180&nbsp;mm,
very slender, evenly tapered from base, blades pale yellow, spatulate,
15-30&nbsp;&#215; 7-11&nbsp;mm; stamens 20-33&nbsp;mm.  <B>Follicles</B>
24-31&nbsp;mm; beak 16-26&nbsp;mm. 
<P>
 Flowering summer (Jul-Sep).  Near streams
or in damp rocky places in canyons; 1370-1520&nbsp;m; Ariz., Tex.;
ne&nbsp;Mexico. 
<P>
 R.&nbsp;B. Miller (1985) suggested
that Arizona reports of <I>Aquilegia longissima</I> are based
on &quot;unusually long-spurred individuals of <I>A</I>.&nbsp;<I>chrysantha</I>,&quot;
but it is not clear on what characters he based his interpretation.
 Specimens from Arizona's Baboquivari Mountains have spurs 8-10&nbsp;cm
long, far outside the range of <I>A</I>.&nbsp;<I>chrysantha</I>,
and seem correctly identified as <I>A</I>.&nbsp;<I>longissima</I>.
<BR>

<P>
<B>