9. <A NAME="27100678"></A><I><B>Aquilegia chaplinei</B></I><B>
Standley ex Payson</B></B>, Contr.
U.S. Natl. Herb. 20: 156-157.  1918 - C E
<P>
<I>Aquilegia chrysantha</I>
A.&nbsp;Gray var. <I>chaplinei</I> (Payson) E.&nbsp;J. Lott
<P>
<B>Stems</B>
20-50&nbsp;cm.  <B>Basal leaves</B> 2-3&#215;-ternately compound,
7-25&nbsp;cm, much shorter than stems; leaflets to 9-19&nbsp;mm,
not viscid, sometimes glaucous adaxially; primary petiolules to
10-95&nbsp;mm (leaflets not crowded), glabrous or sparsely pilose.
 <B>Flowers</B> suberect to inclined; sepals perpendicular to
floral axis, pale yellow, broadly lanceolate, 9-19&nbsp;&#215;
4-6&nbsp;mm, apex obtuse to acuminate; petals: spurs yellow, straight,
&#177;&nbsp;parallel or divergent, 30-40&nbsp;mm, slender, evenly
tapered from base, blades pale yellow, oblong, 7-14&nbsp;&#215;
5-6&nbsp;mm; stamens 10-19&nbsp;mm.  <B>Follicles</B> 18-22&nbsp;mm;
beak 15-18&nbsp;mm. 
<P>
 Flowering summer (Jul-Aug).  Rocky
places in canyons, mostly along streams; of conservation concern;
1900&nbsp;m; N.Mex., Tex.
<P>
 <I>Aquilegia chaplinei</I> is endemic
to the Guadalupe Mountains. <BR>

<P>
<B>