20. <A NAME="27100685"></A><I><B>Aquilegia desertorum</B></I><B>
(M.&nbsp;E. Jones) A.&nbsp;Heller</B></B>,
Muhlenbergia 1: 27.  1901 - E
<P>
<I>Aquilegia formosa</I>
Fischer ex de Candolle var. <I>desertorum</I> M.&nbsp;E. Jones,
Contr. W. Bot. 8: 2.  1898; <I>A</I>.&nbsp;<I>triternata</I> Payson
<P>
<B>Stems</B>
15-60&nbsp;cm.  <B>Basal leaves</B> 2-3&#215;-ternately compound,
7-30&nbsp;cm, much shorter than stems; leaflets to 9-26(-32)&nbsp;mm,
not viscid, either green adaxially or glaucous on both sides;
primary petiolules 15-57&nbsp;mm (leaflets not crowded), glabrous
or pilose, sometimes somewhat viscid.  <B>Flowers</B> nodding;
sepals divergent from floral axis, red or apex yellow-green, elliptic-ovate
to ovate or lanceolate, 7-20&nbsp;&#215; 3-8&nbsp;mm, apex obtuse
to acuminate; petals: spurs red, straight, &#177;&nbsp;parallel,
16-32&nbsp;mm, stout proximally, slender distally, abruptly narrowed
near middle, blades yellow or red and yellow, oblong or rounded,
4-12&nbsp;&#215; 3-8&nbsp;mm; stamens 14-19&nbsp;mm.  <B>Follicles</B>
15-30&nbsp;mm; beak 8-12&nbsp;mm. 
<P>
    Flowering spring-fall (May-Oct).
 Open rocky places; 2000-2500&nbsp;m; Ariz., N.Mex., Utah. 
<P>
    <I>Aquilegia desertorum</I> is very
similar to <I>A</I>.&nbsp;<I>canadensis</I>.  Further research
is needed to determine whether they are really distinct at the
species level.  The leaflets may be weakly viscid abaxially in
plants from the Zion National Park area, Utah. 
<P>
    Plants from the eastern and southern
parts of the range of <I>Aquilegia desertorum</I> have usually
been considered a distinct species, <I>A</I>.&nbsp;<I>triternata</I>,
mainly because of their longer sepals and petal blades (sepals
narrowly ovate to lanceolate, 12-20&nbsp;&#215; 4-8&nbsp;mm, apex
acuminate, petal blades 6-12&nbsp;mm in <I>A</I>.&nbsp;<I>triternata</I>
versus sepals ovate or elliptic-ovate, 7-13&nbsp;&#215; 3-6&nbsp;mm,
apex obtuse or acute, petal blades 3-5&nbsp;mm in <I>A</I>.&nbsp;<I>desertorum</I>
in the strict sense).  These sepal and petal types intergrade
over much of central Arizona, however, and other characteristics
supposedly diagnostic for <I>A</I>.&nbsp;<I>triternata</I> (leaves
not glaucous, 3&#215;-ternately compound) are scarcely correlated
with the flower characteristics or with one another. 
<P>
 The Navaho-Kayenta used <I>Aquilegia
desertorum</I> as an aid in ceremonies (D.&nbsp;E. Moerman 1986).
<BR>

<P>
<B>