16. <A NAME="27100689"></A><I><B>Aquilegia formosa</B></I><B>
Fischer ex de Candolle</B></B>,
Prodr. 1: 50.  1824
<P>
<B>Stems</B>
(15-)30-100&nbsp;cm.  <B>Basal leaves</B> 2&#215;-ternately compound,
10-40&nbsp;cm, much shorter than stems; leaflets green adaxially,
to 14-68&nbsp;mm, not viscid (petioles and petiolules viscid in
var. <I>hypolasia</I>); primary petiolules 16-95&nbsp;mm (leaflets
not crowded), glabrous or pilose.  <B>Flowers</B> nodding to pendent;
sepals perpendicular to floral axis, red, elliptic to lanceolate,
10-26&nbsp;&#215; 4-9&nbsp;mm, apex broadly acute to acuminate;
petals: spurs red, straight, &#177;&nbsp;parallel, 13-21&nbsp;mm,
stout, abruptly narrowed near middle, blades yellow, oblong, rounded,
or obsolete, 0-6&nbsp;&#215; 4-6&nbsp;mm; stamens 12-17&nbsp;mm.
 <B>Follicles</B> 15-25(-29)&nbsp;mm; beak 9-12&nbsp;mm. 
<P>
 Varieties 3 (3 in the flora): North
America, Mexico.
<P>
 The type specimen of <I>Aquilegia formosa</I>
var. <I>fosteri</I> S.&nbsp;L. Welsh, described from southwestern
Utah, has viscid leaves with short petiolules and crowded leaflets,
erect, dark red flowers with slender, evenly tapering spurs, and
long (19&nbsp;mm) stamens.  Aside from the red sepals and spurs,
it has little in common with <I>A</I>.&nbsp;<I>formosa</I> and
its relatives.  The crowded leaflets, erect flowers, and evenly
tapering spurs are reminiscent of <I>A</I>.&nbsp;<I>scopulorum</I>,
and it could be a hybrid involving that species, but it is not
clear what the other parent might be.  The taxonomy of <I>Aquilegia</I>
in southwestern Utah is complex, with six species known and several
hybrid combinations apparently formed; satisfactory disposition
of this name will require further work in the area.
<P>
 Native Americans used <I>Aquilegia
formosa</I> for various purposes: as a charm to gain the affections
of men or to retain wealth and possessions; medicinally, seeds
were chewed to alleviate stomach aches, and leaves were chewed
or used in infusions to treat coughs, colds, and sore throats
(D.&nbsp;E. Moerman 1986, varieties not indicated).<BR>

<P>
<B>