17. <A NAME="27100701"></A><I><B>Aquilegia shockleyi</B></I><B>
Eastwood</B></B>, Bull. Torrey
Bot. Club  32: 193-194.  1905 - E
<P>
<I>Aquilegia formosa</I>
Fischer ex de Candolle var. <I>caelifax</I> (Payson) Munz; <I>A</I>.&nbsp;<I>mohavensis</I>
Munz
<P>
<B>Stems</B>
40-100&nbsp;cm.  <B>Basal leaves</B> 2-3&#215;-ternately compound,
9-45&nbsp;cm, much shorter than stems; leaflets to 11-38&nbsp;mm,
sometimes viscid, glaucous on both surfaces; primary petiolules
23-80&nbsp;mm (leaflets not crowded), glabrous or pilose.  <B>Flowers</B>
nodding; sepals perpendicular to floral axis, red (or sometimes
partly yellow or green), lanceolate to elliptic, 10-20&nbsp;&#215;
4-8&nbsp;mm, apex acuminate or acute; petals: spurs red or pink,
straight, &#177;&nbsp;parallel, 12-25(-30)&nbsp;mm, rather stout,
usually abruptly narrowed near middle, blades yellow, oblong or
rounded, 2-5&nbsp;&#215; 4-7&nbsp;mm; stamens 12-16&nbsp;mm. 
<B>Follicles</B> 14-25&nbsp;mm; beak 9-12&nbsp;mm. 
<P>
 Flowering spring-summer (Apr-Aug).
 Moist places in dry woodlands and shrublands; 1200-2700&nbsp;m;
Calif., Nev. <BR>

<P>
<B>