7a. <A NAME="27101528"></A><I><B>Aquilegia coerulea</B></I><B>
E.&nbsp;James var. <I>coerulea</I> </B></B>-
E
<P>
<I>Aquilegia coerulea</I>
var. <I>daileyae</I> Eastwood
<P>
<B>Leaves</B>
2&#215;-ternately compound.  <B>Flowers:</B> sepals medium or
deep blue, 28-43&nbsp;mm; petals: spurs 34-48&nbsp;mm, blades
(17-)20-24&nbsp;mm; stamens 13-19&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;14.
 
<P>
 Flowering summer (mid Jun-early Sep).
 Rocky slopes or near streams in open woodland or herbland; 2100-3600&nbsp;m;
Colo., N.Mex., Wyo.  <BR>

<P>
<B>