5. <A NAME="27100694"></A><I><B>Aquilegia jonesii</B></I><B>
Parry</B></B>, Amer. Naturalist
8: 211.  1874 - E F
<P>
<I>Aquilegia jonesii</I>
var. <I>elatior</I> Boothman
<P>
<B>Stems</B>
3.5-12&nbsp;cm.  <B>Basal leaves</B> 1-2&#215;-ternately compound,
2.5-10&nbsp;cm, not much shorter than stems; leaflets to 3-12&nbsp;mm,
not viscid, glaucous on both sides; primary petiolules 1-10&nbsp;mm
(leaflets very crowded), pilose.  <B>Flowers</B> usually erect;
sepals divergent from floral axis, blue or purple, oblong-elliptic,
15-22&nbsp;&#215; 6-10&nbsp;mm, apex acute to obtuse; petals:
spurs blue, straight, &#177;&nbsp;parallel, 8-15&nbsp;mm, stout
(at least proximally), evenly tapered from base, blades blue,
oblong to spatulate, 8-13&nbsp;&#215; 5-6&nbsp;mm; stamens 9-14&nbsp;mm.
 <B>Follicles</B> 14-22&nbsp;mm; beak 8-12&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;14.
 
<P>
 Flowering summer (Jun-Jul).  Rocky
places in limestone areas, usually subalpine; 1800-3400&nbsp;m;
Alta.; Mont., Wyo.<BR>

<P>
<B>