

<P>
<B>21. AQUILEGIA Linnaeus</B>,
Sp. Pl. 1: 533.  1753; Gen. Pl. ed. 5, 237.  1754 - Columbine,
ancolie [derivation disputed; possibly Greek <I>aqua</I>, water,
and <I>legere</I>, to draw or collect, because of the wet habitat
of some species or quantity of liquid nectar borne in spurs, or
Latin <I>aquila</I>, eagle, because of similarity in shape of
curved spurs of some European species to an eagle's talons] <BR>

<P>
<B>Herbs</B>,
perennial, from slender woody rhizomes.  <B>Leaves</B> basal and
cauline, proximal leaves petiolate, distal leaves sessile; cauline
leaves alternate.  <B>Leaf blade</B> 1-3&#215;-ternately compound,
leaflets lobed or parted, margins crenate.  <B>Inflorescences</B>
terminal, 1-10-flowered cymes or solitary flowers, to 30&nbsp;cm;
bracts leaflike, not forming involucre.  <B>Flowers</B> bisexual,
radially symmetric; sepals not persistent in fruit, 5, white to
blue, yellow, or red, plane, narrowly ovate to oblong-lanceolate,
short-clawed, 7-51&nbsp;mm; petals 5, distinct, white to blue,
yellow, or red, oblong to rounded or spatulate blade, 0-30&nbsp;mm,
base backward-pointing tubular spur, apex plane; nectary in &#177;&nbsp;enlarged
tip of spur; stamens many; filaments filiform; scalelike staminodes
usually present between stamens and pistils; pistils 5-10, simple;
ovules many per pistil; beak present.  <B>Fruits</B> follicles,
aggregate, sessile, cylindric, sides prominently veined; beak
terminal, straight, 3-26&nbsp;mm.  <B>Seeds</B> black, obovoid,
smooth.  <I>x</I>&nbsp;=&nbsp;7. 
<P>
 Species ca. 70 (21 in the flora): circumboreal.
<P>
 Species of <I>Aquilegia</I> are polymorphic
and difficult to define adequately.  Some of the variability is
because of introgressive hybridization.  Even distantly related
species of columbine are often freely interfertile, and many cases
of natural hybridization and introgression are known from North
America.  Only the most important are mentioned below.  In arid
areas <I>Aquilegia</I> species tend to form small populations
often completely isolated from one another.  This leads to local
fixation of genes and therefore increased variability in species
such as <I>A</I>.&nbsp;<I>micrantha</I> and <I>A</I>.&nbsp;<I>desertorum</I>.
 In addition, populations with spurless petals are occasionally
found in many species.  
<P>
<B>SELECTED REFERENCES   </B>
<P>
Munz, P.&nbsp;A.  1946.  The cultivated
and wild columbines.  Gentes Herb. 7: 1-150.   Payson, E.&nbsp;B.
 1918.  The North American species of <I>Aquilegia</I>.  Contr.
U.S.&nbsp;Natl. Herb. 20: 133-157. <BR>

<P>
<B>