7. <A NAME="27100680"></A><I><B>Aquilegia coerulea</B></I><B>
E.&nbsp;James</B></B>, Account
Exped. Pittsburgh 2: 15.  1823
<P>
<B>Stems</B>
15-80&nbsp;cm.  <B>Basal leaves</B> (1-)2(-3)&#215;-ternately
compound, 9-37&nbsp;cm, much shorter than stems; leaflets green
adaxially, to 13-42(-61)&nbsp;mm, not viscid; primary petiolules
(10-)20-70&nbsp;mm (leaflets not crowded), glabrous or occasionally
pilose.  <B>Flowers</B> erect; sepals perpendicular to floral
axis, white, blue, or sometimes pink, elliptic-ovate to lance-ovate,
26-51&nbsp;&#215; 8-23&nbsp;mm, apex obtuse to acute or acuminate;
petals: spurs white, blue, or sometimes pink, straight, &#177;&nbsp;parallel
or divergent, 28-72&nbsp;mm, slender, evenly tapered from base,
blades white, oblong or spatulate, 13-28&nbsp;&#215; 5-14&nbsp;mm;
stamens 13-24&nbsp;mm.  <B>Follicles</B> 20-30&nbsp;mm; beak 8-12&nbsp;mm.
<P>
 Varieties 4 (4 in the flora): w&nbsp;North
America, Mexico. 
<P>
 <I>Aquilegia coerulea</I> shows considerable
geographic variation in flower color and in size of different
floral organs, reflecting adaptation to different pollinators
in different parts of its range (R.&nbsp;B. Miller 1981).  Four
weakly differentiated varieties are recognized. 
<P>
 <I>Aquilegia coerulea</I> var. <I>coerulea</I>
and <I>A</I>.&nbsp;<I>coerulea</I> var. <I>ochroleuca</I> intergrade
to some extent; northwestern populations of var. <I>coerulea</I>
often contain individuals with pale flowers, and eastern populations
of var. <I>ochroleuca</I> often contain blue-flowered plants.
<P>
 The Gosivte tribe chewed the seeds
of <I>Aquilegia coerulea</I> or used an infusion made from the
roots to treat abdominal pains or as a panacea (D.&nbsp;E. Moerman
1986).
<P>
 Most authors have spelled the epithet
&quot;caerulea&quot;; &quot;coerulea&quot; is the original spelling.

<P>
 Columbine (as <I>Aquilegia caerulea</I>)
is the state flower of Colorado.
<P>
<B>SELECTED REFERENCE   </B>
<P>
Miller, R.&nbsp;B.  1981.  Hawkmoths
and the geographic patterns of floral variation in <I>Aquilegia
caerulea</I>.  Evolution  35: 763-774.<BR>

<P>
<B>