7c. <A NAME="27100681"></A><I><B>Aquilegia coerulea</B></I><B>
E.&nbsp;James var. <I>alpina</I> A.&nbsp;Nelson</B></B>,
Wyoming Agaric. Exp. Sta. Bull. 28: 78.  1896 - C E
<P>
<B>Leaves</B>
1-2&#215;-ternately compound.  <B>Flowers:</B> sepals pale blue,
26-36&nbsp;mm; petals: spurs 28-36&nbsp;mm, blades 13-17&nbsp;mm;
stamens 13-15&nbsp;mm.
<P>
 Flowering summer (Jun-Aug).  Open rocky
slopes; of conservation concern; 2100-3500&nbsp;m; Wyo.<BR>

<P>
<B>