8. <A NAME="27100698"></A><I><B>Aquilegia pubescens</B></I><B>
Coville</B></B>, Contr. U.S.
Natl. Herb. 4: 56-57, plate 1.  1893 - E F
<P>
<B>Stems</B>
20-50&nbsp;cm.  <B>Basal leaves</B> 1-2&#215;-ternately compound,
8-25&nbsp;cm, much shorter than stems; leaflets green adaxially,
to 10-25&nbsp;mm, not viscid; primary petiolules 12-48&nbsp;mm
(leaflets not crowded), glabrous or sometimes pilose.  <B>Flowers</B>
erect; sepals perpendicular to floral axis, cream to yellow or
pink, lance-oblong to ovate, (15-)20-25&nbsp;&#215; 5-9&nbsp;mm,
apex obtuse to acuminate; petals: spurs cream to yellow or pink,
straight, &#177;&nbsp;parallel or divergent, 25-40&nbsp;mm, slender,
evenly tapered from base, blades cream to yellow, oblong, 8-17&nbsp;&#215;
5-8&nbsp;mm; stamens 13-16&nbsp;mm.  <B>Follicles</B> 20-25&nbsp;mm;
beak 10-12&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;14.  
<P>
 Flowering summer (Jun-Aug).  Open rocky
places, alpine or subalpine; 3000-4000&nbsp;m; Calif.  
<P>
 <I>Aquilegia pubescens</I> is endemic
to the southern Sierra Nevada.  It sometimes forms extensive hybrid
swarms with <I>A</I>.&nbsp;<I>formosa</I>. <BR>

<P>
<B>