10. <A NAME="27100679"></A><I><B>Aquilegia chrysantha</B></I><B>
A.&nbsp;Gray</B></B>, Proc. Amer.
Acad. Arts 8: 621.  1873 - F
<P>
<I>Aquilegia chrysantha</I>
var. <I>rydbergii</I> Munz
<P>
<B>Stems</B>
30-120&nbsp;cm.  <B>Basal leaves</B> 2-3&#215;-ternately compound,
9-45&nbsp;cm, much shorter than stems; leaflets green adaxially,
to 11-55&nbsp;mm, not viscid; primary petiolules 20-50&nbsp;mm
(leaflets not crowded), glabrous or distally pilose.  <B>Flowers</B>
erect; sepals perpendicular to floral axis, yellow, lanceolate
to ovate-lanceolate, 20-36&nbsp;&#215; 5-10&nbsp;mm, apex narrowly
acute or acuminate; petals: spurs yellow, straight, &#177;&nbsp;parallel
or divergent, 42-65&nbsp;mm, slender, evenly tapered from base,
blades yellow, oblong, 13-23&nbsp;&#215; 6-15&nbsp;mm; stamens
12-25&nbsp;mm.  <B>Follicles</B> 18-30&nbsp;mm; beak 10-18&nbsp;mm.

<P>
 Flowering spring-summer (Apr-Sep).
 Damp places in canyons; 1000-3500&nbsp;m; Ariz., Colo., N.Mex.,
Tex., Utah; nw&nbsp;Mexico.
<P>
 Colorado populations supposedly having
spurs only 35-40&nbsp;mm have been called <I>Aquilegia chrysantha</I>
var. <I>rydbergii</I>.  Material seen from this area falls within
the normal range of variation of the species.  Populations intermediate
between <I>A</I>.&nbsp;<I>chrysantha</I> and <I>A</I>.&nbsp;<I>coerulea</I>
var. <I>pinetorum</I> occur in northern Arizona (M.&nbsp;Butterwick
et al. 1991).<BR>

<P>
<B>