

<P><B>8. ARCTOMECON Torrey
&amp; Fr&eacute;mont in J.&nbsp;C. Fr&eacute;mont</B>,
Rep. Exped. Rocky Mts., 312. 1845 - Desert bearclaw-poppy [Greek <I>arktos</I>,
bear, alluding to the long-pilose pubescence, and <I>mekon</I>, poppy]</P>

<P><B>Herbs</B>, perennial, evergreen, cespitose,
scapose or very short-caulescent and subscapose, from taproots. <B>Stems</B>
(caudices) when present leafy, erect, branching, covered with marcescent
leaf bases. <B>Leaves</B> all or mostly basal and rosulate, petiolate;
blade cuneate to fan-shaped, 1&times;-lobed distally, glaucous, long-pilose,
hairs flexuous, barbed; margins entire; lobes acute, long-bristled. <B>Inflorescences</B>
terminal, cymiform, simple or branching; bracts present; buds nodding.
<B>Flowers:</B> sepals 2 or 3, distinct; petals persistent, 4 or 6; stamens
many; pistil 3-6-carpellate; ovary 1-locular; style 1 and short, or absent;
stigmas 1 per carpel, connate, capitate, cordately 2-lobed. <B>Capsules</B>
erect, 3-6-valved, dehiscing from apex leaving persistent placental ribs
unseparated at apex, valve tips recurving. <B>Seeds</B> several to many,
dark brown, shining, ovoid, 1.5-3&nbsp;mm, aril present. <I>x</I>&nbsp;=&nbsp;12.</P>

<P>Species 3 (3 in the flora): North America
(Mojave Desert).</P>

<P><B>SELECTED REFERENCES<BR>
</B>Janish, J.&nbsp;R. 1977. Nevada's vanishing bear-poppies. Mentzelia
3: 2-5. Mozingo, H.&nbsp;N. and Margaret Williams. 1980. Threatened and
Endangered Plants of Nevada: An Illustrated Manual. [Washington.] Nelson,
D.&nbsp;R. and K.&nbsp;T. Harper. 1991. Site characteristics and habitat
requirements of the endangered dwarf bear-claw poppy (<I>Arctomecon humilis</I>
Coville, Papaveraceae). Great Basin Naturalist 51: 167-175. Nelson, D.&nbsp;R.
and S.&nbsp;L. Welsh. 1993. Taxonomic revision of <I>Arctomecon</I> Torr.
&amp; Frem. Rhodora 95: 197-213. Raynie, D.&nbsp;E., D.&nbsp;R. Nelson,
and K.&nbsp;T. Harper. 1991. Alkaloidal relationships in the genus <I>Arctomecon</I>
(Papaveraceae) and herbivory in <I>A</I>.&nbsp;<I>humilis</I>. Great Basin
Naturalist 51: 397-403. Welsh, S.&nbsp;L. and K.&nbsp;L. Thorne. 1979.
Illustrated Manual of Proposed Endangered and Threatened Plants of Utah.
[Washington.]<BR>
<BR>
<BR>
<B>