2. <A NAME="24000095"></A><I>Arctomecon merriamii</I> Coville</B>, Proc.
Biol. Soc. Wash. 7: 66. 1892 - Great bearclaw-poppy - E</P>

<P><B>Plants</B> scapose, to 4&nbsp;dm. <B>Leaves</B>
4-12&nbsp;cm; blade nearly unlobed to shallowly 3-7-lobed distally, to
3.5&nbsp;cm wide distally, copiously long-pilose. <B>Inflorescences</B>
1(-6)-flowered, simple, glabrous; buds long-pilose. <B>Flowers:</B> sepals
copiously long-pilose; petals caducous, 6, white, 2.5-4&nbsp;cm; filaments
dilated distally; style 1-1.5&nbsp;mm. <B>Capsules</B> persistent, oblanceoloid,
2.5-4&nbsp;cm, dehiscing not more than 1/4 length. 2<I>n</I>&nbsp;=&nbsp;24.</P>

<P>Flowering mid spring; fruiting early summer.
Barren, calcareous, scree slopes and weakly gypsiferous shales interbedded
with marine limestones, creosote bush and blackbrush zones; of conservation
concern; 600-1700&nbsp;m; Calif., Nev.</P>

<P><I>Arctomecon merriamii</I> is found in small
populations at scattered stations from Death Valley in southeastern California
to the Meadow Valley Wash of southeastern Nevada.<BR>
<BR>
<BR>
<B>