1. <A NAME="24000094"></A><I>Arctomecon humilis</I> Coville</B>, Proc.
Biol. Soc. Wash. 7: 67. 1892 - Dwarf bearclaw-poppy - C E F</P>

<P><B>Plants</B> subscapose, to 2.5&nbsp;dm.
<B>Leaves</B> 1-8&nbsp;cm; blade shallowly to deeply 3-5-lobed distally,
to 1.6&nbsp;cm wide distally, minutely hirsute, sparsely long-pilose. <B>Inflorescences</B>
2-7-flowered, branching, glabrous or nearly so; buds glabrous. <B>Flowers:</B>
sepals glabrous; petals marcescent, 4, white, 1.2-2.5&nbsp;cm; filaments
somewhat dilated distally; style 1&nbsp;mm. <B>Capsules</B> ovoid, 0.8-1.5&nbsp;cm,
dehiscing 1/3-1/2 length, deciduous soon after. 2<I>n</I>&nbsp;=&nbsp;24.</P>

<P>Flowering late spring; fruiting mid summer.
Barren, heavily gypsiferous shales, creosote bush zone; of conservation
concern; 700-1100&nbsp;m; Utah.</P>

<P>Extant populations of <I>Arctomecon humilis</I>
are known only from the area within 20&nbsp;km of St.&nbsp;George in extreme
southwestern Utah.<BR>
<BR>
<BR>
<B>