3. <A NAME="24000093"></A><I>Arctomecon californica</I> Torrey &amp;
Fr&eacute;mont in J.&nbsp;C. Fr&eacute;mont</B>, Rep. Exped. Rocky Mts.,
312. 1845 - Golden bearclaw-poppy - C E F</P>

<P><B>Plants</B> subscapose, to 6&nbsp;dm. <B>Leaves</B>
3-20&nbsp;cm; blade shallowly to deeply 3-7-lobed distally, 5&nbsp;cm wide
distally, copiously long-pilose, sometimes also minutely hirsute. <B>Inflorescences</B>
3-20-flowered, branching, glabrous throughout or long-pilose proximally;
buds glabrous. <B>Flowers:</B> sepals glabrous; petals caducous, 6, deep
yellow, 2.5-4&nbsp;cm; filaments not dilated distally; style absent. <B>Capsules</B>
persistent, obconic, 1-2.5&nbsp;cm, dehiscing not more than 1/4 length.
2<I>n</I>&nbsp;=&nbsp;24.</P>

<P>Flowering mid spring; fruiting early summer.
Barren shales that are heavily gypsiferous or otherwise chemically unusual
(borate-bearing, lithium-bearing), creosote bush zone; of conservation
concern; 500-1000&nbsp;m; Ariz., Nev., Utah.</P>

<P><I>Arctomecon californica</I> is found in
mostly small populations ranging from the vicinity of Las Vegas, Nevada,
eastward to extreme northwestern Arizona near Lake Mead. It is known otherwise
only from a single collection in Washington County, Utah.<BR>
</P>

