9c. <A NAME="24000123"></A><I>Argemone
pleiacantha</I> Greene subsp. <I>ambigua</I> G.&nbsp;B. Ownbey</B>, Mem.
Torrey Bot. Club 21: 101. 1958<B> </B>- E</P>

<P><I>Argemone pleiacantha</I> var. <I>ambigua</I>
(G.&nbsp;B. Ownbey) Shinners</P>

<P><B>Stems</B> 5-10&nbsp;dm. <B>Leaf blades:</B>
proximal lobed 1/2-2/3 distance to midrib; distal often clasping. <B>Inflorescences:</B>
bud prickles simple. <B>Capsules</B> sparingly prickly.</P>

<P>Flowering spring-summer; fruiting summer-fall.
Dry slopes and embankments, foothills; 1000-1800&nbsp;m; Ariz.<BR>
<BR>
<BR>
<B>