7b. <A NAME="24000310"></A><I>Argemone
munita</I> Durand &amp; Hilgard subsp. <I>munita</I></B></P>

<P><B>Stems</B> 6-15&nbsp;dm, with 10-30 prickles
per cm&sup2; on main stem below capsule. <B>Leaf blades:</B> surfaces sparingly
to moderately prickly on veins and intervein areas. <B>Capsules</B> moderately
prickly, surface not obscured, prickles uneven, longest 5-8&nbsp;mm. 2<I>n</I>&nbsp;=&nbsp;28.</P>

<P>Flowering spring-summer; fruiting summer-fall.
Dry foothills and slopes; 100-1500&nbsp;m; Calif.; Mexico (Baja California).</P>

<P><I>Argemone munita</I> subsp. <I>munita</I>
grows in the Coast Ranges. Intermediates between it and subsp. <I>rotundata</I>
are frequent.<BR>
</P>

<P><B>