11. <A NAME="24000106"></A><I>Argemone chisosensis</I> G.&nbsp;B. Ownbey</B>,
Mem. Torrey Bot. Club 21: 114. 1958</P>

<P><B>Plants</B> biennial or perennial. <B>Stems</B>
4-8&nbsp;dm, sparingly to copiously prickly, prickles long, patent. <B>Leaf
blades:</B> abaxial surface prickly on main veins, adaxial surface less
prickly to almost unarmed on veins. <B>Inflorescences:</B> buds broadly
ellipsoid, body 15-20 &times; 11-15&nbsp;mm, prickly, prickles patent;
sepal horns terete or angular in cross section, 7-12&nbsp;mm, basally prickly.
<B>Flowers</B> 7-10&nbsp;cm broad, usually closely subtended by 1-2 foliaceous
bracts; petals white or pale lavender; stamens 150 or more; filaments pale
lemon yellow or red; pistil 3-4-carpellate. <B>Capsules</B> narrowly ellipsoid-lanceoloid
to ellipsoid-ovoid, 30-45 &times; 8-13&nbsp;mm (including stigma and excluding
prickles), prickly, surface clearly visible; longest prickles scattered,
to 10&nbsp;mm, interspersed with a few shorter ones. <B>Seeds</B> 1.8-2.2&nbsp;mm.</P>

<P>Flowering and fruiting spring-fall. Arid plains
and mountains; 900-2000&nbsp;m; Tex.; Mexico (Chihuahua and Coahuila).<BR>
<BR>
<BR>
<B>