2. <A NAME="24000198"></A><I>Argemone ochroleuca</I> Sweet</B>, Brit.
Fl. Gard. 3: plate 242. 1828 - F</P>

<P><I>Argemone mexicana</I> Linnaeus var. <I>ochroleuca</I>
(Sweet) Lindley</P>

<P><B>Plants</B> annual or short-lived perennial.
<B>Stems</B> branching distally, 3-10&nbsp;dm, sparingly prickly. <B>Leaf
blades:</B> abaxial surface sparingly prickly on veins, adaxial surface
usually unarmed; proximal deeply lobed nearly to midrib; distal more shallowly
lobed, usually clasping. <B>Inflorescences:</B> buds oblong, body 8-18
&times; 4-11&nbsp;mm, with 4-10 prickles per sepal; sepal horns terete,
5-12&nbsp;mm, unarmed. <B>Flowers</B> 3-7&nbsp;cm broad, closely subtended
by 1-2 foliaceous bracts; petals lemon yellow or rarely darker yellow;
stamens 20-75; filaments yellow; pistil 3-6-carpellate. <B>Capsules</B>
ovoid-ellipsoid to oblong, 20-50 &times; 10-18&nbsp;mm (including stigma
and excluding prickles), longest prickles 8-12&nbsp;mm. <B>Seeds</B> 1.5-2&nbsp;mm.
2<I>n</I>&nbsp;=&nbsp;56.</P>

<P>Flowering and fruiting spring-fall. Disturbed
soil, often a weed of fields, roadways, embankments, intermountain plains;
0-2250&nbsp;m; introduced; Ariz.; Mexico.</P>

<P><I>Argemone ochroleuca</I> is widespread in
temperate and tropical regions of the world as an introduced weed.<BR>
<BR>
<BR>
<B>