15b. <A NAME="24000104"></A><I>Argemone
albiflora</I> Hornemann subsp. <I>texana</I> G.&nbsp;B. Ownbey</B>, Mem.
Torrey Bot. Club 21: 141. 1958<B> </B>- E</P>

<P><I>Argemone albiflora</I> var. <I>texana</I>
(G.&nbsp;B. Ownbey) Shinners</P>

<P><B>Stems</B> sparsely to moderately prickly.
<B>Leaf blades:</B> basal and proximal lobed nearly to midrib. <B>Inflorescences:</B>
sepal horns 4-6(-l0)&nbsp;mm, unarmed or sparingly prickly near base. <B>Capsules</B>
usually narrowly ellipsoid, surface partially obscured, longer prickles
widely spaced, interspersed with numerous, shorter, unequal ones. 2<I>n</I>&nbsp;=&nbsp;28.</P>

<P>Flowering early spring-summer; fruiting spring-fall.
Pastures and waste ground; 0-300&nbsp;m; Ark., La., Mo., Tex.</P>

<P><I>Argemone albiflora</I> subsp. <I>texana</I>
is introduced in Arkansas and Missouri.<BR>
</P>

