14. <A NAME="24000125"></A><I>Argemone polyanthemos</I> (Fedde) G.&nbsp;B.
Ownbey</B>, Mem. Torrey Bot. Club 21: 128. 1958 - E F W2</P>

<P><I>Argemone intermedia</I> Sweet var. <I>polyanthemos</I>
Fedde in H.&nbsp;G.&nbsp;A. Engler, Pflanzenr. 40[IV,104]: 283. 1909</P>

<P><B>Plants</B> annual or biennial. <B>Stems</B>
4-8(-12)&nbsp;dm, sparingly prickly. <B>Leaf blades:</B> abaxial surface
scattered-prickly on main veins, adaxial surface unarmed; proximal lobed
2/3 distance to midrib; distal clasping. <B>Inflorescences:</B> buds ellipsoid-oblong,
body 15-22 &times; 10-15&nbsp;mm, sparingly prickly; sepal horns terete,
6-10(-15)&nbsp;mm, usually unarmed. <B>Flowers</B> 7-10&nbsp;cm broad,
usually closely subtended by 1-2 foliaceous bracts; petals white, very
rarely lavender; stamens 150 or more; filaments lemon yellow; pistil 3-4-carpellate.
<B>Capsules</B> narrowly to broadly ellipsoid, 35-50 &times; 10-17&nbsp;mm
(including stigma and excluding prickles), prickly, surface clearly visible,
prickles widely spaced, longest 4-10(-12)&nbsp;mm, interspersed with a
few shorter ones. <B>Seeds</B> ca. 2&nbsp;mm. 2<I>n</I>&nbsp;=&nbsp;28.</P>

<P>Flowering spring-summer; fruiting late spring-summer.
Prairies, foothills and mesas; 300-2300&nbsp;m; Colo., Kans., Mont., Nebr.,
N.Mex., N.Dak., Okla., S.Dak., Tex., Utah, Wyo.</P>

<P><I>Argemone polyanthemos</I> is introduced
in Utah.<BR>
<BR>
<BR>
<B>