7d. <A NAME="24000118"></A><I>Argemone
munita</I> Durand &amp; Hilgard subsp. <I>argentea</I> G.&nbsp;B. Ownbey</B>,
Mem. Torrey Bot. Club 21: 83. 1958<B> </B>- E</P>

<P><I>Argemone munita</I> var. <I>argentea</I>
(G.&nbsp;B. Ownbey) Shinners</P>

<P><B>Stems</B> greenish white, 4-8&nbsp;dm,
with 100-300 prickles per cm&sup2; on main stem below capsule, longest
prickles 7-10&nbsp;mm. <B>Leaf blades:</B> surfaces usually densely prickly
on veins and intervein areas. <B>Inflorescences:</B> bud prickles simple.
<B>Capsules</B> densely prickly, surface partially obscured, prickles unequal,
longest 7-10&nbsp;mm. 2<I>n</I>&nbsp;=&nbsp;28.</P>

<P>Flowering spring; fruiting spring-summer.
Dry desert ranges; 150-850&nbsp;m; Ariz., Calif., Nev.<BR>
<BR>
<BR>
<B>