15. <A NAME="24000103"></A><I>Argemone albiflora</I> Hornemann</B>,
Hort. Bot. Hafn. 2: 489. 1815 - W2</P>

<P><I>Argemone alba</I> Lestiboudois</P>

<P><B>Plants</B> annual or biennial. <B>Stems</B>
4-10(-15)&nbsp;dm, sparingly to moderately prickly. <B>Leaf blades:</B>
abaxial surface sparingly prickly on main veins, adaxial surface unarmed
or sparingly prickly on main veins; basal and proximal lobed 1/2-4/5 distance
to midrib; distal clasping. <B>Inflorescences:</B> buds broadly ellipsoid
to subglobose, body 12-18 &times; 10-16&nbsp;mm, sparingly to rather closely
prickly; sepal horns terete, 3-6(-10)&nbsp;mm, usually unarmed. <B>Flowers</B>
5-10&nbsp;cm broad, closely to more distantly subtended by 1-2 foliaceous
bracts; petals white; stamens 150 or more; filaments lemon yellow; pistil
(3-)4-5(-7)-carpellate. <B>Capsules</B> oblong, oblong-ellipsoid, or narrowly
ellipsoid, 20-40(-45) &times; 10-15(-25)&nbsp;mm (including stigma and
excluding prickles), prickly, surface clearly visible to partially obscured,
longest prickles widely spaced, 6-10(-12)&nbsp;mm, sometimes interspersed
with smaller ones. <B>Seeds</B> 1.6-2&nbsp;mm.</P>

<P>Subspecies 2 (2 in the flora): North America.<BR>
</P>

<P><B>