13. <A NAME="24000112"></A><I>Argemone gracilenta</I> Greene</B>, Pittonia
3: 346. 1898</P>

<P><B>Plants</B> perennial. <B>Stems</B> 4-12(-18)&nbsp;dm,
moderately prickly throughout, prickles patent, longest 7-10&nbsp;mm. <B>Leaf
blades:</B> abaxial surface prickly on main veins, adaxial surface unarmed
or sparingly prickly on midrib; basal blades shallowly to often deeply
lobed; distal not clasping. <B>Inflorescences:</B> buds subglobose to oblong,
body 15-18 &times; 12-15&nbsp;mm, sparingly prickly, prickles patent; sepal
horns usually slender, terete, (5-)8-12(-14)&nbsp;mm, unarmed or with 1-2
prickles near base. <B>Flowers</B> 6-9&nbsp;cm broad; petals white; stamens
about 150; filaments pale yellow; pistil 3-4-carpellate. <B>Capsules</B>
narrowly ellipsoid to narrowly ellipsoid-ovoid, 30-45 &times; 8-14&nbsp;mm
(including stigma and excluding prickles), scattered-prickly, surface clearly
visible, longest prickles 6-8(-10)&nbsp;mm. <B>Seeds</B> to 2&nbsp;mm.
2<I>n</I>&nbsp;=&nbsp;28.</P>

<P>Flowering spring; fruiting spring-summer.
Washes and outwash plains, deserts; 0-900&nbsp;m (s&nbsp;to&nbsp;n); Ariz.;
Mexico (Sonora and Baja California).<BR>
<BR>
<BR>
<B>