12. <A NAME="24000107"></A><I>Argemone corymbosa</I> Greene</B>, Bull.
Calif. Acad. Sci. 2: 59. 1886 - E</P>

<P><I>Argemone intermedia</I> Sweet var. <I>corymbosa</I>
(Greene) Eastwood</P>

<P><B>Plants</B> perennial. <B>Stems</B> 2-8&nbsp;dm,
scattered-prickly. <B>Leaf blades:</B> surfaces shallowly to deeply lobed,
thick, leathery, surfaces unarmed to sparingly prickly, especially abaxial
surface on veins; distal clasping. <B>Inflorescences:</B> buds subglobose
to ellipsoid-ovoid, body 10-18 &times; 8-14&nbsp;mm, sparingly prickly;
sepal horns terete or flattened in cross section, 5-7&nbsp;mm. <B>Flowers</B>
4-9&nbsp;cm broad; petals white; stamens 100-120; filaments pale yellow;
pistil 3-5-carpellate. <B>Capsules</B> ovoid to lanceoloid, 25-35 &times;
10-16&nbsp;mm (including stigma and excluding prickles), prickly, surface
clearly visible, prickles simple, well spaced, subequal, longest 5-7&nbsp;mm.
<B>Seeds</B> 1.5-2&nbsp;mm.</P>

<P>Subspecies 2 (2 in the flora): w North America.<BR>
</P>

<P><B>