4. <A NAME="24000105"></A><I>Argemone aurantiaca</I> G.&nbsp;B. Ownbey</B>,
Mem. Torrey Bot. Club 21: 53. 1958 - E</P>

<P><B>Plants</B> annual or biennial. <B>Stems</B>
widely branching, to ca. 8&nbsp;dm, prickly throughout. <B>Leaf blades:</B>
abaxial surface sparingly to copiously prickly on and sometimes between
veins, adaxial surface less so; proximal lobed 5/6 distance to midrib;
distal often clasping. <B>Inflorescences:</B> buds oblong, body 18-25 &times;
14-18&nbsp;mm, prickly, longest prickles sometimes branched; sepal horns
angular in cross section or flattened, 8-12&nbsp;mm, prickly, apical prickle
indurate. <B>Flowers</B> 8-l2&nbsp;cm broad, closely subtended by 1-2 foliaceous
bracts; petals white; stamens 150 or more; filaments pale yellow; pistil
5-6-carpellate. <B>Capsules</B> ovoid, 40-50 &times; 15-25&nbsp;mm (including
stigma and excluding prickles); prickles herbaceous, erect or reflexed,
often branched, very unequal, longest 15-35&nbsp;mm. <B>Seeds</B> 2.5-3&nbsp;mm.
2<I>n</I>&nbsp;=&nbsp;84.</P>

<P>Flowering spring-summer; fruiting summer-fall.
Fields, pastures, hills; 150-500&nbsp;m (transition zone between lowlands
and plateau); Tex.<BR>
<BR>
<BR>
<B>