5b. <A NAME="24000725"></A><I>Argemone
squarrosa</I> Greene subsp. <I>glabrata</I> G.&nbsp;B. Ownbey</B>, Mem.
Torrey Bot. Club 21: 62. 1958<B> </B>- E</P>

<P><I>Argemone squarrosa</I> var. <I>glabrata</I>
(G.&nbsp;B. Ownbey) Shinners</P>

<P><B>Stems</B> with 40-100 prickles per cm&sup2;.
<B>Leaf blades:</B> surfaces essentially unarmed between veins, abaxial
surface sparingly prickly on main veins, adaxial surface unarmed or very
sparingly prickly on veins. <B>Capsules</B> moderately short-prickly as
well as long-prickly, longest prickles 8-12&nbsp;mm.</P>

<P>Flowering spring-summer; fruiting summer-fall.
Arid slopes and valleys; 600-1500&nbsp;m; N.Mex., Tex.<BR>
<BR>
<BR>
<B>