9. <A NAME="24000122"></A><I>Argemone pleiacantha</I> Greene</B>, Feddes
Repert. Spec. Nov. Regni Veg. 6: 161. 1908</P>

<P><B>Plants</B> annual or perennial. <B>Stems</B>
branched, 5-12&nbsp;dm, sparingly to closely prickly. <B>Leaf blades:</B>
abaxial surface sparingly prickly on veins, adaxial surface unarmed or
sparingly prickly on veins, apices of lobes angular, marginal teeth prominent;
proximal lobed ca. 3/4 distance to midrib; distal sometimes clasping. <B>Inflorescences:</B>
buds oblong-obovoid or subglobose, body 14-20 &times; 11-18&nbsp;mm, prickly,
prickles simple or branched; sepal horns terete or adaxially flattened,
4-12&nbsp;mm. <B>Flowers</B> 8-12(-16)&nbsp;cm broad; petals white; stamens
ca. 150; filaments pale yellow to red; pistil 3-4-carpellate. <B>Capsules</B>
ovoid to ellipsoid-lanceoloid, 25-45 &times; 10-16&nbsp;mm (including stigma
and excluding prickles), closely to sparingly prickly, longest prickles
4-6(-8)&nbsp;mm. <B>Seeds</B> 2-2.5&nbsp;mm.</P>

<P>Subspecies 3 (3 in the flora): western North
America (United States and Mexico).<BR>
</P>

<P><B>