12a. <A NAME="24000739"></A><I>Argemone
corymbosa</I> Greene subsp. <I>corymbosa</I> </B>- E</P>

<P><B>Leaf blades</B> essentially unlobed to
lobed ca. 1/4 distance to midrib.</P>

<P>Flowering and fruiting spring. Dry flats and
slopes, stabilized dunes, washes, sandy or granitic soil; 400-900&nbsp;m;
Ariz., Calif.</P>

<P><I>Argemone corymbosa</I> subsp. <I>corymbosa</I>
grows in the Mojave Desert-Panamint Valley area.<BR>
</P>

<P><B>