15a. <A NAME="24000744"></A><I>Argemone
albiflora</I> Hornemann subsp. <I>albiflora</I> </B>- E</P>

<P><B>Stems</B> sparsely prickly. <B>Leaf blades:</B>
basal and proximal lobed 1/2-2/3 distance to midrib. <B>Inflorescences:</B>
sepal horns 3-5&nbsp;mm, unarmed. <B>Capsules</B> oblong to oblong-ellipsoid,
surface clearly visible, prickles widely spaced, equal, 6-8(-l0)&nbsp;mm.
2<I>n</I>&nbsp;=&nbsp;28.</P>

<P>Flowering early spring-summer; fruiting late
spring-summer. Waste places, roadsides, fields, beaches, dunes, coastal
plains; 0-300&nbsp;m; Ala., Conn., Fla., Ga., Ill., La., Mass., Mich.,
Miss., Mo., N.Y., N.C., S.C.<BR>
</P>

<P><B>