12b. <A NAME="24000108"></A><I>Argemone
corymbosa</I> Greene subsp. <I>arenicola</I> G.&nbsp;B. Ownbey</B>, Mem.
Torrey Bot. Club 21: 118. 1958<B> </B>- E</P>

<P><I>Argemone corymbosa</I> var. <I>arenicola</I>
(G.&nbsp;B. Ownbey) Shinners</P>

<P><B>Leaf blades</B> lobed 1/2-3/4 distance
to midrib. 2<I>n</I>&nbsp;=&nbsp;56.</P>

<P>Flowering spring; fruiting spring-summer.
Dry valleys and plains, especially around sand dune areas; 900-1560&nbsp;m;
Ariz., Utah.<BR>
<BR>
<BR>
<B>