9b. <A NAME="24000735"></A><I>Argemone
pleiacantha</I> Greene subsp. <I>pinnatisecta</I> G.&nbsp;B. Ownbey</B>,
Mem. Torrey Bot. Club 21: 99. 1958<B> </B>- C E F</P>

<P><I>Argemone pleiacantha</I> var. <I>pinnatisecta</I>
(G.&nbsp;B. Ownbey) Shinners</P>

<P><B>Stems</B> 6-10&nbsp;dm. <B>Leaf blades:</B>
proximal lobed 4/5 distance to midrib; distal not clasping. <B>Inflorescences:</B>
bud prickles simple. <B>Capsules</B> sparingly prickly.</P>

<P>Flowering spring-summer; fruiting summer-fall.
Dry hills, pinyon-juniper zone; of conservation concern; 1900-2200&nbsp;m;
N.Mex.</P>

<P>This subspecies is restricted to the west
slope of the Sacramento Mountains in New Mexico.<BR>
</P>

<P><B>