5. <A NAME="24000127"></A><I>Argemone squarrosa</I> Greene</B>, Pittonia
4: 68. 1899 - E W2</P>

<P><B>Plants</B> perennial. <B>Stems</B> widely
branching, 4-8&nbsp;dm, moderately to copiously prickly throughout. <B>Leaf
blades:</B> abaxial surface prickly on main veins, adaxial surface prickly
or unarmed on main veins, densely prickly-hispid to glabrous between veins;
basal lobed 2/3-4/5 distance to midrib, lobe apices angular, marginal teeth
3&nbsp;mm or more; distal clasping. <B>Inflorescences:</B> buds subglobose
to oblong, body 16-25 &times; 15-20&nbsp;mm, prickly; sepal horns angular
in cross section, 8-14(-18)&nbsp;mm, apical prickle indurate. <B>Flowers</B>
8-11&nbsp;cm broad, closely subtended by 1-2 foliaceous bracts; petals
white; stamens 150 or more; filaments pale yellow; pistil 4-5-carpellate.
<B>Capsules</B> ellipsoid, oblong or lance-ovoid, 25-50 &times; 10-18&nbsp;mm
(including stigma and excluding prickles); prickles basally herbaceous,
spreading or reflexed, unequal, longest branched, 8-15&nbsp;mm. <B>Seeds</B>
2-2.5&nbsp;mm.</P>

<P>Subspecies 2 (2 in the flora): w North America.<BR>
</P>

<P><B>