8. <A NAME="24000732"></A><I>Argemone arizonica</I> G.&nbsp;B. Ownbey</B>,
Mem. Torrey Bot. Club 21: 91. 1958 - C E F</P>

<P><B>Plants</B> perennial. <B>Stems</B> 5-8&nbsp;dm,
diffusely branched, often decumbent, copiously long-prickly. <B>Leaf blades:</B>
surfaces sparingly long-prickly on veins; basal and proximal lobed nearly
to midrib, lobe length often to 5 times width; distal not clasping. <B>Inflorescences:</B>
buds ellipsoid-oblong, body 15-18 &times; 12-15&nbsp;mm, prickly; sepal
horns slender, terete, 12-15&nbsp;mm, prickly at base. <B>Flowers</B> 7-10&nbsp;cm
broad; petals white; stamens 100 or more; filaments pale yellow; pistil
3-carpellate. <B>Capsules</B> narrowly ellipsoid-oblong, 35-45 &times;
10-14&nbsp;mm (including stigma and excluding prickles), closely prickly,
longest prickles 8-10&nbsp;mm. <B>Seeds</B> ca. 2&nbsp;mm.</P>

<P>Flowering spring; fruiting summer. Precipitous
slopes; of conservation concern; 1000-2000&nbsp;m; Ariz.</P>

<P><I>Argemone arizonica</I> grows well in Grand
Canyon National Park, especially along the Kaibab and Bright Angel trails.<BR>
<BR>
<BR>
<B>