6. <A NAME="24000113"></A><I>Argemone hispida</I> A.&nbsp;Gray</B>,
Mem. Amer. Acad. Arts 4: 5. 1849 - E F</P>

<P><I>Argemone bipinnatifida</I> Greene; <I>A</I>.&nbsp;<I>platyceras</I>
Link &amp; Otto var. <I>hispida</I> (A.&nbsp;Gray) Prain</P>

<P><B>Plants</B> perennial. <B>Stems</B>&nbsp;3-6&nbsp;dm,
densely prickly and crisped-hispid. <B>Leaf blades:</B> surfaces sparsely
to densely crisped-hispid between veins, abaxial surface mostly densely
prickly on midrib and main veins, adaxial surface less so; proximal lobed
4/5 distance to midrib; distal not clasping. <B>Inflorescences:</B> buds
oblong, body 16-20 &times; 14-18&nbsp;mm, prickly and hispid; sepal horns
4-7&nbsp;mm, prickly, apical prickle flattened, indurate. <B>Flowers</B>
7-10&nbsp;cm broad; petals white; stamens 150 or more; filaments pale yellow;
pistil 3-4-carpellate. <B>Capsules</B> ovoid, 30-40 &times; 12-18&nbsp;mm
(including stigma and excluding prickles), densely prickly, surface obscured,
longest prickles straight or incurved, ca. 5&nbsp;mm. <B>Seeds</B> ca.
2.5&nbsp;mm.</P>

<P>Flowering spring-summer; fruiting summer-fall.
Prairies, slopes, and eastern foothills of the Laramie and Rocky mountains;
1400-2100&nbsp;m; Colo., N.Mex., Wyo.<BR>
<BR>
<BR>
<B>