7a. <A NAME="24000119"></A><I>Argemone
munita</I> Durand &amp; Hilgard subsp. <I>robusta</I> G. B. Ownbey</B>, Mem. Torrey Bot. Club 21: 77. 1958</P>

<P><I>Argemone munita</I> var. <I>robusta</I> (G. B. Ownbey) Shinners</P>

<P><B>Stems</B> 5-16&nbsp;dm, with 0-10 prickles
per cm&sup2; on main stem below capsule. <B>Leaf blades:</B> abaxial surface  sparingly prickly on main veins. <B>Capsules</B> scattered-prickly, surface not obscured, prickles nearly equal, longest 6-8&nbsp;mm. 2<I>n</I>&nbsp;=&nbsp;28.</P>

<P>Flowering spring-summer; fruiting summer-fall.
Dry, rocky soil, full sun; of conservation concern; 1500-1700&nbsp;m; Calif.</P>

<P><I>Argemone munita</I> subsp. <I>robusta</I>
is endemic to the Santa Ana Mountains.<BR>
</P>

<P><B>