5a. <A NAME="24000724"></A><I>Argemone
squarrosa</I> Greene subsp. <I>squarrosa</I> </B>- E F</P>

<P><B>Stems</B> with 80-200 prickles per cm&sup2;.
<B>Leaf blades:</B> surfaces prickly on veins and prickly-hispid, often
densely so, between veins. <B>Capsules</B> densely short-prickly as well
as long-prickly, longest prickles 10-15&nbsp;mm. 2<I>n</I>&nbsp;=&nbsp;ca.
112.</P>

<P>Flowering spring-summer; fruiting summer-fall.
Prairies and foothills; 1000-1800&nbsp;m; Colo., Kans., N.Mex., Okla.<BR>
</P>

<P><B>