9a. <A NAME="24000734"></A><I>Argemone
pleiacantha</I> Greene subsp. <I>pleiacantha</I> </B>- F</P>

<P><B>Stems</B> 5-12&nbsp;dm. <B>Leaf blades:</B>
proximal mostly lobed 4/5 distance to midrib; distal not clasping. <B>Inflorescences:</B>
bud prickles often branched. <B>Capsules</B> mostly closely prickly, surface
partially obscured, prickles straight or incurved. 2<I>n</I>&nbsp;=&nbsp;28.</P>

<P>Flowering spring-summer; fruiting summer-fall.
Foothills and adjacent high plains; 800-2200&nbsp;m; Ariz., N.Mex.; Mexico
(Chihuahua and Sonora).<BR>
</P>

<P><B>