3. <A NAME="24000102"></A><I>Argemone aenea</I> G.&nbsp;B. Ownbey</B>,
Mem. Torrey Bot. Club 21: 50. 1958</P>

<P><B>Plants</B> annual or short-lived perennial.
<B>Stems</B> 3-8&nbsp;dm, prickly. <B>Leaf blades:</B> abaxial surface
prickly on veins, adaxial surface unarmed or sparingly prickly on veins;
proximal lobed 3/4-5/6 distance to midrib. <B>Inflorescences:</B> buds
ellipsoid-oblong, body 15-20 &times; 13-16&nbsp;mm, prickly; sepal horns
terete, 7-12&nbsp;mm, unarmed or with a few basal prickles. <B>Flowers</B>
7-12&nbsp;cm broad, often subtended by 1-2 foliaceous bracts; petals bright
yellow to golden or bronze; stamens ca. 150; filaments red or purplish;
pistil 4-5-carpellate. <B>Capsules</B> narrowly ellipsoid-oblong, 25-35
&times; 12-16&nbsp;mm (including stigma and excluding prickles), coarsely
prickly, surface clearly visible, prickles very unequal, longest ca. 8&nbsp;mm.
<B>Seeds</B> 1.5-1.7&nbsp;mm. 2<I>n</I>&nbsp;=&nbsp;28.</P>

<P>Flowering and fruiting early spring-summer.
Dry plains and low hills, road and field margins; 0-1500&nbsp;m; Tex.;
Mexico (Coahuila, Nuevo Le&oacute;n, and Tamaulipas).<BR>
<BR>
<BR>
<B>