7. <A NAME="24000117"></A><I>Argemone munita</I> Durand &amp; Hilgard</B>,
J.&nbsp;Acad. Nat. Sci. Philadelphia, ser. 2, 3: 37. 1854</P>

<P><B>Plants</B> annual or perennial. <B>Stems</B>
4-16&nbsp;dm, densely to sparingly prickly. <B>Leaf blades:</B> surfaces
copiously prickly on veins and intervein surfaces to sparingly prickly
on main veins only; basal lobed ca. 1/2 distance to midrib, lobe apices
usually distinctly rounded, marginal teeth usually less than 1&nbsp;mm;
distal usually definitely clasping. <B>Inflorescences:</B> buds oblong
to ellipsoid to obovoid, body 12-22 &times; 10-16&nbsp;mm, prickly; sepal
horns terete, flattened or angular in cross section, (4-)6-8(-10)&nbsp;mm,
unarmed to densely prickly. <B>Flowers</B> 5-10(-13)&nbsp;cm broad, not
closely subtended by foliaceous bracts; petals white; stamens 150-250;
filaments pale yellow; pistil 3-5-carpellate. <B>Capsules</B> ovoid, ellipsoid,
or lanceoloid, 35-55 &times; 9-15(-18)&nbsp;mm (including stigma and excluding
prickles), prickly, longest prickles to 10&nbsp;mm, widely spaced, or shorter,
more numerous, and interspersed with still shorter prickles, surface then
partially obscured. <B>Seeds</B> 1.8-2.6&nbsp;mm.</P>

<P>Subspecies 4 (4 in the flora): w North America.</P>

<P>The Kawaiisu used <I>Argemone munita</I> medicinally
to treat burns (D.&nbsp;E. Moerman 1986, no varieties specified).<BR>
</P>

<P><B>