10. <A NAME="24000126"></A><I>Argemone sanguinea</I> Greene</B>, Pittonia
4: 68. 1899</P>

<P><I>Argemone platyceras</I> Link &amp; Otto
var. <I>rosea</I> J.&nbsp;M. Coulter</P>

<P><B>Plants</B> annual to short-lived perennial.
<B>Stems</B> 4-8(-12)&nbsp;dm, sparingly prickly. <B>Leaf blades:</B> abaxial
surface moderately prickly on veins, adaxial surface unarmed to sparingly
prickly on main veins; basal and proximal lobed to 4/5 distance to midrib.
<B>Inflorescences:</B> buds broadly ellipsoid-oblong, body 12-20 &times;
10-15&nbsp;mm, somewhat prickly; sepal horns often angular in cross section,
5-10&nbsp;mm, slightly prickly basally. <B>Flowers</B> 6-9&nbsp;cm broad,
usually closely subtended by 1-2 foliaceous bracts; petals white or lavender;
stamens 150 or more; filaments lemon yellow to red; pistil 3-6-carpellate.
<B>Capsules</B> narrowly to broadly ellipsoid, 25-40(-50) &times; 8-15(-18)&nbsp;mm
(including stigma and excluding prickles), prickly, surface clearly visible;
prickles unequal, longest 5-7(-10)&nbsp;mm. <B>Seeds</B> ca. 1.5&nbsp;mm.
2<I>n</I>&nbsp;=&nbsp;28, 56.</P>

<P>Flowering early spring-summer; fruiting spring-summer.
Coastal plains and westward; 10-1500&nbsp;m; Tex.; Mexico (Coahuila, Durango,
and Nuevo Le&oacute;n).<BR>
<BR>
<BR>
<B>