7c. <A NAME="24000120"></A><I>Argemone
munita</I> Durand &amp; Hilgard subsp. <I>rotundata</I> (Rydberg) G.&nbsp;B.
Ownbey</B>, Mem. Torrey Bot. Club 21: 77. 1958<B> </B>- E</P>

<P><I>Argemone rotundata</I> Rydberg, Bull. Torrey
Bot. Club 29: 160. 1902; <I>A</I>.&nbsp;<I>munita</I> var. <I>rotundata</I>
(Rydberg) Shinners</P>

<P><B>Stems</B> usually purplish, 4-10&nbsp;dm,
with 120-500 prickles per cm&sup2; on main stem below capsule, longest
prickles 4-6&nbsp;mm. <B>Leaf blades:</B> surfaces usually densely prickly
on veins and intervein areas. <B>Inflorescences:</B> bud prickles sometimes
branched. <B>Capsules</B> usually densely prickly, surface partially obscured,
prickles unequal, longest to 8&nbsp;mm. 2<I>n</I>&nbsp;=&nbsp;28.</P>

<P>Flowering spring-fall; fruiting summer-fall.
Open slopes and foothills, full sun; 1200-2500&nbsp;m; Ariz., Calif., Idaho,
Nev., Oreg., Utah.<BR>
</P>

<P><B>