

<P><B>9. ARGEMONE Linnaeus</B>,
Sp. Pl. 1: 508. 1753; Gen. Pl. ed. 5, 225. 1754 - Prickly-poppy [a poppylike
herb mentioned by Pliny]</P>

<P><B>Herbs or subshrubs</B>, annual or perennial,
caulescent, glaucous, from transitory or persistent taproots; sap white
to orange. <B>Stems</B> leafy, branching. <B>Leaves</B> sessile; basal
rosulate, cauline alternate; blade unlobed or commonly shallowly to deeply
1&times;-lobed; margins dentate, each tooth terminated by prickle; surfaces
glaucous, often mottled over veins, unarmed or prickly, glabrous or hispid.
<B>Inflorescences</B> terminal, cymose; bracts present. <B>Flowers</B>
conspicuous, sometimes subtended by foliaceous bracts; sepals 2 or 3, unarmed
or prickly, each with erect, subterminal, hollow horn tipped with prickle;
petals 6, in 2 whorls of 3; stamens 20-250 or more; pistil 3-5(-7)-carpellate;
ovary 1-locular; style short, to 3&nbsp;mm in fruit; stigma 3-5(-7)-lobed.
<B>Capsules</B> erect, 3-5(-7)-valved, grooved over sutures, prickly, rarely
unarmed, dehiscing from apex ca. 1/3 length, valves separating from framework
of vascular elements, to which persistent style and stigma remain attached.
<B>Seeds</B> numerous, subglobose, minutely pitted, 1-3&nbsp;mm, aril present.
<I>x</I>&nbsp;=&nbsp;14.</P>

<P>Species 32 (15 in the flora): North America,
South America, Hawaii; introduced in other tropical and temperate regions
of the world.</P>

<P>None of the North American species occurs
in South America except for the pantropical weeds <I>Argemone mexicana</I>
and, probably, <I>A</I>.&nbsp;<I>ochroleuca</I>. <I>Argemone glauca</I>
is endemic to Hawaii. Three suffrutescent, perennial species are known
from Mexico in Coahuila (<I>A</I>.&nbsp;<I>fruticosa</I>) and Chihuahua
(<I>A</I>.&nbsp;<I>turnerae</I>, <I>A</I>.&nbsp;<I>ownbeyana</I>).</P>

<P>Most herbaceous species can be hybridized,
but the F<SUB>1</SUB> plants are sterile when the parents differ in ploidy
level. The F<SUB>2</SUB> generation, when achieved, consists mainly of
plants of low vigor.</P>

<P>The alkaloids of <I>Argemone</I> have been
studied extensively. F.&nbsp;S. Stermitz (1968) has suggested that the
species fall into four groups (one with two subgroups) according to their
alkaloidal properties, and that these groups coincide to a considerable
degree with the informal species alliances suggested by G.&nbsp;B. Ownbey
(1958). A full evaluation of the importance of alkaloidal content to <I>Argemone</I>
taxonomy and evolution has not been published, but there is little doubt
that it is highly significant.</P>

<P>The name <I>Argemone intermedia</I> Sweet
(Hort. Brit. ed. 2, 1830) is encountered in several regional and local
floras but is of uncertain application.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Ownbey, G.&nbsp;B. 1958. Monograph of the genus <I>Argemone</I> for
North America and the West Indies. Mem. Torrey Bot. Club 21: 1-159. Ownbey,
G.&nbsp;B. 1961. The genus <I>Argemone</I> in South America and Hawaii.
Brittonia 13: 91-109. Prain,&nbsp;D. 1895. An account of the genus <I>Argemone</I>.
J.&nbsp;Bot. 33: 129-135, 176-178, 207-209, 307-312, 325-333, 363-371.
Stermitz, F.&nbsp;R., D.&nbsp;E. Nicodem, Wei C.&nbsp;C., and K.&nbsp;D.
McMurtrey. 1969. Alkaloids of <I>Argemone polyanthemos</I>, <I>A</I>.&nbsp;<I>corymbosa</I>,
<I>A</I>.&nbsp;<I>chisosensis</I>, <I>A</I>.&nbsp;<I>sanguinea</I>, <I>A</I>.&nbsp;<I>aurantiaca</I>
and general <I>Argemone</I> systematics. Phytochemistry 8: 615-620.<BR>
<BR>
<BR>
<B>