6.<A NAME="02500156"></A><I>Aristolochia erecta</I> Linnaeus</B>, Sp.
Pl. ed. 2, 2: 1362. 1763 - Swanflower - F</P>

<P><I>Aristolochia longiflora</I> Engelmann &amp;
A.&nbsp;Gray</P>

<P><B>Herbs</B>, erect to sprawling, to 0.25&nbsp;m.
<B>Young stem</B> ribbed, glabrous. <B>Leaves:</B> petiole 0.1-0.8&nbsp;cm.
<B>Leaf blade</B> linear-lanceolate, 10-15&nbsp;&times; 0.5-1&nbsp;cm,
base cuneate to attenuate, apex acuminate; surfaces abaxially glabrous
to puberulent; venation palmate-pinnate. <B>Inflorescences</B> on new growth,
axillary, solitary flowers; peduncle bracteolate, 1-4&nbsp;cm; bracteoles
triangular to lanceolate, to 12&nbsp;mm. <B>Flowers:</B> calyx brown-purple,
curved; utricle angled upward, ovoid to obconic, 1.5&nbsp;&times; 0.8&nbsp;cm;
syrinx present, broad and shallow, 1.5&nbsp;mm; tube curved upward, cylindric,
1-3&nbsp;&times; 0.4&nbsp;cm; annulus absent; limb purple, 1-lobed, lobe
strap-shaped, 8&nbsp;&times; 1&nbsp;cm, papillate; gynostemium 5-lobed,
cylindric, 5-10&nbsp;mm; anthers 5; ovary 5-locular, 1-4&nbsp;cm. <B>Capsule</B>
ovoid, 2.5&nbsp;&times; 1-3&nbsp;cm, dehiscence basipetal; valves 5; septa
entire, not attached to valves. <B>Seeds</B> flat, triangular, 0.5&nbsp;&times;
0.5&nbsp;cm.</P>

<P>Flowering late spring-summer. Riverbanks,
hillsides, chaparral; to 500&nbsp;m; Tex.; Mexico.<BR>
<BR>
<B>