7.<A NAME="02500155"></A><I>Aristolochia coryi</I> I.&nbsp;M. Johnston</B>,
J. Arnold Arbor. 21: 256. 1940 - Cory's Dutchman's-pipe</P>

<P><B>Herbs</B>, procumbent, to 0.4&nbsp;m. <B>Young
stem</B> smooth, glabrous or puberulent. <B>Leaves:</B> petiole 1-3&nbsp;cm.
<B>Leaf blade</B> deltate, 3-5&nbsp;&times; 3-5&nbsp;cm, base cordate,
sinus depth 1-2&nbsp;cm, apex acute; surfaces abaxially puberulent; venation
palmate. <B>Inflorescences</B> on new growth, axillary, solitary flowers;
peduncle bracteolate, 1-4&nbsp;cm; bracteoles lanceolate, to 5&nbsp;mm.
<B>Flowers:</B> calyx yellow-green or yellow-brown, curved; utricle horizontal,
ovoid to obconic, 0.8&nbsp;&times; 0.6&nbsp;cm; syrinx present, funnel-shaped,
1-2&nbsp;mm; tube curved, cylindric, 1-3&nbsp;&times; 0.3&nbsp;cm; annulus
absent; limb brown with purple spots, 1-lobed, lobe strap-shaped, 1.5-2&nbsp;&times;
1.5&nbsp;cm, glabrous; gynostemium 5-lobed, crown-shaped, 1-4&nbsp;mm;
anthers 5; ovary 5-locular, 1-4&nbsp;cm. <B>Capsule</B> globose, 1.2&nbsp;&times;
1-3&nbsp;cm, dehiscence basipetal; valves 5; septa entire, not attached
to valves. <B>Seeds</B> flat, triangular, 0.5&nbsp;&times; 0.6&nbsp;cm.</P>

<P>Flowering late spring-summer. Rocky slopes,
especially on limestone, occasionally river bottoms; to 600&nbsp;m; Tex.;
Mexico.<BR>
<BR>
<B>