9.<A NAME="02500162"></A><I>Aristolochia pentandra</I> Jacquin</B>,
Enum. Syst. Pl., 30. 1760 - Marsh's Dutchman's-pipe - E</P>

<P><I>Aristolochia marshii</I> Standley; <I>A</I>.&nbsp;<I>racemosa</I>
Brandegee</P>

<P><B>Lianas</B>, twining, to 5&nbsp;m, herbaceous.
<B>Young stem</B> smooth, glabrous. <B>Leaves:</B> petiole 1-3&nbsp;cm.
<B>Leaf blade</B> ovate to hastate, 3-lobed, 3-8&nbsp;&times; 2-7&nbsp;cm,
base cordate to sagittate, sinus depth to 1&nbsp;cm, apex acute or acuminate;
surfaces glabrous; venation palmate. <B>Inflorescences</B> on new growth,
axillary, solitary flowers; peduncle bracteolate, 1-1.5&nbsp;cm; bracteoles
ovate to lanceolate, to 15&nbsp;mm. <B>Flowers:</B> calyx brown-purple,
straight; utricle angled upward, ovoid, 0.5-5&nbsp;&times; 0.5&nbsp;cm;
syrinx funnel-shaped, 2&nbsp;mm; tube upright, cylindric, 1&nbsp;&times;
0.25&nbsp;cm; annulus absent; limb brownish red, 1-lobed, lobe narrowly
cordate to narrowly ovate, 1-6&nbsp;&times; 0.75&nbsp;cm, glabrous; gynostemium
5-lobed, crown-shaped, 2-3&nbsp;mm; anthers 5; ovary 5-locular, 1-1.5&nbsp;cm.
<B>Capsule</B> globose to ovoid, 1.5&nbsp;&times; 1-3&nbsp;cm, dehiscence
basipetal; valves 5; septa entire, not attached to valves. <B>Seeds</B>
flat, triangular, 0.5&nbsp;&times; 0.5&nbsp;cm.</P>

<P>Flowering winter-early spring. Wet Caribbean-type
lowlands; 0-50&nbsp;m; Fla., Tex.<BR>
<BR>
<B>