

<P><B>8. ARISTOLOCHIACEAE
Jussieu - Dutchman's-Pipe Family</B></P>

<P><B>Herbs or lianas</B> [shrubs, rarely trees],
deciduous or evergreen, often aromatic. <B>Wood</B> with broad medullary
rays. <B>Leaves</B> alternate, simple, petiolate. <B>Leaf blade</B> unlobed,
margins entire. <B>Inflorescences</B> terminal or axillary, racemes or
solitary flowers, rarely fan-shaped cymes. <B>Flowers</B> bisexual; calyx
enlarged, petaloid, usually tubular, [1-,] 3-, [6-, rarely 5-]merous, lobes
valvate; corolla usually reduced to scales or absent; stamens 5, 6, or
12 [multiples of 3 or 5], free or adnate to styles and stigmas, forming
gynostemium; anthers extrorse; pistil 1, 4-6-carpellate; ovary inferior,
partly inferior, or superior; placentation axile (and ovaries 4-6-locular)
or parietal; ovules many per locule, anatropous. <B>Fruits</B> capsules
[follicles], regularly to irregularly loculicidal, rarely indehiscent [septicidal].
<B>Seeds</B> often flattened; endosperm copious.</P>

<P>Genera 5, species ca. 600 (3 genera, 28 species
in the flora): primarily pantropical and subtropical.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Duchartre,&nbsp;P. 1864. Aristolochiaceae. In: A.&nbsp;P. de Candolle
and A.&nbsp;L.&nbsp;P. de Candolle, eds. 1823-1873. Prodromus Systematis
Naturalis Regni Vegetabilis.... 17 vols. Paris etc. Vol. 15, pp.&nbsp;421-498.
Gregory, M.&nbsp;P. 1956. A phyletic rearrangement of the Aristolochiaceae.
Amer. J.&nbsp;Bot. 43: 110-122. Schmidt, O.&nbsp;C. 1935. Aristolochiaceae.
In: H.&nbsp;G.&nbsp;A. Engler et al., eds. 1924+. Die nat&uuml;rlichen
Pflanzenfamilien..., ed. 2. 26+ vols. Leipzig and Berlin. Vol. 16b, pp.
202-242. Solereder,&nbsp;H. 1889. Aristolochiaceae. In: H.&nbsp;G.&nbsp;A.
Engler and K.&nbsp;Prantl, eds. 1887-1915. Die nat&uuml;rlichen Pflanzenfamilien....
254 fasc. Leipzig. Fasc. 35[III,1], pp.&nbsp;264-273. Solereder,&nbsp;H.
1889b. Beitr&auml;ge zur vergleichenden Anatomie der Aristolochiaceen.
Bot. Jahrb. Syst. 10: 410-523, tables 12-14.<BR>
</P>

