11.<A NAME="02500319"></A><I>Aristolochia maxima</I> Jacquin</B>, Enum.
Syst. Pl., 30. 1760 - Florida Dutchman's-pipe</P>

<P><B>Lianas</B>, twining, to 20&nbsp;m, woody.
<B>Young stem</B> ribbed, strigose. <B>Leaves:</B> petiole 0.1-0.8&nbsp;cm.
<B>Leaf blade</B> obovate, 7-15&nbsp;&times; 3-7&nbsp;cm, base truncate
to slightly cordate, sinus depth 0-0.2&nbsp;cm, apex acuminate; surfaces
abaxially strigose; venation palmate-pinnate. <B>Inflorescences</B> on
new growth, axillary, solitary flowers or rhipidiate from base of plant;
peduncle not bracteolate, 2-2.5&nbsp;cm. <B>Flowers:</B> calyx brown-purple,
bent; utricle horizontal, ovoid, 2-3.5&nbsp;&times; 1&nbsp;cm; syrinx absent;
tube upright, funnel-shaped, 1-3&nbsp;cm; annulus absent; limb dark purple,
1-lobed, lobe ovate, 1-6&nbsp;&times; 1&nbsp;cm, glabrous; gynostemium
6-lobed, crown-shaped, 5-10&nbsp;mm; anthers 6; ovary 6-locular, 2-2.5&nbsp;cm.
<B>Capsule</B> ovoid, 10-15&nbsp;&times; 4-7&nbsp;cm, dehiscence acropetal;
valves 6; septa persistent, clathrate. <B>Seeds</B> flat, triangular, 1-1.5&nbsp;&times;
1.5&nbsp;cm.</P>

<P>Flowering all year. Hammocks; 0-50&nbsp;m;
introduced; Fla.; native to Central America; South America.<BR>
<BR>
<B>