

<P><B>1. ARISTOLOCHIA Linnaeus</B>,
Sp. Pl. 2: 960. 1753; Gen. Pl. ed. 5, 410. 1754 - Dutchman's-pipe, aristoloche
[Greek <I>aristolocheia</I>, birthwort, from <I>aristos</I>, best, and
<I>lochia</I>, delivery, in reference to ancient use of herb as aid in
childbirth]</P>

<P><I>Endodeca</I> Rafinesque; <I>Isotrema</I>
Rafinesque; <I>Siphisia</I> Rafinesque</P>

<P><B>Herbs or lianas</B>, perennial. <B>Stems</B>
erect, twining, or procumbent. <B>Leaves</B> alternate, 2-ranked (evident
on young growth, becoming obscure with age in some species); true stipules
absent; pseudostipules absent [present]; petiole sometimes very short.
<B>Leaf blade</B> membranous to leathery. <B>Inflorescences</B> on new
growth or on older stems, axillary, racemes or solitary flowers; bracts
present. <B>Flowers:</B> calyx usually mixture of purple, brown, green,
or red, bilaterally symmetric, tubular, usually bent or curved, 1- or 3-lobed,
not fleshy, base with utricle (basal, inflated portion of calyx surrounding
or containing gynostemium); tube narrowed, sometimes extended proximally
as cylindric syrinx (tubular or ringlike structure at juncture of tube
and utricle, projecting into utricle cavity) and distally as annulus (circular
flange at juncture of tube and limb) on limb; corolla absent; stamens 5-6,
adnate to styles and stigmas, forming gynostemium; ovary inferior, 3-,
5-, or 6-locular; styles 3, 5, or 6, connate in column. <B>Capsule</B>
dry, dehiscent. <B>Seeds</B> flattened or rounded, sometimes winged. <I>x</I>&nbsp;=&nbsp;6,&nbsp;7,&nbsp;8.</P>

<P>Species ca. 300 (12 in the flora): nearly
worldwide.</P>

<P>Most European and tropical species of <I>Aristolochia</I>
are believed to be pollinated by small flies attracted to the flowers by
the fetid odors and purple-brown color. Flies enter the flower when the
stigmas are receptive and are trapped until after the anthers dehisce (H.&nbsp;Solereder
1889, 1889b). No formal studies of pollination of the North American species
have been reported.</P>

<P>Many species of <I>Aristolochia</I> have been
used in the treatment of snakebite; the treatment may or may not be effective.
All species contain aristolochic acid, which is variously reported as tumor-causing
or tumor-inhibiting (J.&nbsp;A. Duke 1985).</P>

<P>The leaves of many species are eaten by pipe-vine
swallowtail butterflies. The larvae eat leaves of these species and sequester
aristolochic acid in their bodies, making them unpalatable to birds (W.&nbsp;H.
Howe 1975).</P>

<P><B>SELECTED REFERENCES<BR>
</B>Pfeifer, H.&nbsp;W. 1966. Revision of the North and Central American
hexandrous species of <I>Aristolochia</I> (Aristolochiaceae). Ann. Missouri
Bot. Gard. 53: 1-114. Pfeifer, H.&nbsp;W. 1970. A Taxonomic Revision of
the Pentandrous Species of <I>Aristolochia</I>. [Storrs.]</P>

<P><BR>
<B>