10.<A NAME="02500168"></A><I>Aristolochia wrightii</I> Seemann</B>,
Bot. Voy. Herald, 331. 1856 - Wright's Dutchman's-pipe</P>

<P><I>Aristolochia brevipes</I> Bentham var.
<I>wrightii</I> (Seemann) Duchartre</P>

<P><B>Herbs</B>, procumbent, to 0.4&nbsp;m. <B>Young
stem</B> slightly striate, velutinous with yellowish trichomes. <B>Leaves:</B>
petiole 1-3&nbsp;cm. <B>Leaf blade</B> ovate to hastate, (0-)3-lobed, 1-4&nbsp;&times;
2-4&nbsp;cm, base cordate to hastate, sinus 0.2-0.6&nbsp;cm, apex obtuse
to acute; surfaces velutinous with yellowish trichomes; venation palmate.
<B>Inflorescences</B> on new growth, axillary, solitary flowers; peduncle
bracteolate, 1-2&nbsp;cm; bracteoles lanceolate, to 6&nbsp;mm. <B>Flowers:</B>
calyx brown-purple, straight; utricle angled upward, ovoid, to 0.7&nbsp;&times;
0.4&nbsp;cm; syrinx funnel-shaped, 2&nbsp;mm; tube upright, cylindric,
1.5&nbsp;&times; 0.3&nbsp;cm; annulus absent; limb purplish, 1-lobed, lobe
narrowly cordate to narrowly ovate, 1-6&nbsp;&times; 0.9&nbsp;cm, papillate;
gynostemium 5-lobed, ovoid, 5-10&nbsp;mm; anthers 5; ovary 5-locular, 1-2&nbsp;cm.
<B>Capsule</B> &plusmn;&nbsp;globose, 1.2&nbsp;&times; 1-3&nbsp;cm, dehiscence
acropetal; valves 5; septa absent. <B>Seeds</B> flat, triangular, 0.4&nbsp;&times;
0.5&nbsp;cm.</P>

<P>Flowering all year. Rocky slopes; 500-2000&nbsp;m;
N.Mex., Tex.; Mexico.<BR>
<BR>
<B>