1.<A NAME="02500316"></A><I>Aristolochia reticulata</I>
Nuttall</B>, Trans. Amer. Philos. Soc., n.s. 5: 162. 1835 - Texas Dutchman's-pipe
-&nbsp;E&nbsp;F</P>

<P><B>Herbs</B>, erect to sprawling, to 0.4&nbsp;m.
<B>Young stem</B> ribbed, hispid. <B>Leaves:</B> petiole 0.1-0.8&nbsp;cm.
<B>Leaf blade</B> ovate, 7-12&nbsp;&times; 3-6&nbsp;cm, base sagittate
to auriculate, sinus depth 0.5-1.2&nbsp;cm, apex obtuse or rounded; surfaces
abaxially hispid; venation palmate-pinnate. <B>Inflorescences</B> from
base of stem, racemes; peduncle bracteolate, 0.5-0.7&nbsp;cm; bracteoles
ovate-lanceolate, to 2&nbsp;mm. <B>Flowers:</B> calyx brown-purple, bent;
utricle pendent, pear-shaped to somewhat globose, 0.4-0.5&nbsp;cm; syrinx
indistinct or absent, oblique; tube horizontal, funnel-shaped, 5-7&nbsp;&times;
1-3&nbsp;cm; annulus absent; limb purplish brown, 3-lobed, lobes 0.4-0.6&nbsp;&times;
0.5&nbsp;cm, glabrous; gynostemium 3-lobed, globose, 5-10&nbsp;mm; anthers
6; ovary 6-locular, 0.5-0.7&nbsp;cm. <B>Capsule</B> globose, 1.2&nbsp;&times;
1-3&nbsp;cm, dehiscence basipetal; valves 6; septa entire, not attached
to valves. <B>Seeds</B> rounded, ovate, 0.3&nbsp;&times; 0.3&nbsp;cm. 2<I>n</I>&nbsp;=&nbsp;28.</P>

<P>Flowering late spring-summer. Moist, sandy
soils; 30-600&nbsp;m; Ark., La., Okla., Tex.</P>

<P>The dried rhizome of <I>Aristolochia reticulata</I>
is sometimes sold as serpentary. It is used as a tonic to calm the stomach,
promote urination, and increase perspiration. The active ingredient is
aristolochic acid, a potent gastric irritant that, in large doses, can
cause respiratory paralysis. The leaves are eaten by larvae of the eastern
pipe-vine swallowtail butterfly, <I>Battus philenor philenor</I> (Linnaeus)
(W.&nbsp;H. Howe 1975).<BR>
<BR>
<B>