4.<A NAME="02500153"></A><I>Aristolochia californica</I> Torrey</B>,
Pacif. Railr. Rep. 4(5): 128. 1857 - California snakeroot - E</P>

<P><B>Lianas</B>, twining, to 5&nbsp;m, woody.
<B>Young stem</B> ribbed, tomentose. <B>Leaves:</B> petiole 1-2.5&nbsp;cm.
<B>Leaf blade</B> ovate to reniform, 4-12&nbsp;&times; 3-10&nbsp;cm, base
cordate, sinus depth 2-6&nbsp;cm, apex obtuse to rounded; surfaces abaxially
tomentose; venation palmate-pinnate. <B>Inflorescences</B> on new growth,
axillary, solitary flowers; peduncle bracteolate, 1-4&nbsp;cm; bracteoles
reniform, to 8&nbsp;mm. <B>Flowers:</B> calyx brown-purple, bent; utricle
pendent, ellipsoid to narrowly ellipsoid, 0.5-5&nbsp;&times; 1-1.5&nbsp;cm;
syrinx absent; tube bent, cylindric, 1-3&nbsp;&times; 1-1.7&nbsp;cm; annulus
absent; limb purplish, 3-lobed, lobes 2&nbsp;&times; 2&nbsp;cm, glabrous;
gynostemium 3-lobed, cylindric, 5-10&nbsp;mm; anthers 6; ovary 6-locular,
1-4&nbsp;cm. <B>Capsule</B> ovoid to cylindric, 5-6&nbsp;&times; 1-3&nbsp;cm,
dehiscence basipetal; valves 6; septa entire, not attached to valves. <B>Seeds</B>
flat, triangular, 1-1.2&nbsp;&times; 1&nbsp;cm. 2<I>n</I>&nbsp;=&nbsp;28,
32.</P>

<P>Flowering spring. Along streams, in forest
thickets, chaparral; 50-700(-1000)&nbsp;m; Calif.</P>

<P>The leaves of <I>Aristolochia californica</I>
are eaten by larvae of the western swallowtail butterfly, <I>Battus philenor
hirsuta</I> (Skinner) (W.&nbsp;H. Howe 1975).<BR>
<BR>
<B>