2.<A NAME="02500165"></A><I>Aristolochia serpentaria</I> Linnaeus</B>,
Sp. Pl. 2: 961. 1753 - Virginia snakeroot - E</P>

<P><I>Aristolochia convolvulacea</I> Small; <I>A</I>.&nbsp;<I>hastata</I>
Nuttall; <I>A</I>.&nbsp;<I>nashii</I> Kearney; <I>A</I>.&nbsp;<I>serpentaria</I>
var. <I>hastata</I> (Nuttall) Duchartre</P>

<P><B>Herbs</B>, erect to decumbent, to 0.6&nbsp;m.
<B>Young stem</B> ridged, glabrous to hispid. <B>Leaves:</B> petiole 0.5-3.5&nbsp;cm.
<B>Leaf blade</B> lanceolate to ovate, 5-15&nbsp;&times; 1-5&nbsp;cm, base
truncate to cordate, sinus depth 0-1.5&nbsp;cm, apex acute to acuminate;
surfaces abaxially glabrous or hispid; venation pinnate. <B>Inflorescences</B>
from base of stem, an additional flower in axil of stem leaf, racemes;
peduncle bracteolate, to 1.5&nbsp;cm; bracteoles lanceolate, to 3&nbsp;mm.
<B>Flowers:</B> calyx brown-purple, bent; utricle pendent, pear-shaped
to ovoid, 0.5-5&nbsp;cm; syrinx present, ringlike, 1&nbsp;mm, oblique;
tube bent, cylindric, 1&nbsp;cm; annulus smooth; limb purplish brown, 3-lobed,
lobes 0.5&nbsp;&times; 0.5&nbsp;cm, glabrous; gynostemium 3-lobed, globose
to crown-shaped, 1.5&nbsp;mm; anthers 6; ovary 3-locular, to 1.5&nbsp;cm.
<B>Capsule</B> globose, 0.8-2&nbsp;&times; 1-2&nbsp;cm, dehiscence basipetal;
valves&nbsp;6; septa absent. <B>Seeds</B> rounded, ovate, 0.5&nbsp;&times;
0.4&nbsp;cm. 2<I>n</I>&nbsp;=&nbsp;28.</P>

<P>Flowering late spring-summer. Mesic forests;
50-1300&nbsp;m; Ala., Ark., Conn., Del., D.C., Fla., Ga., Ill., Ind., Iowa,
Kans., Ky., La., Md., Mich., Miss., Mo., N.J., N.Y., N.C., Ohio, Okla.,
Pa., S.C., Tenn., Tex., Va., W.Va.</P>

<P>Inflorescences of <I>Aristolochia serpentaria</I>
often bear closed flowers that appear to be cleistogamous. Leaf shape varies
greatly between populations, especially with regard to leaf width and size
of basal lobes. This variability is especially interesting because eastern
pipe-vine swallowtail butterflies, <I>Battus philenor philenor</I> (Linnaeus),
use leaf shape as a search image when looking for <I>Aristolochia</I> leaves
on which to lay their eggs.</P>

<P>The dried rhizome, called Virginia snakeroot
or serpentary, is a popular herbal tonic. In small doses, it is a gastric
stimulant and diuretic. Large doses can cause violent gastric distress
and respiratory paralysis (J.&nbsp;A. Duke 1985). The rhizome contains
aristolochic acid and trimethyl amine, both potential carcinogens.</P>

<P>Several Native American tribes used <I>Aristolochia
serpentaria</I> for diverse medicinal purposes, including treatment of
rheumatism, various pains, obstructions, worms, toothaches, sore throats,
fever, sore noses, and colds, as a tonic, and mixed with saliva for snake
bites (D.&nbsp;E. Moerman 1986).<BR>
<BR>
<B>