3.<A NAME="02500158"></A><I>Aristolochia macrophylla</I> Lamarck</B>,
Encycl. 1: 255. 1783 - Dutchman's-pipe - E F</P>

<P><I>Aristolochia sipho</I> L'H&eacute;ritier</P>

<P><B>Lianas</B>, twining, to 20&nbsp;m, woody.
<B>Young stem</B> ribbed, glabrous. <B>Leaves:</B> petiole 4-6&nbsp;cm.
<B>Leaf blade</B> reniform, 7-34&nbsp;&times; 10-35&nbsp;cm, base cordate,
sinus depth 1-4.5&nbsp;cm, apex obtuse to acute or acuminate; surfaces
abaxially glabrous to slightly puberulent; venation palmate-pinnate. <B>Inflorescences</B>
on new growth, axillary, solitary flowers; peduncle bracteolate, 3-7&nbsp;cm;
bracteoles reniform, to 15&nbsp;mm. <B>Flowers:</B> calyx yellow-brown
marked with red-brown, strongly curved; utricle pendent, globose to cylindric,
0.5-1.5 &times; 0.8-1&nbsp;cm; syrinx absent; tube curved or bent and angled
upward, cylindric, 1-3 &times; 0.3-0.5&nbsp;cm; annulus smooth; limb yellow
to brown, 3-lobed, lobes 1.5-2 &times; 1.5-2&nbsp;cm, glabrous; gynostemium
3-lobed, globose to crown-shaped, 4&nbsp;mm; anthers 6; ovary 3-locular,
3-7&nbsp;cm. <B>Capsule</B> ovoid to cylindric, 6-8&nbsp;&times; 4-10&nbsp;cm,
dehiscence basipetal; valves 6; septa entire, not attached to valves. <B>Seeds</B><SUP>*</SUP>
flat, triangular, 1&nbsp;&times; 1&nbsp;cm. 2<I>n</I>&nbsp;=&nbsp;28.</P>

<P>Flowering late spring-summer. Forests, often
on dissected uplands and rugged, rocky slopes; Cumberland and Blue Ridge
mountains; 50-1300&nbsp;m; Ont.; Ga., Ky., Md., N.C., Pa., S.C., Tenn.,
Va., W.Va.</P>

<P><I>Aristolochia macrophylla</I> has possibly
escaped from cultivation in Connecticut, Maryland, Massachusetts, New Jersey,
New York, and Vermont; these are not documented.</P>

<P>The name <I>Aristolochia durior</I> Hill has
been misapplied to this species.</P>

<P>The Cherokee applied decoctions made from
the roots of <I>Aristolochia macrophylla</I> directly to feet and legs
to alleviate swelling; they ingested a compound infusion of &quot;stalk
chips&quot; for yellowish urine (D.&nbsp;E. Moerman 1986).</P>

<P>The leaves of <I>Aristolochia macrophylla</I>
are eaten by larvae of the eastern pipe-vine swallowtail butterfly, <I>Battus
philenor philenor</I> (Linnaeus) (W.&nbsp;H. Howe 1975).<BR>
<BR>
<B>