8.<A NAME="02500167"></A><I>Aristolochia watsonii</I> Wooton &amp; Standley</B>,
Contr. U.S. Natl. Herb. 16: 117. 1913 - Indianroot</P>

<P><I>Aristolochia porphyrophylla</I> Pfeifer</P>

<P><B>Herbs</B>, procumbent, to 0.5&nbsp;m. <B>Young
stem</B> smooth, glabrous. <B>Leaves:</B> petiole 0.4-1&nbsp;cm. <B>Leaf
blade</B> lanceolate, 8&nbsp;&times; 5&nbsp;cm, base strongly sagittate,
sinus depth 0.5-2&nbsp;cm, apex acuminate to acute; surfaces abaxially
tomentose to tomentulose; venation pinnate. <B>Inflorescences</B> on new
growth, axillary, solitary flowers; peduncle bracteolate, to 1&nbsp;cm;
bracteoles lanceolate, to 6&nbsp;mm. <B>Flowers:</B> calyx brown-purple,
straight to curved; utricle angled upward, ovoid to narrowly ellipsoid,
0.6-0.7&nbsp;&times; 0.5&nbsp;cm; syrinx tubular, 1.5&nbsp;mm; tube angled
upward, cylindric, 1&nbsp;&times; 0.3&nbsp;cm; annulus absent; limb orangish
with maroon spots, 1-lobed, lobe ovate, 1-6&nbsp;&times; 0.6&nbsp;cm, pilose;
gynostemium 5-lobed, crown-shaped, 1-4&nbsp;mm; anthers 5; ovary 5-locular,
to 1&nbsp;cm. <B>Capsule</B> ovoid to obovoid, 1.5&nbsp;&times; 1-2&nbsp;cm,
dehiscence acropetal; valves 5; septa entire, not attached to valves. <B>Seeds</B>
flat, triangular, 0.3-0.4&nbsp;&times; 0.4&nbsp;mm.</P>

<P>Flowering spring-summer. Rocky slopes; 50-1000&nbsp;m;
Ariz., N.Mex.; Mexico.<BR>
<BR>
<B>