12.<A NAME="02500154"></A><I>Aristolochia clematitis</I> Linnaeus</B>,
Sp. Pl. 2: 962. 1753 - Birthwort, aristoloche cl&eacute;matite, asarabacca</P>

<P><B>Herbs</B>, erect, to 1&nbsp;m. <B>Young
stem</B> ribbed, glabrous to puberulent. <B>Leaves:</B> petiole 4-7&nbsp;cm.
<B>Leaf blade</B> deltate to reniform, 4-6&nbsp;&times; 5-6.5&nbsp;cm,
base cordate, sinus depth 1-2&nbsp;cm, apex obtuse to rounded; surfaces
abaxially glabrous; venation palmate. <B>Inflorescences</B> on new growth,
axillary, fascicles or solitary flowers; peduncle not bracteolate, 1-4&nbsp;cm.
<B>Flowers:</B> calyx yellow-brown, curved; utricle angled upward, ovoid
to globose, 0.5&nbsp;&times; 0.2-0.3&nbsp;cm; syrinx absent; tube curved
upward, cylindric, 1-3&nbsp;&times; 0.2-0.3&nbsp;cm; annulus absent; limb
purple, 1-lobed, lobe funnel-shaped, 1-6&nbsp;cm, pilose; gynostemium 3-lobed,
globose, 1-4&nbsp;mm; anthers 6; ovary 6-locular, 1-4&nbsp;cm. <B>Capsule</B>
&plusmn;&nbsp;globose, 3 &times; 2-3&nbsp;cm, dehiscence basipetal; valves
6; septa entire, not attached to valves. <B>Seeds</B> flat, triangular,
1 &times; 1.2&nbsp;cm.</P>

<P>Flowering summer. Waste places, roadsides,
ballast; 0-100&nbsp;m; introduced; Ont., Que.; Md., Mass., N.Y., Ohio,
Pa.; Europe.</P>

<P><I>Aristolochia clematitis</I> is occasionally
cultivated, sometimes escapes, and probably does not persist.<BR>
</P>

