5.<A NAME="02500166"></A><I>Aristolochia tomentosa</I> Sims</B>, Bot.
Mag. 33: plate 1369. 1811 - Pipevine - E</P>

<P><I>Isotrema tomentosa</I> (Sims) H.&nbsp;Huber</P>

<P><B>Lianas</B>, twining, to 25&nbsp;m, woody.
<B>Young stem</B> ribbed, tomentose. <B>Leaves:</B> petiole 1-5.5&nbsp;cm.
<B>Leaf blade</B> ovate to reniform, 9-20&nbsp;&times; 8-15&nbsp;cm, base
cordate, sinus depth 1-2&nbsp;cm, apex obtuse to acute; surfaces abaxially
tomentose; venation palmate-pinnate. <B>Inflorescences</B> on new growth,
axillary, solitary flowers; peduncle not bracteolate, 1-7&nbsp;cm. <B>Flowers:</B>
calyx yellow-green, sharply bent; utricle pendent, globose to cylindric,
0.5-1&nbsp;&times; 0.5-0.8&nbsp;cm; syrinx absent; tube bent, cylindric,
1-3&nbsp;&times; 0.5&nbsp;cm; annulus rugulose; limb yellow, 3-lobed, lobes
triangular, 2&nbsp;&times; 2&nbsp;cm, glabrous; gynostemium 3-lobed, globose,
3&nbsp;mm; anthers 6; ovary 6-locular, 1-7&nbsp;cm. <B>Capsule</B> ellipsoid
to cylindric, 6-8&nbsp;&times; 4-6&nbsp;cm, dehiscence basipetal; valves
3; septa entire, not attached to valves. <B>Seeds</B> flat, triangular,
1&nbsp;&times; 1&nbsp;cm. 2<I>n</I>&nbsp;=&nbsp;28.</P>

<P>Flowering late spring-summer. Alluvial soils
along rivers and streams; to 500&nbsp;m; Ala., Ark., Fla., Ga., Ill., Ind.,
Kans., Ky., La., Miss., Mo., N.C., Okla., Tenn., Tex.</P>

<P><I>Aristolochia tomentosa</I> has escaped
from cultivation in various places, including Virginia; this is not documented.<BR>
<BR>
<B>