4.<A NAME="02500177"></A><I>Asarum lemmonii</I> S.&nbsp;Watson</B>,
Proc. Amer. Acad. Arts 14: 294. 1879 - E</P>

<P><B>Rhizomes</B> horizontal, shallow, internodes
(0.6-)1-4&nbsp;cm. <B>Leaves:</B> petiole (3.5-)6-26&nbsp;cm, sparsely
crisped-hirsute. <B>Leaf blade</B> not variegate, cordate to almost reniform,
4-6.5 &times; 7-10.5&nbsp;cm, apex broadly rounded-acute to rounded; surfaces
abaxially sparsely appressed-hirsute, adaxially glabrous or sparsely hirsute
along veins, marginal hairs perpendicular to margin or curved toward apex.
<B>Flowers</B> descending; peduncle 2-3.5&nbsp;cm; false calyx tube cylindric,
externally reddish, at least in part, glabrous or sparsely hirsute, internally
white, rarely with longitudinal red stripes, with white or purple hairs;
distal portion of sepal strongly reflexed at anthesis, 4-8&nbsp;mm, apex
acute to apiculate or short-acuminate, abaxially purple, glabrous or sparsely
hirsute, adaxially red, puberulent with crisped pale or purple hairs; pollen
sacs 1-1.5&nbsp;mm, sterile tip of connective on inner stamens purple or
brown, 0.5-1&nbsp;mm, shorter than pollen sacs. 2<I>n</I>&nbsp;=&nbsp;26.</P>

<P>Flowering spring-summer (May-Jul). Wet places,
usually near creeks, in understory of conifer forests; 1100-1900&nbsp;m;
Calif.</P>

<P><I>Asarum lemmonii</I> is endemic to the Sierra
Nevada.<BR>
<BR>
<B>