2.<A NAME="02500516"></A><I>Asarum wagneri</I> K.&nbsp;L. Lu &amp; Mesler</B>,
Brittonia 35: 331. 1983 - E</P>

<P><I>Asarum caudatum</I> Lindley var. <I>viridiflorum</I>
M.&nbsp;Peck</P>

<P><B>Rhizomes</B> horizontal, &plusmn; deeply
buried, internodes 0.5-2.1&nbsp;cm. <B>Leaves:</B> petiole 3-15&nbsp;cm,
sparsely crisped-hirsute. <B>Leaf blade</B> not variegate, broadly reniform
to cordate-reniform, 3-8 &times; 4-11&nbsp;cm, apex obtuse to rounded (broadly
acute); surfaces abaxially sparsely hirsute, adaxially sparsely hirsute
only along veins, marginal hairs mostly curved toward apex. <B>Flowers</B>
erect or ascending; peduncle 0.8-3&nbsp;cm; false calyx tube subglobose
to cylindric-urceolate or urceolate, externally light green, sparsely to
moderately hirsute, internally white or light green, bordered and occasionally
striped with purple, with purple hairs; distal portion of sepal spreading
perpendicularly from base at anthesis, bent abruptly upward at midpoint,
8-20&nbsp;mm, apex filiform-acuminate, abaxially white to pale green, sparsely
villous to villous, adaxially white or light green, at least distally,
bordered with purple and occasionally with purple band across base, puberulent
with crisped purple-tipped hairs; pollen sacs 1-2&nbsp;mm, sterile tip
of connective on inner stamens dark red, 0.25-1&nbsp;mm, shorter than pollen
sacs.</P>

<P>Flowering spring-summer (May-Jul). Understory
of <I>Abies</I> forests and open boulder fields in <I>Tsuga</I> forests
near timberline; 1500-3200&nbsp;m; Oreg.</P>

<P><I>Asarum wagneri</I> is endemic to the Cascade
Range of pouthern Oregon (K.&nbsp;L. Lu and M.&nbsp;R. Mesler 1983).<BR>
<BR>
<B>