

<P><B>2. ASARUM Linnaeus</B>,
Sp. Pl. 1: 442. 1753; Gen. Pl. ed. 5, 201. 1754 - Wild-ginger; asaret,
gingembre sauvage [Ancient Greek <I>asaron</I>, name of an unknown plant]</P>

<P><B>Herbs</B>, perennial, deciduous, rhizomatous,
without aerial stems. <B>Leaves</B> alternate (sometimes appearing opposite
because of crowding), 2-ranked; stipules absent; petiolate foliage leaves
and sessile, triangular scale-leaves both present. <B>Leaf blade</B> membranous
or leathery, pubescent at least abaxially and on margins. <B>Inflorescences</B>
terminal on rhizome, flowers solitary; bracts absent. <B>Flowers:</B> sepals
distinct, usually mixture of white, green, tan, red, or purple, proximally
touching valvately and forming well-defined false tube, externally usually
villous, inner surface strigose, smooth or with weak longitudinal ribs,
never with network of low ridges; vestigial petals present or absent; stamens
12, distinct; filaments longer than pollen sacs; terminal appendage of
anther well developed; ovary inferior, 6-locular; styles connate in column.
<B>Capsule</B> fleshy, dehiscence irregular. <B>Seeds</B> ovoid, not winged,
with fleshy appendage. <I>x</I>&nbsp;=&nbsp;13.</P>

<P>Species ca. 10 (6 in the flora): North America,
Eurasia.</P>

<P>The species seem amply distinct, but herbarium
material can be difficult to key for several reasons. First, the diagnostic
colors of some organs (especially of the connective and the inner hairs
of the calyx) often darken on drying. Second, immature flowers and young
fruit are superficially similar to mature flowers, but color and posture
of floral organs may be different at those stages. For instance, posture
of the distal portion of sepals at anthesis (whether erect, spreading,
or reflexed) is diagnostic for the species, but sepals in all species are
erect in bud and in fruit. Third, as in <I>Hexastylis</I>, distortion of
the flower in pressing makes it difficult to interpret calyx structure.
In particular, the distinction between proximal portions of the sepals,
which meet valvately to form a well-defined false calyx tube, and distal
portions, which do not, is obvious in fresh material but often unclear
in the herbarium.</P>

<P>The flowers of <I>Asarum</I> are predominantly
self-pollinated, but they are occasionally visited by mycotrophic flies
(K.&nbsp;L. Lu 1982).</P>

<P><B>SELECTED REFERENCE<BR>
</B>Mesler, M.&nbsp;R. and K.&nbsp;L. Lu. 1990. The status of <I>Asarum
marmoratum</I> (Aristolochiaceae). Brittonia 42: 33-37.<BR>
<BR>
<B>