3.<A NAME="02500009"></A><I>Asarum caudatum</I> Lindley</B>, Edwards's
Bot. Reg. 17: footnote after plate 1399. 1831 - E F</P>

<P><B>Rhizomes</B> horizontal, shallow, internodes
(0.5-)1.5-6.5&nbsp;cm. <B>Leaves:</B> petiole 7.5-17&nbsp;cm, sparsely
crisped-hirsute. <B>Leaf blade</B> not variegate, cordate, 3-8.5 &times;
4.5-12&nbsp;cm, apex usually obtuse, occasionally broadly acute; surfaces
abaxially sparsely appressed-hirsute, at least proximally, adaxially glabrous
or sparsely appressed-hirsute, marginal hairs perpendicular to margin or
curved toward apex. <B>Flowers</B> horizontal; peduncle 1.5-5&nbsp;cm;
false calyx tube cylindric, externally brown-purple, rarely greenish, hirsute,
internally white, usually with median purple stripe, with usually purple,
rarely white hairs; distal portion of sepal spreading or weakly (rarely
strongly) reflexed at anthesis, (11-)30-75&nbsp;mm, apex filiform-attenuate,
abaxially purple or greenish, sparsely hirsute, adaxially purple, puberulent
with crisped purple hairs; pollen sacs 1.5-2&nbsp;mm, sterile tip of connective
on inner stamens purple, 0.5-1&nbsp;mm, shorter than pollen sacs. 2<I>n</I>&nbsp;=&nbsp;26.</P>

<P>Flowering spring-summer (Apr-Jul). Understory
of conifer forests, usually in mesic or wet places; 0-1200(-2200)&nbsp;m;
B.C.; Calif., Idaho, Mont., Oreg., Wash.</P>

<P>In most populations of <I>Asarum caudatum</I>,
the distal portion of the sepal is spreading or weakly reflexed and 30-75&nbsp;mm.
A single population south of Mt. Shasta, California, has the distal sepals
strongly reflexed and unusually short, often as little as 1.1&nbsp;cm.
Flowers of these plants superficially resemble those of <I>A</I>.&nbsp;<I>lemmonii</I>;
they differ in being horizontal, not descending as in <I>A</I>.&nbsp;<I>lemmonii</I>,
and in the filiform-attenuate sepals.</P>

<P>Native Americans used <I>Asarum caudatum</I>
medicinally to treat headaches, intestinal pain, knee pain, indigestion,
boils, tuberculosis, and colic, and as a general tonic (D.&nbsp;E. Moerman
1986).<BR>
<BR>
<B>