1.<A NAME="02500002"></A><I>Asarum canadense</I> Linnaeus</B>, Sp. Pl.
1: 442. 1753 - Asaret du canada, gingembre sauvage - E F</P>

<P><I>Asarum acuminatum</I> (Ashe) E.&nbsp;P.
Bicknell; <I>A</I>.&nbsp;<I>canadense</I> var. <I>acuminatum</I> Ashe;
<I>A</I>.&nbsp;<I>canadense</I> var. <I>ambiguum</I> (E.&nbsp;P. Bicknell)
Farwell; <I>A</I>.&nbsp;<I>canadense</I> var. <I>reflexum</I> (E.&nbsp;P.
Bicknell) B.&nbsp;L. Robinson; <I>A</I>.&nbsp;<I>reflexum</I> E.&nbsp;P.
Bicknell; <I>A</I>.&nbsp;<I>rubrocinctum</I> Peattie</P>

<P><B>Rhizomes</B> horizontal, shallow, internodes
1.0-3.5&nbsp;cm. <B>Leaves:</B> petiole 6-20&nbsp;cm, crisped-hirsute.
<B>Leaf blade</B> not variegate, cordate-reniform to reniform, 4-8(-20)
&times; 8-14(-21.5)&nbsp;cm, apex rounded or obtuse; surfaces abaxially
appressed-hirsute, usually sparsely so, adaxially appressed-hirsute, at
least along main veins, marginal hairs perpendicular to margin or curved
toward apex. <B>Flowers</B> erect or ascending; peduncle 1.5-3&nbsp;cm;
false calyx tube cylindric, externally tan or purplish, hirsute (often
densely), internally white or pale green, occasionally mottled with purple,
with white or purple hairs; distal portion of sepal spreading or reflexed
at anthesis, 6-24&nbsp;mm, apex apiculate to acuminate or filiform-attenuate,
abaxially green or purple, hirsute, adaxially purple, puberulent with crisped
purple or pale hairs; pollen sacs 1-1.5&nbsp;mm, sterile tip of connective
on inner stamens purple, 0.5-1&nbsp;mm, shorter than or about as long as
pollen sacs. 2<I>n</I>&nbsp;=&nbsp;26.</P>

<P>Flowering spring-early summer (Mar-Jul). Understory
of deciduous (rarely coniferous) forests; 0-1300&nbsp;m; Man., N.B., Ont.,
Que; Ala., Ark., Conn., Del., D.C., Ga., Ill., Ind., Iowa, Kans., Ky.,
La., Maine, Md., Mass., Mich., Minn., Miss., Mo., Nebr., N.H., N.J., N.Y.,
N.C., N.Dak., Ohio, Okla., Pa., S.C., S.Dak., Tenn., Vt., Va., W.Va., Wis.</P>

<P>The rhizomes of <I>Asarum canadense</I> are
occasionally used for seasoning. Handling the leaves is said to cause dermatitis
in some people.</P>

<P>Native Americans used <I>Asarum canadense</I>
medicinally to treat flux, poor digestion, swollen breasts, coughs and
colds, typhus and scarlet fever, nerves, sore throats, cramps, heaves,
earaches, headaches, convulsions, asthma, tuberculosis, urinary disorders,
and venereal disease; as a stimulant, a seasoning, and a charm; and to
strengthen other herbal concoctions and heighten appetite (D.&nbsp;E. Moerman
1986).<BR>
<BR>
<B>