6.<A NAME="02500179"></A><I>Asarum marmoratum</I> Piper</B>, Proc. Biol.
Soc. Wash. 29: 99. 1916 - E</P>

<P><B>Rhizomes</B> erect or ascending, deeply
buried, internodes 0.2-1.5&nbsp;cm. <B>Leaves:</B> petiole 5-20&nbsp;cm,
sparsely crisped-hirsute. <B>Leaf blade</B> almost always variegate with
white or silver along veins, cordate to cordate-reniform, 4-14 &times;
3-12&nbsp;cm, apex acute to broadly acuminate, rarely obtuse; surfaces
abaxially sparsely hirsute, adaxially glabrous or sparsely hirsute along
veins, marginal hairs &plusmn;&nbsp;perpendicular to margin. <B>Flowers</B>
erect or nearly so; peduncle 1.2-1.9&nbsp;cm; false calyx tube subglobose,
externally mottled red, sparsely to moderately hirsute, internally dark
red, with purple hairs; distal portion of sepal erect or spreading at anthesis,
17-52&nbsp;mm, apex filiform-attenuate, abaxially pale green, hirsute,
adaxially tan or brownish green, rarely red proximally, puberulent with
crisped purple hairs; pollen sacs 0.8-2.4&nbsp;mm, sterile tip of connective
on inner stamens dark red-brown, 1.2-3.8&nbsp;mm, longer than pollen sacs.</P>

<P>Flowering late winter-spring (Mar-Jun). Understory
of dry or mesic forests, or exposed rocky slopes or roadcuts; 200-1800&nbsp;m;
Calif., Oreg.</P>

<P><I>Asarum marmoratum</I> is found only in
the Cascades and the Siskiyou Mountains of southern Oregon and extreme
northwestern California (M.&nbsp;R. Mesler and K.&nbsp;L. Lu 1990).<BR>
</P>

