5.<A NAME="02500175"></A><I>Asarum hartwegii</I> S.&nbsp;Watson</B>,
Proc. Amer. Acad. Arts 10: 346. 1875 - E F</P>

<P><B>Rhizomes</B> erect or ascending, deeply
buried, internodes 0.2-1.3&nbsp;cm. <B>Leaves:</B> petiole 9-21&nbsp;cm,
sparsely crisped-hirsute. <B>Leaf blade</B> almost always variegate with
white or silver along veins, cordate to cordate-reniform, 5.3-10 &times;
7-14&nbsp;cm, apex rounded-acute to rounded; surfaces abaxially appressed-hirsute,
usually sparsely so, adaxially glabrous or sparsely hirsute along veins,
marginal hairs strongly curved toward apex. <B>Flowers</B> erect; peduncle
1-2.3&nbsp;cm; false calyx tube cylindric, externally reddish, sometimes
mottled red and green, hirsute, internally white with brownish purple stripes
and white hairs (becoming brown with age); distal portion of sepal usually
spreading at anthesis, sometimes reflexed or nearly erect, 12-27&nbsp;mm,
apex filiform-attenuate, abaxially reddish, hirsute, adaxially reddish,
puberulent with crisped pale hairs; pollen sacs 2&nbsp;mm, sterile tip
of connective on inner stamens pale (sometimes dark in dried specimens),
3-5&nbsp;mm, longer than pollen sacs. 2<I>n</I>&nbsp;=&nbsp;26.</P>

<P>Flowering spring-summer (Apr-Jul). Rocky slopes
in dry conifer or oak forests; 150-2200&nbsp;m; Calif.</P>

<P><I>Asarum hartwegii</I> was confused with
<I>A</I>.&nbsp;<I>marmoratum</I> until very recently; reports of <I>A</I>.&nbsp;<I>hartwegii</I>
from southern Oregon are errors for <I>A</I>.&nbsp;<I>marmoratum</I> (M.&nbsp;R.
Mesler and K.&nbsp;L. Lu 1990).<BR>
<BR>
<B>