4.<A NAME="01600691"></A><I>Asimina reticulata</I>
Shuttleworth ex Chapman</B>, Fl. South.
U.S. ed. 2, 603. 1883 - Flag-pawpaw - E W1</P>

<P><I>Asimina cuneata</I> Shuttleworth ex A.
Gray; <I>Pityothamnus reticulatus</I> (Chapman) Small</P>

<P><B>Shrubs</B>, to 1.5 m; crown much branched.
<B>Shoots</B> red-brown to tan, distally red or pale-hairy, becoming gray-brown,
distally glabrous or sparsely pale-hairy. <B>Leaves:</B> petiole 2-6 mm.
<B>Leaf blade</B> oblong to elliptic or narrowly obovate, 5-8 cm, leathery,
base abruptly and broadly cuneate or rounded, margins strongly to moderately
revolute, apex acute to broadly rounded, occasionally notched; surfaces
abaxially densely orange-hairy, becoming sparsely so on veins, adaxially
sparsely orange-hairy, becoming glabrous and often glaucous. <B>Inflorescences</B>
on previous year's growth; peduncle slender, 2-3.5 cm, tomentose; bracteoles
1-2, basal, usually ovate-triangular, rarely more than 2-3 mm, hairy. <B>Flowers</B>
1-3 per node, fragrant, large; sepals triangular, 8-10 mm, abaxially orange-puberulent;
outer petals spreading, white or cream, narrowly oblong to obovate, 2.5-6
cm, abaxially puberulent on veins; inner petals incurved, white, yellowish
white, rarely pink or cherry red, mostly with deep maroon to purple corrugate
zone, lance-hastate, 1/3-1/2 length of outer petals, fleshier, base saccate,
margins revolute; pistils 3-8. <B>Berries</B> yellow-green, 4-7 cm. <B>Seeds</B>
dark to pale brown, lustrous, 1-2 cm. 2<I>n</I>=18.</P>

<P>Flowering winter-spring. Moist sands and sandy
peat of pine-palmetto flats, savannas, low fields; 0-100 m; Fla.</P>

<P><I>Asimina reticulata</I> hybridizes with
<I>A</I>. &nbsp;<I>incana</I> and <I>A</I>.&nbsp; <I>pygmaea</I>. Hybrids
with the latter frequently have cherry-red inner petals.</P>

<P><B>