5.<A NAME="01600688"></A><I>Asimina obovata</I>
(Willdenow) Nash</B>, Bull. Torrey Bot.
Club 23: 240. 1896 - Flag-pawpaw - E F</P>

<P><I>Annona obovata</I> Willdenow, Sp. Pl. 2(2):
1269. 1799; <I>A</I>.<I>grandiflora</I> W. Bartram; <I>Asimina grandiflora</I>
(W.Bartram) Dunal; <I>Orchidocarpum grandiflorum</I> (W. Bartram) Michaux;
<I>Pityothamnus obovatus</I> (Willdenow) Small; <I>Porcelia grandiflora</I>
(W.Bartram) Persoon; <I>Uvaria obovata</I> (Willdenow) Torrey &amp; A.
Gray</P>

<P><B>Shrubs or small trees</B>, 2-3(-4.5) m,
much branched. <B>New shoots</B> densely tomentose, hairs bright red, maturing
glabrous. <B>Leaves:</B> petiole 2-6 mm, hairs bright red. <B>Leaf blade</B>
obovate to oblong, oblanceolate or ovate, 4-10(-12) cm, leathery, base
rounded to broadly cuneate, margins scarcely to prominently revolute, apex
rounded to obtuse, often notched; surfaces abaxially densely hairy along
veins, later sparsely so, hairs bright red, adaxially sparsely red-hairy,
maturing glabrous, lustrous. <B>Inflorescences</B> terminal on new growth,
sometimes directly from axils of previous season; peduncle usually erect,
shootlike, to 0.5 cm, tomentose, hairs bright red; bracts leafy, often
with 1-2 bracteoles basally. <B>Flowers</B> yellow-white with lemony fragrance,
large; sepals elliptic to ovate, 5-15 mm, adaxially red-hairy; outer petals
spreading, elliptic to obovate, 4-6(-8) cm, veins abaxially puberulent,
glabrescent, impressed adaxially; inner petals incurved, rarely pink or
red, oval to oblong, rarely lanceolate, 1/5-1/2 length of outer petals,
thick, base slightly saccate, corrugate zone adaxially purple; pistils
3-8(-11). <B>Berries</B> yellow-green, 5-9cm. <B>Seeds</B> brown to chestnut
brown, 1-2 cm. 2<I>n</I>=18.</P>

<P>Flowering late winter-early summer. White
and yellow sand ridges, mostly in oak-pine woods, scrub, coastal dunes,
and hammock edges; 0-150 m; Fla.</P>

<P>Taller strains of <I>Asimina obovata</I>,
particularly those with pink or red inner petals, have great horticultural
potential. W.Bartram figured this species adequately, but subsequent authors
tended to confuse it and his somewhat similar <I>Annona incana</I>, with
which it is sympatric in northern peninsular Florida.<BR>
</P>

<P><B>