6.<A NAME="01600690"></A><I>Asimina pygmaea</I>
(W.Bartram) Dunal</B>, Monogr. Anonac.,
84, plate 10. 1817 - Gopher-berry, dwarf pawpaw - E F</P>

<P><I>Annona pygmaea</I> W. Bartram, Travels
Carolina, 18, plate 1. 1791; <I>Asimina secundiflora</I> Shuttleworth ex
Exell; <I>Orchidocarpum pygmaeum</I> (W. Bartram) Michaux; <I>Pityothamnus
pygmaeus</I> (W. Bartram) Small; <I>Porcelia pygmaea</I> (W. Bartram) Persoon;
<I>Uvaria pygmaea</I> (W. Bartram) Torrey &amp; A. Gray</P>

<P><B>Shrubs</B>, low, 2-3(-5) dm. <B>New shoots</B>
1-several, sparingly branched or unbranched, arching, red-brown with sparse,
appressed, red hairs, glabrate. <B>Leaves:</B> petiole 3-10mm. <B>Leaf
blade</B> ascending along and above shoots, obovate or oblanceolate, rarely
linear-elliptic, 4-7(-11) cm, leathery, base variously abruptly cuneate
or narrowly rounded, margins revolute, apex rounded to obtuse or notched;
surfaces abaxially and adaxially sparsely red-puberulent, glabrescent,
abaxially pale, prominently reticulate. <B>Inflorescences</B> secund from
axils of new shoot leaves, solitary flowers; peduncle slender, glabrate,
1.5-3(-4) cm; bracteoles 1-2, basal or 1 suprabasal, lance-oblong, less
than 1cm, hairy. <B>Flowers</B> maroon, fetid, large; sepals ovate, 5-10
mm, glabrate; outer petals maroon or pink with maroon streaks, oblong to
ovate-lanceolate, 1.5-3 cm, fleshy, margins revolute, apex spreading; inner
petals erect, deep maroon, ovate-acute to lance-ovate, 1/3-2/3 length of
outer petals, fleshier, base saccate, apex excurved, corrugate zone adaxially
deep purple; pistils 2-5. <B>Berries</B> yellow-green, 3-4(-5) cm. <B>Seeds</B>
shiny brown, ca. 1 cm.</P>

<P>Flowering spring-early summer. Sandy peat
of pine-palmetto flats, savannas, low sandy fields, and low sand ridges;
0-100 m; Fla., Ga.</P>

<P><I>Asimina pygmaea</I> hybridizes with <I>A</I>.&nbsp;
<I>longifolia</I> var. <I>longifolia</I> and <I>A</I>.&nbsp; <I>reticulata</I>,
with backcrosses introducing various heights, larger and variously paler
flowers, and degrees of fragrance grading from fetid in the maroon types
to progressively more fragrant in the larger-flowered swarm components.<BR>
</P>

<P><B>