1.<A NAME="01600693"></A><I>Asimina triloba</I>
(Linnaeus) Dunal</B>, Monogr. Anonac.,
83. 1817 - Pawpaw, dog-banana, Indian-banana, aciminier - E F W1</P>

<P><I>Annona triloba</I> Linnaeus, Sp. Pl. 1: 537. 1753;</P>

<P><I>A</I>. <I>pendula</I> Salisbury; <I>Asimina
glabra</I> Horta ex C. Koch; <I>Orchidocarpum arietinum</I> Michaux; <I>Porcelia
triloba</I> (Linnaeus) Persoon; <I>Uvaria triloba</I> (Linnaeus) Torrey
&amp; A. Gray</P>

<P><B>Shrubs or trees</B>, 1.5-11(-14) m; trunks
slender, to 20(-30) cm diam.; bark shallowly furrowed in larger trees.
<B>Branches</B> spreading-ascending, slender; new shoots moderately to
copiously brown-hairy apically, aging glabrous. <B>Leaves:</B> petiole
5-10 mm. <B>Leaf blade</B> oblong-obovate to oblanceolate, 15-30 cm, membranous,
base narrowly cuneate, margins scarcely or not revolute, apex acute to
acuminate; surfaces abaxially densely hairy, later sparsely so on veins,
adaxially sparsely appressed-pubescent on veins, becoming glabrous. <B>Inflorescences</B>
from previous year's shoots before or during new leaf emergence; peduncle
nodding, (1-)1.5-2(-2.5) cm, densely hairy, hairs dark brown to red-brown;
bracteoles 1-2, basal, usually ovate-triangular, rarely over 2-3 mm, hairy.
<B>Flowers</B> maroon, fetid, 2-4(-5) cm diam.; sepals triangular-deltate,
8-12 mm, abaxially densely pilose; outer petals excurved, oblong-elliptic,
1.5-2.5 cm, abaxially puberulent on veins; inner petals elliptic, 1/3-1/2
length of outer petals, base saccate, apex recurved, surfaces abaxially
glabrate, veins impressed adaxially, corrugate nectary zone distinct; pistils
3-7(-12). <B>Berries</B> yellow-green, 5-15 cm. <B>Seeds</B> brown to chestnut
brown, 1.5-2.5 cm.</P>

<P>Flowering early spring. Mesic woods, often
alluvial sites, fencerows; 0-1500 m; Ont.; Ala., Ark., Del., D.C., Fla.,
Ga., Ill., Ind., Iowa, Kans., Ky., La., Md., Mich., Miss., Mo., Nebr.,
N.J., N.Y., N.C., Ohio, Okla., Pa., S.C., Tenn., Tex., Va., W.Va.<BR>
</P>

<P><B>
