8b.<A NAME="01600686"></A><I>Asimina longifolia</I>
Kral var. <I>spatulata</I> Kral</B>, Brittonia
12: 266, fig. 9a-b. 1960<B> </B>- E</P>

<P><B>Primary shoots</B> &plusmn; lax, usually
much arched to almost decumbent, glabrous or sparsely short-hairy when
young. <B>Leaf blade</B> oblong-linear, oblong, or commonly oblanceolate
or spatulate, margins slightly revolute, glabrous, apex obtuse, rounded
or notched, rarely broadly acute, broadest distally. <B>Flowers:</B> outer
petals abaxially glabrous or sparsely short-hairy when young; inner petals
pink or red.</P>

<P>Flowering spring-early summer(-fall). Sands
or sandy peats or loams of rises in pine savanna, pine flatwoods, or sandhills,
sandy fields, and pastures; 0-100 m; Ala., Fla., Ga.</P>

<P><I>Asimina longifolia</I> var. <I>spatulata</I>
flowers as late as fall in response to disturbance. Because <I>A</I>.&nbsp;
<I>longifolia</I> var. <I>spatulata</I> much resembles the hybrids between
<I>A</I>.&nbsp; <I>longifolia</I> var. <I>longifolia</I> and <I>A</I>.&nbsp;
<I>pygmaea</I>, it is not unlikely that it originated as such a hybrid
and has extended west and north from the early swarms, these presumably
along the Suwannee-Okefenokee drainage.<BR>
</P>

