8.<A NAME="01600108"></A><I>Asimina longifolia</I>
Kral</B>, Brittonia 12: 265. 1960 - Polecat-bush</P>

<P><I>Asimina angustifolia</I> A. Gray 1886,
not <I>A</I>.<I>angustifolia</I> Rafinesque 1840; <I>Pityothamnus angustifolius</I>
(A. Gray) Small</P>

<P><B>Shrubs</B>, 1-1.5(-1.75) m. <B>Shoots</B>
stiffly erect to arching or spreading, red-brown to yellow-brown, glabrous
or glabrate. <B>Leaves:</B> petiole 2-4 mm. <B>Leaf blade</B> ascending-spreading,
upswept, linear-elliptic to narrowly spatulate or linear-oblanceolate,
5-15(-20) cm, leathery, base broadly to narrowly cuneate or attenuate,
margins obscurely to very revolute, apex acute to obtuse, rounded, or rarely
notched; surfaces abaxially glabrate, raised-reticulate, adaxially glabrate.
<B>Inflorescences</B> from axils along new shoots, solitary flowers; peduncle
slender, 2-4 cm, glabrate; bracteoles 1-2, often suprabasal, lance-linear,
to 10 mm, hairy. <B>Flowers</B> nodding, fragrant; perianth 3(-6)-merous;
sepals elliptic to ovate, 0.5-1 cm, glabrescent; outer petals spreading,
white or cream, rarely pink or striped with red or pink, elliptic, oblong,
or obovate, 3-8 cm, abaxially glabrate; inner petals erect, maroon to cherry
red or white, oblong to lanceolate, to 1/2 length of outer petals, base
broad, saccate, corrugate zone adaxially purple, apex spreading; pistils
2-7(-12). <B>Berries</B> yellow-green, 4-10 cm. <B>Seeds</B> dark brown,
lustrous, 1-2 cm. 2<I>n</I>=18.</P>

<P>Subspecies 2 (2 in the flora): subtropical
North America.<BR>
</P>

<P><B>