7.<A NAME="01600692"></A><I>Asimina tetramera</I>
Small</B>, Torreya 26: 56. 1926 - Four-petaled
pawpaw - C E F</P>

<P><I>Pityothamnus tetramerus</I> (Small) Small</P>

<P><B>Shrubs</B>, 1-3 m. <B>Branches</B> 1-several
from base, nearly erect to arching; new shoots red-brown to tan, distally
minutely red-tomentose, glabrate. <B>Leaves:</B> petiole 2-3 mm. <B>Leaf
blade</B> spreading to upswept, oblong-oblanceolate to broadly spatulate,
5-10(-18) cm, leathery, base narrowly cuneate, margins slightly revolute,
apex rounded to obtuse-angled; surfaces abaxially glabrate, adaxially glabrous.
<B>Inflorescences</B> from axils of new shoots, solitary flowers; peduncle
slender, 1-2 cm; bracteole 1, basal, lance-oblong, 5-7 mm, hairy. <B>Flowers</B>
nodding to nearly erect, reddish, fetid; perianth (3-)4-merous; sepals
elliptic or ovate, ca. 1 cm, abaxially sparsely rusty-hairy; outer petals
ascending with spreading pale tips, lanceolate to oblong-lanceolate, 2-2.5
cm, margins slightly revolute, surfaces abaxially glabrate; inner petals
ovate-acute or short-acuminate, ca. 1/2 length of outer petals, fleshier
than outer petals, base large, saccate, corrugate zone adaxially deep purple;
pistils 3-11. <B>Berries</B> yellow-green, 5-9 cm. <B>Seeds</B> chestnut
brown, 1-2 cm. 2<I>n</I>=18.</P>

<P>Flowering spring-summer, all year if disturbed.
Sands of ancient coastal dunes and adjacent open-wooded hammocks, flatwoods;
of conservation concern; 0-50 m; Fla.</P>

<P>Morphologically, <I>Asimina tetramera</I>
is much like a tall <I>A</I>.&nbsp; <I>pygmaea</I> in characters of flower
and leaf.<BR>
</P>

<P><B>