8a.<A NAME="01601516"></A><I>Asimina longifolia</I>
Kral var. <I>longifolia</I> </B>- E</P>

<P><B>Primary shoots</B> mostly stiff, straight,
and erect to ascending, at first distally minutely tomentose. <B>Leaf blade</B>
linear, elliptic-linear, rarely linear-oblanceolate, mostly broadest toward
middle, less than 1.5 cm wide, margins revolute, apex acute to obtuse,
rarely notched or rounded; surfaces sparsely hairy abaxially when young.
<B>Flowers:</B> outer petals white or cream-white, sparsely hairy abaxially;
inner petals white, rarely pink or red.</P>

<P>Flowering spring-early summer, all year if
disturbed. Sands and sandy peats or loams of yellow sandhills, sandy fields
and pastures, open longleaf pine-turkey oak woods and savannas; 0-100 m;
Fla., Ga.</P>

<P><I>Asimina longifolia</I> var. <I>longifolia</I>
hybridizes with <I>A</I>.&nbsp;<I>incana</I> (= <I>A</I>.&nbsp; &times;<I>nashii</I>
Kral) to produce spectacular, fragrant flowers with red or pink inner petals,
and the hybrid is frequent over their nearly identical ranges. <I>Asimina
longifolia</I> var. <I>longifolia</I> crosses with <I>A</I>. &nbsp;<I>pygmaea</I>,
particularly along the Suwannee-Okefenokee axis, ultimately to form swarms,
the individuals varying in height, degree of arching of branches, flower
sizes, pigments, and fragrances. Some of those hybrids were noted by W.
Bartram.<BR>
</P>

<P><B>