3.<A NAME="01600685"></A><I>Asimina incana</I>
(W.Bartram) Exell</B>, J. Bot. 65: 69.
1927 - Polecat-bush, flag-pawpaw - E W1</P>

<P><I>Annona incana</I> W. Bartram, Travels Carolina,
171. 1791 (as <I>incarna</I>); <I>A</I>. <I>speciosa</I> Nash; <I>Pityothamnus
incanus</I> (W. Bartram) Small</P>

<P><B>Shrubs</B>, to 1.5 m. <B>Branches</B> copious,
stiff; shoots red-brown or tan with dense, pale tomentum, maturing tomentose
only distally. <B>Leaves:</B> petiole 2-6 mm. <B>Leaf blade</B> oblong
to obovate, 5-8c m, leathery, base round to abruptly broadly cuneate, margins
obscurely revolute, apex obtuse to rounded, often notched; surfaces abaxially
and adaxially densely tomentose with pale blond or tan hairs, becoming
moderately or weakly so. <B>Inflorescences</B> from previous year's growth;
peduncle 2-3.5 cm, pale-tomentous; bracteoles 1-2, basal, usually ovate-triangular,
rarely more than 2-3 mm, hairy. <B>Flowers</B> 1-4 per node, fragrant,
large; sepals triangular-deltate, 8-12 mm, abaxially pale-tomentose; outer
petals 3(-4), white or cream, ovate to oblong or obovate, 3.5-7 cm, abaxially
pale-puberulent, veins impressed adaxially; inner petals yellow-white,
lance-hastate, 1/3-1/2 length of outer petals, base saccate, adaxially
deep yellow corrugate zone; pistils 3-5(-11). <B>Berries</B> yellow-green,
to 8 cm. <B>Seeds</B> pale to rich brown, dull, 1-2 cm. 2<I>n</I>=18.</P>

<P>Flowering spring-early summer. Sands or sandy
loams, upland oak-pineland, pastures, disturbed sandy sites, mostly in
longleaf pine-turkey oak systems; 0-150 m; Fla., Ga.</P>

<P><I>Asimina incana</I> hybridizes with <I>A</I>.&nbsp;
<I>longifolia</I> and <I>A</I>.&nbsp; <I>reticulata</I>, and possibly <I>A</I>.&nbsp;
<I>pygmaea</I>.<BR>
</P>

<P><B>