2.<A NAME="01600689"></A><I>Asimina parviflora</I>
(Michaux) Dunal</B>, Monogr. Anonac.,
82, plate 9. 1817 - Small-flowered pawpaw, small-fruited pawpaw, dwarf
pawpaw - E</P>

<P><I>Orchidocarpum parviflorum</I> Michaux,
Fl. Bor.-Am. 1: 329. 1803; <I>Porcelia parviflora</I> (Michaux) Persoon;
<I>Uvaria parviflora</I> (Michaux) Torrey &amp; A. Gray</P>

<P><B>Shrubs or low trees</B>, to 6 m; trunks
slender, at most to 10 cm diam. <B>Branches</B> spreading-ascending, slender;
new shoots red-brown, distally minutely reddish tomentose. <B>Leaves:</B>
petiole 5-10 mm. <B>Leaf blade</B> obovate to oblanceolate, 6-15(-20) cm,
membranous, rarely leathery, base narrowly to broadly cuneate, margins
barely revolute, apex acute to acuminate; surfaces abaxially minutely rusty-tomentose,
aging hairy on veins only, adaxially puberulent on veins, aging glabrous.
<B>Inflorescences</B> from previous year's shoots before or during new
leaf emergence; peduncle 0.3-0.8 cm, tomentose, hairs red-brown to tan;
bracteoles 1(-2), basal, usually ovate-triangular, rarely over 2-3 mm,
hairy. <B>Flowers</B> maroon, rarely yellow, faintly fetid, 1-1.7 cm diam.;
sepals triangular-deltate, 4-7 mm, abaxially rusty-tomentose; outer petals
oblong to ovate, 1-1. 3cm, apex excurved, lingulate, surfaces abaxially
minutely rusty-tomentose; inner petals ovate, ca. 1/2 length of outer petals,
base saccate, apex strongly recurved, veins adaxially incised, corrugate
nectary zone indistinct or absent; pistils 5-7. <B>Berries</B> greenish
yellow, 3-6(-7) cm. <B>Seeds</B> chestnut brown, 1-1.5(-2) cm. 2<I>n</I>=18.</P>

<P>Flowering early spring. Sands, sandy loams,
or sandy alluvium of rich woods, alluvial terraces, and upland dry woods;
0-700m; Ala., Ark., Fla., Ga., La., Miss., N.C., S.C., Tenn., Tex., Va.</P>

<P><I>Asimina parviflora</I> is primarily a miniature
version of <I>A</I>.&nbsp; <I>triloba</I> in flower, shoot, and leaf; it
reaches tree size only in the karst country of Florida. Peduncles at anthesis
are often so short that flowers appear sessile. Pubescence is of a lighter
red or brown than that of <I>A</I>. &nbsp;<I>triloba</I>. Putative hybrids
between the two have been observed in northern Alabama.<BR>
</P>

<P><B>