

<P><B>2. ASIMINA Adanson</B>,
Fam. Pl. 2: 365. 1763 - Pawpaw [American Indian <I>assimin</I> through
French <I>asiminier</I>]</P>

<P><I>Orchidocarpum</I> Michaux; <I>Pityothamnus</I>
Small; <I>Porcelia</I> Persoon 1807, not Ruiz &amp; Pav&oacute;n 1794;
<I>Uvaria</I> Torrey &amp; A. Gray</P>

<P><B>Shrubs or small trees</B>, taprooted; trunks
straight in arborescent forms. <B>Bark</B> thin, cracking longitudinally
(shallowly furrowed in larger trees of <I>Asimina triloba</I>). <B>Shoots:</B>
secondary branching sparse to copious, 2-ranked; primary shoots of shrubs
usually several, erect to arching or decumbent; lenticels scattered, small,
prominent; buds naked. <B>Leaves</B> deciduous. <B>Leaf blade</B> membranous
or leathery, glabrous to variously hairy. <B>Inflorescences</B> axillary,
on new shoots or from above leaf scars of previous seasons, fascicles;
peduncle bracteate or bracteolate. <B>Flowers</B> 1-4 per leaf axil, nodding
to nearly erect, becoming enlarged; receptacle convex to &plusmn;globose
or elongate, elevated; sepals deciduous, 3(-4), nearly distinct, triangular
to deltate-ovate, valvate in bud; petals in 2 unequal whorls, each of 3-4
equal members, with prominent veins, imbricate in bud, those of outer whorl
larger, thinner than those of inner whorl; nectaries present, usually with
differently pigmented, thickened-corrugate zones adaxially near petal bases;
stamens very numerous, short-columnar, forming ball; filament short; connective
blunt to nearly spheric or cuboid; pistils 2-8(-12), sessile to stipitate,
distinct, glabrate; ovules several (sometimes few) in 2 staggered rows.
<B>Fruits</B> simple berries, usually 3-5 per flower, spreading from swollen
receptacles, unevenly oblong-cylindric, pulpy. <B>Seeds</B> 3-many per
pistil, bean-shaped, slightly compressed laterally, coat tough, margins
absent. <I>x</I>=9.</P>

<P>Species 8 (8 in the flora): subtropical and
temperate North America.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Exell, A. W. 1927. William Bartram and the genus <I>Asimina</I> in
North America. J. Bot. 65: 65-70. Nash, G. V. 1896. Revision of the genus
<I>Asimina</I> in North America. Bull. Torrey Bot. Club 23: 234-242. Uphof,
J. C. T. 1933. Die nordamerikanischen Arten der Gattung <I>Asimina</I>.
Mitt. Deutsch. Dendrol. Ges. 45: 61-76. Wilbur, R. L. 1970. Taxonomic and
nomenclatural observations on the eastern North American genus <I>Asimina</I>
(Annonaceae). J. Elisha Mitchell Sci. Soc. 86(2): 88-96. Zimmerman, G.
A. 1941. Hybrids of the American pawpaw. J. Heredity 32: 82-91.</P>

<P><B>