17. <A NAME="03500178"></A><I>Berberis piperiana</I> (Abrams) McMinn</B>,
Man. Calif. Shrubs, 125. 1939 - E F</P>

<P><I>Mahonia piperiana</I> Abrams, Phytologia
1: 91. 1934</P>

<P><B>Shrubs</B>, evergreen, 0.3-0.8&nbsp;m.
<B>Stems</B> monomorphic, without short axillary shoots. <B>Bark</B> of
2d-year stems brown or purple, glabrous. <B>Bud scales</B> 3-8&nbsp;mm,
deciduous. <B>Spines</B> absent. <B>Leaves</B> 5-9-foliolate; petioles
1-6&nbsp;cm. <B>Leaflet blades</B> rather thick and &plusmn;&nbsp;rigid;
surfaces abaxially dull, papillose, adaxially glossy, green; terminal leaflet
stalked, blade 3.6-9.5 &times; 2-5.2&nbsp;cm, 1.3-2.1 times as long as
wide; lateral leaflet blades lance-elliptic to elliptic-ovate or narrowly
oblong, 1(-3)-veined from base, base rounded to obtuse or truncate, margins
undulate, toothed, each with 6-12 teeth 1-4&nbsp;mm, tipped with spines
to 1.6-2.8 &times; 0.2-0.3&nbsp;mm, apex acute to rounded-obtuse. <B>Inflorescences</B>
racemose, dense, 25-60-flowered, 3-10&nbsp;cm; bracteoles membranous, apex
obtuse or rounded. <B>Flowers:</B> anther filaments with distal pair of
recurved lateral teeth. <B>Berries</B> dark blue and glaucous, oblong-ovoid,
7-10&nbsp;mm, juicy, solid. 2<I>n</I>&nbsp;=&nbsp;28.</P>

<P>Flowering winter-spring (Mar-Jun). Open wooded
and shrubby slopes; 900-1700&nbsp;m; Calif., Oreg.</P>

<P><I>Berberis piperiana</I> is resistant to
infection by <I>Puccinia graminis</I>.<BR>
<BR>
<BR>
<B>