18. <A NAME="03500533"></A><I>Berberis repens</I> Lindley</B>, Bot.
Reg., plate 1176. 1828 - E F</P>

<P><I>Berberis aquifolium</I> Pursh var. <I>repens</I>
(Lindley) Scoggan; <I>B</I>. <I>sonnei</I> (Abrams) McMinn; <I>Mahonia
repens</I> (Lindley) G. Don; <I>M</I>.&nbsp;<I>sonnei</I> Abrams</P>

<P><B>Shrubs</B>, evergreen, 0.02-0.2(-0.6)&nbsp;m.
<B>Stems</B> monomorphic, usually without short axillary shoots. <B>Bark</B>
of 2d-year stems grayish or purplish brown, glabrous. <B>Bud scales</B>
3-8&nbsp;mm, deciduous. <B>Spines</B> absent. <B>Leaves</B> (3-)5-7-foliolate;
petioles (1-)3-9&nbsp;cm. <B>Leaflet blades</B> thin and flexible; surfaces
abaxially dull, papillose, adaxially dull, rarely glossy, somewhat glaucous;
terminal leaflet stalked, blade 3.2-9.5 &times; 2.3-6&nbsp;cm, 1.2-2.2(-2.5)
times as long as wide; lateral leaflets ovate or elliptic, 1(-3)-veined
from base, base rounded to obtuse or truncate, margins plane, toothed,
with 6-24 teeth 0.5-3 mm tipped with spines to 0.6-2.8 &times; 0.1-0.25&nbsp;mm,
apex rounded, rarely obtuse or even broadly acute. <B>Inflorescences</B>
racemose, dense, 25-50-flowered, 3-10&nbsp;cm; bracteoles membranous, apex
rounded to obtuse or broadly acute. <B>Anther filaments</B> with distal
pair of recurved lateral teeth. <B>Berries</B> blue, glaucous, oblong-ovoid,
6-10&nbsp;mm, juicy, solid. 2<I>n</I>&nbsp;=&nbsp;28.</P>

<P>Flowering spring (Apr-Jun). Open forest, shrubland,
and grassland; 200-3000&nbsp;m; Alta., B.C.; Ariz., Calif., Colo., Idaho,
Minn., Mont., Nebr., Nev., N.Mex., N.Dak., Oreg., S.Dak., Tex., Utah, Wash.,
Wyo.</P>

<P><I>Berberis sonnei</I> was described based
on plants with relatively narrow, rather shiny leaflets collected by Sonne
in Truckee, California. Subsequent collections from this population show
the morphology typical of <I>B</I>.&nbsp;<I>repens</I>; Sonne's collections
evidently are an aberrant form of this species.</P>

<P><I>Berberis repens</I> is resistant to infection
by <I>Puccinia graminis</I>.</P>

<P>Various Native American tribes used preparations
of the roots of <I>Berberis repens</I> to treat stomach troubles, to prevent
bloody dysentary, and as a blood purifier; mixed with whiskey, it was used
for bladder problems, venereal diseases, general aches, and kidney problems;
and preparations made from the entire plant served as a cure-all and as
a lotion for scorpion bites (D.&nbsp;E. Moermann 1986).<BR>
<BR>
<BR>
<B>