16. <A NAME="03500186"></A><I>Berberis wilcoxii</I> Kearney</B>, Trans.
New York Acad. Sci. 14: 29. 1894</P>

<P><B>Shrubs</B>, evergreen, 0.3-2&nbsp;m. <B>Stems</B>
&plusmn;&nbsp;monomorphic, seldom with short axillary shoots. <B>Bark</B>
of 2d-year stems purple or brown, glabrous. <B>Bud scales</B> 2-6&nbsp;mm,
deciduous. <B>Spines</B> absent. <B>Leaves</B> 5-9-foliolate; petioles
1-5&nbsp;cm. <B>Leaflet blades</B> thick and rigid; surfaces abaxially
dull, papillose, adaxially glossy, green; terminal leaflet stalked, blade
2.6-6.6 &times; 1.7-4.4&nbsp;cm, 1-2.5 times as long as wide; lateral leaflet
blades oblong to ovate or elliptic, 1-3-veined from base, base obtuse to
rounded or truncate, margins plane to crispate, toothed, each with 3-5
teeth 1-5&nbsp;mm tipped with spines to 1.2-3.8 &times; 0.2-0.6&nbsp;mm,
apex acute to rounded. <B>Inflorescences</B> racemose, dense, 30-50-flowered,
2-7&nbsp;cm; bracteoles membranous, apex rounded or obtuse. <B>Flowers:</B>
anther filaments with distal pair of recurved lateral teeth. <B>Berries</B>
blue, glaucous, oblong-ovoid, 6-11&nbsp;mm, juicy, solid.</P>

<P>Flowering spring (Apr-May). Slopes and canyons;
1500-2500&nbsp;m; Ariz., N.Mex.; Mexico (Sonora).</P>

<P><I>Berberis wilcoxii</I> has not been tested
for resistance to infection by <I>Puccinia graminis</I>.<BR>
<BR>
<BR>
<B>