10. <A NAME="03500174"></A><I>Berberis higginsiae</I> Munz</B>, Aliso
4: 91. 1958 - C</P>

<P><I>Mahonia higginsiae</I> (Munz) Ahrendt</P>

<P><B>Shrubs</B>, evergreen, 1-3&nbsp;m. <B>Stems</B>
&plusmn;&nbsp;dimorphic, with elongate primary and short or somewhat elongate
axillary shoots. <B>Bark</B> of 2d-year stems brown or purple, glabrous.
<B>Bud scales</B> 2-3&nbsp;mm, deciduous. <B>Spines</B> absent. <B>Leaves</B>
5-7-foliolate (or 3 by abortion of basal pair, leaving prominent articulation
on petiole); petioles 0.1-0.4&nbsp;cm. <B>Leaflet blades</B> thick and
rigid; surfaces abaxially dull, papillose, adaxially dull, glaucous; terminal
leaflet stalked (sessile in a few leaves), blade 1.4-3.4 &times; 1.1-2.4&nbsp;cm,
1-2.5 times as long as wide; lateral leaflet blades oblong to ovate or
elliptic, 1-3-veined from base, base obtuse or truncate, margins undulate
or crispate, toothed, each with 2-5 teeth 1-4&nbsp;mm high tipped with
spines to 1.2-3 &times; 0.2-0.3&nbsp;mm, apex rounded to acute. <B>Inflorescences</B>
racemose, lax, 5-8-flowered, 2.5-8&nbsp;cm; bracteoles membranous, apex
acuminate. <B>Berries</B> yellowish red, slightly glaucous, spheric, 6-8&nbsp;mm,
juicy, solid.</P>

<P>Flowering spring (Apr-Jun). Chaparral and
pinyon-juniper woodland; of conservation concern; 800-1200&nbsp;m; Calif.;
Mexico (Baja California).</P>

<P><I>Berberis higginsiae</I> is endemic to the
region immediately south and east of San Diego, California. The leaflet
description above fits the few known California collections; specimens
with narrower leaflets (terminal leaflets to 4.5 times as long as wide)
have been collected just south of the Mexican border, where leaflet shape
may be variable on a single specimen. <I>Berberis higginsiae</I> is intermediate
between <I>B</I>.&nbsp;<I>fremontii</I> and <I>B</I>.&nbsp;<I>haematocarpa</I>
in its variable leaflet shape and berries that are small and juicy but
yellowish red. Further study may show that it is conspecific with one of
these species (R.&nbsp;V. Moran 1982).</P>

<P><I>Berberis higginsiae</I> is susceptible
to infection by <I>Puccinia graminis</I>.<BR>
<BR>
<BR>
<B>