15. <A NAME="03500179"></A><I>Berberis pumila</I> Greene</B>, Pittonia
2: 161-162. 1891 - E</P>

<P><I>Mahonia pumila</I> (Greene) Fedde</P>

<P><B>Shrubs</B>, evergreen, 0.1-0.4&nbsp;m.
<B>Stems</B> monomorphic, without short axillary shoots. <B>Bark</B> of
2d-year stems gray-brown or purplish, glabrous. <B>Bud scales</B> 3-6&nbsp;mm,
deciduous. <B>Spines</B> absent. <B>Leaves</B> 3-9-foliolate; petioles
0.5-4&nbsp;cm. <B>Leaflet blades</B> thick and rigid; surfaces abaxially
dull, papillose, adaxially dull, glaucous; terminal leaflet stalked, at
least on most leaves, blade 4-8 &times; 2-5&nbsp;cm, 1.3-1.9 times as long
as wide; lateral leaflet blades ovate to oblong-ovate or elliptic, 1(-3)-veined
from base, base obtuse, rarely truncate, margins plane or undulate, toothed,
with 2-10 teeth 1-3&nbsp;mm tipped with spines to 1.6-3 - 0.3-0.4(-0.5)&nbsp;mm,
apex obtuse or rounded, rarely broadly acuminate. <B>Inflorescences</B>
racemose, dense, 30-45-flowered, 2-4&nbsp;cm; bracteoles membranous, apex
rounded or obtuse, sometimes apiculate. <B>Flowers:</B> anther filaments
with distal pair of recurved lateral teeth. <B>Berries</B> dark blue, glaucous,
oblong-ovoid to spheric, 5-8&nbsp;mm, juicy, solid. 2<I>n</I>&nbsp;=&nbsp;28.</P>

<P>Flowering winter-spring (Mar-May). Open woods
and rocky areas; 300-1200&nbsp;m; Calif., Oreg.</P>

<P><I>Berberis pumila</I> is resistant to infection
by <I>Puccinia graminis</I>.<BR>
<BR>
<BR>
<B>