

<P><B>3. BERBERIS Linnaeus</B>,
Sp. Pl. 1: 330. 1753; Gen. Pl. ed. 5, 153. 1754 - Barberry, Oregon-grape,
berb&eacute;ris, algerita [Mediaeval Latin <I>barbaris</I>]</P>

<P><I>Mahonia</I> Nuttall, name conserved; <I>Odostemon</I>
Rafinesque</P>

<P><B>Shrubs or subshrubs</B>, evergreen or deciduous,
0.1-4.5(-8)&nbsp;m, glabrous or with tomentose stems. <B>Rhizomes</B> present
or absent, short or long, not nodose. <B>Stems</B> branched or unbranched,
monomorphic or dimorphic, i.e., all elongate or with elongate primary stems
and short axillary spur shoots. <B>Leaves</B> alternate, sometimes leaves
of elongate shoots reduced to spines and foliage leaves borne only on short
shoots; foliage leaves simple or 1-odd-pinnately compound; petioles usually
present. <B>Simple leaves:</B> blade narrowly elliptic, oblanceolate, or
obovate, 1.2-7.5&nbsp;cm. <B>Compound leaves:</B> rachis, when present,
with or without swollen articulations; leaflet blades lanceolate to orbiculate,
margins entire, toothed, spinose, or spinose-lobed; venation pinnate or
leaflets 3-6-veined from base. <B>Inflorescences</B> terminal, usually
racemes, rarely umbels or flowers solitary. <B>Flowers</B> 3-merous, 3-8&nbsp;mm;
bracteoles caducous, 3, scalelike; sepals falling immediately after anthesis,
6, yellow; petals 6, yellow, nectariferous; stamens 6; anthers dehiscing
by valves; pollen exine punctate; ovary symmetrically club-shaped; placentation
subbasal; style central. <B>Fruits</B> berries, spheric to cylindric-ovoid
or ellipsoid, usually juicy, sometimes dry, at maturity. <B>Seeds</B> 1-10,
tan to red-brown or black; aril absent. <I>x</I>&nbsp;=&nbsp;14.</P>

<P>Species ca. 500 (22 in the flora): almost
worldwide.</P>

<P>Many species of <I>Berberis</I> are grown
as ornamental shrubs. Some species harbor the black stem-rust of wheat
(<I>Puccinia graminis</I> Persoon); the sale or transport of susceptible
or untested species is illegal in the United States and Canada. Data on
susceptibility of <I>Berberis</I> spp. to infection by <I>Puccinia graminis</I>
was supplied by Dr. D.&nbsp;L. Long, U.S. Department of Agriculture (pers.
comm.).</P>

<P>The berries of many species are edible and
frequently are used for jam and jelly.</P>

<P>The genus <I>Berberis</I> as recognized below
is divided into two genera, <I>Berberis</I> and <I>Mahonia</I>, by some
authors (e.g., L.&nbsp;Abrams 1934). Species 1-5 below represent <I>Berberis</I>
in the narrow sense (characterized by dimorphic stems, with elongate primary
stems and short axillary shoots; leaves of primary stems modified as spines;
foliage leaves simple; and inflorescences usually rather lax, with acuminate
bracteoles and 1-20 flowers; most species susceptible to <I>Puccinia</I>).
Species 13-22 represent the segregate genus <I>Mahonia</I> (with stems
never regularly dimorphic; stem spines absent; leaves pinnately compound;
and inflorescences dense, with rounded or obtuse [rarely acute] bracteoles
and 25-70 flowers; never susceptible to <I>Puccinia</I>). Species 6-12,
traditionally included in <I>Mahonia</I> when that genus is recognized
(L.&nbsp;Abrams 1934), are actually intermediate, resembling <I>Berberis</I>
proper in their dimorphic stems, inflorescence structure, and susceptibility
to <I>Puccinia</I>, and <I>Mahonia</I> in their spineless stems and compound
leaves. Species showing different combinations of the characteristics of
the two groups are found in other parts of the world (J.&nbsp;W. McCain
and J.&nbsp;F. Hennen 1982; R.&nbsp;V. Moran 1982), so these segregate
genera do not seem to be natural. <I>Mahonia</I> is often recognized in
horticultural works, but it is seldom recognized by botanists.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Abrams,&nbsp;L. 1934. The mahonias of the Pacific states. Phytologia
1:&nbsp;89-94. McCain, J.&nbsp;W. and J.&nbsp;F. Hennen. 1982. Is the taxonomy
of <I>Berberis</I> and <I>Mahonia</I> (Berberidaceae) supported by their
rust pathogens <I>Cumminsiella santa</I> sp. nov. and other <I>Cumminsiella</I>
species (Uredinales)? Syst. Bot. 7:&nbsp;48-59. Moran, R.&nbsp;V. 1982.
<I>Berberis claireae</I>, a new species from Baja California; and why not
<I>Mahonia</I>. Phytologia 52:&nbsp;221-226.<BR>
<BR>
<BR>
<B>