11. <A NAME="03500182"></A><I>Berberis swaseyi</I> Buckley ex M. J.
Young</B>, Famil. Lessons Bot., 152. 1873 - E</P>

<P><I>Mahonia swaseyi</I> (Buckley ex M. J. Young)
Fedde</P>

<P><B>Shrubs</B>, evergreen, 1-2&nbsp;m. <B>Stems</B>
&plusmn;&nbsp;dimorphic, with elongate primary and short or somewhat elongate
axillary shoots. <B>Bark</B> of 2d-year stems purple, glabrous. <B>Bud
scales</B> 1.5-4&nbsp;mm, deciduous. <B>Spines</B> absent. <B>Leaves</B>
5-9-foliolate (basal pair of leaflets sometimes reduced to bristles); petioles
0.1-0.5&nbsp;cm. <B>Leaflet blades</B> thin or thick and rigid; surfaces
abaxially dull, papillose, adaxially dull, somewhat glaucous; terminal
leaflet stalked (sessile in a few leaves), blades 1.8-3.5 &times; 0.7-1.7&nbsp;cm,
1.3-4.7 times as long as wide; lateral leaflets oblong to elliptic or lanceolate,
1-veined from base, base truncate to obtuse, rarely acute, margins plane
or undulate, toothed, each with 3-8 teeth 0.5-2&nbsp;mm high tipped with
spines to 0.6-1.2 &times; 0.1-0.2&nbsp;mm, apex rounded to acuminate. <B>Inflorescences</B>
racemose, lax, 2-6-flowered, 4-6&nbsp;cm; bracteoles leathery, apex spinose-acuminate,
sometimes with proximal bracteoles as described, distal membranous and
acuminate. <B>Flowers:</B> anther filaments with distal pair of recurved
lateral teeth. <B>Berries</B> white or red and somewhat glaucous, spheric,
9-16&nbsp;mm, dry or juicy, hollow.</P>

<P>Flowering winter-spring (Feb-Apr). Limestone
ridges and canyons; 150-600&nbsp;m; Tex.</P>

<P><I>Berberis swaseyi</I> is endemic to the
Edwards Plateau. According to M.&nbsp;C. Johnston (pers. comm.), <I>B</I>.&nbsp;<I>swaseyi</I>
and <I>B</I>.&nbsp;<I>trifoliolata</I> hybridize in central Texas.</P>

<P><I>Berberis swaseyi</I> is susceptible to
infection by <I>Puccinia graminis</I>.<BR>
<BR>
<BR>
<B>