4. <A NAME="03500183"></A><I>Berberis thunbergii</I> de Candolle</B>,
Syst. Nat. 2: 19. 1821 - Japanese barberry - W2</P>

<P><B>Shrubs</B>, deciduous, 0.3-3&nbsp;m. <B>Stems</B>
dimorphic, with short axillary shoots. <B>Bark</B> of 2d-year stems purple
or brown, glabrous. <B>Bud scales</B> 1-2&nbsp;mm, deciduous. <B>Spines</B>
present, simple or 3-fid. <B>Leaves</B> simple; petioles 0-0.8&nbsp;cm.
<B>Leaf blade</B> obovate to spatulate, 1-veined from base, (0.5-)1.2-2.4
&times; 0.3-1(-1.8)&nbsp;cm, thin and flexible, base long-attenuate, margins
plane, entire, apex rounded or obtuse; surfaces abaxially dull, smooth,
adaxially dull, scarcely glaucous. <B>Inflorescences</B> umbellate, 1-5-flowered,
1-1.5&nbsp;cm; bracteoles membranous, apex acute. <B>Flowers:</B> anther
filaments without distal pair of recurved lateral teeth. <B>Berries</B>
red, ellipsoid or spheric, (7-)9-10&nbsp;mm, juicy, solid.</P>

<P>Flowering late winter-spring (Mar-May). Woods,
old fields, roadsides; 0-1300&nbsp;m; introduced; N.B., N.S., Ont., P.E.I.;
Conn., Del., Ga., Ill., Ind., Iowa, Kans., Ky., Maine, Md., Mass., Mich.,
Minn., Mo., Nebr., N.H., N.J., N.Y., N.C., Ohio, Pa., S.Dak., Vt., Va.,
W.Va., Wis., Wyo.; native, Asia (Japan).</P>

<P>The U.S. Department of Agriculture lists <I>Berberis
thunbergii</I> as resistant to infection by <I>Puccinia graminis</I>, and
the species is widely grown as an ornamental in the United States. Preliminary
tests carried out by Agriculture Canada, however, suggest that some strains
may be susceptible to <I>Puccinia graminis</I> infection, and cultivation
of <I>B</I>.&nbsp;<I>thunbergii</I> is illegal in Canada.<BR>
<BR>
<BR>
<B>