20a. <A NAME="03500266"></A><I>Berberis
pinnata</I> Lagasca subsp. <I>pinnata</I></B></P>

<P><B>Shrubs</B>, self-supporting, 0.3-1.6&nbsp;m.
<B>Leaflets</B> thin but &plusmn;&nbsp;rigid; lateral leaflet blades ovate
to broadly lanceolate, margins undulate or crispate, marginal teeth tipped
with spines to 1.2-3 &times; 0.2-0.3&nbsp;mm. <B>Inflorescences</B> 2-5&nbsp;cm.</P>

<P>Flowering winter-spring (Feb-May). Exposed
rocky openings in woods and shrubland; 0-1200&nbsp;m; Calif., Oreg.; Mexico
(n&nbsp;Baja California).<BR>
</P>

<P><B>