20. <A NAME="03500413"></A><I>Berberis pinnata</I> Lagasca</B>, Elench.
Pl., 14. 1816</P>

<P><I>Mahonia pinnata</I> (Lagasca) Fedde</P>

<P><B>Shrubs</B>, evergreen, 0.3-1.6(-7)&nbsp;m.
<B>Stems</B> usually monomorphic, seldom with short axillary shoots. <B>Bark</B>
of 2d-year stems grayish brown, glabrous. <B>Bud scales</B> 3-7&nbsp;mm,
deciduous. <B>Spines</B> absent. <B>Leaves</B> (3-)5-13-foliolate; petioles
0.5-4.5(-7.5)&nbsp;cm. <B>Leaflet blades</B> thin and &plusmn;&nbsp;rigid
or flexible; surfaces abaxially glossy, smooth, adaxially glossy, green;
terminal leaflet stalked, blade 2.6-6.2 &times; 2-4.5&nbsp;cm, 1.3-1.9
times as long as wide; lateral leaflet blades elliptic to ovate or broadly
lanceolate, 1(-3)-veined from base, base broadly obtuse, truncate, or weakly
cordate, margins plane to crispate, toothed, each with 5-22 teeth 0-2&nbsp;mm
tipped with spines to 1-3 &times; 0.1-0.3&nbsp;mm, apex acute to rounded-obtuse.
<B>Inflorescences</B> racemose, dense, 25-50-flowered, 2-9&nbsp;cm; bracteoles
membranous, apex rounded to broadly acute, sometimes apiculate. <B>Anther
filaments</B> with distal pair of recurved lateral teeth. <B>Berries</B>
blue, glaucous, oblong-ovoid to subspheric, 6-7&nbsp;mm, juicy, solid.</P>

<P>Subspecies 2 (2 in the flora): Calif., Oreg.;
Mexico (Baja California).</P>

<P><I>Berberis pinnata</I> is very similar to
<I>B</I>.&nbsp;<I>aquifolium</I>, and the two are sometimes difficult to
separate. Some authors have used the spacing of the lateral leaflets (said
to be contiguous or imbricate in <I>B</I>.&nbsp;<I>pinnata</I> and remote
in <I>B</I>.&nbsp;<I>aquifolium</I>) to separate them, but the leaflets
are often remote in both species and may be contiguous in <I>B</I>.&nbsp;<I>aquifolium</I>.</P>

<P><I>Berberis pinnata</I> is resistant to infection
by <I>Puccinia graminis</I>.<BR>
</P>

<P><B>