8. <A NAME="03500171"></A><I>Berberis fremontii</I> Torrey in W.&nbsp;H.
Emory</B>, Rep. U.S. Mex. Bound. 2(1): 30. 1859 - E F</P>

<P><I>Mahonia fremontii</I> (Torrey) Fedde</P>

<P><B>Shrubs </B>evergreen, 1-4.5&nbsp;m. <B>Stems</B>
&plusmn;&nbsp;dimorphic, with elongate primary and short or somewhat elongate
axillary shoots. <B>Bark</B> of 2d-year stems light brown or grayish purple,
glabrous. <B>Bud scales</B> 2-4&nbsp;mm, deciduous. <B>Spines</B> absent.
<B>Leaves</B> 5-9(-11)-foliolate; petioles 0.2-0.8(-3)&nbsp;cm. <B>Leaflet
blades</B> thick and rigid; surfaces abaxially dull, papillose, adaxially
dull, glaucous; terminal leaflet stalked in most or all leaves, blade 1-2.6(-4)
&times; 0.7-1.8(-2.5)&nbsp;cm, 1-2.5 times as long as wide; lateral leaflet
blades elliptic to ovate or orbiculate, 1-3-veined from base, base obtuse
or truncate, margins strongly crispate, toothed or lobed, with 2-5 teeth
2-6&nbsp;mm high tipped with spines to 0.8-2.2 &times; 0.2-0.3&nbsp;mm,
apex obtuse to acuminate. <B>Inflorescences</B> racemose, lax, 3-6-flowered,
2.5-6.5&nbsp;cm; bracteoles membranous, apex acuminate. <B>Flowers:</B>
anther filaments with distal pair of recurved lateral teeth. <B>Berries</B>
yellow or red to brown, &plusmn;&nbsp;glaucous, spheric, 12-18&nbsp;mm,
dry, inflated.</P>

<P>Flowering spring (Apr-Jun). Slopes and flats
in desert grassland and pinyon-juniper woodland; 1100-2400(-3400)&nbsp;m;
Ariz., Calif., Colo., Nev., N.Mex., Utah.</P>

<P><I>Berberis fremontii</I> is susceptible to
infection by <I>Puccinia graminis</I>.</P>

<P>The Apache Indians used <I>Berberis fremontii</I>
for ceremonial purposes; the Hopi used it medicinally to heal gums (D.&nbsp;E.
Moermann 1986).<BR>
<BR>
<BR>
<B>