2. <A NAME="03500065"></A><I>Berberis fendleri</I> A. Gray</B>, Mem.
Amer. Acad. Arts, ser. 2, 4: 5. 1849 - F</P>

<P><B>Shrubs</B>, deciduous, 1-2&nbsp;m. <B>Stems</B>
dimorphic, with elongate primary and short axillary shoots. <B>Bark</B>
of 2d-year stems purple, glabrous. <B>Bud scales</B> 1-2&nbsp;mm, deciduous.
<B>Spines</B> present, simple or 1-2-pinnately branched. <B>Leaves</B>
simple; petioles 0.2-0.7&nbsp;cm. <B>Leaf blade</B> narrowly elliptic,
1-veined from base, 1.7-4.6 &times; 0.6-1.7&nbsp;cm, thin and flexible,
base long-attenuate, margins plane, entire or toothed, each with 3-12 teeth
0-1&nbsp;mm high tipped with bristles to 0.4-1.4 &times; 0.1-0.2&nbsp;mm,
apex acute to obtuse or rounded; surfaces abaxially dull or glossy and
smooth, adaxially dull or glossy and not glaucous. <B>Inflorescences</B>
racemose, lax, 4-15-flowered, 1.5-4.5&nbsp;cm; bracteoles membranous, apex
acuminate. <B>Flowers:</B> anther filaments without distal pair of recurved
lateral teeth. <B>Berries</B> red, not glaucous, oblong-ellipsoid, 6-8&nbsp;mm,
juicy, solid.</P>

<P>Flowering spring-summer (May-Aug). Slopes
and canyon bottoms; 1300-2700&nbsp;m; Colo., N.Mex., Utah.</P>

<P><I>Berberis fendleri</I> is susceptible to
infection by <I>Puccinia graminis</I>.<BR>
<BR>
<BR>
<B>