13. <A NAME="03500170"></A><I>Berberis dictyota</I> Jepson</B>, Bull.
Torrey Bot. Club 18: 319. 1891 - E F</P>

<P><I>Berberis aquifolium</I> Pursh var. <I>dictyota</I>
(Jepson) Jepson; <I>B</I>.&nbsp;<I>californica</I> Jepson; <I>Mahonia dictyota</I>
(Jepson) Fedde</P>

<P><B>Shrubs</B>, evergreen, (0.3-)0.5-2&nbsp;m.
<B>Stems</B> usually monomorphic, seldom with short axillary shoots. <B>Bark</B>
of 2d-year stems brown or purple, glabrous. <B>Bud scales</B> 3-5&nbsp;mm,
deciduous. <B>Spines</B> absent. <B>Leaves</B> 5-7-foliolate; petioles
0.5-3&nbsp;cm. <B>Leaflet blades</B> thick and rigid; surfaces abaxially
dull, papillose, adaxially dull, glaucous; terminal leaflet stalked, rarely
sessile in a few leaves, blades 2.2-8.8 &times; 1.8-6&nbsp;cm, 1.2-2 times
as long as wide; lateral leaflet blades elliptic to oblong or oblong-ovate,
1-3-veined from base, base obtuse or truncate, margins strongly crispate,
toothed, each with 3-8 teeth 2-8&nbsp;mm tipped with spines to 2-4.8 &times;
0.4-0.6&nbsp;mm, apex rounded or obtuse. <B>Inflorescences</B> racemose,
dense, 25-50-flowered, 3-7&nbsp;cm; bracteoles membranous, apex rounded
or obtuse. <B>Flowers:</B> anther filaments with distal pair of recurved
lateral teeth. <B>Berries</B> dark blue, at least sometimes glaucous, oblong-ovoid,
6-7&nbsp;mm, juicy, solid. 2<I>n</I>&nbsp;=&nbsp;28.</P>

<P>Flowering winter-spring (Mar-Apr). Dry rocky
places in chaparral and open woodland; 600-1800&nbsp;m; Calif.</P>

<P><I>Berberis dictyota</I>, <I>B</I>.&nbsp;<I>amplectens</I>,
<I>B</I>.&nbsp;<I>pumila</I>, and <I>B</I>.&nbsp;<I>wilcoxii</I> are very
similar, and the characters that separate them (height, glossiness and
crispation of leaflets, and size and number of marginal teeth) are rather
variable within the species. <I>Berberis piperiana</I> also belongs to
this group, although it is usually more distinct because of its thinner
leaflets with more slender, more numerous marginal spines.</P>

<P><I>Berberis dictyota</I> is resistant to infection
by <I>Puccinia graminis</I>.</P>

<P>Medicinally, the Kawaiisu used a decoction
of the root of <I>Berberis dictyota</I> to treat gonorrhea (D.&nbsp;E.
Moermann 1986).<BR>
<BR>
<BR>
<B>