9. <A NAME="03500172"></A><I>Berberis haematocarpa</I> Wooton</B>, Bull.
Torrey Bot. Club 25: 304. 1898 - Algerita - F</P>

<P><I>Berberis nevinii</I> A.&nbsp;Gray var.
<I>haematocarpa</I> (Wooton) L.&nbsp;D. Benson; <I>Mahonia haematocarpa</I>
(Wooton) Fedde</P>

<P><B>Shrubs</B>, evergreen, 1-4&nbsp;m. <B>Stems</B>
&plusmn;&nbsp;dimorphic, with elongate primary and short or somewhat elongate
axillary shoots. <B>Bark</B> of 2d-year stems grayish purple, glabrous.
<B>Bud scales</B> 2-4&nbsp;mm, deciduous. <B>Spines</B> absent. <B>Leaves</B>
3-9-foliolate; petioles 0.1-0.5&nbsp;cm. <B>Leaflet blades</B> thick and
rigid; surfaces abaxially dull, papillose, adaxially dull, glaucous; terminal
leaflet stalked in most leaves, blade 1.5-3.8 &times; 0.5-1.1&nbsp;cm,
2-5 times as long as wide; lateral leaflet blades oblong-ovate to ovate
or lanceolate, 1(-3)-veined from base, base acute to obtuse, rarely subtruncate,
margins undulate or crispate, toothed or lobed, with 2-4 teeth 1-4&nbsp;mm
high tipped with spines to 1.2-2 &times; 0.2-0.3&nbsp;mm, apex narrowly
acute or acuminate. <B>Inflorescences</B> racemose, lax, 3-7-flowered,
1.5--4.5&nbsp;cm; bracteoles membranous, apex acuminate. <B>Flowers:</B>
anther filaments without distal pair of recurved lateral teeth. <B>Berries</B>
purplish red, glaucous, spheric or short-ellipsoid, 5-8&nbsp;mm, juicy,
solid.</P>

<P>Flowering winter-spring (Feb-Jun). Slopes
and flats in desert shrubland, desert grassland, and dry oak woodland;
900-2300&nbsp;m; Ariz., Calif., Colo., Nev., N.Mex, Tex.; Mexico (Sonora).</P>

<P>Typical populations of <I>Berberis haematocarpa</I>
(with narrowly ovate or lanceolate leaflets and small, juicy, deep red
berries) and <I>B</I>.&nbsp;<I>fremontii</I> (with ovate or orbiculate
leaflets and large, dry, inflated, yellowish or brownish berries) are easily
distinguished. These characteristics are not always well correlated, however,
and intermediate populations, showing different combinations of leaflet
shape and berry size, color, and inflation, are known.</P>

<P><I>Berberis haematocarpa</I> is susceptible
to infection by <I>Puccinia graminis</I>.<BR>
<BR>
<BR>
<B>