5. <A NAME="03500220"></A><I>Berberis darwinii</I> Hooker</B>, Icon.
Pl. 7: 672. 1844</P>

<P><B>Shrubs</B>, evergreen, 1-3&nbsp;m. <B>Stems</B>
dimorphic, with elongate primary and short axillary shoots. <B>Bark</B>
of 2d-year stems brown, densely tomentose. <B>Bud scales</B> 2-4&nbsp;mm,
deciduous. <B>Spines</B> present, pedately 5-9-fid. <B>Leaves</B> simple;
petioles 0.1-0.3&nbsp;cm. <B>Leaf blade</B> obovate, 1-veined from base,
1.7-3 &times; 0.9-1.2&nbsp;cm, thick and rigid, base acute or acuminate,
margins reflexed, undulate, toothed or shallowly lobed, each with 2-4 teeth
or lobes 1-3&nbsp;mm high tipped with spines to 1.2-1.6 &times; 0.2-0.3&nbsp;mm,
apex obtuse or rounded; surfaces abaxially glossy, smooth, adaxially glossy,
green. <B>Inflorescences</B> racemose, rather dense, 10-20-flowered, 3-4&nbsp;cm;
bracteoles membranous, apex acuminate. <B>Flowers:</B> anther filaments
without distal pair of recurved lateral teeth. <B>Berries</B> dark purple,
spheric, 6-7&nbsp;mm, juicy, solid.</P>

<P>Flowering winter (Feb). Humid areas near coast;
0-20&nbsp;m; introduced; Calif., Oreg.; native, s South America.</P>

<P><I>Berberis darwinii</I> only rarely escapes
from cultivation. It is resistant to infection by <I>Puccinia graminis</I>.<BR>
<BR>
<BR>
<B>