21. <A NAME="03500175"></A><I>Berberis nervosa</I> Pursh</B>, Fl. Amer.
Sept., 219. 1814 - E F</P>

<P><I>Berberis nervosa</I> Pursh var. <I>mendocinensis</I>
Roof; <I>Mahonia nervosa</I> (Pursh) Nuttall; <I>M</I>.&nbsp;<I>nervosa</I>
var. <I>mendocinensis</I> (Roof) Roof</P>

<P><B>Shrubs</B>, evergreen, 0.1-0.8(-2)&nbsp;m.
<B>Stems</B> monomorphic, without short axillary shoots. <B>Bark</B> of
2d-year stems brown or yellow-brown, glabrous. <B>Bud scales</B> (13-)20-44&nbsp;mm,
persistent. <B>Spines</B> absent. <B>Leaves</B> 9-21-foliolate; petioles
2-11&nbsp;cm. <B>Leaflet blades</B> thin and &plusmn;&nbsp;flexible; surfaces
abaxially rather dull, smooth, adaxially dull, somewhat glaucous; terminal
leaflet stalked, blade 2.9-8.4 &times; 1.2-4.8&nbsp;cm, 1.8-3.2 times as
long as wide; lateral leaflet blades lance-ovate to ovate, 4-6-veined from
base, base rounded to cordate, margins plane, toothed, each with 6-13 teeth
1-2(-3)&nbsp;mm tipped with spines to 1-2.4 &times; 0.1-0.2&nbsp;mm, apex
acute or broadly acuminate. <B>Inflorescences</B> racemose, dense, 30-70-flowered,
6-17&nbsp;cm; bracteoles membranous, apex acute, obtuse, or rounded. <B>Flowers:</B>
anther filaments without distal pair of recurved lateral teeth. <B>Berries</B>
blue, glaucous, oblong-ovoid or globose, 8-11&nbsp;mm, juicy, solid. 2<I>n</I>&nbsp;=&nbsp;56.</P>

<P>Flowering winter-spring (Mar-Jun). Open or
shaded woods, often in rocky areas; 0-1800&nbsp;m; B.C.; Calif., Idaho,
Oreg., Wash.</P>

<P>Plants of <I>Berberis nervosa</I> are usually
very low (commonly 0.1-0.3&nbsp;m), but occasional plants may be considerably
taller (to 2&nbsp;m). One such population from north of Westport, California,
has been separated as <I>B</I>.&nbsp;<I>nervosa</I> var. <I>mendocinensis</I>.
Similar populations occur sporadically throughout the range of <I>B</I>.&nbsp;<I>nervosa</I>,
so the form should not be recognized taxonomically.</P>

<P><I>Berberis nervosa</I> is resistant to infection
by <I>Puccinia graminis</I>.</P>

<P>The Skagit tribe used <I>Berberis nervosa</I>
medicinally in a root preparation to treat venereal disease (D.&nbsp;E.
Moermann 1986).<BR>
<BR>
<BR>
<B>