

<P><B>16. BERBERIDACEAE
Jussieu - Barberry Family</B></P>

<P><B>Herbs or shrubs [trees]</B>, perennial,
evergreen or deciduous, sometimes rhizomatous. <B>Stems</B> with or without
spines. <B>Leaves</B> alternate, opposite, or fascicled, simple, 2-3-foliolate,
or 1-3-pinnately or 2-3(-4)-ternately compound; stipules present or absent;
venation pinnate or palmate. <B>Inflorescences</B> terminal or axillary,
racemes, cymes, umbels (or umbel-like), spikes, or panicles, or flowers
solitary or in pairs, flowers pedicellate or sessile. <B>Flowers</B> bisexual,
inconspicuous or showy, radially symmetric; stipitate glands absent (except
in <I>Vancouveria</I>); sepaloid bracteoles 0-9; perianth sometimes absent
(<I>Achlys</I>), more frequently present, 2- or 3-merous, or sepals and
petals intergrading (<I>Nandis</I>); sepals 6, distinct, often petaloid
and colored, not spurred; petals 6-9, distinct, plane or hooded; nectary
present; stamens 6; anthers dehiscing by valves or longitudinal slits;
ovary superior, apparently 1-carpellate; placentation marginal or appearing
basal; style present or absent, sometimes persistent in fruit as beak.
<B>Fruits</B> follicles, berries, or utricles. <B>Seeds</B> 1-50, sometimes
arillate; endosperm abundant; embryo large or small; mature seeds elevated
on elongating stalk in <I>Caulophyllum</I>.</P>

<P>Genera 15, species ca. 650 (8 genera, 33 species
in the flora): widespread, well represented in the north temperate zone.</P>

<P>Berberidaceae presents several interesting
biogeographic features. <I>Achlys</I> is disjunct from western North America
to east Asia with few morphologic differences between taxa. <I>Diphylleia</I>,
<I>Jeffersonia</I>, and <I>Podophyllum</I>, each with a single eastern
North American species, exhibit wide disjunctions to east Asia. <I>Caulophyllum</I>
has three species, one in east Asia and two in the flora. <I>Vancouveria</I>
is endemic to northwestern United States with nearest relations to <I>Epimedium</I>
Linnaeus (H.&nbsp;Loconte and J.&nbsp;R. Estes 1989b; W.&nbsp;T. Stearn
1938), an exclusively Eastern Hemisphere genus.</P>

<P><I>Nandina</I>, <I>Berberis</I>, <I>Epimedium</I>,
and <I>Podophyllum</I> are cultivated.</P>

<P>The perianth of Berberidaceae is commonly
composed of three distinct types of organs, but terminology for the organs
varies from author to author. In our treatment, we refer to the small,
outer parts as bracteoles (collectively forming a calyculus); the large,
middle parts as sepals; and the innermost parts, which are commonly nectariferous,
as petals. Some authors have referred to the bracteoles as outer sepals
and to the petals as staminodes.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Ernst, W.&nbsp;R. 1964. The genera of Berberidaceae, Lardizabalaceae,
and Menispermaceae in the southeastern United States. J.&nbsp;Arnold Arbor.
45:&nbsp;1-35. Loconte,&nbsp;H. 1993. Berberidaceae. In: K.&nbsp;Kubitzki
et al., eds. 1990+. The Families and Genera of Vascular Plants. 2+ vols.
Berlin etc. Vol. 2, pp. 147-152. Loconte,&nbsp;H. and J.&nbsp;R. Estes.
1989b. Phylogenetic systematics of Berberidaceae and Ranunculales (Magnoliidae).
Syst. Bot. 14: 565-579. Meacham, C.&nbsp;A. 1980. Phylogeny of the Berberidaceae
with an evaluation of classifications. Syst. Bot. 5: 149-172. Ohwi,&nbsp;J.
1965. Flora of Japan (in English).... Washington. Nowicke, J.&nbsp;W. and
J.&nbsp;J. Skvarla. 1981. Pollen morphology and phylogenetic relationships
of the Berberidaceae. Smithsonian Contr. Bot. 50: 1-83. Terebayashi,&nbsp;S.
1985. The comparative floral anatomy and systematics of the Berberidaceae.
I. Morphology. Mem. Fac. Sci. Kyoto Univ., Ser. Biol. 10: 73-90. Terebayashi,&nbsp;S.
1985b. The comparative floral anatomy and systematics of the Berberidaceae.
II. Systematic considerations. Acta Phytotax. Geobot. 36: 1-13.</P>

