3. <A NAME="03500015"></A><I>Berberis vulgaris</I> Linnaeus</B>, Sp.
Pl. 1: 330. 1753 - Common barberry, &eacute;pine-vinette, berb&eacute;ris
vulgaire - W2</P>

<P><B>Shrubs</B>, deciduous, 1-3&nbsp;m. <B>Stems</B>
dimorphic, with elongate primary and short axillary shoots. <B>Bark</B>
of 2d-year stems gray, glabrous. <B>Bud scales</B> 2-3&nbsp;mm, deciduous.
<B>Spines</B> present, simple or 3-fid. <B>Leaves</B> simple; petioles
0.2-0.8&nbsp;cm. <B>Leaf blade</B> obovate to oblanceolate or almost elliptic,
1-veined from base, 2-6(-8) &times; 0.9-2.8&nbsp;cm, thin and flexible,
base short- to long-attenuate, margins plane, finely serrate, each with
(8-)16-30 teeth 0-1&nbsp;mm high tipped with spines or bristles to 0.6-1.4
&times; 0.1&nbsp;mm, apex rounded or obtuse; surfaces abaxially dull, smooth,
adaxially dull, &plusmn;&nbsp;glaucous. <B>Inflorescences</B> racemose,
lax, 10-20-flowered, 2-6&nbsp;cm; bracteoles membranous, apex acute. <B>Flowers:</B>
anther filaments without distal pair of recurved lateral teeth. <B>Berries</B>
red or purple, ellipsoid, 10-11&nbsp;mm, juicy, solid.</P>

<P>Flowering spring (May-Jun). Roadsides, woods,
old fields; 0-1800&nbsp;m; introduced; B.C., Man., N.B., N.S., Ont., P.E.I.,
Que.; Colo., Conn., Del., Idaho, Ill., Ind., Iowa, Kans., Maine, Md., Mass.,
Mich., Minn., Mo., Mont., Neb., N.H., N.J., N.Y., N.Dak., Ohio, Pa., R.I.,
S.Dak., Vt., Va., Wash., W.Va., Wis.; native, Europe.</P>

<P>During the eighteenth and nineteenth centuries,
<I>Berberis vulgaris</I> was very commonly cultivated in North America
for thorn hedges and as a source of jam and yellow dye. It frequently escaped
from cultivation and became naturalized over a wide area of eastern North
America. It is susceptible to infection by <I>Puccinia graminis</I>. As
the most important alternate host of this fungus, it has been the subject
of vigorous eradication programs, and it is now infrequent or absent in
many areas where it was once frequent (A.&nbsp;P. Roelfs 1982).<BR>
<BR>
<BR>
<B>