14. <A NAME="03500166"></A><I>Berberis amplectens</I> (Eastwood) L.
C. Wheeler</B>, Rhodora 39: 376. 1937 - C E</P>

<P><I>Mahonia amplectens</I> Eastwood, Proc.
Calif. Acad. Sci., ser. 4, 20: 145. 1931</P>

<P><B>Shrubs</B>, evergreen, 0.2-1.2&nbsp;m.
<B>Stems</B> monomorphic, without short axillary shoots. <B>Bark</B> of
2d-year stems purple, glabrous. <B>Bud scales</B> 3-6&nbsp;mm, deciduous.
<B>Spines</B> absent. <B>Leaves</B> 5-7-foliolate; petioles 1.5-5&nbsp;cm.
<B>Leaflet blades</B> thick and rigid; surfaces abaxially dull, papillose,
adaxially dull, &plusmn;&nbsp;glaucous; terminal leaflet stalked, blade
4.4-5.5 &times; 3.1-4.6&nbsp;cm, 1.1-1.4 times as long as wide; lateral
leaflet blades oblong or circular, 1-5-veined from base, base truncate
or cordate, margins undulate or crispate, toothed, each with 9-15 teeth
1-3&nbsp;mm tipped with spines to 1.4-2.4 &times; 0.2-0.4&nbsp;mm, apex
truncate or broadly rounded. <B>Inflorescences</B> racemose, dense, 25-35-flowered,
3-6&nbsp;cm; bracteoles membranous, apex obtuse or rounded. <B>Flowers:</B>
anther filaments distally with pair of recurved teeth: author had no data
available. <B>Berries</B> dark blue, glaucous, ovoid to elliptic, 7-9&nbsp;mm,
juicy, solid. 2<I>n</I>&nbsp;=&nbsp;28.</P>

<P>Flowering spring (Apr-May). Rocky slopes in
chaparral and open forest; of conservation concern; 900-1900&nbsp;m; Calif.</P>

<P><I>Berberis amplectens</I> is endemic to the
Peninsular Ranges of southern California. It is resistant to infection
by <I>Puccinia graminis</I>.<BR>
<BR>
<BR>
<B>