19. <A NAME="03500167"></A><I>Berberis aquifolium</I> Pursh</B>, Fl.
Amer. Sept., 219. 1814 - Oregon-grape - E F</P>

<P><I>Mahonia aquifolium</I> (Pursh) Nuttall</P>

<P><B>Shrubs</B>, evergreen, 0.3-3(-4.5)&nbsp;m.
<B>Stems</B> usually monomorphic, seldom with short axillary shoots. <B>Bark</B>
of 2d-year stems gray-brown or purplish, glabrous. <B>Bud scales</B> 4-8(-14)&nbsp;mm,
deciduous. <B>Spines</B> absent. <B>Leaves</B> 5-9-foliolate; petioles
1-6&nbsp;cm. <B>Leaflet blades</B> thin and flexible or rather rigid; surfaces
abaxially glossy, smooth, adaxially glossy, green; terminal leaflet stalked,
blade 5.1-8.7(-14.5) &times; 2.4-4.5(-5.5)&nbsp;cm, 1.7-2.5 times as long
as wide; lateral leaflet blades lance-ovate to lance-elliptic, 1(-3)-veined
from base, base obtuse or truncate, rarely weakly cordate, margins plane
or undulate, toothed, each with 5-21 teeth 0-2&nbsp;mm tipped with spines
to 0.8-2.2 &times; 0.2-0.3&nbsp;mm, apex acute or sometimes obtuse or rounded.
<B>Inflorescences</B> racemose, dense, 30-60-flowered, 3-9(-11)&nbsp;cm;
bracteoles membranous, apex rounded or obtuse, sometimes apiculate. <B>Flowers:</B>
anther filaments with distal pair of recurved lateral teeth. <B>Berries</B>
blue, glaucous, oblong-ovoid, 6-10&nbsp;mm, juicy, solid. 2<I>n</I>&nbsp;=&nbsp;28,
56.</P>

<P>Flowering winter-spring (Mar-Jun). Open woods
and shrublands; 0-2100&nbsp;m; B.C.; Calif., Idaho, Mont., Oreg., Wash.</P>

<P><I>Berberis aquifolium</I> is the state flower
of Oregon. It is widely used as an ornamental and has been reported as
an escape from cultivation in scattered localities across the continent
(Ontario, Quebec, central California, Michigan, and Nevada).</P>

<P><I>Berberis aquifolium</I> is resistant to
infection by <I>Puccinia graminis</I>.</P>

<P>Medicinally, various root preparations of
<I>Berberis aquifolium</I> were used by Native Americans for stomach trouble,
hemorrhages, and tuberculosis; as a panacea, a tonic, a gargle, and an
eye wash; and to purify blood. Leaves and roots were used in steam baths
to treat yellow fever; karok was used as a poison; and the tips of stems
were used to treat stomach aches (D.&nbsp;E. Moermann 1986).<BR>
<BR>
<BR>
<B>