6. <A NAME="03500184"></A><I>Berberis trifoliolata</I> Moricand</B>,
Pl. Nouv. Am&eacute;r., 113. 1841 - Algerita, agarito, currant-of-Texas,
agritos -&nbsp;F</P>

<P><I>Mahonia trifoliolata</I> (Moricand) Fedde</P>

<P><B>Shrubs</B>, evergreen, 1-3.5&nbsp;m. <B>Stems</B>
&plusmn;&nbsp;dimorphic, with elongate primary and short axillary shoots.
<B>Bark</B> of 2d-year stems gray or grayish purple, glabrous. <B>Bud scales</B>
2-3&nbsp;mm, deciduous. <B>Spines</B> absent. <B>Leaves</B> 3-foliolate;
petioles 0.8-5.4&nbsp;cm. <B>Leaflet blades</B> thick and rigid; surfaces
abaxially dull, papillose, adaxially dull, &plusmn;&nbsp;glaucous; terminal
leaflet sessile, blade 2.3-5.8 &times; 0.9-2&nbsp;cm, 1.6-3.1 times as
long as wide; lateral leaflet blades narrowly lanceolate or narrowly elliptic,
1-veined from base, base acute or acuminate, rarely rounded-acute, margins
plane, toothed or lobed, with 1-3 teeth or lobes 3-7&nbsp;mm high tipped
with spines to 1-2 &times; 0.2-0.3&nbsp;mm, apex narrowly acute or acuminate.
<B>Inflorescences</B> racemose, lax, 1-8-flowered, 0.5-3&nbsp;cm; bracteoles
membranous, apex acuminate. <B>Flowers:</B> anther filaments without distal
pair of recurved lateral teeth. <B>Berries</B> red, sometimes glaucous,
spheric, 6-11&nbsp;mm, juicy, solid.</P>

<P>Flowering winter-spring (Feb-Apr). Slopes
and flats in grassland, shrubland, and sometimes open woodland; 0-2000&nbsp;m;
Ariz., N.Mex., Tex.; n&nbsp;Mexico.</P>

<P>The illegitimate name <I>Berberis trifoliolata</I>
Moricand var. <I>glauca</I> (I.&nbsp;M. Johnston) M.&nbsp;C. Johnston has
been used for plants with very strongly glaucous leaves. Weakly and strongly
glaucous plants are often found in the same population, however, indicating
that they are not distinct varieties.</P>

<P><I>Berberis trifoliolata</I> is susceptible
to infection by <I>Puccinia graminis</I>.<BR>
<BR>
<BR>
<B>