20b. <A NAME="03500177"></A><I>Berberis
pinnata</I> Lagasca subsp. <I>insularis</I> Munz</B>, Aliso 2: 230. 1950
- C E</P>

<P><B>Shrubs</B>, self-supporting or clambering,
1-7&nbsp;m. <B>Leaflets</B> thin and flexible; lateral leaflet blades lance-oblong
or elliptic, margins plane or weakly undulate, marginal teeth tipped with
spines to 1-1.6 &times; 0.1-0.2&nbsp;mm. <B>Inflorescences</B> 6-9&nbsp;cm.</P>

<P>Flowering winter (Mar). In shade beneath trees,
pine and pine-oak forest; of conservation concern; 100-450&nbsp;m; Calif.</P>

<P><I>Berberis pinnata</I> subsp. <I>insularis</I>
is endemic to the Channel Islands. Specimens of <I>B</I>.&nbsp;<I>pinnata</I>
from the coast north of Santa Barbara often show some characteristics of
subsp. <I>insularis</I>.<BR>
<BR>
<BR>
<B>