1. <A NAME="03500169"></A><I>Berberis canadensis</I> Miller</B>, Gard.
Dict. ed. 8, Berberis no. 2. 1768 - E</P>

<P><B>Shrubs</B>, deciduous, 0.4-2&nbsp;m. <B>Stems</B>
dimorphic, with long primary shoots and short axillary shoots. <B>Bark</B>
of 2d-year stems purple or brown, glabrous. <B>Bud scales</B> 1-1.5&nbsp;mm,
deciduous. <B>Spines</B> present, simple or 3(-7)-fid. <B>Leaves</B> simple;
petioles 0.2-0.8(-1.3)&nbsp;cm. <B>Leaf blade</B> oblanceolate or sometimes
narrowly elliptic, 1-veined from base, 1.8-7.5 &times; 0.8-3.3&nbsp;cm,
thin and flexible, base long-attenuate, margins plane, toothed, each with
3-12 teeth 0-1&nbsp;mm high tipped with bristles to 0.2-1.2 &times; 0.1-0.15&nbsp;mm,
apex rounded or rounded-obtuse; surfaces abaxially dull, smooth, adaxially
dull, &plusmn;&nbsp;glaucous. <B>Inflorescences</B> racemose, lax, 3-12-flowered,
2-5.5&nbsp;cm; bracteoles membranous, apex acuminate. <B>Flowers:</B> anther
filaments without distal pair of recurved lateral teeth. <B>Berries</B>
red, oblong-ellipsoid, 10&nbsp;mm, juicy, solid. 2<I>n</I>&nbsp;=&nbsp;28.</P>

<P>Flowering spring (Apr-May). In woods or glades,
on rocky slopes and near rivers; 100-700&nbsp;m; Ala., Ga., Ill., Ind.,
Ky., Md., Mo., N.C., Pa., Tenn., Va., W.Va.</P>

<P><I>Berberis canadensis</I> is susceptible
to infection by <I>Puccinia graminis</I>.</P>

<P>The Cherokee Indians used scraped bark of
<I>Berberis canadensis</I> in infusions to treat diarrhea (D.&nbsp;E. Moermann
1986).<BR>
<BR>
<BR>
<B>