7. <A NAME="03500173"></A><I>Berberis harrisoniana</I> Kearney &amp;
Peebles</B>, J.&nbsp;Wash. Acad. Sci. 29: 477. 1939 - C E</P>

<P><B>Shrubs</B>, evergreen, 0.5-1.5&nbsp;m.
<B>Stems</B> often &plusmn;&nbsp;dimorphic, with elongate primary and somewhat
elongate axillary shoots. <B>Bark</B> of 2d-year stems brown or gray, glabrous.
<B>Bud scales</B> 1.5-3&nbsp;mm, deciduous. <B>Spines</B> absent. <B>Leaves</B>
3-foliolate; petioles 1.5-5&nbsp;cm. <B>Leaflet blades</B> thick and rigid;
surfaces abaxially &plusmn;&nbsp;dull, papillose, adaxially dull, rarely
glossy, somewhat glaucous; terminal leaflet sessile, blade 2.9-5.4 &times;
2.2-3.2&nbsp;cm, 1.3-2.4 times as long as wide; lateral leaflet blades
ovate or rhombic to lanceolate, 1-3-veined from base, base acute to rounded-obtuse,
margins plane or undulate, lobed, with 1-2 teeth 5-13&nbsp;mm high tipped
with spines to 2-3.4 &times; 0.3-0.4&nbsp;mm, apex acuminate. <B>Inflorescences</B>
racemose, rather dense, 6-11-flowered, 1.5-2.5&nbsp;cm; bracteoles membranous,
apex acute or obtuse. <B>Flowers:</B> anther filaments with distal pair
of recurved lateral teeth. <B>Berries</B> blue-black, glaucous, spheric
to short-ovoid, 5-6&nbsp;mm, juicy, solid.</P>

<P>Flowering winter (Jan-Mar). Shady spots in
rocky canyons; of conservation concern; 800-1100&nbsp;m; Ariz.</P>

<P><I>Berberis harrisoniana</I> is endemic to
the Kofa and Ajo mountains. It has not been tested for resistance to infection
by <I>Puccinia graminis</I>.<BR>
<BR>
<BR>
<B>