12. <A NAME="03500176"></A><I>Berberis nevinii</I> A.&nbsp;Gray in A.&nbsp;Gray
et al</B>., Syn. Fl. N. Amer. 1: 69. 1895 - C E</P>

<P><I>Mahonia nevinii</I> (A.&nbsp;Gray) Fedde</P>

<P><B>Shrubs</B>, evergreen, 1-4&nbsp;m. <B>Stems</B>
&plusmn;&nbsp;dimorphic, with elongate primary and short or somewhat elongate
axillary shoots. <B>Bark</B> of 2d-year stems grayish or brownish purple,
glabrous. <B>Bud scales</B> 2-3&nbsp;mm, deciduous. <B>Spines</B> absent.
<B>Leaves</B> 3-5(-7)-foliolate; petioles 0.2-0.7&nbsp;cm. <B>Leaflet blades</B>
thin but rigid; surfaces abaxially dull, papillose, adaxially dull, glaucous;
terminal leaflet stalked in most or all leaves, blade 2.1-4.1 &times; 0.7-1.1&nbsp;cm,
3-6 times as long as wide; lateral leaflet blades lance-ovate or lance-elliptic
to lanceolate, 1-veined from base, base obtuse or rounded, margins plane
or undulate, toothed, each with 4-11 teeth 0-1&nbsp;mm high tipped with
spines to 0.4-2 &times; 0.1-0.2&nbsp;mm, apex acuminate. <B>Inflorescences</B>
racemose, lax, 3-8-flowered, 2-5&nbsp;cm; bracteoles membranous, apex acuminate,
sometimes with proximal bracteoles leathery, spinose-acuminate. <B>Flowers:</B>
anther filaments with distal pair of recurved lateral teeth. <B>Berries</B>
yellowish red to red, not glaucous, spheric, 5-6&nbsp;mm, juicy, solid.</P>

<P>Flowering winter-spring (Feb-May). Sandy slopes
and washes in chaparral, coastal scrub, and riparian scrub; of conservation
concern; 0-600&nbsp;m; Calif.</P>

<P><I>Berberis nevinii</I> is known from scattered
populations from San Francisquito Canyon, north of Valencia, south to Dripping
Springs, near Aguanga. It is susceptible to infection by <I>Puccinia graminis</I>.<BR>
<BR>
<BR>
<B>