22. <A NAME="03500444"></A><I>Berberis bealei</I> Fortune</B>, Gard.
Chron. 1850: 212. 1850</P>

<P><I>Mahonia bealei</I> (Fortune) Carri&egrave;re</P>

<P><B>Shrubs</B>, evergreen, 1-2&nbsp;m. <B>Stems</B>
monomorphic, without short axillary shoots. <B>Bark</B> of 2d-year stems
tan, glabrous. <B>Bud scales</B> 11-13&nbsp;mm, persistent. <B>Spines</B>
absent. <B>Leaves</B> 5-9-foliolate; petioles 2-8&nbsp;cm. <B>Leaflet blades</B>
thick and rigid; surfaces abaxially smooth, shiny, adaxially dull, gray-green;
terminal leaflet stalked, blade 6.5-9.3 &times; 4-7&nbsp;cm, 1.3-2.3 times
as long as wide; lateral leaflet blades ovate or lance-ovate, 4-6-veined
from base, base truncate or weakly cordate, margins plane, toothed, with
2-7 teeth 3-8&nbsp;mm tipped with spines to 1.4-4 &times; 0.3-0.6&nbsp;mm,
apex acuminate. <B>Inflorescences</B> racemose, dense, 70-150-flowered,
5-17&nbsp;cm; bracteoles &plusmn;&nbsp;corky, apex rounded to acute. <B>Berries</B>
dark blue, glaucous, oblong-ovoid, 9-12&nbsp;mm, juicy, solid.</P>

<P>Flowering fall-winter (Dec-Mar). Open woodlands
and shrublands; 100-500&nbsp;m; introduced; Ala., Ga., N.C., Va.; native,
Asia (China).</P>

<P><I>Berberis bealei</I> is commonly cultivated;
although it rarely escapes, it is locally naturalized in the southeastern
United States. It is resistant to infection by <I>Puccinia graminis</I>.<BR>
</P>

