

<P><B>2. BRASENIA Schreber</B>,
Gen. Pl. 1: 372. 1789 - Water-shield [for Christoph Brasen, 1738-1774,
Moravian missionary and plant collector in Greenland and Labrador]</P>

<P><B>Herbs</B>, young vegetative parts heavily
coated with mucilage. <B>Leaves</B> floating; petiole long. <B>Leaf blade</B>
elliptic. <B>Flowers:</B> sepals 3, not petaloid, linear-oblong to narrowly
ovate; petals 3, linear-oblong, lacking auricles, base not clawed; stamens
18-36(-51), opposite both sepals and petals; pistils 4-18, simple, 1-locular;
ovules (1-)2; stigma linear-decurrent. <B>Fruits</B> slightly to strongly
fusiform. <B>Seeds</B> ovoid, tubercles absent. <I>x</I>&nbsp;=&nbsp;40.</P>

<P>Species 1 (1 in the flora): worldwide except
Europe, mainly temperate and upland tropics.</P>

<P><I>Brasenia</I> is known from the fossil record
in Europe although it is not known to grow there currently.</P>

<P><B>