1.<A NAME="22600001"></A><I>Brasenia schreberi</I>
J.&nbsp;F. Gmelin</B>, Syst. Nat. 1: 853. 1791 - Water-shield, purple wen-dock,
bras&eacute;nie de Schreber - F W2</P>

<P><B>Leaf blade</B> 3.5-13.5 &times; 2-8&nbsp;cm.
<B>Flowers</B> ca. 2&nbsp;cm diam.; perianth parts dull purple, 10-20 &times;
2-7&nbsp;mm; petals slightly longer and narrower than sepals. <B>Fruits</B>
6-10&nbsp;mm. <B>Seeds</B> 1-2, 2.5-4 &times; 2-3&nbsp;mm. 2<I>n</I>&nbsp;=&nbsp;80.</P>

<P>Flowering late spring-summer. Oligotrophic
or mesotrophic ponds, lakes, and sluggish streams; 0-2000&nbsp;m; Alta.,
B.C., Man., N.B., Nfld., N.S., Ont., Que.; Ala., Alaska, Ark., Calif.,
Conn., Del., D.C., Fla., Ga., Idaho, Ill., Ind., Iowa, Kans., Ky., La.,
Maine, Md., Mass., Mich., Minn., Miss., Mo., Mont., N.H., N.J., N.Y., N.C.,
Ohio, Okla., Oreg., Pa., R.I., S.C., Tenn., Tex., Vt., Va., Wash., W.Va.,
Wis.; Mexico; West Indies (Cuba, Jamaica, Hispaniola); Central America
(Guatemala and Belize); South America (se Venezuela); e&nbsp;Asia; Africa;
e&nbsp;Australia.</P>

<P><B>SELECTED REFERENCE<BR>
</B>Osborn, J.&nbsp;M. and E.&nbsp;L. Schneider. 1988. Morphological studies
of the Nymphaeaceae <I>sensu lato</I>. XVI. The floral biology of <I>Brasenia
schreberi</I>. Ann. Missouri Bot. Gard. 75: 778-794.<BR>
</P>

