

<P><B>13. CABOMBACEAE A.&nbsp;Richard
- Water-shield Family</B></P>

<P><B>Herbs</B>, perennial, aquatic, rhizomatous;
roots adventitious; air chambers conspicuous in vegetative portions of
plant. <B>Rhizomes</B> branched, repent, slender. <B>Leaves</B> arising
from erect stems with shortened internodes, submersed and floating; stipules
absent. <B>Leaf blade:</B> laticifers commonly present. <B>Submersed leaves</B>
(<I>Cabomba</I> only) opposite [whorled], short-petioled; leaf blade palmately
dissected. <B>Floating leaves</B> alternate; petiole short to long; leaf
blade peltate, linear to broadly elliptic, sometimes with basal sinus (some
<I>Cabomba</I>), margins entire. <B>Inflorescences</B> axillary, solitary
flowers. <B>Flowers</B> bisexual, protogynous, diurnal, borne at or above
water surface (occasionally submersed); peduncle long; involucre absent;
perianth persistent in fruit, hypogynous; sepals usually 3, distinct or
nearly so; petals usually 3, alternate with sepals; stamens 3--36, rarely
more; filaments slender; anthers dehiscing by longitudinal slits, without
connective appendage; pistils [1--]2--18, 1-carpellate, inversely club-shaped
or swollen on one side; ovary 1-locular; placentation laminar; ovules [1--]2--3[--5];
style short; stigma capitate or linear-decurrent. <B>Fruits</B> achenelike
or folliclelike, leathery, indehiscent. <B>Seeds</B> 1--3, aril absent;
endosperm sparse; perisperm abundant; embryo minute; cotyledons 2, fleshy.</P>

<P>Genera 2, species 6 (2 genera, 2 species in
the flora): temperate and tropical.</P>

<P>Cabombaceae are pollinated by insects (<I>Cabomba</I>)
or by wind (<I>Brasenia</I>).</P>

<P>Formerly Cabombaceae often have been included
in Nymphaeaceae in the broad sense.</P>

<P><B>SELECTED REFERENCE<BR>
</B>Wood, C.&nbsp;E. Jr. 1959. The genera of the Nymphaeaceae and Ceratophyllaceae
in the southeastern United States. J.&nbsp;Arnold Arbor. 40: 94--112.<BR>
</P>

