

<P><B>1. CABOMBA Aublet</B>,
Hist. Pl. Guiane, 321. 1775 - Fanwort [probably an aboriginal name]</P>

<P><B>Herbs</B>, young vegetative parts often
with rust-colored pubescence, barely mucilaginous. <B>Leaves</B> submersed
and floating; petiole short to long. <B>Submersed leaves:</B> blade in
3-7 dichotomously [trichotomously] branched, linear segments. <B>Floating
leaves:</B> blade terminal, linear-elliptic [broadly elliptic], margins
entire or notched at base, appearing only during flowering, inconspicuous
[more evident in <I>C</I>.&nbsp;<I>aquatica</I>, a tropical species]. <B>Flowers:</B>
sepals 3, petaloid, obovate; petals 3, oval, with proximal, yellow, nectar-bearing
auricles, base clawed; stamens 3-6, opposite petals; pistils [1-]2-4, simple,
1-locular; ovules [1-]3[-5]; stigma capitate. <B>Fruits</B> elongate-pyriform,
tapered to apex. <B>Seeds</B> ovoid [somewhat globose], tuberculate. <I>x</I>&nbsp;=&nbsp;13.</P>

<P>Species 5 (1 in the flora): mostly tropical
regions, Western Hemisphere.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Fassett, N.&nbsp;C. 1953. A monograph of <I>Cabomba</I>. Castanea 13:
116-128. O/rgaard,&nbsp;M. 1991. The genus <I>Cabomba</I> (Cabombaceae)--A
taxonomic study. Nordic J.&nbsp;Bot. 11: 179-203.</P>

<P><B>