1.<A NAME="22600009"></A><I>Cabomba caroliniana</I>
A.&nbsp;Gray</B>, Ann. Lyceum Nat. Hist. New York 4: 47. 1837 - Fanwort
- F W1</P>

<P><I>Cabomba caroliniana</I> var. <I>pulcherrima</I>
R.&nbsp;M. Harper; <I>C</I>.&nbsp;<I>pulcherrima</I> (R.&nbsp;M. Harper)
Fassett</P>

<P><B>Submersed leaves:</B> petiole to 4&nbsp;cm;
leaf blade 1-3.5 &times; 1.5-5.5&nbsp;cm, terminal segments 3-200, linear
to slightly spatulate, to 1.8&nbsp;mm wide. <B>Floating leaves:</B> blade
0.6-3&nbsp;cm &times; 1-4&nbsp;mm, margins entire or notched to sagittate
at base. <B>Flowers</B> 6-15&nbsp;mm diam.; sepals white to purplish [yellow]
or with purple-tinged margins, 5-12 &times; 2-7&nbsp;mm; petals colored
as sepals but with proximal, yellow, nectar-bearing auricles, 4-12 &times;
2-5&nbsp;mm, apex broadly obtuse or notched; stamens 3-6, mostly 6; pistils
2-4, mostly 3, divergent at maturity; ovules 3. <B>Fruits</B> 4-7&nbsp;mm.
<B>Seeds</B> 1-3, 1.5-3 &times; 1-1.5&nbsp;mm, tubercles in 4 longitudinal
rows. 2<I>n</I>&nbsp;=&nbsp;ca. 78, ca. 104.</P>

<P>Flowering late spring-early fall, earlier
and later further south. Acidic to alkaline ponds, lakes, pools in marshes,
rivers, streams, ditches, canals, and reservoirs; 0-300&nbsp;m; Ont.; Ala.,
Ark., Conn., D.C., Fla., Ga., Ill., Ind., Ky., La., Md., Mass., Mich.,
Miss., Mo., N.H., N.J., N.Y., N.C., Ohio, Okla., Oreg., Pa., R.I., S.C.,
Tenn., Tex., Va.; s&nbsp;South America.</P>

<P><I>Cabomba caroliniana</I>, an important aquarium
plant, is introduced in Oregon and probably in the northern part of its
range where it is uncommon in several states. Formerly known from Kansas,
it is thought to be extirpated there now. Although Delaware and West Virginia
lie within the mapped area, I know of no collections from those states.
In New England and parts of southeast United States, it is sometimes an
aggressive weed. In parts of the southeastern United States, plants with
purple-tinted flowers, possibly a response to some environmental factor,
have been treated as <I>Cabomba caroliniana</I> var. <I>pulcherrima</I>.
South American plants with yellow flowers have been called <I>C</I>.&nbsp;<I>caroliniana</I>
var. <I>flavida</I> O/rgaard.</P>

<P>The submersed leaves of <I>Cabomba caroliniana</I>
are similar in form to those of <I>Limnophila</I> (Scrophulariaceae; introduced
in southeastern United States). The latter has whorled leaves in contrast
to the opposite leaves of <I>Cabomba</I>.</P>

<P><B>SELECTED REFERENCE<BR>
</B>Schneider, E.&nbsp;L. and J.&nbsp;M. Jeter. 1982. Morphological studies
of the Nymphaeaceae. XII. The floral biology of <I>Cabomba caroliniana</I>.
Amer. J.&nbsp;Bot. 69: 1410-1419.<BR>
</P>

