

<P><B>13. CALTHA Linnaeus</B>,
Sp. Pl. 1: 558. 1753; Gen. Pl. ed. 5, 244. 1754 - Marsh-marigold, populage
[Greek name for some yellow-flowered plants]</P>

<P><B>Herbs</B>, perennial, from thick caudices
0.5-2 cm or slender stolons. <B>Leaves</B> basal and cauline, simple; proximal
leaves petiolate, distal leaves sessile or nearly so; cauline leaves alternate.
<B>Leaf blade</B> unlobed, oblong-ovate to orbiculate-reniform or cordate,
margins entire, dentate, or crenate. <B>Inflorescences</B> terminal or
axillary, 1-6-flowered cymes or flowers solitary, to 22 cm; bracts leaflike,
not forming involucre. <B>Flowers</B> bisexual, radially symmetric; sepals
not persistent in fruit, 5-12, white, pinkish, yellow, or orange, plane,
oval-orbiculate to narrowly obovate, 4-23 mm; petals absent; stamens 10-40;
filaments filiform; staminodes absent between stamens and pistils; pistils
5-55, simple; ovules 15-35 per pistil; style 0.1-2 mm. <B>Fruits</B> follicles,
aggregate, sessile or stipitate, linear-oblong to ellipsoid, sides prominently
veined or not; beak terminal, straight or weakly curved, 0.2-2 mm. <B>Seeds</B>
brown, elliptic to broadly elliptic, rugulose. <I>x</I>=8.</P>

<P>Species 10 (3 in the flora): primarily temperate
wetlands, worldwide.<BR>
<BR>
<B>SELECTED REFERENCE<BR>
</B>Smit, P. G. 1973. A revision of <I>Caltha</I> (Ranunculaceae). Blumea
21: 119-150.<BR>
<BR>
<BR>
<B>