1. <A NAME="27100868"></A><I>Caltha leptosepala</I></B><I> </I><B>de
Candolle</B>, Syst. Nat. 1: 310. 1817 - E F</P>

<P><I>Caltha biflora</I> de Candolle; <I>C</I>.
<I>biflora</I> subsp. <I>howellii</I> (Huth) Abrams; <I>C</I>. <I>biflora</I>
var. <I>rotundifolia</I> (Huth) C. L. Hitchcock; <I>C</I>. <I>howellii</I>
(Huth) Greene; <I>C</I>. <I>leptosepala</I> var. <I>rotundifolia</I> Huth;
<I>C</I>.<I>leptosepala</I> var. <I>sulfurea</I> C. L. Hitchcock; <I>C</I>.
<I>uniflora</I> Rydberg; <I>Psychropila leptosepala</I> (de Candolle) W.
Weber</P>

<P><B>Stems</B> leafless or with 1 leaf, erect.
<B>Basal leaves:</B> blade oblong-ovate to orbiculate-reniform, largest
1.5-11.5(-15) &times; 1-13cm, margins entire or crenate to dentate. <B>Inflorescences</B>
1-2(-4)-flowered. <B>Flowers</B> 15-40 mm diam.; sepals white to yellow
(abaxially bluish), 8.5-23 mm. <B>Follicles</B> 4-15, spreading, short-stipitate
or sessile, linear-oblong; bodies 10-20 &times; 3-4.5 mm; style and stigma
straight or curved, 0.5-1.8 mm. <B>Seeds</B> elliptic, 1.9-2.5 mm. 2<I>n</I>=48,96.</P>

<P>Flowering late spring-summer (Jun-Aug). Open,
wet, subalpine and alpine marshes, wet seepages; 750-3900 m; Alta., B.C.,
Yukon; Alaska, Ariz., Calif., Colo., Idaho, Mont., Nev., N.Mex., Oreg.,
Utah, Wash., Wyo.</P>

<P><I>Caltha leptosepala</I> is morphologically
complex, and a number of segregate taxa have been described. Plants are
most commonly assigned to two species, however. <I>Caltha leptosepala</I>
in strict sense is found in the Rocky Mountains of Arizona and New Mexico
north to Alaska and is characterized by longer-than-broad leaves with small,
nonoverlapping basal lobes, solitary-flowered inflorescences, and sessile
follicles. Plants in the Coast Ranges of central California north to the
coastal islands of southern Alaska, distinguished by broader-than-long
leaves with large, overlapping basal lobes, 2-flowered inflorescences,
and stipitate follicles, have been called <I>C</I>.<I>biflora</I>. My comparison
of specimens from the Rocky Mountains and the Coast Ranges indicated that
no clear distinction could be made (table 1). While plants are often distinctive
in the southern part of their range, a continuous intergradation between
the two extremes exists over much of their range.<BR>
</P>

<P>Table 1. Morphologic comparison of <I>Caltha
leptosepala</I> from the Rocky Mountains and Coast Ranges.<BR>
<BR>
Rocky Mountains<SUP>*</SUP> Coast Ranges<SUP>**</SUP></P>

<P><I>C</I>. <I>leptosepala</I> <I>C</I>. <I>bicolor</I></P>

<P>in strict sense in strict sense</P>

<P>---------------------</P>

<P>Leaf (L:W ratio) 0.8-2.2(-3.1) 0.4-1.5</P>

<P>Flower number 2-4 1-4</P>

<P>Stipe (mm) 0-3.2 0-2.7<BR>
<BR>
*Including Alaska, Arizona, Colorado, Idaho, and Montana.</P>

<P>**Including British Columbia, California,
Oregon, and Washington. 
<HR></P>

<P><B>SELECTED REFERENCES<BR>
</B>Morris, M. I. 1973. A biosystematic analysis of the <I>Caltha leptosepala</I>
(Ranunculaceae) complex in the Rocky Mountains. III. Variability in seed
and gross morphological characters. Canad. J. Bot. 51: 2259-2268. Smit,
P. G. and W. Punt. 1969. Taxonomy and pollen morphology of the <I>Caltha
leptosepala</I> complex. Proc. Kon. Ned. Akad. Wetensch. C. 72: 16-27.<BR>
<BR>
<BR>
<B>