2. <A NAME="27100072"></A><I>Caltha natans</I> Pallas</B>, Reise 3:
284. 1776 - F</P>

<P><B>Stems</B> leafy, floating or creeping,
rooting at nodes. <B>Basal leaves:</B> blade ovate-reniform or cordate,
largest 1-2.5 &times; 1-5 cm, margins nearly entire. <B>Inflorescences</B>
2-6-flowered. <B>Flowers</B> 8-13 mm diam.; sepals white or pinkish, 4-7(-8)
mm. <B>Follicles</B> 20-55, widely spreading, sessile, oblong; bodies 3.2-6.5
&times; 1-2.5 mm; style and stigma curved, 0.1-0.4 mm. <B>Seeds</B> broadly
elliptic, 0.5-0.8 mm. 2<I>n</I>=16, 32.</P>

<P>Flowering late spring-summer (Jun-Aug). Floating
or on moist mud, ponds, lakes, slow-moving rivers and streams; 25-1500
m; Alta., B.C., Man., N.W.T., Ont., Sask., Yukon; Alaska, Minn., Wis.;
Eurasia.</P>

<P>Unlike the other species of <I>Caltha</I>
in North America, <I>C</I>. <I>natans</I> is relatively invariable morphologically
and has not been divided into segregate taxa.<BR>
<BR>
<BR>
<B>