3. <A NAME="27100074"></A><I>Caltha palustris</I> Linnaeus</B>, Sp.
Pl. 1: 558. 1753 - Cowslip, cowflock, kingcup, buttercup, populage des
marais, soucis d'eau</P>

<P><I>Caltha arctica</I> R.Brown; <I>C</I>. <I>asarifolia</I>
de Candolle; <I>C</I>. <I>palustris</I> subsp. <I>arctica</I> (R. Brown)
Hult&eacute;n; <I>C</I>. <I>palustris</I> subsp. <I>asarifolia</I> (de
Candolle) Hult&eacute;n; <I>C</I>. <I>palustris</I> var. <I>arctica</I>
(R. Brown) Huth; <I>C</I>. <I>palustris</I> var. <I>asarifolia</I> (de
Candolle) Huth; <I>C</I>. <I>palustris</I> var. <I>flabellifolia</I> (Pursh)
Torrey &amp; A. Gray</P>

<P><B>Stems</B> leafy, permanently erect, or
sprawling with age and producing roots and shoots at nodes. <B>Basal leaves:</B>
blade rounded to ovate, reniform, or cordate, largest (0.5-)2-12.5 &times;
(1-)2-19 cm, margins entire or crenate to dentate. <B>Inflorescences</B>
1-7-flowered. <B>Flowers</B> 10-45 mm diam.; sepals yellow or orange, (6-)10-25
mm. <B>Follicles</B> 5-15(-25), spreading, sessile, ellipsoid; bodies 8-15
&times; 3-4.5 mm; style and stigma straight or curved, 0.5-2 mm. <B>Seeds</B>
elliptic, 1.5-2.5 mm. 2n=32, 56, 60.</P>

<P>Flowering spring-summer (Apr-Jul). Marshes,
fens, ditches, wet woods and swamps, thriving best in open or only partly
shaded sites; 0-1500 m; Alta., B.C., Man., N.B., Nfld., N.W.T., N.S., Ont.,
P.E.I., Que., Sask., Yukon; Alaska, Conn., Del., Ill., Ind., Iowa, Ky.,
Maine, Md., Mass., Mich., Minn., Mo., Nebr., N.H., N.J., N.Y., N.C., N.Dak.,
Ohio, Oreg., Pa., R.I., S.Dak., Tenn., Vt., Va., Wash., W.Va., Wis.; Eurasia.</P>

<P><I>Caltha palustris</I> has been divided into
different taxa, although plants have been most commonly assigned to two
varieties in North America. Typical <I>C</I>. <I>palustris</I> var. <I>palustris</I>
is characterized by permanently erect, stout stems that do not produce
roots and shoots at the nodes after anthesis. The basal leaves are broadly
cordate to reniform with coarsely crenate-dentate margins and overlapping
basal lobes. Generally more than three flowers occur on a stem. In contrast,
<I>C</I>. <I>palustris </I>var. <I>flabellifolia</I> [= var. <I>arctica</I>,
var. <I>radicans</I> (T. F. Forster) Beck] is characterized by stems that
sprawl with age and produce roots and shoots at the nodes after anthesis.
The basal leaves are &plusmn; reniform with denticulate margins, and the
basal lobes are widely divergent and do not overlap. Often fewer than three
flowers occur on a stem. <I>Caltha palustris</I> var. <I>flabellifolia</I>
is distributed locally throughout the range of <I>C</I>. <I>palustris</I>
var. <I>palustris</I>; it often grows in places with more extreme environmental
conditions, such as shorelines, tidal areas, swiftly running streams and
rivers, and areas with an arctic climate. Many arctic specimens can be
assigned to this variety.</P>

<P>While <I>Caltha palustris</I> var. <I>palustris</I>
and var. <I>flabellifolia</I> are distinctive in their extremes, they appear
to represent elements along a morphologic continuum rather than recognizable
taxonomic entities. For example, P.G. Smit (1973) found plants from Point
Barrow, Alaska, to be dwarfed, few flowered, and prostrate, while specimens
from southern Alaska were robust, many flowered, and erect. Between these
two extremes a complete series of intermediates occurs. Based on that evidence,
and considering the phenotypic plasticity known to exist in this species,
the various specific and infraspecific segregates of <I>C</I>. <I>palustris</I>
in North America are not recognized.</P>

<P>Native Americans used various preparations
of the roots of <I>Caltha palustris</I> medicinally to treat colds and
sores, as an aid in childbirth and to induce vomiting, and as a protection
against love charms; infusions of leaves were taken for constipation (D.
E. Moerman 1986).</P>

<P><B>SELECTED REFERENCES<BR>
</B>Smit, P. G. 1967. Taxonomical and ecological studies in <I>Caltha palustris</I>
L. (preliminary report). Proc. Kon. Ned. Akad. Wetensch. C. 70: 500-510.
Smit, P. G. 1968. Taxonomical and ecological studies in <I>Caltha palustris</I>
L. II. Proc. Kon. Ned. Akad. Wetensch. C. 71: 280-292. Woodell, S. R. J.
and M. Kootin-Sanwu. 1971. Intraspecific variation in <I>Caltha palustris</I>.
New Phytol. 70: 173-186.<BR>
</P>

