1.<A NAME="05300004"></A><I>Calycanthus
floridus</I> Linnaeus</B>, Syst. Nat.
ed. 10, 2: 1066. 1759 - Carolina-allspice, sweetshrub - P3</P>

<P><B>Shrubs</B>, to 3.5&nbsp;m. <B>Lateral bud</B>
partially hidden by petiole base. <B>Petiole</B> 3-10&nbsp;mm, pubescent
to glabrous. <B>Leaf blade</B> elliptic, broadly elliptic, oblong, or ovate,
5-15 &times; 2-6&nbsp;cm, base acute to truncate, apex acute, acuminate,
or blunt; surfaces abaxially green or glaucous, pubescent to glabrous.
<B>Flowers</B>: hypanthium cylindric, ellipsoid, pyriform, or globose at
maturity, 2-6 &times; 1-3&nbsp;cm; tepals oblong-elliptic to obovate-lanceolate,
2-4&nbsp;cm &times; 3-8&nbsp;mm, apex acute; stamens 10-20, oblong. 2<I>n</I>&nbsp;=&nbsp;22,
33.</P>

<P>The Cherokee used <I>Calycanthus floridus</I>
for medicinal purposes (D.&nbsp;E. Moerman 1986).</P>

<P>Varieties 2: temperate North America.<BR>
</P>

<P><B>