1. <A NAME="20600093"></A><I>Calycocarpum lyonii</I> (Pursh) A.&nbsp;Gray</B>,
Gen. Amer. Bor. 1: 76. 1848 - Cupseed - E F</P>

<P><I>Menispermum lyonii</I> Pursh, Fl. Amer.
Sept., 371. 1814</P>

<P><B>Vines</B>, climbing to tops of trees; rhizomes
slender, branched. <B>Leaves:</B> petioles to 28&nbsp;cm. <B>Leaf blade</B>
10-25 &times; 10-29&nbsp;cm, membranous; venation 5 or 7. <B>Inflorescences</B>
to 32&nbsp;cm; rachis puberulent, glandular. <B>Flowers:</B> sepals 1.6-4.6
&times; 0.6-2&nbsp;mm, glabrous. <B>Staminate flowers:</B> stamens to 3&nbsp;mm.
<B>Pistillate flowers:</B> ovary to 2&nbsp;mm. <B>Drupes</B> green at maturity,
darkening to deeper green or black upon drying, 15-25 &times; 10-20&nbsp;mm.</P>

<P>Flowering spring-summer. Primarily along rivers
or smaller streams in deciduous forests; 0-350&nbsp;m; Ala., Ark., Fla.,
Ga., Ill., Ind., Kans., Ky., La., Miss., Mo., Okla., S.C., Tenn.</P>

<P><I>Calycocarpum lyonii</I> has been reported
as occurring in Texas, but no Texas specimens have been seen.<BR>
</P>

