2.<A NAME="05300006"></A><I>Calycanthus
occidentalis</I> Hooker &amp; Arnott</B>,
Bot. Beechey Voy., 340, plate 84. 1841 - California spicebush, sweetshrub
- E F P3</P>

<P><I>Butneria occidentalis</I> (Hooker &amp;
Arnott) Greene</P>

<P><B>Shrubs</B>, to 4&nbsp;m. <B>Lateral bud</B>
exposed. <B>Petiole</B> 5-10&nbsp;mm, pubescent to glabrous. <B>Leaf blade</B>
ovate-lanceolate to oblong-lanceolate or ovate-elliptic, 5-15 &times; 2-8&nbsp;cm,
base rounded to nearly cordate, apex acute to obtuse; surfaces abaxially
green, pubescent to glabrous. <B>Flowers</B>: hypanthium campanulate or
ovoid-campanulate at maturity, 2-4 &times; 1-2&nbsp;cm; tepals linear to
linear-spatulate or ovate-elliptic, 2-6 &times; 0.5-1&nbsp;cm, apex rounded;
stamens 10-15, linear to oblong-linear. 2<I>n</I>&nbsp;=&nbsp;22.</P>

<P>Flowering late spring-early fall, fruiting
mid fall. Along streams and on moist canyon slopes; 200-1600&nbsp;m; Calif.,
Wash.</P>

<P><I>Calycanthus occidentalis</I> grows in the
northern Coast Range, the southern Cascades Range, and the western Sierra
Nevada. It is ecologically similar to <I>C</I>.&nbsp;f<I>loridus</I>; it
consistently differs from that taxon in a number of vegetative and floral
characteristics. Because of an apparent lack of hardiness, <I>C</I>.&nbsp;<I>occidentalis</I>
is cultivated less often than <I>C</I>.&nbsp;<I>floridus</I>.</P>

<P>Some American Indians used scraped bark of
<I>Calycanthus occidentalis</I> medicinally in treating severe colds (D.&nbsp;E.
Moerman 1986).<BR>
</P>

