1b.<A NAME="05300029"></A><I>Calycanthus
floridus</I> Linnaeus var. <I>glaucus</I> (Willdenow) Torrey &amp; A.&nbsp;Gray</B>,
Fl. N. Amer. 1(3): 475. 1840 - E</P>

<P><I>Calycanthus glaucus</I> Willdenow, Enum.
Pl., 559. 1809; <I>Calycanthus fertilis</I> Walter; <I>C</I>.&nbsp; <I>floridus</I>
var. <I>laevigatus</I> (Willdenow) Torrey &amp; A.&nbsp; Gray; <I>C</I>.&nbsp;
<I>floridus</I> var. <I>oblongifolius</I> (Nuttall) Boufford &amp; Spongberg;
<I>C</I>.&nbsp; <I>nanus</I> (Loiseleur-Deslongchamps) Small</P>

<P><B>Twigs</B> glabrous or with scattered trichomes.
<B>Petiole and abaxial surface of leaf blade</B> glabrous or with scattered
trichomes.</P>

<P>Flowering late spring, fruiting mid fall.
Deciduous or mixed woodlands, along streams and rivers, margins of woodlands;
0-1850&nbsp;m; Ala., Fla., Ga., Ky., Miss., N.C., Ohio, Pa., S.C., Tenn.,
Va., W.Va.</P>

<P>The nomenclature for <I>Calycanthus floridus</I>
var. <I>glaucus</I> is somewhat confusing. (For an in-depth study, see
D.&nbsp; E. Boufford and S.&nbsp; A. Spongberg 1981 and J.&nbsp;W. Hardin
1984.) Variation in the amount of pubescence is common, and determination
of variety is not always possible.</P>

<P>The Cherokee are reported to have used this
plant as a urinary aid (D.&nbsp; E. Moerman 1986, listed under <I>C</I>.
&nbsp;<I>fertilis</I>, a synonym for <I>C</I>.&nbsp; <I>floridus</I> var.
<I>glaucus</I>).<BR>
</P>

<P><B>