1a.<A NAME="05300012"></A><I>Calycanthus
floridus</I> Linnaeus var. <I>floridus</I></B>
- E F</P>

<P><I>Calycanthus brockianus</I> Ferry &amp;
Ferry&nbsp;f.; <I>C</I>.&nbsp; <I>mohrii</I> (Small) Pollard</P>

<P><B>Twigs</B> pubescent. <B>Petiole and abaxial
surface of leaf blade</B> pubescent.</P>

<P>Flowering late spring, fruiting mid fall.
Deciduous or mixed woodlands, along streams and rivers, margins of woodlands;
0-1850&nbsp;m; Ala., Fla., Ga., Md., Miss., N.C., Pa., S.C., Tenn., Va.</P>

<P><I>Calycanthus floridus</I> var. <I>floridus</I>
grades into var. <I>glaucus</I> in northeastern Alabama, northwestern Georgia,
and southeastern Tennessee, where determination to variety is not always
possible. <I>Calycanthus brockianus</I> was distinguished primarily by
having green flowers instead of maroon, although flowers with greenish
or green-tipped tepals are occasionally seen on maroon-flowered plants
of both varieties of <I>C</I>.&nbsp; <I>floridus</I> and <I>C</I>.&nbsp;
<I>occidentalis</I>. Viable seeds were produced after self-pollinations
of plants identified as <I>C</I>. &nbsp;<I>brockianus</I>, but not after
crosses with <I>C</I>.&nbsp; <I>floridus</I> var. <I>floridus</I> or when
insects were excluded (R.&nbsp;J. Ferry Sr. and R.&nbsp;J. Ferry Jr. 1987).
Agamospermy has been noted in both varieties of <I>C</I>. &nbsp;<I>floridus</I>
(K.&nbsp;A. Nicely 1965), and pollination is required for the development
of the endosperm (C.&nbsp;E. Wood Jr. 1958). <I>Calycanthus brockianus</I>
may therefore represent agamospermous triploids within diploid populations
of <I>C</I>.&nbsp; <I>floridus</I>. Studies of cytology and of reproductive
biology of plants identified as <I>C</I>.&nbsp; <I>brockianus</I> are necessary
for determination of the status of that taxon.<BR>
</P>

<P><B>