1. <A NAME="40035809"></A>CALYCOCARPUM
Nuttall ex Spach</B>, Hist. Nat. V&eacute;g. 8: 7. 1838 - Cupseed [Greek,
<I>calyx</I>, cup, and <I>carpos</I>, fruit]</P>

<P><B>Vines</B>, twining or clambering. <B>Stems</B>
often bluish green, apically tomentose grading to glabrate. <B>Leaves</B>
not peltate. <B>Leaf blade</B> generally pentagonal, palmately 3-5-lobed,
base cordate, margins of lobes entire or coarsely dentate, apex caudate-acuminate,
not mucronate; surfaces sparsely bristly or glabrous. <B>Inflorescences</B>
axillary, racemes or panicles; bracts absent. <B>Flowers</B> 3-ranked;
sepals 6-9, elliptic to obovate, glabrous. <B>Staminate flowers:</B> petals
absent; stamens 6-12; filaments distinct; anthers 2-locular; pistillodes
absent. <B>Pistillate flowers:</B> petals absent or vestigial; staminodes
6-91, poorly developed; pistils 3; ovary ellipsoid to fusiform, glabrous;
stigma multicleft. <B>Drupes</B> globose to ellipsoid, glabrous; endocarp
smooth, cup-shaped with erose margins, glabrous. Species</P>

<P>Species 1 (1 in the flora): c, s United States.<BR>
<BR>
<BR>
<B>