

<P><B>4. CALYCANTHACEAE
Lindley - Strawberry Shrub Family</B></P>

<P><B>Shrubs</B>, deciduous, rhizomatous, aromatic.
<B>Leaves</B> opposite, without stipules, petiolate. <B>Leaf blade</B>:
margins entire or, on fast-growing shoots, occasionally with a few teeth.
<B>Inflorescences</B> terminal on short, leafy branches of current growth,
solitary flowers. <B>Flowers</B> bisexual. <B>Hypanthium</B> urn-shaped;
tepals and stamens perigynous; inner tepals, stamens, and staminodes with
succulent, white food bodies at tips. <B>Tepals</B> 15-30, fleshy, petaloid,
spirally inserted on outside of hypanthium. <B>Stamens</B> 5-30, spirally
inserted at top of hypanthium; staminodes 10-25, on inner surface of hypanthium;
locules opening by longitudinal slits. <B>Pistils</B> 5-35, 1-carpellate,
spirally inserted within hypanthium; ovules 2 per locule, distal ovule
abortive, submarginal; style elongate, filiform; stigma dry, decurrent.
<B>Fruits</B> achenes, 1-35, dark reddish brown, cylindric, pubescent,
enclosed within enlarged, fibrous persistent hypanthium (pseudocarp). <B>Seeds</B>:
endosperm absent.</P>

<P>Genera 3, species 6 (1 genus, 2 species in
the flora): temperate North America and China.</P>

<P><I>Calycanthus</I> is often grown ornamentally.
Also in cultivation is <I>Chimonanthus praecox</I> (Linnaeus) Link, an
eastern Asiatic shrub. <I>Chimonanthus</I> differs from <I>Calycanthus</I>
in its scaly buds and yellow flowers that appear long before the leaves.</P>

<P><I>Calycanthus</I> contains calycanthine,
an alkaloid similar to strychnine, and it is toxic to humans and livestock
(W.&nbsp;H. Lewis and M.&nbsp;P.&nbsp;F. Elvin-Lewis 1977).</P>

<P><B>SELECTED REFERENCES<BR>
</B>Nicely, K.&nbsp;A. 1965. A monographic study of the Calycanthaceae.
Castanea 30: 38-81. Wood, C.&nbsp;E. Jr. 1958. The genera of the woody
Ranales in the southeastern United States. J.&nbsp;Arnold Arbor. 39: 296-346.</P>

