

<P><B>1. CALYCANTHUS Linnaeus</B>,
Syst. Nat. ed. 10, 2: 1066. 1759, name conserved - Strawberry-shrub, sweetshrub,
spicebush [Greek <I>k&aacute;lyx</I>, covering, cup, and <I>anthos</I>,
flower]</P>

<P><I>Butneria</I> Duhamel</P>

<P><B>Twigs</B> quadrangular to nearly terete,
pubescent to glabrous. <B>Buds</B> naked. <B>Leaves</B> 2-ranked. <B>Leaf
blade</B> elliptic, ovate, or ovate-lanceolate; surfaces adaxially scabrous.
<B>Flowers</B> maroon or reddish brown, rarely greenish or green-tipped,
with strawberry or pineapple scent. <I>x</I>&nbsp;=&nbsp;11.</P>

<P>Species 3 (2 in the flora): temperate North
America.<BR>
</P>

<P><B>