1. <A NAME="24000158"></A><I>Canbya candida</I> Parry ex A.&nbsp;Gray</B>,
Proc. Amer. Acad. Arts 12: 51, plate 1. 1876 - White pygmy-poppy - C E
F</P>

<P><B>Plants</B> 1-3&nbsp;cm. <B>Leaves</B> 5-9&nbsp;mm.
<B>Inflorescences:</B> peduncle 1-2&nbsp;cm. <B>Flowers:</B> sepals 2&nbsp;mm;
petals marcescent, 5-7, white, elliptic, 3-4&nbsp;mm; stamens 6-9; filaments
shorter than anthers. <B>Capsules</B> 1.5-2.5&nbsp;mm. 2<I>n</I>&nbsp;=&nbsp;16.</P>

<P>Flowering Apr-Jun. Dry, sandy ground; 600-1200&nbsp;m;
of conservation concern; Calif.</P>

<P><I>Canbya candida</I> has been found only
in the western Mojave Desert.<BR>
<BR>
<BR>
<B>