2. <A NAME="24000157"></A><I>Canbya aurea</I> S.&nbsp;Watson</B>, Proc.
Amer. Acad. Arts 21: 445. 1886 - Yellow pygmy-poppy - E</P>

<P><B>Plants</B> 1-2&nbsp;cm. <B>Leaves</B> 3-10&nbsp;mm.
<B>Inflorescences:</B> peduncle 1-6&nbsp;cm. <B>Flowers:</B> sepals 2&nbsp;mm;
petals deciduous, 6, bright yellow, broadly ovate, 3-4&nbsp;mm; stamens
6-15; filaments longer than anthers. <B>Capsules</B> 2-4&nbsp;mm. 2<I>n</I>&nbsp;=&nbsp;16.</P>

<P>Flowering Apr-Jul. Dry, sandy ground, usually
with sagebrush; 900-1700&nbsp;m; Oreg., Nev.<BR>
</P>

