

<P><B>10. CANBYA Parry
ex A.&nbsp;Gray</B>, Proc. Amer. Acad.
Arts 12: 51, plate 1. 1876 - Pygmy-poppy [for William M. Canby, 1831-1904,
Delaware botanist]</P>

<P><B>Herbs</B>, annual, semiacaulescent, very
small, glabrous, from taproots; sap clear. <B>Stems</B> branching at and
just above ground level, leafy, branches short. <B>Leaves</B> alternate,
congested in tufts, sessile; blade unlobed, linear-oblong, fleshy, margins
entire. <B>Inflorescences</B> axillary, 1-flowered, much exceeding leaves;
peduncle slender. <B>Flowers:</B> sepals 3, distinct; petals 5-7; stamens
6-15; pistil 3-4-carpellate; ovary ovoid, 1-locular; style absent; stigmas
3(-4), linear, radiate-recurved, appressed or adherent to ovary. <B>Capsules</B>
erect, ovoid to oblong-ovoid, 3(-4)-valved, dehiscing from apex. <B>Seeds</B>
many, brown, oblong-obovoid to ellipsoid, slightly arcuate, 0.6-0.8&nbsp;mm,
glossy, aril absent. <I>x</I>&nbsp;=&nbsp;8.</P>

<P>Species 2 (2 in the flora): w&nbsp;United
States.</P>

<P>These diminutive (but handsome) desert endemics
are among the smallest plants in the family. Little is known about their
life histories, reproduction, ecological interactions, or evolutionary
histories, and they merit more field and laboratory study.<BR>
<BR>
<BR>
<B>