1.<A NAME="05600007"></A><I>Canella winteriana</I>
</B>(Linnaeus) Gaertner, Fruct. Sem. Pl.
1: 373, plate 77, fig. 2. 1788 - Canella, wild-cinnamon, cinnamon-bark
- F</P>

<P><I>Laurus winteriana</I> Linnaeus, Sp. Pl.
1: 371. 1753; <I>Canella alba</I> Murray</P>

<P><B>Leaf blade</B> 5-15 &times; 2-5cm, apex
rounded or blunt; abaxial surface pellucid-dotted. <B>Flowers</B> ca. 7
mm diam., pedicel short; sepals green, 2-3 mm, fleshy; petals deep red
to magenta, basally light red to yellow, 4.5-6 mm, thick and fleshy; anthers
light red, becoming yellow at anthesis; stigma yellow. <B>Seeds</B> 1-5,
black. 2<I>n</I>=28. [P. Goldblatt 1976]</P>

<P>Flowering spring-summer (mid-May-Jul). Coastal
thickets, hammocks, commonly found on limestone or calcareous soils; 0-3
m; Fla.; West Indies; ne South America.</P>

<P>Although flowers of <I>Canella winteriana</I>
are bisexual and protogynous (with the gynoecium of each flower functionally
mature before the androecium), they are functionally unisexual, because
normally all flowers on a plant are at the same stage (either male or female)
at any given time (T.&nbsp;K. Wilson 1986). <I>Canella winteriana</I> is
locally abundant in some areas, but with the clearing and development of
the Florida Keys, it is becoming less common except in protected areas,
such as Everglades National Park. Nurseries in extreme southern Florida
occasionally market canella. It is an attractive, small- to medium-sized,
very slow-growing tree.<BR>
</P>

<P><BR>
</P>

