

<P><B>1. CANELLA P. Browne</B>,
Civ. Nat. Hist. Jamaica, 275, plate 27, fig. 3. 1756 - Canella or wild-cinnamon
[Latin <I>canella</I>, cinnamon, related to <I>cana</I>, cane or reed,
and <I>-ella</I>, diminutive, because of the tightly rolled bark when dried]</P>

<P><B>Trees</B> [or large, sprawling shrubs],
(3-)8-10(-15)m. <B>Bark</B> whitish gray. <B>Stems</B> erect [to prostrate].
<B>Leaf blade</B> deep green, shiny, obovate to oblanceolate, thick, leathery,
base acute, apex rounded, notched, or blunt; oil cells possibly evident
as pellucid dots, emitting strong aromatic odor when broken, causing sharp
burning sensation on tongue when bitten. <B>Inflorescences</B> of 5-40
flowers, crowded toward end of stem. <B>Flowers</B> bisexual, protogynous;
sepals green, imbricate, thick; petals basally connate, dark red to violet,
lighter at base, thick; stamens 10; filaments connate into tube surrounding
pistil, tube protruding slightly beyond anthers and nearly equal to length
of petals; anthers extrorsely dehiscent; pistil flask-shaped; ovary conic;
style short; stigma 2-lobed. <B>Berry</B> changing from green through red
to dark purple with age, globose, fleshy. <B>Seeds</B> shiny, hard. <I>x</I>=14.</P>

<P>Species 1 (1 in the flora): tropical regions
in North America, West Indies, and ne&nbsp;South America.</P>

<P>An early report of a second species in the
Maracaibo region of Venezuela and reports of either species in Colombia
appear unfounded.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Wilson, T.K. 1964. Comparative morphology of the Canellaceae. III.
Pollen. Bot. Gaz. 125(3): 192-197. Wilson, T.K. 1966. Comparative morphology
of the Canellaceae. IV. Floral morphology and conclusions. Amer. J.Bot.
53(4): 336-343. Wilson, T.K. 1986. The natural history of <I>Canella alba</I>
(Canellaceae). In: R.R. Smith, ed. 1986. Proceedings of the First Symposium
on the Botany of the Bahamas.... San Salvador, Bahamas. Pp. 101-115.</P>

<P><BR>
<B>