

<P><B>3.  CANELLACEAE Martius
- Canella or Wild-Cinnamon Family</B></P>

<P><B>Trees</B> [or prostrate shrubs], evergreen,
aromatic. <B>Pith</B> homogeneous. <B>Leaves</B> alternate, simple, without
stipules; petiole short. <B>Leaf blade</B> pinnately veined, unlobed, margins
entire; pellucid dots (oil cells in tissue of leaf) conspicuous or inconspicuous.
<B>Inflorescences</B> terminal and axillary, cymes [racemes or solitary
flowers], pedunculate; bracts present or absent. <B>Flowers</B> bisexual;
perianth hypogynous, segments imbricate; sepals persistent, 3; petals 5[-12]
in 1[-4] whorl(s); stamens [7-]10[-12], hypogynous, monadelphous; filaments
connate, forming tube around pistil; anthers extrorse, longitudinally dehiscent;
pistil 1, superior, 2-6-carpellate; ovary 1-locular; placentation parietal,
placentas 2[-6]; ovules 2-3 per placenta; style 1, generally short; stigma
1, usually 2-6-lobed. <B>Fruits</B> berries. <B>Seeds</B> 2 or more, not
arillate; endosperm oily [ruminate].</P>

<P>Genera 6, species ca. 20 (1 genus, 1 species
in the flora): primarily tropical, Western Hemisphere, Africa (including
Madagascar).</P>

<P>The family was placed in Hypericales by J.&nbsp;K.
Small (1933); the combination of oil cells in most of the tissue, pollen
with a single distal furrow (occasionally with 3-radiate surficial furrow),
very long vessels, and scalariform vessel perforation plates with many
bars suggests Magnoliales or Annonales (A.&nbsp;Cronquist 1981; R.&nbsp;M.&nbsp;T.
Dahlgren 1980; H.&nbsp;Melchoir and W.&nbsp;Schultze-Motel 1959; R.&nbsp;F.
Thorne 1976; T.&nbsp;K. Wilson 1960; C.&nbsp;E. Wood Jr. 1958). Further
support of this placement comes from leaf architecture studies by L.&nbsp;J.
Hickey (1971) and P-type plastids in sieve elements (H.&nbsp;-D. Behnke
1988).</P>

<P><B>SELECTED REFERENCES<BR>
</B>Behnke, H.-D. 1988. Sieve-element plastids, phloem protein, and evolution
of flowering plants. III. Magnoliidae. Taxon 37(3): 699-732. Correll, D.
S. and H. B. Correll. 1982. Flora of the Bahama Archipelago. Vaduz. Dahlgren,
R. M. T. 1980. A revised system of classification of the angiosperms. Bot.
J. Linn. Soc. 80: 91-124. Gilg, E. 1925. Canellaceae. In: H. G. A. Engler
et al., eds. 1924+. Die nat&uuml;rlichen Pflanzenfamilien..., ed. 2. 26+
vols. Leipzig and Berlin. Vol. 21, pp. 323-328. Melchior, H. and W. Schultze-Motel.
1959. Canellaceae. (Supplement to Vol. 21.) In: H. G. A. Engler et al.,
eds. 1924+. Die nat&uuml;rlichen Pflanzenfamilien..., ed. 2. 26+ vols.
Leipzig and Berlin. Vol. 17a(2), pp. 221-224. Tomlinson, P. B. 1980. The
Biology of Trees Native to Tropical Florida. Allston, Mass. Wilson, T.
K. 1960. The comparative morphology of the Canellaceae. I. Synopsis of
genera and wood anatomy. Trop. Woods 112: 1-27. Wood, C. E. Jr. 1958. The
genera of the woody Ranales in the southeastern United States. J. Arnold
Arbor. 39(3): 296-346.</P>

