1.<A NAME="17800538"></A><I>Cassytha filiformis</I>
Linnaeus</B>, Sp. Pl. 1: 35. 1753 - Love-vine
-E F</P>

<P><B>Stems</B> twining, pale green to yellow-green
to orange, filiform, glabrous or pubescent. <B>Leaves</B> alternate, ca.
1&nbsp;mm. <B>Inflorescences</B> spikes, rarely reduced to single flower.
<B>Flowers</B> bisexual, subtended by ciliate bract and bracteoles; outer
3 tepals 0.1-1&nbsp;mm, similar to bracteoles, inner 3 tepals 1-1.8&nbsp;mm,
apex incurved; pistil 1.2&nbsp;mm, glabrous. <B>Drupe</B> to 7&nbsp;mm
diam. 2<I>n</I>&nbsp;=&nbsp;48.</P>

<P>Flowering spring-summer (May-Jul). Coastal
vegetation; 0-20&nbsp;m; Fla.</P>

<P><I>Cassytha filiformis</I> is a very distinctive
plant that can be confused only with <I>Cuscuta</I>, a vining parasite
of the Cuscutaceae.<BR>
</P>

