

<P><B>9. CASSYTHA Linnaeus</B>,
Sp. Pl. 1: 35. 1753; Gen. Pl. ed. 5, 22. 1754 (as &quot;Cassyta&quot;)
-[Greek <I>kasytas</I>, name for <I>Cuscuta</I>]</P>

<P><B>Vines</B>, parasitic, with threadlike stems.
<B>Leaves</B> reduced to minute scales, spirally arranged, glabrous or
pubescent. <B>Inflorescences</B> spikes [panicles or racemes], rarely reduced
to single flower. <B>Flowers</B> bisexual, sessile or shortly pedicellate,
subtended by bract and 2 bracteoles; tepals persistent at apex of accrescent
floral tube that surrounds fruit, greenish white or whitish, outermost
row similar to bracts, innermost row larger; stamens 9 (or 6), anthers
2-locular, anthers of outer 6 stamens introrse, of inner 3 extrorse; staminodes
3 (or 6); ovary globose. <B>Drupe</B> black, globose, enclosed in floral
tube, remnants of perianth apical.</P>

<P>Species ca. 17 (1 in the flora): tropical
and subtropical regions, North America, mostly Australia, a few in Africa.</P>

<P><B>SELECTED REFERENCE<BR>
</B>Weber, J.&nbsp;L. 1981. A taxonomic revision of <I>Cassytha</I> (Lauraceae)
in Australia. J.&nbsp;Adelaide Bot. Gard. 3(3): 187-262.</P>

<P><B>