2. <A NAME="03500004"></A><I>Caulophyllum thalictroides</I> (Linnaeus)
Michaux</B>, Fl. Bor.-Amer. 1: 204. 1803 &middot; Blue cohosh, squaw-root,
papoose-root, caulophylle faux-pigamon &middot; E F</P>

<P><I>Leontice thalictroides</I> Linnaeus, Sp.
Pl. 1: 312. 1753</P>

<P><B>Stems</B> 2-9&nbsp;dm. <B>Leaves:</B> 1st
leaf (3-)4-ternate; 2d leaf (2-)3-ternate; leaflets 3-8 &times; 2-10&nbsp;cm.
<B>Inflorescences</B> with 5-70 flowers. <B>Flowers:</B> bracteoles 1-3&nbsp;mm;
sepals yellow, purple, green, 3-6 2-3&nbsp;mm, apically revolute; petals
1-2.5&nbsp;mm; stamen filaments 0.5-1.5&nbsp;mm; pistil 1-3&nbsp;mm; style
0.25-1&nbsp;mm. 2<I>n</I>&nbsp;=&nbsp;16.</P>

<P>Flowering late spring. Mesophytic forests;
0-1200&nbsp;m; Man., N.B., Ont., Que.; Ala., Ark., Conn., Del., D.C., Ga.,
Ill., Ind., Iowa, Kans., Ky., Maine, Md., Mass., Mich., Minn., Mo., Nebr.,
N.H., N.J., N.Y., N.C., N.Dak., Ohio, Pa., S.C., S.Dak., Tenn., Vt., Va.,
W.Va., Wis.</P>

<P>Native Americans used various preparations
 
of the root of <I>Caulophyllum thalictroides</I> medicinally to treat rheumatism,
 toothaches, profuse menstruation, indigestion and stomach cramps, fits
 and hysterics, genito-urinary disfunction, gallstones, and fever, as an
aid in childbirth, and as a general tonic (D.&nbsp;E. Moermann 1986).<BR>
</P>

