1. <A NAME="03500288"></A><I>Caulophyllum giganteum</I> (Farwell) Loconte
&amp; W.&nbsp;H. Blackwell</B>, Phytologia 49: 483. 1981 &middot; E</P>

<P><I>Caulophyllum thalictroides</I> (Linnaeus)
Michaux var. <I>giganteum</I> Farwell, Rep. (Annual) Michigan Acad. Sci.
20: 178. 1918</P>

<P><B>Stems</B> 2-7&nbsp;dm. <B>Leaves:</B> 1st
leaf (2-)3-ternate; 2d leaf (1-)2-ternate; leaflets 5-10 &times; 3-8&nbsp;cm.
<B>Inflorescences</B> with 4-18 flowers. <B>Flowers:</B> bracteoles 2-4&nbsp;mm;
sepals purple, red, brown, yellow, 6-9 &times; 1-4&nbsp;mm, laterally revolute;
petals 2-3&nbsp;mm; stamen filaments 1.5-2.5&nbsp;mm; pistil 3-5&nbsp;mm;
style 1-2&nbsp;mm. 2<I>n</I>&nbsp;=&nbsp;16.</P>

<P>Flowering early spring. Mesophytic forests;
0-700&nbsp;m; Ont., Que.; Ky., Md., Mass., Mich., N.H., N.Y., N.C., Ohio,
Pa., Tenn., Vt., Va., W.Va.</P>

<P><I>Caulophyllum giganteum</I> has a relatively
northern distribution, and it flowers precociously; <I>C</I>.&nbsp;<I>thalictroides</I>
has a broader distribution, extending farther south, flowers and fruits
later, and is less precocious. <I>Caulophyllum giganteum</I> is treated
as part of <I>C</I>.&nbsp;<I>thalictroides</I> by most authors.<BR>
<BR>
<BR>
<B>