

<P><B>2. CAULOPHYLLUM
Michaux</B>, Fl. Bor.-Amer. 1: 204. 1803 &middot; Blue cohosh, caulophylle
[Greek <I>caulos</I>, stem, and <I>phyllos</I>, leaf]</P>

<P><B>Herbs</B>, perennial, deciduous, to 2-9&nbsp;dm,
glabrous. <B>Rhizomes</B> nodose, producing 2 leaves per year. <B>Aerial
stems</B> present. <B>Leaves</B> caducous, cauline, 2-ranked, 1st leaf
larger than 2d leaf, 2-4-ternately compound; petioles short or absent.
<B>Leaf blade</B> broadly obovate in overall outline; rachis pulvinate;
leaflet blades broadly obovate, entire or lobed, margins not toothed; venation
pinnate to palmate. <B>Inflorescences</B> terminal, compound cymes. <B>Flowers</B>
3-merous, 6-20&nbsp;mm; bracteoles caducous, 3-4, sepaloid; sepals 6, yellow,
purple, red, brown, or green, petaloid; petals 6, fan-shaped, bearing nectar;
stamens 6; anthers dehiscing by 2 apically hinged flaps; pollen exine reticulate;
ovary bladderlike; placentation appearing basal; styles eccentric. <B>Fruits</B>
not developed, ovary wall soon rupturing. <B>Seeds</B> 2, elevated on elongating
stalk, naked at maturity; seed coat blue, fleshy, glaucous; aril absent.
<I>x</I>&nbsp;=&nbsp;8.</P>

<P>Species 3 (2 in the flora): North America,
Asia.</P>

<P><I>Caulophyllum</I> species are understory
herbs of mesophytic forests, alluvial flats, rich mesic slopes, and limestone
slopes. The seeds of <I>Caulophyllum</I> are buoyant and showy and may
be dispersed by water as well as other means; seed germination is hypogeal,
the cotyledons remaining underground. <I>Caulophyllum</I> is occasionally
cultivated in woodland gardens.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Brett, J.&nbsp;F. 1981. The Morphology and Taxonomy of <I>Caulophyllum
thalictroides</I>&nbsp;(L.) Michx. (Berberidaceae) in North America. M.S.
thesis. University of Guelph. Loconte,&nbsp;H. and W.&nbsp;H. Blackwell.
1985. Intrageneric taxonomy of <I>Caulophyllum</I> (Berberidaceae). Rhodora
87: 463-469. Loconte,&nbsp;H. and J.&nbsp;R. Estes. 1989. Generic relationships
within Leonticeae (Berberidaceae). Canad. J.&nbsp;Bot. 67: 2310-2316. Moore,
R.&nbsp;J. 1963. Karyotype evolution in <I>Caulophyllum</I>. Canad. J.&nbsp;Genet.
Cytol. 5: 384-388.<BR>
<BR>
<BR>
<B>