

<P><B>14. CERATOPHYLLACEAE
Gray - Hornwort Family</B></P>

<P><B>Herbs</B> perennial, aquatic, without rhizomes;
roots absent; air chambers conspicuous. <B>Leaves</B> arising from branched
stems, sessile, whorled; stipules absent. <B>Leaf blade</B> undivided to
finely dissected, margins serrulate, laticifers absent; 1st leaves of plumule
simple or forked. <B>Inflorescences</B> axillary, solitary flowers. <B>Flowers</B>
unisexual, staminate and pistillate on same plant, submersed, sessile or
nearly so, subtended by involucre of 8-15 linear bracts; perianth absent;
stamens 3-50; anthers nearly sessile, dehiscing by longitudinal slits,
connective prolonged; pistil 1, simple; ovary 1-locular; placentation laminar;
ovule 1; style elongate; stigma decurrent. <B>Fruits</B> achenes, indehiscent.
<B>Seed</B> 1, aril absent; endosperm and perisperm absent; embryo well
developed; cotyledons 2, fleshy.</P>

<P>Genus 1, species 6 (3 species in the flora):
worldwide.</P>

<P>Ceratophyllaceae are water-pollinated.</P>

<P>The extant species of this aquatic family
are obviously highly specialized; recent research indicates that Ceratophyllaceae
are an ancient lineage. From comparative morphologic data, D.&nbsp;H. Les
(1988) hypothesized that Ceratophyllaceae are vestiges of ancient angiosperms
that diverged early from the line leading to most other modern taxa. This
hypothesis is consistent with recent phylogentic analyses of DNA sequence
data (D.&nbsp;H. Les et al. 1991; M.&nbsp;W. Chase et al. 1993; Qiu Y.&nbsp;L.
et al. 1993) derived from the chloroplast gene <I>rbc</I>L. The great age
of Ceratophyllaceae is indicated by fossil evidence documenting the existence
of the family in the Cretaceous Aptian (D.&nbsp;L. Dilcher 1990). The hypothesis
that Ceratophyllaceae represent the oldest living angiosperm lineage deserves
further scrutiny; meanwhile recent morphologic, molecular, and paleobotanical
evidence favors this interpretation over other proposed phylogenetic affinities
of the family.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Chase, M.&nbsp;W. et al. 1993. Phylogenetics of seed plants: An analysis
of nucleotide sequences from the plastid gene <I>rbc</I>L. Ann. Missouri
Bot. Gard. 80: 528-580. Dilcher, D.&nbsp;L. 1990. The occurrence of fruits
with affinities to Ceratophyllaceae in lower and mid-Cretaceous sediments.
[Abstract.] Amer. J. Bot. 76: 162. Les, D.&nbsp;H. 1988. The origin and
affinities of the Ceratophyllaceae. Taxon 37: 326-345. Les, D. H. 1993.
Ceratophyllaceae. In: K. Kubitzki et al., eds. 1990+. The Families and
Genera of Vascular Plants. 2+ vols. Berlin etc. Vol. 2, pp. 246-250. Les,
D.&nbsp;H., D.&nbsp;K. Garvin, and C.&nbsp;F. Wimpee. 1991. Molecular evolutionary
history of ancient aquatic angiosperms. Proc. Natl. Acad. Sci. U.S.A. 88:
10119-10123. Qiu Y.&nbsp;L., M.&nbsp;W. Chase, D.&nbsp;H. Les, and C.&nbsp;R.
Parks. 1993. Molecular phylogenetics of the Magnoliidae: Cladistic analyses
of nucleotide sequences of the plastid gene <I>rbc</I>L. Ann. Missouri
Bot. Gard. 80: 587-606. Wood, C.&nbsp;E. Jr. 1959. The genera of the Nymphaeaceae
and Ceratophyllaceae in the southeastern United States. J.&nbsp;Arnold
Arbor. 40: 94-112.<BR>
</P>

