1.<A NAME="07000001"></A><I>Ceratophyllum
demersum</I> Linnaeus</B>, Sp. Pl. 2: 992. 1753 - Coontail, hornwort, cornifle
nageante - W2</P>

<P><I>Ceratophyllum apiculatum</I> Chamisso</P>

<P><B>Stems</B> to 3&nbsp;m; apical leaf whorls
densely crowded. <B>Leaves</B> bright green, coarse-textured. <B>Leaf blade</B>
simple or forked into 2-4(-5) ultimate segments (forking of largest leaves
1st or 2d order, rarely 3d order), segments not inflated, mature leaf whorls
1.5-6&nbsp;cm diam., marginal denticles conspicuous, usually strongly raised
on broad base of green tissue; 1st leaves of plumule simple. <B>Achene</B>
dark green or reddish brown, body (excluding spines) 3.5-6 &times; 2-4
&times; 1-2.5&nbsp;mm, basal spines or tubercles 2 (rarely absent), straight
or curved, 0.1-12&nbsp;mm, spine bases occasionally inconspicuously webbed,
marginal spines absent, terminal spine straight, 0.5-14&nbsp;mm, margins
wingless. 2<I>n</I>&nbsp;=&nbsp;24, 38, 40, 48.</P>

<P>Flowering spring-late fall. Fresh to slightly
brackish rivers, streams, ditches, lakes, ponds, pools, marshes, swamps;
0-1700&nbsp;m; Alta., B.C., Man., N.B., N.W.T., N.S., Ont., P.E.I., Que.,
Sask., Yukon; Ala., Alaska, Ariz., Ark., Calif., Colo., Conn., Del., D.C.,
Fla., Ga., Idaho, Ill., Ind., Iowa, Kans., Ky., La., Maine, Md., Mass.,
Mich., Minn., Miss., Mo., Mont., Nebr., Nev., N.H., N.J., N.Mex., N.Y.,
N.C., N.Dak., Ohio, Okla., Oreg., Pa., R.I., S.C., S.Dak., Tenn., Tex.,
Utah, Vt., Va., Wash., W.Va., Wis., Wyo.; worldwide.</P>

<P>Specimens of <I>Ceratophyllum demersum</I>
with short basal spines or tubercles have been misidentified as <I>C</I>.&nbsp;<I>submersum</I>
Linnaeus, a species not known in the New World despite reports to the contrary.
<I>Ceratophyllum demersum</I> is the most common species of <I>Ceratophyllum</I>
in North America and also the least likely to be found with fruit, its
reproduction being primarily asexual. Predominantly low leaf order is,
therefore, the most reliable means of identifying this species.</P>

<P>Noted for its prolific growth, <I>Ceratophyllum
demersum</I> occasionally has attained status as a serious weed.<BR>
</P>

<P><B>