3.<A NAME="07000013"></A><I>Ceratophyllum
echinatum</I> A.&nbsp;Gray</B>, Ann. Lyceum Nat. Hist. New York 4: 49.
1837 - Hornwort, cornifle &eacute;chin&eacute;e - E&nbsp;F&nbsp;W1</P>

<P><I>Ceratophyllum demersum</I> Linnaeus var.
<I>echinatum</I> (A.&nbsp;Gray) A.&nbsp;Gray; <I>C</I>.&nbsp;<I>submersum</I>
Linnaeus var. <I>echinatum</I> (A.&nbsp;Gray) Wilmot-Dear</P>

<P><B>Stems</B> to 1&nbsp;m; apical leaf whorls
not densely crowded. <B>Leaves</B> dark green or olive-green, fine-textured.
<B>Leaf blade</B> simple or forked into 2-10 ultimate segments (forking
of largest leaves 3d or 4th order), proximal segments often conspicuously
inflated, mature leaf whorls 25-55&nbsp;mm diam., marginal denticles weak
and inconspicuous, weakly exserted, not raised on broad base of green tissue;
1st leaves of plumule forked. <B>Achene</B> dark green or brown, body (excluding
spines) 4.5-6 &times; 2.5-4.5 &times; 1.5-3&nbsp;mm, basal spines 2 (rarely
absent), straight or curved, 1-5&nbsp;mm, marginal spines 2-13, 0.5-6.5&nbsp;mm,
terminal spine straight, 1.5-7.5&nbsp;mm, margins winged. 2<I>n</I>&nbsp;=&nbsp;24.</P>

<P>Flowering spring-summer. Fresh water of lakes,
ponds, marshes, swamps; 0-500&nbsp;m; B.C., Man., N.B., N.S., Ont., Que.;
Ala., Ark., Conn., Del., D.C., Fla., Ga., Ill., Ind., Iowa, Kans., Ky.,
La., Maine, Md., Mass, Mich., Minn., Miss., Mo., N.H., N.J., N.Y., N.C.,
Ohio, Okla., Oreg., Pa., R.I., S.C., Tenn., Tex., Vt., Va., Wash., W.Va.,
Wis.</P>

<P>Principally an eastern North American species--and
the only species of its genus endemic to North America--<I>Ceratophyllum
echinatum</I> is disjunct in the Pacific Northwest as a result of repeated
Pleistocene glaciation. The habitats of <I>C</I>.&nbsp;<I>echinatum</I>
are typically more acidic (avg. pH 6.6) than those of <I>C</I>.&nbsp;<I>demersum</I>
(avg. pH 7.4). The two species only rarely coexist. <I>Ceratophyllum echinatum</I>
also thrives in cooler, clearer, and more oligotrophic water than <I>C</I>.&nbsp;<I>demersum</I>
and often is found in more ephemeral sites, such as shrub swamps (e.g.,
with <I>Cephalanthus occidentalis</I>) and beaver ponds.</P>

<P>This species, relatively uncommon, is fast
disappearing from much of its range because of habitat alteration or destruction
and the introduction of nonindigenous species; steps should be taken to
secure its conservation. Unlike <I>Ceratophyllum demersum</I>, <I>C</I>.&nbsp;<I>echinatum</I>
does not attain status as a serious weed.<BR>
<BR>
</P>

