2.<A NAME="07000006"></A><I>Ceratophyllum
muricatum</I> Chamisso</B>, Linnaea 4: 504. 1829 - Hornwort</P>

<P><I>Ceratophyllum submersum</I> Linnaeus subsp.
<I>muricatum</I> (Chamisso) Wilmot-Dear</P>

<P>Subspecies 3 (1 in the flora): nearly worldwide.<BR>
</P>

<P><B>