2a.<A NAME="07000016"></A><I>Ceratophyllum
muricatum</I> Chamisso subsp. <I>australe</I> (Grisebach) Les</B>, Syst.
Bot. 13: 85. 1988</P>

<P><I>Ceratophyllum australe</I> Grisebach, Symb.
Fl. Argent., 14. 1879; <I>C</I>.&nbsp;<I>demersum</I> Linnaeus var. <I>cristatum</I>
K. Schumann; <I>C</I>.&nbsp;<I>floridanum</I> Fassett; <I>C</I>.&nbsp;<I>llerenae</I>
Fassett</P>

<P><B>Stems</B> to 1&nbsp;m; apical leaf whorls
not densely crowded. <B>Leaves</B> light green to yellow-green, fine-textured.
<B>Leaf blade</B> simple or forked into 2-10 ultimate segments (forking
of largest leaves 3d or 4th order), segments sometimes conspicuously inflated,
mature leaf whorls 2.5-6&nbsp;cm diam., marginal denticles weak and inconspicuous,
not raised on broad base of green tissue, sometimes nearly absent; 1st
leaves of plumule simple. <B>Achene</B> green or dark brown, body (excluding
spines) 3-4.5 &times; 2-3 &times; 1-2&nbsp;mm, basal spines 2 (rarely absent),
straight or curved, 0.3-4.5&nbsp;mm, marginal spines (0-)2-20, 0.1-4&nbsp;mm,
terminal spine straight or curved, 1.5-7.5&nbsp;mm, margins slightly winged.</P>

<P>Flowering spring. Fresh water of ponds and
lakes; 0-50&nbsp;m; Fla., Ga., N.C.; Mexico; West Indies; Central America;
South America.</P>

<P>Principally of tropical distribution, <I>Ceratophyllum
muricatum</I> is known in North America north of Mexico only from ephemeral
habitats in coastal southeastern United States. The wide range of variation
of spines on the fruits in <I>C</I>.&nbsp;<I>muricatum</I> has led to the
describing of several variants (typically when spine lengths have been
reduced) as different species. As in <I>C</I>.&nbsp;<I>demersum</I>, spineless
phenotypes from North America have been called <I>C</I>.&nbsp;<I>submersum</I>
Linnaeus, which does not occur in the New World. The affinity of <I>C</I>.&nbsp;<I>muricatum</I>
for shallow, ephemeral habitats results in its sporadic and nonpersistent
occurrence in present North American localities. Fossil records of <I>C</I>.&nbsp;<I>muricatum</I>
from the lower and middle Eocene document its occurrence in more inland
sites, presumably when the climate of the interior stations was more similar
to tropical conditions. Of the three North American species of <I>Ceratophyllum</I>,
this species is most likely to be collected (in season) with fruit present.<BR>
</P>

<P><B>