<P><B>1. CERATOPHYLLUM Linnaeus</B>, 
Sp. Pl. 2: 992. 1753; Gen. Pl. ed. 5, 428. 1754 
- Hornwort, cornifle [Greek <I>ceratos</I>, horn, and <I>phyllon</I>, leaf]</P>

<P><B>Plants</B>, submersed perennials. <B>Stems</B>
suspended or anchored by branches buried in substrate; branches 0-3 per
node. <B>Leaves</B> 3-11 per whorl, cauline; petiole inconspicuous. <B>Leaf
blade</B> simple or forked into linear-filiform, denticulate segments.
<B>Inflorescences</B> extra-axillary, alternating with leaves. <B>Flowers:</B>
bracts basally connate, foliaceous; pedicel less than 1&nbsp;mm or essentially
absent. <B>Staminate flowers:</B> anther 2-locular, connective projecting
as apical appendage. <B>Pistillate flowers:</B> ovary tapering to persistent,
spinelike style; ovule pendulous. <B>Achene</B> ellipsoid, moderately compressed,
surface smooth or tuberculate, basal or marginal spines (or both) present
or absent, terminal spine present, marginal wing present or absent. <I>x</I>&nbsp;=&nbsp;12,
19, 20.</P>

<P>Useful in identification of species of <I>Ceratophyllum</I>
are leaf-forking characteristics. Leaves with no forking are &quot;0-order&quot;;
they consist only of a primary segment. Those forking once are &quot;1st-order&quot;;
their ultimate segments are secondary. Those in which at least one secondary
segment forks are &quot;2d-order&quot;; their ultimate segments are tertiary.
Those in which at least one tertiary segment forks are &quot;3d-order&quot;;
their ultimate segments are quaternary. Those in which at least one quaternary
segment forks are &quot;4th order.&quot;</P>

<P>Plumule features used in the key below are
observable through dissection of softened (soaked) seeds removed from achenes.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Fassett, N.&nbsp;C. 1953. North American <I>Ceratophyllum</I>. Comun.
Inst. Trop. Invest. Ci. Univ. El Salvador 2: 25-45. Herendeen, P.&nbsp;S.,
D.&nbsp;H. Les, and D.&nbsp;L. Dilcher. 1990. Fossil <I>Ceratophyllum</I>
(Ceratophyllaceae) from the Tertiary of North America. Amer. J.&nbsp;Bot.
77: 7-16. Jones, E.&nbsp;N. 1931. The morphology and biology of <I>Ceratophyllum
demersum</I>. Stud. Nat. Hist. Iowa Univ. 13: 11-55. Les, D.&nbsp;H. 1985.
The taxonomic significance of plumule morphology in <I>Ceratophyllum</I>
(Ceratophyllaceae). Syst. Bot. 10: 338-346. Les, D.&nbsp;H. 1986. The phytogeography
of <I>Ceratophyllum demersum</I> and <I>C</I>.&nbsp;<I>echinatum</I> in
glaciated North America. Canad. J.&nbsp;Bot. 64: 498-509. Les, D.&nbsp;H.
1986b. The evolution of achene morphology in <I>Ceratophyllum</I> (Ceratophyllaceae),
I. Fruit spine variation and relationships of <I>C</I>.&nbsp;<I>demersum</I>,
<I>C</I>.&nbsp;<I>submersum</I>, and <I>C</I>.&nbsp;<I>apiculatum</I>.
Syst. Bot. 11: 549-558. Les, D.&nbsp;H. 1988b. The evolution of achene
morphology in <I>Ceratophyllum</I> (Ceratophyllaceae), II. Fruit variation
and systematics of the &quot;spiny-margined&quot; group. Syst. Bot. 13:
73-86. Les, D.&nbsp;H. 1988c. The evolution of achene morphology in <I>Ceratophyllum</I>
(Ceratophyllaceae), III. Relationships of the &quot;facially-spined&quot;
group. Syst. Bot. 13: 509-518. Les, D.&nbsp;H. 1989. The evolution of achene
morphology in <I>Ceratophyllum</I> (Ceratophyllaceae), IV. Summary of proposed
relationships and evolutionary trends. Syst. Bot. 14: 254-262. Lowden,
R.&nbsp;M. 1978. Studies in the submerged genus <I>Ceratophyllum</I> L.
in the neotropics. Aquat. Bot. 4: 127-142. Muenscher, W.&nbsp;C. 1940.
Fruits and seedlings of <I>Ceratophyllum</I>. Amer. J.&nbsp;Bot. 27: 231-233.</P>

<P><B>
