1. <A NAME="24000159"></A><I>Chelidonium majus</I> Linnaeus</B>, Sp.
Pl. 1: 505. 1753 - F W2</P>

<P><B>Plants</B> to 10&nbsp;dm. <B>Stems</B>
branching, ribbed. <B>Leaves</B> to 35&nbsp;cm; petiole 2-10&nbsp;cm; blade
deeply 5-9-lobed; margins irregularly dentate or crenate, rarely laciniate.
<B>Inflorescences:</B> peduncle 2-10&nbsp;cm. <B>Flowers:</B> pedicels
5-35&nbsp;mm; sepals to 1&nbsp;cm; petals bright yellow, obovate to oblong,
to 2&nbsp;cm wide; style ca. 1&nbsp;mm. <B>Capsules</B> linear to narrowly
oblong, 2-5&nbsp;cm, glabrous. <B>Seeds</B> black, reticulate-pitted.</P>

<P>Flowering spring-summer. Moist to dry woods,
thickets, fields, hedgerows and fences, roadsides, railroads, and waste
ground; 0-1000&nbsp;m; introduced; B.C., N.B., N.S., Ont., P.E.I., Que.;
Conn., Del., Ill., Ind., Iowa, Maine, Md., Mass., Mich., Minn., Mo., Mont.,
N.H., N.J., N.Y., N.C., Ohio, Pa., R.I., Utah, Vt., Va., Wash., W.Va.,
Wis.; Eurasia.</P>

<P>The irritating sap of <I>Chelidonium</I> has
been used to treat warts. In the vegetative state, this weedy introduction
from Eurasia is difficult to distinguish from the native <I>Stylophorum
diphyllum</I>.<BR>
</P>

