

<P><B>1. CHELIDONIUM Linnaeus</B>,
Sp. Pl. 1: 505. 1753; Gen. Pl. ed. 5, 224. 1754 - Celandine, greater celandine,
rock-poppy, swallowwort, ch&eacute;lidoine [Greek <I>cheilidon</I>, swallow
(bird), perhaps from lore reported by Aristotle and others that mother
swallows bathe eyes of their young with the sap]</P>

<P><B>Herbs</B>, biennial or perennial, caulescent,
from stout rhizomes or taproots; sap yellow to orange. <B>Stems</B> leafy.
<B>Leaves</B> petiolate; basal rosulate, cauline alternate; blade 1-2&times;
pinnately lobed. <B>Inflorescences</B> axillary or terminal, umbelliform,
few flowered; bracts present. <B>Flowers:</B> sepals 2, distinct; petals
4; stamens ca. 12-many; pistil 2-carpellate; ovary 1-locular; style &plusmn;&nbsp;distinct;
stigma 2-lobed. <B>Capsules</B> erect, 2-valved, dehiscing from base. <B>Seeds</B>
few to many, arillate. <I>x</I>&nbsp;=&nbsp;6.</P>

<P>Species 1: North America, Eurasia.<BR>
<BR>
<BR>
<B>