6. <A NAME="27100873"></A><I><B>Cimicifuga laciniata</B></I><B>
S.&nbsp;Watson</B></B>, Proc.
Amer. Acad. Arts 20: 352. 1885 - Mount Hood bugbane, cut-leaved
bugbane - E
<P>
<B>Stems</B>
110-130&nbsp;cm, glabrous or sparsely pubescent. <B>Leaves:</B>
petiole rounded abaxially or sometimes laterally compressed, 10-45&nbsp;cm,
adaxially narrowly and deeply grooved, densely pubescent. <B>Leaf
blade</B> 2-3-ternately compound; leaflets 20-35; terminal leaflet
of central segment ovate to ovate-lanceolate, deeply cleft into
3 primary lobes, 7-12 &#215; 7-12&nbsp;cm, with 3 veins arising
basally, base somewhat cordate, margins incised and laciniate,
apex acuminate, surfaces abaxially tomentose on larger veins,
adaxially glabrous; other leaflets 5-10 &#215; 5-11&nbsp;cm. <B>Inflorescences</B>
erect panicles of 4-8 racemelike branches, 10-35&nbsp;cm, tomentose;
bract 1, subtending pedicel, lance-subulate, 3-4&nbsp;mm; pedicel
3-13&nbsp;mm, tomentose, bracteoles absent. <B>Flowers:</B> sepals
4 or 5, white; petals 1-5, body yellowish, lobes white, ovate,
ca. 3-4&nbsp;mm, clawed; nectary basal; stamens 20-30; filaments
4-5&nbsp;mm; pistils (2-)3-5, short-stipitate, densely pubescent;
style subulate; stigma minute, 0.3&nbsp;mm wide. <B>Follicles</B>
(2-)3-4(-5), slender-stipitate, oblong-obovate, laterally compressed,
7-13&nbsp;mm, thin walled. <B>Seeds</B> pale brown, lenticular,
2.5-3&nbsp;mm, loosely covered with elongate, narrow, white, lacerate
scales but not appearing cylindric.
<P>
Flowering summer (Aug-Sep). Moist, open
woods, boggy flats, thickets near heads of drainages, streamsides,
meadow margins, and lakesides; 500-1800&nbsp;m; Oreg., Wash.
<P>
Historically <I>Cimicifuga laciniata</I>
had been collected only at Lost Lake on Mount Hood, Oregon. The
discovery of many new sites in recent years has led to the removal
of this species from state and federal lists of protected plants.
<BR>
<BR>
<BR>

