2. <A NAME="27100872"></A><I><B>Cimicifuga elata</B></I><B>
Nuttall in J.&nbsp;Torrey and A.&nbsp;Gray</B></B>,
Fl. N. Amer. 1: 316. 1838 - Tall bugbane - C E
<P>
<B>Stems</B>
120-180&nbsp;cm, sparsely puberulent, glandular, or lanate. <B>Leaves:</B>
petiole angled, to 40&nbsp;cm, deeply and broadly grooved adaxially,
glabrous or densely pubescent in groove. <B>Leaf blade</B> 2-ternately
compound; leaflets 9-27; terminal leaflet of central segment ovate
to orbiculate, often 2-3-lobed, 8-18&nbsp;&#215; 9-23&nbsp;cm,
with 5-7 prominent veins arising basally, base deeply cordate,
margins coarsely dentate to serrate, teeth gland-tipped, apex
acute to acuminate, surfaces abaxially pubescent, adaxially glabrous;
other leaflets 5-15&nbsp;&#215; 7-20&nbsp;cm. <B>Inflorescences</B>
erect panicles of 4-14 racemelike branches, 7-17&nbsp;cm, glandular
to lanate; bracts 3, subtending pedicel, central bract largest,
lance-subulate, lateral bracts ovate-deltate; pedicel 1-8&nbsp;mm,
densely pubescent, bracteoles absent. <B>Flowers:</B> sepals 5,
white or pinkish; petals absent; stamens 20-30; filaments 5-6&nbsp;mm;
pistils 1-3, sessile, glandular-pubescent; style short; stigma
0.5&nbsp;mm wide. <B>Follicles</B> usually 1(-3 in proximal flowers),
sessile or nearly sessile (stipe 0-2&nbsp;mm), oblong, &#177;&nbsp;laterally
compressed, 8-12&nbsp;mm, thin walled. <B>Seeds</B> reddish to
purplish brown, lenticular, 2&nbsp;mm, usually verrucose, rarely
with very short scales. 2<I>n</I>&nbsp;=&nbsp;16. 
<P>
Flowering summer (Jun-early Aug). Moist,
wooded slopes, damp forest margins and roadsides, along shaded
streams, rather open to closed woods, mountain hemlock habitats;
of conservation concern; 60-900&nbsp;m; B.C.; Oreg., Wash.
<P>
<I>Cimicifuga elata</I>
has the most extensive range of the three western North American
species. It is very likely to be threatened by human activities.
Even though a number of historic records occur for this species
and its preferred habitat is fairly extensive (albeit not undisturbed),
the number of colonies actually known to exist is not great. In
addition, few of these populations are of sufficient size and
extent to be viable over the long term. <BR>

<P>
<B>