4. <A NAME="27100871"></A><I><B>Cimicifuga arizonica</B></I><B>
S.&nbsp;Watson</B></B>, Proc.
Amer. Acad. Arts 20: 352. 1885 - Arizona bugbane - C E
<P>
<B>Stems</B>
70-150&nbsp;cm, glabrous. <B>Leaves:</B> petiole rounded abaxially,
10-35&nbsp;cm, usually deeply and broadly grooved adaxially, glabrous.
<B>Leaf blade</B> 2(-3)-ternately compound; leaflets (9-)21-45;
terminal leaflet of central segment ovate or oblong-ovate, 3-lobed,
8-17.5 &#215; 6-12.5&nbsp;cm, with 3 prominent veins arising basally,
base somewhat cordate, margins serrate to dentate-serrate, teeth
gland-tipped, apex acuminate, rarely nearly truncate, surfaces
nearly glabrous; other leaflets 7-12 &#215; 4-7&nbsp;cm. <B>Inflorescences</B>
erect to lax panicles of 2-8 racemelike branches, 10-45&nbsp;cm,
short-pubescent distally; bracts 3, subtending pedicel, central
bract larger and elongate-subulate, 3-4&nbsp;mm, lateral bracts
ovate-deltate; pedicel to 8&nbsp;mm, pubescent, bracteoles absent.
<B>Flowers:</B> sepals 5, outer 2 greenish yellow, inner creamy
white; petals (0-)2, white, ovate to obovate, 3&nbsp;mm, long-clawed;
nectary absent; stamens 40-75; filaments 5-8&nbsp;mm; pistils
1-3(-4), sessile, glandular; style long, hooked; stigma minute,
0.2&nbsp;mm wide. <B>Follicles</B> (1-)2(-3), sessile, oblong,
&#177;&nbsp;compressed laterally, 10-18&nbsp;mm, membranous walled.
<B>Seeds</B> pale brown, lenticular, covering of scales giving
cylindric appearance, 2.5-3&nbsp;mm, loosely covered with pale
brown, membranous scales.
<P>
Flowering summer (Jul-Aug). Rich soil
and deep shade in moist wooded ravines; of conservation concern;
1600-2100&nbsp;m; Ariz.
<P>
<I>Cimicifuga arizonica</I>
is known from only a few localities in central Arizona. It grows
in moist, loamy soil of the ecotone between the coniferous forest
and the riparian habitat and does not spread into the forest.
It appears to be adapted to deep shade. <BR>

<P>
<B>