5. <A NAME="27100870"></A><I><B>Cimicifuga americana</B></I><B>
Michaux</B></B>, Fl. Bor.-Amer.
1: 316. 1803 - American bugbane - E F
<P>
<I>Cimicifuga cordifolia</I>
Pursh; <I>C</I>. <I>racemosa</I> (Linnaeus) Nuttall var. <I>cordifolia</I>
(Pursh) A.&nbsp;Gray 
<P>
<B>Stems</B>
60-250&nbsp;cm, usually glabrous, rarely sparsely pubescent. <B>Leaves:</B>
petiole rounded abaxially, 8-16&nbsp;cm, broadly and shallowly
grooved adaxially, glabrous, rarely with a few lax hairs in groove.
<B>Leaf blade</B> (2-)3-ternately compound; leaflets 32-100; terminal
leaflet of central segment ovate to oblong, incisely 3-lobed,
6-15 &#215; 4-14&nbsp;cm, with 3 veins arising basally, base cuneate
to somewhat cordate, margins dentate to serrate, apex acute to
acuminate, surfaces glabrous or glabrate; other leaflets 3-15
&#215; 3-10&nbsp;cm. <B>Inflorescences</B> &#177;&nbsp;lax panicles
of 3-10 racemelike branches, 10-50&nbsp;cm, densely short-pubescent
and granular; bract 1, subtending pedicel, broadly triangular,
acute, 1-3&nbsp;mm; pedicel to 20&nbsp;mm, granular, bracteoles
present along most of pedicel, narrowly triangular, acute. <B>Flowers:</B>
sepals 5, 3 outer white tinged red, 2 inner yellowish green; petals
usually 2, rarely more, sessile, body yellowish with white lobes,
ovate, 3-6&nbsp;mm; nectary basal; stamens 40-70; filaments 6-10&nbsp;mm;
pistils 3-8, short-stipitate, body glabrous, stipe granular; style
subulate, often curved; stigma minute, 0.2&nbsp;mm wide. <B>Follicles</B>
2-4, stipitate, obovate, laterally compressed, 8-17&nbsp;mm, membranous
walled, glabrous. <B>Seeds</B> pale brown, lenticular, ca. 3.5&nbsp;mm,
covered with whitish, broad, lacerate scales but not apprearing
cylindric.
<P>
Flowering summer-fall (Aug-Oct). Moist,
rich, rocky and boulder-strewn, wooded slopes and coves; 300-2000&nbsp;m;
Ga., Ill., Ky., Md., N.C., Pa., S.C., Tenn., Va., W.Va. 
<P>
Much confusion has developed over the
name <I>Cimicifuga</I> <I>cordifolia</I> Pursh. Although F.&nbsp;Pursh
(1814, vol. 2, pp. 372-373) considered it synonymous with <I>C</I>.&nbsp;<I>americana</I>,
several other authors have variously misapplied the name <I>C</I>.&nbsp;<I>cordifolia</I>
to <I>C</I>.&nbsp;<I>racemosa</I> and <I>C</I>.&nbsp;<I>rubifolia</I>.
<BR>

<P>
<B>