

<P>
<B>8. CIMICIFUGA Wernischeck</B>,
Gen. Pl., 298. 1763 - Bugbane, snakeroot, cohosh [Latin <I>cimex</I>,
bug, and <I>fugare</I>, to drive away]<BR>

<P>
<B>Herbs</B>,
perennial, from hard, knotted, long-lived rhizomes. <B>Leaves</B>
basal and cauline, compound, petiolate with basal wings clasping
stem; cauline leaves alternate. <B>Leaf blade</B> 1-3-ternately
compound; leaflets ovate-lanceolate to broadly obovate or orbiculate,
2-5-lobed, lobe margins toothed or shallow to deeply incised.
<B>Inflorescences</B> terminal, many-flowered panicles of racemelike
branches [spikes in Asian spp.], 7-60&nbsp;cm; bracts 1 or 3,
alternate, subtending pedicel (pedicels bracteolate in <I>C</I>.&nbsp;<I>americana</I>),
not forming involucre. <B>Flowers</B> bisexual [unisexual], radially
symmetric; sepals not persistent in fruit, (2-)4-5(-6), greenish
white or cream to greenish yellow, sometimes pinkish or tinged
with red, plane or &#177;&nbsp;concave, ovate to obovate, 3-6&nbsp;mm;
petals 0-8, distinct, white or yellowish, plane, apex 2-cleft
[entire], sometimes clawed, 3-6&nbsp;mm; nectariferous area sometimes
present; stamens 20-110; filaments filiform [flattened]; staminodes
absent between stamens and pistils; pistils 1-8, simple; ovules
4-15 per pistil; style present. <B>Fruits</B> follicles, usually
aggregate, sessile or stipitate, ovoid to obovoid, weakly to strongly
compressed, sides not prominently veined; beak terminal, straight
or hooked at tip, 0.5-2.5&nbsp;mm. <B>Seeds</B> pale brown to
reddish or purplish brown, angled or laterally compressed, hemispheric,
lenticular, or cylindric, smooth, slightly ridged, verrucose,
or densely scaly. <I>x</I>&nbsp;=&nbsp;8.
<P>
Species 12 (6 in the flora): North America
and Eurasia. 
<P>
<I>Cimicifuga</I>
may be divided into two natural groups: those with seeds scaly
and those with seeds lacking scales or nearly so. <I>Cimicifuga
racemosa</I> and <I>C</I>.&nbsp;<I>elata</I> of North America,
with scaleless seeds, are most closely related to <I>C</I>.&nbsp;<I>biternata</I>
(Siebold &amp; Zuccarini) Miquel and <I>C</I>.&nbsp;<I>japonica</I>
(Thunberg) Sprengel of Asia.
<P>
Four or five species of <I>Cimicifuga</I>
are cultivated as ornamentals, and at least five named cultivars
have been developed.<BR>

<P>
<B>SELECTED REFERENCES </B>
<P>
Compton,&nbsp;J. 1992. <I>Cimicifuga</I>&nbsp;L.:
Ranunculaceae. Plantsman 14(2): 99-115. Ramsey, G.&nbsp;W. 1965.
A Biosystematic Study of the Genus <I>Cimicifuga</I> (Ranunculaceae).
Ph.D. thesis. University of Tennessee. Ramsey, G.&nbsp;W. 1987.
Morphological considerations in North American <I>Cimicifuga</I>.
Castanea 52: 129-141. <BR>
<BR>

<P>
<B>