3. <A NAME="27100875"></A><I><B>Cimicifuga rubifolia</B></I><B>
Kearney</B></B>, Bull. Torrey
Bot. Club 24: 561. 1897 - Appalachian bugbane - E F
<P>
<B>Stems</B>
30-140&nbsp;cm, glabrous. <B>Leaves:</B> petiole angled, 20-50&nbsp;cm,
proximally deeply grooved adaxially, densely pubescent in groove,
otherwise glabrous or sparsely pubescent. <B>Leaf blade</B> 1-2-ternately
compound; leaflets 3-9(-17); terminal leaflet of central segments
broadly obovate, deeply 3-5-lobed, 9-30 &#215; 9-25&nbsp;cm, with
5-9 prominent veins arising basally, base deeply cordate, margins
coarsely and irregularly dentate, apex sharply acuminate, surfaces
abaxially with long, appressed, delicate hairs, adaxially glabrous;
other leaflets 8-24 &#215; 6-22&nbsp;cm. <B>Inflorescences</B>
erect panicles of 2-6 racemelike branches, terminal raceme 15-30&nbsp;cm,
puberulent to short-pubescent; bracts 3, subtending pedicel, central
bract larger, lanceolate, 2&nbsp;mm, lateral bracts ovate-deltate;
pedicel to 5&nbsp;mm, short-pubescent, bracteoles absent. <B>Flowers:</B>
sepals 5, white; petals absent; stamens 35-65; filaments 3-5&nbsp;mm;
pistils 1(-2), sessile, sparsely glandular; style short, straight
or slightly recurved; stigma minute, 0.2-0.3&nbsp;mm wide. <B>Follicles</B>
1(-2), sessile, oblong, strongly compressed laterally, 8-20&nbsp;mm,
thin walled. <B>Seeds</B> reddish brown, lenticular, covering
of scales giving cylindric appearance, ca. 3&nbsp;mm, covered
with reddish brown, membranous scales. 2<I>n</I>&nbsp;=&nbsp;16.

<P>
Flowering summer-fall (Aug-Oct). North-facing,
limestone talus slopes and river bluffs, ravines, and coves, and
along rivers and creeks; 300-900&nbsp;m; Ala., Ill., Ind., Ky.,
Tenn., Va.
<P>
In addition to being found in the Ridge
and Valley Province of Tennessee and Virginia, <I>Cimicifuga rubifolia</I>
has disjunct populations in Alabama, the lower Ohio River Valley,
and in the middle Tennessee counties of Davidson, Montgomery,
and Stewart. 
<P>
The name <I>Cimicifuga racemosa</I>
var. <I>cordifolia</I> has been misapplied to <I>C</I>.&nbsp;<I>rubifolia</I>.
See discussion of <I>C</I>.&nbsp;<I>cordifolia</I> under <I>C</I>.&nbsp;<I>americana</I>.
<BR>

<P>
<B>