1. <A NAME="27100874"></A><I><B>Cimicifuga racemosa</B></I><B>
(Linnaeus) Nuttall</B></B>, Gen.
N. Amer. Pl. 2: 15. 1818 - Black snakeroot, black cohosh - E W1
<P>
<I>Actaea racemosa</I>
Linnaeus, Sp. Pl. 1: 504. 1753; <I>A</I>.&nbsp;<I>monogyna</I>
Walter
<P>
<B>Stems</B>
75-250&nbsp;cm, glabrous. <B>Leaves:</B> petiole angled or &#177;&nbsp;terete,
15-60&nbsp;cm, usually not grooved abaxially, glabrous. <B>Leaf
blade</B> 2-3-ternately compound; leaflets 20-70; terminal leaflet
of central segment ovate to obovate, 3-lobed, 6-15&nbsp;&#215;
6-16.5&nbsp;cm, with 3 prominent veins arising basally, base somewhat
cuneate to somewhat cordate, margins dentate to deeply dentate-serrate
or incised, apex acute to acuminate, surfaces glabrous, abaxially
rarely pubescent on veins; other leaflets 4-12 &#215; 3-8&nbsp;cm.
<B>Inflorescences</B> erect panicles of 4-9 wandlike, racemelike
branches, 10-60 cm, distally pubescent; bracts 1, subtending pedicel,
subulate, 3-4&nbsp;mm; pedicel 4-10&nbsp;mm, pubescent, bracteoles
absent. <B>Flowers:</B> sepals 4, greenish white; petals (1-)4(-8),
white, oblong, ca. 3&nbsp;mm, clawed; nectary basal; stamens 55-110;
filaments 5-10&nbsp;mm; pistils 1(-2), sessile, &#177;&nbsp;pubescent;
style short, thick; stigma 0.5&nbsp;mm wide. <B>Follicles</B>
1, sessile, ovoid, &#177;&nbsp;laterally compressed, 5-10&nbsp;mm,
thick walled. <B>Seeds</B> brown, hemispheric, 3&nbsp;mm, smooth
or &#177;&nbsp;rough-ridged, without scales. 2<I>n</I>&nbsp;=&nbsp;16.

<P>
Flowering summer (Jun-Sep). Moist, mixed
deciduous forests, wooded slopes, ravines, creek margins, thickets,
moist meadowlands, forest margins, and especially mountainous
terrain; 0-1500&nbsp;m; Ont.; Ala., Ark., Conn., Del., D.C., Ga.,
Ill., Ind., Ky., Md., Mass., Mo., N.J., N.Y., N.C., Ohio, Pa.,
S.C., Tenn., Va., W.Va.
<P>
Maine and Vermont specimens probably
were planted originally.
<P>
Several varieties (A.&nbsp;Gray et al.
1878-1897, vol. 1(1,1), pp. 53-55) or forms (M.&nbsp;L. Fernald
1950) have been named. Specimens with extremely dissected leaves
from Connecticut to Delaware and Virginia have been called <I>Cimicifuga
racemosa</I> var. <I>dissecta</I> A.&nbsp;Gray, or <I>C</I>.&nbsp;<I>racemosa</I>
forma <I>dissecta</I> (A.&nbsp;Gray) Fernald. Of the approximately
2500 specimens of <I>C</I>.&nbsp;<I>racemosa</I> examined, only
twelve represent var. <I>dissecta</I>, and only two of those have
flowers or fruits. Because of the limited knowledge concerning
the dissected-leaf form, and because plants similar to those referred
to by Gray and Fernald have not been collected in this century,
the form is of uncertain taxonomic significance. Further study
is needed.
<P>
Native Americans used infusions of plants
of <I>Cimicifuga racemosa</I> medicinally to stimulate menstruation,
to treat rheumatic pains, coughs and colds, constipation, and
kidney trouble, to make babies sleep, and to promote milk flow
in women (D.&nbsp;E. Moerman 1986).<BR>

<P>
<B>