1.<A NAME="17805257"></A><I>Cinnamomum
camphora</I> (Linnaeus) J. Presl in F.&nbsp;Berchtold &amp; J.&nbsp;S.
Presl</B>, Prir. Rostlin 2: 47. 1825 -
Camphor tree - F</P>

<P><I>Laurus camphora</I> Linnaeus, Sp. Pl. 1:
369. 1753; <I>Camphora camphora</I> (Linnaeus) H.&nbsp;Karsten</P>

<P><B>Trees</B>, to 15&nbsp;m. <B>Branches</B>
terete, glabrous, terminal and axillary buds covered by imbricate bracts,
young twigs with clusters of scars from fallen bracts. <B>Leaves</B> alternate;
petiole to 3&nbsp;cm. <B>Leaf blade</B> ovate to elliptic or elliptic-lanceolate,
with (1-)3 primary veins, 7-12 &times; 3-5&nbsp;cm, base rounded to cuneate,
apex sharply acute; surfaces glabrous except for pubescent domatia in axils
of main lateral veins. <B>Flowers:</B> tepals greenish white, 1-2&nbsp;mm,
glabrous abaxially, pubescent adaxially; stamens arranged in outer whorl
of 6 (actually 2 whorls of 3) and inner whorl of 3. <B>Drupe</B> to 9&nbsp;mm
diam. 2<I>n</I>&nbsp;=&nbsp;24.</P>

<P>Flowering spring (Apr-May). Moist subtropical
areas, including the Gulf Coast; 0-150&nbsp;m; introduced; Ala., Miss.,
Fla., Ga., La., N.C., S.C., Tex.; native, e Asia.</P>

<P><I>Cinnamomum camphora</I> is naturalized
locally in the flora. Its crushed leaves have a strong smell of camphor.
This species yields commercial camphor.</P>

<P>The name <I>Cinnamomum camphora</I> (Linnaeus)
T.&nbsp;Nees &amp; C.&nbsp;H. Ebermaier is nomenclaturally invalid.<BR>
</P>

