

<P><B>5. CINNAMOMUM Schaeffer</B>,
Bot. Exped., 74. 1760, name conserved -[Greek <I>kinnamomon</I>, cinnamon]</P>

<P><B>Trees or shrubs</B>, evergreen. <B>Bark</B>
gray [or brown], furrowed [or smooth]; bark and leaves often aromatic.
<B>Leaves</B> alternate, infrequently opposite. <B>Leaf blade</B> with
(1-)3 primary veins [or infrequently pinnately veined], papery to leathery;
surfaces glabrous or variously pubescent; domatia frequently present. <B>Inflorescences</B>
appearing when mature leaves are present, axillary, panicles. <B>Flowers</B>
bisexual; tepals deciduous or persistent, white, green, or yellow, equal;
stamens 9, anthers 4-locular, 4-valved (rarely with anthers of inner 3
stamens 2-locular), extrorse; staminodes 3, apex sagittate or cordate;
ovary ovoid-ellipsoid. <B>Drupe</B> bluish black, nearly globose, seated
in small cupule with entire single rim or tepals persistent.</P>

<P>Species 300 or more (1 in the flora): tropical
and subtropical regions, North America, Central America, South America,
Asia, Pacific Islands, Australia.</P>

<P>The neotropical species were formerly included
in <I>Phoebe</I>, but they are better placed in <I>Cinnamomum</I>.</P>

<P><B>