

<P><B>4. CISSAMPELOS Linnaeus</B>,
Sp. Pl. 2: 1031. 1753; Gen. Pl. ed. 5, 455. 1754 - [Greek pertaining to
ivy or vine)</P>

<P><B>Vines</B>, twining or clambering. <B>Stems</B>
green, glabrous to densely pilose. <B>Leaves</B> peltate or petiole inserted
at base of blade. <B>Leaf blade</B> usually reniform, sometimes nearly
orbiculate, base cordate to truncate, margins entire, apex acute to rounded,
often retuse, mucronate; surfaces abaxially pale, pilose to densely pilose,
adaxially glabrous to pilose. <B>Inflorescences:</B> pistillate inflorescences
fascicles from axils of normal leaves, individual flowers in axils of reduced
leaves or bracts upon secondary axillary branches. <B>Pistillate flowers:</B>
sepal 1, obovate, abaxially pubescent; petal 1; staminodes absent; pistil
1; ovary asymmetrically pouched, pilose [or glabrous]; stigma 3-5-lobed.
[<B>Staminate inflorescences and flowers, and mature fruits</B> have not
been found in the flora; descriptions given here are for extraterritorial
species. <B>Staminate inflorescences</B> axillary, multiflowered cymes
from normal leaves, reduced leaves, or bracts. <B>Staminate flowers</B>
2-ranked; sepals 4; petals 4, connate, corolla cup-shaped; stamens 4; anthers
on column formed by fused filaments, 1-locular, dehiscing transversely.
<B>Drupes</B> nearly globose, pubescent; endocarp bony, warty, ribbed.]</P>

<P>Species 19 (1 in the flora): tropical and
subtropical regions, North America, South America, Africa, and Asia.</P>

<P><B>SELECTED REFERENCE<BR>
</B>Rhodes, D.&nbsp;G. 1975. A revision of the genus <I>Cissampelos</I>.
Phytologia 30(6): 415-484.<BR>
<BR>
<BR>
<B>