1. <A NAME="20600001"></A><I>Cissampelos pareira</I> Linnaeus</B>, Sp.
Pl. 2: 1031. 1753 - F</P>

<P><B>Vines</B>, from thickened root. <B>Leaves</B>
with petiole inserted to 2 mm from margin; petiole to 7.4&nbsp;cm. <B>Leaf
blade</B> 6-12 &times; 7-14&nbsp;cm, membranous to nearly leathery; venation
7. <B>Staminate inflorescences</B> not seen. <B>Pistillate inflorescences</B>
to 13&nbsp;cm; bracts sessile or shortly petiolate, usually reniform, to
5 &times; 6&nbsp;mm, grading to minute, membranous, glabrous to densely
pilose. <B>Pistillate flowers:</B> sepals obovate, 1.2-1.4 &times; 0.8-1&nbsp;mm;
petals 4-angulate to deltate, 0.4-0.8 &times; 1-1.6&nbsp;mm; ovary to 0.8&nbsp;mm.
<B>Drupes</B> not seen.</P>

<P>Flowering summer-winter. Hammocks and residential
areas; 0-10&nbsp;m; Fla.; West Indies; Central America; South America;
Asia; Africa; Pacific Islands.</P>

<P>Only seven collections of <I>Cissampelos pareira</I>
have been seen for North America, all from Dade County, Florida. It is
odd that all of them had pistillate flowers. No fruiting material was observed.
If staminate plants are present, they are yet to be collected.<BR>
<BR>
</P>

