13b. <A NAME="27100883"></A><I><B>Clematis columbiana</B></I><B>
(Nuttall) Torrey &amp; A. Gray var. <I>tenuiloba</I> (A. Gray)
J. S. Pringle</B></B>, Brittonia
25: 382.  1971 - E F
<P>
<I>Clematis alpina</I>
(Linnaeus) Miller var. <I>occidentalis</I> (Hornemann) A. Gray
subvar. <I>tenuiloba</I> A. Gray in H.Newton and W.P. Jenney,
Rep. Geol. Resources Black Hills, 531.  1880;  <I>C</I>.<I>tenuiloba</I>
(A. Gray) C.L. Hitchcock 
<P>
<B>Stems</B>
mainly subterranean, rhizomatous, aerial stems not viny, mostly
less than 0.1 m (to 1.5 m in forms transitional to var.
<I>columbiana</I>), tufted.  <B>Leaf blade</B> mostly 3-ternate,
&#177; succulent; leaflets or lobes mostly 1.5-5 mm wide.
 <B>Flowers:</B> sepals violet-blue, 1.5-5 cm.  2<I>n</I> = 16.
 
<P>
 Flowering late spring-early summer.
 Cliffs, rocky summits, usually in open sites or open pine forest;
1000-3000 m; Colo., Mont., N.Dak., S.Dak., Utah, Wyo.<BR>

<P>
<B>