10. <A NAME="27100337"></A><I><B>Clematis ligusticifolia</B></I><B>
Nuttall in J.&nbsp;Torrey and A.&nbsp;Gray</B></B>,
Fl. N. Amer. 1: 9.  1838 - Virgin's-bower, old man's beard, hierba
de chivo - F
<P>
<I>Clematis ligusticifolia</I>
var. <I>brevifolia</I> Nuttall; <I>C.&nbsp;ligusticifolia</I>
var. <I>californica</I> S.Watson; <I>C</I>.<I>neomexicana</I>
Wooton &amp; Standley; <I>C.&nbsp;suksdorfii</I> B.L. Robinson
<P>
<B>Stems</B>
clambering or climbing, to 6(-20)&nbsp;m.  <B>Leaf blade</B> pinnately
5-foliolate or 2-pinnate and 9-15-foliolate, somewhat succulent;
leaflets lanceolate to broadly ovate, lobed or unlobed, (1-)3-9
&#215; 0.9-7.2 cm, margins entire or variously toothed; surfaces
abaxially glabrous or sparsely pilose or silky, especially on
veins; ultimate venation obscure.  <B>Inflorescences</B> axillary,
usually 7-20(-65)-flowered compound cymes, often distinctly corymbiform,
flowers crowded.  <B>Flowers</B> unisexual; pedicel slender, 0.5-3
cm; sepals wide-spreading, not recurved, white to cream, obovate
to oblanceolate, 6-10 mm, abaxially and adaxially pilose; stamens
25-50; staminodes absent or fewer than stamens; pistils 25-65.
 <B>Achenes</B> elliptic, 3-3.5 &#215; ca. 1.5 mm, prominently
rimmed, silky; beak 3-3.5 cm.  2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering summer (Jun-Sep).  Forest
edges, woods, riparian deciduous woodlands, moist wooded draws,
scrub, secondary sites derived from these, or clearings and pastures,
usually near streams or on moist slopes; 0-2600 m; Alta., B.C.,
Man., Sask.; Ariz., Calif., Colo., Idaho, Mont., Nebr., Nev.,
N.Mex., N.Dak., Oreg., S.Dak., Utah, Wash., Wyo.; nw Mexico.
<P>
 <I>Clematis ligusticifolia</I> is the
common virgin's-bower in the western United States and Canada.
 In California it might hybridize with <I>C.&nbsp;lasiantha</I>.
 In Mexico it is found only in the extreme north; it is probably
related to the Mexican and Central American species, <I>C</I>.<I>grossa</I>
Bentham.
<P>
 The name <I>Clematis neomexicana</I>
has been applied to the populations with crenate leaflets in New
Mexico and northern Chihuahua.  This distinction is tenuous, however,
given the wide variation present in leaflet margins within this
and other species in <I>Clematis</I> subg. <I>Clematis</I>.
<P>
 Two varieties of <I>Clematis ligusticifolia</I>
have been weakly distinguished based on the presence or absence
of 2-pinnate leaves.  
<P>
 Infusions prepared from the plants
of <I>Clematis ligusticifolia</I> were used medicinally by Native
Americans as a wash for skin eruptions, a lotion for backaches
or swollen limbs, and a lotion to protect one against witches;
stems and leaves were chewed to treat colds and sore throats;
decoctions of leaves were also used as a wash and for stomachaches
and cramps; and lathers of leaves were used to treat boils on
humans and on animals (D.&nbsp;E. Moerman 1986).<BR>

<P>
<B>