7. <A NAME="27100902"></A><I><B>Clematis pauciflora</B></I><B>
Nuttall in J.&nbsp;Torrey and A.&nbsp;Gray</B></B>,
Fl. N. Amer. 1: 9.  1838 - Ropevine
<P>
<B>Stems</B>
scrambling to climbing, 2-3&nbsp;m.  <B>Leaf blade</B> 1-2-pinnate,
usually 5-foliolate, sometimes proximal and lateral leaflets also
3-foliolate; leaflets ovate to lanceolate, usually 3-lobed, 1-3.5
&#215; 0.7-3.2 cm, membranous to leathery, margins each usually
with 1-3 acute to rounded teeth, rarely entire; surfaces glabrous
or very sparsely silky.  <B>Inflorescences</B> axillary, 3(-12)-flowered
cymes or flowers solitary or paired.  <B>Flowers</B> unisexual;
pedicel slender, 1-3.5 cm; sepals wide-spreading, not recurved,
white to cream, obovate to oblanceolate, 7-12 mm, abaxially pilose
to silky, adaxially glabrous; stamens 30-50; staminodes absent
or fewer than stamens; filaments glabrous; pistils 20-50.  <B>Achenes</B>
broadly ovate to nearly orbiculate, 4-4.5 &#215; 2.5-3.5 mm, conspicuously
rimmed, glabrous; beak 2.5-4 cm.
<P>
 Flowering winter-fall (Jan-Oct; usually
Mar-Apr).  Dry chaparral, edges of meadows and cultivated fields;
0-2200 m; Calif.; Mexico (Baja California).
<P>
 <I>Clematis pauciflora</I> is a distinctive
species easily identified by the small, 3-lobed leaflets, glabrous
or almost glabrous leaves and stems, and large, suborbicular achenes.
 Intermediates between <I>C.&nbsp;pauciflora</I> and <I>C.&nbsp;lasiantha</I>
are present where the two species occur together.<BR>

<P>
<B>