16. <A NAME="27101871"></A><I><B>Clematis morefieldii</B></I><B>
Kral</B></B>, Ann. Missouri Bot.
Gard. 74: 665.  1987 - Morefield's clematis, Morefield's leather-flower
- C E F
<P>
<B>Stems</B>
viny, to 5 m, cobwebby-tomentose and pilose.  <B>Leaf blade</B>
1-pinnate; leaflets 4-10 plus additional tendril-like terminal
leaflet, narrowly to broadly ovate, unlobed or 2-3-lobed, 3.5-10
&#215; 2-6.5 cm, thin, reticulate; surfaces abaxially densely
silky-pilose, not glaucous.  <B>Inflorescences</B> axillary, 1-5-flowered;
bracts at or near base of peduncle/pedicel.  <B>Flowers</B> urn-shaped;
sepals pinkish, suffused with green, oblong-lanceolate, 2-2.5
cm, margins not expanded, thick, not crispate, tomentose, tips
acuminate, slightly spreading to short-reflexed, abaxially densely
silky-pubescent.  <B>Achenes:</B> bodies silky-pubescent; beak
3-3.5 cm, plumose.
<P>
 Flowering spring-early summer.  Open
woods among limestone boulders; of conservation concern; 200-300
m; Ala.
<P>
 <I>Clematis morefieldii</I> is known
only from limestone uplands east of Huntsville, Madison County,
Alabama.
<P>
 From all variants of the closely related
<I>Clematis viorna</I>, <I>C. morefieldii</I> differs in
the cobwebby tomentose as well as villous pubescence of its stems,
and in having bracts at or very near the base of the peduncle
rather than well above the base.<BR>

<P>
<B>