9. <A NAME="27100351"></A><I><B>Clematis virginiana</B></I><B>
Linnaeus</B></B>, Cent. Pl. I,
15.  1755 - Virgin's-bower, cl&eacute;matite de Virginie - E
<P>
<I>Clematis canadensis</I>
Miller; <I>C.&nbsp;holosericea</I> Pursh; <I>C.&nbsp;missouriensis</I>
Rydberg; <I>C.&nbsp;virginiana</I> var. <I>missouriensis</I> (Rydberg)
E.&nbsp;J. Palmer &amp; Steyermark
<P>
<B>Stems</B>
climbing, 2-7&nbsp;m.  <B>Leaf blade</B> 3-foliolate; leaflets
ovate to lanceolate, 3.5-9 &#215; 1.5-7.5 cm, margins coarsely
toothed to entire; surfaces abaxially sparsely to densely pilose,
adaxially glabrate.  <B>Inflorescences</B> axillary, 3-many-flowered
simple or compound cymes.  <B>Flowers</B> unisexual; pedicel slender,
1-2 cm; sepals wide-spreading, not recurved, white to cream, elliptic
or nearly oblong to oblanceolate, 6-14 mm, abaxially densely white-hairy,
adaxially sparsely white-hairy; stamens ca. 30-50+; filaments
glabrous; staminodes absent or fewer than stamens; pistils 40-70;
beak nearly equaling sepals.  <B>Achenes</B> ovate , 2.5-3.5 &#215;
l.5 mm, conspicously rimmed, sparsely short-hairy; beak 2.5-5
cm.  2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering summer (Jun-Sep).  Streamsides,
wet roadsides, fencerows, and other moist, disturbed, wooded or
open sites, locally abundant; 0-1500 m; Man., N.B., N.S., Ont.,
P.E.I.,  Que.; Ala., Ark., Conn., Del., Fla., Ga., Ill., Ind.,
Iowa, Kans., Ky., La., Maine, Md., Mass., Mich., Minn., Miss.,
Mo., Nebr., N.H., N.J., N.Y., N.C., N.Dak., Ohio, Okla., Pa.,
R.I., S.C., S.Dak., Tenn., Tex., Vt., Va., W.Va., Wis.
<P>
 <I>Clematis virginiana</I> is the most
frequent and widespread virgin's-bower in eastern North America.
 It is easily distinguished from <I>C.&nbsp;catesbyana</I> by
the presence of three ovate leaflets.  
<P>
 Native Americans used infusions prepared
from the roots of <I>Clematis virginiana</I> medicinally to treat
kidney ailments, and mixed them with milkweed to heal backaches
and venereal sores.  Decoctions of stems were ingested to induce
strange dreams.  In addition, the plant was used as an ingredient
in green corn medicine (D.&nbsp;E. Moerman 1986).<BR>

<P>
<B>