23. <A NAME="27100879"></A><I><B>Clematis bigelovii</B></I><B>
Torrey</B></B>, Pacif. Railr.
Rep. 4(5): 61.  1857 [&quot;1856&quot;] - Bigelow's clematis -
E
<P>
<B>Stems</B>
erect or sprawling, 0.1-0.6 m, short pubescent-pilose, sometimes
sparsely so.  <B>Leaf blade</B> 1-2(-3)-pinnate; primary leaflets
7-11, mostly deeply 2-several-lobed, leaflets and larger lobes
mostly ovate, 0.8-3.5 &#215; 0.5-1.5 cm (lateral lobes nearly
as wide as central portion), thin, not prominently reticulate;
surfaces glabrous, somewhat glaucous.  <B>Inflorescences</B> terminal,
1-flowered.  <B>Flowers</B> broadly urn- to bell-shaped; sepals
purple, lanceolate, 1.5-3 cm, margins narrowly expanded distally
to ca. 1 mm wide, thin, crispate, tomentose, tips acuminate,
spreading, abaxially sparsely pubescent.  <B>Achenes:</B> bodies
appressed-long-pubescent; beak 2-3 cm, glabrous or inconspicuously
appressed-pubescent, sparsely so toward tip.
<P>
 Flowering spring-fall.  Mountain slopes,
moist sites in canyons; 1700-2400 m; Ariz., N.Mex.
<P>
 <I>Clematis bigelovii</I> is locally
common and is restricted to New Mexico and a few sites in Arizona.
 Although usually grouped with <I>C. hirsutissima</I> because
of its scarcely viny habit, this species appears to represent
the extreme expression of clinal variation including <I>C. pitcheri</I>
var. <I>dictyota</I> and, at the other extreme, eastern populations
of <I>C. pitcheri</I> var. <I>pitcheri</I>; it might well
be treated as <I>C. pitcheri</I> var. <I>bigelovii</I> (Torrey)
B.L. Robinson.
<P>
 <I>Clematis palmeri</I> Rose is represented
by a small number of specimens from New Mexico and one from eastern
Arizona, and its distinctness as a species has been questioned.
 The few published descriptions scarcely suffice to indicate its
distinguishing features and are sometimes at variance with each
other and with specimens so identified by R.O. Erickson (1943)
or others.  Almost all specimens were found where <I>C. bigelovii</I>
was reported nearby.  Pending further studies, it seems likely
that <I>C. palmeri</I> comprises somewhat aberrant specimens
of <I>C. bigelovii</I>, <I>C. hirsutissima</I> var.
<I>scottii</I>, and/or <I>C. pitcheri</I> var. <I>dictyota</I>,
perhaps also some herbarium sheets of flowering and fruiting material
inadvertently collected from different species, and/or hybrids
involving the species named above in one or more combinations.
<BR>

<P>
<B>