31. <A NAME="27101874"></A><I><B>Clematis socialis</B></I><B>
Kral</B></B>, Rhodora 84: 287.
 1982 - Alabama leather-flower - C E F
<P>
<B>Stems</B>
erect, not viny, 0.2-0.3(-0.5) m, glabrous or slightly pubescent,
arising from horizontal, branching rhizomes and forming patches.
 <B>Leaves:</B> proximal simple, blades unlobed or 2-3-lobed,
distal blades 1-pinnate; leaflets and unlobed blades linear-elliptic
to narrowly lanceolate or oblanceolate, (3-)4-12(-15) &#215; (0.3-)0.5-1(-1.5)
cm, thin, not prominently reticulate; surfaces abaxially nearly
glabrous to sparsely villous on veins, not glaucous.  <B>Inflorescences</B>
terminal, flowers solitary; bracts absent.  <B>Flowers</B> narrowly
urn-shaped; sepals uniformly violet-blue, oblong-lanceolate, 2-2.5(-3)
cm, margins narrowly expanded distally to about 1 mm wide,
thin, crispate, proximally tomentose, tips spreading to recurved,
acute to acuminate, abaxially sparsely puberulent.  <B>Achenes:</B>
bodies appressed-puberulent; beak 1.5-2.5 cm, appressed-puberulent.
<P>
 Flowering spring-fall.  Openings in
wet bottomland woods; of conservation concern; 200 m; Ala.
<P>
 <I>Clematis socialis</I>, the only
species of <I>Clematis</I> subg. <I>Viorna</I> in the flora with
horizontal, patch-forming rhizomes, is known only from three small
populations in St. Clair and Cherokee counties south of Ashville,
in northeastern Alabama.<BR>

<P>
<B>