32a. <A NAME="27103279"></A><I><B>Clematis hirsutissima</B></I><B>
Pursh var. <I>hirsutissima</I> </B></B>-
Hairy clematis, sugar-bowls - E F
<P>
<I>Clematis hirsutissima</I>
var. <I>arizonica</I> (A.Heller) R.O. Erickson; <I>Viorna arizonica</I>
(A. Heller) A. Heller; <I>V</I>. <I>bakeri</I> (Greene) Rydberg;
<I>V</I>. <I>eriophora</I> Rydberg; <I>V</I>. <I>jonesii</I> (Kuntze)
Rydberg; <I>V</I>. <I>wyethii</I> (Nuttall) Rydberg  
<P>
<B>Stems</B>
generally simple, erect.  <B>Leaf blade:</B> primary leaflets
7-13 or not distinctly differentiated; leaflets and larger lobes
narrowly linear to narrowly lanceolate, 1-6 cm &#215; 0.5-6(-10)mm;
surfaces nearly glabrous to densely silky-hirsute.  2<I>n</I> = 16.
 
<P>
 Flowering spring-summer.  Moist mountain
meadows, prairies, and open woods and thickets; 700-3300 m; Ariz.,
Colo., Idaho, Mont., N.Mex., Oreg., Utah, Wash., Wyo.
<P>
 Plants from the vicinity of Flagstaff,
Coconino County, Arizona (and in post-1943 identifications, some
from New Mexico), with the lobes of the leaflets ca. 1 mm
wide, were recognized by R. O. Erickson (1943) as <I>C. hirsutissima</I>
var. <I>arizonica</I>, but these scarcely appear to constitute
a distinct taxon; some plants from Washington, Oregon, Colorado,
and elsewhere have leaflets quite as narrowly lobed, and other
plants in the Flagstaff area have more widely lobed leaflets.
 The widely spreading leaves allegedly characteristic of <I>C. hirsutissima</I>
var. <I>arizonica</I> likewise occur elsewhere in the range of
the species.  <I>Clematis hirsutissima</I> var. <I>hirsutissima</I>,
as circumscribed here, is highly variable in the density of leaf
pubescence throughout most of its range.<BR>

<P>
<B>