6d. <A NAME="27103269"></A><I><B>Clematis</B></I><B> Linnaeus
subg. <I>Viorna</I> A. Gray in A. Gray et al</B></B>.,
Syn. Fl. N. Amer. 1(1): 5.  1895
<P>
<I>Viorna</I>
Spach 1839, not <I>Viorna</I> (Persoon) Reichenbach 1837 
<P>
<B>Woody vines or erect, &#177; herbaceous
perennials</B>, clumped (or patch-forming
from rhizomes in <I>C. socialis</I>).  <B>Leaves</B> simple.
 <B>Leaf blade</B> 1- or 2-pinnate, ternate, or finely dissected;
ultimate divisions lobed or unlobed, margins entire or few-toothed.
 <B>Inflorescences</B> terminal and/or axillary, on current year's
stems; 3-7-flowered bracteate cymes or flowers solitary or paired,
peduncles bracteate [or several-many-flowered panicles].  <B>Flowers</B>
bisexual, usually nodding (&#177; erect in some spp., esp. <I>C. morefieldii</I>);
sepals ascending, connivent at least proximally and usually much
of length, variously colored, lanceolate or oblong to broadly
ovate, thick, usually leathery, abaxially glabrous to silky, hirsute,
or tomentose; filaments slender, usually pubescent (except <I>C. pitcheri</I>
var. <I>dictyota</I>), connectives often &#177; prolonged (especially
in <I>C. pitcheri</I>); staminodes absent.  <B>Achenes</B>
flattened; beak variable in length, plumose to nearly glabrous.
<P>
 Species ca. 25 (18 in the flora): temperate,
mostly North America, a few in Eurasia.
<P>
 <I>Clematis integrifolia</I> Linnaeus,
with relatively wide-spreading, blue sepals, is locally naturalized
in Ontario.
<P>
<B>SELECTED REFERENCES   </B>
<P>
Dennis, W. M.  1976.  A Biosystematic
Study of <I>Clematis</I> Section <I>Viorna</I> Subsection <I>Viornae</I>.
 Ph.D. dissertation.  University of Tennessee.  Erickson, R. O.
1943.  Taxonomy of <I>Clematis</I> section <I>Viorna</I>.  Ann.
Missouri Bot. Gard. 30: 1-62, plate 1.   Fernald, M. L. 
1943.  Morphological differentiation of <I>Clematis ochroleuca</I>
and its allies.  Rhodora 45: 401-412, figs. 776-782.   Keener,
C. S.  1967.  A biosystematic study of <I>Clematis</I> subsection
<I>Integrifoliae</I> (Ranunculaceae).  J. Elisha Mitchell
Sci. Soc. 83: 1-41.<BR>

<P>
<B>