5. <A NAME="27100905"></A><I><B>Clematis recta</B></I><B>
Linnaeus</B></B>, Sp. Pl. 1:
544.  1753
<P>
<B>Stems</B>
herbaceous, ascending to erect, not climbing, 0.6-1.5&nbsp;m.
 <B>Leaf blade</B> pinnately 5-9-foliolate; leaflets lanceolate
to ovate, 3-9 &#215; 0.8-4  cm, margins entire; surfaces glabrous.
 <B>Inflorescences</B> axillary and terminal, many-flowered cymes
and panicles.  <B>Flowers</B> bisexual; pedicel 8-20 mm, slender;
sepals wide-spreading, not recurved, white, oblanceolate to oblong,
8-20 mm, length ca. 4 times width, margins tomentose, otherwise
glabrous; stamens 20-50; filaments glabrous; staminodes absent;
pistils 8-25.  <B>Achenes</B> broad, flat, conspicuously rimmed,
glabrous; beak 1.2-2  cm.  
<P>
 Flowering summer (Jun-Jul).  Old fields
and thickets; 0-100 m; introduced; Ont.; N.Y.; native of Eurasia.
<P>
 <I>Clematis recta</I> should probably
be expected elsewhere.<BR>

<P>
<B>