27. <A NAME="27100877"></A><I><B>Clematis albicoma</B></I><B>
Wherry</B></B>, J. Wash.
Acad. Sci. 21: 198.  1931 - Erect mountain clematis, white-haired
leather-flower - E
<P>
<B>Stems</B>
erect, not viny, 2-4(-6) dm, pubescent or pilose to &#177; tomentose
or hirsute.  <B>Leaves</B> simple.  <B>Leaf blade</B> elliptic-lanceolate
to ovate, unlobed, 3.5-8(-10) &#215; 1.5-5(-6.5) cm, thin, not
conspicuously reticulate; surfaces abaxially glabrous to sparsely
(rarely more densely) villous on veins, not glaucous.  <B>Inflorescences</B>
terminal, flowers solitary; bracts absent.  <B>Flowers</B> narrowly
urn-shaped; sepals purplish, yellowish toward tips, oblong-lanceolate,
(1.1-)1.4-3 cm, margins not expanded or less than 1 mm wide,
thin, not crispate, tomentose, tips obtuse, spreading to recurved,
abaxially silky- to woolly-pubescent.  <B>Achenes:</B> bodies
pilose; beak white to pale yellow, (1.5-)2-4(-4.5) cm, plumose.
 2<I>n</I> = 16.  
<P>
 Flowering spring-early summer.  Shale
barrens; 300-800 m; Va., W.Va.
<P>
 <I>Clematis albicoma</I> is known only
from shale barrens predominantly developed from the Upper Devonian
Brallier Formation in nine counties of western Virginia and adjacent
West Virginia.<BR>

<P>
<B>