21. <A NAME="27100906"></A><I><B>Clematis reticulata</B></I><B>
Walter</B></B>, Fl. Carol., 156.
 1788 - E F
<P>
<I>Viorna reticulata</I>
(Walter) Small; <I>V</I>.<I>subreticulata</I> Harbison ex Small
<P>
<B>Stems</B>
viny, to 4 m, glabrous or sparsely pilose-pubescent, sometimes
more densely pubescent near nodes.  <B>Leaf blade</B> 1-pinnate;
leaflets 6-8 plus additional tendril-like terminal leaflet, elliptic
to ovate, unlobed, 1-3-lobed, or proximal 3-foliolate, 1-9 &#215;
0.5-5(-7.5) cm, leathery, prominently and finely reticulate abaxially
and adaxially; surfaces abaxially silky-pubescent, not glaucous.
 <B>Inflorescences</B> axillary, 1-3-flowered; bracts about 1/3
distance from base of peduncle.  <B>Flowers</B> urn-shaped; sepals
pale lavender to purple, greenish toward tip, ovate-lanceolate,
1.2-3 cm, margins not expanded, &#177; thick, not crispate, densely
tomentose, tips acute, recurved, abaxially usually &#177; densely
yellowish pubescent, occasionally nearly glabrous.  <B>Achenes:</B>
bodies appressed-pubescent; beak 4-6 cm, plumose.  2<I>n</I> = 16.
 
<P>
 Flowering spring-summer (May-Jun).
 Dry woods and thickets in sandy soils; 0-150 m; Ala., Ark., Fla.,
Ga., La., Miss., Okla., S.C., Tex.
<P>
 In immature fruit, especially, the
vestiture of the beaks of <I>Clematis reticulata</I> might not
consistently suffice to distinguish it from <I>C. pitcheri</I>,
which has appressed-pubescent beaks.  <I>Clematis reticulata</I>
is distinguished from <I>C</I>. <I>pitcheri</I> by the very fine
reticulation of the leaves, with the smallest areoles completely
enclosed by veinlets generally less than 1 mm long and even the
quaternary veins prominently raised on the adaxial surface.  
<BR>

<P>
<B>