8. <A NAME="27100894"></A><I><B>Clematis lasiantha</B></I><B>
Nuttall in J.&nbsp;Torrey and A.&nbsp;Gray</B></B>,
Fl. N. Amer. 1: 9.  1838 - Pipestem
<P>
<B>Stems</B>
scrambling to climbing, 3-4&nbsp;m.  <B>Leaf blade</B> 3-foliolate;
leaflets ovate, largest leaflets usually 3-lobed, 1.5-6 &#215;
1.5-5 cm; terminal leaflet occasionally 3-cleft, margins usually
toothed; surfaces glabrous or sparsely silky.  <B>Inflorescences</B>
axillary, flowers solitary, rarely 3-flowered cymes.  <B>Flowers</B>
unisexual; pedicel (including peduncle) stout, 3.5-11 cm; sepals
wide-spreading, not recurved, white to cream, ovate or elliptic
to obovate or oblanceolate, 10-21 mm, abaxially and adaxially
pilose; stamens 50-100; filaments glabrous; staminodes absent
or 50-100; pistils 75-100.  <B>Achenes</B> asymmetric-ovate, not
broadly orbiculate, 3-4 &#215; 1.5-2 mm, not conspicuously rimmed,
glabrous; beak 3.5-5.5 cm.  2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering winter-spring (Jan-Jun).
 Chaparral, open woodlands; 0-2000 m; Calif.; Mexico (Baja California).
<P>
 <I>Clematis lasiantha</I> is common
in the Coast Ranges and the foothills of the Sierra Nevada of
California.
<P>
 The Shasta used pounded stems or chewed
or burned roots of <I>Clematis lasiantha</I> medicinally in the
treatment of colds (D.&nbsp;E. Moerman 1986).<BR>

<P>
<B>