28. <A NAME="27100911"></A><I><B>Clematis viticaulis</B></I><B>
Steele</B></B>, Contr. U.S. Natl.
Herb. 13: 364.  1911 - Millboro leather-flower, grape clematis,
grape leather-flower - C E
<P>
<B>Stems</B>
erect, 2-5 dm, finely and densely hirtellous.  <B>Leaves</B> simple.
 <B>Leaf blade</B> elliptic-lanceolate to narrowly ovate, unlobed,
(2-)4-8 &#215; 1.5-3.5(-4.5) cm, thin, not conspicuously reticulate;
surfaces abaxially sparsely (rarely more densely) villous on veins,
not glaucous.  <B>Inflorescences</B> terminal, flowers solitary;
bracts absent.  <B>Flowers</B> urn-shaped; sepals pale purple,
often suffused with green abaxially, lanceolate, 1.4-2.5 cm, margins
not expanded, thin, not crispate, puberulent, tips obtuse to acute,
spreading to recurved, abaxially nearly glabrous to minutely puberulent.
 <B>Achenes:</B> bodies short-pilose; beak coppery brown, 2-3.5(-4)
cm, plumose.  2<I>n</I> = 16.  
<P>
 Flowering spring-early summer.  Shale
barrens; of conservation concern; 400-500 m; Va.
<P>
 <I>Clematis viticaulis</I> is known
only from shale barrens developed from the Upper Devonian Brallier
Formation in Bath and Rockbridge counties of western Virginia.
<P>
 The coppery brown hairs on the mature
beaks are useful for distinguishing this species (C. S. Keener
1967).<BR>

<P>
<B>