18. <A NAME="27100889"></A><I><B>Clematis glaucophylla</B></I><B>
Small</B></B>, Bull. Torrey Bot.
Club 24: 337.  1897 - Glaucous clematis - E
<P>
<I>Viorna glaucophylla</I>
(Small) Small
<P>
<B>Stems</B>
viny, to 5 m, glabrous.  <B>Leaf blade</B> 1-pinnate; leaflets
4-10 plus additional tendril-like terminal leaflet, proximal leaflets
usually 3-lobed or 3-foliolate, distal leaflets usually unlobed,
ovate, 3-10 &#215; 2-7.5 cm, &#177; thin, not prominently reticulate
adaxially; surfaces abaxially glabrous and glaucous.  <B>Inflorescences</B>
axillary, 1-3-flowered; bracts about 1/3 distance from base of
peduncle.  <B>Flowers</B> ovoid; sepals deep rose-red to purplish
red, ovate-lanceolate, 2-2.5 cm, margins not expanded, thick,
not crispate, tomentose, tips long-acuminate, &#177; recurved,
abaxially glabrous.  <B>Achenes:</B> bodies appressed-pubescent;
beak 5-6 cm, plumose.  2<I>n</I> = 16.   
<P>
 Flowering spring-summer.  Stream banks
in rich, neutral to slightly acid soils; 0-100 m; Ala., Fla.,
Ga., Miss., Okla.
<P>
 Reports of <I>Clematis glaucophylla</I>
from other southeastern states have been based on misidentified
specimens (W. M. Dennis 1976).  Recent reports of the species
in Arkansas, Kentucky, Louisiana, and Virginia have not been confirmed.
<BR>

<P>
<B>