4. <A NAME="27100078"></A><I><B>Clematis vitalba</B></I><B>
Linnaeus</B></B>, Sp. Pl. 1:
544.  1753 - Traveler's joy, old man's beard
<P>
<B>Stems</B>
climbing with tendril-like petioles and leaf-rachises, to 12&nbsp;m.
 <B>Leaf blade</B> pinnately 5-foliolate; leaflets cordiform,
8 &#215; (2-)3-5(-6)  cm, margins entire to regularly crenate
or dentate; surfaces abaxially minutely pubescent on veins, adaxially
glabrous.  <B>Inflorescences</B> axillary and terminal, (3-)5-22-flowered
cymes.  <B>Flowers</B> bisexual; pedicel 1-1.5  cm, slender; sepals
wide-spreading, not recurved, white to cream, elliptic or oblanceolate
to obovate, ca. 1  cm, length ca. 2 times width, abaxially and
adaxially tomentose; stamens ca. 50; filaments glabrous; staminodes
absent; pistils 20 or more.  <B>Achenes</B> nearly terete, not
conspicuously rimmed, densely pubescent; beak ca. 3.5  cm.
<P>
 Flowering summer (Jun-Aug).  Roadsides,
waste ground, secondary growth; 0-100 m; introduced; B.C., Ont.;
Maine, Oreg., Wash.; native to Europe, n Africa.
<P>
 <I>Clematis vitalba</I> is naturalized
in only a few sites in eastern North America and northwestern
Oregon to the Puget Sound.<BR>

<P>
<B>