6a. <A NAME="27103256"></A><I><B>Clematis</B></I><B> Linnaeus
subg. <I>Clematis</I> </B></B>
<P>
<B>Woody vines</B>
(erect, herbaceous perennials in <I>C.&nbsp;recta</I>).  <B>Leaf
blade</B> 1-2-pinnate; leaflets lobed or unlobed, margins entire
or toothed.  <B>Inflorescences</B> terminal and/or axillary on
current year's stems, cymes or panicles or flowers solitary or
paired, bracteate.  <B>Flowers</B> bisexual, or unisexual with
staminate and pistillate on different plants, not nodding, or
&#177; nodding in yellow-flowered species; perianth rotate; sepals
spreading, not connivent, linear, oblong, elliptic, lanceolate,
ovate, oblanceolate, or obovate, thin and white or somewhat thickened
and yellow; filaments filiform, slender, glabrous or pubescent;
staminodes absent from staminate flowers, usually present in pistillate
flowers; pistils rudimentary or absent in staminate flowers. 
<B>Achenes</B> flattened or nearly terete; beak more than 1.5
 cm, plumose.
<P>
 Species 50-100 (11 in the flora): worldwide.
<P>
 The Asian (Korean) species <I>Clematis
serratifolia</I> Rehder, with light yellow sepals and purple stamens,
may also escape from cultivation and spread locally.
<P>
<B>SELECTED REFERENCES   </B>
<P>
Essig, F.&nbsp;B.  1990.  The <I>Clematis
virginiana</I> (Ranunculaceae) complex in the southeastern United
States.  Sida 14: 49-68.   Grey-Wilson,&nbsp;C.  1989.  <I>Clematis
orientalis</I> (Ranunculaceae) and its allies.  Kew Bull. 44:
33-60.   Hara,&nbsp;H.  1975.  The identity of <I>Clematis terniflora</I>
DC.  J.&nbsp;Jap. Bot. 50: 155-158.<BR>

<P>
<B>