15. <A NAME="27100910"></A><I><B>Clematis viorna</B></I><B>
Linnaeus</B></B>, Sp. Pl. 1:
543.  1753 - Leather-flower - E F
<P>
<I>Clematis beadlei</I>
(Small) R. O. Erickson; <I>C. viorna</I> var. <I>flaccida</I>
(Small ex Rydberg) R. O. Erickson; <I>Viorna beadlei</I> Small;
<I>V. flaccida</I> (Small ex Rydberg) Small; <I>V. gattingeri</I>
Small; <I>V. viorna</I> (Linnaeus) Small
<P>
<B>Stems</B>
viny, to 4 m, without cobwebby pubescence, nearly glabrous,
or moderately pilose-pubescent proximal to nodes.  <B>Leaf blade</B>
mostly 1-pinnate, some simple; leaflets usually 4-8 plus additional
tendril-like terminal leaflet, lanceolate to ovate, unlobed or
2-3-lobed, or most proximal 3-foliolate, 2-12 &#215; 1-5(-6) cm,
thin, not conspicuously reticulate; surfaces abaxially sparsely
to densely pilose, not glaucous.  <B>Inflorescences</B> axillary,
1-7-flowered; bracts well above base of peduncle/pedicel.  <B>Flowers</B>
broadly urn-shaped to bell-shaped; sepals pale lavender to reddish
purple, grading to cream-yellow toward tip, ovate-lanceolate,
1.5-3 cm, margins not expanded, very thick, not crispate, tomentose,
tips acuminate, recurved, abaxially sparsely to densely pubescent.
 <B>Achenes:</B> bodies silky-pubescent; beak 2.5-6 cm, plumose.
 2<I>n</I> = 16.  
<P>
 Flowering spring-summer.  Wooded cliffs
and stream banks; 0-1400 m; Ala., Ark., Del., D.C., Ga., Ill.,
Ind., Ky., Md., Miss., Mo., N.C., Ohio, Pa., S.C., Tenn., Va.,
W.Va.
<P>
 Formerly <I>Clematis viorna</I> was
locally naturalized near Guelph, Ontario; no recent reports are
known.  D.S. Correll and M.C. Johnston (1970) mention &quot;a
report of a specimen&quot; from Texas; neither the specimen nor
further details have been located.
<P>
 The Fox Indians prepared a drink from
the roots of <I>Clematis viorna</I> to use medicinally as a panacea
(D. E. Moerman 1986).<BR>

<P>
<B>