

<P>
<B>6. CLEMATIS Linnaeus</B>,
Sp. Pl. 1: 543.  1753; Gen. Pl. ed. 5, 242.  1754 - Clematis,
cl&eacute;matite [Greek <I>clema</I>, plant shoot, ancient name
of a vine]<BR>

<P>
<B>Vines</B>,
&#177; woody, sometimes only at base, climbing by means of tendril-like
petioles and leaf rachises, or erect, herbaceous perennials, from
elongate rhizomes.  <B>Leaves</B> cauline, opposite, simple or
compound, sessile or petiolate.  <B>Leaf blade</B> undivided or
1-3-pinnately or -ternately compound; leaf or leaflets cordate
to orbiculate, oblong, lanceolate, or oblanceolate, lobed or unlobed,
margins entire or toothed.  <B>Inflorescences</B> axillary and/or
terminal, 1-many-flowered cymes or panicles or flowers solitary
or in fascicles, to 15  cm; bracts present and leaflike or &#177;
 scalelike or absent, not forming involucre.  <B>Flowers</B> bisexual
or unisexual, radially symmetric; sepals not persistent in fruit,
4, white, blue, violet, red, yellow, or greenish, plane, ovate
to obovate or linear, 6-60 mm; petals absent; sometimes anther-bearing
staminodes between sepals and stamens; stamens many; filaments
filiform to flattened; pistils 5-150, simple; ovule 1 per pistil;
beak present.  <B>Fruits</B> achenes, aggregate, sessile, lenticular,
nearly terete, or flattened-ellipsoid, sides not prominently veined;
beak terminal, straight or curved, 12-110 mm.  <I>X&nbsp;=&nbsp;</I>8.
<P>
 Species ca. 300 (32 in the flora):
worldwide, mostly temperate, a few subarctic, subalpine, or tropical.
<P>
 <I>Clematis</I> is highly diverse in
vegetative and floral aspects and has been divided into three
or more genera by some authors, the groups segregated in some
literature being <I>Clematis</I> subg. <I>Atragene</I> as the
genus <I>Atragene</I> and <I>Clematis</I> subg. <I>Viticella</I>
as the genus <I>Viticella</I>.  Species in <I>Clematis</I> subg.
<I>Viorna</I> have been crossed with highly dissimilar species
in <I>Clematis</I> subg. <I>Clematis</I> and <I>Clematis</I> subg.
<I>Viticella</I>, and species in <I>Clematis</I> subg. <I>Clematis</I>
have been crossed with species in <I>Clematis</I> subg. <I>Viticella</I>.
 Chromosome morphology is strikingly similar in all subgenera.
<P>
 The circumscription of subgenera in
this work follows C.&nbsp;S. Keener and W.&nbsp;M. Dennis (1982).
 Major realignments have been proposed by F.&nbsp;B. Essig (1992)
on the basis of seedling morphology, including the transfer of
<I>Clematis recta</I> and <I>C.&nbsp;terniflora </I>to <I>Clematis</I>
subg. <I>Viorna</I>. 
<P>
 Many species are valued as ornamentals;
some have escaped from cultivation and have become established
in the flora.
<P>
<B>SELECTED REFERENCES   </B>
<P>
Essig, F.&nbsp;B.  1992.  Seedling morphology
in <I>Clematis</I> (Ranunculaceae) and its taxonomic implications.
 Sida 15: 377-390.    James, J.&nbsp;F.  1883.  Revision of the
genus <I>Clematis</I> of the United States.  J.&nbsp;Cincinnati
Soc. Nat. Hist. 6: 118-135.   Keener, C.&nbsp;S.  1975.  Studies
in the Ranunculaceae of the southeastern United States.  III.
 <I>Clematis</I> L.  Sida 6: 33-47.   Keener, C.&nbsp;S. and W.&nbsp;M.
Dennis.  1982.  The subgeneric classification of <I>Clematis</I>
(Ranunculaceae) in temperate North America north of Mexico.  Taxon
31: 37-44.   Kuntze,&nbsp;O.  1885.  Monographie der Gattung <I>Clematis</I>.
 Verh. Bot. Vereins Prov. Brandenburg 26: 6-202.   Torrey,&nbsp;J.
and A.&nbsp;Gray.  1838-1843.  A Flora of North America.  2 vols.
in 7 parts.  New York, London, and Paris.  Vol. 1, pp. 7-11.<BR>

