17. <A NAME="27100909"></A><I><B>Clematis versicolor</B></I><B>
Small ex Rydberg in N. L. Britton</B></B>,
Man. Fl. N. States, 421.  1901 - Pale clematis - E
<P>
<I>Viorna versicolor</I>
(Small ex Rydberg) Small
<P>
<B>Stems</B>
viny, to 5 m, glabrous or sparsely pubescent.  <B>Leaf blade</B>
1-pinnate; leaflets 8-10 plus additional tendril-like terminal
leaflet, elliptic to ovate, usually unlobed, occasionally 2-3-lobed,
2-8 &#215; 1.5-6.5 cm, leathery, abaxially and adaxially prominently
reticulate; surfaces abaxially glabrous and glaucous.  <B>Inflorescences</B>
axillary, 1-7-flowered.  <B>Flowers</B> broadly urn-shaped; sepals
abaxially pale lavender to reddish purple, grading to pale green
toward tip, narrowly ovate, 1.5-3 cm, margins not expanded, thick,
not crispate, tomentose, tips acute, slightly spreading, glabrous.
 <B>Achenes:</B> bodies appressed-pubescent; beak (3-)5-6 cm,
plumose.  2<I>n</I> = 16.  
<P>
 Flowering spring-summer (Jun-Aug).
 Calcareous outcrops, sandy soils, dry woods and thickets, barrens,
and roadsides; 30-100 m; Ala., Ark., Ky., Mo., Okla., Tenn., Tex.
<BR>

<P>
<B>