22. <A NAME="27100903"></A><I><B>Clematis pitcheri</B></I><B>
Torrey &amp; A. Gray</B></B>,
Fl. N. Amer. 1: 10.  1838 - Bellflower clematis, Pitcher's clematis
<P>
<I>Viorna pitcheri</I>
(Torrey &amp; A. Gray) Britton
<P>
<B>Stems</B>
viny, to 4 m, very sparsely short-pilose, sometimes nearly glabrous.
 <B>Leaf blade</B> mostly 1-2 pinnate, many leaves simple; primary
leaflets 2-8 plus additional tendril-like terminal leaflet, deeply
2-5-lobed or unlobed or 3-foliolate, leaflets or major lobes lanceolate
to broadly ovate, 1-11 &#215; 1-6 cm, leathery (thin in var. <I>pitcheri</I>),
&#177; prominently reticulate adaxially; surfaces abaxially nearly
glabrous to densely pubescent, not glaucous.  <B>Inflorescences</B>
axillary, 1-7-flowered.  <B>Flowers</B> ovoid to urn-shaped; sepals
pale to dark bluish or reddish purple, sometimes whitish toward
tip, ovate-lanceolate, 1.2-3(-4) cm (larger sepals mostly in w
part of range), margins narrowly expanded distally to about 1 mm
wide, thin, crispate toward tip, tomentose, tips acuminate, recurved,
abaxially sparsely to densely appressed-puberulent.  <B>Achenes:</B>
bodies appressed-pubescent; beak 1-3 cm, nearly glabrous to &#177;
appressed-pubescent or silky.
<P>
 Varieties 2 (2 in the flora): North
America, Mexico.
<P>
 <I>Clematis pitcheri</I> is highly
variable, notably in the size and thickness of the leaflets, the
external sepal color and internal color of the recurved tips,
and the amount of pubescence of the beaks.  Additional varieties
might be recognized, as some authors have done in the past, but
the extent of intergradation and the lack of correlation among
varying traits tend to make recognition of additional varieties
impractical (W. M. Dennis 1976).  The two varieties recognized
here show very extensive intergradation in the western part of
the range of the species.
<P>
 Although otherwise similar to <I>Clemitis
reticulata</I>, <I>C. pitcheri</I> differs distinctly in
its more coarsely reticulate leaves, with the smallest closed
areoles mostly over 2 mm long, and its scarcely raised tertiary
and quaternary veins.<BR>
<BR>

<P>
<B>