14b. <A NAME="27100899"></A><I><B>Clematis occidentalis</B></I><B>
(Hornemann) de Candolle var. <I>grosseserrata</I> (Rydberg) J. S.
Pringle</B></B>, Brittonia 23:
370.  1971 - E
<P>
<I>Atragene grosseserrata</I>
Rydberg, Bull. Torrey Bot. Club 29: 156.  1902;  <I>Clematis occidentalis</I>
subsp. <I>grosseserrata</I> (Rydberg) R. L. Taylor &amp;
McBryde
<P>
<B>Stems</B>
&#177; viny, climbing or trailing, 0.25-2.5 m.  <B>Leaves:</B>
leaflets unlobed or occasionally 1-3-lobed, 2-11 cm, margins entire
or less often shallowly crenate-serrate.  <B>Flowers:</B> sepals
often eventually wide-spreading, violet-blue to pale blue or rarely
white, lance-ovate, 3-6 cm, margins often &#177; fluted, tips
acuminate.  2<I>n</I> = 16.  
<P>
 Flowering spring-early summer.  Often
deep, fine soils in shady forest, also cliffs and other rocky
sites in open woods and thickets; 400-2800 m; Alta., B.C., Sask.,
Yukon; Colo., Idaho, Mont., Oreg., Utah, Wash., Wyo.
<P>
 The names <I>Clematis columbiana</I>
(Nuttall) Torrey &amp; A. Gray and <I>C. verticillaris</I>
var. <I>columbiana</I> (Nuttall) A. Gray have long and frequently
been misapplied to this taxon.  This erroneous usage continues
in some horticultural references.<BR>

<P>
<B>