11. <A NAME="27100880"></A><I><B>Clematis catesbyana</B></I><B>
Pursh</B></B>, Fl. Amer. Sept.
2: 736.  1814 - Virgin's-bower - E
<P>
<I>Clematis cordata</I>
Pursh; <I>C.&nbsp;micrantha</I> Small
<P>
<B>Stems</B>
climbing, 3-6&nbsp;m.  <B>Leaf blade</B> pinnate or 2-ternate,
5-9-foliolate, membranous; leaflets ovate to lanceolate, largest
4-9 &#215; 2.5-9 cm, surfaces abaxially sparsely to densely pilose,
adaxially glabrate; proximal and lateral leaflets typically 3-cleft,
unlobed or few-lobed, margins coarsely toothed or entire, surfaces
sparsely pubescent or nearly glabrous; ultimate venation conspicuous.
 <B>Inflorescences</B> axillary, 3-many-flowered simple to compound
panicles with central axis.  <B>Flowers</B> unisexual; pedicel
slender, 11-13 mm, to 2 cm in fruit; sepals wide-spreading, not
recurved, white to cream, oblong or obovate to oblanceolate, 6-14
&#215; 2-5 mm, abaxially densely white-hairy, adaxially sparsely
white-hairy; stamens ca. 30-50; staminodes absent or fewer than
stamens; pistils 18-35.  <B>Achenes</B> ovate, ca. 3.5 &#215;
1.5 mm, conspicuously rimmed, sparsely short hairy; beak 2.5-3.5
cm.
<P>
 Flowering spring-summer (May-Jul).
 Disturbed or open, well-drained sites, frequently on limestone
outcrops, coastal sands; 0-1200 m; Ala., Ark., Fla., Ga., Kans.,
Ky., La., Miss., Mo., N.C., Okla., S.C., Tenn., Va., W.Va.<BR>
<BR>

