2a. <A NAME="27103253"></A><I><B>Clematis tangutica</B></I><B>
(Maximowicz) Korshinsky var. <I>tangutica</I> </B></B>-
F
<P>
<B>Stems</B>
climbing, 2-4&nbsp;m.  <B>Leaf blade</B> pinnately 5-7-foliolate,
proximal leaflets rarely 3-foliolate; leaflets lanceolate to oblong
or elliptic, unlobed or lobed proximally, 1.8-5.7 &#215; 0.4-1.6
 cm, margins serrate; surfaces usually abaxially pubescent, not
glaucous.  <B>Inflorescences</B> terminal and axillary, 1(-3)-flowered.
 <B>Flowers</B> bisexual; pedicel 0.6-3  cm; sepals ascending,
scarcely spreading except near tip (forming narrowly bell-shaped
perianth), bright yellow, lanceolate to elliptic, 1.8-3.4  cm,
length ca. 2.5 times width, margins silky-pubescent, abaxially
silky-pubescent, adaxially glabrous; stamens 20-50; filaments
pilose proximally; staminodes absent; pistils 80-150.  <B>Achenes</B>
turgid, not conspicuously rimmed, pilose; beak 2-4.5  cm.  2<I>n</I>&nbsp;=&nbsp;16.
 
<P>
 Flowering summer-early fall.  Roadsides,
thickets, other &#177; open, disturbed sites; 700-1000 m; introduced;
Alta., B.C., Man., Sask., Yukon; native to Asia (China, India).
<P>
 <I>Clematis tangutica</I> var. <I>tangutica</I>,
the most commonly cultivated yellow-flowered species of <I>Clematis</I>,
should probably be expected elsewhere.  It is closely related
to, and sometimes treated as a variety of, <I>C.&nbsp;orientalis</I>.
<BR>

<P>
<B>