6c. <A NAME="27103257"></A><I><B>Clematis</B></I><B> Linnaeus
subg. <I>Atragene</I> (Linnaeus) Torrey &amp; A. Gray</B></B>,
Fl. N. Amer. 1: 10.  1838
<P>
<I>Atragene</I>
Linnaeus, Sp. Pl. 1: 542.  1753; Gen. Pl. ed.5, 241.  1754 
<P>
<B>Woody vines or rhizomatous herbs</B>
with short, tufted stems.  <B>Leaf blade</B> 1-3-ternate, lobed
or unlobed, margins entire or coarsely serrate.  <B>Inflorescences</B>
terminal on short shoots or rarely terminal on long shoots, 1[-2]-flowered
with bractless peduncles subtended by 1 or 2 pairs of leaves.
 <B>Flowers</B> bisexual, &#177; nodding; perianth widely bell-shaped
to rotate; sepals ascending or tardily spreading, not connivent,
usually violet-blue, sometimes reddish violet, or white, ovate
to oblong, thin, margins densely pubescent, abaxially sparsely
pubescent; staminodes present between stamens and sepals, flattened,
petaloid, bearing reduced, sterile anthers; filaments flattened,
pubescent at least on margins.  <B>Achenes</B> flattened; beak
over 2 cm, plumose.
<P>
 Species ca. 5 (2 in the flora): temperate
to subarctic and subalpine North America and Eurasia.
<P>
 F. B. Essig (1992) suggested that
<I>Clematis</I> subg. <I>Atragene</I> might be included in <I>Clematis</I>
subg. <I>Clematis</I>.  Because of its distinctive inflorescence
and floral morphology, however, and because it has not been successfully
crossed with species in any other subgenus, its subgeneric status
is retained here.
<P>
 The two North American species have
been known to hybridize in Montana.  
<P>
<B>SELECTED REFERENCE   </B>
<P>
Pringle, J. S.  1971.  Taxonomy
and distribution of <I>Clematis</I>, sect. <I>Atragene</I> (Ranunculaceae),
in North America.  Brittonia 23: 361-393. <BR>
<BR>

<P>
<B>