20. <A NAME="27100908"></A><I><B>Clematis texensis</B></I><B>
Buckley</B></B>, Proc. Acad.
Nat. Sci. Philadelphia 13: 448.  1862 - Scarlet clematis, crimson
clematis - E
<P>
<I>Viorna coccinea</I>
(A. Gray) Small
<P>
<B>Stems</B>
viny, to 3 m, glabrous or sometimes &#177; hirsute near nodes.
 <B>Leaf blade</B> 1-pinnate; leaflets 6-10 plus additional tendril-like
terminal leaflet, ovate to nearly round, unlobed, 2-3-lobed, or
most proximal occasionally 3-foliolate, 1-9 &#215; 1-6 cm, leathery,
&#177; prominently reticulate adaxially; surfaces abaxially usually
glabrous, occasionally sparsely pubescent, glaucous.  <B>Inflorescences</B>
axillary, 1-7-flowered.  <B>Flowers</B> ovoid to urn-shaped; sepals
rose-red to scarlet abaxially and at tip adaxially, ovate-lanceolate,
1.5-3 cm, margins not expanded, thick, not crispate, tomentose,
tips acute to acuminate, recurved, abaxially glabrous.  <B>Achenes:</B>
bodies appressed-pubescent; beak 4-7 cm, plumose.  2<I>n</I> = 16.
 
<P>
 Flowering spring-summer (Mar-Jun).
 Woodlands, calcareous cliffs, and stream banks; 80-700 m; Tex.
<P>
 Although widely cultivated because
it is the only species of <I>Clematis</I> with truly red flowers,
<I>C</I>.<I>texensis</I> is native only to the southeastern part
of the Edwards Plateau, Texas.<BR>

<P>
<B>