1. <A NAME="27100341"></A><I><B>Clematis orientalis</B></I> Linnaeus, 
Sp. Pl. 1: 543.  1753 
- F
<P>
<I>Viticella orientalis</I>
(Linnaeus) W.A. Weber
<P>
<B>Stems</B>
climbing, 2-8 m.  <B>Leaf blade</B> pinnately 5-7-foliolate, proximal
leaflets sometimes 3-foliolate; leaflets lanceolate to elliptic
or ovate, usually 2-3-lobed proximally, 1-5.5 &#215; 0.5-3.5 
cm, margins entire or coarsely few-toothed; surfaces at least
abaxially pubescent, glaucous.  <B>Inflorescences</B> axillary,
sometimes terminal, 3-many-flowered cymes or flowers solitary.
 <B>Flowers</B> bisexual; pedicel (0.5-)1-11  cm; sepals wide-spreading
and recurved, greenish yellow, ovate-lanceolate to elliptic, 0.8-2
 cm, length ca. 2.5 times width, margins densely pubescent, abaxially
and adaxially pubescent or abaxially glabrous; stamens 20-40;
filaments pilose proximally; staminodes absent; pistils 75-150.
 <B>Achenes</B> turgid, not conspicuously rimmed, pilose; beak
2-5  cm.  
<P>
 Flowering summer-fall.  Roadsides,
other secondary habitats, open woods; 0-2600 m; introduced; Ont.;
Colo., Nev., N.Mex., Utah; native to Eurasia.
<P>
 <I>Clematis orientalis</I> has been
reported from Idaho; it probably can be expected elsewhere.
<P>
 This species has been divided by C.&nbsp;Grey-Wilson
(1989) into five varieties, partly correlated with their distribution
in Asia.  Naturalized plants in North America seem best referred
to <I>C</I>. <I>orientalis</I> var. <I>robusta</I> Grey-Wilson,
native to Afghanistan.
<P>
 Although <I>Clematis orientalis</I>
has been naturalized in the Rocky Mountains since the late nineteenth
century, it has spread especially rapidly since ca. 1975, becoming
weedy and, in some localities, constituting a threat to young
trees and native shrubby and herbaceous species.<BR>

<P>
<B>
