22b. <A NAME="27100904"></A><I><B>Clematis pitcheri</B></I><B>
Torrey &amp; A. Gray var. <I>dictyota</I> (Greene) W. M.
Dennis</B></B>, Sida 8: 194.
 1979 - F
<P>
<I>Clematis dictyota</I>
Greene, Pittonia 5: 153.  1903
<P>
<B>Leaf blade</B>
mostly 2-pinnate or 2-ternate; leaflets often deeply lobed, mostly
3-4 cm, somewhat leathery.  <B>Flowers:</B> sepals mostly 2-4
&#215; 1-3 cm; stamens with filaments and extended connectives
usually usually glabrous, occasionally with a few hairs.  2<I>n</I> = 16.
 
<P>
 Flowering spring-fall (Apr-Sep).  Rocky
sites; 1200-2300 m; N.Mex., Tex.; Mexico (Coahuila).
<P>
 In typical <I>Clematis pitcheri</I>
var. <I>dictyota</I>, the stamen filaments and the extended anther
connectives are glabrous or nearly so, whereas in typical <I>C</I>.
<I>pitcheri</I> var. <I>pitcheri</I> they are pubescent.  In some
parts of the range of the species, however, these character states
are not well correlated with leaflet size and thickness.
<P>
 The names <I>Clematis filifera</I>
Bentham and <I>C. pitcheri</I> var. <I>filifera</I> (Bentham)
R.O. Erickson have generally been applied to this variety or to
a taxon consisting in large part of this variety, but the type
specimen is referable to <I>C</I>. <I>pitcheri</I> var. <I>pitcheri</I>
(W. M. Dennis 1979).<BR>

<P>
<B>