12. <A NAME="27100912"></A><I><B>Clematis viticella</B></I><B>
Linnaeus</B></B>, Sp. Pl. 1:
543.  1753 - F
<P>
<I>Viticella viticella</I>
(Linnaeus) Small
<P>
<B>Vines</B>
2-4(-6) m.  <B>Leaf blade:</B> leaflets 3-7, proximal leaflets
sometimes 3-foliolate, lanceolate to broadly ovate or elliptic,
unlobed or 1-3-lobed, 1.5-7 cm, somewhat leathery, margins entire.
 <B>Flowers:</B> sepals 4, blue to violet or rose-violet, 1.5-4
cm, length ca. 1.2-2 times width, abaxially pubescent; stamens
green; beak glabrous.  
<P>
 Flowering summer-fall.  Roadsides,
thickets and other secondary habitats; 200 m; introduced; Ont.;
native to Europe.
<P>
 <I>Clematis viticella</I> has also
been reported from Quebec, New York, and Tennessee, but the reports
have not been verified.  It probably should be expected elsewhere.
<BR>
<BR>

