32. <A NAME="27100890"></A><I><B>Clematis hirsutissima</B></I><B>
Pursh</B></B>, Fl. Amer. Sept.
2: 385.  1814 - E
<P>
<I>Coriflora</I>
<I>hirsutissima</I> (Pursh) W. A. Weber, Phytologia 79: 65-66.
 1996[1995]
<P>
<B>Stems</B>
erect, not viny, 1.5-6.5 dm, hirsute (sometimes sparsely so in
var. <I>hirsutissima</I>) or densely short, soft-pubescent to
nearly glabrous.  <B>Leaf blade</B> 2-3-pinnate; leaflets often
deeply 2-several-lobed, if lobed than lateral lobes usually small
and distinctly narrower than central portion, leaflets or lobes
linear to lanceolate, 1-6 &#215; 0.05-1.5 cm, thin, not prominently
reticulate; surfaces sparsely to densely silky-hirsute, not glaucous.
 <B>Inflorescences</B> terminal, flowers solitary.  <B>Flowers</B>
broadly cylindric to urn-shaped; sepals very dark violet-blue
or rarely pink or white, oblong-lanceolate, 2.5-4.5 cm, margins
narrowly expanded distally, 0.5-2 mm wide, thin, distally &#177;
crisped, tomentose, tips obtuse to acute, slightly spreading,
abaxially usually densely hirsute, occasionally moderately so.
 <B>Achenes:</B> bodies densely long-pubescent; beak 4-9 cm, plumose.
<P>
 Varieties 2 (2 in the flora): North
America.
<P>
 The varieties of <I>Clematis hirsutissima</I>,
although highly dissimilar in their extreme forms, intergrade
extensively in Wyoming, Colorado, and Utah.<BR>
<BR>

<P>
<B>