25. <A NAME="27100900"></A><I><B>Clematis ochroleuca</B></I><B>
Aiton</B></B>, Hort. Kew. 2:
260.  1789 - Erect silky leather-flower, curly-heads - E
<P>
<I>Viorna ochroleuca</I>
(Aiton) Small
<P>
<B>Stems</B>
erect to &#177; sprawling, not viny, 2-7 dm,, sparsely to &#177;
densely pilose.  <B>Leaves</B> simple.  <B>Leaf blade</B> narrowly
to broadly ovate, unlobed or rarely few-lobed, 3-14 &#215; (1.5-)2.5-8(-9.5)
cm, &#177; leathery, reticulate adaxially; surfaces abaxially
moderately silky-pilose with spreading hairs or rarely nearly
glabrous, not glaucous.  <B>Inflorescences</B> terminal, flowers
solitary; bracts absent.  <B>Flowers</B> narrowly urn-shaped;
sepals pale yellow to pale purple, lanceolate, 1-3.5 cm, margins
not expanded, thin, not crispate, tomentose, tip obtuse, spreading
to recurved, abaxially silky-pubescent.  <B>Achenes:</B> bodies
pilose, hairs appressed-ascending; beak yellowish brown to reddish
brown, 3-6 cm, plumose.  2<I>n</I> = 16.  
<P>
 Flowering spring.  Dry to moist woods,
thickets, roadsides, and other shady to open, &#177; disturbed
sites, mostly on mafic substrates; 0-500 m; D.C., Ga., Md., N.J.,
N.Y., N.C., S.C., Va.
<P>
 In New York, <I>Clematis ochroleucra</I>
is known only from Staten Island and, formerly, from western Long
Island (Brooklyn).<BR>

<P>
<B>