13. <A NAME="27100882"></A><I><B>Clematis columbiana</B></I><B>
(Nuttall) Torrey &amp; A. Gray</B></B>,
Fl. N. Amer. 1: 11.  1838 - E
<P>
<I>Atragene columbiana</I>
Nuttall, J. Acad. Nat. Sci. Philadelphia 7: 7.  1834
<P>
<B>Stems</B>
viny, climbing or trailing (mainly rhizomatous, not viny in var.
<I>tenuiloba</I>).  <B>Leaf blade</B> consistently 2-3-ternate;
leaflets diverse in shape, thin or &#177; succulent, usually deeply
lobed, margins serrate.  <B>Flowers:</B> sepals violet-blue (rarely
white in var. <I>columbiana</I>), lance-ovate to ovate. 
<P>
 Varieties 2 (2 in the flora): North
America.
<P>
 The name <I>Clematis columbiana</I>
was formerly misapplied to <I>C. occidentalis</I> var. <I>grosseserrata</I>;
it is still associated with that taxon in some horticultural and
popular publications.  In such works, true <I>C</I>.<I>columbiana</I>
is usually called <I>C. pseudoalpina</I>.
<P>
 The two varieties of <I>Clematis columbiana</I>,
although strikingly dissimilar in their extremes, intergrade extensively.
 The phenotype of <I>C</I>.<I>columbiana</I> var. <I>tenuiloba</I>
may be at least in part a response to habitat; in some areas it
grows on exposed summits while var. <I>columbiana</I> occurs nearby
at lower elevations.  In other areas, however, such as the Killdeer
Mountains of North Dakota and the Black Hills of South Dakota
and Wyoming, only the <I>tenuiloba</I> extreme is present.
<P>
 The Thompson Indians used plants of
<I>Clematis columbiana</I> medicinally in a head wash for scabs
and eczema (D. E. Moerman 1986; varieties were not specified).
 <BR>
<BR>

<P>
<B>