3. <A NAME="27100907"></A><I><B>Clematis terniflora</B></I><B>
de Candolle</B></B>, Syst. Nat.
1: 137.  1817 - Sweet autumn clematis, yam-leaved clematis
<P>
<I>Clematis dioscoreifolia</I>
H.&nbsp;L&eacute;veill&eacute; &amp; Vaniot; <I>C.&nbsp;dioscoreifolia</I>
var. <I>robusta</I> (Carr) Rehder; <I>C.&nbsp;maximowicziana</I>
Franchet &amp; Savatier
<P>
<B>Stems</B>
climbing with tendril-like petioles and leaf rachises, 3-6&nbsp;m.
 <B>Leaf blade</B> pinnately 3- or 5-foliolate; leaflets ovate
or broadly lanceolate to narrowly deltate, to 6.5 &#215; 3.5 
cm, margins entire; surfaces abaxially glabrous or very sparingly
appressed-strigose on major veins.  <B>Inflorescences</B> axillary,
3-12-flowered cymes or compound cymes or paniculate with cymose
subunits.  <B>Flowers</B> bisexual, often some unisexual (staminate)
in same inflorescence; pedicel 1-3.5  cm, slender; sepals wide-spreading,
not recurved, white, linear or elliptic to lanceolate or narrowly
obovate, 0.9-2.2  cm, length ca. 2-3 times width, abaxially tomentose
along margins, adaxially glabrous; stamens ca. 50; filaments glabrous;
staminodes absent; pistils 5-10.  <B>Achenes</B> broad, flat,
conspicuously rimmed, minutely appressed-silky, sometimes sparsely
so; beak 2-6  cm.
<P>
 Flowering summer (Jul-Sep).  Roadsides,
thickets, and other secondary sites, edges of woods near creeks;
0-1000 m; introduced; Ont.; Ala., Ark., Conn., Fla., Ga., Ill.,
Ind., Kans., Ky., La., Md., Mass., Miss., Mo., Nebr., N.H., N.J.,
N.Y., N.C., Ohio, Okla., Pa., S.C., Tenn., Tex., Va., W.Va.; native
to Asia (China, Korea, Japan).
<P>
 <I>Clematis terniflora</I> is commonly
cultivated as an ornamental.  It is widely naturalized in the
eastern United States.  The name <I>C</I>. <I>paniculata</I> J.&nbsp;F.
Gmelin was incorrectly used for this species by Thunberg in 1794.
<P>
 Some authors have recognized two or
more varieties in this species, correlated with their distribution
in Asia, but in the study by H.Hara (1975), all of the varietal
names were reduced to synonymy.  <BR>

<P>
<B>