6b. <A NAME="27103255"></A><I><B>Clematis</B></I><B> Linnaeus
subg. <I>Viticella</I> Keener &amp; W. M. Dennis</B></B>,
Taxon 31: 42.  1982
<P>
<I>Viticella</I>
Moench, Methodus, 296.  1794 
<P>
<B>Woody vines</B>.
 <B>Leaf blade</B> [simple] 1-2-pinnate, lobed or few-lobed, margins
entire.  <B>Inflorescences</B> axillary, on suppressed shoots
from previous year's stems, 2-3-flowered bracteate fascicles or
cymes, or flowers solitary, peduncle bracteate.  <B>Flowers</B>
bisexual, slightly or not nodding; sepals usually wide-spreading,
not connivent, blue, violet, or rose violet [rarely white], broadly
obovate to elliptic-rhombic, thin; filaments flattened but slender,
glabrous or sparsely pubescent; staminodes absent.  <B>Achenes</B>
flattened; beak usually less than 1.5 cm, glabrous or silky.
<P>
 Species 6 (1 in the flora): temperate
regions, North America, Eurasia.
<P>
 <I>Clematis</I> subg. <I>Viticella</I>
has sometimes been included in <I>Clematis</I> subg. <I>Viorna</I>,
as suggested by F. B. Essig (1992), although it is very different
from subg. <I>Viorna</I> in the strict sense in the aspect of
its flowers and was treated as a distinct genus by earlier authors.
<P>
 Several other large-flowered European
and Asiatic species and hybrids, including <I>Clematis campaniflora</I>
Brotero, with broadly campanulate perianth, and <I>C. florida</I>
Thunberg, <I>C. lanuginosa</I> Lindley, and <I>C</I>. &#215;<I>jackmanii</I>
T. Moore (= <I>C. lanuginosa</I> &#215; <I>C. viticella</I>),
with rotate perianth often with 6-8 sepals, occasionally persist
after cultivation; in some cases they have become very locally
naturalized.<BR>

<P>
<B>