22a. <A NAME="27103273"></A><I><B>Clematis pitcheri</B></I><B>
Torrey &amp; A. Gray var. <I>pitcheri</I> </B></B>
<P>
<I>Clematis filifera</I>
Bentham; <I>C. pitcheri</I> var. <I>filifera</I> (Bentham)
R.O. Erickson
<P>
<B>Leaf blade</B>
usually 1-pinnate, distalmost leaf occasionally simple; leaflets
usually unlobed, occasionally some 1-2-lobed, mostly 4-11 &#215;
1.5-6 cm (occasionally smaller in w part of range), thin.  <B>Flowers:</B>
sepals mostly 1-3(-3.5) cm; stamens with filaments and extended
connectives pubescent, occasionally glabrous.  2<I>n</I> = 16.
 
<P>
 Flowering spring-fall (Mar-Oct).  Limestone
outcrops in dry to moist woods and thickets, disturbed sites;
0-2200 m; Ark., Ill., Ind., Iowa, Kans., Ky., Mo., Nebr., N.Mex.,
Okla., Tenn., Tex.; Mexico.<BR>

<P>
<B>