6. <A NAME="27100886"></A><I><B>Clematis drummondii</B></I><B>
Torrey &amp; A.&nbsp;Gray</B></B>,
Fl. N. Amer. 1: 7. 1838 - Barbas de chivato 
<P>
<I>Clematis nervata</I>
Bentham
<P>
<B>Stems</B>
scrambling to climbing with tendril-like petioles and leaf-rachises,
4-5 m or more.  <B>Leaf blade</B> odd-pinnate, usually 5-foliolate;
leaflets deltate to ovate, strongly 3-parted to 3-cleft, proximal
leaflets sometimes 3-cleft, 1.5-5.5 &#215; 0.5-4.5  cm, membranous
to leathery; segments ovate, deltate, or linear, margins dentate;
surfaces pilose, abaxially more densely so.  <B>Inflorescences</B>
usually axillary, 3-12-flowered simple cymes or compound with
central axis or flowers solitary or paired.  <B>Flowers</B> unisexual;
pedicel slender, (1.1-)1.5-7  cm; sepals wide-spreading, not recurved,
white to cream, oblong or elliptic to obovate or oblanceolate,
(7-)9-13(-15) mm, abaxially and adaxially pubescent; stamens 40-90;
filments glabrous; staminodes 17-35 when present; pistils 35-90.
 <B>Achenes</B> elliptic to ovate, 3-5 &#215; l.5-2.5 mm, rimmed,
short-silky; beak 4-9  cm. 
<P>
 Flowering spring-fall (Mar-Oct).  Chaparral,
xeric scrub, oak scrub, and grasslands; pastures, fencerows, and
other secondary sites; often along streams or on slopes; 0-2200
m; Ariz., Calif., Colo., N.Mex., Okla., Tex.; n Mexico.
<P>
 As with many other members of the subgenus,
the leaves of <I>Clematis drummondii</I> are reputedly used in
a poultice to treat irritations of the skin in humans and other
animals.  
<P>
 <I>Clematis coahuilensis</I> D.&nbsp;J.
Keil is found in central and north-central Mexico in habitats
similar to those of <I>C.&nbsp;drummondii</I>; it is distinguished
by ovate, entire to 3-lobed, leathery leaflets.<BR>

<P>
<B>