2. <A NAME="27100348"></A><I><B>Clematis tangutica</B></I><B>
(Maximowicz) Korshinsky</B></B>,
Izv. Imp. Akad. Nauk, ser. 5, 9: 399.  1898 
<P>
<I>Clematis orientalis</I>
Linnaeus var. <I>tangutica</I> Maximowicz, Fl. Tangut., 3.  1889
<P>
Varieties 2 (1 in the flora): North
America, Asia (China, India, Mongolia).<BR>

<P>
<B>