14. <A NAME="27100897"></A><I><B>Clematis occidentalis</B></I><B>
(Hornemann) de Candolle</B></B>,
Prodr. 1: 10.  1824 - Purple clematis, cl&eacute;matite occidentale
- E
<P>
<I>Atragene occidentalis</I>
Hornemann, Hort. Bot. Hafn. 2: 520.  1815 
<P>
<B>Stems</B>
viny, climbing or trailing (plants scarcely viny perennials in
var. <I>dissecta</I>).  <B>Leaf blade</B> 1-ternate (or terminal
leaflet sometimes ternate in var. <I>dissecta</I>), &#177; firm
but not succulent; leaflets lance-ovate to triangular or suborbiculate,
lobed or unlobed, margins entire or toothed. <B>Flowers:</B> sepals
violet-blue, reddish violet, or white, lanceolate to ovate or
elliptic-oblong.
<P>
 Varieties 3 (3 in the flora): North
America.<BR>
<BR>

<P>
<B>