19. <A NAME="27100876"></A><I><B>Clematis addisonii</B></I><B>
Britton</B></B>, Mem. Torrey
Bot. Club 2: 28.  1890 - Addison's virgin's-bower, Addison Brown's
clematis, Addison's leather-flower, Addison Brown's leather-flower
- C E
<P>
<I>Viorna addisonii</I>
(Britton) Small
<P>
<B>Stems</B>
usually ascending to erect, occasionally somewhat viny, 0.6-1
m, glabrous.  <B>Leaves</B> all simple, blade often 1-pinnate
on distal and middle leaves on vigorous plants 4-13 &#215; 2-9.5
cm; leaflets 2-6 plus additional tendril-like terminal leaflet,
ovate, unlobed, 1.5-6 &#215; 1-4.5 cm, not prominently reticulate;
surfaces abaxially glabrous and glaucous.  <B>Inflorescences</B>
terminal and axillary, flowers solitary.  <B>Flowers</B> ovoid
to broadly urn-shaped; sepals purple or reddish purple, whitish
toward tips, ovate-lanceolate, 1.2-2.5 cm, margins not expanded,
thick, not crispate, tomentose, tips acute, spreading, abaxially
glabrous.  <B>Achenes:</B> bodies puberulent; beak 2.5-3.5 cm,
plumose.  2<I>n</I> = 16.  
<P>
 Flowering spring-early summer.  Calcareous,
dry woods, glades, rock outcrops; of conservation concern; 200-600
m; Va.
<P>
 <I>Clematis addisonii</I> is known
only from Botetourt, Montgomery, Roanoke, and Rockbridge counties
in western Virginia.  Reports of this infrequent species from
other southeastern states have been based on misidentified specimens
(W. M. Dennis 1976).<BR>

<P>
<B>