14c. <A NAME="27100898"></A><I><B>Clematis occidentalis</B></I><B>
(Hornemann) de Candolle var. <I>dissecta</I> (C.L. Hitchcock)
J. S. Pringle</B></B>, Brittonia
23: 371.  1971 - E
<P>
<I>Clematis columbiana</I>
(Nuttall) Torrey &amp; A. Gray var. <I>dissecta</I> C.L.
Hitchcock, Univ. Wash. Publ. Biol. 17(2): 341.  1964
<P>
<B>Stems</B>
short and tufted or, if viny, up to 0.5(-1.5)m and trailing. 
<B>Leaves:</B> leaflets lobed or unlobed, 1.5-6.5(-9) cm, margins
crenate-serrate; terminal leaflet, at least, usually deeply lobed,
or sometimes ternate.  <B>Flowers:</B> sepals moderately divergent,
reddish violet or less often violet-blue, lance-ovate, 2.5-4.5(-6)
cm, margins not fluted, tips acute to acuminate.
<P>
 Flowering spring.  Cliffs and other
rocky sites in open woods and thickets; 700-1900 m; Wash. 
<P>
 <I>Clematis occidentalis</I> var. <I>dissecta</I>
occurs only in the Wenatchee and adjacent ranges of the Cascade
Mountains. <BR>

