32b. <A NAME="27100892"></A><I><B>Clematis hirsutissima</B></I><B>
Pursh var. <I>scottii</I> (Porter) R. O. Erickson</B></B>,
Ann. Missouri Bot. Gard. 30: 47.  1943 - Scott's clematis - E
<P>
<I>Clematis scottii</I>
Porter, Syn. Fl. Colorado, 1.  1874; <I>Viorna scottii</I> (Porter)
Rydberg
<P>
<B>Stems</B>
simple or branched, erect or &#177; sprawling.  <B>Leaf blade:</B>
primary leaflets 7-13; leaflets and larger lobes narrowly to broadly
lanceolate or ovate, 1-6 cm &#215; 5-15 mm, surfaces nearly glabrous
to sparsely hirsute.  
<P>
 Flowering spring-summer.  Dry to moist
mountain meadows, thickets, and rocky slopes; 1500-3200 m; Colo.,
Nebr., N.Mex., Okla., S.Dak., Wyo.
<P>
 The leaflets of <I>Clematis hirsutissima</I>
var. <I>scottii</I> are usually more widely spaced than those
of <I>C</I>. <I>hirsutissima</I> var. <I>hirsutissima</I>. <BR>

