13a. <A NAME="27101514"></A><I><B>Clematis columbiana</B></I><B>
(Nuttall) Torrey &amp; A. Gray var. <I>columbiana</I> </B></B>-
E F
<P>
<I>Clematis pseudoalpina</I>
(Kuntze) A.Nelson
<P>
<B>Aerial stems</B>
viny, climbing or trailing, 0.5-1.5(-3.5) m.  <B>Leaf blade</B>
2-3-ternate; leaflets mostly lanceolate to ovate, few-lobed, lobes
often over 5 mm wide, thin, margins serrate.  <B>Flowers:</B>
sepals violet-blue, rarely white, 2.5-6 cm.
<P>
 Flowering spring-early summer(-fall).
 Rocky, open woods and thickets; 1700-3200 m; Ariz., Colo., Idaho,
Mont., N.Mex., Tex., Utah, Wyo.
<P>
 <I>Clematis columbiana</I> var. <I>columbiana</I>
flowers in early summer at high elevations and occasionally flowers
in fall on new growth.  The taxon was erroneously included in
<I>C. alpina</I> Linnaeus by D.S. Correll and M.C. Johnston
(1970).<BR>

<P>
<B>