26. <A NAME="27100881"></A><I><B>Clematis coactilis</B></I><B>
(Fernald) Keener</B></B>, J. Elisha
Mitchell Sci. Soc. 83: 36.  1967 - C E
<P>
<I>Clematis albicoma</I>
Wherry var. <I>coactilis</I> Fernald, Rhodora 45: 407.  1943
<P>
<B>Stems</B>
erect, not viny, 2-4.5 dm, densely silky, hirsute, or &#177; tomentose
with appressed hairs.  <B>Leaves</B> simple.  <B>Leaf blade</B>
rarely 1-pinnate, narrowly to broadly ovate, unlobed or sometimes
few-lobed, 5-12 &#215; 3-9.5 cm, leathery, &#177; prominently
reticulate adaxially; surfaces abaxially densely silky-tomentose
with appressed hairs, not glaucous.  <B>Inflorescences</B> terminal,
flowers solitary; bracts absent.  <B>Flowers</B> broadly urn-shaped;
sepals pale yellow to rarely purple-tinged, lanceolate, 1.9-3.4
cm, margins not expanded or narrowly expanded to 1.7 mm wide,
thin, not crispate, tomentose, tips obtuse, spreading, abaxially
finely tomentose.  <B>Achenes:</B> body pilose, hairs of rim spreading;
beak (2.5-)3-4.5(-5.5) cm, plumose.  2<I>n</I> = 16.
 
<P>
 Flowering spring-early summer.  Shale
barrens, rarely on sandstone, dolomite, or limestone outcrops;
of conservation concern; 300-600 m; Va.
<P>
 <I>Clematis coactilis</I> is known
only from western Virginia.  C. S. Keener (1967, 1975) suggested
that this species may be a stabilized derivative of past hybridization
between <I>C. albicoma</I> and <I>C. ochroleuca</I>.

<P>
 In fruit, <I>Clematis coactilis</I>
is distinguishable from <I>C. ochroleuca</I> by its combination
of spreading to reflexed hairs on the achene rims and whitish
to pale yellow (rarely tawny) hairs on the beaks, contrasting
with the strongly ascending hairs on the achene rims and tawny
(rarely yellowish white) hairs on the beaks of <I>C. ochroleuca</I>.
 This species and <I>C. ochroleuca</I> lack stomates on the
adaxial surface of the leaves, whereas the closely related species
<I>C. albicoma</I>, <I>C. fremontii</I>, and <I>C. viticaulis</I>
have stomates on both leaf surfaces (C. S. Keener 1967).
<P>
 
<P>
<B>