14a. <A NAME="27103265"></A><I><B>Clematis occidentalis</B></I><B>
(Hornemann) de Candolle var. <I>occidentalis</I> </B></B>-
E
<P>
<I>Atragene americana</I>
Sims; <I>Clematis verticillaris</I> de Candolle; <I>C. verticillaris</I>
var. <I>cacuminis</I> Fernald; <I>C. verticillaris</I> var.
<I>grandiflora</I> B.Boivin
<P>
<B>Stems</B>
&#177; viny, climbing or trailing, 0.25-3.5 m.  <B>Leaves:</B>
leaflets unlobed or occasionally 1-3-lobed, (2-)3-6(-10) cm, margins
entire or shallowly crenate-serrate.  <B>Flowers:</B> sepals remaining
moderately divergent, reddish violet, ovate to oblong-elliptic,
2.5-6 cm, margins not fluted, tips rounded-mucronate to nearly
acuminate.  2<I>n</I> = 16.  
<P>
 Flowering spring.  Calcareous cliffs,
rock ledges, talus slopes, gravelly embankments, rocky woods,
and clearings; 0-1300 m; N.B., Ont., Que.; Conn., Del., Ill.,
Iowa, Maine, Md., Mass., Mich., Minn., N.H., N.J., N.Y., N.C.,
Pa., R.I., Vt., Va., W.Va., Wis.
<P>
 <I>Clematis occidentalis</I> var. <I>occidentalis</I>
formerly occurred in Ohio.  Plants in the western part of the
range of this variety tend to have larger, more abruptly tapering
sepals; they have been segregated as var. <I>grandiflora</I> B.Boivin,
but they do not appear to constitute a distinct taxon.<BR>

<P>
<B>