29. <A NAME="27100888"></A><I><B>Clematis fremontii</B></I><B>
S. Watson</B></B>, Proc. Amer.
Acad. Arts 10: 339.  1875 - Fremont's clematis - E F
<P>
<I>Clematis fremontii</I>
var. <I>riehlii</I> R.O. Erickson; <I>Viorna fremontii</I> (S.Watson)
A.Heller
<P>
<B>Stems</B>
erect, 1.5-4(-7) dm, moderately to densely villous, sometimes
sparsely so near nodes.  <B>Leaves</B> simple.  <B>Leaf blade</B>
ovate-elliptic to broadly ovate, unlobed, 5-14 &#215; 3.5-11 cm,
leathery, prominently reticulate adaxially; surfaces abaxially
glabrous or sparsely villous-tomentose on veins, not glaucous.
 <B>Inflorescences</B> terminal, flowers solitary; bracts absent.
 <B>Flowers</B> narrowly urn-shaped; sepals pale blue-violet to
purple, pale green toward tips, lanceolate, 2-4 cm, margins not
expanded or 1-3 mm wide, thin or &#177; thick, not crispate
or slightly crispate, tomentose, tips acuminate, spreading to
recurved, abaxially glabrous to sparsely villous.  <B>Achenes:</B>
bodies proximally pubescent with silky or sparse short hairs,
distally cobwebby-tomentose; beak 1.5-3(-3.5) cm, proximally silky-tomentose,
sparsely appressed-pubescent to nearly glabrous toward tip.  2<I>n</I> = 16.
 
<P>
 Flowering spring.  Calcareous prairies
and glades; 100-700 m; Kans., Mo., Nebr. 
<P>
 R. O. Erickson (1943) separated the
Missouri plants as <I>Clematis fremontii</I> var. <I>riehlii</I>
R. O. Erickson on the basis of their supposedly greater height
and more widely spaced, proportionately narrower leaves.  As noted
by C. S. Keener (1967), however, so much overlap occurs in
the ranges of variation of the Missouri and the Kansas-Nebraska
populations that recognition of these varieties is not possible.
<BR>

<P>
<B>