24. <A NAME="27100884"></A><I><B>Clematis crispa</B></I><B>
Linnaeus</B></B>, Sp. Pl. 1:
543.  1753 - Marsh clematis, curly clematis, blue-jasmine - E
F
<P>
<I>Viorna crispa</I>
(Linnaeus) Small; <I>V</I>.<I>obliqua</I> Small
<P>
<B>Stems</B>
viny, to 3 m, glabrous or sparsely to moderately pilose-pubescent,
denser at nodes.  <B>Leaf blade</B> 1-2-pinnate or rarely a few
simple or 3-foliolate; leaflets 4-10 plus additional &#177; tendril-like
terminal leaflet, usually lanceolate to ovate, occasionally linear,
unlobed or proximally 3-5-lobed, (1.5-)3-10 &#215; (0.1-)0.4-4(-5)
cm, thin, not conspicuously reticulate; surfaces glabrous, not
glaucous.  <B>Inflorescences</B> terminal, 1-flowered; bracts
absent.  <B>Flowers</B> bell-shaped; sepals distally strongly
spreading to recurved, violet-blue, lanceolate, 2.5-5 cm, margins
proximally thick and tomentose, distally broadly expanded, 2-6
mm wide, thin, crispate, less conspicuously tomentose than proximal
portion, or glabrate, tips acuminate, abaxially glabrous.  <B>Achenes:</B>
bodies appressed-puberulent; beak 2-3.5 cm, appressed-puberulent.
 2<I>n</I> = 16.  
<P>
 Flowering spring-summer.  Low woods,
bottomlands, swamps; 0-200 m; Ala., Ark., Fla., Ga., Ill., Ky.,
La., Miss., Mo., N.C., Okla., S.C., Tenn., Tex., Va.
<P>
 <I>Clematis crispa</I> is highly variable
in leaflet width, and conspicuous variation may occur on a single
plant (R.O. Erickson 1943); no discontinuity or geographic correlation
exists that would permit the recognition of varieties.  The dilated,
petaloid sepal tips and thin, crispate, broadly expanded sepal
margins are diagnostic for this species.<BR>

<P>
<B>