30. <A NAME="27100878"></A><I><B>Clematis baldwinii</B></I><B>
Torrey &amp; A. Gray</B></B>,
Fl. N. Amer. 1: 8.  1838 - Pine-woods clematis, pine-hyacinth
- E
<P>
<I>Clematis baldwinii</I>
var. <I>latiuscula</I> R. W. Long; <I>Viorna baldwinii</I> (Torrey
&amp; A. Gray) Small
<P>
<B>Stems</B>
erect, 2-6 dm, nearly glabrous to moderately pilose.  <B>Leaves</B>
usually simple.  <B>Leaf blade</B> unlobed or 2-3-lobed, occasionally
divided into 3-5 leaflets; leaflet blades or lobes linear to narrowly
elliptic-lanceolate, or unlobed leaf blades elliptic to ovate,
1.5-10 &#215; 0.2-2.5(-3.5) cm, thin, not prominently reticulate;
surfaces glabrous, not glaucous.  <B>Inflorescences</B> terminal,
flowers solitary; bracts absent or sometimes distal pair of leaves
smaller, bractlike.  <B>Flowers</B> narrowly bell-shaped; sepals
uniformly violet-blue, oblong-lanceolate, 2-5.5 cm, margins narrowly
expanded distally to ca. 1 mm wide, thin, crispate, proximally
tomentose, glabrous where expanded, distally &#177; tomentose,
tips acuminate, spreading to recurved, abaxially glabrous.  <B>Achenes:</B>
bodies long-pubescent; beak 6-10 cm, plumose.  2<I>n</I> = 16.
 
<P>
 Flowering all year.  Sandy, flat pine
woods; 0-50 m; Fla.
<P>
 The long peduncles (10-30 cm) elevating
the flowers well above the leaves are unique to <I>Clematis baldwinii</I>
among the simple-leaved species of <I>Clematis</I> subg. <I>Viorna</I>
in the flora.  Broad-leaved, large-flowered plants have been segregated
as <I>C. baldwinii</I> var. <I>latiuscula</I>, but many intermediates
connect the extremes, and flower size is not well correlated with
leaf shape.  As noted by C. S. Keener (1975), leaf shape
appears to be uncorrelated with distribution; collections from
a single population often include broad- and narrow-leaved plants.
<BR>

<P>
<B>