

<P>
<B>2. COCCULUS de Candolle</B>,
Syst. Nat. 1: 515.  1818 - Coral beads [diminutive of Latin <I>coccum</I>,
berry]
<P>
<B>Vines</B>,
twining or clambering.  <B>Stems</B> green, apically tomentose
grading to pilose or glabrate on older portions.  <B>Leaves</B>
not peltate.  <B>Leaf blade</B> generally ovate to hastate or
oblong, base cordate, truncate, or rounded, margins entire, apex
mucronate; surfaces soft-pubescent or glabrous.  <B>Inflorescences</B>
axillary or terminal, racemes or racemose panicles; bracts minute
(bracteoles).  <B>Flowers</B> 3-ranked; sepals 6-9, ovate to elliptic
or obovate, outer sepals glabrous or pilose to sparsely pilose
abaxially, inner sepals glabrous; petals 6, free.  <B>Staminate
flowers:</B> petals to 2 mm, auriculate lobes at base inflexed
over 6 stamens; filaments distinct; anthers 4-locular; pistillodes
36 or absent, glandular.  <B>Pistillate flowers:</B> perianth
similar to staminate; staminodes 6, poorly developed; pistils
6; ovary slightly asymmetrically pouched, glabrous; stigma entire.
 <B>Drupes</B> globose, glabrous; endocarp bony, depressed but
not excavate, warty, ribbed.  <I>x</I>&nbsp;=&nbsp;13.  
<P>
 Species 11 (2 in the flora): temperate
regions, North America, Mexico, Asia, Africa.<BR>

<P>
<B>