1. <A NAME="20600094"></A><I><B>Cocculus carolinus</B></I><B>
(Linnaeus) de Candolle</B></B>,
Syst. Nat. 1: 524.  1818 - Red-berried moonseed, coral vine, margil,
hierba de ojo - F
<P>
<I>Menispermum carolinum</I>
Linnaeus, Sp. Pl. 1: 340.  1753; <I>Epibaterium carolinum</I>
(Linnaeus) Britton
<P>
<B>Vines</B>,
to 5&nbsp;m or more; rhizomes to 1.4&nbsp;cm diam.  <B>Stems</B>
with spreading pubescence.  <B>Leaves:</B> petiole to 10&nbsp;cm.
 <B>Leaf blade</B> generally ovate or deltate, sometimes sagittate
or hastate, to 17 &#215; 14&nbsp;cm, membranous to leathery, base
sometimes with 3-5 lobes, margins usually entire, apex acuminate
to rounded, then often retuse, mucronate; surfaces abaxially slightly
pale, rarely glaucous, sparsely to densely pilose, adaxially glabrous
to sparsely pilose; venation 5.  <B>Inflorescences</B> to 22&nbsp;cm;
bracteoles often present; rachis glabrous or tomentose, not glaucous.
 <B>Flowers:</B> perianth parts not glaucous; sepals in 3 series,
outer sepals 0-3, ovate, 0.3-1.4 &#215; 0.2-0.8&nbsp;mm, pilose,
middle 3 sepals ovate to elliptic or obovate, 1-3 &#215; 0.6-2&nbsp;mm,
glabrous to pilose, inner 3 sepals elliptic to nearly orbiculate
or obovate, 0.8-3 &#215; 0.8-2&nbsp;mm, glabrous to sparsely pilose;
petals (5-)6, yellow, elliptic, deltate, rhombic, obovate, or
nearly orbiculate, 0.6-2 &#215; 0.4-1.4&nbsp;mm, glabrous.  <B>Staminate
flowers:</B> stamens (5-)6, to 2.2&nbsp;mm; pistillodes to 0.5&nbsp;mm.
 <B>Pistillate flowers:</B> staminodes to 0.8&nbsp;mm; pistils
to 2&nbsp;mm.  <B>Drupes</B> red, 5-8&nbsp;mm diam.  2<I>n</I>&nbsp;=&nbsp;78.
 
<P>
 Flowering late spring-early fall. 
Woodland and shrub  borders, along streams, fencerows, waste places;
0-500&nbsp;m; Ala., Ark., Del., Fla., Ga., Ill., Ind., Kans.,
Ky., La., Miss., Mo., N.C., Okla., S.C., Tenn., Tex., Va.; Mexico.
<P>
 <I>Cocculus carolinus</I> was used
by some Native American tribes medicinally to treat blood ailments
(D.&nbsp;E. Moerman 1986).<BR>

<P>
<B>