2. <A NAME="20600061"></A><I><B>Cocculus diversifolius</B></I><B>
de Candolle</B></B>, Syst. Nat.
1: 523.  1818 - Sarsaparilla, correhuela
<P>
<B>Vines</B>,
to 3&nbsp;m or more; rhizomes to 1.4&nbsp;cm diam.  <B>Stems</B>
with appressed pubescence.  <B>Leaves:</B> petiole to 1.8&nbsp;cm.
 <B>Leaf blade</B> generally linear, lanceolate-oblong, oblong,
or ovate-oblong, to 8.5 &#215; 6&nbsp;cm, &#177;&nbsp;leathery,
base sometimes lobed, apex obtuse to rounded and often retuse,
mucronate; surfaces glabrous, abaxially slightly pale; venation
3-5.  <B>Inflorescences</B> to 7&nbsp;cm; bracteoles and rachis
glabrous or pubescent with short-appressed hairs, sometimes glaucous.
 <B>Flowers:</B> perianth parts glabrous, often glaucous; sepals
in 3 series, outer sepals 0-3, ovate, 0.4-0.8 &#215; 0.3-0.4&nbsp;mm,
middle 3 sepals ovate to elliptic or obovate, 0.6-1.6 &#215; 0.4-1&nbsp;mm,
inner 3 sepals elliptic to nearly orbiculate, 1.2-2.2 &#215; 1.2-1.8&nbsp;mm;
petals 6, usually yellowish, elliptic to obovate, 0.8-1.6 &#215;
0.6-1&nbsp;mm, glabrous.  <B>Staminate flowers:</B> stamens 6,
to 1.8&nbsp;mm; pistillodes absent.  <B>Pistillate flowers:</B>
staminodes to 0.4&nbsp;mm; pistils to 1.4&nbsp;mm.  <B>Drupes</B>
black or bluish black, 4-6&nbsp;mm diam., often glaucous.
<P>
 Flowering spring-fall.  Brushlands,
prairies, palm groves, fencerows, along resecas and canyons; 0-1400&nbsp;m;
Ariz., Tex.; Mexico.<BR>

