5. <A NAME="27103492"></A><I>Consolida tenuissima</I> (Sibthorp &amp;
Smith) So&oacute;</B>, Oesterr. Bot. Z. 71: 241. 1922</P>

<P><I>Delphinium tenuissimum</I> Sibthorp &amp;
Smith, Fl. Graec. Prodr. 1: 370. 1806</P>

<P><B>Stems</B> 1-5 dm, pubescent. <B>Leaves</B>
5-26. <B>Leaf blade</B> semicircular, 9-28-lobed, 1-3 cm wide, &plusmn;
pubescent, lobes less than 2 mm wide. <B>Inflorescences</B> 7-45-flowered
or more, with 3 or more branches; bracts simple; pedicels ascending, 1-4
cm, pubescent; bracteoles 5-22 mm from flower, lanceolate to linear, 2.5-6
mm, pubescent. <B>Flowers:</B> sepals violet to dark blue, &plusmn; puberulent,
lower sepal 5-7 <I>&times;</I> 2-3.5 mm, lateral sepals 5-8 <I>&times;</I>
3-5 mm, spur 7-10 mm; petals blue to white, lateral lobes 3-5 mm, terminal
lobes 4-6 <I>&times;</I> 2-3 mm, sinus 0.2-0.6 mm. <B>Follicles</B> 5-8
mm, nearly glabrous.</P>

<P>Flowering summer. Waste places, roadsides,
and railroads; 80-500 m; introduced; Mo.; native to Europe (Greece).</P>

<P><I>Consolida tenuissima</I> is uncommon in
cultivation.</P>

