<P><B>17. CONSOLIDA (de Candolle) Gray</B>, 
Nat. Arr. Brit. Pl.  2: 711. 1821 
- Larkspur [Latin <I>consolidatus</I>, to become solid or
firm, from reputed ability to heal wounds]</P>

<P><I>Delphinium</I> Linnaeus sect. <I>Consolida</I>
de Candolle, Syst. Nat. 1: 341. 1817</P>

<P><B>Herbs</B>, annual, from slender taproots.
<B>Leaves</B> all cauline at anthesis, alternate, proximal leaves petiolate,
distal leaves nearly sessile. <B>Leaf blade</B> palmately finely dissected,
&plusmn;semicircular, lobes less than 2 mm wide (except sometimes on leaves
near base of stem), margins entire. <B>Inflorescences</B> terminal, 3-45(-75)-flowered
racemes, 5-30 cm; bracts leaflike, not forming involucre. <B>Flowers</B>
bisexual, bilaterally symmetric; sepals not persistent in fruit, 5; upper
sepal 1, spurred, 5-18 mm; lateral sepals 2, elliptic or lanceolate, sometimes
spurred, 5-18 mm; lower sepals 2, similar to lateral sepals; petals 2,
connate, blue to purple, pink, or white, spurred, spur enclosed in upper
sepal, 1-2-lobed, 3-8 mm; nectary on spur; stamens many; filaments with
base expanded; staminodes absent between stamens and pistils; pistil 1,
simple; ovules several per pistil; style present. <B>Fruits</B> follicles,
solitary, sessile, &plusmn;cylindric, sides smooth; beak terminal, straight,
1-2 mm. <B>Seeds</B> dark brown to black, obpyramidal to 3-angled. <I>x</I>=8.</P>

<P>Species ca. 40 (5 in the flora): temperate
and subtropical regions, North America, Europe, Africa, Asia, Australia.</P>

<P>All species of <I>Consolida</I> included here
are cultivated in North America. <I>Consolida regalis</I> has been reported
to self-sow for many years. Inclusion of the other four species is based
on herbarium specimens with label data indicating that the specimens were
collected from sites not under cultivation at the time.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Chater, A. O. 1993. <I>Consolida</I>. In: T. G. Tutin et al., eds.
1993+. Flora Europaea, ed 2. 1+ vols. Cambridge and New York. Vol.1, pp.
260-262. Keener, C. S. 1976. Studies in the Ranunculaceae of the southeastern
United States. IV. Genera with zygomorphic flowers. Castanea 41: 12-20.
Munz, P. A. 1967. A synopsis of African species of <I>Delphinium</I> and
<I>Consolida</I>. J.Arnold Arbor. 48: 30-55. Munz, P. A. 1967b. A synopsis
of the Asian species of <I>Consolida</I> (Ranunculaceae). J. Arnold Arbor.
48: 159-202.<BR>
