4. <A NAME="27100361"></A><I>Consolida regalis</I> Gray</B>, Nat. Arr.
Brit. Pl. 2: 711. 1821 - Rocket larkspur - F</P>

<P><I>Delphinium consolida</I> Linnaeus, Sp.
Pl. 1: 530. 1753</P>

<P><B>Stems</B> 2-6(-11) dm, &plusmn; puberulent.
<B>Leaves</B> 5-28. <B>Leaf blade</B> semicircular, 9-27-lobed, 1-5cm wide,
&plusmn; puberulent, lobes less than 1.5 mm wide. <B>Inflorescences</B>
6-41-flowered, often more than 3 branches; bracts simple (except lowermost
sometimes 3-cleft); pedicel ascending, 1.5-5 cm, &plusmn; puberulent; bracteoles
4-15 mm from flower, lance-linear, 1.5-4 mm, &plusmn; puberulent. <B>Flowers:</B>
sepals dark blue, rarely pink or white, puberulent, lower sepal 9-15 <I>&times;</I>
4-6 mm, lateral sepals 9-16 <I>&times;</I> 5-8 mm, spur 12-22 mm; petals
blue to yellow with tinge of red, lateral lobes 4-5 mm, terminal lobes
3.5-5 <I>&times;</I> 2-3 mm, sinus 0.5-1.5 mm. <B>Follicles</B> 8-17 mm,
glabrous to pubescent.</P>

<P>Flowering summer. Wheat fields, roadsides,
waste places, old homesites; 0-800 m; introduced; Ont.; Ala., D.C., Mo.,
N.Y., N.C., Pa., Wis.; native to Europe, sw Asia.</P>

<P><I>Consolida regalis</I> is widely and commonly
cultivated. In some areas it was apparently introduced as a contaminant
with wheat seed (N. G. Miller 1995) and subsequently became established.<BR>
<BR>
<BR>
<B>