3. <A NAME="27100360"></A><I>Consolida pubescens</I> (de Candolle) So&oacute;</B>,
Oesterr. Bot.Z. 71: 241. 1922</P>

<P><I>Delphinium pubescens</I> de Candolle in
J.Lamarck and A.P. de Candolle, Fl. Fran&ccedil;. ed 3, 5: 641. 1815</P>

<P><B>Stems</B> 1-5 dm, pubescent. <B>Leaves</B>
3-18. <B>Leaf blade</B> semicircular, 9-32-lobed, 1-3 cm wide, densely
pubescent, lobes less than 1.5mm wide. <B>Inflorescences</B> 8-35-flowered
or more, with 3 or more branches; proximal bracts simple or multifid; pedicel
ascending, 1-3 cm, pubescent; bracteoles not touching sepals, 6-17 mm from
flower, linear, 2.5-5 mm, pubescent. <B>Flowers:</B> sepals pale blue or
pale purple to white, pubescent, lower sepal 8-12 <I>&times;</I> 3-5 mm,
lateral sepals 9-15 <I>&times;</I> 5-10 mm, spur 12-20 mm; petals whitish
to bluish, lateral lobes 3-5 mm, terminal lobe 3-4 <I>&times;</I> 1-2 mm,
sinus 0.1-0.5 mm. <B>Follicles</B> 10-15 mm, pubescent.</P>

<P>Flowering summer. Waste places, railroads;
70-1000 m; introduced; Ill., Mo., N.Dak., Tenn., Wis.; native to sw Europe,
nw Africa.</P>

<P><I>Consolida pubescens</I> is not so commonly
cultivated as <I>C</I>. <I>ajacis</I> or <I>C</I>. <I>orientalis</I>.<BR>
<BR>
<BR>
<B>