1. <A NAME="27102383"></A><I>Consolida ajacis</I> (Linnaeus) Schur</B>,
Verh. Mitth. Siebenb&uuml;rg. Vereins Naturwiss. Hermannstadt 4: 47. 1853
- F</P>

<P><I>Delphinium ajacis</I> Linnaeus, Sp. Pl.
1: 531. 1753</P>

<P><B>Stems</B> 3-8(-10) dm, glabrous to sparsely
puberulent. <B>Leaves</B> 5-20 or more. <B>Leaf blade</B> orbiculate, 12-60-lobed
or more, 1-5 cm wide, glabrous to puberulent, lobes less than 1.5 mm wide.
<B>Inflorescences</B> 6-30(-75)-flowered, simple or with 3 or fewer branches;
bracts (at least lowermost 2) with 5 or more lobes; pedicel ascending-spreading,
1-3(-5) cm, &plusmn; puberulent; bracteoles not touching sepals, 4-20mm
from flower, &plusmn; linear, 1-3mm, &plusmn; puberulent. <B>Flowers:</B>
sepals blue to purple, rarely pink or white, nearly glabrous, lower sepal
8-18 &times; 4-8mm, lateral sepals 8-18 <I>&times;</I> 6-14 mm, spur 12-20
mm; petals of same color as sepals or whiter, lateral lobes 3-6mm, terminal
lobes 5-8 <I>&times;</I> 2-4 mm, sinus 0.2-1 mm. <B>Follicles</B> 12-25
mm, puberulent.</P>

<P>Flowering summer. Waste places, old homesites,
drainage ditches, roadsides, and railroads; 0-2000 m; introduced; B.C.,
Man., Ont.; Ala., Ariz., Ark., Calif., Conn., Del., D.C., Fla., Ga., Ill.,
Ind., Iowa, Kans., Ky., La., Md., Mass., Mich., Minn., Miss., Mo., Mont.,
Nebr., N.C., N.Dak., N.J., N.Y., Ohio, Okla., Pa., R.I., S.C., Tenn., Tex.,
Vt., Va., W.Va., Wis.; native to Europe and Africa; introduced in Asia
and Australia.</P>

<P>In many floras the names <I>Consolida ambigua</I>
(Linnaeus) Ball &amp; Heywood and <I>Delphinium ambiguum</I> Linnaeus have
been misapplied to this taxon.</P>

<P><I>Consolida ajacis</I> has escaped and become
more or less naturalized in many temperate and subtropical parts of the
world. It is by far the most commonly encountered species of <I>Consolida</I>
in North America.</P>

<P>The Cherokee used <I>Consolida ajacis</I>
medicinally in infusions to treat heart problems (D. E. Moerman 1986, as
<I>Delphinium ajacis</I>).<BR>
<BR>
<BR>
<B>