4. <A NAME="27100081"></A><I>Coptis trifolia</I> (Linnaeus) Salisbury</B>,
Trans. Linn. Soc. London 8:305. 1807 - Goldthread, goldenroot, yellow snakeroot,
savoyana, coptide trifoliol&eacute;e - F W1</P>

<P><I>Helleborus trifolius</I> Linnaeus, Sp.
Pl. 1: 558. 1753; <I>Coptis groenlandica</I> (Oeder) Fernald; <I>C</I>.
<I>trifolia</I> subsp. <I>groenlandica</I> (Oeder) Hult&eacute;n</P>

<P><B>Rhizomes</B> bright yellow to orange. <B>Leaves:</B>
blade ternate; leaflets sessile or short-petiolulate, blade cuneate-obovate,
margins serrate, slightly lobed distally. <B>Inflorescences</B> 1-flowered,
usually equal to or longer than leaves at anthesis, 3-17 cm, not elongating
in fruit. <B>Flowers</B> erect; sepals spreading, oblanceolate to obovate
or elliptic, 4-11&times; 1-4 mm; petals clavate, nectary apical, blade
absent; stamens 30-60. <B>Follicles</B> 4-7; stipe equal to or longer than
body; body elliptic, 3.9-7 mm; beak straight to ascending, 2-4 mm. <B>Seeds</B>
1-1.5 mm. 2<I>n</I>=18.</P>

<P>Flowering late spring-summer (May-Aug). Wet
to mesic, coniferous and mixed forests, bogs, willow scrub, and tundra,
often associated with mosses; 0-1500m; Greenland; St. Pierre and Miquelon;
Alta., B.C., Man., N.B., Nfld., N.W.T., N.S., Ont., P.E.I., Que., Sask.;
Alaska, Conn., Ind., Maine, Md., Mass., Mich., Minn., N.H., N.J., N.Y.,
Ohio, Pa., R.I., Vt., W.Va., Wis.; e Eurasia.</P>

<P>M.L. Fernald (1929) treated plants from Greenland
and eastern North America as <I>Coptis groenlandica</I> and those from
Alaska and eastern Asia as <I>C</I>. <I>trifolia</I>. He did concede, however,
that intermediates do occur. E.Hult&eacute;n (1937) treated the two taxa
as subspecies but concluded that <I>C</I>. <I>trifolia</I> subsp. <I>trifolia</I>
was restricted to the Aleutian Islands in North America. Plants from southeastern
Alaska were comparable to material from Greenland and were called <I>C</I>.
<I>trifolia</I> subsp. <I>groenlandica</I>. Hult&eacute;n (1944) later
reversed this decision, concluding that the differences between the two
subspecies were too slight to warrant their continued recognition. Finally,
R. L. Taylor and G. A. Mulligan (1968), in their study of North American
<I>Coptis</I>, found that the two subspecies could be distinguished on
the basis of sepals and seed shape: subsp. <I>trifolia</I> having clawed
petals and quadrate seeds; subsp. <I>groenlandica</I> possessing sepals
that gradually narrow toward the base and round seeds.</P>

<P>Petiolule length, sepal width, the length-to-width
ratio of the nectary, follicle body and beak length, and sepal and seed
shape have been used most commonly to distinguish these two taxa. My comparison
of herbarium specimens from the Aleutian Islands, the rest of North America,
and eastern Asia indicated that no clear distinction could be made (table
1). Some plants from eastern Asia and the Aleutian Islands had more distinctly
clawed sepals than those from eastern North America but this was not evident
on all individuals. Seeds from eastern North American plants were found
to be variable in shape, with all seeds having at least one angle in cross
section.<BR>
<BR>

<P>
Table 1. Morphological comparison of <I>Coptis trifolia</I><BR>

<BR>from the Aleutian Islands, the rest of North America, and Asia.<BR>

<P>Other</P>

<P>Aleutians N. Amer. Asia</P>

<BR>
Petiolules (mm) 0.3-0.8 0.5-3.5 0.5-3</P>

<P>Sepals (mm wide) 1.7-2.9 1-3.6 1.8-4.5</P>

<P>Nectaries (L:W ratio) 0.9-1.3 0.8-1.3 0.9-1.6</P>

<P>Follicle</P>

<P>bodies (mm) 3.9-5.3 4-7 4.8-5.5<BR>
<BR>
Follicle beaks (mm) 3-3.5 2.3-3.8 2.2-3<BR>
<BR>
Native Americans used various preparations made from the roots of <I>Coptis
trifolia</I> medicinally to treat stomach cramps, jaundice, sore mouth
and throat, gum problems, and worms, to stop vomiting, especially for children,
as eyedrops, for teething, and as an astringent (D. E. Moerman 1986).<BR>
</P>

