2. <A NAME="27100914"></A><I>Coptis laciniata</I> A.Gray</B>, Bot. Gaz.
12:297. 1887 - E F</P>

<P><B>Rhizomes</B> pale brown. <B>Leaves:</B>
blade 2-ternate or ternate with leaflets deeply 3-lobed almost to base;
leaflets short- to long-petiolulate, blade ovate to triangular, incised-lobate
nearly to midvein, margins sharply serrulate-denticulate. <B>Inflorescences</B>
2-4-flowered, often shorter than leaves at anthesis, 5-10 cm, elongating
to 25 cm in fruit. <B>Flowers</B> nodding; sepals reflexed and ascending,
linear-lanceolate, 6-11&times; 0.3-1 mm; petals linear-lanceolate, nectary
nearly basal, blade flattened, narrowly ligulate at apex; stamens 10-25.
<B>Follicles</B> 5-11; stipe equal to or slightly shorter than body; body
oblong, 8-13.5 mm; beak recurved, less than 1mm. <B>Seeds</B> 2-2.5 mm.</P>

<P>Flowering spring-summer. Moist woods, stream
banks, seeps, and wet cliffs in the coastal mountains; 500-2000 m; Calif.,
Oreg., Wash.<BR>
<BR>
<BR>
<B>