1. <A NAME="27100913"></A><I>Coptis aspleniifolia</I> Salisbury</B>,
Trans. Linn. Soc. London 8:306. 1807 - E F</P>

<P><B>Rhizomes</B> pale brown. <B>Leaves:</B>
blade 2-pinnate with pinnatifid leaflets to 3-pinnate, occasionally 2-ternate;
leaflets short- to long-petiolulate, blade ovate, deeply lobed or incised,
margins sharply serrate. <B>Inflorescences</B> 2-3-flowered, often longer
than leaves at anthesis, 8-12 cm, elongating to 35 cm in fruit. <B>Flowers</B>
nodding; sepals reflexed and ascending, linear-lanceolate, 6-11(-15)&times;
0.3-1 mm; petals linear-lanceolate, nectary nearly basal, blade flattened,
narrowly ligulate at apex; stamens 9-15. <B>Follicles</B> 6-10; stipe equal
to or slightly longer than body; body oblong, 7-10 mm; beak recurved, less
than 1mm. <B>Seeds</B> 1.8-2.2 mm. 2<I>n</I>=18.</P>

<P>Flowering spring. Moist, coniferous forests,
seeps, and bogs; 0-1500m; B.C.; Alaska, Wash.</P>

<P>This species is widespread in coastal areas
from southern British Columbia to southeastern Alaska. The Washington State
Heritage Program tracks this species as &quot;state-rare&quot; in Snohomish
County, Washington; I have not seen any specimens to confirm its presence
in the state.</P>

<P><I>Coptis aspleniifolia</I>, <I>C</I>. <I>laciniata</I>,
and <I>C</I>. <I>occidentalis</I> form a group of morphologically similar,
allopatric species that are probably recently derived. The species may
have originated in response to the opening of the western Cordilleran landscape
after Pleistocene glaciation and could be considered localized variants
of a single species. Although most individuals can be readily distinguished,
some can be difficult to place.</P>

<P>A putative hybrid between <I>Coptis aspleniifolia</I>
and <I>C</I>. <I>trifolia</I> has been found along the Kennedy River of
Vancouver Island, British Columbia (T.C. Brayshaw, pers. comm.). It has
3-5 deeply dissected leaflets per leaf and no complete flowers.<BR>
<BR>
<BR>
<B>