3. <A NAME="27100915"></A><I>Coptis occidentalis</I> (Nuttall) Torrey
&amp; A.Gray</B>, Fl. N. Amer. 1:28. 1838 - F</P>

<P><I>Chrysocoptis occidentalis</I> Nuttall,
J.Acad. Nat. Sci. Philadelphia 7:8. 1834</P>

<P><B>Rhizomes</B> pale brown. <B>Leaves:</B>
blade ternate; leaflets long-petiolulate, blade widely ovate, incised with
2-3 lobes divided ca. 1/2 length to base, margins sharply serrate-denticulate.
<B>Inflorescences</B> 2-3(-5)-flowered, often shorter than leaves at anthesis,
10-25 cm, elongating to 32 cm in fruit. <B>Flowers</B> erect; sepals spreading
to reflexed, linear-lanceolate, 7-11&times; 0.4-1 mm; petals linear-lanceolate,
nectary nearly basal, blade flattened, narrowly ligulate at apex; stamens
10-35. <B>Follicles</B> 5-15; stipe slightly shorter than body; body oblong,
7.5-14 mm; beak recurved, less than 1 mm. <B>Seeds</B> 2.2-2.6 mm.</P>

<P>Flowering spring. Moist, coniferous woods;
500-2000 m; Idaho, Mont., Wash.<BR>
<BR>
<BR>
<B>