

<P><B>18. COPTIS Salisbury</B>,
Trans. Linn. Soc. London 8:305. 1807 - Goldthread, coptide [Greek, <I>kopto</I>,
to cut, referring to dissected leaves]</P>

<P><B>Herbs</B>, perennial, from orange, yellow,
or pale brown, slender rhizomes 0.5-2 mm thick. <B>Leaves</B> basal, petiolate.
<B>Leaf blade</B> 1-2-ternately compound, 1-2-pinnately compound, or deeply
divided; leaflets ovate or triangular, lobed or parted, margins sharply
serrate to denticulate. <B>Inflorescences</B> scapose, 1-4-flowered cymes,
to 3 cm (9 cm in fruit); bracts absent. <B>Flowers</B> bisexual and staminate
(all bisexual in <I>C</I>. <I>trifoliata</I>), radially symmetric; sepals
not persistent in fruit, 5-7, green to white, plane, linear-lanceolate,
oblanceolate to obovate or elliptic, occasionally clawed, 4.2-11 mm; petals
5-7, distinct, green, plane or concave distally, either clavate with adaxial
nectary at apex or linear with adaxial nectary near base, clawed, 2-7 mm;
stamens 10-60; filaments filiform; staminodes absent between stamens and
pistils; pistils 4-15, simple; ovules 4-10 per pistil; style present. <B>Fruits</B>
follicles, aggregate, stipitate, forming umbel-like clusters, oblong to
ellipsoid, sides not veined; beak present or absent, terminal, straight
or apically hooked, 0-4 mm. <B>Seeds</B> dark brown to tan, ellipsoid,
shiny, often appearing wrinkled. <I>x</I>=9.</P>

<P>Species ca. 10 (4 in the flora): temperate
and boreal regions of North America and Asia.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Fernald, M. L. 1929. <I>Coptis trifolia</I> and its eastern American
representative. Rhodora 31: 136-142. Hult&eacute;n, E. 1937. Flora of the
Aleutian Islands and Westernmost Alaska Pensinsula with Notes on the Flora
of Commander Islands.... Stockholm.<BR>
<BR>
<BR>
<B>