4. <A NAME="24000176"></A><I>Corydalis pauciflora</I> (Stephan ex Willdenow)
Persoon</B>, Syn. Pl. 2: 269. 1807</P>

<P><I>Fumaria pauciflora</I> Stephan ex Willdenow,
Sp. Pl. 3(2): 861. 1803; <I>Corydalis arctica</I> Popov; <I>C</I>. <I>pauciflora</I>
(Stephan ex Willdenow) Persoon var. <I>albiflora</I> A.&nbsp;E. Porsild</P>

<P><B>Plants</B> perennial, from small, tuberous,
usually forked taproots with fibrous rootlets at base, sometimes with 1-several
accessory buds at summit. <B>Stems</B> usually 1-3, erect, mostly 0.8-2&nbsp;dm,
often with 1-2 basal scales. <B>Leaves</B> 2-5, simple; blade with 2 orders
of lobes; ultimate lobes elliptic. <B>Inflorescences</B> terminal, racemose,
3-5-flowered, flowers crowded at summit of stout peduncle; bracts inconspicuous,
ovate to obovate, 4-10 &times; 3-5&nbsp;mm, proximal bract largest. <B>Flowers</B>
erect; pedicel stout, 4-10&nbsp;mm; sepals caducous, 1-2 &times; 1-2&nbsp;mm,
margins variously dentate; petals blue, often tinged purple; spurred petal
17-20&nbsp;mm, spur abruptly incurved near apex, 7-10&nbsp;mm, crest low,
extending to apex, marginal wing narrow, unspurred outer petal 10-12&nbsp;mm,
margins revolute; inner petals 8-10&nbsp;mm, blade obovate, claw slender,
ca. 4-5&nbsp;mm; nectariferous spur clavate, 2/3-3/4 length of petal spur;
style ca. 2&nbsp;mm; stigma 4-lobed, rhomboid, narrower toward base. <B>Capsules</B>
reflexed, ellipsoid to obovoid, ca. 12 &times; 5&nbsp;mm. <B>Seeds</B>
essentially smooth. 2<I>n</I>&nbsp;=&nbsp;16.</P>

<P>Flowering early-mid summer. Tundra; 0-1100&nbsp;m;
B.C., N.W.T., Yukon; Alaska; Asia.</P>

<P>This distinctive species is the only blue-flowered
member of the genus in the flora area. It is an essentially Asiatic species
whose distribution extends across the Bering Strait into North America.<BR>
<BR>
<BR>
<B>