9. <A NAME="24000168"></A><I>Corydalis curvisiliqua</I> (A.&nbsp;Gray)
A.&nbsp;Gray</B>, Manual ed. 5, 62. 1867 - E</P>

<P><I>Corydalis aurea</I> Willdenow var. <I>curvisiliqua</I>
A.&nbsp;Gray, Proc. Acad. Nat. Sci. Philadelphia 15: 75. 1863</P>

<P><B>Plants</B> winter annual or perhaps biennial,
glaucous, from somewhat succulent roots. <B>Stems</B> 1-several, erect
to ascending, 1-4&nbsp;dm. <B>Leaves</B> compound; blade with 2-3 orders
of leaflets and lobes; ultimate lobes oblong, elliptic, or obovate, margins
sometimes incised, apex obtuse or rounded. <B>Inflorescences</B> racemose,
6-18-flowered, primary racemes usually exceeding leaves, more numerous
than secondary, fewer-flowered racemes; bracts ovate, to 15 &times; 6&nbsp;mm,
proximal bracts sometimes leaflike, distal usually slightly to greatly
reduced. <B>Flowers</B> spreading, often strongly curved; pedicel stout,
1-3&nbsp;mm; sepals ovate to attenuate-ovate, ca. 1&nbsp;mm, margins often
sinuate or dentate; petals bright yellow; spurred petal 15-18&nbsp;mm,
spur not appreciably incurved, 7-9&nbsp;mm, apex blunt, somewhat globose,
crest well developed to absent, wrinkled or dentate, marginal wing well
developed, unspurred outer petal bent, 12-15&nbsp;mm, crest similar to
that of spurred petal; inner petals oblanceolate, 9-12&nbsp;mm, claw slender,
nearly 1/2 petal length; nectariferous spur clavate, 4-6&nbsp;mm, bent
near apex; style ca. 5mm; stigma rectangular, 2-lobed, 1/2 as long as wide,
with 8 papillae. <B>Capsules</B> erect, linear, slender, straight to strongly
incurved, 20-35&nbsp;mm. <B>Seeds</B> ca. 2&nbsp;mm diam., appearing distinctly
roughened or faintly reticulate under magnification, marginal ring present
or essentially absent.</P>

<P>Subspecies 2 (2 in the flora): c United States.<BR>
</P>

<P><B>