2c. <A NAME="24000955"></A><I>Corydalis
caseana</I> A.&nbsp;Gray subsp. <I>brachycarpa</I> (Rydberg) G.&nbsp;B.
Ownbey</B>, Ann. Missouri Bot. Gard. 34: 204-205. 1947<B> </B>- C E</P>

<P><I>Capnoides brachycarpum</I> Rydberg, Bull.
Torrey Bot. Club 34: 426. 1907</P>

<P><B>Stems</B> mostly 4-10&nbsp;dm. <B>Flowers</B>:
outer petals with marginal wing highly developed, scarcely revolute, apex
rounded, occasionally minutely notched.</P>

<P>Flowering mid summer. On gravel bars along
streams; of conservation concern; 2550-3050&nbsp;m; Utah.</P>

<P>The epithet <I>brachycarpa</I>, apparently
intended to denote a difference between the capsules of this taxon and
those of its close relatives, is a misnomer since their fruits are all
similar. It may have resulted from a misinterpretation of the swollen capsules
commonly found on plants of this subspecies. Such fruits always contain
insect larvae that stimulate production of abnormal tissue, which increases
the fruit diameter significantly.<BR>
</P>

<P><B>