7. <A NAME="24000167"></A><I>Corydalis
crystallina</I> (Torrey &amp; A.&nbsp;Gray) A.&nbsp;Gray</B>, Manual ed.
5, 62. 1867; Bot. Gaz. 11: 189. 1886 - E</P>

<P><I>Corydalis aurea</I> Willdenow var. (&szlig;)
<I>crystallina</I> Torrey &amp; A.&nbsp;Gray, Fl. N. Amer. 1: 665. 1840</P>

<P><B>Plants</B> winter annual, glaucous, from
somewhat succulent roots. <B>Stems</B> 1-several, erect or ascending, 2-4&nbsp;dm.
<B>Leaves</B> compound; blade with 2 orders of leaflets and lobes; ultimate
lobes lanceolate to linear-lanceolate, margins incised, apex subapiculate.
<B>Inflorescences</B> racemose, (8-)12-15(-18)-flowered, primary racemes
exceeding leaves, later secondary racemes fewer flowered, exceeded by leaves;
bracts ovate to ovate-acuminate, 5-12 &times; 3-6&nbsp;mm, distal usually
much reduced. <B>Flowers</B> erect; pedicel stout, ca. 1&nbsp;mm; sepals
broadly ovate to cordate, somewhat attenuate, to 2&nbsp;mm, margins sometimes
incised; petals bright yellow; spurred petal 16-22&nbsp;mm, spur straight,
6-8&nbsp;mm, apex distinctly globose, crest very high, wrinkled or toothed,
marginal wing very broad, revolute, unspurred outer petal 12-14&nbsp;mm,
marginal wing broad, not revolute, enclosing margins of spurred petal in
bud; inner petals oblanceolate, 9-11&nbsp;mm, blade apex ca. 2 times wider
than base, basal lobes small, claw narrow, 4-5&nbsp;mm; nectariferous spur
clavate, 3.5-5&nbsp;mm, curved near apex; style slender, ca. 4&nbsp;mm;
stigma wider than long, with 8 papillae. <B>Capsules</B> erect, linear,
stout, straight to slightly incurved, 14-18&nbsp;mm, with numerous basally
pustulate whitish hairs or rarely glabrate. <B>Seeds</B> ca. 2&nbsp;mm
diam., minutely decorated, marginal ring absent.</P>

<P>Flowering mid-late spring. Prairies, fields,
open woods, and wasteland; 10-500&nbsp;m; Ark., Kans., Mo., Okla., Tex.</P>

<P>The peculiar pubescence of the capsules distinguishes
<I>Corydalis crystallina</I> from all others in the genus. Also, the crest
and marginal wing of the spurred petal are more highly developed than in
any other yellow-flowered species.<BR>
<BR>
<BR>
<B>