8a. <A NAME="24000328"></A><I>Corydalis
micrantha</I> (Engelmann ex A.&nbsp;Gray) A.&nbsp;Gray subsp. <I>micrantha</I>
</B>- E</P>

<P><B>Inflorescences</B>: racemes of chasmogamous
flowers not greatly exceeding leaves, often short; petal spur &plusmn;&nbsp;globose
at apex. <B>Capsules</B> often stout, commonly 10-15&nbsp;mm. 2<I>n</I>&nbsp;=&nbsp;16.</P>

<P>Flowering mid-late spring. Bluffs, rocky hills,
open woods, and river banks, often in disturbed soil; 0-600&nbsp;m; Ark.,
Ill., Iowa, Kans., Minn., Mo., Nebr., N.C., Okla., S.Dak., Tenn., Tex.,
Wis.<BR>
</P>

<P><B>