2b. <A NAME="24000166"></A><I>Corydalis
caseana</I> A.&nbsp;Gray subsp. <I>brandegei</I> (S.&nbsp;Watson) G.&nbsp;B.
Ownbey</B>, Ann. Missouri Bot. Gard. 34: 203-204. 1947<B> </B>- C E</P>

<P><I>Corydalis brandegei</I> S.&nbsp;Watson,
Bot. California 2: 430. 1880</P>

<P><B>Stems</B> mostly 10-15&nbsp;dm. <B>Flowers</B>:
outer petals with marginal wing highly developed, scarcely revolute, apex
rounded, minutely apiculate.</P>

<P>Flowering early-late summer. Very moist, subalpine
areas, particularly along streams; of conservation concern; 2400-3500&nbsp;m;
Colo., N.Mex.</P>

<P>Pressing sometimes distorts the features that
distinguish this subspecies.<BR>
</P>

<P><B>