

<P><B>3. CORYDALIS de
Candolle in J.&nbsp;Lamarck and A.&nbsp;P. de Candolle</B>, Fl. Fran&ccedil;.
ed. 3, 4: 637. 1805, name conserved - [Greek <I>korydallis</I>, crested
lark]</P>

<P><B>Herbs</B>, annual, biennial, or perennial,
caulescent, from taproots, tubers, or rhizomes. <B>Stems</B> erect to prostrate,
simple or branching. <B>Leaves</B> basal and/or cauline, simple or usually
compound; blade with 2-6 orders of leaflets and/or lobes. <B>Inflorescences</B>
axillary or terminal, paniculate or racemose, multifloral, sometimes cleistogamous-flowered
(in <I>Corydalis flavula</I>, occasionally <I>C</I>.&nbsp;<I>micrantha</I>).
<B>Flowers</B> bilaterally symmetric about 1 plane; sepals caducous or
persistent; petals distinct or somewhat coherent basally, not spongy; outer
petals dissimilar, each with median adaxial keel or crest, sometimes with
distal marginal wing, 1 basally spurred, the other sometimes gibbous but
not spurred; inner petals connate apically; stamens with nectariferous
spur projecting from near base of median filament in bundle opposite spurred
petal and adhering to inner surface of petal spur; ovary broadly ovoid
to obovoid; stigma persistent, with or without 2 lobes or apical horns,
or 4-8 papillar stigmatic surfaces. <B>Capsules</B> dehiscent, 2-valved.
<B>Seeds</B> few-many, reniform to subglobose, elaiosome usually present.
<I>x</I>&nbsp;=&nbsp;8.</P>

<P>Species ca. 100 (10 in the flora): temperate
North America, Eurasia, and Africa.</P>

<P>Several native species of <I>Corydalis</I>
have been grown as ornamentals, particularly <I>C</I>.&nbsp;<I>scouleri</I>,
<I>C</I>.&nbsp;<I>aurea</I>, <I>C</I>.&nbsp;<I>sempervirens</I>, and <I>C</I>.&nbsp;<I>caseana</I>;
they may be found as garden escapes in areas of the continent outside their
natural ranges. Two Eurasian species that are widely cultivated in the
flora area also escape sometimes, but evidently they are not truly naturalized
here. <I>Corydalis lutea</I> (Linneaus) de Candolle, reported from New
York and Oregon, can be distinguished from the native species that also
are rhizomatous perennials by its yellow petals and axillary racemes. <I>Corydalis
solida</I> (Linneaus) Swartz (sometimes identified as <I>C</I>.&nbsp;<I>bulbosa</I>
Persoon), reported from Connecticut, Massachusetts, Vermont, and southern
Ontario, can be distinguished from the native species that also are tuberous
perennials by its lack of sepals, pedicels usually longer than 10&nbsp;mm,
and sometimes yellow petals.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Ownbey, G.&nbsp;B. 1947. Monograph of the North American species of
<I>Corydalis</I>. Ann. Missouri Bot. Gard. 34: 187-260. Ownbey, G.&nbsp;B.
1951. On the cytotaxonomy of the genus <I>Corydalis</I>, section <I>Eucorydalis</I>.
Amer. Midl. Naturalist 45(1): 164-186. Ryberg,&nbsp;M. 1955. A taxonomical
survey of the genus <I>Corydalis</I> Ventenat, with reference to cultivated
species. Acta Hort. Berg. 17(5): 155-175.<BR>
<BR>
<BR>
<B>