1. <A NAME="24000178"></A><I>Corydalis scouleri</I> Hooker</B>, Fl.
Bor.-Amer. 1: 36, plate 14. 1829 - E F</P>

<P><B>Plants</B> perennial, from large, fleshy
rhizomes. <B>Stems</B> 1 or more, mostly 5-10&nbsp;dm. <B>Leaves</B> ca.
3, compound, 10&nbsp;cm or more; blade with 3 orders of leaflets and lobes;
ultimate lobes broadly elliptic or less commonly ovate to obovate with
rounded apex, sometimes narrowly elliptic with acute apex, 1-8 &times;
0.5-4&nbsp;cm, minutely apiculate. <B>Inflorescences</B> axillary or terminal,
racemose or paniculate, 15-35-flowered on primary axis; bracts inconspicuous,
proximal bracts narrowly elliptic, distal linear and much reduced. <B>Flowers</B>
erect; pedicel 2-5&nbsp;mm; sepals caducous, ovate to broadly lanceolate,
1-2&nbsp;mm, margins lacerate or dentate; petals light to deep pink; spurred
petal usually somewhat curved, 20-25&nbsp;mm, spur lanceoloid, 14-20&nbsp;mm,
crest well developed, usually exceeding petal apices, marginal wing absent;
unspurred outer petal boat-shaped, 12-15&nbsp;mm; inner petals not tipped
deep red or purple, usually 9-11&nbsp;mm, blade much wider at apex, claw
slender, equaling blade in length; nectariferous spur 1/2-2/3 length of
petal spur, bent or hooked at apex; style ca. 3&nbsp;mm; stigma roughly
triangular, with 2 apical and 2 lateral papillae. <B>Capsules</B> reflexed,
obovoid, 10-15 &times; 4-5&nbsp;mm. <B>Seeds</B> ca. 3.5&nbsp;mm diam.,
with numerous small protuberances. 2<I>n</I>&nbsp;=&nbsp;ca. 130.</P>

<P>Flowering mid spring-early summer. Moist,
shady woods, particularly along streams; 0-1100&nbsp;m; B.C.; Oreg., Wash.</P>

<P><I>Corydalis scouleri</I> is restricted to
cool, wet habitats from northwestern Oregon northward to Vancouver Island.
It is most easily distinguished from <I>Corydalis caseana</I> by the usually
highly developed crests and absence of wings on its outer petals. The stigma
is essentially triangular (versus rectangular in <I>C</I>.&nbsp;<I>caseana</I>),
and the capsule shape (typically obovoid) is rarely approached in <I>C</I>.&nbsp;<I>caseana</I>.<BR>
<BR>
<BR>
<B>