6. <A NAME="24000171"></A><I>Corydalis flavula</I> (Rafinesque) de Candolle
in A.&nbsp;P. de Candolle and A.&nbsp;L.&nbsp;P. de Candolle</B>, Prodr.
1: 129. 1824 -&nbsp;E</P>

<P><I>Fumaria flavula</I> Rafinesque, J.&nbsp;Bot.
(Desvaux) 1: 224. 1808; <I>Capnodes flavulum</I> (Rafinesque) Kuntze</P>

<P><B>Plants</B> annual, from somewhat succulent
roots. <B>Stems</B> 1-several, initially erect, often becoming prostrate
or ascending, usually 1.5-3&nbsp;dm. <B>Leaves</B> compound; blade with
2 orders of leaflets and lobes; ultimate lobes elliptic, variable in size,
margins incised, apex subapiculate. <B>Inflorescences</B> racemose, commonly
6-10-flowered, equaling or barely exceeding leaves, sometimes poorly developed,
cleistogamous-flowered racemes present, inconspicuous, 1-5-flowered; bracts
elliptic, 6-12 &times; 3-7&nbsp;mm, proximal bracts often leaflike or variously
incised, distal reduced and entire. <B>Flowers</B> erect; pedicel slender,
6-15&nbsp;mm or more; sepals lanceolate, ca. 1&nbsp;mm; petals pale yellow,
spurred petal 7-9&nbsp;mm, spur incurved, ca. 2&nbsp;mm, crest high, marginal
wing well developed, both crest and wing wrinkled or dentate, unspurred
outer petal similar to spurred petal, 6-8&nbsp;mm; inner petals 5-7&nbsp;mm,
blade apex ca. 2 times wider than distinctly lobed base, claw 2-3&nbsp;mm;
nectariferous spur less than 1/2 length of petal spur; style 1.5-2&nbsp;mm;
stigma wider than long, with 4 terminal papillae. <B>Capsules</B> pendent,
linear, straight or sometimes reflexed, (14-)18-20(-22)&nbsp;mm. <B>Seeds</B>
ca. 2&nbsp;mm diam., minutely decorated on narrow marginal ring.</P>

<P>Flowering early-late spring. Wooded slopes,
bottomlands, and rock outcrops, in moist, loose soil; 0-650&nbsp;m; Ont.;
Ala., Ark., Del., D.C., Fla., Ill., Ind., Iowa, Kans., Ky., La., Md., Mich.,
Miss., Mo., Nebr., N.J., N.Y., N.C., Ohio, Okla., Pa., S.C., Tenn., Va.,
W.Va.<BR>
</P>

<P><B>