5. <A NAME="24000010"></A><I>Corydalis sempervirens</I> (Linnaeus) Persoon</B>,
Syn. Pl. 2: 269. 1807 - Pink and yellow corydalis, pale corydalis, harlequin-flower,
corydale toujours verte - E F W1</P>

<P><I>Fumaria sempervirens</I> Linnaeus, Sp.
Pl. 2: 700. 1753; <I>Capnoides sempervirens</I> (Linnaeus) Borkhausen</P>

<P><B>Plants</B> biennial, from somewhat succulent
roots. <B>Stems</B> usually 1, erect, 0.5-8&nbsp;dm, very glaucous. <B>Leaves</B>
compound; blade with 3-4 orders of leaflets and lobes; ultimate lobes oblong-elliptic,
obtuse, apiculate. <B>Inflorescences</B> terminal, racemose or paniculate,
1-8-flowered on each axis; bracts inconspicuous, narrowly elliptic, 2-5
&times; 0.5-1&nbsp;mm. <B>Flowers</B> erect; pedicel slender, 5-20&nbsp;mm;
sepals ovate, short-attenuate, to 3&nbsp;mm; petals pink, tipped yellow;
spurred petal 10-15&nbsp;mm, spur blunt, 3-4&nbsp;mm, crest absent, marginal
wing relatively broad, revolute, unspurred outer petal 10-13&nbsp;mm; inner
petals 9-12&nbsp;mm, blade broadly obovate, with high, angular keel, claw
slender, 6-8&nbsp;mm; nectariferous spur 1/3 length of petal spur, blunt;
style ca. 4&nbsp;mm; stigma triangular, with 4 papillae. <B>Capsules</B>
erect, linear, straight, (25-)30-35(-50)&nbsp;mm. <B>Seeds</B> ca. 1&nbsp;mm
diam., minutely decorated. 2<I>n</I>&nbsp;=&nbsp;16.</P>

<P>Flowering early summer-early fall. Rock crevices,
talus, forest clearings, open woods, and on burned or otherwise disturbed
areas in shallow, often dry soil; 10-1550&nbsp;m; Alta, B.C., Man., N.B.,
Nfld., N.W.T., N.S., Ont., P.E.I., Que., Sask., Yukon; Alaska, Conn., Ga.,
Ill., Ind., Ky., Maine, Md., Mass., Mich., Minn., Mont., N.H., N.J., N.Y.,
N.C., Ohio, Pa., R.I., S.C., Tenn., Vt., Va., W.Va., Wis.</P>

<P>The Iroquois used a decoction prepared from
plants of <I>Corydalis sempervirens</I> medicinally to alleviate piles
(D.&nbsp;E. Moerman 1986).<BR>
<BR>
<BR>
<B>