10a. <A NAME="24000324"></A><I>Corydalis
aurea</I> Willdenow subsp. <I>aurea</I> </B>- F</P>

<P><B>Inflorescences</B>: racemes weak, generally
exceeded by leaves. <B>Flowers</B>: petals sometimes crested. <B>Capsules</B>
pendent or spreading at maturity, slender, 18-24(-30)mm. <B>Seeds</B> without
marginal ring. 2<I>n</I>&nbsp;=&nbsp;16.</P>

<P>Flowering spring-late summer. Talus slopes,
ledges, rocky hillsides, forest clearings, open shores, creek bottoms,
gravel pits, road cuts, and burned-over areas, in loose, often gravelly
soil; 100-3400&nbsp;m; Alta., B.C., Man., N.W.T., Ont., Que., Sask., Yukon;
Alaska, Ariz., Calif., Colo., Idaho, Ill., Mich., Minn., Mo., Mont., Nebr.,
Nev., N.H., N.Mex., N.Y., N.Dak., Ohio, Oreg., Pa., S.Dak., Tex., Utah,
Vt., Wash., Wis., Wyo.; n&nbsp;Mexico.</P>

<P><I>Corydalis aurea</I> subsp. <I>aurea</I>
intergrades at times with <I>C</I>. <I>aurea</I> subsp. <I>occidentalis</I>,
but usually the two can be distinguished readily when fruiting.<BR>
</P>

<P><B>