2e. <A NAME="24000961"></A><I>Corydalis
caseana</I> A.&nbsp;Gray subsp. <I>cusickii</I> (S.&nbsp;Watson) G.&nbsp;B.
Ownbey</B>, Ann. Missouri Bot. Gard. 34: 205-206. 1947<B> </B>- E</P>

<P><I>Corydalis cusickii</I> S.&nbsp;Watson,
Bot. California 2: 430. 1880; <I>Capnoides cusickii</I> (S.&nbsp;Watson)
A.&nbsp;Heller; <I>Corydalis caseana</I> A.&nbsp;Gray var. <I>cusickii</I>
(S.&nbsp;Watson) C.&nbsp;L. Hitchcock</P>

<P><B>Stems</B> 8-15&nbsp;dm. <B>Inflorescences</B>
not profusely branching. <B>Flowers</B>: outer petals with marginal wing
strongly developed, distinctly revolute, not eroded, apex rounded, distinctly
notched.</P>

<P>Flowering early-late summer. In and along
streams; 1500-2300&nbsp;m; Idaho, Oreg.<BR>
<BR>
<BR>
<B>