2d. <A NAME="24000957"></A><I>Corydalis
caseana</I> A.&nbsp;Gray subsp. <I>hastata</I> (Rydberg) G.&nbsp;B. Ownbey</B>,
Ann. Missouri Bot. Gard. 34: 206-207. 1947<B> </B>- E</P>

<P><I>Capnoides hastatum</I> Rydberg, Bull. Torrey
Bot. Club 34: 426. 1907; <I>Corydalis caseana</I> A.&nbsp;Gray var. <I>hastata</I>
(Rydberg) C.&nbsp;L. Hitchcock</P>

<P><B>Stems</B> 10-18&nbsp;dm. <B>Inflorescences</B>
profusely branching. <B>Flowers</B>: outer petals with marginal wing moderately
developed, distinctly revolute, minutely eroded, apex rounded, distinctly
notched.</P>

<P>Flowering early-late summer. In and along
streams; 900-1220&nbsp;m; Idaho.</P>

<P>This subspecies appears to be confined to
very wet habitats at intermediate elevations in a few Idaho counties.<BR>
</P>

<P><B>