2a. <A NAME="24000838"></A><I>Corydalis
caseana</I> A.&nbsp;Gray subsp. <I>caseana</I> </B>- E F</P>

<P><B>Stems</B> ca. 10&nbsp;dm. <B>Flowers</B>:
outer petals with marginal wing narrow or absent, apex of unspurred outer
petal acute.</P>

<P>Flowering early-late summer. Very moist, often
shady, forested areas, in springs, in and along streams, and on gravel
bars; 1200-1850&nbsp;m; Calif.<BR>
</P>

<P><B>