9b. <A NAME="24000326"></A><I>Corydalis
curvisiliqua</I> (A.&nbsp;Gray) A.&nbsp;Gray subsp. <I>grandibracteata</I>
(Fedde) G.&nbsp;B. Ownbey</B>, Ann. Missouri Bot. Gard. 34: 227-229. 1947<B>
</B>- E</P>

<P><I>Corydalis curvisiliqua</I> var. <I>grandibracteata</I>
Fedde, Repert. Spec. Nov. Regni Veg. 11: 291. 1912</P>

<P><B>Flowers</B>: petals with well-developed
crest. <B>Capsules</B> attenuate to apex, mostly 20-25&nbsp;mm. <B>Seeds</B>
appearing only faintly reticulate under magnification.</P>

<P>Flowering early-late spring. Disturbed areas;
100-500&nbsp;m; Ill., Iowa, Kans., Okla., Tex.<BR>
<BR>
<BR>
<B>