10b. <A NAME="24000325"></A><I>Corydalis
aurea</I> Willdenow subsp. <I>occidentalis</I> (Engelmann ex A.&nbsp;Gray)
G.&nbsp;B. Ownbey</B>, Ann. Missouri Bot. Gard. 34: 234-237. 1947</P>

<P><B><I>Corydalis aurea</I> var. <I>occidentalis</I>
Engelmann ex A.&nbsp;Gray, Manual ed. 5, 62. 1867; <I>C</I>. <I>curvisiliqua</I>
Engelmann subsp. <I>occidentalis</I> (Engelmann ex A.&nbsp;Gray) W.&nbsp;A.
Weber; <I>C</I>. <I>montana</I> Engelmann ex A.&nbsp;Gray</B></P>

<P><B>Inflorescences</B>: racemes robust, generally
exceeding leaves. <B>Flowers</B>: petals crested. <B>Capsules</B> erect
at maturity, stout, 12-20&nbsp;mm. <B>Seeds</B> with narrow marginal ring.</P>

<P>Flowering early spring-late summer. Bottomlands,
prairies, plains, foothills, mesas, ditches, railroad embankments, and
washes, in loose, often sandy, dry soil; 300-2800&nbsp;m; Ariz., Colo.,
Kans., Mo., Nebr., Nev., N.Mex., Okla., S.Dak., Tex., Utah, Wyo.; Mexico
(Chihuahua, Durango, Sinaloa, and Sonora).<BR>
</P>

