8b. <A NAME="24000327"></A><I>Corydalis
micrantha</I> (Engelmann ex A.&nbsp;Gray) A.&nbsp;Gray subsp. <I>australis</I>
(Chapman) G.&nbsp;B. Ownbey</B>, Ann. Missouri Bot. Gard. 34: 222-224.
1947<B> </B>- E</P>

<P><I>Corydalis aurea</I> Willdenow var. <I>australis</I>
Chapman, Fl.&nbsp;South. U.S. ed. 2, 604. 1883; <I>Capnoides halei</I>
Small; <I>Corydalis campestris</I> (Britton) J.&nbsp;T. Buchholz &amp;
E.&nbsp;J. Palmer; <I>C</I>.&nbsp;<I>halei</I> (Small) Fernald &amp; Schubert;
<I>C</I>.&nbsp;<I>micrantha</I> (Engelmann ex A.&nbsp;Gray) A.&nbsp;Gray
var. <I>australis</I> (Chapman) Shinners</P>

<P><B>Stems</B> usually weak. <B>Inflorescences</B>:
racemes of chasmogamous flowers often greatly exceeding leaves, elongate;
petal spur blunt, not globose at apex. <B>Capsules</B> slender, commonly
15-20&nbsp;mm.</P>

<P>Flowering very early-late spring. Abandoned
fields and waste areas, roadsides, and open woods, in disturbed, often
sandy soil; 10-650&nbsp;m; Ala., Ark., Fla., Ga., Ill., Kans., La., Miss.,
Mo., N.C., Okla., S.C., Tex.<BR>
</P>

<P><B>