8c. <A NAME="24001002"></A><I>Corydalis
micrantha</I> (Engelmann ex A.&nbsp;Gray) A.&nbsp;Gray subsp. <I>texensis</I>
G.&nbsp;B. Ownbey</B>, Ann. Missouri Bot. Gard. 34: 225-226. 1947<B> </B>-
E</P>

<P><I>Corydalis micrantha</I> var. <I>texensis</I>
(G.&nbsp;B. Ownbey) Shinners</P>

<P><B>Stems</B> usually stout. <B>Inflorescences</B>:
racemes of chasmogamous flowers often greatly exceeding leaves, elongate;
petal spur blunt, not globose at apex. <B>Capsules</B> slender, commonly
21-35&nbsp;mm.</P>

<P>Flowering very early-mid spring. Open alluvial
plains and uplands, in moist, often sandy soil; 0-200&nbsp;m; Tex.<BR>
<BR>
<BR>
<B>