8. <A NAME="24000173"></A><I>Corydalis micrantha</I> (Engelmann ex A.&nbsp;Gray)
A.&nbsp;Gray</B>, Bot. Gaz. 11: 189. 1886 - E</P>

<P><I>Corydalis aurea</I> Willdenow var. <I>micrantha</I>
Engelmann ex A.&nbsp;Gray, Manual ed. 5, 62. 1867; <I>Capnoides micranthum</I>
(Engelmann ex A.&nbsp;Gray) Britton</P>

<P><B>Plants</B> winter annual, glaucous to nearly
green, from somewhat succulent roots. <B>Stems</B> 1-several, erect to
prostrate-ascending, (1.5-)2-4(-6)&nbsp;dm. <B>Leaves</B> crowded, compound;
blade with 2 orders of leaflets and lobes; ultimate lobes ovate, oblong-elliptic,
or obovate, margins incised, apex subapiculate. <B>Inflorescences</B> racemose,
(6-)10-16(-20)-flowered, primary racemes slightly to conspicuously exceeding
leaves, secondary racemes fewer flowered, exceeded by leaves, cleistogamous-flowered
racemes frequently present, 1-5-flowered, inconspicuous; bracts elliptic
to attenuate-ovate, 5-8 &times; 2-4&nbsp;mm, margins denticulate, distal
bracts usually much reduced, those of cleistogamous racemes minute. <B>Flowers</B>
erect or spreading; pedicel 2-6&nbsp;mm; sepals ovate, to 1.5&nbsp;mm,
margins often sinuate or dentate; petals pale to medium yellow; spurred
petal slightly to strongly curved, (11-)12-14(-15)&nbsp;mm, spur straight,
4-7&nbsp;mm, apex obtuse or &plusmn;&nbsp;globose, crest low, wrinkled,
rarely obsolescent, marginal wing well developed, sometimes revolute, unspurred
outer petal slightly bent, 9-11&nbsp;mm, crest low; inner petals oblanceolate,
7-10&nbsp;mm, blade apex 2 times or more wider than base, basal lobes obscure,
claw 3-4&nbsp;mm; nectariferous spur straight or curved, sometimes clavate,
ca. 3/5 length of petal spur; style ca. 4&nbsp;mm; stigma rectangular,
2-lobed, 1/2 as long as wide, with 8 papillae. <B>Capsules</B> erect, linear,
slender, straight to slightly incurved, 10-35&nbsp;mm, essentially glabrous,
usually shorter in cleistogamous-flowered racemes. <B>Seeds</B> ca. 1.5&nbsp;mm
diam., concentrically and minutely decorated, marginal ring absent.</P>

<P>Subspecies 3 (3 in the flora): c,&nbsp;se&nbsp;United
States.</P>

<P><I>Corydalis micrantha</I> can be distinguished
readily from other yellow-flowered North American species by its very small
seeds. Cleistogamy is encountered regularly in <I>C</I>.&nbsp;<I>micrantha</I>.
A single plant from any part of the range may have only cleistogamous flowers,
only chasmogamous flowers, or both types. Plants having only cleistogamous
flowers usually are much more profusely and delicately branched. In <I>C</I>.&nbsp;<I>micrantha</I>,
at least, shade and age appear to play roles in the initiation of cleistogamy.<BR>
</P>

<P><B>