9a. <A NAME="24001006"></A><I>Corydalis
curvisiliqua</I> (A.&nbsp;Gray) A.&nbsp;Gray subsp. <I>curvisiliqua</I>
</B>- E</P>

<P><B>Flowers</B>: petals with no or only moderately
developed crest. <B>Capsules</B> usually abruptly acute at apex, mostly
25-35&nbsp;mm. <B>Seeds</B> appearing distinctly reticulate under magnification.</P>

<P>Flowering early-late spring. Sandy bottoms,
abandoned fields, open woods, hillsides, and valleys, in disturbed soils;
0-1500&nbsp;m; Tex.<BR>
</P>

<P><B>