2. <A NAME="24000163"></A><I>Corydalis caseana</I> A.&nbsp;Gray</B>,
Proc. Amer. Acad. Arts 10: 69. 1874 - Fitweed - W2</P>

<P><B>Plants</B> perennial, glaucous, from large,
fleshy roots. <B>Stems</B> 1-several, 10-15&nbsp;dm or more. <B>Leaves</B>
ca. 5, compound, to 10&nbsp;dm; blade with 2-4 orders of leaflets and lobes;
ultimate lobes of proximal cauline leaves narrowly to broadly elliptic,
1-5&nbsp;cm, apiculate. <B>Inflorescences</B> paniculate, 50 or more flowers
on primary axis; bracts inconspicuous, linear or narrowly elliptic, rarely
wider, proximal bracts ca. 10&nbsp;mm, distal greatly reduced. <B>Flowers</B>
ascending or spreading; pedicel 3-5&nbsp;mm; sepals persistent, round and
irregularly dentate to ovate, lunate, or attenuate-lanceolate with broad,
sometimes lobed base, 2-3&nbsp;mm; petals light pink to white, inner ones
tipped reddish purple; spurred petal often incurved, 16-25&nbsp;mm, spur
tapered or not, 9-16&nbsp;mm, apex obtuse, crest absent, inconspicuous,
or extending into beak beyond petal apices, marginal wing narrow to broad,
conspicuous; unspurred outer petal 10-15&nbsp;mm; inner petals 7-12&nbsp;mm,
claw 3-5&nbsp;mm; nectariferous spur 1/2-3/4 length of petal spur; style
3-4&nbsp;mm; stigma roughly rectangular, with 8 papillae. <B>Capsules</B>
reflexed, ellipsoid, 10-15 &times; ca. 3-5&nbsp;mm. <B>Seeds</B> ca. 2.5&nbsp;mm
diam., with numerous minute protuberances.</P>

<P>Subspecies 5 (5 in the flora): w&nbsp;United
States.</P>

<P>Significant livestock losses have been caused
by ingestion of <I>Corydalis caseana</I>, which is palatable to both cattle
and sheep, despite the toxicity.<BR>
</P>

<P><B>