10. <A NAME="24000161"></A><I>Corydalis aurea</I> Willdenow</B>, Enum.
Pl. 2: 740. 1809 - Golden corydalis, corydalis dor&eacute;e - W2</P>

<P><I>Capnodes aureum</I> (Willdenow) Kuntze</P>

<P><B>Plants</B> winter annual or biennial, glaucous,
from &plusmn;&nbsp;branched caudices. <B>Stems</B> 10-50, prostrate-ascending,
2-3.5&nbsp;dm. <B>Leaves</B> compound; blade with 3 orders of leaflets
and lobes; ultimate lobes elliptic, 1.5 times or more longer than wide,
margins incised, apex subapiculate. <B>Inflorescences</B> racemose, 10-20(-30)-flowered,
primary racemes shorter than to slightly exceeding leaves, secondary racemes
fewer flowered; bracts elliptic to linear, 4-10 &times; 1-2&nbsp;mm, rarely
larger, margins often denticulate toward apex, distal bracts usually much
reduced. <B>Flowers</B> at first erect, later reflexed; pedicel 5-10&nbsp;mm;
sepals ovate to attenuate-ovate, to 1-3&nbsp;mm, margins often sinuate
or dentate; petals pale to bright yellow; spurred petal 13-16&nbsp;mm,
spur straight or slightly incurved, 4-5&nbsp;mm, apex subglobose, crest
low and incised or absent, marginal wing moderately to well developed,
unspurred outer petal 9-11&nbsp;mm, crest same as that of spurred petal;
inner petals oblanceolate, 8-10&nbsp;mm, blade wider than claw and more
prominently winged toward apex, claw 3.5-4.5&nbsp;mm; nectariferous spur
2-3&nbsp;mm; style ca. 3&nbsp;mm; stigma 2-lobed, 1/2 as long as wide,
with 8 papillae. <B>Capsules</B> erect to pendent at maturity, linear,
often torulose, slender to somewhat stout, straight to moderately incurved,
12-24(-30)&nbsp;mm. <B>Seeds</B> nearly 2&nbsp;mm diam., appearing essentially
smooth under magnification, narrow marginal ring present or absent.</P>

<P>Subspecies 2 (2 in the flora): North America,
Mexico.</P>

<P>The Navaho used <I>Corydalis aurea</I> medicinally
for a variety of ailments, including rheumatism, diarrhea, sores on the
hands, stomachaches, menstrual problems, and sore throats, and as a general
disinfectant (D.&nbsp;E. Moerman 1986, no subspecies cited).<BR>
</P>

<P><B>