3. <A NAME="24000160"></A><I>Corydalis aqua-gelidae</I> M.&nbsp;Peck
&amp; W.&nbsp;C. Wilson ex M.&nbsp;Peck</B>, Leafl. W. Bot. 8: 39. 1956
- E</P>

<P><B>Plants</B> perennial, subaquatic to aquatic,
from relatively deep roots. <B>Stems</B> 1-several, hollow, 3-11&nbsp;dm,
succulent. <B>Leaves</B> several, compound, to 6&nbsp;dm; blade with 4-6
orders of leaflets and lobes; abaxial surface glaucous; ultimate lobes
of proximal cauline leaves elliptic to ovate, 5-12(-15) &times; 1.5-6&nbsp;mm.
<B>Inflorescences</B> racemose or paniculate, 20-70-flowered; bracts inconspicuous,
proximal to 10&nbsp;mm, distal reduced. <B>Flowers</B> ascending or spreading;
sepals rounded and irregularly dentate to attenuate-lanceolate with wide
base; petals pale to deep pink or lavender, red or purple at tips of inner
petals; spurred petal (10-)12-20&nbsp;mm, spur 9-11&nbsp;mm, crest conspicuous,
wrinkled, marginal wing absent or inconspicuous, unspurred outer petal
10-15&nbsp;mm; inner petals 7-12&nbsp;mm, claw 3-5&nbsp;mm; nectariferous
spur 1/2-3/4 length of petal spur; style ca. 3&nbsp;mm; stigma roughly
rectangular, with 8 papillae. <B>Capsules</B> reflexed, narrowly ellipsoid,
8-15 &times; ca. 3-5&nbsp;mm. <B>Seeds</B> ca. 2&nbsp;mm diam.</P>

<P>Flowering early-late summer. In and along
streams and springs, and in moist shady woods; 30-1100&nbsp;m; Oreg., Wash.</P>

<P>Because of morphologic intergradation with
<I>Corydalis caseana</I> subsp. <I>cusickii</I>, G.&nbsp;B. Ownbey (pers.
comm.) does not consider <I>Corydalis aqua-gelidae</I> a distinct species;
he believes that it probably should be treated as a subspecies of <I>C</I>.&nbsp;<I>caseana</I>.<BR>
<BR>
<BR>
<B>