

<P><B>3. DEERINGOTHAMNUS
Small</B>, Bull. Torrey Bot. Club 51:
389. 1924 - [For Charles Deering, frequent sponsor of J. K. Small in his
botanical explorations]</P>

<P><B>Shrubs</B>, 2-3(-5) dm, from stout-linear
or fusiform taproots. <B>Bark</B> thin, glabrate. <B>Shoots</B> arching
to semidecumbent, simple or sparingly branched, glabrate; lenticels pale;
buds naked. <B>Leaves</B> tardily deciduous. <B>Leaf blade</B> leathery,
glabrate. <B>Inflorescences</B> from axils of new shoot leaves, solitary
flowers; peduncle not bracteate. <B>Flowers</B> ascending to nodding; receptacle
flat-surfaced; sepals persistent, (2-)3(-4), oblong to ovate, imbricate
in bud; petals 6-9(-15) in 2 whorls, &plusmn;equal, fleshy, veins impressed
adaxially, imbricate in bud; stamens 10-20(-25), erect in flat-topped mass;
connective short-cylindric, extruding, blunt; pistils 1-5(-7), distinct,
narrowly fusiform, glabrate; ovules 3-8 per pistil in 2 staggered rows.
<B>Fruits</B> simple berries, 1-5 per flower, yellow-green, unevenly oblong-cylindric,
pulpy, insipid. <B>Seeds</B> 3-8 per pistil, bean-shaped to ovoid, coat
tough, margins absent.</P>

<P>Species 2 (2 in the flora): peninsular Florida.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Kral, R. 1983c. <I>Deeringothamnus</I>. In: R. Kral, ed. 1983. A Report
on Some Rare, Threatened, or Endangered Forest-related Plants of the South.
Washington. Pp. 452-456. [U.S.D.A. Forest Service Techn. Publ. R8-TP 2.]
Wilbur, R. L. 1970. Taxonomic and nomenclatural observations on the eastern
North American genus <I>Asimina</I> (Annonaceae). J. Elisha Mitchell Sci.
Soc. 86(2): 88-96.</P>

<P><B>