1.<A NAME="01601344"></A><I>Deeringothamnus
pulchellus</I> Small</B>, Bull. Torrey
Bot. Club 51: 390. 1924 - Beautiful pawpaw - C E F</P>

<P><I>Asimina pulchella</I> (Small) Rehder &amp;
Dayton</P>

<P><B>Leaves:</B> petiole 2-4 mm. <B>Leaf blade</B>
spreading-ascending, mostly elevated above shoots, oblong to oblong-ovate
or spatulate, 4-7 cm, base cuneate to narrowly rounded, margins narrowly
revolute, apex obtuse to broadly rounded, often notched. <B>Inflorescences:</B>
peduncle slender, 1-3cm. <B>Flowers</B> nodding to ascending, white to
pale pink, sweetly fragrant; sepals 2-4, erect, ovate-triangular, ca. 5
mm; petals 6-12(-15), ascending to apically recurved, linear or narrowly
oblong, 2-3 cm &times; ca. 2 mm; pistils (1-)5(-7). <B>Berries</B> 4-7cm.
<B>Seeds</B> 1-1.5 cm, slightly flattened laterally.</P>

<P>Flowering late winter-spring, all year on
disturbance. Sandy peats of slash pine-palmetto flats, savannas; of conservation
concern; 0-50 m; Fla.</P>

<P><I>Deeringothamnus pulchellus</I> commonly
associates with <I>Asimina reticulata</I> and overlaps with that species
in flowering times; no hybrids between them have been observed. When protected
from fire, the elongate and branching shoots of <I>D</I>.&nbsp; <I>pulchellus</I>
and <I>D</I>.&nbsp; <I>rugelii</I> will persist, but such new growth rarely
produces flowers. A conservation measure for such species must involve
periodic burning.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Rehder, A.J. and W.A. Dayton. 1944. A new combination in <I>Asimina</I>.
J.Arnold Arbor. 25: 84. Small, J.K. 1926. <I>Deeringothamnus pulchellus</I>.
Addisonia 11: 33-34.<BR>
</P>

<P><B>