2.<A NAME="01600126"></A><I>Deeringothamnus
rugelii</I> (B. L. Robinson) Small</B>,
Addisonia 15: 17, plate 489. 1930 - Rugel's pawpaw - C E F</P>

<P><I>Asimina rugelii</I> B. L. Robinson in A.
Gray et al., Syn. Fl. N. Amer. 1(1): 465. 1897</P>

<P><B>Leaves:</B> petiole 1-2 mm. <B>Leaf blade</B>
oblong to obovate or oblanceolate, 1-7 cm, margins revolute, apex acute
to obtuse, broadly rounded, often notched. <B>Inflorescences:</B> peduncle
slender, 1-2.5 cm. <B>Flowers</B> spreading-ascending to recurved, canary
yellow, rarely purple, faintly fragrant; sepals 2-3, erect or slightly
spreading, ovate to oblong, ca. 10 mm, apex acute; petals prevalently 6,
ascending to slightly spreading, lance-oblong, ca. 1.5 cm &times; ca. 3-4
mm; pistils (2-)5(-7), fusiform. <B>Berries</B> 3-6 cm. <B>Seeds</B> 1-1.5
cm, &plusmn; compressed laterally.</P>

<P>Flowering spring, all year as disturbance
reaction. Moist sandy peats of slash pine-palmetto flats, savannas; of
conservation concern; 0-50 m; Fla.</P>

<P><I>Deeringothamnus rugelii</I> commonly associates
with both <I>Asimina pygmaea</I> and <I>A</I>.&nbsp; <I>reticulata</I>,
and overlaps in flowering time with both. No hybrids between the two genera
had been observed until a recent discovery of a putative hybrid between
<I>D</I>.&nbsp; <I>rugelii</I> and <I>Asimina reticulata</I> by Dr. E.&nbsp;
Norman (pers. comm. 1994).</P>

<P><B>SELECTED REFERENCE<BR>
</B>Small, J.&nbsp; K. 1930. <I>Deeringothamnus rugelii</I>. Addisonia
15: 17-18.<BR>
<BR>
</P>

