28. <A NAME="27100990"></A><I><B>Delphinium umbraculorum</B></I><B>
H.&nbsp;F. Lewis &amp; Epling</B></B>,
Brittonia 8: 19.  1954 - Umbrella larkspur -&nbsp;E 
<P>
<B>Stems</B>
40-70(-90)&nbsp;cm; base often reddish, glabrous or puberulent.
 <B>Leaves</B> usually present on proximal 1/5 of stem at anthesis;
basal leaves 0-3 at anthesis; cauline leaves 3-7 at anthesis;
petiole 0.8-12&nbsp;cm.  <B>Leaf blade</B> round to pentagonal,
1.5-4&nbsp;&#215; 2-6&nbsp;cm, nearly glabrous; ultimate lobes
3-13, width 3-20&nbsp;mm (basal), 1-8&nbsp;mm (cauline).  <B>Inflorescences</B>
(5-)10-25(-45)-flowered, open, narrowly pyramidal; pedicel 0.5-3(-7)&nbsp;cm,
glabrous to puberulent; bracteoles 3-7&nbsp;mm from flowers, green,
linear, 3-6&nbsp;mm, puberulent.  <B>Flowers:</B> sepals dark
blue, puberulent, lateral sepals spreading, 9-16&nbsp;&#215; 4-7&nbsp;mm,
spurs gently upcurved, ascending 30-45&#176; above horizontal,
8-14&nbsp;mm; lower petal blades elevated, exposing stamens, 3.5-6&nbsp;mm,
clefts 0.5-1.5&nbsp;mm; hairs densest near junction of blade and
claw above base of cleft, centered or on inner lobes, white. 
<B>Fruits</B> 9-16(-19)&nbsp;mm, 2.5-3(-4) times longer than wide,
puberulent.  <B>Seeds:</B> seed coat cells brick-shaped, cell
margins straight, surfaces smooth.  2<I>n</I>&nbsp;=&nbsp;16.
 
<P>
 Flowering late spring-early summer.
 Slopes in oak forests; 400-1600&nbsp;m; Calif.  
<P>
 <I>Delphinium umbraculorum</I> is most
often confused with <I>D</I>.&nbsp;<I>patens</I> subsp. <I>hepaticoideum</I>;
refer to discussion of that taxon for distinguishing features.
 Hybrids occur with <I>D</I>.&nbsp;<I>parryi</I> and <I>D</I>.&nbsp;<I>patens</I>
subsp. <I>montanum</I>. <BR>

<P>
<B>