25b. <A NAME="27100965"></A><I><B>Delphinium parishii</B></I><B>
A. Gray subsp. <I>subglobosum</I> (Wiggins) H. F. Lewis
&amp; Epling</B></B>, Brittonia
8: 15.  1954 
<P>
<I>Delphinium subglobosum</I>
Wiggins, Contr. Dudley Herb. 1: 99.  1929
<P>
<B>Stems</B>
(19-)30-50(-78) cm.  <B>Leaves</B> basal and cauline; ultimate
lobes 7-12, lobes of basal leaves nearly as narrow as lobes of
cauline.  <B>Inflorescences:</B> pedicel 3-20 mm, 8-17 mm
apart.  <B>Flowers:</B> sepals dark blue, usually spreading, lateral
sepals 9-13 &#215; 5-7 mm, spurs 12-14 mm; lower petal
blades 4-6 mm.  <B>Fruits</B> 8-11 mm.  
<P>
 Flowering late winter-mid spring. 
Dry chaparral and desert scrub; 600-1300 m; Calif.; Mexico
(Baja California).  
<P>
 <I>Delphinium parishii</I> subsp. <I>subglobosum</I>
occurs only on the eastern side of peninsular ranges. 
<P>
 <I>Delphinium parishii</I> subsp. <I>subglobosum</I>
hybridizes with <I>D</I>. <I>parryi</I> subsp. <I>parryi</I>.
 Likely to be confused only with <I>D</I>. <I>parryi</I>,
<I>D</I>. <I>parishii</I> subsp. <I>subglobosum</I> may be
differentiated from that species by its lack of arched hairs on
stems. <BR>

<P>
<B>
