36b. <A NAME="27103412"></A><I><B>Delphinium carolinianum</B></I><B>
Walter subsp. <I>calciphilum</I> M. J. Warnock</B></B>,
Phytologia 68: 4. 1990 - E 
<P>
<B>Roots</B>
without elongate central axis; faxcicles 2-8, &#177; horizontal.
<B>Stems</B> 20-40(-70) cm. <B>Leaves</B> usually basal and
cauline at anthesis; distalmost petioles more than 5 mm.
<B>Leaf blade</B> with 3 major divisions; ultimate lobes of midcauline
leaf blades 5-12, width 2-4 mm. <B>Flowers:</B> sepals white.

<P>
Flowering spring. Limestone glades;
150-600 m; Ala., Ga., Ky, Tenn. 
<P>
Very similar to <I>Delphinium carolinianum</I>
subsp. <I>virescens</I> and often identified as that subspecies,
subsp. <I>calciphilum</I> usually has shorter stems, fewer leaf
lobes, and narrower leaf lobes.<BR>

<P>
<B>