3. <A NAME="27100087"></A><I><B>Delphinium brachycentrum</B></I><B>
Ledebour</B></B>, Fl. Ross. 1:
60.  1841 - Arctic larkspur 
<P>
<I>Delphinium chamissonis</I>
Pritzel ex Walpers
<P>
<B>Stems</B>
20-50(-80)&nbsp;cm; base often reddish, pubescent.  <B>Leaves</B>
cauline, 5-14, on proximal 1/5 of stem at anthesis; petiole 0.4-9&nbsp;cm.
 <B>Leaf blade</B> round to pentagonal, 1.5-6&nbsp;&#215; 3-11&nbsp;cm,
puberulent; ultimate lobes 5-15, width 1-7(-15)&nbsp;mm.  <B>Inflorescences</B>
5-18-flowered; pedicel 1-4.5&nbsp;cm, pubescent; bracteoles 2-7&nbsp;mm
from flowers, blue, linear, 5-8&nbsp;mm, puberulent.  <B>Flowers:</B>
sepals dark blue, apex rounded, puberulent, lateral sepals forward
pointing, 17-24&nbsp;&#215; 7-9&nbsp;mm, spurs straight to slightly
decurved, ascending 30-60&#176; above horizontal, 15-17&nbsp;mm;
lower petal blades &#177;&nbsp;covering stamens, 5-7&nbsp;mm,
clefts 0.5-1.5&nbsp;mm; hairs sparse, local, centered, mostly
above base of cleft, white.  <B>Fruits</B> 14-17&nbsp;mm, 3.5-4
times longer than wide, pubescent.  <B>Seeds</B> wing-margined;
seed coat cells &#177;&nbsp;elongate, surfaces roughened.  
<P>
 Flowering summer.  Well-drained tundra
slopes; 0-1600&nbsp;m; Yukon; Alaska; e&nbsp;Asia. 
<P>
 Hybrids with <I>Delphinium glaucum</I>
are known as <I>D</I>.&nbsp;&#215;<I>nutans</I> A.&nbsp;Nelson.
<BR>

<P>
<B>