16. <A NAME="27100386"></A><I><B>Delphinium geyeri</B></I><B>
Greene</B></B>, Erythea 2: 189.
 1894 - Geyer's larkspur, poisonweed - E F W2 
<P>
<B>Stems</B>
(15-)30-60(-80) cm; base usually reddish, puberulent.  <B>Leaves</B>
distribution variable; basal leaves 0-4 at anthesis; cauline leaves
4-22 at anthesis; petiole 0.4-10 cm.  <B>Leaf blade</B> light
green, &#177; round, 1-5 &#215; 1-6 cm, densely
pubescent; ultimate lobes 7-20, width 2-5 mm (basal), 2-4 mm
(cauline), apex gradually tapering to point; veins obscure.  <B>Inflorescences</B>
6-30(-60)-flowered, &#177; open, cylindric; pedicel ascending
to spreading, 1-3(-4) cm, puberulent; bracteoles 1-3 mm
from flowers, green, lanceolate, 3-6 mm, puberulent.  <B>Flowers:</B>
sepals bright blue, puberulent, lateral sepals spreading, 10-18 &#215;
4-8 mm, spurs straight to slightly downcurved, ascending
0-30&#176;, 11-16 mm; lower petal blades slightly elevated,
&#177; exposing stamens, 4-8 mm, clefts 0.5-2 mm;
hairs centered, densest on inner lobes near base of cleft, white
to light yellow.  <B>Fruits</B> 11-15 mm, 3-3.5 times longer
than wide, sparse puberulent.  <B>Seeds</B> unwinged; seed coat
cells with margins straight, surfaces &#177; roughened. 
2<I>n</I> = 16.  
<P>
 Flowering late spring-early summer.
 Grasslands or <I>Artemisia-Cercocarpus</I> scrub; 1400-3000 m;
Colo., Mont., Nebr., Utah, Wyo. 
<P>
 Apparently closely related to <I>Delphinium
stachydeum</I>, <I>D</I>. <I>geyeri</I> is generally smaller,
earlier flowering, with more finely dissected leaves and a more
eastern geographic distribution.<BR>

<P>
<B>