42. <A NAME="27100941"></A><I><B>Delphinium hansenii</B></I><B>
(Greene) Greene</B></B>, Pittonia
3: 94.  1896 -&nbsp;E 
<P>
<I>Delphinium hesperium</I>
A.&nbsp;Gray var. <I>hansenii</I> Greene, Fl. Francisc. 3: 304.
 1892 
<P>
<B>Stems</B>
(25-)40-80(-180)&nbsp;cm; base usually reddish, pubescent.  <B>Leaves</B>
cauline and basal; basal leaves 0-5 at anthesis; cauline leaves
2-8 at anthesis; petiole 0.5-8&nbsp;cm, petioles of proximal leaves
long-pubescent.  <B>Leaf blade</B> pentagonal, 1.5-5&nbsp;&#215;
2.5-8&nbsp;cm, long-pubescent, especially abaxially; ultimate
lobes 0-18, width 4-20&nbsp;mm (basal), 2-9&nbsp;mm (cauline).
 <B>Inflorescences</B> (9-)15-40(-160)-flowered, dense to open;
pedicel 0.3-2.5(-6)&nbsp;cm, puberulent; bracteoles 1-5(-8)&nbsp;mm
from flowers, green, sometimes white-margined, linear-lanceolate,
2-6(-8)&nbsp;mm, puberulent.  <B>Flowers:</B> sepals violet to
white, &#177;&nbsp;puberulent, lateral sepals spreading to forward
pointing, 7-10(-13)&nbsp;&#215; 3-6(-8)&nbsp;mm, spurs gently
upcurved, ascending 0-30&#176; above horizontal, (6-)9-13(-16)&nbsp;mm;
lower petal blades elevated, &#177;&nbsp;exposing stamens, 3-7&nbsp;mm,
cleft 1-2(-4)&nbsp;mm; hairs centered, densest on inner lobes
near base of cleft, white.  <B>Fruits</B> 8-20&nbsp;mm, 2.2-4
times longer than wide, glabrous.  <B>Seeds</B> echinate, appearing
fuzzy to naked eye; seed coat cells with margins straight, surfaces
sparsely pustulate. 
<P>
 Subspecies 3 (3 in the flora): California.
<P>
 Although <I>Delphinium hansenii</I>
has often been confused with <I>D</I>.&nbsp;<I>hesperium</I>,
seeds will instantly allow identification.  Seeds of <I>Delphinium
hansenii</I> are, as far as known, unique, bearing numerous, elongate,
prismlike raised structures (extensions of single cells or small
groups of cells) over the entire seed coat.  If seeds are absent,
larger flowers, more open inflorescences (except in <I>D</I>.&nbsp;<I>hesperium</I>
subsp. <I>cuyamacae</I>), and general absence of pubescence of
long hairs in <I>D</I>.&nbsp;<I>hesperium</I> are apparent upon
comparison of the two species.  Separating <I>D</I>.&nbsp;<I>hansenii</I>
from <I>D</I>.&nbsp;<I>variegatum</I> may also be difficult. 
Again, seeds leave no doubt.  In addition, smaller flowers and
greater number of flowers per plant of <I>D</I>.&nbsp;<I>hansenii</I>
should serve to distinguish <I>D</I>.&nbsp;<I>hansenii</I> from
<I>D</I>.&nbsp;<I>variegatum</I>.  White-flowered <I>D</I>.&nbsp;<I>hansenii</I>
has been confused with <I>D</I>.&nbsp;<I>gypsophilum</I> and with
<I>D</I>.&nbsp;<I>hesperium</I> subsp. <I>pallescens</I>.  Other
than seeds, pubescence of long hairs and smaller flowers present
in <I>D</I>.&nbsp;<I>hansenii</I> and absent in the others will
distinguish them.<BR>

<P>
<B>