16b. <A NAME="50076419"></A><I><B>Delphinium</B></I><B>
Linnaeus sect. <I>Diedropetala</I> Huth, Bot. Jahrb. Syst. 20:
420.  1895</B></B>
<P>
<B>Roots</B>
2-80&nbsp;cm, tuberlike or fibrous, dry or fleshy; buds often
less than 3&nbsp;mm.  <B>Stems</B> 1-8(-19) per root; base firmly
attached to root or not.  <B>Leaves</B> cauline and/or in basal
rosette, gradually or abruptly reduced into bracts.  <B>Flowers:</B>
sepals blue, purple, white, red, or yellow; lower petal blades
often same color as lateral sepals, usually greater than 1/5 length
of lateral sepals (exceptions in red- and yellow-flowered species).
<BR>


<P>
<B>