23c. <A NAME="27101694"></A><I><B>Delphinium parryi</B></I><B>
A.&nbsp;Gray subsp. <I>purpureum</I> (H.&nbsp;F. Lewis &amp; Epling)
M.&nbsp;J. Warnock</B></B>, Phytologia
68: 2.  1990 - Mount Pinos larkspur -&nbsp;C E 
<P>
<I>Delphinium parishii</I>
A.&nbsp;Gray subsp. <I>purpureum</I> H.&nbsp;F. Lewis &amp; Epling,
Brittonia 8: 15.  1954
<P>
<B>Roots</B>
usually more than 10&nbsp;cm.  <B>Stems</B> 30-90&nbsp;cm.  <B>Leaves</B>
mostly on proximal 1/3 of stem; basal leaves usually present at
anthesis; blade with ultimate lobes 3-20, width less than 4&nbsp;mm.
 <B>Inflorescences:</B> bracteoles 3-6&nbsp;mm.  <B>Flowers:</B>
sepals usually reflexed, lateral sepals 7-11&nbsp;mm, spurs 10-13&nbsp;mm;
lower petal blades 3-5&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering late spring-early summer.
 Dry chaparral, sage scrub and lower montane woods; of conservation
concern; 1000-1600(-2400)&nbsp;m; Calif.  
<P>
 <I>Delphinium parryi</I> subsp. <I>purpureum</I>
may be imperiled by human encroachment.
<P>
 This taxon may be confused with <I>Delphinium
parishii</I>, but its abundant arched hairs and lack of wider-lobed
basal leaves will distinguish <I>D</I>.&nbsp;<I>parryi</I> subsp.
<I>purpureum</I>.  It hybridizes with <I>D</I>.&nbsp;<I>parishii</I>
subsp. <I>pallidum</I>.<BR>

<P>
<B>