29a. <A NAME="27101691"></A><I><B>Delphinium gypsophilum</B></I><B>
Ewan subsp. <I>gypsophilum</I> </B></B>-
Gypsum-loving larkspur - E 
<P>
<B>Stems</B>
(50-)70-100(-150)&nbsp;cm.  <B>Inflorescences</B> open, with 1-5
flowers per 5&nbsp;cm.  <B>Flowers:</B> sepals white, spreading,
lateral sepals 10-15(-19)&nbsp;&#215; 5-9&nbsp;mm, spurs 10-15&nbsp;mm;
lower petal blades white, 5-8&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;16,&nbsp;32.
 
<P>
 Flowering spring.  Slopes in grassland
and open oak woods; 150-1200&nbsp;m; Calif. 
<P>
 Tetraploid individuals of <I>Delphinium
gypsophilum</I> subsp. <I>gypsophilum</I> occur intermingled with
diploid individuals and are normally indistinguishable morphologically
(H.&nbsp;Lewis et al. 1951).  
<P>
 Hybridization may occur with <I>Delphinium
recurvatum</I> in the San Joaquin Valley, with <I>D</I>.&nbsp;<I>parryi</I>
in the southern Coast Ranges, with <I>D</I>.&nbsp;<I>hansenii</I>
in the foothills of the southern Sierra Nevada and the Tehachapi
Mountains, and probably with <I>D</I>.&nbsp;<I>hesperium</I> subsp.
<I>pallescens</I> in Coast Ranges.  For a summary on the possible
hybrid origin of <I>D</I>.&nbsp;<I>gypsophilum</I>, see H.&nbsp;Lewis
and C.&nbsp;Epling (1959).  <BR>

<P>
<B>