36a. <A NAME="27100376"></A><I><B>Delphinium carolinianum</B></I><B>
Walter subsp. <I>carolinianum</I> </B></B>-
Blue larkspur, Carolina larkspur - E F
<P>
<I>Delphinium carolinianum</I>
var. <I>crispum</I> L. M. Perry; <I>D</I>. <I>carolinianum</I>
var. <I>nortonianum</I> (Mackenzie &amp; Bush) L. M. Perry

<P>
<B>Roots</B>
without elongate central axis; fascicles 2-8, &#177; horizontal.
<B>Stems</B> (30-)60-100(-150) cm. <B>Leaves</B> all cauline
at anthesis; distalmost petioles less than 5 mm. <B>Leaf
blade</B> not distinctly 3-parted; ultimate lobes of midcauline
leaf blades 12-25, width 0.5-1.5 mm. <B>Flowers:</B> sepals
various shades of blue or purple, rarely white. 2<I>n</I> = 16,
32. 
<P>
Flowering late winter-early summer.
Prairies and forest openings; 50-700 m; Ala., Ark., Fla.,
Ga., Ill., Iowa, Kans., Miss., Mo., N.C., Okla., S.C. 
<P>
<I>Delphinium carolinianum</I>
subsp. <I>carolinianum</I> occasionally hybridizes with <I>D</I>. <I>treleasei.</I>
<BR>

<P>
<B>