23a. <A NAME="27101695"></A><I><B>Delphinium parryi</B></I><B>
A.&nbsp;Gray subsp. <I>parryi</I> </B></B>-
Parry's larkspur - F
<P>
<I>Delphinium hesperium</I>
A.&nbsp;Gray var. <I>seditiosum</I> Jepson; <I>D</I>.&nbsp;<I>parryi</I>
subsp. <I>seditiosum</I> (Jepson) Ewan 
<P>
<B>Roots</B>
5-20&nbsp;cm.  <B>Stems</B> (35-)60-90(-110)&nbsp;cm.  <B>Leaves:</B>
basal leaves usually absent at anthesis; cauline leaves with ultimate
lobes 7-27, width 1-6&nbsp;mm.  <B>Inflorescences:</B> bracteoles
3-7&nbsp;mm.  <B>Flowers:</B> sepals usually spreading, lateral
sepals 9-15&nbsp;mm, spurs 8-15&nbsp;mm; lower petal blades 3-8&nbsp;mm.
 2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering spring.  Locally abundant
in oak woodland, chaparral; 200-1700&nbsp;m; Calif., Mexico (Baja
California).  
<P>
 Two morphotypes may be recognized in
<I>Delphinium parryi</I> subsp. <I>parryi</I>.  That corresponding
to the type specimen of subsp. <I>parryi</I> has larger flowers
(especially lower petal blades), less abundant pubescence, and
somewhat more coarsely dissected leaves; it is usually found in
woodlands or relatively moist chaparral.  The second morphotype,
in its extreme represented by the type specimen of <I>D</I>. <I>parryi</I>
var. <I>seditiosum</I>, has smaller flowers, more pubescence,
and more finely dissected leaves and is usually found in chaparral
and, less often, in dry woodlands.  It may occur sporadically
throughout the range of <I>D</I>. <I>parryi</I> subsp. <I>parryi</I>,
although it is most common north of the Transverse Ranges.  Hybrids
with <I>D</I>.&nbsp;<I>cardinale</I> have been named <I>D</I>.&nbsp;&#215;<I>inflexum</I>.
 Hybrids are also known with <I>D</I>.&nbsp;<I>gypsophilum</I>
subsp. <I>parviflorum</I>, <I>D</I>.&nbsp;<I>hesperium</I> subsp.
<I>pallescens</I>, <I>D</I>.&nbsp;<I>umbraculorum</I>, and <I>D</I>.&nbsp;<I>variegatum</I>.

<P>
 <I>Delphinium parryi</I> subsp. <I>parryi</I>
may be confused with the blue-flowered phases of <I>D</I>.&nbsp;<I>hesperium</I>;
see discussion under that species for distinguishing features.
<BR>

<P>
<B>