18. <A NAME="27100929"></A><I><B>Delphinium cardinale</B></I><B>
Hooker</B></B>, Bot. Mag., plate
4887.  1855 - Scarlet larkspur
<P>
<B>Stems</B>
(33-)50-150(-280) cm; base reddish, &#177; puberulent.
 <B>Leaves</B> mostly cauline; basal leaves absent at anthesis
except in small plants; cauline leaves 5-18 at anthesis; petiole
1-12 cm.  <B>Leaf blade</B> round to reniform, 3-7 &#215;
5-10 cm, nearly glabrous; ultimate lobes 0-27, width 5-40 mm
(basal), 0.5-6 mm (cauline).  <B>Inflorescences</B> 10-40(-80)-flowered,
open, narrowly pyramidal; pedicel spreading, (1-)2-5 cm,
&#177; puberulent; bracteoles (2-)7-15(-25) mm from
flowers, green, linear, 3-7 mm, glabrous to puberulent. 
<B>Flowers:</B> sepals red, glabrous, lateral sepals forward pointing,
11-15 &#215; 5-8 mm, spurs straight, stout, slightly
ascending, 15-24 mm; lower petal blades nearly coplanar with
claw, exposing stamens, 2-5 mm, clefts 0.5-1.5 mm; hairs
centered at base of cleft, short, sparse, yellow.  <B>Fruits</B>
erect, 9-18 mm, 2.5-4 times longer than wide, glabrous. 
<B>Seeds</B> unwinged; seed coat cells with margins undulate,
surfaces roughened.  2<I>n</I> = 16.  
<P>
 Flowering spring-early summer.  Slopes
(often unstable) in chaparral; 50-1500 m; Calif.; Mexico
(Baja California, Baja California Sur).  
<P>
 Hybrids between <I>Delphinium cardinale</I>
and <I>D</I>. <I>parryi</I> have been named <I>D</I>. &#215;<I>inflexum</I>
Davidson.  Because of horticultural interest in red-flowered delphiniums,
garden hybrids have been made with <I>D</I>. <I>elatum</I>,
<I>D</I>. <I>hesperium</I>, <I>D</I>. <I>hutchinsoniae</I>,
<I>D</I>. <I>nudicaule</I>, <I>D</I>. <I>parishii</I>,
<I>D</I>. <I>penardii</I>, <I>D</I>. <I>scopulorum</I>,
<I>D</I>. <I>tatsienense</I> Franchet, <I>D</I>. <I>uliginosum</I>,
and <I>D</I>. <I>zalil</I> Aitchison &amp; Hemsley, although
<I>D</I>. <I>cardinale</I> does not grow with any of these
in the wild.
<P>
 Plants of <I>Delphinium cardinale</I>
are quite variable in size, leaf distribution, and pubescence,
resulting in considerable differences between, and sometimes within,
populations.  No patterns could be seen, however, to justify recognition
of separate taxa within <I>D</I>. <I>cardinale</I>.  Populations
farther south (in Baja California, Mexico) may represent a distinct
entity; they require further study.
<P>
 The only possible confusion between
<I>Delphinium cardinale</I> (seeds not ringed, fruits erect, grows
in relatively dry sites) and another taxon might occur with <I>Delphinium
nudicaule</I> (seeds ringed, fruits spreading, grows in moist
habitats).  The two are separated geographically and phenologically
(although <I>D</I>. <I>cardinale</I> may begin flowering
in southern California before <I>D</I>. <I>nudicaule</I>
has finished in northern California).<BR>

