52. <A NAME="27100954"></A><I><B>Delphinium menziesii</B></I><B>
de Candolle</B></B>, Syst. Nat.
1: 355.  1817 - Menzies' larkspur -&nbsp;E W2 
<P>
<B>Stems</B>
(10-)35-70(-85)&nbsp;cm; base often reddish, puberulent.  <B>Leaves</B>
basal and cauline; basal leaves 0-4 at anthesis; cauline leaves
3-7(-10) at anthesis; petiole 0.5-11&nbsp;cm.  <B>Leaf blade</B>
round, 1.5-5&nbsp;&#215; 3-9&nbsp;cm, puberulent; ultimate lobes
5-18, width 2-15&nbsp;mm (basal), 1-10&nbsp;mm (cauline), widest
at middle or in proximal 1/2.  <B>Inflorescences</B> 3-15(-43)-flowered;
pedicel 1.5-4(-7)&nbsp;cm, (glandular) puberulent; bracteoles
8-10(-24)&nbsp;mm from flowers, green to blue, linear, 4-6(-9)&nbsp;mm,
puberulent.  <B>Flowers:</B> sepals bluish purple or yellowish,
often partly fading upon drying, puberulent, lateral sepals spreading,
(11-)13-20&nbsp;&#215; 5-11&nbsp;mm, spurs straight, ascending
less than 30&#176; above horizontal, 11-17&nbsp;mm; lower petal
blades &#177;&nbsp;covering stamens, 8-12&nbsp;mm, clefts 0.2-2.5&nbsp;mm;
hairs sparse, centered, mostly near junction of blade and claw
above base of cleft, white or blue.  <B>Fruits</B> 11-17&nbsp;mm,
3.5-4 times longer than wide, puberulent.  <B>Seeds</B> wing-margined;
seed coat cell surfaces smooth, without swollen blunt hair.  
<P>
 Subspecies 2 (2 in the flora): w North
America.
<P>
 Although <I>Delphinium menziesii</I>
has often been confused with <I>D</I>.&nbsp;<I>nuttallii</I>,
it may be distinguished by its consistently larger flowers and
usually fewer flowers per plant.  Interestingly, each species
produces both blue-purple and yellowish flower colors in separate
populations.
<P>
 The Chehalis consider <I>Delphinium
menziesii</I> poisonous, but they also apply it to sores.  The
women of the Thompson Indians use it as a love charm (D.&nbsp;E.
Moerman 1986, subspecies not indicated).<BR>

<P>
<B>