15. <A NAME="27103336"></A><I><B>Delphinium stachydeum</B></I><B>
(A. Gray) Tidestrom</B></B>,
Proc. Biol. Soc. Wash. 27: 61.  1914 - Umatilla larkspur - E
F 
<P>
<I>Delphinium scopulorum</I>
A. Gray var. <I>stachydeum</I> A. Gray, Bot. Gaz. 12:
52.  1887; <I>D</I>. <I>confertiflorum</I> Wooton; <I>D</I>. <I>umatillense</I>
Ewan
<P>
<B>Stems</B>
(40-)70-150(-200) cm; base reddish, puberulent.  <B>Leaves</B>
mostly on proximal 1/2 stem; basal leaves absent at anthesis;
cauline leaves 8-16 at anthesis; petiole 0.5-17 cm.  <B>Leaf
blade</B> light green, &#177; round, 2-8 &#215; 3.5-11 cm,
sparsely pubescent; ultimate lobes 7-19, width 1-8 mm, apex
tapering to point; veins obscure.  <B>Inflorescences</B> (14-)30-60(-102)-flowered,
dense, cylindric; pedicel spreading, 0.8-2(-3) cm, puberulent;
bracteoles 1-4 mm from flowers, green, linear, 2-7(-10) mm,
puberulent.  <B>Flowers:</B> sepals bright blue, puberulent, lateral
sepals spreading, 9-13 &#215; 4-7 mm, spurs straight,
within 30&#176; above or below horizontal, 11-17 mm; lower
petal blades &#177; covering stamens, 4-8 mm, clefts
0.5-2 mm; hairs sparse, centered, mostly near junction of
blade and claw above base of cleft, white.  <B>Fruits</B> 10-15 mm,
3.5-4.5 times longer than wide, puberulent.  <B>Seeds</B> wing-margined;
seed coat cells with margins straight, surfaces &#177; roughened.

<P>
 Flowering summer.  Swales in <I>Artemisia</I>
scrub; 1300-3000 m; Calif, Idaho, Nev., Oreg., Wash.  
<P>
 Populations of <I>Delphinium stachydeum</I>
are widely scattered in isolated mountain ranges surrounded by
desert or grassland.  The species has been reported (visual sightings)
from northwestern Utah; no specimens have been seen from there.
 Hybrids between <I>D</I>. <I>stachydeum</I> and <I>D</I>. <I>glaucum</I>
have been reported.  Although <I>D</I>. <I>stachydeum</I>
has been seen flowering within 30 m of flowering <I>D</I>. <I>depauperatum</I>,
no hybrids have been observed.
<P>
 <I>Delphinium stachydeum</I> may possibly
be confused with <I>D</I>. <I>geyeri</I>, from which it may
be distinguished by its usually greater plant size, less pubescent
foliage, and later flowering date.  <I>Delphinium stachydeum</I>
also may be confused with <I>D</I>. <I>glaucum</I>; see discussion
under that species.<BR>

<P>
<B>