21. <A NAME="27100956"></A><I><B>Delphinium multiplex</B></I><B>
(Ewan) C. L. Hitchcock in C.&nbsp;L. Hitchcock et al</B></B>.,
Vasc. Pl. Pacif. N.W. 2: 357.  1964 -&nbsp;E 
<P>
<I>Delphinium cyanoreios</I>
Piper forma <I>multiplex</I> Ewan, Univ. Colorado Stud., Ser.&nbsp;D,
Phys. Sci.&nbsp;2: 163.  1945
<P>
<B>Stems</B>
(40-)80-130(-180)&nbsp;cm; base usually green, glabrous.  <B>Leaves</B>
mostly on proximal 1/3 of stem, usually absent from proximal 1/5
stem at anthesis; basal leaves 0-4 at anthesis; cauline leaves
10-20 at anthesis; petiole 0.5-15&nbsp;cm.  <B>Leaf blade</B>
round on proximal stem, &#177;&nbsp;cuneate on distal stem, 1.5-9&nbsp;&#215;
2-14&nbsp;cm, glabrous; ultimate lobes 3-15, width 15-30&nbsp;mm
(basal), 1-20&nbsp;mm (cauline).  <B>Inflorescences</B> 25-50-flowered,
&#177;&nbsp;dense; pedicel 0.5-2&nbsp;cm, glandular-puberulent;
bracteoles 4-5&nbsp;mm from flowers, green to blue, lanceolate-linear,
3-7&nbsp;mm, glandular-puberulent.  <B>Flowers:</B> sepals dark
blue, puberulent, lateral sepals forward pointing to spreading,
12-15&nbsp;&#215; 5-7&nbsp;mm, spurs straight, within 20&#176;
of horizontal, 12-16&nbsp;mm; lower petal blades slightly elevated,
exposing stamens, 6-8&nbsp;mm, clefts 2-3&nbsp;mm; hairs centered,
mostly near base of cleft, white.  <B>Fruits</B> 10-15&nbsp;mm,
3-4 times longer than wide, glandular-puberulent.  <B>Seeds</B>
narrowly wing-margined; seed coat cells with surfaces somewhat
roughened.  2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering late spring-summer.  Rocky
streambeds; 1500-1800&nbsp;m; Wash.  
<P>
 <I>Delphinium multiplex</I> hybridizes
with <I>D</I>.&nbsp;<I>glaucum</I> and <I>D</I>.&nbsp;<I>distichum</I>.
<BR>

<P>
<B>