51a. <A NAME="27101686"></A><I><B>Delphinium decorum</B></I><B>
Fischer &amp; C.&nbsp;A. Meyer subsp. <I>decorum</I> </B></B>-
Coast larkspur -&nbsp;E 
<P>
<B>Stems</B>
(8-)15-25(-35)&nbsp;cm.  <B>Leaves:</B> ultimate lobes 3-5, longer
than 1/2 leaf radius, merely cleft near apices.  <B>Inflorescences</B>
puberulent, hairs glandular or not.  <B>Flowers:</B> lateral sepals
12-24&nbsp;mm, spurs 13-19&nbsp;mm; lower petal hairs yellow.
 
<P>
 Flowering early-mid spring.  Grasslands,
open coastal chaparral; 0-100&nbsp;m; Calif.  
<P>
 The names <I>Delphinium decorum</I>
var. <I>racemosum</I> Eastwood and <I>D</I>.&nbsp;<I>decorum</I>
var. <I>sonomensis</I> Eastwood have been used for various hybrids
between <I>D</I>.&nbsp;<I>decorum</I> subsp. <I>decorum</I> and
<I>D</I>.&nbsp;<I>patens</I>.  The type specimen of <I>D</I>.
<I>decorum</I> var. <I>sonomensis</I> appears to represent a nearly
direct intermediate between <I>D</I>.&nbsp;<I>decorum</I> and
<I>D</I>.&nbsp;<I>patens</I>.  These hybrids are quite common
in the San Francisco Bay region where habitats have been disturbed.
 Normally a woodland plant, <I>D</I>.&nbsp;<I>patens</I> contrasts
with <I>D</I>.&nbsp;<I>decorum</I>, which occurs in grassland
and brushland.  <I>Delphinium decorum</I> subsp. <I>decorum</I>
also hybridizes with <I>D</I>.&nbsp;<I>luteum</I>, <I>D</I>.&nbsp;<I>nudicaule</I>,
and <I>D</I>.&nbsp;<I>trolliifolium</I>. <BR>

<P>
<B>