8. <A NAME="27100391"></A><I><B>Delphinium novomexicanum</B></I><B>
Wooton</B></B>, Bull. Torrey
Bot. Club 37: 37.  1910 - New Mexico larkspur, White Mountain
larkspur -&nbsp;E 
<P>
<I>Delphinium sierrae-blancae</I>
Wooton
<P>
<B>Stems</B>
90-180(-250)&nbsp;cm; base usually green, glabrous.  <B>Leaves</B>
cauline, 12-20, absent from proximal 1/5 of stem at anthesis;
petiole 3-13&nbsp;cm.  <B>Leaf blade</B> round to pentagonal,
5-10&nbsp;&#215; 8-18&nbsp;cm, nearly glabrous; ultimate lobes
5-21, width 4-15&nbsp;mm.  <B>Inflorescences</B> (20-)30-70(-140)-flowered;
pedicel 0.5-1.5&nbsp;cm, puberulent; bracteoles 1-3&nbsp;mm from
flowers, green, linear, 5-8&nbsp;mm, puberulent.  <B>Flowers:</B>
sepals (in bud) purple to lavender, fading brownish, puberulent,
lateral sepals &#177;&nbsp;forward pointing, 7-11&nbsp;&#215;
4-5&nbsp;mm, spurs straight to gently decurved, ascending 30-45&#176;
above horizontal, 7-11&nbsp;mm; lower petal blades &#177;&nbsp;covering
stamens, 3.5-6&nbsp;mm, clefts 1-2&nbsp;mm; hairs mostly centered
between base of cleft and junction of blade and claw, white or
yellow.  <B>Fruits</B> 12-16&nbsp;mm, 3-4 times longer than wide,
puberulent.  <B>Seeds</B> wing-margined; seed coat cells elongate,
surfaces &#177;&nbsp;roughened.  2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering summer to early autumn. 
Meadows in coniferous forest; 2200-3900&nbsp;m; N.Mex.  
<P>
 <I>Delphinium novomexicanum</I> represents
the southern Cordilleran complex in the Sacramento and White mountains.
<BR>

<P>
<B>