25. <A NAME="27100963"></A><I><B>Delphinium parishii</B></I><B> A. Gray</B></B>, 
Bot. Gaz.  12: 53.  1887 
<P>
<B>Stems</B>
(17-)30-60(-100) cm; base reddish or not, glabrous to puberulent.
 <B>Leaves</B> scattered or mostly on proximal 1/3 of stem; basal
leaves 0-11 at anthesis; cauline leaves 3-7 at anthesis; petiole
1-13 cm.  <B>Leaf blade</B> pentagonal, 0.7-5 &#215;
1-8 cm, glabrous to puberulent; ultimate lobes 3-18, width
2-18 mm (basal), 0.5-8 mm (cauline).  <B>Inflorescences</B>
(6-)10-40(-74)-flowered, cylindric; pedicel ascending-spreading,
(0.3-)1-2.5(-4.8) cm, glabrous to puberulent; bracteoles
2-5(-10) mm from flowers, green, lance-linear, 2-6(-16) mm,
glabrous to puberulent.  <B>Flowers:</B> sepals dark blue to white
to pink, often puberulent, lateral sepals reflexed or spreading,
(7-)9-13 &#215; 2-7 mm, spurs &#177; decurved,
ascending 20-45&#176; above horizontal, 7-15 mm;  lower petal
blades &#177; elevated, exposing stamens, blue or white to
pink (concolorous with sepals), 3-6 mm, clefts 1-3 mm;
hairs mostly near base of cleft, centered or on inner lobes, white.
 <B>Fruits</B> 9-21 mm, 2-4 times longer than wide, glabrous
to puberulent.  <B>Seeds:</B> seed coat cells &#177; brick-shaped,
cell margins undulate, surfaces roughened.  
<P>
 Subspecies 3 (3 in the flora): sw United
States, nw Mexico.<BR>

<P>
<B>
