34. <A NAME="27103397"></A><I><B>Delphinium distichum</B></I><B>
Geyer ex Hooker</B></B>, J. Bot.
6: 68.  1847 - Strict larkspur, meadow larkspur -&nbsp;E F
<P>
<I>Delphinium strictum</I>
A.&nbsp;Nelson var. <I>distichiflorum</I> (Hooker) H.&nbsp;St.
John
<P>
<B>Stems</B>
(25-)30-60(-80)&nbsp;cm; base sometimes reddish, puberulent. 
<B>Leaves</B> basal and cauline; basal leaves usually absent at
anthesis; cauline leaves 9-18(-28) at anthesis; petiole 0-9&nbsp;cm.
 <B>Leaf blade</B> cuneate to semicircular, 1-5&nbsp;&#215; 1.5-7&nbsp;cm,
puberulent; ultimate lobes 5-19, width 2-8(-15)&nbsp;mm (basal),
0.5-3(-5)&nbsp;mm (cauline); margins of basal leaf, measured less
than 1&nbsp;cm from blade base, demarcating considerably more
than 90&#176; of arc when leaf laid flat; most cauline leaf blades
exceeding internodes.  <B>Inflorescences</B> 8-30(-40)-flowered,
usually dense; pedicel 0.5-1.5&nbsp;cm, puberulent; bracteoles
0-3&nbsp;mm from flowers, green to blue, linear, 4-8&nbsp;mm,
puberulent.  <B>Flowers:</B> sepals dark blue to bluish purple,
puberulent, lateral sepals &#177;&nbsp;erect, 8-12&nbsp;&#215;
3.5-5&nbsp;mm, spurs straight, horizontal or nearly so, 9-15&nbsp;mm;
lower petal blades &#177;&nbsp;covering stamens, 4.5-6.5&nbsp;mm,
clefts 2-3&nbsp;mm; hairs centered mostly near base of cleft,
white.  <B>Fruits</B> 7-13&nbsp;mm, 3.5-4 times longer than wide,
&#177;&nbsp;puberulent.  <B>Seeds:</B> seed coat cells with surfaces
roughened.  2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering late spring-early summer.
 Wet meadows; 100-2400&nbsp;m; B.C.; Idaho, Mont., Oreg., Wash.,
Wyo.  
<P>
 <I>Delphinium distichum</I> hybridizes
with <I>D</I>.&nbsp;<I>multiplex</I> and <I>D</I>.&nbsp;<I>nuttallianum</I>
(<I>D</I>.&nbsp;&#215;<I>diversicolor</I> Rydberg).  The name
<I>D</I>.&nbsp;<I>burkei</I> has often been misapplied to <I>D</I>.&nbsp;<I>distichum</I>.
 <BR>

<P>
<B>