12. <A NAME="27100977"></A><I><B>Delphinium ramosum</B></I><B>
Rydberg</B></B>, Bull. Torrey
Bot. Club 28: 276.  1901 -&nbsp;E 
<P>
<B>Stems</B>
(45-)70-100&nbsp;cm; base sometimes reddish, puberulent.  <B>Leaves</B>
cauline, 8-24, absent from or on proximal 1/5 of stem at anthesis;
petiole 1-12&nbsp;cm.  <B>Leaf blade</B> round to pentagonal,
2-8&nbsp;&#215; 4-14&nbsp;cm, nearly glabrous; ultimate lobes
5-21, width 1-5&nbsp;mm; midcauline leaf lobes more than 3 times
longer than wide.  <B>Inflorescences</B> (10-)15-40(-120)-flowered;
pedicel 1-2.5(-4)&nbsp;cm, puberulent; bracteoles 1-3&nbsp;mm
from flowers, green, sometimes margins white, linear or lanceolate,
3-5(-8)&nbsp;mm,  puberulent.  <B>Flowers:</B> sepals bright dark
blue, apex rounded, puberulent, lateral sepals forward pointing
to spreading, 11-13&nbsp;&#215; 4-6&nbsp;mm, spurs straight, ascending
ca. 30&#176; above horizontal, 9-13&nbsp;mm; lower petal blades
&#177;&nbsp;covering stamens, 5-7&nbsp;mm, clefts 2-3&nbsp;mm;
hairs centered above base of cleft, white.  <B>Fruits</B> 11-17&nbsp;mm,
3-4 times longer than wide, puberulent.  <B>Seeds</B> wing-margined;
seed coat cells narrow, short, surfaces roughened.  2<I>n</I>&nbsp;=&nbsp;16.
 
<P>
 Flowering summer.  Meadows, aspen woodlands,
<I>Artemisia</I> scrub; 2100-3200(-3400)&nbsp;m; Colo., N.Mex.
 
<P>
 <I>Delphinium ramosum</I> hybridizes
with <I>D</I>.&nbsp;<I>barbeyi</I> and <I>D</I>.&nbsp;<I>glaucum</I>.
<BR>

<P>
<B>