50. <A NAME="27100923"></A><I><B>Delphinium bakeri</B></I><B>
Ewan</B></B>, Bull. Torrey Bot.
Club 69: 144.  1942 - Baker's larkspur - C E 
<P>
<B>Stems</B>
(45-)60-85(-100)&nbsp;cm; base reddish, glabrous.  <B>Leaves</B>
usually all cauline at anthesis; basal leaves 0-2 at anthesis;
cauline leaves 3-8 at anthesis; petiole 0.4-18&nbsp;cm.  <B>Leaf
blade</B> pentagonal to round, 1-6&nbsp;&#215; 1.5-8&nbsp;cm,
margins crenate, glabrous; ultimate lobes 3-5, width 2-5&nbsp;mm
(basal), 5-30&nbsp;mm (cauline), widest at middle or in proximal
1/2.  <B>Inflorescences</B> 8-23-flowered, at least 2 times longer
than wide; pedicel 1-6(-9)&nbsp;cm, glandular-puberulent; bracteoles
4-6&nbsp;mm from flowers, green to blue, lance-linear, 5-8(-13)&nbsp;mm,
glabrous to glandular-puberulent.  <B>Flowers:</B> sepals dark
bluish purple, nearly glabrous, lateral sepals spreading, 9-11&nbsp;&#215;
4-5&nbsp;mm, spur apex decurved, &#177;&nbsp;horizontal, 9-13&nbsp;mm;
lower petal blades &#177;&nbsp;covering stamens, 5-7&nbsp;mm,
clefts 2-3&nbsp;mm; hairs sparse, mostly near base of cleft, centered
or on inner lobes, white.  <B>Fruits</B> 18-20&nbsp;mm, 3.5-4
times longer than wide, glabrous.  <B>Seeds</B> unwinged; seed
coats smooth. 
<P>
 Flowering spring.  Brushlands and coastal
chaparral; of conservation concern; 100-300&nbsp;m; Calif. 
<P>
 <I>Delphinium bakeri</I> is possibly
extinct in the wild because of cultivation and sheep grazing in
the small area where it grows.  It is known from only two localities
and has not been collected since 1960.  Plants have been grown
at Strybing Arboretum, Golden Gate Park, San Francisco.  Although
their geographic ranges are distinct, <I>D</I>.&nbsp;<I>bakeri</I>
is most similar to, and probably closely related to, <I>D</I>.&nbsp;<I>trolliifolium</I>.
 The former has more rounded incisions on the leaves than the
latter, and the pedicel of <I>D</I>.&nbsp;<I>bakeri</I> are consistently
glandular.  Glandular pedicel appear only occasionally in <I>D</I>.&nbsp;<I>trolliifolium</I>.
<BR>

<P>
<B>