38. <A NAME="27100953"></A><I><B>Delphinium madrense</B></I><B>
S. Watson</B></B>, Proc.
Amer. Acad. Arts 17: 141. 1890 - Sierra Madre larkspur, Edwards'
Plateau larkspur - F
<P>
<B>Stems</B>
30-80(-100) cm; base often reddish, puberulent. <B>Leaves</B>
cauline and basal; basal leaves 0-8 at anthesis; cauline leaves
3-11 at anthesis; petiole 1-15(-25) cm. <B>Leaf blade</B>
semicircular to cordate, 2-8 &#215; 2-10 cm, nearly
glabrous; ultimate lobes 3-12, width 3-10 mm (basal), 2-6 mm
(cauline). <B>Inflorescences</B> 5-75(-98)-flowered; pedicel 1-2.5(-5) cm,
puberulent; bracteoles 2-4(-8) mm from flowers, green, lanceolate-linear,
3-5 mm, puberulent. <B>Flowers:</B> sepals dark blue to light
blue, puberulent, lateral sepals spreading, 9-15 &#215; 5-7 mm,
spurs straight, ascending ca. 45(-90)&#176;, 10-15(-19) mm;
lower petal blades elevated, exposing stamens, 4-7 mm, clefts
2-4 mm; hairs centered, densest on inner lobes near base
of cleft, white. <B>Fruits</B> 15-21 mm, 3.5-4.5 times longer
than wide, nearly glabrous. <B>Seeds:</B> seed coat cells with
surfaces pustulate. 
<P>
Flowering spring-early summer. Calcareous
slopes, oak woods or desert scrub; 300-2100 m; Tex.; Mexico
(Coahuila, Nuevo Le&oacute;n, and Tamaulipas). 
<P>
<I>Delphinium madrense</I>
hybridizes with <I>D</I>. <I>carolinianum</I> subspp. <I>vimineum</I>
and <I>virescens</I>.<BR>

