52b. <A NAME="27103476"></A><I><B>Delphinium menziesii</B></I><B>
de Candolle subsp. <I>pallidum</I> M.&nbsp;J. Warnock</B></B>,
Phytologia 78: 96.  1995 - White-flowered Menzies' larkspur -&nbsp;E

<P>
<B>Stems</B>
50-70&nbsp;cm.  <B>Flowers:</B> sepals white to yellowish, 15-20&nbsp;&#215;
7-11&nbsp;mm; spurs 11-15&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;16.
 
<P>
 Flowering spring.  Meadows, open woodlands;
50-100&nbsp;m; Oreg.  
<P>
 Hybrids between <I>Delphinium menziesii</I>
subsp. <I>pallidum</I> and <I>D</I>.&nbsp;<I>trolliifolium</I>
have been named <I>D</I>.&nbsp;&#215;<I>pavonaceum</I> Ewan.<BR>

<P>
<B>