1. <A NAME="27100383"></A><I><B>Delphinium elatum</B></I><B>
Linnaeus</B></B>, Sp. Pl. 1:
531.  1753
<P>
<B>Stems</B>
40-200&nbsp;cm; base green, pubescent or glabrous.  <B>Leaves</B>
cauline, 7-26 at anthesis; petiole 1-18&nbsp;cm.  <B>Leaf blade</B>
round to pentagonal, 3-15 &#215; 6-22&nbsp;cm, &#177;&nbsp;puberulent;
ultimate lobes 3-9, width 8-30&nbsp;mm.  <B>Inflorescences</B>
25-100(-more)-flowered; pedicel 1-3(-5)&nbsp;cm, glabrous to pubescent;
bracteoles 2-5(-9)&nbsp;mm from flowers, green, linear, 5-9&nbsp;mm,
&#177;&nbsp;puberulent.  <B>Flowers:</B> sepals blue, white, or
purple, &#177;&nbsp;puberulent, lateral sepals spreading, 12-23&nbsp;&#215;
4-12&nbsp;mm, spurs straight, ascending ca. 45&#176; above horizontal,
15-22&nbsp;mm; lower petal blades elevated, exposing stamens,
3-5&nbsp;mm, clefts 0.2-1&nbsp;mm; hairs sparse or dense, mostly
near center of blade, yellow or white.  <B>Fruits</B> 13-20&nbsp;mm,
3.5-4.5 times longer than wide, &#177;&nbsp;puberulent.  <B>Seeds</B>
winged; seed coats &#177;&nbsp;with small wavy ridges, cells elongate,
surface roughened.  
<P>
 Flowering summer, more than 8 weeks
after snowmelt.  Old homesites; 50-3000&nbsp;m; introduced; B.C.,
Man., Sask., and probably elsewhere; native to Europe and w Asia.

<P>
 <I>Delphinium elatum</I> is cultivated
as a garden plant or for cut flowers.  It is not known to be naturalized
extensively in North America; it may persist long after cultivation
in cooler parts of the region.<BR>
<BR>

