41. <A NAME="27100947"></A><I><B>Delphinium hutchinsoniae</B></I><B>
Ewan</B></B>, Bull. Torrey Bot.
Club 78: 379.  1951 - Hutchinson's larkspur, Hutchinson's delphinium
- C E 
<P>
<B>Stems</B>
(25-)50-80(-100)&nbsp;cm; base reddish, not longitudinally ridged,
variably puberulent.  <B>Leaves</B> mostly cauline at anthesis;
basal leaves 0-3 at anthesis; cauline leaves 2-13 at anthesis;
petiole 1-19&nbsp;cm, petioles of proximal leaves &#177;&nbsp;long-pubescent.
 <B>Leaf blade</B> round to pentagonal, 1-6&nbsp;&#215; 1.5-10&nbsp;cm,
puberulent; ultimate lobes 3-17, width 4-16(-25)&nbsp;mm (basal),
1-8(-19)&nbsp;mm (cauline).  <B>Inflorescences</B> (2-)7-20(-31)-flowered,
open; pedicel 1-4(-6)&nbsp;cm, puberulent; bracteoles (2-)8-12&nbsp;mm
from flowers, green, linear, 3-6(-9)&nbsp;mm, puberulent.  <B>Flowers:</B>
sepals dark bluish purple, puberulent, lateral sepals spreading,
(12-)14-19(-24)&nbsp;&#215; 7-12(-15)&nbsp;mm, spurs ascending,
decurved apically, 11-19&nbsp;mm; lower petal blades slightly
elevated, mostly covering stamens, 5-10&nbsp;mm, cleft 2-3&nbsp;mm;
hairs sparse, mostly on inner lobes, absent on margins, white.
 <B>Fruits</B> 9-21&nbsp;mm, 2.5-4.2 times longer than wide, sparsely
puberulent.  <B>Seeds</B> not echinate, &#177;&nbsp;smooth to
naked eye; seed coat cells with margins &#177;&nbsp;undulate,
surfaces smooth.  
<P>
 Flowering spring.  Coastal chaparral,
clearings in coniferous woods; of conservation concern; 0-400&nbsp;m;
Calif.  
<P>
 <I>Delphinium hutchinsoniae</I> is
known from only a few populations near Monterey and south to the
Big Sur region.  Hybrids have been produced between <I>D</I>.&nbsp;<I>hutchinsoniae</I>
and <I>D</I>.&nbsp;<I>cardinale</I> grown in a common garden.
 Hybrids also occur with <I>D</I>.&nbsp;<I>parryi</I> subsp. <I>maritimum</I>.

<P>
 <I>Delphinium hutchinsoniae</I> is
similar, and probably closely related, to <I>D</I>.&nbsp;<I>variegatum</I>.
 The two may be distinguished by the decurved spur of <I>D</I>.&nbsp;<I>hutchinsoniae</I>;
the spur of <I>D</I>.&nbsp;<I>variegatum</I> is normally straight
(or decurved nearer apex).  <I>Delphinium hutchinsoniae</I> lacks
marginal hairs on lower petals; such hairs are present in <I>D</I>.&nbsp;<I>variegatum</I>.
 The two species are also geographically separated.<BR>

<P>
<B>