51. <A NAME="27100931"></A><I><B>Delphinium decorum</B></I><B>
Fischer &amp; C.&nbsp;A. Meyer</B></B>,
Ind. Sem. Hort. Petrop. 3: 650.  1837 -&nbsp;E 
<P>
<B>Stems</B>
5-25(-42)&nbsp;cm; base reddish or not, at least two proximal
internodes long-pubescent.  <B>Leaves</B> mostly on proximal 1/3
of stem; basal leaves 1-6 at anthesis; cauline leaves 2-4 at anthesis;
petiole 0.5-7&nbsp;cm.  <B>Leaf blade</B> deltate to pentagonal,
1-2.5&nbsp;&#215; 1.5-4.5&nbsp;cm, &#177;&nbsp;puberulent; ultimate
lobes 3-15, width 3-17&nbsp;mm (basal), 1-8&nbsp;mm (cauline),
widest at middle or in proximal 1/2.  <B>Inflorescences</B> 2-10(-20)-flowered;
pedicel 1-4(-6)&nbsp;cm, puberulent to glabrous; bracteoles (3-)7-11(-21)&nbsp;mm
from flowers, green to blue, linear-lanceolate, 6-9(-12)&nbsp;mm,
puberulent.  <B>Flowers:</B> sepals bluish purple (somewhat faded
on drying), puberulent, lateral sepals spreading, (11-)15-20(-24)&nbsp;&#215;
6-11(-15)&nbsp;mm, spur straight, 0-30&#176; above horizontal,
13-20&nbsp;mm; lower petal blades &#177;&nbsp;covering stamens,
6-11&nbsp;mm, cleft 2-4&nbsp;mm; hairs on entire surface, densest
on inner lobes, yellow or white.  <B>Fruits</B> 9-20&nbsp;mm,
3-4.5 times longer than wide, glabrous to puberulent.  <B>Seeds</B>
wing-margined; seed coat cells &#177;&nbsp;aggregate in small
wavy ridges, cell surfaces &#177;&nbsp;roughened, without swollen,
blunt hairs.
<P>
 Subspecies 2 (2 in the flora): California.
<P>
 <I>Delphinium decorum</I> and <I>D</I>.&nbsp;<I>menziesii</I>
have been confused.  <I>Delphinium menziesii</I> usually has darker,
colorfast (nonfading) sepals with less lavender, and a more northern
distribution than <I>D</I>.&nbsp;<I>decorum</I>.  It also has
more finely dissected leaves than <I>D</I>.&nbsp;<I>decorum</I>
subsp. <I>decorum</I>. 
<P>
 Often confused with <I>Delphinium patens</I>,
<I>D</I>.&nbsp;<I>decorum</I> is sometimes circumscribed to include
that species.  The spreading, fading, blue-purple sepals, pubescent
proximal portion of stems, and large lower petal blade of <I>D</I>.&nbsp;<I>decorum</I>,
compared to the reflexed, colorfast, bluer sepals, proximally
glabrous stems, and smaller lower petal blades of <I>D</I>.&nbsp;<I>patens</I>,
adequately distinguish the two taxa.<BR>

<P>
<B>