36. <A NAME="27100375"></A><I><B>Delphinium carolinianum</B></I><B>
Walter</B></B>, Fl. Carol., 155.
1788 
<P>
<B>Stems</B>
(20-)40-90(-150) cm; base reddish or not, &#177; pubescent.
<B>Leaves</B> basal and cauline; basal leaves 0-10 at anthesis;
cauline leaves 4-12 at anthesis; petiole 0.1-14 cm. <B>Leaf
blade</B> round to pentagonal, 1-8 &#215; 2-12 cm, pubescence
variable; ultimate lobes 3-29, width 2-10 mm (basal), 1-7 mm
(cauline). <B>Inflorescences</B> (3-)8-27(-94)-flowered; pedicel
(0.4-)0.7-1.8(-5.7) cm, nearly glabrous to glandular; bracteoles
1-3.5(-6) mm from flowers, green or blue, linear, 2-7 mm,
pubescence nearly glabrous to glandular. <B>Flowers:</B> sepals
purple to blue to white, nearly glabrous, lateral sepals spreading,
(7-)9-14(-17) &#215; (3-)3.5-6(-8) mm, spurs &#177; upcurved,
ascending 20-90&#176; above vertical, (9-)11-17(-19) mm;
lower petal blades &#177; covering stamens, 5-7 mm,
cleft 2-4 mm; hairs centered, densest near base of cleft,
white, sometimes blue or yellow. <B>Fruits</B> (10-)12.5-18.5(-27) mm,
4-4.5 times longer than wide, glabrous to puberulent. <B>Seeds:</B>
seed coat cells with surfaces pustulate or smooth. 
<P>
Subspecies 4 (4 in the flora): c, se
North America, Mexico.<BR>

<P>
<B>