25a. <A NAME="27101696"></A><I><B>Delphinium parishii</B></I><B>
A.&nbsp;Gray subsp. <I>parishii</I> </B></B>-
Parish's larkspur, Apache larkspur, Clary's larkspur, Mohave larkspur
<P>
<I>Delphinium amabile</I>
Tidestrom; <I>D</I>.&nbsp;<I>amabile</I> subsp. <I>apachense</I>
(Eastwood) Ewan 
<P>
<B>Stems</B>
(17-)30-60(-100)&nbsp;cm.  <B>Leaves</B> basal and cauline, basal
often absent at anthesis; basal leaves with ultimate lobes 3-5;
cauline leaves usually much smaller, ultimate lobes 3-15, narrower
than those of basal leaves.  <B>Inflorescences:</B> pedicel 10-48&nbsp;mm,
8-25&nbsp;mm apart.  <B>Flowers:</B> sepals bright, &#177;&nbsp;sky
blue, reflexed, lateral sepals 8-12 &#215; 3-6&nbsp;mm, spurs
8-15&nbsp;mm; lower petal blades 3-6&nbsp;mm.  <B>Fruits</B> 9-21&nbsp;mm.
 2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering spring.  Desert scrub and
juniper woods; 200-3900&nbsp;m; Ariz., Calif., Nev., Utah; Mexico
(Baja California, Sonora).
<P>
 The typical phase of <I>Delphinium
parishii</I> subsp. <I>parishii</I> is found on the floor of desert
canyons just east of the peninsular ranges.  These plants have
sky blue flowers and, often, weak stems; blades of proximal leaves
are rarely present at anthesis.  The phase represented by the
type specimen of <I>D</I>.&nbsp;<I>amabile</I> grows in low elevation
desert in most of the range of <I>D</I>. <I>parishii</I> subsp.
<I>parishii</I> in California, Nevada, Utah, and western Arizona.
 These plants also have sky blue sepals but stout stems; they
often retain blades of proximal leaves at anthesis.  The phase
named <I>D</I>.&nbsp;<I>amabile</I> subsp. <I>clarianum</I> is
found primarily at higher elevations of desert mountains within
the range of <I>D</I>. <I>parishii</I> subsp. <I>parishii</I>
and is most easily recognized by its darker blue sepals.  The
type specimen of <I>D</I>.&nbsp;<I>apachense</I> represents a
phase that grows under relatively high moisture conditions, grows
taller, and retains more proximal leaves at anthesis; its sepals
may be sky blue or dark blue.  
<P>
 <I>Delphinium parishii</I> subsp. <I>parishii</I>
hybridizes with <I>D</I>.&nbsp;<I>andersonii</I>, <I>D</I>.&nbsp;<I>cardinale</I>,
<I>D</I>.&nbsp;<I>hansenii</I> subsp. <I>kernense</I>, and <I>D</I>.&nbsp;<I>nudicaule</I>
(in gardens).  The subspecies is likely to be confused only with
<I>D</I>.&nbsp;<I>andersonii</I>.  See discussion under that species
for distinguishing features and ecological relationships of the
two taxa.<BR>

<P>
<B>