2. <A NAME="27100924"></A><I><B>Delphinium barbeyi</B></I><B>
(Huth) Huth</B></B>, Bull. Herb.
Boissier 1: 335.  1893 - Subalpine larkspur, tall larkspur, Barbey's
larkspur -&nbsp;E F W2 
<P>
<I>Delphinium exaltatum</I>
Aiton var. (e) <I>barbeyi</I> Huth, Helios 10: 35.  1892; <I>D</I>.&nbsp;<I>occidentale</I>
(S.&nbsp;Watson) S.&nbsp;Watson var. <I>barbeyi</I> (Huth) S.&nbsp;L.
Welsh 
<P>
<B>Stems</B>
50-150&nbsp;cm; base green, glabrous.  <B>Leaves</B> cauline,
8-24, absent from proximal 1/5 of stem at anthesis; petiole 1-14&nbsp;cm.
 <B>Leaf blade</B> round to reniform, 4-8&nbsp;&#215; 7-15&nbsp;cm,
glabrous; ultimate lobes 5-9, width 8-50&nbsp;mm.  <B>Inflorescences</B>
10-50-flowered; pedicel 0.5-6&nbsp;cm, glandular-puberulent; bracteoles
1-4(-8)&nbsp;mm from flowers, blue to green, awl-shaped, 5-14&nbsp;mm,
puberulent.  <B>Flowers:</B> sepals dark bluish purple, sparsely
puberulent, lateral sepals forward pointing, 13-23&nbsp;&#215;
5-8&nbsp;mm, spurs ascending ca. 45&#176;, downcurved apically,
10-18&nbsp;mm; lower petal blades &#177;&nbsp;covering stamens,
4-7&nbsp;mm, clefts 2-3&nbsp;mm; hairs centered, mostly near base
of cleft, sparse elsewhere, white or yellow.  <B>Fruits</B> 17-22&nbsp;mm,
2.5-3 times longer than wide, puberulent.  <B>Seeds</B> wing-margined;
seed coat cells narrow but short, surfaces pustulate.  2<I>n</I>&nbsp;=&nbsp;16.
 
<P>
 Flowering summer.  Subalpine and alpine
sites in wet soils; 2500-4100&nbsp;m; Ariz., Colo., N.Mex., Utah,
Wyo.  
<P>
 <I>Delphinium barbeyi</I> hybridizes
extensively with <I>D</I>.&nbsp;<I>glaucum</I> in western Colorado
and eastern Utah, where plants appearing to be hybrid [<I>D</I>.&nbsp;&#215;<I>occidentale</I>
(S.&nbsp;Watson) S.&nbsp;Watson] are often far more common than
plants of either putative parent.  Several other names have been
used for these plants, including <I>D</I>.&nbsp;<I>elatum</I>
var. <I>occidentale</I> S.&nbsp;Watson, <I>D</I>.&nbsp;<I>abietorum</I>
Tidestrom, and <I>D</I>.&nbsp;<I>scopulorum</I> subsp. <I>occidentale</I>
(S.&nbsp;Watson) Abrams.  <I>Delphinium barbeyi</I> is also known
to hybridize with <I>D</I>.&nbsp;<I>ramosum</I> and <I>D</I>.&nbsp;<I>sapellonis</I>.
<BR>

<P>
<B>