40. <A NAME="27100991"></A><I><B>Delphinium variegatum</B></I><B>
Torrey &amp; A.&nbsp;Gray</B></B>,
Fl. N. Amer. 1: 32.  1838; not <I>D</I>.&nbsp;<I>variegatum</I>
Baillon 1883 -&nbsp;E 
<P>
<B>Stems</B>
(10-)20-50(-80)&nbsp;cm; base reddish or not, not longitudinally
ridged, long-pubescent.  <B>Leaves</B> mostly on proximal 1/3
of stem; basal leaves 0-6 at anthesis; cauline leaves 1-6 at anthesis;
petiole 0.5-9&nbsp;cm, petioles of proximal leaves long-pubescent.
 <B>Leaf blade</B> round to pentagonal, 1-4.5&nbsp;&#215; 2-6&nbsp;cm,
pubescent; ultimate lobes 3-15, width 3-8&nbsp;mm (basal), 2-5&nbsp;mm
(cauline).  <B>Inflorescences</B> (4-)6-17(-20)-flowered, open;
pedicel 0.5-3(-7)&nbsp;cm, usually puberulent; bracteoles 2-7(-23)&nbsp;mm
from flowers, green, linear-lanceolate, 3-8&nbsp;mm, puberulent.
 <B>Flowers:</B> sepals usually deep royal blue, sometimes bright
blue to light blue or white, &#177;&nbsp;finely pubescent, lateral
sepals spreading, 10-18(-25)&nbsp;&#215; 6-10&nbsp;mm, spurs straight,
ascending ca. 30&#176; above horizontal, 10-19&nbsp;mm; lower
petal blades slightly elevated, &#177;&nbsp;exposing stamens,
4-11&nbsp;mm, clefts 0.5-3.5&nbsp;mm; hairs sparse, more on inner
lobes than outer lobe or centered, scattered on margins, white
or yellow.  <B>Fruits</B> 9-19&nbsp;mm, 2.2-3.8 times longer than
wide, &#177;&nbsp;puberulent.  <B>Seeds</B> not echinate, appearing
&#177;&nbsp;smooth to naked eye; seed coat cells with margins
&#177;&nbsp;undulate, surfaces roughened.
<P>
 Subspecies 3 (3 in the flora): California.
<BR>
<BR>

<P>
<B>