54a. <A NAME="27103478"></A><I><B>Delphinium nuttallii</B></I><B>
A.&nbsp;Gray subsp. <I>nuttallii</I> </B></B>-
Nuttall's larkspur -&nbsp;E 
<P>
<B>Stems</B>
40-70&nbsp;cm.  <B>Flowers:</B> sepals blue or bluish purple,
spurs 10-13&nbsp;mm; lower petal blades 4.5-6.5&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;16.
 
<P>
 Flowering late spring-early summer.
 Rock outcrops, rocky meadows; 20-300&nbsp;m; Oreg., Wash.<BR>

<P>
<B>