11. <A NAME="27100921"></A><I><B>Delphinium andesicola</B></I><B>
Ewan</B></B>, J. Washington Acad.
Sci. 29: 476.  1939 -&nbsp;E 
<P>
<I>Delphinium andesicola</I>
Ewan subsp. <I>amplum</I> (Ewan) Ewan
<P>
<B>Stems</B>
60-200&nbsp;+cm; base reddish or not, glabrous, glaucous.  <B>Leaves</B>
cauline, 10-30, absent from proximal 1/5 of stem at anthesis;
petiole 1-15&nbsp;cm.  <B>Leaf blade</B> cordate to semicircular,
5-8&nbsp;&#215; 5-12&nbsp;cm, nearly glabrous; ultimate lobes
5-16, width 3-20&nbsp;mm, tips gradually tapered to mucronate
apex; midcauline leaf lobes more than 3 times longer than wide.
 <B>Inflorescences</B> 20-80-flowered; pedicel 1-2(-3)&nbsp;cm,
puberulent; bracteoles 1-3&nbsp;mm from flowers, green to brown,
linear-lanceolate, 3-6&nbsp;mm, puberulent.  <B>Flowers:</B> sepals
purple, puberulent, lateral sepals spreading, 9-12&nbsp;&#215;
5-7&nbsp;mm, spurs ascending ca. 45&#176;, curved downward apically,
purple, 10-13&nbsp;mm, blunt tipped; lower petal blades &#177;&nbsp;covering
stamens, 4-6&nbsp;mm, clefts 1.5-2.5&nbsp;mm; hairs centered,
densest on inner lobes near base of cleft, white.  <B>Fruits</B>
12-15&nbsp;mm, 3.5-4 times longer than wide, sparsely puberulent.
 <B>Seeds</B> unwinged; seed coat cells elongate, surfaces pustulate.
 2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering summer-early fall.  Meadows
and coniferous woods; 2200-3200&nbsp;m; Ariz.  
<P>
 <I>Delphinium andesicola</I>, the westernmost
representative of the southern Cordilleran complex, is found in
the Chiricahua, Huachuca, Graham, and White mountains.  Hybrids
with <I>Delphinium scopulorum</I> are known.  <BR>

<P>
<B>