5b. <A NAME="27100928"></A><I><B>Delphinium californicum</B></I><B>
Torrey &amp; A.&nbsp;Gray subsp. <I>interius</I> (Eastwood) Ewan</B></B>,
Univ. Colorado Stud., Ser. D, Phys. Sci. 2: 146.  1945 - Hospital
Canyon larkspur - C&nbsp;E 
<P>
<I>Delphinium californicum</I>
Torrey &amp; A.&nbsp;Gray var. <I>interius</I> Eastwood, Leafl.
W. Bot.  2: 137.  1938 
<P>
<B>Stems</B>
proximally sparsely puberulent, remainder &#177;&nbsp;glabrous.
 <B>Leaf blades</B> glabrous.  <B>Inflorescences</B> nearly glabrous.
 <B>Flowers:</B> sepals spreading to erect, greenish white, hairs
usually near apex only, lateral sepals 6-8&nbsp;mm, spurs 7-10&nbsp;mm;
upper petals glabrous.
<P>
 Flowering late spring.  Usually on
inland facing slopes in open woods; of conservation concern; 300-800&nbsp;m;
Calif.  
<P>
 <I>Delphinium californicum</I> subsp.
<I>interius</I> is known from fewer than a dozen localities. 
It apparently hybridizes with <I>D</I>.&nbsp;<I>hesperium</I>
subsp. <I>pallescens</I>. <BR>

<P>
<B>