24. <A NAME="27100919"></A><I><B>Delphinium andersonii</B></I><B>
A.&nbsp;Gray</B></B>, Bot. Gaz.
12: 53.  1887 - Anderson's larkspur -&nbsp;E F
<P>
<I>Delphinium andersonii</I>
subsp. <I>cognatum</I> (Greene) Ewan
<P>
<B>Stems</B>
(20-)30-60(-90)&nbsp;cm; base reddish, glabrous.  <B>Leaves</B>
mostly on proximal 1/2 of stem; green leaves usually present on
proximal 1/5 of stem at anthesis; basal leaves 0-8 at anthesis;
cauline leaves (0-)3-8 at anthesis; petiole 0.5-8&nbsp;cm.  <B>Leaf
blade</B> round, 1.5-4&nbsp;&#215; 2-6&nbsp;cm, nearly glabrous;
ultimate lobes 5-30, width 2-8&nbsp;mm (basal), 1-4&nbsp;mm (cauline);
lobe width of proximal leaves less than 4&nbsp;mm.  <B>Inflorescences</B>
10-25-flowered, cylindric; pedicel sigmoid (proximally spreading,
distally ascending), 1-4(-6.8)&nbsp;cm, glabrous to puberulent;
bracteoles 2-6(-8)&nbsp;mm from flowers, green, linear, 4-6(-11)&nbsp;mm,
&#177;&nbsp;puberulent.  <B>Flowers:</B> sepals dark blue, nearly
glabrous, lateral sepals spreading to reflexed, 9-16&nbsp;&#215;
3-7&nbsp;mm, spurs horizontal to slightly ascending, often decurved
apically, 12-18&nbsp;mm; lower petal blades elevated, &#177;&nbsp;exposing
stamens, 4-8&nbsp;mm, clefts 1-4&nbsp;mm; hairs centered, mostly
between claw and base of cleft, white.  <B>Fruits</B> 17-32&nbsp;mm,
4-5.5 times longer than wide, glabrous.  <B>Seeds:</B> seed coat
cells &#177;&nbsp;brick-shaped, cell margins &#177;&nbsp;undulate,
surfaces smooth.  2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering late spring-early summer.
 Talus, cold desert scrub, often growing up through shrubs, low
places where snow collects; 1300-2000&nbsp;m; Calif., Idaho, Mont.,
Nev., Oreg., Utah. 
<P>
 In much of its range <I>Delphinium
andersonii</I> hybridizes occasionally with members of the <I>D</I>.&nbsp;<I>nuttallianum</I>
complex and apparently with <I>D</I>.&nbsp;<I>parishii</I> in
at least one site in California.  These three taxa, with <I>D</I>.&nbsp;<I>scaposum</I>,
form an interesting group in that they appear to be ecological
replacements for one another, with <I>D</I>.&nbsp;<I>parishii</I>
occupying arid, hot deserts to the south and southwest, <I>D</I>.&nbsp;<I>andersonii</I>
growing in cooler, higher latitude and altitude deserts farther
north, <I>D</I>.&nbsp;<I>scaposum</I> in cool deserts farther
east, and <I>D</I>.&nbsp;<I>nuttallianum</I> at higher elevations
in much of the geographic range of the other three species.  <I>Delphinium
andersonii</I> is often mistaken for <I>D</I>.&nbsp;<I>nuttallianum</I>.
 Most individuals of <I>D</I>.&nbsp;<I>andersonii</I> (roots much
larger and more fibrous; stems solidly attached to roots; fruits
long, narrow, erect; inflorescences usually longer and narrower
at base; and pedicel sigmoid) can easily be distinguished from
<I>D</I>.&nbsp;<I>nuttallianum</I> (roots smaller and not fibrous;
stems tenuously attached to roots; fruits shorter, proportionally
thicker, spreading; inflorescences relatively shorter and wider
at base; and pedicel nearly straight). 
<P>
 Although roots of <I>Delphinium andersonii</I>
are quite similar to those of <I>D</I>.&nbsp;<I>antoninum</I>,
the two taxa may be readily distinguished by most features that
separate <I>D</I>.&nbsp;<I>nuttallianum</I> from <I>D</I>.&nbsp;<I>andersonii</I>.
 The name <I>Delphinium menziesii</I> was misapplied to <I>D</I>.&nbsp;<I>andersonii</I>
by S.&nbsp;Watson.<BR>

<P>
<B>