16b.1. <A NAME="50007400"></A><I><B>Delphinium</B></I><B>
Linnaeus subsect. <I>Exaltata</I> N.&nbsp;I. Malyutin, Bot. Zhurn.
(Moscow &amp; Leningrad) 72: 688.  1987</B></B>
 
<P>
<B>Roots</B>
4-15-branched, 10-80&nbsp;cm, twisted fibrous, dry; buds more
than 3&nbsp;mm, usually present throughout dormant season.  <B>Stems</B>
(1-)3-8(-19) per root, usually unbranched, elongation commencing
within 2 weeks of leaf initiation; base not narrowed, firmly attached
to root; proximal internodes similar in length to those of midstem.
 <B>Leaves</B> cauline, largest at or slightly below middle of
stem, others gradually reduced into bracts; petiole &#177;&nbsp;ascending;
blade shape and lobing similar throughout.  <B>Inflorescences</B>
usually 5-10 flowers per 5&nbsp;cm, &#177;&nbsp;dense, cylindric
(greatly shortened in some), spurs rarely intersecting rachis;
pedicel &#177;&nbsp;spreading, usually less than 2&nbsp;cm; rachis
to midpedicel angle more than 30&#176;; bracts &#177;&nbsp;similar
to leaves but smaller.  <B>Fruits</B> erect.  <B>Seeds</B> rectangular
to crescent-shaped, 1.5-3.5&nbsp;&#215; 1.2-2.5&nbsp;mm, not ringed
at proximal end, wing-margined or not; seed coats &#177;&nbsp;with
small irregular wavy ridges or ripples, cells elongate, cell margins
straight. 
<P>
 Species 13 or more (12 in the flora):
North America, Mexico, at least 1 species and probably more in
Asia. 
<P>
 Members of <I>Delphinium</I> subsect.
<I>Exaltata</I> are the typical tall larkspurs of poisonous-plant
literature.  Their abundance on some ranges, combined with their
large size and toxicity, make them significant sources of livestock
poisoning.  Several of the species in this subsection (<I>Delphinium
andesicola</I>, <I>D</I>.&nbsp;<I>californicum</I>, <I>D</I>.&nbsp;<I>glaucum</I>,
<I>D</I>.&nbsp;<I>novomexicanum</I>, <I>D</I>.&nbsp;<I>robustum</I>,
<I>D</I>.&nbsp;<I>sapellonis</I>, and the Mexican <I>D</I>.&nbsp;<I>valens</I>
Standley) form a tightly knit group in which the degree of difference
between members of the group and patterns of variation within
the members appear largely determined by the degree and length
of isolation in the various mountain ranges where the plants are
found.  <I>Delphinium andesicola</I>, <I>D</I>.&nbsp;<I>novomexicanum</I>,
<I>D</I>.&nbsp;<I>robustum</I>, <I>D</I>.&nbsp;<I>sapellonis</I>,
and <I>D</I>.&nbsp;<I>valens</I> form the southern Cordilleran
complex.<BR>

<P>
<B>