23. <A NAME="27100966"></A><I><B>Delphinium parryi</B></I><B>
A.&nbsp;Gray</B></B>, Bot. Gaz.
12: 53.  1887  
<P>
<B>Stems</B>
(10-)40-80(-110)&nbsp;cm; base reddish, puberulent.  <B>Leaves</B>
variably distributed; green leaves usually absent on proximal
1/5 of stem at anthesis; basal leaves 0-9 at anthesis; cauline
leaves 2-7 at anthesis; petiole 1-13&nbsp;cm.  <B>Leaf blade</B>
pentagonal, 1-7&nbsp;&#215; 2-10&nbsp;cm, &#177;&nbsp;puberulent;
ultimate lobes 3-27, width 1-20&nbsp;mm (basal), 0.5-5&nbsp;mm
(cauline).  <B>Inflorescences</B> (2-)8-24(-48)-flowered, cylindric;
pedicel &#177;&nbsp;spreading, (0.5-)1-3(-6.8)&nbsp;cm, usually
puberulent; bracteoles 2-7(-16)&nbsp;mm from flowers, green to
blue, lance-linear, 2-6(-10)&nbsp;mm, puberulent.  <B>Flowers:</B>
sepals dark blue to bluish purple, puberulent, lateral sepals
spreading or reflexed, (7-)10-20(-25)&nbsp;&#215; 4-9&nbsp;mm,
spurs straight, ascending 0-30&#176; above horizontal, 9-17(-21)&nbsp;mm;
lower petal blades slightly elevated, &#177;&nbsp;exposing stamens,
3-10&nbsp;mm, clefts 2-6&nbsp;mm; hairs mostly near base of cleft,
centered or on inner lobes, white.  <B>Fruits</B> 10-19&nbsp;mm,
2.8-4 times longer than wide, puberulent or glabrous.  <B>Seeds:</B>
seed coat cells &#177;&nbsp;brick-shaped, cell margins undulate,
surfaces &#177;&nbsp;roughened.
<P>
 Subspecies 5 (5 in the flora): North
America (California); Mexico.
<P>
 A number of local phases are found
in <I>Delphinium parryi</I>.  Five of these appear consistently
distinct and are recognized here.  Other phases may be locally
distinct but grade into other nearby phases.  <I>Delphinium parryi</I>
hybridizes with <I>D</I>.&nbsp;<I>cardinale</I> (<I>D</I>.&nbsp;&#215;<I>inflexum</I>
Davidson). 
<P>
 The Kawaiisu used the ground root of
<I>Delphinium parryi</I> medicinally as a salve for swollen limbs
(D.&nbsp;E. Moerman 1986, no subspecies specified).<BR>

<P>
<B>