43a. <A NAME="27103448"></A><I><B>Delphinium bicolor</B></I><B>
Nuttall subsp. <I>bicolor</I> </B></B>-&nbsp;E
F
<P>
<I>Delphinium nuttallianum</I>
Pritzel var. <I>pilosum</I> C.&nbsp;L. Hitchcock 
<P>
<B>Flowers:</B>
sepals dark blue to purple, lateral sepals 16-21&nbsp;&#215; 6-11&nbsp;mm,
spurs 13-18&nbsp;mm; lower petal blades with cleft less than 2&nbsp;mm;
hairs usually white.  
<P>
 Flowering late spring-early summer.
 Dry meadow edges, sage scrub, open woodlands and edges; not on
soils derived from limestone; 600-3100&nbsp;m; Alta., B.C., Sask.;
Idaho, Mont., Nebr., N.Dak., S.Dak., Wyo.  
<P>
 Rydberg's <I>Delphinium bicolor</I>
var. <I>montanense</I> tends to have more pubescence and larger
flowers but is otherwise typical and apparently fully intergrades
with <I>D</I>.&nbsp;<I>bicolor</I> subsp. <I>bicolor</I>.  Often
referred to as one of the low larkspurs in poisonous-plant literature,
the plant is abundant on some ranges and is the cause of some
livestock poisonings.  <BR>

<P>
<B>