60a. <A NAME="27101687"></A><I><B>Delphinium patens</B></I><B>
Bentham subsp. <I>patens</I> </B></B>-&nbsp;E

<P>
<I>Delphinium decorum</I>
Fischer &amp; C.&nbsp;A. Meyer var. <I>patens</I> (Bentham) A.&nbsp;Gray
<P>
<B>Leaves:</B>
basal leaves usually present at anthesis; basal and proximal cauline
leaf blades usually cleft more than 4/5 radius of blade.  <B>Leaf
blade:</B> ultimate lobes 3-5, width usually less than 15&nbsp;mm.
 <B>Inflorescences:</B> pedicel usually glabrous.  <B>Flowers:</B>
lateral sepals 9-20&nbsp;mm, spurs 10-15&nbsp;mm; lower petal
blades 4-6&nbsp;mm; hairs asymmetrically distributed.  2<I>n</I>&nbsp;=&nbsp;16.
 
<P>
 Flowering spring.  Grasslands, open
woods; 80-1100&nbsp;m; Calif. 
<P>
 <I>Delphinium patens</I> subsp. <I>patens</I>
hybridizes with <I>D</I>.&nbsp;<I>decorum</I> (see discussion
under <I>D</I>.&nbsp;<I>decorum</I>), <I>D</I>.&nbsp;<I>nudicaule</I>,
and <I>D</I>.&nbsp;<I>variegatum</I>.  Plants of <I>D</I>.&nbsp;<I>patens</I>
subsp. <I>patens</I> have been confused with <I>D</I>.&nbsp;<I>decorum</I>,
<I>D</I>.&nbsp;<I>gracilentum</I>, and <I>D</I>.&nbsp;<I>nuttallianum</I>.
 See discussions under those species for distinguishing features.
<BR>

<P>
<B>