39c. <A NAME="27100946"></A><I><B>Delphinium hesperium</B></I><B>
A.&nbsp;Gray subsp. <I>pallescens</I> (Ewan) H.&nbsp;F. Lewis
&amp; Epling</B></B>, Brittonia
8: 10.  1954 - Pale-flowered western larkspur -&nbsp;E 
<P>
<I>Delphinium hesperium</I>
A.&nbsp;Gray forma <I>pallescens</I> Ewan, Univ. Colorado Stud.,
Ser.&nbsp;D, Phys. Sci. 2: 179.  1945
<P>
<B>Stems</B>
usually glabrous.  <B>Inflorescences</B> usually fewer than 25-flowered,
open; pedicel &#177;&nbsp;spreading.  <B>Flowers:</B> sepals white
to pinkish, rarely light blue, spreading, lateral sepals 10-15&nbsp;mm,
more than 4&nbsp;mm wide, spurs 10-17&nbsp;mm; lower petal blades
4-7&nbsp;mm.  <B>Fruits</B> 3-3.5 times longer than wide.  2<I>n</I>&nbsp;=&nbsp;16.
 
<P>
 Flowering spring.  Open oak woods and
grassland; 20-1000&nbsp;m; Calif.  
<P>
 <I>Delphinium hesperium</I> subsp.
<I>pallescens</I> grows only east of the Coast Range divide. 
It hybridizes with <I>D</I>.&nbsp;<I>gypsophilum</I>, <I>D</I>.&nbsp;<I>parryi</I>,
<I>D</I>.&nbsp;<I>recurvatum</I>, <I>D</I>.&nbsp;<I>uliginosum</I>,
and <I>D</I>.&nbsp;<I>variegatum</I>.  Light blue sepals probably
result from introgression involving <I>D</I>.&nbsp;<I>variegatum</I>,
<I>D</I>.&nbsp;<I>parryi</I>, or <I>D</I>.&nbsp;<I>hesperium</I>
subsp. <I>hesperium</I>.  Intermediates are occasionally found
between <I>D</I>.&nbsp;<I>hesperium</I> subsp. <I>pallescens</I>
and subsp. <I>hesperium</I> (particularly in Napa County), but
the two taxa remain, for the most part, geographically isolated.
<P>
 <I>Delphinium hesperium</I> subsp.
<I>pallescens</I> has sometimes been confused with <I>D</I>.&nbsp;<I>gypsophilum</I>
or with white-flowered plants of <I>D</I>.&nbsp;<I>hansenii</I>;
see discussion under those species.<BR>

<P>
<B>