43. <A NAME="27100925"></A><I><B>Delphinium bicolor</B></I><B>
Nuttall</B></B>, J. Acad. Nat.
Sci. Philadelphia 7: 10.  1834 - Flathead larkspur, low larkspur,
little larkspur -&nbsp;E W2 
<P>
<B>Stems</B>
10-40(-70)&nbsp;cm; base often reddish, glabrous to puberulent.
 <B>Leaves</B> mostly on proximal 1/3 of stem; basal leaves (0-)2-7
at anthesis; cauline leaves 3-6 at anthesis; petiole 0.3-8&nbsp;cm.
 <B>Leaf blade</B> round, 1-4&nbsp;&#215; 1.5-7&nbsp;cm, glabrous
to puberulent; ultimate lobes 3-19, width 1-8&nbsp;mm (basal),
1-3&nbsp;mm (cauline).  <B>Inflorescences</B> 3-12(-22)-flowered;
pedicel 1-4(-8)&nbsp;cm, &#177;&nbsp;puberulent; bracteoles 2-7(-17)&nbsp;mm
from flowers, green, sometimes white-margined, lanceolate, 4-6(-8)&nbsp;mm,
puberulent.  <B>Flowers:</B> sepals dark blue, puberulent, lateral
sepals usually spreading, 16-21&nbsp;&#215; 6-12&nbsp;mm, spurs
straight to gently decurved, ascending 0-40&#176; above horizontal,
13-23&nbsp;mm; lower petal blades covering stamens, 7-12&nbsp;mm,
clefts 0.1-3&nbsp;mm; hairs sparse, short, mostly on inner lobes
below junction of blade and claw, white or yellow.  <B>Fruits</B>
(12-)16-22&nbsp;mm, 4-4.5 times longer than wide, usually puberulent.
 <B>Seeds</B> often winged; seed coat cells with surfaces &#177;&nbsp;smooth.
 
<P>
 Subspecies 2 (2 in the flora): w North
America.
<P>
 <I>Delphinium bicolor</I> is closely
related to <I>D</I>.&nbsp;<I>glareosum</I>; it differs in its
wider-lobed cauline leaves, shallower petal clefts, and narrower
fruits.
<P>
 The Gosiute consider this plant to
be poisonous (D.&nbsp;E. Moerman 1986, subspecies not specified).
<BR>

<P>
<B>