16a. <A NAME="27104833"></A><I><B>Delphinium</B></I><B>
Linnaeus sect. <I>Elatopsis</I> Huth, Bull. Herb. Boissier 1:
330.  1893</B></B>
<P>
<B>Roots</B>
20-60&nbsp;cm, fibrous, dry; buds more than 3&nbsp;mm.  <B>Stems</B>
2-8 per root; base firmly attached to root.  <B>Leaves</B> cauline,
gradually reduced into bracts.  <B>Flowers:</B> sepals blue, purple,
or white; lower petal blades less than 1/5 length of lateral sepals,
darker colored than lateral sepals.  <BR>


<P>
<B>