44. <A NAME="27100936"></A><I><B>Delphinium glareosum</B></I><B>
Greene</B></B>, Pittonia 3: 257.
 1898 - Olympic Mountain larkspur -&nbsp;E F 
<P>
<I>Delphinium caprorum</I>
Ewan
<P>
<B>Stems</B>
20-40&nbsp;cm; base reddish or not, glabrous, glaucous.  <B>Leaves:</B>
distribution variable; basal leaves 0-4 at anthesis; cauline leaves
3-6 at anthesis; petiole 1-17&nbsp;cm.  <B>Leaf blade</B> round,
2-4&nbsp;&#215; 3-7&nbsp;cm, not succulent, glabrous; ultimate
lobes 7-15, width 3-10&nbsp;mm (basal), 2-7&nbsp;mm (cauline).
 <B>Inflorescences</B> 5-12-flowered; pedicel 1-5(-10)&nbsp;cm,
nearly glabrous to glandular-puberulent;  bracteoles 2-10(-20)&nbsp;mm
from flowers, green, linear, 3-8&nbsp;mm, puberulent.  <B>Flowers:</B>
sepals dark blue, nearly glabrous, lateral sepals spreading, 14-22&nbsp;&#215;
6-10&nbsp;mm, spurs &#177;&nbsp;straight, orientation varies from
30&#176; above to 30&#176; below horizontal, 16-20&nbsp;mm; lower
petal blades slightly elevated, &#177;&nbsp;covering stamens,
6-9&nbsp;mm, clefts 2-4&nbsp;mm; hairs local, densest on inner
lobes near base of cleft, white to light yellow.  <B>Fruits</B>
12-17&nbsp;mm, 2.5-3 times longer than wide, glabrous.  <B>Seeds</B>
&#177;&nbsp;wing-margined; seed coat cells with surfaces smooth.
 
<P>
 Flowering summer.  Steep rocky subalpine
to alpine slopes; 1500-2800&nbsp;m; B.C.; Oreg., Wash.  
<P>
 See discussion under <I>Delphinium
bicolor</I>. <BR>

<P>
<B>