5. <A NAME="27100927"></A><I><B>Delphinium californicum</B></I><B>
Torrey &amp; A.&nbsp;Gray</B></B>,
Fl. N. Amer. 1: 31.  1838 -&nbsp;E 
<P>
<B>Stems</B>
(60-)100-160(-230)&nbsp;cm; base reddish, puberulent-glabrous.
 <B>Leaves</B> cauline, 6-20, absent from proximal 1/5 of stem
at anthesis; petiole 0.5-7&nbsp;cm.  <B>Leaf blade</B> pentagonal
to round, 3-9&nbsp;&#215; 3-12&nbsp;cm, puberulent; ultimate lobes
3-15, width 5-60&nbsp;mm; midcauline leaf lobes less than 3 times
longer than wide.  <B>Inflorescences</B> (16-)40-90(-162)-flowered;
pedicel 0.5-2.5(-6.5)&nbsp;cm, puberulent; bracteoles 2-5&nbsp;mm
from flowers, reddish, linear, (3-)7-12(-15)&nbsp;mm, puberulent.
 <B>Flowers:</B> sepals lavender to greenish white, abaxially
puberulent, lateral sepals forward pointing to form a pseudotube,
6-11&nbsp;&#215; 5-7&nbsp;mm, spurs straight, slightly ascending,
apically downcurved, 7-11(-14)&nbsp;mm; lower petal blades elevated,
&#177;&nbsp;exposing stamens, 3-5&nbsp;mm, clefts 1.5-2.5&nbsp;mm;
hairs covering adaxial surface, white or light yellow.  <B>Fruits</B>
11-16&nbsp;mm, 2.5-3.5 times longer than wide, glabrous to sparsely
puberulent.  <B>Seeds</B> unwinged; seed coat cells elongate,
surfaces &#177;&nbsp;roughened.
<P>
 Subspecies 2 (2 in the flora): California.
<P>
 <I>Delphinium californicum</I> can
be confused only with <I>D</I>.&nbsp;<I>glaucum</I> or <I>D</I>.&nbsp;<I>exaltatum</I>.
 The three species may be separated by the abundant pubescence
and early flowering date of <I>D</I>.&nbsp;<I>californicum</I>
as compared to the other two taxa, low elevation sites of <I>D</I>.&nbsp;<I>californicum</I>
compared to <I>D</I>.&nbsp;<I>glaucum</I>, and western geographic
distribution of <I>D</I>.&nbsp;<I>californicum</I> compared to
<I>D</I>.&nbsp;<I>exaltatum</I>.  <BR>

<P>
<B>