48. <A NAME="27100951"></A><I><B>Delphinium luteum</B></I><B>
A.&nbsp;Heller</B></B>, Bull.
S. Calif. Acad. Sci. 6: 68.  1903 - Yellow larkspur - C E 
<P>
<B>Stems</B>
20-40(-55)&nbsp;cm; base often reddish, nearly glabrous.  <B>Leaves</B>
mostly on proximal 1/4 of stem; basal leaves 4-9 at anthesis;
cauline leaves 2-4 at anthesis; petiole 0.5-6&nbsp;cm.  <B>Leaf
blade</B> round to pentagonal, 1-5&nbsp;&#215; 2-10&nbsp;cm, nearly
glabrous; ultimate lobes 3-5, width 8-30&nbsp;mm (basal), 5-15&nbsp;mm
(cauline).  <B>Inflorescences</B> 5-25(-37)-flowered; pedicel
(1-)3-5(-7)&nbsp;cm, puberulent; bracteoles 6-10(-17)&nbsp;mm
from flowers, green, linear-lanceolate, 6-7&nbsp;mm, nearly glabrous.
 <B>Flowers:</B> sepals bright yellow, puberulent, appearing waxy,
lateral sepals &#177;&nbsp;forward pointing, (11-)14-16&nbsp;&#215;
(6-)9-13&nbsp;mm, spur straight, ca. 30&#176; below horizontal,
11-20&nbsp;mm; lower petal blades elevated, exposing stamens,
3-4&nbsp;mm, clefts 0.5-1.5&nbsp;mm; hairs sparse or absent, &#177;&nbsp;evenly
distributed if present, white to yellow.  <B>Fruits</B> 11-14&nbsp;mm,
3.5-4.5 times longer than wide, glabrous.  <B>Seeds</B> unwinged;
seed coat cell surfaces smooth.  
<P>
 Flowering late winter-mid spring. 
Wet cliffs, coastal grassland or chaparral; of conservation concern;
0-50&nbsp;m; Calif. 
<P>
 <I>Delphinium luteum</I> is presently
known from only three populations.  It is known to hybridize with
<I>D</I>.&nbsp;<I>decorum</I> and with <I>D</I>.&nbsp;<I>nudicaule</I>.
 Populations of <I>D</I>.&nbsp;<I>hesperium</I> subsp. <I>hesperium</I>
also occur at the type locality; <I>D</I>.&nbsp;<I>luteum</I>
flowers earlier and hybrids are not known.
<P>
 <I>Delphinium luteum</I> is not likely
to be mistaken for any other species of <I>Delphinium</I>.  It
has been treated as a variety of <I>D</I>.&nbsp;<I>nudicaule</I>
and is closely related to that species.  Sepals of the infrequent
yellow-flowered phase of <I>D</I>.&nbsp;<I>nudicaule</I>, however,
have a much drabber appearance compared with the bright shining
yellow of the sepals in <I>D</I>.&nbsp;<I>luteum</I>. <BR>

