55. <A NAME="27100987"></A><I><B>Delphinium tricorne</B></I><B>
Michaux</B></B>, Fl. Bor.-Amer.,
314.  1803 - Dwarf larkspur -&nbsp;E F 
<P>
<B>Stems</B>
20-60&nbsp;cm; base often reddish, nearly glabrous.  <B>Leaves</B>
mostly on proximal 1/3 of stem; basal leaves 0-4 at anthesis;
cauline leaves 2-8 at anthesis; petiole 4-12&nbsp;cm.  <B>Leaf
blade</B> round, 2-8&nbsp;&#215; 4-12&nbsp;cm, nearly glabrous;
ultimate lobes 3-18, 5 or more extending more than 3/5 distance
to petiole, width 2-10&nbsp;mm (basal), 4-10&nbsp;mm (cauline),
widest at middle or in proximal 1/2.  <B>Inflorescences</B> 5-15(-30)-flowered,
less than 3 times longer than wide; pedicel 1-2.5&nbsp;cm, puberulent;
bracteoles 1-4(-6)&nbsp;mm from flowers, green, linear, 3-5&nbsp;mm,
puberulent.  <B>Flowers:</B> sepals deep bluish purple to pink
or white, puberulent, lateral sepals spreading, 11-19&nbsp;&#215;
4-7&nbsp;mm, spurs straight, within 30&#176; of horizontal, 13-16&nbsp;mm;
lower petal blades &#177;&nbsp;covering stamens, blue, except
sometimes in white-flowered plants, 6-10&nbsp;mm, clefts 0.5-2&nbsp;mm;
hairs sparse, mostly centered near junction of blade and claw,
white.  <B>Fruits</B> 14-22&nbsp;mm, 4-4.5 times longer than wide,
nearly glabrous.  <B>Seeds</B> unwinged; surface of each seed
coat cell with 1-5 small, swollen, elongate, blunt, hairlike structures,
barely visible at 20&#215;, otherwise smooth.  2<I>n</I>&nbsp;=&nbsp;16.
 
<P>
 Flowering spring.  Slopes in deciduous
forests, thicket edges, moist prairies; 10-1500&nbsp;m; Ala.,
Ark., D.C., Ga., Ill., Ind., Iowa, Kans., Ky., Md., Miss., Mo.,
Nebr., N.C., Ohio, Okla., Pa., S.C., Tenn., Va., W.Va.  
<P>
 <I>Delphinium tricorne</I> is the most
commonly encountered larkspur east of the Great Plains.
<P>
 The Cherokee prepared infusions of
<I>Delphinium tricorne</I> to ingest for heart problems, although
they believed the roots of the plant made cows drunk and killed
them (D.&nbsp;E. Moerman 1986).<BR>

<P>
<B>