16b.6. <A NAME="50076420"></A><I><B>Delphinium</B></I><B>
Linnaeus subsect. <I>Virescens</I> M. J. Warnock, Phytologia
78: 85. 1995</B></B>
<P>
<B>Roots</B>
2-8-branched, fusiform, fascicled, 3-8(-15) cm, &#177; fleshy;
buds minute. <B>Stems</B> 1(-2) per root, usually unbranched,
elongation delayed 4-16 weeks after leaf initiation; base not
narrowed, firmly attached to root. <B>Leaves</B> basal and cauline,
largest near base of stem, others often abruptly smaller on distal
portion of stem; basal petioles spreading, cauline petioles ascending;
basal leaves more rounded and with fewer, wider lobes than cauline
leaves. <B>Inflorescences</B> usually with 3-8 flowers per 5 cm,
&#177; dense, cylindric; pedicel appressed-ascending, usually
less than 2 cm; bracts markedly smaller and fewer lobed than
leaves. <B>Fruits</B> erect. <B>Seeds</B> crescent-shaped to obpyramidal,
1.5-2.5 &#215; 0.8-1.8 mm, not ringed, not wing-margined;
seed coats with prominent multicellular, transverse, wavy ridges,
cells &#177; brick-shaped, cell margins straight. 
<P>
Species 3 (3 in the flora): North America,
n Mexico.
<P>
<B>SELECTED REFERENCE</B>

<P>
Warnock, M. J. 1981. Biosystematics
of the <I>Delphinium carolinianum</I> complex (Ranunculaceae).
Syst. Bot. 6: 38-54. <BR>

<P>
<B>