54. <A NAME="27100962"></A><I><B>Delphinium nuttallii</B></I><B>
A.&nbsp;Gray</B></B>, Bot. Gaz.
12: 54.  1887 -&nbsp;E 
<P>
<B>Stems</B>
20-60(-90)&nbsp;cm; base usually reddish, pubescent.  <B>Leaves</B>
mostly on proximal 1/2 of stem; basal leaves 0-2 at anthesis;
cauline leaves 3-10 at anthesis; petiole 0.3-19&nbsp;cm.  <B>Leaf
blade</B> round to reniform, 2-8&nbsp;&#215; 3-14&nbsp;cm, pubescent;
ultimate lobes 5-18, width 4-7&nbsp;mm (basal), 1-5&nbsp;mm (cauline),
widest at middle or in proximal 1/2.  <B>Inflorescences</B> 5-25(-40)-flowered,
at least 2 times longer than wide; pedicel 1.5-4(-9)&nbsp;cm,
puberulent; bracteoles 2-3&nbsp;mm from flowers, green, linear,
4-6&nbsp;mm, puberulent.  <B>Flowers:</B> sepals bluish purple
to yellowish, (&#177;&nbsp;drab), often partly fading upon drying,
puberulent, lateral sepals &#177;&nbsp;spreading, 8-11&nbsp;&#215;
3-6&nbsp;mm, spurs straight, slightly ascending, 9-13&nbsp;mm;
lower petal blades &#177;&nbsp;covering stamens, 4-6&nbsp;mm,
clefts 0.5-2&nbsp;mm; hairs well dispersed, mostly near margins
and base of cleft, white to yellow or blue.  <B>Fruits</B> 10-14(-18)&nbsp;mm,
3.5-4 times longer than wide, pubescent.  <B>Seeds</B> wing-margined;
seed coat cell surfaces smooth.
<P>
 Subspecies 2 (2 in the flora): Oreg.,
Wash.
<P>
 <I>Delphinium nuttallii</I> has often
been confused with <I>D</I>.&nbsp;<I>menziesii</I>; it may be
distinguished by consistently smaller flowers and usually more
flowers per plant than in the latter.  Interestingly, each species
produces both blue-purple and yellowish flower colors, in separate
populations.<BR>

<P>
<B>