6. <A NAME="27100937"></A><I><B>Delphinium glaucescens</B></I><B>
Rydberg</B></B>, Mem. New York
Bot. Gard. 1: 155.  1900 - Glaucous larkspur -&nbsp;E 
<P>
<B>Stems</B>
35-70(-100)&nbsp;cm; base &#177;&nbsp;reddish, glabrous, glaucous.
 <B>Leaves</B> cauline, 6-22, absent from proximal 1/5 of stem
at anthesis; petiole 1-10&nbsp;cm.  <B>Leaf blade</B> pentagonal
to round, 2-9&nbsp;&#215; 3-14&nbsp;cm, margins seldom laciniate,
nearly glabrous; ultimate lobes 5-17, width 2-8&nbsp;mm, tips
abruptly tapered to mucronate apex; midcauline leaf lobes more
than 3 times longer than wide.  <B>Inflorescences</B> 10-25-flowered;
pedicel 0.5-1.5&nbsp;cm, puberulent to glabrous; bracteoles 2-20&nbsp;mm
from flowers, green, linear, 3-8&nbsp;mm, nearly glabrous.  <B>Flowers:</B>
sepals dark blue, nearly glabrous, lateral sepals spreading to
reflexed, 8-12&nbsp;&#215; 3-4&nbsp;mm, spurs straight, ascending
40-90&#176;, 9-13&nbsp;mm; lower petal blades &#177;&nbsp;covering
stamens, 3-5&nbsp;mm, clefts 1-2&nbsp;mm; hairs centered, mostly
near base of cleft, white.  <B>Fruits</B> 7-13&nbsp;mm, 3.4-4
times longer than wide, puberulent.  <B>Seeds</B> &#177;&nbsp;wing-margined;
seed coat cells narrow but short, surfaces smooth.  
<P>
 Flowering summer.  Rocky slopes in
subalpine coniferous woods; 2000-4000&nbsp;m; Idaho, Mont., Wyo.
 
<P>
 Hybrids with <I>Delphinium glaucum</I>
are known.<BR>

<P>
<B>