60c. <A NAME="27100972"></A><I><B>Delphinium patens</B></I><B>
Bentham subsp. <I>montanum</I> (Munz) Ewan</B></B>,
Bull. Torrey Bot. Club 69: 147.  1942 -&nbsp;E 
<P>
<I>Delphinium parryi</I>
A.&nbsp;Gray var. <I>montanum</I> Munz, Bull. S. California Acad.
Sci. 31: 61.  1932 
<P>
<B>Leaves:</B>
basal leaves usually absent at anthesis; basal and proximal cauline
leaves usually cleft more than 4/5 radius of blade.  <B>Leaf blade:</B>
ultimate lobes 5-10, width less than 10&nbsp;mm.  <B>Inflorescences:</B>
pedicel generally glandular-puberulent.  <B>Flowers:</B> lateral
sepals 7-11&nbsp;mm, spurs 8-14&nbsp;mm; lower petal blades 3-6&nbsp;mm;
hairs symmetrically distributed.  
<P>
 Flowering late spring-early summer.
 Open coniferous forest; 1500-2800&nbsp;m; Calif.  
<P>
 <I>Delphinium patens</I> subsp. <I>montanum</I>
is usually found on drier, leeward sides of mountain ranges; subsp.
<I>hepaticoideum</I> is found on wetter, windward sides of many
of the same mountain ranges.  
<P>
 <I>Delphinium patens</I> subsp. <I>montanum</I>
is likely to be confused with <I>D</I>.&nbsp;<I>gracilentum</I>
or <I>D</I>.&nbsp;<I>nuttallianum</I>; see discussion under those
species for distinguishing features.  
<P>
 Hybrids with <I>D</I>.&nbsp;<I>umbraculorum</I>
are known.<BR>

<P>
<B>