20. <A NAME="27100948"></A><I><B>Delphinium inopinum</B></I><B>
(Jepson) H.&nbsp;F. Lewis &amp; Epling</B></B>,
Brittonia 8: 11.  1954 - Unexpected larkspur -&nbsp;E 
<P>
<I>Delphinium parishii</I>
A.&nbsp;Gray var. <I>inopinum</I> Jepson, Fl. Calif. 1: 526. 
1914
<P>
<B>Stems</B>
70-110(-150)&nbsp;cm; base reddish or not, glabrous, often glaucous.
 <B>Leaves</B> mostly on proximal 1/3 of stem, on proximal 1/5
at anthesis; basal leaves 0-4 at anthesis; cauline leaves 6-12
at anthesis; petiole 1-18&nbsp;cm.  <B>Leaf blade</B> &#177;&nbsp;pentagonal,
1-5&nbsp;&#215; 1.5-7&nbsp;cm, glabrous; ultimate lobes 3-9, width
5-28&nbsp;mm (basal), 3-18&nbsp;mm (cauline).  <B>Inflorescences</B>
20-35(-51)-flowered, usually dense; pedicel 0.3-1.5(-2.5)&nbsp;cm,
glabrous; bracteoles 2-4&nbsp;mm from flowers, green, linear,
1-2(-4)&nbsp;mm, nearly glabrous.  <B>Flowers:</B> sepals white
to light blue, glabrous, lateral sepals spreading to forward pointing,
8-12&nbsp;&#215; 3-5&nbsp;mm, spurs straight to gently upcurved,
ascending 30-60&#176; above horizontal, 9-12&nbsp;mm; lower petal
blades slightly elevated, &#177;&nbsp;exposing stamens, 3-5&nbsp;mm,
clefts 1-2&nbsp;mm; hairs centered,  densest near base of cleft,
white.  <B>Fruits</B> 12-20&nbsp;mm, 2.6-4 times longer than wide,
glabrous.  <B>Seeds</B> wing-margined; seed coat cells surfaces
smooth. 
<P>
 Flowering summer.  Rock outcrops in
open coniferous woods; 2200-2800&nbsp;m; Calif.  
<P>
 <I>Delphinium inopinum</I> is apparently
endemic to a white metamorphic rock substrate in the Piute Mountains
and southern Sierra Nevada.  It is not known to hybridize with
any other species, although <I>D</I>.&nbsp;<I>patens</I> subsp.
<I>montanum</I> has been collected (when both were flowering)
within 1&nbsp;km of <I>D</I>.&nbsp;<I>inopinum</I> and probably
occurs much closer.  <I>Delphinium inopinum</I> is often confused
with <I>D</I>.&nbsp;<I>parishii</I> subsp. <I>pallidum</I> and
superficially resembles some white-flowered individuals of <I>D</I>.&nbsp;<I>hansenii</I>,
as well as <I>D</I>.&nbsp;<I>gypsophilum</I> and <I>D</I>.&nbsp;<I>hesperium</I>
subsp. <I>pallescens</I>.  The massive roots with prominent buds
readily distinguish <I>D</I>.&nbsp;<I>inopinum</I> from all of
these.  In addition, the pubescence found on <I>D</I>.&nbsp;<I>hansenii</I>
will separate it from the glabrous <I>D</I>.&nbsp;<I>inopinum</I>.
 Leaves are rarely seen at anthesis near the base of the stem
in <I>D</I>.&nbsp;<I>hesperium</I> subsp. <I>pallescens</I>; they
are present in <I>D</I>.&nbsp;<I>inopinum</I>. <BR>

<P>
<B>