26. <A NAME="27100978"></A><I><B>Delphinium recurvatum</B></I><B>
Greene</B></B>, Pittonia 1: 285.
 1889 - Valley larkspur, recurved larkspur - C E 
<P>
<I>Delphinium hesperium</I>
A.&nbsp;Gray var. <I>recurvatum</I> (Greene) K.&nbsp;C. Davis

<P>
<B>Stems</B>
(18-)30-50(-85)&nbsp;cm; base reddish, glabrous.  <B>Leaves:</B>
basal leaves 0-2 at anthesis; cauline leaves 3-7 at anthesis;
petiole 1-8&nbsp;cm.  <B>Leaf blade</B> round to pentagonal, 1-4&nbsp;&#215;
1.5-6&nbsp;cm, nearly glabrous; ultimate lobes 3-11, width 3-15&nbsp;mm
(basal), 1-10&nbsp;mm (cauline).  <B>Inflorescences</B> (8-)10-25(-47)-flowered,
narrowly pyramidal; pedicel &#177;&nbsp;spreading, (0.5-)1.5-4(-6)&nbsp;cm,
nearly glabrous; bracteoles 3-8(-18)&nbsp;mm from flowers, green,
sometimes margins white, lanceolate to linear, 3-5(-8)&nbsp;mm,
nearly glabrous.  <B>Flowers:</B> sepals light to sky blue (becoming
bluer upon drying), puberulent, lateral sepals reflexed, 11-16&nbsp;&#215;
5-7(-9)&nbsp;mm, spurs straight to gently upcurved, ascending
0-30&#176; above horizontal, 10-15(-18)&nbsp;mm; lower petal blades
elevated, &#177;&nbsp;exposing stamens, 5-8&nbsp;mm, clefts 0.5-2.5&nbsp;mm;
hairs mostly centered on inner lobes near base of cleft, white.
 <B>Fruits</B> 8-21&nbsp;mm, 2.2-3 times longer than wide, puberulent.
 <B>Seeds:</B> seed coat cells brick-shaped, cell margins undulate,
surfaces roughened.  2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering spring.  Grassland, <I>Atriplex</I>
scrub; of conservation concern; 30-600&nbsp;m; Calif.  
<P>
 <I>Delphinium recurvatum</I> has a
very restricted distribution in the Central (especially San Joaquin)
Valley.  This species was probably much more common in the past;
most of its habitat has been converted into irrigated croplands.
 <I>Delphinium recurvatum</I> grows in poorly drained, alkaline
soils on valley floors.  
<P>
 Hybrids are known between <I>Delphinium
recurvatum</I> and <I>D</I>.&nbsp;<I>gypsophilum</I>, <I>D</I>.&nbsp;<I>hesperium</I>,
<I>D</I>.&nbsp;<I>parryi</I>, and <I>D</I>.&nbsp;<I>variegatum</I>.
 <I>Delphinium recurvatum</I> is most likely to be confused with
<I>D</I>.&nbsp;<I>gypsophilum</I> or <I>D</I>.&nbsp;<I>hesperium</I>
subsp. <I>pallescens</I>.  Distinguishing features are found in
discussions of those taxa.<BR>

<P>
<B>