42a. <A NAME="27103088"></A><I><B>Delphinium hansenii</B></I><B>
(Greene) Greene subsp. <I>hansenii</I> </B></B>-
Hansen's larkspur -&nbsp;E F
<P>
<I>Delphinium hesperium</I>
A. Gray var. <I>hansenii</I> Greene; <I>D</I>.&nbsp;<I>hansenii</I>
subsp. <I>arcuatum</I> (Greene) Ewan
<P>
<B>Stems</B>
40-80(-180)&nbsp;cm, base simple- and/or long-puberulent.  <B>Leaves</B>
mainly cauline; basal leaves usually absent at anthesis; cauline
leaves 3 or more, gradually smaller than basal leaves.  <B>Inflorescences</B>
(2-)6-11 flowers per 5&nbsp;cm, dense or less commonly open. 
<B>Flowers:</B> sepals dark blue-purple to white or pink, lateral
sepals 7-10(-13)&nbsp;mm, spurs 8-13&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;16,&nbsp;32.
 
<P>
 Flowering spring(-early summer).  Open
oak woods, grasslands; 100-3000&nbsp;m; Calif.  
<P>
 <I>Delphinium hansenii</I> subsp. <I>hansenii</I>
produces natural hybrids with <I>D</I>.&nbsp;<I>gypsophilum</I>,
<I>D</I>.&nbsp;<I>hesperium</I>, and <I>D</I>.&nbsp;<I>variegatum</I>.
 <BR>

<P>
<B>