49. <A NAME="27100988"></A><I><B>Delphinium trolliifolium</B></I><B>
A.&nbsp;Gray</B></B>, Proc. Amer.
Acad. Arts 8: 375.  1872 - Cow-poison, poison larkspur -&nbsp;E

<P>
<B>Stems</B>
(40-)60-120(-180)&nbsp;cm; base usually reddish, glabrous to puberulent.
 <B>Leaves</B> mostly cauline at anthesis; basal leaves 0(-3)
at anthesis; cauline leaves 5-12 at anthesis; petiole 0.5-17&nbsp;cm.
 <B>Leaf blade</B> &#177;&nbsp;pentagonal, 4-8&nbsp;&#215; 7-16&nbsp;cm,
margins &#177;&nbsp;incised, nearly glabrous; ultimate lobes 0-9,
width 15-30&nbsp;mm (basal), 5-20&nbsp;mm (cauline), widest at
middle or in proximal 1/2.  <B>Inflorescences</B> (5-)14-40(-75)-flowered,
&#177;&nbsp;open, at least 2 times longer than wide; pedicel 1-4(-9)&nbsp;cm,
puberulent to glabrous; bracteoles (2-)6-12&nbsp;mm from flowers,
green, linear, 5-9(-14)&nbsp;mm, puberulent.  <B>Flowers:</B>
sepals dark blue, glabrous, lateral sepals spreading, (8-)14-21&nbsp;&#215;
5-9&nbsp;mm, spurs straight or downcurved at apex, within 20&#176;
of horizontal, (10-)16-23&nbsp;mm; lower petal blades covering
stamens, 5-10&nbsp;mm, clefts 1.5-3&nbsp;mm; hairs sparse, mostly
near junction of blade and claw, centered or on inner lobes, well
dispersed, yellow.  <B>Fruits</B> (15-)23-34&nbsp;mm, 3.8-5.5
times longer than wide, glabrous.  <B>Seeds</B> unwinged; seed
coats smooth.  2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering spring.  Oak woods, coastal
chaparral, wet woodlands; 30-1100&nbsp;m; Calif., Oreg.  
<P>
 <I>Delphinium trolliifolium</I> occurs
in the northern Coast Range of California, the Columbia River
Valley to just east of Mt. Hood, and the Willamette Valley of
Oregon upstream to Lane County.  California plants differ somewhat
from Oregon plants in pubescence patterns and habitat preferences.
 Further study may show that two entities are involved here. 

<P>
 Hybrids between <I>Delphinium trolliifolium</I>
and <I>D</I>.&nbsp;<I>decorum</I>, <I>D</I>.&nbsp;<I>menziesii</I>
subsp. <I>pallidum</I> (<I>D</I>.&nbsp;&#215;<I>pavonaceum</I>
Ewan, Peacock larkspur), <I>D</I>.&nbsp;<I>nudicaule</I>, <I>D</I>.&nbsp;<I>nuttallianum</I>,
and <I>D</I>.&nbsp;<I>nuttallii</I> are known.  <I>Delphinium
trolliifolium</I> is likely to be confused only with <I>D</I>.&nbsp;<I>bakeri</I>.
 Refer to discussion under that species for differences. <BR>

<P>
<B>