46. <A NAME="27101581"></A><I><B>Delphinium antoninum</B></I> Eastwood,
Leafl. W. Bot. 3: 126.  1942 - Anthony Peak larkspur -&nbsp;C
E 
<P>
<B>Stems</B>
(7-)15-30(-60)&nbsp;cm; base reddish, glabrous to puberulent.
 <B>Leaves</B> mostly on proximal 1/3 of stem; basal leaves 3-12
at anthesis; cauline leaves 3-5 at anthesis; petiole 2-12&nbsp;cm.
 <B>Leaf blade</B> round, 0.8-4&nbsp;&#215; 1.2-8&nbsp;cm, &#177;&nbsp;succulent,
nearly glabrous; ultimate lobes 3-15, width 1-8&nbsp;mm (basal),
1-4&nbsp;mm (cauline).  <B>Inflorescences</B> 3-25-flowered; pedicel
(0.6-)1.2-3.2&nbsp;cm, usually puberulent; bracteoles 4-6&nbsp;mm
from flowers, green, linear, 3-5&nbsp;mm, puberulent.  <B>Flowers:</B>
sepals dark blue to white, nearly glabrous, lateral sepals spreading
to reflexed, 11-13&nbsp;&#215; 4-6&nbsp;mm, spurs straight to
gently decurved, within 30&#176; above or below horizontal, 12-16&nbsp;mm;
lower petal blades elevated, exposing stamens, 3-7&nbsp;mm, clefts
1.5-3&nbsp;mm; hairs centered, mostly on inner lobes above base
of cleft, white.  <B>Fruits</B> 14-22&nbsp;mm, 3.5-4 times longer
than wide, puberulent.  <B>Seeds</B> unwinged; seed coat cells
with surfaces smooth.  
<P>
 Flowering late spring-early summer.
 Uncommon on moist talus slopes; of conservation concern; 1100-2700&nbsp;m;
Calif.  
<P>
 <I>Delphinium antoninum</I> hybridizes
with <I>D</I>.&nbsp;<I>decorum</I> subsp. <I>tracyi</I> and with
<I>D</I>.&nbsp;<I>nudicaule</I>.  Most often confused with <I>D</I>.&nbsp;<I>decorum</I>
subsp. <I>tracyi</I>, it is separable on the basis of its longer
root, usually reflexed sepals, and typically colorfast flowers.
 It also may be confused with <I>D</I>.&nbsp;<I>andersonii</I>;
see discussion under that species.<BR>

<P>
<B>