16b.4. <A NAME="50007406"></A><I><B>Delphinium</B></I><B>
Linnaeus subsect. <I>Subscaposa</I> Ewan, Bull. Torrey Bot. Club
63: 330.  1936</B></B>
<P>
<B>Roots</B>
3-8(-12)-branched at least 1&nbsp;cm from stem attachment, (4-)10-30(-40)&nbsp;cm,
fibrous, twisted, dry, thin threadlike segments apparent nearly
entire length; buds minute.  <B>Stems</B> 1(-3) per root, unbranched,
elongation delayed 4-10 weeks after leaf initiation; base often
narrowed, firmly attached to root; proximal internodes much shorter
than those of midstem.  <B>Leaves</B> basal and cauline, largest
near base of stem, others often abruptly smaller on distal stem;
basal petioles spreading, cauline petioles ascending; basal leaves
more rounded and with fewer, wider lobes than cauline leaves.
 <B>Inflorescences</B> usually 4-8 flowers per 5&nbsp;cm, &#177;&nbsp;open,
cylindric to narrowly pyramidal, seldom less than 4 times longer
than wide, spurs rarely intersecting rachis; pedicel spreading
to ascending, usually less than 2&nbsp;cm, rachis to midpedicel
angle more than 30&#176;; bracts markedly smaller, fewer lobed
than leaves.  <B>Fruits</B> erect.  <B>Seeds</B> rectangular to
crescent-shaped, 1.3-3.3&nbsp;&#215; 1.1-2.3&nbsp;mm, not ringed
on proximal end, &#177;&nbsp;wing-margined; seed coats usually
lacking wavy ridges (present only in <I>D</I>.&nbsp;<I>purpusii</I>),
cells brick-shaped (less than 3 times longer than wide), cell
margins undulate or straight.  
<P>
 Species 10+ (10 in the flora): North
America, possibly others in Asia.<BR>

<P>
<B>