29. <A NAME="27100939"></A><I><B>Delphinium gypsophilum</B></I><B>
Ewan</B></B>, Univ. Colorado
Stud., Ser. D, Phys. Sci. 2: 189.  1945 -&nbsp;E 
<P>
<B>Stems</B>
(30-)60-100(-150)&nbsp;cm; base usually reddish, glabrous, glaucous.
 <B>Leaves</B> mostly cauline; basal leaves absent at anthesis;
cauline leaves 3-7 at anthesis; petiole 2-10&nbsp;cm.  <B>Leaf
blade</B> round to pentagonal, 1.5-6&nbsp;&#215; 2-12&nbsp;cm,
nearly glabrous; ultimate lobes 3-12, width 3-24&nbsp;mm (basal),
1-8&nbsp;mm (cauline).  <B>Inflorescences</B> 15-30(-64)-flowered,
cylindric; pedicel spreading, (0.5-)1.5-3.5&nbsp;cm, glabrous;
bracteoles 2-6&nbsp;mm from flowers, green, linear, 2-5&nbsp;mm,
glabrous.  <B>Flowers:</B> sepals rarely reflexed, white to pink,
nearly glabrous, lateral sepals spreading, 7-19&nbsp;&#215; 3-10&nbsp;mm,
spurs straight to upcurved, ascending 30-45&#176; above horizontal,
7-15&nbsp;mm; lower petal blades elevated, exposing stamens, 3-8&nbsp;mm,
clefts 1-4&nbsp;mm; hairs centered near base of cleft, &#177;&nbsp;evenly
distributed, white.  <B>Fruits</B> 9-18&nbsp;mm, 2.5-3.2 times
longer than wide, puberulent.  <B>Seeds:</B> seed coat cells brick-shaped,
cell margins undulate, surfaces roughened. 
<P>
 Subspecies 2 (2 in the flora): California.
<P>
 <I>Delphinium gypsophilum</I> is sometimes
confused with <I>D</I>.&nbsp;<I>hesperium</I> subsp. <I>pallescens</I>,
<I>D</I>.&nbsp;<I>recurvatum</I>, and the white-flowered phases
of <I>D</I>.&nbsp;<I>hansenii</I> subsp. <I>kernense</I>.  The
echinate seeds and long-haired petioles of <I>D</I>.&nbsp;<I>hansenii</I>
immediately distinguish it from <I>D</I>.&nbsp;<I>gypsophilum</I>,
which has neither.  
<P>
 <I>Delphinium gypsophilum</I> is related,
and similar in many respects, to <I>D</I>.&nbsp;<I>recurvatum</I>.
 The two may be distinguished morphologically by their sepals.
 <I>Delphinium recurvatum</I> has reflexed, blue sepals; those
of <I>D</I>.&nbsp;<I>gypsophilum</I> are spreading and white,
although they may change to light blue when dry.  Plants of <I>D</I>.&nbsp;<I>recurvatum</I>
normally are less than 60&nbsp;cm; those of <I>D</I>.&nbsp;<I>gypsophilum</I>
are usually more than 60&nbsp;cm.  Ecologically, <I>D</I>.&nbsp;<I>recurvatum</I>
occupies level ground among shrubs, typically in alkaline valley
bottoms; <I>D</I>.&nbsp;<I>gypsophilum</I> is found on well-drained
hillsides among grasses and in chaparral and oak woodland.
<P>
 From <I>Delphinium hesperium</I> subsp.
<I>pallescens</I>, specimens of <I>D</I>.&nbsp;<I>gypsophilum</I>
may be separated by their much more finely dissected leaves, with
less surface area, stem base usually reddish, stems frequently
glaucous proximally, undulate margins of seed coat cells, and
absence of striations in stem base of dried specimens.  In contrast,
<I>D</I>.&nbsp;<I>hesperium</I> subsp. <I>pallescens</I> has leaves
less dissected, with greater surface area, stem base rarely reddish,
stem not glaucous proximally, seed coat cells with straight margins,
and striations present on the proximal stem of dried specimens.
<BR>

<P>
<B>