39a. <A NAME="27101692"></A><I><B>Delphinium hesperium</B></I><B>
A.&nbsp;Gray subsp. <I>hesperium</I> </B></B>-
Western larkspur -&nbsp;E 
<P>
<B>Stems</B>
glabrous to simple-puberulent, long hairs rare.  <B>Inflorescences</B>
usually fewer than 30-flowered, open; pedicel ascending.  <B>Flowers:</B>
sepals dark blue-purple, spreading, lateral sepals 8-16&nbsp;mm,
more than 4&nbsp;mm wide, spurs 9-16&nbsp;mm; lower petal blades
5-8&nbsp;mm.  <B>Fruits</B> 3.5-4.2 times longer than wide.  2<I>n</I>&nbsp;=&nbsp;16.
 
<P>
 Flowering mid-late spring.  Open oak
woods, grasslands, openings in coastal chaparral; 10-1100&nbsp;m;
Calif.  
<P>
 Populations of <I>Delphinium hesperium</I>
subsp. <I>hesperium</I> are found only on western slopes of the
Coast Ranges.  Hybrids with <I>D</I>.&nbsp;<I>parryi</I> and <I>D</I>.&nbsp;<I>variegatum</I>
are known. 
<P>
 Although <I>Delphinium hesperium</I>
subsp. <I>hesperium</I> has been confused with <I>D</I>.&nbsp;<I>parryi</I>,
it may be recognized by its usually darker blue sepals, absence
of arched hairs on proximal portion of stems, and pronounced venation
abaxially on leaves.  <I>Delphinium parryi</I> has brighter blue
sepals, arched hairs present on proximal portion of stems, and
leaves not prominently veined abaxially.<BR>

<P>
<B>