9. <A NAME="27103330"></A><I><B>Delphinium sapellonis</B></I><B>
Tidestrom</B></B>, Bot. Gaz.
34: 453.  1902 - Sapello Canyon larkspur -&nbsp;E 
<P>
<B>Stems</B>
(50-)100-180(-220)&nbsp;cm; base sometimes reddish, glabrous sometimes
glaucous.  <B>Leaves</B> cauline, 10-20, absent from proximal
1/5 of stem at anthesis; petiole 5-12&nbsp;cm.  <B>Leaf blade</B>
round to pentagonal, 6-10&nbsp;&#215; 8-16&nbsp;cm, nearly glabrous;
ultimate lobes 5-15, width 5-25&nbsp;mm.  <B>Inflorescences</B>
(12-)30-80(-120)-flowered; pedicel 0.5-2&nbsp;cm, glandular-puberulent;
bracteoles 3-5&nbsp;mm from flowers, green to purple, linear,
5-8&nbsp;mm, glandular-puberulent.  <B>Flowers:</B> sepals (in
bud) yellowish or brownish purple, becoming browner or yellower
with age, glandular-puberulent, lateral sepals forward pointing,
8-12&nbsp;&#215; 3-5&nbsp;mm, spurs straight, ascending 20-45&#176;
above horizontal, 8-11&nbsp;mm; lower petal blades slightly elevated,
&#177;&nbsp;exposing stamens, 2.5-5&nbsp;mm, clefts 1-2&nbsp;mm;
hairs centered, mostly above base of cleft, yellow.  <B>Fruits</B>
12-18&nbsp;mm, 3-4 times longer than wide, puberulent.  <B>Seeds</B>
wing-margined; seed coat cells elongate, surfaces smooth. 
<P>
 Flowering summer.  Subalpine meadows
and open coniferous forest; 2600-3500&nbsp;m; N.Mex.  
<P>
 <I>Delphinium sapellonis</I> hybridizes
with <I>D</I>.&nbsp;<I>barbeyi</I> and <I>D</I>.&nbsp;<I>robustum</I>.
 It replaces <I>D</I>.&nbsp;<I>robustum</I> and represents the
southern Cordilleran complex at higher elevations of the southern
Sangre de Cristo Mountains east of Santa Fe.  It is not known
elsewhere.<BR>

<P>
<B>