52a. <A NAME="27103468"></A><I><B>Delphinium menziesii</B></I><B>
de Candolle subsp. <I>menziesii</I> </B></B>-
Menzies' larkspur -&nbsp;E F
<P>
<I>Delphinium menziesii</I>
var. <I>pyramidalis</I> (Ewan) C.&nbsp;L. Hitchcock; <I>D</I>.&nbsp;<I>oreganum</I>
Howell
<P>
<B>Stems</B>
35-70&nbsp;cm.  <B>Flowers:</B> sepals blue to purple, 13-20&nbsp;&#215;
5-11&nbsp;mm; spurs 11-17&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;16.
 
<P>
 Flowering spring.  Meadows, open woodlands;
0-1000&nbsp;m; B.C.; Oreg., Wash.  
<P>
  <I>Delphinium menziesii</I> subsp.
<I>menziesii</I> hybridizes with <I>D</I>.&nbsp;<I>trolliifolium</I>
and <I>D</I>.&nbsp;<I>nuttallii</I>. <BR>

<P>
<B>