16a.1. <A NAME="50007398"></A><I><B>Delphinium</B></I><B>
Linnaeus subsect. <I>Elata</I> W.&nbsp;T. Wang, Acta Bot. Sin.
10: 81.  1962</B></B>  
<P>
<B>Roots</B>
20-50&nbsp;cm, twisted fibrous, dry, 5-11-branched; buds more
than 3&nbsp;mm, usually present throughout dormant season.  <B>Stems</B>
2-8 per root, usually unbranched, elongation commencing within
2 weeks of leaf initiation; base not narrowed, firmly attached
to root.  <B>Leaves</B> largest at or slightly below middle of
stem; petiole ascending; blade shape and lobing similar throughout.
 <B>Inflorescences</B> &#177;&nbsp;dense, usually 3-8 flowers
per 5&nbsp;cm, narrowly pyramidal to cylindric; pedicel spreading-ascending,
usually less than 3&nbsp;cm; bracts &#177;&nbsp;similar to leaves
but smaller.  <B>Fruits</B> erect.  <B>Seeds</B> rectangular to
crescent-shaped, 1.5-3.5&nbsp;&#215; 1.2-2.5&nbsp;mm, not ringed
at proximal end, wing-margined; seed coats with small wavy ridges,
cells elongate, margins straight. 
<P>
 Species ca. 30 (1 in the flora): North
America, South America, Eurasia, Africa, Australia.<BR>

<P>
<B>