

<P>
<B>16. DELPHINIUM Linnaeus</B>,
Sp. Pl. 1: 530.  1753; Gen. Pl. ed 5, 236.  1754 - Larkspur, delphinium
[Greek <I>delphinion</I>, derived from <I>delphin</I>, possibly
for fancied resemblance of flowers of some species to classical
sculptures of dolphins]<BR>

<P>
<B>Herbs</B>,
perennial, from fasciculate roots or rhizomes.  <B>Leaves</B>
basal and/or cauline, petiolate, petioles gradually to abruptly
shorter on distal leaves; basal leaves usually larger than cauline;
cauline leaves alternate.  <B>Leaf blade</B> deeply palmately
divided, round to pentagonal or reniform, margins entire or lobes
apically crenate or lacerate, lobes of basal blades wider and
fewer than those of cauline blades.  <B>Inflorescences</B> terminal,
2-100(-more)-flowered racemes (occasionally branched, thus technically
panicles), 5-40 cm or more; bracts subtending inflorescence
branches; pedicels present or absent; bracteoles (on pedicels)
subopposite-subalternate, not forming involucre.  <B>Flowers</B>
bisexual, bilaterally symmetric; sepals not persistent in fruit,
5; upper sepal 1, spurred, 8-24 mm; lateral sepals 2, &#177; ovate
to elliptic, 8-18 mm; lower sepals 2, similar to lateral
sepals; upper petals 2, spurred, enclosed in upper sepal, nectary
inside tip of spur; lower petals 2, plane, &#177; ovate,
&#177; 2-lobed, clawed, 2-12 mm, nectary absent; stamens
25-40; filaments with base expanded; staminodes absent between
stamens and pistils; pistils 3(-5), simple; ovules 8-20 per pistil;
style present.  <B>Fruits</B> follicles, aggregate, sessile, &#177; curved-cylindric,
sides prominently veined or not; beak terminal, straight, 2-4 mm.
 <B>Seeds</B> dark brown to black (often appearing white because
of air in seed coat cells), rectangular to pyramidal, often &#177; rough
surfaced.  <I>x</I> = 8.
<P>
Species ca. 300 (61 in the flora): n temperate and arctic; 
subtropical and, in Eastern Hemisphere, tropical mountains (s of equator in Africa). 
<P>
 Three Eurasian species of <I>Delphinium</I>--<I>D</I>. <I>elatum</I>
Linnaeus, <I>D</I>. <I>grandiflorum</I> Linnaeus, and <I>D</I>. <I>tatsienense</I>
Franchet--have been commonly cultivated in North America.  Of
the nonnative taxa, only <I>D</I>.<I> elatum</I> is sporadically
naturalized, as far as is known.  Isolating mechanisms in <I>Delphinium</I>
appear to be primarily ecological, geographic, and/or temporal.
 Where these distinctions are disrupted, introgression often exists.
 Hybridization occurs regularly between certain taxa, particularly
in areas of disturbance (e.g., roadcuts, drainage ditches, clearcuts).
  The more common and easily recognized hybrids are included in
the key.  
<P>
 Many names have been misapplied in
<I>Delphinium</I>.  The few misapplied names mentioned in discussions
below refer to relatively widespread problems.
<P>
 Unless otherwise noted, the key and
descriptions refer to fresh material.  Some features may be significantly
altered by pressing; they can, however, usually be determined
with a certain amount of effort and experience.  
<P>
 In the descriptions, &quot;base of
cleft&quot; refers to the point where the cleft or sinus reaches
most deeply into the petal blade.
<P>
<B>SELECTED REFERENCES   </B>
<P>
Ewan, J.  1945.  A synopsis of
the North American species of <I>Delphinium</I>.  Univ. Colorado
Stud., Ser. D, Phys. Sci. 2: 55-244.   Lewis, H. and
C. Epling.  1954.  A taxonomic study of Californian delphiniums.
 Brittonia 8: 1-22.   Taylor, R. J.  1960.  The genus <I>Delphinium</I>
in Wyoming.  Univ. Wyoming Publ. 24: 9-21.   Warnock, M. J.
 1993.  <I>Delphinium</I>.  In: J. C. Hickman, ed.  1993.
 The Jepson Manual.  Higher Plants of California.  Berkeley, Los
Angeles, and London.  Pp. 916-922.   Warnock, M. J.  1995.
 A taxonomic conspectus of North American <I>Delphinium</I>. 
Phytologia 78(2): 73-101.<BR>

