33. <A NAME="27100933"></A><I><B>Delphinium depauperatum</B></I><B>
Nuttall in J.&nbsp;Torrey &amp; A.&nbsp;Gray</B></B>,
Fl. N. Amer. 1: 33.  1838 - Dwarf larkspur, Blue Mountain larkspur,
mountain larkspur -&nbsp;E 
<P>
<I>Delphinium cyanoreios</I>
Piper; <I>D</I>.&nbsp;<I>diversifolium</I> Greene; <I>D</I>.&nbsp;<I>diversifolium</I>
Greene subsp. <I>harneyense</I> Ewan
<P>
<B>Stems</B>
unbranched, 10-40(-70)&nbsp;cm; base usually not reddish, nearly
glabrous.  <B>Leaves</B> mostly on proximal 1/3 of stem; basal
leaves 3-4 at anthesis; cauline leaves 0-3 at anthesis; petiole
0.4-8&nbsp;cm.  <B>Leaf blade</B> &#177;&nbsp;round, 1-5&nbsp;&#215;
1.5-9&nbsp;cm, nearly glabrous; ultimate lobes 3-10, width 2-12&nbsp;mm
(basal), 0.5-3&nbsp;mm (cauline); margins of basal leaf, measured
less than 1&nbsp;cm from blade base, demarcating considerably
more than 90&#176; of arc when leaf laid flat; cauline leaf blades
much shorter than internodes.  <B>Inflorescences</B> 3-15(-25)-flowered,
open, &#177;&nbsp;secund; pedicel 0.5-3(-7)&nbsp;cm, &#177;&nbsp;glandular-puberulent;
bracteoles 2-6(-12)&nbsp;mm from flowers, green to blue, linear
or lanceolate, 4-5(-8)&nbsp;mm, &#177;&nbsp;glandular-puberulent.
 <B>Flowers:</B> sepals dark blue to bluish purple, puberulent,
lateral sepals spreading, 10-14&nbsp;&#215; 4-7&nbsp;mm, spurs
straight, horizontal or nearly so, 12-16&nbsp;mm; lower petal
blades somewhat elevated, &#177;&nbsp;exposing stamens, 4-7&nbsp;mm,
clefts 2-4&nbsp;mm; hairs mostly near base of cleft, white or
light yellow.  <B>Fruits</B> 9-16&nbsp;mm, 3.5-4.5 times longer
than wide, &#177;&nbsp;puberulent.  <B>Seeds:</B> seed coat cells
with surfaces roughened.  2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering summer.  Moist meadows; 1800-2600&nbsp;m;
Calif., Idaho, Mont., Nev., Oreg., Wash. 
<P>
 <I>Delphinium depauperatum</I> and
<I>D</I>.&nbsp;<I>nuttallianum</I> are often found in the same
meadows, with <I>D</I>.&nbsp;<I>depauperatum</I> occupying wetter
sites, often very near streams, while <I>D</I>.&nbsp;<I>nuttallianum</I>
is found in drier, better-drained sites.  In typical years, the
substrate will be dry around <I>D</I>.&nbsp;<I>nuttallianum</I>
plants, while the substrate is damp near <I>D</I>.&nbsp;<I>depauperatum</I>
plants as they flower.  In addition, within a meadow, <I>D</I>.&nbsp;<I>depauperatum</I>
flowers later than <I>D</I>.&nbsp;<I>nuttallianum</I>, so there
is normally little overlap in flowering phenology of the two taxa.
 Although hybridization between <I>D</I>.&nbsp;<I>depauperatum</I>
and <I>D</I>.&nbsp;<I>nuttallianum</I> is uncommon, hybrids do
occur; they have been named <I>D</I>. &#215;<I>burkei</I> Greene.
 Burke's specimens at Kew represent a good series of permutations
of this cross and successive backcrosses.
<P>
 Specimens labeled <I>Delphinium depauperatum</I>
subsp. <I>harneyense</I> represent the phase with more abundant
yellow-glandular trichomes in the inflorescence and slightly larger
flowers.  Considerable variation in these features may be found
within populations.  Presence of yellow-glandular hairs is generally
greater in more northern populations.  Type specimens of <I>Delphinium
diversifolium</I> are intermediate in amount of glandular pubescence.
 
<P>
 Often confused with <I>Delphinium nuttallianum</I>,
<I>D</I>.&nbsp;<I>depauperatum</I> may be distinguished by its
cylindric inflorescences, less dissected leaves, winged seeds,
and erect fruits.  These character states contrast with the pyramidal
inflorescences, more dissected leaves, ringed seeds, and spreading
fruits of <I>D</I>.&nbsp;<I>nuttallianum</I>.
<P>
 Dwarfed phases of <I>Delphinium polycladon</I>
may be confused with <I>D</I>.&nbsp;<I>depauperatum</I>; they
can be distinguished on the basis of bluish purple flowers, sigmoid
pedicel, and prominent buds in the former, and dark blue flowers,
straight pedicels, and absence of prominent buds in the latter.
<BR>

<P>
<B>