39b. <A NAME="27100945"></A><I><B>Delphinium hesperium</B></I><B>
A.&nbsp;Gray subsp. <I>cuyamacae</I> (Abrams) H.&nbsp;F. Lewis
&amp; Epling</B></B>, Brittonia
8: 11.  1954 - Cuyamaca larkspur - C E 
<P>
<I>Delphinium cuyamacae</I>
Abrams, Bull. Torrey Bot. Club 32: 538.  1905
<P>
<B>Stems</B>
proximally puberulent with arched hairs.  <B>Inflorescences</B>
generally more than 25-flowered, dense; pedicel ascending.  <B>Flowers:</B>
sepals dark blue-purple, spreading to erect, lateral sepals 7-10&nbsp;mm,
less than 4(-5)&nbsp;mm wide, spurs 8-12&nbsp;mm; lower petal
blades 3-5&nbsp;mm.  <B>Fruits</B> 2.2-2.5 times longer than wide.
 2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering early summer.  Grassland,
open pine woods; of conservation concern; 1100-1500&nbsp;m; Calif.
 
<P>
 <I>Delphinium hesperium</I> subsp.
<I>cuyamacae</I> is local near Cuyamaca Lake.  Although it has
been reported also from Mt. Palomar, specimens have not been seen.
<P>
 No other <I>Delphinium</I> with similar
features grows in the region where <I>D</I>.&nbsp;<I>hesperium</I>
subsp. <I>cuyamacae</I> grows.  Superficially, specimens of this
taxon resemble those of some <I>D</I>.&nbsp;<I>hansenii</I> subsp.
<I>hansenii</I>.  Seeds are quite different, as are pubescence
patterns and venation on abaxial surface of leaves.  <I>Delphinium
parryi</I> occurs near <I>D</I>.&nbsp;<I>hesperium</I> subsp.
<I>cuyamacae</I>; flowers of <I>D</I>.&nbsp;<I>parryi</I> in that
area are much larger and more widely spaced on the inflorescence
than in <I>D</I>. <I>hesperium</I> subsp. <I>cuyamacae</I>. <BR>

<P>
<B>