57. <A NAME="27100986"></A><I><B>Delphinium treleasei</B></I><B>
Bush ex K.&nbsp;C. Davis</B></B>,
Minnesota Bot. Stud. 2: 444.  1900 - Trelease's larkspur -&nbsp;E
F
<P>
<B>Stems</B>
(40-)60-80(-110)&nbsp;cm; base reddish, glabrous, glaucous.  <B>Leaves</B>
mostly basal; basal leaves 3-7 at anthesis; cauline leaves 1-3
at anthesis; petiole 0.5-19&nbsp;cm.  <B>Leaf blade</B> round
to reniform, 0.5-8&nbsp;&#215; 2-20&nbsp;cm, glabrous; ultimate
lobes 3-35(-56), 5 or more extending more than 3/5 distance to
petiole, width 2-6&nbsp;mm (basal), 0.5-2&nbsp;mm (cauline), widest
at middle or in proximal 1/2.  <B>Inflorescences</B> 5-30(-56)-flowered;
pedicel (1-)2.5-7(-11)&nbsp;cm, glabrous; bracteoles 1-7(-46)&nbsp;mm
from flowers, blue or green, awl-shaped, 1.5-4(-12)&nbsp;mm, glabrous.
 <B>Flowers:</B> sepals dark bright blue, usually retaining color
upon drying, nearly glabrous, lateral sepals spreading, (10-)12-17(-20)&nbsp;&#215;
4-8(-10)&nbsp;mm, spurs straight, ascending ca. 45&#176;, 15-17&nbsp;mm;
lower petal blades &#177;&nbsp;covering stamens, 5-8&nbsp;mm,
clefts (1-)3-5&nbsp;mm; hairs centered, densest above base of
cleft, yellow.  <B>Fruits</B> 12-18(-22)&nbsp;mm, 3-4 times longer
than wide, glabrous.  <B>Seeds</B> unwinged; seed coat cell surfaces
smooth.  2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering late spring.  Open juniper
glades on calcareous substrate; 250-450&nbsp;m; Ark., Mo.  
<P>
 <I>Delphinium treleasei</I> is locally
abundant but extremely limited by microhabitat within its distributional
range.  
<P>
 Hybrids between <I>Delphinium treleasei</I>
and <I>D</I>.&nbsp;<I>carolinianum</I> subsp. <I>carolinianum</I>
are known.  <BR>

<P>
<B>