60b. <A NAME="27100971"></A><I><B>Delphinium patens</B></I><B>
Bentham subsp. <I>hepaticoideum</I> Ewan</B></B>,
Univ. Colorado Stud., Ser. D, Phys. Sci. 2: 103.  1945 -&nbsp;E

<P>
<B>Leaves:</B>
basal leaves usually present at anthesis; basal and proximal cauline
leaves rarely cleft more than 4/5 radius of blade.  <B>Leaf blade:</B>
ultimate lobes 3-5, width more than 15&nbsp;mm.  <B>Inflorescences:</B>
pedicel usually glabrous.  <B>Flowers:</B> lateral sepals 11-17&nbsp;mm,
spur 10-18&nbsp;mm; lower petal blades 5-8&nbsp;mm; hairs symmetrically
distributed.  2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering spring.  Wooded ravines,
near streams; 300-1300&nbsp;m; Calif.  
<P>
 Although <I>Delphinium patens</I> has
not been reported outside California, subspp. <I>hepaticoideum</I>
and/or <I>montanum</I> may grow in mountains of northern Baja
California, Mexico.  
<P>
 Although it hybridizes with <I>Delphinium
parryi</I> and <I>D</I>.&nbsp;<I>umbraculorum</I>, <I>D</I>.&nbsp;<I>patens</I>
subsp. <I>hepaticoideum</I> usually flowers early enough not to
overlap in any given site with flowering time of those species.
<P>
 Likely to be confused only with <I>Delphinium
umbraculorum</I>, <I>D</I>.&nbsp;<I>patens</I> subsp. <I>hepaticoideum</I>
may be distinguished from that species by its ringed, unwinged
seeds, recurved fruits, and lack of arched hairs.    Contrasting
features of <I>D</I>.&nbsp;<I>umbraculorum</I> are presence of
unringed, winged seeds, erect fruits, and arched hairs.<BR>

<P>
<B>