56. <A NAME="27100957"></A><I><B>Delphinium newtonianum</B></I><B>
D.&nbsp;M. Moore</B></B>, Rhodora
41: 196.  1939 - Ozark larkspur -&nbsp;E F 
<P>
<B>Stems</B>
40-90&nbsp;cm; base often reddish, puberulent.  <B>Leaves</B>
mostly cauline; basal leaves usually absent at anthesis; cauline
leaves 2-8 at anthesis; petiole 0.5-10&nbsp;cm.  <B>Leaf blade</B>
round to pentagonal, 4-7&nbsp;&#215; 5-15&nbsp;cm, nearly glabrous;
ultimate lobes 3-7, width 8-20&nbsp;mm (basal), 5-15&nbsp;mm (cauline),
widest at middle or in proximal 1/2.  <B>Inflorescences</B> 8-20(-40)-flowered,
as wide as long or nearly so; pedicel 1-4(-6)&nbsp;cm, pubescent;
 bracteoles 6-15&nbsp;mm from flowers, green, linear, 1.5-5&nbsp;mm,
puberulent.  <B>Flowers:</B> sepals dark to light blue, rarely
white, glabrous, lateral sepals spreading, 12-14&nbsp;&#215; 6-7&nbsp;mm,
spurs straight to decurved, within 30&#176; of horizontal, 10-15&nbsp;mm;
lower petal blades slightly elevated, &#177;&nbsp;exposing stamens,
4-5&nbsp;mm, clefts 2-3&nbsp;mm; hairs mostly centered near base
of cleft, yellow.  <B>Fruits</B> 8-12&nbsp;mm, 3-3.5 times longer
than wide, nearly glabrous.  <B>Seeds</B> unwinged; surface of
each seed coat cell with swollen, blunt, hairlike structures,
barely visible at 20&#215;, otherwise smooth. 
<P>
 Flowering early summer.  Slopes in
deciduous forest; 500-700&nbsp;m; Ark.  
<P>
 No cases of hybridization are known.
 <I>Delphinium newtonianum</I> often occurs in mixed populations
with <I>D</I>.&nbsp;<I>tricorne</I>.  It normally does not begin
flowering until 4-6 weeks after <I>D</I>.&nbsp;<I>tricorne</I>
has finished.<BR>

<P>
<B>