36c. <A NAME="27100378"></A><I><B>Delphinium carolinianum</B></I><B>
Walter subsp. <I>vimineum</I> (D. Don) M. J. Warnock</B></B>,
Syst. Bot. 6: 49. 1981 - Pine woods larkspur, blue larkspur, Gulf
Coast larkspur
<P>
<I>Delphinium vimineum</I>
D. Don in R. Sweet, Brit. Fl. Gard. 7: plate 374.
1837
<P>
<B>Roots</B>
usually with elongate single central axis, axis &#177; vertical,
terminal branches (if present) sometimes approaching horizontal.
<B>Stems</B> 20-60(-100) cm. <B>Leaves</B> usually basal
and cauline at anthesis; distalmost petioles more than 5 mm.
<B>Leaf blade</B> distinctly 3-parted; ultimate lobes of midcauline
leaf blades 3-9, width 3-10 mm. <B>Flowers:</B> sepals various
shades of blue to white. 2<I>n</I> = 16, 32. 
<P>
Flowering late winter-early summer.
Sandy or clay soils, coastal prairies, pine woods, <I>Prosopis</I>
or <I>Quercus</I> scrub; 0-300 m; Ark., La., Okla., Tex.;
Mexico (Coahuila, Nuevo Le&oacute;n, and Tamaulipas). 
<P>
<I>Delphinium carolinianum</I>
subsp. <I>vimineum</I> hybridizes with <I>D</I>. <I>madrense</I>
especially on southern edge of Edwards Plateau in Texas.<BR>

<P>
<B>