40c. <A NAME="27100993"></A><I><B>Delphinium variegatum</B></I><B>
Torrey &amp; A.&nbsp;Gray subsp. <I>thornei</I> Munz</B></B>,
Aliso 7: 70.  1969 - Thorne's larkspur, Thorne's royal larkspur
- C E 
<P>
<B>Stem:</B>
base sparsely long-pubescent.  <B>Inflorescences</B> usually with
fewer than 16 flowers per branch.  <B>Flowers:</B> sepals bright
blue to light blue, lateral sepals 17-21&nbsp;mm; lower petal
blades 6-11&nbsp;mm.  
<P>
 Flowering spring.  Grassland, oak woods;
of conservation concern; 0-500&nbsp;m; Calif.  
<P>
 <I>Delphinium variegatum</I> subsp.
<I>thornei</I> has an extremely restricted distribution, is very
poorly known, and is imperiled by grazing.  <I>Delphinium parryi</I>
and <I>D</I>.&nbsp;<I>variegatum</I> subsp. <I>kinkiense</I> are
the only other taxa of <I>Delphinium</I> naturally found on San
Clemente Island.<BR>

<P>
<B>