16b.2. <A NAME="50007401"></A><I><B>Delphinium</B></I><B>
Linnaeus subsect. <I>Wislizenana</I> M. J. Warnock, Madro&ntilde;o
31: 243.  1984</B></B>
<P>
<B>Roots</B>
3-8-branched, (5-)15-24(-80) cm, twisted fibrous, dry to
fleshy, thin threadlike segments apparent nearly entire length;
buds sometimes more than 3 mm, usually absent during dormant
season.  <B>Stems</B> 1(-4) per root, usually unbranched, elongation
delayed 2-10 weeks after leaf initiation; base usually not narrowed,
firmly attached to root; proximal internodes much shorter than
those of midstem.  <B>Leaves</B> basal and cauline, largest near
base of stem, others usually abruptly smaller on distal portion
of stem; basal petioles spreading, cauline petioles ascending;
basal leaves more rounded and with fewer, wider lobes than cauline
leaves.  <B>Inflorescences</B> usually 2-9 flowers per 5 cm,
open to dense, cylindric-narrow-pyramidal, spurs rarely intersecting
rachis; pedicel spreading to ascending, often more than 2 cm,
rachis to midpedicel angle more than 30&#176;; bracts usually
smaller and fewer lobed than leaves.  <B>Fruits</B> erect.  <B>Seeds</B>
rectangular to crescent-shaped, 2-3.5 &#215; 1.3-2.5 mm,
not ringed on proximal end, wing-margined or not; seed coats &#177; covered
with small irregular wavy ridges, cells short (less than 3 times
longer than wide), cell margins usually straight.  
<P>
 Species 12 (5 in the flora): North
America, Mexico.<BR>
<BR>

<P>
<B>