22. <A NAME="27100998"></A><I><B>Delphinium viridescens</B></I><B>
Leiberg</B></B>, Proc. Biol.
Soc. Wash. 11: 39.  1897 - Wenatchee larkspur - C E F 
<P>
<B>Stems</B>
90-150&nbsp;cm; base usually green, glabrous.  <B>Leaves</B> cauline,
17-30 at anthesis; petiole 0.2-8&nbsp;cm.  <B>Leaf blade</B> cuneate
to semicircular, 2-5&nbsp;&#215; 3-12&nbsp;cm, nearly glabrous;
ultimate lobes 3-21, width 1-8&nbsp;mm.  <B>Inflorescences</B>
25-80-flowered, dense; pedicel 0.5-2&nbsp;cm, glandular-pubescent;
bracteoles 1-4&nbsp;mm from flowers, green, lanceolate, 3.5-6&nbsp;mm,
glandular-pubescent.  <B>Flowers:</B> sepals yellowish green,
nearly glabrous, lateral sepals forward pointing, 7-9&nbsp;&#215;
3-4&nbsp;mm, spurs decurved, 30-45&#176; below horizontal, often
hooked apically, 8-11&nbsp;mm; lower petal blades &#177;&nbsp;covering
stamens, 4-6&nbsp;mm, clefts 0.5-1.5&nbsp;mm; hairs centered,
mostly near junction of blade and claw, yellow.  <B>Fruits</B>
8-11&nbsp;mm, 2.5-3 times longer than wide, puberulent.  <B>Seeds</B>
&#177;&nbsp;wing-margined; seed coat cells with surfaces &#177;&nbsp;roughened.
<P>
 Flowering summer.  Wet meadows and
streamsides in coniferous forest, heavy clay soils; of conservation
concern; 500-1000&nbsp;m; Wash.  
<P>
 <I>Delphinium viridescens</I> is local
in mountains southwest of Wenatchee, Washington. <BR>

