42b. <A NAME="27100943"></A><I><B>Delphinium hansenii</B></I><B>
(Greene) Greene subsp. <I>kernense</I> (Davidson) Ewan</B></B>,
Univ. Colorado Stud., Ser. D, Phys. Sci. 2: 193.  1945 - Kern
County larkspur -&nbsp;E 
<P>
<I>Delphinium hansenii</I>
var. <I>kernense</I> Davidson, Muhlenbergia 4: 37.  1908
<P>
<B>Stems</B>
(34-)50-80(-120)&nbsp;cm, base simple-puberulent.  <B>Leaves</B>
nearly all basal, often present but dried at anthesis, rarely
on herbarium specimens; cauline leaves usually fewer than 3, abruptly
smaller than basal leaves.  <B>Inflorescences</B> 1-8 flowers
per 5&nbsp;cm, open.  <B>Flowers:</B> sepals bright blue to white,
lateral sepals 7-13&nbsp;mm, spurs 8-16&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;16.
 
<P>
 Flowering spring.  Open oak woods,
s Sierra chaparral; 800-1900&nbsp;m; Calif.  
<P>
 <I>Delphinium hansenii</I> subsp. <I>kernense</I>
hybridizes with <I>D</I>.&nbsp;<I>gypsophilum</I>, <I>D</I>.&nbsp;<I>parishii</I>,
and <I>D</I>.&nbsp;<I>purpusii</I>. <BR>

<P>
<B>