60. <A NAME="27100969"></A><I><B>Delphinium patens</B></I><B>
Bentham</B></B>, Pl. Hartw.,
296.  1849 -&nbsp;E 
<P>
<B>Stems</B>
(10-)20-50(-90)&nbsp;cm; base reddish, glabrous to puberulent.
 <B>Leaves</B> mostly on proximal 1/3 of stem; basal leaves 1-3
at anthesis; cauline leaves 2-4 at anthesis; petiole 1.5-12&nbsp;cm.
 <B>Leaf blade</B> round to pentagonal, 1-5.5&nbsp;&#215; 2-7.5&nbsp;cm,
nearly glabrous; ultimate lobes 3-9, less often wedge-shaped,
5 or more extending more than 3/5 distance to petiole, width 5-30(-50)&nbsp;mm
(basal), 1-15&nbsp;mm (cauline), widest at middle or in proximal
1/2.  <B>Inflorescences</B> 4-25(-36)-flowered; pedicel spreading
from rachis at usually less than 70&#176;, 1-4(-8)&nbsp;cm, glabrous
to glandular; bracteoles 3-12(-23)&nbsp;mm from flowers, blue
to green, linear, 3-8(-16)&nbsp;mm, glabrous to glandular.  <B>Flowers:</B>
sepals dark blue, usually retaining color upon drying, glabrous,
lateral sepals reflexed, (6-)10-15(-20) &#215; 4-8&nbsp;mm, spurs
straight, ascending ca. 30&#176; above horizontal, 8-18&nbsp;mm;
lower petal blades elevated, exposing stamens, 3-6(-8)&nbsp;mm,
clefts 1-3&nbsp;mm; hairs centered on base of cleft or on inner
lobes, scattered, white, rarely yellow.  <B>Fruits</B> 12-23&nbsp;mm,
3.3-3.6 times longer than wide, glabrous or puberulent.  <B>Seeds</B>
unwinged; seed coats &#177;&nbsp;pitted, cell surfaces roughened.
 
<P>
 Subspecies 3 (3 in the flora): Calif.
<BR>

<P>
<B>