40b. <A NAME="27103094"></A><I><B>Delphinium variegatum</B></I><B>
Torrey &amp; A.&nbsp;Gray subsp. <I>kinkiense</I> (Munz) M.&nbsp;J.
Warnock</B></B>, Phytologia 68:
2.  1990 - San Clemente Island larkspur - C E 
<P>
<I>Delphinium kinkiense</I>
Munz, Aliso 7: 69.  1969
<P>
<B>Stem:</B>
base sparsely long-pubescent.  <B>Inflorescences</B> usually with
fewer than 12 flowers per branch.  <B>Flowers:</B> sepals white
or light blue, lateral sepals 11-18&nbsp;mm; lower petal blades
4-9&nbsp;mm.
<P>
 Flowering early spring.  Chaparral,
oak woods, grassland; of conservation concern; 0-500&nbsp;m; Calif.
 
<P>
 <I>Delphinium variegatum</I> subsp.
<I>kinkiense</I> has an extremely restricted distribution, is
very poorly known, and is imperiled by grazing.  <I>Delphinium
parryi</I> and <I>D</I>.&nbsp;<I>variegatum</I> subsp. <I>thornei</I>
are the only other taxa of <I>Delphinium</I> naturally found on
San Clemente Island.<BR>

<P>
<B>