31. <A NAME="27100999"></A><I><B>Delphinium xantholeucum</B></I><B>
Piper</B></B>, Contr. U.S. Natl.
Herb. 11: 280.  1906 -&nbsp;C E F 
<P>
<B>Stems</B>
40-60(-100)&nbsp;cm; base often reddish, glabrous, &#177;&nbsp;glaucous.
 <B>Leaves</B> basal and cauline; basal leaves usually absent
at anthesis; cauline leaves 4-6 at anthesis; petiole 0.8-16&nbsp;cm.
 <B>Leaf blade</B> round, 2-6&nbsp;&#215; 4-10&nbsp;cm, nearly
glabrous; ultimate lobes 3-15, width 3-8&nbsp;mm (basal), 1-5&nbsp;mm
(cauline).  <B>Inflorescences</B> 10-20(-60)-flowered, narrowly
pyramidal; pedicel spreading, yellowish, 1.5-3&nbsp;cm, &#177;&nbsp;glandular-puberulent;
bracteoles 6-12&nbsp;mm from flowers, green to light brown, linear
to lanceolate, 4-7&nbsp;mm, nearly glabrous.  <B>Flowers:</B>
sepals yellow, glabrous, lateral sepals reflexed, 9-12&nbsp;&#215;
3-5&nbsp;mm, spurs straight, ascending ca. 45&#176; above horizontal,
11-15&nbsp;mm; lower petal blades elevated, exposing stamens,
3-5&nbsp;mm, clefts 1-2&nbsp;mm; hairs centered mostly on inner
lobes near base of cleft, white.  <B>Fruits</B> 15-22&nbsp;mm,
3-4 times longer than wide, glabrous to glandular-puberulent.
 <B>Seeds:</B> seed coat cells narrow, short, cell margins straight,
surfaces smooth.  2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering spring.  Slopes in open yellow
pine forests, grasslands; sage scrub; of conservation concern;
150-600&nbsp;m; Wash.  
<P>
 <I>Delphinium xantholeucum</I> is very
local; much of the habitat of this species has been converted
to orchards.<BR>

<P>
<B>