27. <A NAME="27100394"></A><I><B>Delphinium scaposum</B></I><B>
Greene</B></B>, Bot. Gaz. 6:
156.  1881, not <I>D</I>.&nbsp;<I>scaposum</I> W.&nbsp;T. Wang
1957 -&nbsp;E F 
<P>
<I>Delphinium andersonii</I>
A.&nbsp;Gray var. <I>scaposum</I> (Greene) S.&nbsp;L. Welsh
<P>
<B>Stems</B>
25-50(-65)&nbsp;cm; base usually reddish, glabrous, glaucous.
 <B>Leaves</B> mostly basal, 4-10 at anthesis; cauline leaves
1-4 at anthesis; green leaves usually present on proximal 1/5
of stem at anthesis; petiole 1-12&nbsp;cm, glabrous.  <B>Leaf
blade</B> &#177;&nbsp;round, 0.5-4&nbsp;&#215; 0.5-6&nbsp;cm,
puberulent to glabrous; ultimate lobes 3-9, width 2-15&nbsp;mm
(basal), 0.5-3&nbsp;mm (cauline).  <B>Inflorescences</B> 10-25(-40)-flowered,
cylindric; pedicel ascending, 0.6-2.5&nbsp;cm, glabrous; bracteoles
2-5&nbsp;mm from flowers, green to blue, linear-lanceolate, 2-4&nbsp;mm,
glabrous.  <B>Flowers:</B> sepals bright dark blue, glabrous,
lateral sepals spreading, 11-14&nbsp;&#215; 4-6&nbsp;mm, spurs
straight, sometimes decurved, ascending 30-45&#176; above horizontal,
13-18&nbsp;mm; lower petal blades elevated, exposing stamens,
5-8&nbsp;mm, cleft 2-4&nbsp;mm; hairs mostly centered on inner
lobes near junction of blade and claw, white.  <B>Fruits</B> 12-16&nbsp;mm,
2.5-3 times longer than wide, glabrous.  <B>Seeds:</B> seed coat
cells &#177;&nbsp;brick-shaped, cell margins straight, surfaces
smooth.  2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering spring.  Juniper woods, grassland;
1200-2700&nbsp;m; Ariz., Colo., N.Mex., Utah.
<P>
 <I>Delphinium scaposum</I> is reportedly
used in Navajo and Hopi religous ceremonies, as well as for a
wash following childbirth (D.&nbsp;E. Moerman 1986).<BR>

<P>
<B>