39. <A NAME="27100944"></A><I><B>Delphinium hesperium</B></I><B>
A.&nbsp;Gray</B></B>, Bot. Gaz.
12: 53.  1887 -&nbsp;E 
<P>
<B>Stems</B>
(11-)40-80(-120)&nbsp;cm; base usually reddish, longitudinally
ridged, puberulent.  <B>Leaves</B> mostly cauline; basal leaves
0-3 at anthesis; cauline leaves 3-8 at anthesis; petiole 0.5-7&nbsp;cm,
petioles of proximal leaves glabrous to puberulent.  <B>Leaf blade</B>
round to pentagonal, 1-4&nbsp;&#215; 2-6&nbsp;cm, usually puberulent,
especially abaxially; ultimate lobes 3-14, width 3-8&nbsp;mm (basal),
2-5&nbsp;mm (cauline).  <B>Inflorescences</B> (5-)15-30(-100)-flowered,
moderately open; pedicel (0.5-)1-2.5(-7.5)&nbsp;cm, puberulent;
bracteoles 2-6(-12)&nbsp;mm from flowers, green to blue, margins
often white, linear-lanceolate, 3-7(-12)&nbsp;mm, puberulent.
 <B>Flowers:</B> sepals dark blue to white, puberulent, lateral
sepals spreading, 7-13(-16)&nbsp;&#215; 3-10&nbsp;mm, spurs straight
to upcurved, ascending 30-45&#176; above horizontal, 9-18&nbsp;mm;
 lower petal blades slightly elevated, &#177;&nbsp;exposing stamens,
3-8&nbsp;mm, clefts 1-5&nbsp;mm; hairs centered, denser on inner
lobes near base of cleft, white.  <B>Fruits</B> 8-18&nbsp;mm,
2.2-3(-4.2) times longer than wide, sparse puberulent.  <B>Seeds</B>
not echinate, appearing &#177;&nbsp;smooth to naked eye; seed
coat cells with margins straight, surfaces smooth or roughened.

<P>
 Subspecies 3 (3 in the flora): California.
<P>
 <I>Delphinium hesperium</I> is thought
to be poisonous to cattle (D.&nbsp;E. Moerman 1986, no subspecies
specified).  It is often confused with <I>D</I>.&nbsp;<I>hansenii</I>.
 See discussion under that species for distinguishing features.
<BR>

<P>
<B>