58. <A NAME="27100916"></A><I><B>Delphinium alabamicum</B></I><B>
Kral</B></B>, Sida 6: 250.  1976
- Alabama larkspur -&nbsp;C E 
<P>
<B>Stems</B>
(45-)60-90(-130)&nbsp;cm; base reddish, pubescent.  <B>Leaves</B>
mostly basal; basal leaves 2-6 at anthesis; cauline leaves 1-4
at anthesis; petiole 0.5-22&nbsp;cm.  <B>Leaf blade</B> reniform
to semicircular, 2-11&nbsp;&#215; 3-19&nbsp;cm, nearly glabrous;
ultimate lobes 3-35, width 3-8&nbsp;mm (basal), 0.5-3&nbsp;mm
(cauline), widest at middle or in proximal 1/2.  <B>Inflorescences</B>
5-27-flowered; pedicel 1-5&nbsp;cm, puberulent;  bracteoles 3-12&nbsp;mm
from flowers, green, linear, 2-8&nbsp;mm, puberulent.  <B>Flowers:</B>
sepals royal blue, &#177;&nbsp;drab, often partly fading upon
drying, puberulent, lateral sepals spreading, 12-20&nbsp;&#215;
5-10&nbsp;mm, spurs straight, horizontal to slightly ascending,
(13-)15-16.5(-19)&nbsp;mm; lower petal blades &#177;&nbsp;covering
reproductive parts, 4-10&nbsp;mm, clefts 3-5&nbsp;mm; hairs centered
between claw and base of cleft, covering most of adaxial surface,
white.  <B>Fruits</B> 11-18&nbsp;mm, 2.5-3 times longer than wide,
sparsely puberulent.  <B>Seeds</B> unwinged; surface of each seed
coat cell with with swollen, blunt, hairlike structures, barely
visible at 20&#215;, otherwise smooth.  2<I>n</I>&nbsp;=&nbsp;16.
 
<P>
 Flowering mid-late spring.  Very local;
thin soils in and on edges of <I>Juniperus</I> glades on limestone
substrates; of conservation concern; 100-300&nbsp;m; Ala., Ga.
<P>
 In addition to the Alabama sites, <I>Delphinium
alabamicum</I> is known from one population in Georgia; it might
have been transplanted there.  <I>Delphinium alabamicum</I> has
not been seen in central Alabama since 1950; populations there
might have been extirpated.<BR>

<P>
<B>