23b. <A NAME="27103093"></A><I><B>Delphinium parryi</B></I><B>
A.&nbsp;Gray subsp. <I>maritimum</I> (Davidson) M.&nbsp;J. Warnock</B></B>,
Phytologia 68(1): 2.  1990 - Maritime larkspur 
<P>
<I>Delphinium parryi</I>
var. <I>maritimum</I> Davidson, Muhlenbergia 4: 35.  1908
<P>
<B>Roots</B>
less than 10&nbsp;cm.  <B>Stems</B> 15-40&nbsp;cm.  <B>Leaves</B>
well distributed; basal and cauline leaves present at anthesis;
ultimate lobes 5-10, width usually more than 6&nbsp;mm.  <B>Inflorescences:</B>
bracteoles 4-9&nbsp;mm.  <B>Flowers:</B> sepals usually spreading,
lateral sepals 9-20&nbsp;mm, spurs 8-21&nbsp;mm; lower petal blades
4-11&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering late winter-spring.  Coastal
chaparral; 0-300&nbsp;m; Calif.; Mexico (Baja California).  
<P>
 Populations of <I>Delphinium parryi</I>
subsp. <I>maritimum</I> are local, very near the coast.  The species
also occurs on islands off southern California and northern Baja
California, Mexico.  Occasional individuals with white to grayish
blue sepals occur (mostly in Ventura and western Los Angeles counties,
where entire populations may consist of such individuals).  Collections
of subsp. <I>maritimum</I> made before 1940 are numerous; recent
collections are much less common.  Population reductions have
probably resulted from urbanization of its preferred habitat.
<P>
 Confused with <I>Delphinium variegatum</I>,
<I>D</I>.&nbsp;<I>parryi</I> subsp. <I>maritimum</I> lacks the
long hairs of that species.  Some plants of subsp. <I>maritimum</I>
(unringed seeds, erect fruits, and arched hairs) from very near
the coast appear superficially like some plants of <I>D</I>.&nbsp;<I>nuttallianum</I>
(ringed seeds, spreading fruits, and no arched hairs). <BR>

<P>
<B>