4. <A NAME="27100934"></A><I><B>Delphinium exaltatum</B></I><B>
Aiton</B></B>, Hort. Kew. 2:
244.  1789 - Tall larkspur -&nbsp;E F
<P>
<B>Stems</B>
70-200&nbsp;cm; base reddish, nearly glabrous.  <B>Leaves</B>
cauline, 7-24, absent from proximal 1/5 of stem at anthesis; petiole
1-15&nbsp;cm.  <B>Leaf blade</B> pentagonal, 2-7&nbsp;&#215; 3-9&nbsp;cm,
puberulent; ultimate lobes 3-7, width 5-25&nbsp;mm; midcauline
leaf lobes less than 3 times longer than wide.  <B>Inflorescences</B>
8-30-flowered; pedicel 0.5-2&nbsp;cm, puberulent; bracteoles 2-4&nbsp;mm
from flowers, green, linear, 2-4&nbsp;mm, puberulent.  <B>Flowers:</B>
sepals whitish to pale lavender or purple, puberulent, lateral
sepals forward pointing, 9-11&nbsp;&#215; 4-6&nbsp;mm, spurs straight,
as much as 45&#176; above or below horizontal, 9-12&nbsp;mm; lower
petal blades &#177;&nbsp;covering stamens, 3-5&nbsp;mm, clefts
1-2&nbsp;mm; hairs centered, mostly near base of cleft, white.
 <B>Fruits</B> 7-12&nbsp;mm, 2-2.5 times longer than wide, &#177;&nbsp;puberulent.
 <B>Seeds</B> &#177;&nbsp;wing-margined; seed coat cells elongate,
surfaces smooth.  
<P>
 Flowering summer.  Rocky slopes in
open deciduous woods and barrens, mainly on calcareous substrates,
also shale and mafic and ultramafic rocks; 150-2000&nbsp;m; Ala.,
Ky., Md., Mo., N.C., Ohio, Pa., Tenn., Va., W.Va. <BR>

<P>
<B>