16b.3. <A NAME="50007405"></A><I><B>Delphinium</B></I><B>
Linnaeus subsect. <I>Multiplex</I> M.&nbsp;J. Warnock, Phytologia
78: 81.  1995</B></B>
<P>
<B>Roots</B>
2-6-branched, (5-)10-40(-50)&nbsp;cm, twisted fibrous, dry to
fleshy, thin threadlike segments apparent nearly entire length;
buds more than 3&nbsp;mm, sometimes present during dormant season.
 <B>Stems</B> 1-4(-8) per root, usually unbranched, rarely less
than 60&nbsp;cm, elongation delayed 1-3 weeks after leaf initiation;
base usually not narrowed, firmly attached to root; proximal internodes
much shorter than those of midstem.  <B>Leaves</B> basal and cauline,
largest near base of stem, others usually abruptly smaller on
distal portion of stem; basal petioles &#177;&nbsp;spreading,
cauline petioles ascending; basal leaves more rounded and with
fewer, wider lobes than cauline leaves.  <B>Inflorescences</B>
usually 3-12 flowers per 5&nbsp;cm, dense to open, cylindric,
spurs sometimes intersecting rachis; pedicel ascending, usually
less than 2&nbsp;cm; if stems less than 60&nbsp;cm, then pedicel
remotely ascending (sigmoid); bracts usually markedly smaller
and fewer lobed than leaves.  <B>Fruits</B> erect.  <B>Seeds</B>
rectangular to crescent-shaped, 1.8-3&nbsp;&#215; 1.3-2.5&nbsp;mm,
not ringed at proximal end, wing-margined or not; seed coats with
small irregular wavy ridges or ripples, cells elongate (more than
3 times longer than wide), cell margins straight.  
<P>
 Species 4 (4 in the flora): w United
States.<BR>

<P>
<B>