54b. <A NAME="27103481"></A><I><B>Delphinium nuttallii</B></I><B>
A.&nbsp;Gray subsp. <I>ochroleucum</I> (Nuttall) M.&nbsp;J. Warnock</B></B>,
Phytologia 78: 98.  1995 -&nbsp;Light-yellow-flowered larkspur
-&nbsp;C E 
<P>
<I>Delphinium menziesii</I>
de Candolle var. (&szlig;) <I>ochroleucum</I> Nuttall in J.&nbsp;Torrey
&amp; A.&nbsp;Gray, Fl. N. Amer. 1: 31.  1838; <I>D</I>.&nbsp;<I>leucophaeum</I>
Greene
<P>
<B>Stems</B>
30-60&nbsp;cm.  <B>Flowers:</B> sepals white or light yellow,
spurs 9-11&nbsp;mm; lower petal blades 4-6&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;16.
 
<P>
 Flowering late spring.  Rock outcrops,
rocky meadows; of conservation concern; 50-100&nbsp;m; Oreg. 

<P>
 The range of morphologic features of
<I>Delphinium nuttallii</I> subsp. <I>ochroleucum</I> (<I>D</I>.&nbsp;<I>leucophaeum</I>)
is almost completely encompassed within that of <I>D</I>.&nbsp;<I>nuttallii</I>
subsp. <I>nuttallii</I>.  Sepal color is the only feature consistently
separating the two subspecies.  Were it not for the fact that
any given population typically has plants of only one flower color,
a rank of forma would be more appropriate.<BR>

<P>
<B>