23e. <A NAME="27103092"></A><I><B>Delphinium parryi</B></I><B>
A.&nbsp;Gray subsp. <I>eastwoodiae</I> Ewan</B></B>,
Univ. Colorado Stud., Ser. D, Phys. Sci. 2: 182.  1945 -&nbsp;Eastwood's
larkspur -&nbsp;C E 
<P>
<B>Roots</B>
less than 10&nbsp;cm.  <B>Stems</B> 15-40&nbsp;cm.  <B>Leaves</B>
mostly on proximal 1/3 of stem; basal leaves usually present at
anthesis; blade with ultimate lobes 5-15, width less than 7&nbsp;mm.
 <B>Inflorescences:</B> bracteoles 7-10&nbsp;mm.  <B>Flowers:</B>
sepals usually reflexed, lateral sepals 11-20&nbsp;mm, spurs 11-17&nbsp;mm;
lower petal blades 6-9&nbsp;mm. 
<P>
 Flowering spring.  Serpentine endemic
in grasslands surrounded by coastal chaparral; of conservation
concern; 50-500&nbsp;m; Calif.  
<P>
 <I>Delphinium parryi</I> subsp. <I>eastwoodiae</I>
is usually very local, although in a few localities it is abundant.
 It is likely to be confused only with <I>D</I>.&nbsp;<I>variegatum</I>;
<I>D</I>.&nbsp;<I>parryi</I> subsp. <I>eastwoodiae</I> does not
have long hairs as are present on proximal petioles of <I>D</I>.&nbsp;<I>variegatum</I>.
<BR>

<P>
<B>