45. <A NAME="27103456"></A><I><B>Delphinium basalticum</B></I><B>
M.&nbsp;J. Warnock</B></B>, Phytologia
78: 91.  1995 - Columbia Gorge larkspur -&nbsp;C E 
<P>
<B>Stems</B>
20-50(-65)&nbsp;cm; base often reddish, puberulent.  <B>Leaves</B>
basal and cauline; basal leaves 1-4 at anthesis; cauline leaves
2-5 at anthesis; petiole 0-15&nbsp;cm.  <B>Leaf blade</B> round,
2-6&nbsp;&#215; 5-9&nbsp;cm, not succulent, nearly glabrous; ultimate
lobes 5-19, width 3-15&nbsp;mm (basal), 1-12&nbsp;mm (cauline).
 <B>Inflorescences</B> (2-)6-16(-26)-flowered; pedicel 2-7&nbsp;cm,
nearly glabrous; bracteoles 4-12&nbsp;mm from flowers, green,
linear, 3-7&nbsp;mm, nearly glabrous.  <B>Flowers:</B> sepals
dark blue, nearly glabrous, lateral sepals spreading, 15-21&nbsp;&#215;
7-10&nbsp;mm, spur straight to decurved, ascending 30-45&#176;
above horizontal, 14-18&nbsp;mm; lower petal blades slightly elevated,
&#177;&nbsp;exposing stamens, 7-9&nbsp;mm, cleft 4-5&nbsp;mm;
hairs centered, mostly on inner lobes above base of cleft, yellow
to white.  <B>Fruits</B> 12-17&nbsp;mm, 3.5-4 times longer than
wide, glabrous.  <B>Seeds</B> &#177;&nbsp;wing-margined; seed
coat cells with surfaces smooth.  
<P>
 Flowering spring (-early summer). 
Basaltic cliff faces, n&nbsp;and e&nbsp;slopes at base of cliffs;
of conservation concern; 200-500&nbsp;m; Oreg., Wash.  
<P>
 Hybrids between <I>Delphinium basalticum</I>
and <I>D</I>.&nbsp;<I>trolliifolium</I> are known. <BR>

<P>
