30. <A NAME="27100976"></A><I><B>Delphinium purpusii</B></I><B>
Brandegee</B></B>, Bot. Gaz.
27: 444.  1899 - Purpus' larkspur, rose-colored larkspur -&nbsp;C
E 
<P>
<B>Stems</B>
(30-)50-80(-120)&nbsp;cm; base reddish or not, nearly glabrous.
 <B>Leaves</B> mostly on proximal 1/2 of stem; basal leaves 3-5
at anthesis; cauline leaves 4-12 at anthesis; petiole 3-17&nbsp;cm.
 <B>Leaf blade</B> round, 1.5-6&nbsp;&#215; 2-10&nbsp;cm, &#177;&nbsp;puberulent;
ultimate lobes 0-5, width 5-30(-50)&nbsp;mm (basal), 5-20(-40)&nbsp;mm
(cauline).  <B>Inflorescences</B> (8-)12-20(-32)-flowered, &#177;&nbsp;cylindric;
pedicel &#177;&nbsp;ascending, (0.5-)1-4(-5)&nbsp;cm, glandular-puberulent;
bracteoles 1-6&nbsp;mm from flowers, green to magenta, linear,
2-4&nbsp;mm, glandular-puberulent.  <B>Flowers:</B> sepals magenta
to rose, nearly glabrous, lateral sepals reflexed, 10-16&nbsp;&#215;
3-7&nbsp;mm, spurs straight, 30-45&#176; above horizontal, (10-)14-19&nbsp;mm;
lower petal blades nearly coplanar with claws, exposing stamens,
3-4&nbsp;mm, clefts 0.5-1.5&nbsp;mm; hairs sparse, scattered,
white.  <B>Fruits</B> (11-)18-29&nbsp;mm, 4-4.5 times longer than
wide, glabrous.  <B>Seeds:</B> seed coats with small wavy ridges,
cells brick-shaped, cell margins undulate, surfaces smooth.  2<I>n</I>&nbsp;=&nbsp;16.
 
<P>
 Flowering spring.  Talus, cliffs, on
and near large boulders; of conservation concern; 300-1300&nbsp;m;
Calif. 
<P>
 <I>Delphinium purpusii</I> is not likely
to be confused with any other <I>Delphinium</I> in North America.
 Hybrids with <I>Delphinium hansenii</I> subsp. <I>kernense</I>
are known to occur.<BR>

<P>
<B>