53. <A NAME="27103477"></A><I><B>Delphinium sutherlandii</B></I><B>
M.&nbsp;J. Warnock</B></B>, Phytologia
78: 97.  1995 - Sutherland's larkspur -&nbsp;E 
<P>
<B>Stems</B>
(15-)30-70&nbsp;cm; base often reddish, glabrous.  <B>Leaves</B>
basal and cauline; basal leaves 0-2 at anthesis; cauline leaves
3-7 at anthesis; petiole 0.4-14&nbsp;cm.  <B>Leaf blade</B> round,
1.5-10&nbsp;&#215; 3-18&nbsp;cm, nearly glabrous; ultimate lobes
5-21, 5 or more extending more than 3/5 distance to petiole, width
3-9(-15)&nbsp;mm (basal), 0.5-6(-10)&nbsp;mm (cauline), widest
at middle or in proximal 1/2.  <B>Inflorescences</B> (2-)11-26(-37)-flowered,
at least 2 times longer than wide; pedicel 1-3&nbsp;cm, puberulent;
bracteoles 2-7&nbsp;mm from flowers, green to blue, linear-lanceolate,
3-5&nbsp;mm, puberulent.  <B>Flowers:</B> sepals dark blue, retaining
color upon drying, puberulent, lateral sepals spreading, 14-20&nbsp;&#215;
5-10&nbsp;mm, spurs gently decurved, ascending 0-20&#176; above
horizontal, 14-18&nbsp;mm; lower petal blades slightly elevated,
&#177;&nbsp;covering stamens, white, yellowish, or tan, 8-12&nbsp;mm,
clefts 2-4&nbsp;mm; hairs short, sparse, mostly below junction
of blade and claw, slightly offset to inner lobes, white.  <B>Fruits</B>
(13-)18-25&nbsp;mm, 4.5-5.2 times longer than wide, puberulent.
 <B>Seeds</B> winged on 1&nbsp;margin; seed coat cell surfaces
roughened.  2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering spring.  Dry meadows, rock
outcrops, open conifer woods; 400-800&nbsp;m; B.C.; Idaho, Mont.,
Wash. <BR>

<P>
<B>