10. <A NAME="27100979"></A><I><B>Delphinium robustum</B></I><B>
Rydberg</B></B>, Bull. Torrey
Bot. Club 28: 276.  1901 - Robust larkspur -&nbsp;C E F 
<P>
<B>Stems</B>
100-200(-250)&nbsp;cm; base sometimes reddish, glabrous, glaucous.
 <B>Leaves</B> cauline, 12-22, absent from proximal 1/5 of stem
at anthesis; petiole 5-13&nbsp;cm.  <B>Leaf blade</B> round to
pentagonal, 7-12&nbsp;&#215; 10-20&nbsp;cm, nearly glabrous; ultimate
lobes 5-15, width 6-30&nbsp;mm, tips gradually tapered to mucronate
apex; midcauline leaf lobes more than 3 times longer than wide.
 <B>Inflorescences</B> 40-90(-180)-flowered; pedicel 0.5-2&nbsp;cm,
puberulent; bracteoles 4-6&nbsp;mm from flowers, green to purple,
linear, 5-8&nbsp;mm, puberulent.  <B>Flowers:</B> sepals bluish
purple to pale lavender, nearly glabrous, lateral sepals &#177;&nbsp;forward
pointing, 9-14&nbsp;&#215; 4-6&nbsp;mm, spurs slightly decurved,
30-45&#176; above horizontal, dark blue, 10-13&nbsp;mm; lower
petal blades &#177;&nbsp;covering stamens, 5-7&nbsp;mm, clefts
2-3&nbsp;mm; hairs centered, mostly on inner lobes near base of
cleft, yellow to white.  <B>Fruits</B> 13-18&nbsp;mm, 3-4 times
longer than wide, puberulent.  <B>Seeds</B> wing-margined; seed
coat cells elongate, surfaces smooth. 
<P>
 Flowering summer.  Riparian woodlands,
subalpine meadows; of conservation concern; 2200-3000&nbsp;m;
Colo., N.Mex.  
<P>
 <I>Delphinium robustum</I> is the representative
of the southern Cordilleran complex from the Jemez, San Antonio,
San Juan, San Pedro, and Sangre de Cristo mountains.  Hybrids
are known with <I>D</I>.&nbsp;<I>sapellonis</I>.  
<P>
 
<P>
<B>