32. <A NAME="27103380"></A><I><B>Delphinium lineapetalum</B></I><B>
Ewan</B></B>, Univ. Colorado
Stud., Ser. D, Phys. Sci. 2: 126.  1945 -&nbsp;C E F 
<P>
<I>Delphinium nuttallianum</I>
Pritzel var. <I>lineapetalum</I> (Ewan) C.&nbsp;L. Hitchcock 
<P>
<B>Stems</B>
(15-)30-60&nbsp;cm; base usually reddish, glabrous to glaucous.
 <B>Leaves</B> basal and cauline; basal leaves absent at anthesis;
cauline leaves 2-5 at anthesis; petiole 0.2-8&nbsp;cm.  <B>Leaf
blade</B> round, 1-5&nbsp;&#215; 2-6&nbsp;cm, glabrous; ultimate
lobes 5-16, width 1-4&nbsp;mm (basal), 0.5-3&nbsp;mm (cauline).
 <B>Inflorescences</B> (3-)9-24(-40)-flowered, pyramidal; pedicel
spreading, 1-2.5&nbsp;cm, glabrous or glandular-puberulent; bracteoles
4-7&nbsp;mm from flowers, blue or green, linear, 1-3&nbsp;mm,
glabrous or glandular-puberulent.  <B>Flowers:</B> sepals light
blue to lavender, nearly glabrous, lateral sepals reflexed, 10-13&nbsp;&#215;
3-5&nbsp;mm, spurs straight to slightly decurved, nearly horizontal
to ascending ca. 30&#176;, 11-17&nbsp;mm; lower petal blades elevated,
exposing stamens, 3-5&nbsp;mm, clefts 0.5-2&nbsp;mm; hairs centered
mostly on inner lobes near base of cleft, white.  <B>Fruits</B>
13-21&nbsp;mm, 4-4.5 times longer than wide, puberulent to glabrous.
 <B>Seeds:</B> seed coat cells narrow, short, cell margins straight,
surfaces smooth. 
<P>
 Flowering spring.  Open pine woods,
dry meadows; of conservation concern; 400-1800&nbsp;m; Wash.<BR>

