43b. <A NAME="27103452"></A><I><B>Delphinium bicolor</B></I><B>
Nuttall subsp. <I>calcicola</I> M.&nbsp;J. Warnock &amp; Vanderhorst
in M.&nbsp;J. Warnock</B></B>,
Phytologia 78: 90.  1995 -&nbsp;E 
<P>
<B>Flowers:</B>
sepals bright dark blue, lateral sepals 16-21&nbsp;&#215; 9-12&nbsp;mm,
spurs 15-23&nbsp;mm; lower petal blades with cleft 2&nbsp;mm or
more; hairs usually yellow.  
<P>
 Flowering late spring-early summer.
 Rocky soils in shortgrass prairie and sagebrush communities on
limestone outcrops; 1300-2100&nbsp;m; Mont.  
<P>
 In the field, <I>Delphinium bicolor</I>
subsp. <I>calcicola</I> is readily separated from <I>D</I>.&nbsp;<I>bicolor</I>
subsp. <I>bicolor</I> on the basis of its brighter colored, slightly
larger flowers and its edaphic preference.  <I>Delphinium bicolor</I>
subsp. <I>calcicola</I> usually flowers somewhat later where the
two are sympatric.  These differences are often not apparent from
herbarium specimens.  Specimens of this taxon misidentified as
<I>D</I>.&nbsp;<I>geyeri</I> account for most reports of that
species from Montana.<BR>

<P>
<B>