17. <A NAME="27100981"></A><I><B>Delphinium scopulorum</B></I><B>
A. Gray</B></B>, Smithsonian
Contr. Knowl. 5(6): 9.  1853 - Rocky Mountain larkspur - F
<P>
<I>Delphinium macrophyllum</I>
Wooton 
<P>
<B>Stems</B>
50-120 cm; base often reddish, puberulent, midstems glabrous
to subglabrous.  <B>Leaves</B> mostly on proximal 1/3 of stem;
basal leaves (0-)3-7 at anthesis; cauline leaves 6-15 at anthesis;
petiole 0.5-15 cm.  <B>Leaf blade</B> round to pentagonal,
1.5-10 &#215; 2-16 cm, nearly glabrous; ultimate lobes
5-19, width 5-30 mm (basal), 1-10 mm (cauline).  <B>Inflorescences</B>
10-30-flowered, open, cylindric; pedicel ascending to spreading,
1-3(-4.5) cm, puberulent;   bracteoles 2-7 mm from flowers,
green, linear, 2-4 mm, puberulent.  <B>Flowers:</B> sepals
bright dark blue, nearly glabrous, lateral sepals forward pointing,
12-15 &#215; 4-6 mm, spurs gently decurved, slightly
ascending, 15-20 mm; lower petal blades &#177; covering
stamens, 5-8 mm, clefts 1-3 mm; hairs sparse, centered,
mostly below junction of blade and claw, white.  <B>Fruits</B>
16-20 mm, 4-4.5 times longer than wide, nearly glabrous.
 <B>Seeds</B> wing-margined; seed coat cells with margins straight,
cell surfaces &#177; roughened.   2<I>n</I> = 16.
 
<P>
 Flowering late summer-early autumn.
 Riparian forests and open woodlands; 1700-2600 m; Ariz.,
N.Mex; Mexico (Sonora).  
<P>
 Hybrids are known with <I>Delphinium
andesicola</I>. <BR>

<P>
<B>