36d. <A NAME="27103416"></A><I><B>Delphinium carolinianum</B></I><B>
Walter subsp. <I>virescens</I> (Nuttall) R. E. Brooks</B></B>,
Phytologia 60: 8. 1982 - Plains larkspur, white larkspur, Penard's
larkspur - E W2
<P>
<I>Delphinium virescens</I>
Nuttall, Gen. N. Amer. Pl. 2: 14. 1818; <I>D</I>. <I>virescens</I>
var. <I>macroseratilis</I> (Rydberg) Cory; <I>D</I>. <I>virescens</I>
var. <I>penardii</I> (Huth) L. M. Perry
<P>
<B>Roots</B>
without elongate central axis; fascicles 2-8, &#177; horizontal.
<B>Stems</B> 50-80 cm. <B>Leaves</B> mostly cauline at anthesis;
distalmost petioles more than 5 mm. <B>Leaf blade</B> with
5 or more major divisions; ultimate lobes of midcauline leaf blades
5-15, width 2-6 mm. <B>Flowers:</B> sepals white to very
pale blue. 2<I>n</I> = 16. 
<P>
Flowering late winter-early summer.
Prairies, sandy, loamy, or clay soils; 250-2000 m; Man.;
Colo., Iowa, Kans., Minn., Mo., Nebr., N.Dak., Okla., S.Dak.,
Tex., Wis. 
<P>
<I>Delphinium carolinianum</I>
subsp. <I>virescens</I> is known to hybridize with <I>D</I>. <I>madrense</I>
and with <I>D</I>. <I>wootonii</I>. <BR>

<P>
<B>