61. <A NAME="27100959"></A><I><B>Delphinium nuttallianum</B></I><B>
Pritzel in Walpers</B></B>, Repert.
Bot. Syst. 1: 744.  1842 -&nbsp;E W2 
<P>
<I>Delphinium pauciflorum</I>
Nuttall in J.&nbsp;Torrey &amp; A.&nbsp;Gray, Fl. N. Amer. 1:
33.  1838, not <I>D</I>.&nbsp;<I>pauciflorum</I> D.&nbsp;Don 1825,
not <I>D</I>.&nbsp;<I>pauciflorum</I> Reichenbach ex Chamisso
1831; <I>D</I>.&nbsp;<I>nuttallianum</I> var. <I>fulvum</I> C.&nbsp;L.
Hitchcock; <I>D</I>.&nbsp;<I>nuttallianum</I> var. <I>levicaule</I>
C.&nbsp;L. Hitchcock; <I>D</I>. <I>sonnei</I> Greene
<P>
<B>Stems</B>
unbranched, 10-40(-70)&nbsp;cm; base reddish, pubescence variable.
 <B>Leaves</B> mostly on proximal 1/4 of stem; basal leaves 2-6
at anthesis; cauline leaves 2-10 at anthesis; petiole 0.4-12&nbsp;cm.
 <B>Leaf blade</B> round, 1-6&nbsp;&#215; 2-12&nbsp;cm, nearly
glabrous; ultimate lobes 5-21, 5 or more extending more than 3/5
distance to petiole, width 1-7(-14)&nbsp;mm (basal), 0.5-6&nbsp;mm
(cauline), widest at middle or in proximal 1/2.  <B>Inflorescences</B>
4-18(-48)-flowered, at least 2 times as long as wide; pedicel
0.8-6&nbsp;cm, pubescence variable; bracteoles 3-8(-18)&nbsp;mm
from flowers, green to blue, linear, 3-7&nbsp;mm, pubescence variable.
 <B>Flowers:</B> sepals usually bluish purple, rarely white to
pink, puberulent, lateral sepals reflexed or spreading, 8-21&nbsp;&#215;
3-10&nbsp;mm, spurs decurved to straight, ascending 20-60&#176;
above horizontal, 8-23&nbsp;mm; lower petal blades elevated, exposing
stamens, blue to purple, except sometimes in white-flowered plants,
4-11&nbsp;mm, clefts 2-5&nbsp;mm; hairs mostly on inner lobes
below junction of blade and claw, white, rarely yellow.  <B>Fruits</B>
7-22&nbsp;mm, 3.5-5 times longer than wide, glabrous to puberulent.
 <B>Seeds</B> winged or not; seed coat cell surfaces smooth or
roughened, blunt hairs absent.  2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering spring (-early summer). 
Open coniferous woods, grassy sage scrub, meadow edges and well
drained streamsides (generally not in very wet sites); 300-3500&nbsp;m;
B.C.; Ariz., Calif., Colo., Idaho, Mont., Nev., N.Mex., Oreg.,
Utah, Wash., Wyo.
<P>
 <I>Delphinium nuttallianum</I> represents
an extremely difficult complex, with many variations in a number
of morphologic traits.  The complex has been and continues to
be a major source of confusion for identification of <I>Delphinium</I>
in North America.  Type specimens of <I>D</I>.&nbsp;<I>nuttallianum</I>
represent plants growing under dry conditions in open areas. 
These are typically found at 1200-2000&nbsp;m in sage scrub or
lower montane forest.  <I>Delphinium nuttallianum</I> may be confused
with <I>D</I>.&nbsp;<I>andersonii</I>, <I>D</I>.&nbsp;<I>antoninum</I>,
<I>D</I>.&nbsp;<I>depauperatum</I>, <I>D</I>.&nbsp;<I>gracilentum</I>,
and two subspecies of <I>D</I>.&nbsp;<I>patens</I> (subsp. <I>patens</I>
and subsp. <I>montanum</I>).  Features that may be used to separate
<I>D</I>.&nbsp;<I>nuttallianum</I> from the first four, are enumerated
under the respective species discussions.  From <I>D</I>.&nbsp;<I>patens</I>
subsp. <I>patens</I>, <I>D</I>.&nbsp;<I>nuttallianum</I> may be
distinguished by its narrower leaf lobes, larger fruits, and more
compact inflorescence.  The frequent presence of glandular hairs
in the inflorescence of <I>D</I>.&nbsp;<I>patens</I> subsp. <I>montanum</I>,
contrasted with their absence in <I>D</I>.&nbsp;<I>nuttallianum</I>,
will separate these taxa.  Dwarfed plants of <I>D</I>.&nbsp;<I>polycladon</I>
may be confused with <I>D</I>.&nbsp;<I>nuttallianum</I>.  The
latter, however may be distinguished by its ringed seeds, and
it does not have prominent buds or sigmoid pedicel.
<P>
 Hybrids have been seen between <I>Delphinium
nuttallianum</I> and <I>D</I>.&nbsp;<I>andersonii</I>, <I>D</I>.&nbsp;<I>depauperatum</I>
(<I>D</I>. &#215;<I>burkei</I> Greene), <I>D</I>.&nbsp;<I>distichum</I>
(<I>D</I>. &#215;<I>diversicolor</I> Rydberg), <I>D</I>.&nbsp;<I>nudicaule</I>,
and <I>D</I>.&nbsp;<I>polycladon</I>. 
