35. <A NAME="27100989"></A><I><B>Delphinium uliginosum</B></I><B>
Curran</B></B>, Proc. Calif.
Acad. Sci. 1: 151.  1885 - Swamp larkspur -&nbsp;E F
<P>
<B>Stems</B>
10-30(-70)&nbsp;cm; base reddish or not, nearly glabrous.  <B>Leaves</B>
mostly on proximal 1/4 of stem; basal leaves 6-8 at anthesis;
cauline leaves 0-5 at anthesis; petiole 0.3-7&nbsp;cm.  <B>Leaf
blade</B> obdeltoid, apically several parted, 1-8&nbsp;&#215;
1-7&nbsp;cm, &#177;&nbsp;fleshy, glabrous; ultimate lobes 0-3,
width 3-20&nbsp;mm (cauline only); margins of basal leaf, measured
less than 1&nbsp;cm from blade base, demarcating less than 90&#176;
of arc when leaf laid flat.  <B>Inflorescences</B> 5-20(-48)-flowered,
&#177;&nbsp;open; pedicel 0.3-3(-10)&nbsp;cm, glabrous to puberulent;
bracteoles 2-3(-5)&nbsp;mm from flowers, green to blue, lanceolate-linear,
3-4(-7)&nbsp;mm, puberulent.  <B>Flowers:</B> sepals dark blue,
nearly glabrous, lateral sepals spreading, 9-15&nbsp;&#215; 5-8&nbsp;mm,
spurs usually upcurved, ascending 30-45&#176; above horizontal,
10-14&nbsp;mm; lower petal blades slightly elevated, &#177;&nbsp;exposing
stamens, 4-5&nbsp;mm, clefts 2-3&nbsp;mm; hairs centered, densest
on inner lobe above base of cleft, also on margins, white.  <B>Fruits</B>
10-18&nbsp;mm, 4.1-4.5 times longer than wide, puberulent.  <B>Seeds:</B>
seed coat cells with surfaces bumpy or wavy.  2<I>n</I>&nbsp;=&nbsp;16.
 
<P>
 Flowering late spring-early summer.
 Serpentine streamsides, chaparral, grassland; 400-600&nbsp;m;
Calif.  
<P>
 Although some populations are large,
<I>Delphinium uliginosum</I> is very local.  Hybrids with <I>D</I>.&nbsp;<I>hesperium</I>
subsp. <I>pallescens</I> have been seen.
<P>
 <I>Delphinium uliginosum</I> is a very
distinctive species, not likely to be confused with any other.
 The fan-shaped, slightly dissected leaves are apparently unique
in the genus. <BR>

