16b.5. <A NAME="50007407"></A><I><B>Delphinium</B></I><B>
Linnaeus subsect. <I>Depauperata</I> M.&nbsp;J. Warnock, Phytologia
78: 84.  1995</B></B> 
<P>
<B>Roots</B>
2-8-branched, 2-10(-15)&nbsp;cm, twisted-fibrous, dry to fleshy;
buds minute.  <B>Stems</B> 1(-2) per root, usually unbranched,
less than 60(-80)&nbsp;cm, elongation delayed 2-8 weeks after
leaf initiation; base usually not narrowed, firmly attached to
root.  <B>Leaves</B> basal and cauline, largest near base of stem,
others usually abruptly smaller on distal portion of stem; basal
petioles &#177;&nbsp;spreading, cauline petioles ascending; basal
leaves more rounded and with fewer, wider lobes than cauline leaves.
 <B>Inflorescences</B> usually 1-10 flowers per 5&nbsp;cm, dense
to open, cylindric, spurs often intersecting rachis; pedicel closely
ascending rachis (straight), usually less than 2&nbsp;cm, rachis
to midpedicel angle less than 30&#176;; bracts markedly smaller
and fewer lobed than leaves.  <B>Fruits</B> erect.  <B>Seeds</B>
rectangular to crescent-shaped, 1.3-2.3&nbsp;&#215; 0.8-1.4&nbsp;mm,
not ringed on proximal end, &#177;&nbsp;wing-margined; seed coats
without wavy ridges, cells elongate, cell margins straight.  
<P>
 Species 3+ (3 in the flora): North
America, possibly others in Asia.<BR>

<P>
<B>