16b.8. <A NAME="50007404"></A><I><B>Delphinium</B></I><B>
Linnaeus subsect. <I>Bicoloria</I> (Rydberg) N.&nbsp;I. Malyutin,
Bot. Zhurn. (Moscow &amp; Leningrad) 72: 687.  1987</B></B>
<P>
<I>Delphinium</I>
sect. <I>Bicoloria</I> Rydberg, Fl. Rocky Mts., 309.  1917
<P>
<B>Roots</B>
2-9-branched at least 1&nbsp;cm from stem attachment, (5-)10-30(-40)&nbsp;cm,
diffuse-fibrous, &#177;&nbsp;braided, dry; buds minute.  <B>Stems</B>
1(-2) per root, usually unbranched, elongation delayed 2-6(-10)
weeks after leaf initiation; base &#177;&nbsp;narrowed, &#177;&nbsp;tenuously
attached to root; proximal internodes much shorter than those
of midstem.  <B>Leaves</B> basal and cauline, largest leaves near
base of stem, others often abruptly smaller on distal portion
of stem; basal petioles spreading, cauline petioles ascending;
blade shape and lobing similar throughout.  <B>Inflorescences</B>
usually with 2-6 flowers per 5&nbsp;cm, open, &#177;&nbsp;pyramidal,
seldom more than 3 times longer than wide, spurs rarely intersecting
rachis; pedicel spreading, usually more than 1.5&nbsp;cm, rachis
to midpedicel angle more than 30&#176;; bracts markedly smaller
and fewer lobed than leaves.  <B>Fruits</B> spreading.  <B>Seeds</B>
obpyramidal, 1.6-2.9&nbsp;&#215; 0.7-1.9&nbsp;mm, &#177;&nbsp;ringed
at proximal end, usually wing-margined; seed coats lacking wavy
ridges, cells elongate, cell margins straight.  
<P>
 Species 6 (6 in the flora): w North
America.<BR>

<P>
<B>