51b. <A NAME="27100932"></A><I><B>Delphinium decorum</B></I><B>
Fischer &amp; C.&nbsp;A. Meyer subsp. <I>tracyi</I> Ewan</B></B>,
Univ. Colorado Stud., Ser. D, Phys. Sci. 2: 100.  1945 - Tracy's
larkspur -&nbsp;E 
<P>
<B>Stems</B>
7-20(-45)&nbsp;cm.  <B>Leaves:</B> ultimate lobes 5-15, usually
more than 5 lobes longer than 1/2 leaf radius, apical lobes pronounced.
 <B>Inflorescences</B> glabrous or nearly so.  <B>Flowers:</B>
lateral sepals 11-18&nbsp;mm, spurs 13-20&nbsp;mm; lower petal
hairs white.  2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering mid-late spring.  Meadows
in montane forests; 700-2300&nbsp;m; Calif.  
<P>
 Although <I>Delphinium decorum</I>
subsp. <I>tracyi</I> probably occurs in southern Oregon, no specimens
have been seen from that state.  Habitat appears to be the main
isolating mechanism between <I>D</I>. <I>decorum</I> subsp. <I>tracyi</I>
and <I>D</I>.&nbsp;<I>antoninum</I>; hybrids do occur.  The subspecies
also hybridizes with <I>D</I>.&nbsp;<I>nudicaule</I> and <I>D</I>.&nbsp;<I>trolliifolium</I>.

<P>
 <I>Delphinium decorum</I> subsp. <I>tracyi</I>
may be confused with <I>D</I>.&nbsp;<I>antoninum</I> or <I>D</I>.&nbsp;<I>nuttallianum</I>.
 For distinctions from the former, see discussion under that species.
 Distinctions between <I>D</I>. <I>decorum</I> subsp. <I>tracyi</I>
and <I>D</I>.&nbsp;<I>nuttallianum</I> may be made on basis of
spreading, fading, bluish purple sepals of the former as opposed
to reflexed, colorfast, dark blue to white sepals of the latter.
 Pubescence of the proximal portion of stems and larger lower
petal blades of subsp. <I>tracyi</I> are also useful to distinguish
from usually glabrous stems and smaller lower petal blades of
<I>D</I>.&nbsp;<I>nuttallianum</I>. <BR>

<P>
<B>