25c. <A NAME="27103090"></A><I><B>Delphinium parishii</B></I><B>
A.&nbsp;Gray subsp. <I>pallidum</I> (Munz) M.&nbsp;J. Warnock</B></B>,
Phytologia 68: 2.  1990 - Pale-flowered Parish's larkspur -&nbsp;E

<P>
<I>Delphinium parishii</I>
var. <I>pallidum</I> Munz, Bull. S. Calif. Acad. Sci. 31: 61.
 1932
<P>
<B>Stems</B>
(27-)40-60(-95)&nbsp;cm.  <B>Leaves</B> primarily on proximal
1/3 of stem; ultimate lobes 3-7, abruptly smaller with narrower
lobes on distal portion of stem.  <B>Inflorescences:</B> pedicel
usually less than 15&nbsp;mm, 4-17&nbsp;mm apart.  <B>Flowers:</B>
sepals white to pink or blue, spreading to erect, lateral sepals
6-11 &#215; 2-4&nbsp;mm, spurs 7-13&nbsp;mm; lower petal blades
3-4&nbsp;mm.  <B>Fruits</B> 11-14&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;16.
 
<P>
 Flowering spring-early summer.  <I>Artemisia</I>
scrub, open pine woods, chaparral; 900-1900&nbsp;m; Calif.  
<P>
 Nowhere common, <I>Delphinium parishii</I>
subsp. <I>pallidum</I> may be in danger of significant population
reductions because of human encroachment.  
<P>
 <I>Delphinium parishii</I> subsp. <I>pallidum</I>
hybridizes with <I>D</I>.&nbsp;<I>parryi</I> subsp. <I>purpureum</I>.
 It is frequently confused with <I>D</I>.&nbsp;<I>inopinum</I>.
 Most of the data attributed to <I>D</I>.&nbsp;<I>inopinum</I>
in the paper by H.&nbsp;Lewis and C.&nbsp;Epling (1954) pertain
to <I>D</I>.&nbsp;<I>parishii</I> subsp. <I>pallidum</I>.  Refer
to discussion under <I>D</I>.&nbsp;<I>inopinum</I> for features
used to distinguish these two taxa.  Plants of <I>D</I>.&nbsp;<I>parishii</I>
subsp. <I>pallidum</I> might be confused with <I>D</I>.&nbsp;<I>gypsophilum</I>
subsp. <I>parviflorum</I>.  Distinguishing characteristics are
found in discussion of that taxon.<BR>

<P>
<B>