14. <A NAME="27100935"></A><I><B>Delphinium geraniifolium</B></I><B>
Rydberg</B></B>, Bull. Torrey
Bot. Club 26: 583.  1899 - Mogollon larkspur - E 
<P>
<I>Delphinium tenuisectum</I>
Greene subsp. <I>amplibracteatum</I> (Wooton) Ewan
<P>
<B>Stems</B>
60-100 cm; base reddish, puberulent, midstems pubescent.
 <B>Leaves</B> mostly on proximal 1/3 of stem; basal leaves (0-)2-7
at anthesis; cauline leaves 12-20 at anthesis; petiole 1-14 cm.
 <B>Leaf blade</B> dark green, at least adaxially, fan-shaped
to reniform, 2-5 &#215; 3-7 cm, pubescent, especially
abaxially; ultimate lobes 5-15, width 4-15 mm (basal lobes
5-15 mm), apex abruptly tapered, usually mucronate; veins
prominent.  <B>Inflorescences</B> 20-90-flowered, dense, cylindric;
pedicel ascending to spreading, 1-2 cm, puberulent; bracteoles
1-2 mm from flowers, green, linear, 4-6 mm, puberulent.
 <B>Flowers:</B> sepals dark blue to purple, puberulent, lateral
sepals spreading to slightly forward pointing, 10-14 &#215;
3-5 mm, spurs ascending 20-70&#176;, truncate or downcurved
apically, 12-15 mm; lower petal blades slightly elevated,
&#177; exposing stamens, 4-6 mm, clefts 0.5-2 mm;
hairs sparse, local below junction of blade and claw, scattered
on margins, white.  <B>Fruits</B> 13-18 mm, 3-3.5 times longer
than wide, puberulent.  <B>Seeds</B> unwinged; seed coat cells
with margins straight, surfaces &#177; roughened.  2<I>n</I> = 16.
 
<P>
 Flowering summer.  Heavy clay soil,
dry meadows in coniferous woods; 1800-3400 m; Ariz, N.Mex.
 
<P>
 <I>Delphinium geraniifolium</I> is
a more pubescent analog of the closely related <I>D</I>. <I>scopulorum</I>,
the former occurring in heavier soils at higher elvation.<BR>

<P>
<B>