42c. <A NAME="27103087"></A><I><B>Delphinium hansenii</B></I><B>
(Greene) Greene subsp. <I>ewanianum</I> M.&nbsp;J. Warnock</B></B>,
Phytologia 68: 3.  1990 - Ewan's larkspur -&nbsp;C E 
<P>
<B>Stems</B>
(25-)60-100(-130)&nbsp;cm, base usually simple-puberulent.  <B>Leaves</B>
mostly cauline; cauline leaves 3 or more, &#177;&nbsp;gradually
smaller than basal leaves.  <B>Inflorescences</B> 2-5(-8) flowers
per 5&nbsp;cm, &#177;&nbsp;open.  <B>Flowers:</B> sepals reddish
purple to dark maroon, lateral sepals 8-12&nbsp;mm, spurs (6-)9-12(-16)&nbsp;mm.
 2<I>n</I>&nbsp;=&nbsp;32.  
<P>
 Flowering early-mid spring.  Rock outcrops
in open oak woods, grasslands; of conservation concern; 60-600&nbsp;m;
Calif.  
<P>
 <I>Delphinium hansenii</I> subsp. <I>ewanianum</I>
is extremely local and imperiled by human encroachment.<BR>

