40a. <A NAME="27101700"></A><I><B>Delphinium variegatum</B></I><B>
Torrey &amp; A.&nbsp;Gray subsp. <I>variegatum</I> </B></B>-
Royal larkspur -&nbsp;E F 
<P>
<I>Delphinium emiliae</I>
Greene; <I>D</I>.&nbsp;<I>variegatum</I> Torrey &amp; A.&nbsp;Gray
subsp. <I>apiculatum</I> (Greene) Ewan; <I>D</I>.&nbsp;<I>variegatum</I>
Torrey &amp; A.&nbsp;Gray var. <I>apiculatum</I> (Greene) Greene
<P>
<B>Stem:</B>
base densely long-pubescent.  <B>Inflorescences</B> usually with
fewer than 10 flowers per branch.  <B>Flowers:</B> sepals deep
royal blue, rarely white or lavender, lateral sepals 10-25&nbsp;mm;
lower petal blades 4-11&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;16, 32.
 
<P>
 Flowering spring.  Grassland, open
oak woods; 20-800&nbsp;m; Calif.  
<P>
 Some populations of <I>Delphinium variegatum</I>
subsp. <I>variegatum</I> may be found on serpentine; they are
not well marked morphologically and are not recognized as distinct
taxa.  This taxon is one of the most commonly encountered plants
in California, plants at times coloring foothills of the Coast
Ranges and Sierra Nevada.  Hybrids with <I>D</I>.&nbsp;<I>hansenii</I>,
<I>D</I>.&nbsp;<I>hesperium</I>, <I>D</I>.&nbsp;<I>parryi</I>,
and <I>D</I>.&nbsp;<I>recurvatum</I> are known.  
<P>
 <I>Delphinium variegatum</I> has sometimes
been confused with <I>D</I>.&nbsp;<I>hansenii</I> or with <I>D</I>.&nbsp;<I>hesperium</I>.
 Distinguishing features may be found in discussion under those
taxa.  Plants recognized under the name <I>variegatum</I> exhibit
considerable morphologic variation.  This variation could not
be correlated, however, in such a way as to make defensible taxonomic
segregates within <I>D</I>. <I>variegatum</I> subsp. <I>variegatum</I>.
 Further study may indicate some means of consistently recognizing
some phases.  For instance, the type specimen of <I>D</I>.&nbsp;<I>variegatum</I>
forma <I>superbum</I> Ewan represents a phase with huge flowers.
 Plants with this feature may be found scattered almost throughout
the range of <I>D</I>. <I>variegatum</I> subsp. <I>variegatum</I>
(either as isolated plants or as populations made up largely of
this morphotype); they are most common in San Francisco Bay area.
 The type specimen of <I>D</I>.&nbsp;<I>subnudum</I> represents
plants with few cauline leaves, a feature that also appears apparently
at random throughout the range of subsp. <I>variegatum</I>.  Type
specimens (isotypes) of <I>D</I>.&nbsp;<I>emiliae</I> appear to
be plants introgressed with <I>D</I>.&nbsp;<I>hesperium</I>. 
The type specimen of <I>D</I>.&nbsp;<I>apiculatum</I> represents
the most common and widespread phase of subsp. <I>variegatum</I>,
with flowers intermediate in size between those of the type specimen
of <I>D</I>.&nbsp;<I>variegatum</I> and those of <I>D</I>. <I>variegatum</I>
forma <I>superbum</I>. <BR>

<P>
<B>