37. <A NAME="27100398"></A><I><B>Delphinium wootonii</B></I><B>
Rydberg</B></B>, Bull. Torrey
Bot. Club 26: 587. 1900 - Wooton's larkspur - F
<P>
<I>Delphinium virescens</I>
Nuttall subsp. <I>wootonii</I> (Rydberg) Ewan
<P>
<B>Stems</B>
(15-)30-50(-60) cm; base sometimes reddish, pubescent. <B>Leaves</B>
mostly on proximal 1/4 of stem at anthesis; basal leaves 0-10
at anthesis; cauline leaves 3-10 at anthesis; petiole 0.5-8(-14) cm.
<B>Leaf blade</B> reniform to fan-shaped, 1.5-3 &#215; 2.5-4 cm,
puberulent; ultimate lobes 5-24, width 2-6 mm (basal), 1-3 mm
(cauline). <B>Inflorescences</B> 15-30(-49)-flowered; pedicel
1-2(-3.6) cm, puberulent; bracteoles 1-5 mm from flowers,
green, linear, 1-4(-12) mm, puberulent. <B>Flowers:</B> sepals
white to lavender, nearly glabrous, lateral sepals usually reflexed,
(6-)8-13 &#215; 3-7 mm, spur straight, ascending 30-80&#176;
above horizontal, (8-)13-20(-25) mm; lower petal blades &#177; elevated,
6-9 mm, cleft 2.5-4.5 mm; hairs centered, densest near
base of cleft, white. <B>Fruits</B> (10-)11-20(-24) mm, 3-3.5
times longer than wide, glabrous. <B>Seeds:</B> seed coat cells
with surfaces pustulate. 2<I>n</I> = 16. 
<P>
Flowering spring. Oak woods, grasslands,
desert scrub; 700-1800 m; Ariz., Colo., N.Mex., Tex.; Mexico
(Sonora, Chihuahua, and Coahuila). 
<P>
<I>Delphinium wootonii</I>
hybridizes with <I>D</I>. <I>madrense</I> in the eastern
Big Bend area of Texas, and with <I>D</I>. <I>carolinianum</I>
subsp. <I>virescens</I>. <BR>

<P>
<B>