7. <A NAME="27100387"></A><I><B>Delphinium glaucum</B></I><B>
S.&nbsp;Watson</B></B>, Bot.
California 2: 427.  1880 - Mountain larkspur, Brown's larkspur,
Hooker's larkspur, pale-flowered Brown's larkspur, duncecap larkspur,
giant larkspur, tall larkspur, western larkspur -&nbsp;E F W2

<P>
<I>Delphinium scopulorum</I>
A.&nbsp;Gray var. <I>glaucum</I> (S.&nbsp;Watson) A.&nbsp;Gray;
<I>D</I>.&nbsp;<I>splendens</I> G.&nbsp;N. Jones
<P>
<B>Stems</B>
(60-)100-200(-300)&nbsp;cm; base usually green, glabrous, glaucous.
 <B>Leaves</B> cauline, 15-20, absent from proximal 1/5 of stem
at anthesis; petiole 1-14&nbsp;cm.  <B>Leaf blade</B> round to
pentagonal, 2-11&nbsp;&#215; 3-18&nbsp;cm, margins seldom laciniate,
glabrous; ultimate lobes 5-9(-15), width 5-24(-35)&nbsp;mm, tips
abruptly tapered to mucronate apex; midcauline leaf lobes more
than 3 times longer than wide.  <B>Inflorescences</B> (13-)40-90(-140)-flowered;
pedicel 1-3(-5)&nbsp;cm, puberulent or glabrous; bracteoles 2-6(-10)&nbsp;mm
from flowers, green to blue, linear, 2-7&nbsp;mm, puberulent or
glabrous.  <B>Flowers:</B> sepals bluish purple to lavender, puberulent,
lateral sepals forward pointing to spreading, 8-14(-21)&nbsp;&#215;
3-6&nbsp;mm, spurs straight, ascending to ca. 45&#176;, 10-15(-19)&nbsp;mm;
lower petal blades &#177;&nbsp;covering stamens, 4-6&nbsp;mm,
clefts 1-3&nbsp;mm; hairs centered, mostly near base of cleft,
white.  <B>Fruits</B> 9-20&nbsp;mm, 3.5-4.5 times longer than
wide, glabrous to puberulent.  <B>Seeds</B> wing-margined; seed
coat cells elongate but short, surfaces smooth or roughened. 
2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering summer.  Meadows, wet thickets,
bogs, streamsides, open coniferous woods; 0-3200&nbsp;m; Alta.,
B.C., Man., N.W.T., Sask., Yukon; Alaska, Calif., Colo., Idaho,
Mont., Nev., Oreg., Utah, Wash., Wyo.  
<P>
 At the sites in Manitoba and Saskatchewan,
<I>Delphinium glaucum</I> is naturalized, not native. 
<P>
 <I>Delphinium glaucum</I> hybridizes
extensively with <I>D</I>.&nbsp;<I>barbeyi</I> in Utah and Colorado
to the extent that hybrids [<I>D</I>. &#215;<I>occidentale</I>
(S.&nbsp;Watson) S.&nbsp;Watson] are more common in many areas
than individuals of either parental stock.  It occasionally hybridizes
with <I>D</I>.&nbsp;<I>distichum</I>, <I>D</I>.&nbsp;<I>polycladon</I>,
<I>D</I>.&nbsp;<I>ramosum</I>, and <I>D</I>.&nbsp;<I>stachydeum</I>.
 Hybrids with <I>D</I>.&nbsp;<I>brachycentrum</I> are called <I>D</I>.&nbsp;&#215;<I>nutans</I>
A.&nbsp;Nelson.
<P>
 Tremendous variation is apparent in
what is here recognized as <I>Delphinium glaucum</I>.  This is
the northern expression of the complex described in the discussion
under <I>Delphinium</I> subsect. <I>Exaltata</I>.  Although some
geographic patterns are apparent in the variation within <I>D</I>.&nbsp;<I>glaucum</I>,
infraspecific entities are not here recognized.  Apparently because
of rather recent and/or incomplete genetic isolation, the degree
of differentiation between these units is not such that they can
be consistently recognized.
<P>
 Specimens named <I>Delphinium splendens</I>
represent plants grown in high-moisture, low-light conditions
and may occur as sporadic individuals anywhere from California
to Alaska.  Type specimens of <I>D</I>.&nbsp;<I>brownii</I> Rydberg,
<I>D</I>.&nbsp;<I>canmorense</I> Rydberg, and <I>D</I>.&nbsp;<I>hookeri</I>
A.&nbsp;Nelson represent plants grown on relatively dry sites
at high latitudes.  Plants from dry sites at low latitudes are
represented by <I>D</I>.&nbsp;<I>bakerianum</I> Bornm&uuml;ller
and <I>D</I>.&nbsp;<I>occidentale</I> var. <I>reticulatum</I>
A.&nbsp;Nelson.  Plants with lavender to white flowers are represented
by type specimens of <I>D</I>.&nbsp;<I>brownii</I> forma <I>pallidiflorum</I>
B.&nbsp;Boivin and <I>D</I>.&nbsp;<I>cucullatum</I> A.&nbsp;Nelson.
 Type specimens of <I>D</I>.&nbsp;<I>alatum</I> A.&nbsp;Nelson
and <I>D</I>.&nbsp;<I>glaucum</I> var. <I>alpinum</I> F.&nbsp;L.
Wynd (an invalid name) represent plants growing above or near
treeline.  
<P>
 <I>Delphinium glaucum</I> may be confused
with <I>D</I>.&nbsp;<I>californicum</I>, <I>D</I>.&nbsp;<I>exaltatum</I>,
<I>D</I>.&nbsp;<I>polycladon</I>, or <I>D</I>.&nbsp;<I>stachydeum</I>.
 For distinctions from <I>D</I>.&nbsp;<I>californicum</I>, see
discussion under that species.  Absence of basal or proximal cauline
leaves, generally much larger plants (greater than 1.5&nbsp;m),
more flowers in the inflorescence, and shorter petioles on the
leaves of <I>D</I>.&nbsp;<I>glaucum</I> are features that serve
to distinguish this species from <I>D</I>.&nbsp;<I>polycladon</I>.
 In the latter, the leaves are primarily on the proximal stem,
plants often less than 1.5&nbsp;m, flowers more scattered, and
petioles more than twice the length of leaf blades.  Features
of the sepals may be used to distinguish <I>D</I>.&nbsp;<I>glaucum</I>
(dark lavender to blue purple, usually only minutely puberulent)
from <I>D</I>.&nbsp;<I>stachydeum</I> (bright blue, densely puberulent).
 Vegetative parts of <I>D</I>.&nbsp;<I>stachydeum</I> are also
densely puberulent, while those of <I>D</I>.&nbsp;<I>glaucum</I>
typically are glabrous.<BR>

<P>
<B>