59. <A NAME="27100938"></A><I><B>Delphinium gracilentum</B></I><B>
Greene</B></B>, Pittonia 3: 15.
 1896 - Greene's larkspur -&nbsp;E 
<P>
<I>Delphinium patens</I>
Bentham subsp. <I>greenei</I> (Eastwood) Ewan; <I>D</I>.&nbsp;<I>pratense</I>
Eastwood
<P>
<B>Stems</B>
(15-)30-50(-80)&nbsp;cm; base reddish, nearly glabrous.  <B>Leaves</B>
mostly cauline; basal leaves 0-3 at anthesis; cauline leaves 2-5
at anthesis; petiole 3-15&nbsp;cm.  <B>Leaf blade</B> round to
pentagonal, 1.5-4&nbsp;&#215; 3-7&nbsp;cm, nearly glabrous; ultimate
lobes 3-7, distinctly wedge-shaped, usually 5 or fewer extending
3/5 distance to petiole, width 5-20&nbsp;mm (basal), 1-15&nbsp;mm
(cauline), widest in distal 1/2.  <B>Inflorescences</B> 5-20(-38)-flowered;
pedicel spreading from rachis at nearly 90&#176;, 1-3(-4)&nbsp;cm,
glabrous or glandular-pubescent; bracteoles (7-)11-19&nbsp;mm
from flowers, blue or green, linear, 2-5&nbsp;mm, puberulent to
glabrous.  <B>Flowers:</B> sepals dark bluish purple to pink or
white, usually retaining color upon drying, glabrous, lateral
sepals reflexed, 6-10(-13)&nbsp;&#215; 3-6&nbsp;mm, spurs often
curved upward, within 30&#176; above or below horizontal, 8-12(-14)&nbsp;mm;
lower petal blades elevated, exposing stamens, 3-5&nbsp;mm, clefts
1-3&nbsp;mm; hairs almost exclusively near base of cleft, centered
or mostly on inner lobes, usually yellow.  <B>Fruits</B> 8-16&nbsp;mm,
3-3.5 times longer than wide, glabrous to glandular-puberulent.
 <B>Seeds</B> unwinged; seed coats &#177;&nbsp;pitted, cell surfaces
roughened.  
<P>
 Flowering spring-early summer.  Open
coniferous forest; 150-2700&nbsp;m; Calif.  
<P>
 <I>Delphinium gracilentum</I> hybridizes
with <I>D</I>.&nbsp;<I>patens</I> subsp. <I>patens</I> in the
northern Sierra Nevada foothills and is very similar to that species,
making hybrids difficult to discern.  While <I>D</I>.&nbsp;<I>gracilentum</I>
and <I>D</I>.&nbsp;<I>patens</I> are easily distinguished in most
of their ranges, morphologic distinctions between the two taxa
are blurred in the northern Sierra Nevada foothills region, particularly
in Butte County, California.  Coniferous woods are preferred by
<I>D</I>.&nbsp;<I>gracilentum</I>; <I>D</I>.&nbsp;<I>patens</I>
subspp. <I>patens</I> and <I>hepaticoideum</I> are more often
found in broadleaf woods.  The former species has more widely
spreading pedicels than the latter, and <I>D</I>.&nbsp;<I>gracilentum</I>
usually has wider leaf lobes than <I>D</I>.&nbsp;<I>patens</I>
subsp. <I>patens</I>.  In the southern Sierra Nevada, <I>D</I>.&nbsp;<I>gracilentum</I>
may come in contact with <I>D</I>.&nbsp;<I>patens</I> subsp. <I>montanum</I>.
 Though hybrids are not common, some gene flow has apparently
occurred. 
<P>
 Sepal color phases are not stable and
considerable variation occurs within populations.  The type specimen
of <I>Delphinium gracilentum</I> represents the northern, lower
elevation, nonglandular, dark-flowered phase.  The type specimen
of <I>D</I>.&nbsp;<I>gracilentum</I> forma <I>versicolor</I> Ewan
differs only by its pink or white flowers.  A limited range of
intermediate colors occurs, and populations may be made up of
plants of a single color or several different colors.  The type
specimen of <I>D</I>.&nbsp;<I>greenei</I> Eastwood represents
the southern, higher elevation, glandular (at least on pedicels)
expression.  The type specimen includes representatives of dark-
and light-flowered individuals of this phase.  The type specimen
of <I>D</I>.&nbsp;<I>gracilentum</I> forma <I>versicolor</I> (not
seen by the author) is the &quot;albino&quot; phase referred to
by Greene in his description of <I>D</I>.&nbsp;<I>gracilentum</I>.
 Several of the paratypes cited by Ewan have been seen, as have
a number of individuals in natural populations.  
<P>
 <I>Delphinium gracilentum</I> has been
confused with <I>D</I>.&nbsp;<I>patens</I> or <I>D</I>.&nbsp;<I>nuttallianum</I>.
 <I>Delphinium gracilentum</I> may be distinguished from <I>D</I>.&nbsp;<I>nuttallianum</I>
by its wider leaf lobes, smaller fruits, and more elongate inflorescences,
and from <I>D</I>.&nbsp;<I>patens</I> by its wider leaf lobes,
more open inflorescences, and usually shorter fruits.<BR>

<P>
<B>