23d. <A NAME="27100967"></A><I><B>Delphinium parryi</B></I><B>
A.&nbsp;Gray subsp. <I>blochmaniae</I> (Greene) H.&nbsp;F. Lewis
&amp; Epling</B></B>, Brittonia
8: 19.  1954 - Dune larkspur, Blochman's larkspur - C E F
<P>
<I>Delphinium blochmaniae</I>
Greene, Erythea 1: 247.  1893 (as <I>blochmanae</I>)
<P>
<B>Roots</B>
less than 10&nbsp;cm.  <B>Stems</B> (19-)30-50(-65)&nbsp;cm. 
<B>Leaves:</B> basal leaves usually absent at anthesis; blade
with ultimate lobes 7-25, width less than 3&nbsp;mm.  <B>Inflorescences:</B>
bracteoles 7-10&nbsp;mm.  <B>Flowers:</B> sepals reflexed, lateral
sepals 16-25&nbsp;mm, spurs 11-16&nbsp;mm; lower petal blades
7-10&nbsp;mm, colored lighter than sepals (more so when dry).
 2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering early spring.  Coastal chaparral,
deep sand of dunes; of conservation concern; 0-200&nbsp;m; Calif.
 
<P>
 <I>Delphinium parryi</I> subsp. <I>blochmaniae</I>
is very local; no other <I>Delphinium</I> is normally found within
its limited range.  It is easily recognized by its very large
sepals and lower petals.  The only species with which it might
be confused is the large-flowered phase of <I>D</I>.&nbsp;<I>variegatum</I>;
the latter has long hairs on proximal petioles vs. long hairs
absent in <I>D</I>. <I>parryi</I> subsp. <I>blochmaniae</I>.
<P>
 
<P>
<B>