16b.9. <A NAME="50007408"></A><I><B>Delphinium</B></I><B>
Linnaeus subsect. <I>Grumosa</I> (N.&nbsp;I. Malyutin) M.&nbsp;J.
Warnock, Phytologia 78: 92.  1995</B></B>
<P>
<I>Delphinium</I>
sect. <I>Grumosa</I> N.&nbsp;I. Malyutin, Bot. Zhurn. (Leningrad
&amp; Moscow) 72: 689.  1987
<P>
<B>Roots</B>
1-5(-9)-branched from within 1&nbsp;cm of stem attachment, 2-7(-16)&nbsp;cm,
cormlike to fascicled or fibrous, &#177;&nbsp;fleshy, &#177;&nbsp;succulent,
usually brittle; buds minute.  <B>Stems</B> 1(-2) per root, usually
unbranched, elongation delayed 2-10 weeks after leaf initiation;
base narrowed, tenuously attached to root; proximal internodes
much shorter than those of midstem.  <B>Leaves</B> basal and cauline,
largest leaves near base of stem, others usually gradually smaller
on distal portion of stem; basal petioles spreading, cauline petioles
ascending; blade shape and lobing similar throughout.  <B>Inflorescences</B>
usually with 2-6 flowers per 5&nbsp;cm, open, &#177;&nbsp;pyramidal,
usually at least 3 times longer than wide, spurs rarely intersecting
rachis; pedicel spreading, usually more than 1.5&nbsp;cm, rachis
to midpedicel angle more than 30&#176;; bracts markedly smaller
and fewer lobed than leaves.  <B>Fruits</B> &#177;&nbsp;spreading.
 <B>Seeds</B> obpyramidal, 1.5-2.7&nbsp;&#215; 0.7-2&nbsp;mm,
ringed at proximal end, wing-margined or not; seed coats usually
lacking wavy ridges, cells usually elongate (short and narrow
in <I>D</I>.&nbsp;<I>alabamicum</I>, <I>D</I>.&nbsp;<I>newtonianum</I>,
<I>D</I>.&nbsp;<I>nuttallianum</I>, and <I>D</I>.&nbsp;<I>treleasei</I>),
smooth or roughened, cell margins straight.  
<P>
 Species 13 or more (13 in the flora):
North America, possibly others in Asia.
<P>
 <I>Delphinium</I> subsect. <I>Grumosa</I>
is an extremely difficult complex, with many variations in a number
of morphologic traits.  Two divergent views of the complex were
represented in the work of D.&nbsp;M. Sutherland (1967), in which
the species recognized were large agglomerations, and that of
P.&nbsp;A. Rydberg (1917), in which species rank was used for
some edaphic variants.  The complex has been and continues to
be a major source of confusion for identification of <I>Delphinium</I>
in North America.  Most of the low larkspurs in poisonous-plant
literature are members of this subsection. <BR>

<P>
<B>