5a. <A NAME="27101690"></A><I><B>Delphinium californicum</B></I><B>
Torrey &amp; A.&nbsp;Gray subsp. <I>californicum</I> </B></B>-
Coast larkspur -&nbsp;E 
<P>
<B>Stems</B>
puberulent most of length.  <B>Leaf blades</B> abaxially and marginally
puberulent.  <B>Inflorescences</B> puberulent.  <B>Flowers:</B>
sepals erect, lavender, densely puberulent, lateral sepals 7-11&nbsp;mm,
spurs 7-14&nbsp;mm; upper petals with simple, nearly apical hairs.
 2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering late spring.  Generally coastward
slopes in dense coastal chaparral, often within sight of Pacific
Ocean; 0-1000&nbsp;m; Calif.  
<P>
 <I>Delphinium californicum</I> subsp.
<I>californicum</I> is locally common, but populations tend to
be scattered and often are in areas subject to human encroachment.
 A general trend of increased density and length of pubescence,
correlated with increased frequency and density of coastal fog,
is apparent.  Specimens called <I>D</I>.&nbsp;<I>californicum</I>
forma <I>longipilis</I> Ewan are so named for their abundance
of pubescence; they grow in areas of abundant fog.  This subspecies
has formed garden hybrids with <I>D</I>.&nbsp;<I>cardinale</I>.
<BR>

<P>
<B>