16b.7. <A NAME="50007403"></A><I><B>Delphinium</B></I><B>
Linnaeus subsect. <I>Echinata</I> (Ewan) N.&nbsp;I. Malyutin,
Bot. Zhurn. (Moscow &amp; Leningrad) 72: 689.  1987</B></B>
<P>
<I>Delphinium</I>
series <I>Echinatae</I> Ewan, Bull. Torrey Bot. Club 69: 139.
 1942
<P>
<B>Roots</B>
3-9(-20)-branched, 3-8(-30)&nbsp;cm, fascicled, dry to fleshy,
&#177;&nbsp;succulent, thin threadlike segments restricted to
termini of major segment; buds minute.  <B>Stems</B> 1(-2) per
root, unbranched, elongation delayed 2-10 weeks after leaf initiation;
base usually not narrowed, firmly attached to root; proximal internodes
much shorter than those of midstem.  <B>Leaves</B> basal and cauline,
largest near base of stem, others often abruptly smaller on distal
portion of stem; basal petioles spreading, cauline petioles ascending;
blades of basal leaves more rounded and with fewer, wider lobes
than cauline leaves.  <B>Inflorescences</B> usually with 2-11
flowers per 5&nbsp;cm, dense to open, cylindric, spurs rarely
intersecting rachis; pedicel ascending, usually less than 2&nbsp;cm,
rachis to midpedicel angle more than 30&#176;; bracts markedly
smaller and fewer lobed than leaves.  <B>Fruits</B> erect.  <B>Seeds</B>
&#177;&nbsp;rectangular, 1.5-2.5&nbsp;&#215; 0.8-1.5&nbsp;mm,
not ringed at proximal end, &#177;&nbsp;wing-margined; seed coats
without wavy ridges (sometimes with prism-shaped structures in
<I>D</I>.&nbsp;<I>hansenii</I>), cells &#177;&nbsp;brick-shaped,
cell margins straight or undulate.  
<P>
 Species 4 (4 in the flora): California.
<BR>

<P>
<B>