19. <A NAME="27100974"></A><I><B>Delphinium polycladon</B></I><B>
Eastwood</B></B>, Bull. Torrey
Bot. Club 28: 669.  1901 - High mountain larkspur -&nbsp;E 
<P>
<I>Delphinium scopulorum</I>
A.&nbsp;Gray var. <I>luporum</I> (Greene) Jepson
<P>
<B>Stems</B>
(20-)60-100(-160)&nbsp;cm; base reddish or not, glabrous.  <B>Leaves</B>
mostly on proximal 1/3 of stem, on proximal 1/5 at anthesis; basal
leaves 0-3 at anthesis; cauline leaves 4-7 at anthesis; petiole
1.5-17&nbsp;cm.  <B>Leaf blade</B> round to pentagonal, 1.5-7&nbsp;&#215;
2-14&nbsp;cm, glabrous; ultimate lobes 3-12, width 4-30(-45)&nbsp;mm
(basal), 3-30&nbsp;mm (cauline).  <B>Inflorescences</B> 3-15(-35)-flowered,
open, often &#177;&nbsp;secund; pedicel 1-4(-15)&nbsp;cm, glabrous
to puberulent; bracteoles 2-8(-37)&nbsp;mm from flowers, green,
linear, 4-7(-11)&nbsp;mm, nearly glabrous.  <B>Flowers:</B> sepals
bluish purple, nearly glabrous, lateral sepals spreading, (10-)12-18&nbsp;&#215;
7-10&nbsp;mm, spurs usually downcurved, ca. 30&#176; below horizontal,
11-22&nbsp;mm; lower petal blades slightly elevated, &#177;&nbsp;exposing
stamens, 4-6&nbsp;mm, clefts 1-2&nbsp;mm; hairs mostly near base
of cleft on inner lobes, yellow, sometimes white.  <B>Fruits</B>
13-20&nbsp;mm, 3.5-4 times longer than wide, puberulent.  <B>Seeds</B>
unwinged; seed coat cells with surfaces roughened.  2<I>n</I>&nbsp;=&nbsp;16.
 
<P>
 Flowering summer-early autumn.  Wet
sites near springs, streamsides, bogs, and wet talus; 2200-3600&nbsp;m;
Calif., Nev.  
<P>
 <I>Delphinium polycladon</I> hybridizes
with <I>D</I>.&nbsp;<I>depauperatum</I> and <I>D</I>.&nbsp;<I>glaucum</I>.
 Plants of <I>D</I>.&nbsp;<I>polycladon</I> are extremely variable.
 Individuals from very rocky, thin-soiled, sunny sites at higher
elevations tend to be quite compact; they show the features of
the species in a dwarfed state.  Proximal internodes are especially
shortened.  Plants from areas of deeper soil (high or low elevations),
especially those growing among shrubs, usually are much taller,
with elongate proximal internodes, and other vegetative parts
proportionally larger.  Shorter plants may be confused with <I>D</I>.&nbsp;<I>depauperatum</I>
or <I>D</I>.&nbsp;<I>nuttallianum</I>; see discussion under those
species for distinguishing features.  Taller plants may be confused
with <I>D</I>.&nbsp;<I>glaucum</I>; they can be distinguished
by their leaves predominately on proximal part of stem, sigmoid
pedicel, and fewer flowers.<BR>

<P>
<B>