29b. <A NAME="27100940"></A><I><B>Delphinium gypsophilum</B></I><B>
Ewan subsp. <I>parviflorum</I> H.&nbsp;F. Lewis &amp; Epling</B></B>,
Brittonia 8: 5.  1954 - Small-flowered gypsum-loving larkspur
- C E 
<P>
<B>Stems</B>
(30-)60-90(-140)&nbsp;cm.  <B>Inflorescences</B> &#177;&nbsp;dense,
with 5-13 flowers per 5&nbsp;cm.  <B>Flowers:</B> sepals white
to pink, erect, lateral sepals 7-10&nbsp;&#215; 3-7&nbsp;mm, spurs
7-11&nbsp;mm;  lower petal blades white or yellow, 3-5&nbsp;mm.
 2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering spring.  Open oak woodlands,
chaparral, and grassland; of conservation concern; 200-600&nbsp;m;
Calif.
<P>
 <I>Delphinium gypsophilum</I> subsp.
<I>parviflorum</I> is more infrequent than <I>D</I>.&nbsp;<I>gypsophilum</I>
subsp. <I>gypsophilum</I>.
<P>
 This subspecies is sometimes confused
with <I>Delphinium parishii</I> subsp. <I>pallidum</I>.  Plants
of <I>D</I>.&nbsp;<I>gypsophilum</I> subsp. <I>parviflorum</I>
are usually taller and grow in grasslands and woodlands; <I>D</I>.&nbsp;<I>parishii</I>
subsp. <I>pallidum</I> plants are usually shorter and grow in
chaparral and shrubland.  Hybrids occur with <I>Delphinium parryi</I>.
 <BR>

<P>
<B>