47. <A NAME="27100958"></A><I><B>Delphinium nudicaule</B></I><B>
Torrey &amp; A.&nbsp;Gray</B></B>,
Fl. N. Amer. 1: 33.  1838 - Red larkspur, scarlet larkspur -&nbsp;E
F
<P>
<I>Delphinium armeniacum</I>
A.&nbsp;Heller 1940, not <I>D</I>.&nbsp;<I>armeniacum</I> Stapf
ex Huth 1895
<P>
<B>Stems</B>
(15-)20-50(-125)&nbsp;cm; base reddish, glabrous.  <B>Leaves</B>
mostly on proximal 1/3 of stem; basal leaves 2-7 at anthesis;
cauline leaves 3-4 at anthesis; petiole 0.5-14&nbsp;cm.  <B>Leaf
blade</B> round to pentagonal, 2-6&nbsp;&#215; 3-10&nbsp;cm; ultimate
lobes 3-12, width 5-40&nbsp;mm (basal), 2-20&nbsp;mm (cauline).
 <B>Inflorescences</B> 5-20(-69)-flowered; pedicel (1.5-)2-6(-8)&nbsp;cm,
glabrous to glandular-pubescent; bracteoles 14-20(-30)&nbsp;mm
from flowers, green to red, linear, 2-4(-9)&nbsp;mm, glabrous
to puberulent.  <B>Flowers:</B> sepals scarlet to reddish orange,
rarely dull yellow, glabrous, lateral sepals forward-pointing
to form pseudotube, (6-)8-13(-16)&nbsp;&#215; 3-6&nbsp;mm, spurs
straight, slightly ascending, (12-)18-27(-34)&nbsp;mm; lower petal
blades elevated, exposing stamens, 2-3&nbsp;mm, clefts 0.5-1&nbsp;mm;
hairs sparse, evenly dispersed, yellow.  <B>Fruits</B> 13-26&nbsp;mm,
3.5-4.5 times longer than wide, glabrous.  <B>Seeds</B> unwinged
or sometimes slightly wing-margined; seed coat cells with surfaces
smooth.  2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering late winter-early summer.
 Moist talus, cliff faces; 0-2600&nbsp;m; Calif., Oreg.  
<P>
 <I>Delphinium nudicaule</I> hybridizes
with most other taxa of <I>Delphinium</I> that it encounters.
 Apparent hybrids involving <I>D</I>.&nbsp;<I>nudicaule</I>, and
seen by the author (either afield or as specimens), include <I>D</I>.&nbsp;<I>andersonii</I>,
<I>D</I>.&nbsp;<I>antoninum</I>, <I>D</I>.&nbsp;<I>decorum</I>,
<I>D</I>.&nbsp;<I>luteum</I>, <I>D</I>.&nbsp;<I>nuttallianum</I>,
<I>D</I>.&nbsp;<I>patens</I>, and <I>D</I>.&nbsp;<I>trolliifolium</I>.
 In addition, garden-grown plants have been hybridized with <I>D</I>.&nbsp;<I>cardinale</I>,
<I>D</I>.&nbsp;<I>elatum</I>, <I>D</I>.&nbsp;<I>menziesii</I>,
<I>D</I>.&nbsp;<I>parishii</I>, <I>D</I>.&nbsp;<I>penardii</I>,
<I>D</I>.&nbsp;<I>tatsienense</I> Franchet, <I>D</I>.&nbsp;<I>triste</I>
Fischer ex de Candolle, and <I>D</I>.&nbsp;<I>uliginosum</I>;
<I>D</I>.&nbsp;<I>nudicaule</I> does not naturally occur with
these species.  <I>Delphinium nudicaule</I> is one of the earliest
larkspurs to flower in any given locality.  Douglas's type collection
of <I>D</I>.&nbsp;<I>nudicaule</I> represents plants (synonyms
<I>D</I>.&nbsp;<I>sarcophyllum</I> Hooker &amp; Arnott and <I>D</I>.&nbsp;<I>peltatum</I>
Hooker, an invalid name) grown under very moist conditions, probably
quite near the ocean.  The type specimen of <I>D</I>.&nbsp;<I>armeniacum</I>
A.&nbsp;Heller represents plants grown under unusually dry conditions.
 
<P>
 The Mendocino Indians consider <I>Delphinium
nudicaule</I> a narcotic (D.&nbsp;E. Moerman 1986).<BR>

<P>
<B>