13. <A NAME="27100917"></A><I><B>Delphinium alpestre</B></I><B>
Rydberg</B></B>, Bull. Torrey
Bot. Club 29: 146.  1902 - Alpine larkspur -&nbsp;C E 
<P>
<I>Delphinium ramosum</I>
Rydberg var. <I>alpestre</I> (Rydberg) W.&nbsp;A. Weber
<P>
<B>Stems</B>
5-25&nbsp;cm; base green, puberulent.  <B>Leaves</B> cauline,
5-20, on proximal 1/5 of stem at anthesis; petiole 1-10&nbsp;cm.
 <B>Leaf blade</B> round to pentagonal, 1.5-5&nbsp;&#215; 2-5&nbsp;cm,
puberulent; ultimate lobes 3-15, width 2-11&nbsp;mm.  <B>Inflorescences</B>
2-8-flowered; pedicel 1-4&nbsp;cm, puberulent; bracteoles 1-3&nbsp;mm
from flowers, green, linear-lanceolate, 6-10&nbsp;mm, puberulent.
 <B>Flowers:</B> sepals dark blue, apex rounded, puberulent, lateral
sepals spreading to forward pointing, 11-14&nbsp;&#215; 5-7&nbsp;mm,
spurs straight except usually slightly down-curved at apex, varying
from 20&#176; above to 20&#176; below horizontal, 8-12&nbsp;mm;
lower petal blades &#177;&nbsp;covering stamens, 4-6&nbsp;mm,
clefts 2-4&nbsp;mm; hairs sparse, mostly near base of cleft, centered
on inner lobes, white.  <B>Fruits</B> 7-12&nbsp;mm, 3.5-4 times
longer than wide, puberulent.  <B>Seeds</B> unwinged; seed coat
cells elongate, surface roughened.  
<P>
 Flowering mid-late summer.  Exposed
talus slopes on high peaks; of conservation concern; (3400-)3800&nbsp;m
and above; Colo., N.Mex.  
<P>
 <I>Delphinium alpestre</I> is very
similar to <I>D</I>.&nbsp;<I>ramosum</I>, possibly divergent from
that taxon only since the most recent glaciation of North America,
during which ancestors of <I>D</I>.&nbsp;<I>alpestre</I> might
have survived on peaks above the ice, while ancestors of <I>D</I>.&nbsp;<I>ramosum</I>
survived in valleys below the ice.  Since glaciation, <I>D</I>.&nbsp;<I>ramosum</I>
apparently has migrated upslope, near but not adjoining populations
of <I>D</I>.&nbsp;<I>alpestre</I>.  <BR>

