2. <A NAME="24000271"></A><I>Dendromecon harfordii</I> Kellogg</B>,
Proc. Calif. Acad. Sci. 5: 102. 1873 - Island tree-poppy - E</P>

<P><I>Dendromecon rigida</I> Bentham subsp. <I>harfordii</I>
(Kellogg) P.&nbsp;H. Raven</P>

<P><B>Trees or shrubs</B>, 2-6&nbsp;m. <B>Leaves</B>
3-8 &times; 1.5-4.5&nbsp;cm; blade elliptic, ovate, or oblong; margins
entire; apex usually rounded. <B>Flowers:</B> petals 2-3&nbsp;cm. <B>Capsules</B>
curved, 7-10&nbsp;cm. <B>Seeds</B> 2.5-3&nbsp;mm.</P>

<P>Flowering spring-early summer (Apr-Jul). Brushy
slopes; less than 600&nbsp;m; Calif.</P>

<P><I>Dendromecon harfordii</I> grows only on
the Channel Islands. Plants with paler leaves from the southern islands
(extant on Santa Catalina Island, once present on San Clemente Island)
have been called <I>D</I>. <I>rigida</I> var. <I>rhamnoides</I> (Greene)
Munz [=&nbsp;<I>D</I>.&nbsp;<I>rigida</I> Bentham subsp. <I>rhamnoides</I>
(Greene) Thorne] and are considered to be of conservation concern.<BR>
</P>

