

<P><B>6. DENDROMECON Bentham</B>,
Trans. Hort. Soc. London, ser. 2, 1: 407. 1835 [Greek <I>dendron</I>, tree,
and <I>mekon</I>, poppy]</P>

<P><B>Shrubs or small trees</B>, evergreen, glabrous;
sap colorless. <B>Stems</B> leafy. <B>Leaves</B> alternate, short-petiolate;
blade unlobed, leathery; margins entire or minutely denticulate. <B>Inflorescences</B>
terminal on short branchlets, 1-flowered. <B>Flowers:</B> sepals 2, distinct;
petals 4, yellow, obovate or obcuneate, with satin sheen from microscopic
linear grooves; stamens many; pistil 1, 2-carpellate; ovary cylindric to
long-conic, 1-locular; style absent; stigmas 2, obcompressed. <B>Fruits</B>
capsular, cylindric, 2-valved, dehiscing from base along placentas. <B>Seeds</B>
many, brown or black, obovoid, smooth, pale carunculate, aril absent. <I>x</I>&nbsp;=&nbsp;28.</P>

<P>Species 2 (2 in the flora): w&nbsp;North America.<BR>
<BR>
<BR>
<B>