1. <A NAME="24000180"></A><I>Dendromecon rigida</I> Bentham</B>, Trans.
Hort. Soc. London, ser. 2, 1: 407. 1835 - Bush-poppy - F</P>

<P><B>Shrubs</B>, 1-3&nbsp;m. <B>Leaves</B> 2.5-10
&times; 0.7-2.5&nbsp;cm; blade lanceolate; margins minutely denticulate;
apex acute to acuminate. <B>Flowers:</B> petals 2-3&nbsp;cm. <B>Capsules</B>
curved, 5-10&nbsp;cm. <B>Seeds</B> 2-2.5&nbsp;mm. 2<I>n</I>&nbsp;=&nbsp;56.</P>

<P>Flowering spring-early summer (Apr-Jul). Dry
slopes, washes, especially in areas of recent burns; to 1800&nbsp;m; Calif.;
Mexico (Baja California).<BR>
<BR>
<BR>
<B>