8. <A NAME="24000183"></A><I>Dicentra canadensis</I> (Goldie) Walpers</B>,
Repert. Bot. Syst. 1: 118. 1842 - Squirrel-corn, dicentre du Canada - E</P>

<P><I>Corydalis canadensis</I> Goldie, Edinburgh
Philos.&nbsp;J. 6: 329. 1822; <I>Bicuculla canadensis</I> (Goldie) Millspaugh</P>

<P><B>Plants</B> perennial, scapose, from short
rootstocks bearing yellow, globose bulblets. <B>Leaves</B> (10-)14-24(-30)
&times; (4-)6-14(-18)&nbsp;cm; petiole (5-)8-16(-22)&nbsp;cm; blade with
4 orders of leaflets and lobes; abaxial surface glaucous; ultimate lobes
linear to linear-elliptic or linear-obovate, (2-)5-15(-23) &times; (0.4-)2-4&nbsp;mm,
usually minutely apiculate. <B>Inflorescences</B> racemose, 3-12-flowered,
usually exceeding leaves, (10-)15-27(-33)&nbsp;cm; bracts ovate, 2-5 &times;
1-3&nbsp;mm. <B>Flowers</B> pendent, very fragrant; pedicels (2-)3-7(-14)&nbsp;mm;
sepals triangular to ovate, 2-4 &times; 1-2&nbsp;mm, apex acuminate; petals
white; outer petals (10-)12-16(-20) &times; (2-)4-5(-8)&nbsp;mm, reflexed
portion 3-5&nbsp;mm; inner petals (10-)12-15(-18)&nbsp;mm, blade 2-4&nbsp;mm,
claw linear-elliptic, 5-9&nbsp;mm, crest prominent, ca. 2&nbsp;mm diam.,
exceeding apex by ca. 2&nbsp;mm; filaments of each bundle distinct nearly
to base; nectariferous tissue forming 0.5-1&nbsp;mm spur oriented vertically;
style 4-7&nbsp;mm; stigma shallowly 2-horned with 2 lateral papillae. <B>Capsules</B>
ovoid, attenuate at both ends, (5-)9-13(-17) &times; 3-6&nbsp;mm. <B>Seeds</B>
slightly reniform, very obscurely reticulate, elaiosome present.</P>

<P>Flowering early-late spring. Deciduous woods,
often among rock outcrops, in rich loam soils; 0-1500&nbsp;m; Ont., Que.;
Conn., D.C., Ill., Ind., Iowa, Ky., Maine, Md., Mass., Mich., Minn., Mo.,
N.H., N.J., N.Y., N.C., Ohio, Pa., Tenn., Vt., Va., W.Va., Wis.</P>

<P>See discussion under the following species.<BR>
<BR>
<BR>
<B>