5. <A NAME="24000284"></A><I>Dicentra nevadensis</I> Eastwood</B>, Proc.
Calif. Acad. Sci., ser. 4, 20: 143. 1931 - C E</P>

<P><I>Dicentra formosa</I> (Haworth) Walpers
subsp. <I>nevadensis</I> (Eastwood) Munz</P>

<P><B>Plants</B> perennial, scapose, variably
glaucous, from elongate, stout rhizomes. <B>Leaves</B> (10-)15-25(-30)
&times; (5-)8-12(-18)&nbsp;cm; blade with 3-4 orders of leaflets and lobes;
penultimate lobes oblong, distal usually coarsely 3-toothed at apex, (3-)6-12(-20)
&times; 1.5-4&nbsp;mm. <B>Inflorescences</B> paniculate, 2-20-flowered,
shorter than to exceeding leaves; bracts linear-lanceolate, 4-7(-10) &times;
1-1.5&nbsp;mm, apex acuminate. <B>Flowers</B> pendent; sepals ovate to
acuminate-lanceolate, (3-)6-7(-12) &times; 1-3&nbsp;mm; petals white to
pale yellow or rose-tinted; outer petals 12-18 &times; 2-4&nbsp;mm, reflexed
portion 3-5&nbsp;mm; inner petals 11-17&nbsp;mm, blade 2.5-3.5&nbsp;mm,
claw linear-elliptic to linear-lanceolate, 6-9 &times; 1-2&nbsp;mm, crest
1-2&nbsp;mm diam., exceeding apex by 1-2&nbsp;mm; filaments of each bundle
connate from base to shortly below anthers except for a 2-6&nbsp;mm portion
of median filament just above base, distinct portion of median filament
forming angular loop that projects into base of outer petal; nectariferous
tissue borne along loop; style 4-7&nbsp;mm; stigma rhomboid, 2-horned.
<B>Capsules</B> oblong, (10-)13-16(-20) &times; 4-5&nbsp;mm. <B>Seeds</B>
reniform, ca. 2&nbsp;mm diam., finely reticulate, elaiosome present. 2<I>n</I>&nbsp;=&nbsp;16.</P>

<P>Flowering early-late summer. High meadows,
in gravelly soils; of conservation concern; 2100-3300&nbsp;m; Calif. (Tulare
County).</P>

<P>In <I>Dicentra nevadensis</I> the median filament
of each stamen bundle bends out in an angular loop between the base and
midpoint; in <I>D</I>.&nbsp;<I>formosa</I> the median filaments lack such
loops. Also, the flowers of <I>D</I>.&nbsp;<I>nevadensis</I> are smaller
and narrower than those of <I>D</I>.&nbsp;<I>formosa</I>. Pressed flowers
of <I>D</I>.&nbsp;<I>nevadensis</I> often turn black, suggesting possible
chemical differences, other than in alkaloids, from <I>D</I>.&nbsp;<I>formosa</I>.<BR>
<BR>
<BR>
<B>