1. <A NAME="24000190"></A><I>Dicentra ochroleuca</I> Engelmann</B>,
Bot. Gaz. 6: 223. 1881 - White eardrops - E</P>

<P><B>lants</B> perennial, caulescent, glaucous,
from stout taproots. <B>Stems</B> 1 or more, rigidly erect, 10-20(-40)&nbsp;dm,
2-3&nbsp;cm or more diam. at base. <B>Leaves</B> (12-)25-35(-50) &times;
(6-)10-20(-35)&nbsp;cm; blade with 4 orders of leaflets and lobes; ultimate
leaflets (10-)20-30(-60) &times; (5-)8-15(-30)&nbsp;mm, ultimate lobes
linear-lanceolate. <B>Inflorescences</B> terminal, paniculate, 5-many-flowered,
subglobose; bracts nearly round to ovate, 4-8 &times; 3-7&nbsp;mm, margins
entire. <B>Flowers</B> erect; pedicel rigid, 2-10&nbsp;mm; sepals nearly
round to ovate, (5-)7-10(-12) &times; 3-7(-9)&nbsp;mm; petals dull to yellowish
white; outer petals purple-tipped, (15-)22-26(-30)&nbsp;mm, reflexed portion
5-12&nbsp;mm; inner petals (15-)20-22(-24)&nbsp;mm, claw 6-9&nbsp;mm and
2/3 width of blade, crest 3-5&nbsp;mm diam., exceeding apex by 2-4&nbsp;mm;
filaments of each bundle connate from base to shortly below anthers, rarely
distinct from near base; nectariferous tissue borne at base of median filament,
not projecting into outer petal; stigma shallowly 2-horned, ca. 2 times
wider than long. <B>Capsules</B> ovoid, attenuate at both ends, (10-)20-30(-35)
&times; 5-8&nbsp;mm. <B>Seeds</B> slightly reniform, ca. 1.3 (rarely to
2)&nbsp;mm diam., densely covered with tiny protuberances, elaiosome absent.
2<I>n</I>&nbsp;=&nbsp;32.</P>

<P>Flowering early spring-late summer. Dry gravelly
hillsides, gullies, and disturbed areas, often invading after fire; 15-2200&nbsp;m;
Calif.</P>

<P>The seeds of <I>Dicentra ochroleuca</I> usually
do not germinate unless desiccated or seared by fire.<BR>
<BR>
<BR>
<B>