2. <A NAME="24000184"></A><I>Dicentra chrysantha</I> (Hooker &amp; Arnott)
Walpers</B>, Repert. Bot. Syst. 1: 118. 1842 - Golden eardrops</P>

<P><I>Dielytra chrysantha</I> Hooker &amp; Arnott,
Bot. Beechey Voy., 320, plate 73. 1838</P>

<P><B>Plants</B> perennial, caulescent, glaucous,
from stout taproots. <B>Stems</B> 1 or more, rigidly erect, 5-15&nbsp;dm,
1-2.5&nbsp;cm diam. at base. <B>Leaves</B> (10-)15-30(-45) &times; (3-)5-9(-16)&nbsp;cm;
blade with 3, rarely 4 orders of leaflets and lobes; ultimate leaflets
(10-)20-30(-60) &times; (5-)10-20(-25)&nbsp;mm, ultimate lobes oblong,
apex acute. <B>Inflorescences</B> paniculate, usually at least 5 times
longer than wide; bracts lanceolate to ovate, 3-5 &times; 1-2&nbsp;mm,
margins entire; bracteoles absent, rarely present. <B>Flowers</B> erect,
with slightly pungent odor; pedicels rigid, 2-10&nbsp;mm; sepals ovate
to cordate or nearly round, 3-7 &times; 2-5&nbsp;mm; petals golden yellow;
outer petals (10-)12-16(-22) &times; 2-4&nbsp;mm, reflexed portion 4-7&nbsp;mm;
inner petals (8-)15-17(-18)&nbsp;mm, blade 3-5&nbsp;mm, claw 6-9&nbsp;mm,
confluent with and nearly as wide as blade, crest usually about 1-3&nbsp;mm
diam., scarcely exceeding apex; filaments of each bundle connate from base
to shortly below anthers, rarely distinct from near base; nectariferous
tissue borne at base of median filament, not projecting into outer petal;
stigma shortly 2-horned, ca. 2 times wider than long. <B>Capsules</B> ovoid,
attenuate at both ends or sometimes rounded at base, (5-)15-25(-32)&nbsp;&times;
5-8&nbsp;mm. <B>Seeds</B> slightly reniform, 1.5-2.2&nbsp;mm diam., densely
covered with tiny protuberances, elaiosome absent. 2<I>n</I>&nbsp;=&nbsp;32.
Artificially produced hybrids between <I>Dicentra ochroleuca</I> and <I>D</I>.&nbsp;<I>chrysantha</I>
also had 2<I>n</I>&nbsp;=&nbsp;32.</P>

<P>Flowering early spring-late summer. Dry gravelly
hillsides, gullies, and disturbed areas, often invading after fire; 100-2200&nbsp;m;
Calif.; Mexico (Baja California).</P>

<P>The seeds of <I>Dicentra chrysantha</I> usually
do not germinate unless desiccated or seared by fire.</P>

<P>The Kawaiisu applied dried, mashed roots of
<I>Dicentra chrysantha</I> to the chest for heart pains (D.&nbsp;E. Moerman
1986).<BR>
<BR>
<BR>
<B>