6. <A NAME="24000191"></A><I>Dicentra pauciflora</I> S.&nbsp;Watson</B>,
Bot. California 2: 429. 1880 - E</P>

<P><B>Plants</B> perennial, scapose, from rhizomes
or clusters of spindle-shaped tubers, bulblets often present at proximal
ends of tubers or along rhizomes. <B>Leaves</B> (7-)9-13(-16) &times; 3-7(-10)&nbsp;cm;
petiole (2-)4-7(-10)&nbsp;cm; blade with 3-4 orders of leaflets and lobes;
ultimate lobes linear-lanceolate, (2-)7-13(-18) &times; 1.5-3&nbsp;mm,
occasionally irregular, minutely apiculate. <B>Inflorescences</B> racemose,
1-3-flowered, barely exceeding leaves; bracts ovate, 4-5 &times; 2-3&nbsp;mm.
<B>Flowers</B> erect to nodding; pedicels 5-25&nbsp;mm; sepals ovate to
lanceolate, 5-8 &times; 2-4&nbsp;mm; outer petals white to pink, (15-)18-22(-25)
&times; 3-6&nbsp;mm, reflexed portion (5-)7-8(-11)&nbsp;mm; inner petals
purple, (15-)18-22(-24)&nbsp;mm, blade spoon-shaped, 2-3&nbsp;mm, claw
obovate-elliptic, ca. 10 &times; 3-4&nbsp;mm, crest absent; filaments of
each bundle connate at base and near apex, distinct in between, distinct
portion of median filament forming loop that almost doubles back to its
proximal end; nectariferous tissue borne at lowermost point of loop and
often extending to base of median filament; style 7-11&nbsp;mm; stigma
2-lobed, much reduced, ca. 2 times wider than style. <B>Capsules</B> spindle-shaped
to ovoid, 10-15 &times; 4-6&nbsp;mm. <B>Seeds</B> reniform, ca. 2&nbsp;mm
diam., smooth, elaiosome present. 2<I>n</I>&nbsp;=&nbsp;16.</P>

<P>Flowering late spring-late summer. Openings
in coniferous forests, in volcanic and granitic soils; 1200-2700&nbsp;m;
Calif., Oreg.<BR>
<BR>
<BR>
<B>