3a. <A NAME="24000313"></A><I>Dicentra
formosa</I> (Haworth) Walpers subsp. <I>formosa</I> </B>- E F</P>

<P><I>Dicentra formosa</I> (Haworth) Walpers
var. <I>breviflora</I> L.&nbsp;F. Henderson</P>

<P><B>Leaf blades</B> abaxially glaucous, adaxially
not glaucous (rarely glaucescent). <B>Flowers</B>: petals rose-purple to
pink, rarely white. 2<I>n</I>&nbsp;=&nbsp;16, 32.</P>

<P>Flowering early spring-early fall. Loam or
gravel soils in moist woods and clearings, and along banks of streams;
0-2250&nbsp;m; B.C.; Calif., Oreg., Wash.</P>

<P>This subspecies occurs in two chromosomal
races: tetraploids (2<I>n</I>&nbsp;=&nbsp;32), distributed from the Cascade
Mountains of Oregon southward throughout the Coast Ranges to central California,
and diploids (<I>n</I>&nbsp;=&nbsp;16), distributed from Vancouver Island
and British Columbia southward through the Cascades and Coast Ranges, and
along the western slopes of the Sierra Nevada to Monterey and Tulare counties,
California. The flowers of both races vary appreciably in color, shape,
and size.<BR>
</P>

<P><B>