9. <A NAME="24000185"></A><I>Dicentra cucullaria</I> (Linnaeus) Bernhardi</B>,
Linnaea 8: 457, 468. 1833 - Dutchman's-breeches, dicentre &agrave; capuchon
- E F</P>

<P><I>Fumaria cucullaria</I> Linnaeus, Sp. Pl.
2: 699. 1753; <I>Bicuculla cucullaria</I> (Linnaeus) Millspaugh; <I>B</I>.
<I>occidentalis</I> Rydberg; <I>Dicentra cucullaria</I> (Linnaeus) Bernhardi
var. <I>occidentalis</I> (Rydberg) M.&nbsp;Peck</P>

<P><B>Plants</B> perennial, scapose, from short
rootstocks bearing pink to white, teardrop-shaped bulblets. <B>Leaves</B>
(10-)14-16(-36) &times; (4-)6-14(-18)&nbsp;cm; petiole (5-)8-16(-24)&nbsp;cm;
blade with 4 orders of leaflets and lobes; abaxial surface glaucous; ultimate
lobes linear to linear-elliptic or linear-obovate, (2-)5-15(-23) &times;
(0.4-)2-3(-4.2)&nbsp;mm, usually minutely apiculate. <B>Inflorescences</B>
racemose, 3-14-flowered, usually exceeding leaves; bracts minute. <B>Flowers</B>
pendent; pedicels (2-)4-7(-12)&nbsp;mm; sepals broadly ovate, 1.8-5 &times;
1.3-4&nbsp;mm; petals white, frequently suffused pink, apex yellow to orange-yellow;
outer petals (10-)12-16(-20) &times; (3-)6-10(-13)&nbsp;mm, reflexed portion
2-5&nbsp;mm; inner petals (7.5-)9-12(-14)&nbsp;mm, blade 1.8-4&nbsp;mm,
claw linear, 4-8 &times; less than 1&nbsp;mm, crest prominent, ca. 2&nbsp;mm
diam.; filaments of each bundle connate from base to shortly below anthers;
nectariferous tissue forming 1-3(-4.5)&nbsp;mm spur diverging at angle
from base of bundle; style 2-4&nbsp;mm; stigma 2-horned with 2 lateral
papillae. <B>Capsules</B> ovoid, attenuate at both ends, (7-)9-13(-16)
&times; 3-5&nbsp;mm. <B>Seeds</B> reniform, ca. 2&nbsp;mm diam., very obscurely
reticulate, elaiosome present. 2<I>n</I>&nbsp;=&nbsp;32.</P>

<P>Flowering early-late spring. Deciduous woods
and clearings, in rich loam soils; 0-1500&nbsp;m; N.B., N.S., Ont., P.E.I.,
Que.; Ala., Ark., Conn., Del., D.C., Ga., Idaho, Ill., Ind., Iowa, Kans.,
Ky., Maine, Md., Mass., Mich., Minn., Mo., Nebr., N.H., N.J., N.Y., N.C.,
N.Dak., Ohio, Okla., Oreg., Pa., R.I., S.C., S.Dak., Tenn., Vt., Va., Wash.,
W.Va., Wis.</P>

<P><I>Dicentra cucullaria</I> is occasionally
confused with <I>D</I>.&nbsp;<I>canadensis</I>, with which it is sympatric.
It is distinguished from that species by its basally pointed (versus rounded)
outer petal spurs, by its flowers lacking a fragrance, by flowering 7-10
days earlier, and by its pink to white, teardrop-shaped (versus yellow,
pea-shaped) bulblets.</P>

<P>After fruit set, the bulblets of both <I>Dicentra
cucullaria</I> and <I>D</I>.&nbsp;<I>canadensis</I> remain dormant until
fall, when stored starch is converted to sugar. At this time also, flower
buds and leaf primordia are produced below ground; these then remain dormant
until spring (P.&nbsp;G. Risser and G.&nbsp;Cottam 1968; B.&nbsp;J. Kieckhefer
1964; K.&nbsp;R. Stern 1961). Pollination of both species is effected by
bumblebees (<I>Bombus</I> spp.) and other long-tongued insects (L.&nbsp;W.
Macior 1970, 1978; K.&nbsp;R. Stern 1961).</P>

<P>Flavonoid components indicate that <I>Dicentra
canadensis</I> and <I>D</I>.&nbsp;<I>cucullaria</I> are more closely related
to each other than to any other member of the genus (D.&nbsp;Fahselt 1971).
Even so, species purported to be hybrids between them probably are not.
There is considerable variation in floral morphology within <I>D</I>.&nbsp;<I>cucullaria</I>,
which can have flowers superficially resembling those of <I>D</I>.&nbsp;<I>canadensis</I>.
However, when all characters of the plants are examined, these putative
hybrids almost always are clearly assignable to one species or the other.</P>

<P>The western populations of <I>Dicentra cucullaria</I>
appear to have been separated from the eastern ones for at least a thousand
years. The western plants are generally somewhat coarser, which apparently
led Rydberg to designate the western populations as a separate species.
Plants from the Blue Ridge Mountains of Virginia, however, are virtually
indistinguishable from those of the West, and much of the variation (which
is considerable) within the species probably involves phenotypic response
to the environment, or represents ecotypes within the species.</P>

<P>The Iroquois prepared infusions from the roots
of <I>Dicentra cucullaria</I> for a medicinal liniment (D.&nbsp;E. Moerman
1986).<BR>
</P>

