3. <A NAME="24000187"></A><I>Dicentra formosa</I> (Haworth) Walpers</B>,
Repert. Bot. Syst. 1: 118. 1842 - Pacific bleeding-heart - E</P>

<P><I>Fumaria formosa</I> Haworth, Bot. Repos.
6: plate 393. 1800; <I>Dicentra saccata</I> (Nuttall ex Torrey &amp; A.&nbsp;Gray)
Walpers</P>

<P><B>Plants</B> perennial, scapose, from elongate,
stout rhizomes. <B>Leaves</B> (15-)25-40(-55) &times; (8-)12-20(-35)&nbsp;cm;
blade with 3-5 orders of leaflets and lobes; abaxial surface and sometimes
adaxial surface glaucous; penultimate lobes oblong, distal ones usually
coarsely 3-toothed at apex, (4-)10-20(-50) &times; (1.5-)3-4(-8)&nbsp;mm.
<B>Inflorescences</B> paniculate, 2-30-flowered, usually exceeding leaves;
bracts linear-lanceolate, 4-7(-12) &times; 1-2&nbsp;mm, apex acuminate.
<B>Flowers</B> pendent; sepals lanceolate to ovate or nearly round, 2-7
&times; 2-3&nbsp;mm; petals rose-purple, pink, cream, or pale yellow, rarely
white; outer petals (12-)16-19(-24) &times; 3-6&nbsp;mm, reflexed portion
2-5&nbsp;mm; inner petals (12-)15-18(-22)&nbsp;mm, blade 2-4&nbsp;mm wide,
claw linear-elliptic to linear-lanceolate, 7-10(-12) &times; 1-2&nbsp;mm,
crest 1-2&nbsp;mm diam., exceeding apex by 1-2&nbsp;mm; filaments of each
bundle connate from base to shortly below anthers except for a 2-3&nbsp;mm
portion of median filament just above base; nectariferous tissue borne
along distinct portion of median filament; style 3-9&nbsp;mm; stigma rhomboid,
2-horned. <B>Capsules</B> oblong, 4-5&nbsp;mm diam. <B>Seeds</B> reniform,
ca. 2&nbsp;mm diam., finely reticulate, elaiosome present.</P>

<P>Subspecies 2 (2 in the flora): w&nbsp;North
America.</P>

<P>Andrews has been cited almost universally
as the author of <I>Fumaria formosa</I>. However, Haworth's authorship
of the sixth volume of Andrews' <I>Botanists' Repository</I> (in which
this species was originally described) generally has been overlooked, and
it was actually Haworth who first delineated <I>F</I>.&nbsp;<I>formosa</I>
(W.&nbsp;T. Stearn 1944).</P>

<P>Early attempts to cross <I>Dicentra formosa</I>
with <I>D</I>.&nbsp;<I>eximia</I> (2<I>n</I>&nbsp;=&nbsp;16) failed, possibly
because the <I>D</I>.&nbsp;<I>formosa</I> parents were tetraploids. Several
later hybrids between the two species received plant patents and have become
widely marketed throughout the flora area and elsewhere (K.&nbsp;R. Stern
1961, 1968; K.&nbsp;R. Stern and M.&nbsp;Ownbey 1971).</P>

<P>Both subspecies, as well as hybrids between
them and <I>Dicentra eximia</I>, are widely cultivated.</P>

<P>The Skagit used a decoction of the roots of
<I>Dicentra formosa</I> to expel worms; they chewed raw roots for toothaches
(D.&nbsp;E. Moerman 1986, species not indicated).<BR>
</P>

<P><B>