4. <A NAME="24000186"></A><I>Dicentra eximia</I> (Ker Gawler) Torrey</B>,
Fl. New York 1: 46. 1843 - Eastern bleeding-heart - E</P>

<P><I>Fumaria eximia</I> Ker Gawler, Bot. Reg.
1: plate 50. 1815; <I>Bicuculla eximia</I> (Ker Gawler) Millspaugh</P>

<P><B>Plants</B> perennial, scapose, from elongate,
stout, scaly rhizomes. <B>Leaves</B> (10-)20-35(-55) &times; (5-)10-15(-30)&nbsp;cm;
blade with 4 orders of leaflets and lobes; abaxial surface glaucous; penultimate
lobes lanceolate to oblong or ovate, (6-)10-20(-35) &times; 2-5&nbsp;mm.
<B>Inflorescences</B> paniculate, 5-many-flowered, usually exceeding leaves,
(20-)30-45(-65)&nbsp;cm; bracts lanceolate, 3-6(-11) &times; 1-2&nbsp;mm,
apex acuminate. <B>Flowers</B> pendent; sepals reniform, 2-5(-8) &times;
1.5-4&nbsp;mm, apex acuminate; petals rose-purple to pink, rarely white;
outer petals (15-)20-25(-30) &times; 2-5&nbsp;mm, reflexed portion 4-8&nbsp;mm;
inner petals (15-)18-22(-25)&nbsp;mm, blade 2-4&nbsp;mm, claw linear-lanceolate,
5-10(-14) &times; 1-2.5&nbsp;mm, crest 1-3&nbsp;mm diam., exceeding apex
by 2-3&nbsp;mm; filaments of each bundle connate at base and near apex,
distinct in between, distinct portion of median filament forming loop that
lies within base of outer petal; nectariferous tissue borne toward base
of median filament; style 7-14&nbsp;mm; stigma 2-horned. <B>Capsules</B>
oblong to ovoid, (15-)18-22(-27) &times; ca. 4&nbsp;mm. <B>Seeds</B> slightly
reniform, ca. 2&nbsp;mm diam., finely reticulate, elaiosome present. 2<I>n</I>&nbsp;=&nbsp;16.</P>

<P>Flowering mid spring-early fall. Dry to moist,
rocky, mountain woods, often in rock crevices at cliff bases; 100-1700&nbsp;m;
Md., N.J., N.C., Pa., Tenn., Va., W.Va.</P>

<P>The natural range of <I>Dicentra eximia</I>
extends along the Appalachians from North Carolina and Tennessee to Maryland
and Pennsylvania. It is frequently cultivated and sometimes escapes outside
that area, but it evidently has not become truly naturalized beyond it.
Such garden escapes, perhaps including misidentified plants of <I>D</I>.&nbsp;<I>formosa</I>,
also widely cultivated, are almost surely the basis for reports of <I>D</I>.&nbsp;<I>eximia</I>
from Illinois, Michigan, Ohio, New York, Connecticut, and Vermont.</P>

<P>Several patented hybrids between <I>Dicentra
eximia</I> and <I>D</I>.&nbsp;<I>formosa</I> are sold in nurseries.<BR>
<BR>
<BR>
<B>