3b. <A NAME="24000189"></A><I>Dicentra
formosa</I> (Haworth) Walpers subsp. <I>oregana</I> (Eastwood) Munz</B>,
Aliso 4: 91. 1958<B> </B>- E</P>

<P><I>Dicentra oregana</I> Eastwood, Proc. Calif.
Acad. Sci., ser. 4, 20: 144. 1931</P>

<P><B>Leaf blades</B> distinctly glaucous on
both surfaces. <B>Flowers</B>: petals cream-colored, rarely pale yellow,
rose-tipped. 2<I>n</I>&nbsp;=&nbsp;32.</P>

<P>Flowering early spring-early fall. Open to
shaded moist woods and clearings, in loam or gravelly soils; 500-2000&nbsp;m;
Calif. (Del Norte and Siskiyou counties), Oreg. (Curry and Josephine counties).<BR>
<BR>
<BR>
<B>