

<P><B>1. DICENTRA Bernhardi</B>,
Linnaea 8: 457, 468. 1833, name conserved - Bleeding-heart, dicentre [Greek
<I>dis</I>, twice, and <I>kentron</I>, spur]</P>

<P><B><I>Bikukulla</I> Adanson</B>; <I>Capnorchis</I>
Miller</P>

<P><B>Herbs</B>, annual or perennial, scapose
or caulescent, from taproots, bulblets, tubers, or rhizomes. <B>Stems</B>
when present erect, simple or branching, hollow at maturity. <B>Leaves</B>
basal or cauline, compound; blade with 2-4 orders of leaflets and lobes,
margins entire, crenate, or serrate; surfaces glabrous, sometimes glaucous.
<B>Inflorescences</B> axillary, extra-axillary, leaf-opposed, or terminal,
unifloral or else multifloral and thyrsoid, paniculate, racemose, or corymbose.
<B>Flowers</B> bilaterally symmetric about each of 2 perpendicular planes;
sepals caducous; corolla cordate to oblong in outline; petals coherent
or connate only basally, not spongy; outer petals both swollen or spurred
basally, usually keeled apically; inner petals with blade fiddle-, spoon-,
or arrowhead-shaped, claw linear-oblong to oblanceolate; stamens with nectariferous
tissue borne on median filament in each bundle and sometimes forming spur
or loop that projects into swollen base of adjacent outer petal; ovary
broadly ovoid or obovoid to narrowly cylindric; stigma persistent, with
2 lobes or apical horns, sometimes also with 2 lateral papillae. <B>Capsules</B>
indehiscent or dehiscent and 2-valved. <B>Seeds</B> few-many, elaiosome
usually present. <I>x</I>&nbsp;=&nbsp;8.</P>

<P>Species 20 (9 in the flora): temperate North
America and eastern Asia.</P>

<P>About 35 isoquinoline alkaloids have been
isolated from Fumariaceae, and such compounds are present in the tissues
of all species. Some of these alkaloids have been used medicinally, mostly
in the past. The drug complex corydalis, which contains several alkaloids
extracted from the bulblets of <I>Dicentra canadensis</I> and <I>D</I>.&nbsp;<I>cucullaria</I>,
has been used as a healing agent in chronic skin diseases, as a tonic and
diuretic, and in the treatment of syphilis. The alkaloid bulbocapnine,
obtained from all parts of <I>D</I>.&nbsp;<I>canadensis</I>, has been used
in the treatment of M&eacute;ni&egrave;re's disease and muscular tremors,
and as a pre-anaesthetic. Cattle find <I>D</I>.&nbsp;<I>cucullaria</I>
and <I>D</I>.&nbsp;<I>canadensis</I> distasteful and usually do not ingest
the plants unless suitable forage is unavailable; when they do, however,
the toxic alkaloid cucullarine brings about local anaesthesia, narcosis,
convulsions, and death. A decoction from the rhizome of <I>D</I>.&nbsp;<I>formosa</I>
has been used in the Pacific Northwest to expel intestinal worms (D.&nbsp;E.
Moerman 1986).</P>

<P><I>Dicentra spectabilis</I> (Linnaeus) Lemaire
is cultivated through much of the flora area. It was introduced in Europe
only in the middle of the 19th century, but it has been cultivated for
centuries in temperate China and Japan, where it is now so widespread that
the limits of its natural distribution are obscure. It does not appear
to be truly naturalized in North America, but it may be encountered as
a transitory garden relict or escape. It differs from <I>D</I>.&nbsp;<I>ochroleuca</I>
and <I>D</I>.&nbsp;<I>chrysantha</I> in having rose-purple to pink or sometimes
white outer petals, pendent flowers, and reticulate seeds with elaiosomes.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Berg, R.&nbsp;Y. 1969. Adaptation and evolution in <I>Dicentra</I>
(Fumariaceae), with special reference to seed, fruit, and dispersal mechanism.
Nytt Mag. Bot. 16(1): 49-75. Fahselt,&nbsp;D. 1970. The anthocyanins of
<I>Dicentra</I> (Fumariaceae). Canad. J.&nbsp;Bot. 48(1): 49-53. Fahselt,&nbsp;D.
and M.&nbsp;Ownbey. 1968. Chromatographic comparison of <I>Dicentra</I>
species and hybrids. Amer. J.&nbsp;Bot. 55: 334-345. Stern, K.&nbsp;R.
1961. Revision of <I>Dicentra</I> (Fumariaceae). Brittonia 13(1): 1-57.
Stern, K.&nbsp;R. 1962. The use of pollen morphology in the taxonomy of
<I>Dicentra</I>. Amer. J.&nbsp;Bot. 49: 362-368. Stern, K.&nbsp;R. 1970.
Pollen aperture variation and phylogeny in <I>Dicentra</I>. Madro&ntilde;o
20: 354-359. Stern, K.&nbsp;R. and M.&nbsp;Ownbey. 1971. Hybridization
and cytotaxonomy of <I>Dicentra</I>. Amer. J.&nbsp;Bot. 58(9): 861-866.<BR>
<BR>
<BR>
<B>