7. <A NAME="24000192"></A><I>Dicentra uniflora</I> Kellogg</B>, Proc.
Calif. Acad. Sci. 4: 141. 1871 - Steer's-head - E F</P>

<P><B>Plants</B> perennial, scapose, from clusters
of club- to spindle-shaped tubers, small bulblets often present at proximal
ends of tubers. <B>Leaves</B> 4-7(-10) &times; (1-)3-4&nbsp;cm; petiole
2-5(-8)&nbsp;cm; blade with 3-4 orders of leaflets and lobes; surfaces
pubescent near base, rarely sparsely pubescent throughout; ultimate lobes
variable in shape, often oblong to spoon-shaped, (2-)6-12(-18) &times;
1.5-6&nbsp;mm, minutely apiculate, occasionally retuse. <B>Inflorescences</B>
1-flowered, barely exceeding to shorter than leaves; bracts 1 (rarely 2)
per scape, lanceolate, 4-6 &times; 2-3&nbsp;mm. <B>Flowers</B> nodding
to erect; pedicels 2-7&nbsp;mm; petals pink to white, suffused light brown;
outer petals (7-)12-16(-20)&nbsp;mm, reflexed portion (4-)6-8(-10)&nbsp;mm;
inner petals purple-tipped, (11-)13-15(-17)&nbsp;mm, blade triangular to
lanceolate or spoon-shaped, 4-8&nbsp;mm, claw linear-oblong, 4-6&nbsp;mm,
crest absent; filaments of each bundle usually distinct above base, occasionally
connate just below anthers, median filament forming loop with slight indentation
near base; nectariferous tissue borne along basal part of loop; style 2-5&nbsp;mm;
stigma shallowly 2-lobed, much reduced, slightly wider than style. <B>Capsules</B>
ovoid, attenuate to style, 9-14 &times; 5-9&nbsp;mm. <B>Seeds</B> reniform,
ca. 1.5&nbsp;mm diam., finely and obscurely reticulate, elaiosome absent.
2<I>n</I>&nbsp;=&nbsp;16.</P>

<P>Flowering very early spring-late summer. Rocky
slopes and hillsides in gravelly soils, often flowering near edges of melting
snowbanks; 1500-2200(-3300)&nbsp;m; B.C.; Calif., Idaho, Mont., Nev., Oreg.,
Utah, Wash., Wyo.<BR>
<BR>
<BR>
<B>