1. <A NAME="03500271"></A><I>Diphylleia cymosa</I> Michaux</B>, Fl.
Bor.-Amer. 1: 203. 1803 &middot; Umbrella-leaf &middot; E F</P>

<P><B>Leaves of nonflowering shoots</B> 2.5-9&nbsp;dm.
<B>Leaf blades</B> 13-53&nbsp;cm diam. <B>Flowering shoots</B> 6-12&nbsp;dm;
leaves alternate, unequal in size; proximal leaf petioles 10-18&nbsp;cm,
blades 17-46 &times; 23-56&nbsp;cm; distal leaf petioles 3-15&nbsp;cm,
blades 10-38 &times; 15-51&nbsp;cm. <B>Leaf blade</B> divided at apex and
base into 2 parts, each part 5-9-lobed, lobes broadly acuminate, abaxially
sparsely pubescent with unicellular hairs. <B>Inflorescences</B> cymose,
glabrous; peduncle 0.2-4&nbsp;cm; pedicel 0.7-3.5&nbsp;cm; peduncle and
pedicel turning red at fruit maturity. <B>Flowers</B> 7-70 (or more); outer
sepals 1.7-4.5 &times; 0.4&nbsp;mm; inner sepals 2.5-6 &times; 3.5-4&nbsp;mm;
outer petals narrowly obovate, 9-11 &times; 4.5-6&nbsp;mm; inner petals
elliptic to obovate, 10-13&times;6-7&nbsp;mm; stamens 3-4&nbsp;mm; filaments
1-2&nbsp;mm; anthers 2 &times; 1&nbsp;mm; ovaries ellipsoid, 3-5 &times;
1.5-2.5&nbsp;mm; stigma 0.5-1&nbsp;mm. <B>Berries</B> 6-13 &times; 4-11&nbsp;mm.
<B>Seeds</B> 2-4, 4-7 &times; 2-5&nbsp;mm, abaxially rounded, adaxially
flattened to concave. 2<I>n</I>&nbsp;=&nbsp;12.</P>

<P>Flowering late spring, fruiting summer. Forming
dense colonies on moist slopes in mixed deciduous forests, in seepages,
or along streams; 800-1700&nbsp;m; Ga., N.C., S.C., Tenn., Va.</P>

<P><I>Diphylleia cymosa</I> is endemic to the
Blue Ridge Mountains of the southern Appalachians. It is occasionally grown
in woodland gardens.</P>

<P>Cherokee Indians are reported to have used
<I>D</I>.&nbsp;<I>cymosa</I> to treat a variety of ailments and as a disinfectant
(D.&nbsp;E. Moerman 1986).<BR>
</P>

