

<P><B>4. DIPHYLLEIA Michaux</B>,
Fl. Bor.-Amer. 1: 203, plates 19, 20. 1803 &middot; [Greek <I>dis</I>,
twice, and <I>phyllon</I>, leaf]</P>

<P><B>Herbs,</B> perennial, deciduous, to 12&nbsp;dm,
glabrous or pubescent. <B>Rhizomes</B> formed of distinct annual increments,
producing 1 leaf or flowering shoot per year. <B>Aerial stems</B> present.
<B>Leaves</B> simple, 2-parted. <B>Leaf blade</B> 5-47&nbsp;cm, parts lobed
[or not], margins prominently dentate; venation palmate. <B>Leaves of nonflowering
shoot</B> 1, basal; petiole centrally attached, erect, stemlike; blade
orbiculate, peltate. <B>Leaves of flowering shoots</B> 2, cauline, alternate;
petiole attached to blade near margin; blade reniform-orbiculate, peltate.
<B>Inflorescences</B> terminal, cymose or umbelliform. <B>Flowers</B> 3-merous,
8-20&nbsp;mm; bracteoles caducous, 2, scalelike; sepals falling early,
6, white or pale green; petals 6, white; stamens 6; anthers dehiscing by
2 apically hinged flaps; pollen exine spinose; ovaries ellipsoid; placentation
appearing basal; style central. <B>Fruits</B> berries, dark blue, ellipsoid,
glaucous. <B>Seeds</B> 2-11, red; aril absent. <I>x</I>&nbsp;=&nbsp;6.</P>

<P>Species 3 (1 in flora): widely disjunct temperate
areas in e&nbsp;North America and e Asia.</P>

<P><B>SELECTED REFERENCE<BR>
</B>Ying T.&nbsp;S., S.&nbsp;Terabayashi, and D.&nbsp;E. Boufford. 1984.
A monograph of <I>Diphylleia</I> (Berberidaceae). J.&nbsp;Arnold Arbor.
65: 57-94.<BR>
<BR>
<BR>
<B>