2. <A NAME="27103443"></A><I><B>Enemion hallii</B></I><B>
(A.&nbsp;Gray) J.&nbsp;R. Drummond &amp; Hutchinson</B></B>,
Bull. Misc. Inform. Kew 1920: 161.  1920 - Willamette rue-anemone
- E F
<P>
<I>Isopyrum hallii</I>
A.&nbsp;Gray, Proc. Amer. Acad. Arts 8:&nbsp;374.  1872 
<P>
<B>Stems</B>
35-85&nbsp;cm, with short, stout, woody rhizome; roots fibrous.
 <B>Leaves:</B> leaflets variously lobed and sharply dentate,
apex acute, glandular-apiculate; surfaces abaxially pubescent.
 <B>Inflorescences</B> terminal or axillary, well-defined 3-10-flowered
cymes with small scalelike bracts; peduncle not strongly clavate.
 <B>Flowers:</B> sepals 5-10.5&nbsp;&#215; 2.5-6.5&nbsp;mm; stamens
50-75; filaments filiform to club-shaped, 4.5-8.2&nbsp;mm.  <B>Follicles</B>
sessile, upright to widely divergent; body widely elliptic to
widely obovate, 3.8-7&nbsp;mm, gradually contracted into style
beak; beak 1.1-2.5&nbsp;mm.  <B>Seeds</B> 1.8-2.2&nbsp;mm, glabrous.
<P>
 Flowering late spring-early summer.
 Moist woods and streambanks; 100-1500&nbsp;m; Oreg., Wash.
<P>
 <I>Enemion hallii</I> differs from
all other North American members of the genus in having well-defined
cymose inflorescences.  Its closest ally is thought to be the
east-Asian species <I>E</I>.&nbsp;<I>raddeanum</I> Regel, from
which it differs in having long-petiolate leaves and cymose inflorescences
with  bracteolate subumbels.  <I>Enemion raddeanum</I> is characterized
by sessile or short-petiolate leaves and simple, umbellate inflorescences.
<BR>

<P>
<B>