

<P>
<B>20. ENEMION Rafinesque</B>,
J. Phys. Chim. Hist. Nat. Arts 91: 70.  1820 - False rue-anemone
<BR>

<P>
<B>Herbs</B>,
perennial, from stout woody rhizomes or tuberous roots.  <B>Leaves</B>
basal and cauline, proximal leaves petiolate, distal leaves sessile
or nearly so; cauline leaves alternate.  <B>Leaf blade</B> 2-ternately
compound; leaflets broadly ovate to cuneate-obovate, margins entire
to deeply 3-notched.  <B>Inflorescences</B> terminal or axillary,
2-10-flowered cymes or racemes or flowers solitary, to 4&nbsp;cm;
bracts absent.  <B>Flowers</B> bisexual, radially symmetric; sepals
not persistent in fruit, 5(-9), white, occasionally tinged pinkish,
plane, ovate to obovate, 3.5-15&nbsp;mm; petals absent; stamens
9-75; filaments filiform to clavate or narrowly triangular; staminodes
absent between stamens and pistils; pistils [1-]2-10, simple;
ovules 2-6 per pistil; style present.  <B>Fruits</B> follicles,
aggregate, sessile or stipitate, oblong or elliptic to obovate,
laterally compressed, sides with a few prominent veins and transverse
veinlets; beak terminal, straight or curved, 0.5-3&nbsp;mm.  <B>Seeds</B>
reddish brown, ovoid, smooth, rugulose, or minutely pubescent.
 <I>x</I>&nbsp;=&nbsp;7.  
<P>
 Species 6 (5 in the flora): North America,
Asia.   
<P>
 The delimitation of taxa within tribe
Isopyreae Schr&ouml;dinger has been open to considerable debate.
 North American taxonomists tend to retain the North American
 species in <I>Isopyrum</I> Linnaeus whereas taxonomists elsewhere
recognize <I>Enemion</I> along with a number of other segregate
genera [e.g., <I>Dichocarpum</I> (Tamura and Kosuge) W.&nbsp;T.
Wang and Fu D.-Z., <I>Isopyrum</I> in the strict sense, <I>Leptopyrum</I>
Reichenbach, and <I>Paraquilegia</I> Drummond and Hutchinson]
(J.&nbsp;R. Drummond and J.&nbsp;Hutchinson 1920; Fu D.-Z. 1990;
M.&nbsp;Tamura 1984, 1993; M.&nbsp;Tamura and L.&nbsp;A. Lauener
1968). 
<P>
 <I>Enemion</I> has no petals and is
regarded as the most primitive member in tribe Isopyreae (D.-Z.&nbsp;Fu
1990; M.&nbsp;Tamura 1984; M.&nbsp;Tamura and L.&nbsp;A. Lauener
1968).  The other closely related genera form a transition series:
<I>Dichocarpum</I> has peltate petals similar to the stamens;
<I>Isopyrum</I> and <I>Leptopyrum</I> possess peltate petals with
larger, tubular limbs and shorter claws; and <I>Paraquilegia</I>
has nonpeltate petals that are flat and &#177;&nbsp;concave or
swollen near the base and nearly sessile.
<P>
 While some authors have argued that
too much emphasis has been placed on petals as characters for
segregating genera (e.g., J.&nbsp;A. Calder and R.&nbsp;L. Taylor
1963), <I>Enemion</I> is a well-defined taxon, easily distinguished
from other members of tribe Isopyreae.  Final decisions involving
the circumscription of <I>Enemion</I> await molecular study involving
all members of subfamily Isopyroideae Tamura.  
<P>
 All species of <I>Enemion</I> in the
flora, with the exception of <I>E</I>.&nbsp;<I>biternatum</I>,
are localized endemics of western North America from British Columbia
to California. 
<P>
<B>SELECTED REFERENCES   </B>
<P>
Drummond, J.&nbsp;R. and J.&nbsp;Hutchinson.
 1920.  A revision of <I>Isopyrum</I> (Ranunculaceae) and its
nearer allies.  Bull. Misc. Inform. Kew 1920: 145-169.   Tamura,&nbsp;M.
and L.&nbsp;A. Lauener.  1968.  A revision of <I>Isopyrum</I>,
<I>Dichocarpum</I> and their allies.  Notes Roy. Bot. Gard. Edinburgh
28: 267-273.<BR>

<P>
<B>