4. <A NAME="27103445"></A><I><B>Enemion savilei</B></I><B>
(Calder &amp; R.&nbsp;L. Taylor) Keener</B></B>,
Castanea 45: 278.  1980 - E F
<P>
<I>Isopyrum savilei</I>
Calder &amp; R.&nbsp;L. Taylor, Madro&ntilde;o 17: 70.  1963
<P>
<B>Stem</B>
10-35&nbsp;cm, strongly rhizomatous; roots fibrous. <B>Leaves</B>
abaxially glabrous; leaflets irregularly 2-3-lobed, lobes often
with 1-3 secondary lobes; apex rounded, with shallow glandular
notches.  <B>Inflorescences</B> axillary, flowers solitary or
occasionally in loose 2-flowered leafy cymes; peduncle not strongly
clavate.  <B>Flowers:</B> sepals (10-)12.6-15(-16.8)&nbsp;&#215;
(6.9-)8.2-10.2(-11.2)&nbsp;mm; stamens 40-60; filaments filiform
to club-shaped, 5-8&nbsp;mm.  <B>Follicles</B> sessile, upright
to widely divergent; body oblong, 11-15&nbsp;mm, abruptly contracted
into style beak; beak 0.8-1.7&nbsp;mm.  <B>Seeds</B> 2-2.5&nbsp;mm,
glabrous.  2<I>n</I>&nbsp;=&nbsp;14.  
<P>
 Flowering spring.  Moist, shady, rocky
crevices and talus slopes; 100-1000&nbsp;m; B.C.
<P>
 This distinctive species was discovered
in 1957 on the Queen Charlotte Islands and was thought to be endemic
to those islands.  Subsequently it has been found on the Brooks
Peninsula on the west coast of Vancouver Island and on Porcher
Island, south of Prince Rupert (T.&nbsp;C. Brayshaw 1989).<BR>

<P>
<B>