5. <A NAME="27103446"></A><I><B>Enemion stipitatum</B></I><B>
(A.&nbsp;Gray) J.&nbsp;R. Drummond &amp; Hutchinson</B></B>,
Bull. Misc. Inform. Kew 1920: 160.  1920 - Siskiyou rue-anemone
- E F
<P>
<I>Isopyrum stipitatum</I>
A.&nbsp;Gray, Proc. Amer. Acad. Arts 12: 54.  1876 
<P>
<B>Stems</B>
3-12&nbsp;cm, cespitose, not rhizomatous; roots tuberous.  <B>Leaves</B>
abaxially glabrous; leaflets entire or deeply 2-3-lobed, apex
rounded, glandular-apiculate.  <B>Inflorescences</B> axillary,
flowers solitary; peduncle strongly clavate.  <B>Flowers:</B>
sepals 3.5-6&nbsp;&#215; 1.4-2.5&nbsp;mm; stamens 8-15; filaments
flat, narrowly triangular, 1.9-3.2&nbsp;mm.  <B>Follicles</B>
stipitate, upright and appressed; body oblong, 4-8(-9)&nbsp;mm,
abruptly contracted into style beak; beak 0.5-1.5&nbsp;mm.  <B>Seeds</B>
0.9-1.4(-1.7)&nbsp;mm, glabrous.
<P>
 Flowering late winter-early spring.
 Shaded shrubby areas, oak woodlands, and moist deciduous or mixed
evergreen forests, occasionally in open pastures; 200-1500&nbsp;m;
Calif., Oreg.
