1. <A NAME="27100641"></A><I><B>Enemion biternatum</B></I><B>
Rafinesque</B></B>, J.&nbsp;Phys.
Chim. Hist. Nat. Arts 91:&nbsp;70.  1820 - E F
<P>
<I>Isopyrum biternatum</I>
(Rafinesque) Torrey &amp; A.&nbsp;Gray
<P>
<B>Stems</B>
10-40&nbsp;cm, weakly rhizomatous; roots fibrous.  <B>Leaves:</B>
leaflets irregularly 2-3-lobed, lobes sometimes with 1-3 secondary
lobes, apex rounded, glandular-apiculate; surfaces abaxially glabrous.
 <B>Inflorescences</B> axillary, flowers solitary or loosely grouped
in 2-4-flowered leafy racemes; peduncle not strongly clavate.
 <B>Flowers:</B> sepals 5.5-13.5&nbsp;&#215; 3.5-8.5&nbsp;mm;
stamens 25-50; filaments filiform to club-shaped, 1.8-5.8&nbsp;mm.
 <B>Follicles</B> sessile, upright to widely divergent; body widely
elliptic to widely obovate, 3.5-6.5&nbsp;mm, gradually contracted
into style beak; beak 1.7-3&nbsp;mm.  <B>Seeds</B> 2.1-2.7&nbsp;mm,
minutely pubescent.  2<I>n</I>&nbsp;=&nbsp;14.  
<P>
 Flowering spring.  Moist deciduous
woods of valleys, flood plains, and ravine bottoms, occasionally
in open pastures, often on limey soils; 25-1000&nbsp;m; Ont.;
Ala., Ark., Fla., Ill., Ind., Iowa, Kans., Ky., Mich., Minn.,
Miss., Mo., N.Y., N.C., Ohio, Okla., S.C., S.Dak., Tenn., Va.,
W.Va., Wis.
<P>
 <I>Enemion biternatum</I> has been
mistaken for the superficially similar <I>Thalictrum thalictroides</I>
because of its white flowers and compound <I>Thalictrum</I>-like
leaves.  <I>Enemion biternatum</I> is easily distinguished, however,
by its few-seeded follicles and deeply lobed leaves with glandular-apiculate
apices.  <I>Thalictrum thalictroides</I>, on the other hand, is
characterized by having achenes and somewhat crenate leaves with
notched apices.  <BR>

<P>
<B>