3. <A NAME="27103444"></A><I><B>Enemion occidentale</B></I><B>
(Hooker &amp; Arnott) J.&nbsp;R. Drummond &amp; Hutchinson</B></B>,
Bull. Misc. Inform. Kew 1920: 160.  1920 - Western rue-anemone
- E F
<P>
<I>Isopyrum occidentale</I>
Hooker &amp; Arnott, Bot. Beechey Voy., 316.  1841
<P>
<B>Stems</B>
10-40&nbsp;cm, cespitose, not rhizomatous; roots tuberous.  <B>Leaves</B>
abaxially glabrous; leaflets irregularly 2-3-lobed, lobes often
with 1-3 secondary lobes; apex rounded, glandular-apiculate. 
<B>Inflorescences</B> axillary,  flowers solitary or loosely grouped
in 2-3-flowered leafy cymes; peduncle not strongly clavate.  <B>Flowers:</B>
sepals (5-)7-11.5&nbsp;&#215; 2.8-7&nbsp;mm; stamens 20-40; filaments
filiform to club-shaped, 2.2-6&nbsp;mm.  <B>Follicles</B> sessile,
upright to widely divergent; body oblong, (7.7-)8.5-11.5&nbsp;mm,
abruptly contracted into style beak; beak 0.8-1.7&nbsp;mm.  <B>Seeds</B>
1.5-2&nbsp;mm, glabrous.
<P>
 Flowering early spring.  Shaded places,
oak woodland, chaparral, and coniferous and deciduous woods; 200-1500&nbsp;m;
Calif.
<P>
 <I>Enemion occidentale</I> is endemic
to California where it is infrequent and local (P.&nbsp;A. Munz
1959).<BR>

<P>
<B>