1. <A NAME="27100646"></A><I>Eranthis hyemalis</I> (Linnaeus) Salisbury</B>,
Trans. Linn. Soc. London 8: 304. 1807 - Winter-aconite - F</P>

<P><I>Helleborus hyemalis</I> Linnaeus, Sp. Pl.
1: 557. 1753; <I>Cammarum hyemale</I> (Linnaeus) Greene; <I>Eranthis cilicicus</I>
Schott &amp; Kotschy; <I>E</I>. &times;<I>tubergenii</I> Hoog</P>

<P><B>Leaves</B> basal, 3--10 cm. <B>Leaf blade</B>
3--5 cm diam.; lateral leaflets 2-parted, segments 2--3-cleft, terminal
leaflet 3-cleft. <B>Inflorescences:</B> involucral bracts 2 cm. <B>Flowers</B>
cup-shaped, 20--45 mm diam.; sepals 15--22 &times; 5--11mm; petals shorter
than stamens, abaxial lip ca. 2--2.5 times length of adaxial lip. <B>Follicles</B>:
body 8--14 mm; stipe ca. 3 mm. <B>Seeds</B> ca. 2 mm.</P>

<P>Flowering late winter--early spring. Mostly
moist places; introduced; Ont.; D.C., Ill., Ohio, N.J., Pa.; native to
Eurasia.</P>

<P><I>Eranthis hyemalis</I> is a garden plant
that sometimes persists after cultivation and occasionally becomes established
locally. It has been reported for Newfoundland but it is probably not established
there.</P>

<P><I>Eranthis cilicicus</I> from southeastern
Turkey, usually with more leaflets and smaller flowers, may be distinguished
from <I>E</I>. <I>hyemalis</I> in gardens but not in the wild. Hybrids
between the two species are referred to as <I>E</I>. &times;<I>tubergenii</I>.<BR>
</P>

