

<P><B>10. ERANTHIS Salisbury</B>,
Trans. Linn. Soc. London 8: 303. 1807, name conserved - Winter-aconite
[Greek <I>er</I>, spring, and <I>anthos</I>, flower]</P>

<P><B>Bruce D. Parfitt</B></P>

<P><B>Herbs</B>, perennial, from ca. 1cm thick
rhizomes formed of several subglobose segments (tubers). <B>Leaves</B>
basal, petiolate. <B>Leaf blade</B> deeply, palmately divided or 3--5-foliolate;
leaflets ovate, unlobed to 3-lobed, margins sharply cleft, irregularly
dentate. <B>Inflorescences</B> terminal, flowers solitary; involucres present,
involucral bracts 3, leaflike, closely subtending flower. <B>Flowers</B>
bisexual, radially symmetric; sepals not persistent in fruit, 5--8, yellow,
plane, narrowly obovate or elliptic, ca. 15--18 mm; petals 5--8, distinct,
yellow [white], cupped around nectary, 2-lipped, &plusmn; clawed, ca. 4mm;
nectary present; stamens 30--36; filaments filiform; staminodes absent
between stamens and pistils; pistils 3--9(--11), 1-carpellate; ovules 6--9
per pistil; style present. <B>Fruit</B> follicles, aggregate, stipitate,
flat, [linear] oblong-lanceolate, sides with veins conspicuous upon drying;
beak terminal, straight or distally curved, 2--3 mm. <B>Seeds</B> olive-brown,
ovoid to ellipsoid, somewhat flattened, smooth. <I>x</I>=8.</P>

<P>Species 8 (1 in the flora): North America,
Europe, Asia.</P>

<P>The seven Asian species are sometimes segregated
as <I>Shibateranthis</I> Nakai. Of the species that are cultivated in North
America, only one is known to escape and infrequently become established;
more often it is found persisting after cultivation.</P>

<P><B>SELECTED REFERENCE<BR>
</B>McIntosh, F. 1989. <I>Eranthis</I>. In: S. M. Walters et al., eds.
1984+. The European Garden Flora. 3+ vols. Cambridge, etc. Vol. 3, p. 331.<BR>
<BR>
<BR>
<B>