5b. <A NAME="24000302"></A><I>Eschscholzia
lemmonii</I> Greene subsp. <I>kernensis</I> (Munz) C.&nbsp;Clark</B>, Madro&ntilde;o
33: 225. 1986<B> </B>- C E</P>

<P><I>Eschscholzia caespitosa</I> Bentham subsp.
<I>kernensis</I> Munz, Aliso 4: 90. 1958</P>

<P><B>Plants</B> erect. <B>Inflorescences:</B>
buds generally erect. <B>Flowers:</B> calyx glabrous; petals 20-40&nbsp;mm.
<B>Seeds</B> spheric to ellipsoid.</P>

<P>Flowering spring (Mar-May). Open grasslands;
of conservation concern; 500-800&nbsp;m; Calif.</P>

<P>This subspecies grows in the southwestern
Tehachapi Mountains and in the northern part of the western Transverse
Ranges.<BR>
<BR>
<BR>
<B>