8. <A NAME="24000085"></A><I>Eschscholzia parishii</I> Greene</B>, Bull.
Calif. Acad. Sci. 1: 183. 1885</P>

<P><B>Plants</B> annual, caulescent, erect, 5-30&nbsp;cm.
<B>Leaves</B> basal and cauline; blade bright green or yellow-green, glabrous;
ultimate lobes obtuse except terminal one slender, acute. <B>Inflorescences</B>
cymose or 1-flowered; buds nodding. <B>Flowers:</B> receptacle obconic,
cup without spreading free rim; calyx apiculate, glabrous, sometimes glaucous;
petals yellow, 15-30&nbsp;mm. <B>Capsules</B> 5-7&nbsp;cm. <B>Seeds</B>
tan to brown, spheric to ellipsoid, 1-1.4&nbsp;mm, reticulate. 2<I>n</I>&nbsp;=&nbsp;12.</P>

<P>Flowering spring (Mar-May). Desert slopes,
hillsides; 0-1200&nbsp;m; Calif.; Mexico (Baja California and Sonora).</P>

<P>Plants of the El Paso and Rand mountains in
the western Mojave Desert that have been referred to this species are <I>Eschscholzia
minutiflora</I>.</P>

<P>The Kawaiisu used <I>Eschscholzia parishii</I>
medicinally to treat venereal sores, gonorrhea, and syphilis (D.&nbsp;E.
Moerman 1986).<BR>
<BR>
<BR>
<B>