5. <A NAME="24000081"></A><I>Eschscholzia lemmonii</I> Greene</B>, W.
Amer. Sci. 3: 157. 1887 - E</P>

<P><B>Plants</B> annual, caulescent, erect or
spreading, 5-30&nbsp;cm, glabrous to sparsely pubescent. <B>Leaves</B>
basal and cauline; blade with ultimate lobes generally obtuse. <B>Inflorescences</B>
cymose or 1-flowered; buds erect or nodding. <B>Flowers:</B> receptacle
turbinate, distally translucent and somewhat swollen, more than 1.5&nbsp;mm
broad, cup without spreading free rim; calyx acute, glabrous or pubescent;
petals orange or deep yellow, 15-40&nbsp;mm. <B>Capsules</B> 3-7&nbsp;cm.
<B>Seeds</B> brown, 1.3-1.8&nbsp;mm, reticulate. 2<I>n</I>&nbsp;=&nbsp;12.</P>

<P>Subspecies 2 (2 in the flora): w&nbsp;North
America (California).<BR>
</P>

<P><B>