2b. <A NAME="50076484"></A><I>Eschscholzia
californica</I> Chamisso subsp. <I>mexicana</I> (Greene) C.&nbsp;Clark</B>,
Syst. Bot. 3: 382. 1978</P>

<P><B><I>Eschscholzia mexicana</I> Greene, Bull.
Calif. Acad. Sci. 1: 69. 1885</B></P>

<P><B>Plants</B> annual; cotyledons unlobed.
<B>Flowers:</B> receptacular cup with spreading rim often inconspicuous.
2<I>n</I>&nbsp;=&nbsp;12.</P>

<P>Flowering mid winter-late summer (Feb-Sep).
Deserts; to 2000&nbsp;m; Ariz., Calif., N.Mex., Nev., Tex., Utah; Mexico
(Sonora).</P>

<P>C.&nbsp;T. Mason Jr. (pers. comm.) has noted
several specimens from Arizona as far east as Cochise County that appear
to be perennial.<BR>
<BR>
<BR>
<B>