7. <A NAME="24000084"></A><I>Eschscholzia minutiflora</I> S.&nbsp;Watson</B>,
Proc. Amer. Acad. Arts&nbsp;11: 122. 1876 - F</P>

<P><I>Eschscholzia covillei</I> Greene; <I>E</I>.&nbsp;<I>minutiflora</I>
subsp. <I>covillei</I> (Greene) C.&nbsp;Clark; <I>E</I>.&nbsp;<I>minutiflora</I>
subsp. <I>twisselmanii</I> C.&nbsp;Clark &amp; M.&nbsp;Faull; <I>E</I>.&nbsp;<I>minutiflora</I>
var. <I>darwinensis</I> M.&nbsp;E. Jones</P>

<P><B>Plants</B> annual, caulescent, erect or
spreading, 5-35&nbsp;cm. <B>Leaves</B> basal and cauline; blade grayish
or bluish green, glabrous, glaucous; ultimate lobes usually obtuse, terminal
broadened at apex. <B>Inflorescences</B> cymose or 1-flowered; buds nodding.
<B>Flowers:</B> receptacle obconic, cup without spreading free rim; calyx
acuminate, glabrous, sometimes glaucous; petals yellow, sometimes with
orange spot at base, 3-26&nbsp;mm. <B>Capsules</B> 3-6&nbsp;cm. <B>Seeds</B>
brown to black, ellipsoid, 1-1.4&nbsp;mm, reticulate. 2<I>n</I>&nbsp;=&nbsp;12,&nbsp;24,&nbsp;36.</P>

<P>Flowering late winter-spring (Mar-May). Desert
washes, flats, and slopes; 0-2000&nbsp;m; Ariz., Calif., Nev., Utah; nw&nbsp;Mexico.</P>

<P><I>Eschscholzia minutiflora</I> is highly
variable in flower size. Typically, plants are hexaploid (2<I>n</I>&nbsp;=&nbsp;36)
with petals 3-10&nbsp;mm. Tetraploid plants (2<I>n</I>&nbsp;=&nbsp;24)
with petals 6-18&nbsp;mm, from the northern and central Mojave Desert of
California, have been distinguished as subsp. <I>covillei</I>. Diploid
plants (2<I>n</I>&nbsp;=&nbsp;12) with petals 10-26&nbsp;mm, restricted
to the El Paso and Rand mountains of the western Mojave Desert, have been
distinguished as <I>E</I>. <I>minutiflora</I> subsp. <I>twisselmannii</I>
and are considered to be of conservation concern; previously they were
misattributed to <I>E</I>.&nbsp;<I>parishii</I>.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Clark,&nbsp;C. and M.&nbsp;Faull. 1991. A new subspecies and a combination
in <I>Eschscholzia minutiflora</I> (Papaveraceae). Madro&ntilde;o 38: 73-79.
Mosquin,&nbsp;T. 1961. <I>Eschscholzia covillei</I> Greene, a tetraploid
species from the Mojave Desert. Madro&ntilde;o 16: 91-96.<BR>
<BR>
<BR>
<B>