

<P><B>7. ESCHSCHOLZIA
Chamisso in C.&nbsp;G.&nbsp;D. Nees</B>, Horae Phys. Berol., 73. 1820 -
[For Johann F.&nbsp;G. von Eschscholtz, 1793-1831, Estonian physician and
biologist who traveled with Chamisso on the Romanzoff (or Kotzebue) Expedition
to the Pacific Coast]</P>

<P><B>Herbs</B>, annual or perennial, scapose
or caulescent, from taproots; sap colorless or clear orange. <B>Stems</B>
leafy. <B>Leaves</B> alternate, basal and sometimes cauline, petiolate;
blade 1-4&times; pinnately deeply lobed, lobes of each order usually 3;
ultimate lobes narrow. <B>Inflorescences</B> terminal, cymose with bracts
present, or 1-flowered. <B>Flowers:</B> receptacle dilated, forming cup
beneath calyx, sometimes with free rim; perianth and androecium perigynous;
sepals 2, connate, calyptrate, deciduous as unit; petals 4, rarely more
(doubled flowers), obovate to obcuneate, with satin sheen from microscopic
linear grooves; stamens 12-many; pistil 2-carpellate; ovary 1-locular;
style absent; stigmas 4-8, spreading, linear. <B>Fruits</B> capsular, cylindric,
2-valved, dehiscing from base along placentas, often explosively. <B>Seeds</B>
many, tan, brown, or black, spheric to ovoid, reticulate, ridged and burlike,
or pitted, aril absent. <I>x</I>&nbsp;=&nbsp;6, 7.</P>

<P>Species 12 (10 in the flora): w North America
(United States), nw&nbsp;Mexico.</P>

<P><I>Eschscholzia</I> species are introduced
from cultivation elsewhere in warm-temperate regions worldwide.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Clark, C. and J.&nbsp;A. Jernstedt. 1978. Systematic studies of <I>Eschscholzia</I>
(Papaveraceae). II. Seed coat microsculpturing. Syst. Bot. 3: 386-402.
Ernst, W.&nbsp;R. 1964b. The genus <I>Eschscholzia</I> in the south Coast
Ranges of California. Madro&ntilde;o 17: 281-294. Greene, E.&nbsp;L. 1905b.
Revision of <I>Eschscholtzia</I>. Pittonia 5: 205-308. Lewis,&nbsp;H. and
R.&nbsp;Snow. 1951. A cytotaxonomic approach to <I>Eschscholzia</I>. Madro&ntilde;o
11: 141-143.<BR>
<BR>
<BR>
<B>