2. <A NAME="24000077"></A><I>Eschscholzia californica</I> Chamisso in
C.&nbsp;G.&nbsp;D. Nees</B>, Horae Phys. Berol., 73, plate 15. 1820 - California-poppy
- W2</P>

<P><B>Plants</B>, perennial or annual, caulescent,
erect or spreading, 5-60&nbsp;cm, glabrous, sometimes glaucous; taproot
heavy in perennial forms. <B>Leaves</B> basal and cauline; blade with ultimate
lobes obtuse or acute. <B>Inflorescences</B> cymose or 1-flowered; buds
erect. <B>Flowers:</B> receptacle obconic, cup with spreading free rim;
calyx acute to acuminate, glabrous, sometimes glaucous; petals yellow to
orange, usually with orange spot at base, 20-60&nbsp;mm. <B>Capsules</B>
3-9&nbsp;cm. <B>Seeds</B> brown to black, spheric to ellipsoid, 1.5-1.8&nbsp;mm,
reticulate.</P>

<P>Subspecies 2 (2 in the flora): North America
(w&nbsp;United States), nw&nbsp;Mexico.</P>

<P><I>Eschscholzia californica</I> is the state
flower of California. Although it is toxic to humans, its roots are relished
by gophers. Widely planted in North America and elsewhere as an ornamental,
roadside, and reclamation plant, with many color forms in the horticultural
trade, it often escapes but usually does not persist.</P>

<P>This species is highly variable (more than
90 infraspecific taxa have been described), not only among different plants
and locations but also within individual plants over the course of the
growing season, especially in petal size and color (see W.&nbsp;L. Jepson
1909-1943, vol. 1, part 7, pp. 564-569).</P>

<P>Native Americans used <I>Eschscholzia californica</I>
(no varieties specified) to treat lice, to induce sleep in children, as
a poison, for consumption, for toothaches, and as an emetic (D.&nbsp;E.
Moerman 1986).</P>

<P><B>SELECTED REFERENCE<BR>
</B>Clark,&nbsp;C. 1978. Systematic studies of <I>Eschscholzia</I> (Papaveraceae).
I. The origin and affinities of <I>E</I>.&nbsp;<I>mexicana</I>. Syst. Bot.
3: 374-385.<BR>
</P>

<P><B>