3. <A NAME="24000079"></A><I>Eschscholzia glyptosperma</I> Greene</B>,
Bull. Calif. Acad. Sci.&nbsp;1: 70. 1885 - E F</P>

<P><B>Plants</B> annual, scapose, erect, 5-25&nbsp;cm,
glabrous, sometimes glaucous. <B>Leaves</B> basal; blade with ultimate
lobes acute. <B>Inflorescences</B> 1-flowered; buds nodding or sometimes
erect. <B>Flowers:</B> receptacle conic, cup without spreading free rim;
calyx acuminate, glabrous, sometimes glaucous; petals yellow, (10-)12-25&nbsp;mm.
<B>Capsules</B> 4-7&nbsp;cm. <B>Seeds</B> tan to brown, spheric, 1.2-1.8&nbsp;mm,
minutely pitted. 2<I>n</I>&nbsp;=&nbsp;14.</P>

<P>Flowering spring (Mar-May). Desert washes,
flats, slopes; 50-1500&nbsp;m; Ariz., Calif., Nev., Utah.</P>

<P><I>Eschscholzia glyptosperma</I> is known
from the Mojave and Sonoran deserts.<BR>
<BR>
<BR>
<B>