2a. <A NAME="50076483"></A><I>Eschscholzia
californica</I> Chamisso subsp. <I>californica</I> </B>- F</P>

<P><I>Eschscholzia californica</I> var. <I>scrocea</I>
(Bentham) Jepson; <I>E</I>. <I>californica</I> var. <I>peninsularis</I>
(Greene) Munz; <I>E</I>. <I>procera</I> Greene</P>

<P><B>Plants</B> usually perennial, sometimes
annual; cotyledons usually 2-lobed. <B>Flowers:</B> receptacular cup with
spreading rim prominent. 2<I>n</I>&nbsp;=&nbsp;12.</P>

<P>Flowering mid winter-late summer (Feb-Sep).
Grassy, open areas; to 2000&nbsp;m; Calif., Nev., Oreg., Wash.; Mexico
(Baja California).<BR>
</P>

<P><B>