9. <A NAME="24000087"></A><I>Eschscholzia ramosa</I> (Greene) Greene</B>,
Bull. Torrey Bot. Club 13: 217. 1886 - Island-poppy</P>

<P><I>Eschscholzia elegans</I> Greene var. <I>ramosa</I>
Greene, Bull. Calif. Acad. Sci. 1: 182. 1885</P>

<P><B>Plants</B> annual, caulescent, erect, 5-30&nbsp;cm,
glabrous, sometimes glaucous. <B>Leaves</B> basal and cauline; blade glabrous;
ultimate lobes elongate, obtuse. <B>Inflorescences</B> cymose or 1-flowered;
buds erect, blunt or rounded short-acuminate, tip less than 1/4 length
of bud. <B>Flowers:</B> receptacle obconic, less than 2.5&nbsp;cm broad,
cup without spreading free rim; calyx acuminate, glabrous; petals yellow,
sometimes with orange spot at base, 5-20&nbsp;mm. <B>Capsules</B> 4-7&nbsp;cm.
<B>Seeds</B> brown, ellipsoid, 1.4-1.6&nbsp;mm, reticulate. 2<I>n</I>&nbsp;=&nbsp;24.</P>

<P>Flowering spring (Apr-Jun). Open places, especially
in chaparral; 0-300&nbsp;m; Calif.; Mexico.</P>

<P>Within the flora area, <I>Eschscholzia ramosa</I>
is known only from the California Channel Islands.<BR>
<BR>
<BR>
<B>