10. <A NAME="24000088"></A><I>Eschscholzia rhombipetala</I> Greene</B>,
Bull. Calif. Acad. Sci. 1: 71. 1885 - C E</P>

<P><B>Plants</B> annual, caulescent, erect, 5-30&nbsp;cm,
glabrous. <B>Leaves</B> basal and cauline; blade glabrous; ultimate lobes
generally obtuse. <B>Inflorescences</B> cymose or 1-flowered; buds erect
or nodding. <B>Flowers:</B> receptacle turbinate to obconic, distally translucent
and somewhat swollen, more than 2&nbsp;mm broad, cup without spreading
free rim; calyx acute or acuminate, glabrous, sometimes glaucous; petals
yellow, 3-15&nbsp;mm. <B>Capsules</B> 4-7&nbsp;cm. <B>Seeds</B> black,
spheric, 1.3-1.8&nbsp;mm, reticulate.</P>

<P>Flowering spring (Mar-May). Fallow fields,
open places; of conservation concern; 0-500&nbsp;m; Calif.</P>

<P>Originally known from seven sites in California,
<I>Eschscholzia rhombipetala</I> had not been seen since the early 1970s
before it was rediscovered in 1993 on the Carrizo Plain in San Luis Obispo
County.<BR>
</P>

