1. <A NAME="24000076"></A><I>Eschscholzia caespitosa</I> Bentham</B>,
Trans. Hort. Soc. London, ser. 2, 1: 408. 1835</P>

<P><B>Plants</B> annual, caulescent, erect, tufted,
5-30&nbsp;cm, glabrous, sometimes slightly glaucous. <B>Leaves</B> basal
and cauline; blade with ultimate lobes short (giving compact appearance),
obtuse or acute. <B>Inflorescences</B> cymose or 1-flowered; buds erect,
apiculate-acuminate, tip usually more than 1/4 length of bud. <B>Flowers:</B>
receptacle obconic, less than 2.5&nbsp;mm broad, cup without spreading
free rim; calyx apiculate, glabrous; petals yellow, sometimes with orange
spot at base, 10-25&nbsp;mm. <B>Capsules</B> 4-8&nbsp;cm. <B>Seeds</B>
brown to black, ellipsoid to obovoid, 1.5-2.4&nbsp;mm, reticulate. 2<I>n</I>&nbsp;=&nbsp;12.</P>

<P>Flowering spring (Mar-May). Open chaparral;
0-1500&nbsp;m; Calif., Oreg.; Mexico (Baja California).</P>

<P><I>Eschscholzia caespitosa</I> grows in the
mainland foothills.<BR>
<BR>
<BR>
<B>