6. <A NAME="24000082"></A><I>Eschscholzia lobbii</I> Greene</B>, Pittonia
5: 290. 1905 - Frying-pans - E F</P>

<P><B>Plants</B> annual, scapose, erect, 5-15&nbsp;cm,
glabrous. <B>Leaves</B> basal; blade glabrous, ultimate lobes acute. <B>Inflorescences</B>
1-flowered; buds erect. <B>Flowers:</B> receptacle obconic, cup without
spreading free rim; calyx acute, glabrous; petals yellow, 7-12&nbsp;mm.
<B>Capsules</B> 4-7&nbsp;cm. <B>Seeds</B> brown, spheric to ellipsoid,
1.4-2&nbsp;mm, burlike with raised ridges. 2<I>n</I>&nbsp;=&nbsp;12.</P>

<P>Flowering late winter-spring (Mar-May). Open
fields, grasslands; 0-600&nbsp;m; Calif.</P>

<P><I>Eschscholzia lobbii</I> grows in the Great
Central Valley and in the foothills of the Sierra Nevada.<BR>
<BR>
<BR>
<B>