5a. <A NAME="24000839"></A><I>Eschscholzia
lemmonii</I> Greene subsp. <I>lemmonii</I> </B>- E F</P>

<P><B>Plants</B> spreading or erect. <B>Inflorescences:</B>
buds nodding. <B>Flowers:</B> calyx generally pubescent; petals 15-40&nbsp;mm.
<B>Seeds</B> ellipsoid.</P>

<P>Flowering spring (Mar-May). Open grasslands;
200-1000&nbsp;m; Calif.</P>

<P>This subspecies grows in the southern Sierra
Nevada foothills, the western Tehachapi Mountains, the eastern Outer South
Coast Ranges, and the Inner South Coast Ranges.<BR>
</P>

<P><B>