4. <A NAME="24000080"></A><I>Eschscholzia hypecoides</I> Bentham</B>,
Trans. Hort. Soc. London, ser. 2, 1: 408. 1835 - E</P>

<P><I>Eschscholzia caespitosa</I> Bentham var.
<I>hypecoides</I> (Bentham) A.&nbsp;Gray</P>

<P><B>Plants</B> annual, caulescent, erect, 5-30&nbsp;cm,
sparsely pubescent. <B>Leaves</B> basal and cauline; blade with ultimate
lobes usually obtuse. <B>Inflorescences</B> cymose or 1-flowered; buds
nodding. <B>Flowers:</B> receptacle turbinate, less than 1.5&nbsp;mm broad,
cup without spreading free rim; calyx acute, pubescent; petals yellow,
sometimes with orange spot at base, 10-20&nbsp;mm. <B>Capsules</B> 3-7&nbsp;cm.
<B>Seeds</B> brown, spheric to ellipsoid, 1-1.3&nbsp;mm, reticulate. 2<I>n</I>&nbsp;=&nbsp;12.</P>

<P>Flowering spring (Mar-May). Grassy areas in
woodland, chaparral; 500-1500&nbsp;m; Calif.<BR>
<BR>
<BR>
<B>