2. <A NAME="24000018"></A><I>Fumaria officinalis</I> Linnaeus</B>, Sp.
Pl. 2: 700. 1753 - Fumitory, fumeterre officinal - W2</P>

<P><B>Plants</B> 1-7 dm. <B>Inflorescences</B>,
excluding peduncle, 3-7 cm; bracteoles 1/2 to nearly as long as pedicels.
<B>Flowers</B>: pedicel straight and ascending in fruit, ca. 3 mm;
corolla 6-9.5 mm, spur ca. 2.5 mm; petals purplish pink or white
near base, deep reddish purple to maroon apically. <B>Capsules</B> subglobose,
sometimes slightly depressed, 1.5-2 mm diam., &plusmn; warty
or pebbled. 2<I>n</I> = 32, 48.</P>

<P>Flowering spring. Waste places, cultivated
or fallow fields, thin woods, ditches, roadsides; 0-2100 m; introduced,
scattered localities; St. Pierre et Miquelon; Alta., B.C., Man., N.B.,
Nfld., N.S., Ont., P.E.I., Que., Sask; Ala., Calif., Colo., Conn., D.C.,
Fla., Ga., Idaho, Ill., Ind., Kans., La., Maine, Mass., Mich., Minn., Mo.,
Mont., N.H., N.J., N.Y., N.C., Ohio, Oreg., Pa., S.C., Tex., Utah, Vt.,
Va., W.Va., Wyo.; Europe; n Africa.</P>

<P>Some plants in North America have conspicuously
warty capsules with persistent styles. Similar plants in Europe were treated
by M. Lid&eacute;n (1986) as <I>Fumaria officinalis</I> subsp. <I>wirtgenii</I>
(Koch) P. D. Sell. In all other characters, those plants are not significantly
different from other members of the species, and they are not distinguished
formally in this treatment.</P>

<P>Weaker, somewhat scandent plants with smaller,
perhaps cleistogamous, white flowers and smaller fruits seem to be correlated
with shaded situations. They are otherwise indistinguishable from other
members of the species.<BR>
<BR>
<BR>
<B>