3. <A NAME="24000329"></A><I>Fumaria vaillantii</I> Loiseleur-Deslongchamps</B>,
J. Bot. (Desvaux) 2: 358. 1809</P>

<P><B>Plants</B> 5-50 cm. <B>Inflorescences</B>,
excluding peduncle, 1-4.5 cm; bracteoles 1/2-3/4 as long as pedicels.
<B>Flowers</B>: pedicel straight and spreading to ascending in fruit, 1-3 mm;
corolla 5-6 mm, spur 1-1.5 mm; petals pink or deep pink near
base, deep pink or purple apically. <B>Capsules</B> subglobose, frequently
longer than broad, 1.7-2.5 mm diam., slightly wrinkled or shallowly
pitted. 2<I>n</I> = 32.</P>

<P>Flowering spring. Open, disturbed places;
elevation unknown; introduced; N.Dak., S.Dak.; Europe; w Asia; n Africa.</P>

<P>The description here is taken in part from
<I>Flora of the Great Plains</I> (Great Plains Flora Association 1986),
where the specific epithet is misspelled &quot;vaillentii,&quot; supplemented
by measurements from specimens of European origin in the Harvard University
Herbaria.<BR>
</P>

