

<P><B>4. FUMARIA Linnaeus</B>,
Sp. Pl. 2: 699. 1753; Gen. Pl. ed. 5, 314. 1754 - Fumitory, fumeterre [Latin
<I>fumus</I>, smoke, alluding presumably to odor of roots]</P>

<P><B>Herbs</B>, annual, caulescent, from taproots.
<B>Stems</B> erect to reclining, branching. <B>Leaves</B> cauline, sometimes
also basal, compound; blade with 3-4 orders of leaflets and lobes, margins
entire, surfaces glabrous. <B>Inflorescences</B> terminal on main stem
and leaf-opposed branches, racemose. <B>Flowers</B> bilaterally symmetric
about 1 plane; sepals peltate with attachment near base, ovate, base rounded,
margins &plusmn; lacerate, apex acute to acuminate; outer petals inconspicuously
crested, one basally spurred; stamens with filaments of each bundle completely
connate, adhering basally to petals; ovary ovoid; style promptly deciduous
after anthesis, elongate; stigma &plusmn; 2-lobed. <B>Capsules</B>
indehiscent. <B>Seed</B> 1, elaiosome absent.</P>

<P>Species ca. 50 (3 in the flora): Eurasia,
Africa, and Atlantic islands, with greatest diversity in w Mediterranean
region.</P>

<P><I>Fumaria parviflora</I> Lamarck was reported
as adventive from Europe in central Texas by D. S. Correll and M. C.
Johnston (1970) and in central and southern coastal California by J. C.
Hickman (1993). In the former treatment <I>F</I>. <I>parviflora</I>
is said to differ from <I>F</I>. <I>officinalis</I> by having leaf
segments with channeled lobes, and capsules obtuse to apiculate or beaked,
while in the latter treatment it is reported to differ from that species
by having shorter (3-4 mm), cream-colored petals, the inner ones tipped
purple, and &plusmn; crested capsules. Evidently, the species is found
in North America only as a waif and is not naturalized here. <I>Fumaria
martinii</I> Clavaud, a synonym of <I>F</I>. <I>reuteri</I> Boissier
according to M. Lid&eacute;n (1986), was reported from southwestern British
Columbia by B. Boivin (1966), but I have not seen specimens. <I>Fumaria
bastardii</I> Boreau also has been reported from British Columbia, as an
infrequent garden escape on roadsides, in waste places, and at forest edges
in the southern part of the province (G. W. Douglas et al. 1989).
It differs from <I>F</I>. <I>officinalis</I> in that the corolla is
dark pink and 10-12 mm long.<BR>
<BR>
<BR>
<B>