

<P><A NAME="42000038"></A><B>FUMARIACEAE Linnaeus
- Fumitory Family</B></P>

<P><B>Herbs</B>, annual or perennial, scapose
or caulescent, from taproots, bulblets, tubers, or rhizomes; sap clear.
<B>Stems</B> when present leafy, erect to prostrate or climbing, simple
or branching. <B>Leaves</B> basal and/or cauline, alternate, mostly compound,
sometimes simple, without stipules, petiolate; blade with 2-6 odd-pinnate
orders of leaflets and/or lobes. <B>Inflorescences</B> terminal, axillary,
extra-axillary, or leaf-opposed, unifloral or else multifloral and thyrsoid,
paniculate, racemose, or corymbose; peduncles present; bracts present.
<B>Flowers</B> bilaterally symmetric about 1 plane or each of 2 perpendicular
planes; pedicel present; sepals caducous or persistent, 2, thin; petals
4, distinct or coherent basally to almost completely connate, in 2 whorls
of 2; outer petals alike or dissimilar, 1 or both sometimes swollen or
spurred basally; inner petals alike, apically connate, clawed, with somewhat
hollow, membranous, wrinkled, abaxial median crests; stamens 6, in 2 bundles
of 3 each, opposite outer petals; filaments of each bundle partially to
completely connate, sometimes basally adnate to petals, with basal nectariferous
tissue often in form of spur; anthers connivent, adhering to stigma, median
anthers 2-locular, lateral anthers 1-locular; pistil 1, 2-carpellate; ovary
1-locular; placentae parietal; style threadlike, rigid; stigma 1, compressed,
with 2 lobes or apical horns, and/or 2-8 papillar stigmatic surfaces. <B>Fruits</B>
capsular, indehiscent or dehiscent and valvate. <B>Seeds</B> 1-many, small,
elaiosome (oil-bearing appendage) often present.</P>

<P>Genera 19, species ca. 450 (4 genera, 23 species
in the flora): North America, Eurasia.</P>

<P>The genera of Fumariaceae are distributed
mostly in the Old World and primarily in temperate Eurasia. One acaulescent
species of <I>Dicentra</I> occurs in Siberia, Kamchatka, and Japan; a caulescent
species is found in western China and northern Burma; and nine climbing
species are distributed throughout the Himalayan area and Burma. More than
400 taxa of <I>Corydalis</I> and 50 of <I>Fumaria</I>, distributed primarily
throughout temperate, often montane, regions of Eurasia and Africa, have
been described. <I>Adlumia</I> comprises only two species, which are quite
similar morphologically, one from North America and the other from East
Asia.</P>

<P>Most European and some American systematists
treat Fumariaceae as a subfamily of Papaveraceae. However, although a few
taxa are morphologically intermediate, the members of Fumariaceae generally
are quite distinct from those of Papaveraceae in several respects, including
floral symmetry, sap character, and stamen number and fusion.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Ernst, W.&nbsp;R. 1962. The genera of Papaveraceae and Fumariaceae
in the southeastern United States. J.&nbsp;Arnold Arbor. 43: 315-343. Fedde,&nbsp;F.
1936. Papaveraceae. In: H.&nbsp;G.&nbsp;A. Engler et al., eds. 1924+. Die
nat&uuml;rlichen Pflanzenfamilien, ed. 2. 26+ vols. Leipzig and Berlin.
Vol. 17b, pp. 5-145. Gunn, C.&nbsp;R. 1980. Seeds and fruits of Papaveraceae
and Fumariaceae. Seed Sci. Technol. 8: 3-58. Hutchinson,&nbsp;J. 1921.
The genera of the Fumariaceae and their distribution. Bull. Misc. Inform.
Kew 1921: 97-115. Lid&eacute;n,&nbsp;M. 1986. Synopsis of Fumarioideae
(Papaveraceae) with a monograph of the tribe Fumarieae. Opera Bot. 88:
1-133. Rachelle, L.&nbsp;D. 1974. Pollen morphology of the Papaveraceae
of the northeastern U.S. and Canada. Bull. Torr. Bot. Club. 101: 152-159.
Ryberg,&nbsp;M. 1960. Studies in the Morphology and Taxonomy of the Fumariaceae.
Uppsala. Ryberg,&nbsp;M. 1960b. A morphological study of the Fumariaceae
and the taxonomic significance of the characters examined. Acta Hort. Berg.
19(4): 121-248.<BR>
<BR>
<BR>
<BR>
</P>

