1. <A NAME="24000196"></A><I>Fumaria capreolata</I> Linnaeus</B>, Sp.
Pl. 2: 701. 1753</P>

<P><B>Plants</B> 1-8 dm. <B>Inflorescences</B>,
excluding peduncle, 2-3.5 cm; bracteoles equaling or shorter than
pedicels. <B>Flowers</B>: pedicel rigidly arcuate-recurved in fruit, ca.
3 mm; corolla 9-14 mm, spur 2-3 mm; outer petals white;
inner petals white near base, deep red or dark purple apically. <B>Capsules</B>
globose, slightly compressed, 2-2.5 mm diam., smooth or nearly so.
2<I>n</I> = 64.</P>

<P>Flowering spring. Waste places, ditches, cultivated
fields; 0-50 m; introduced; Fla.; sw Europe; n Africa.<BR>
<BR>
<BR>
<B>