<P><B>2. GLAUCIUM Miller</B>,
Gard. Dict. Abr. ed. 4. 1754 - Horned-poppy, sea-poppy [Greek <I>glaukos</I>,
gray-green, in reference to color of waxy bloom on all parts]</P>

<P><B>Herbs</B>, annual, biennial, or perennial,
caulescent, glaucous, from taproots; sap yellow. <B>Stems</B> leafy, sometimes
becoming woody at base. <B>Leaves:</B> basal rosulate, petiolate; cauline
alternate, sessile; blades 1-2&times; pinnately lobed [unlobed]. <B>Inflorescences</B>
axillary or terminal, 1-flowered; bracts present. <B>Flowers:</B> sepals
2, distinct; petals 4; stamens many; pistil 2-carpellate; ovary 2-locular;
style absent or indistinct; stigma 2-lobed. <B>Capsules</B> erect, 2-valved,
dehiscing from apex [base]. <B>Seeds</B> many, dark brown, reticulate-pitted,
embedded in pithy septum, aril absent. <I>x</I>&nbsp;=&nbsp;6.</P>

<P>Species 20-25 (2 in the flora): North America,
Europe, c, sw Asia.<BR>
<BR>
<BR>
<B>
