1. <A NAME="24000047"></A><I>Glaucium corniculatum</I> (Linnaeus) Rudolph</B>,
Fl. Jen., 13. 1781 - W2</P>

<P><I>Chelidonium corniculatum</I> Linnaeus,
Sp. Pl. 1: 506. 1753</P>

<P><B>Plants</B> annual or occasionally biennial,
to 5&nbsp;dm. <B>Stems</B> branching. <B>Leaves</B> to 25&nbsp;cm; basal
few, blade glabrate to moderately pubescent; basal and proximal cauline
with blade lyrate, 7-9-lobed; distal with blade ovate, not distinctly clasping
stem (sometimes slightly cordate-clasping); margins deeply dentate. <B>Flowers:</B>
pedicels stout, to 5&nbsp;cm; sepals 15-30&nbsp;mm; petals orange to reddish
orange, usually with blackish basal spot, obovate, to 40&nbsp;mm. <B>Capsules</B>
sublinear, straight or slightly curved, to 25&nbsp;cm, appressed- to ascending-pubescent
or glabrate.</P>

<P>Flowering late spring-summer. Open shores,
fields, pastures, and canyon slopes; 0-1600&nbsp;m; introduced; Kans.,
Mont., Nev., N.Y., Oreg., Pa., Tex.; Europe; sw Asia.</P>

<P><I>Glaucium corniculatum</I> has been widely
introduced outside its native Eurasian range as a crop weed and ballast
waif. It can persist in a fairly broad range of climates and probably is
established in North America more widely than existing herbarium records
indicate.<BR>
<BR>
<BR>
<B>