2. <A NAME="24000091"></A><I>Glaucium flavum</I> Crantz</B>, Stirp.
Austr. Fasc. 2: 133. 1763 - Yellow horned-poppy - F</P>

<P><I>Chelidonium glaucium</I> Linnaeus, Sp.
Pl. 1: 506. 1753; <I>G</I>.&nbsp;<I>luteum</I> Scopoli</P>

<P><B>Plants</B> biennial or perennial, to 8&nbsp;dm.
<B>Stems</B> branching. <B>Leaves</B> to 30&nbsp;cm; basal numerous, blade
densely pubescent; basal and proximal cauline with blade lyrate, 7-9-lobed;
distal with blade ovate, cordate, distinctly clasping stem; margins deeply
dentate. <B>Flowers:</B> pedicels stout, to 4&nbsp;cm; sepals 20-30&nbsp;mm;
petals yellow, sometimes orangish, sometimes with reddish to violet basal
spot, obovate, 25-40&nbsp;mm. <B>Capsules</B> sublinear, mostly distinctly
curved, sometimes straight, to 30&nbsp;cm, glabrous, tuberculate, or scabrous.
2<I>n</I>&nbsp;=&nbsp;12.</P>

<P>Flowering summer. Open sandy shores and flats,
waste places, and on ballast; 0-200&nbsp;m; introduced; Ont.; Colo., Conn.,
Md., Mass., Mich., N.J., N.Y., Okla., Oreg., Pa., R.I., Va.; Europe; sw&nbsp;Asia.</P>

<P>Native from the Black Sea and Transcaucasus
to coastal southern and western Europe, and also well established as a
ruderal in central Europe, <I>Glaucium flavum</I> has spread far beyond
that range as a ballast waif and occasional garden escape. It should be
expected elsewhere in the flora.<BR>
</P>

