1. <A NAME="27100406"></A><I>Helleborus viridis</I> Linnaeus</B>, Sp.
Pl. 1: 557. 1753 - Green hellebore - F</P>

<P><B>Herbs</B>, 1.2-3.5 dm. <B>Stems</B> fluted
and ridged. <B>Leaves</B> 2-5 or more; basal leaves with petioles to 30cm;
blades to 40cm wide, lobes 6-15, 2-cleft or incised, 6-21 &times; 1.5-4.2
cm, margins sharply serrate; cauline leaves similar to basal but smaller,
sessile or short-petioled. <B>Inflorescences:</B> peduncles 2-5 cm. <B>Flowers</B>
pendent, 35-60 mm diam.; sepals scarcely imbricate, 9-20 mm wide; petals
upwardly curved, cornucopia-like with involute margins. <B>Follicles</B>
3-6, connate at base, swollen; body 14-25 mm; beak persistent.</P>

<P>Flowering winter-early spring (Dec-Mar). Waste
places, abandoned gardens, shaded roadsides, and calcareous woodlands;
0-400m; introduced; Ill., Md., Mich., N.J., N.Y., Ohio, Pa., W.Va.; Europe.</P>

<P>This species is not as commonly planted as
it once was, and most records are old.</P>

