

<P><B>7. HELLEBORUS Linnaeus</B>,
Sp. Pl. 1: 557. 1753; Gen. Pl. ed. 5, 244. 1754 - Hellebore, hell&eacute;bore
[Greek, <I>helleborus</I>, ancient name for this plant]</P>

<P><B>Herbs</B> [subshrubs], perennial, from
tough, short rhizomes [rhizomes absent]. <B>Leaves</B> basal and cauline,
basal leaf much larger [all leaves cauline], petiolate; cauline leaves
alternate. <B>Leaf blade</B> pedately or palmately compound or deeply parted
[undivided], lobes narrowly elliptic to oblanceolate or lanceolate, margins
sharply toothed [entire]. <B>Inflorescences</B> terminal, 3-4-flowered
cymes, to 25 cm or flowers solitary or paired; bracts &plusmn;leaflike,
divided, not forming involucre. <B>Flowers</B> bisexual, radially symmetric;
sepals persistent in fruit [not persistent], 5, yellowish green [white,
pink, or purple], plane, ovate to elliptic, 19-30(-50) mm; petals 5-15,
distinct, green or brown, funnel-shaped, &plusmn; 2-lipped, clawed, 4-8
mm; nectary in center of &quot;funnel&quot;; stamens 30-60; filaments filiform;
staminodes absent between stamens and pistils; pistils [2-]3-6[-10], simple,
proximally connate [distinct or completely connate]; ovules several per
pistil; style present. <B>Fruits</B> follicles [capsules], aggregate, sessile,
oblong, sides with prominent transverse veins; beak terminal, straight,
5-15 mm. <B>Seeds</B> usually &plusmn; carinate. <I>x </I>= 8.</P>

<P>Species ca. 25 (1 in the flora): North America,
Europe, Asia (in Asia Minor and Tibet).</P>

<P>Although other species of <I>Helleborus</I>
are grown as ornamentals, only the green-flowered <I>H</I>. <I>viridis</I>
appears to persist after cultivation. <I>Helleborus niger</I> Linnaeus
(Christmas-rose) is a more popular ornamental because of its showy, white
to pinkish flowers. It does not appear to persist away from cultivation;
it was reported as an escape in 1880 at Sennet, New York, and in 1919 in
Washtenaw County, Michigan (R. S. Mitchell and J. K. Dean 1982; E. G. Voss
1972+, vol. 2). <I>Helleborus niger</I> can be distinguished from <I>H</I>.
<I>viridis</I> by its flower color and its simple, distal cauline leaves
with entire margins.</P>

<P>Both living and dried plants of all species
of <I>Helleborus</I> are extremely poisonous. Plants contain a cardiac
glycoside (helleborin), which acts directly on the heart muscle, causing
convulsions, delirium, and sometimes death. Poisoning from contaminated
hay has been known to cause livestock fatalities in some areas (R. S. Mitchell
and J. K. Dean 1982).<BR>
<BR>
<BR>
<B>