1. <A NAME="24000315"></A><I>Hesperomecon linearis</I> (Bentham) Greene</B>,
Pittonia 5: 146. 1903 - E F</P>

<P><I>Platystigma lineare</I> Bentham, Trans.
Hort. Soc. London, ser. 2, 1: 407. 1834; <I>Meconella linearis</I> (Bentham)
A.&nbsp;Nelson &amp; J.&nbsp;F. Macbride; <I>M</I>.&nbsp;<I>linearis</I>
var. <I>pulchellum</I> (Greene) Jepson; <I>Platystemon linearis</I> (Bentham)
Curran</P>

<P><B>Plants</B> 0.3-4&nbsp;dm, sparsely pilose
to densely hirsute. <B>Leaves</B> mostly basal, 0.5-8.5&nbsp;cm; blade
linear; margins entire. <B>Inflorescences:</B> peduncle 2.5-38&nbsp;cm;
bud globose to ovoid-cylindric. <B>Flowers:</B> petals white to cream colored,
sometimes with yellow tips, sometimes tinged red in age, narrowly ovate
to obovate, 0.3-2 &times; 0.2-1&nbsp;cm, apex acute to obtuse; ovary ovoid-ellipsoid;
stigmas deltoid, margins revolute. <B>Capsules</B> ovoid, to 1.5&nbsp;cm.
<B>Seeds</B> dark, shining, smooth. 2<I>n</I>&nbsp;=&nbsp;14.</P>

<P>Flowering early-late spring. Open, grassy
areas in grasslands, sand dunes, oak and pine woodlands; 0-1000&nbsp;m;
Calif.</P>

<P>Depauperate plants of this species may be
confused with <I>Meconella</I>, but <I>Hesperomecon</I> can be distinguished
by its linear, pilose leaves and ovoid capsules. Robust plants may be confused
with <I>Platystemon</I>, but the strictly 3-carpellate, strongly syncarpous
gynoecium and valvate capsules of <I>Hesperomecon</I> are always diagnostic.<BR>
</P>

