

<P><B>15. HESPEROMECON
Greene</B>, Pittonia 5: 146. 1903 - [Greek <I>hesperos</I>, evening or
western, and <I>mecon</I>, poppy]</P>

<P><B>Herbs</B> annual, short-caulescent, subscapose,
distinctly pubescent, from fibrous roots; sap clear. <B>Stems</B> leafy
at and near base, erect, branching from base. <B>Leaves</B> opposite, sessile;
blade broadly linear, unlobed. <B>Inflorescences</B> axillary or terminal,
1-flowered; bracts absent; bud nodding. <B>Flowers:</B> sepals 3, with
overlapping, loosely connivent flaps; petals 6, occasionally more on robust
specimens; stamens 12 or more, usually in several series; filaments dilated
distally; pistil 3-carpellate; ovary 1-locular; stigmas 3. <B>Capsules</B>
erect, 3-valved, dehiscing from apex. <B>Seeds</B> many, aril absent. <I>x</I>&nbsp;=&nbsp;7.</P>

<P>Species 1 (1 in the flora): Calif.<BR>
<BR>
<BR>
<B>