1.<A NAME="02500272"></A><I>Hexastylis
arifolia</I> (Michaux) Small</B>, Fl. S.E. U.S., 1132. 1903</P>

<P><I>Asarum arifolium</I> Michaux, Fl. Bor.-Amer.
1: 279-280. 1803</P>

<P><B>Rhizomes:</B> internodes short, leaves
crowded at rhizome apex (or internodes somewhat elongate, leaves scarcely
crowded in var. <I>arifolia</I> and var. <I>callifolia</I> growing in wet
places). <B>Leaf blade</B> commonly variegate, triangular-sagittate to
subhastate, infrequently ovate-sagittate to deltate. <B>Flowers:</B> calyx
tube narrowly to broadly urceolate-campanulate or ovoid, 12-30 &times;
6-12&nbsp;mm, inner surface smooth; lobes erect or spreading, 2-8 &times;
2-9&nbsp;mm, adaxially puberulent; stamen connective extending slightly
beyond pollen sacs; ovary ca. 1/3-inferior; ovules ca. 6 per locule; styles
2-cleft to stigma.</P>

<P>Varieties 3 (all in the flora): North America.</P>

<P><I>Hexastylis arifolia</I> is the most widespread
species in the genus. Along the boundaries where the ranges of the varieties
meet, intermediate specimens are occasionally found.</P>

<P>The Catawba tribe used <I>Hexastylis arifolia</I>
(no varieties specified) medicinally for stomach pains, miscellaneous pains,
heart trouble, and backaches; the Rappahannock, for treating whooping cough
and asthma (D.&nbsp;E. Moerman 1986).<BR>
<BR>
<B>