7.<A NAME="02500328"></A><I>Hexastylis
minor</I> (Ashe) H.&nbsp;L. Blomquist</B>, Brittonia 8: 275. 1957 - E F</P>

<P><I>Asarum minus</I> Ashe, J.&nbsp;Elisha Mitchell
Sci. Soc. 14: 33. 1897</P>

<P><B>Rhizomes:</B> internodes short, leaves
crowded at rhizome apex. <B>Leaf blade</B> variegate, cordate to subreniform.
<B>Flowers:</B> calyx tube cylindric to cylindric-campanulate, sometimes
with prominent transverse ridge just below sinuses, 9-16 &times; 8-16&nbsp;mm,
inner surface longitudinally ridged with low reticulations between ridges,
lobes spreading, 6-10 &times; 8-12&nbsp;mm, adaxially puberulent; stamen
connective not extending beyond pollen sacs; ovary ca. 1/3-inferior; ovules
6 per locule; style notched at apex. 2<I>n</I>&nbsp;=&nbsp;26.</P>

<P>Flowering winter-spring (Feb-May). On slopes,
bluffs, and flood plains of small streams, deciduous forests; 100-500&nbsp;m;
N.C., S.C., Va.<BR>
</P>

<P><B>