1a.<A NAME="02500494"></A><I>Hexastylis arifolia</I> (Michaux) Small
var. <I>arifolia</I> </B>- E F</P>

<P><B>Flowers:</B> calyx tube narrowly urceolate-campanulate,
13-18 &times; 6-10&nbsp;mm; lobes spreading, 2.5-8 &times; 3-9&nbsp;mm.
2<I>n</I>&nbsp;=&nbsp;26.</P>

<P>Flowering late winter-spring (Mar-May). Upland
deciduous and mixed deciduous-conifer forests; 0-600&nbsp;m; Ala., Fla.,
Ga., La., Miss., N.C., S.C., Tenn., Va.<BR>
<BR>
<B>