6.<A NAME="02500321"></A><I>Hexastylis
naniflora</I> H.&nbsp;L. Blomquist</B>, Brittonia 8: 280. 1957 - C E</P>

<P><B>Rhizomes:</B> internodes short, leaves
crowded at rhizome apex. <B>Leaf blade</B> variegate, cordate to orbiculate-cordate.
<B>Flowers:</B> calyx tube cylindric to cylindric-campanulate, sometimes
with prominent transverse ridge just above middle, 6-13 &times; 4-7&nbsp;mm,
inner surface longitudinally ridged with low reticulations between ridges,
lobes spreading, 4-7 &times; 4-7&nbsp;mm, adaxially puberulent; stamen
connective not extending beyond pollen sacs; ovary 1/2-inferior; ovules
6 per locule; style notched at apex. 2<I>n</I>&nbsp;=&nbsp;26.</P>

<P>Flowering late winter-spring (Mar-Jun). Acidic
sandy loam on bluffs and in ravines in deciduous forests, often associated
with <I>Kalmia latifolia</I>; of conservation concern; 500-700&nbsp;m;
N.C., S.C.</P>

<P>The name <I>Asarum naniflorum</I> (H.&nbsp;L.
Blomquist) Pfeifer has never been validly published.<BR>
</P>

<P><B>