9.<A NAME="02500327"></A><I>Hexastylis
contracta</I> H.&nbsp;L. Blomquist</B>, Brittonia 8: 279. 1957 - E</P>

<P><I>Asarum contractum</I> (H.&nbsp;L. Blomquist)
Barringer</P>

<P><B>Rhizomes:</B> internodes short, leaves
crowded at rhizome apex. <B>Leaf blade</B> rarely variegate, orbiculate-cordate;
calyx tube rhombic-ovoid, conspicuously tapered above middle, with prominent
constrictions just above base and just below sinuses, 15-27 &times; 12-17&nbsp;mm,
inner surface with reticulations absent or poorly developed, ridges 0-1&nbsp;mm
high, lobes erect to spreading, 4-5 &times; 7-8&nbsp;mm, adaxially puberulent;
stamen connective extending beyond pollen sacs; ovary ca. 1/3-inferior;
ovules 6 per locule; styles 2-cleft halfway to stigma.</P>

<P>Flowering spring (May-Jun). Acid soils in
deciduous forests, with <I>Kalmia</I> and <I>Rhododendron</I>; 300-1000&nbsp;m;
Ky., N.C., Tenn.</P>

<P>The distribution of <I>Hexastylis contracta</I>
is unique; it is disjunct between the Cumberland Plateau of central Tennessee
and Kentucky and the southeastern Blue Ridge Province of western North
Carolina.<BR>
</P>

<P><B>