10b.<A NAME="02500311"></A><I>Hexastylis
shuttleworthii</I> (Britten and Baker f.) Small var. <I>harperi</I> Gaddy,
</B>Sida 12: 54. 1987 - C E</P>

<P><I>Asarum shuttleworthii</I> Britten &amp;
Baker&nbsp;f. var. <I>harperi</I> (Gaddy) Barringer</P>

<P><B>Rhizomes:</B> internodes long, leaves scattered
along length of rhizome. <B>Leaf blade</B> orbiculate to orbiculate-cordate,
3-7 &times; 3-7&nbsp;cm.</P>

<P>Flowering spring (Apr-Jun). Forested bog edges
and acidic hammocks in bogs; of conservation concern; 100-200&nbsp;m; Ala.,
Ga., Miss.<BR>
</P>

