

<P><B>3. HEXASTYLIS Rafinesque</B>,
Neogenyton, 3. 1825 - Heartleaf [Greek <I>hexastylis</I>, with six styles]</P>

<P><B>Herbs</B>, perennial, evergreen, rhizomatous,
without aerial stems. <B>Leaves</B> alternate, 2-ranked; stipules absent;
petiolate foliage leaves and sessile, triangular scale-leaves both present.
<B>Leaf blade</B> membranous or leathery, glabrous. <B>Inflorescences</B>
terminal on rhizome, solitary flowers, subtended by triangular bract. <B>Flowers:</B>
sepals connate for most of length, usually mixture of brown, purple, or
yellow, externally glabrous, inner surface glabrous, with weak to strong
network of ridges, calyx tube never forming differentiated utricle or syrinx;
vestigial petals absent; stamens 12, distinct; filaments shorter than pollen
sacs; terminal appendage of anther absent or rudimentary; ovary superior
or partly inferior, 6-locular; styles 6, distinct (except sometimes at
extreme base). <B>Capsule</B> fleshy, dehiscence irregular. <B>Seeds</B>
ovoid, not winged, with fleshy appendage. <I>x</I>&nbsp;=&nbsp;13.</P>

<P>Species 10 (all in the flora): North America.</P>

<P><I>Hexastylis</I> is very similar to the Asiatic
genera <I>Heterotropa</I> C.&nbsp;Morren &amp; Decaisne and <I>Asiasarum</I>
F.&nbsp;Maekawa; a strong case could be made for combining the three genera.
Nevertheless, all three of these genera seem distinct from <I>Asarum</I>
(in which they have been included by some authors; e.g., K.&nbsp;Barringer
1993) in their connate sepals, distinct styles, nonappendiculate anthers,
and superior or partly inferior ovaries.</P>

<P>Herbarium specimens of <I>Hexastylis</I> are
difficult to work with. The form of the calyx is very important taxonomically,
but the calyx is fleshy and brittle and does not press well. Allowing flowers
to wilt for several hours before pressing may help to reduce distortion,
because the calyx becomes more flexible and less likely to split in the
press. Features of the inner surface of the calyx are also important, but
collectors seldom cut open flowers and press them with the inside visible.
For this reason, herbarium specimens of <I>Hexastylis</I> are difficult
to identify reliably, and meaningful work on the group requires field studies.
L.&nbsp;L. Gaddy (1987) and H.&nbsp;L. Blomquist (1957) gave photographs
and drawings of flowers of all species, and an extensive collection of
liquid-preserved flowers is housed to the University of Tennessee; these
are very helpful in identifying <I>Hexastylis</I> specimens.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Blomquist, H.&nbsp;L. 1957. A revision of <I>Hexastylis</I> of North
America. Brittonia 8: 255-281. Gaddy, L.&nbsp;L. 1987. A review of the
taxonomy and biogeography of <I>Hexastylis</I> (Aristolochiaceae). Castanea
52: 186-196.</P>

<P><B>