8.<A NAME="02500253"></A><I>Hexastylis
rhombiformis</I> Gaddy</B>, Brittonia 38: 82. 1986 - C E</P>

<P><B>Rhizomes:</B> internodes short, leaves
crowded at rhizome apex. <B>Leaf blade</B> not variegate, cordate to subreniform.
<B>Flowers:</B> calyx tube rhombic-ovoid, conspicuously tapered above middle,
16-24 &times; 12-19&nbsp;mm, inner surface with high reticulations, ridges
1.5-2&nbsp;mm high, lobes erect or weakly spreading, 3-6 &times; 3-6&nbsp;mm,
adaxially puberulent; stamen connective extending slightly beyond pollen
sacs; ovary superior; ovules 8 per locule; style notched at apex.</P>

<P>Flowering spring (Apr-Jun). Sandy river bluffs
or ravines, deciduous forests, with <I>Kalmia latifolia</I> and <I>Rhododendron
maximum</I>; of conservation concern; 500-1000&nbsp;m; N.C., S.C.</P>

<P><I>Hexastylis rhombiformis</I> is endemic
to a small area south of Asheville, North Carolina, extending south to
the headwaters of the Saluda River, South Carolina. L.&nbsp;L. Gaddy (1986)
illustrated the variation in flower shape in the species. Collections of
this species made in the late 1800s were often identified as <I>Asarum
memmingeri</I>.<BR>
</P>

<P><B>