10a.<A NAME="50065320"></A><I>Hexastylis
shuttleworthii</I> (Britten &amp; Baker f.) Small var. <I>shuttleworthii</I>
</B>- E F</P>

<P><B>Rhizomes:</B> internodes short, leaves
crowded at rhizome apex. <B>Leaf blade</B> cordate, 6-10 &times; 5-9&nbsp;cm.
2<I>n</I>&nbsp;=&nbsp;26.</P>

<P>Flowering spring-early summer (May-Jul). Acidic
soils, often along creeks beneath <I>Rhododendron maximum</I>, deciduous
or mixed deciduous-conifer forests; 400-1300&nbsp;m; Ala., Ga., N.C., S.C.,
Tenn., Va.</P>

<P>H.&nbsp;L. Blomquist (1957) reported <I>Hexastylis
shuttleworthii</I> var. <I>shuttleworthii</I> from Morgantown in northern
West Virginia; we have not seen this specimen.<BR>
</P>

<P><B>