10.<A NAME="02500310"></A><I>Hexastylis
shuttleworthii</I> (Britten &amp; Baker f.) Small</B>, Fl. S.E. U.S., 1131.
1903</P>

<P><I>Asarum shuttleworthii</I> Britten &amp;
Baker&nbsp;f., J.&nbsp;Bot. 36: 98. 1898</P>

<P><B>Rhizomes:</B> internodes short or long,
leaves crowded at rhizome apex or scattered along its length. <B>Leaf blade</B>
variegate or not, orbiculate to cordate; calyx tube broadly urceolate-campanulate,
conspicuously tapered above middle, 15-40 &times; 15-25&nbsp;mm, inner
surface with well-developed reticulations, lobes spreading or ascending,
6-13 &times; 10-22&nbsp;mm, adaxially puberulent; stamen connective extending
beyond pollen sacs; ovary superior; ovules 10-14 per locule; styles notched
at apex.</P>

<P>Varieties 2 (both in the flora): North America.<BR>
</P>

<P><B>