1c.<A NAME="02500468"></A><I>Hexastylis arifolia</I> (Michaux) Small
var. <I>ruthii</I> (Ashe) H.&nbsp;L. Blomquist</B>, Brittonia 8: 268. 1957<B>
</B>- E</P>

<P><I>Asarum ruthii</I> Ashe, J.&nbsp;Elisha
Mitchell Sci. Soc. 14: 35-36. 1897; <I>A</I>.&nbsp;<I>arifolium</I> Michaux
var. <I>ruthii</I> (Ashe) Barringer; <I>Hexastylis ruthii</I> (Ashe) Small</P>

<P><B>Flowers:</B> calyx tube ovoid, 10-20 &times;
8-10&nbsp;mm; lobes erect, 2-4 &times; 2-4&nbsp;mm. 2<I>n</I>&nbsp;=&nbsp;26.</P>

<P>Flowering late winter-spring (Mar-Jun). Upland
deciduous and mixed deciduous-conifer forests; often associated with shrubby
Ericaceae in n&nbsp;part of range; 300-800&nbsp;m; Ala., Ga., Ky., N.C.,
Tenn., Va.<BR>
<BR>
<B>