4.<A NAME="02500274"></A><I>Hexastylis virginica</I> (Linnaeus) Small</B>,
Fl. S.E. U.S., 1131. 1903 - E</P>

<P><I>Asarum virginicum</I> Linnaeus, Sp. Pl.
1: 442. 1753; <I>A</I>.&nbsp;<I>memmingeri</I> Ashe; <I>Hexastylis memmingeri</I>
(Ashe) Small</P>

<P><B>Rhizomes:</B> internodes short, leaves
crowded at rhizome apex. <B>Leaf blade</B> variegate or not, cordate, subcordate,
or subreniform. <B>Flowers:</B> calyx tube cylindric to narrowly cylindric-urceolate,
sometimes with prominent transverse ridge just below sinuses, 8-15 &times;
6-12&nbsp;mm, inner surface with high reticulations, lobes erect or weakly
spreading, 2-4 &times; 7-9&nbsp;mm, adaxially puberulent; stamen connective
not extending beyond pollen sacs; ovary ca. 1/3-inferior; ovules 8 per
locule; styles notched at apex. 2<I>n</I>&nbsp;=&nbsp;26.</P>

<P>Flowering spring (Apr-Jun). Deciduous and
mixed deciduous-conifer forests; 0-700&nbsp;m; Ky., Md., N.C., Tenn., Va.,
W.Va.</P>

<P>Plants of <I>Hexastylis virginica</I> with
small, cylindric-urceolate calices have been treated as a distinct species,
<I>H</I>.&nbsp;<I>memmingeri</I>. The two calyx types are often found in
the same population, however, so <I>H</I>.&nbsp;<I>memmingeri</I> seems
unworthy of taxonomic recognition at any rank.</P>

<P>Prior to the study by H.&nbsp;L. Blomquist
(1957), many botanists interpreted <I>Hexastylis virginica</I> in a very
broad sense, so old herbarium specimens of many other species of <I>Hexastylis</I>
are often annotated as <I>H</I>.&nbsp;<I>virginica</I>.</P>

<P>The Cherokee used <I>Hexastylis virginica</I>
medicinally to stop blood from passing (D.&nbsp;E. Moerman 1986, as <I>Asarum
virginicum</I>).<BR>
</P>

<P><B>