2.<A NAME="02500006"></A><I>Hexastylis speciosa</I> R.&nbsp;M. Harper</B>,
Torreya 24: 79-80. 1924 - C E</P>

<P><I>Asarum speciosum</I> (R.&nbsp;M. Harper)
Barringer</P>

<P><B>Rhizomes:</B> internodes short, leaves
crowded at rhizome apex. <B>Leaf blade</B> variegate or not, triangular
to broadly triangular, subhastate. <B>Flowers:</B> calyx tube abruptly
contracted near middle, proximally narrowly cup-shaped, distally broadly
cylindric, 10-20 &times; 10-20&nbsp;mm, inner surface with well-developed
reticulations, lobes spreading, 4-8 &times; 6-8&nbsp;mm, adaxially puberulent;
stamen connective extending slightly beyond pollen sacs; ovary ca. 1/3-inferior;
ovules ca. 6 per locule; style 2-cleft to stigma. 2<I>n</I>&nbsp;=&nbsp;26.</P>

<P>Flowering spring (April-May). Shaded sites,
well-drained sandy loam in open pine-deciduous forests above acidic streams
or bogs; of conservation concern; 70&nbsp;m; Ala.</P>

<P><I>Hexastylis speciosa</I> is endemic to a
small area north of Montgomery, Alabama.<BR>
<BR>
<B>