3.<A NAME="02500273"></A><I>Hexastylis lewisii</I> (Fernald) H.&nbsp;L.
Blomquist &amp; Oosting</B>, Spring Fl. Piedmont, 50. 1940 - E</P>

<P><I>Asarum lewisii</I> Fernald, Rhodora 45:
398. 1943; <I>Hexastylis pilosiflora</I> H.&nbsp;L. Blomquist</P>

<P><B>Rhizomes</B> dimorphic: internodes of flowering
rhizomes short, leaves crowded at rhizome apex; internodes of sterile rhizomes
often long, leaves scattered along length of rhizome. <B>Leaf blade</B>
variegate, triangular-cordate, cordate, or orbiculate-cordate. <B>Flowers:</B>
calyx tube cylindric-campanulate to urceolate-campanulate, sometimes with
prominent transverse ridge just above middle, 14-20 &times; 16-22&nbsp;mm,
inner surface longitudinally ridged, without reticulations, lobes spreading,
8-15 &times; 10-15&nbsp;mm, adaxially pilose; stamen connective extending
beyond pollen sacs; ovary superior; ovules 10 per locule; style notched
at apex. 2<I>n</I>&nbsp;=&nbsp;26.</P>

<P>Flowering spring (Apr-May). Upland and lowland
(floodplain) forests; sometimes found along shores of Carolina bays; 0-200&nbsp;m;
N.C., Va.</P>

<P><I>Hexastylis lewisii</I> resembles <I>H</I>.&nbsp;<I>shuttleworthii</I>
in its calyx shape, the presence of elongate rhizomes, and the late flowering
time.<BR>
<BR>
<B>