1b.<A NAME="02500471"></A><I>Hexastylis arifolia</I> (Michaux) Small
var. <I>callifolia</I> (Small) H.&nbsp;L. Blomquist</B>, Brittonia 8: 268.
1957 - E</P>

<P><I>Asarum callifolium</I> Small, Bull. Torrey
Bot. Club 24: 334. 1897; <I>A</I>.&nbsp;<I>arifolium</I> Michaux var. <I>callifolium</I>
(Small) Barringer; <I>Hexastylis callifolia</I> (Small) Small</P>

<P><B>Flowers:</B> calyx tube broadly urceolate-campanulate,
20-25 &times; 10-12&nbsp;mm; lobes spreading, 3-6 &times; 4-9&nbsp;mm.</P>

<P>Flowering late winter-spring (Mar-May). Upland
and wetland deciduous, mixed and coniferous forests; often found along
edges of wetlands; 0-100&nbsp;m; Ala., Fla., La., Miss.<BR>
<BR>
<B>