

<P>
<B>1. HYDRASTIS  Linnaeus</B>,
Syst. Nat. ed. 10, 2: 1088.  1759 - Goldenseal, orangeroot, yellow-puccoon,
sceau d'or [referring to superficial resemblance to some species
of <I>Hydrophyllum</I>]<BR>

<P>
<B>Herbs</B>,
perennial, from creeping, yellow, thick rhizomes. <B>Leaves</B>
basal and cauline, simple, petiolate; cauline leaves alternate.
 <B>Leaf blade</B> palmately 3-9-lobed [variously divided], broadly
cordate-orbiculate, margins serrate.  <B>Inflorescences</B> terminal,
solitary flowers; bracts absent.  <B>Flowers</B> bisexual, radially
symmetric; sepals not persistent in fruit, 3, greenish white to
creamy white, plane, ovate, oval, or elliptic, 3.5-7&nbsp;mm;
petals absent; stamens 50-75; filaments abruptly narrowed near
apex; staminodes absent between stamens and pistils; pistils 5-15,
simple; ovules 2 per ovary; style short.  <B>Fruits</B> berries,
aggregate, sessile, spheric, sides not veined; beak terminal,
&#177;&nbsp;straight, 0.6-1&nbsp;mm.  <B>Seeds</B> black, ellipsoid,
smooth, lustrous.  <I>x</I>&nbsp;=&nbsp;13.  
<P>
 Species 2 (1 in the flora): e&nbsp;North
America, Asia (Japan).
<P>
 Many classifications have included
<I>Hydrastis</I> within Ranunculaceae (A.&nbsp;Cronquist 1981;
W.&nbsp;C. Gregory 1941; O.&nbsp;F. Langlet 1932; M.&nbsp;Tamura
1963, 1968, 1993).  Recent workers (H.&nbsp;Tobe and R.&nbsp;C.
Keating 1985; A.&nbsp;L. Takhtajan 1987), however, have assigned
<I>Hydrastis</I> to its own family, intermediate between Ranunculaceae
and Berberidaceae.  Phylogenetic studies by S.&nbsp;B. Hoot (1991)
confirmed the isolated position of <I>Hydrastis</I> and suggested
that characteristics such as the following justify its exclusion
from Ranunculaceae: undifferentiated mesophyll, xylem straight
(instead of V-shaped) in cross section, scalariform perforations
in the vessels, micropyle defined by two integuments, pollen with
a distinct striate-reticulate tectum, and a base chromosome number
of <I>x</I>&nbsp;=&nbsp;13 (as opposed to 6, 7, 8, or 9). 
<P>
 C.&nbsp;S. Keener (1993) challenged
these conclusions, stating that features such as scalariform perforations
in vessels, striate-reticulate pollen, and the micropyle defined
by two integuments are found in other genera within Ranunculaceae.
 Only straight xylem in cross section and the base chromosome
number are distinctive.  Whether these features warrant segregation
of <I>Hydrastis</I> into its own family is debatable.  Decisions
involving the circumscription of this genus await a molecular
study involving Berberidaceae, Ranunculaceae, and related families.
 
<P>
<B>SELECTED REFERENCES   </B>
<P>
Eichenberger, M.&nbsp;D. and G.&nbsp;R.
Parker.  1976.  Goldenseal (<I>Hydrastis canadensis</I> L.) distribution,
phenology and biomass in an oak-hickory forest.  Ohio J.&nbsp;Sci.
76: 204-210.   Keener, C.&nbsp;S.  1993.  A review of the classification
of the genus <I>Hydrastis</I> (Ranunculaceae).  Aliso 13: 551-558.
  Massey, J.&nbsp;R., D.&nbsp;K.&nbsp;S. Otte, T.&nbsp;A. Atkinson,
and R.&nbsp;D. Whetstone.  1983.  An Atlas and Illustrated Guide
to Threatened and Endangered Vascular Plants of the Mountains
of North Carolina and Virginia.  Washington.  [U.S.D.A. Forest
Serv., Gen. Techn. Rep. SE-20.]   Tobe,&nbsp;H. and R.&nbsp;C.
Keating.  1985.  The morphology and anatomy of <I>Hydrastis</I>
(Ranunculales): Systematic reevaluation of the genus.  Bot. Mag.
(Tokyo) 98: 291-316.  <BR>

<P>
<B>