1. <A NAME="27100410"></A><I><B>Hydrastis canadensis</B></I><B>
Linnaeus</B></B>, Syst. Nat.
ed. 10, 2: 1088.  1759 - Goldenseal, orangeroot, yellow-puccoon,
sceau d'or - E F
<P>
<B>Herbs</B>,
15-50&nbsp;cm.  <B>Rhizomes</B> with tough fibrous roots.  <B>Stems</B>
erect, unbranched, pubescent.  <B>Leaves:</B> basal leaf often
quickly deciduous, 1; cauline leaves, 2, similar to basal.  <B>Leaf
blade</B> 3-10&nbsp;cm wide at anthesis, to 25&nbsp;cm wide in
fruit; lobes variously incised, margins singly or doubly serrate.
 <B>Flowers</B> 8-18&nbsp;mm wide; peduncle 5-38&nbsp;mm, &#177;&nbsp;closely
subtended by distalmost cauline leaf; sepals not clawed, 3.5-7&nbsp;mm,
glabrous; stamens strongly exserted, white showy, 4-8&nbsp;mm;
pistils 1-carpellate, distinct; stigma 2-lipped.  <B>Berry aggregates</B>
dark red, 10-15 &#215; 8-15(-20)&nbsp;mm, each berry 5-8 &#215;
1.5-5&nbsp;mm.  <B>Seeds</B> 1-2 per pistil, 2.5-4.5&nbsp;mm.
 
<P>
 Flowering spring.  Mesic, deciduous
forests, often on clay soil; 50-1200&nbsp;m; Ont.; Ala., Ark.,
Conn., Del., Ga., Ill., Ind., Iowa, Ky., Md., Mass., Mich., Minn.,
Miss., Mo.,  N.J., N.Y., N.C., Ohio, Pa., Tenn., Vt., Va., W.Va.,
Wis.
<P>
 A decrease in undisturbed, deciduous
woodlands and commercial harvesting of the rhizomes for herbal
medicine have contributed to a decline of this species.  The species
is considered very infrequent in Canada (G.&nbsp;W. Argus and
K.&nbsp;M. Pryer 1990) and in some U.S. states (D.&nbsp;J. White
and H.&nbsp;L. Dickson 1983).  The raspberrylike fruit is considered
inedible.
<P>
 Native Americans used <I>Hydrastis
canadensis</I> medicinally for treating cancer, whooping cough,
diarrhea, liver trouble, earaches, sore eyes, fevers, pneumonia,
heart trouble, tuberculosis, chapped or cut lips, and dyspepsy;
to improve appetite; and as a tonic, and as a wash for inflammation
(D.&nbsp;E. Moerman 1986).
