2.<A NAME="19300018"></A><I>Illicium parviflorum</I>
Michaux ex Ventenat</B>, Tabl. R&egrave;gn. V&eacute;g. 3: 71. 1799 - Swamp
star-anise, yellow-anise - C E</P>

<P><I>Badianifera parviflora</I> (Michaux ex
Ventenat) Kuntze</P>

<P><B>Leaves:</B> petiole 8-16&nbsp;mm. <B>Leaf
blade</B> dull green to olive, elliptic to obovate-elliptic, 5-13(-21)
&times; 2-4(-6)&nbsp;cm, base acute, apex obtuse to rounded. <B>Flowers</B>
0.8-1.2&nbsp;cm diam.; peduncle 0.7-2.4 cm; bracteoles 2-5; tepals 11-16,
yellow-green, inner tepals orbiculate-obovate; stamens 6-7; pistils 11-14.
<B>Fruit aggregates</B> 2-3.5&nbsp;cm diam., usually with 10-13 pistils
at maturity. <B>Seeds</B> hazel brown. 2<I>n</I>&nbsp;=&nbsp;28.</P>

<P>Flowering late spring. Moist woods, swamps;
of conservation concern; 0-70&nbsp;m; Fla., Ga.</P>

<P>A.&nbsp;C. Smith (1947) placed <I>Illicium
parvifolium</I> in <I>Illicium</I> sect. <I>Cymbostemon</I> (Spach) A.&nbsp;C.
Smith. <I>Illicium parviflorum</I> is endemic to Lake, Marion, Orange,
Polk, Seminole, and Volusia counties in Florida, and S.&nbsp;B. Jones and
N.&nbsp;C. Coile (1988) reported the species as an escape in Thomas County,
Georgia. <I>Illicium parvifolium</I> is cultivated in the southeastern
United States and elsewhere; it has been frequently misidentified as <I>I</I>.&nbsp;<I>anisatum</I>
Linnaeus, a taxon that differs from <I>I</I>.&nbsp;<I>parviflorum</I> in
having larger, white tepals (M.&nbsp;A. Dirr 1986). The species may also
be confused with the infrequently cultivated <I>I</I>.&nbsp;<I>verum</I>,
which has fewer pistils (7-9[-10]) and more stamens (11-20).<BR>
<BR>
</P>

