

<P><B>9. ILLICIACEAE (de
Candolle) A. C. Smith - Star-anise Family</B></P>

<P><B>Shrubs or small trees</B>, evergreen, glabrous
or obscurely pubescent. <B>Leaves</B> alternate, simple, without stipules,
petiolate. <B>Leaf blade</B> fragrant (especially when bruised or crushed),
translucent-dotted, ovate to lanceolate, pinnately veined, thin to leathery,
margins entire. <B>Flowers</B> bisexual, axillary or from main stem or
older branches, solitary, pedunculate; peduncle bracteolate; perianth hypogynous;
tepals 7-33, imbricate, distinct, in 2-3 series, outer tepals small, sometimes
bractlike, innermost more petaloid; stamens 4-50, hypogynous, distinct,
in 1-several series; filaments ligulate to terete; anthers basifixed, 4-locular,
dehiscence longitudinal; pollen 3-aperturate; pistils simple, 5-21, distinct,
closely laterally appressed in 1 series on convex axis, attached obliquely
by broad base; placentation nearly basal; ovule 1 per locule; stigmatic
surface adaxial. <B>Fruits</B> aggregates of radially arranged follicles;
dehiscence adaxial. <B>Seed</B> 1 per follicle, ellipsoid to obovoid, somewhat
flattened laterally; endosperm copious, oily; embryo minute.</P>

<P>Genus 1, species 42 (2 species in the flora):
North America, West Indies, Central America, and ne&nbsp;South America;
chiefly e&nbsp;Asia.</P>

<P>Aromatic oils obtained from some members of
this genus are used for flavorings and as carminatives; oil derived from
<I>Illicium anisatum</I> Linnaeus is poisonous. Chinese star-anise, used
widely for flavoring wine and cooking, is obtained from <I>I</I>.&nbsp;<I>verum</I>
Hooker f. (J.&nbsp;Hutchinson 1973; C.&nbsp;E. Wood Jr. 1958). The Chinese
drug pa-chio-hui-hsiang, used to treat vomiting, epigastric pain, and abdominal
colic, is derived from ripe fruits of <I>I</I>.&nbsp;<I>verum</I> (Xiao
P.&nbsp;G. 1989).</P>

<P>Illiciaceae are considered closely allied
to Schisandraceae. Anatomic details of wood of Illiciaceae and Schisandraceae
are nearly indistinguishable, differing only in details linked to the climbing
habit of members of the latter (I.&nbsp;W. Bailey and C.&nbsp;G. Nast 1948;
S.&nbsp;Carlquist 1982; A.&nbsp;C. Smith 1947). Studies of fossil pollen
led J.&nbsp;W. Walker and A.&nbsp;G. Walker (1984) to conclude that Illiciaceae
and Schisandraceae are allies of Winteraceae. Based on analysis of nucleotide
sequences from the plastid gene <I>rbc</I>L, however, M.&nbsp;W. Chase
et al. (1993) and Qiu Y.&nbsp;L. et al. (1993) concluded that Illiciaceae
and Schisandraceae are closely allied and closely related to Austrobaileyaceae
but distant from Winteraceae.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Bailey, I.&nbsp;W. and C.&nbsp;G. Nast. 1948. Morphology and relationships
of <I>Illicium</I>, <I>Schisandra</I> and <I>Kadsura</I>. J.&nbsp;Arnold
Arbor. 29: 77-89. Carlquist,&nbsp;S. 1982. Wood anatomy of <I>Illicium</I>
(Illiciaceae): Phylogenetic, ecological, and functional interpretations.
Amer. J.&nbsp;Bot. 69: 1587-1598. Chase, M.&nbsp;W. et al. 1993. Phylogenetics
of seed plants: An analysis of nucleotide sequences from the plastid gene
<I>rbc</I>L. Ann. Missouri Bot. Gard. 80: 528-580. Hutchinson,&nbsp;J.
1973. The Families of Flowering Plants, ed.&nbsp;3. Oxford. Pp. 157-158.
Qiu, Y.&nbsp;L., M.&nbsp;W. Chase, D.&nbsp;H. Les, and C.&nbsp;R. Parks.
1993. Molecular phylogenetics of the Magnoliidae: Cladistic analyses of
nucleotide sequences of the plastid gene <I>rbc</I>L. Ann. Missouri Bot.
Gard. 80: 587-606. Smith, A.&nbsp;C. 1947. The families Illiciaceae and
Schisandraceae. Sargentia 7: 1-224. Walker, J.&nbsp;W. and A.&nbsp;G. Walker.
1984. Ultrastructure of lower Cretaceous angiosperm pollen and the origin
and early evolution of flowering plants. Ann. Missouri Bot. Gard. 71: 464-521.
Wood, C.&nbsp;E. Jr. 1958. The genera of the woody Ranales in the southeastern
United States. J.&nbsp;Arnold Arbor. 39: 296-346. Xiao, P.&nbsp;G. 1989.
Excerpts of the Chinese pharmacopoeia. Herbs Spices Med. Pl. 4: 42-114.<BR>
</P>

