1.<A NAME="19300028"></A><I>Illicium floridanum</I>
J.&nbsp;Ellis</B>, Philos. Trans. 60: 524. 1770 - Florida-anise, anis &eacute;tiol&eacute;
- F</P>

<P><I>Badianifera floridana</I> (J.&nbsp;Ellis)
Kuntze; <I>Illicium mexicanum</I> A.&nbsp;C. Smith</P>

<P><B>Leaves:</B> petiole 6-26&nbsp;mm. <B>Leaf
blade</B> dark olive-green, elliptic to lanceolate, 5-21 &times; 1.5-6&nbsp;cm,
base cuneate, apex acute to acuminate. <B>Flowers</B> 2.5-5&nbsp;cm diam.;
peduncle 1-11&nbsp;cm; bracteoles 3-6; tepals 21-33, red-maroon, rarely
white or pink, inner tepals ligulate; stamens 25-50; pistils 11-21. <B>Fruit
aggregates</B> collectively 2.5-4&nbsp;cm diam., usually with 10-15 pistils
at maturity. <B>Seeds</B> pale brown. 2<I>n</I>&nbsp;=&nbsp;26.</P>

<P>Flowering midspring-early summer. Along streams,
in marshy areas, moist woods; 0-500&nbsp;m; Ala., Fla., Ga., La., Miss.;
ne&nbsp;Mexico.</P>

<P><I>Illicium floridanum</I> was placed in <I>Illicium</I>
sect. <I>Badiana</I> by A.&nbsp;C. Smith (1947). The flowers of the species
are pollinated by a variety of insects; fruit set is low (L.&nbsp;B. Thien
et al. 1983). The seeds are dispersed by explosive dehiscence of the follicles
(M.&nbsp;L. Roberts and R.&nbsp;R. Haynes 1983).</P>

<P>This species is cultivated in southeastern
United States (M.&nbsp;A. Dirr 1986) and elsewhere. <I>Illicium mexicanum</I>
A.&nbsp;C. Smith was considered a separate species by A.&nbsp;C. Smith
(1947); expressions of all characters used to differentiate the two species
overlap, however, and it seems best to consider them conspecific.<BR>
</P>

<P><B>