

<P><B>1. ILLICIUM Linnaeus</B>,
Syst. Nat. ed. 10, 2: 1042, 1050, 1370. 1759 - Star-anise [Latin <I>illicere</I>,
to allure]</P>

<P><I>Badianifera</I> Kuntze</P>

<P><B>Leaves</B> sometimes appearing whorled
at ends of branches. <B>Flowers</B> erect to drooping; peduncle smooth
to rugulose; perianth white, yellow, yellow-green, pink, or red to maroon,
often glandular; outer tepals often bractlike and reduced, sometimes ciliolate,
inner tepals often much larger and ligulate, sometimes only slightly larger
and broadly obtuse, innermost often reduced, sometimes transitional to
stamens; pistils orbicular to deltoid, styles narrow and acute, often recurved.
<B>Fruits</B> dark brown, woody to leathery at maturity; peduncle sometimes
thickened. <B>Seeds</B> glossy, dark brown to tawny or golden. <I>x</I>&nbsp;=&nbsp;13,
14.</P>

<P>Species 42 (2 in the flora): North America,
West Indies, Central America, and ne&nbsp;South America; chiefly e&nbsp;Asia.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Dirr, M.&nbsp;A. 1986. Hardy <I>Illicium</I> species display commendable
attributes. Amer. Nurseryman 163: 92-100. Jones, S.&nbsp;B. and N.&nbsp;C.
Coile. 1988. The Distribution of the Vascular Flora of Georgia. Athens,
Ga. Roberts, M.&nbsp;L. and R.&nbsp;R. Haynes. 1983. Ballistic seed dispersal
in <I>Illicium</I> (Illiciaceae). Pl. Syst. Evol. 143: 227-232. Thien,
L.&nbsp;B., D.&nbsp;A. White, and L.&nbsp;Y. Yatsu. 1983. The reproductive
biology of a relict--<I>Illicium floridanum</I> Ellis. Amer. J.&nbsp;Bot.
70: 719-727.</P>

<P><B>