1. <A NAME="03500265"></A><I>Jeffersonia
diphylla</I> (Linnaeus) Persoon</B>, Syn. Pl. 1: 418. 1805 &middot; Twinleaf,
rheumatism-root &middot; E F</P>

<P><I>Podophyllum diphyllum</I> Linnaeus, Sp.
Pl. 1: 505. 1753</P>

<P><B>Leaves:</B> petiole slender, erect, 9-25&nbsp;cm
at anthesis, maturing to 18-43&nbsp;cm. <B>Leaf blade</B> 2-foliolate,
often with minute apiculation between leaflets; leaflets 1.2-4 &times;
0.6-2.5&nbsp;cm at anthesis, maturing to 6-13 &times; 3-7&nbsp;cm, lobes
rounded to acute. <B>Scapes</B> 9-33&nbsp;cm, frequently taller than petioles
at anthesis. <B>Flowers:</B> sepals elliptic to obovate, 7-15 &times; 4-6&nbsp;mm;
petals white, elliptic to obovate, 11-22 &times; 9-12&nbsp;mm; stamens
6-12&nbsp;mm; filaments 2-3&nbsp;mm; anthers 4-9 &times; 1-1.5&nbsp;mm;
ovaries 6-11 &times; 3-7&nbsp;mm. <B>Fruits</B> 18-38 &times; 8-17&nbsp;mm,
leathery, opening transversely, apical quarter resembling lid, becoming
reflexed. <B>Seeds</B> oblong, 4-7 &times; 2&nbsp;mm; aril laciniate, attached
at adaxial side of hilum. 2<I>n</I>&nbsp;=&nbsp;12.</P>

<P>Flowering early spring; fruiting spring. Rich
moist woods to semiopen rocky slopes and outcrops, usually over limestone
or other calcareous rocks; 100-800&nbsp;m; Ont.; Ala., Ga., Ill., Ind.,
Iowa, Ky., Md., Mich., Minn., N.Y., N.C., Ohio, Pa., Tenn., Va., W.Va.,
Wis.</P>

<P>Plants of <I>Jeffersonia diphylla</I> were
used medicinally by Native Americans for treatment of dropsy, gravel and
urinary ailments, and for gall and diarrhea, and in poultices for sores
and ulcers (D.&nbsp;E. Moermann 1986).<BR>
</P>

