

<P><B>8. JEFFERSONIA Barton</B>,
Trans. Amer. Philos. Soc. 3: 342, plate 1. 1793 &middot; [Named for Thomas
Jefferson (1743-1826), third president of the United States]</P>

<P><B>Herbs,</B> perennial, deciduous, 1-4&nbsp;dm,
glabrous. <B>Rhizomes</B> short, producing 4-8 or more leaves per year.
<B>Aerial stems</B> absent. <B>Leaves</B> alternate, 2-foliolate; petiole
long, slender. <B>Leaf blade</B> reniform-orbiculate in overall outline,
1.5-18&nbsp;cm, leaflet margins entire to shallowly lobed; venation palmate.
<B>Inflorescences</B> terminal, solitary flowers borne on scapes. <B>Flowers</B>
4-merous, 15-30&nbsp;mm; bracteoles absent; sepals caducous, (3-)4(-5),
petaloid; petals 8, white [lavender]; stamens 8; anthers dehiscing by 2
apically hinged flaps; pollen exine striate; ovaries obovoid; placentation
marginal; style central. <B>Fruits</B> capsulelike, brownish, obovoid,
with transverse or oblique dehiscence, top forming reflexed lid. <B>Seeds</B>
10-25, red; aril white, not enclosing seed. <I>x</I>&nbsp;=&nbsp;6.</P>

<P>Species 2 (1 in the flora): e&nbsp;North America
and e&nbsp;Asia.<BR>
</P>

<P><B>