

<P><B>17. LARDIZABALACEAE
Decaisne - Lardizabala Family</B></P>

<P><B>Vines</B> [small trees or shrubs], woody,
evergreen or deciduous. <B>Stems</B> without spines. <B>Leaves</B> alternate;
stipules absent [except in <I>Lardizabala</I>]; petioles present. <B>Leaf
blade</B> palmately compound [pinnately compound or 1-3-ternate]. <B>Inflorescences</B>
axillary, racemes, occasionally solitary flowers, flowers pedicellate.
<B>Flowers</B> unisexual, staminate and pistillate on same plants in same
or different inflorescences [staminate and pistillate on different plants
or flowers bisexual, staminate, and pistillate], showy, 3-merous; sepaloid
bracteoles absent; sepals 3-6, distinct, usually petaloid, not spurred;
petals absent [6; nectary present]. <B>Staminate flowers:</B> stamens 6(-8),
distinct [proximally connate]; anthers with 2 pollen sacs, extrorse, dehiscing
longitudinally; pistillodes sometimes present. <B>Pistillate flowers:</B>
staminodes sometimes present; pistils 3-15 in 1-5 whorls of 3 each, 1-carpellate,
1-locular; placentation submarginal or laminar; ovules 100-several hundred
[1-20]; stigma 1, sessile to nearly sessile. <B>Fruits</B> aggregates of
berries or of fleshy follicles (sometimes only 1 pistil maturing). <B>Seeds</B>
[1-]100-several hundred, never stalked; aril absent; endosperm abundant;
embryo small, straight.</P>

<P>Genera ca. 8, species ca. 30 (1 genus, 1 species
in the flora): North America, South America, Asia.</P>

<P>Lardizabalaceae have a disjunct distribution.
Two of the genera--<I>Decaisnea</I> and <I>Lardizabala</I>--are found in
Chile; the others are Asiatic (Himalayas to Vietnam, Japan, and Korea).</P>

<P><B>SELECTED REFERENCES<BR>
</B>Ernst, W. R. 1964. The genera of Berberidaceae, Lardizabalaceae, and
Menispermaceae in the southeastern United States. J. Arnold Arbor. 45:
1-35. Matthews, V. A. 1989. Lardizabalaceae. In: S. M. Walters et al.,
eds. 1984+. The European Garden Flora. 3+ vols. Cambridge etc. Vol. 3,
pp. 396-398. Prantl, K. 1888. Lardizabalaceae. In: H. G. A. Engler and
K. Prantl, eds. 1887-1915. Die nat&uuml;rlichen Pflanzenfamilien.... 254
fasc. Leipzig. Fasc. 19[III,2], pp. 67-70. Spongberg, S. A. and I. H. Burch.
1979. Lardizabalaceae hardy in temperate North America. J. Arnold Arbor.
60: 302-315.<BR>
</P>

