

<P><B>5. LAURACEAE Jussieu
- Laurel Family</B></P>

<P><B>Shrubs to tall trees</B>, evergreen or
rarely deciduous (<I>Cassytha</I> a parasitic vine with leaves reduced
to scales), usually aromatic. <B>Leaves</B> alternate, rarely whorled or
opposite, simple, without stipules, petiolate. <B>Leaf blade:</B> unlobed
(unlobed or lobed in <I>Sassafras</I>), margins entire, occasionally with
domatia (crevices or hollows serving as lodging for mites) in axils of
main lateral veins (in <I>Cinnamomum</I>). <B>Inflorescences</B> in axils
of leaves or deciduous bracts, panicles (rarely heads), racemes, compound
cymes, or pseudoumbels (spikes in <I>Cassytha</I>), sometimes enclosed
by decussate bracts. <B>Flowers</B> bisexual or unisexual, bisexual only,
or staminate and pistillate on different plants, or staminate and bisexual
on some plants, pistillate and bisexual on others; flowers usually yellow
to greenish or white, rarely reddish; hypanthium well developed, resembling
calyx tube, tepals and stamens perigynous; tepals 6(-9), in 2(-3) whorls
of 3, sepaloid, equal or rarely unequal, if unequal then usually outer
3 smaller than inner 3 (occasionally absent in <I>Litsea</I>); stamens
(3-)9(-12), in whorls of 3, but 1 or more whorls frequently staminodial
or absent; stamens of 3d whorl with 2 glands near base; anthers 2- or 4-locular,
locules opening by valves; pistil 1, 1-carpellate; ovary 1-locular; placentation
basal; ovule 1; stigma subsessile, discoid or capitate. <B>Fruits</B> drupes,
drupe borne on pedicel with or without persistent tepals at base, or seated
in &plusmn;&nbsp;deeply cup-shaped receptacle (cupule), or enclosed in
accrescent floral tube. <B>Seed</B> 1; endosperm absent.</P>

<P>Genera ca. 50, species 2000-3000 (9 genera,
13 species in the flora): pantropical, a few species also in subtropical
and temperate regions; best represented in tropical America, Asia.</P>

<P><I>Cassytha</I> is sometimes placed in its
own family, Cassythaceae; it is here retained in Lauraceae.</P>

<P><B>SELECTED REFERENCE<BR>
</B>Wood, C.&nbsp;E. Jr. 1958. The genera of the woody Ranales in the southeastern
United States. J.&nbsp;Arnold Arbor. 39: 296-346.<BR>
</P>

