1.<A NAME="17802589"></A><I>Licaria triandra</I>
(Swartz) Kostermans</B>, Recueil Trav. Bot. N&eacute;erl. 34: 588. 1937
- Gulf triandra - F</P>

<P><I>Laurus triandra</I> Swartz, Prodr., 65.
1788; <I>Acrodiclidium triandrum</I> (Swartz) Lundell; <I>Misanteca triandra</I>
(Swartz) Mez</P>

<P><B>Trees</B>, 8-12&nbsp;m. <B>Leaf blade</B>
narrowly elliptic, 5-15 &times; 2-7&nbsp;cm, base acute, apex slightly
acuminate; surfaces glabrous when mature. <B>Inflorescences</B> to 10&nbsp;cm,
flowers often densely grouped at tips of inflorescence branchlets. <B>Flowers</B>
2-3&nbsp;mm; tepals glabrous; stamens longer than tepals; pistil glabrous.
<B>Drupe</B> to 3&nbsp;cm.</P>

<P>Flowering late winter-spring. In hammocks;
0-10&nbsp;m; Fla.; West Indies; Central America; South America (Andes).<BR>
</P>

