

<P><B>6. LICARIA Aublet</B>,
Hist. Pl. Guiane 1: 313. 1775 - Licari [local name in French Guiana]</P>

<P><I>Acrodiclidium</I> Nees &amp; C.&nbsp;Martius;
<I>Chanekia</I> Lundell; <I>Misanteca</I> Schlechtendal &amp; Chamisso</P>

<P><B>Shrubs or trees</B>, evergreen. <B>Bark</B>
gray [pinkish, purplish, or maroon-brown], smooth with small, wartlike
lenticels. <B>Leaves</B> alternate [rarely opposite or clustered at tips
of branches]. <B>Leaf blade</B> pinnately veined, papery or leathery; surfaces
glabrous or variously pubescent; domatia absent. <B>Inflorescences</B>
appearing when mature leaves are present, axillary, panicles (rarely heads).
<B>Flowers</B> bisexual; tepals deciduous, white or green, equal (rarely
unequal), at anthesis mostly erect, glabrous (or pubescent); stamens 3,
anthers 2-locular, 2-valvate, apical (or introrse); staminodes 9, 6, 3,
or 0; ovary superior, enclosed by deep floral tube. <B>Drupe</B> red or
purple, ellipsoid, seated in deep, usually double-rimmed cupule.</P>

<P>Species ca. 40 (1 in the flora): restricted
to neotropics.</P>

<P><B>SELECTED REFERENCE<BR>
</B>Kurz,&nbsp;H. 1983. Fortpflanzungsbiologie einiger Gattungen neotropischer
Lauraceen und Revision der Gattung <I>Licaria</I> (Lauraceae). Ph.D. thesis.
University of Hamburg.</P>

<P><B>