2.<A NAME="17803774"></A><I>Lindera benzoin</I>
(Linnaeus) Blume</B>, Mus. Bot. 1: 324. 1851 - Spicebush, Benjamin bush
- E</P>

<P><I>Laurus benzoin</I> Linnaeus, Sp. Pl. 1:
370. 1753; <I>Benzoin aestivale</I> (Linnaeus) Nees; <I>Lindera benzoin</I>
var. <I>pubescens</I> (Palmer &amp; Steyermark) Rehder</P>

<P><B>Shrubs or small trees</B>, to 5&nbsp;m.
<B>Young twigs</B> glabrous or sparsely pubescent. <B>Leaves</B> horizontal
to ascending, strongly aromatic (spicy) throughout growing season; petiole
ca. 10&nbsp;mm, glabrous or pubescent. <B>Leaf blade</B> obovate, smaller
blades generally elliptic, (4-)6-15 &times; 2-6&nbsp;cm, membranous, base
cuneate, margins ciliate, apex rounded to acuminate on larger leaves; surfaces
abaxially glabrous to densely pubescent, adaxially glabrous except for
a few hairs along midrib. <B>Drupe</B> oblong, ca. 10&nbsp;mm; fruiting
pedicels of previous season not persistent on stem, slender, 3-5&nbsp;mm,
apex not conspicuously enlarged. 2<I>n</I>&nbsp;=&nbsp;24.</P>

<P>Flowering spring. Stream banks, low woods,
margins of wetlands; uplands, especially with exposed limestone; 0-1200&nbsp;m;
Ont.; Ala., Ark., Conn., Del., D.C., Fla., Ga., Ill., Ind., Kans., Ky.,
La., Maine, Md., Mass., Mich., Miss., Mo., N.H., N.J., N.Y., N.C., Ohio,
Okla., Pa., R.I., S.C., Tenn., Tex., Vt., Va., W.Va.</P>

<P>The flowers of <I>Lindera benzoin</I> have
an unusually sweet fragrance.</P>

<P>Among the Cherokee, Creek, Iroquois, and Rappahannock
tribes, <I>Lindera benzoin</I> was used for various medicinal purposes
(D.&nbsp;E. Moerman 1986).<BR>
</P>

<P><B>