3.<A NAME="17800791"></A><I>Lindera melissifolia</I>
(Walter) Blume</B>, Mus. Bot. 1: 324. 1851 (as <I>melissaefolia</I>) -
C E</P>

<P><I>Laurus melissifolia</I> Walter, Fl. Carol.,
134. 1788; <I>Benzoin melissifolia</I> (Walter) Nees (as <I>melissaefolia</I>)</P>

<P><B>Low shrubs</B>, rarely over 1.5&nbsp;m.
<B>Young twigs</B> pubescent. <B>Leaves</B> drooping, strongly aromatic
(similar to sassafras or root beer) throughout growing season; petiole
ca. 10&nbsp;mm, pubescent. <B>Leaf blade</B> elliptic to ovate, 8-16 &times;
3-6&nbsp;cm, membranous, base rounded to widely cuneate, margins ciliate,
apex acute; surfaces abaxially and adaxially pubescent. <B>Drupe</B> nearly
globose, ca. 12&nbsp;mm; fruiting pedicels of previous season persistent
on stem, stout, 9-12&nbsp;mm, apex enlarged.</P>

<P>Flowering spring. Low woods, depressions,
pond and sink margins; Coastal Plain and Mississippi Embayment; of conservation
concern; 0-100&nbsp;m; Ark., Ga., Miss., Mo., N.C., S.C.</P>

<P><I>Lindera melissifolia</I> has not been seen
in Alabama, Florida, or Louisiana in over a century.</P>

<P>The orthographic variants &quot;<I>melissaefolia</I>&quot;
and &quot;<I>melisaefolium</I>&quot; have sometimes been used.<BR>
</P>

