1.<A NAME="17804863"></A>Lindera subcoriacea</I>
Wofford</B>, J.&nbsp;Arnold Arbor. 64: 325. 1983 - Bog spicebush - C E</P>

<P><B>Shrubs</B>, 2&nbsp;m (to 4&nbsp;m when
shaded). <B>Young twigs</B> pubescent, glabrescent with age. <B>Leaves</B>
horizontal to mostly ascending, faintly aromatic (piny lemon) when young,
becoming essentially odorless with age; petiole 3-10&nbsp;mm, pubescent.
<B>Leaf blade</B> elliptic to oblanceolate, 4-8 &times; 2-4&nbsp;cm, somewhat
leathery, base cuneate, margins ciliate when young, apex obtuse to rounded;
surfaces abaxially pubescent, adaxially pubescent when young, becoming
glabrous with age. <B>Drupe</B> ellipsoid, ca. 10&nbsp;mm; pedicels of
previous season not persistent on stem, slender, to 4&nbsp;mm, apex not
conspicuously enlarged.</P>

<P>Flowering spring. Evergreen-shrub bogs, acidic
swamps of blackwater swamp forests, acidic seepage bogs; Gulf and Atlantic
coastal plains and adjacent Piedmont; of conservation concern; 0-200&nbsp;m;
Ala., Fla., Ga., La., Miss., N.C., S.C., Va.</P>

<P><I>Lindera subcoriacea</I> was described originally
from Mississippi and Louisiana. R.&nbsp;D. McCartney et al. (1989) reported
it from the other sites.<BR>
</P>

<P><B>