

<P><B>1. LINDERA Thunberg</B>,
Nova Gen. Pl. 3: 64. 1783, name conserved - Spicebush [for John Linder,
1676-1723, Swedish botanist]</P>

<P><I>Benzoin</I> Boerhaave ex Schaeffer</P>

<P><B>Shrubs or small trees</B>, deciduous. <B>Bark</B>
grayish, becoming darker with age. <B>Leaves</B> alternate, aromatic when
crushed (at least when young). <B>Leaf blade</B> pinnately veined, membranous
to nearly leathery; surfaces glabrous to densely pubescent; domatia absent.
<B>Inflorescences</B> appearing before leaves, axillary, clusters (pseudoumbels),
clusters subsessile, nearly umbellate, each subtended by 2 pairs of decussate
bracts. <B>Flowers</B> unisexual, staminate and pistillate on different
plants, a few bisexual flowers on some plants; tepals deciduous, yellow,
pellucid-dotted, equal, glabrous. <B>Staminate flowers:</B> stamens 9;
anthers 2-locular, 2-valved, introrse. <B>Pistillate flowers:</B> staminodes
variously developed; ovary globose. <B>Drupe</B> bright red, ellipsoid
to nearly globose, borne on pedicel, with or without persistent tepals
at base. <I>x</I>&nbsp;=&nbsp;12.</P>

<P>Species ca. 100 (3 in the flora): North America,
e&nbsp;Asia.</P>

<P><B>SELECTED REFERENCES<BR>
</B>McCartney, R.&nbsp;D., K.&nbsp;Wurdack, and J.&nbsp;Moore. 1989. The
genus <I>Lindera</I> in Florida. Palmetto 9: 3-8. Steyermark, J.&nbsp;A.
1949. <I>Lindera melissaefolia</I>. Rhodora 51: 153-162. Wofford, B.&nbsp;E.
1983. A new <I>Lindera</I> from North America. J.&nbsp;Arnold Arbor. 64:
325-331.</P>

<P><B><I>