1.<A NAME="19300006"></A><I>Liriodendron
tulipifera</I> Linnaeus</B>, Sp. Pl. 1:
535. 1753 - Yellow-poplar, tulip-poplar, tuliptree, bois-jaune - E F W1</P>

<P><I>Liriodendron procera</I> Salisbury; <I>Tulipifera
liriodendron</I> Miller</P>

<P><B>Trees</B>, single-trunked, to 45 m. <B>Bark</B>
light gray, thick, deeply furrowed. <B>Stipules</B> paired, light green,
elliptic to oblanceolate, 20-45mm; petiole 5-11.5 cm. <B>Leaf blade</B>
commonly with 2 shallow upper lobes and 2 lateral lobes at broadest part,
or sometimes squarrose and barely lobed, (6.5-)7.5-15(-23.5) &times; (8.5-)12.5-18.5(-25.5)
cm; surfaces abaxially glaucous, adaxially bright green. <B>Flowers</B>
campanulate; spathaceous bract 1, brownish, notched; tepals erect, adaxial
orange blotch sometimes gummy, outermost tepals green to glaucous; stamens
20-50, 40-50 mm; filaments white; pistils 60-100. <B>Samaracetums</B> 4.5-8.5
cm, with numerous (1-)2-seeded, imbricate samaras 3-5.5 &times; 0.5-1 cm,
falling separately at maturity; receptacles with basal pistil persistent.
<B>Seeds</B> (1-)2. 2<I>n</I>=38.</P>

<P>Flowering spring. Rich woodlands, bluffs,
low mountains, and hills; 0-1500 m; Ont.; Ala., Ark., Conn., Del., D.C.,
Fla., Ga., Ill., Ind., Ky., La., Md., Mass., Mich., Miss., Mo., N.J., N.Y.,
N.C., Ohio, Pa., R.I., S.C., Tenn., Vt., Va., W.Va.</P>

<P>Leaf and flower color variation are widespread
in this species, but the variation is continuous and without any discernible
taxonomic significance.</P>

<P><I>Liriodendron tulipifera</I> is widely cultivated;
a few cultivars have been introduced to horticulture, and the hybrid <I>L.
tulipifera</I> &times; <I>L. chinense</I> is known. <I>Liriodendron tulipifera</I>
is reported to have escaped from cultivation in Texas, but I have seen
no specimens. The specimens from Barry and Ozark counties, Missouri, may
not be indigenous.</P>

<P><I>Liriodendron tulipifera</I> is the state
tree of both Indiana and Tennessee.</P>

<P>Native American tribes used <I>Liriodendron
tulipifera</I> for making canoes. Cherokee and Rappahannock tribes used
bark of the roots as a bitter tonic and heart stimulant, and it was considered
useful in healing fevers, rheumatism, and digestive disorders (D. E. Moerman
1986).</P>

<P>The largest known tree of <I>Liriodendron
tulipifera</I>, 44.5 m in height with a trunk diameter of 3.02 m, is recorded
from Bedford, Virginia (American Forestry Association 1994).<BR>
</P>

