

<P><B>2. LIRIODENDRON Linnaeus</B>,
Sp. Pl. 1: 535. 1753; Gen. Pl. ed. 5, 239. 1754 - [Greek lirion, lily,
and <I>dendron</I>, tree]</P>

<P><I>Tulipifera</I> Miller</P>

<P><B>Trees</B>, deciduous. <B>Pith</B> diaphragmed.
<B>Leaves</B> distinctly alternate, not in false terminal whorl; stipules
tardily deciduous on summer shoots, free. <B>Leaf blade</B> evenly (2-)4-6(-10)-lobed,
base rounded to shallowly cordate or truncate, apex broadly truncate or
notched; surfaces abaxially glaucous, adaxially lustrous, smooth. <B>Flowers</B>
protogynous, appearing with the leaves; tepals (7-)9, petaloid, tip recurved,
greenish yellow with feathered orange band or blotch near base, outermost
tepals sepaloid, reflexed, green; stamens on short torus, tardily deciduous,
whorled; filaments 1/3-1/2 length of extrorse anthers. <B>Samaras</B> deciduous,
indehiscent, in elongate, spindle-shaped, dry cone. <B>Seeds</B> adherent
to dry endocarp. <I>x</I>=19.</P>

<P>Species 2 (1 in the flora): North America,
e Asia.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Berry, E. W. 1901. The origin of stipules in<I> Liriodendron</I>. Bull.
Torrey Bot. Club 28: 493-498. Santamour, F. S. Jr. and F. G. Meyer. 1971.
The two tuliptrees. Amer. Hort. Mag. 50(2): 87-89.<BR>
</P>

<P><B>