1.<A NAME="17802855"></A><I>Litsea aestivalis</I>
(Linnaeus) Fernald</B>, Rhodora 47: 140.
1945 - Pond-spice - E</P>

<P><I>Laurus aestivalis</I> Linnaeus, Sp. Pl.
1: 370. 1753; <I>Glabraria geniculata</I> (Walter) Britton; <I>Litsea geniculata</I>
(Walter) G.&nbsp;Nicholson</P>

<P><B>Shrubs</B>, to 3&nbsp;m. <B>Branches</B>
glabrous or sparsely pubescent, with typical zigzag shape. <B>Leaf blade</B>
lanceolate or narrowly elliptic, 1.5-4 &times; 0.4-1.5&nbsp;cm, mostly
glabrous; surfaces abaxially frequently with spreading hairs along base
of midrib. <B>Inflorescences</B> in axils of deciduous bracts, flowers
in 4-5-flowered pseudoumbels. <B>Flowers:</B> ca. 6&nbsp;mm diam., from
exposed overwintering buds; tepals yellow. <B>Staminate flowers:</B> stamens
9; pistillode absent. <B>Pistillate flowers:</B> staminodes 9; style slender;
stigma capitate. <B>Drupe</B> red, ca. 10&nbsp;mm.</P>

<P>Flowering late winter-spring. Within basins
of limesinks or other depressional ponds or Carolina bays; 10-200&nbsp;m;
Ala., Fla., Ga., La., Miss., N.C., S.C., Va.</P>

<P><I>Litsea aestivalis</I> is mostly an outer
coastal plain species, although we do have a substantial number of coastal
plain records for the extreme southern Appalachians.<BR>
</P>

