

<P><B>2. LITSEA Lamarck</B>,
Encycl. 3: 574. 1792, name conserved -[Lits&eacute;, the Chinese name for
the plant]</P>

<P><B>Shrubs [or trees]</B>, deciduous [or evergreen].
<B>Leaves</B> alternate, not aromatic. <B>Leaf blade</B> pinnately veined,
rarely with 3 primary veins, leathery; surfaces glabrous or variously pubescent;
domatia absent. <B>Inflorescences</B> appearing with or before new leaves,
axillary, pseudoumbels, subtended by decussate bracts. <B>Flowers</B> unisexual,
staminate and pistillate on different plants; tepals deciduous, yellow,
green, or white, equal, glabrous. <B>Staminate flowers:</B> stamens 9 (or
12); anthers 4-locular, 4-valved, introrse. <B>Pistillate flowers:</B>
staminodes 9 (or 12); ovary globose. <B>Drupe</B> red, globose, seated
in small, single-rimmed cupule.</P>

<P>Species ca. 400 (1 in the flora): North America,
Mexico, Central America, mostly in Asia.</P>

<P>Mexico has four species of <I>Litsea</I>,
one of which extends to Costa Rica in Central America. <I>Litsea</I> merits
revision and, as accepted here, it is probably polyphyletic. It is very
similar to <I>Lindera</I> and best recognized by its 4-locular anthers
(2-locular in <I>Lindera</I>).</P>

<P><B>