1. <A NAME="24000096"></A><I>Macleaya cordata</I> (Willdenow) R.&nbsp;Brown
in D.&nbsp;Denham and H.&nbsp;Clapperton</B>, Narr. Travels Africa, app.,
218. 1826 - F</P>

<P><I>Bocconia cordata</I> Willdenow, Sp. Pl.
2(2): 841. 1799</P>

<P><B>Plants</B> to 25&nbsp;dm. <B>Stems</B>
simple or branching distally. <B>Leaves</B> 10-30 cm long and wide; petiole
2-15(-20)&nbsp;cm; blade broadly ovate-cordate, 7-9-lobed; margins irregularly
and coarsely toothed; abaxial surface usually whitish and densely short-pubescent,
adaxial glabrous. <B>Inflorescences</B> to 30&nbsp;cm or more. <B>Flowers:</B>
pedicels 4-10&nbsp;mm; sepals white to cream colored, spatulate, 5-10&nbsp;mm;
style to ca. 1&nbsp;mm. <B>Capsules</B> oblanceoloid, strongly compressed,
15-20&nbsp;mm, glabrous. <B>Seeds</B> dark brown, reticulate. 2<I>n</I>&nbsp;=&nbsp;20.</P>

<P>Flowering summer. Deciduous woods, thickets,
old fields, ditches, roadsides, pond margins, and along watercourses; 0-800&nbsp;m;
introduced; Ont., Que.; Ala., Conn., Ill., Ind., Maine, Mass., Mich., N.J.,
N.Y., N.C., Ohio, Pa., Va., W.Va.; e&nbsp;Asia.</P>

<P>A garden perennial esteemed for its vegetative
features and large, plumelike inflorescence, <I>Macleaya cordata</I> occasionally
escapes from cultivation, persisting and reproducing fairly successfully.
It might be found almost anywhere in temperate North America east of the
Mississippi River at elevations below 1000&nbsp;m.<BR>
</P>

