

<P><B>3. MACLEAYA R.&nbsp;Brown
in D.&nbsp;Denham and H.&nbsp;Clapperton</B>, Narr. Travels Africa, app.,
218. 1826 - Plume-poppy, tree-celandine [for Alexander Macleay, 1767-1848,
Scottish botanist, entomologist, and Secretary to the Colony of New South
Wales]</P>

<P><B>Herbs</B>, perennial, caulescent, usually
glaucous, from rhizomes; sap yellow. <B>Stems</B> hollow, leafy. <B>Leaves</B>
alternate, petiolate; blade 1-2&times; subpalmately or pinnately lobed.
<B>Inflorescences</B> terminal, paniculate, many-flowered; bracts present.
<B>Flowers:</B> sepals 2, distinct; petals absent; stamens 25-30 [8-12];
pistil 2-carpellate; ovary substipitate, 1-locular; style short; stigma
2-lobed. <B>Capsules</B> nodding, substipitate, 2-valved, dehiscing from
apex. <B>Seeds</B> 4-6 [1], arillate [not arillate]. <I>x</I>&nbsp;=&nbsp;10.</P>

<P>Species 2 (1 in the flora): North America,
Asia (China and Japan).</P>

<P>Native to temperate eastern Asia, <I>Macleaya</I>
has sometimes been merged with neotropical <I>Bocconia</I>, which differs
in having perennial stems, long-stipitate ovaries, fleshy, single-seeded
capsules dehiscing from the base, and much larger seeds. The sap of <I>Macleaya</I>
has been used in traditional Chinese medicine as an antiseptic for wounds
(C.&nbsp;Grey-Wilson 1993).</P>

<P><B>SELECTED REFERENCE<BR>
</B>Hutchinson,&nbsp;J. 1920. <I>Bocconia</I> and <I>Macleaya</I>. Bull.
Misc. Inform. Kew 1920: 275-282.<BR>
<BR>
<BR>
<B>