3.<A NAME="19300031"></A><I>Magnolia fraseri</I>
Walter</B>, Fl. Carol., 159. 1788 - Mountain
magnolia - E F</P>

<P><I>Magnolia auricularis</I> Salisbury; <I>M.
auriculata</I> W.Bartram</P>

<P><B>Trees</B>, deciduous, single-trunked, to
25(-32.6) m. <B>Bark</B> gray to brownish, smooth. <B>Pith</B> homogeneous.
<B>Twigs and foliar buds</B> glabrous. <B>Leaves</B> crowded in terminal
whorl-like clusters; stipules (5.4-)7.6-9.5(-10) &times; 2-6 cm, abaxially
glandular. <B>Leaf blade</B> rhombic-obovate to obovate-spatulate or oblanceolate,
broadest near middle, gradually tapering to base, 20-30(-60) &times; 8-16(-27)
cm, base deeply cordate or auriculate to somewhat truncate, apex obtuse
to acute or somewhat acuminate; surfaces abaxially strongly glaucous, glabrous,
adaxially deep green, glabrous. <B>Flowers</B> fragrant, 16-22 cm across;
spathaceous bracts 2, abaxially glandular; tepals creamy white, the outermost
greenish; stamens 100-200, 8-14 mm; filaments white; pistils 50-90. <B>Follicetums</B>
ellipsoid, 5.5-10 &times; 2.5-5 cm, glabrous; follicles recurved, long-beaked,
glabrous. <B>Seeds</B> lenticular, 7-10 mm, aril red. 2<I>n</I>=38.</P>

<P>Flowering spring. Rich woods and coves; 300-1520m;
Ga., Ky., N.C., S.C., Tenn., Va., W.Va.</P>

<P><I>Magnolia fraseri</I>, a tree of the Appalachian
mountains and upper piedmont, and its close congener <I>M. pyramidata</I>,
of the lower piedmont and coastal plain, are sometimes confused taxonomically,
but they differ in a series of good characters. Some investigators have
treated them as geographic varieties or subspecies of<I> M. fraseri</I>.
<I>Magnolia fraseri</I> differs from <I>M. pyramidata</I> in being a much
larger tree with wide-speading branches, different leaf shape, larger flowers,
more numerous stamens, and larger follicetums. In their present geographic
distribution, these taxa are allopatric. In some localities <I>M. fraseri</I>
may be abundant, as in the area near Sugar Grove, Smythe County, Virginia,
where hundreds of specimens occur. It is a desirable flowering tree, occasionally
cultivated.</P>

<P>The largest known tree of <I>Magnolia fraseri</I>,
32.6m in height with a trunk diameter of 94 cm, is recorded from Great
Smoky Mountains National Park, Tennessee (American Forestry Association
1994).<BR>
</P>

<P><B>