2.<A NAME="19300030"></A><I>Magnolia ashei</I>
Weatherby</B>, Rhodora 28: 35. 1926 -
Ashe's magnolia - C E F</P>

<P><I>Magnolia macrophylla</I> Michaux subsp.<I>
ashei</I> (Weatherby) Spongberg;<I> M. macrophylla </I>var. <I>ashei </I>(Weatherby)
D.L. Johnson</P>

<P><B>Trees</B>, deciduous, often multitrunked,
to 10(-12) m. <B>Bark</B> dark gray, smooth. <B>Pith</B> homogeneous. <B>Twigs
and foliar buds</B> silky-pubescent. <B>Leaves</B> crowded in terminal
whorl-like clusters; stipules 6-8 &times; 3-4 cm, abaxially pilose, glandular.
<B>Leaf blade</B> broadly elliptic to obovate-oblong, (17-)25-46(-56) &times;
(10-)15-30(-40) cm, base truncate to deeply cordate or auriculate, apex
acute to short-acuminate; surfaces abaxially chalky white or pale green
to glaucous, pilose, adaxially deep green, glabrous. <B>Flowers</B> solitary
or often in pairs on adjacent twigs, fragrant, 15-38(-50) cm across; spathaceous
bracts 2, outer bract abaxially rusty gray, inner bract glabrous; tepals
creamy white, glandular, innermost whorl purple-blotched at base, outermost
segments strongly reflexed, greenish; stamens 170-350, 13-20 mm; filaments
white; pistils 20-50. <B>Follicetums</B> cylindric to nearly ovoid, 2.5-6.5
&times; 1.5-4 cm; follicles short-beaked, distally appressed silky-pubescent.
<B>Seeds</B> lenticular to somewhat globose, 8-10 mm, aril orange-red.
2<I>n</I>=38.</P>

<P>Flowering spring. Woodlands, ravines, and
bluffs; coastal plain; of conservation concern; 0-50m; Fla.</P>

<P><I>Magnolia ashei</I>, the rarest species
of <I>Magnolia</I> in the flora, is limited to six counties in the Florida
panhandle; it is in danger of extirpation because of habitat disturbance.
<I>Magnolia ashei</I> differs from <I>M. macrophylla</I> in being a smaller,
often multitrunked tree with smaller leaves, fewer stamens and pistils,
smaller seeds, smaller stipules, filiform trichomes, and smaller, nearly
glabrous, cylindric follicetums. The flowers are often borne in pairs.
<I>Magnolia ashei</I> flowers at an early age (three to four years from
seed); it is a desirable small tree in cultivation.<BR>
</P>

<P><B>