

<P><B>1. MAGNOLIACEAE Jussieu
- Magnolia Family</B></P>

<P><B>Trees or shrubs</B>, deciduous or evergreen,
aromatic. <B>Pith</B> homogeneous or diaphragmed. <B>Leaves</B> alternate,
simple, petiolate; stipules early or tardily deciduous, at first surrounding
stem, adnate on adaxial side of petiole (free in<I> Magnolia grandiflora</I>),
often ochreate, leaving persistent annular scar around node. <B>Leaf blade</B>
pinnately veined, unlobed (or evenly 2-10-lobed in<I> Liriodendron</I>),
margins entire. <B>Inflorescences</B> terminal, solitary flowers (often
paired in<I> Magnolia ashei</I>), pedunculate; spathaceous bracts 2<I>
(Magnolia</I>) or 1 <I>(Liriodendron</I>). <B>Flowers:</B> perianth hypogynous,
segments imbricate; tepals deciduous, 6-18, in 3 or more whorls of 3, &plusmn;
similar or outer tepals sepaloid, inner tepals petaloid; stamens numerous,
hypogynous, free, spirally arranged; filaments very short to 1/2 length
of anthers; anthers introrse, latrorse, or extrorse, longitudinally dehiscent;
connective with distal appendage; pistils numerous, superior, spirally
arranged on elongate receptacle (torus), stalked or sessile, free or &plusmn;concrescent,
1-locular; placentation marginal, placenta 1; ovules 1-2; style 1, short
and recurved <I>(Magnolia</I>) or large and winglike <I>(Liriodendron</I>);
stigma 1, terminal or terminal decurrent <I>(Magnolia</I>) or recurved
<I>(Liriodendron</I>). <B>Fruits</B> conelike syncarps consisting of aggregates
of coalescent, woody follicles (follicetums, as in <I>Magnolia</I>) or
apocarps consisting of aggregates of indehiscent samaras (samaracetums,
as in <I>Liriodendron</I>). <B>Seeds</B> 1-2 per pistil, arillate, endosperm
oily <I>(Magnolia</I>), or without aril, adherent to dry endocarp (<I>Liriodendron</I>).</P>

<P>Genera ca. 6(-12), species ca. 220 (2 genera,
9 species in the flora): mostly in Asia, the Pacific Islands, and the Western
Hemisphere.</P>

<P>Magnoliaceae are pollinated by beetles.</P>

<P>Herbarium material of <I>Magnolia</I> is usually
incomplete and inadequate for critical study. Collections should include
material of the stipules, spathaceous bracts, a full complement of stamens,
and all of the perianth segments to facilitate identification of <I>Magnolia</I>
species.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Canright, J. E. 1960. The comparative morphology and relationships
of the Magnoliaceae. III. Carpels. Amer. J. Bot. 47(2): 145-155. Demuth,
P. and F. S. Santamour Jr. 1978. Carotenoid flower pigments in<I> Liriodendron</I>
and<I> Magnolia</I>. Bull. Torrey Bot. Club 105(1): 65-66. Hardin, J. W.
and K. A. Jones. 1989. Atlas of foliar surface features in woody plants,
X. Magnoliaceae of the United States. Bull. Torrey Bot. Club 116(2): 164-173.
Nooteboom, J. P. 1985. Notes on Magnoliaceae. Blumea 31: 65-121. Praglowski,
J. 1974. Magnoliaceae Juss. Taxonomy by J. E. Dandy. World Pollen Spore
Fl. 3: 1-48. Sargent, C. S. 1890-1902. The Silva of North America.... 14
vols. Boston and New York. Vol. 1, pp. 1-20. Spongberg, S. A. 1976. Magnoliaceae
hardy in temperate North America. J. Arnold Arbor. 57: 250-312. Wood, C.
E. Jr. 1958. The genera of the woody Ranales in the southeastern United
States. J. Arnold Arbor. 39: 296-346.</P>

