1.<A NAME="19300032"></A><I>Magnolia macrophylla</I>
Michaux</B>, Fl. Bor.-Amer. 1: 327. 1803
- Bigleaf magnolia - E F</P>

<P><I>Magnolia michauxiana</I> de Candolle</P>

<P><B>Trees</B>, deciduous, single-trunked, to
15(-32) m. <B>Bark</B> yellowish to gray, smooth. <B>Pith</B> homogeneous.
<B>Twigs and foliar buds</B> silky-pubescent. <B>Leaves</B> crowded in
terminal whorl-like clusters; stipules (9-)11-17 &times; 3-6.5 cm, abaxially
pilose, glandular. <B>Leaf blade</B> broadly elliptic to obovate-oblong,
50-110 &times; 15-30 cm, base truncate to deeply cordate or auriculate,
apex acute to short-acuminate or obtuse; surfaces abaxially chalky white,
sometimes pale green to glaucous, pilose, adaxially deep green, glabrous.
<B>Flowers</B> solitary, fragrant, 35-40(-50) cm across; spathaceous bracts
2, outer bract abaxially rusty gray, inner bract thinner, glabrous; tepals
creamy white, glandular, innermost whorl purple-blotched at base, outermost
segments strongly reflexed, greenish; stamens (300-)350-580, 12.5-24.5
mm; filaments white; pistils 50-80. <B>Follicetums</B> globose-ovoid, 5-8
&times; 5-7 cm; follicles short-beaked, distally appressed silky-pubescent.
<B>Seeds</B> &plusmn; ovoid, 10-12 mm, pointed, aril orange-red. 2<I>n</I>=38.</P>

<P>Flowering spring. Alluvial woods and sheltered
valleys, piedmont; 150-300 m; Ala., Ark., Ga., Ky., La., Miss., N.C., Ohio,
Tenn., Va.</P>

<P>The disposition of<I> Magnolia macrophylla</I>
and its close relative <I>M. ashei</I> has been perplexing since <I>M.
ashei </I>was described. Some investigators have treated them as geographic
varieties or subspecies, and this has some questionable merit. In the foliar
state <I>M. macrophylla</I> is hardly, if at all, distinguishable from
<I>M. ashei</I>, but in other morphologic details of flower and fruit,
they are readily distinguished. They also differ in the floral odors, which
are distinct and chemically different (L.B. Thien et al. 197). <I>Magnolia
macrophylla</I> and <I>M. ashei</I> are allopatric. <I>Magnolia macrophylla
</I>is a much larger, usually single-trunked tree of the piedmont with
a wider distribution, larger leaves, more stamens, larger stipules, and
both filiform and flagelliform trichomes on the leaves. The follicetum
is nearly globose-ovoid, with more pistils and larger seeds<I>. Magnolia
macrophylla </I>produces the largest leaves and flowers of any species
of the genus.</P>

<P>In Arkansas<I> Magnolia macrophylla</I> was
known from a single disjunct locality in Clay County, where only two trees
were recorded in 1981 (R.B. Figlar 1981). A survey in 1995 failed to locate
the species in the same site.</P>

<P>This handsome tree is occasionally cultivated.
A close relative, <I>M. dealbata</I> Zuccarini, occurs in Mexico.</P>

<P>The largest known tree of <I>Magnolia macrophylla</I>,
32m in height with a trunk diameter of 53 cm, is recorded from Daniel Boone
National Forest, Tight Hollow, Kentucky (American Forestry Association
1994).</P>

<P>The Cherokee tribe used <I>Magnolia macrophylla</I>,
mainly the bark, as an analgesic, antidiarrheal, gastrointestinal aid,
respiratory aid, and toothache remedy (D.E. Moerman 1986).<BR>
</P>

<P><B>