4.<A NAME="19300034"></A><I>Magnolia pyramidata</I>
W. Bartram</B>, Travels Carolina, 408.
1791 - Pyramid magnolia - E F</P>

<P><I>Magnolia auriculata</I> W.Bartram var.
<I>pyramidata</I> (W.Bartram) Nuttall; <I>M. fraseri</I> Walter subsp.
<I>pyramidata</I> (W.Bartram) E. Murray; <I>M. fraseri</I> var. <I>pyramidata
</I>(W.Bartram) Pampanini; <I>M. macrophylla</I> Michaux var. <I>pyramidata</I>
Nuttall</P>

<P><B>Trees</B>, deciduous, single-trunked, to
11.9 m. <B>Bark</B> gray, smooth. <B>Pith</B> homogeneous. <B>Twigs and
foliar buds</B> glabrous. <B>Leaves</B> crowded in terminal whorl-like
clusters; stipules 5.4-7 &times; 2.5-3 cm, abaxially glandular. <B>Leaf
blade</B> predominantly pandurate to broadly rhombic-spatulate, broadest
above middle, abruptly tapering to base, 18-25(-30) &times; 7.8-14 cm,
base deeply cordate to auriculate, or somewhat truncate, apex acute to
short-acuminate; surfaces abaxially glaucous, glabrous, adaxially dull
deep green. <B>Flowers</B> fragrant, 12-18 cm across; spathaceous bracts
2, abaxially glandular; tepals creamy white; stamens 83-137(-150), 4.5-8(-10.5)
mm; filaments white; pistils 36-60. <B>Follicetums</B> ellipsoid, 4-6 &times;
2.5-3.5 cm, glabrous; follicles recurved, short-beaked, glabrous. <B>Seeds</B>
lenticular, 7-8 mm, aril red. 2<I>n</I>=38.</P>

<P>Flowering spring. Rich woods and river bluffs,
mostly coastal plain, sometimes lower piedmont; 0-120m; Ala., Fla., Ga.,
La., Miss., S.C., Tex.</P>

<P>Confined largely to the coastal plain,<I>
Magnolia pyramidata</I> differs from the allopatric <I>M. fraseri</I> in
being a smaller tree with a narrower, pyramidal habit; <I>M. pyramidata</I>
is very local and nowhere abundant. Morphologically,<I> M. pyramidata</I>
differs from<I> M. fraseri</I> in the pandurate leaf blades, smaller flowers
and stipules, fewer stamens and pistils, and smaller follicetums. <I>Magnolia
pyramidata</I> is occasionally cultivated, but it is less hardy than <I>M.
fraseri.</I></P>

<P>The largest known tree of<I> Magnolia pyramidata</I>,
11.9m in height with a trunk diameter of 69 cm, is recorded from Newton
County, Texas (American Forestry Association 1994).<BR>
</P>

<P><B>