8.<A NAME="19300029"></A><I>Magnolia acuminata</I>
(Linnaeus) Linnaeus</B>, Syst. Nat. ed.
10, 2: 1082. 1759 - Cucumber-tree - E</P>

<P>Magnolia virginiana Linnaeus var. (e) <I>acuminata</I>
Linnaeus, Sp. Pl. 1: 536. 1753; <I>Kobus acuminata</I> (Linnaeus) Nieuwland;
<I>Magnolia acuminata</I> var.<I> alabamensis</I> Ashe<I>; M. acuminata</I>
var<I>. aurea (</I>Ashe) Ashe;<I> M. acuminata</I> subsp.<I> cordata</I>
(Michaux) E. Murray;<I> M. acuminata</I> var.<I> cordata</I> (Michaux) Seringe;<I>
M. acuminata</I> var.<I> ludoviciana</I> Sargent; <I>M. acuminata</I> var.<I>
ozarkensis</I> Ashe; <I>M. acuminata</I> var. <I>subcordata</I> (Spach)
Dandy; <I>M. cordata</I> Michaux;<I> Tulipastrum acuminatum</I> (Linnaeus)
Small; <I>T.acuminatum</I> var.<I> aureum</I> Ashe; <I>T.acuminatum</I>
var. <I>flavum</I> Small; <I>T.acuminatum</I> var.<I> ludovicianum</I>
(Sargent) Ashe; <I>T.acuminatum</I> var.<I> ozarkense</I> (Ashe) Ashe;
<I>T.americanum</I> Spach; <I>T.americanum</I> var.</P>
<I>subcordatum </I>Spach;<I> T.cordatum</I> (Michaux) Small<B> 

<P><B>Trees</B>, deciduous, single-trunked, to
30 m. <B>Bark</B> dark gray, furrowed. <B>Pith</B> homogeneous. <B>Twigs</B>
and foliar buds</B> silvery-pubescent. <B>Leaves</B> distinctly alternate,
not in terminal whorl-like clusters; stipules 3.2-4.3 &times; 1.4-1.6 cm,
abaxially pilose. <B>Leaf blade</B> broadly ovate-elliptic, oblong to oblong-obovate,
rarely somewhat rotund, (5-)10-25(-40) &times; 4-15(-26) cm, base cuneate
to truncate or broadly rounded, often somewhat oblique, apex acuminate;
surfaces abaxially pale green to whitish, pilose to nearly glabrous, adaxially
green, glabrous or rarely scattered pilose. <B>Flowers</B> slightly aromatic,
6-9 cm across; spathaceous bracts 2, abaxially silky-pubescent; tepals
erect, strongly glaucous to greenish or sometimes yellow to orange-yellow,
outermost tepals reflexed, much shorter, green; stamens (50-)60-122(-139),
5-13 mm; filaments white; pistils (35-)40-45(-60). 
<B>Follicetums</B> oblong-cylindric,
often asymmetric, 2-7 &times; 0.8-2.7 cm; follicles short-beaked, glabrous.
<B>Seeds</B> heart-shaped, somewhat flattened to somewhat globose, 9-10
mm, smooth, aril reddish orange. 2<I>n</I>=76.</P>

<P>Flowering spring. Rich woods, slopes, and ravines, often along streams; 
0-1400m; 
Ont.; Ala., Ark., Fla., Ga., Ill., Ind., Ky., La., Md., Miss., Mo., N.Y., 
N.C., Ohio, Okla., Pa., S.C., Tenn., Va., W.Va.</P>

<P>The vernacular name, cucumber-tree, alludes
to the resemblance of the follicetum to the young fruit of cucumber. It
is the only magnolia species in the flora that occurs naturally in Canada.</P>

<P>Studies of <I>Magnolia acuminata</I> have
failed to reconcile the nature of variation in this widespread species.
In an attempt to settle differences in variation patterns, J.W. Hardin
(1954) recognized four infraspecific taxa in <I>M. acuminata</I>. Later
(1972, 1989) Hardin abandoned his earlier views for a more conservative
stance, stating that variation in <I>M. acuminata</I> lacked any consistent
pattern or geographic correlation. This is the view taken here--no infraspecific
taxa are accepted for<I> M. acuminata</I> at this time. Its flowers are
normally greenish and glaucous or sometimes yellow to orange-yellow, less
showy than those of other magnolias in the flora. In southern areas, trees
with yellow to orange-yellow flowers (originally described by Michaux as
<I>M. cordata</I>) occur in North Carolina, Georgia, Alabama, and perhaps
elsewhere, together with trees that bear normal greenish flowers. Both
filiform and flagelliform trichomes occur on the leaves; cylindric trichomes
also occur.</P>

<P><I>Magnolia acuminata</I> is of value to horticulturists
because no other species of the genus has yellow tepals<I>. Magnolia acuminata</I>
contains major quantities of xanthophyll lutein-5,6-epoxide and, in smaller
amounts, acarotene-5,6-epoxide. Although this carotenoid occurs randomly
throughout populations of <I>M. acuminata</I>, often it is masked by chlorophyll
and not visibly expressed. Sometimes the carotenoid pigment shows through,
as in the hybrid <I>M. acuminata</I> &times; <I>M. denudata</I> 'Elizabeth'.
In that cross the<I> M. acuminata</I> parent tree was a nondescript plant
with greenish flowers; yet out of this hybrid came 'Elizabeth', a stunning
plant with light canary yellow flowers, a result completely unexpected.
A thorough field study of <I>M. acuminata</I> is clearly warranted, and
further investigation of the carotenoid flower pigments is needed to clarify
the taxonomy of this widespread tree.</P>

<P>The largest known tree of <I>Magnolia acuminata</I>,
29.6m in height with a trunk diameter of 1.26m, is recorded from a specimen
cultivated in Waukon, Iowa (American Forestry Association 1994).</P>

<P>The Cherokee and Iroquois tribes used <I>Magnolia
acuminata<U>,</U></I> largely the bark, as an analgesic, antidiarrheal,
gastrointestinal aid, anthelmintic, toothache remedy, and for various other
uses (D.E. Moerman 1986).<BR>
</P>

