6.<A NAME="19300037"></A><I>Magnolia virginiana</I>
Linnaeus</B>, Sp. Pl. 1: 535. 1753 - Sweet-bay,
swamp-bay, laurier doux - E</P>

<P><I>Magnolia australis</I> Ashe; <I>M. australis</I>
var.<I> parva</I> (Ashe) Ashe;<I> M. fragrans</I> Rafinesque 1817, not
Salisbury 1796; <I>M. glauca</I> (Linnaeus) Linnaeus; <I>M. glauca</I>
var.<I> pumila</I> Nuttall; <I>M. virginiana</I> subsp. <I>australis</I>
(Sargent) E. Murray; <I>M. virginiana</I> var.<I> australis</I> Sargent;<I>
M. virginiana</I> var<I>. glauca</I> Linnaeus; <I>M. virginiana</I> var.<I>
grisea</I> Linnaeus; <I>M. virginiana</I> var.<I> parva</I> Ashe</P>

<P><B>Shrubs or small trees</B>, evergreen to
partly evergreen or deciduous, multitrunked to 10m, or single-trunked to
28 m. <B>Bark</B> dark gray, smooth. <B>Pith</B> diaphragmed. <B>Twigs and
foliar buds</B> silky-pubescent, sometimes glabrous. <B>Leaves</B> distinctly
alternate, not in terminal whorl-like clusters; stipules 3-5.5(-6) &times;
0.3-0.5 cm, abaxially brownish puberulent, red-glandular. <B>Leaf blade</B>
oblong to elliptic, ovate to obovate, 6-22 &times; 2.6-7 cm, somewhat leathery,
base cuneate, apex obtuse to acute or rounded to somewhat acuminate; surfaces
abaxially chalky white to glaucous, glabrous or densely silky-pubescent,
adaxially dull green to lustrous. <B>Flowers</B> fragrant, 5-8 cm across;
spathaceous bracts 2, outer bract abaxially silky-pubescent, inner bract
nearly glabrous, red-glandular; tepals creamy white, red-glandular, outermost
segments reflexed, greenish; stamens (32-)63-90(-102), 5.5-11 mm; filaments
white; pistils (9-)19-33(-50). <B>Follicetums</B> ellipsoid to nearly globose,
2-5.5 &times; 1.5-3 cm; follicles short-beaked, glabrous. <B>Seeds</B>
somewhat globose to lenticular, 5 mm, aril red. 2<I>n</I>=38.</P>

<P>Flowering spring. Swamps, bays, low wet woods,
savannahs; chiefly in coastal plain and lower piedmont; 0-540 m; Ala.,
Ark., Del., D.C., Fla., Ga., La., Md., Mass., Miss., N.J., N.Y., N.C.,
Pa., S.C., Tenn., Tex., Va.</P>

<P>The most widely distributed species of Magnolia
in the flora,<I> M. virginiana</I> occurs in two growth forms: deciduous
and often multitrunked northward, and typically single-trunked and evergreen
in the southern range. Where these forms overlap geographically in North
Carolina and adjacent areas, intergradation occurs, and the identification
of these intergrades is difficult, if not impossible. It has been impossible
to pinpoint their occurrence in the zone of overlap. Herbarium specimens
cannot be trusted to resolve this dilemma. Both filiform and flagelliform
trichomes occur on the leaves, but these are without taxonomic significance.
Some investigators have treated these habital variants as geographic varieties
or as subspecies, but infraspecific taxa are not recognized here. Without
other defining characteristics and no clear geographic correlation, infraspecific
taxa have little significance or taxonomic value in <I>M. virginiana</I>.
A thorough field study is needed to clarify the taxonomy of this otherwise
well-known plant.</P>

<P><I>Magnolia virginiana</I> is widely cultivated.
It was the first magnolia known in Europe, dating from 1688 in England.
A few cultivars of both the deciduous and evergreen forms are now grown
in cultivation. <I>Magnolia virginiana</I> is a parent of several hybrids,
including the first known magnolia hybrid,<I> M</I>.&times; thompsoniana
(Loudon) C. de Vos (=<I>M. virginiana</I> &times; <I>M. tripetala</I>), dating
to 1808. Other hybrids include the so-called Freeman hybrids of <I>M. grandiflora</I>
&times; <I>M. virginiana</I> and <I>M.  virginiana</I> &times; <I>M. hypoleuca</I>
with its cultivar 'Nimbus'.</P>

<P>The largest known tree <I>of Magnolia virginiana</I>
(the evergreen form), 28m in height with a trunk diameter of 1.4m, is recorded
from Union County, Arkansas (American Forestry Association 1994).</P>

<P>The Houma and Rappahannock tribes used decoctions
of leaves, twigs, and bark of <I>Magnolia virginiana</I> to treat colds
and chills, to warm the blood, and as a hallucinogen (D.E. Moerman 1986).<BR>
</P>

<P><B>