7.<A NAME="19300008"></A><I>Magnolia grandiflora</I>
Linnaeus</B>, Syst. Nat. ed. 10, 2: 1082.
1759 - Southern magnolia, bull-bay, laurier tulipier - E</P>

<P><I>Magnolia ferruginea</I> Z.Collins ex Rafinesque;
<I>M. foetida</I> (Linnaeus) Sargent; <I>M. lacunosa</I> Rafinesque; <I>M. virginiana</I>
Linnaeus var. <I>foetida </I>Linnaeus</P>

<P><B>Trees</B>, evergreen, single-trunked, to
37 m. <B>Bark</B> gray, rough, thick, furrowed in thick plates. <B>Pith</B>
diaphragmed. <B>Twigs and foliar buds</B> densely red- or white-hairy.
<B>Leaves</B> distinctly alternate, not in terminal whorl-like clusters;
stipules 2, free, 4.5-13 &times; 1.5-3.5 cm, abaxially densely brown-silky,
sometimes deeply notched. <B>Leaf blade</B> narrowly to broadly elliptic
or oblanceolate, (7.5-)13-20(-26) &times; (4.5-)6-10(-12.5) cm, thick-leathery,
base narrowly cuneate, apex abruptly tapered and acute to short-acuminate,
rarely obtuse; surfaces abaxially glabrous to densely red-brown felted,
adaxially bright green, lustrous, glabrous. <B>Flowers</B> strongly lemony
fragrant, 15-30(-45) cm across; spathaceous bracts 2, leathery, outer bract
abaxially brown to grayish pilose, deeply notched, smaller, inner bract
adaxially densely brown to grayish pilose, shallowly notched, larger; tepals
creamy white; stamens (179-)213-383(-405), 16-29 mm; filaments purple;
pistils (45-)55-81(-89). <B>Follicetums</B> cylindric to somewhat obovoid,
7-10 &times; 3.5-5 cm; follicles beaked, sparsely to densely silky-villous.
<B>Seeds</B> lenticular to narrowly ellipsoid, (9-)12-14 mm, adaxially
slightly grooved, aril red. 2<I>n</I>=114.</P>

<P>Flowering spring. Wooded dunes, hammocks,
river bottoms, mesic woods, and ravine slopes; coastal plain; 0-120m; Ala.,
Ark., Fla., Ga., La., Miss., N.C., S.C., Tex.</P>

<P><I>Magnolia grandiflora</I> (a hexaploid)
is highly variable, especially the leaves, which range from glabrous to
densely red-brown felted on the abaxial surface. It is the only magnolia
species in the flora with free stipules, and the inner spathaceous bract
is unique among <I>Magnolia</I> taxa in the flora. Curled filiform trichomes
occur on the abaxial leaf surface. In the wild, hybrids with <I>M. virginiana</I>
(a diploid) have been reported but not confirmed by the present author.
The compatibility of these taxa is well known from the Freeman hybrid,
a highly sterile tetraploid growing at the U.S. National Arboretum in Washington,
D.C. In crosses using the hexaploid <I>M. grandiflora</I>, this parent is
dominant and nearly masks the other parent.</P>

<P><I>Magnolia grandiflora</I> is an escape,
and it naturalizes in the tidewater area of Virginia and locally elsewhere
beyond its natural range in the southeastern United States. It ranks among
the noblest of North American broadleaved trees and is cultivated widely
in the United States and in many other countries. A large number of cultivars
have been introduced to horticulture.</P>

<P>Southern magnolia (<I>Magnolia grandiflora</I>)
is the state tree of both Louisiana and Mississippi.</P>

<P>The largest known tree of Magnolia grandiflora,
37.2m in height with a trunk diameter of 1.97m, is recorded from Smith
County, Mississippi (American Forestry Association 1994).</P>

<P>The Choctaw and Koasati tribes used the bark
of <I>Magnolia grandiflora</I> as dermatological and kidney aids (D.A.
Moerman 1986).</P>

<P><B>