5.<A NAME="19300036"></A><I>Magnolia tripetala</I>
(Linnaeus) Linnaeus</B>, Syst. Nat. ed.
10, 2: 1082. 1759 - Umbrella-tree - E</P>

<P><I>Magnolia virginiana</I> Linnaeus var. (d)<I>
tripetala</I> Linnaeus, Sp. Pl. 1: 536. 1753; <I>Kobus tripetala</I> (Linnaeus)
P. Parmentier; <I>Magnolia frondosa</I> Salisbury; <I>M. umbrella</I> Desrousseaux;<I>
M. umbrella</I> var. <I>tripetala</I> (Linnaeus) P.Parmentier</P>

<P><B>Trees</B>, deciduous, often multitrunked,
to 15 m. <B>Bark</B> gray, smooth. <B>Pith</B> homogeneous. <B>Twigs and
foliar buds</B> glabrous. <B>Leaves</B> crowded in terminal whorl-like
clusters; stipules (4-)6.6-9.4(-10) &times; 2.6-3.7 cm, abaxially red glandular,
sparsely pilose. <B>Leaf blade</B> elliptic-oblong to narrowly obovate,
or oblanceolate, (10-)26-57(-70) &times; (7.2-)10-30 cm, thin, broadest
near middle, base cuneate to long-tapered, apex very short to long-acuminate
or abruptly acute, rarely apiculate; surfaces abaxially densely pilose,
especially on midvein, adaxially green, glabrous. <B>Flowers</B> malodorous,
5.5-11 cm across; spathaceous bracts 2, abaxially glandular; tepals spreading,
creamy white, outermost whorl sepaloid, reflexed, greenish; stamens 81-103(-115),
8-17 mm; filaments purple; pistils (45-)53-66(-73). <B>Follicetums</B>
cylindric to ovoid-cylindric, 6-10 &times; 2-3.5 cm; follicles long-beaked,
glabrous. <B>Seeds</B> lenticular to nearly ovoid, 9-12 mm, aril deep pink
to red. 2<I>n</I>=38.</P>

<P>Flowering spring. Rich woods and ravines,
mainly in uplands, rarely coastal plain; 0-1065m; Ala., Ark., Fla., Ga.,
Ind., Ky., Md., Miss., N.C., Ohio, Okla., Pa., S.C., Tenn., Va., W.Va.</P>

<P>In Virginia <I>Magnolia tripetala</I> is a
disjunct in the coastal plain.</P>

<P>The malodorous flowers of Magnolia tripetala
are uniquely associated with this species. The tree is occasionally cultivated.
Both filiform and flagelliform trichomes occur on the leaves. Sometimes
cylindric trichomes also occur.</P>

<P>The largest known tree of <I>Magnolia tripetala</I>,
15.2m in height with a trunk diameter of 87 cm, is recorded from Bucks
County, Pennsylvania (American Forestry Association 1994).<BR>
</P>

<P><B>