

<P><B>1. MAGNOLIA Linnaeus</B>,
Sp. Pl. 1: 535. 1753; Gen. Pl. ed. 5, 240. 1754 - [For Pierre Magnol (1638-1715),
professor and director of the botanical garden at Montpellier, France]</P>

<P><I>Kobus</I> Nieuwland; <I>Tulipastrum</I>
Spach</P>

<P><B>Trees or shrubs</B>, deciduous or evergreen.
<B>Pith</B> homogeneous or diaphragmed. <B>Leaves</B> distinctly alternate
or sometimes crowded in terminal whorl-like clusters; stipules early deciduous,
free or adnate to and proximal on petiole. <B>Leaf blade:</B> base deeply
cordate or auriculate or cuneate to abruptly narrowed or rounded, margins
entire, apex obtuse or acute to acuminate; surfaces abaxially chalky white
or green to glaucous, pubescent or glabrous. <B>Flowers</B> protogynous,
appearing with or before leaves; tepals 9-15, petaloid, usually spreading,
creamy white, rarely greenish, yellow, or orange-yellow, outermost tepals
sepaloid, sometimes strongly reflexed, greenish; stamens on elongate torus,
early deciduous; filaments white or purple, very short; anthers introrse
or latrorse. <B>Follicles</B> persistent, coalescent, forming conelike
aggregate, abaxially dehiscent. <B>Seeds</B> with red, pink, or orange
oily aril, extruded from follicles and suspended by funiculi. <I>x</I>=19.</P>

<P>Species ca. 120 (8 in the flora): temperate
and tropical regions, Western Hemisphere, Asia (Himalayas, China, Japan,
Taiwan, Malaysia, and Indonesia).</P>

<P>All species of<I> Magnolia</I> in the flora
are cultivated. Many of the Asiatic taxa are also grown in the flora area.
Numerous hybrids and cultivars from those taxa have been introduced to
horticulture.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Callaway, D.J. 1994. The World of Magnolias. Portland. Coker, W.C.
1943<I>. Magnolia cordata</I> Michaux. J.Elisha Mitchell Sci. Soc. 59:
81-88. Dandy, J.E. Notes on <I>Magnolia </I>and related genera. Unpublished
manuscript. Botany Department, The Natural History Museum. London. Heiser,
C.B. 1962. Some observations on pollination and compatibility in<I> Magnolia</I>.
Proc. Indiana Acad. Sci. 72: 259-266. Johnson, D.L. 1989. Species and Cultivars
of the Genus <I>Magnolia</I> (Magnoliaceae) Cultivated in the United States.
M.S. thesis. Cornell University. Johnson, D.L. 1989b. Nomenclatural changes
in<I> Magnolia</I>. Baileya 23(1): 55-56. McDaniel, J.C. 1966. Variations
in the sweet bay magnolias. Morris Arbor. Bull. 17(1): 7-12. Millais, J.G.
1927. Magnolias. London. Rockwell, H.C. 1966. The Genus<I> Magnolia</I>
in the United States. M.S. thesis. West Virginia University. Santamour,
F.S.Jr. 1969b. Cytology of<I> Magnolia</I> hybrids. I. Morris Arbor. Bull.
20(4): 63-65. Thien, L.B. 1974. Floral biology of<I> Magnolia</I>. Amer.
J. Bot. 61(10): 1037-1045. Thien, L.B., W.H. Heimermann, and R.T. Holman.
1975. Floral odors and quantitative taxonomy of<I> Magnolia</I> and <I>Liriodendron</I>.
Taxon 24(5/6): 557-568. Tobe, J.D. 1993. A Molecular Systematic Study of
Eastern North American Species of <I>Magnolia </I>L. Ph.D. thesis. Clemson
University. Treseder, N.G. 1978. Magnolias. Boston. V&aacute;zquez-G.,
J.A. 1990. Taxonomy of the Genus <I>Magnolia</I> in Mexico and Central
America. M.S. thesis. University of Wisconsin. V&aacute;zquez-G., J.A.
1994. <I>Magnolia</I> (Magnoliaceae) in Mexico and Central America: A synopsis.
Brittonia 46(1): 1-23.</P>

<P><B>