

<P><B>16. MECONELLA Nuttall
in J.&nbsp;Torrey &amp; A.&nbsp;Gray</B>, Fl. N. Amer. 1: 64. 1838 - [Greek
<I>mekon</I>, poppy, and <I>ella</I>, diminutive]</P>

<P><B>Herbs</B>, annual, caulescent, glabrous
or glabrate, from fibrous roots. <B>Stems</B> leafy, mostly at base, erect
to decumbent, simple or branching. <B>Leaves:</B> basal rosulate, winged-petiolate;
cauline opposite or whorled, subsessile or sessile; blades unlobed. <B>Inflorescences</B>
axillary or terminal, 1-flowered; bracts absent; bud globose, nodding.
<B>Flowers:</B> receptacle sometimes expanded into small ring beneath calyx;
sepals 3, with overlapping, loosely connivent flaps; petals 6; stamens
4-6 in 1 series or ca. 12 in 2 series; filaments usually dilated distally;
pistil 3-carpellate; ovary 1-locular, linear-oblong; stigmas 3. <B>Capsules</B>
erect, linear, greatly elongate at maturity and often spirally twisted,
dehiscing apically by separation of valvelike carpels. <B>Seeds</B> few,
black, shiny, aril absent. <I>x</I>&nbsp;=&nbsp;8.</P>

<P>Species 3 (3 in the flora): far w North America.<BR>
<BR>
<BR>
<B>