3. <A NAME="24000101"></A><I>Meconella oregana</I> Nuttall in J.&nbsp;Torrey
&amp; A.&nbsp;Gray</B>, Fl. N. Amer. 1: 64. 1838 - C E</P>

<P><B>Plants</B> 0.2-1.6&nbsp;dm. <B>Stems</B>
erect to ascending. <B>Leaves</B> 3-18&nbsp;mm; proximal cauline whorled,
blade linear-spatulate; distal usually opposite, blade broadly linear;
petiole to 10&nbsp;mm; margins entire. <B>Inflorescences:</B> peduncle
2-8&nbsp;cm. <B>Flowers:</B> receptacle shorter than broad, expanded into
small ring beneath calyx; petals white, alternately obovate and oblanceolate,
1-5 &times; 1-3&nbsp;mm, apex rounded; stamens 4-6, in 1 series; filaments
&plusmn;&nbsp;equal, usually as broad as anthers; anthers ovoid, minute,
much shorter than filaments. <B>Capsules</B> to 25 &times; 1.5&nbsp;mm.
2<I>n</I>&nbsp;=&nbsp;16.</P>

<P>Flowering early-late spring. Sandy bluffs,
meadows and partly sunny, moist banks; of conservation concern; 0-300&nbsp;m;
B.C.; Calif., Oreg., Wash.</P>

<P>Flowers of <I>Meconella oregana</I> often
display irregularities such as fusion, loss, or addition of parts (W.&nbsp;R.
Ernst 1962). Some specimens from central California (Alameda and Contra
Costa counties) are difficult to assign with certainty to either <I>M</I>.&nbsp;<I>oregana</I>
or <I>M</I>.&nbsp;<I>californica</I>. Depauperate plants of the latter
species sometimes can be distinguished from <I>M</I>.&nbsp;<I>oregana</I>
only by their unequal and more numerous stamens (W.&nbsp;R. Ernst 1967).<BR>
</P>

