2. <A NAME="24000098"></A><I>Meconella denticulata</I> Greene</B>, Bull.
Calif. Acad. Sci. 2: 59. 1886 - E</P>

<P><I>Meconella oregana</I> Nuttall var. <I>denticulata</I>
(Greene) Jepson</P>

<P><B>Plants</B> 0.3-2.1&nbsp;dm. <B>Stems</B>
erect to decumbent. <B>Leaves</B> 2-30(-40)&nbsp;mm; basal with blade spatulate;
proximal cauline whorled, blade linear-spatulate; distal opposite or whorled,
blade broadly linear to ovate; petiole to 3&nbsp;cm; margins entire or
occasionally denticulate. <B>Inflorescences:</B> peduncle 1.5-5&nbsp;cm.
<B>Flowers:</B> receptacle &plusmn;&nbsp;as long as broad, not expanded
into ring beneath calyx; petals white, occasionally with obscure yellowish
green patch near base, narrowly ovate, nearly equal, 2-6 &times; 1-2&nbsp;mm,
apex rounded; stamens 6 in 1 series; filaments &plusmn;&nbsp;equal, nearly
as broad as anthers, tapering from base; anthers linear-oblong, usually
at least 1/2 length of filaments. <B>Capsules</B> to 30 &times; 2.5&nbsp;mm.
2<I>n</I>&nbsp;=&nbsp;16.</P>

<P>Flowering early-late spring. Moist, partly
shaded slopes in chaparral or oak-pine woodlands; 100-1000&nbsp;m; Calif.</P>

<P>Plants from the southern end of the range
tend to have longer anthers and shorter filaments.<BR>
<BR>
<BR>
<B>