1. <A NAME="24000097"></A><I>Meconella californica</I> Torrey &amp;
Fr&eacute;mont in J.&nbsp;C. Fr&eacute;mont</B>, Rep. Exped. Rocky Mts.,
312. 1845 - E F</P>

<P><I>Meconella oregana</I> Nuttall var. <I>californica</I>
(Torrey &amp; Fr&eacute;mont) Jepson</P>

<P><B>Plants</B> 0.3-1.8&nbsp;dm. <B>Stems</B>
erect to ascending. <B>Leaves</B> 3-25&nbsp;mm; basal with blade spatulate;
proximal cauline whorled, blade linear-spatulate; distal usually opposite,
blade broadly linear; petiole to 17&nbsp;mm; margins entire or rarely denticulate.
<B>Inflorescences:</B> peduncle 3-8&nbsp;cm. <B>Flowers:</B> receptacle
shorter than broad, expanded into small ring beneath calyx; petals white
to cream colored or outer sometimes yellow, alternately obovate and narrowly
ovate, 2-7 &times; 1-5&nbsp;mm, apex rounded; stamens ca. (6-)12, in 2
series; outer filaments shorter than inner; anthers ovoid to globose, much
shorter than filaments, usually broader. <B>Capsules</B> to 50 &times;
1.5&nbsp;mm. 2<I>n</I>&nbsp;=&nbsp;16.</P>

<P>Flowering late winter-late spring. Moist,
sunny slopes in open grassy areas in grasslands, oak or pine woodlands;
0-1000&nbsp;m; Calif.</P>

<P>The yellow color that occurs in the outer
petals of some plants fades at night and returns in daylight.<BR>
<BR>
<BR>
<B>