1. <A NAME="20600003"></A><I>Menispermum canadense</I> Linnaeus</B>,
Sp. Pl. 1: 340. 1753 - Moonseed, Canada moonseed, m&eacute;nisperme du
Canada, raison de couleuvre - E F</P>

<P><B>Vines or lianas</B>, vines twining, to
ca. 5&nbsp;m; rhizomes to 1&nbsp;cm diam. <B>Leaves</B> peltate with petiole
inserted to 11&nbsp;mm from margin, rarely not peltate; petiole to 20&nbsp;cm.
<B>Leaf blade</B> ovate or nearly orbiculate, rarely reniform, to 23 &times;
24&nbsp;cm, membranous; venation 7-12. <B>Inflorescences</B> to 18&nbsp;cm;
rachis glabrous or sparsely pilose. <B>Flowers:</B> sepals (4-)5-8, ovate,
elliptic, or obovate, 1-4 &times; 0.4-1.8&nbsp;mm, glabrous or sparsely
pilose; petals 4-12, elliptic to nearly orbiculate or obovate, 0.6-2 &times;
0.6-2&nbsp;mm, margins slightly involute, glabrous. <B>Staminate flowers:</B>
stamens to 4&nbsp;mm. <B>Pistillate flowers:</B> staminodes to 0.8(-1.5)&nbsp;mm;
pistils 2-4, to 1.4&nbsp;mm. <B>Drupes</B> black or bluish black, 8-13&nbsp;mm
diam., often glaucous. 2<I>n</I>&nbsp;=&nbsp;52.</P>

<P>Flowering spring-summer. Deciduous woods and
thickets, along streams, bluffs and rocky hillsides, fencerows, shade tolerant;
0-700&nbsp;m; Man., Ont., Que.; Ala., Ark., Conn., Del., D.C., Fla., Ga.,
Ill., Ind., Iowa, Kans., Ky., Md., Mass., Mich., Minn., Miss., Mo., Nebr.,
N.H., N.J., N.Y., N.C., N.Dak., Ohio, Okla., Pa., R.I., S.C., S.Dak., Tenn.,
Tex., Vt., Va., W.Va., Wis.</P>

<P>The fruit of <I>Menispermum canadense</I>
is thought to be poisonous. This species is sometimes grown as an ornamental.</P>

<P>Some Native American tribes used <I>Menispermum
canadense</I> medicinally as dermatological, gastrointestinal, gynecological,
and venereal aids, and as remedies for various other complaints (D.&nbsp;E.
Moerman 1986).<BR>
</P>

