

<P><B>3. MENISPERMUM Linnaeus</B>,
Sp. Pl. 1: 340. 1753; Gen. Pl. ed. 5, 158. 1754 - Moonseed [Greek <I>mene</I>,
moon, and <I>sperma</I>, seed]</P>

<P><B>Vines</B>, twining, or lianas. <B>Stems</B>
green, apically tomentose grading to glabrate on older portions. <B>Leaves</B>
peltate, petiole inserted near margin, rarely with petiole attached basally.
<B>Leaf blade</B> broadly ovate, generally (3-)5-7-lobed or angled, base
cordate, truncate, or rounded, margins entire, apex acuminate to rounded,
mucronate, rarely notched or obcordate; surfaces abaxially very pale, sometimes
silvery, glabrous to pilose, adaxially glabrous to sparsely pilose. <B>Inflorescences</B>
axillary, panicles well developed; bracts minute (bracteoles). <B>Flowers</B>
3-ranked; sepals usually 6, ovate to elliptic or obovate, glabrous; petals
(4-)6(-12), free, to 4&nbsp;mm, entire, auriculate basal lobes absent.
<B>Staminate flowers:</B> petals entire; stamens 12-36; filaments distinct;
anthers 4-locular; pistillodes absent. <B>Pistillate flowers:</B> staminodes
6-9, well developed; pistils (2-)3(-4); ovary slightly asymmetrically pouched,
glabrous; stigma slightly lobed. <B>Drupes</B> globose, glabrous; endocarp
bony, warty, ribbed.</P>

<P>Species 3 (1 in the flora): North America,
Mexico, and Asia.<BR>
<BR>
<BR>
<B>