

<P><B>18. MENISPERMACEAE
Jussieu - Moonseed Family</B></P>

<P><B>Vines and lianas</B> [shrubs or trees],
deciduous, woody at least at base, twining or clambering. <B>Stems</B>
striate, without spines. <B>Leaves</B> alternate, simple; stipules absent;
petioles present. <B>Leaf blade</B> palmately veined, often palmately lobed.
<B>Inflorescences</B> axillary or terminal, fascicles, cymes, racemes,
or panicles, flowers pedicillate. <B>Flowers</B> unisexual, staminate and
pistillate on different plants, never showy; sepaloid bracteoles absent;
perianth hypogynous, segments distinct or fused, not showy, greenish white
to white or cream, imbricate or valvate. <B>Staminate flowers:</B> sepals
usually 6, not spurred; petals usually 6, sometimes absent, distinct or
connate, &plusmn;&nbsp;concave, frequently minute; nectaries absent; stamens
either opposite petals and equal in number, or numerous; filaments distinct
or united; anthers dehiscing longitudinally [or transversely]; pistillodes
sometimes present. <B>Pistillate flowers:</B> sepals (4-)6, sometimes reduced
to 1; petals often 6 or reduced to 1, &plusmn;&nbsp;concave, usually minute;
nectaries absent; staminodes frequently present; pistils 1-6; ovules 2,
aborting to 1, amphitropous; style often recurved; stigma entire or lobed.
<B>Fruits</B> drupes, straight or horseshoe-shaped; exocarp membranous;
mesocarp &plusmn;&nbsp;pulpy; endocarp (stone) bony, often warty, ribbed.
<B>Seeds</B> never stalked; endosperm present or absent; embryo usually
curved.</P>

<P>Genera ca. 78, species ca. 525 (4 genera,
5 species in the flora): widespread in temperate and tropical regions.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Diels, F.&nbsp;L.&nbsp;E. 1910. Menispermaceae. In: H.&nbsp;G.&nbsp;A.
Engler, ed. 1900-1953. Das Pflanzenreich.... 107 vols. Berlin. Vol. 46[IV,94],
pp. 334-345. Ernst, W.&nbsp;R. 1964. The genera of Berberidaceae, Lardizabalaceae,
and Menispermaceae in the southeastern United States. J.&nbsp;Arnold Arbor.
45: 1-35.<BR>
</P>

