3.<A NAME="27101061"></A><I>Myosurus apetalus</I> Gay</B>, Fl. Chil.
1: 31. 1845</P>

<P><B>Herbs</B>, 1.5-12.5 cm. <B>Leaf blades</B>
linear or narrowly oblanceolate, 0.9-4 cm. <B>Inflorescences:</B> scapes
0.9-10.5 cm. <B>Flowers:</B> sepals 1-3-veined, scarious margins narrow
or broad; petal claw 1-2 times as long as blade. <B>Heads of achenes</B>
4-26 <I>&times;</I> 1.5-2 mm, exserted beyond leaves. <B>Achenes:</B> outer
face narrowly rhombic to elliptic or oblong, 1-2.2 <I>&times;</I> 0.4-1
mm, 2-5 times as high as wide, not bordered; beak 0.6-1.4 mm, 0.4-1 times
as long as body of achene, diverging from outer face of achene, heads of
achenes thus strongly roughened by projecting achene beaks.</P>

<P>Varieties 3 (2 in the flora): North America;
South America.</P>

<P>The illegitimate names <I>Myosurus aristatus</I>
Bentham ex Hooker and <I>M</I>. <I>minimus</I> var. <I>aristatus</I> (Bentham
ex Hooker) B. Boivin have been used for this species.</P>

<P>The Navaho-Ramah used <I>Myosurus apetalus</I>
medicinally as a life medicine and as a protection against witches (D.E.
Moerman 1986, citing <I>M</I>. <I>aristatus</I>).<BR>
<BR>
<BR>
<B>