5.<A NAME="27100710"></A><I>Myosurus nitidus</I> Eastwood</B>, Bull.
Torrey Bot. Club 32: 194. 1905 - E F</P>

<P><I>Myosurus egglestonii</I> Wooton &amp; Standley</P>

<P><B>Herbs</B>, 1-1.9 cm. <B>Leaf blades</B>
linear or very narrowly oblanceolate, 0.6-1.2 cm. <B>Inflorescences:</B>
scape 0.5-0.9 cm. <B>Flowers:</B> sepals sometimes strongly veined, scarious
margins narrow or broad; petal claw 3 times as long as blade. <B>Heads
of achenes</B> 8-17 <I>&times;</I> 2-2.5 mm, exserted from leaves. <B>Achenes:</B>
outer face orbiculate to rhombic, 0.8-1 <I>&times;</I> 0.6-0.8 mm, 1-1.3
times as high as wide, not bordered; beak 0.8-1 mm, 0.8-1.2 as long as
outer face of achene, diverging (sometimes weakly) from outer face of achene,
heads of achenes thus &plusmn;roughened by projecting achene beaks.</P>

<P>Flowering spring. Under sagebrush; 1800-2100
m; Ariz., Colo., N.Mex.</P>

