3b.<A NAME="27103123"></A><I>Myosurus apetalus</I> Gay var. <I>montanus</I>
(G. R. Campbell) Whittemore</B>, Novon 4: 78. 1994 - E</P>

<P><I>Myosurus minimus</I> Linnaeus subsp. <I>montanus</I>
G. R. Campbell, Aliso 2: 394. 1952</P>

<P><B>Flowers:</B> sepals faintly 3-veined, scarious
margins narrow. <B>Heads of achenes</B> 11-26 mm; outer face of achene
narrowly rhombic. 2<I>n</I>=16.</P>

<P>Flowering late spring (May-Jun). Wet meadows,
vernal pools and sloughs, bogs, muddy shores of lakes and streams; 1500-2900
m; Alta., Sask.; Ariz., Calif., Colo., Mont., Nev., N.Mex., N.Dak., Oreg.,
Utah, Wyo.</P>

<P>The illegitimate name <I>Myosurus aristatus</I>
subsp. <I>montanus</I> (G.R. Campbell) H.Mason has been used for this taxon.<BR>
<BR>
<BR>
<B>