4.<A NAME="27100705"></A><I>Myosurus cupulatus</I> S. Watson</B>, Proc.
Amer. Acad. Arts 17: 362. 1882 - F</P>

<P><B>Herbs</B>, 3.3-16 cm. <B>Leaf blades</B>
linear or very narrowly oblanceolate, 1.8-9.5 cm. <B>Inflorescences:</B>
scapes 2.2-12 cm. <B>Flowers:</B> sepals faintly 3-veined, scarious margins
narrow or absent; petal claw 1-3 times as long as blade. <B>Heads of achenes</B>
13-42 &times; 2-3 mm, long-exserted from leaves. <B>Achenes:</B> outer
face orbiculate or sometimes square, 0.8-1.2 <I>&times;</I> 0.6-1 mm, 0.8-1.2
times as high as wide, bordered by prominent ridge; beak 0.6-1.2 mm, 0.6-1.2
times as long as body of achene body, weakly divergent from outer face
of achene, heads of achenes thus roughened by projecting achene beaks.
2<I>n</I>=16.</P>

<P>Flowering late winter-spring (Mar-May). Dry
hillsides or canyon bottoms in shrubland; 350-1800 m; Ariz., Calif., Colo.,
Nev., N.Mex., Tex., Utah; Mexico (Baja California and Sonora).</P>

<P>The Navaho-Ramah used <I>Myosurus cupulatus</I>
medicinally both externally and internally as an aid for ant bites or swallowing
an ant (D.E. Moerman 1986).<BR>
<BR>
<BR>
<B>