1.<A NAME="27100706"></A><I>Myosurus minimus</I> Linnaeus</B>, Sp. Pl.
1: 284. 1753 - F W2</P>

<P><I>Myosurus lepturus</I> Greene; <I>M</I>.
<I>lepturus</I> var. <I>filiformis</I> (Greene) Greene; <I>M</I>. <I>minimus</I>
subsp. <I>major</I> (Greene) G.R. Campbell; <I>M</I>. <I>minimus</I> var.
<I>filiformis</I> Greene; <I>M</I>. <I>minimus</I> var. <I>major</I> (Greene)
K.C. Davis</P>

<P><B>Herbs</B>, 4-16.5 cm. <B>Leaf blades</B>
narrowly oblanceolate or linear, 2.2-11.5 cm. <B>Inflorescences:</B> scape
1.8-12.8 cm. <B>Flowers:</B> sepals faintly or distinctly 3-5-veined, scarious
margins narrow or absent; petal claw 1-2 times as long as blade. <B>Heads
of achenes</B> 16-50 <I>&times;</I> 1-3 mm, exserted beyond leaves. <B>Achenes:</B>
outer face narrowly rhombic to elliptic or oblong, 0.8-1.4 <I>&times;</I>
0.2-0.6 mm, 1.5-5 times as high as wide, not bordered; beak 0.05-0.4 mm,
0.05-0.3 as long as body of achene, parallel to outer face of achene, heads
of achenes thus appearing smooth. 2<I>n</I>=16.</P>

<P>Flowering spring (Mar-Jun). Wet fields, vernal
pools, banks of streams and lakes; 0-3000 m; Alta., B.C., Man., Ont., Sask.;
Ala., Ariz., Ark., Calif., Colo., Idaho, Ill., Ind., Iowa, Kans., Ky.,
La., Minn., Miss., Mo., Mont., Nebr., N.Mex., N.C., N.Dak., Okla., Oreg.,
Pa., S.C., S.Dak., Tenn., Tex., Utah, Va., Wash., Wyo.; Mexico (Baja California);
Europe; swAsia; nAfrica.</P>

<P>Plants of <I>Myosurus minimus</I> from a few
sites in coastal southern California, northern Baja California, and immediately
west of Riley, Oregon, sometimes have short scapes, so that the heads of
achenes are immersed in the leaves. These plants, which have been called
<I>M</I>. <I>minimus</I> subsp. <I>apus</I> (Greene) G. R. Campbell, <I>M</I>.
<I>minimus</I> var. <I>apus</I> Greene, or <I>M</I>. <I>clavicaulis</I>
M. E. Peck are indistinguishable from some recombinant lines found in <I>M</I>.
<I>minimus</I> <I>&times;</I> <I>sessilis</I> hybrid swarms (see discussion
under <I>M</I>. <I>sessilis</I>), but they occur outside the current range
of <I>M</I>. <I>sessilis</I>. D. E. Stone (1959) has suggested that they
resulted from past hybridization between the two species, perhaps at a
time when <I>M</I>. <I>sessilis</I> had a wider range than it does now.</P>

<P>The Navaho-Ramah used <I>Myosurus minimus</I>
medicinally to apply to antbites (D. E. Moerman 1986).<BR>
<BR>
<BR>
<B>