

<P><B>3. MYOSURUS Linnaeus</B>,
Sp. Pl. 1: 284. 1753; Gen. Pl. ed. 5, 137. 1754 - Mousetail [Greek <I>mus</I>,
mouse, and <I>oura</I>, tail, from shape and texture of the fruiting head
of <I>M</I>. <I>minimus</I>]<BR>
<BR>
<BR>
<B>Herbs</B>, annual. <B>Leaves</B> basal, simple, tapering to filiform
base. <B>Leaf blade</B> linear or very narrowly oblanceolate, margins entire.
<B>Inflorescences</B> terminal, solitary flowers; bracts absent. <B>Flowers</B>
bisexual, radially symmetric; sepals not persistent in fruit, (3-)5(-8),
green or with scarious margins, spurred, oblong to elliptic, lanceolate,
or oblanceolate, 1.5-4 mm; petals 0-5, distinct, white, plane, linear to
very narrowly spatulate, long-clawed, 1-2.5 mm; nectary present; stamens
5-25; filaments filiform; staminodes absent between stamens and pistils;
pistils 10-400, simple; ovule 1 per pistil; style persistent. <B>Fruits</B>
achenes, aggregate, sessile, prismatic, exposed face forming plane outer
surface, sides faceted or curved by compression against adjacent achenes;
sides not veined; beak terminal, straight, 0.05-1.8 mm. <I>x</I>=8.</P>

<P>Species 15 (5 in the flora): temperate regions
worldwide.</P>

<P>Mature fruits are crucial to accurate identification
of most North American species of <I>Myosurus</I>.</P>

<P>Flowers of <I>Myosurus</I> are unique in the
family in that the receptacle continues to elongate and, in some species,
to initiate new ovaries after the flowers open and pollen is shed (D.E.
Stone 1959).</P>

<P><B>SELECTED REFERENCES<BR>
</B>Mason, H. L. and D. E. Stone. 1957. <I>Myosurus</I>. In: Mason, H.
L. 1957. A Flora of the Marshes of California. Berkeley. Pp. 497-505 Stone,
D. E. 1959. A unique balanced breeding system in the vernal pool mouse-tails.
Evolution 13: 151-174.<BR>
<BR>
<BR>
<B>