3a.<A NAME="27103124"></A><I>Myosurus apetalus</I> Gay var. <I>borealis</I>
Whittemore</B>, Novon 4: 78. 1994 - E F</P>

<P><B>Flowers:</B> sepals 1-veined, scarious
margins broad. <B>Heads of achenes</B> 4-9 mm; outer face of achene narrowly
elliptic or rectangular.</P>

<P>Flowering spring (May). Flats and marshes,
often in sagebrush; 600-1500 m; Alta., B.C., Sask.; Calif., Idaho, Mont.,
Nev., Oreg., Utah, Wash., Wyo.<BR>
<BR>
<BR>
<B>