2.<A NAME="27101419"></A><I>Myosurus sessilis</I> S. Watson</B>, Proc.
Amer. Acad. Arts 17: 362. 1882 - C E F</P>

<P><I>Myosurus minimus</I> Linnaeus var. <I>sessiliflorus</I>
(Huth) G. R. Campbell</P>

<P><B>Herbs</B>, 0.8-2.5 cm. <B>Leaf blades</B>
linear or nearly so, 1.6-7.4 cm. <B>Inflorescences:</B> scapes 0-0.2 cm.
<B>Flowers:</B> sepals indistinctly 3-veined, scarious margins broad; petal
claw about as long as blade. <B>Heads of achenes</B> 8-25 <I>&times;</I>
2-4 mm, immersed among leaves. <B>Achenes:</B> outer face narrowly rhombic
or occasionally narrowly oblong, 1.2-2 <I>&times;</I> 0.4-0.8 mm, 2-4.5
times as high as wide, not bordered; beak 0.8-1.8 mm, 0.6-1.1 times as
long as body of achene, diverging from outer face of achene, heads of achenes
thus strongly roughened by projecting achene beaks. 2<I>n</I>=16.</P>

<P>Flowering spring (Mar-May). Vernal pools and
alkalai flats; of conservation concern; 10-1600 m; Calif., Oreg.</P>

<P><I>Myosurus sessilis</I> often grows with
<I>M</I>. <I>minimus</I>, and hybrids between the two species are common.
Because the plants mostly set seed by self-pollination, these hybrids often
give rise to inbred lines showing the characteristics of the two parents
in various combinations (D. E. Stone 1959). The names <I>M</I>. <I>alopecuroides</I>
Greene and <I>M</I>. <I>sessilis</I> subsp. <I>alopecuroides</I> (Greene)
D. E. Stone are based on the hybrid <I>M</I>. <I>minimus</I> <I>&times;</I>
<I>sessilis</I> or on inbred lines descended from this hybrid.<BR>
<BR>
<BR>
<B>