

<P><B>1. NANDINA Thunberg</B>,
Nov. Gen. Pl. 1: 14. 1781 &middot; [Chinese name meaning &quot;plant from
the south&quot;]</P>

<P><B>Shrubs</B>, evergreen, to ca. 2&nbsp;m,
glabrous. <B>Rhizomes</B> absent. <B>Aerial stems</B> monomorphic, mostly
unbranched, with leaves densely clustered mostly along distal 1/3 of plant.
<B>Leaves</B> persistent, alternate, 2-3-pinnately compound; petiole attached
at base of blade, petioles and petiolules swollen at base. <B>Leaf blade</B>
broadly ovate in overall outline, 30-50&nbsp;cm; leaflet blades elliptic
to ovate to lanceolate, margins entire; venation pinnate. <B>Inflorescences</B>
terminal or axillary panicles of dozens to hundreds of flowers. <B>Flowers</B>
3-merous, 5-7&nbsp;mm; bracteoles present; all perianth parts caducous,
cream to white; sepals and petals intergrading, 27-36; nectariferous petals
absent; stamens 6; anthers dehiscing by longitudinal slits; pollen exine
punctate; ovary club-shaped; placentation submarginal; style central. <B>Fruits</B>
berries, red to purplish, orbicular. <B>Seeds</B> 1-3, grayish or brownish;
aril absent.</P>

<P>Species 1 (1 in the flora): North America,
Asia.</P>

<P><I>Nandina</I> is treated as a separate family,
Nandinaceae, by A. Takhtajan (1986).</P>

<P><B>SELECTED REFERENCES<BR>
</B>Nakai,&nbsp;T. 1915-1936. Flora Sylvatica Koreana.... 22 parts. Seoul
and Keijyo. Part 21, pp. 61-62. Shen&nbsp;Y. 1954. Phylogeny and wood anatomy
of <I>Nandina</I>. Taiwania 5: 89-91.<BR>
<BR>
<BR>
<B>