1. <A NAME="03500026"></A><I>Nandina domestica</I> Thunberg</B>, Nov.
Gen. Pl. 1: 14. 1781 &middot; Heavenly-bamboo &middot; F</P>

<P><B>Stems</B> erect. <B>Wood and pith</B> bright
yellow. <B>Leaves</B> frequently reddish tinged, 5-10&nbsp;dm; petioles
basally enlarged and clasping. <B>Leaflets</B> 9-81, nearly sessile, leaflet
blades 4-11 1.5-3&nbsp;cm, base cuneate, apex acuminate. <B>Inflorescences</B>
with hundreds of flowers, 1-2&nbsp;dm. <B>Flowers</B> fragrant, pedicellate;
perianth segments imbricate, weakly 2-4-seriate. <B>Berries</B> 6-9&nbsp;mm.
<B>Seeds</B> mostly 2. 2<I>n</I>&nbsp;=&nbsp;20.</P>

<P>Flowering spring-summer (May-early Jul); fruiting
summer-fall (Sep-Dec). Old home sites; woodlands, mesic flood plains, hammocks;
0-600&nbsp;m; introduced; Ala., Ark., Fla., Ga., La., N.C., S.C., Tex.;
native, Asia (Japan, China, India).</P>

<P><I>Nandina domestica</I> is commonly cultivated
as an ornamental. China and Japan have been considered the possible sources
of cultivated material. In the flora, seedlings are frequent in the vicinity
of plantings, and mature plants have been found far from areas of current
cultivation in the southeastern United States.<BR>
</P>

