1.<A NAME="17801048"></A><I>Nectandra coriacea</I>
(Swartz) Grisebach</B>, Fl. Brit. W.&nbsp;I.,
281. 1860 - Lancewood - F</P>

<P><I>Laurus coriacea</I> Swartz, Prodr., 65.
1788; <I>L</I>.&nbsp;<I>catesbyana</I> Michaux; <I>Nectandra catesbyana</I>
(Michaux) Sargent; <I>Ocotea catesbyana</I> (Michaux) Sargent; <I>O</I>.&nbsp;<I>coriacea</I>
(Swartz) Britton</P>

<P><B>Trees</B>, to 10&nbsp;m. <B>Branches</B>
dense; terminal bud not covered by imbricate bracts. <B>Leaf blade</B>
narrowly elliptic, 7-12 &times; 2-4&nbsp;cm, base and apex acute; surfaces
glabrous; domatia absent. <B>Inflorescences</B> to 8&nbsp;cm, nearly glabrous
or sparsely pilose. <B>Flowers:</B> tepals white, rotate; ovary superior,
glabrous. <B>Drupe</B> &plusmn;&nbsp;ellipsoid, to 18&nbsp;mm, seated in
shallow, bowl-shaped cupule to 7&nbsp;mm diam.</P>

<P>Flowering late winter-spring (Mar-Jun). In
woods; 0-100&nbsp;m; Fla.; Mexico (Yucatan); West Indies; Central America
(Caribbean coasts of Belize, Guatemala, and Honduras).<BR>
</P>

