

<P><B>7. NECTANDRA Rolander
ex Rottbfll</B>, Acta Lit. Univ. Hafn.
1: 279. 1778, name conserved -[Latin <I>nectar</I>, from Greek <I>nektar</I>,
and Greek <I>andro</I>, male]</P>

<P><B>Trees or shrubs</B>, evergreen. <B>Bark</B>
dark reddish brown [brown, or gray], smooth with small wartlike lenticels.
<B>Leaves</B> alternate. <B>Leaf blade</B> pinnately veined, papery or
leathery; surfaces variously pubescent; domatia absent. <B>Inflorescences</B>
appearing when mature leaves are present, axillary, panicles, usually many-flowered.
<B>Flowers</B> bisexual, 5-17&nbsp;mm diam.; tepals deciduous, white or
greenish, equal, spreading at anthesis, with papillose hairs on adaxial
surface; stamens 9, anthers 4-locular, anthers of outer 6 stamens introrse,
locules arranged in arc, anthers of inner 3 stamens extrorse; staminodes
3, very small, sometimes absent. <B>Drupe</B> dark blue or black, &plusmn;&nbsp;elongate,
seated in shallow [or cup-shaped], single-rimmed cupule.</P>

<P>Species ca. 120 (1 in the flora): nearly all
neotropical.</P>

<P><B>SELECTED REFERENCE<BR>
</B>Rohwer, J.&nbsp;G. 1993. Lauraceae: <I>Nectandra</I>. In: Organization
for Flora Neotropica. 1968+. Flora Neotropica. 65+ vols. New York. Monogr.
60.</P>

<P><B>