1.<A NAME="22600235"></A><I>Nelumbo lutea</I>
Willdenow</B>, Sp. Pl. 2: 1259. 1799 (as <I>Nelumbium luteum</I>) - American
lotus, yellow lotus, water-chinquapin, vol&eacute;e - F W2</P>

<P><B>Leaves:</B> petiole to 2&nbsp;m or more.
<B>Leaf blade</B> to 6&nbsp;dm or more. <B>Flowers:</B> tepals pale yellow,
1-13 cm, outermost 1-5 normally persistent; anthers 1-2&nbsp;cm. <B>Fruits</B>
somewhat globose, 10-16 &times; 8-13&nbsp;mm, mostly less than 1.25 times
longer than wide; receptacle to 1&nbsp;dm diam. at maturity, abruptly narrowed
ca. 1-2&nbsp;cm below flattened top, base tapered, lateral surface usually
distinctly striate. 2<I>n</I>&nbsp;=&nbsp;16.</P>

<P>Flowering late spring-summer. Mostly flood
plains of major rivers in ponds, lakes, pools in marshes and swamps, and
backwaters of reservoirs; 0-400&nbsp;m; introduced at other sites; Ont.;
Ala., Ark., Conn., Del., D.C., Fla., Ga., Ill., Ind., Iowa, Kans., Ky.,
La., Maine, Md., Mass., Mich., Minn., Miss., Mo., Nebr., N.J., N.Y., N.C.,
Ohio, Okla., Pa., R.I., S.C., Tenn., Tex., Va., W.Va., Wis.; Mexico; West
Indies (Cuba, Jamaica, and Hispaniola); Central America (Honduras).</P>

<P><I>Nelumbo lutea</I> is a species as magnificent
as its Asian relative, <I>N</I>.&nbsp;<I>nucifera</I>, but it is less cultivated
for ornament. It was probably originally confined to flood plains of major
rivers and their tributaries in the east-central United States and carried
northward and eastward by aborigines who used the seeds and tubers for
food. The species is sometimes an aggressive, difficult-to-eradicate weed
in ponds, lakes, and reservoirs.</P>

<P>Although <I>Nelumbo lutea</I> is often attributed
to (Willdenow) Persoon, the spelling <I>Nelumbium luteum</I> used by Willdenow
is an orthographic error for <I>Nelumbo lutea</I> (W.&nbsp;Greuter et al.
1994, Art. 61.4) that should be corrected, and Persoon's later combination
is superfluous.</P>

<P>The name <I>Nelumbo pentapetala</I> (Walter)
Fernald, sometimes used for this taxon, was based on <I>Nymphaea pentapetala</I>
Walter, a name of uncertain application that has been recently proposed
for rejection (J.&nbsp;H. Wiersema and J.&nbsp;L. Reveal 1991).</P>

<P><B>SELECTED REFERENCES<BR>
</B>Hall, T.&nbsp;F. and W.&nbsp;T. Penfound. 1944. The biology of the
American lotus <I>Nelumbo lutea</I> (Willd.) Pers. Amer. Midl. Naturalist
31: 744-758. Schneider, E.&nbsp;L. and J.&nbsp;D. Buchanan. 1980. Morphological
studies of the Nymphaeaceae. XI. The floral biology of <I>Nelumbo pentapetala</I>.
Amer. J.&nbsp;Bot. 67: 182-193.<BR>
</P>

<P><B>