

<P><B>11. NELUMBONACEAE
Dumortier - Lotus-lily family</B></P>

<P><B>Herbs</B>, perennial, aquatic, rhizomatous;
roots adventitious; air chambers conspicuous in vegetative portions of
plant. <B>Rhizomes</B> branched, repent, slender, terminal portions becoming
tuberous-thickened late in growing season. <B>Leaves</B> arising directly
from rhizome, alternate, floating or emersed; petiole long. <B>Leaf blade</B>
peltate, orbiculate, margins entire; laticifers present. <B>Inflorescences</B>
axillary, solitary flowers. <B>Flowers</B> bisexual, protogynous, diurnal,
borne above water surface; peduncle long; involucre absent; perianth not
persistent in fruit (outermost tepals of <I>N</I>.&nbsp;<I>lutea</I> normally
persistent), hypogynous; tepals numerous, distinct, outermost reduced,
inner tepals becoming larger and more petaloid; stamens numerous; filaments
slender; anthers dehiscing by longitudinal slits, connective appendage
incurved; pistils numerous, 1-carpellate, separately embedded in flattened
top of turbinate receptacle; ovary 1-locular; placentation apical; ovule
1; style short; stigma nearly sessile, capitate. <B>Fruits</B> nutlike,
indehiscent, loose in cavities of strongly accrescent receptacle. <B>Seed</B>
1, aril absent; endosperm and perisperm absent; embryo completely filling
seed; cotyledons 2, fleshy.</P>

<P>Genus 1, species 2 (2 in the flora): temperate
and tropical regions.</P>

<P>Nelumbonaceae are pollinated by insects, often
by beetles.</P>

<P>Formerly Nelumbonaceae frequently have been
included in Nymphaeaceae in the broad sense.</P>

<P><B>SELECTED REFERENCE<BR>
</B>Wood, C.&nbsp;E.&nbsp;Jr. 1959. The genera of the Nymphaeaceae and
Ceratophyllaceae in the southeastern United States. J.&nbsp;Arnold Arbor.
40: 94-112.<BR>
</P>

