2.<A NAME="22600041"></A><I>Nelumbo nucifera</I>
Gaertner</B>, Fruct. Sem. Pl. 1: 73. 1788 - Indian lotus, sacred lotus,
oriental lotus, lotus</P>

<P><B>Leaves:</B> petiole to 2&nbsp;m or more.
<B>Leaf blade</B> to 6&nbsp;dm or more. <B>Flowers:</B> tepals normally
all caducous, pink, pink-tinged, or fading to white, 1-13&nbsp;cm; anthers
1-2&nbsp;cm. <B>Fruits</B> ovoid, 10-20 &times; 7-13&nbsp;mm, mostly more
than 1.5 times longer than wide; receptacle to 1&nbsp;dm diam. at maturity,
gradually tapered or rounded from flattened top to base, base rounded or
very slightly obtuse-tapered, lateral surface rugose or only weakly striate.</P>

<P>Flowering late spring-summer. Ponds and lakes;
0-400&nbsp;m; introduced; Ala., Ark., Fla., Ga., La., Md., Mass., Miss.,
Mo., N.J., N.C., S.C., Tenn., Tex., W.Va.; naturalized, s&nbsp;Europe;
Asia; n&nbsp;Australia.</P>

<P><I>Nelumbo nucifera</I> is an ornamental species
sporadically naturalized from cultivation over the area mapped in the southeastern
United States. Although Virginia, Kentucky, and Delaware are within the
range, I know of no collections from Virginia or Delaware and of no wild-growing
specimens of <I>N</I>. <I>nucifera</I> in Kentucky. The species was listed
in a flora of New York (R.&nbsp;S. Mitchell 1986); I have not seen a voucher
specimen for the report.</P>

<P>The seeds of <I>Nelumbo nucifera</I> have
been shown to remain viable for several hundred years under certain conditions
(D.&nbsp;A. Priestley and M.&nbsp;A. Posthumus 1982).<BR>
</P>

