

<P><B>1. NELUMBO Adanson</B>,
Fam. Pl. 2: 76, 582. 1763 - Lotus [Ceylonese vernacular name]</P>

<P><B>Rhizomes</B> forming swollen storage tubers
late in growing season. <B>Leaf blade</B> peltate, orbiculate, margins
entire. <B>Flowers</B> exceeding leaves, to 2.5&nbsp;dm or more diam.;
tepals caducous or outermost persistent, 14-30, white to pink-purple or
yellow; stamens 100-200. <B>Fruits</B> somewhat globose or ovoid; receptacle
gradually or abruptly narrowed from top to base, base tapered to rounded,
lateral surface striate or rugose. <I>x</I>&nbsp;=&nbsp;8.</P>

<P>Species 2 (2 in the flora): North America,
West Indies, Central America, Asia, Australia.</P>

<P><B>