1. <A NAME="27100420"></A><I>Nigella damascena</I> Linnaeus</B>, Sp.
Pl. 1: 534. 1753 - F</P>

<P><B>Stems</B> erect, slender, 10-75 cm, glabrous.
<B>Leaves</B> 2-16 cm; basal leaves petiolate, segments wider than &plusmn;sessile
cauline leaves. <B>Inflorescences:</B> involucral bracts whorled, similar
to cauline leaves, curving up to surround flower. <B>Flowers</B> 10-50(-60)
mm diam.; sepals blue, sometimes pink or white, short-clawed, 8-25 &times;
3-15 mm, apex entire to irregularly incised or lobed, occasionally lacerate;
petals clawed, abaxial lip distally 2-lobed, bearing 2-3 nectar glands
or apex expanded, adaxial lip scalelike. <B>Capsules</B> smooth, 8-35 mm;
locules 5-10; beak persistent, slender.</P>

<P>Flowering late spring-early fall. Dump sites
and waste places; 0-400 m; introduced; B.C., Ont., Que.; Ill., Kans., Md.,
Mich., Mo., N.Y., Ohio, Oreg., Pa., Tenn., W.Va.; native to Eurasia.</P>

<P><I>Nigella damascena</I> is frequently cultivated
as an ornamental and for dried-flower arrangements. It occasionally escapes
cultivation and may become established. Populations in Ontario and Quebec,
and probably elsewhere, are short-lived.</P>

<P>Most North American populations of <I>Nigella
damascena</I> are represented by a mixture of single- and double-flowered
(having supernumerary flower parts) individuals. Sepals tend to be larger
and more variable in color than in Eurasian plants. Single-flowered plants
usually have petals; petals appear to be absent in double-flowered individuals.</P>

