

<P><B>11. NIGELLA Linnaeus</B>,
Sp. Pl. 1: 534. 1753; Gen. Pl. ed. 5, 238. 1754 - Love-in-a-mist [Latin
<I>niger</I>, black, and <I>ella</I>, diminutive; pertaining to seeds]</P>

<P><B>Herbs</B>, annual, from taproots. <B>Leaves</B>
basal and cauline, petiolate or distal leaves sessile; cauline leaves alternate.
<B>Leaf blade</B> 2-3-pinnately dissected, segments linear, threadlike
[ovate or oblong or sometimes undivided, short], margins entire. <B>Inflorescences</B>
terminal or axillary, flowers solitary; involucres present [absent], involucral
bracts 5-6, finely pinnately dissected, closely subtending flower. <B>Flowers</B>
bisexual, radially symmetric; sepals persistent in fruit, 5-25, blue to
white or pink [yellowish white or green], plane, ovate, clawed [not clawed],
8-25 mm, apex acuminate; petals (0-)5-10, distinct, lead-colored, hooded,
obovate, 2-labiate, 2-5 mm; nectary apical; stamens 15-75; filaments filiform;
staminodes absent between stamens and pistils; pistil compound [carpels
connate proximally], [2-]5-10-carpellate; ovules 25-100; style present.
<B>Fruits</B> capsular [partially connate follicles], sessile, inflated-spheric
[not inflated], sides not prominently veined; beak terminal, straight,
13-20 mm. <B>Seeds</B> black, broadly obovate, reticulate, with raised
ridges. <I>x</I>=6.</P>

<P>Species ca. 20 (1 in the flora): North America,
s Europe, sw, c Asia, n Africa.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Mitchell, R. S. and J. K. Dean. 1982. Ranunculaceae (Crowfoot Family)
of New York State. Bull. New York State Mus. Sci. Serv. 446. Zohary, M.
1983. The genus <I>Nigella</I> (Ranunculaceae)--A taxonomic revision. Pl.
Syst. Evol. 142: 71-107.<BR>
<BR>
<BR>
<B>