1.<A NAME="22600002"></A><I>Nuphar microphylla</I>
(Persoon) Fernald</B>, Rhodora 19: 111. 1917 (as <I>microphyllum</I>) -
Petit n&eacute;nuphar jaune - F</P>

<P><I>Nymphaea microphylla</I> Persoon, Syn.
Pl. 2: 63. 1807; <I>Nuphar kalmiana</I> (Michaux) W.&nbsp;T. Aiton; <I>N</I>.&nbsp;<I>minima</I>
(Willdenow) Smith</P>

<P><B>Rhizomes</B> 1-2&nbsp;cm diam. <B>Leaves</B>
mostly floating, occasionally submersed; petiole flattened to filiform.
<B>Leaf blade</B> abaxially often purple, adaxially green to greenish purple,
broadly elliptic to ovate, 3.5-10(-13) &times; 3.5-7.5(-8.5)&nbsp;cm, 1-1.5
times as long as wide, sinus 2/3 or more length of midrib, lobes divergent
and forming V-shaped angle; surfaces abaxially glabrous to densely pubescent.
<B>Flowers</B> 1-2&nbsp;cm diam.; sepals 5(-10), abaxially green to adaxially
yellow toward base; petals broadly spatulate and thin, or notched and thickened;
anthers 1-3&nbsp;mm, shorter than filaments. <B>Fruit</B> yellow, green,
brown, or rarely purple, mostly globose-ovoid, occasionally flask-shaped,
1-2&nbsp;cm, smooth basally, faintly ribbed toward apex, deeply constricted
below stigmatic disk, constriction 1.5-5&nbsp;mm diam.; stigmatic disk
red, 2.5-7&nbsp;mm diam., with 6-10 deep crenations; stigmatic rays 6-11,
linear, terminating 0-0.2&nbsp;mm from margin of disk. <B>Seeds</B> ca.
3&nbsp;mm. 2<I>n</I>&nbsp;=&nbsp;34.</P>

<P>Flowering summer-early fall. Ponds, lakes,
sluggish streams, sloughs, ditches, and occasionally tidal waters; 0-400&nbsp;m;
Man., N.B., N.S., Ont., Que.; Conn., Maine, Mass., Mich., Minn., N.H.,
N.J., N.Y., Pa., Vt., Wis.; Europe; n&nbsp;Asia.</P>

<P>Intermediates between <I>Nuphar microphylla</I>
and <I>N</I>.&nbsp;<I>variegata</I>, probably of hybrid origin, are treated
as <I>N</I>.&nbsp;<I>rubrodisca</I>. A form with ten sepals (<I>Nuphar
microphyllum</I> forma <I>multisepalum</I> Lakela) occurs in northeastern
Minnesota. Recent observations of the Eurasian <I>N</I>. <I>pumila</I>
(Timm) de Candolle by C.&nbsp;B. Hellquist in Siberia suggest that Beal's
lumping of <I>N</I> <I>microphylla</I> under <I>N</I>. <I>lutea</I> subsp.
<I>pumila</I> (Timm) E.&nbsp;O. Beal should be further studied.<BR>
</P>

<P><B>