8.<A NAME="22600083"></A><I>Nuphar polysepala</I>
Engelmann</B>, Trans. Acad. Sci. St. Louis 2: 282. 1865 (as <I>polysepalum</I>)
- E F W1</P>

<P><I>Nuphar lutea</I> (Linnaeus) Smith subsp.
<I>polysepala</I> (Endelmann) E.&nbsp;O. Beal; <I>Nymphaea polysepala</I>
(Engelmann) Greene</P>

<P><B>Rhizomes</B> 3-8&nbsp;cm diam. <B>Leaves</B>
mostly floating, occasionally emersed or submersed; petiole terete. <B>Leaf
blade</B> abaxially and adaxially green, widely ovate, 10-40(-45) &times;
7-30&nbsp;cm, ca. 1.2-1.5 times as long as wide, sinus 1/3-2/3 length of
midrib, lobes divergent to overlapping; surfaces glabrous. <B>Flowers</B>
5-10&nbsp;cm diam.; sepals mostly (6-)9(-12), abaxially green to adaxially
yellow, sometimes red-tinged toward base; petals oblong, thick; anthers
3.5-9&nbsp;mm, slightly shorter than filaments. <B>Fruit</B> green to yellow,
cylindric to ovoid, 4-6(-9) &times; 3.5-6&nbsp;cm, strongly ribbed, slightly
constricted below stigmatic disk; stigmatic disk green, 20-35&nbsp;mm diam.,
entire to crenate; stigmatic rays 8-26(-36), linear to lanceolate, terminating
within 1(-1.5)&nbsp;mm from margin of disk. <B>Seeds</B> 3.5-5&nbsp;mm.
2<I>n</I>&nbsp;=&nbsp;34.</P>

<P>Flowering spring (later in north)-summer.
Ponds, lakes, and sluggish streams; 0-3700&nbsp;m; B.C., N.W.T., Yukon;
Alaska, Ariz., Calif., Colo., Idaho, Mont., Nev., N.Mex., Oreg., Utah,
Wash., Wyo.</P>

<P>Plants intermediate between <I>Nuphar polysepala</I>
and <I>N</I>.&nbsp;<I>variegata</I> occur in eastern British Columbia.<BR>
</P>

