

<P><B>1. NUPHAR Smith in
J.&nbsp;Sibthorp &amp; J.&nbsp;E. Smith</B>, Fl. Graec. Prodr. 1: 361.
1809, name conserved - Spatterdock, cow-lily, yellow pond-lily, n&eacute;nuphar
[ancient Arabic or Persian name]</P>

<P><B>Rhizomes</B> branched, repent; stolons
absent. <B>Leaves</B> floating, submersed, or emersed. <B>Leaf blade</B>
orbiculate to linear, basal lobes divergent to overlapping, margins entire,
apex of lobe narrowly obtuse to broadly rounded; primary venation mostly
pinnate, basal section of midrib with several parallel veins. <B>Flowers</B>
floating or held above surface of water, opening diurnally; perianth hypogynous,
not spreading, nearly globose at anthesis; sepals 5-9(-12), outwardly yellow
to green, becoming yellow within, often red-tinged, oblong or obovate to
somewhat orbiculate; petals numerous, spirally arranged, inconspicuous,
stamenlike; stamens yellow- or red-tinged, inserted below ovary, recurved
at dehiscence, distal connective appendage absent; ovary longer than petals
and stamens; stigmatic disk with margin entire to crenate or dentate, appendages
absent. <B>Fruits</B> borne on straight peduncles. <B>Seeds</B> ovoid,
to 6&nbsp;mm; aril absent. <I>x</I>&nbsp;=&nbsp;17.</P>

<P>Species 10-12, most intergrading and sometimes
treated at subspecies rank (8 in the flora): north temperate, North America,
Europe, and Asia.</P>

<P>The taxonomy of the genus is problematic.
E.&nbsp;O. Beal (1956) departed dramatically from previous North American
treatments in recognizing a single polymorphic species, <I>Nuphar lutea</I>
(name of European origin), with several subspecies formerly treated as
species. Subsequent research (C.&nbsp;E. DePoe and E.&nbsp;O. Beal 1969;
E.&nbsp;O. Beal and R.&nbsp;M. Southall 1977) has supported Beal's treatment
for some southeastern subspecies, but most other taxa have not been studied
as extensively. Beal's treatment, for the most part, has not been adopted
in the Northeast and elsewhere in North America or in Europe. Molecular
studies of <I>Nuphar</I> currently in progress (D.&nbsp;J. Padgett, pers.
comm.) have clearly shown the North American taxa to be distinct from the
Eurasian <I>Nuphar lutea</I>; Beal's nomenclature under that taxon cannot
be upheld. Continuing to treat those taxa at subspecific rank would require
new combinations under <I>Nuphar sagittifolia</I> (Walter) Pursh, the oldest
name that has hitherto been applied only in a geographically restricted
sense. Until the molecular studies are completed, creating new names is
premature. We therefore return to the previous treatment of the taxa as
species.</P>

<P>Prior to conservation in its current sense,
the name <I>Nymphaea</I> was frequently used for <I>Nuphar</I>. Although
often treated as neuter, <I>Nuphar</I> was originally assigned the feminine
gender (W.&nbsp;T. Stearn 1956; H.&nbsp;W. Rickett and F.&nbsp;A. Stafleu
1959).</P>

<P>The name <I>Nymphozanthus</I> Richard has
been rejected.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Beal, E.&nbsp;O. 1956. Taxonomic revision of the genus <I>Nuphar</I>
Sm. of North America and Europe. J.&nbsp;Elisha Mitchell Sci. Soc. 72:
317-346. Miller, G.&nbsp;S. Jr. and P.&nbsp;C. Standley. 1912. The North
American species of <I>Nymphaea</I>. Contr. U.S. Natl. Herb. 16: 63-108.</P>

<P><B>