4.<A NAME="22600214"></A><I>Nuphar advena</I>
(Aiton) W.&nbsp;T. Aiton</B>, Hortus Kew. 3: 295. 1811 - F W1</P>

<P><I>Nymphaea advena</I> Aiton, Hort. Kew. 2:
226. 1789; <I>Nuphar fluviatilis</I> (R.&nbsp;M. Harper) Standley; <I>N</I>.&nbsp;<I>lutea</I>
subsp. <I>advena</I> (Aiton) Kartesz &amp; Gandhi; <I>N</I>.&nbsp;<I>lutea</I>
subsp. <I>macrophylla</I> (Small) E.&nbsp;O. Beal; <I>N</I>.&nbsp;<I>lutea</I>
subsp. <I>ozarkana</I> (G.&nbsp;S. Miller &amp; Standley) E.&nbsp;O. Beal;
<I>N</I>.&nbsp;<I>ovata</I> (G.&nbsp;S. Miller &amp; Standley) Standley;
<I>N</I>.&nbsp;<I>ozarkana</I> (G.&nbsp;S. Miller &amp; Standley) Standley;
<I>N</I>.&nbsp;<I>puteora</I> Fernald; <I>N</I>.&nbsp;&times;<I>interfluitans</I>
Fernald; <I>Nymphaea advena</I> subsp. <I>macrophylla</I> (Small) G.&nbsp;S.
Miller &amp; Standley; <I>N</I>.&nbsp;<I>chartacea</I> G.&nbsp;S. Miller
&amp; Standley; <I>N</I>.&nbsp;<I>fluviatilis</I> R.&nbsp;M. Harper; <I>N</I>.&nbsp;<I>ludoviciana</I>
G.&nbsp;S. Miller &amp; Standley; <I>N</I>.&nbsp;<I>macrophylla</I> Small;
<I>N</I>.&nbsp;<I>microcarpa</I> G.&nbsp;S. Miller &amp; Standley; <I>N</I>.&nbsp;<I>ovata</I>
G.&nbsp;S. Miller &amp; Standley; <I>N</I>.&nbsp;<I>ozarkana</I> G.&nbsp;S.
Miller &amp; Standley; <I>N</I>.&nbsp;<I>puberula</I> G.&nbsp;S. Miller
&amp; Standley</P>

<P><B>Rhizomes</B> mostly 5-10&nbsp;cm diam.
<B>Leaves</B> mostly emersed, occasionally floating or submersed; petiole
terete or adaxially slightly flattened. <B>Leaf blade</B> abaxially and
adaxially green, broadly ovate to nearly orbiculate, 12-40 - 7-30&nbsp;cm,
1-2 times as long as wide, sinus 1/3-1/2 length of midrib, lobes overlapping
to divergent, often forming angle of 90&deg; or greater; surfaces abaxially
glabrous to sparsely pubescent. <B>Flowers</B> to 4&nbsp;cm diam.; sepals
mostly 6, abaxially green to adaxially yellow, rarely red-tinged toward
base; petals oblong, thick; anthers 3-7&nbsp;mm, longer than filaments.
<B>Fruit</B> green, ovoid, 2-5 &times; 2-5&nbsp;cm, moderately ribbed,
slightly constricted below stigmatic disk; stigmatic disk green, occasionally
reddened, 13-25&nbsp;mm diam., entire to crenate; stigmatic rays 9-23,
linear to lanceolate, terminating 1-3&nbsp;mm from margin of disk. <B>Seeds</B>
3-6&nbsp;mm.</P>

<P>Flowering mid spring-early fall, extended
farther south. Ponds, lakes, sluggish streams and rivers, springs, marshes,
ditches, canals, sloughs, and tidal waters; 0-450&nbsp;m; Ont.; Ala., Ark.,
Conn., Del., D.C., Fla., Ga., Ill., Ind., Kans., Ky., La., Maine, Md.,
Mich., Miss., Mo., N.J., N.Y., N.C., Ohio, Okla., Pa., S.C., Tenn., Tex.,
Vt., Va., W.Va., Wis.; Mexico (Coahuila, Tamaulipas); West Indies (Cuba).</P>

<P><I>Nuphar advena</I> is extremely variable
and intergrades with <I>N</I>.&nbsp;<I>orbiculata</I>, <I>N</I>.&nbsp;<I>ulvacea</I>,
and <I>N</I>.&nbsp;<I>sagittifolia</I> in areas of sympatry. Intergradation
with <I>N</I>.&nbsp;<I>variegata</I> (E.&nbsp;O. Beal 1956) can be observed
in the mid-Atlantic region, although most floristic treatments from the
area of overlap treat the two taxa as distinct species. Local variation
in the Ozark Mountains and in Texas, the basis for the names <I>Nymphaea
ozarkana</I>, <I>N</I>.&nbsp;<I>ovata</I>, and <I>N</I>.&nbsp;<I>puberula</I>,
is not considered sufficient to warrant recognition.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Schneider, E.&nbsp;L. and L.&nbsp;A. Moore. 1977. Morphological studies
of the Nymphaeaceae. VII. The floral biology of <I>Nuphar lutea</I> subsp.
<I>macrophylla</I>. Brittonia 29: 88-99. Wiersema, J.&nbsp;H. and C.&nbsp;B.
Hellquist. 1994. Nomenclatural notes in Nymphaeaceae for the North American
flora. Rhodora 96: 170-178.<BR>
</P>

<P><B>