6.<A NAME="22600093"></A><I>Nuphar sagittifolia</I>
(Walter) Pursh</B>, Fl. Amer. Sept. 2: 370. 1814 (as <I>sagittaefolia</I>)
- C E</P>

<P><I>Nymphaea sagittifolia</I> Walter, Fl.
Carol., 155. 1788; <I>Nuphar lutea</I> (Linnaeus) Smith subsp. <I>sagittifolia</I>
(Walter) E.&nbsp;O. Beal</P>

<P><B>Rhizomes</B> 2-2.5&nbsp;cm diam. <B>Leaves</B>
floating or submersed; petiole terete. <B>Leaf blade</B> abaxially and
adaxially green, linear to lanceolate, 15-30(-50) &times; 5-10(-11.5)&nbsp;cm,
3-5 times as long as wide, sinus less than 1/3 length of midrib, lobes
usually divergent and forming V-shaped angle; surfaces glabrous. <B>Flowers</B>
2-3&nbsp;cm diam.; sepals 6, abaxially green to adaxially yellow toward
base; petals oblong, thick; anthers 3-5&nbsp;mm, barely or not at all longer
than filaments. <B>Fruit</B> green, ovoid, 3-3.5 &times; 2-3&nbsp;cm, smooth
basally, strongly ribbed toward apex, slightly constricted below stigmatic
disk; stigmatic disk green, 14-18&nbsp;mm diam., nearly entire; stigmatic
rays 10-14, linear, mostly terminating 1-2&nbsp;mm from margin of disk.
<B>Seeds</B> 4-5&nbsp;mm.</P>

<P>Flowering mid spring-early fall. Freshwater
streams, rivers, ponds, and lakes of coastal plain, extending to freshwater
tidal areas; of conservation concern; 0-50&nbsp;m; N.C., S.C., Va.</P>

<P><I>Nuphar sagittifolia</I> is probably best
treated as a subspecies. Plants intermediate between it and <I>N</I>.&nbsp;<I>advena</I>
are treated under <I>N</I>.&nbsp;<I>advena</I>. The clinal variation pattern
between the two taxa is apparently maintained via selection by vernalization
(C.&nbsp;E. DePoe and E.&nbsp;O. Beal 1969; E.&nbsp;O. Beal and R.&nbsp;M.
Southall 1977).</P>

<P>This taxon is the Cape Fear spatterdock of
the aquarium trade.<BR>
</P>

<P><B>