2.<A NAME="22600098"></A><I>Nuphar rubrodisca</I>
Morong</B>, Bot. Gaz. 11: 167. 1886 (as <I>rubrodiscum</I>) - N&eacute;nuphar
&agrave; disque rouge - E F</P>

<P><I>Nuphar lutea</I> (Linnaeus) Smith subsp.
<I>rubrodisca</I> (Morong) Hellquist &amp; Wiersema; <I>Nymphaea hybrida</I>
Peck; <I>N</I>.&nbsp;<I>rubrodisca</I> (Morong) Greene</P>

<P><B>Rhizomes</B> 1-2.5(-4)&nbsp;cm diam. <B>Leaves</B>
mostly floating, occasionally submersed; petiole flattened. <B>Leaf blade</B>
often abaxially purple on new leaves, adaxially green to greenish purple,
broadly ovate to oblong, 5-25 &times; 4.5-15&nbsp;cm, 1.1-1.7 times as
long as wide, sinus ca. 1/2 length of midrib, lobes overlapping to divergent
and forming V-shaped angle; surfaces glabrous. <B>Flowers</B> 3&nbsp;cm
or more diam.; sepals 5-6, abaxially green to yellow, adaxially often red-tinged
toward base; petals broadly spatulate and thin, or notched and thickened;
anthers (2-)3-6&nbsp;mm, shorter than filaments. <B>Fruit</B> purple, dark
brown, or rarely green, globose-ovoid, occasionally flask-shaped, 1.5-2.5&nbsp;cm,
strongly ribbed, deeply constricted below stigmatic disk, constriction
5-10&nbsp;mm diam.; stigmatic disk red, 8-14&nbsp;mm diam., with 8-14 shallow
crenations; stigmatic rays 8-15, linear, terminating 0-1.6&nbsp;mm from
margin of disk. <B>Seeds</B> 2.5-3.5&nbsp;mm.</P>

<P>Flowering summer. Ponds, lakes, sluggish streams,
sloughs, and occasionally tidal waters; 0-400&nbsp;m; N.B., N.S., Ont.,
Que.; Conn., Maine, Mass., Mich., Minn., N.H., N.J., N.Y., Pa., Vt., Wis.</P>

<P><I>Nuphar rubrodisca</I> is generally considered
to be a hybrid between <I>N</I>.&nbsp;<I>microphylla</I> and <I>N</I>.&nbsp;<I>variegata</I>
because it displays characteristics intermediate between the two taxa.
It is reportedly sterile in some areas and completely fertile in others.<BR>
</P>

<P><B>