3.<A NAME="22600101"></A><I>Nuphar variegata</I>
Durand in G.&nbsp;W. Clinton</B>, Rep. (Annual) Regents Univ. State New
York State Cab. Nat. Hist. 19: 73. 1866 (as <I>variegatum</I>) - Grand
n&eacute;nuphar jaune - E F</P>

<P><I>Nuphar americana</I> Provancher; <I>N</I>.&nbsp;<I>fraterna</I>
(G.&nbsp;S. Miller &amp; Standley) Standley; <I>N</I>.&nbsp;<I>lutea</I>
(Linnaeus) Smith subsp. <I>variegata</I> (Durand) E.&nbsp;O. Beal; <I>Nymphaea
americana</I> (Provancher) G.&nbsp;S. Miller &amp; Standley; <I>N</I>.&nbsp;<I>fraterna</I>
G.&nbsp;S. Miller &amp; Standley</P>

<P><B>Rhizomes</B> 2.5-7&nbsp;cm diam. <B>Leaves</B>
mostly floating, occasionally submersed; petiole adaxially flattened, with
median ridge, winged along margins. <B>Leaf blade</B> abaxially and adaxially
green, sometimes abaxially purple-tinged, broadly ovate to oblong, 7-35
5-25&nbsp;cm, 1.2-1.6 times as long as wide, sinus 1/3-1/2 length of midrib,
lobes approximate to overlapping; surfaces glabrous. <B>Flowers</B> 2.5-5&nbsp;cm
diam.; sepals mostly 6, abaxially green to yellow, adaxially usually with
red or maroon toward base; petals oblong, thick; anthers 3-9&nbsp;mm, longer
than filaments. <B>Fruit</B> mostly purple-tinged, ovoid, 2-4.3 2-3.5&nbsp;cm,
strongly ribbed, slightly constricted below stigmatic disk; stigmatic disk
green, rarely reddened, 8-20&nbsp;mm diam., entire to deeply crenate; stigmatic
rays 7-28, linear to narrowly lanceolate, terminating 0-1(-1.5)&nbsp;mm
from margin of disk. <B>Seeds</B> 2.5-5&nbsp;mm. 2<I>n</I>&nbsp;=&nbsp;34.</P>

<P>Flowering late spring-summer. Ponds, lakes,
sluggish streams, and ditches; 0-2000&nbsp;m; St. Pierre and Miquelon;
Alta., B.C., Man., N.B., Nfld., N.W.T., N.S., Ont., P.E.I., Que., Sask.,
Yukon; Conn., Del., Idaho, Ill., Ind., Iowa, Maine, Md., Mass., Mich.,
Minn., Mont., Nebr., N.H., N.J., N.Y., N.Dak., Ohio, Pa., R.I., S.Dak.,
Vt., Wis.</P>

<P><I>Nuphar variegata</I> is distinct throughout
most of its range. The leaves are characteristically floating, being emergent
only under low-water conditions. Intermediates between <I>N</I>.&nbsp;<I>variegata</I>
and <I>N</I>. <I>microphylla</I>, probably of hybrid origin, are treated
as <I>N</I>.&nbsp;<I>rubrodisca</I>. Some intergrading of characteristics
occurs where the range overlaps with <I>N</I>.&nbsp;<I>advena</I> (E.&nbsp;O.
Beal 1956). This can be observed in the mid-Atlantic region. Intermediates
between <I>N</I>.&nbsp;<I>variegata</I> and <I>N</I>.&nbsp;<I>polysepala</I>
occur in eastern British Columbia where the two species are sympatric.
Authorship and typification of this name were discussed by E.&nbsp;G. Voss
(1965).<BR>
</P>

<P><B>