5.<A NAME="50041945"></A><I>Nuphar ulvacea</I>
(G.&nbsp;S. Miller &amp; Standley) Standley</B>, Publ. Field Columbian
Mus., Bot. Ser. 8: 311. 1931 (as <I>ulvaceum</I>) - C E</P>

<P><I>Nymphaea ulvacea</I> G.&nbsp;S. Miller
&amp; Standley, Contr. U.S. Natl. Herb. 16: 97. 1912; <I>Nuphar lutea</I>
(Linnaeus) Smith subsp. <I>ulvacea</I> (G.&nbsp;S. Miller and Standley)
E.&nbsp;O. Beal</P>

<P><B>Rhizomes</B> 2-5&nbsp;cm diam. <B>Leaves</B>
floating or submersed; petiole terete. <B>Leaf blade</B> abaxially and
adaxially green, lanceolate to ovate, 15-25 &times; 8-10&nbsp;cm, ca. 2.5
times as long as wide, sinus less than 1/3 length of midrib, lobes often
overlapping; surfaces glabrous. <B>Flowers</B> 2-3&nbsp;cm diam.; sepals
6-9, abaxially green to adaxially yellow toward base; petals oblong, thick;
anthers 2-5&nbsp;mm, slightly longer than filaments. <B>Fruit</B> green,
nearly globose, 1.5-2.5 &times; 1.5-2.5&nbsp;cm, strongly ribbed, slightly
constricted below stigmatic disk; stigmatic disk green, 11-18&nbsp;mm diam.,
undulate; stigmatic rays 9-16, &plusmn;&nbsp;elliptic, terminating within
1&nbsp;mm from margin of disk. <B>Seeds</B> 3.5-4&nbsp;mm.</P>

<P>Flowering spring-early fall. Blackwater rivers
and streams; of conservation concern; 0-100&nbsp;m; Fla.</P>

<P><I>Nuphar ulvacea</I> is probably better treated
as a subspecies. Gulf coast plants intermediate between <I>N</I>.&nbsp;<I>ulvacea</I>
and <I>N</I>.&nbsp;<I>advena</I>, which have been treated as <I>Nymphaea</I>
[<I>Nuphar</I>] <I>chartacea</I>, are treated under <I>N</I>.&nbsp;<I>advena</I>.<BR>
</P>

<P><B>