7.<A NAME="50041949"></A><I>Nuphar orbiculata</I>
(Small) Standley</B>, Publ. Field Columbian Mus., Bot. Ser. 8: 311. 1931
(as <I>orbiculatum</I>) - E</P>

<P><I>Nymphaea orbiculata</I> Small, Bull. Torrey
Bot. Club 23: 128. 1896; <I>Nuphar lutea</I> (Linnaeus) Smith subsp. <I>orbiculata</I>
(Small) E.&nbsp;O. Beal; <I>Nymphaea bombycina</I> G.&nbsp;S. Miller &amp;
Standley</P>

<P><B>Rhizomes</B> ca. 7-8&nbsp;cm diam. <B>Leaves</B>
mostly floating, occasionally submersed; petiole terete. <B>Leaf blade</B>
abaxially and adaxially green, often suffused with purple, orbiculate or
nearly so, 20-45 &times; 20-45&nbsp;cm, 1-1.2 times as long as wide, sinus
ca. 1/2 length of midrib, lobes approximate to overlapping; surfaces abaxially
densely pubescent. <B>Flowers</B> 4-8&nbsp;cm diam.; sepals 6, abaxially
green to adaxially yellow, never red-tinged toward base; petals oblong,
thick; anthers 5-6&nbsp;mm, longer than filaments. <B>Fruit</B> greenish
or yellowish, cylindric to nearly globose, 3.5-5&nbsp;cm, smooth basally,
finely ribbed toward apex, slightly constricted below stigmatic disk; stigmatic
disk green, yellow, or sometimes reddened, ca. 30-35&nbsp;mm diam., undulate;
stigmatic rays 12-28, linear or lanceolate, terminating 1-3&nbsp;mm from
margin of disk. <B>Seeds</B> 4-6&nbsp;mm.</P>

<P>Flowering mid spring-early fall. Acidic ponds;
0-100&nbsp;m; Ala., Fla., Ga.</P>

<P><I>Nuphar orbiculata</I> is perhaps best treated
as a subspecies. Plants intermediate between it and <I>N</I>.&nbsp;<I>advena</I>
occur in southern Georgia and northern Florida.<BR>
</P>

<P><B>