9.<A NAME="22600004"></A><I>Nymphaea odorata</I>
Aiton</B>, Hort. Kew. 2: 227. 1789 - Fragrant water-lily, white water-lily,
pond-lily - W2</P>

<P><B>Rhizomes</B> frequently branched, repent,
cylindric; stolons absent. <B>Leaves:</B> petiole glabrous or pubescent.
<B>Leaf blade</B> abaxially green to purple, adaxially green, ovate to
nearly orbiculate, (5-)10-40 &times; (5-)10-40&nbsp;cm, margins entire;
venation radiate centrally, without weblike pattern, principal veins 6-27;
surfaces glabrous. <B>Flowers</B> floating, 6-19&nbsp;cm diam., opening
and closing diurnally, only sepals and outermost petals in distinct whorls
of 4; sepals uniformly green or reddened, obscurely to prominently veined,
lines of insertion on receptacle not prominent; petals (14-)17-43, white,
rarely pink; stamens 35-120, yellow, connective appendage projecting less
than 1(-2)&nbsp;mm beyond anther; filaments widest below middle, mostly
longer than anthers; pistil 10-25-locular, appendages at margin of stigmatic
disk linear-tapered, 3-8(-10)&nbsp;mm. <B>Seeds</B> ovoid, ca. 1.5-4.5
&times; 0.9-3&nbsp;mm, 1.5-1.75 times as long as broad, lacking papillae
on surface.</P>

<P>Subspecies 2 (2 in the flora): North America,
Mexico, West Indies, Central America.</P>

<P><I>Nymphaea odorata</I> is a polymorphic species,
particularly in and around the Great Lakes region. Over much of that area
the two entities treated here as subspecies are allopatric and can be readily
distinguished; however, in areas of sympatry some populations are intermediate
or contain some intermediate plants without any apparent loss of fertility.
Although traditional treatments distinguish the two at specific rank, recent
floristic works have accepted only one variable species with no infraspecific
taxa. While calling attention to this taxonomic problem, field studies
from within the Great Lakes region have not sufficiently accounted for
the observed variation. Although evidence (P.&nbsp;H. Monson 1960; G.&nbsp;R.
Williams 1970; I.&nbsp;L. Bayly and K.&nbsp;Jongejan 1982) suggests that
some variability may be induced by environmental conditions, both extremes
have been found growing together under seemingly identical conditions.
Further study, especially involving artificial hybridization and/or molecular
approaches, should be undertaken to clarify the relationship.</P>

<P>The geographic patterning of the overall variation
and usefulness of retaining a separate status for those morphs previously
classified as <I>Nymphaea tuberosa</I> justify the recognition of two subspecies
at this time. The key, while useful in separating the two extremes in this
morphologic continuum, is of limited use in identifying intermediate plants.
Compounding the problem of identification is the fact that key characters
are often poorly represented on herbarium material, thus some guidance
should be taken from the distributional notes provided with each subspecies.
Truly intermediate plants, known in Minnesota, Wisconsin, Michigan, New
York, and Vermont, and in southern Ontario and Quebec, may be treated as
<I>N</I>.&nbsp;<I>odorata</I> without regard to subspecies. Sporadic populations,
most probably introduced, on the Great Plains and farther west are difficult
to place to subspecies and are best treated similarly although they are
here included under subsp. <I>odorata</I>.<BR>
</P>

<P><B>