9a.<A NAME="22600226"></A><I>Nymphaea odorata</I>
Aiton subsp. <I>odorata</I> </B>- Nymph&eacute;a odorant - F</P>

<P><I>Castalia lekophylla</I> Small; <I>C</I>.&nbsp;<I>minor</I>
(Sims) de Candolle; <I>C</I>.&nbsp;<I>odorata</I> (Aiton) Woodville &amp;
Wood; <I>Nymphaea odorata</I> forma <I>rubra</I> (E. Guillon) Conard; <I>N</I>.&nbsp;<I>odorata</I>
var. <I>gigantea</I> Tricker; <I>N</I>.&nbsp;<I>odorata</I> var. <I>godfreyi</I>
D.&nbsp;B. Ward; <I>N</I>.&nbsp;<I>odorata</I> var. <I>minor</I> Sims;
<I>N</I>.&nbsp;<I>odorata</I> var. <I>rosea</I> Pursh; <I>N</I>.&nbsp;<I>odorata</I>
var. <I>stenopetala</I> Fernald</P>

<P><B>Rhizomes</B> not constricted at branch
joints, or only rarely so. <B>Leaves:</B> petiole uniformly greenish or
more commonly reddish purple, rarely faintly striped, slender to stout.
<B>Leaf blade</B> abaxially usually deeply reddish or purplish, occasionally
greenish. <B>Flowers:</B> petals white, rarely pink, mostly lanceolate
to elliptic, outer usually slightly or strongly tapering to apex, apex
acute to rounded. <B>Seeds</B> 1.5-2.5&nbsp;mm. 2<I>n</I>&nbsp;=&nbsp;56,
84.</P>

<P>Flowering spring-early fall, mainly summer
farther north. Acidic or alkaline ponds, lakes, sluggish streams and rivers,
pools in marshes, ditches, canals, or sloughs; 0-1700&nbsp;m; B.C., Man.,
N.B., Nfld., N.S., Ont., P.E.I., Que., Sask.; Ala., Ariz., Ark., Calif.,
Colo., Conn., Del., D.C., Fla., Ga., Idaho, Ill., Kans., Ky., La., Maine,
Md., Mass., Mich., Minn., Miss., Mo., Mont., Nebr., Nev., N.H., N.J., N.Mex.,
N.Y., N.C., Okla., Oreg., Pa., R.I., S.C., Tenn., Tex., Utah, Vt., Va.,
Wash., W.Va., Wis.; Mexico; West Indies (Bahamas, Cuba); Central America
(Honduras, El Salvador, Nicaragua); South America (n&nbsp;Guyana, naturalized).</P>

<P><I>Nymphaea odorata</I> subsp. <I>odorata</I>
is introduced in British Columbia and in Arizona, California, Colorado,
Idaho, Montana, Nevada, New Mexico, Oregon, Utah, and Washington. Intermediates
to subsp. <I>tuberosa</I> (see previous comment for distribution) cannot
be keyed satisfactorily to either subspecies. Plants of west-central Manitoba
and east-central Saskatchewan, which are intermediate with <I>Nymphaea
leibergii</I> in most floral characters, are only tentatively placed here.
Unusually dwarfed plants that have been treated as <I>Nymphaea odorata</I>
var. <I>minor</I> may be responses to highly acidic conditions. Very robust
forms recognized by some as <I>N</I>.&nbsp;<I>odorata</I> var. <I>gigantea</I>
occur sporadically along the coastal plain from New Jersey southward, perhaps
in response to some unknown environmental factor. Further study should
be undertaken. Occasional pink-flowered forms, treated as <I>N</I>.&nbsp;<I>odorata</I>
var. <I>rosea</I> or forma <I>rubra</I>, are known from several states;
all existing populations appear to be introductions for ornamental purposes.
Natural hybrids with <I>N</I>.&nbsp;<I>leibergii</I> and <I>N</I>.&nbsp;<I>mexicana</I>
are discussed under those species. <I>Nymphaea reniformis</I> Walter, an
earlier name of uncertain application that has at times been applied to
this taxon, has been recently proposed for rejection (J.&nbsp;H. Wiersema
and J.&nbsp;L. Reveal 1991).</P>

<P>Flowering responses in the northern part of
the range, where the flowers generally open slightly later in the morning
and close much later in the afternoon, are much more variable than those
farther south.<BR>
</P>

<P><B>