4.<A NAME="22600053"></A><I>Nymphaea jamesoniana</I>
Planchon</B>, Fl. Serres Jard. Eur. 8: 120. 1852</P>

<P><B>Rhizomes</B> branched or unbranched, erect,
ovoid to cylindric; stolons absent. <B>Leaves:</B> petiole glabrous. <B>Leaf
blade</B> abaxially and adaxially green, sometimes with darker flecks,
elliptic, 8-25 &times; 7-19&nbsp;cm, margins entire; venation conspicuously
weblike centrally with cross veins between major veins, principal veins
11-17; surfaces glabrous. <B>Flowers</B> floating, 7-15&nbsp;cm diam.,
opening and closing nocturnally, sepals, petals, and outer stamens in distinct
whorls of 4; sepals uniformly green, obscurely veined, lines of insertion
on receptacle not prominent; petals 12, 16, or 20, outer greenish at least
abaxially, inner creamy white; stamens 35-85, creamy white, connective
appendage projecting to 1&nbsp;mm, rarely more, beyond anther; filaments
widest below middle, longer than anthers; pistil 19-33-locular, appendages
at margin of stigmatic disk slightly club-shaped, 3-7(-9)&nbsp;mm. <B>Seeds</B>
nearly globose, 0.5-0.8 &times; 0.45-0.7&nbsp;mm, 1.1-1.2 times as long
as broad, with scattered papillae 10-50&nbsp;&micro;m. 2<I>n</I>&nbsp;=&nbsp;28.</P>

<P>Flowering late summer-fall. Shallow water
of mostly temporary ponds or ditches; 0-100&nbsp;m; native, Fla.; Mexico;
Central America; South America.</P>

<P>All material of the predominantly neotropical
<I>Nymphaea</I> subg. <I>Hydrocallis</I> in the flora is referable to this
taxon. D.&nbsp;B. Ward (1977b) and others listed <I>N</I>.&nbsp;<I>blanda</I>
G. Meyer [=&nbsp;<I>N</I>.&nbsp;<I>glandulifera</I> Rodschied], a Central
and South American taxon, for Florida.<BR>
</P>

<P><B>