2.<A NAME="22600052"></A><I>Nymphaea elegans</I>
Hooker</B>, Bot. Mag., plate 4604. 1851 - Blue water-lily - W1</P>

<P><I>Castalia elegans</I> (Hooker) Greene</P>

<P><B>Rhizomes</B> unbranched, erect, ovoid;
stolons absent. <B>Leaves:</B> petiole glabrous. <B>Leaf blade</B> abaxially
purple, adaxially green, ovate to nearly orbiculate, 8-20(-30) &times;
7-16(-25)&nbsp;cm, margins entire to sinuate; venation radiate and prominent
centrally, without weblike pattern, compressed upon drying, principal veins
9-17; surfaces glabrous. <B>Flowers</B> emersed, 6-13&nbsp;cm diam., opening
and closing diurnally, only sepals and outermost petals in distinct whorls
of 4; sepals green, abaxially flecked with short dark lines, faintly to
obscurely veined, lines of insertion on receptacle not prominent; petals
8-27, pale violet to nearly white; stamens 55-145, yellow, connective appendage
projecting to 1 mm, rarely more, beyond anther; filaments mostly widest
above middle, shorter than anthers; pistil 12-20(-25)-locular, appendages
at margin of stigmatic disk triangular, 1&nbsp;mm or less. <B>Seeds</B>
nearly globose, ca. 1.1-1.6 &times; 0.9-1.3&nbsp;mm, 1.1-1.3 times as long
as broad, with short appressed papillae absent or to 30&nbsp;&micro;m.</P>

<P>Flowering spring-fall. Freshwater ponds, lakes,
sloughs, pools in swamps and marshes, ditches, and canals; 0-150&nbsp;m;
Fla., La., Tex.; ne, w&nbsp;Mexico; West Indies (Bahamas).</P>

<P><B>SELECTED REFERENCE<BR>
</B>Schneider, E.&nbsp;L. 1982. Notes on the floral biology of <I>Nymphaea
elegans</I> (Nymphaeaceae) in Texas. Aquatic Bot. 12: 197-200.<BR>
</P>

<P><B>