8.<A NAME="22600005"></A><I>Nymphaea tetragona</I>
Georgi</B>, Bemerk. Reise Russ. Reich 1: 220. 1775 - Pygmy water-lily,
small white water-lily, nymph&eacute;a t&eacute;tragonal - F</P>

<P><B>Rhizomes</B> unbranched, erect, cylindric;
stolons absent. <B>Leaves:</B> petiole glabrous. <B>Leaf blade</B> abaxially
green to dull purple, adaxially green, sometimes mottled with reddish brown
or purple, especially on young leaves, ovate to elliptic, 3-13(-14) &times;
2-11(-13)&nbsp;cm, margins entire; venation radiate centrally, without
weblike pattern, principal veins 7-13; surfaces glabrous. <B>Flowers</B>
floating, 3-7.5&nbsp;cm diam., opening and closing diurnally, only sepals
and outermost (occasionally innermost) petals in distinct whorls of 4;
sepals uniformly green, obscurely veined, lines of insertion on receptacle
very prominent, protuberant, forming tetragons; petals 10-17, white; stamens
30-70, yellow-orange, abaxially usually suffused with purple, connective
appendage projecting less than 0.2&nbsp;mm beyond anther; filaments widest
above middle, longer than anthers; pistil 5-10-locular, appendages at margin
of stigmatic disk boat-shaped, (2-)3-4 &times; 2-4&nbsp;mm. <B>Seeds</B>
ovoid, ca. 2-3 &times; 1.5-2&nbsp;mm, ca. 1.3-1.5 times as long as broad,
lacking papillae on surface. 2<I>n</I>&nbsp;=&nbsp;112.</P>

<P>Flowering summer. Ponds, lakes, and quiet
streams; 0-1200&nbsp;m; Alta., B.C., Man., N.W.T., Sask.; Alaska, Wash.;
Eurasia.</P>

<P>Although broadly distributed in the northwest
part of the flora, <I>Nymphaea tetragona</I> is apparently not common over
the Canadian portion of its range. It was collected once in extreme northwestern
Washington but is believed to be extirpated there. True <I>N</I>.&nbsp;<I>tetragona</I>
is absent from northeastern North America and, now, from the conterminous
United States, where this name has usually been applied to what is here
segregated as <I>N</I>.&nbsp;<I>leibergii</I>. In size and shape of leaves
and flowers the two taxa are very similar. They differ in the leaf mottling
often present in developing leaves of <I>N</I>.&nbsp;<I>tetragona</I> but
absent in <I>N</I>.&nbsp;<I>leibergii</I>; the distinctly tetragonal appearance
of the receptacle in <I>N</I>.&nbsp;<I>tetragona</I>; and in the longer
carpellary appendages, the presence usually of more stamens, and purple-colored
stamens and pistils in <I>N</I>.&nbsp;<I>tetragona</I>. Only in living
plants is it apparent that leaves of <I>N</I>.&nbsp;<I>leibergii</I> are
thicker with impressed veins abaxially compared to the relatively thin
leaves with raised veins in <I>N</I>.&nbsp;<I>tetragona</I>. Although distinctions
in sepal and petal apices (often acute in <I>N</I>. <I>tetragona</I> and
often rounded in <I>N</I>.&nbsp;<I>leibergii</I>) were the basis for the
establishment of <I>Castalia leibergii</I>, the characters are variable
in both taxa and thus of limited utility in distinguishing them.<BR>
</P>

<P><B>