6.<A NAME="22600023"></A><I>Nymphaea mexicana</I>
Zuccarini</B>, Abh. Math.-Phys. Cl. K&ouml;nigl. Bayer. Akad. Wiss. 1:
365. 1832 - Banana water-lily, yellow water-lily, herbe au coeur - F W2</P>

<P><I>Castalia flava</I> (Leitner) Greene; <I>Nymphaea
flava</I> Leitner</P>

<P><B>Rhizomes</B> unbranched, erect, cylindric;
stolons elongate, spongy, developing clusters of curved, fleshy, overwintering
roots resembling tiny bananas at terminal nodes. <B>Leaves:</B> petiole
glabrous. <B>Leaf blade</B> abaxially purplish with dark flecks, adaxially
green, often with brown mottling, ovate to elliptic or nearly orbiculate,
7-18(-27) &times; 7-14(-18)&nbsp;cm, margins entire or sinuate; venation
radiate and impressed centrally, without weblike pattern, principal veins
11-22; surfaces glabrous. <B>Flowers</B> floating or emersed, 6-11&nbsp;cm
diam., opening and closing diurnally, only sepals and outermost petals
in distinct whorls of 4; sepals uniformly yellowish green, often red-tinted,
evidently veined, lines of insertion on receptacle often slightly prominent;
petals 12-30, yellow; stamens ca. 50-60, yellow, connective appendage minute
or absent; filaments widest below middle, longer than anthers; pistil 7-10-locular,
appendages at margin of stigmatic disk oblong-tapered, to 4.5&nbsp;mm.
<B>Seeds</B> globose, ca. 5 &times; 5&nbsp;mm, uniformly covered with hairlike
papillae 100-220&nbsp;&micro;m. 2<I>n</I>&nbsp;=&nbsp;56.</P>

<P>Flowering spring-fall, mainly summer farther
north. Outer coastal plain in alkaline lakes, ponds, warm springs, pools
in marshes, sloughs, sluggish streams, ditches, and canals; 0-1100&nbsp;m;
Ala., Ariz., Calif., Fla., Ga., La., Miss., N.C., Okla., S.C., Tex.; ne,
c&nbsp;Mexico.</P>

<P><I>Nymphaea mexicana</I> is probably introduced
in most inland sites and in California, where it is considered a problematic
weed in waterways; it is not common in most states except Florida. The
distribution of this species is similar to that of the winter distribution
of canvasback ducks, for which the bananalike tubers are an important food
(J.&nbsp;E. Cely 1979). This species forms natural hybrids with <I>N</I>.&nbsp;<I>odorata</I>;
the hybrids have been named <I>N</I>.&nbsp;&times;<I>thiona</I> D.&nbsp;B.
Ward (D.&nbsp;B. Ward 1977). Except for stem characteristics, which resemble
one or the other parent, and their added vigor, the hybrids are generally
intermediate in morphology. They are completely sterile; however, hybrids
with the stolon-bearing habit of <I>N</I>.&nbsp;<I>mexicana</I> can form
extensive clones and, although somewhat larger in stature than <I>N</I>.&nbsp;<I>mexicana</I>,
they closely resemble that less agressive parent and could easily be mistaken
for it. Some of the introductions, such as in southeastern Nevada and north-central
Kentucky, are clearly this hybrid.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Capperino, M.&nbsp;E. and E.&nbsp;L. Schneider. 1985. Floral biology
of <I>Nymphaea mexicana</I> Zucc. (Nymphaeaceae). Aquatic Bot. 23: 83-93.
Cely, J.&nbsp;E. 1979. The ecology and distribution of banana waterlily
and its utilization by canvasback ducks. Proc. Annual Conf. SouthE. Assoc.
Fish Wildlife Agencies 33: 43-47.<BR>
</P>

<P><B>