1.<A NAME="22600051"></A><I>Nymphaea ampla</I>
(Salisbury) de Candolle</B>, Syst. Nat. 2: 54. 1821 - W1</P>

<P><I>Castalia ampla</I> Salisbury, Ann. Bot.
(K&ouml;nig &amp; Sims) 2: 73. 1805</P>

<P><B>Rhizomes</B> unbranched, erect, ovoid;
stolons absent. <B>Leaves:</B> petiole glabrous. <B>Leaf blade</B> abaxially
purple, often spotted, adaxially green, ovate to nearly orbiculate, 15-45
&times; 15-45&nbsp;cm, margins dentate to spinose-dentate; venation radiate
and prominent centrally, without weblike pattern, principal veins 13-29;
surfaces glabrous. <B>Flowers</B> emersed, 7-18&nbsp;cm diam., opening
and closing diurnally, only sepals and outermost petals in distinct whorls
of 4; sepals green, abaxially flecked with short dark streaks, faintly
veined, lines of insertion on receptacle not prominent; petals 12-21, white;
stamens 50-190, yellow, outer with connective appendage projecting 3-10&nbsp;mm
beyond anther; filaments widest at or below middle, mostly equal to or
shorter than anthers; pistil 14-25-locular, appendages at margin of stigmatic
disk short-triangular, to 3&nbsp;mm. <B>Seeds</B> nearly globose to ellipsoid,
1.2-1.6 &times; 0.9-1.3&nbsp;mm, 1.2-1.5 times as long as broad, with longitudinal
rows of hairlike papillae 40-180&nbsp;&micro;m.</P>

<P>Flowering all year. Ditches, canals, ponds,
and freshwater tidal margins; 0-350&nbsp;m; Fla., Tex.; Mexico; West Indies;
Central America; South America.</P>

<P>Reports of <I>Nymphaea ampla</I> in southern
Texas by H.&nbsp;S. Conard (1905) are confirmed by specimens although no
recent collections have been seen.</P>

<P><B>SELECTED REFERENCE<BR>
</B>Wunderlin, R.&nbsp;P. and D.&nbsp;H. Les. 1980. <I>Nymphaea ampla</I>
(Nymphaeaceae), a waterlily new to Florida. Phytologia 45: 82-84.<BR>
</P>

<P><B>