5.<A NAME="22600022"></A><I>Nymphaea lotus</I>
Linnaeus</B>, Sp. Pl. 1: 511. 1753 - Egyptian lotus (in part)</P>

<P><B>Rhizomes</B> branched or unbranched, erect,
ovoid; stolons slender. <B>Leaves:</B> petiole sparsely to densely puberulent.
<B>Leaf blade</B> abaxially purplish, adaxially green, nearly orbiculate,
to ca. 3 &times; 3&nbsp;dm, margins spinose-dentate; venation radiate and
prominent centrally, without weblike pattern, principal veins ca. 15; surfaces
abaxially sparsely to densely puberulent. <B>Flowers</B> emersed, 12-25&nbsp;cm
diam., opening nocturnally, many flowers not closing until late morning,
only sepals and outermost petals in distinct whorls of 4; sepals abaxially
uniformly green, prominently veined, lines of insertion on receptacle not
prominent; petals 16-20, white; stamens ca. 75, yellow, outer with connective
appendage projecting less than 2&nbsp;mm beyond anther; filaments widest
below middle, slightly shorter to longer than anthers; pistil ca. 20(-30)-locular,
appendages at margin of stigmatic disk linear, 6-12&nbsp;mm. <B>Seeds</B>
ellipsoid, 1.4-1.8 &times; 0.9-1.2&nbsp;mm, ca. 1.5-1.6 times as long as
broad, with longitudinal ridges bearing papillae 20-150&nbsp;&micro;m.</P>

<P>Flowering spring-summer. Ponds, ditches, and
canals; 0-100&nbsp;m; introduced; Fla., La.; Africa.</P>

<P><B>SELECTED REFERENCE<BR>
</B>Wiersema, J.&nbsp;H. 1982. Distributional records for <I>Nymphaea lotus</I>
(Nymphaeaceae) in the Western Hemisphere. Sida 9: 230-234.<BR>
</P>

<P><B>