

<P><B>2. NYMPHAEA Linnaeus</B>,
Sp. Pl. 1: 510. 1753; Gen. Pl. ed. 5, 227. 1754, name conserved - Water-lily,
nymph&eacute;a, lis d'eau, n&eacute;nuphar blanc [Greek <I>nymphaia</I>
and Latin <I>nymphaea</I>, water-lily, from Latin (<I>nympha</I>) or Greek
(<I>nymphe</I>) mythology, goddess of mountains, waters, meadows, and forests]</P>

<P><I>Castalia</I> Salisbury</P>

<P><B>Rhizomes</B> branched or unbranched, erect
or repent; elongate stolons present or absent. <B>Leaves</B> mostly floating
(vernal leaves submersed; blades sessile, broad). <B>Leaf blade</B> orbiculate
to widely ovate or elliptic, basal lobes divergent to overlapping, margins
entire to spinose-dentate, apex of lobe acute or acuminate to widely rounded;
primary venation mostly palmate, midrib with 1 vein. <B>Flowers</B> floating
or emersed, opening diurnally or nocturnally; perianth perigynous, spreading
at anthesis; sepals 4, mostly greenish, ovate to elliptic; petals 8-many,
spirally arranged or wholly or partially whorled, showy, white, pink, blue,
or yellow, broadly lanceolate or ovate to obovate, grading into stamens;
stamens yellow or cream-colored, inserted on lateral surface of ovary,
spreading at anthesis, sometimes with distal connective appendage; ovary
shorter than petals and stamens; stigmatic disk with prominent, distinct,
upwardly incurved appendages around margin. <B>Fruits</B> borne on curved
or coiled peduncles. <B>Seeds</B> nearly globose to ellipsoid, to 5&nbsp;mm;
aril present. <I>x</I>&nbsp;=&nbsp;14.</P>

<P>Species 35-40 (9 in the flora): worldwide.</P>

<P><I>Nymphaea</I> is an important genus of ornamental
plants, with numerous cultivars or wild forms grown in water gardens. Some
have become naturalized in some places, particularly in Florida, and two
such taxa are included in this treatment. A third, <I>N</I>.&nbsp;&times;<I>daubenyana</I>
W.&nbsp;T. Baxter ex Daubeny (<I>N</I>.&nbsp;<I>micrantha</I> Guillemin
&amp; Perrottet &times; <I>N</I>.&nbsp;<I>caerulea</I> Savigny), with blue
flowers and entire leaves and with a proliferous mound of fibrous tissue
above insertion of petiole, may also be encountered in Florida.</P>

<P>Prior to conservation in its current sense,
the name <I>Nymphaea</I> was frequently used for the genus now known as
<I>Nuphar</I>.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Conard, H.&nbsp;S. 1905. The waterlilies: A monograph of the genus
<I>Nymphaea</I>. Publ. Carnegie Inst. Wash. 4: 1-279. Meeuse, B.&nbsp;J.&nbsp;D.
and E.&nbsp;L. Schneider. 1980. <I>Nymphaea</I> revisited: A preliminary
communication. Israel J.&nbsp;Bot. 28: 65-79. Moseley, M.&nbsp;F. Jr. 1961.
Morphological studies of the Nymphaeaceae. II. The flower of <I>Nymphaea</I>.
Bot. Gaz. 122: 233-259. Ward, D.&nbsp;B. 1977. Keys to the flora of Florida.
4. <I>Nymphaea</I> (Nymphaeaceae). Phytologia 37: 443-448. Wiersema, J.&nbsp;H.
1987. A monograph of <I>Nymphaea</I> subgenus <I>Hydrocallis</I> (Nymphaeaceae).
Syst. Bot. Monogr. 16: 1-112. Wiersema, J.&nbsp;H. 1988. Reproductive biology
of <I>Nymphaea</I> (Nymphaeaceae). Ann. Missouri Bot. Gard. 75: 795-804.</P>

<P><B>