

<P><B>12. NYMPHAEACEAE
Salisbury - Water-lily Family</B></P>

<P><B>Herbs</B>, perennial, aquatic, rhizomatous;
roots adventitious; air chambers conspicuous in vegetative portions of
plant. <B>Rhizomes</B> branched or unbranched, erect or repent, tuberous-thickened,
sometimes bearing stolons. <B>Leaves</B> arising directly from rhizome,
alternate, floating, submersed, or emersed; stipules present or absent;
petioles long. <B>Leaf blade</B> lanceolate to ovate or orbiculate, with
basal sinus [peltate], margins entire to spinose-dentate. <B>Inflorescences</B>
axillary or extra-axillary, flowers solitary. <B>Flowers</B> bisexual,
protogynous [homogamous in some species of Nymphaea], diurnal or nocturnal,
borne at or above water surface, occasionally submersed; peduncle long;
involucre absent; perianth often persistent in fruit, hypogynous to perigynous
[epigynous]; sepals usually (4-)5-12, distinct; petals numerous [rarely
absent], often transitional to stamens; stamens numerous; filaments broad
to slender; anthers dehiscing by longitudinal slits, with or without connective
appendage; pistil 1, 3-35-carpellate and -locular; placentation laminar;
ovules numerous per locule; stigma sessile, radiate on stigmatic disk.
<B>Fruits</B> berrylike, indehiscent or irregularly dehiscent. <B>Seeds</B>
several-numerous; aril present or absent; endosperm sparse; perisperm abundant;
embryo minute; cotyledons 2, fleshy.</P>

<P>Genera 6 (including Barclaya), species ca.
50 (2 genera, 17 species in the flora): nearly worldwide.</P>

<P>Nymphaeaceae are insect-pollinated, often
by beetles.</P>

<P>Formerly Nymphaeaceae often have been treated
to include Cabombaceae and Nelumbonaceae, but these are now generally segregated.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Schneider, E.&nbsp;L. 1979. Pollination biology of the Nymphaeaceae.
In: D.&nbsp;M. Caron, ed. 1979. Increasing Production of Agricultural Crops
through Increased Insect Pollination: Proceedings of the IVth International
Symposium on Pollination. College Park, Md. Pp. 419-429. [Maryland Agric.
Exp. Sta. Special Misc. Publ. 1.] Wood, C.&nbsp;E. Jr. 1959. The genera
of the Nymphaeaceae and Ceratophyllaceae in the southeastern United States.
J.&nbsp;Arnold Arbor. 40: 94-112.<BR>
<BR>
<BR>
</P>

