7.<A NAME="22600231"></A><I>Nymphaea leibergii</I>
Morong</B>, Bot. Gaz. 13: 124, in note. 1888 - Pygmy water-lily, small
white water-lily - E F</P>

<P><I>Castalia leibergii</I> Morong; <I>Nymphaea
tetragona</I> Georgi subsp. <I>leibergii</I> (Morong) A.&nbsp;E. Porsild</P>

<P><B>Rhizomes</B> unbranched, erect, cylindric;
stolons absent. <B>Leaves:</B> petiole glabrous. <B>Leaf blade</B> abaxially
green to deep purple, adaxially green, ovate to elliptic, 3-19 &times;
2-15&nbsp;cm, margins entire; venation radiate centrally, without weblike
pattern, principal veins 7-13; surfaces glabrous. <B>Flowers</B> floating,
3-7.5&nbsp;cm diam., opening and closing diurnally, only sepals and outermost
(occasionally innermost) petals in distinct whorls of 4; sepals uniformly
green, obscurely veined, lines of insertion on receptacle not prominent;
petals 8-15, white; stamens 20-40, yellow, connective appendage projecting
less than 0.2&nbsp;mm beyond anther; filaments widest above middle, much
longer than anthers; pistil 5-12-locular, appendages at margin of stigmatic
disk tapered or slightly boat-shaped, 0.6-1.5 &times; 0.8-1.4&nbsp;mm.
<B>Seeds</B> ovoid, ca. 2-3 &times; 1.5-2&nbsp;mm, ca. 1.3-1.5 times as
long as broad, lacking papillae on surface.</P>

<P>Flowering summer. Ponds, lakes, and quiet
streams; 0-1000&nbsp;m; Alta., B.C., Man., Ont., Que., Sask.; Idaho, Maine,
Mich., Minn., Mont.</P>

<P>Although widely distributed in northern North
America, <I>Nymphaea leibergii</I> is apparently not common in much of
its range. It is closely related to <I>N</I>.&nbsp;<I>tetragona</I> (see
also), with which it has been confused; it differs in a number of floral
and foliar characteristics. Although the two species are sympatric over
central and western Canada, the distinctions are maintained. Coexistent
populations are unknown at this time; such populations would provide useful
study opportunities and should be sought in the area of overlap, especially
in southeastern and central Manitoba and east-central British Columbia
where nearby populations exist.</P>

<P>A presumed natural hybrid between <I>Nymphaea
leibergii</I> and <I>N</I>.&nbsp;<I>odorata</I> subsp. <I>odorata</I> has
recently been found by Hellquist in northern Maine. It is intermediate
in morphology between the two parental species and appears to be sterile.<BR>
</P>

<P><B>