9b.<A NAME="22600230"></A><I>Nymphaea odorata</I>
Aiton subsp. <I>tuberosa</I> (Paine) Wiersema &amp; Hellquist</B>, Rhodora
96: 170. 1994<B> </B>- Nymph&eacute;a tub&eacute;reux - E W1</P>

<P><I>Nymphaea tuberosa</I> Paine, Cat. Pl. Oneida
Co., 132. 1865</P>

<P><B>Rhizomes</B> often constricted at branch
joints to form detachable tubers. <B>Leaves:</B> petiole green with brown-purple
stripes, stout. <B>Leaf blade</B> abaxially green or faintly purple. <B>Flowers:</B>
petals white, rarely pink, elliptic to oblanceolate, outer usually with
broadly rounded apex. <B>Seeds</B> mostly 2.8-4.5&nbsp;mm.</P>

<P>Flowering late spring-summer. Mainly alkaline
ponds, lakes, and sluggish streams and rivers, usually in very oozy sediments;
100-400&nbsp;m; Man., Ont., Que.; Conn., Ill., Ind., Iowa, Kans., Maine,
Mass., Mich., Minn., Mo., Nebr., N.H., N.Y., Ohio, Okla., Pa., Vt., Wis.</P>

<P>This taxon, which has been included within
<I>Nymphaea odorata</I> by some recent workers, was formerly almost universally
accepted as a distinct species. In the southern parts of the range of subsp.
<I>tuberosa</I>, where subsp. <I>odorata</I> is absent, subsp. <I>tuberosa</I>
is easily distinguished morphologically from subsp. <I>odorata</I>. Farther
north, where their ranges overlap, the distinctions break down in some
populations but are maintained in others. Some western populations are
probably the result of introductions. A pink-flowered form seen in southeastern
Ohio appears to be derived from this subspecies.<BR>
</P>

