3.<A NAME="22600075"></A><I>Nymphaea capensis</I>
Thunberg</B>, Prodr. Pl. Cap. 2: 92. 1800 - Cape blue water-lily - W1</P>

<P><B>Rhizomes</B> unbranched, erect, ovoid;
stolons absent. <B>Leaves:</B> petiole glabrous. <B>Leaf blade</B> abaxially
suffused with maroon, adaxially green, ovate to orbiculate, to 35(-40)
&times; 30&nbsp;cm, margins sinuate to almost dentate; venation radiate
and somewhat impressed centrally, without weblike pattern, principal veins
mostly 20-25; surfaces glabrous. <B>Flowers</B> emersed, ca. 7-8&nbsp;cm
diam., opening and closing diurnally, only sepals and outermost petals
in distinct whorls of 4; sepals green, shaded abaxially with reddish brown,
margins purplish, evidently veined, lines of insertion on receptacle not
prominent; petals 12-24, blue, lavender, or purple; stamens 100-200, colored
as petals toward apex, outer with connective appendage projecting to 4-5&nbsp;mm
or more beyond anther; filaments widest above middle, shorter than anthers;
pistil 15-31-locular, appendages at margin of stigmatic disk tapered, to
3&nbsp;mm. <B>Seeds</B> ellipsoid, ca. 1.5 &times; 1&nbsp;mm, ca. 1.4-1.8
times as long as broad, with longitudinal rows of hairlike papillae.</P>

<P>Flowering mid spring-summer. Sandy-bottomed
ditches; 0-100&nbsp;m; introduced; Fla; e&nbsp;Africa.</P>

<P>The Florida introductions probably represent
<I>Nymphaea capensis</I> var. <I>zanzibariensis</I> (Caspary) Conard, which
B.&nbsp;Verdcourt (1989), in combining African and Asian plants into a
single species with several varieties, has recently treated as <I>N</I>.&nbsp;<I>nouchali</I>
N.&nbsp;L. Burman var. <I>zanzibariensis</I> (Caspary) Verdcourt. His interpretation
of the type of <I>N</I>.&nbsp;<I>capensis</I>, differing from that of previous
workers, should be further studied. The traditional view is retained here.<BR>
</P>

<P><B>