1. <A NAME="24000026"></A><I>Papaver argemone</I> Linnaeus</B>, Sp.
Pl. 1: 506. 1753 - W2</P>

<P><B>Plants</B> to 5 dm, hispid. <B>Stems</B>
simple or branching. <B>Leaves</B> to 12[-20] cm. <B>Inflorescences:</B>
peduncle appressed-hispid. <B>Flowers:</B> petals dark red, sometimes with
dark basal spot, to 25 mm; anthers pale blue; stigmas 4-6, disc convex
and radially vaulted. <B>Capsules</B> sessile, oblong to clavate, distinctly
ribbed, to 2 cm, sparsely and weakly setose.</P>

<P>Flowering spring-summer. Fields and disturbed
sites; 0-300 m; introduced; Idaho, Oreg., Pa., Utah; Europe; sw Asia.</P>

<P>In its native range, <I>Papaver argemone</I>
is a complex of five diploid, tetraploid, and hexaploid subspecies (J. W.
Kadereit 1986, 1990). Apparently two or more of these have been represented
among the crop weeds and ballast waifs introduced in North America, where
plants are difficult to assign to particular subspecies. The species should
be expected elsewhere in the flora. Collections attributed to Maryland,
Ohio, and Virginia are known also, but they lack more specific citations
of locality.<BR>
<BR>
<BR>
<B>