11c. <A NAME="50007478"></A><I>Papaver</I>
Linnaeus sect. <I>Macrantha</I> Elkan</B>,
Tent. Monogr. Papaver, 19. 1839</P>

<P><I>Papaver</I> sect. <I>Oxytona</I> (Bernhardi)
Pfeiffer</P>

<P><B>Plants</B> perennial, caulescent. <B>Leaf
blades</B> unlobed or 1&times;-lobed, distal not clasping stem. <B>Flowers:</B>
filaments purple, clavate. <B>Capsules</B> poricidal, glabrous.</P>

<P><B>SELECTED REFERENCE<BR>
</B>Goldblatt, P. 1974. Biosystematic studies in <I>Papaver</I> section
<I>Oxytona</I>. Ann. Missouri Bot. Gard. 61: 264-296.<BR>
<BR>
<BR>
<B>