13. <A NAME="24000058"></A><I>Papaver gorodkovii</I> Tolmatchew &amp;
Petrovsky</B>, Bot. Zhurn. (Moscow &amp; Leningrad) 58: 1128, fig. 1. 1973</P>

<P><B>Plants</B> cespitose, sometimes densly
so, to 1.5 dm. <B>Leaves</B> to 5 cm; petiole 1/2-3/4 length
of leaf; blade light green abaxially, dark green adaxially, lanceolate,
1&times;-lobed with 1, occasionally 2, pairs of lateral lobes, hirsute;
terminal lobe occasionally with small secondary lobes, apex obtuse, rounded.
<B>Inflorescences:</B> scapes erect, sparsely to densely hispid. <B>Flowers</B>
to 3.5 cm diam.; petals yellow or white; anthers yellow; stigmas 5-6,
disc flat. <B>Capsules</B> subglobose to obconic, to 1.2 cm, 1-2.5
times longer than broad, densely hirsute, trichomes dark brown or black.</P>

<P>Flowering Jul-early Aug. Well-drained gravels
of floodplain terraces and coastal arctic screes; 0-100 m; Alaska;
Asia (Russian Far East).</P>

<P>According to A. I. Tolmatchew and V. V.
Petrovsky (1975), this species is known in Alaska also from the Seward
Peninsula, presumably based on a specimen at LE (St. Petersburg), which
we have not seen.<BR>
</P>

<P><B>