9. <A NAME="24000262"></A><I>Papaver mcconnellii</I> Hult&eacute;n</B>,
Fl. Alaska Yukon 5: 803, fig. 1. 1945 - E F</P>

<P><I>Papaver denalii</I> Gjaerevoll</P>

<P><B>Plants</B> loosely cespitose, to 1.5 dm.
<B>Leaves</B> to 10 cm; petiole to 1/2 length of leaf; blade gray-
and blue-green on both surfaces, glaucous, lanceolate, 1-2&times;-lobed,
commonly with 3 pairs of primary lateral lobes, hirsute; primary lobes
obovate to strap-shaped, mostly divided, short, apex acute or more commonly
obtuse or rounded. <B>Inflorescences:</B> scapes erect or decumbent, generally
curved, less than 15 cm, hispid. <B>Flowers</B> to 6 cm diam.; petals
yellow, or white with yellow basal spot; anthers yellow; stigmas 5-7, disc
conic-umbonate. <B>Capsules</B> subglobose to obconic, to 1.5 cm,
1-2.5 times longer than broad, strigose, trichomes dark brown to black.
2<I>n</I> = 28.</P>

<P>Flowering Jun-Aug. Calcareous mountain summits,
ridges, and screes; 1000-1500 m; N.W.T., Yukon; Alaska.</P>

<P>In view of intermediate forms in the Alaska
Range, we have broadened the concept of <I>Papaver mcconnellii</I> to include
<I>P</I>. <I>denalii</I>.<BR>
<BR>
<BR>
<B>