8a. <A NAME="24000352"></A><I>Papaver radicatum</I>
Rottbfll subsp. <I>radicatum</I> </B>-
F</P>

<P><I>Papaver lapponicum</I> (Tolmatchew) Nordhagen
subsp. <I>labradoricum</I> (Fedde) Knaben; <I>P</I>. <I>lapponicum</I>
subsp. <I>occidentale</I> (Lundstr&ouml;m) Knaben; <I>P</I>. <I>lapponicum</I>
subsp. <I>porsildii</I> Knaben; <I>P</I>. <I>nigroflavum</I> D. L&ouml;ve;
<I>P</I>. <I>nudicaule</I> Linnaeus var. <I>labradoricum</I> Fedde;
<I>P</I>. <I>radicatum</I> subsp. <I>labradoricum</I> (Fedde) Fedde;
<I>P</I>. <I>radicatum</I> var. <I>labradoricum</I> (Fedde) J. Rousseau
&amp; Raymond; <I>P</I>. <I>radicatum</I> subsp. <I>occidentale</I>
Lundstr&ouml;m; <I>P</I>. <I>radicatum</I> subsp. <I>porsildii</I> (Knaben)
A. L&ouml;ve</P>

<P><B>Plants</B> loosely cespitose, to 1.7 dm,
with persistent, broadly lanceolate leaf bases. <B>Leaves</B> to 12 cm;
petiole to 2/3 length of leaf; blade green on both surfaces, lanceolate,
with 2-4 pairs of primary lateral lobes, hirsute; primary lobes lanceolate
to narrowly strap-shaped, apex acute to rounded. <B>Inflorescences:</B>
scapes erect and curved, hispid, trichomes light colored. <B>Flowers</B>
to 5 cm diam.; petals yellow. <B>Capsules</B> broadly obovoid to ellipsoid,
to 1.5 cm, strigose, trichomes brown, generally without thickened
bases. 2<I>n</I> = 56, 70.</P>

<P>Flowering Jun-Aug. Dry, sandy soils, rocky
tundra communities, fellfield, blockfields, and screes at highest elevations
and northernmost latitudes; 0-2300 m; Greenland; Nfld., N.W.T., Que.,
Yukon; Alaska; circumpolar.<BR>
</P>

<P><B>