<P><A NAME="42000037"></A><B>PAPAVERACEAE</B></P>

<P><B>Herbs or subshrubs, shrubs, or small trees</B>,
annual, biennial, or perennial, scapose or caulescent, usually from taproots,
sometimes from rhizomes; sap clear, white, or colored, often sticky. <B>Stems</B>
leafy or naked, erect, spreading, or decumbent, simple or branching. <B>Leaves</B>
basal and/or cauline, alternate to opposite or whorled, simple, without
stipules, petiolate or sessile; blade unlobed or with 1-3 odd-pinnate,
subpalmate, or palmate orders of lobes. <B>Inflorescences</B> axillary
or terminal, unifloral or else multifloral and cymiform, racemose, umbelliform,
corybiform, or paniculate, pedunculate or subsessile; bracts usually present.
<B>Flowers</B> radially symmetric, pedicellate or sessile; receptacle sometimes
expanded and forming cup or ring beneath calyx (only in <I>Eschscholzia</I>,
<I>Meconella</I>, and <I>Platystemon</I>); perianth and androecium sometimes
perigynous; sepals caducous, 2 or 3, distinct or connate, usually obovate;
petals distinct, usually obovate, mostly 2 times number of sepals, sometimes
more or absent; stamens many or 4-15 (only in <I>Meconella</I> and <I>Canbya</I>);
anthers 2-locular; pistil 1, 2-18[-22]-carpellate; ovary 1-2-locular or
incompletely to completely multilocular by placental intrusion; placentas
2 or more, parietal; style 1 or absent; stigmas or stigma lobes 2-many.
<B>Fruits</B> capsular, dehiscence valvate, poricidal, or transverse, or
carpels dissociating and breaking transversely into 1-seeded segments (only
in <I>Platystemon</I>). <B>Seeds</B> usually many, small, sometimes arillate
or carunculate.</P>

<P>Genera 25-30 (17 genera, 63 species in the
flora): worldwide, mainly Northern Hemisphere.</P>

<P>According to W.&nbsp;R. Ernst (1962b), Papaveraceae
&quot;may be divided conveniently into four subfamilies.&quot; His scheme
is followed here, but with the subfamilies taken up in alphabetic order;
they seem to be natural groups, but their phylogenetic interrelationships
are not yet clear. Similarly, the evolutionary relationships within the
subfamilies remain ambiguous, and the genera in each are listed alphabetically.
Subfamily Chelidonioideae Ernst includes genera 1-5; subf. Eschscholzioideae
Ernst, genera 6-7; subf. Papavaroideae Ernst, genera 8-14; and subf. Platostamenoideae
Ernst, genera 15-17.</P>

<P><I>Hunnemannia fumariifolia</I> Sweet, native
to the highlands of Mexico, is occasionally found in California as a garden
escape. A glabrous perennial with glaucous, blue-gray stem and leaves,
and glossy, yellow petals, it bears an overall resemblance to <I>Eschscholzia</I>
but has distinct sepals, no receptacular cup, and a peltate stigma. Below,
it would key out as <I>Arctomecon</I>.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Ernst, W.&nbsp;R. 1962. A Comparative Morphology of the Papaveraceae.
Ph.D. dissertation. Stanford University. Ernst, W.&nbsp;R. 1962b. The genera
of Papaveraceae and Fumariaceae in the southeastern United States. J.&nbsp;Arnold
Arbor. 43: 315-343. Ernst, W.&nbsp;R. 1967. Floral morphology and systematics
of <I>Platystemon</I> and its allies <I>Hesperomecon</I> and <I>Meconella</I>
(Papaveraceae: Platystemonoideae). Univ. Kansas Sci. Bull. 47: 25-70. Fedde,&nbsp;F.
1909. Papaveraceae-Hypecoideae et Papaveraceae-Papaveroideae. In: H.&nbsp;G.&nbsp;A.
Engler, ed. 1900-1953. Das Pflanzenreich. 107 vols. Berlin. Vol. 40[IV,104],
pp. 1-430. Fedde,&nbsp;F. 1936. Papaveraceae. In: H.&nbsp;G.&nbsp;&nbsp;A.
Engler et al., eds. 1924+. Die nat&uuml;rlichen Pflanzenfamilien, ed. 2.
26+ vols. Leipzig and Berlin. Vol. 17b, pp. 5-145. Grey-Wilson,&nbsp;C.
1993. Poppies: A Guide to the Poppy Family in the Wild and in Cultivation.
Portland. Gunn, C.&nbsp;R. 1980. Seeds and fruits of Papaveraceae and Fumariaceae.
Seed Sci. Techn. 8: 3-58. Gunn, C.&nbsp;R. and M.&nbsp;J. Seldin. 1976.
Seeds and Fruits of North American Papaveraceae. Washington. [U.S.D.A.
Agric. Res. Serv., Techn. Bull. 1517.] Harms,&nbsp;H. 1936. Reihe Rhoeadales.
In: H.&nbsp;G.&nbsp;A. Engler et al., eds. 1924+. Die nat&uuml;rlichen
Pflanzenfamilien, ed. 2. 26+ vols. Leipzig and Berlin. Vol. 17b, pp. 1-4.
Hutchinson,&nbsp;J. 1925. Contributions towards a phylogenetic classification
of flowering plants: V. The genera of Papaveraceae. Bull. Misinform. Kew
1925: 161-168. Kadereit, J.&nbsp;W. 1993. Papaveraceae. In: K.&nbsp;Kubitzki
et al., eds. 1990+. The Families and Genera of Vascular Plants. 2+ vols.
Berlin etc. Vol. 2, pp. 494-506. Stermitz, F.&nbsp;R. 1968. Alkaloid chemistry
and the systematics of <I>Papaver</I> and <I>Argemone</I>. Recent Advances
Phytochem. 1: 161-183.<BR>
</P>

