11e. <A NAME="50007482"></A><I>Papaver</I>
Linnaeus sect. <I>Papaver</I></B></P>

<P><B>Plants</B> annual, caulescent. <B>Leaf
blades</B> unlobed or 1&times;-lobed, distal clasping stem. <B>Flowers:</B>
filaments white, clavate. <B>Capsules</B> poricidal, glabrous.</P>

<P><B>SELECTED REFERENCE<BR>
</B>Kadereit, J. W. 1986b. A revision of <I>Papaver</I> L. sect. <I>Papaver</I>
(Papaveraceae). Bot. Jahrb. Syst. 108: 1-16.<BR>
<BR>
<BR>
<B>