4. <A NAME="24000138"></A><I>Papaver orientale</I> Linnaeus</B>, Sp.
Pl. 1: 508. 1753 - Oriental poppy</P>

<P><I>Papaver pseudo&ouml;rientale</I> (Fedde)
Medwedew</P>

<P><B>Plants</B> to 10 dm, hispid. <B>Stems</B>
simple or rarely branching. <B>Leaves</B> to 35 cm. <B>Inflorescences:</B>
peduncle moderately to densely appressed pale hispid; bracts sometimes
1-4 just beneath flower. <B>Flowers:</B> petals light orange to orange-red,
usually with pale basal spot, sometimes dark-spotted or unspotted, to 6 cm;
anthers violet; stigmas (8-)11-15, disc flat or shallowly convex. <B>Capsules</B>
sessile, subglobose, obscurely ribbed, to 2.5 cm, glaucous.</P>

<P>Flowering spring-summer. Fields, clearings,
roadsides, and disturbed sites; introduced; Ont.; Colo., Iowa, Mich., N.J.,
Pa., Utah, Va., Wis.; sw Asia.</P>

<P>An alpine species in its native range, <I>Papaver
orientale</I> is widely grown for ornament and sometimes persists after
spreading from cultivation. It should be expected elsewhere in the flora.</P>

<P><I>Papaver bracteatum</I> Lindley, which some
authors have included in <I>P</I>. <I>orientale</I>, is similar but
more robust, with buds erect, sepals subtended by 3-5 sepaloid and 2 foliaceous
bracts, flowers to 20 cm diam., deep red petals with dark basal spot,
and capsules to 4 cm. It is widely cultivated and may occasionally
escape but apparently does not become naturalized.<BR>
</P>

<P><B>