11. <A NAME="24000256"></A><I>Papaver pygmaeum</I> Rydberg</B>, Bull.
Torrey Bot. Club 29: 159. 1902 - E</P>

<P><I>Papaver radicatum</I> Rottbfll var. <I>pygmaeum</I>
(Rydberg) S. L. Welsh</P>

<P><B>Plants</B> loosely cespitose, to 1.2 dm.
<B>Leaves</B> to 5 cm; petiole to 2/3 length of leaf; blade blue-green
on both surfaces, broadly ovate, 2&times;-lobed with 2 pairs of primary
lateral lobes, glabrous or sparsely hirsute; primary lobes lanceolate to
obovate, apex obtuse or rounded, sometimes bristle-tipped. <B>Inflorescences:</B>
scapes erect or curved, sparsely hispid, trichomes spreading. <B>Flowers</B>
to 2 cm diam.; petals yellow, or orange with yellow basal spot, or
orange-pink; anthers yellow; stigmas 4-5, disc convex. <B>Capsules</B>
obovoid to obconic, 2-2.5 times longer than broad, to 1.5 cm, strigose,
trichomes light (ivory). 2<I>n</I> = 14.</P>

<P>Flowering Jul-Aug. Mountain summits, ridges,
and screes; to 2900 m; Alta., B.C.; Mont.</P>

<P>This well-marked species has its closest relatives
within the <I>Papaver alpinum</I> complex in the mountains of central and
southern Europe, e.g., <I>P</I>. <I>pyrenaicum</I> (Linnaeus) Willdenow.</P>

<P>The report of 2<I>n</I> = 42, attributed
by D. L&ouml;ve and N. J. Freedman (1956) to A. C. Faberg&eacute;
(1944), is an error; it is based on material from Pikes Peak, Colorado,
where <I>P</I>. <I>pygmaeum</I> has not been found (D. F. Murray
1995).<BR>
<BR>
<BR>
<B>