8b. <A NAME="24001061"></A><I>Papaver radicatum</I>
Rottbfll subsp. <I>alaskanum</I> (Hult&eacute;n) J. P. Anderson</B>,
Fl. Alaska, 244, fig. 517. 1959</P>

<P><B><I>Papaver alaskanum</I> Hult&eacute;n,
Fl. Aleut. Isl., 190, plate 10. 1937; <I>P</I>. <I>alaskanum</I> var.
<I>grandiflorum</I> Hult&eacute;n; <I>P</I>. <I>alaskanum</I> var.
<I>latilobum</I> Hult&eacute;n; <I>P</I>. <I>microcarpum</I> de Candolle
subsp. <I>alaskanum</I> (Hult&eacute;n) Tolmatchew</B></P>

<P><B>Plants</B> loosely to densely cespitose,
to 1.8 dm, with abundant long-lanceolate, acuminate, dull to shiny,
persistent leaf bases. <B>Leaves</B> to 10 cm; petiole to 3/4 length
of leaf; blade green on both surfaces, lanceolate, with 2-4 pairs of primary
lateral lobes; primary lobes lanceolate to obovate, apex acute to rounded.
<B>Inflorescences:</B> scapes curved or straight, sparingly to densely
hispid, trichomes appressed-ascending to spreading, light to dark brown.
<B>Flowers</B> to 6.5 cm diam.; petals yellow, occasionally pink tinged
(w Aleutians). <B>Capsules</B> subglobose to obovoid-obconic, to 1.5 cm,
strigose, trichomes light to dark brown, base abruptly expanded. The chromosome
number (2<I>n</I> = 42) attributed to G. Knaben (1959) by
U. R&auml;ndel (1977) cannot be confirmed.</P>

<P>Flowering Jun-Aug. Sands and gravels and on
rocky tundra; 0-100 m; Alaska; Asia (Russian Far East, Kamchatka).</P>

<P>In the flora area, <I>Papaver radicatum</I>
subsp. <I>alaskanum</I> is known from Kodiak Island, the Kenai Peninsula,
the islands of the Bering Sea, the Aleutian Islands, the coastal Alaska
Peninsula and Bristol Bay region, and disjunct northward in Alaska to the
Chukchi Sea.</P>

<P>We distinguish these coastal plants from the
ones at high elevations in the interior of Alaska and Yukon that also have
numerous persistent leaf bases and have been named <I>Papaver alaskanum</I>
by others (cf. E. Hult&eacute;n 1968; S. L. Welsh 1974) but otherwise
have the features of <I>P</I>. <I>radicatum</I> subsp. <I>radicatum</I>
or subsp. <I>kluanensis</I>. Specimens of <I>P</I>. <I>radicatum</I> subsp.
<I>alaskanum</I> with short, broad capsules and light-colored trichomes
approach, in these respects, the Asiatic <I>P</I>. <I>microcarpum</I>,
a similarity that Tolmatchew has already indicated with his combination
<I>P</I>. <I>microcarpum</I> subsp. <I>alaskanum</I>.<BR>
</P>

<P><B>