10. <A NAME="24000052"></A><I>Papaver alboroseum</I> Hult&eacute;n</B>,
Fl. Kamtchatka 2: 141, plate 3, fig. c. 1928</P>

<P><B>Plants</B> cespitose, to 1.5 dm. <B>Leaves</B>
to 4 cm; petiole 1/2 length of leaf or less; blade gray-green on both
surfaces, broadly lanceolate, 1-2&times;-lobed with 1 or 2 pairs of primary
lateral lobes, white- to brown-setose; primary lobes obovate to strap-shaped,
margins sometimes toothed, apex obtuse-rounded to acute, bristle-tipped.
<B>Inflorescences:</B> scapes often decumbent, bowed, spreading-hispid.
<B>Flowers</B> to 2.5 cm diam.; petals white to rose with yellow basal
spot; anthers yellow; stigmas 5-7, disc convex. <B>Capsules</B> subglobose
to ellipsoid, to 1.3 cm, 1-2 times longer than broad, strigose, trichomes
light (ivory). 2<I>n</I> = 28.</P>

<P>Flowering Jun-Aug. Rocky tundra of ridges
and mountain summits, ash and cinder slopes, and in sand and gravel of
glacial outwash and river flood plains; 0-2000 m; B.C., Yukon; Alaska;
Asia (Russian Far East, Kamchatka).</P>

<P><I>Papaver alboroseum</I> is infrequent at
scattered localities on high mountains within the area mapped. It is locally
and unusually abundant in gravels below the terminus of the Portage Glacier,
near Anchorage, Alaska. Reports of its presence in arctic Alaska are based
on misidentifications of <I>P</I>. <I>lapponicum</I>.<BR>
<BR>
<BR>
<B>