6a. <A NAME="24000864"></A><I>Papaver macounii</I>
Greene subsp. <I>macounii</I> </B>- E</P>

<P><I>Papaver alaskanum</I> Hult&eacute;n var.
<I>macranthum</I> Hult&eacute;n</P>

<P><B>Plants</B> robust, to 3 dm, persistent
leaf bases numerous, firm, acuminate, ciliate, glabrous to densely hispid.
<B>Leaves</B> to 10 cm; blade green, with 3-4 pairs of primary lateral
lobes; surfaces hispid, trichomes white. <B>Inflorescences:</B> scapes
hispid, often densely so, with appressed and spreading trichomes. <B>Flowers</B>
to 6 cm diam.; petals yellow, or white and tinged yellow basally;
anthers yellow; stigmas 5-6, disc convex to conic-umbonate. <B>Capsules</B>
obovoid-obconic, to 2 cm, strigose with light brown trichomes. 2<I>n</I> = 28.</P>

<P>Flowering Jun-Aug. Dry rocky and gravelly
soils; 0-200 m; Alaska.</P>

<P>This subspecies has been collected repeatedly
on St. Paul Island, the type locality, and is known also from St. George
Island and several disjunct localities on the coastal mainland of western
Alaska as far north as the Seward Peninsula. It can be distinguished from
<I>Papaver macounii</I> subsp. <I>discolor</I> by its more uniformly green
and generally hispid leaves, and from <I>P</I>. <I>radicatum</I> subsp.
<I>alaskanum</I> by its longer and narrower capsules. No counterpart has
been found in the Russian Far East.<BR>
</P>

<P><B>