8d. <A NAME="24000875"></A><I>Papaver radicatum</I>
Rottbfll subsp. <I>kluanensis</I> (D. L&ouml;ve) D. F. Murray</B>,
Novon 5: 294. 1995<B> </B>- E</P>

<P><I>Papaver kluanensis</I> D. L&ouml;ve,
Bot. Not. 109: 178. 1956; <I>P</I>. <I>freedmanianum</I> D. L&ouml;ve</P>

<P><B>Plants</B> loosely cespitose, to 1.7 dm,
mostly shorter, with short, soft, dull, persistent leaf bases. <B>Leaves</B>
to 7 cm; petiole to 2/3 length of leaf; blade gray- to blue-green
on both surfaces, lanceolate, with 2-3(-4) pairs of primary lateral lobes,
distal pairs closely spaced, proximal often somewhat distant; primary lobes
lanceolate, apex acute to obtuse. <B>Inflorescences:</B> scapes erect,
white-hispid, often densely so. <B>Flowers</B> to 2 cm diam.; petals
yellow, rarely pink tinged or brick red. <B>Capsules</B> ellipsoid-subglobose
to oblong-obconic, to 1.2 cm, strigose, trichomes light brown. 2<I>n</I> = 42, 56.</P>

<P>Flowering Jun-Aug. Dry, rocky alpine ridges;
1500-4000 m; Alta., B.C., Yukon; Alaska, Colo., Idaho, N.Mex., Utah,
Wyo.</P>

<P>Plants from the northern part of the range
(including the type locality) are taller, with leaf blades 1&times;-pinnate,
larger flowers, and ellipsoid-subglobose capsules, whereas those from the
southern part are consistently shorter, with leaf blades 2&times;-pinnate
(more deeply so than in <I>Papaver radicatum</I> subsp. <I>radicatum</I>
or subsp. <I>polare</I>), smaller flowers, and oblong-obconic capsules.
Because of these differences, D. L&ouml;ve (1969) maintained <I>P</I>.
<I>radicatum</I> subsp. <I>kluanensis</I> as distinct from the Utah (and
presumably other southern) populations of the <I>Papaver radicatum</I>
complex. Nevertheless, we agree with U. R&auml;ndel (1975) that the
northern and southern populations are linked (in Colorado and Wyoming)
by intermediate forms, and hence all are here included within <I>P</I>.
<I>radicatum</I> subsp. <I>kluanensis</I>.<BR>
<BR>
<BR>
<B>