11b. <A NAME="50007477"></A><I>Papaver</I>
Linnaeus sect. <I>Californicum</I> Kadereit,
Rhodora 90: 11. 1988</P>

<P><B>Plants</B> annual, caulescent. <B>Leaf
blades</B> 1-2&times;-lobed, distal not clasping stem. <B>Flowers:</B>
filaments greenish yellow, filiform. <B>Capsules</B> distinctly valvate,
glabrous.</P>

<P><B>SELECTED REFERENCE<BR>
</B>Kadereit, J. W. 1988b. <I>Papaver</I> L. sect. <I>Californicum</I>
Kadereit, a new section of the genus. Rhodora 90: 7-13.<BR>
<BR>
<BR>
<B>
