6. <A NAME="24000136"></A><I>Papaver macounii</I> Greene</B>, Pittonia
3: 247. 1897</P>

<P><B>Plants</B> loosely cespitose, with persistent
leaf bases. <B>Leaves:</B> petiole to 3/4 length of leaf; blade lanceolate,
1-2&times;-lobed; primary lobes generally lanceolate, sometimes strap-shaped,
apex acute or obtuse. <B>Inflorescences:</B> scapes erect. <B>Capsules</B>
more than 4 times longer than broad.</P>

<P>Subspecies 2 (2 in the flora): North America,
Russia.<BR>
</P>

<P><B>