11f. <A NAME="50007484"></A><I>Papaver</I>
Linnaeus sect. <I>Rhoeadium</I> Spach</B>,
Hist. Nat. V&eacute;g. 7: 16. 18<B>39</B></P>

<P><B>Plants</B> annual, caulescent, sometimes
subscapose. <B>Leaf blades</B> 1-2&times;-lobed, distal not clasping stem.
<B>Flowers:</B> filaments purple, filiform. <B>Capsules</B> poricidal,
glabrous.</P>

<P><B>SELECTED REFERENCE<BR>
</B>Kadereit, J. W. 1989. A revision of <I>Papaver</I> L. section
<I>Rhoeadium</I> Spach. Notes Roy. Bot. Gard. Edinburgh 45: 225-286.<BR>
<BR>
<BR>
<B>