7. <A NAME="24000059"></A><I>Papaver lapponicum</I> (Tolmatchew) Nordhagen</B>,
Bergens Mus. &Aring;rbok 2: 45. 1931 - F</P>

<P><I>Papaver radicatum</I> Rottbfll subsp. <I>lapponicum</I>
Tolmatchew, Bot. Mater. Gerb. Glavn. Bot. Sada RSFSR 4: 86. 1923; <I>P</I>. <I>hultenii</I>
Knaben; <I>P</I>. <I>hultenii</I> var. <I>salmonicolor</I> Hult&eacute;n</P>

<P><B>Plants</B> loosely cespitose, to 3.5 (seldom
less than 2) dm. <B>Leaves</B> to 12 cm; petiole 1/2-3/4 length
of leaf; blade green to gray-green on both surfaces, lanceolate, 1-2&times;-lobed
with 2-3 pairs of primary lateral lobes; surfaces hirsute, sometimes densely
so, with long white trichomes; primary lobes lanceolate, mostly divided,
apex obtuse or acute to acuminate, frequently bristle-tipped. <B>Inflorescences:</B>
scapes erect, straight, generally longer than 20 cm, glabrate to hispid.
<B>Flowers</B> to 3.5 cm diam.; petals yellow, sometimes distally
tinged with pink; anthers yellow; stigmas 5-7, disc convex. <B>Capsules</B>
oblong-ellipsoid, to 2 cm, 1-2.5 times longer than broad, strigose
with brown trichomes. 2<I>n</I> = 42 (as <I>P</I>. <I>hultenii</I>),
56.</P>

<P>Flowering Jun-Aug. Mesic tundra and in sand
and gravel of floodplain terraces and shorelines; 0-1000 m; B.C.,
Nfld., N.W.T., Que., Yukon; Alaska; Eurasia (northernmost Norway and Russia).</P>

<P>We recognize <I>Papaver lapponicum</I> in
a much narrower sense than did G. Knaben (1959). Much further study
is needed to assess the relationships of North American populations with
several taxa from the Russian Far East. Plants with rose-colored petals
have been distinguished as <I>A</I>. <I>lapponicum</I> var. <I>salmonicolor</I>
(<I>P</I>. <I>alboroseum</I> of some authors, not Hult&eacute;n).
Such specimens from arctic Alaska appear to be the same as <I>P</I>. <I>shamurinii</I>
Petrovsky from Russia. Knowledge of <I>P</I>. <I>lapponicum</I> from
Greenland, where evidently it also occurs, is inadequate to permit an accurate
account of its distribution there.<BR>
<BR>
<BR>
<B>