14. <A NAME="24000140"></A><I>Papaver somniferum</I> Linnaeus</B>, Sp.
Pl. 1: 508. 1753 - Opium poppy, common poppy, pavot (commun) - F W2</P>

<P><B>Plants</B> to 15 dm, glabrate, glaucous.
<B>Stems</B> simple or branching. <B>Leaves</B> to 30 cm; blade sometimes
sparsely setose abaxially on midrib; margins usually shallowly to deeply
toothed. <B>Inflorescences:</B> peduncle often sparsely setose. <B>Flowers:</B>
petals white, pink, red, or purple, often with dark or pale basal spot,
to 6 cm; anthers pale yellow; stigmas 5-18, disc &plusmn; flat.
<B>Capsules</B> stipitate, subglobose, not ribbed, to 9 cm, glaucous.</P>

<P>Flowering spring-summer. Fields, clearings,
stream banks, railroads, roadsides, and other disturbed sites; 0-1300 m;
introduced; Greenland; Alta., B.C., Man., N.B., Nfld., N.S., Ont., Que.,
Sask.; Ariz., Calif., Conn., Ill., Mass., Maine, Mich., Minn., Mo., N.H.,
N.J., N.Mex., N.Y., N.C., N.Dak., Ohio, Oreg., Pa., Tex., Utah, Vt., Va.;
Europe; Asia.</P>

<P>Unknown in the wild, <I>Papaver somniferum</I>
probably came originally from southeastern Europe and/or southwestern Asia.
It has been cultivated for centuries as the source of opium (and its modern
derivatives heroin, morphine, and codeine), and also for edible seeds and
oil. Various color forms with laciniate and/or doubled petals are grown
for ornament. Widely introduced from cultivation and also as a crop weed,
it should be expected elsewhere in the flora.</P>

<P><B>SELECTED REFERENCE<BR>
</B>Danert, S. 1958. Zur Systematik von <I>Papaver somniferum</I> L.
Kulturpflanze 6: 61-88.<BR>
</P>

<P><B>