15. <A NAME="24000132"></A><I>Papaver dubium</I> Linnaeus</B>, Sp. Pl.
2: 1196. 1753 - Long-headed poppy - F W1</P>

<P><B>Plants</B> to 7 dm, hirsute to hispid.
<B>Stems</B> simple or branching. <B>Leaves</B> to 20 cm. <B>Inflorescences:</B>
peduncle proximally spreading-hispid, distally appressed-hispid. <B>Flowers:</B>
petals orange to red, rarely with dark basal spot, to 3 cm; anthers
violet; stigmas 7-9, disc &plusmn; flat. <B>Capsules</B> sessile or
substipitate, narrowly obovoid, usually distinctly ribbed, to 2 cm,
2 times or more longer than broad.</P>

<P>Flowering spring-summer. Fields, glades, dunes,
stream banks, marshy areas, railroads, roadsides, and other disturbed sites;
0-900 m; introduced; Greenland; N.B., Ont., Que.; Ark., Conn., Del.,
D.C., Ill., Kans., Md., Mass., Mo., N.J., N.Y., N.C., Ohio, Okla., Oreg.,
Pa., R.I., S.C., Va., W.Va.; Europe; sw Asia.</P>

<P>In its native range, <I>Papaver dubium</I>
is a tetraploid complex of five subspecies whose morphologies and distributions
intersect to a considerable degree (J. W. Kadereit 1989, 1990). Probably
several, if not all, of these entities have been introduced in North America,
but it is fruitless to try to distinguish them here, where the species
has arrived as a crop weed and the subspecies have no geographic integrity.</P>

<P><I>Papaver dubium</I> sometimes seems to intergrade
with <I>P</I>. <I>rhoeas</I>, at least in North America. The most
readily evident character for distinguishing them reliably is the nature
of the distal pubescence on the peduncles--whether spreading or appressed.<BR>
<BR>
<BR>
<B>