8. <A NAME="24000254"></A><I>Papaver radicatum</I> Rottbfll</B>, Skr.
Kifbenhavnske Selsk. Laerd. Elsk. 10: 455. 1770 - Arctic poppy</P>

<P><B>Plants</B> loosely to densely cespitose,
to 1.5 dm. <B>Leaves</B> to 12 cm; petiole 2/3 length of leaf;
blade green on both surfaces, not glaucous, lanceolate, 1-2&times;-lobed
with 2-3(-4) pairs of primary lateral lobes; primary lobes broadly lanceolate
or strap-shaped, apex obtuse to acute. <B>Inflorescences:</B> scapes erect
or bowed and decumbent, less than 15 cm, sparsely to densely hispid.
<B>Flowers</B> to 6.5 cm diam.; petals yellow or white, rarely pink
tinged, or brick red; anthers yellow; stigmas 4-7, disc convex. <B>Capsules</B>
obovoid to subglobose, 1-2.5 times longer than broad, strigose, trichomes
light to dark brown or black.</P>

<P>Subspecies numerous (4 in the flora): arctic
and alpine North America, Europe, Asia.</P>

<P>Many infraspecific taxa have been named from
throughout the extensive range of this extremely variable species. Within
North America, the following broadly circumscribed subspecies are generally,
but not always, distinguishable.<BR>
</P>

<P><B>