11d. <A NAME="50007480"></A><I>Papaver</I>
Linnaeus sect. <I>Meconella</I> Spach</B>,
Hist. Nat. V&eacute;g. 7: 19. 1839</P>

<P><I>Papaver</I> sect. <I>Scapiflora</I> Elkan;
<I>P</I>. sect. <I>Lasiotrachyphylla</I> (Bernhardi) Pfeiffer</P>

<P><B>Plants</B> perennial, scapose. <B>Leaf
blades</B> unlobed or 1-2&times;-lobed. <B>Flowers:</B> filaments white
or yellow, filiform. <B>Capsules</B> obscurely valvate, ribbed, variously
pubescent.</P>

<P>More study is needed for a comprehensive assessment
of the North American scapose poppies in circumpolar context. The circumscriptions
and interrelationships of the Alaskan and Asiatic members of this section
are especially problematic.</P>

<P>Typification of <I>Papaver radicatum</I> Rottbfll
also is problematic, and interpretation of its identity has significant
consequences in the complex nomenclature of the arctic-alpine poppies.
For details and discussion, see G. Knaben (1958); A. L&ouml;ve
(1962b, 1962c); and G. Knaben and N. Hylander (1970).</P>

<P><B>SELECTED REFERENCES<BR>
</B>Knaben, G. 1958. <I>Papaver</I>-studier, med et forsvar for <I>P</I>. <I>radicatum</I>
Rottb. som en Islandsk-Skandinavisk art. Blyttia 16: 61-80. Knaben, G.
1959. On the evolution of the <I>radicatum</I>-group of the <I>Scapiflora</I>
Papavers as studied in 70 and 56 chromosome species. Part A. Cytotaxonomical
aspects. Part B. Experimental studies. Opera Bot. 2(3), 3(3). Knaben, G.
and N. Hylander. 1970. On the typification of <I>Papaver radicatum</I>
Rottb. and its nomenclatural consequences. Bot. Not. 123: 338-345. L&ouml;ve, A.
1962b. Typification of <I>Papaver radicatum</I>--A nomenclatural detective
story. Bot. Not. 115: 113-136. L&ouml;ve, A. 1962c. Nomenclature of
North Atlantic Papavers. Taxon 11: 132-138. L&ouml;ve, D. 1969. <I>Papaver</I>
at high altitudes in the Rocky Mountains. Brittonia 21: 1-10. R&auml;ndel, U.
1974. Beitrage zur Kenntnis der Sippenstruktur der Gattung <I>Papaver</I>
Sectio <I>Scapiflora</I> Reichenb. (Papaveraceae). Feddes Repert. 84: 655-732.
R&auml;ndel, U. 1975. Die Beziehungen von <I>Papaver pygmaeum</I>
Rydb. aus den Rocky Mountains zum nordamerikanischen <I>P</I>. <I>kluanense</I>
D. L&ouml;ve sowie zu einigen nordost-asiatischen Vertretern der Sektion
<I>Scapiflorae</I> Reichenb. im Vergleich mit <I>P</I>. <I>alpinum</I> L.
(Papaveraceae). Feddes Repert. 86: 19-37. R&auml;ndel, U. 1977. &Uuml;ber
Sippen des subarktisch-arktischen Nordamerikas, des Beringia-Gebietes und
Nordost-Asiens der Sektion <I>Lasiotrachyphylla</I> Bernh. (Papaveraceae)
und deren Beziehungen zu einander und zu Sippen anderer Arealteile der
Sektion. Feddes Repert. 88: 421-450. R&auml;ndel, U. 1977b. &Uuml;ber
die gr&ouml;nl&auml;ndischen Vertreter der Sektion <I>Lasiotrachyphylla</I>
Bernh. (Papaveraceae) und deren Beziehungen zu Vertretern anderer arktischer
Arealteile der Sektion. Feddes Repert. 88: 451-464.<BR>
<BR>
<BR>
<B>