11a. <A NAME="50007476"></A><I>Papaver</I>
Linnaeus sect. <I>Argemonidium</I> Spach</B>,
Hist. Nat. V&eacute;g. 7: 19. 1839</P>

<P><B>Plants</B> annual, caulescent. <B>Leaf
blades</B> deeply 1-2&times;-lobed, distal not clasping stem. <B>Flowers:</B>
filaments purple, clavate. <B>Capsules</B> poricidal, setose.</P>

<P><B>SELECTED REFERENCE<BR>
</B>Kadereit, J. W. 1986. A revision of <I>Papaver</I> section <I>Argemonidium</I>.
Notes Roy. Bot. Gard. Edinburgh 44: 25-43.<BR>
<BR>
<BR>
<B>