3. <A NAME="24000131"></A><I>Papaver californicum</I> A. Gray</B>,
Proc. Amer. Acad. Arts 22: 313. 1887 - Western poppy - E</P>

<P><I>Papaver lemmonii</I> Greene</P>

<P><B>Plants</B> to 6.5 dm, glabrate or
sparsely pilose. <B>Stems</B> simple or branching. <B>Leaves</B> to 15 cm.
<B>Inflorescences:</B> peduncle glabrous or sparsely pilose. <B>Flowers:</B>
petals light orange or orange-red, with pink-edged, greenish basal spot,
to 2.5 cm; anthers yellow; stigmas 4-8(-11), disc conic, usually umbonate.
<B>Capsules</B> sessile, ellipsoid to obovoid-turbinate, distinctly ribbed,
to 1.8 cm. 2<I>n</I> = 28.</P>

<P>Flowering spring. Chaparral and oak woodlands,
especially in grassy areas, clearings, burns and other disturbed sites;
0-900 m; Calif.</P>

<P><I>Papaver californicum</I> grows in central
western and southwestern California in the Coast, Transverse, and Peninsular
ranges. This is the only caulescent poppy, and the only annual one, native
to the flora. In the past it has been included in <I>Papaver</I> sect.
<I>Rhoeadium</I>, together with the other annuals that have glabrous capsules
and distal leaves not clasping, which are native to Eurasia. Recently,
based on differences in filament color, stigmatic disc shape, and capsule
dehiscence, J. W. Kadereit (1988b) assigned <I>P</I>. <I>californicum</I>
to a new monotypic section and suggested that it originated from the same
stock as the perennial, scapose, arctic-alpine poppies (<I>Papaver</I>
sect. <I>Meconella</I>).<BR>
</P>

<P><B>