5a. <A NAME="24000863"></A><I>Papaver nudicaule</I>
Linnaeus subsp. <I>americanum</I> R&auml;ndel ex D. F. Murray</B>,
Novon 5: 294. 1995<B> </B>- E</P>

<P><B>Plants</B> loosely cespitose, to 2(-4) dm.
<B>Leaves</B> to 20 cm; petiole to 2/3 length of leaf; blade gray-green
abaxially, green adaxially, lanceolate, deeply 1-2&times;-lobed with 3-4
pairs of primary lateral lobes, glabrate or setose adaxially with long
white trichomes; primary lobes lanceolate or strap-shaped. <B>Inflorescences:</B>
scapes erect, hispid. <B>Flowers</B> to 6 cm diam.; petals yellow
or white; anthers yellow; stigmas 5-6, disc flat to convex-umbonate. <B>Capsules</B>
subglobose to ellipsoid, conspicuously ribbed, to 2.5 times longer than
broad, to 1.5 cm, strigose with light (ivory) trichomes having abruptly
expanded bases. 2<I>n</I> = 28.</P>

<P>Flowering Jun-Aug. Dry, exposed, rocky openings
such as on steep slopes, screes, and outcrops; 300-1000 m; Yukon;
Alaska.</P>

<P><I>Papaver nudicaule</I> grows in the boreal
forest of the continental interior and disjunct westward along the Yukon
and Kuskokwim rivers. It includes numerous red, white, and yellow cultivars
of the so-called Iceland poppy encountered along the road system in Alaska,
Canada, southwestern Greenland, and no doubt elsewhere. The species was
originally described from Siberian material, to which our subsp. <I>americanum</I>
has obvious affinities (U. R&auml;ndel 1977).<BR>
<BR>
<BR>
<B>