8c. <A NAME="24000660"></A><I>Papaver radicatum</I>
Rottbfll subsp. <I>polare</I> Tolmatchew</B>,
Bot. Mater. Gerb. Glavn. Bot. Sada RSFSR 4: 87. 1923</P>

<P><B><I>Papaver cornwallisensis</I> D. L&ouml;ve;
<I>P</I>. <I>polare</I> (Tolmatchew) Perfiljev</B></P>

<P><B>Plants</B> loosely to densely cespitose,
sometimes even pulvinate, to 1 dm, with numerous short, dull, persistent
leaf bases. <B>Leaves</B> to 4 cm; petiole to 1/2 length of leaf;
blade green and blue-green on both surfaces, lanceolate, with 2(-3) pairs
of primary lateral lobes; primary lobes broadly lanceolate to ovate, apex
obtuse to rounded. <B>Inflorescences:</B> scapes curved, decumbent, often
densely hispid, trichomes spreading, dark colored. <B>Flowers</B> to 3 cm
diam.; petals yellow or white. <B>Capsules</B> subglobose to obovoid, to
1.5 cm, strigose, trichomes dark brown. The report of 2<I>n</I> = 84
(as <I>P</I>. <I>cornwallisensis</I>) attributed to G. Knaben
(1959) by A. L&ouml;ve (1962b) cannot be confirmed.</P>

<P>Flowering Jun-Jul. Largely unvegetated, rocky
tundra and clayey soils of the northernmost arctic islands; 0-1000 m;
N.W.T; circumpolar.</P>

<P>Similar but poorly known plants from the highest
elevations of the St. Elias and Richardson mountains may belong here. <I>Papaver
uschakovii</I> Tolmatchew &amp; Petrovsky from arctic Russia also appears
to fall within the range of variation described here. Knowledge of this
subspecies in Greenland, where evidently it also occurs, is inadequate
to permit an accurate account of its distribution there. The names <I>P</I>. <I>dahlianum</I>
Nordhagen and <I>P</I>. <I>radicatum</I> subsp. <I>dahlianum</I> (Nordhagen)
R&auml;ndel, which apply to plants from northernmost Norway and Svalbard,
have been applied also to North American specimens of <I>P</I>. <I>radicatum</I>
subsp. <I>polare</I>. It may be that these entities are in fact the same,
or that <I>P</I>. <I>radicatum</I> subsp. <I>polare</I> occurs also in
northern Scandinavia along with distinct <I>P</I>. <I>dahlianum</I>,
but present knowledge is insufficient for a definite determination.</P>

<P>If this taxon, as here circumscribed, is recognized
instead at species rank, the correct name is <I>Papaver cornwallisensis</I>.<BR>
</P>

<P><B>