

<P><B>11. PAPAVER Linnaeus</B>,
Sp. Pl. 1: 506. 1753; Gen. Pl. ed. 5, 224. 1754 - Poppy, pavot [classical
Latin name for poppy; perhaps from Greek <I>papa</I> (pap), alluding to
the thick, sometimes milky sap]</P>

<P><B>Herbs</B>, annual, biennial, or perennial,
scapose or caulescent, from taproots; sap white, orange, or red. <B>Stems</B>
when present leafy. <B>Leaves:</B> basal rosulate, petiolate; cauline alternate,
proximal leaves petiolate, distal subsessile or sessile, sometimes clasping
(in <I>P</I>. <I>somniferum</I>); blade unlobed or 1-3&times; pinnately
lobed or parted; margins entire or toothed, scalloped, or incised. <B>Inflorescences</B>
cymiform, with flowers disposed in 1s, 2s or 3s on long scapes or peduncles;
bracts present; buds nodding [erect]. <B>Flowers:</B> sepals 2(-3), distinct;
petals 4(-6); stamens many; pistil 3-18[-22]-carpellate; ovary 1-locular,
sometimes incompletely multilocular by placental intrusion; style absent;
stigmas 3-18[-22], radiating on sessile, &plusmn; lobed disc, velvety.
<B>Capsules</B> erect, 3-18[-22]-pored or short-valved immediately beneath
persistent or sometimes deciduous (in <I>P</I>. <I>hybridum</I>) stigmatic
disc. <B>Seeds</B> many, minutely pitted, aril absent. <I>x</I> = 7.</P>

<P>Species 70-100 (16 in the flora): temperate
and arctic North America, Eurasia, n, s Africa, Australia.</P>

<P><I>Papaver</I> is rich in alkaloids, notably
opiates. The genus is quite complex cytologically; in addition to diploids,
there are numerous polyploid species and some that apparently are aneuploid.
Most commonly, <I>n</I> = 7 or a multiple, and 2<I>n</I> ranges
from 14 to over 100. There are published chromosome counts for almost every
taxon in the flora, but for the introduced species none has been made from
wild-collected North American material.</P>

<P>The scapose poppies in the flora are native;
the caulescent ones, except <I>Papaver californicum</I>, are introduced
Eurasian ornamentals, crop weeds, and ballast waifs. All the scapose species
are confined to arctic and alpine habitats. Plants of the introduced caulescent
species, especially <I>P</I>. <I>rhoeas</I>, <I>P</I>. <I>dubium</I>,
and <I>P</I>. <I>somniferum</I>, vary greatly in size, and surprisingly
diminutive mature individuals are sometimes found, especially northward.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Kadereit, J. W. 1988. Sectional affinities and geographical distribution
in the genus <I>Papaver</I> L. (Papaveraceae). Beitr. Biol. Pflanzen 63:
139-156. Kadereit, J. W. 1990. Some suggestions on the geographical
origin of the central, west and north European synanthropic species of
<I>Papaver</I> L. Bot. J. Linn. Soc. 103: 221-231. Kiger, R. W.
1973. Sectional nomenclature in <I>Papaver</I> L. Taxon 22: 579-582. Kiger,
R. W. 1975. <I>Papaver</I> in North America north of Mexico. Rhodora
77: 410-422. Kiger, R. W. 1985. Revised sectional nomenclature in
<I>Papaver</I> L. Taxon 34: 150-152. Nov&aacute;k, J. and V. Preininger.
1987. Chemotaxonomic review of the genus <I>Papaver</I>. Preslia 59: 1-13.<BR>
</P>

<P><B>