12. <A NAME="24000035"></A><I>Papaver walpolei</I> A. E. Porsild</B>,
Rhodora 41: 231, plate 552, figs. 4-10. 1939</P>

<P><I>Papaver walpolei</I> var. <I>sulphureo-maculata</I>
Hult&eacute;n</P>

<P><B>Plants</B> densely cespitose, to 1(-2) dm.
<B>Leaves</B> to 4 cm; petiole to 3/4 length of leaf; blade light
green abaxially, dark green adaxially, sometimes glaucous, short-lanceolate,
unlobed or 1&times;-lobed with 1(-2) pair(s) of lateral lobes, glabrous
adaxially; terminal lobe rarely with small secondary lobes, apex rounded.
<B>Inflorescences:</B> scapes erect, glabrate to hispid. <B>Flowers</B>
to 3 cm diam.; petals yellow, or white with yellow basal spot; anthers
yellow; stigmas 4-5, disc convex. <B>Capsules</B> turbinate to ellipsoid-obovoid,
to 1 cm, sparsely to densely hirsute, trichomes light brown to black.
2<I>n</I> = 14.</P>

<P>Flowering late May-Aug. Exposed tundra uplands,
especially calcareous fellfield and river gravels; 0-900 m; Yukon;
Alaska; Asia (Russian Far East, Chukotka).<BR>
<BR>
<BR>
<B>