6b. <A NAME="24000865"></A><I>Papaver macounii</I>
Greene subsp. <I>discolor</I> (Hult&eacute;n) R&auml;ndel ex D. F.
Murray</B>, Novon 5: 294. 1995<B> </B>-
F</P>

<P><I>Papaver macounii</I> var. <I>discolor</I>
Hult&eacute;n, Fl. Alaska Yukon 5: 803. 1945; <I>P</I>. <I>keelei</I>
Porsild; <I>P</I>. <I>scammanianum</I> D. L&ouml;ve</P>

<P><B>Plants</B> slender, to 4 dm, persistent
leaf bases few, flexible, lanceolate, ciliate, glabrous to hispid. <B>Leaves</B>
to 12 cm; blade green or light green abaxially, dark green adaxially,
with 2-3 pairs of primary lateral lobes; surfaces glabrate to densely pilose,
trichomes light brown. <B>Inflorescences:</B> scapes glabrate to hispid
with appressed and spreading trichomes. <B>Flowers</B> to 5 cm diam.;
petals yellow or very rarely pink; anthers yellow; stigmas 4-6, disc conic-umbonate.
<B>Capsules</B> clavate, to 2.5 cm, sparsely to sometimes densely
strigose. 2<I>n</I> = 28, 70 (as <I>P</I>. <I>radicatum</I>
Rottb. <I>s</I>.<I>l</I>.).</P>

<P>Flowering Jun-Aug. Mesic arctic and alpine
tundra and meadows; 0-1200 m; N.W.T., Yukon; Alaska; Russian Far East.</P>

<P>If this taxon is recognized at species rather
than subspecies rank, the correct name is <I>Papaver keelei</I>. Specimens
of <I>P</I>. <I>paucistaminum</I> Tolmatchew &amp; Petrovsky from
Chukotka in the Russian Far East fall within the range of variation described
here.<BR>
<BR>
<BR>
<B>