16. <A NAME="24000139"></A><I>Papaver rhoeas</I> Linnaeus</B>, Sp. Pl.
1: 507. 1753 - Common poppy, corn poppy, field poppy, Flanders poppy, coquelicot,
amapola - F W1</P>

<P><B>Plants</B> to 8 dm, hispid to setulose.
<B>Stems</B> simple or usually branching. <B>Leaves</B> to 15 cm;
distal often somewhat clustered. <B>Inflorescences:</B> peduncle sparsely
to moderately spreading-hispid throughout. <B>Flowers:</B> petals white,
pink, orange, or red, often with dark basal spot, to 3.5 cm; anthers
bluish; stigmas 5-18, disc &plusmn; flat. <B>Capsules</B> sessile
or substipitate, turbinate to subglobose, obscurely ribbed, to 2 cm,
less than 2 times longer than broad.</P>

<P>Flowering spring-summer. Fields, pastures,
stream banks, railroads, roadsides, and other disturbed sites; 0-2000 m;
introduced; Man., N.B., N.S., Ont., Que., Sask.; Alaska, Calif., Conn.,
D.C., Idaho, Ill., Iowa, La., Maine, Md., Mass., Mich., Minn., Mo., Mont.,
N.H., N.J., N.Mex., N.Y., N.C., Ohio, Oreg., Pa., R.I., Tex., Utah, Vt.,
Va., Wash., W.Va.; Europe; sw Asia; n Africa.</P>

<P>J. W. Kadereit (1990) suggested that
<I>Papaver rhoeas</I> originated on the east coast of the Mediterranean,
probably derived from one or more of the other species of the section that
are native in that region, and only after (and because) &quot;suitable
habitats in sufficient extent were provided by man.&quot; Various forms
with pale pink or white, unspotted, sometimes doubled petals are grown
for ornament, notably the Shirley poppies. In North America, the species
escapes from cultivation fairly readily and has been introduced also as
a crop weed.<BR>
<BR>
Excluded species:</P>

<P><I>Papaver dahlianum</I> Nordhagen, Bergens
Mus. &Aring;rbok 2: 46. 1931</P>

<P><I>Papaver radicatum</I> Rottbfll subsp. <I>dahlianum</I>
(Nordhagen) R&auml;ndel</P>

<P>We regard this species as being restricted
to arctic Europe, a narrower circumscription than U. R&auml;ndel's
(1977).</P>

<P><I>Papaver microcarpum</I> de Candolle, Syst.
Nat. 2: 71. 1821</P>

<P>We are so far unable to substantiate D. L&ouml;ve's
(1969) report of this essentially Asiatic species &quot;from Seward and
Kenai peninsulas in Alaska, the Aleutian Islands.&quot;<BR>
</P>

