5.<A NAME="25001085"></A><I>Peperomia magnoliifolia</I>
(Jacquin) A.&nbsp;Dietrich</B>, Sp. Pl. 1: 153. 1831 (as <I>magnoliaefolia</I>)</P>

<P><I>Piper magnoliaefolium</I> Jacquin, Collectanea
3: 210. 1791; <I>Peperomia spathulifolia</I> Small; <I>Rhynchophorum spathulifolium</I>
(Small) Small</P>

<P><B>Herbs</B>, perennial, rhizomatous, erect,
decumbent, or reclining, simple or sparsely branched, 10-40&nbsp;cm, glabrous,
without black, glandular dots. <B>Leaves</B> alternate; petiole 1/6-1/4
length of blade, glabrous. <B>Leaf blade</B> prominently to obscurely pinnately
veined, spatulate to broadly ovate or broadly elliptic, 3-14 <I>&times;</I>
1.5-6&nbsp;cm, lateral veins arching-ascending, originating from base to
near apex of blade, base attenuate or narrowly to broadly cuneate, not
auriculate, not clasping, slightly decurrent along petiole, apex notched
or retuse; surfaces resinous-dotted, especially abaxially. <B>Spikes</B>
mostly terminal, 1-3, densely flowered, 6-17&nbsp;cm; peduncle glabrous,
mature fruiting spikes 2-3&nbsp;mm diam. <B>Fruits</B> sessile, ellipsoid,
base rounded or tapering, tapering gradually to beak, 0.7-0.9 &times; 0.5-0.6&nbsp;mm,
minutely warty; beak elongate, 0.5-1&nbsp;mm, tapering smoothly from broadened
base to sharply acute apex, without filiform apical portion, straight,
bent, or gradually hooked from about middle.</P>

<P>Flowering all year. Hummmocks, terrestrial
or epiphytic; 0-20&nbsp;m; Fla.; Mexico; West Indies; Bermuda; n&nbsp;South
America.<BR>
</P>

<P><B>