2.<A NAME="25001053"></A><I>Peperomia glabella</I>
(Swartz) A.&nbsp;Dietrich</B>, Sp. Pl. 1: 156. 1831</P>

<P><I>Piper glabellum</I> Swartz, Prodr., 16.
1788</P>

<P><B>Herbs</B>, perennial, rhizomatous, erect,
decumbent, or reclining, simple or branched, 8-45&nbsp;cm, mostly glabrous,
with numerous black, glandular dots. <B>Leaves</B> alternate; petiole 1/8-1/4
length of blade, pubescent in lines with upwardly curved hairs. <B>Leaf
blade</B> 3-5-veined from base, ovate to narrowly or broadly elliptic,
2-6.5 &times; 1-4&nbsp;cm, base nearly rounded to broadly cuneate, apex
acute to short-acuminate; surfaces mostly glabrous. <B>Spikes</B> terminal
or terminal and axillary, 1-4, densely flowered, 3-13&nbsp;cm, mature fruiting
spikes 2-3&nbsp;mm diam. <B>Fruits</B> sessile, very broadly ovoid to globose,
0.7-0.8 &times; 0.6-0.7&nbsp;mm, warty; beak obliquely conic, 0.1-0.2&nbsp;mm.</P>

<P>Flowering all year. Epiphytic or terrestrial;
0-20&nbsp;m; Fla.; West Indies; n&nbsp;South America.<BR>
</P>

<P><B>