6.<A NAME="25002173"></A><I>Peperomia amplexicaulis</I>
(Swartz) A.&nbsp;Dietrich</B>, Sp. Pl. 1: 144. 1831</P>

<P><I>Piper amplexicaule</I> Swartz, Prodr.,
16. 1788</P>

<P><B>Herbs</B>, perennial, rhizomatous, erect,
decumbent, or reclining, simple or sparsely branched, 10-60&nbsp;cm, glabrous,
without black, glandular dots. <B>Leaves</B> alternate; petiole absent
or to ca. 3&nbsp;mm, glabrous. <B>Leaf blade</B> prominently to obscurely
pinnately veined, narrowly to broadly oblanceolate, 7-20 &times; 2-4.5&nbsp;cm,
lateral veins ascending, originating from base to near apex of blade, base
decurrent, auriculate and &plusmn;&nbsp;clasping (amplexicaulous), apex
acute or obtuse. <B>Spikes</B> mostly terminal, 1-3, densely flowered,
5-19&nbsp;cm; peduncle glabrous, mature fruiting spikes 2-3&nbsp;mm diam.
<B>Fruits</B> sessile, ellipsoid, ca. 1.7 &times; 1&nbsp;mm, minutely warty;
beak elongate, 0.3-0.5&nbsp;mm, tapering smoothly from broadened base to
sharply acute apex, without filiform apical portion, straight, bent, or
gradually hooked from about middle.</P>

<P>Flowering all year. Roadsides, woodlands;
0-20&nbsp;m; introduced, Fla.; native, West Indies (apparently endemic
to Jamaica).<BR>
</P>

<P><B>