1.<A NAME="25001066"></A><I>Peperomia humilis</I>
(Vahl) A.&nbsp;Dietrich</B>, Sp. Pl. 1: 168. 1831</P>

<P><I>Piper humile</I> Vahl, Enum. Pl. 1: 349.
1804; <I>Micropiper humile</I> (Vahl) Small; <I>M</I>.&nbsp;<I>leptostachyon</I>
(Nuttall) Small; <I>Peperomia cumulicola</I> Small</P>

<P><B>Herbs</B>, perennial, rhizomatous, erect
or decumbent, simple or branched, 10-50&nbsp;cm, strigose, without black,
glandular dots. <B>Leaves</B> usually opposite or whorled, sometimes proximal
leaves alternate; petiole ca. 1/4 length of blade, with ascending, incurved
hairs. <B>Leaf blade</B> prominently to obscurely 3-veined from base, usually
elliptic to obovate, sometimes proximal blades depressed-obovate, 1.2-6.5
&times; 0.4-3.5&nbsp;cm, base cuneate to widely cuneate, apex acute or
short-acuminate; surfaces abaxially and adaxially densely to sparsely strigose.
<B>Spikes</B> axillary and terminal, 1-4, loosely flowered, 3-14&nbsp;cm,
mature fruiting spikes 1.5-2.5&nbsp;mm diam. <B>Fruits</B> sessile, broadly
ellipsoid to globose, 0.5-0.7 &times; 0.4-0.7&nbsp;mm, warty, viscid; beak
minute, knoblike, blunt, ca. 0.1&nbsp;mm.</P>

<P>Flowering all year. Hummocks, often on limestone;
0-20&nbsp;m; introduced, Fla.; native, West Indies (Jamaica).<BR>
</P>

<P><B>