

<P><B>2. PEPEROMIA Ruiz
&amp; Pavon</B>, Fl. Peruv. Prodr., 8. 1794 - Peperomia</P>

<P><B>Herbs</B>, annual or perennial, erect,
decumbent, or prostrate, terrestrial or epiphytic, glabrous or pubescent,
sometimes glandular-dotted. <B>Leaves</B> alternate, opposite, or whorled,
glabrous or pubescent, or glandular. <B>Leaf blade</B> conspicuously or
inconspicuously veined, lateral veins ascending-arching, or inconspicuous,
tertiary veins apparently absent or very faint. <B>Spikes</B> terminal,
terminal and axillary, or opposite leaves, densely to loosely flowered.
<B>Flowers</B> sessile, borne on surface or in pitlike depressions of rachis,
floral bracts glabrous or glandular-dotted; stamens 2, attached at base
of ovary; stigma 1, sometimes cleft. <B>Fruits</B> sessile or stipitate,
globose, ovoid, oblong, or pyriform, surface warty, minutely reticulate,
or faintly striate, &plusmn;&nbsp;viscid; beak mammiform or elongate, straight,
bent, or hooked.</P>

<P>Species ca. 1000 (7 in the flora): mostly
tropical and subtropical worldwide, especially tropical America and s&nbsp;Asia.</P>

<P>Many species of Peperomia are used as houseplants,
greenhouse plants, and, in warm regions, garden plants.</P>

<P>In addition to the species below, Peperomia
simplex Hamilton has been attributed to southern Florida, but no verifying
specimens have been seen. A single specimen of Peperomia<U> </U>emarginella
(Swartz ex Wikstr&ouml;m) C.&nbsp;de Candolle is in the herbarium of the
New York Botanical Garden. The specimen may be from southeastern United
States.</P>

<P><B>SELECTED REFERENCE<BR>
</B>Boufford, D.&nbsp;E. 1982. Notes on Peperomia (Piperaceae) in the southeastern
United States. J.&nbsp;Arnold Arbor. 63: 317-325.</P>

<P><B>