4.<A NAME="25001097"></A><I>Peperomia obtusifolia</I>
(Linnaeus) A.&nbsp;Dietrich</B>, Sp. Pl. 1: 154. 1831 - F</P>

<P><I>Piper obtusifolium</I> Linnaeus, Sp. Pl.
1: 30. 1753; <I>Peperomia floridana</I> Small; <I>Rhynchophorum floridanum</I>
Small; <I>R</I>.&nbsp;<I>obtusifolium</I> (Linnaeus) Small</P>

<P><B>Herbs</B>, perennial, rhizomatous, erect,
decumbent, reclining, or somewhat scandent, simple or sparsely branched,
8-40&nbsp;cm, mostly glabrous, without black, glandular dots. <B>Leaves</B>
alternate; petiole 1/5-1/2, mostly ca. 1/3, length of blade, glabrous.
<B>Leaf blade</B> highly variable in size and shape, prominently to obscurely
pinnately veined, elliptic, broadly elliptic, or spatulate to ovate, obovate,
or very broadly ovate or broadly obovate, 2.2-13 &times; 1.5-5.5&nbsp;cm,
lateral veins arching-ascending, originating from base to about middle
of blade, base attenuate, mostly narrowly to broadly cuneate, rarely slightly
acuminate, apex obtuse, rounded, retuse, or notched; surfaces mostly glabrous.
<B>Spikes</B> mostly terminal, 1-2, densely flowered, 5.5-23&nbsp;cm; peduncle
with microscopic, spiculelike hairs, mature fruiting spikes 3.5-5.5&nbsp;mm
diam. <B>Fruits</B> sessile, ellipsoid, both ends rounded, 0.8-1.1 &times;
0.4-0.5&nbsp;mm, faintly longitudinally striate; beak elongate, 0.5-0.7&nbsp;mm,
filiform above narrowly to broadly conic base, straight or S-shaped, abruptly
hooked near apex.</P>

<P>Flowering all year. Hummocks, epiphytic or
terrestrial on rotten logs and humus; 0-20&nbsp;m; Fla.; Mexico; West Indies;
n&nbsp;South America.<BR>
</P>

<P><B>