3.<A NAME="25001029"></A><I>Peperomia alata</I>
Ruiz &amp; Pavon</B>, Fl. Peruv. 1: 31. 1798</P>

<P><B>Herbs</B>, perennial, rhizomatous, erect
or reclining, simple or sparsely branched, 1-3 dm, glabrous, without black,
glandular dots. <B>Leaves</B> alternate; petiole 1/10-1/5 length of blade,
slightly dilated and clasping at base, decurrent in lines or conspicuous
internodal wings. <B>Leaf blade</B> 3-5-veined from base, narrowly to broadly
elliptic or elliptic-lanceolate or oblanceolate, 5-13 &times; 1.5-4 cm,
base attentuate to acuminate, apex acute to short-acuminate; surfaces glabrous.
<B>Spikes</B> terminal, 1-3, sometimes also with solitary spikes from proximal
axils, densely flowered, 6-13 cm, mature fruiting spikes 2-3 mm diam. <B>Fruits</B>
sessile, globose to very broadly ovoid, 0.5-0.8 <I>&times;</I> 0.6-0.8&nbsp;mm,
minutely warty; beak minute, mammiform or conic, 2 sides flattened, 0.1-0.2&nbsp;mm.</P>

<P>Flowering all year. Swamps; 0-10&nbsp;m; Fla.;
West Indies; Central America; South America.</P>

<P><I>Peperomia alata</I> is known from three
collections (one not specified, the other two from Collier County, Florida).
It is a common and widespread species of the West Indies, Central America,
and South America. The characteristic wings on the stem are not so conspicuous
as on many specimens from those regions.<BR>
</P>

<P><B>