7.<A NAME="25001099"></A><I>Peperomia pellucida</I>
(Linnaeus) Kunth in A. von Humboldt et al</B>., Nov. Gen. Sp. 1: 64. 1816
- F</P>

<P><I>Piper pellucidum</I> Linnaeus, Sp. Pl.
1: 30. 1753</P>

<P><B>Herbs</B>, annual or short-lived perennial,
erect or decumbent, freely branched, 10-50&nbsp;cm, glabrous, without black,
glandular dots. <B>Leaves</B> alternate; petiole ca. 1/2 length of blade,
glabrous. <B>Leaf blade</B> palmately 5-7-veined, broadly ovate to deltate,
0.6-4 &times; 0.5-3&nbsp;cm, base truncate, rounded, or cordate, apex acute
to slightly acuminate; surfaces glabrous. <B>Spikes</B> axillary, terminal,
and opposite leaves, solitary, rarely 2-more, loosely flowered, 2-6&nbsp;cm,
mature fruiting spikes 1-2&nbsp;mm diam. <B>Fruits</B> sessile, very broadly
ovoid to globose, 0.5-0.7 &times; 0.4-0.5&nbsp;mm, longitudinally ribbed
with ladderlike reticulations; beak minute, conic, ca. 0.1&nbsp;mm.</P>

<P>Flowering all year. In shaded woods and around
nurseries and greenhouses, along coastal plain; 0-20&nbsp;m; Fla., Ga.,
La.; Mexico; West Indies; Central America; n&nbsp;South America.</P>

<P><I>Peperomia pellucida</I> has shown antibacterial
activity against <I>Staphylococcus aureus</I>, <I>Bacillus subtilis</I>,
<I>Pseudomonas aeruginosa</I>, and <I>Escherichia coli</I>; it could have
potential as a broad spectrum antibiotic (A.&nbsp;C. Bojo et al. 1994).<BR>
</P>

