1.<A NAME="17803919"></A><I>Persea palustris</I>
(Rafinesque) Sargent</B>, Bot. Gaz. 67:
229. 1919 - Swamp red bay</P>

<P><I>Tamala palustris</I> Rafinesque, Sylva
Tellur., 137. 1838; <I>Persea borbonia</I> var. <I>pubescens</I> (Pursh)
Little; <I>P</I>.&nbsp;<I>pubescens</I> (Pursh) Sargent; <I>Tamala pubescens</I>
(Pursh) Small</P>

<P><B>Trees</B>, to 15(-20)&nbsp;m. <B>Branches</B>
pubescent, hairs erect, crisped. <B>Leaf blade</B> ovate to elliptic, 8-14
&times; 2-5&nbsp;cm; surfaces abaxially pale, glaucous, densely pubescent
when young with rusty brown, erect, crisped hairs, glabrescent with age,
adaxially green, lustrous. <B>Inflorescences:</B> peduncle longer than
subtending leaf petiole, pubescent. <B>Drupe</B> ca. 8&nbsp;mm wide. 2<I>n</I>&nbsp;=&nbsp;24.</P>

<P>Flowering spring-early summer. Primarily in
wetlands but not restricted to them; swamps, marshes, low pinewoods, savannas,
maritime forests (sometimes mixed with <I>P</I>.&nbsp;<I>borbonia</I>);
Atlantic and Gulf coastal plains, less common in the Piedmont; 0-185&nbsp;m;
Ala., Del., Fla. Ga., La., Md., Miss., N.C., S.C., Tex., Va.; West Indies
(Bahamas).<BR>
</P>

<P><B>