2.<A NAME="17801273"></A><I>Persea borbonia</I>
(Linnaeus) Sprengel</B>, Syst. Veg. 2:
268. 1825 - Red bay - E F</P>

<P><I>Laurus borbonia</I> Linnaeus, Sp. Pl. 1:
370. 1753; <I>Persea littoralis</I> Small; <I>Tamala borbonia</I> (Linnaeus)
Rafinesque; <I>T</I>.&nbsp;<I>littoralis</I> (Small) Small</P>

<P><B>Trees</B>, to 25&nbsp;m. <B>Branches</B>
appressed-pubescent. <B>Leaf blade</B> narrowly elliptic to widely ovate,
6-16 &times; 2-5&nbsp;cm; surfaces abaxially pale, glaucous, moderately
pubescent when young with rusty brown, appressed hairs, glabrescent with
age, adaxially green, lustrous. <B>Inflorescences:</B> peduncle equal to
or shorter than subtending leaf petiole, pubescent. <B>Drupe</B> (8-)10&nbsp;mm
diam., usually glaucous. 2<I>n</I>&nbsp;=&nbsp;24.</P>

<P>Flowering spring-early summer. In hammocks,
mixed hardwoods, coastal dunes, maritime forests; outer Atlantic and Gulf
coastal plains, rarely in the Piedmont; 0-100&nbsp;m; Ala., Ark., Fla.,
Ga., La., Miss., N.C., S.C., Tex.</P>

<P>Some Native Americans used <I>Persea borbonia</I>
for medicinal purposes (D.&nbsp;E. Moerman 1986).<BR>
</P>

<P><B>