3.<A NAME="17800013"></A><I>Persea humilis</I>
Nash</B>, Bull. Torrey Bot. Club 22: 157.
1895 - Silk bay - E</P>

<P><I>Persea borbonia</I> (Linnaeus) Sprengel
var. <I>humilis</I> (Nash) L.&nbsp;E. Kopp; <I>Tamala humilis</I> (Nash)
Small</P>

<P><B>Shrubs or small trees</B>, to 10&nbsp;m.
<B>Branches</B> appressed-pubescent. <B>Leaf blade</B> elliptic to lance-elliptic,
5-8 &times; 1.5-2.5&nbsp;cm; surfaces abaxially obscured by dense (silky),
rusty brown, appressed hairs when young, appearing sooty with age, adaxially
green, lustrous. <B>Inflorescences:</B> peduncle mostly shorter than subtending
petiole, pubescent. <B>Drupe</B> 10-12&nbsp;cm wide, glaucous.</P>

<P>Flowering spring-early summer. Sand pine-scrub;
0-100&nbsp;m; Fla.</P>

<P><I>Persea humilis</I> produces fewer flowers
and fruits per peduncle than the preceding two species.<BR>
</P>

