

<P><B>8. PERSEA Miller</B>,
Gard. Dict. Abr. ed. 4. 1754, name conserved - Red bay [used by Theophrastus
for an oriental tree]</P>

<P><I>Tamala</I> Rafinesque</P>

<P><B>Shrubs to medium-sized trees</B>, evergreen.
<B>Bark</B> reddish brown, thin, fissured. <B>Leaves</B> alternate, aromatic.
<B>Leaf blade</B> pinnately veined; surfaces pubescent, especially abaxially,
becoming glabrescent with age; domatia absent. <B>Inflorescence</B> appearing
when mature leaves are present, axillary, flowers in pedunculate, compound
cymes. <B>Flowers</B> bisexual; tepals persistent, yellowish, pubescent,
outer tepals slightly shorter than inner; stamens 9, anthers 4-locular,
4-valved, anthers of outer 6 stamens introrse, anthers of inner 3 latrorse;
staminodes 3, sagittate; ovary nearly globose. <B>Drupe</B> dark blue to
black, nearly globose, borne on pedicel with tepals persistent at base;
cupule absent. <I>x</I>&nbsp;=&nbsp;12.</P>

<P>Species ca. 150 (3 in the flora): tropical
and subtropical regions, Western Hemisphere.</P>

<P><I>Persea americana</I> Miller, the avocado
of commerce, with large, fleshy fruits and deciduous tepals, is widely
grown in California and Florida. It may persist after cultivation.</P>

<P>Pubescence type and density are the most reliable
characteristics in identifying species and are best seen on young leaves
and branches.</P>

<P><B>