

<P><B>1. PIPER Linnaeus</B>,
Sp. Pl. 1: 28. 1753; Gen. Pl. ed. 5, 18. 1754</P>

<P><B>Small trees, shrubs, subshrubs, or rarely
herbs</B>, erect or reclining, glabrous or pubescent. <B>Leaves</B> alternate,
pubescent. <B>Leaf blade</B> conspicuously pinnately veined, lateral veins
ascending-arching, connected by fainter, ladderlike, tertiary veins. <B>Spikes</B>
opposite leaves, ascending-arching, densely flowered, distally drooping.
<B>Flowers</B> sessile, borne on surface of rachis; floral bracts fringed
with whitish hairs; stamens 2[-6]; stigmas [2-]3[-4]. <B>Fruits</B> sessile,
oblong (inversely pyramidal-3-angled in <I>P.&nbsp;auritum</I>); beak minute.</P>

<P>Species 1000 (2 in the flora): primarily tropics
and subtropics.</P>

<P>This genus includes <I>Piper nigrum</I> Linnaeus,
the source of black pepper and white pepper.</P>

<P>Measurements for spike length in all descriptions
include the peduncle.</P>

<P><B>