2.<A NAME="25002010"></A><I>Piper auritum
</I>Kunth in A.&nbsp;von Humboldt et al</B>.,
Nov. Gen. Sp. 1: 54. 1816</P>

<P><B>Shrubs or subshrubs</B> (rarely herbaceous),
reclining, 2-5&nbsp;m, glabrous. <B>Leaves:</B> petiole 1/6-1/3 length
of leaf blade, winged at base. <B>Leaf blade</B> ovate, 20-35&times;17-20&nbsp;cm,
base narrowly and deeply obliquely cordate, apex abruptly short-acuminate
to acute; surfaces abaxially and adaxially minutely pubescent, most conspicuously
so along veins. <B>Spikes</B> 12-25&nbsp;cm. <B>Fruits</B> not seen.</P>

<P>Flowering all year. Thickets; 0-20&nbsp;m;
introduced, Fla.; Mexico; West Indies; Central America; n South America.</P>

<P><I>Piper auritum</I> has been collected as
&quot;wild&quot; in Broward County, Florida.<BR>
</P>

