

<P><B>7. PIPERACEAE C.&nbsp;Agardh
- Pepper family</B></P>

<P><B>Small trees, shrubs, or perennial or annual
herbs</B>, often rhizomatous, sometimes aromatic, glabrous, pubescent,
or glandular-dotted, terrestrial or epiphytic. <B>Stems</B> simple or branched;
vascular bundles in more than 1 ring or scattered. <B>Leaves</B> basal
and/or cauline, alternate, opposite, or whorled, simple; stipules present,
adnate to petiole; petioles usually present. <B>Leaf blade:</B> margins
entire. <B>Inflorescences</B> terminal, opposite leaves, or axillary, spikes.
<B>Flowers</B> bisexual; perianth absent, each flower subtended by peltate
bract; stamens 2<I>-</I>6, hypogynous, anthers 2-locular; pistil 1, 1-
or 3-4-carpellate; ovary 1-locular, superior; placentation basal; ovule
1; stigmas usually 3-4. <B>Fruits</B> drupelike. <B>Seed</B> 1; endosperm
scanty; perisperm abundant; embryo minute.</P>

<P>Genera 15, species 2000 (2 genera, 9 species
in the flora): primarily tropical and subtropical regions worldwide.</P>

<P>Lepianthes peltata (Linnaeus) Rafinesque,
a soft-wooded shrub to ca. 2&nbsp;m, included by some authors in Piper
or Pothomorphe, has been collected as &quot;growing wild&quot; in Dade
County, Florida (A.&nbsp;Herndon, pers. comm.). Lepianthes differs from
Piper by its erect habit, by having axillary inflorescences, and by the
spikes arranged in umbels.</P>

<P>This family should receive careful taxonomic
and nomenclatural study.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Candolle, C.&nbsp;de. 1869. Piperaceae. In: A.&nbsp;P. de Candolle
and A.&nbsp;L.&nbsp;P. de Candolle, eds. 1823-1873. Prodromus Systematis
Naturalis Regni Vegetabilis.... 17 vols. Paris etc. Vol. 16, part 1, pp.
235-471. Trelease,&nbsp;W. and T.&nbsp;G. Yuncker. 1950. The Piperaceae
of Northern South America. 2 vols. Urbana.<BR>
</P>

