1.<A NAME="25001128"></A><I>Piper aduncum</I>
Linnaeus</B>, Sp. Pl. 1: 29. 1753 - F</P>

<P><B>Shrubs or small trees</B>, erect, 2-7&nbsp;m,
sparsely pubescent. <B>Leaves:</B> petiole ca. 1/20 length of leaf blade,
not winged. <B>Leaf blade</B> oblong, ovate, widely lanceolate to elliptic,
11-24 &times; 4-8&nbsp;cm, base obliquely rounded to obliquely cuneate,
apex acuminate; surfaces abaxially soft-pubescent, adaxially scabrous.
<B>Spikes</B> 8-15&nbsp;cm. <B>Fruits</B> oblong, 2 sides flattened longitudinally,
both ends &times; truncate, apex depressed, regularly pitted or reticulate;
beak minute, ca. 0.1&nbsp;mm.</P>

<P>Flowering all year. Thickets, woodland margins;
0-20&nbsp;m; introduced, Fla.; West Indies; Central America; South America.<BR>
</P>

<P><B>