1. <A NAME="24000142"></A><I>Platystemon californicus</I> Bentham</B>,
Trans. Hort. Soc. London, ser. 2, 1: 405. 1834 (as <I>californicum</I>)
- F</P>

<P><I>Platystemon arizonicus</I> Greene; <I>P</I>.&nbsp;<I>australis</I>
Greene; <I>P</I>.&nbsp;<I>californicus</I> var. <I>ciliatus</I> Dunkle;
<I>P</I>.&nbsp;<I>californicus</I> var. <I>crinitus</I> Greene; <I>P</I>.&nbsp;<I>californicus</I>
var. <I>horridulus</I> (Greene) Jepson; <I>P</I>.&nbsp;<I>californicus</I>
var. <I>nutans</I> K.&nbsp;Brandegee; <I>P</I>.&nbsp;<I>californicus</I>
var. <I>ornithopus</I> (Greene) Munz; <I>P</I>.&nbsp;<I>mohavensis</I>
Greene</P>

<P><B>Plants</B> 0.3-3&nbsp;dm, pilose or hirsute,
sometimes glabrate. <B>Leaves</B> 10-90 &times; 1.7-8.1&nbsp;mm; blade
broadly linear; margins entire; apex rounded to long-acute. <B>Inflorescences:</B>
peduncle 3.4-25.8&nbsp;cm; bud globose to ovoid-cylindric. <B>Flowers:</B>
petals white to cream colored, sometimes with yellow tip and/or base, rarely
gold overall, sometimes tinged red in age, narrowly ovate to obovate, 6-19
&times; 3.5-16&nbsp;mm, apex acute to rounded; ovary cylindric to oblong-ellipsoid;
stigmas linear, margin revolute. <B>Capsules</B> ellipsoid, to 1.6&nbsp;cm.
<B>Seeds</B> black, shining, smooth. 2<I>n</I>&nbsp;=&nbsp;12 (plus occasional
supernumerary chromosomes).</P>

<P>Flowering early-late spring. Open, grassy
areas with loose or disturbed soil or following burns; 0-1000(-2000)&nbsp;m;
Ariz., Calif., Nev., Oreg., Utah; Mexico (Baja California).</P>

<P>This highly variable, wind-pollinated taxon
has been split into as many as 57 species on the basis of characteristics
showing little cohesiveness. Ecotypic variation has produced morphologic
extremes ranging from semisucculent, nearly glabrous coastal forms to very
robust, moderately pubescent plants of interior grassland to compact, densely
pubescent plants of semidesert habitats (G.&nbsp;L. Hannan 1979, 1982).
Several varieties are recognized in some currently used floras: <I>Platystemon
californicus</I> var. <I>ciliatus</I> Dunkle, from Santa Barbara Island;
<I>P</I>. <I>californicus</I> var. <I>nutans</I> M.&nbsp;Brandegee, from
coastal San Diego County and Santa Rosa and Santa Cruz islands; and <I>P</I>.
<I>californicus</I> var. <I>ornithopus</I> (Greene) Munz, from San Miguel,
San Nicholas, and Santa Rosa islands. These geographically restricted morphotypes
appear to result from the same sort of ecotypic variation found in many
other parts of the range. Rather than naming each ecotype, it seems best
to treat <I>Platystemon</I> as a single, highly variable species with many
locally adapted, intergrading populations.<BR>
<BR>
</P>

