

<P><B>17. PLATYSTEMON
Bentham</B>, Trans. Hort Soc. London, ser. 2, 1: 405. 1834 - Cream cups
[Greek <I>platus</I>, broad, and <I>stemon</I>, stamen]</P>

<P><B>Herbs</B>, annual, caulescent, usually
distinctly pubescent, from fibrous roots. <B>Stems</B> leafy, erect to
decumbent, branching distally. <B>Leaves</B> mostly opposite or whorled,
sessile; blade broadly linear, unlobed. <B>Inflorescences</B> axillary
or terminal, 1-flowerd; bracts absent; bud nodding. <B>Flowers:</B> receptacle
slightly expanded beneath calyx; sepals 3, with overlapping, loosely connivent
flaps; petals 6, occasionally more on robust specimens; stamens many in
several series; filaments dilated distally; pistil 6-many-carpellate; ovary
with each carpel forming almost closed locule with 4-24 ovules; stigmas
1 per carpel. <B>Capsules</B> erect or sometimes nodding, carpels dissociating,
each torulose and breaking transversely into 1-seeded segments, sometimes
also releasing free seeds. <B>Seeds</B> usually many, aril absent. <I>x</I>&nbsp;=&nbsp;6.</P>

<P>Species 1 (1 in the flora): w&nbsp;United
States; Mexico (Baja California).</P>

<P><B>SELECTED REFERENCE<BR>
</B>Hannan, G.&nbsp;L. 1982. Correlation of morphological variation in
<I>Platystemon californicus</I> (Papaveraceae) with flower color and geography.
Syst. Bot. 7: 35-47.<BR>
<BR>
<BR>
<B>