

<P><B>5. PODOPHYLLUM Linnaeus</B>,
Sp. Pl. 1: 505. 1753; Gen. Pl. ed. 5, 22. 1754 &middot; [Greek <I>podos</I>,
foot, and <I>phyllon</I> leaf]</P>

<P><B>Herbs</B>, perennial, deciduous, 2-6&nbsp;dm,
glabrous to sparsely pubescent. <B>Rhizomes</B> short to elongate, formed
of distinct annual increments, producing 1 leaf or flowering shoot per
year. <B>Aerial stems</B> present. <B>Leaves</B> simple, variously parted.
<B>Leaves of nonflowering shoot</B> 1, basal; petiole centrally attached,
erect, stemlike, blade orbiculate, peltate. <B>Leaves of flowering shoots</B>
(0-)2(-3), cauline, alternate or nearly opposite; petiole attached near
margin, blade reniform-orbiculate, peltate. <B>Leaf blades</B> 10-38&nbsp;cm,
parts entire or lobed, margins entire or serrate; venation palmate. <B>Inflorescences</B>
terminal, flowers solitary. <B>Flowers</B> 3-merous, 30-55&nbsp;mm; bracteoles
absent; sepals caducous, 6, white or pale green; petals 6-9, white or pink;
stamens equal to or 2 times number of petals; anthers dehiscing longitudinally;
pollen exine finely reticulate to verrucate; ovaries ellipsoid; placentation
marginal; style central. <B>Fruits</B> berries, yellow, orange, red, or
maroon, ellipsoid. <B>Seeds</B> 20-50, yellow, orange, red, or maroon;
aril yellow, rarely maroon, fleshy, enclosing seed. <I>x</I>&nbsp;=&nbsp;6.</P>

<P>Species 2 (1 in the flora): widely disjunct
temperate areas in e&nbsp;North America and e&nbsp;Asia.</P>

<P><I>Podophyllum hexandrum</I> Royle, which
is native to eastern Asia, is recognized in its own genus, <I>Sinopodophyllum</I>
T.&nbsp;S. Ying, by some authors. Also occurring in east Asia is the segregate
genus <I>Dysosoma</I> Woodson, with about seven species.</P>

<P><B>SELECTED REFERENCE<BR>
</B>Dewick, P.&nbsp;M. 1983. Tumour inhibitors from plants. In: G.&nbsp;E.
Trease and W.&nbsp;C. Evans. 1983. Pharmacognosy, ed. 12. London. Pp. 629-647.<BR>
<BR>
<BR>
<B>