1. <A NAME="03500162"></A><I>Podophyllum peltatum</I> Linnaeus</B>,
Sp. Pl. 1: 505. 1753 &middot; May-apple, Indian-apple, wild-mandrake, pomme
de mai, podophylle pelt&eacute; &middot; E F</P>

<P><B>Rhizomes:</B> annual elongation increments
(2-)6-20&nbsp;cm. <B>Leaves of nonflowering shoots</B> 2-5 dm; blade 18-38
&times; 18-38&nbsp;cm. <B>Flowering shoots</B> 3-6&nbsp;dm; leaves nearly
opposite, slightly unequal in size; petioles 5-15&nbsp;cm; proximal blades
10-35 &times; 14-40&nbsp;cm, distal blades 6-25 &times; 10-33&nbsp;cm.
<B>Leaf blades</B> 5-7(-9)-parted, parts lobed or not (frequently 2-lobed),
margins entire or coarsely dentate, teeth apiculate; surfaces abaxially
sparsely pubescent to glabrous. <B>Flowers</B> solitary, nodding, fragrant;
peduncle arising from angle between petioles, 1.5-6&nbsp;cm; sepals orbiculate,
10-18 &times; 10-18&nbsp;mm; petals white, rarely pink, obovate, 15-35
&times; 10-25&nbsp;mm; stamens 2 times number of petals, 8-13&nbsp;mm;
filaments 3-5&nbsp;mm; anthers 5-8 &times; 1-1.5&nbsp;mm; ovaries 6-12
&times; 4-8&nbsp;mm; style 1-2&nbsp;mm; stigmas 3-6&nbsp;mm. <B>Berries</B>
yellow, rarely orange or maroon, 3.5-5.5 &times; 2.0-4&nbsp;cm. <B>Seeds</B>
30-50, ovoid, 6-8 &times; 4-6&nbsp;mm. 2<I>n</I>&nbsp;=&nbsp;12.</P>

<P>Flowering spring, fruiting late spring-summer;
summer deciduous. Mixed deciduous forest, fields, moist road banks, river
banks; 50-800&nbsp;m; Ont., Que.; Ala., Ark., Conn., Del., D.C., Fla.,
Ga., Ill., Ind., Iowa, Kans., Ky., La., Md., Mass., Mich., Minn., Miss.,
Mo., Nebr., N.H., N.J., N.Y., N.C., Ohio, Okla., Pa., R.I., S.C., Tenn.,
Tex., Vt., Va., W.Va., Wis.</P>

<P>The following forms have been described:</P>

<P><I>Podophyllum peltatum</I> forma <I>aphyllum</I>
Plitt--fertile shoots with no foliage leaves; <I>Podophyllum peltatum</I>
forma <I>biltmoreanum</I> Steyermark--fruits orange; <I>Podophyllum peltatum</I>
forma <I>deamii</I> Raymond--fruits and seeds maroon, and flowers, placentae,
and plant axes pink-tinged; <I>Podophyllum peltatum</I> forma <I>polycarpum</I>
(Clute) Plitt--flowers with multiple, free carpels.</P>

<P>The ripe fruit of <I>Podophyllum peltatum</I>
is considered edible; all other parts of the plant are toxic. Several lignans
and their glycosides, present in the resin extracted from rhizomes and
roots, exhibit antitumor activity. Etoposide, a semisynthetic derivative
of one of the lignans, is currently used in the treatment of small-cell
lung cancer and testicular cancer (P.&nbsp;M. Dewick 1983). Native Americans
used <I>Podophyllum</I> for a wide variety of medicinal purposes and as
an insecticide (D.&nbsp;E. Moerman 1986).</P>

<P><I>Podophyllum peltatum</I> is sometimes cultivated
in woodland gardens, and some populations on the periphery of its geographical
range may be escapes from cultivation.<BR>
</P>

