61. <A NAME="27100224"></A><I><B>Ranunculus sceleratus</B></I><B>
Linnaeus</B></B>, Sp. Pl. 1:
551.  1753 - Cursed crowsfoot, renoncule sc&eacute;l&eacute;rate
- W2
<P>
<I>Hecatonia scelerata</I>
(Linnaeus) Fourreau
<P>
<B>Stems</B>
erect, glabrous, rooting at base, only very rarely rooting at
proximal nodes.  <B>Leaves</B> basal and cauline, basal and proximal
cauline leaf blades reniform to semicircular in outline, 3-lobed
or -parted, 1-5&nbsp;&#215; 1.6-6.8&nbsp;cm, base truncate to
cordate, segments usually again lobed or parted, sometimes undivided,
margins crenate or crenate-lobulate, apex rounded or occasionally
obtuse.  <B>Flowers:</B> receptacle pubescent or glabrous; sepals
3-5, reflexed from or near base, 2-5&nbsp;&#215; 1-3&nbsp;mm,
glabrous or sparsely hirsute; petals 3-5, 2-5&nbsp;&#215; 1-3&nbsp;mm;
nectary on petal surface, scale poorly developed and forming crescent-shaped
or circular ridge surrounding but not covering nectary; style
absent.  <B>Heads of achenes</B> ellipsoid or cylindric heads,
5-13&nbsp;&#215; 3-7&nbsp;mm; achenes 1-1.2&nbsp;&#215; 0.8-1&nbsp;mm,
glabrous; beak deltate, usually straight, 0.1&nbsp;mm. 
<P>
 Varieties 2 (2 in the flora): North
America; Eurasia.
<P>
 <I>Ranunculus sceleratus</I> varieties
were used by the Thompson Indians as a poison for their arrow
points (D.&nbsp;E. Moerman 1986).<BR>

<P>
<B>