31b. <A NAME="27100756"></A><I><B>Ranunculus eschscholtzii</B></I><B>
Schlechtendal var. <I>suksdorfii</I> (A. Gray) L. D.
Benson</B></B>, Amer. J. Bot.
23: 170.  1936 - E
<P>
<I>Ranunculus suksdorfii</I>
A. Gray, Proc. Amer. Acad. Arts 21: 371.  1886 
<P>
<B>Stems:</B>
caudex 1-3 cm, with few or no persistent leaf bases.  <B>Basal
leaf blades</B> reniform, 3-parted, 0.8-2.1 &#215; 1.5-3.5 cm,
all segments again lobed, base truncate or cordate, middle segment
always 1&#215;-lobed, ultimate segments and sinuses acute or acuminate.
 <B>Flowers:</B> petals 7-11 mm.
<P>
 Flowering spring-summer (May-Sep).
 Open rocky slopes and meadows; 1200-3200 m; Alta., B.C.;
Calif., Idaho, Mont., Wash., Wyo.<BR>

<P>
<B>