59a.<A NAME="27101441"></A> <I><B>Ranunculus bonariensis</B></I><B>
Poiret var. <I>trisepalus</I> (Gillies ex Hooker &amp; Arnott)
Lourteig</B></B>, Darwiniana
9: 465.  1951 
<P>
<I>Ranunculus trisepalus</I>
Gillies ex Hooker &amp; Arnott, Bot. Misc. 3: 133.  1834; <I>R</I>.&nbsp;<I>alveolatus</I>
A.&nbsp;M. Carter 
<P>
<B>Stems</B>
erect or decumbent, rooting at proximal nodes, glabrous.  <B>Roots</B>
not thickened basally, glabrous.  <B>Proximal cauline leaf blades</B>
elliptic to ovate, 0.8-2.3&nbsp;&#215; 0.5-1.2&nbsp;cm, base rounded
or obtuse, margins entire to finely denticulate, apex broadly
rounded-acute to rounded.  <B>Inflorescences:</B> bracts elliptic
to ovate.  <B>Flowers:</B> receptacle glabrous; sepals 3, spreading
or reflexed from base, 1.5-3&nbsp;&#215; 0.5-2&nbsp;mm, glabrous;
petals 1-3, 1.5-2.5&nbsp;&#215; 0.5-1&nbsp;mm; nectary scales
glabrous.  <B>Heads of achenes</B> globose to ovoid, 2-5&nbsp;&#215;
2-4&nbsp;mm; achenes 1.4-1.8&nbsp;&#215; 1-1.2&nbsp;mm, smooth,
glabrous; beak absent.
<P>
 Flowering spring (Mar-May).  Vernal
pools and edges of streams; 30-1000&nbsp;m; Calif.; South America.
<BR>

