2a.5. <A NAME="27104980"></A><I><B>Ranunculus</B></I><B>
Linnaeus (subg. <I>Ranunculus</I>) sect. <I>Hecatonia</I> de Candolle,
Prodr. 1: 30.  1824 </B></B>
<P>
<B>Plants</B>
glabrous or sometimes hirsute.  <B>Stems</B> creeping (erect in
<I>Ranunculus sceleratus</I>), not bulbous-based, without bulbils.
 <B>Roots</B> basal and usually also nodal, never tuberous.  <B>Leaves</B>
all cauline or both basal and cauline; basal and lower cauline
leaves similar, petiolate, blades lobed to divided or (submerged
leaves) deeply dissected, segments undivided or lobed.  <B>Inflorescences</B>
2-25-flowered cymes or axillary solitary flowers.  <B>Flowers</B>
pedicellate; sepals deciduous soon after anthesis, 3-5; petals
3-14, yellow; nectary scale variable, forming crescent-shaped
ridge surrounding but not covering nectary, or funnel-shaped tube
surrounding nectary, or distal margin of funnel expanded to form
large flap, then nectary sometimes displaced onto flap, glabrous,
free margin entire; style present or absent.  <B>Fruits</B> achenes,
1-locular; achene body thick-lenticular or compressed-ellipsoid
to discoid, 1.2-3 times as wide as thick, not prolonged beyond
seed; achene wall thick, smooth or with weak transverse wrinkles,
glabrous; margin a thick, low or high corky band or ridge; beak
much shorter than achene body or sometimes absent.  
<P>
 Species ca. 15 (4 in the flora): widespread,
in marshy or aquatic habitats. <BR>

<P>
<B>