2b.4. <A NAME="50076409"></A><I><B>Ranunculus</B></I><B>
Linnaeus (subg. <I>Cyrtorhyncha</I>) (Nuttall) A. Gray sect.
<I>Pseudaphanostemma</I> (A. Gray) L. D. Benson, Amer.
J. Bot. 23: 174.  1936</B></B>

<P>
<I>Ranunculus</I>
&#167; <I>Pseudaphanostemma</I> A. Gray, Proc. Amer. Acad.
Arts 21: 365.  1886; <I>Kumlienia</I> Greene
<P>
<B>Plants</B>
glabrous.  <B>Stems</B> erect, stolons absent, not bulbous-based,
without bulbils.  <B>Roots</B> basal, never tuberous.  <B>Leaves</B>
all basal or sometimes with 1-2 cauline leaves; basal leaves petiolate,
blades shallowly lobed; cauline leaves (when present) sessile
or petiolate, blades small, scalelike, rarely shallowly 3-lobed,
margins crenate.  <B>Inflorescences</B> 1-2-flowered cymes.  <B>Flowers</B>
pedicellate; sepals deciduous soon after anthesis, 5; petals 8-12,
yellow or greenish; nectary scale crescentic ridge surrounding
nectary, glabrous, free margin entire; style present.  <B>Fruits</B>
achenes, 1-locular; achene body cylindric, about as wide as thick,
not prolonged beyond seed; wall papery, not loose, longitudinally
veined; margin an inconspicuous ridge similar to veins; beak much
shorter than achene body.  
<P>
 Species 1 (1 in the flora): California.
<BR>

<P>
<B>