49. <A NAME="27100762"></A><I><B>Ranunculus glaberrimus</B></I><B>
Hooker</B></B>, Fl. Bor.-Amer.
1: 12.  1829 - E
<P>
<B>Stems</B>
prostrate or ascending, 4-15 cm, glabrous, each with 1-4
flowers.  <B>Roots</B> cylindric, 1-3 mm thick.  <B>Basal
leaves</B> persistent, blades reniform or obovate to very narrowly
elliptic, 0.7-5.2 &#215; 1-2 cm, base truncate, obtuse
or attenuate, margins entire or with 3 broad, apical crenae, apex
rounded to acute.  <B>Flowers:</B> pedicels glabrous or nearly
so; receptacle glabrous; sepals 5-8 &#215; 3-7 mm, abaxially
glabrous or sparsely pilose, hairs colorless; petals 5-10, 8-13 &#215;
5-12 mm; nectary scale glabrous or ciliate.  <B>Heads of
achenes</B> globose, 7-12(-20) &#215; 6-11(-20) mm;
achenes 1.4-2.2 &#215; 1.1-1.8 mm, usually finely pubescent;
beak subulate or lance-subulate, straight or curved, 0.4-1 mm.

<P>
 Varieties 2 (2 in the flora): North
America.
<P>
 Usually only a minority of the ovaries
develop, and the fruiting receptacle is completely hidden by aborted
ovaries.  Populations growing at high elevations (<I>Ranunculus
glaberrimus</I> var. <I>ellipticus</I>) and low elevations (var.
<I>glaberrimus</I>) are usually well differentiated, but these
varieties intergrade at intermediate elevations.
<P>
 The Thompson Indians rubbed the flowers
or the whole plant of <I>Ranunculus glaberrimus</I> on arrow points
as a poison (D. E. Moerman 1986).<BR>

<P>
<B>