56. <A NAME="27100734"></A><I><B>Ranunculus ambigens</B></I><B>
S.&nbsp;Watson</B></B>, Bibl.
Index N. Amer. Bot. 1: 16.  1878 - E
<P>
<B>Stems</B>
erect or ascending, rooting at proximal nodes, glabrous or sparsely
hirsute.  <B>Roots</B> not thickened basally, glabrous or somewhat
canescent proximally.  <B>Proximal cauline leaf blades</B> lanceolate,
5.9-12.2&nbsp;&#215; 1.1-2.4&nbsp;cm, base rounded-obtuse to acuminate,
margins denticulate, apex acuminate.  <B>Inflorescences:</B> bracts
linear or lanceolate.  <B>Flowers:</B> receptacle glabrous; sepals
5, spreading or sometimes reflexed from base, 3-5&nbsp;&#215;
2-3&nbsp;mm, glabrous; petals 5, 5-8&nbsp;&#215; 2-3&nbsp;mm;
nectary scales glabrous.  <B>Heads of achenes</B> short-ovoid
to depressed-globose, 5-7&nbsp;&#215; 4-8&nbsp;mm; achenes 1.8&nbsp;&#215;
1.2-1.4&nbsp;mm, glabrous; beak lanceolate, straight, 0.6-1.2&nbsp;mm.
<P>
 Flowering late spring-summer (May-Aug).
 Creeks, ponds, ditches, marshes; 0-700&nbsp;m; Ala., Conn., Del.,
D.C., Ga., Ill., Ind., Ky., La., Maine, Md., Mass., Mich., N.H.,
N.J., N.Y., N.C., Ohio, Pa., R.I., Tenn., Va., W.Va.
<P>
 The name <I>Ranunculus obtusiusculus</I>
Rafinesque has been mistakenly used for <I>R</I>.&nbsp;<I>ambigens</I>.
<BR>

<P>
<B>