8. <A NAME="27100720"></A><I><B>Ranunculus acriformis</B></I><B>
A.&nbsp;Gray</B></B>, Proc. Amer.
Acad. Arts 21: 374.  1886 - E
<P>
<B>Stems</B>
erect, not rooting nodally, hirsute or strigose, base not bulbous.
 <B>Roots</B> never tuberous, sometimes thick and &#177;&nbsp;fleshy
proximally.  <B>Basal leaf blades</B> broadly ovate to cordate
or sometimes reniform in outline, deeply 3-divided or occasionally
3-foliolate, 2.2-6&nbsp;&#215; 2.5-7.7(-10)&nbsp;cm, divisions
1-2&#215; deeply parted or -dissected, ultimate segments linear
to broadly linear, margins entire (occasionally a lobe reduced
to large tooth), apex acute or rounded-acute.  <B>Flowers:</B>
receptacle glabrous; sepals spreading or variously reflexed, 4-6&nbsp;&#215;
2-4&nbsp;mm, appressed-hirsute; petals 5(-10), yellow, 7-13&nbsp;&#215;
4-10&nbsp;mm.  <B>Heads of achenes</B> hemispheric or globose,
5-8&nbsp;&#215; 6-8(-10)&nbsp;mm; achenes 2.2-3.4&nbsp;&#215;
2-3&nbsp;mm, glabrous, margin forming narrow rib 0.1-0.2&nbsp;mm
wide; beak persistent, lanceolate, strongly curved, 0.4-1.6&nbsp;mm.
<P>
 Varieties 3: w&nbsp;North America.
<BR>

<P>
<B>