7. <A NAME="27100136"></A><I><B>Ranunculus acris</B></I><B>
Linnaeus</B></B>, Sp. Pl. 1:
554.  1753 - Renoncule &acirc;cre, bouton d'or - F W2
<P>
<I>Ranunculus acris</I>
var. <I>latisectus</I> Beck
<P>
<B>Stems</B>
erect from short caudex or rhizome, never rooting nodally, hispid,
strigose, or glabrous, base not bulbous.  <B>Roots</B> never tuberous.
 <B>Basal leaf blades</B> pentagonal in outline, deeply 3-5-parted,
1.8-5.2&nbsp;&#215; 2.7-9.8&nbsp;cm, segments 1-2&#215;-lobed
or -parted, ultimate segments narrowly elliptic or oblong to lanceolate,
margins toothed or lobulate, apex acute to rounded.  <B>Flowers:</B>
receptacle glabrous; sepals spreading, 4-6(-9)&nbsp;&#215; 2-5&nbsp;mm,
hispid; petals 5, yellow, 8-11(-17)&nbsp;&#215; 7-13&nbsp;mm.
 <B>Heads of achenes</B> globose, 5-7(-10)&nbsp;mm wide; achenes
2-3&nbsp;&#215; 1.8-2.4&nbsp;mm, glabrous, margin forming narrow
rib 0.1-0.2&nbsp;mm wide; beak persistent, deltate, usually with
tip short or long, straight or curved, subulate, 0.2-1&nbsp;mm.
 2<I>n</I>&nbsp;=&nbsp;14.  
<P>
 Flowering spring-summer (May-Sep).
 Meadows, stream banks, roadsides, and old fields; 0-2300&nbsp;m;
largely introduced; Greenland; St. Pierre and Miquelon; Alta.,
B.C., Man., N.B., Nfld., N.W.T., N.S., Ont., P.E.I., Que., Sask.;
Ala., Alaska, Ariz., Calif., Conn., Del., D.C., Ga., Idaho, Ill.,
Ind., Iowa, Kans., Ky., Maine, Md., Mass., Mich., Minn., Mo.,
Mont., Nebr., Nev., N.H., N.J., N.Y., N.C., N.Dak., Ohio, Oreg.,
Pa., R.I., S.C., S.Dak., Tenn., Utah, Vt., Va., Wash., W.Va.,
Wis., Wyo.; South America; Eurasia; Pacific Islands; Australia.
<P>
 <I>Ranunculus acris</I> is variable
in form and division of leaves, size of achene beak, and form
of indument on the proximal stem.  Most North American plants
are weedy and have poorly differentiated caudices; these forms
probably were introduced from Eurasia.  Rhizomatous plants with
large flowers (parenthetic measurements above) found in the Aleutian
Islands of Alaska and in Greenland are probably native.  Aleutian
populations of this form have been called <I>R</I>.&nbsp;<I>acris</I>
var. <I>frigidus</I> Regel or <I>R</I>.&nbsp;<I>grandis</I> Honda
var. <I>austrokurilensis</I> (Tatewaki) H.&nbsp;Hara.  Both names
were originally applied to Asiatic plants, and their applicability
to American specimens is open to question.
<P>
 Some Native American tribes used <I>Ranunculus
acris</I> as an analgesic, a dermatological or oral aid, an antidiarrheal,
antihermorrhagic, and a sedative (D.&nbsp;E. Moerman 1986).<BR>

<P>
<B>