75. <A NAME="27100184"></A><I><B>Ranunculus lapponicus</B></I><B>
Linnaeus</B></B>, Sp. Pl. 1:
553.  1753 - Renoncule de Lapponie - F
<P>
<B>Stems</B>
prostrate, buried, rooting nodally, glabrous, not bulbous-based.
 <B>Tuberous roots</B> absent.  <B>Basal leaf blades</B> reniform,
deeply 3-parted, 1.1-2.6&nbsp;&#215; 1.6-4.3&nbsp;cm, segments
undivided or 1&#215; cleft, margins crenate, apex rounded.  <B>Flowers:</B>
receptacle glabrous; sepals spreading or reflexed from base, 4-7&nbsp;&#215;
2-5&nbsp;mm, glabrous; petals yellow, 5-6&nbsp;&#215; 2-3&nbsp;mm.
 <B>Heads of achenes</B> hemispheric, 5-7&nbsp;&#215; 8-10&nbsp;mm;
achenes 3.8-4.2&nbsp;&#215; 2-2.2&nbsp;mm, glabrous; beak persistent,
lanceolate, curved, tip hooked, 1.6-2.4&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;16.
 
<P>
 Flowering late spring-summer (Jun-Jul).
 Boggy places and lakesides in tundra, muskeg, and boreal forest;
0-900&nbsp;m; Greenland; Alta., B.C., Man., N.B., Nfld., N.W.T.,
Ont., Que., Sask., Yukon; Alaska, Maine, Mich., Minn.; Eurasia.
<P>
 Starving individuals among western
Eskimo groups ate the soaked plant of <I>Ranunculus lapponicus</I>
as a dietary aid before consuming other food (D.&nbsp;E. Moerman
1986).<BR>

