16. <A NAME="27100160"></A><I><B>Ranunculus fascicularis</B></I><B>
Muhlenberg ex J.&nbsp;M.&nbsp;Bigelow</B></B>,
Fl. Boston., 137.  1814 - E W2
<P>
<I>Ranunculus fascicularis</I>
var. <I>apricus</I> (Greene) Fernald 
<P>
<B>Stems</B>
erect or ascending, never rooting nodally, strigose or spreading-strigose,
base not bulbous.  <B>Roots</B> always both filiform and tuberous
on same stem.  <B>Basal leaf blades</B> ovate to broadly ovate
in outline, 3-5-foliolate, 2.1-4.7&nbsp;&#215; 1.9-4.5&nbsp;cm,
leaflets undivided or 1&#215;-lobed or -parted, ultimate segments
oblanceolate or obovate, margins entire or with few teeth, apex
rounded-acute to rounded-obtuse.  <B>Flowers:</B> receptacle hispid
or glabrous; sepals spreading or sometimes reflexed from base,
5-7&nbsp;&#215; 2-3&nbsp;mm, hispid or glabrous; petals 5(-7),
yellow, 8-14&nbsp;&#215; 3-6&nbsp;mm.  <B>Heads of achenes</B>
globose or ovoid, 5-9&nbsp;&#215; 5-8&nbsp;mm; achenes 2-2.8&nbsp;&#215;
1.8-2.2&nbsp;mm, glabrous, margin forming narrow rib 0.1-0.2&nbsp;mm
wide; beak persistent, filiform, straight, 1.2-2.8&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;32.
 
<P>
 Flowering winter-spring (Jan-Jun).
 Grassland or deciduous forest; 0-300&nbsp;m; Man., Ont; Ala.,
Ark., Conn., Ga., Ill., Ind., Iowa, Kans., Ky., La., Md., Mass.,
Mich., Minn., Miss., Mo., Nebr., N.J., N.Y., N.C., Ohio, Okla.,
Pa., R.I., S.C., Tenn., Tex., Vt., Va., Wis. 
<P>
 <I>Ranunculus fascicularis</I> is very
similar to <I>R</I>.&nbsp;<I>hispidus</I> var. <I>hispidus</I>,
and herbarium specimens without underground parts may be difficult
to identify.  <I>Ranunculus fascicularis</I> grows in drier habitats;
segments of its leaves are commonly oblanceolate and blunt, with
few or no marginal teeth; and its petals are widest at or below
the middle.  <I>Ranunculus hispidus</I> var. <I>hispidus</I> is
usually larger in all its parts (leaves, flowers, heads of achenes);
leaf segments are variable in shape but their apices are normally
sharper and their marginal teeth more numerous, and petals are
widest above the middle.<BR>

<P>
<B>