54c. <A NAME="27103170"></A><I><B>Ranunculus flammula</B></I><B>
Linnaeus var. <I>reptans</I> (Linnaeus) E.&nbsp;Meyer</B></B>,
Pl. Labrador., 96.  1830 - Renoncule rampante
<P>
<I>Ranunculus reptans</I>
Linnaeus, Sp. Pl. 1: 549.  1753; <I>R</I>.&nbsp;<I>flammula</I>
var. <I>filiformis</I> (Michaux) Hooker 
<P>
<B>Stems</B>
prostrate, 0.2-1&nbsp;mm thick.  <B>Leaf blades</B> linear or
filiform, 0.7-3&nbsp;&#215; 0.04-0.1&nbsp;cm.  <B>Flowers:</B>
sepals 1-2&nbsp;mm; petals 3-5&nbsp;&#215; 1-2.5&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;32.
 
<P>
 Flowering late spring-summer (Jun-Sep).
 Shallow water and wet ground, open shores of lakes and rivers
and in temporary ponds; 0-2500&nbsp;m; Greenland; St. Pierre and
Miquelon; Alta., B.C., Man., N.B., Nfld., N.W.T., N.S., Ont.,
Que., Sask., Yukon; Alaska, Conn., Idaho, Maine, Mass., Mich.,
Minn., Mont., N.H., N.J., N.Y., Pa., Vt., Wash., Wis., Wyo.; Eurasia.
<BR>

<P>
<B>