15. <A NAME="27100461"></A><I><B>Ranunculus macranthus</B></I><B>
Scheele</B></B>, Linnaea 21:
585.  1848 - E F
<P>
<I>Ranunculus fascicularis</I>
Muhlenberg ex J.&nbsp;M. Bigelow var. <I>cuneiformis</I> (Small)
L.&nbsp;D. Benson
<P>
<B>Stems</B>
erect or decumbent, never rooting nodally, hispid, base not bulbous.
 <B>Roots</B> tuberous.  <B>Basal leaf blades</B> ovate in outline,
3-5-foliolate, 3.8-10&nbsp;&#215; 2.7-9&nbsp;cm, leaflets 1&#215;-lobed,
ultimate segments narrowly elliptic to oblanceolate, margins entire
or with few teeth, apex broadly acute to rounded-obtuse.  <B>Flowers:</B>
receptacle hispid; sepals spreading or weakly reflexed ca. 1&nbsp;mm
above base, 7-10&nbsp;&#215; 3-5&nbsp;mm, hispid; petals 10-22,
yellow, 12-22&nbsp;&#215; 4-9&nbsp;mm.  <B>Heads of achenes</B>
globose to cylindric, 8-14&nbsp;&#215; 8-10&nbsp;mm; achenes 2.2-4.2&nbsp;&#215;
2.8-3.4&nbsp;mm, glabrous, margin forming narrow rib 0.4-0.6&nbsp;mm
wide; beak usually persistent, filiform from deltate base, straight,
2-4&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;32.  
<P>
 Flowering late winter-spring (Mar-May).
 Riverbanks and wet meadows; 0-400&nbsp;m; Tex.<BR>

<P>
<B>