9. <A NAME="27100793"></A><I><B>Ranunculus occidentalis</B></I><B>
Nuttall in J.&nbsp;Torrey &amp; A.&nbsp;Gray</B></B>,
Fl. N. Amer. 1: 22.  1838 - E W1
<P>
<B>Stems</B>
erect to reclining, not rooting nodally, hirsute or sometimes
pilose or glabrous, base not bulbous.  <B>Roots</B> never tuberous.
 <B>Basal leaf blades</B> broadly ovate to semicircular or reniform
in outline, 3-parted or -foliolate, 1.5-5.3&nbsp;&#215; 2.2-8&nbsp;cm,
segments usually again 1(-2)&#215;-lobed, ultimate segments oblong
or elliptic to lanceolate or oblanceolate, margins dentate (sometimes
dentate-lobulate or entire), apex acute to rounded-obtuse.  <B>Flowers:</B>
receptacle glabrous; sepals reflexed 2-3&nbsp;mm above base, 4-7(-9)&nbsp;&#215;
2-4&nbsp;mm, hirsute; petals 5-14, yellow, 5-13&nbsp;&#215; 1.5-8&nbsp;mm.
 <B>Heads of achenes</B> hemispheric, 3-7&nbsp;&#215; 5-9&nbsp;mm;
achenes 2.6-3.6(-4.8)&nbsp;&#215; 1.8-3(-3.2)&nbsp;mm, glabrous,
rarely hispid, margin forming narrow rib 0.1-0.2&nbsp;mm wide;
beak persistent, lanceolate to lance-subulate, straight or curved,
0.4-2.2&nbsp;mm. 
<P>
 Varieties 7: w&nbsp;North America.

<P>
 The seeds of <I>Ranunculus occidentalis</I>
were eaten by some Californian Indians.  D.&nbsp;E. Moerman (1986)
identified this taxon as an Aleut poison: juice of the flowers
could be slipped into food to poison the person who ate it.  
<BR>
<BR>

<P>
<B>