4. <A NAME="27100190"></A><I><B>Ranunculus macounii</B></I><B>
Britton</B></B>, Trans. New York
Acad. Sci. 12: 3.  1892 - Renoncule de Macoun - E
<P>
<I>Ranunculus macounii</I>
var. <I>oreganus</I> (A.&nbsp;Gray) K.&nbsp;C. Davis
<P>
<B>Stems</B>
prostrate to nearly erect, often rooting nodally, hirsute or glabrous,
base not bulbous.  <B>Roots</B> never tuberous.  <B>Basal leaf
blades</B> cordate to reniform in outline, 3-foliolate, 3.7-7.5&nbsp;&#215;
4.5-9.5&nbsp;cm, leaflets 3-lobed or -parted, ultimate segments
elliptic or lance-elliptic, margins toothed or lobulate, apex
acute to broadly acute.  <B>Flowers:</B> receptacle hirsute; sepals
spreading or reflexed ca. 1&nbsp;mm above base, 4-6&nbsp;&#215;
1.5-3&nbsp;mm, glabrous or hirsute; petals 5, yellow, 4-6&nbsp;&#215;
3.5-5&nbsp;mm.  <B>Heads of achenes</B> globose or ovoid, 7-11&nbsp;&#215;
7-10&nbsp;mm; achenes 2.4-3&nbsp;&#215; 2-2.4&nbsp;mm, glabrous,
margin forming narrow rib 0.1-0.2&nbsp;mm wide; beak persistent,
lanceolate to broadly lanceolate, straight or nearly so, 1-1.2&nbsp;mm.
 2<I>n</I>&nbsp;=&nbsp;32, 48.  
<P>
 Flowering spring-summer (May-Sep).
 Meadows, depressions in woodlands, ditches, edges of streams
and ponds, on wet soil or emergent from shallow water; 0-2900&nbsp;m;
Alta., B.C., Man., Nfld., N.W.T., Ont., Que., Sask., Yukon; Alaska,
Ariz., Calif., Colo., Idaho, Mich., Minn., Mont., Nebr., Nev.,
N.Mex., N.Dak., Oreg., S.Dak., Utah, Wash., Wyo.
<P>
 Through most of its range, <I>Ranunculus
macounii</I> has conspicuously hispid herbage.  Glabrous plants
are found, however, in the lower Columbia River valley (southwestern
Washington and adjacent Oregon).  This variant has been called
<I>R</I>.&nbsp;<I>macounii</I> var. <I>oreganus</I>.<BR>

<P>
<B>