64. <A NAME="27100815"></A><I><B>Ranunculus ranunculinus</B></I><B>
(Nuttall) Rydberg</B></B>, Bot.
Surv. Nebraska 3: 23.  1894 - E F
<P>
<I>Cyrtorhyncha ranunculina</I>
Nuttall in J. Torrey &amp; A. Gray, Fl. N. Amer. 1:
26.  1838
<P>
<B>Stems</B>
erect from short caudices, not rooting nodally, glabrous, not
bulbous-based.  <B>Tuberous roots</B> absent.  <B>Leaves:</B>
basal leaf blades ovate to semicircular in outline, ternately
or pinnately 2&#215;-compound, 2.4-8.2 &#215; 2-8.5 cm,
 leaflets parted and again lobed, ultimate segments elliptic to
linear, margins entire (or occasionally a lobe reduced to tooth),
apex acuminate to rounded.  <B>Flowers:</B> receptacle glabrous;
sepals spreading or reflexed from base, 3-6 &#215; 1-3 mm,
glabrous; petals (0-)5-6, yellow, 3-8 &#215; 1-3 mm.
 <B>Heads of achenes</B> hemispheric to globose, 4-5 &#215;
6-7 mm; achenes 2.2-3.6 &#215; 1.2-1.8 mm, glabrous;
beak filiform, strongly reflexed from base, 0.8-1.5 mm, brittle,
often broken.  2<I>n</I> = 32.  
<P>
 Flowering spring-summer (Apr-Aug).
 Open grassy or brushy slopes; 1700-2600 m; Colo., N.Mex.,
Utah, Wyo.<BR>

