8c. <A NAME="27100721"></A><I><B>Ranunculus acriformis</B></I><B>
A.&nbsp;Gray var. <I>aestivalis</I> L.&nbsp;D. Benson</B></B>,
Amer. Midl. Naturalist 40: 250.  1948 - Autumn buttercup - E C
<P>
<I>Ranunculus acris</I>
Linnaeus var. <I>aestivalis</I> (L.&nbsp;D. Benson) S.&nbsp;L.
Welsh; <I>R</I>.&nbsp;<I>aestivalis</I> (L.&nbsp;D. Benson) R.
Van Buren &amp; K.&nbsp;T. Harper 
<P>
<B>Stems</B>
hirsute.  <B>Flowers:</B> receptacle obpyriform to cylindric;
sepals reflexed ca. 2&nbsp;mm above base, pubescence of spreading
hairs; petals 8-11&nbsp;mm.  <B>Achenes:</B> beak 0.4-1&nbsp;mm.
 
<P>
 Flowering summer (Jul-Sep).  Meadows;
2100-2900&nbsp;m; of conservation concern; Utah.
<P>
 <I>Ranunculus acriformis</I> var. <I>aestivalis</I>
is known from two sites in southern Utah, a saline meadow south
of Panguitch in the Sevier River Valley and a riparian meadow
in Boulger Canyon, Emery County.  R.&nbsp;Van Buren et al. (1994)
treated this variety as a distinct species, <I>R</I>.&nbsp;<I>aestivalis</I>,
emphasizing the saline habitat of the Sevier Valley population.
 The morphologic differences between <I>R</I>. <I>acriformis</I>
var. <I>aestivalis</I> and the other varieties of <I>R</I>.&nbsp;<I>acriformis</I>
are minor, and the habitat of the single Emery County specimen
is typical of the species.  I prefer to retain this taxon in <I>R</I>.&nbsp;<I>acriformis</I>.
 The DNA data of Van Buren et al., based on a total of eight populations
of the three varieties, are consistent with either interpretation,
because the three varieties form a single clade with <I>R</I>.
<I>acriformis</I> var. <I>aestivalis</I> as sister group to the
other two.
<P>
<B>SELECTED REFERENCE   </B>
<P>
Van Buren,&nbsp;R., K.&nbsp;T. Harper,
W.&nbsp;R. Andersen, D.&nbsp;J. Stanton, S.&nbsp;Seyoum, and J.&nbsp;L.
England.  1994.  Evaluating the relationship of autumn buttercup
(<I>Ranunculus acriformis</I> var. <I>aestivalis</I>) to some
close congeners using random amplified polymorphic DNA.  Amer.
J.&nbsp;Bot. 81: 514-519.<BR>

<P>
<B>