26. <A NAME="27100806"></A><I><B>Ranunculus parviflorus</B></I><B>
Linnaeus</B></B>, Sp. Pl. ed.
2, 1: 780.  1762 - W2
<P>
<B>Stems</B>
erect or nearly erect, hispid.  <B>Basal and lower cauline leaf
blades</B> semicircular or reniform, 3-parted or -divided, 1.5-3.2&nbsp;&#215;
1-2.4&nbsp;cm, again lobed, base cordate, margins dentate, apex
rounded.  <B>Flowers</B> pedicellate; receptacle glabrous; sepals
5, reflexed, 1.5-2&nbsp;&#215; 0.8-1.2&nbsp;mm, densely pubescent;
petals 0-5, 1.1-1.8&nbsp;&#215; 0.2-0.7&nbsp;mm.  <B>Heads of
achenes</B> globose, 3-5&nbsp;&#215; 3-5&nbsp;mm; achenes 10-20
per head, 1.7-2&nbsp;&#215; 1.4-1.7&nbsp;mm, faces papillose,
each papilla crowned with hooked bristle, otherwise glabrous,
margin smooth; beak deltate with slender recurved tip, 0.4-0.6&nbsp;mm.
<P>
 Flowering spring-summer (Mar-Jul).
 Roadsides, fields, and woods; 50-200&nbsp;m; introduced; Ala.,
Ark., Calif., Fla., Ga., Ill., Ky., La., Md., Miss., Mo., N.J.,
N.Y., N.C., Okla., S.C., Tenn., Tex., Va.; native to Europe; Pacific
Islands; Australia.<BR>

<P>
<B>