71. <A NAME="27100775"></A><I><B>Ranunculus hederaceus</B></I><B>
Linnaeus</B></B>, Sp. Pl. 1:
556.  1753
<P>
<B>Stems</B>
glabrous.  <B>Leaves</B> all laminate, filiform-dissected leaves
absent.  <B>Leaf blade</B> reniform, 0.4-1 &#215; 0.6-1.7 cm,
margins shallowly crenate-lobulate, segments rounded.  <B>Flowers:</B>
receptacle glabrous; sepals recurved, 1.5-2 &#215; 1-1.5 mm,
glabrous; petals 5, 2-4 &#215; 1-1.5 mm; style 0.1 mm.
 <B>Fruiting pedicels</B> recurved.  <B>Heads of achenes</B> globose
or depressed-globose, 3-4 &#215; 3-4 mm; achenes 1.2-1.6 &#215;
1-1.2 mm, glabrous; beak deciduous, sometimes leaving stub
to 0.1 mm.  2<I>n</I> = 16 (Europe).  
<P>
 Flowering spring-summer (Apr-Aug).
 Edges of lakes and ponds on the coastal plain; 0-150 m;
Nfld.; Md., N.C., Pa., S.C., Va.; Europe. <BR>

<P>
<B>