50d.<A NAME="27100727"></A> <I><B>Ranunculus alismifolius</B></I><B>
Geyer ex Bentham var. <I>davisii</I> L.&nbsp;D. Benson</B></B>,
Amer. Midl. Naturalist 40: 179.  1948 -&nbsp;E
<P>
<B>Stems</B>
13-32&nbsp;cm &#215; 1-2&nbsp;mm, glabrous or hirsute.  <B>Roots</B>
fusiform-thickened proximally.  <B>Leaves:</B> petiole glabrous
or strigose.  <B>Leaf blade</B> broadly to narrowly lanceolate,
3.5-7.2&nbsp;&#215; 0.5-1.6&nbsp;cm, base broadly acute, margins
entire.  <B>Flowers:</B> petals 5-6, 5-7&nbsp;&#215; 3-6&nbsp;mm.
<P>
 Flowering late spring-summer (Jun-Aug).
 Meadows and bogs; 1300-2600&nbsp;m; Idaho, Mont., Nev., Oreg.,
Wyo.<BR>

<P>
<B>