2b.2. <A NAME="50076407"></A><I><B>Ranunculus</B></I><B>
Linnaeus (subg. <I>Cyrtorhyncha</I>) (Nuttall) A. Gray sect.
<I>Halodes</I> (A. Gray) L. D. Benson, Amer. J. Bot.
27: 805.  1940</B></B>
<P>
<I>Ranunculus</I>
&#167; <I>Halodes</I> A. Gray, Proc. Amer. Acad. Arts 21:
366.  1886 
<P>
<B>Plants</B>
glabrous or sparsely hirsute.  <B>Stems</B> dimorphic, with erect
flowering stems and prostrate stolons, not bulbous-based, without
bulbils.  <B>Roots</B> basal and nodal, never tuberous.  <B>Leaves</B>
basal and cauline; basal, proximal cauline, and stolon leaves
similar, petiolate, base broadly rounded to truncate, margins
crenate or crenate-serrate; distal cauline leaves much reduced,
scalelike, simple and undivided.  <B>Inflorescences</B> 1-5-flowered
cymes.  <B>Flowers</B> pedicellate; sepals deciduous soon after
anthesis, 5; petals 5, yellow; nectary scale attached basally,
forming flap over nectary, glabrous, free margin entire; style
present.  <B>Fruits</B> achenes, 1-locular; achene body discoid
to flattened-lenticular, oblong to obovate in outline, 2-4 times
as wide as thick, not prolonged beyond seed; achene wall papery,
not loose, longitudinally ribbed, glabrous; margin prominent narrow
ridge; beak much shorter than achene body.  
<P>
 Species ca. 10 (1 in the flora): North
America, Mexico, South America, Eurasia. <BR>

<P>
<B>