9g. <A NAME="27101499"></A><I><B>Ranunculus occidentalis</B></I><B>
Nuttall var. <I>nelsonii</I> (de Candolle) L.&nbsp;D. Benson</B></B>,
Bull. Torrey Bot. Club 68: 166.  1941 - E
<P>
<I>Ranunculus recurvatus</I>
Poiret var. (&szlig;) <I>nelsonii</I> de Candolle, Syst. Nat.
1: 290.  1817; <I>R</I>.&nbsp;<I>occidentalis</I> subsp. <I>nelsonii</I>
(de Candolle) Hult&eacute;n 
<P>
<B>Stems</B>
erect or spreading, 4-8&nbsp;mm thick, hirsute.  <B>Basal leaf
blades</B> 3-parted, rarely 3-foliolate, ultimate segments elliptic,
margins dentate.  <B>Flowers:</B> sepals 5, 4-9&nbsp;mm; petals
5-6, 7-15&nbsp;&#215; 4-11&nbsp;mm.  <B>Achenes</B> 3-4&nbsp;&#215;
2.2-2.8&nbsp;mm, glabrous; beak lanceolate, curved, 1.8-2.4&nbsp;mm.
<P>
 Flowering spring (May-Jun).  Moist
places near coast; 0&nbsp;m; Alaska.<BR>

<P>
<B>