50e. <A NAME="27100726"></A><I><B>Ranunculus alismifolius</B></I><B>
Geyer ex Bentham var. <I>alismellus</I> A.&nbsp;Gray</B></B>,
Proc. Amer. Acad. Arts 7: 327.  1867 
<P>
<B>Stems</B>
6-21&nbsp;cm &#215; 1-3&nbsp;mm, glabrous.  <B>Roots</B> not or
weakly fusiform-thickened proximally.  <B>Leaves:</B> petiole
glabrous.  <B>Leaf blade</B> ovate or elliptic, 1.8-4.8&nbsp;&#215;
0.7-1.6&nbsp;cm, base rounded to broadly acute, margins entire.
 <B>Flowers:</B> petals 5(-8), 5-8&nbsp;&#215; 2-6&nbsp;mm.
<P>
 Flowering spring-summer (May-Aug).
 Damp meadows, woods, streams; 1400-3600&nbsp;m; Calif., Idaho,
Mont., Nev., Oreg., Wash.; Mexico (Baja Calif.) <BR>

<P>
<B>