17. <A NAME="27100456"></A><I><B>Ranunculus hispidus</B></I><B>
Michaux</B></B>, Fl. Bor.-Amer.
1: 321.  1803 - Renoncule hispide - E
<P>
<B>Stems</B>
erect or decumbent, sometimes rooting nodally, hispid or strigose,
base not bulbous.  <B>Roots</B> never tuberous.  <B>Basal leaf
blades</B> ovate to deltate in outline, 3-foliolate or outer blades
merely 3-parted, 2-13.4&nbsp;&#215; 2.4-16.8&nbsp;cm, leaflets
undivided to lobed or parted, ultimate segments narrowly elliptic
or oblanceolate to circular, margins toothed, apex acuminate to
rounded.  <B>Flowers:</B> receptacle hispid; sepals spreading
or reflexed, 4-10&nbsp;&#215; 2-5&nbsp;mm, hispid; petals 5, yellow,
8-16&nbsp;&#215; 3-9&nbsp;mm.  <B>Heads of achenes</B> hemispheric
to short-ovoid, 6-10&nbsp;&#215; 7-10&nbsp;mm; achenes 2.2-5.2&nbsp;&#215;
2-3.8&nbsp;mm, glabrous, margin forming narrow rib or broad wing
0.1-1.2&nbsp;mm wide; beak persistent, lance-subulate, straight
or somewhat curved, 0.8-2.6&nbsp;mm.
<P>
 Varieties 3: North America.
<P>
 Until recently, the varieties of <I>Ranunculus
hispidus</I> were usually treated as distinct species.  Arguments
for restoring species status to <I>R</I>.&nbsp;<I>hispidus</I>
var. <I>nitidus</I> were given by G.&nbsp;L.&nbsp;Nesom (1993).
<BR>
<BR>

<P>
<B>