17c. <A NAME="27103149"></A><I><B>Ranunculus hispidus</B></I><B>
Michaux var. <I>nitidus</I> (Chapman) T.&nbsp;Duncan</B></B>,
Univ. Calif. Publ. Bot. 77: 44.  1980 -&nbsp;E
<P>
<I>Ranunculus repens</I>
Linnaeus var. <I>nitidus</I> Chapman, Fl. South. U.S., 8.  1860;
<I>R</I>.&nbsp;<I>carolinianus</I> de Candolle; <I>R</I>.&nbsp;<I>palmatus</I>
Elliott; <I>R</I>. <I>septentrionalis</I> Poiret var. <I>pterocarpus</I>
L.&nbsp;D. Benson 
<P>
<B>Stems</B>
decumbent, sometimes rooting at nodes.  <B>Flowers:</B> sepals
reflexed 1&nbsp;mm above base.  <B>Achene margin</B> 0.4-1.2&nbsp;mm
broad.  2<I>n</I>&nbsp;=&nbsp;32.  
<P>
 Flowering late winter-summer (Mar-Jul).
 Wet woods, swamps, ditches; 0-200&nbsp;m; Ont; Ala., Ark., D.C.,
Fla., Ga., Ill., Ind., Iowa, Kans., Ky, La., Md., Mich., Minn.,
Miss., Mo., Nebr., N.J., N.Y., N.C., Ohio, Okla., Pa., S.C., S.Dak.,
Tenn., Tex., Va., W.Va., Wis.<BR>

<P>
<B>