11. <A NAME="27100744"></A><I><B>Ranunculus canus</B></I><B>
Bentham</B></B>, Pl. Hartw.,
294.  1849 -&nbsp;E
<P>
<B>Stems</B>
erect to decumbent, never rooting nodally, hirsute, pilose, or
glabrous, base not bulbous.  <B>Roots</B> never tuberous.  <B>Basal
leaf blades</B> ovate to narrowly ovate in outline, 3-parted or
-foliolate, 3.3-9.5&nbsp;&#215;3.5-9.4&nbsp;cm, leaflets or segments
1-3&#215;-lobed, ultimate segments ovate or oblong-ovate to lanceolate,
margins toothed, apex acute or obtuse.  <B>Flowers:</B> receptacle
glabrous; sepals reflexed 1-2&nbsp;mm above base, 3-8 &#215; 2-4&nbsp;mm,
hirsute; petals 5-17, yellow, 6-12&nbsp;&#215; 3-6&nbsp;mm.  <B>Heads
of achenes</B> hemispheric to globose, 6-9&nbsp;&#215; 7-10&nbsp;mm;
achenes 3.4-4.4&nbsp;&#215; 2.4-3.6&nbsp;mm, glabrous or rarely
hispid, margin forming narrow rib 0.1-0.2&nbsp;mm wide; beak persistent,
deltate or lance-deltate, curved, 0.2-1.2&nbsp;mm. 
<P>
 Varieties 2 (2 in the flora): California.
<P>
 <I>Ranunculus canus</I> intergrades
with <I>R</I>.&nbsp;<I>occidentalis</I> var. <I>occidentalis</I>
and <I>R</I>.&nbsp;<I>californicus</I>, and some populations can
be difficult to assign to species.  The deltate or lance-deltate
achene beak of <I>R</I>.&nbsp;<I>canus</I>, however, which is
usually 0.8-1.2&nbsp;mm wide at the base and less than 1.5 times
as long as wide, contrasts with the narrower beaks of the other
two species, which are usually less than 0.6&nbsp;mm wide and
at least twice as long as wide.
<P>
 
<P>
<B>