

<P>
<B>2. <I><B>RANUNCULUS</B></I><B>  Linnaeus</B></B>,
Sp. Pl. 1: 548.  1753; Gen. Pl. ed. 5, 243.  1754 - Buttercup,
crowfoot, renoncule [Latin <I>rana</I>, frog, <I>unculus</I>,
little, allusion to the wet habitats in which some species grow]
<BR>

<P>
<B>Herbs</B>,
annual or perennial, from tuberous roots, caudices, rhizomes,
stolons, or bulbous stem bases.  <B>Leaves</B> basal, cauline,
or both, simple, variously lobed or parted, or compound, all petiolate
or distal leaves sessile; cauline leaves alternate (rarely a distal
pair opposite in <I>Ranunculus</I> sect. <I>Flammula</I>).  <B>Leaf
blade</B> reniform to linear, margins entire, crenate, or toothed.
 <B>Inflorescences</B> terminal or axillary, 2-50-flowered cymes
to 25 cm or solitary flowers; bracts present or absent, small
or large and leaflike, not forming involucre.  <B>Flowers</B>
bisexual, radially symmetric; sepals sometimes persistent in fruit,
3-5(-6), green or sometimes purple, yellow, or white, plane (base
saccate in <I>R</I>. <I>ficaria</I>), oblong to elliptic,
ovate, or lanceolate, 1-15 mm; petals 0-22(-150), distinct,
yellow, rarely white, red, or green, plane, linear to orbiculate,
1-26 mm; nectary present, usually covered by scale; stamens
(5-)10-many; filaments filiform; staminodes absent between stamens
and pistils; pistils 4-250, simple; ovule 1 per ovary; style present
or absent.  <B>Fruits</B> achenes, rarely utricles, aggregate,
sessile, discoid, lenticular, globose, obovoid, or cylindric,
sides sometimes veined; beak present or absent, terminal, straight
or curved, 0-4.5 mm.   <I>x</I> = 7, 8. 
<P>
 Species about 300 (76 in the flora):
worldwide except lowland tropics.
<P>
 Most <I>Ranunculus</I> species are
poisonous to stock; when abundant, they may be troublesome to
ranchers.  A few species with acrid juice were formerly used as
vesicatories.  The genus is badly in need of biosystematic work.
 Apomixis and interspecific hybridization occur in several Old
World groups of buttercups; some of the taxonomic complexity of
the New World species probably results from these processes. 
<P>
 Considerable disagreement exists among
authors on the proper generic and infrageneric classification
of <I>Ranunculus</I>.  Most of the subgenera accepted here have
been treated as separate genera at one time or another.  All recent
studies have been based on local or continental floras, however,
and classifications proposed for one region may not work for the
plants of other regions.  Like most North American workers, I
have followed the generic and infrageneric classification of L. D.
Benson (1948), who gave by far the most thorough and best documented
study of the problem.  The genus and its subdivisions should be
studied on a worldwide basis.
<P>
<B>SELECTED REFERENCES   </B>
<P>
Benson, L. D.  1948.  A treatise
on the North American <I>Ranunculi</I>.  Amer. Midl. Naturalist
40: 1-261.   Benson, L. D.  1954.  Supplement to a treatise
on the North American <I>Ranunculi</I>.  Amer. Midl. Naturalist
52: 328-369.   Cook, C. D. K.  1966.  A monographic
study of <I>Ranunculus</I> subgenus <I>Batrachium</I> (DC.) A.
Gray.  Mitt. Bot. Staatssamml. M&uuml;nchen 6: 47-237.   Duncan, T.
 1980.  A taxonomic study of the <I>Ranunculus hispidus</I> Michaux
complex in the Western Hemisphere.  Univ. Calif. Publ. Bot. 77:
1-125.   Nesom, G. L.  1993.  <I>Ranunculus</I> (Ranunculaceae)
in Nuevo Le&oacute;n, with comments on the <I>R</I>. <I>petiolaris</I>
group.  Phytologia 75: 391-398.<BR>
<BR>

