9e. <A NAME="27100794"></A><I><B>Ranunculus occidentalis</B></I><B>
Nuttall var. <I>brevistylis</I> Greene</B></B>,
Pittonia 3: 14.  1896 - E
<P>
<I>Ranunculus occidentalis</I>
subsp. <I>insularis</I> Hult&eacute;n
<P>
<B>Stems</B>
erect to reclining, 2-3&nbsp;mm thick, pilose or glabrous.  <B>Basal
leaf blades</B> 3-parted, ultimate segments elliptic or narrowly
elliptic, margins dentate.  <B>Flowers:</B> sepals 5, 5-7&nbsp;mm;
petals 5-6, 8-12&nbsp;&#215; 3-8&nbsp;mm.  <B>Achenes</B> 3-3.4&nbsp;&#215;
2.6-3&nbsp;mm, glabrous; beak lanceolate, curved, 1.2-1.4 mm.
 2<I>n</I>&nbsp;=&nbsp;28.  
<P>
 Flowering spring-summer (May-Aug).
 Coastal and mountain meadows; 0-1000&nbsp;m; Alta., B.C., Yukon;
Alaska. 
<P>
 <I>Ranunculus occidentalis</I> var.
<I>brevistylis</I> may be difficult to distinguish from var. <I>occidentalis</I>;
the two have sometimes been combined.  The pubescence character
distinguishing them is well correlated with geography, however,
so I am provisionally maintaining both of them.  <BR>

<P>
<B>