2f. <A NAME="50076414"></A><I><B>Ranunculus</B></I><B> Linnaeus
subg. <I>Pallasiantha</I> L.&nbsp;D. Benson, Amer. J.&nbsp;Bot.
27: 807.  1940</B></B>
<P>
<B>Plants</B>
glabrous.  <B>Stems</B> leafy, creeping or floating, not bulbous-based,
without bulbils.  <B>Roots</B> nodal, never tuberous.  <B>Leaves</B>
cauline, simple, petiolate; blade undivided or 3-lobed, much longer
than wide, margins entire.  <B>Inflorescences</B> axillary, solitary
flowers.  <B>Flowers</B> pedicellate (pedicels naked or leafy);
sepals deciduous soon after anthesis, 3; petals 7-11, white or
reddish; nectary scale attached on 3 sides for at least half its
length, forming pocket (sometimes mouth of pocket prolonged as
short flap), glabrous, free margin entire; style present.  <B>Fruits</B>
achenes, 1-locular, 4.2-5.2&nbsp;mm; achene body oblong-lenticular,
1.3-1.7 times as wide as thick, prolonged beyond seed as corky
distal appendage; wall thick, smooth; margin low corky band; beak
much shorter than achene body.  
<P>
 Species 1 (1 in the flora): North America,
Eurasia.<BR>

<P>
<B>