52. <A NAME="27100768"></A><I><B>Ranunculus gormanii</B></I><B>
Greene</B></B>, Pittonia 3: 91.
 1896 -&nbsp;E
<P>
<B>Stems</B>
prostrate, sometimes rooting nodally, glabrous.  <B>Roots</B>
thickened basally, glabrous.  <B>Proximal cauline leaf blades</B>
narrowly to broadly ovate, 1.2-4&nbsp;&#215; 0.7-2&nbsp;cm, base
rounded, truncate or sometimes obtuse, margins entire or denticulate,
apex obtuse or acute.  <B>Inflorescences:</B> bracts ovate or
sometimes lanceolate.  <B>Flowers:</B> receptacle glabrous; sepals
5, spreading or reflexed from near base, 2-4&nbsp;&#215; 1-3&nbsp;mm,
glabrous; petals 5-6, 4-6&nbsp;&#215; 2-4&nbsp;mm; nectary scales
glabrous.  <B>Heads of achenes</B> hemispheric, 2-3&nbsp;&#215;
3-4&nbsp;mm; achenes 1.2-2&nbsp;&#215; 1.2-1.4&nbsp;mm, glabrous;
beak lanceolate to subulate, straight or curved, 0.6-0.8&nbsp;mm.
<P>
 Flowering spring-summer (May-Jul).
 Damp soil of meadows and stream banks; 900-3300&nbsp;m; Calif.,
Oreg.
<P>
 <I>Ranunculus gormanii</I> is restricted
to middle elevations in the Klamath and southern Cascade Mountains.
<BR>

<P>
<B>