9a. <A NAME="27101525"></A><I><B>Ranunculus occidentalis</B></I><B>
Nuttall var. <I>occidentalis</I> </B></B>-
E F
<P>
<I>Ranunculus occidentalis</I>
var. <I>eisenii</I> (Kellogg) A.&nbsp;Gray; <I>R</I>.&nbsp;<I>occidentalis</I>
var. <I>rattanii</I> A.&nbsp;Gray
<P>
<B>Stems</B>
erect to reclining, 1-3(-4)&nbsp;mm thick, hirsute or sometimes
glabrous.  <B>Basal leaf blades</B> 3-parted or -foliolate, ultimate
segments oblong or elliptic to lanceolate or oblanceolate, margins
dentate or dentate-lobulate.  <B>Flowers:</B> sepals 5, 4-7&nbsp;mm;
petals 5-6, 5-10&nbsp;&#215; 3-6&nbsp;mm.  <B>Achenes</B> 2.6-3.6(-4)&nbsp;&#215;
1.8-3(-3.2)&nbsp;mm, glabrous or hispid; beak lanceolate, curved,
(0.6-)1-1.4&nbsp;mm.
<P>
 Flowering late winter-spring (Mar-Jun).
 Grassy slopes of meadows or open woodlands; 0-1500&nbsp;m; B.C.;
Calif., Nev., Oreg., Wash.
<P>
 L.&nbsp;D. Benson (1948) divided <I>Ranunculus
occidentalis</I> var. <I>occidentalis</I> into three varieties.
 The name <I>R</I>.&nbsp;<I>occidentalis</I> var. <I>occidentalis</I>
was applied only to plants from Oregon northward, in which leaves
are rarely compound and never have lanceolate ultimate segments,
and achenes are always glabrous and have beaks over 1&nbsp;mm.
 California plants were treated as <I>R</I>.&nbsp;<I>occidentalis</I>
var. <I>rattanii</I> (plants with small [5-8&nbsp;mm] petals from
the Coast Ranges) and <I>R</I>.&nbsp;<I>occidentalis</I> var.
<I>eisenii</I> (plants with larger petals from the foothills surrounding
the Central Valley).  Most of those plants from California, however,
cannot be distinguished from more northern plants, and forms with
small petals are found throughout the range of the variety.  
<BR>

<P>
<B>