51. <A NAME="27100802"></A><I><B>Ranunculus oresterus</B></I><B>
L.&nbsp;D. Benson</B></B>, Amer.
J.&nbsp;Bot. 26: 555.  1939 - E
<P>
<B>Stems</B>
erect or ascending, not rooting nodally, glabrous.  <B>Roots</B>
not thickened basally, canescent.  <B>Proximal cauline leaf blades</B>
narrowly elliptic to linear, 2.5-4.8&nbsp;&#215; 0.2-0.9&nbsp;cm,
base narrowly acuminate, margins entire, apex acute to acuminate.
 <B>Inflorescences:</B> bracts lanceolate to linear.  <B>Flowers:</B>
receptacle glabrous; sepals 5, spreading or reflexed from base,
3-5&nbsp;&#215; 1-2&nbsp;mm, glabrous; petals 5, 4-6&nbsp;&#215;
1-2&nbsp;mm; nectary scales glabrous.  <B>Heads of achenes</B>
hemispheric, 2-4&nbsp;&#215; 3-5&nbsp;mm; achenes 1-1.4&nbsp;&#215;
0.8&nbsp;mm, glabrous; beak subulate, straight, 0.2-0.4&nbsp;mm.
<P>
 Flowering spring (May).  In moist meadows;
1200-1700&nbsp;m; Idaho, Oreg. <BR>

<P>
<B>