8b. <A NAME="27100722"></A><I><B>Ranunculus acriformis</B></I><B>
A.&nbsp;Gray var. <I>montanensis</I> (Rydberg) L.&nbsp;D. Benson</B></B>,
Amer. Midl. Naturalist 40: 43.  1948 - E
<P>
<I>Ranunculus montanensis</I>
Rydberg, Mem. New York Bot. Gard. 1: 166.  1900   
<P>
<B>Stems</B>
hirsute.  <B>Flowers:</B> receptacle hemispheric to spheric; sepals
reflexed 1-3&nbsp;mm above base, pubescence of spreading hairs;
petals 7-13&nbsp;mm.  <B>Achenes:</B> beak 1.2-1.6&nbsp;mm.
<P>
 Flowering spring-summer (May-Aug).
 Wet meadows; 1500-2400&nbsp;m; Idaho, Mont., Utah, Wyo.<BR>

<P>
<B>