2e. <A NAME="50076412"></A><I><B>Ranunculus</B></I><B> Linnaeus
(subg. <I>Batrachium</I>) (de Candolle) A. Gray, Proc. Amer.
Acad. Arts 21: 363.  1886 </B></B>
<P>
<I>Ranunculus</I>
sect. <I>Batrachium</I> de Candolle, Syst. Nat. 1: 233.  1817;
<I>Batrachium</I> (de Candolle) Gray
<P>
<B>Plants</B>
glabrous (or sheathing leaf bases sometimes pubescent).  <B>Stems</B>
creeping or floating, not bulbous-based, without bulbils.  <B>Roots</B>
nodal, never tuberous.  <B>Leaves</B> cauline, either simple and
laminate (with expanded blade), or completely dissected into filiform
segments, or with proximal leaves filiform-dissected and distal
leaves laminate; laminate leaves petiolate, undivided or 3-parted,
segments entire to shallowly cleft and crenate; filiform-dissected
leaves petiolate or sessile.  <B>Inflorescences</B> axillary,
solitary flowers.  <B>Flowers</B> pedicellate; sepals deciduous
soon after anthesis, 5; petals 5, white or white with yellow claws;
nectary scale attached on 3 sides, forming ridge or shallow pocket
not covering nectary, glabrous, free margin entire; style present.
 <B>Fruits</B> achenes, 1-locular; achene body ellipsoid or flattened-ellipsoid,
1-2 times as wide as thick, not prolonged beyond seed; wall thick,
with coarse transverse ridges; margin low narrow ridge; beak much
shorter than achene body.  
<P>
 Species ca. 15 (3 in the flora): widespread
except lowland tropics.
<P>
 Unlike most species of <I>Ranunculus</I>,
members of this subgenus are not poisonous.<BR>

<P>
<B>