9d. <A NAME="27100797"></A><I><B>Ranunculus occidentalis</B></I><B>
Nuttall var. <I>howellii</I> Greene</B></B>,
Pittonia 3: 14.  1896 - E
<P>
<B>Stems</B>
erect to reclining, 1-3&nbsp;mm thick, hirsute or sometimes glabrous.
 <B>Basal leaf blades</B> 3-parted, ultimate segments narrowly
elliptic, margins entire or dentate.  <B>Flowers:</B> sepals 5,
4-6&nbsp;mm; petals 5-6, 6-10&nbsp;&#215; 3-5&nbsp;mm.  <B>Achenes</B>
3.4-4.8&nbsp;&#215; 2.6-3.2&nbsp;mm, glabrous; beak lanceolate,
straight, 1.6-2.2&nbsp;mm.
<P>
 Flowering spring-summer (Apr-Jul).
 Meadows; 900-1400&nbsp;m; Calif., Oreg.
<P>
 <I>Ranunculus occidentalis</I> var.
<I>howellii</I>, <I>R</I>.&nbsp;<I>occidentalis</I> var. <I>dissectus</I>,
and <I>R</I>.&nbsp;<I>austro-oreganus</I> form a distinctive group
distinguishable in the <I>R</I>.&nbsp;<I>occidentalis</I> complex
by the straight achene beak.  They may be difficult to separate,
however; further study of their relationships is needed. <BR>

<P>
<B>