37b. <A NAME="27103153"></A><I><B>Ranunculus inamoenus</B></I><B>
Greene var. <I>subaffinis</I> (A. Gray) L. D. Benson</B></B>,
Amer. J. Bot. 27: 187.  1940 - C E
<P>
<I>Ranunculus arizonicus</I>
Lemmon ex A. Gray var. <I>subaffinis</I> A. Gray, Proc.
Amer. Acad. Arts 21: 370.  1886 
<P>
<B>Flowers:</B>
sepals 5-7 mm.  <B>Achene beaks</B> 1.4-2 mm.
<P>
 Flowering late spring-summer (Jun-Jul).
 Moist ground near timberline; of conservation concern; 3000-3700 m;
Ariz. 
<P>
 <I>Ranunculus inamoenus</I> var. <I>subaffinis</I>
is endemic to San Francisco Peak, north-central Arizona.<BR>

<P>
<B>