2b. <A NAME="50076405"></A><I><B>Ranunculus</B></I><B> Linnaeus
subg. <I>Cyrtorhyncha</I> (Nuttall) A. Gray in A. Gray
et al., Syn. Fl. N. Amer. 1: 23.  1895</B></B>
<P>
<I>Cyrtorhyncha</I> Nuttall in J. Torrey and A. Gray, Fl. N. Amer. 1: 26.  1838<BR>

<P>
<B>
