12b. <A NAME="27100741"></A><I><B>Ranunculus californicus</B></I><B>
Bentham var. <I>cuneatus</I> Greene</B></B>,
Fl. Francisc. 2: 299.  1892 - E
<P>
<B>Stems</B>
prostrate, strigose.  <B>Basal leaf blades</B> 4-5&nbsp;&#215;
4-6&nbsp;cm, leaflets or segments undivided or 1&#215;-lobed,
ultimate segments elliptic to orbiculate, margins toothed or crenate,
apex rounded to obtuse.  <B>Achenes</B> 1.8-2.2&nbsp;&#215; 1.4-1.8&nbsp;mm.
<P>
 Flowering winter-spring (Jan-Apr).
 Bluffs and hillsides near coast; 0-200&nbsp;m; Calif., Oreg.
<BR>

<P>
<B>