32. <A NAME="27100723"></A><I><B>Ranunculus adoneus</B></I><B>
A. Gray</B></B>, Proc. Acad.
Nat. Sci. Philadelphia 15: 56.  1863 - E
<P>
<I>Ranunculus adoneus</I>
var. <I>alpinus</I> (S. Watson) L. D. Benson; <I>R</I>. <I>eschscholtzii</I>
Schlechtendahl var. <I>adoneus</I> (A. Gray) C. L. Hitchcock;
<I>R</I>. <I>eschscholtzii</I> var. <I>alpinus</I> (S. Watson)
C. L. Hitchcock 
<P>
<B>Stems</B>
erect from large caudices, 9-25 cm, glabrous, each with 1-3
flowers.  <B>Roots</B> slender, 0.8-1.4 mm thick.  <B>Basal
leaves</B> persistent, blades circular to reniform in outline,
2-3&#215;-dissected into linear segments, 0.9-2.5 &#215;
1.1-2.8 cm, base obtuse, margins entire, apices of segments
narrowly rounded to acute.  <B>Flowers:</B> pedicels glabrous;
receptacle glabrous; sepals 4-11 &#215; 3-7 mm, abaxially
sparsely pilose, hairs colorless; petals 5-10, 8-15 &#215;
8-19 mm; nectary scale glabrous.  <B>Heads of achenes</B>
ovoid, 6-12 &#215; 5-9 mm; achenes 1.8-2.4 &#215;
1-1.4 mm, glabrous or nearly so; beak subulate, straight,
1.2-1.7 mm.  2<I>n</I> = 16.  
<P>
 Spring-summer (May-Sep).  Alpine and
subalpine meadows, usually around melting snowbanks; 2500-4000 m;
Colo., Idaho, Mont., Nev., Utah, Wyo.
<P>
 Most collections of <I>Ranunculus adoneus</I>
from Colorado, including the type specimen, tend to be small,
with narrow leaf segments (only 0.5-1 mm wide) and large
flowers.  The more widespread form, with leaf segments 1-2 mm
wide and more variable flowers, has been called <I>R</I>. <I>adoneus</I>
var. <I>alpinus</I>.  The leaf and flower characteristics are
very poorly correlated, however, and specimens referable to var.
<I>alpinus</I> vary greatly in stature and flower size, so the
two forms scarcely merit formal recognition.<BR>

<P>
<B>