31a. <A NAME="27101471"></A><I><B>Ranunculus eschscholtzii</B></I><B>
Schlechtendal var. <I>eschscholtzii</I> </B></B>- E
F
<P>
<B>Stems:</B>
caudex 1-3 cm, with few or no persistent leaf bases.  <B>Basal
leaf blades</B> reniform or cordate, always 3-parted, 1-2.3 &#215;
1.5-3.7 cm, at least lateral segments again lobed, base truncate
or cordate, middle segment unlobed or 1&#215;-lobed, ultimate
segments and sinuses rounded-obtuse or broadly rounded-acute.
 <B>Flowers:</B> petals 6-12 mm.  2<I>n</I> = 32,
48.  
<P>
 Flowering late spring-summer (Jun-Aug).
 Open rocky slopes and meadows, usually arctic or alpine; 0-3600 m;
Alta., B.C., N.W.T., Yukon; Alaska, Ariz., Calif., Colo., Idaho,
Mont., Nev., N.Mex., Oreg., Utah, Wash., Wyo.<BR>

<P>
<B>