12. <A NAME="27100739"></A><I><B>Ranunculus californicus</B></I><B>
Bentham</B></B>, Pl. Hartw.,
295.  1849 - W2
<P>
<B>Stems</B>
erect to prostrate, never rooting nodally, hirsute, strigose,
or glabrous, base not bulbous.  <B>Roots</B> never tuberous. 
<B>Basal leaf blades</B> broadly ovate or cordate in outline,
3-lobed or -parted to 3-foliolate, 1.8-5.8&nbsp;&#215; 2.3-7.6&nbsp;cm,
leaflets or segments undivided or 1-2&#215;-lobed or -parted,
ultimate segments linear to orbiculate, margins toothed, crenate,
or entire, apex acute to rounded.  <B>Flowers:</B> receptacle
glabrous or rarely hispid; sepals reflexed 2-3&nbsp;mm above base,
4-8&nbsp;&#215; 2-4&nbsp;mm, pilose; petals 9-17, yellow, (6-)7-14&nbsp;&#215;
2-6&nbsp;mm.  <B>Heads of achenes</B> globose or hemispheric,
3-7&nbsp;&#215; 4-9&nbsp;mm; achenes 1.8-3.2&nbsp;&#215; 1.4-3.2&nbsp;mm,
glabrous, rarely hispid, margin forming narrow rib 0.1-0.2&nbsp;mm
wide; beak persistent, lanceolate, curved, 0.2-0.8&nbsp;mm. 
<P>
 Varieties 2 (2 in the flora): Calif.,
Oreg.; Mexico (Baja California).
<P>
 In addition to the range given, localized
populations of <I>Ranunculus californicus</I> have been reported
recently from a few islands in the vicinity of Victoria (British
Columbia and Washington) (M.&nbsp;F. Denton 1978; T.&nbsp;C. Brayshaw
1989).  Those populations are small and introgress freely with
<I>R</I>.&nbsp;<I>occidentalis</I> wherever they come together.
 Denton referred her specimens to <I>R</I>.&nbsp;<I>californicus</I>
var. <I>cuneatus</I>; Brayshaw reported both varieties from the
same small populations, but his data are consistent with populations
of <I>R</I>. <I>californicus</I> var. <I>cuneatus</I> that are
introgressing extensively with <I>R</I>.&nbsp;<I>occidentalis</I>.
 Although both Denton and Brayshaw treat <I>R</I>.&nbsp;<I>californicus</I>
as a native species in that region, several reasons support the
belief that it is introduced there.  No reports of <I>R</I>.&nbsp;<I>californicus</I>
in the area occur prior to 1978, although the area is quite well
collected (especially Victoria, B.&nbsp;C. and the San Juan Islands,
Washington); a long history of extensive marine trade between
Victoria and San Francisco has resulted in the introduction of
a number of other California species to the area; and for scattered
small populations of <I>R</I>.&nbsp;<I>californicus</I> to have
persisted for long periods in the face of free introgression from
<I>R</I>.&nbsp;<I>occidentalis</I> seems unlikely.  Given the
small population size and the introgression from <I>R</I>.&nbsp;<I>occidentalis</I>,
it is questionable whether <I>R</I>.&nbsp;<I>californicus</I>
can persist in the area.
<P>
<B>SELECTED REFERENCES   </B>
<P>
Brayshaw, T.&nbsp;C.  1989.  Buttercups,
Waterlilies, and Their Relatives (the Order Ranales) in British
Columbia.  Victoria.  [Roy. Brit. Columbia Mus. Mem. 1.]   Denton,
M.&nbsp;F.  1978.  <I>Ranunculus californicus</I>, a new record
for the state of Washington.  Madro&ntilde;o 25: 132.<BR>
<BR>

<P>
<B>