61a. <A NAME="27101527"></A><I><B>Ranunculus sceleratus</B></I><B>
Linnaeus var. <I>sceleratus</I> </B></B>
<P>
<B>Leaf blades</B>
lobed or parted, segments undivided or lobed, margins crenate.
 <B>Achene</B> faces with fine transverse wrinkles.  2<I>n</I>&nbsp;=&nbsp;32.
 
<P>
 Flowering late winter-summer (Mar-Sep).
 Ponds, ditches and riverbanks; 0-700&nbsp;m; St. Pierre and Miquelon;
Alta., B.C., Man., N.B., Nfld., N.S., Ont., Que., Sask.; Ala.,
Ark., Calif., Conn., Del., D.C., Fla., Ga., Ill., Ind., Iowa,
Kans., Ky., La., Maine, Md., Mass., Mich., Minn., Miss., Mo.,
Nebr., N.H., N.J., N.Y., N.C., N.Dak., Ohio, Okla., Oreg., Pa.,
R.I., S.C., S.Dak., Tenn., Tex., Vt., Va., Wash., W.Va., Wis.;
Europe.
<P>
 <I>Ranunculus sceleratus</I> var. <I>sceleratus</I>
is a serious weed of watercourses and marshy fields.  It is a
naturalized weed in western North America; it is not clear whether
it is native in the eastern part of the continent or was introduced
from Europe.<BR>

<P>
<B>