63. <A NAME="27100163"></A><I><B>Ranunculus flabellaris</B></I><B>
Rafinesque</B></B>, Amer. Monthly
Mag. &amp; Crit. Rev. 2: 344.  1818 - Renoncule &agrave; &eacute;vantails
- E W1
<P>
<I>Ranunculus delphinifolius</I>
Torrey 
<P>
<B>Stems</B>
floating or prostrate, glabrous, rooting at proximal nodes.  <B>Leaves:</B>
basal leaves seldom present, cauline leaf blades semicircular
to reniform, 1-6&#215;-lobed, parted, or dissected 1.2-7.3&nbsp;&#215;
1.9-10.8&nbsp;cm, base truncate or cordate, segment margins entire
or crenate, apex rounded to filiform.  <B>Flowers:</B> receptacle
sparsely hispid; sepals 5, spreading or weakly reflexed, 5-7&nbsp;&#215;
3-6&nbsp;mm, glabrous; petals 5-6(-14), 7-12&nbsp;&#215; 5-9&nbsp;mm;
nectary scale variable, crescent-shaped, funnel-shaped, or flaplike;
style 0.8-1.2&nbsp;mm.  <B>Heads of achenes</B> ovoid, 8-10&nbsp;&#215;
7-8&nbsp;mm; achenes 1.8-2.2&nbsp;&#215; 1.6-2.2&nbsp;mm, glabrous;
beak lanceolate, straight, 1-1.8&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;32.
 
<P>
 Flowering late spring-summer (May-Aug).
 Shallow water or drying mud; 0-1500&nbsp;m; Alta., B.C., Man.,
N.B., Ont., Que.; Ala., Ark., Calif., Conn., Del., Idaho, Ill.,
Ind., Iowa, Kans., Ky., La., Maine, Md., Mass., Mich., Minn.,
Miss., Mo., Nebr., Nev., N.H., N.J., N.Y., N.C., N.Dak., Ohio,
Okla., Oreg., Pa., R.I., S.Dak., Tenn., Tex., Utah, Vt., Va.,
Wash., Wis., Wyo. 
<P>
 The Fox tribes used <I>Ranunculus flabellaris</I>
as a cold remedy and a respiratory aid (D. E. Moerman 1986).<BR>

