45. <A NAME="27100133"></A><I><B>Ranunculus abortivus</B></I><B>
Linnaeus</B></B>, Sp. Pl. 1:
551.  1753 - E F W2
<P>
<I>Ranunculus abortivus</I>
subsp. <I>acrolasius</I> (Fernald) B. M. Kapoor &amp; A. L&ouml;ve;
<I>R</I>. <I>abortivus</I> var. <I>acrolasius</I> Fernald;
<I>R</I>. <I>abortivus</I> var. <I>eucyclus</I> Fernald;
<I>R</I>. <I>abortivus</I> var. <I>indivisus</I> Fernald

<P>
<B>Stems</B>
erect or nearly erect, 10-60 cm, glabrous, each with 3-50
flowers.  <B>Roots</B> filiform, sometimes enlarged basally, 0.5-1.5 mm
thick.  <B>Basal leaves</B> persistent, blades reniform or orbiculate,
undivided or sometimes innermost 3-parted or -foliate, 1.4-4.2 &#215;
2-5.2 cm, base shallowly to deeply cordate, margins crenulate
to crenate-lobulate, apex rounded to rounded-obtuse.  <B>Flowers:</B>
pedicels glabrous or nearly so; receptacle sparsely to very sparsely
pilose; sepals 2.5-4 &#215; 1-2 mm, abaxially glabrous;
petals 5, 1.5-3.5 &#215; 1-2 mm; nectary scale glabrous.
 <B>Heads of achenes</B> ovoid, 3-6 &#215; 2.5-5 mm;
achenes 1.4-1.6 &#215; 1-1.5 mm, glabrous; beak subulate,
curved, 0.1-0.2 mm.  2<I>n</I> = 16.  
<P>
 Flowering late winter-summer (Mar-Jul).
 Woods, meadows, fallow fields, and clearings; 0-3100 m;
St. Pierre and Miquelon; Alta., B.C., Man., N.B., Nfld., N.W.T.,
N.S., Ont., P.E.I., Que., Sask., Yukon; Ala., Alaska, Ark., Colo.,
Conn., Del., D.C., Fla., Ga., Idaho, Ill., Ind., Iowa, Kans.,
Ky., La., Maine, Md., Mass., Mich., Minn., Miss., Mo., Mont.,
Nebr., N.H., N.J., N.Mex., N.Y., N.C., N.Dak., Ohio, Okla., Pa.,
R.I., S.C., S.Dak., Tenn., Tex., Vt., Va., Wash., W.Va., Wis.,
Wyo.
<P>
 Three varieties of <I>Ranunculus abortivus</I>
are sometimes recognized.  Plants from New England and the northern
Appalachians often have thick stems and orbiculate leaves with
narrow, deep basal sinuses; this form has been called <I>R</I>.
<I>abortivus</I> var. <I>eucyclus</I>.  Plants from southeastern
Virginia may have the upper bracts merely lobed rather than deeply
divided as is usual in <I>R</I>. sect. <I>Epirotes</I>; those
have been called <I>R</I>. <I>arbortivus</I> var. <I>indivisus</I>.
<P>
 Native American tribes have used <I>Ranunculus
abortivus</I> medicinally for a variety of purposes (D. E.
Moerman 1986).<BR>

<P>
<B>