13b. <A NAME="27100484"></A><I><B>Ranunculus orthorhynchus</B></I><B>
Hooker var. <I>platyphyllus</I> A.&nbsp;Gray</B></B>,
Proc. Amer. Acad. Arts  21: 377.  1886 - E
<P>
<B>Basal leaf blades</B>
ovate to semicircular in outline, 3-5-foliolate, leaflets 1&#215;-lobed
or -parted, segments narrowly elliptic to linear, margins dentate
or dentate-lobulate, apex obtuse to narrowly acute.  <B>Flowers:</B>
petals abaxially yellow, 7-11&nbsp;mm broad, rounded.  <B>Heads
of achenes</B> globose or ovoid, 8-13&nbsp;mm; beak 2-3&nbsp;mm.
 2<I>n</I>&nbsp;=&nbsp;32.  
<P>
 Flowering late winter-summer (Mar-Aug).
 Meadows and marshy areas; 0-2700&nbsp;m; B.C.; Calif., Idaho,
Mont., Nev., Oreg., Utah, Wash., Wyo.<BR>

<P>
<B>