47. <A NAME="27100782"></A><I><B>Ranunculus jovis</B></I><B>
A. Nelson</B></B>, Bull.
Torrey Bot. Club 27: 261.  1900 - E
<P>
<B>Stems</B>
erect, 2.5-7.5 cm, glabrous, each with 1-4 flowers.  <B>Roots</B>
tuberous, 2.5-5 mm thick.  <B>Basal leaves</B> persistent,
blades obdeltate in outline, 1-2.8 cm, segments 0.2-0.6 cm
wide, deeply divided into 3 oblanceolate segments with lateral
segments often again lobed or parted, base long-attenuate, margins
entire, apex rounded.  <B>Flowers:</B> pedicels glabrous; receptacle
glabrous or sparsely pilose; sepals 3-7 &#215; 1.5-3 mm,
abaxially glabrous; petals 5, 6-12 &#215; 2-5 mm; nectary
scale glabrous.  <B>Heads of achenes</B> globose to cylindric,
3.5-8 &#215; 3-7 mm; achenes 1.1-1.4 &#215; 0.8-1.1 mm,
finely pubescent; beak subulate, straight, 0.2-0.8 mm.
<P>
 Flowering spring-summer (Apr-Jul).
 Dry, open slopes, often around persistent snowbanks; 1700-3000 m;
Colo., Idaho, Mont., Nev., Utah, Wyo.<BR>

<P>
<B>