41.<A NAME="27100807"></A> <I><B>Ranunculus pedatifidus</B></I><B>
Smith in A. Rees</B></B>,
Cycl. 29: Ranunculus no. 72.  1815 
<P>
Varieties 2 (1 in the flora): North
America; Asia.<BR>

<P>
<B>