31e. <A NAME="27100755"></A><I><B>Ranunculus eschscholtzii</B></I><B>
Schlechtendal var. <I>oxynotus</I> (A. Gray) Jepson</B></B>,
Fl. Calif. 1: 537.  1922 - E
<P>
<I>Ranunculus oxynotus</I>
A. Gray, Proc. Amer. Acad. Arts 10: 68.  1874 
<P>
<B>Stems:</B>
caudex 2.5-4.5 cm, densely clothed with persistent leaf bases.
 <B>Basal leaf blades</B> reniform, shallowly 5-9-lobed or sometimes
3-parted with lateral segments again lobed, 1.5-1.5 &#215;
0.8-2 cm, base truncate, middle segment unlobed, ultimate
segments and sinuses rounded or obtuse.  <B>Flowers:</B> petals
6-13 mm.
<P>
 Flowering summer (Jul-Sep).  Open rocky
alpine slopes and meadows; 2900-4000 m; Calif., Nev. <BR>

<P>
<B>