11a. <A NAME="27101577"></A><I><B>Ranunculus canus</B></I><B>
Bentham var. <I>canus</I></B></B>
- E
<P>
<I>Ranunculus californicus</I>
Bentham var. <I>canus</I> (Bentham) W.&nbsp;H. Brewer &amp; S.&nbsp;Watson;
<I>R</I>.&nbsp;<I>canus</I> var. <I>laetus</I> (Greene) L.&nbsp;D.
Benson
<P>
<B>Leaf blades:</B>
ultimate segments ovate or oblong-ovate to lanceolate, margins
toothed, apex acute or obtuse.  <B>Flowers:</B> petals 5-7.
<P>
 Flowering spring-summer (Mar-Jul).
 Grassland or very open oak woodland; 0-1200&nbsp;m; Calif.
<P>
 <I>Ranunculus canus</I> var. <I>canus</I>
is endemic to the Sacramento Valley and adjacent foothills.  As
with <I>R</I>.&nbsp;<I>californicus</I>, the leaves vary in form.
 Plants from the low Sierra Nevada foothills often have simple,
3-parted leaves, while plants from the west side of the valley
usually have compound leaves with leaflets parted into lanceolate
segments.  Many exceptions occur, however, and all possible leaf
forms can be found in the eastern Sacramento Valley.<BR>

<P>
<B>