17a. <A NAME="27100458"></A><I><B>Ranunculus hispidus</B></I><B>
Michaux var. <I>hispidus</I></B></B>
- E
<P>
<I>Ranunculus hispidus</I>
var. <I>eurylobus</I> L.&nbsp;D. Benson; <I>R</I>.&nbsp;<I>hispidus</I>
var. <I>falsus</I> Fernald; <I>R</I>.&nbsp;<I>hispidus</I> var.
<I>greenmanii</I> L.&nbsp;D. Benson; <I>R</I>.&nbsp;<I>hispidus</I>
var. <I>marilandicus</I> (Poiret) L.&nbsp;D. Benson
<P>
<B>Stems</B>
erect or nearly erect, never rooting at nodes.  <B>Flowers:</B>
sepals spreading or reflexed from base.  <B>Achene margin</B>
0.1-0.2&nbsp;mm broad.  2<I>n</I>&nbsp;=&nbsp;32.  
<P>
 Flowering late winter-fall (Mar-Oct).
 Dry woods, grasslands, roadbanks; 0-1200&nbsp;m; Ont.; Ala.,
Ark., Conn., Del., D.C., Ga., Ill., Ind., Kans., Ky., Md., Mass.,
Mich., Miss., Mo., N.J., N.Y., N.C., Ohio, Okla., Pa., S.C., Tenn.,
Vt., Va., W.Va.<BR>

<P>
<B>