58. <A NAME="27100812"></A><I><B>Ranunculus pusillus</B></I><B>
Poiret in J.&nbsp;Lamarck et al</B></B>.,
Encycl. 6: 99.  1804 - E F
<P>
<I>Ranunculus oblongifolius</I>
Elliott; <I>R</I>.&nbsp;<I>pusillus</I> var. <I>angustifolius</I>
(Engelmann ex Engelmann &amp; A.&nbsp;Gray) L.&nbsp;D.&nbsp;Benson;
<I>R</I>.&nbsp;<I>tener</I> C.&nbsp;Mohr
<P>
<B>Stems</B>
erect or ascending, rooting at most proximal nodes, glabrous.
 <B>Roots</B> not thickened basally, glabrous.  <B>Proximal cauline
leaf blades</B> ovate or lanceolate, 1.2-4.2&nbsp;&#215; 0.5-1.2&nbsp;cm,
base acute to truncate, margins entire or denticulate, apex acuminate
to rounded.  <B>Inflorescences:</B> bracts linear to lanceolate
or oblanceolate.  <B>Flowers:</B> receptacle glabrous; sepals
4-5, spreading or reflexed from base, 1.5-3&nbsp;&#215; 1-1.5&nbsp;mm,
glabrous or sparsely hirsute; petals 1-3, 1.5-2&nbsp;&#215; 0.5-1&nbsp;mm;
nectary scales glabrous.  <B>Heads of achenes</B> hemispheric
to cylindric, 2-8&nbsp;&#215; 2-3&nbsp;mm; achenes 1-1.2&nbsp;&#215;
0.6-0.8&nbsp;mm, &#177;&nbsp;tuberculate, glabrous; beak absent
or nearly so, to 0.1&nbsp;mm.
<P>
 Flowering spring (Apr-Jun).  Ditches,
ponds, and swamps; 0-300&nbsp;m; Ala., Ark., Calif., Del., D.C.,
Fla., Ga., Ill., Ind., Ky., La., Md., Miss., Mo., N.J., N.Y.,
N.C., Ohio, Okla., Pa., S.C., Tenn., Tex., Va., W.Va.
<P>
 In most specimens of <I>Ranunculus
pusillus</I>, the heads of achenes are hemispheric to short-ovate
and only 2-3&nbsp;mm.  Occasional plants with cylindric heads
of achenes 4-6&nbsp;mm from the Gulf Coast states have been called
<I>R</I>.&nbsp;<I>pusillus</I> var. <I>angustifolius</I>. <BR>

<P>
<B>