40. <A NAME="27100747"></A><I><B>Ranunculus cardiophyllus</B></I><B>
Hooker</B></B>, Fl. Bor.-Amer.
1: 14.  1829 - Renoncule p&eacute;datifide - E F
<P>
<I>Ranunculus cardiophyllus</I>
var. <I>coloradensis</I> L. D. Benson; <I>R</I>. <I>cardiophyllus</I>
var. <I>subsagittatus</I> (A. Gray) L. D. Benson; <I>R</I>. <I>pedatifidus</I>
J. E. Smith var. <I>cardiophyllus</I> (Hooker) Britton 
<P>
<B>Stems</B>
erect, 11-53 cm, pilose or glabrous, each with 1-5 flowers.
 <B>Roots</B> cylindric, 1.3-2 mm thick.  <B>Basal leaves</B>
persistent, blades ovate or elliptic, undivided or innermost 3-5-parted,
2.2-6.9 &#215; 1.8-4.5 cm, base cordate to broadly obtuse,
margins crenate with more than 5 crenae, apex rounded to broadly
acute.  <B>Flowers:</B> pedicels pilose;  receptacle canescent;
sepals 5-8 &#215; 3-7 mm, abaxially pilose, hairs colorless;
petals (0-)5-10, 6-13 &#215; 4-13 mm; nectary scale
ciliate or sometimes glabrous.  <B>Heads of achenes</B> ovoid
or cylindric, 5-16 &#215; 5-9 mm; achenes 1.8-2.2 &#215;
1.5-2 mm, finely canescent; beak subulate, curved or straight,
0.6-1.2 mm.  2<I>n</I> = 32.  
<P>
 Flowering spring-summer (May-Sep).
 Wet or dry meadows; 600-3400 m; Alta., B.C., Sask.; Ariz.,
Colo., Mont., N.Mex., N.Dak., S.Dak., Utah, Wash., Wyo. 
<P>
 <I>Ranunculus cardiophyllus</I> is
quite variable.  Through most of its range, leaves always have
rounded marginal crenae and cordate or truncate bases, stems are
often densely pilose (but may be sparsely pilose or glabrous),
and achene beaks are curved.  In plants from Arizona and New Mexico,
however, leaves may have obtuse marginal crenae or broadly obtuse
bases, stems are never densely pilose, and achene beaks are sometimes
straight.  Forms showing some or all of these charactersistics
are often separated as <I>R</I>. <I>cardiophyllus</I> var.
<I>subsagittatus</I>.  The characteristics are poorly correlated,
however, and taxonomic recognition is not warranted. 
<P>
 Most specimens of <I>Ranunculus cardiophyllus</I>
have all of the basal leaves unlobed, but plants with the innermost
basal leaf 3-5-lobed are common.  A few specimens, mostly from
the northern part of its range, have all of the basal leaves 5-parted
or -divided.  Those plants approach <I>R</I>. <I>pedatifidus</I>
in their morphology, and <I>R</I>. <I>cardiophyllus</I> has
sometimes been considered a variety of that species. <BR>

<P>
<B>