73b. <A NAME="27103180"></A><I><B>Ranunculus aquatilis</B></I><B>
Linnaeus var. <I>diffusus</I> Withering</B></B>,
Arr. Brit. Pl. ed. 3, 2: 507.  1796 - W1
<P>
<I>Batrachium circinatum</I>
(Sibthorp) Spach subsp. <I>subrigidum</I> (W. B. Drew) A. L&ouml;ve
&amp; D. L&ouml;ve; <I>B</I>. <I>flaccidum</I> (Persoon)
Ruprecht; <I>B</I>. <I>longirostris</I> (Godron) F. W.
Schultz; <I>B</I>. <I>trichophyllum</I> (Chaix) Bosch; <I>B</I>. <I>trichophyllum</I>
subsp. <I>lutulentum</I> (Perrier &amp; Songeon) Janchen ex V. V.
Petrovsky; <I>Ranunculus aquatilis</I> var. <I>calvescens</I>
(W. B. Drew) L. D. Benson; <I>R</I>. <I>aquatilis</I>
var. <I>capillaceus</I> (Thuillier) de Candolle; <I>R</I>. <I>aquatilis</I>
var. <I>eradicatus</I> Laestadius; <I>R</I>. <I>aquatilis</I>
var. <I>harrisii</I> L. D. Benson; <I>R</I>. <I>aquatilis</I>
var. <I>longirostris</I> (Godron) Lawson; <I>R</I>. <I>aquatilis</I>
var. <I>porteri</I> (Britton) L. D. Benson; <I>R</I>. <I>aquatilis</I>
var. <I>subrigidus</I> (W. B. Drew) Breitung; <I>R</I>. <I>circinatus</I>
Sibthorp var. <I>subrigidus</I> (W. B. Drew) L. D. Benson;
<I>R</I>. <I>confervoides</I> (Fries) Fries; <I>R</I>. <I>longirostris</I>
Godron; <I>R</I>. <I>subrigidus</I> W. B. Drew; <I>R</I>. <I>trichophyllus</I>
(Chaix) Bosch; <I>R</I>. <I>trichophyllus</I> var. <I>calvescens</I>
W. B. Drew; <I>R</I>. <I>trichophllus</I> var. <I>eradicatus</I>
(Laestadius) W. B. Drew; <I>R</I>. <I>trichophyllus</I>
subsp. <I>lutulentus</I> (Perrier &amp; Songeon) Vierhapper
<P>
<B>Leaves</B>
all filiform-dissected.  <B>Achenes</B> 1-1.8 &#215; 0.8-1.2 mm;
beak 0.2-1.2 mm.  2<I>n</I> = 16, 32, 48.  
<P>
 Flowering spring-summer (Apr-Sep).
 Ponds, lakes, streams, ditches, edges of rivers; 0-3200 m;
Greenland; Alta., B.C., Man., N.B., Nfld., N.W.T., N.S., Ont.,
P.E.I., Que., Sask., Yukon; Ala., Alaska, Ariz., Ark., Calif.,
Colo., Conn., Del., Idaho, Ill., Ind., Iowa, Kans., Ky., Maine,
Md., Mass., Mich., Minn., Mo., Mont., Nebr., Nev., N.H., N.Mex.,
N.J., N.Y., N.C., N.Dak., Ohio, Okla., Oreg., Pa., R.I., S.C.,
S.Dak., Tenn., Tex., Utah, Vt., Va., Wash., W.Va., Wis., Wyo.;
Mexico; Eurasia; Australia.
<P>
 Populations of <I>Ranunculus aquatilis</I>
var. <I>diffusus</I> with long achene beaks are not known from
the Old World.  In North America, beak length varies continuously
over the whole range given for the variety, and separation of
plants with unusually long beaks as <I>R</I>. <I>longirostris</I>
is not tenable.  <I>Ranunculus aquatilis</I> var. <I>diffusus</I>
shows geographic variation, and some regional forms have been
recognized as separate varieties.  Dwarf creeping arctic plants
may be called <I>R</I>. <I>aquatilis</I> var. <I>eradicatum</I>,
plants with sparsely pubescent or glabrous receptacle from eastern
North America may be called <I>R</I>. <I>aquatilis</I> var.
<I>calvescens</I>, plants with linear, noncapillary leaf segments
from the northern Great Basin may be called <I>R</I>. <I>aquatilis</I>
var. <I>porteri</I>, and very robust plants from Oregon and northernmost
California may be called <I>R</I>. <I>aquatilis</I> var.
<I>harrisii</I>.  Extreme forms of these races are recognizable,
but they intergrade and many specimens cannot be confidently assigned
to one or another of them. 
<P>
 The Eurasian species <I>Ranunculus
circinatus</I> Sibthorp has been reported from North America.
 These reports are based on specimens of <I>R</I>. <I>aquatilis</I>
var. <I>diffusus</I>.<BR>

