2a. <A NAME="27101659"></A><I><B>Ranunculus recurvatus</B></I><B>
Poiret var. <I>recurvatus</I></B></B>
-&nbsp;E
<P>
<I>Ranunculus recurvatus</I>
var. <I>adpressipilis</I> Weatherby
<P>
<B>Stems</B>
erect, never rooting nodally, hirsute, base bulbous, cormlike.
 <B>Roots</B> never tuberous.  <B>Basal leaf blades</B> broadly
cordate in outline, 3-cleft or -parted, 2-7.5&nbsp;&#215; 3-11.6&nbsp;cm,
segments undivided or shallowly 1-2-cleft, ultimate segments rhombic,
margins crenate-toothed, apex acute or obtuse.  <B>Flowers:</B>
receptacle hispid; sepals reflexed from near base, 3-6&nbsp;&#215;
1.5-2.5&nbsp;mm, pilose; petals 5, yellow, 3-5 &#215; 1-2&nbsp;mm.
 <B>Heads of achenes</B> globose, 5-6&nbsp;mm wide; achenes 1.6-2.2&nbsp;&#215;
1.4-1.8&nbsp;mm, glabrous, margin forming narrow rib 0.1-0.2&nbsp;mm
wide; beak persistent, lanceolate, curved, hooked, 1-1.4&nbsp;mm.
 2<I>n</I>&nbsp;=&nbsp;32.  
<P>
 Flowering spring (Apr-Jun).  Mesic
woods, stream banks, and swamps; 0-1200&nbsp;m; N.B., Nfld., N.S.,
Ont., P.E.I., Que.; Ala., Ark., Conn., Del., D.C., Fla., Ga.,
Ill., Ind., Iowa, Kans., Ky., La., Maine, Md., Mass., Mich., Minn.,
Miss., Mo., Nebr., N.H., N.J., N.Y., N.C., N.Dak., Ohio, Okla.,
Pa., R.I., S.C., Tenn., Tex., Vt., Va., W.Va., Wis.
<P>
 The Cherokee used <I>Ranunculus recurvatus</I>
var. <I>recurvatus</I> as a sedative, a dermatological aid, and
an oral aid; the Iroquois, as a laxative, a venereal aid, and
a toothache remedy (D.&nbsp;E. Moerman 1986).<BR>

<P>
<B>