2h. <A NAME="50076416"></A><I><B>Ranunculus</B></I><B> Linnaeus
subg. <I>Ficaria</I> (Schaeffer) L.&nbsp;D. Benson, Amer. J.&nbsp;Bot.
27: 807.  1940</B></B>
<P>
<I>Ficaria</I>
Schaeffer, Bot. Exped., 156-157.  1760
<P>
<B>Plants</B>
glabrous.  <B>Stems</B> erect or decumbent, not bulbous-based,
sometimes producing axillary bulbils.  <B>Roots</B> basal, some
tuberous.  <B>Leaves</B> basal and cauline, simple, petiolate;
basal and cauline leaf blades similar, undivided, margins entire
or crenulate.  <B>Inflorescences</B> terminal, solitary flowers.
 <B>Flowers:</B> sepals deciduous soon after anthesis, 3; petals
7-10, yellow; nectary scale attached on 3 sides, forming pocket,
glabrous, free margin entire; style absent.  <B>Fruits</B> achenes,
1-locular; achene body ellipsoid, about as wide as thick, not
prolonged beyond seed; wall thick, smooth; margin low narrow ridge;
beak absent.  
<P>
 Species 5 (1 in the flora): North America,
Pacific Islands, Australia, Eurasia and n&nbsp;Africa.<BR>

<P>
<B>