2d. <A NAME="50076411"></A><I><B>Ranunculus</B></I><B> Linnaeus
subg. <I>Oxygraphis</I> (Bunge) L.&nbsp;D. Benson, Amer. J.&nbsp;Bot.
27: 806.  1940 </B></B>
<P>
<I>Oxygraphis</I>
Bunge, Verz. Altai Pfl., 46.  1836
<P>
<B>Plants</B>
glabrous.  <B>Stems</B> erect from short caudices or rhizomes,
stolons absent, not bulbous-based, without bulbils.  <B>Roots</B>
from rhizome only, never tuberous.  <B>Leaves</B> all basal, simple,
petiolate; blades undivided, unlobed, margins entire or serrulate.
 <B>Inflorescences</B> terminal, solitary flowers.  <B>Flowers:</B>
sepals persistent in fruit, 5; petals 9-18, yellow, 7-12&nbsp;mm;
nectary scale attached basally, forming low ridge not covering
nectary, glabrous, free margin entire; style present.  <B>Fruits</B>
achenes, 1-locular; achene body ellipsoid, about as wide as thick,
not prolonged beyond seed; wall membranous, loose and &#177;&nbsp;inflated,
with 1-2 longitudinal veins on each face; margin narrow ridge;
beak 0.8-1.4&nbsp;mm, shorter than achene body.  
<P>
 Species 5 (1 in the flora): North America,
Asia. <BR>

<P>
<B>