3. <A NAME="27100204"></A><I><B>Ranunculus pensylvanicus</B></I><B>
Linnaeus f</B></B>., Suppl. Pl.,
272.  1782 - Renoncule de Pennsylvanie - E F
<P>
<B>Stems</B>
erect, never rooting nodally, hispid, base not bulbous.  <B>Roots</B>
never tuberous.  <B>Basal leaf blades</B> broadly cordate in outline,
3-foliolate, 1.6-7&nbsp;&#215; 3-9&nbsp;cm, leaflets cleft, usually
deeply so, ultimate segments narrowly elliptic, margins toothed,
apex acute.  <B>Flowers:</B> receptacle hirsute; sepals reflexed
ca. 1&nbsp;mm above base, 3-5&nbsp;&#215; 1.5-2&nbsp;mm, &#177;&nbsp;hispid;
petals 5, yellow, 2-4&nbsp;&#215; 1-2.5&nbsp;mm.  <B>Heads of
achenes</B> cylindric, 9-12&nbsp;&#215; 5-7&nbsp;mm; achenes 1.8-2.8&nbsp;&#215;
1.6-2&nbsp;mm, glabrous, margin forming narrow rib 0.1-0.2&nbsp;mm
wide; beak persistent, broadly lanceolate or nearly deltate, straight
or nearly so, 0.6-0.8&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;16. 
<P>
 Flowering late spring-summer (Jun-Aug).
 Stream banks, bogs, moist clearings, depressions in woodlands;
0-1700&nbsp;m; Alta., B.C., Man., N.B., Nfld., N.W.T., N.S., Ont.,
P.E.I., Que., Sask.; Alaska, Ariz., Colo., Conn., Del., D.C.,
Idaho, Ill., Ind., Iowa, Maine, Md., Mass., Mich., Minn., Mont.,
Nebr., N.H., N.J., N.Mex., N.Y., N.Dak., Ohio, Pa., R.I., S.Dak.,
Vt., Wash., W.Va., Wis., Wyo. 
<P>
 Ojibwa tribes used <I>Ranunculus pensylvanicus</I>
as a hunting medicine; the Potawatomi used it as an astringent
for miscellaneous diseases (D. E. Moerman 1986).<BR>

<P>
<B>