39. <A NAME="27100737"></A><I><B>Ranunculus arizonicus</B></I><B>
Lemmon ex A. Gray</B></B>,
Proc. Amer. Acad. Arts 21: 370.  1886 
<P>
Varieties 2 (1 in the flora): North
America; Mexico. <BR>

<P>
<B>