50a. <A NAME="27101519"></A><I><B>Ranunculus alismifolius</B></I><B>
Geyer ex Bentham var. <I>alismifolius</I></B></B>
- E
<P>
<B>Stems</B>
20-70&nbsp;cm &#215; 3.5-8&nbsp;mm, glabrous.  <B>Roots</B> not
or scarcely fusiform-thickened proximally.  <B>Leaves:</B> petiole
glabrous.  <B>Leaf blade</B> lanceolate, 5.8-14.1&nbsp;&#215;
1.2-2.9&nbsp;cm, base acuminate or sometimes acute, margins serrulate.
 <B>Flowers:</B> petals 4-6, 7-11&nbsp;&#215; 4-8&nbsp;mm.
<P>
 Flowering spring (Apr-Jun).  Wet meadows,
bogs, shallow water of streams and ponds; 0-1700&nbsp;m; B.C.;
Calif., Idaho, Mont., Oreg., Wash. <BR>

<P>
<B>