17b. <A NAME="27100457"></A><I><B>Ranunculus hispidus</B></I><B>
Michaux var. <I>caricetorum</I> (Greene) T.&nbsp;Duncan</B></B>,
Univ. Calif. Publ. Bot. 77: 40.  1980 - E
<P>
<I>Ranunculus caricetorum</I>
Greene, Pittonia  5: 194. 1903; <I>R</I>. <I>septentrionalis</I>
Poiret var. <I>caricetorum</I> (Greene) Fernald
<P>
<B>Stems</B>
decumbent, sometimes rooting at nodes.  <B>Flowers:</B> sepals
spreading or reflexed from base.  <B>Achene margin</B> 0.1-0.2&nbsp;mm
broad.  2<I>n</I>&nbsp;=&nbsp;64.  
<P>
 Flowering spring-summer (Apr-Aug).
 Swampy woods, marshes, stream banks, ditches; 0-600&nbsp;m; Man.,
N.B., Nfld., N.S., Ont., P.E.I., Que.; Conn., Ill., Ind., Iowa,
Maine, Mass., Mich., Minn., Mo., N.H., N.J., N.Y., N.Dak., Ohio,
Pa., R.I., S.Dak., Vt., Va., Wis.
<P>
 The name <I>Ranunculus septentrionalis</I>
Poiret has often been used for <I>R</I>.&nbsp;<I>hispidus</I>
var. <I>caricetorum</I>.  The type specimen, however, belongs
to var. <I>nitidus</I> (T.&nbsp;Duncan 1980). <BR>

<P>
<B>