25. <A NAME="27100774"></A><I><B>Ranunculus hebecarpus</B></I><B>
Hooker &amp; Arnott</B></B>,
Bot. Beechey Voy., 316.  1838 - F 
<P>
<B>Stems</B>
erect, pilose.  <B>Basal and lower cauline leaf blades</B> cordate-reniform,
deeply 3-parted, 0.6-2.3&nbsp;&#215; 1.2-3.5&nbsp;cm, segments
undivided or 2-4-lobed, base shallowly cordate, margins entire
or 2-4-dentate, apex of ultimate segments acute.  <B>Flowers</B>
pedicellate; receptacle glabrous; sepals 5, spreading, 1.1-1.8&nbsp;&#215;
0.5-1&nbsp;mm, pilose; petals 0-5, 1.3-2&nbsp;&#215; 0.3-0.7&nbsp;mm.
 <B>Heads of achenes</B> discoid, 4-6&nbsp;&#215; 3&nbsp;mm; achenes
4-9 per head, 1.7-2.3&nbsp;&#215; 1.7-2&nbsp;mm, faces and margin
papillose, each papilla crowned with hooked bristle, otherwise
glabrous; beak lanceolate, hooked distally, 0.5-0.7&nbsp;mm.
<P>
 Flowering spring (Mar-May).  Grasslands,
open woodlands, and chaparral; 50-900&nbsp;m; Calif., Idaho, Oreg.,
Wash.; Mexico (Baja California). 
<P>
 <I>Ranunculus hebecarpus</I> is native
to western North America.<BR>

<P>
<B>