2b.1. <A NAME="50076406"></A><I><B>Ranunculus</B></I><B>
Linnaeus (subg. <I>Cyrtorhyncha</I>) (Nuttall) A. Gray 
sect.  <I>Cyrtorhyncha</I></B></B>
<P>
<B>Plants</B>
glabrous.  <B>Stems</B> erect, not bulbous-based, without bulbils.
 <B>Roots</B> basal, never tuberous.  <B>Leaves</B> basal and
cauline; basal leaves petiolate, 2&#215;-compound, leaflets again
parted; cauline leaves sessile or nearly so, smaller, otherwise
similar.  <B>Inflorescences</B> 3-20-flowered, compound cymes.
 <B>Flowers</B> pedicellate; sepals deciduous soon after anthesis,
5; petals yellow, rarely absent; nectary scale rudimentary, attached
basally, forming ridge below nectary, glabrous, free margin entire;
style present.  <B>Fruits</B> achenes, 1-locular; achene body
cylindric, about as wide as thick, not prolonged beyond seed;
achene wall thin, papery, not loose, longitudinally striate; margin
an inconspicuous ridge similar to veins; beak much shorter than
achene body.  
<P>
 Species 1 (1 in the flora): North America
(Rocky Mountains). <BR>

<P>
<B>
