8a. <A NAME="27101855"></A><I><B>Ranunculus acriformis</B></I><B>
A.&nbsp;Gray var. <I>acriformis</I></B></B>
- E
<P>
<B>Stems</B>
strigose.  <B>Flowers:</B> receptacle spheric or cylindric; sepals
spreading or reflexed from base, pubescence of appressed hairs;
petals 7-9&nbsp;mm.  <B>Achenes:</B> beak 1-1.2&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;28.
 
<P>
 Flowering spring-summer (May-Jul).
 Wet meadows; 1800-2800&nbsp;m; Colo., Wyo.<BR>

<P>
<B>