54a. <A NAME="27101647"></A><I><B>Ranunculus flammula</B></I><B>
Linnaeus var. <I>flammula</I> </B></B>
<P>
<I>Ranunculus flammula</I>
var. <I>angustifolius</I> Wallroth 
<P>
<B>Stems</B>
erect to prostrate, 0.8-3&nbsp;mm thick.  <B>Leaf blades</B> lanceolate
to oblanceolate, 1.8-4.5&nbsp;&#215; 0.3-1&nbsp;cm.  <B>Flowers:</B>
sepals 3-4&nbsp;mm; petals 5-7&nbsp;&#215; 3-4&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;32.
 
<P>
 Flowering late spring-summer (Jun-Sep).
 Shallow water or muddy shores of ponds; 0-1000&nbsp;m; St. Pierre
and Miquelon; B.C., Nfld., N.S.; Calif., Idaho, Oreg., Wash.;
Eurasia.
<P>
 L.&nbsp;D. Benson (1948) reported <I>Ranunculus
flammula</I> var. <I>flammula</I> only from eastern Canada and
referred all material from the Pacific Slope to <I>Ranunculus
flammula</I> var. <I>ovalis</I>.  Benson's treatment is not tenable,
however, because some western collections are indistinguishable
from the eastern plants. <BR>

<P>
<B>