23. <A NAME="27100463"></A><I><B>Ranunculus marginatus</B></I><B>
d'Urville</B></B>, M&eacute;m.
Soc. Linn. Paris 1: 318.  1822 
<P>
<B>Stems</B>
erect, sparsely pilose.  <B>Basal leaf blades</B> reniform to
semicircular, undivided or shallowly 3-lobed, 2.5-5&nbsp;&#215;
3-7&nbsp;cm, base truncate to nearly cordate, margins crenate
or dentate, apex rounded or obtuse.  <B>Flowers</B> pedicellate;
receptacle hispid; sepals 5, reflexed 1 mm from base, 3-5&nbsp;&#215;
1-2&nbsp;mm, hispid; petals 5, 4-5&nbsp;&#215; 2-3.5&nbsp;mm.
 <B>Heads of achenes</B> hemispheric to globose, 4 &#215; 6&nbsp;mm;
achenes 15-20 per head, 2.5-3&nbsp;&#215; 2-2.5&nbsp;mm, faces
covered with high sharp tubercles or low spines, glabrous, margin
smooth; beak deltate, straight, 0.8-1&nbsp;mm.
<P>
 Flowering spring (Mar-May).  Roadsides;
0-100&nbsp;m; introduced; Ala., La., Tex.; native to Europe.
<P>
 A form of <I>Ranunculus marginatus</I>,
with the fruits weakly tuberculate or almost smooth, similar to
the smooth-fruited forms of <I>R</I>.&nbsp;<I>sardous</I>, is
found in Europe; it is not known from North America. <BR>

<P>
<B>