50b. <A NAME="27100728"></A><I><B>Ranunculus alismifolius</B></I><B>
Geyer ex Bentham var. <I>hartwegii</I> (Greene) Jepson</B></B>,
Fl. Calif. 1: 534.  1922 - E
<P>
<I>Ranunculus hartwegii</I>
Greene, Erythea 3: 45.  1895 
<P>
<B>Stems</B>
13-30&nbsp;cm &#215; 1-3&nbsp;mm, glabrous.  <B>Roots</B> not
or scarcely fusiform-thickened proximally.  <B>Leaves:</B> petiole
glabrous.  <B>Leaf blade</B> lanceolate (usually narrowly so),
3.4-9.5&nbsp;&#215; 0.8-1.5&nbsp;cm, base acute to acuminate (or
sometimes obtuse), margins entire.  <B>Flowers:</B> petals 5-6,
6-8&nbsp;&#215; 3-5&nbsp;mm.
<P>
 Flowering spring-summer (May-Aug).
 Meadows, open slopes and stream banks; 1400-2600&nbsp;m; Calif.,
Idaho, Nev., Oreg., Wash., Wyo. 
<P>
 This variety is poorly defined and
grades into several other varieties. <BR>

<P>
<B>