13a. <A NAME="27101526"></A><I><B>Ranunculus orthorhynchus</B></I><B>
Hooker var. <I>orthorhynchus</I></B></B>
- E
<P>
<I>Ranunculus orthorhynchus</I>
subsp. <I>alaschensis</I> (L.&nbsp;D. Benson) Hult&eacute;n; <I>R</I>.&nbsp;<I>orthorhynchus</I>
var. <I>alaschensis</I> L.&nbsp;D. Benson; <I>R</I>.&nbsp;<I>orthorhynchus</I>
var. <I>hallii</I> Jepson
<P>
<B>Basal leaf blades</B>
narrowly ovate to semicircular in outline, 3-5-foliolate, leaflets
1-2&#215;-lobed or -parted, segments elliptic to linear, margins
entire to dentate-lobulate, apex obtuse to narrowly acute.  <B>Flowers:</B>
petals abaxially red or yellow, 4-6&nbsp;mm broad, rounded.  <B>Heads
of achenes</B> hemispheric or sometimes globose, 5-7&nbsp;mm;
beak 3-3.8(-4.8)&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;32.  
<P>
 Flowering spring-summer (Apr-Jul).
 Meadows and marshy areas; 0-2100&nbsp;m; B.C.; Alaska, Calif.,
Oreg., Wash.<BR>

<P>
<B>