77. <A NAME="27100823"></A><I><B>Ranunculus testiculatus</B></I><B>
Crantz</B></B>, Stirp. Austr.
Fasc. 2: 97.  1763 - F W2
<P>
<I>Ceratocephalus orthoceras</I>
de Candolle; <I>C</I>. <I>testiculatus</I> (Crantz) Roth

<P>
<B>Stems</B>
erect or ascending, not rooting nodally, villous, not bulbous-based.
 <B>Tuberous roots</B> absent.  <B>Basal leaf blades</B> broadly
spatulate in outline, 1-2&#215;-dissected, 0.9-3.8 &#215;
0.5-1.5 cm, segments linear, margins entire, apex obtuse
to acuminate.  <B>Flowers:</B> receptacle glabrous; sepals spreading,
3-6 &#215; 1-2 mm, villous; petals yellow, 3-5 &#215;
1-3 mm.  <B>Heads of achenes</B> cylindric, 9-16(-27) &#215;
8-10 mm; achenes 1.6-2 &#215; 1.8-2 mm, tomentose;
beak persistent, lanceolate, 3.5-4.5 mm. 
<P>
 Flowering spring (Apr-May).  Disturbed
areas, especially in grassland; 400-2500 m; introduced; B.C.,
Sask.; Ariz., Calif., Colo., Idaho, Iowa, Kans., Minn., Mo., Mont.,
Nebr., Nev., N.Mex., N.Dak., Ohio, Oreg., S.Dak., Utah, Wash.,
Wyo.; native to Eurasia. 
<P>
 In North America, <I>Ranunculus testiculatus</I>
seems to be expanding its range rapidly in arid and semiarid areas.
 A second species of this subgenus, <I>R</I>. <I>falcatus</I>
Linnaeus [<I>Ceratocephala falcata</I> (Linnaeus) Persoon], has
been reported from North America, but all reports seem to be based
on misidentified material of <I>R</I>. <I>testiculatus</I>.

