44. <A NAME="27100465"></A><I><B>Ranunculus micranthus</B></I><B>
Nuttall in J. Torrey and A. Gray</B></B>,
Fl. N. Amer. 1: 18.  1838 - E W2
<P>
<I>Ranunculus micranthus</I>
var. <I>cymbalistes</I> (Greene) Fernald; <I>R</I>. <I>micranthus</I>
var. <I>delitescens</I> (Greene) Fernald 
<P>
<B>Stems</B>
erect, 11-40 cm, villous, each with 8-35 flowers.  <B>Roots</B>
dimorphic, some filiform, 0.2-0.6 mm thick and some with
tuberous bases 1-2 mm thick.  <B>Basal leaves</B> persistent,
blades ovate, orbiculate, or transversely elliptic, outer blades
undivided, inner 3-parted or 3-foliolate, 1-3.3 &#215; 1-3 cm,
base truncate to broadly obtuse or sometimes weakly cordate, margins
crenate, apex rounded-obtuse.  <B>Flowers:</B> pedicels glabrous
or villous; receptacle glabrous; sepals 2-4 &#215; 1-1.5 mm,
abaxially glabrous or pubescent, hairs colorless; petals 5, 1.5-3.5 &#215;
0.5-1.5 mm; nectary scale glabrous.  <B>Heads of achenes</B>
globose to cylindric, 3-7 &#215; 2-4 mm; achenes 1.1-1.5 &#215;
1-1.3 mm, glabrous; beak subulate, straight or curved, 0.2-0.3 mm.
 2<I>n</I> = 16.  
<P>
 Flowering spring (Mar-May).  Woods,
meadows, and clearings; 0-1000 m; Ala., Ark., Conn., D.C.,
Ill., Ind., Kans., Ky., Md., Mass., Miss., Mo., N.J., N.Y., N.C.,
Ohio, Okla., Pa., S.Dak., Tenn., Va., W.Va.<BR>

<P>
<B>