27. <A NAME="27100809"></A><I><B>Ranunculus platensis</B></I><B>
A.&nbsp;Sprengel in K.&nbsp;Sprengel</B></B>,
Syst. Veg. 5: 586.  1828 
<P>
<B>Stems</B>
decumbent, sparsely pilose.  <B>Basal and lower cauline leaf blades</B>
reniform, 3-parted, 0.8-1.7&nbsp;&#215; 1.2-2&nbsp;cm, segment
base cordate, margins dentate or lobulate, apex rounded-obtuse.
 <B>Flowers</B> sessile; receptacle glabrous or pilose; sepals
3, spreading, 1-2&nbsp;&#215; 0.5-1&nbsp;mm, hirsute; petals 3,
1-2&nbsp;&#215; 0.5-0.8&nbsp;mm.  <B>Heads of achenes</B> hemispheric,
2-2.5&nbsp;&#215; 3-3.5&nbsp;mm; achenes 10-15 per head, 1.3-1.7&nbsp;&#215;
1-1.3&nbsp;mm, faces and proximal margin finely papillate, each
papilla crowned with hooked bristle, otherwise glabrous; beak
semicircular to deltate, curved, 0.2-0.5&nbsp;mm. 
<P>
 Flowering winter-spring (Feb-Apr).
 Weed in disturbed areas, usually near coast; 0-200&nbsp;m; introduced;
Ala., Fla., Ga., La., Miss., N.C., Tex.; native to South America
(s&nbsp;Brazil, Uruguay, and Argentina).<BR>

