62. <A NAME="27100168"></A><I><B>Ranunculus gmelinii</B></I><B>
de Candolle</B></B>, Syst. Nat.
1: 303.  1817 - Renoncule de Gmelin
<P>
<I>Ranunculus gmelinii</I>
subsp. <I>purshii</I> (Richardson) Hult&eacute;n; <I>R</I>.&nbsp;<I>gmelinii</I>
var. <I>hookeri</I> (D.&nbsp;Don) L.&nbsp;D. Benson; <I>R</I>.&nbsp;<I>gmelinii</I>
var. <I>limosus</I> (Nuttall) H.&nbsp;Hara; <I>R</I>.&nbsp;<I>gmelinii</I>
var. <I>prolificus</I> (Fernald) H.&nbsp;Hara; <I>R</I>.&nbsp;<I>purshii</I>
Richardson
<P>
<B>Stems</B>
prostrate or sometimes floating, glabrous or hirsute, rooting
nodally.  <B>Leaves:</B> basal leaves absent, cauline leaf blades
reniform to circular, 3-parted, 0.6-6.5&nbsp;&#215; 1.1-9&nbsp;cm,
base cordate, segments again 1-3&#215;-lobed to -dissected, margins
entire or crenate, apex rounded to filiform.  <B>Flowers:</B>
receptacle sparsely hispid; sepals 4-5, spreading or reflexed
from base, 2-5&nbsp;&#215; 2-4&nbsp;mm, glabrous or sparsely pilose;
petals 4-14, 3-7&nbsp;&#215; 2-5&nbsp;mm; nectary scale variable,
crescent-shaped, funnel-shaped, or flaplike; style 0.2-0.4&nbsp;mm.
 <B>Heads of achenes</B> globose or ovoid, 3-8&nbsp;&#215; 3-7&nbsp;mm;
achenes 1-1.6&nbsp;&#215; 1-1.2&nbsp;mm, glabrous; beak narrowly
lanceolate or filiform, 0.4-0.8&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;16,
32, 64.  
<P>
 Flowering spring-summer (May-Sep).
 Shallow water or drying mud, wet meadows, swamps, marshes, ponds,
shores of rivers; 0-2800&nbsp;m; Alta., B.C., Man., N.B., Nfld.,
N.W.T., N.S., Ont., P.E.I., Que., Sask., Yukon; Alaska, Colo.,
Idaho, Ill., Iowa, Maine, Mich., Minn., Mont., Nev., N.Mex., N.Dak.,
Oreg., Utah, Wash., Wis., Wyo.; Eurasia. 
<P>
 <I>Ranunculus gmelinii</I> has been
divided into varieties on the basis of indument and flower size.
 These characters are variable and poorly correlated with one
another, however, and these varieties scarcely seem natural. 
<BR>

<P>
<B>