18. <A NAME="27100216"></A><I><B>Ranunculus repens</B></I><B>
Linnaeus</B></B>, Sp. Pl. 1:
554.  1753 - Renoncule rampante - W2
<P>
<I>Ranunculus repens</I>
var. <I>erectus</I> de Candolle; <I>R</I>.&nbsp;<I>repens</I>
var. <I>glabratus</I> de Candolle; <I>R</I>.&nbsp;<I>repens</I>
var. <I>linearilobus</I> de Candolle; <I>R</I>.&nbsp;<I>repens</I>
var. <I>pleniflorus</I> Fernald; <I>R</I>.&nbsp;<I>repens</I>
var. <I>villosus</I> Lamotte
<P>
<B>Stems</B>
decumbent or creeping, rooting nodally, hispid to strigose or
almost glabrous, base not bulbous.  <B>Roots</B> never tuberous.
 <B>Basal leaf blades</B> ovate to reniform in outline, 3-foliolate,
1-8.5&nbsp;&#215; 1.5-10&nbsp;cm, leaflets lobed, parted, or parted
and again lobed, ultimate segments obovate to elliptic or sometimes
narrowly oblong, margins toothed, apex obtuse to acuminate.  <B>Flowers:</B>
receptacle hispid or rarely glabrous; sepals spreading or reflexed
from base, 4-7(-10)&nbsp;&#215; 1.5-3(-4)&nbsp;mm, hispid or sometimes
glabrous; petals 5(-150), yellow, 6-18&nbsp;&#215; 5-12&nbsp;mm.
 <B>Heads of achenes</B> globose or ovoid, 5-10&nbsp;&#215; 5-8&nbsp;mm;
achenes 2.6-3.2&nbsp;&#215; 2-2.8&nbsp;mm, glabrous, margin forming
narrow rib 0.1-0.2&nbsp;mm wide; beak persistent, lanceolate to
lance-filiform, curved, 0.8-1.2&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;14,
32.  
<P>
 Flowering late winter-summer (Mar-Aug).
 Meadows, borders of marshes, lawns, roadsides; 0-2500&nbsp;m;
introduced; Greenland; St. Pierre and Miquelon; Alta., B.C., N.B.,
Nfld., N.S., Ont., P.E.I., Que., Yukon; Ala., Alaska, Ark., Calif.,
Conn., Del., D.C., Idaho, Ill., Ind., Iowa, Ky., Maine, Md., Mass.,
Mich., Minn., Mo., Mont., Nebr., Nev., N.H., N.J., N.Y., N.C.,
Ohio, Oreg., Pa., R.I., S.C., S.Dak., Tenn., Tex., Utah, Vt.,
Va., Wash., W.Va., Wis., Wyo.; Central America; South America;
native to Eurasia; Pacific Islands; Australia. 
<P>
 <I>Ranunculus repens</I> is widely
naturalized in many parts of the world.  Plants with sparse pubescence
have been called <I>R</I>.&nbsp;<I>repens</I> var. <I>glabratus</I>.
 Horticultural forms with the outer stamens transformed into numerous
extra petals occasionally become established and have been called
<I>R</I>.&nbsp;<I>repens</I> var. <I>pleniflorus</I>.  These variants
have no taxonomic significance.<BR>

<P>
<B>