76. <A NAME="27100161"></A><I><B>Ranunculus ficaria</B></I><B>
Linnaeus</B></B>, Sp. Pl. 1:
550.  1753 - Lesser celandine, pilewort, ficaire, renoncule ficaire
- F
<P>
<I>Ranunculus ficaria</I>
subsp. <I>bulbifer</I> Lambinon; <I>R</I>.&nbsp;<I>ficaria</I>
subsp. <I>calthifolius</I> (Reichenbach) Arcangeli; <I>R</I>.&nbsp;<I>ficaria</I>
var. <I>bulbifera</I> Albert
<P>
<B>Stems</B>
erect to decumbent, not rooting nodally, glabrous, not bulbous-based,
spheric or ellipsoid bulbils sometimes formed in leaf axils. 
<B>Tuberous roots</B> present.  <B>Basal leaves</B> simple and
undivided, blades cordate to deltate or semicircular, 1.8-3.7&nbsp;&#215;
2-4&nbsp;cm, base cordate, margins entire or crenate, apex rounded
or obtuse.  <B>Flowers:</B> receptacle glabrous; sepals spreading,
saccate at extreme base, 4-9&nbsp;&#215; 3-6&nbsp;mm, glabrous;
petals yellow, 10-15&nbsp;&#215; 3-7&nbsp;mm.  <B>Heads of achenes</B>
hemispheric, 4-5&nbsp;&#215; 6-8&nbsp;mm; achenes 2.6-2.8&nbsp;&#215;
1.8-2&nbsp;mm, pubescent; beak absent. 
<P>
 Flowering spring (Apr-May).  Shaded
stream banks and moist disturbed areas; 0-300&nbsp;m; introduced;
B.C., Nfld., Ont., Que.; Conn., D.C., Ill., Ky., Md., Mass., Mich.,
Mo., N.J., N.Y., Ohio, Oreg., Pa., R.I., Tenn., Va., Wash., W.Va.;
native to Europe. 
<P>
  In North America, <I>Ranunculus ficaria</I>
seems to be expanding its range rapidly in areas with cool mesic
climates. 
<P>
 The species is extremely variable (especially
in leaf size and stem posture), and many attempts have been made
to divide it into varieties or subspecies (see P.&nbsp;D. Sell
1994).  The different forms, however, intergrade extensively and
the varieties are often impossible to distinguish.<BR>

