67. <A NAME="27100781"></A><I><B>Ranunculus hystriculus</B></I><B>
A. Gray</B></B>, Proc. Amer.
Acad. Arts 7: 328.  1867 - E F
<P>
<I>Kumlienia hystriculus</I>
(A. Gray) Greene
<P>
<B>Stems</B>
erect from short caudices, not rooting nodally, glabrous, not
bulbous-based.  <B>Tuberous roots</B> absent.  <B>Leaves:</B>
basal leaf blades semicircular or reniform in outline, shallowly
5-7-lobed, 1.2-4.6 &#215; 1.8-6.6 cm, ultimate segments semicircular,
margins crenate, apex rounded or weakly apiculate; cauline leaves
0-2, scalelike.  <B>Flowers:</B> receptacle glabrous; sepals spreading,
white or pale yellow, 6-13 &#215; 3-6 mm, glabrous;
petals 8-12, greenish, 2-4 &#215; 0.6-1.6 mm.  <B>Heads
of achenes</B> ovoid, 6-7 &#215; 6-8 mm; achenes 3.8-4.2 &#215;
0.8-1 mm, canescent; beak persistent, filiform, 1.2-1.4 mm,
hooked distally. 
<P>
 Flowering winter-summer (Feb-Jul).
 Wet places near streams, especially around waterfalls; 300-2300 m;
Calif. 
<P>
 <I>Ranunculus hystriculus</I> is endemic
to the west slope of the Sierra Nevada. <BR>

