20. <A NAME="27100499"></A><I><B>Ranunculus sardous</B></I><B>
Crantz</B></B>, Stirp. Austr.
Fasc. 2: 84.  1763 - F W2
<P>
<I>Ranunculus parvulus</I>
Linnaeus
<P>
<B>Stems</B>
nearly erect, hispid, base not bulbous.  <B>Basal and lower cauline
leaf blades</B> ovate to cordate, 3-foliolate, 2-6&nbsp;&#215;
2-6&nbsp;cm, leaflets again parted, leaflet base truncate to acute,
margins crenate-dentate to crenate-lobulate, apex rounded to obtuse.
 <B>Flowers</B> pedicellate; receptacle pilose; sepals 5, reflexed,
3-8 &#215; 1.5-3&nbsp;mm, pilose; petals 5, 7-10 &#215; 4-8&nbsp;mm.
 <B>Heads of achenes</B> globose or ovoid, 5-8&nbsp;&#215; 6-7&nbsp;mm;
achenes 15-35 per head, 2-3&nbsp;&#215; 2-3&nbsp;mm, faces sparsely
papillate or sometimes smooth, glabrous, margin smooth; beak oblong
to deltate, curved, 0.4-0.7&nbsp;mm. 
<P>
 Flowering late winter-summer (Mar-Aug).
 Roadsides, fields, open woods; 0-200&nbsp;m; introduced; B.C.;
Ala., Ark., Calif., Fla., Ga., Ill., Kans., Ky., La., Md., Miss.,
Mo., N.J., N.Y., N.C., Okla., Oreg., Pa., R.I., S.C., Tenn., Tex.,
Va.; native to Europe; Pacific Islands; Australia. 
<P>
 <I>Ranunculus sardous</I> was collected
in New Brunswick and Ontario in the 1800s, but it apparently has
not persisted in those provinces.  <BR>

<P>
<B>