50f. <A NAME="27100730"></A><I><B>Ranunculus alismifolius</B></I><B>
Geyer ex Bentham var. <I>montanus</I> S.&nbsp;Watson</B></B>,
List Pl. Nevada Utah, 7.  1871 -&nbsp;E
<P>
<B>Stems</B>
15-40&nbsp;cm &#215; 2-7&nbsp;mm, glabrous.  <B>Roots</B> &#177;&nbsp;fusiform-thickened
proximally.  <B>Leaves:</B> petiole glabrous.  <B>Leaf blade</B>
lanceolate to narrowly ovate or elliptic, 2.4-9.7&nbsp;&#215;
0.9-2.2&nbsp;cm, base acute to rounded-obtuse, margins entire,
rarely serrulate.  <B>Flowers:</B> petals (5-)7-12, 5-9&nbsp;&#215;
2-3&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering spring-summer (May-Aug).
 Wet meadows or stream banks; 1800-3500&nbsp;m; Colo., Idaho,
Nev., Utah, Wyo.<BR>

<P>
<B>