41a. <A NAME="27100808"></A><I><B>Ranunculus pedatifidus</B></I><B>
Smith var. <I>affinis</I> (R. Brown) L. D. Benson</B></B>,
Amer. Midl. Naturalist 52: 355.  1954 - E
<P>
<I>Ranunculus affinis</I>
R. Brown, J. Voy. N.-W. Passage, Bot., 265.  1824; <I>R</I>. <I>eastwoodianus</I>
L. D. Benson; <I>R</I>. <I>pedatifidus</I> subsp. <I>affinis</I>
(R. Brown) Hult&eacute;n
<P>
<B>Stems</B>
erect, 6-33(-46) cm, pilose or glabrous, each with 1-7 flowers.
 <B>Roots</B> slender, 0.4-1.2 mm thick.  <B>Basal leaves</B>
persistent, blades cordate or reniform in outline, pedately (5-)7(-9)-parted
or -divided, 0.8-3.8 &#215; 1-4.8 cm, segments undivided
or again lobed or parted, base truncate to cordate, margins never
toothed, apices of segments acute.  <B>Flowers:</B> pedicels pilose;
receptacle canescent; sepals 4-6 &#215; 3-5 mm, abaxially
pilose, hairs colorless; petals (0-)5-10, 7-10 &#215; 5-9 mm;
nectary scale glabrous.  <B>Heads of achenes</B> cylindric, 7-15 &#215;
5-8 mm; achenes 1.8-2.4 &#215; 1.6-1.8 mm, finely
canescent or glabrous; beak lanceolate or subulate, curved, 0.5-1 mm.
 2<I>n</I> = 32, 48.  
<P>
 Flowering late spring-summer (Jun-Aug).
 Dry rocky places on open arctic and alpine slopes and shores,
moist grassland depressions, and open aspen woods; 0-3700 m;
Greenland; Alta., B.C., Man., Nfld., N.W.T., Ont., Que., Sask.,
Yukon; Alaska, Ariz., Colo., Mont., Utah, Wyo. 
<P>
 Specimens of <I>Ranunculus pedatifidus</I>
from southern Siberia, China, and central Asia, including the
type specimen, are relatively small and slender, with all the
main divisions of the leaf parted into narrow (1.5-2.5 mm
wide) segments.  American material, including the type of <I>R</I>. <I>affinis</I>,
is more robust; the main divisions of the leaf are mostly undivided,
and the ultimate segments are broader (2-4 mm).  L. D.
Benson (1954) referred all material from Asia and islands in the
Bering Sea to var. <I>pedatifidus</I>.  Other authors (P. N.
Ovchinnikov 1970; E. Hult&eacute;n 1968; A. I. Tolmatchew
1971), on the other hand, have limited typical <I>R</I>. <I>pedatifidus</I>
to material from temperate Asia and have included material from
northern Siberia in <I>R</I>. <I>pedatifidus</I> subsp. <I>affinis</I>.
 T. G. Tutin and J. R. Akeroyd (1993) included both
<I>R</I>. <I>pedatifidus</I> and <I>R</I>. <I>affinis</I>
in <I>Flora Europaea</I>, but, as noted below (under <I>R</I>. <I>auricomus</I>),
Tutin and Akeroyd's descriptions do not match the American plants.
 Further comparisons of American and Eurasian material are needed.
<P>
 Glabrous-fruited forms have been called
<I>Ranunculus pedatifidus</I> var. <I>leiocarpus</I> (Trautvetter)
Fernald; the variety was first described from Asia. <BR>

<P>
<B>