33. <A NAME="27100761"></A><I><B>Ranunculus gelidus</B></I><B>
Karelin &amp; Kirilov</B></B>,
Bull. Soc. Imp. Naturalistes Moscou 15: 133.  1842 
<P>
<I>Ranunculus gelidus</I>
subsp. <I>grayi</I> (Britton) Hult&eacute;n; <I>R</I>. <I>grayi</I>
Britton; <I>R</I>. <I>verecundus</I> B. L. Robinson
ex Piper 
<P>
<B>Stems</B>
erect or decumbent from short caudices, 3-22 cm, glabrous,
each with 1-5 flowers.  <B>Roots</B> slender, 0.5-1 mm thick.
 <B>Basal leaves</B> persistent, blades cordate or reniform, 3-parted,
0.5-1.8 &#215; 0.8-3 cm, segments again lobed, base
truncate or nearly cordate, apices of segments rounded.  <B>Flowers:</B>
pedicels pubescent or glabrous; receptacle glabrous or pubescent;
sepals 3-5 &#215; 1-4 mm, pubescent or glabrous; petals
5, 3-6 &#215; 1-5 mm; nectary scale glabrous.  <B>Heads of
achenes</B> cylindric to ovoid-cylindric, 4-13 &#215; 4-6 mm;
achenes 1.2-2.4 &#215; 0.8-2 mm, glabrous; beak subulate,
curved or hooked, 0.4-0.8 mm.  2<I>n</I> = 16.
 
<P>
 Flowering late spring-summer (Jun-Aug).
 Open arctic and alpine slopes; 0-4000 m; Alta., B.C., N.W.T.,
Yukon; Alaska, Colo., Idaho, Mont., Oreg., Utah, Wash., Wyo.;
Asia. 
<P>
 Plants with small achenes are often
separated as <I>Ranunculus verecundus</I>.  Achene size varies
continuously over the range given, however, and it is not correlated
with the minor shape difference mentioned by L. D. Benson
(1948). <BR>

<P>
<B>