74. <A NAME="27100201"></A><I><B>Ranunculus pallasii</B></I><B>
Schlechtendal</B></B>, Animadv.
Bot. Ranunc. Cand. 1: 15.  1819 - Renoncule de Pallas - F
<P>
<B>Stems</B>
creeping or floating, rooting nodally, glabrous, not bulbous-based.
 <B>Tuberous roots</B> absent.  <B>Basal leaf blades</B> linear
to obovate, undivided or 3-lobed, 1.5-3.6&nbsp;&#215; 0.3-2&nbsp;cm,
lobes lanceolate or elliptic, margins entire, apex rounded to
acuminate.  <B>Flowers:</B> receptacle glabrous; sepals spreading,
6-10&nbsp;&#215; 4-7&nbsp;mm, glabrous; petals 7-11, white or
pink, 8-13&nbsp;&#215; 3-6&nbsp;mm.  <B>Heads of achenes</B> globose
or hemispheric, 5-12&nbsp;&#215; 9-15&nbsp;mm; achenes 4.2-5.2&nbsp;&#215;
2.4-3.2&nbsp;mm, glabrous; beak persistent, lanceolate, straight
or curved, 1-1.2&nbsp;mm.   2<I>n</I>&nbsp;=&nbsp;32.  
<P>
 Flowering summer (Jul-Aug).  Shallow
water of bogs and pools in muskeg and tundra; 0-700&nbsp;m; Man.,
Nfld., N.W.T., Ont., Que., Yukon; Alaska; Eurasia.<BR>

