48. <A NAME="27103163"></A><I><B>Ranunculus triternatus</B></I><B>
A. Gray</B></B>, Proc. Amer.
Acad. Arts 21: 370.  1886 - C E
<P>
<I>Ranunculus glaberrimus</I>
Hooker var. <I>reconditus</I> L. D. Benson
<P>
<B>Stems</B>
prostrate or ascending, 5-20 cm, glabrous, each with 1-6
flowers.  <B>Roots</B> cylindric, 2-3 mm thick.  <B>Basal
leaves</B> persistent, blades rhombic to deltate or reniform in
outline, 3-4&#215;-dissected, 1.1-3.4 &#215; 2-3.1 cm,
segments linear, base obtuse, margins crenate, apices of segments
narrowly rounded.  <B>Flowers:</B> pedicels glabrous; receptacle
short-pubescent; sepals 4-8 &#215; 2-5 mm, abaxially
glabrous or nearly so; petals 5, 6-15 &#215; 4-10 mm;
nectary scale glabrous.  <B>Heads of achenes</B> depressed-globose,
4-6 &#215; 5-8 mm; achenes 1.8-2.2 &#215; 1.2-1.8 mm,
finely pubescent; beak subulate, straight, 0.8-1.5 mm.  
<P>
 Flowering spring (Apr-May).  Grassland
or sagebrush; of conservation concern; 900-1700 m; Idaho,
Nev., Oreg., Wash.
<P>
 C. L. Hitchcock et al. (1955-1969,
vol. 2) considered the name <I>Ranunculus triternatus</I> A. Gray
to be an illegitemate homonym and used the illegitimate (superfluous)
name <I>R</I>. <I>reconditus</I> A. Nelson &amp; J. F.
Macbride for this species.  The name <I>Ranunculus triternatus</I>
Poiret was not validly published (not accepted by Poiret) and
does not invalidate <I>R</I>. <I>triternatus</I> A. Gray.
<BR>

<P>
<B>