68. <A NAME="27100167"></A><I><B>Ranunculus glacialis</B></I><B>
Linnaeus</B></B>, Sp. Pl. 1:
553.  1753
<P>
<I>Beckwithia glacialis</I>
(Linnaeus) A.&nbsp;L&ouml;ve &amp; D.&nbsp;L&ouml;ve 
<P>
<B>Stems</B>
erect or ascending from caudices, not rooting nodally, distally
glabrous or brown-pilose, not bulbous-based.  <B>Tuberous roots</B>
absent.  <B>Basal leaf blades</B> reniform to broadly triangular
in outline, 3-foliolate or deeply 3-parted, 1-4&nbsp;&#215; 1.6-4.4&nbsp;cm,
leaflets or segments 1-2&#215;-parted, ultimate segments elliptic
to oblanceolate or almost linear, margins entire or occasionally
with 1-2 teeth, apex rounded to obtuse.  <B>Flowers:</B> receptacle
glabrous or brown-pilose; sepals spreading, 7-12&nbsp;&#215; 4-9&nbsp;mm,
brown-pilose; petals initially white, usually becoming red with
age, 9-15&nbsp;&#215; 7-14(-18)&nbsp;mm.  <B>Fruiting heads</B>
hemispheric, 5-8&nbsp;&#215; 7-16&nbsp;mm; fruit wall smooth,
not veined, loose but not inflated, winged along suture, fruits
winged achenes; achenes 2.6-3&nbsp;&#215; 1.4-2&nbsp;mm, glabrous;
beak persistent, lanceolate, 0.8-2.3&nbsp;mm. 
<P>
 Varieties 2 (2 in the flora): North
America; Eurasia. <BR>

<P>
<B>