2b.3. <A NAME="50076408"></A><I><B>Ranunculus</B></I><B>
Linnaeus (subg. <I>Cyrtorhyncha</I>) (Nuttall) A. Gray sect.
<I>Arcteranthis</I> (Greene) L. D. Benson, Amer. J. Bot.
23: 174.  1936</B></B>
<P>
<I>Arcteranthis</I>
Greene, Pittonia 3: 190.  1897 
<P>
<B>Plants</B>
glabrous.  <B>Stems</B> erect, not bulbous-based, without bulbils.
 <B>Roots</B> basal, never tuberous.  <B>Leaves</B> all basal
or sometimes with single, scalelike, cauline leaf; basal leaves
petiolate, blades 3-5-parted, segments again lobed and crenate;
cauline leaf (when present) petiolate or sessile, blade small,
palmately or pedately 3-9-lobed. <B>Inflorescences</B> terminal,
solitary flowers.  <B>Flowers:</B> sepals deciduous soon after
anthesis, 5; petals yellow, showy; nectary scale a crescentic
ridge surrounding nectary, glabrous, free margin entire; style
present.  <B>Fruits</B> achenes, 1-locular; achene body cylindric,
1.4-2 times as wide as thick, not prolonged beyond seed; wall
thin, papery, loose, compressed, at maturity forming narrow ventral
wing, longitudinally veined; margin an inconspicuous ridge similar
to veins; beak 1-1.8 mm, much shorter than achene body. 

<P>
 Species 1 (1 in the flora): nw North
America. <BR>

<P>
<B>