13c. <A NAME="27100483"></A><I><B>Ranunculus orthorhynchus</B></I><B>
Hooker var. <I>bloomeri</I> (S.&nbsp;Watson) L.&nbsp;D. Benson</B></B>,
Amer. Midl. Naturalist 40: 101.  1948 - E
<P>
<I>Ranunculus bloomeri</I>
S.&nbsp;Watson, Bot. California 2: 426.  1880
<P>
<B>Basal leaf blades</B>
cordate to oblong or circular in outline, simple and undivided
or 3-foliolate, if compound the leaflets undivided, margins crenate,
apices rounded to obtuse or occasionally acute.  <B>Flowers:</B>
petals abaxially yellow, 6-9&nbsp;mm broad, retuse.  <B>Heads
of achenes</B> hemispheric to ovoid, 7-9&nbsp;mm; beak 1.8-2.2&nbsp;mm.
 2<I>n</I>&nbsp;=&nbsp;32.  
<P>
 Flowering late winter-spring (Mar-May).
 Meadows and marshy areas; 0-1500&nbsp;m; Calif., Oreg.
<P>
 <I>Ranunculus orthorhynchus</I> var.
<I>bloomeri</I> is disjunct between the Coast Ranges of west-central
California and south-central Oregon.<BR>

<P>
<B>