55. <A NAME="27100779"></A><I><B>Ranunculus hydrocharoides</B></I><B>
A. Gray</B></B>, Mem. Amer. Acad.
Arts, ser. 2, 5: 306.  1855 
<P>
<I>Ranunculus hydrocharoides</I>
var. <I>stolonifer</I> (Hemsley) L.&nbsp;D. Benson
<P>
<B>Stems</B>
erect to prostrate, usually rooting nodally, glabrous or strigose.
 <B>Roots</B> not thickened basally, glabrous.  <B>Proximal cauline
leaf blades</B> ovate to broadly ovate, 0.8-2.7&nbsp;&#215; 0.8-1.9&nbsp;cm,
base rounded to weakly cordate, margins entire or dentate, apex
rounded or obtuse.  <B>Inflorescences:</B> bracts lanceolate to
oblanceolate or sometimes ovate.  <B>Flowers:</B> receptacle glabrous;
sepals 5, spreading or reflexed from base, 1.5-3&nbsp;&#215; 1-2&nbsp;mm,
glabrous; petals 5-6, 3-5&nbsp;&#215; 1-2&nbsp;mm; nectary scales
glabrous.  <B>Heads of achenes</B> hemispheric or globose, 2-4&nbsp;&#215;
3-4&nbsp;mm; achenes 1.2-1.4&nbsp;&#215; 1-1.2&nbsp;mm, glabrous;
beak lanceolate to lance-filiform, straight or curved, 0.4-1&nbsp;mm.
<P>
 Flowering late spring-summer (Jun-Aug).
 Wet soil or shallow water, in marshes and edges of streams and
lakes; 2000-2900&nbsp;m; Ariz., Calif., N.Mex.; Mexico; Central
America (in Guatemala). <BR>

<P>
<B>