13. <A NAME="27100482"></A><I><B>Ranunculus orthorhynchus</B></I><B>
Hooker</B></B>, Fl. Bor.-Amer.
1: 21.  1829 - E W1
<P>
<B>Stems</B>
nearly erect or decumbent, never rooting nodally, hispid, strigose,
or glabrous, base not bulbous.  <B>Roots</B> sometimes fleshy
and &#177;&nbsp;tuberous.  <B>Basal leaf blades</B> narrowly ovate
to oblong or semicircular in outline, simple to 3-5-lobed or -foliolate,
2.8-12.5&nbsp;&#215; 2.5-14&nbsp;cm, leaflets or segments undivided
or 1-2&#215;-lobed or -parted, ultimate segments circular to linear,
margins dentate, crenate, or entire, apex rounded to narrowly
acute.  <B>Flowers:</B> receptacle hispid; sepals reflexed 1-2&nbsp;mm
above base, 5-11&nbsp;&#215; 2-4&nbsp;mm, hispid, hirsute, or
glabrous; petals 5-6, abaxially yellow or red, adaxially yellow,
8-18&nbsp;&#215; 4-11&nbsp;mm.  <B>Heads of achenes</B> hemispheric
to ovoid, 5-13&nbsp;&#215; 6-10&nbsp;mm; achenes 2.8-4.5&nbsp;&#215;
1.8-3.2&nbsp;mm, glabrous, margin forming narrow rib 0.1-0.2&nbsp;mm
wide; beak persistent, narrowly lanceolate to subulate, straight,
1.8-3.8(-4.8)&nbsp;mm. 
<P>
 Varieties 3: w North America.
<P>
 The first two varieties (<I>Ranunculus
orthorhynchus</I> var. <I>orthorhynchus</I> and <I>R</I>.&nbsp;<I>orthorhynchus</I>
var. <I>platyphyllus</I>) are rather weak, intergrading extensively
in California and Oregon.  By contrast, <I>R</I>.&nbsp;<I>orthorhynchus</I>
var. <I>bloomeri</I> often grows with the others with little or
no intergradation (although intermediate populations are found
in some areas), and it has been treated as a distinct species,
<I>R</I>.&nbsp;<I>bloomeri</I>, by many taxonomists. <BR>

<P>
<B>