61b. <A NAME="27100819"></A><I><B>Ranunculus sceleratus</B></I><B>
Linnaeus var. <I>multifidus</I> Nuttall in J.&nbsp;Torrey &amp;
A.&nbsp;Gray</B></B>, Fl. N.
Amer. 1: 19.  1838 -&nbsp;E
<P>
<I>Ranunculus sceleratus</I>
subsp. <I>multifidus</I> (Nuttall) Hult&eacute;n 
<P>
<B>Leaf blades</B>
always parted (often deeply so), segments lobed or parted, margins
deeply crenate or lobulate.  <B>Achene</B> faces smooth.  2<I>n</I>&nbsp;=&nbsp;64.
 
<P>
 Flowering spring-summer (Mar-Sep).
 Wet ground or shallow water, in bogs and ponds, on shores of
lakes and rivers; 0-2600&nbsp;m; Alta., B.C., Man., N.W.T., Ont.,
Que., Sask., Yukon; Alaska, Ariz., Calif., Colo., Idaho, Iowa,
Minn., Mont., Nebr., Nev., N.Mex., N.Dak., Oreg., S.Dak., Utah,
Wash., Wyo.
<P>
 Reports of <I>Ranunculus sceleratus</I>
var. <I>multifidus</I> for eastern Quebec and New Brunswick are
errors for <I>R</I>.&nbsp;<I>sceleratus</I> var. <I>sceleratus</I>.
<BR>

<P>
<B>