57. <A NAME="27100785"></A><I><B>Ranunculus laxicaulis</B></I><B>
Darby</B></B>, Man. Bot. 2: 4.
 1841 -&nbsp;E
<P>
<I>Ranunculus mississippiensis</I>
Small; <I>R</I>.&nbsp;<I>subcordatus</I> E.&nbsp;O. Beal; <I>R</I>.
<I>texensis</I> Engelmann ex Engelmann &amp; A.&nbsp;Gray
<P>
<B>Stems</B>
erect or ascending, often rooting at proximal nodes, glabrous
or sparsely pilose.  <B>Roots</B> not thickened basally, glabrous.
 <B>Proximal cauline leaf blades</B> ovate to lanceolate or narrowly
elliptic, 1.5-5.7&nbsp;&#215; 0.4-2.4&nbsp;cm, base cordate to
acute, margins finely denticulate or entire, apex broadly rounded
to acuminate.  <B>Inflorescences:</B> bracts linear to lanceolate
or oblanceolate.  <B>Flowers:</B> receptacle glabrous; sepals
4-5, spreading or reflexed from base, 2-3&nbsp;&#215; 1.5-3&nbsp;mm,
glabrous or pubescent; petals 4-6, 2-6&nbsp;&#215; 1-2&nbsp;mm;
nectary scales glabrous.  <B>Heads of achenes</B> hemispheric
to ovoid, 2-4&nbsp;&#215; 2-3&nbsp;mm; achenes 0.8-1&nbsp;&#215;
0.8&nbsp;mm, glabrous; beak deciduous, leaving stump 0.1-0.2&nbsp;mm.
<P>
 Flowering late winter-summer (Mar-Jul).
 Around ponds and ditches, in meadows, roadsides, and open woods;
0-100&nbsp;m; Ala., Ark., Del., Ga., Ill., Ind., Kans., Ky., La.,
Md., Miss., Mo., N.J., N.C., Okla., S.C., Tenn., Tex., Va.<BR>

<P>
<B>