2a.1. <A NAME="27100144"></A><I><B>Ranunculus</B></I><B>
Linnaeus (subg. <I>Ranunculus</I>) sect. <I>Echinella</I> de Candolle,
Prodr. 1: 41.  1824 </B></B>
<P>
<B>Plants</B>
pubescent or glabrous.  <B>Stems</B> erect or decumbent, not bulbous-based,
without bulbils.  <B>Roots</B> basal, never tuberous.  <B>Leaves</B>
basal and cauline or sometimes only cauline; basal and lower cauline
leaves similar, petiolate, blades undivided, lobed, or compound,
segments lobed or unlobed, margins entire or dentate.  <B>Inflorescences</B>
2-16-flowered cymes (cymes sometimes sympodial, then flowers seemingly
inserted opposite bracts).  <B>Flowers</B> pedicellate (sessile
in <I>R</I>.&nbsp;<I>platensis</I>); sepals deciduous soon after
anthesis, 5 (3 in <I>R</I>.&nbsp;<I>platensis</I>); petals yellow
(sometimes absent in <I>R</I>.&nbsp;<I>hebecarpus</I>); nectary
scale attached basally, free from petal for at least 1/2 its length,
forming flap covering nectary, glabrous, free margin entire; style
present.  <B>Fruits</B> achenes, 1-locular; achene body discoid,
strongly flattened, 3-7 times as wide as thick, not prolonged
beyond seed; wall thick, spiny, tuberculate, or papillose (sometimes
smooth in <I>R</I>.&nbsp;<I>sardous</I>); margin low or high,
broad or narrow ridge; beak much shorter than achene body.  
<P>
 Species ca. 15 (8 in the flora): worldwide
except lowland tropics.<BR>

<P>
<B>