34. <A NAME="27100210"></A><I><B>Ranunculus pygmaeus</B></I><B>
Wahlenberg</B></B>, Fl. Lapp.,
157.  1812 
<P>
<I>Ranunculus pygmaeus</I>
var. <I>langeana</I> Nathorst
<P>
<B>Stems</B>
erect or ascending from short caudices, 0.6-3.5 cm (sometimes
longer in fruit), each with 1-2 flowers.  <B>Roots</B> slender,
0.1-0.6 mm thick.  <B>Basal leaves</B> persistent, blades
reniform to transversely elliptic or semicircular, 3-parted or
-divided, 0.45-0.9 &#215; 0.6-1.3 cm, at least lateral
segments again lobed, base truncate or nearly cordate, margins
entire, apex rounded to obtuse.  <B>Flowers:</B> pedicels glabrous
or pubescent; receptacle glabrous; sepals 2-4 &#215; 1.2-1.6 mm,
abaxially sparsely hairy, hairs colorless; petals 5, 1.2-3.5 &#215;
1.1-2.8 mm; nectary scale glabrous.  <B>Heads of achenes</B>
nearly globose to cylindric, 2.5-7 &#215; 2.5-5 mm;
achenes 1-1.2 &#215; 0.8-1.1 mm, glabrous; beak subulate,
straight or curved, 0.3-0.7 mm.  2<I>n</I> = 16.
 
<P>
 Flowering summer (Jul-Sep).  Arctic
and alpine meadows and slopes, usually around persistent snow
patches; 0-4000 m; Greenland; Alta., B.C., Nfld., N.W.T.,
Que., Yukon; Alaska, Colo., Idaho, Mont., Utah, Wyo.; Europe (Spitsbergen).
<P>
 <I>Ranunculus pygmaeus</I> var. <I>langeana</I>
has been described as having deeply divided basal leaves and strongly
elongate heads of achenes (at least 5 mm).  These characteristics
are not well correlated with one another, however, and the variety
does not seem natural.<BR>

<P>
<B>