66. <A NAME="27100751"></A><I><B>Ranunculus cooleyae</B></I><B>
Vasey &amp; Rose ex Rose</B></B>,
Contr. U.S. Natl. Herb. 1: 289.  1894 - E F
<P>
<I>Arcteranthis cooleyae</I>
(Vasey &amp; Rose ex Rose) Greene; <I>Kumlienia cooleyae</I> (Vasey
&amp; Rose ex Rose) Greene 
<P>
<B>Stems</B>
erect from short caudices, not rooting nodally, glabrous, not
bulbous-based.  <B>Tuberous roots</B> absent.  <B>Basal leaf blades</B>
circular to reniform in outline, 3-5-parted, 0.8-3.8 &#215;
1.7-6.9 cm, segments again lobed, ultimate segments elliptic
or oblong, margins crenate, apex rounded; cauline leaf 0-1, scalelike.
 <B>Flowers:</B> receptacle glabrous; sepals spreading, yellow,
7-11 &#215; 4-7 mm, glabrous; petals 11-15, yellow,
8-12 &#215; 3-5 mm.  <B>Heads of achenes</B> hemispheric
or spheric, 7-8 &#215; 9-10 mm; achenes 2.4-4.6 &#215;
1.2-2.2 mm, glabrous; beak persistent, filiform, hooked distally,
1-1.8 mm.   2<I>n</I> = 16.  
<P>
 Flowering late spring-summer (Jun-Aug).
 Slopes near persistent snowbanks; 500-1800 m; B.C.; Alaska,
Wash. <BR>

