

<P>
<B>15. RANUNCULACEAE  Jussieu</B>
<B>- Crowfoot Family</B>
<P>
<B>Herbs, sometimes woody or herbaceous
climbers or low shrubs</B>, perennial
or annual, often rhizomatous.  <B>Stems</B> unarmed.  <B>Leaves</B>
usually basal and cauline, alternate or sometimes opposite, rarely
whorled, simple or variously compound; stipules present or absent;
petioles usually present, often proximally sheathing.  <B>Leaf
blade</B> undivided or more commonly divided or compound, base
cordate, sometimes truncate or cuneate, margins entire, toothed,
or incised; venation pinnate or palmate.  <B>Inflorescences</B>
terminal or axillary, racemes, cymes, umbels, panicles, or spikes,
or flowers solitary, flowers pedicellate or sessile.  <B>Flowers</B>
bisexual, sometimes unisexual, inconspicuous or showy, radially
or bilaterally symmetric; sepaloid bracteoles absent; perianth
hypogynous; sepals usually imbricate, 3-6(-20), distinct, often
petaloid and colored, occasionally spurred; petals 0-26, distinct
(connate in <I>Consolida</I>), plane, cup-shaped, funnel-shaped,
or spurred, conspicuous or greatly reduced; nectary usually present,
rarely absent; stamens 5-many, distinct; anthers dehiscing longitudinally;
staminodes absent (except in <I>Aquilegia</I> and <I>Clematis</I>);
pistils 1-many; styles present or absent, often persistent in
fruit as beak.  <B>Fruits</B> achenes, follicles, or rarely utricles,
capsules, or berries, often aggregated into globose to cylindric
heads.  <B>Seeds</B> 1-many per ovary, never stalked, not arillate;
endosperm abundant; embryo usually small.
<P>
 Genera ca. 60, species 1700 (22 genera,
284 species in the flora): worldwide. 
<P>
 The flowers of many species of Ranunculaceae
begin to open long before anthesis, while the floral organs are
just partly expanded.  Only mature flowers with open anthers should
be used for determination of diagnostic characteristics (especially
measurements).
<P>
 The literature is inconsistent about
the term for the whorl of organs between sepals and stamens; these
may be conspicuous and petaloid, or reduced to stalked nectaries,
or intermediate between the two states.  They have been called
petals, honey-leaves, or (when they are inconspicuous) staminodes
or nectaries.  We follow M.&nbsp;Tamura (1993) and treat as petals
all organs between the sepals and stamens, except in <I>Clematis</I>
and <I>Aquilegia</I> where they usually bear rudimentary anthers
and clearly represent staminodes.
<P>
<B>SELECTED REFERENCES   </B>
<P>
Brayshaw, T.&nbsp;C.  1989.  Buttercups,
Waterlilies, and Their Relatives (the Order Ranales) in British
Columbia.  Victoria.  [Roy. Brit. Columbia Mus. Mem. 1.]   Duncan,&nbsp;T.
and C.&nbsp;S. Keener.  1991.  A classification of the Ranunculaceae
with special reference to the Western Hemisphere.  Phytologia
70: 24-27.   Tamura,&nbsp;M.  1963.  Morphology, ecology and phylogeny
of the Ranunculaceae I.  Sci. Rep. Coll. Gen. Educ. Osaka Univ.
11: 115-126.   Tamura,&nbsp;M.  1993.  Ranunculaceae.  In: K.&nbsp;Kubitzki
et al., eds.  1990+.  The Families and Genera of Vascular Plants.
 2+ vols.  Berlin etc.  Vol. 2, pp. 563-583.   Ziman, S.&nbsp;N.
and C.&nbsp;S. Keener.  1989.  A geographical analysis of the
family Ranunculaceae.  Ann. Missouri Bot. Gard. 76: 1012-1049.
