29. <A NAME="27100232"></A><I><B>Ranunculus sulphureus</B></I><B>
Solander in C. J. Phipps</B></B>,
Voy. North Pole, 202.  1774 - Renoncule soufr&eacute;e
<P>
<I>Ranunculus sulphureus</I>
var. <I>intercedens</I> Hult&eacute;n
<P>
<B>Stems</B>
erect from short caudices, 3-20 cm, sparsely pilose to glabrous,
each with 1-3 flowers.  <B>Roots</B> slender, 0.4-1 mm thick.
 <B>Basal leaves</B> persistent, blades transversely elliptic
to orbiculate, 1-3 &#215; 1-3 cm, base obtuse to nearly
truncate, margins crenate or else blades shallowly 3-lobed with
crenate lateral lobes, apex rounded or rounded-apiculate.  <B>Flowers:</B>
pedicels sparsely brown-pilose; receptacle brown-pilose; sepals
6-8 &#215; 3-6 mm, abaxially densely brown-hispid; petals
5(-6), 8-12 &#215; 6-10 mm; nectary scale glabrous.
 <B>Heads of achenes</B> ovoid-cylindric or ovoid, 6-7(-9) &#215;
5-6 mm; achenes 1.8-2.2 &#215; 1.4-1.8 mm, glabrous
or sparsely brown-hispid; beak slender, straight or curved, 0.8-1.4 mm.
 2<I>n</I> = 42, ca. 80, ca. 84, 96, ca. 98.  
<P>
 Flowering late spring-summer (Jun-Sep).
 Meadows and seepy slopes, often around late snowbeds, bogs, and
streamsides; 0-1100 m; Greenland; B.C., Nfld., N.W.T., Que.,
Yukon; Alaska; Eurasia.
<P>
 Material of <I>Ranunculus sulphureus</I>
from the Aleutian Islands has 3-lobed leaves similar to those
of <I>R</I>. <I>nivalis</I>.  These plants are sometimes
separated as <I>R</I>. <I>sulphureus</I> var. <I>intercedens</I>.
<BR>

<P>
<B>