38. <A NAME="27100218"></A><I><B>Ranunculus rhomboideus</B></I><B>
Goldie</B></B>, Edinburgh J.
Sci. 6: 329.  1822 - E
<P>
<B>Stems</B>
erect, 5-22 cm, pilose or occasionally glabrous, each with
3-12 flowers.  <B>Roots</B> slender, 0.8-1.8 mm thick.  <B>Basal
leaves</B> persistent, blades ovate to rhombic, undivided or rarely
innermost 3-parted, 1.1-5.3 &#215; 0.9-3.6 cm, base
obtuse, margins crenate with 5 crenae, apex rounded.  <B>Flowers:</B>
pedicels pilose; receptacle pilose; sepals 4-6 &#215; 1.5-3 mm,
abaxially pilose, hairs colorless; petals 5, 6-8 &#215; 2-4 mm;
nectary scale glabrous.  <B>Heads of achenes</B> depressed-globose,
4-6 &#215; 5-7 mm; achenes 1.8-2.2 &#215; 1.2-1.8 mm,
glabrous; beak slender, curved, 0.2-0.3 mm.  2<I>n</I> = 16.
 
<P>
 Flowering spring (Apr-Jun).  Prairies,
or occasionally open woods or thickets; 0-900 m; Alta., B.C.,
Man., N.W.T., Ont., Sask.; Ill., Iowa, Mich., Minn., Mont., Nebr.,
N.Dak., S.Dak., Wis. 
<P>
 In addition to the range given above,
L. D. Benson (1948) cited nineteenth-century specimens from
Quebec, New York, Massachusetts, and Rhode Island.  No modern
specimens have been seen from those areas.<BR>

<P>
<B>