14. <A NAME="27103145"></A><I><B>Ranunculus fasciculatus</B></I><B>
Sess&eacute; &amp; Mo&ccedil;i&ntilde;o</B></B>,
Fl. Mexic. ed. 2, 134.  1894 
<P>
<I>Ranunculus macranthus</I>
var. <I>arsenei</I> L.&nbsp;D. Benson; <I>R</I>.&nbsp;<I>petiolaris</I>
Humboldt, Bonpland, &amp; Kunth ex de Candolle var. <I>arsenei</I>
(L.&nbsp;D. Benson) T.&nbsp;Duncan 
<P>
<B>Stems</B>
erect or decumbent, not rooting nodally, hirsute to nearly glabrous,
base not bulbous.  <B>Roots</B> fleshy and somewhat tuberous.
 <B>Basal leaf blades</B> ovate to deltate in outline, 3(-5)-foliolate,
2.5-14.9&nbsp;&#215; 2.3-19.9&nbsp;cm, leaflets 1-2&#215;-lobed
or -parted, ultimate segments narrowly oblong to elliptic or lanceolate,
margins toothed, apex narrowly acute to rounded-acute.  <B>Flowers:</B>
receptacle hispid; sepals reflexed 1-2&nbsp;mm above base, 5-10&nbsp;&#215;
3-5&nbsp;mm, hispid; petals 11-16, yellow, 8-21&nbsp;&#215; 2-5&nbsp;mm.
 <B>Heads of achenes</B> globose to ovoid, 6-13&nbsp;&#215; 7-9&nbsp;mm;
achenes 2.4-3.4&nbsp;&#215; 2-2.4&nbsp;mm, glabrous, margin forming
rib or narrow wing 0.1-0.4&nbsp;mm wide; beak filiform from deltate
base, straight, 1.8-2.5&nbsp;mm, filiform tip often deciduous,
leaving 1-1.2&nbsp;mm deltate beak.
<P>
 Flowering late spring-summer (Jun-Aug).
 Stream banks, lakeshores, and marshes; 1000-2200&nbsp;m; Ariz.,
Tex.; Mexico.
<P>
 I am following G.&nbsp;L.&nbsp;Nesom
(1993) in treating <I>Ranunculus fasciculatus</I> as a distinct
species.  This taxon was considered a variety of <I>R</I>.&nbsp;<I>macranthus</I>
by L.&nbsp;D. Benson (1948) and a variety of <I>R</I>.&nbsp;<I>petiolaris</I>
by T.&nbsp;Duncan (1980).  These disparate opinions result from
different interpretations of Mexican members of the <I>R</I>.&nbsp;<I>petiolaris</I>
group.<BR>

<P>
<B>