9c. <A NAME="27100795"></A><I><B>Ranunculus occidentalis</B></I><B>
Nuttall var. <I>dissectus</I> L.&nbsp;F. Henderson</B></B>,
Rhodora 32: 25.  1930 - E
<P>
<B>Stems</B>
erect to spreading, 1-3&nbsp;mm thick, hirsute or sometimes glabrous.
 <B>Basal leaf blades</B> 3-parted or sometimes 3-foliolate, ultimate
segments lanceolate or oblanceolate, margins entire or sparsely
dentate.  <B>Flowers:</B> sepals 5, 4-6&nbsp;mm; petals 5-6, 6-10&nbsp;&#215;
3-6&nbsp;mm.  <B>Achenes</B> 2.6-3.6&nbsp;&#215; 2-2.8&nbsp;mm,
glabrous; beak lance-subulate, straight, 1.2-2.2&nbsp;mm.
<P>
 Flowering spring-summer (May-Jul).
 Wet to dry meadows; 1000-1800&nbsp;m; Calif., Oreg. 
<P>
 <I>Ranunculus occidentalis</I> var.
<I>dissectus</I> is found in the Great Basin, Klamath region,
and southern Cascade Mountains.  As noted below, it is very similar
to var. <I>howellii</I>. <BR>

<P>
<B>