22. <A NAME="27100194"></A><I><B>Ranunculus muricatus</B></I><B>
Linnaeus</B></B>, Sp. Pl. 1:
555.  1753 - W2
<P>
<B>Stems</B>
reclining or erect, glabrous or sparsely pilose.  <B>Basal and
lower cauline leaf blades</B> broadly cordate to reniform or semicircular,
undivided or 3-lobed, 2-5&nbsp;&#215; 3-6.5&nbsp;cm, base rounded
to cordate, margins coarsely crenate, apex rounded.  <B>Flowers</B>
pedicellate; receptacle hispid; sepals 5, reflexed, 4-7&nbsp;&#215;
2-3&nbsp;mm, sparsely bristly; petals 5, 4-8&nbsp;&#215; 2-4.5&nbsp;mm.
 <B>Heads of achenes</B> globose, 13-16&nbsp;&#215; 13-16&nbsp;mm;
achenes 10-20 per head, 5-5.5&nbsp;&#215; 3-3.5&nbsp;mm, faces
covered with long spines, glabrous, margin smooth; beak lanceolate,
curved, 2-2.5&nbsp;mm.
<P>
 Flowering spring (Mar-Jun).  Fields
and roadsides; 0-2000&nbsp;m; introduced; Ala., Ark., Calif.,
Fla., Ga., La., Miss., N.C., Oreg., S.C., Tex., Wash.; South America;
native to Eurasia; Africa; Pacific Islands; Australia.<BR>

<P>
<B>