36. <A NAME="27100732"></A><I><B>Ranunculus allenii</B></I><B>
B. L. Robinson</B></B>, Rhodora
7: 220.  1905 - Renoncule d'Allen - E
<P>
<B>Stems</B>
erect or ascending, 5-19 cm, sparsely pilose, each with 1-4
flowers.  <B>Roots</B> slender, 0.2-0.8 mm thick.  <B>Basal
leaves</B> persistent, blades reniform or semicircular, undivided
or some 3-parted, 1.4-2.1 &#215; 1.7-2.8 cm, base cordate
or truncate, margins crenate with more than 5 crenae, apex rounded.
 <B>Flowers:</B> pedicels pilose, sometimes sparsely so; receptacle
hispid; sepals 4-6 &#215; 2-3 mm, abaxially pilose,
hairs colorless; petals 5, 4-5 &#215; 2-4 mm; nectary
scale glabrous.  <B>Heads of achenes</B> ovoid to cylindric, 4-7 &#215;
4-6 mm; achenes 1.6-1.8 &#215; 1.2-1.4 mm, glabrous;
beak lance-subulate, curved, 0.4-0.6 mm.  2<I>n</I> = 32.
 
<P>
 Flowering summer (Jul-Aug).  Wet alpine
meadows, often around late snowbeds, shores of lakes and streams;
700-1300 m; Nfld., N.W.T., Quebec.<BR>

<P>
<B>