37. <A NAME="27100178"></A><I><B>Ranunculus inamoenus</B></I><B>
Greene</B></B>, Pittonia 3: 91.
 1896 - E
<P>
<B>Stems</B>
erect, 5-33 cm, pilose or glabrous, each with 3-7 flowers.
 <B>Roots</B> slender, 0.6-1.2 mm thick.  <B>Basal leaves</B>
persistent, blades ovate, obovate or orbiculate, rarely reniform,
undivided or innermost with 2 clefts or partings near apex, 1-3.7 &#215;
1.1-3.5 cm, base acute to rounded, margins entire, apex rounded.
 <B>Flowers:</B> pedicels appressed-pubescent; receptacle pilose
or glabrous; sepals 3-5 &#215; 2-3 mm, abaxially pilose,
hairs colorless; petals 5, 4-9 &#215; 2-5 mm; nectary
scale glabrous.  <B>Heads of achenes</B> cylindric, 7-17 &#215;
5-8 mm; achenes 1.5-2 &#215; 1.3-1.8 mm, canescent
or glabrous; beak subulate, straight or hooked, 0.4-2 mm.
<P>
 The Navaho-Ramah considered <I>Ranunculus
inamoenus</I> to be an effective hunting medicine, used to protect
hunters from their prey (D. E. Moerman 1986).
<P>
 Varieties 2 (2 in the flora): w North
America. <BR>
<BR>

<P>
<B>