30. <A NAME="27100788"></A><I><B>Ranunculus macauleyi</B></I><B>
A. Gray</B></B>, Proc. Amer.
Acad. Arts 15: 45.  1879 - E F
<P>
<B>Stems</B>
erect from short caudices, 6-15 cm, glabrous or sometimes
pilose, each with 1-2 flowers.  <B>Roots</B> slender, 0.7-1.3 mm
thick.  <B>Basal leaves</B> persistent, blades narrowly elliptic
to lanceolate or oblanceolate, undivided, 1.5-4.5 &#215;
0.5-1.1(-2.8) cm, base acute or long-attenuate, margins entire
except for apex, apex truncate or rounded and 3(-5)-toothed. 
<B>Flowers:</B> pedicels glabrous or brown-pilose; receptacle
glabrous; sepals 6-12 &#215; 2.5-8 mm, abaxially densely
brown-pilose; petals 5(-8), 10-19 &#215; 6-17 mm; nectary
scale glabrous.  <B>Heads of achenes</B> ovoid or cylindric, 5-10 &#215;
4-5.5 mm; achenes 1.5-1.7 &#215; 1.2-1.3 mm, glabrous;
beak slender, straight or recurved, 0.5-1.5(-2.2) mm.
<P>
 Flowering late spring-summer (Jun-Aug).
 Sunny open soil of alpine meadows and slopes; 3300-3700 m;
Colo., N.Mex.
<P>
 The type specimen of <I>Ranunculus
macauleyi</I> var. <I>brandegeei</I> L. D. Benson, from the
Sangre de Cristo Mountains, Colorado, differs from typical <I>R</I>. <I>macauleyi</I>
in its tall stem, broad, crenate-laciniate leaves, and sepals
with pale or transparent hairs.  These characteristics are suggestive
of <I>R</I>. <I>inamoenus</I>, and the plant may be of hybrid
ancestry. <BR>

<P>
<B>