39a. <A NAME="27103156"></A><I><B>Ranunculus arizonicus</B></I><B>
Lemmon ex A. Gray var. <I>arizonicus</I> </B></B>
<P>
<B>Stems</B>
erect, 14-38 cm, sparsely pilose, each with 2-12 flowers.
 <B>Roots</B> cylindric, 1-2.5 mm thick.  <B>Basal leaves</B>
deciduous, all (except sometimes innermost) shed before anthesis,
leaving dense brush of fibers, blades semicircular to reniform,
outer leaves undivided, inner 5-7-parted, 3.2-4 &#215; 4-6.2 cm,
base obtuse to cordate, margins entire or toothed, apices of segments
acute to rounded.  <B>Flowers:</B> pedicels pubescent or glabrous;
receptacle canescent; sepals 3-5 &#215; 1-3 mm, abaxially
glabrous or sparsely pilose, hairs colorless; petals 5(-11), 7-15 &#215;
2-6 mm; nectary scale ciliate.  <B>Heads of achenes</B> ovoid
or cylindric, 4-10 &#215; 4-6 mm; achenes 1.8-2.5 &#215;
1.5-2 mm, finely and densely canescent; beak subulate, straight,
0.8-1.2 mm, brittle and often broken. 
<P>
 Flowering summer (Jul-Sep).  Stream
banks; 1500-2400 m; Ariz., N.Mex.; Mexico (Sonora, Chihuahua,
and Durango). <BR>

<P>
<B>