42. <A NAME="27100141"></A><I><B>Ranunculus auricomus</B></I><B>
Linnaeus</B></B>, Sp. Pl. 1:
551.  1753 
<P>
<I>Ranunculus auricomus</I>
subsp. <I>boecheri</I> Fagerstr&ouml;m &amp; G. Kvist; <I>R</I>. <I>auricomus</I>
subsp. <I>glabratus</I> (Lynge) Fagerstr&ouml;m &amp; G. Kvist;
<I>R</I>. <I>auricomus</I> subsp. <I>hartzii</I> Fagerstr&ouml;m
&amp; G. Kvist; <I>R</I>. <I>auricomus</I> var. <I>glabratus</I>
Lynge
<P>
<B>Stems</B>
erect or ascending, 12-30 cm, glabrous, each with 1-4 flowers.
 <B>Roots</B> filiform, 0.2-0.6 mm thick.  <B>Basal leaves</B>
persistent, blades reniform, 3-parted, 1.2-2.8 &#215; 1.6-4.6 cm,
segments again lobed or parted, base cordate, margins toothed,
apices of segments rounded in outline.  <B>Flowers:</B> pedicels
appressed-pubescent; receptacle finely canescent; sepals 4-7 &#215;
2.5-4 mm, abaxially sparsely pilose, hairs colorless; petals
5, 6-10(-15) &#215; 5-9 mm; nectary scale glabrous.  <B>Heads
of achenes</B> globose to short-ovoid, 5-8 &#215; 5-6 mm;
achenes 2-2.2 &#215; 1.8-2 mm, glabrous or sparsely
and finely canescent distally; beak lanceolate, weakly to strongly
curved, 1.2-2 mm.  2<I>n</I> = 16.  
<P>
 Flowering summer (Jul-Aug).  Moist
arctic shrubland or herbland; 100-500 m; Greenland; Eurasia.

<P>
 <I>Ranunculus auricomus</I> is predominantly
apomictic, with irregular meiosis.  Different European races may
show a variety of characteristics not found in Greenland material
(pilose stems, undivided, crenate-dentate leaves, densely canescent
achenes, and glabrous receptacles).  T. W. B&ouml;cher et
al. (1968) recognized three distinct races from Greenland, distinguished
by minor differences in stature and branching of the plants, width
of cauline leaf segments, and indument of achenes.  Those races,
which were evidently based on very few collections, were named
as subspecies by L. Fagerstr&ouml;m and G. Kvist (1983).
 More ample material collected during the 1980s does not support
the Fagerstr&ouml;m and Kvist classification.  Except for stature
and branching, which both depend on the general vigor of the plants,
these characteristics are poorly correlated with one another and
with geographic place of collection.  Cauline leaf segments sometimes
vary in width within a single collection, and achenes of the Ymer
Island collection that they referred to <I>R</I>. <I>auricomus</I>
subsp. <I>glabratus</I> are sparsely canescent, not glabrous as
stated.  These observations, together with the uniformity of indument,
leaf shape, and receptacle and achene morphology in the Greenland
populations, suggest that they are best considered a single race
within the variable apomictic complex comprising <I>R</I>. <I>auricomus</I>
in the broad sense.
<P>
 T. G. Tutin and J. R. Akeroyd
(1993) treated <I>Ranunculus auricomus</I> var. <I>glabratus</I>
as a synonym of <I>R</I>. <I>affinis</I> (= <I>R</I>. <I>pedatifidus</I>
var. <I>affinis</I>; see above).  The characteristics in that
key and description (leaves palmately 3-5-lobed, achenes in globose
heads) do not match American material of <I>R</I>. <I>pedatifidus</I>
var. <I>affinis</I>.
<P>
<B>SELECTED REFERENCE   </B>
<P>
L. Fagerstr&ouml;m and G. Kvist.
 1983.  Vier neue arktische und subarktische <I>Ranunculus auricomus</I>-Sippen.
 Ann. Bot. Fenn. 20: 237-243.<BR>

<P>
<B>