43a. <A NAME="27103162"></A><I><B>Ranunculus harveyi</B></I><B>
(A. Gray) Britton var. <I>harveyi</I></B></B>
- E 
<P>
<B>Stems</B>
erect, 12-40 cm, glabrous or sparsely pilose, each with 3-20
flowers.  <B>Roots</B> dimorphic, some filiform, 0.2-0.5 mm
thick and some with tuberous bases 1-2.5 mm thick.  <B>Basal
leaves</B> persistent, blades reniform, undivided or innermost
3-parted, 1.1-2.8 &#215; 1.5-3.8 cm, base cordate or
truncate, margins crenate with more than 5 rounded teeth, apex
rounded or rounded-obtuse.  <B>Flowers:</B> pedicels glabrous;
receptacle glabrous or very sparsely pilose; sepals 2-4 &#215;
1.5-3 mm, abaxially glabrous or sparsely pilose, hairs colorless;
petals 5-7, 4-6.5 &#215; 1.5-3 mm; nectary scale glabrous.
 <B>Heads of achenes</B> globose or ovoid, 3-6 &#215; 3-5 mm;
achenes 1.4-1.7 &#215; 1-1.3 mm, glabrous; beak slender,
straight, 0.2-0.6 mm. 
<P>
 Flowering spring (Mar-May).  Woods
and grasslands; 50-300 m; Ala., Ark., Ill., Mo., Okla., Tenn.
<BR>

<P>
<B>