2a.1. <A NAME="27104981"></A><I><B>Ranunculus</B></I><B>
Linnaeus (subg. <I>Ranunculus</I>) sect. <I>Ranunculus</I> </B></B>
<P>
<I>Ranunculus</I>
sect. <I>Chrysanthe</I> (Spach) L.&nbsp;D. Benson
<P>
<B>Plants</B>
usually &#177;&nbsp;hispid, sometimes glabrous.  <B>Stems</B>
erect to decumbent, sometimes stoloniferous, sometimes bulbous-based,
without bulbils.  <B>Roots</B> basal, sometimes also nodal, sometimes
tuberous.  <B>Leaves</B> basal and cauline, petiolate; basal deeply
parted or compound (except sometimes in <I>R</I>.&nbsp;<I>orthorhynchus</I>
var. <I>bloomeri</I>), blades with segments lobed or parted, margins
toothed; cauline deeply parted or compound, similar to basal or
with shorter petioles and/or blades with narrower segments (rarely
poorly developed in <I>R</I>.&nbsp;<I>fascicularis</I>).  <B>Inflorescences</B>
1-50-flowered cymes.  <B>Flowers</B> pedicellate; sepals deciduous
soon after anthesis, 5 (sometimes 6 in <I>R</I>.&nbsp;<I>occidentalis</I>
var. <I>hexasepalus</I>); petals always present, yellow, sometimes
abaxially reddish, rarely poorly developed; nectary scale attached
basally, free from petal for at least 1/2 its length, forming
flap covering nectary (or sometimes attached on 3 sides, forming
pocket in <I>R</I>.&nbsp;<I>recurvatus</I>), glabrous, free margin
entire; style present.  <B>Fruits</B> achenes, 1-locular; achene
body discoid, strongly flattened, 3-15 times as wide as thick,
not prolonged beyond seed; wall thick, not ornamented; margin
low or high narrow ridge or wing; beak much shorter than achene
body.
<P>
 Species ca. 100 (19 in the flora):
worldwide except lowland tropics.<BR>

<P>
<B>