46. <A NAME="27100731"></A><I><B>Ranunculus allegheniensis</B></I><B>
Britton</B></B>, Bull. Torrey
Bot. Club 22: 224.  1895 - E
<P>
<B>Stems</B>
erect or nearly erect, 10-50 cm, glabrous, each with 9-40
flowers.  <B>Roots</B> slender, 0.2-0.8 mm thick.  <B>Basal
leaves</B> persistent, blades reniform, outer undivided, inner
3-lobed to 3-foliolate, 1-3.5 &#215; 1.5-4.5 cm, base
truncate or cordate, margins crenate, apex rounded or obtuse.
 <B>Flowers:</B> pedicels pubescent or glabrous; receptacle sparsely
pilose; sepals 2-3 &#215; 1-2 mm, abaxially sparsely
hispid, hairs colorless; petals 5, 1-2 &#215; 0.5-1 mm;
nectary scale glabrous.  <B>Heads of achenes</B> globose to ovoid,
3-7 &#215; 3-5 mm; achenes 1.5-2 &#215; 1.4-1.8 mm,
glabrous; beak slender, strongly curved, 0.6-1 mm.  2<I>n</I> = 16.
 
<P>
 Flowering spring-summer (Apr-Jul).
 Woods and pastures; 0-1100 m; Conn., Ky., Md., Mass., N.Y.,
N.C., Ohio, Pa., R.I., Tenn., Vt., Va., W.Va. <BR>

<P>
<B>