2c. <A NAME="50076410"></A><I><B>Ranunculus</B></I><B> Linnaeus
subg. <I>Crymodes</I> (A. Gray) A. Gray in A. Gray
et al., Syn. Fl. N. Amer. 1: 22.  1895</B></B>
<P>
<I>Ranunculus</I>
&#167; <I>Crymodes</I> A. Gray, Proc. Amer. Acad. Arts 21:
365.  1886; <I>Beckwithia</I> Jepson 
<P>
<B>Plants</B>
distally glabrous or brown-pilose.  <B>Stems</B> erect, not bulbous-based,
without bulbils.  <B>Roots</B> basal, never tuberous.  <B>Leaves</B>
all basal or basal and cauline, compound or simple and deeply
parted; basal leaves petiolate, leaflets parted; cauline leaves
(when present) sessile or nearly so, much smaller, otherwise similar
to basal leaves.  <B>Inflorescences</B> 1-3-flowered cymes.  <B>Flowers</B>
pedicellate; sepals persistent in fruit, 5; petals 5, red at maturity,
sometimes white when young; nectary scale attached on 3 sides,
forming pocket that may or may not cover nectary, glabrous, free
margin entire; style present.  <B>Fruits</B> utricles or winged
achenes, 1-locular; fruit body obovoid to flattened-obovoid, 1-2.5
times as wide as thick, not prolonged beyond seed; fruit wall
membranous, loose and sometimes inflated, smooth or veined; margin
an inconspicuous vein or thin wing; beak much shorter than fruit
body.  
<P>
 Species 4 (2 in the flora): North America,
Eurasia.<BR>

<P>
<B>
