5. <A NAME="27100805"></A><I><B>Ranunculus pacificus</B></I><B>
(Hult&eacute;n) L.&nbsp;D. Benson</B></B>,
Amer. Midl. Naturalist 40: 79.  1948 - E
<P>
<I>Ranunculus septentrionalis</I>
subsp. <I>pacificus</I> Hult&eacute;n, Acta Univ. Lund, n.s. 40:
769.  1944 
<P>
<B>Stems</B>
erect or reclining, never rooting nodally, hispid or glabrous,
base not bulbous.  <B>Roots</B> never tuberous.  <B>Basal leaf
blades</B> broadly triangular to cordate in outline, 3-foliolate,
6-13&nbsp;&#215; 8-16&nbsp;cm, leaflets lobed, margins toothed,
ultimate segments elliptic to lance-elliptic or oblong, margins
toothed, apex acute or obtuse.  <B>Flowers:</B> receptacle hispid;
sepals reflexed 1-2&nbsp;mm above base, 6-9&nbsp;&#215; 3-4&nbsp;mm,
sparsely hispid; petals 5, abaxially yellow or purplish, adaxially
yellow, 9-11&nbsp;&#215; 6-8&nbsp;mm.  <B>Heads of achenes</B>
ovoid to globose, 9-11&nbsp;&#215; 8-11&nbsp;mm; achenes 3.2-3.8&nbsp;&#215;
2-3&nbsp;mm, glabrous, margin forming narrow rib 0.1-0.2&nbsp;mm
wide; beak persistent, lanceolate or subulate from triangular
base, straight or tip weakly hooked, 1-1.8&nbsp;mm.
<P>
 Flowering summer (Jul).  Along streams
and in meadows; 0&nbsp;m; Alaska. 
<P>
 <I>Ranunculus pacificus</I> is endemic
to the Alaska panhandle.<BR>

<P>
<B>