2a.3. <A NAME="50076402"></A><I><B>Ranunculus</B></I><B>
Linnaeus (subg. <I>Ranunculus</I>) sect. <I>Epirotes</I> (Prantl)
L. D. Benson, Amer. J. Bot. 23: 169.  1936</B></B>
<P>
<I>Ranunculus</I>
sect. <I>Marsypadenium</I> Prantl e. <I>Epirotes</I> Prantl, Bot.
Jahrb. Syst. 9: 266.  1888 
<P>
<B>Plants</B>
glabrous or sometimes pilose or pubescent.  <B>Stems</B> erect,
not bulbous-based, without bulbils.  <B>Roots</B> basal, sometimes
tuberous.  <B>Leaves</B> basal and cauline, simple or compound;
basal leaves petiolate, blades variously divided, unlobed to deeply
parted, compound, or filiform-dissected, segments undivided or
again lobed or parted, margins entire or crenate, never serrate;
cauline leaves sessile to nearly sessile or sometimes with much
shorter petioles than basal leaves, blades lobed to compound or
dissected (rarely unlobed in <I>R</I>. <I>macauleyi</I> and
<I>R</I>. <I>glaberrimus</I>).  <B>Inflorescences</B> 1-50-flowered
cymes.  <B>Flowers</B> pedicellate; sepals deciduous soon after
anthesis, 5; petals yellow (rarely absent in <I>R</I>. <I>pedatifidus</I>);
nectary scale joined with petal on 3 sides, forming pocket enclosing
nectary (sometimes with apex free, forming flap shorter than pocket),
glabrous or setose, free margin entire or fringed; style present.
 <B>Fruits</B> achenes, 1-locular; achene body thick-lenticular
or asymmetrically thick-lenticular to compressed-globose, 1.2-2
times as wide as thick, not prolonged beyond seed; wall thick,
smooth; margin low narrow ridge, often inconspicuous; beak much
shorter than achene body.  
<P>
 Species ca. 70 (22 in the flora): worldwide
except lowland tropics.<BR>

<P>
<B>