11b. <A NAME="27100746"></A><I><B>Ranunculus canus</B></I><B>
Bentham var. <I>ludovicianus</I> (Greene) L.&nbsp;D. Benson</B></B>,
Bull. Torrey Bot. Club 68: 171.  1941 - E
<P>
<I>Ranunculus ludovicianus</I>
Greene, Bull. Calif. Acad. Sci. 2: 58.  1886; <I>R</I>.&nbsp;<I>californicus</I>
Bentham var. <I>ludovicianus</I> (Greene) K.&nbsp;C. Davis
<P>
<B>Leaf blades:</B>
ultimate segments lanceolate to oblong-lanceolate, margins entire
or toothed, apex acute or rounded-acute.  <B>Flowers:</B> petals
13-17.
<P>
 Flowering spring-summer (Mar-Aug).
 Meadows; 1000-2300&nbsp;m; Calif.
<P>
 <I>Ranunculus canus</I> var. <I>ludovicianus</I>
is endemic to the Transverse Ranges of California.  Pending further
study, I am reluctantly following L.&nbsp;D. Benson's (1948) placement
of this taxon.  The plants have the floral characters of <I>R</I>.&nbsp;<I>californicus</I>
and have often been included in that species.  Indeed, forms of
<I>R</I>.&nbsp;<I>californicus</I> from the foothills west of
the San Joaquin Valley may also have large achenes with deltate
beaks.  Those plants differ from <I>R</I>.&nbsp;<I>canus</I> var.
<I>ludovicianus</I> only in their ovate leaf segments.  Further
study of the group is much needed. <BR>

<P>
<B>