70. <A NAME="27102689"></A><I><B>Ranunculus kamtschaticus</B></I><B>
de Candolle</B></B>, Syst. Nat.
1: 302.  1817 - F
<P>
<I>Oxygraphis glacialis</I>
(Fischer ex de Candolle) Bunge
<P>
<B>Stems</B>
erect from short caudices or rhizomes, not rooting nodally, glabrous,
not bulbous-based.  <B>Tuberous roots</B> absent.  <B>Basal leaf
blades</B> circular to ovate or obovate, undivided, 0.8-2.6&nbsp;&#215;
0.6-1.4&nbsp;cm, margins entire or serrulate, apex obtuse or rounded.
 <B>Flowers:</B> receptacle glabrous; sepals spreading, 4-8&nbsp;&#215;
2-4&nbsp;mm, glabrous; petals yellow, 5-12&nbsp;&#215; 1-3&nbsp;mm.
 <B>Heads of achenes</B> depressed-hemispheric or -conic, 3-4&nbsp;&#215;
5&nbsp;mm; achenes 2-2.6&nbsp;&#215; 1-1.4&nbsp;mm, glabrous;
beak persistent, lanceolate, straight, 0.8-1.2&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;16.
 
<P>
 Flowering late spring-summer (May-Aug).
 Tundra on moist slopes; 0-300&nbsp;m; Alaska; Asia.<BR>

