35. <A NAME="27100818"></A><I><B>Ranunculus sabinei</B></I><B>
R. Brown</B></B>, J. Voy.
N.-W. Passage, Bot., 264.  1824 - E
<P>
<I>Ranunculus pygmaeus</I>
Wahlenberg subsp. <I>sabinei</I> (R. Brown) Hult&eacute;n 
<P>
<B>Stems</B>
erect or decumbent, 1-12 cm, sparsely pilose, each with 1-3
flowers.  <B>Roots</B> slender, 0.3-0.8 mm thick.  <B>Basal
leaves</B> persistent, blades broadly obovate to transversely
elliptic, 3-lobed or -parted, 0.9-3 &#215; 0.8-3.4 cm,
segments undivided or again lobed, base obtuse, margins entire,
apices of segments rounded to rounded-obtuse.  <B>Flowers:</B>
pedicels pilose; receptacle pilose; sepals 4-7 &#215; 2-3 mm,
abaxially pilose, hairs colorless; petals 5, 5-8 &#215; 3-4 mm;
nectary scale glabrous.  <B>Heads of achenes</B> cylindric, 6-9 &#215;
4 mm; achenes 1.2-1.4 &#215; 0.8-1 mm, glabrous;
beak lance-subulate, straight or curved, 0.4-0.6 mm.  2<I>n</I> = 64.
 
<P>
 Flowering summer (Jul-Aug).  Slopes
and hummocks in tundra, in sandy or gravelly soil; 0 m; Greenland;
N.W.T., Yukon; Alaska. 
<P>
 An alternative interpretation of this
taxon is given by E. Hult&eacute;n (1971) who considered
it to be the hybrid <I>Ranunculus nivalis</I> &#215; <I>R</I>.
<I>pygmaeus</I>, and considered all specimens referable here to
be hybrids or members of stabilized populations of hybrid origin.
<BR>

<P>
<B>