10. <A NAME="27100738"></A><I><B>Ranunculus austro-oreganus</B></I><B>
L. D. Benson</B></B>, Amer.
Midl. Naturalist 52: 341.  1954 - C E 
<P>
<B>Stems</B>
erect or ascending, never rooting nodally, crisped-pilose, base
not bulbous.  <B>Roots</B> never tuberous.  <B>Basal leaf blades</B>
broadly rhombic to semicircular in outline, 3-parted, 2.8-4.3 &#215;
3-5.5 cm, segments 3-lobed, ultimate segments lanceolate,
margins entire or toothed, apex narrowly acute or acuminate. 
<B>Flowers:</B> receptacle glabrous; sepals reflexed 1 mm
above base, 4-6 &#215; 1.5-3 mm, densely pilose; petals
5, abaxially red, adaxially yellow, 10-12 &#215; 4-6 mm.
 <B>Heads of achenes</B> hemispheric, 4-7 &#215; 7-10 mm;
achenes 3.4-4.2 &#215; 2.8-3.2 mm, sometimes basally
pilose, margin forming narrow rib 0.1-0.2 mm wide; beak persistent,
lance-subulate, straight or somewhat curved distally, 1.6-2.6 mm.
<P>
 Flowering spring (May).  Grassy hillsides;
of conservation concern; 500 m; Oreg.
<P>
 <I>Ranunculus austro-oreganus</I> is
doubtfully distinct from <I>R</I>. <I>occidentalis</I> var.
<I>howellii</I>.  L. D. Benson (1954) described the stem
as bulbous-based and similar to that of <I>R</I>. <I>bulbosus</I>,
but a differentiated base is not evident in material I have seen
(some of which was cited by Benson). <BR>

<P>
<B>
