12a. <A NAME="02710157"></A><I><B>Ranunculus californicus</B></I><B>
Bentham var. <I>californicus</I> </B></B>
<P>
<I>Ranunculus californicus</I>
var. <I>austromontanus</I> L.&nbsp;D. Benson; <I>R</I>.&nbsp;<I>californicus</I>
var. <I>gratus</I> Jepson; <I>R</I>.&nbsp;<I>californicus</I>
var. <I>rugulosus</I> (Greene) L.&nbsp;D. Benson 
<P>
<B>Stems</B>
erect or decumbent, hirsute or glabrous.  <B>Basal leaf blades</B>
2.8-5.8&nbsp;&#215; 4-6&nbsp;cm, leaflets or segments undivided
or 1-2&#215;-lobed or -parted, ultimate segments oblong-elliptic
to lanceolate or linear, margins toothed or entire, apex acute
to rounded-acute.  <B>Achenes</B> 1.8-3.2&nbsp;&#215; 1.4-2.4&nbsp;mm.
 2<I>n</I>&nbsp;=&nbsp;28.  
<P>
 Flowering winter-summer (Mar-Aug).
 Grassland and open woodland; 0-2000&nbsp;m; Calif., Oreg.; Mexico
(Baja California). 
<P>
 <I>Ranunculus californicus</I> var.
<I>californicus</I> is variable and has been divided into varieties
based on indument, achene size, and especially leaf form.  Those
characters are poorly correlated, however, and most of the named
varieties do not seem natural. <BR>

<P>
<B>