21. <A NAME="27100825"></A><I><B>Ranunculus trilobus</B></I><B>
Desfontaines</B></B>, Fl. Atlant.
1: 437.  1799 
<P>
<B>Stems</B>
erect or reclining, hispid or sometimes glabrous.  <B>Basal and
lower cauline leaf blades</B> cordate-ovate, 3-foliolate, 5-8&nbsp;&#215;
3-6(-7)&nbsp;cm, leaflets again cleft or parted, leaflet base
obtuse to acute, margins dentate, apex rounded to acute.  <B>Flowers</B>
pedicellate; receptacle hispid; sepals 5, reflexed, 3-4&nbsp;&#215;
2&nbsp;mm, sparsely hispid; petals 5, 4-5&nbsp;&#215; 2-3&nbsp;mm.
 <B>Heads of achenes</B> ovoid, 8-9&nbsp;&#215; 6-7&nbsp;mm; achenes
30-60 per head, 2 &#215; 2&nbsp;mm, faces densely tuberculate,
glabrous, margin smooth; beak semicircular, hooked, 0.3&nbsp;mm.
<P>
 Flowering spring (Apr).  Fields and
roadsides; 0-100&nbsp;m; introduced; Ala., Fla., La., S.C., Tex.;
native to Europe.<BR>

<P>
<B>