53. <A NAME="27100811"></A><I><B>Ranunculus populago</B></I><B>
Greene</B></B>, Erythea 3: 19.
 1895 -&nbsp;E
<P>
<B>Stems</B>
erect or ascending, never rooting nodally, glabrous.  <B>Roots</B>
thickened basally, glabrous.  <B>Leaves:</B> basal leaf blades
with base obtuse to cordate; proximal cauline leaf blades semicircular
to cordate or ovate, 1.2-5.1&nbsp;&#215; 1.5-2.9&nbsp;cm, base
cordate to broadly obtuse, margins entire or crenulate, apex broadly
acute to rounded.  <B>Inflorescences:</B> bracts narrowly elliptic
to ovate or lanceolate.  <B>Flowers:</B> receptacle glabrous or
hispidulous; sepals 4-5, spreading or reflexed from base, 3-5&nbsp;&#215;
2-4&nbsp;mm, glabrous; petals 5-6, 4-9&nbsp;&#215; 2-5&nbsp;mm;
nectary scales glabrous.  <B>Heads of achenes</B> hemispheric,
3&nbsp;&#215; 4-5&nbsp;mm; achenes 1.6-1.8&nbsp;&#215; 1.2&nbsp;mm,
glabrous; beak lance-subulate, straight, 0.2-1&nbsp;mm.
<P>
 Flowering spring-summer (Apr-Aug).
 Wet ground and shallow water, in wet meadows, bogs, streams,
lakes; 1300-2000&nbsp;m; Calif., Idaho, Mont., Oreg., Wash.<BR>

<P>
<B>