31c. <A NAME="27100754"></A><I><B>Ranunculus eschscholtzii</B></I><B>
Schlechtendal var. <I>eximius</I> (Greene) L. D. Benson</B></B>,
Bull. Torrey Bot. Club 68: 654.  1941 - E
<P>
<I>Ranunculus eximius</I>
Greene, Erythea 3: 19.  1895 
<P>
<B>Stems:</B>
caudex 1.5-3.5 cm, with few or no persistent leaf bases.
 <B>Basal leaf blades</B> obovate to broadly oblong, distally
5-9-lobed or sometimes 3-parted with lateral segments again lobed,
1.4-4.1 &#215; 1.4-3.3 cm, base obtuse or rounded, middle
segment unlobed, ultimate segments and sinuses acute or acuminate.
 <B>Flowers:</B> petals 9-16 mm.
<P>
 Flowering late spring-summer (Jun-Aug).
 Alpine meadows; 2000-3500 m; B.C.; Ariz., Idaho, Mont.,
Utah, Wyo.<BR>

<P>
<B>