50c. <A NAME="27100729"></A><I><B>Ranunculus alismifolius</B></I><B>
Geyer ex Bentham var. <I>lemmonii</I> (A.&nbsp;Gray) L.&nbsp;D.
Benson</B></B>, Amer. J. Bot.
 23: 172. 1936 - E F
<P>
<I>Ranunculus lemmonii</I>
A.&nbsp;Gray, Proc. Amer. Acad. Arts 10: 68.  1875
<P>
<B>Stems</B>
7-35&nbsp;cm &#215; 1-3&nbsp;mm, glabrous or pilose.  <B>Roots</B>
often distinctly fusiform-thickened proximally.  <B>Leaves:</B>
petiole glabrous or pilose.  <B>Leaf blade</B> narrowly lanceolate,
2.7-10.8&nbsp;&#215; 0.6-1.3&nbsp;cm, base acuminate, margins
entire.  <B>Flowers:</B> petals 5-6(-8), 10-14&nbsp;&#215; (3-)5-8&nbsp;mm.
<P>
 Flowering spring-summer (May-Jul).
 Meadows; 1400-2900&nbsp;m; Calif., Nev.
<P>
 <I>Ranunculus alismifolius</I> var.
<I>lemmonii</I> is endemic to the Sierra Nevada.<BR>

<P>
<B>