6. <A NAME="27100235"></A><I><B>Ranunculus turneri</B></I><B>
Greene</B></B>, Pittonia 2: 296.
 1892 - C
<P>
<I>Ranunculus occidentalis</I>
Nuttall var. <I>turneri</I> (Greene) L.&nbsp;D. Benson
<P>
<B>Stems</B>
erect, never rooting nodally, hirsute, base not bulbous.  <B>Roots</B>
never tuberous.  <B>Basal leaf blades</B> cordate to reniform
in outline, 3-parted, 1.3-3&nbsp;&#215; 1.8-3.8&nbsp;cm, segments
cleft, ultimate segments elliptic to lanceolate, margins toothed,
apex acute.  <B>Flowers:</B> receptacle glabrous; sepals spreading,
7-9&nbsp;&#215; 2-4&nbsp;mm, hirsute; petals 5, yellow, 10-15&nbsp;&#215;
8-11&nbsp;mm.  <B>Heads of achenes</B> nearly globose, 7-10&nbsp;mm
wide; achenes 2.4&nbsp;&#215; 2.6-2.7&nbsp;mm, glabrous, margin
forming narrow rib 0.1-0.2&nbsp;mm wide; beak persistent, lanceolate,
strongly hooked or curved, 1.6-2&nbsp;mm.
<P>
 Flowering summer (Aug).  Damp meadows;
of conservation concern; 0&nbsp;m; N.W.T., Yukon; Alaska; Asia.
<P>
 <I>Ranunculus turneri</I> was considered
an arctic race of <I>R</I>.&nbsp;<I>acris</I> by E.&nbsp;Hult&eacute;n
(1971).  It occurs from the Mackenzie Delta to northeastern Alaska.
<BR>

<P>
<B>