49a. <A NAME="27101523"></A><I><B>Ranunculus glaberrimus</B></I><B>
Hooker var. <I>glaberrimus</I></B></B>
- E F
<P>
<B>Basal leaf blades</B>
elliptic to oblong or reniform, 0.7-1.9 &#215; 1-1.7 cm,
base obtuse to truncate, margins entire to deeply 3-crenate, apex
rounded.  <B>Inflorescences:</B> bracts with lobes equal.  2<I>n</I> = 128.
 
<P>
 Flowering late winter-spring (Mar-Jun).
 Meadows, open woods, and shrublands; 400-2000 m; B.C.; Calif.,
Idaho, Mont., Nev., Oreg., S.Dak., Utah, Wash., Wyo.<BR>

<P>
<B>