1. <A NAME="27100597"></A><I><B>Ranunculus uncinatus</B></I><B>
D.&nbsp;Don in G.&nbsp;Don</B></B>,
Gen. Hist. 1: 35.  1831 -&nbsp;E
<P>
<I>Ranunculus bongardii</I>
Greene; <I>R</I>.&nbsp;<I>bongardii</I> var. <I>tenellus</I> (A.
Gray) Greene; <I>R</I>.&nbsp;<I>uncinatus</I> var. <I>earlei</I>
(Greene) L.&nbsp;D. Benson; <I>R</I>.&nbsp;<I>uncinatus</I> var.
<I>parviflorus</I> (Torrey) L.&nbsp;D. Benson
<P>
<B>Stems</B>
erect, never rooting nodally, hispid or glabrous, base not bulbous.
 <B>Roots</B> never tuberous.  <B>Basal leaf blades</B> cordate
to reniform in outline, 3-parted or sometimes 3-foliolate, 1.8-5.6&nbsp;&#215;
2.8-8.3&nbsp;cm, segments again lobed, ultimate segments elliptic
to lanceolate, margins toothed or crenate-toothed, apex acute
to rounded-obtuse.  <B>Flowers:</B> receptacle glabrous; sepals
reflexed or sometimes spreading, 2-3.5&nbsp;&#215; 1-2&nbsp;mm,
pubescent; petals 5, yellow, 2-4(-6)&nbsp;&#215; 1-2(-3)&nbsp;mm.
 <B>Heads of achenes</B> globose or hemispheric, 4-7&nbsp;&#215;
4-7&nbsp;mm; achenes 2-2.8&nbsp;&#215; 1.6-2&nbsp;mm, glabrous
or sparsely hispid, margin forming narrow rib 0.1-0.2&nbsp;mm
wide; beak persistent, lanceolate, curved, hooked, 1.2-2.5&nbsp;mm.
 2<I>n</I>&nbsp;=&nbsp;28.  
<P>
 Flowering spring-summer (Apr-Aug).
 Moist meadows or woods, often along streams; 0-3400&nbsp;m; Alta.,
B.C.; Alaska, Ariz., Calif., Colo., Idaho, Mont., Nev., N.Mex.,
Oreg., Wash., Wyo. 
<P>
 Plants with hispid stems and achenes
are often separated as <I>Ranunculus uncinatus</I> var. <I>parviflorus</I>;
these two characters are poorly correlated, however, and sometimes
vary between plants in a single collection.  <I>Ranunculus uncinatus</I>
was reported from northeastern Alberta and adjacent Northwest
Territories by H.&nbsp;J. Scoggan (1978-1979, part 3).  The specimens
have hairy receptacles and straight, broad achene beaks; they
apparently represent small individuals of <I>R</I>.&nbsp;<I>macounii</I>.

<P>
 Some Native Americans used <I>Ranunculus
uncinatus</I> as an antrirheumatic, a diaphoretic, a disinfectant,
and an orthopedic aid, as well as in herbal steam baths intended
to soothe sore muscles and rheumatism (D.&nbsp;E. Moerman 1986).
<BR>

<P>
<B>