49b. <A NAME="27100763"></A><I><B>Ranunculus glaberrimus</B></I><B>
Hooker var. <I>ellipticus</I> (Greene) Greene</B></B>,
Fl. Francisc. 1: 298.  1891 - E
<P>
<I>Ranunculus ellipticus</I>
Greene, Pittonia 2: 110.  1890; <I>R</I>. <I>oreogenes</I>
Greene
<P>
<B>Basal leaf blades</B>
ovate or elliptic to very narrowly elliptic, 1.5-5.2 &#215;
0.7-2 cm, base obtuse to attenuate, margins entire or rarely
with 3 broad, shallow, distal crenae, apex acute to rounded. 
<B>Inflorescences:</B> bracts with middle lobe much larger than
lateral lobes.  2<I>n</I> = 80.  
<P>
 Flowering late winter-summer (Mar-Jul).
 Moist seepy slopes and moist depressions in grassland; 500-3600 m;
Alta., B.C., Sask.; Ariz., Calif., Colo., Idaho, Mont., Nebr.,
Nev., N.Mex., N.Dak., Oreg., S.Dak., Utah, Wash., Wyo.<BR>

