9f. <A NAME="27101654"></A><I><B>Ranunculus occidentalis</B></I><B>
Nuttall var. <I>hexasepalus</I> L.&nbsp;D. Benson</B></B>,
Bull. Torrey Bot. Club  68: 167. 1941 - E
<P>
<I>Ranunculus hexasepalus</I>
(L.&nbsp;D. Benson) L.&nbsp;D. Benson 
<P>
<B>Stems</B>
erect or spreading, 2-6&nbsp;mm thick, hirsute or strigose, at
least distally.  <B>Basal leaf blades</B> 3-parted, ultimate segments
elliptic or narrowly elliptic, margins dentate.  <B>Flowers:</B>
sepals 5-6, 4-5&nbsp;mm; petals 8-14, 9-13&nbsp;&#215; 3-7&nbsp;mm.
 <B>Achenes</B> 2.6-3&nbsp;&#215; 2.2-3&nbsp;mm, glabrous; beak
lanceolate, curved, at least distally, 1.2-1.6&nbsp;mm.
<P>
 Flowering summer.  Open areas near
coast; 0&nbsp;m; B.C.
<P>
 <I>Ranunculus occidentalis</I> var.
<I>hexasepalus</I> is endemic to the Queen Charlotte Islands.
<P>
 
<P>
<B>