37a. <A NAME="27100179"></A><I><B>Ranunculus inamoenus</B></I><B>
Greene var. <I>inamoenus</I></B></B>
- E
<P>
<I>Ranunculus inamoenus</I>
var. <I>alpeophilus</I> (A. Nelson) L. D. Benson
<P>
<B>Flowers:</B>
sepals 3-5 mm.  <B>Achene beaks</B> 0.4-0.9 mm.  2<I>n</I> = 32,
48.  
<P>
 Flowering late winter-summer (Mar-Aug).
 Meadows, rocky slopes, occasionally open woods; 2000-3500 m;
Alta., B.C., Sask.; Ariz., Colo., Idaho, Mont., Nebr., Nev., N.Mex.,
S.Dak., Utah, Wash., Wyo.
<P>
 The type collection of <I>Ranunculus
inamoenus</I> var. <I>alpeophilus</I> is a mixed collection, and
some apparent &quot;isotype&quot; material is actually <I>R</I>. <I>eschscholtzii</I>.
<BR>

<P>
<B>