2i. <A NAME="50076417"></A><I><B>Ranunculus</B></I><B> Linnaeus
(subg. <I>Ceratocephalus</I>) (Moench) L. D. Benson, Amer.
J. Bot. 27: 806.  1940</B></B>

<P>
<I>Ceratocephalus</I>
Moench, Methodus, 218.  1794 
<P>
<B>Plants</B>
villous.  <B>Stems</B> erect, not bulbous-based, without bulbils.
 <B>Roots</B> basal, never tuberous.  <B>Leaves</B> all basal,
petiolate; blade 1-2&#215;-dissected.  <B>Inflorescences</B> terminal,
solitary flowers.  <B>Flowers:</B> sepals persistent in fruit,
5, 3-6 &#215; 1-2 mm; petals 5, yellow; nectary scale attached
basally, forming flap over nectary, glabrous, free margin entire;
style present.  <B>Fruits</B> achenes, 3-locular, lateral locules
empty; achene body ellipsoid, about as wide as thick, not prolonged
beyond seed; wall firm, smooth; margin low narrow ridge; beak
much longer than achene body.  
<P>
 Species 10 (1 in the flora): North
America, Pacific Islands, Australia, Europe, c, sw Asia,
and n Africa. 
<P>
 <I>Ranunculus</I> subg. <I>Ceratocephalus</I>
is very different in aspect and fruit structure from other species
of the genus; it is often treated as a distinct genus. 
<P>
<B>SELECTED REFERENCE   </B>
<P>
Klokov, M. V.  1978.  The genus
<I>Ceratocephala</I> Moench., on aspects of its overall biological
differentiation [in Russian].  In: M. V. Klokov et al., eds.
 1977.  1978.  Novosti sistematiki vysshikh i nizshikh rasteniy
1977.  Kiev.  Pp. 7-73.<BR>

<P>
<B>