59. <A NAME="27100563"></A><I><B>Ranunculus bonariensis</B></I><B>
Poiret in J.&nbsp;Lamarck et al</B></B>.,
Encycl. 6: 102.  1804
<P>
Varieties 3 (1 in the flora): North
America; temperate South America.<BR>

<P>
<B>