9b. <A NAME="27100800"></A><I><B>Ranunculus occidentalis</B></I><B>
Nuttall var. <I>ultramontanus</I> Greene</B></B>,
Pittonia 3: 13.  1896 - E
<P>
<B>Stems</B>
&#177;&nbsp;reclining, 1-3&nbsp;mm thick, hirsute or sometimes
glabrous.  <B>Basal leaf blades</B> 3-foliolate, rarely merely
3-parted, ultimate segments oblong or elliptic to lanceolate or
oblanceolate, margins dentate or dentate-lobulate.  <B>Flowers:</B>
sepals 5, 4-6&nbsp;mm; petals 5-6, 6-8&nbsp;&#215; 1.5-2.5&nbsp;mm.
 <B>Achenes</B> 3-3.4&nbsp;&#215; 2-2.6&nbsp;mm, glabrous, rarely
hispid; beak lanceolate, curved, 0.4-1.2&nbsp;mm.
<P>
 Flowering spring-summer (May-Jul).
 Meadows; 1300-2100&nbsp;m; Calif., Nev., Oreg.
<P>
 <I>Ranunculus occidentalis</I> var.
<I>ultramontanus</I> is found at middle elevations in the Sierra
Nevada, southern Cascades, and northeastern Coast Ranges.  It
intergrades with var. <I>occidentalis</I> in the region of elevational
overlap. <BR>

<P>
<B>