69. <A NAME="27100735"></A><I><B>Ranunculus andersonii</B></I><B>
A.&nbsp;Gray</B></B>, Proc. Amer.
Acad. Arts 7: 327.  1867 -&nbsp;E F
<P>
<I>Beckwithia andersonii</I>
(A.&nbsp;Gray) Jepson; <I>Ranunculus andersonii</I> var. <I>juniperinus</I>
(M.&nbsp;E. Jones) S.&nbsp;L. Welsh; <I>R</I>.&nbsp;<I>andersonii</I>
var. <I>tenellus</I> S.&nbsp;Watson; <I>R</I>.&nbsp;<I>juniperinus</I>
M.&nbsp;E. Jones 
<P>
<B>Stems</B>
erect from short caudices, not rooting nodally, glabrous, not
bulbous-based.  <B>Tuberous roots</B> absent.  <B>Basal leaf blades</B>
cordate in outline, ternately 1-2&#215;-compound, 1.5-3.8&nbsp;&#215;
2.1-3.8&nbsp;cm, leaflets 2-3&#215;-parted, ultimate segments
elliptic to linear, margins entire or with occasional teeth, apex
obtuse to acuminate.  <B>Flowers:</B> receptacle hispid; sepals
spreading, 9-15&nbsp;&#215; 5-9&nbsp;mm, glabrous; petals pinkish
white, 12-18&nbsp;&#215; 9-13&nbsp;mm.  <B>Fruiting heads</B>
globose or depressed-globose, 13-27&nbsp;&#215; 21-29&nbsp;mm;
fruit wall veined, inflated, not winged, fruits thus utricles;
utricles 6-12&nbsp;&#215; 4-6&nbsp;mm, glabrous; beak persistent,
deltate or subulate from deltate base, 0.2-0.6&nbsp;mm. 
<P>
 Flowering spring (Apr-May).  Slopes
in sagebrush or pinyon-juniper woodland; 900-2300&nbsp;m; Ariz.,
Calif., Idaho, Nev., Oreg., Utah. <BR>

