54b. <A NAME="27100760"></A><I><B>Ranunculus flammula</B></I><B>
Linnaeus var. <I>ovalis</I> (J.&nbsp;M. Bigelow) L.&nbsp;D. Benson</B></B>,
Bull. Torrey Bot. Club 69: 305.  1942 -&nbsp;E
<P>
<I>Ranunculus filiformis</I>
Michaux var. <I>ovalis</I> J.&nbsp;M. Bigelow, Fl. Boston. ed.
2, 224.  1824; <I>R</I>.&nbsp;<I>flammula</I> var. <I>samolifolius</I>
(Greene) L.&nbsp;D. Benson; <I>R</I>.&nbsp;<I>reptans</I> Linnaeus
var. <I>ovalis</I> (J.&nbsp;M. Bigelow) Torrey &amp; A.&nbsp;Gray

<P>
<B>Stems</B>
prostrate or sometimes ascending, 0.5-2&nbsp;mm thick.  <B>Leaf
blades</B> lance-elliptic to lanceolate or linear, 0.8-3.3&nbsp;&#215;
0.2-0.8&nbsp;cm.  <B>Flowers:</B> sepals 2-3&nbsp;mm; petals 3-5&nbsp;&#215;
2-3&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;32.  
<P>
 Flowering spring-summer (May-Sep).
 Muddy ground or shallow water; 0-2900&nbsp;m; Alta., B.C., Man.,
N.B., Nfld., N.W.T., N.S., Ont., P.E.I., Que., Sask.; Alaska,
Ariz., Calif., Colo., Conn., Idaho, Maine, Mass., Mich., Minn.,
Mont., Nev., N.H., N.Mex., N.Y., N.Dak., Oreg., Pa., Utah, Vt.,
Wash., Wyo. 
<P>
 <I>Ranunculus flammula</I> var. <I>ovalis</I>,
as currently understood, is heterogeneous.  Many specimens from
throughout the cited range scarcely differ from specimens of <I>R</I>.&nbsp;<I>flammula</I>
var. <I>reptans</I> and perhaps should be included in the latter
variety.  Material from the Pacific slope, however, may be intermediate
between <I>R</I>.&nbsp;<I>flammula</I> var. <I>reptans</I> and
<I>R</I>.&nbsp;<I>flammula</I> var. <I>flammula</I> or may show
various combinations of the distinguishing characteristics of
the two.  Biosystematic study of <I>R</I>.&nbsp;<I>flammula</I>
as a whole will be needed for a meaningful treatment of these
populations to be possible.<BR>

<P>
<B>