50. <A NAME="27100725"></A><I><B>Ranunculus alismifolius</B></I><B>
Geyer ex Bentham</B></B>, Pl.
Hartw., 295.  1849 
<P>
<B>Stems</B>
erect or ascending, not rooting nodally, glabrous or hirsute.
 <B>Roots</B> slender or fusiform-thickened basally, glabrous.
 <B>Leaves:</B> basal leaf blades with base acute; proximal cauline
leaf blades lanceolate, ovate, or elliptic, 1.8-14.1&nbsp;&#215;
0.7-2.9&nbsp;cm, base acuminate to rounded, margins entire or
serrulate, apex obtuse to acuminate.  <B>Inflorescences:</B> bracts
lanceolate.  <B>Flowers:</B> receptacle glabrous; sepals 5, spreading
or reflexed from base, 2-6&nbsp;&#215; 1-4&nbsp;mm, glabrous or
hirsute; petals 5-12, 5-14&nbsp;&#215; 2-8&nbsp;mm; nectary scales
glabrous.  <B>Heads of achenes</B> hemispheric to globose, 3-7&nbsp;&#215;
4-8&nbsp;mm; achenes 1.6-2.8&nbsp;&#215; 1.2-2&nbsp;mm, glabrous
or rarely hispid; beak lance-subulate, straight or weakly curved,
0.4-1.2&nbsp;mm. 
<P>
 Varieties 6 (6 in the flora): North
America; Mexico (Baja California).<BR>
<BR>

<P>
<B>