73. <A NAME="27101420"></A><I><B>Ranunculus aquatilis</B></I><B>
Linnaeus</B></B>, Sp. Pl. 1:
556.  1753 - White water crowsfoot, renoncule aquatique
<P>
<I>Batrachium aquatile</I>
(Linnaeus) Dumortier
<P>
<B>Stems</B>
glabrous.  <B>Leaves</B> laminate and filiform-dissected; laminate
leaf blades reniform, 3-parted, 0.4-1.1 &#215; 0.7-2.3 cm,
segments obovate or fan-shaped, shallowly cleft, margins crenate;
filiform-dissected leaves with stipules gradually tapering upward,
connate for their whole length.  <B>Flowers:</B> receptacle hispid,
rarely glabrous; sepals spreading or reflexed, 2-4 &#215;
1-2 mm, glabrous; petals 5, 4-7 &#215; 1-5 mm;
style 0.1-0.8 mm.  <B>Fruiting pedicels</B> usually recurved.
 <B>Heads of achenes</B> hemispheric to ovoid, 2-4 &#215;
2-5 mm; achenes 1-2 &#215; 0.8-1.4 mm, glabrous
or hispid; beak persistent, filiform, 0.1-1.2 mm. 
<P>
 Varieties 2 (2 in the flora): North
America; Mexico; South America; Eurasia; Australia.
<P>
 <I>Ranunculus aquatilis</I> is very
variable.  In the past it has often been treated as three or four
species and many varieties.  These segregate taxa have been based
on the size, petiolation and rigidity of the leaves (now known
to be primarily under environmental control), petal size and curvature
of the fruiting pedicel (both sometimes variable along single
stem), and number of achenes per head and length of achene beak
(which vary continuously and are not correlated with one another).
 Unless reliable characters can be found, only two of the taxa
recognized in older floras can be maintained.<BR>

<P>
<B>