2. <A NAME="27100816"></A><I><B>Ranunculus recurvatus</B></I><B>
Poiret in J. Lamarck et al</B></B>.,
Encycl. 6: 125.  1804 - Renoncule recourb&eacute;e
<P>
Varieties 2 (1 in the flora): e&nbsp;North
America; West Indies. <BR>

<P>
<B>