24. <A NAME="27100435"></A><I><B>Ranunculus arvensis</B></I><B>
Linnaeus</B></B>, Sp. Pl. 1:
555.  1753 - W2
<P>
<I>Ranunculus arvensis</I>
var. <I>tuberculatus</I> de Candolle
<P>
<B>Stems</B>
erect or ascending, sparsely pilose.  <B>Basal and lower cauline
leaf blades</B> obovate to rhombic in outline, 3-parted or 3(-5)-foliolate,
1.8-5.2&nbsp;&#215; 1.6-4.2&nbsp;cm, leaflets oblanceolate or
divided into oblanceolate or linear segments, leaflet base narrowly
acuminate, margins entire or distally dentate, apex rounded or
acuminate.  <B>Flowers</B> pedicellate; receptacle sparsely hispid;
sepals 5, spreading, 4-7&nbsp;&#215; 1-2&nbsp;mm, strigose; petals
5, 5-8&nbsp;&#215; 2-4&nbsp;mm.  <B>Heads of achenes</B> discoid,
8-9&nbsp;mm across; achenes 5-8 per head, 4-6.4&nbsp;&#215; 2.8-4.4&nbsp;mm,
faces and margin covered with long spines, glabrous; beak lance-subulate,
straight, 1.6-3.8&nbsp;mm. 
<P>
 Flowering spring (Mar-Jun).  Grasslands,
ephemeral pools, disturbed areas; 0-1200&nbsp;m; introduced; Ark.,
Calif., D.C., Ga., Idaho, Ill., Kans., La., Miss., Mo., N.J.,
N.Y., N.C., Oreg., Pa., S.C., Tenn., Utah, Wash.; South America;
native to Eurasia; Pacific Islands; Australia.<BR>

<P>
<B>