28.<A NAME="27100196"></A> <I><B>Ranunculus nivalis</B></I><B>
Linnaeus</B></B>, Sp. Pl. 1:
553.  1753 - Renoncule nivale
<P>
<B>Stems</B>
erect from short caudices, 4-22 cm, glabrous or sparsely
pilose, each with 1 flower.  <B>Roots</B> slender, 0.4-0.8 mm
thick.  <B>Basal leaves</B> persistent or deciduous, blades reniform,
3-parted, 0.6-2 &#215; 1.3-3 cm, at least lateral segments
again lobed or margins toothed, base truncate or cordate, apices
of segments rounded-apiculate.  <B>Flowers:</B> pedicels glabrous
or brown-pilose; receptacle glabrous; sepals 6-8 &#215; 3-5 mm,
abaxially densely brown-hispid; petals 5(-6), 8-11 &#215;
7-12 mm; nectary scale glabrous.  <B>Heads of achenes</B>
cylindric or ovoid-cylindric, 7-14 &#215; 5-6 mm; achenes
1.5-2.2 &#215; 1.2-1.6 mm, glabrous; beak slender, straight,
1-2 mm.  2<I>n</I> = 48.  
<P>
 Flowering late spring-summer (Jun-Aug).
 Wet or dry alpine meadows, often around late snowbeds, cliffs,
and streamsides; 0-1300 m; Greenland; Alta., B.C., Nfld.,
N.W.T., Que., Yukon; Alaska; Eurasia. <BR>

<P>
<B>