65. <A NAME="27100154"></A><I><B>Ranunculus cymbalaria</B></I><B>
Pursh</B></B>, Fl. Amer. Sept.
2: 392.  1814 - Renoncule cymbalaire - F W1
<P>
<I>Halerpestes cymbalaria</I>
(Pursh) Greene; <I>Ranunculus cymbalaria</I> var. <I>alpinus</I>
Hooker; <I>R</I>. <I>cymbalaria</I> var. <I>saximontanus</I>
Fernald 
<P>
<B>Stems</B>
dimorphic, flowering stems erect or ascending, stolons prostrate,
rooting nodally, glabrous or sparsely hirsute, not bulbous-based.
 <B>Tuberous roots</B> absent.  <B>Basal leaves</B> simple and
undivided, blades oblong to cordate or circular, 0.7-3.8 &#215;
0.8-3.2 cm, base rounded to cordate, margins crenate or crenate-serrate,
apex rounded.  <B>Flowers:</B> receptacle hispid or glabrous;
sepals spreading, 2.5-6 &#215; 1.5-3 mm, glabrous; petals
5, yellow, 2-7 &#215; 1-3 mm.  <B>Heads of achenes</B>
long-ovoid or cylindric, 6-12 &#215; 4-5(-9) mm; achenes
1-1.4(-2.2) &#215; 0.8-1.2 mm, glabrous; beak persistent,
conic, straight, 0.1-0.2 mm.  2<I>n</I> = 16. 

<P>
 Flowering late spring-summer (May-Sep).
 Bogs, marshes, ditches, stream banks, often saline, 0-3200 m;
Greenland; St. Pierre and Miquelon; Alta., B.C., Man., N.B., Nfld.,
N.W.T., N.S., Ont., P.E.I., Que., Sask., Yukon; Alaska, Ariz.,
Calif., Colo., Conn., Idaho, Ill., Iowa, Kans., Maine, Mass.,
Mich., Minn., Mo., Mont., Nebr., Nev., N.H., N.J., N.Mex., N.Y.,
N.Dak., Okla., Oreg., R.I., S.Dak., Tex., Utah, Wash., Wis., Wyo.;
Mexico; South America; Eurasia.
<P>
 Various Navaho groups used <I>Ranunculus
cymbalaria</I> as a venereal aid, an emetic, and a ceremonial
medicine.  The Kawaiisu used it as a dermatological aid (D. E.
Moerman 1986).<BR>

