43. <A NAME="27100771"></A><I><B>Ranunculus harveyi</B></I><B>
(A. Gray) Britton</B></B>,
Mem. Torrey Bot. Club 5: 159.  1894 
<P>
<I>Ranunculus abortivus</I>
Linnaeus var. <I>harveyi</I> A. Gray, Proc. Amer. Acad. Arts
21: 372.  1886 
<P>
Varieties 2 (1 in the flora): North
America; Mexico (Baja California). <BR>

<P>
<B>