68b. <A NAME="27101472"></A><I><B>Ranunculus glacialis</B></I><B>
Linnaeus var. <I>camissonis</I> (Schlechtendal) L.&nbsp;D. Benson</B></B>,
Amer. Midl. Naturalist 40: 226.  1948
<P>
<I>Ranunculus camissonis</I>
Schlechtendal, Animadv. Bot. Ranunc. Cand. 1: 12.  1819; <I>Beckwithia
camissonis</I> (Schlechtendahl) Tolmatchew; <I>Ranunculus glacialis</I>
subsp. <I>camissonis</I> (Schlechtendal) Hult&eacute;n 
<P>
<B>Stems</B>
distally brown-pilose, from short caudices.  <B>Basal leaf blades</B>
deeply 3-parted or 3-foliolate, segments or leaflets 1-2&#215;-parted,
ultimate segments oblanceolate to almost linear.  <B>Flowers:</B>
receptacle brown-pilose. 
<P>
 Flowering summer (Jun-Aug).  Wet meadows
or marshlands; 0-1200&nbsp;m; Alaska; Siberia. 
<P>
 The incorrect spelling &quot;<I>chamissonis</I>&quot;
is frequently seen. <BR>

<P>
<B>