2a.4. <A NAME="27104965"></A><I><B>Ranunculus</B></I><B>
Linnaeus (subg. <I>Ranunculus</I>) sect. <I>Flammula</I> (Webb)
Rouy &amp; Foucaud, Fl. France 1: 82.  1893 </B></B>
<P>
<I>Ranunculus</I>
subg. <I>Flammula</I> Webb in E.&nbsp;Spach, Hist. Nat. V&eacute;g.
7: 208.  1838 
<P>
<B>Plants</B>
glabrous or sometimes pilose.  <B>Stems</B> erect to decumbent
or prostrate, not bulbous-based, without bulbils.  <B>Roots</B>
basal and sometimes also nodal, sometimes tuberous-thickened proximally.
 <B>Leaves</B> basal and cauline or all cauline; basal leaves
when present similar to proximal cauline leaves; proximal cauline
leaves petiolate, blades undivided, margins entire or finely toothed;
distal cauline leaves simple, unlobed.  <B>Inflorescences</B>
1-15(-40)-flowered cymes.  <B>Flowers</B> pedicellate; sepals
deciduous soon after anthesis, 3-5; petals yellow; nectary scale
attached on 3 sides, forming pocket enclosing nectary, or sometimes
projecting as free flap shorter than pocket, glabrous or ciliate,
free margin entire or lobed; style present.  <B>Fruits</B> achenes,
1-locular; achene body globose-lenticular to globose, 1-2 times
as wide as thick, not prolonged beyond seed; achene wall thick,
smooth, not ornamented (sometimes pubescent); margins low narrow
ridge; beak much shorter than achene body.  
<P>
 Species ca. 25 (10 in the flora): widespread
except lowland tropics.
<P>
 The species of <I>Ranunculus</I> sect.
<I>Flammula</I> are distinctive and easily recognized.  Like many
amphibious plants, however, they are very variable morphologically,
and the species are difficult to define.  The taxonomic status
of the local endemic species recognized below should be reinvestigated.
 Depauperate plants of <I>R</I>.&nbsp;<I>glaberrimus</I> (<I>R</I>.
sect. <I>Epirotes</I>) may have few or none of the leaves lobed.
 Such plants were formerly treated under the name <I>R</I>.&nbsp;<I>oreogenes</I>
and referred to <I>R</I>. sect. <I>Flammula</I>.  In the treatment
of <I>R</I>.&nbsp;sect. <I>Flammula</I> below they will key to
<I>R</I>.&nbsp;<I>alismifolius</I> var. <I>alismellus</I>, from
which they differ in their usually ciliate nectary scales, larger
sepals and petals, and larger heads of achenes. 
<P>
 The name <I>Ranunculus lindheimeri</I>
Engelmann has been applied to specimens belonging to this section.
 The name has never been validly published, and its correct application
is unclear.  <BR>

<P>
<B>