60. <A NAME="27100177"></A><I><B>Ranunculus hyperboreus</B></I><B>
Rottb&oslash;ll</B></B>, Skr.
Ki&oslash;benhavnske Selsk. Laerd. Elsk. 10: 458.  1770 - Renoncule
hyperbor&eacute;ale - F
<P>
<I>Ranunculus hyperboreus</I>
subsp. <I>arnellii</I> Scheutz; <I>R</I>.&nbsp;<I>hyperboreus</I>
subsp. <I>intertextus</I> (Greene) B. M. Kapoor &amp; A.&nbsp;L&ouml;ve;
<I>R</I>.&nbsp;<I>hyperboreus</I> var. <I>samojedorum</I> (Ruprecht)
Perfiljev; <I>R</I>.&nbsp;<I>hyperboreus</I> var. <I>tricrenatus</I>
Ruprecht; <I>R</I>.&nbsp;<I>hyperboreus</I> var. <I>turquetilianus</I>
Polunin; <I>R</I>.&nbsp;<I>natans</I> C.&nbsp;A. Meyer var. <I>intertextus</I>
(Greene) L.&nbsp;D. Benson
<P>
<B>Stems</B>
prostrate, glabrous, rooting nodally.  <B>Leaves:</B> basal leaves
absent, cauline leaf blades reniform to broadly flabellate, deeply
3-lobed or 3-parted, 0.3-1.2&nbsp;&#215; 0.5-2.1&nbsp;cm, base
obtuse to cordate, lobes undivided or lateral lobes cleft, terminal
segment entire or distally crenulate, apex rounded.  <B>Flowers:</B>
receptacle glabrous; sepals 3-4, spreading or reflexed from base,
2-4&nbsp;&#215; 1-3&nbsp;mm, glabrous; petals 3-4, 2-4&nbsp;&#215;
1-3&nbsp;mm; nectary on petal surface, scale poorly developed
and forming crescent-shaped ridge surrounding but not covering
nectary; style 0.1-0.2&nbsp;mm.  <B>Heads of achenes</B> globose
or short-ovoid, 3-5&nbsp;&#215; 2-5&nbsp;mm; achenes 1-1.4&nbsp;&#215;
0.8-1.2&nbsp;mm, glabrous; beak linear, curved, 0.1-0.4&nbsp;mm.
 2<I>n</I>&nbsp;=&nbsp;32.  
<P>
 Flowering late spring-summer (Jun-Aug).
 Floating in shallow water or stranded on exposed mud at margins
of streams and ponds and open wet soil and marshes, in tundra
or boreal or subalpine forest; 0-3400&nbsp;m; Greenland; Alta.,
B.C., Man., Nfld., N.W.T., Ont., Que., Sask., Yukon; Alaska, Colo.,
Idaho, Mont., Nev., Utah, Wyo.; Eurasia. 
<P>
 Specimens of <I>Ranunculus hyperboreus</I>
from the central and southern Rocky Mountains have the leaves
always cordate and the fruiting heads always 4-5&nbsp;mm; they
have been separated as <I>R</I>.&nbsp;<I>hyperboreus</I> subsp.
<I>intertextus</I>.  Although Arctic specimens are more variable,
they often have shallowly cordate leaf bases and equally large
heads of achenes, so segregation of the subspecies seems inappropriate.
<BR>

<P>
<B>