72. <A NAME="27100786"></A><I><B>Ranunculus lobbii</B></I><B>
(Hiern) A. Gray</B></B>,
Proc. Amer. Acad. Arts 21: 364.  1886 - E
<P>
<I>Ranunculus hydrocharis</I>
Spenner f. <I>lobbii</I> Hiern, J. Bot. 9: 66.  1871
<P>
<B>Stems</B>
glabrous.  <B>Leaves</B> laminate and filiform-dissected; laminate
leaf blades reniform in outline, deeply 3-parted, 0.5-0.8 &#215;
0.9-1.5 cm, segments elliptic or obovate, margins sometimes
notched; filiform-dissected leaves sometimes few and inconspicuous,
stipules gradually tapering upward, connate for whole length,
mostly petiolate.  <B>Flowers:</B> receptacle glabrous; sepals
spreading, 2-3 &#215; 1-1.5 mm, glabrous; petals 5,
4-6 &#215; 2-5 mm; style 1-1.5 mm.  <B>Fruiting
pedicels</B> recurved.  <B>Heads of achenes</B> hemispheric, 3 &#215;
4-5 mm; achenes 2-2.4 &#215; 1.4-1.8 mm, glabrous;
beak deciduous, sometimes leaving stub to 0.2 mm. 
<P>
 Flowering late winter-spring (Mar-May).
 Shallow ponds and vernal pools; 0-300 m; B.C.; Calif., Oreg.
<BR>

<P>
<B>