31. <A NAME="27100753"></A><I><B>Ranunculus eschscholtzii</B></I><B>
Schlechtendal</B></B>, Animadv.
Bot. Ranunc. Cand. 2: 16.  1820
<P>
<B>Stems</B>
erect or decumbent from short or long caudices, 4-27 cm,
glabrous, each with 1-3 flowers.  <B>Roots</B> slender, 0.4-1.6 mm
thick.  <B>Basal leaves</B> persistent, blades reniform or cordate
to obovate or broadly oblong, lobed or 3-parted, 0.5-4.1 &#215;
0.8-3.7 cm, segments again 1(-2)&#215;-lobed, base obtuse
to cordate, apices of segments rounded in outline.  <B>Flowers:</B>
pedicels glabrous; receptacle glabrous or sparsely pilose; sepals
4-8 &#215; 2-6 mm, abaxially glabrous or pilose; petals
5-8, 6-16 &#215; 4-16 mm; nectary scale glabrous.  <B>Heads
of achenes</B> cylindric or ovoid, 5-10 &#215; 4-7 mm;
achenes 1.4-2 &#215; 1-1.6 mm, glabrous or sparsely
pubescent; beak lanceolate or subulate, straight (sometimes curved
when immature), 0.6-1.8 mm. 
<P>
 Varieties 6 (5 in the flora): North
America; e Siberia. <BR>

<P>
<B>