31d. <A NAME="27100757"></A><I><B>Ranunculus eschscholtzii</B></I><B>
Schlechtendal var. <I>trisectus</I> (B. L. Robinson) L. D.
Benson</B></B>, Amer. J. Bot.
23: 170.  1936 - E
<P>
<I>Ranunculus trisectus</I>
Eastwood ex B. L. Robinson, Proc. Amer. Acad. Arts 45: 394.
 1910 
<P>
<B>Stems:</B>
caudex 2-5 cm, sometimes sheathed with persistent leaf bases
and sometimes with few or none.  <B>Basal leaf blades</B> cordate
or semicircular, 3-parted, 0.8-2.1 &#215; 1.5-3.5 cm,
all segments again 1-2&#215;-lobed or -parted, base truncate or
cordate, at least some of middle segments lobed and toothed or
2&#215;-lobed, ultimate segments and sinuses rounded to rounded-acute.
 <B>Flowers:</B> petals 7-11 mm.
<P>
 Flowering summer (Jul-Aug).  Open rocky
slopes and meadows; 900-3500 m; Idaho, Oreg., Wyo. <BR>

<P>
<B>