73a. <A NAME="27101856"></A><I><B>Ranunculus aquatilis</B></I><B>
Linnaeus var. <I>aquatilis</I></B></B>
- F 
<P>
<I>Ranunculus aquatilis</I>
var. <I>hispidulus</I> Drew; <I>R</I>. <I>trichophyllus</I>
(Chaix) Bosch var. <I>hispidulus</I> (Drew) W. B. Drew 
<P>
<B>Leaves</B>
of 2 types: laminate and filiform-dissected.  <B>Achenes</B> 1.6-2 &#215;
1-1.4 mm; beak 0.1-0.4 mm.  2<I>n</I> = 48
(Europe).  
<P>
 Flowering spring-summer (Apr-Sep).
 Marshes, ditches, streams, ponds, and lakes; 0-2500 m; B.C.,
N.W.T.; Alaska, Calif., Idaho, Mont., Nev., Oreg., Utah, Wash.,
Wyo.; South America; Eurasia.
<P>
 Plants growing in deep water may flower
without producing floating leaves.  Such plants cannot be distinguished
from specimens of <I>Ranunculus aquatilis</I> var. <I>diffusus</I>
except by culture in shallow water.<BR>

<P>
<B>