68a. <A NAME="27101648"></A><I><B>Ranunculus glacialis</B></I><B>
Linnaeus var. <I>glacialis</I> </B></B>
<P>
<B>Stems</B>
glabrous or with few hairs at nodes, from well-developed caudices.
 <B>Basal leaves</B> compound, leaflets parted and lobed, ultimate
segments elliptic to oblanceolate.  <B>Flowers:</B> receptacle
glabrous.  2<I>n</I>&nbsp;=&nbsp;16.  
<P>
 Flowering summer (Jun-Aug).  Open,
often rocky, places, in meltwater streams and margins of rivers;
0-2100&nbsp;m; Greenland; Europe. <BR>

<P>
<B>