54. <A NAME="27100453"></A><I><B>Ranunculus flammula</B></I><B>
Linnaeus</B></B>, Sp. Pl. 1:
548.  1753 - Spearwort
<P>
<B>Stems</B>
erect to prostrate, usually rooting nodally, glabrous or sparsely
strigose.  <B>Roots</B> not thickened basally, glabrous.  <B>Proximal
cauline leaf blades</B> lanceolate to oblanceolate or filiform,
0.7-6.5&nbsp;&#215; 0.04-1&nbsp;cm, base acute to filiform, margins
entire or serrulate, apex acute to filiform.  <B>Inflorescences:</B>
bracts lanceolate to oblanceolate.  <B>Flowers:</B> receptacle
glabrous; sepals 5, spreading or weakly reflexed, 1.5-4&nbsp;&#215;
1-2&nbsp;mm, glabrous or appressed-hispid; petals 5-6, 2.5-7&nbsp;&#215;
1-4&nbsp;mm; nectary scales glabrous.  <B>Heads of achenes</B>
globose or hemispheric, 2-4&nbsp;&#215; 3-4&nbsp;mm; achenes 1.2-1.6&nbsp;&#215;
1-1.4&nbsp;mm, glabrous; beak lanceolate to linear, straight or
curved, 0.1-0.6&nbsp;mm. 
<P>
 Varieties 3 (3 in the flora): North America; Eurasia. 
<P>
 In Eurasia, this taxon is usually treated
as two closely related species.  <I>Ranunculus flammula</I> in
the strict sense has relatively stout (0.8-3&nbsp;mm thick) stems
that are erect or ascending from prostrate bases, lanceolate to
oblanceolate leaves 3-10&nbsp;mm broad, sepals 3-4 mm, and petals
5-7&nbsp;&#215; 3-4&nbsp;mm.  <I>Ranunculus reptans</I> has slender
(0.2-1&nbsp;mm thick) stems that are usually prostrate except
for the pedicels, leaves linear or filiform, to 2&nbsp;mm broad,
sepals 1-2&nbsp;mm, and petals 3-5&nbsp;&#215; 1-2.5&nbsp;mm.
 In North America, this distinction holds up relatively well east
of the Great Plains, where plants with the characteristics of
<I>R</I>.&nbsp;<I>flammula</I> in the strict sense are found in
eastern Canada (Newfoundland and northern Nova Scotia) while plants
with the characteristics of <I>R</I>.&nbsp;<I>reptans</I> are
widespread.  In the western part of the continent, however, the
situation is much less clear.  Collections from the Great Plains
and Rocky Mountains resemble <I>R</I>.&nbsp;<I>reptans</I> in
most characters, but they often have broader leaves (up to 5&nbsp;mm
broad).  Plants from farther west are very confusing; specimens
showing the typical morphology of <I>R</I>.&nbsp;<I>flammula</I>
in the strict sense and <I>R</I>.&nbsp;<I>reptans</I> are found
over a wide area, but most specimens from this area combine the
characteristics of the two taxa in various ways.  For this reason,
it is not possible to separate these taxa at the species level.
 Three varieties are usually recognized, but further study will
probably alter the varietal classification (see comments below,
under <I>R</I>. <I>flammula</I> var. <I>ovalis</I>).<BR>

<P>
<B>
