2g. <A NAME="50076415"></A><I><B>Ranunculus</B></I><B> Linnaeus
subg. <I>Coptidium</I> (Nyman) L.&nbsp;D. Benson, Amer. J. Bot.
27: 807.  1940</B></B>
<P>
<I>Ranunculus</I>
V. <I>Coptidium</I> Nyman, Consp. Fl. Eur. 1: 13.  1878
<P>
<B>Plants</B>
glabrous.  <B>Stems</B> creeping, not bulbous-based, without bulbils.
 <B>Roots</B> nodal, never tuberous.  <B>Leaves</B> cauline, simple,
petiolate; blade deeply 3-parted to base, as wide as long, segments
toothed or shallowly lobed.  <B>Inflorescences</B> axillary, solitary
flowers.  <B>Flowers</B> pedicellate (pedicels naked, rarely leafy);
sepals deciduous soon after anthesis, 3; petals 5-8, yellow; nectary
scale attached on 3 sides, forming pocket, glabrous, free margin
entire; style present.  <B>Fruits</B> achenes, 1-locular; achene
body oblong-lenticular, 1.9-2.6 times as wide as thick, prolonged
beyond seed as corky distal appendage; wall thick, smooth; margin
low corky band; beak much shorter than achene body.  
<P>
 Species 1 (1 in the flora): North America,
Eurasia.<BR>

<P>
<B>