

<P><B>12. ROEMERIA Medikus</B>,
Ann. Bot. (Usteri) 1(3): 15. 1792 - [For Johann Jakob Roemer, 1763-1819,
Swiss physician and naturalist at Z&uuml;rich]</P>

<P><B>Herbs</B>, annual, caulescent; sap yellow.
<B>Stems</B> leafy. <B>Leaves:</B> basal usually few, rosulate, indistinctly
petiolate; cauline usually few and remote, alternate, proximal indistinctly
petiolate, distal sessile; blade 2-3&times; pinnately lobed. <B>Inflorescences</B>
axillary and terminal, 1-flowered; bracts present. <B>Flowers:</B> sepals
2, distinct; petals 4; stamens many; pistil 2-4(-6)-carpellate; ovary 1-locular;
style absent or obscure; stigmas 2-4(-6), radiate. <B>Capsules</B> slenderly
cylindric or terete, 2-4(-6)-valved, dehiscing from apex almost to base;
peduncle straight or often recurved. <B>Seeds</B> many, aril absent.</P>

<P>Species 3-5 (1 in the flora): North America,
s Europe, sw, sc Asia.<BR>
<BR>
<BR>
<B>