1. <A NAME="24000148"></A><I>Roemeria refracta</I> de Candolle</B>,
Syst. Nat. 2: 93. 1821 - F W1</P>

<P><B>Plants</B> to 6&nbsp;dm, glabrescent to
sparsely setose. <B>Stems</B> simple or usually branching. <B>Leaves</B>
to 10&nbsp;cm; petiole to 2&nbsp;cm; blade with margins entire; ultimate
lobes lanceolate to linear, usually tipped with short, delicate bristles.
<B>Inflorescences:</B> peduncle to 15&nbsp;cm. <B>Flowers:</B> petals to
4&nbsp;cm, bright red with black basal spot sometimes edged white; filaments
dark violet to blackish. <B>Capsules</B> to 10&nbsp;cm, straight to slightly
curved, glabrous to sparsely hirsute or setose, valves usually tipped with
distinct awns extending beyond stigmas. <B>Seeds</B> gray, reticulate-pitted.</P>

<P>Flowering late spring-early summer. Cultivated
fields; 1200-1500&nbsp;m; introduced; Utah; s&nbsp;Europe; sw,&nbsp;sc&nbsp;Asia.</P>

<P><I>Roemeria refracta</I> has been introduced
in Cache and Box Elder counties in Utah, and perhaps elsewhere in temperate
and subtropical North America. It is closely related to, and not always
clearly distinct from, <I>R</I>.&nbsp;<I>hybrida</I> (Linnaeus) de Candolle,
which also ranges from southern Europe to south-central Asia and could
be introduced into North America. The most obvious difference between the
two species is in petal coloration--bright red with a blackish basal spot
sometimes edged with white in <I>R</I>.&nbsp;<I>refracta</I>, and violet
with or without a blackish basal spot in <I>R</I>.&nbsp;<I>hybrida</I>--a
distinction that apparently is consistent throughout their generally overlapping
native ranges. However, some Asian and southeast European plants, and some
of the North American introductions, are intermediate in one or both of
the other characters that have been used to separate the two species: the
nature of any capsule pubescence, and the presence of awns on the tips
of the capsule valves. Typical <I>R</I>.&nbsp;<I>refracta</I> has capsules
that are either glabrous or appressed-bristly, with valves bearing distinct
terminal awns that clearly extend beyond the level of the stigmas, whereas
typical <I>R</I>.&nbsp;<I>hybrida</I> has capsules that are either glabrous
or spreading-bristly, with valves not awn-tipped. In some specimens of
<I>R</I>.&nbsp;<I>refracta</I>, though, capsule pubescence is spreading
or even patent rather than appressed, and in some the valve awns are reduced
or absent. As well, some plants otherwise attributable to <I>R</I>.&nbsp;<I>hybrida</I>
have capsule pubescence that is more appressed than spreading.<BR>
</P>

