

<P><B>13. ROMNEYA Harvey</B>,
London J. Bot. 4: 74. 1845 - Matilija-poppy [for Rev. T. Romney Robinson,
1792-1882, Irish astronomer at Armagh and friend of Thomas Coulter, botanist
at Dublin]</P>

<P><B>Subshrubs or shrubs,</B> large, glaucous,
from creeping rhizomes; sap clear. <B>Stems</B> herbaceous above base,
branching, leafy, sparsely pilose or glabrate. <B>Leaves</B> alternate,
petiolate; blade gray-green, 1-2&times; pinnately deeply lobed; primary
lobes 3-5, lanceolate or ovate. <B>Inflorescences</B> terminal, 1-flowered;
bracts present. <B>Flowers:</B> sepals 3, distinct; petals 6, white, obovate,
crinkled; stamens many; anthers yellow; pistil 7-12-carpellate; ovary oblong
to ovoid, 1-locular or incompletely to completely multilocular by placental
intrusion; style absent; stigmas 7-12, flattened, coherent proximally,
radiate-ascending, velvety. <B>Fruits</B> capsular, oblong to ovoid, bristly,
dehiscing from apex. <B>Seeds</B> many, ovoid, 1.3-1.5&nbsp;mm, aril absent.
<I>x</I>&nbsp;=&nbsp;19.</P>

<P>Species 2 (2 in the flora): California and
nw Mexico (Baja California).</P>

<P>Both species of <I>Romneya</I>, closely related
and sometimes merged, are cultivated widely in warm regions for their showy,
white flowers, which are the largest in the family.<BR>
<BR>
<BR>
<B>