2. <A NAME="24000150"></A><I>Romneya trichocalyx</I> Eastwood</B>, Proc.
Calif. Acad. Sci., ser. 3, 1: 133, plate 11. 1898</P>

<P><I>Romneya coulteri</I> var. <I>trichocalyx</I>
(Eastwood) Jepson</P>

<P><B>Plants</B> 10-25&nbsp;dm. <B>Leaves</B>
3-10&nbsp;cm. <B>Flowers:</B> calyx not or only indistinctly beaked at
bud apex, appressed-pubescent; petals 4-8&nbsp;cm. <B>Capsules</B> 2.5-3.5&nbsp;cm.
<B>Seeds</B> light to medium brown, smooth. 2<I>n</I>&nbsp;=&nbsp;38.</P>

<P>Flowering spring-summer (Apr-Aug). Dry washes,
canyons; less than 1100&nbsp;m; Calif.; Mexico (Baja California).<BR>
</P>

