1. <A NAME="24000149"></A><I>Romneya coulteri</I> Harvey</B>, London
J.&nbsp;Bot. 4: 75, plate 3. 1845 - E F</P>

<P><B>Plants</B> 10-25&nbsp;dm. <B>Leaves</B>
5-20&nbsp;cm. <B>Flowers:</B> calyx distinctly beaked at bud apex, glabrous;
petals 6-10&nbsp;cm. <B>Capsules</B> 3-4&nbsp;cm. <B>Seeds</B> dark brown,
papillose. 2<I>n</I>&nbsp;=&nbsp;38.</P>

<P>Flowering spring-summer (Apr-Aug). Dry washes,
canyons; less than 1200&nbsp;m; Calif.</P>

<P><I>Romneya coulteri</I> shares with <I>Hibiscus
lasiocarpos</I> the distinction of having the largest flowers of any plant
native to California.<BR>
<BR>
<BR>
<B>