1. <A NAME="24000151"></A><I>Sanguinaria canadensis</I> Linnaeus</B>,
Sp. Pl. 1: 505. 1753 - E F</P>

<P><I>Sanguinaria australis</I> Greene; <I>S</I>.&nbsp;<I>canadensis</I>
var. <I>rotundifolia</I> (Greene) Fedde; <I>S</I>.&nbsp;<I>dilleniana</I>
Greene</P>

<P><B>Plants</B> to 4(-6)&nbsp;dm, glabrous;
rhizomes branching. <B>Leaves:</B> petiole to 15&nbsp;cm; blade orbiculate-reniform
to cordate-sagittate, mostly palmately 5-7-lobed, to 25&nbsp;cm wide; margins
scalloped; adaxial surface glaucous. <B>Inflorescences:</B> scape to 15&nbsp;cm.
<B>Flowers:</B> sepals ca. 1&nbsp;cm; petals white or pinkish, oblong to
oblanceolate, 15-30&nbsp;mm; style to 3&nbsp;mm. <B>Capsules</B> fusiform,
35-60&nbsp;mm, glabrous. <B>Seeds</B> black to red-orange, obscurely reticulate.
2<I>n</I>&nbsp;=&nbsp;18 (cult.).</P>

<P>Flowering earliest spring. Moist to dry woods
and thickets, often on flood plains and shores or near streams on slopes,
less frequently in clearings and meadows or on dunes, rarely in disturbed
sites; 0-1300&nbsp;m; Man., N.B., N.S., Ont., Que.; Ala., Ark., Conn.,
Del., D.C., Fla., Ga., Ill., Ind., Iowa, Kans., Ky., La., Maine, Md., Mass.,
Mich., Minn., Mo., Nebr., N.H., N.J., N.Y., N.C., N.Dak., Ohio, Okla.,
Pa., R.I., S.C., S.Dak., Tenn., Tex., Vt., Va., W.Va., Wis.</P>

<P><I>Sanguinaria canadensis</I> has been reported
from Mississippi, but no specimens are known.</P>

<P>The leaves of <I>Sanguinaria canadensis</I>
are quite variable in shape and size, and the scape and petals vary considerably
in length. In some plants the petals are clearly differentiated into sets
of two different sizes, but in others the differentiation is barely perceptible.
Extremes of variation in these characters have been the bases for recognizing
several forms, varieties, and even distinct species, but intermediates
of all degrees are found and the variation is only loosely correlated with
geography or habitat. Thus, it seems best to limit formal recognition to
a single, quite variable species.</P>

<P>Although bloodroot is an ingredient of some
compound cough remedies, it contains the poisonous alkaloid sanguinarine,
and the U.S. Food and Drug Administration has characterized <I>Sanguinaria
canadensis</I> as an unsafe herb (J.&nbsp;A. Duke 1985). Native Americans
used it medicinally to treat ulcers and sores, croup, cramps, burns, tapeworms,
fevers, diarrhea, and irregular periods, in cough syrups, as a spring emetic
and blood purifier, to stop vomiting, and as a love charm, as well as in
cermonial face paint (D.&nbsp;E. Moerman 1986).<BR>
</P>

