

<P><B>4. SANGUINARIA Linnaeus</B>,
Sp. Pl. 1: 505. 1753; Gen. Pl. ed. 5, 223. 1754 - Bloodroot, puccoon, sanguinaire
du Canada, sang-dragon [Latin <I>sanguis</I>, blood, in reference to color
of sap]</P>

<P><B>Herbs</B>, perennial, scapose, from thick
rhizomes; sap orange to red. <B>Leaves</B> 1, or few and rosulate, sheathing-petiolate;
blade 1&times; palmately lobed. <B>Inflorescences</B> terminal, 1(-3)-flowered;
bracts absent. <B>Flowers:</B> sepals 2, distinct; petals 6-12, unequal;
stamens many; pistil 2-carpellate; ovary 1-locular; style &plusmn;&nbsp;distinct;
stigma 2-lobed. <B>Capsules</B> erect, 2-valved, dehiscing from base. <B>Seeds</B>
few to many, arillate. <I>x</I>&nbsp;=&nbsp;9.</P>

<P>Species 1: North America.</P>

<P><I>Sanguinaria</I> is similar, and probably
most closely related, to <I>Eomecon</I> Hance of eastern Asia, which is
monotypic also.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Greene, E.&nbsp;L. 1905. Suggestions regarding <I>Sanguinaria</I>.
Pittonia 5: 306-308. Harshberger, J.&nbsp;W. 1903. Juvenile and adult forms
of bloodroot. Pl.&nbsp;World 6: 106-108. Nieuwland, J.&nbsp;A. 1910. Notes
on the seedlings of bloodroot. Amer. Midl. Naturalist 1: 199-203.<BR>
<BR>
<BR>
<B>