1.<A NAME="17804221"></A><I>Sassafras albidum</I>
(Nuttall) Nees</B>, Syst. Laur., 490.
1836 - Sassafras, white sassafras, fil&eacute;, gombo fil&eacute; - E F
W1</P>

<P><I>Laurus albida</I> Nuttall, Gen. N. Amer.
Pl. 1: 259. 1818; <I>L</I>. <I>sassafras</I> Linnaeus; <I>Sassafras albidum</I>
var. <I>molle</I> (Rafinesque) Fernald; <I>S</I>.&nbsp;<I>officinalis</I>
T.&nbsp;Nees ex C.&nbsp;H. Ebermaier; <I>S</I>.&nbsp;<I>sassafras</I> (Linnaeus)
H.&nbsp;Karsten; <I>S</I>.&nbsp;<I>variifolium</I> (Salisbury) Kuntze</P>

<P><B>Trees</B>, to 35&nbsp;m. <B>Twigs</B> pale
green with darker olive mottling, terete. <B>Leaf blade</B> ovate to elliptic,
unlobed or 2-3-lobed (rarely more), 10-16 &times; 5-10&nbsp;cm, apex obtuse
to acute. <B>Inflorescences</B> to 5&nbsp;cm, silky-pubescent; floral bract
to 1&nbsp;cm. <B>Flowers:</B> fragrant (sweet, lemony), glabrous; tepals
greenish yellow. <B>Staminate flowers:</B> inner 3 stamens with 2 conspicuously
stalked glands near base of filament, filament slender; pistillodes usually
absent (sometimes present in terminal flower of inflorescence). <B>Pistillate
flowers:</B> staminodes 6; style slender, 2-3&nbsp;mm; stigma capitate.
<B>Drupe</B> ca. 1&nbsp;cm; pedicel reddish, club-shaped, &plusmn;&nbsp;fleshy.
2<I>n</I>&nbsp;=&nbsp;48.</P>

<P>Flowering spring (Apr-May). Habitat varied,
forests, woodlands, fencerows, old fields (sometimes aggressively colonial),
and disturbed areas; 0-1500&nbsp;m; Ont.; Ala., Ark., Conn., Del., D.C.,
Fla., Ga., Ill., Ind., Iowa, Kans., Ky., La., Maine, Md., Mass., Mich.,
Miss., Mo., N.H., N.J., N.Y., N.C., Ohio, Okla., Pa., R.I., S.C., Tenn.,
Tex., Vt., Va., W.Va.</P>

<P>Infraspecific taxa have been based on amount
of pubescence of leaves and color of young twigs; these taxa are not recognized
here.</P>

<P>Traditionally, &quot;sassafras tea&quot; was
prepared by steeping the bark of the roots (D.&nbsp;S. Correll and M.&nbsp;C.
Johnston 1970). It was once considered a relatively pleasant drink. Several
indigenous populations used sassafras twigs as chewing sticks, and sassafras
root is used occasionally in commercial dental poultices. Sassafras root
was one of the ingredients of root beer; this use has now been banned.</P>

<P>Safrole (<I>p</I>-allylyn ethylenediozybenzene)
is found as a minor component in many Lauraceae and as the principal component
(80%) of sassafras oil. It is suspected of causing contact dermatitis and
of being hallucinogenic, especially in large doses; it is also considered
to be both carcinogenic and hepatotoxic (W.&nbsp;H. Lewis and M.&nbsp;P.&nbsp;F.
Elvin-Lewis 1977).<BR>
</P>

