

<P><B>3. SASSAFRAS J. Presl
in F. Berchtold &amp; J. S. Presl</B>.,
Prir. Rostlin 2: 30, 67. 1825 - [Spanish <I>sasafras</I>]</P>

<P><B>Trees</B>, deciduous. <B>Bark</B> red-brown,
aromatic, thick, furrowed on old trunks. <B>Leaves</B> alternate, aromatic.
<B>Leaf blade</B> pinnately veined, lobed or unlobed, basal veins more
strongly developed than distal ones, papery; surfaces abaxially glaucous,
glabrous or slightly pubescent; domatia absent. <B>Inflorescences</B> appearing
before or with young leaves, situated in axils of bracts surrounding terminal
buds, racemes or racemose panicles, flowers subtended by 1&nbsp;linear
bract. <B>Flowers</B> unisexual, staminate and pistillate on different
plants; tepals deciduous, yellowish, equal, pubescent. <B>Staminate flowers:</B>
stamens 9, anthers 4-locular, 4-valved, introrse. <B>Pistillate flowers:</B>
staminodes absent or present; ovary ovoid. <B>Drupe</B> blue, ovoid, seated
in shallow, single-rimmed cupule.</P>

<P>Species 2 or 3 (1 in the flora): North America,
Asia.</P>

<P><B>