

<P><B>2. SAURURUS Linnaeus</B>,
Sp. Pl. 1: 341. 1753; Gen. Pl. ed. 5, 159. 1754 - Lizard's-tail [Greek
<I>sauros</I>, lizard, and <I>oura</I>, tail]</P>

<P><B>Stems</B> simple or branched, nodes more
than 2. <B>Leaves</B> cauline. <B>Inflorescences</B> opposite leaves and/or
terminal, racemes, lax, spikelike, not subtended by petaloid bracts. <B>Flowers</B>
175-350, not coalescent; stamens (3-)6(-8), hypogynous or epigynous; pistil
1, (3-)4-5(-7)-carpellate, connate only at base; placentation marginal;
ovules 2 per placenta (only 1 developing into seed). <B>Fruits</B> schizocarps;
mericarps dry, indehiscent. <B>Seed</B> 1 per mericarp. <I>x</I>&nbsp;=&nbsp;11.</P>

<P>Species 2 (1 in the flora): e North America,
e Asia.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Baldwin, J.&nbsp;T. and B.&nbsp;M. Speese. 1949. Cytogeography of <I>Saururus
cernuus</I>. Bull. Torrey Bot. Club 76: 213-216. Hall, T.&nbsp;F. 1940.
The biology of <I>Saururus cernuus</I> L. Amer. Midl. Naturalist 24: 253-260.
Holm,&nbsp;T. 1926. <I>Saururus cernuus</I> L. A morphological study. Amer.
J.&nbsp;Sci., ser. 5, 12: 162-168. Johnson, D.&nbsp;S. 1900. On the development
of <I>Saururus cernuus</I> L. Bull. Torrey Bot. Club 27: 365-372. Tucker,
S.&nbsp;C. 1975. Floral development in <I>Saururus cernuus</I> (Saururaceae).
1. Floral initiation and stamen development. Amer. J.&nbsp;Bot. 62: 993-1007.
Tucker, S.&nbsp;C. 1976. Floral development in <I>Saururus cernuus</I>
(Saururaceae). 2. Carpel initiation and floral vasculature. Amer. J.&nbsp;Bot.
63: 289-301. Tucker, S.&nbsp;C. 1979. Ontogeny of the inflorescence of
<I>Saururus cernuus</I> (Saururaceae). Amer. J.&nbsp;Bot. 66: 227-236.</P>

<P><B>