

<P><B>6. SAURURACEAE
E. Meyer - Lizard's-tail Family</B></P>

<P><B>Herbs</B>, perennial, rhizomatous, aromatic,
glabrous to pubescent, in wet places. <B>Stems</B> simple or branched;
vascular strands in 1(-2) ring(s). <B>Leaves</B> basal and/or cauline,
alternate, simple; stipules present, adnate to petioles; petioles usually
present. <B>Leaf blade:</B> margins entire. <B>Inflorescences</B> terminal,
compact, conic spikes or lax, spikelike racemes terminal and/or opposite
leaves. <B>Flowers</B> bisexual; perianth absent, each flower subtended
by nonpeltate bract; stamens (3-)6(-8), hypogynous or epigynous; anther
2-locular; pistil 1, 3-5(-7)-carpellate; ovary 1- or 3-5(-7)-locular; placentation
parietal or marginal; ovules 2 or 18-40; styles and stigmas distinct. <B>Fruits</B>
capsules or schizocarps. <B>Seeds</B> 1 or many (-40); endosperm scanty;
perisperm abundant; embryo minute.</P>

<P>Genera 5, species 7 (2 genera, 2 species in
the flora): North America, Central America, Asia.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Engler, H.&nbsp;G.&nbsp;A. 1888. Saururaceae. In: H.&nbsp;G.&nbsp;A.
Engler and K.&nbsp;Prantl, eds. 1887-1915. Die nat&uuml;rlichen Pflanzenfamilien....
254 fasc. Leipzig. Fasc. 14[III,1], pp. 1-3. Raju, M.&nbsp;V.&nbsp;S. 1961.
Morphology and anatomy of the Saururaceae. I. Floral anatomy and embryology.
Ann. Missouri Bot. Gard. 48: 107-124. Wood, C.&nbsp;E.&nbsp;Jr. 1971b.
The Saururaceae in the southeastern United States. J.&nbsp;Arnold Arbor.
52: 479-485.</P>

