1.<A NAME="29000003"></A><I>Saururus cernuus</I>
Linnaeus</B>, Sp. Pl. 1: 341. 1753 - Lizard's-tail,
lezardelle pench&eacute;e - E F W2</P>

<P><B>Herbs</B>, 15-120&nbsp;cm, mostly pubescent
when young, often glabrate, having rhizomes, often with adventitious roots.
<B>Leaves</B> 4-25&nbsp;cm; petiole 1-10&nbsp;cm; blade ovate, 2-17 &times;
1-10&nbsp;cm, base cordate, apex acuminate. <B>Racemes</B> nodding to erect,
fragrant, narrow, 5-35&nbsp;cm. <B>Floral bracts</B> green, boat-shaped,
1.5-3&nbsp;mm (distinct portion), adnate to pedicel. <B>Schizocarps</B>
brown, 1.5-3&nbsp;mm, rugose. <B>Seed</B> brown, 1-1.3 &times; 0.7-1&nbsp;mm,
smooth. 2<I>n</I>&nbsp;=&nbsp;22.</P>

<P>Flowering spring-summer, sometimes early fall.
Wet soil, fresh or slightly brackish water to depth of 5&nbsp;dm; 0-500&nbsp;m;
Ont., Que.; Ala., Ark., Conn., Del., Fla., Ga., Ill., Ind., Kans., Ky.,
La., Md., Mich., Miss., Mo., N.J., N.Y., N.C., Ohio, Okla., Pa., R.I.,
S.C., Tenn., Tex., Va., W.Va.</P>

<P>Some American Indians used <I>Saururus cernuus</I>
for medicinal purposes (D.&nbsp;E. Moerman 1986).<BR>
<BR>
</P>

