

<P><B>10. SCHISANDRACEAE
Blume - Star-vine Family</B></P>

<P><B>Shrubs</B>, evergreen or deciduous, scandent
or twining, glabrous. <B>Leaves</B> alternate, simple, without stipules,
petiolate. <B>Leaf blade</B> often fragrant (especially when bruised or
crushed), translucent-dotted, ovate to lanceolate, pinnately veined, thin
to leathery, margins entire to remotely dentate. <B>Flowers</B> unisexual,
staminate and pistillate on same [different] plants, axillary, solitary,
pedunculate; peduncle bracteolate; perianth hypogynous; tepals 5-20, imbricate,
distinct, in 2[-3] series, all similar but innermost more petaloid. <B>Staminate
flowers:</B> stamens 4-80, hypogynous, distinct or connate partially or
completely into fleshy, globose or discoid mass, in 1-several series; anthers
basifixed, 4-locular, longitudinally dehiscent; pollen 3- or 6-aperturate;
pistil absent. <B>Pistillate flowers:</B> pistils simple, 6-300, distinct,
closely set in few to many series on globose to elongate axis, attached
obliquely; placentation marginal to pendulous; ovules [1-]2-3[-10] per
locule; stigmatic surface adaxial; stamens absent. <B>Fruits</B> aggregates
of berries, produced on elongate axis. <B>Seeds</B> [1-]2-3[-10] per berry,
flattened; endosperm copious, oily; embryo small.</P>

<P>Genera 2, species 47 (1 genus, 1 species in
the flora): North America, chiefly e&nbsp;Asia.</P>

<P>The Chinese drug wu-wei-zi and its substitutes
are obtained from species of <I>Schisandra</I>. The drug is considered
a potential source of expectorants, immune response boosters, and anti-ulcer
compounds. Several lignan compounds from species of the genus are used
as a treatment for hepatitis and as central nervous-system depressants
(S.&nbsp;Foster 1989).</P>

<P>Schisandraceae were considered closely allied
to Illiciaceae by A.&nbsp;C. Smith (1947). Embryologic studies (R.&nbsp;N.
Kapil and S.&nbsp;Jalan 1964) were interpreted as showing that the former
are considerably removed from the latter. In his monograph, A.&nbsp;C.
Smith also postulated a close relationship between Schisandraceae and Magnoliaceae.
J.&nbsp;Hutchinson (1973) stated that Schisandraceae were probably derived
from Magnoliaceae. Studies of fossil pollen led J.&nbsp;W. Walker and A.&nbsp;G.
Walker (1984) to conclude that Schisandraceae and Illiceaceae are closely
allied with Winteraceae. Based on analysis of nucleotide sequences from
the plastid gene <I>rbc</I>L, however, M.&nbsp;W. Chase et al. (1993) and
Qiu Y.&nbsp;L. et al. (1993) concluded that Schisandraceae and Illiciaceae
are closely allied and closely related to Austrobaileyaceae but distant
from Winteraceae.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Hutchinson, J. 1973. The Families of Flowering Plants, ed. 3. Oxford.
Pp. 161-162. Smith, A.&nbsp;C. 1947. The families Illiciaceae and Schisandraceae.
Sargentia 7: 1-224.<BR>
</P>

