1.<A NAME="19300126"></A><I>Schisandra
glabra</I> (Brickell) Rehder</B>, J.&nbsp;Arnold Arbor. 25: 131. 1944 -
Star-vine - E F</P>

<P><I>Stellandria glabra</I> Brickell, Med. Repos.
6(3): 327. 1803; <I>Schisandra coccinea</I> Michaux</P>

<P><B>Plants</B> sprawling or twining over shrubs
and trees, to 20&nbsp;m or more. <B>Bark</B> gray-brown, flaking; pith
tan, becoming dark brown, continuous; young twigs pale brown and smooth,
older stems to 4 cm diam. <B>Leaves:</B> petiole slender, 1-7&nbsp;cm.
<B>Leaf blade</B> ovate-elliptic to cordate, 2-13 &times; 1-8&nbsp;cm (larger
on vigorous shoots), thin, margins entire to remotely dentate, glabrous.
<B>Flowers</B> unisexual, staminate and pistillate on same plant; peduncle
slender, 2.5-5&nbsp;cm; outer tepals greenish white, inner tepals rose
to red, broadly ovate, 3-9 &times; 2-5&nbsp;mm. <B>Staminate flowers:</B>
anthers embedded in sessile 5-sided disc. <B>Pistillate flowers:</B> pistils
6-12, reddish. <B>Berries</B> red, globose to ellipsoid, 4-8 &times; 5-15&nbsp;mm;
receptacle 4-7&nbsp;cm. <B>Seeds</B> 1-3, red-brown, reniform, 4-4.5 &times;
5-5.5&nbsp;mm, smooth to slightly rugose. 2<I>n</I>&nbsp;=&nbsp;28.</P>

<P>Flowering late spring-early summer. Mesic
wooded bluffs, ravines, stream banks; 0-500&nbsp;m; Ala., Ark., Fla., Ga.,
Ky., La., Miss., N.C., S.C., Tenn.</P>

<P><I>Schisandra glabra</I> was placed in <I>Schisandra</I>
sect. <I>Schisandra</I> (as sect. <I>Euschisandra</I>, not valid) by A.&nbsp;C.
Smith (1947); other species of the section are found in southern Japan,
southern Korea, and eastern China.<BR>
</P>

