

<P><B>1. SCHISANDRA Michaux</B>,
Fl. Bor.-Amer. 2: 218. 1803, name conserved - Star-vine [Greek <I>schisis</I>,
splitting, and <I>andro</I>, male]</P>

<P><B>Shrubs</B>, twining. <B>Leaves</B> remote
on long shoots, close on short lateral shoots. <B>Flowers:</B> perianth
of 9-12 tepals in 2 series. <B>Staminate flowers:</B> stamens 5, partially
or completely connate. <B>Pistillate flowers:</B> ovules 2-3 per locule.
<B>Berries</B> on elongate receptacle when mature. <I>x</I>&nbsp;=&nbsp;14.</P>

<P>Species 25 (1 in the flora): North America,
mainly e&nbsp;Asia.</P>

<P>The orthographic variant <I>Schizandra</I>,
adopted by several authors for <I>Schisandra</I> Michaux, was first used
by A.&nbsp;P. de Candolle ([1817]1818-1821, vol. 1, pp. 511, 544) and was
perpetuated by subsequent authors. Convincing arguments for retention of
the original orthography were presented by A.&nbsp;J. Rehder (1944). <I>Schisandra</I>
is conserved over the earlier published name <I>Stellandria</I>.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Kapil, R.&nbsp;N. and S.&nbsp;Jalan. 1964. <I>Schisandra</I> Michaux--its
embryology and systematic position. Bot. Not. 117: 285-306. Rehder, A.&nbsp;J.
1944. <I>Schisandra</I> Michaux, nomen genericum conservandum. J.&nbsp;Arnold
Arbor. 25: 129-131. Stone, D.&nbsp;E. 1968. Cytological and morphological
notes on the southeastern endemic <I>Schisandra glabra</I> (Schisandraceae).
J.&nbsp;Elisha Mitchell Sci. Soc. 84: 351-356.</P>

<P><B>