1. <A NAME="24000153"></A><I>Stylomecon heterophylla</I> (Bentham) G.&nbsp;Taylor</B>,
J. Bot. 68: 140. 1930 - F</P>

<P><I>Meconopsis heterophylla</I> Bentham, Trans.
Hort. Soc. London, ser. 2, 1: 408. 1835; <I>M</I>.&nbsp;<I>crassifolia</I>
Bentham; <I>Papaver crassifolium</I> (Bentham) Greene; <I>P</I>.&nbsp;<I>heterophyllum</I>
(Bentham) Greene; <I>P</I>.&nbsp;<I>heterophyllum</I> var. <I>crassifolium</I>
(Bentham) Jepson</P>

<P><B>Plants</B> 30-60&nbsp;cm, glabrous or sometimes
sparsely pilose proximally. <B>Leaves</B> 2-12&nbsp;cm; blade with primary
lobes 5-13, remote. <B>Inflorescences:</B> peduncle 5-20&nbsp;cm. <B>Flowers:</B>
sepals 4-10&nbsp;mm; petals orange-red, spotted purple at base, 1-2&nbsp;cm.
<B>Capsules</B> 1-2&nbsp;cm. <B>Seeds</B> 0.4&nbsp;mm. 2<I>n</I>&nbsp;=&nbsp;56.</P>

<P>Flowering spring (Apr-May). Grassy areas,
openings in chaparral; less than 1200&nbsp;m; Calif.; Mexico (Baja California).<BR>
</P>

