1. <A NAME="24000154"></A><I><B>Stylophorum diphyllum</B></I><B>
(Michaux) Nuttall</B></B>, Gen.
N. Amer. Pl. 2: 7.  1818 - Celandine-poppy, mock poppy, yellow-poppy,
wood-poppy - E F
<P>
<I>Chelidonium diphyllum</I>
Michaux, Fl. Bor.-Amer. 1: 309.  1803; <I>Stylophorum ohiense</I>
Sprengel
<P>
<B>Plants</B>
to 5&nbsp;dm, downy.  <B>Stems</B> simple or branching.  <B>Leaves</B>
to 5&nbsp;dm; petiole to 2&nbsp;dm; blade pale abaxially, deeply
5-7-lobed; margins irregularly dentate or crenate.  <B>Flowers:</B>
pedicels 25-80&nbsp;mm; sepals ca. 15&nbsp;mm; petals yellow,
obovate, 2-3&nbsp;cm wide; style 3-6&nbsp;mm.  <B>Capsules</B>
ellipsoid, 20-35&nbsp;mm, pubescent.  <B>Seeds</B> pale brown,
reticulate-pitted.  2<I>n</I>&nbsp;=&nbsp;20 (cult.).  
<P>
 Flowering spring.  Moist deciduous
woods, thickets, and cedar barrens, often on slopes, occasionally
in fields or on shaded dunes, in loam or sand; 100-600&nbsp;m;
Ont.; Ala., Ark., Ill., Ind., Ky., Mich., Mo., Ohio, Tenn., Va.,
W.Va.
<P>
 Vegetatively, this native species closely
resembles the more frequent and widespread <I>Chelidonium majus</I>,
introduced from Eurasia.  Various authors have reported <I>Stylophorum
diphyllum</I> from western Pennsylvania, but W.&nbsp;E. Buker
and S.&nbsp;A. Thompson (1986) could not confirm its past or current
native presence there.
