

<P><B>14. STYLOMECON G.&nbsp;Taylor</B>,
J. Bot. 68: 140. 1930 - Wind-poppy [Greek <I>stylos</I>, style, and <I>mekon</I>,
poppy]</P>

<P><B>Herbs</B>, annual; sap yellow, clear. <B>Stems</B>
simple or branching, leafy. <B>Leaves</B> alternate, usually petiolate;
blade 1-2&times; pinnately deeply lobed. <B>Inflorescences</B> axillary,
1-flowered; peduncle slender; bud drooping. <B>Flowers:</B> sepals 2, distinct;
petals caducous, 4, obcuneate; stamens many; pistil 4-11-carpellate; ovary
turbinate, 1-locular; style persistent; stigma 4-11-lobed. <B>Fruits</B>
capsular, obovoid-ellipsoid to turbinate, ribbed, dehiscing by flaps beneath
apex. <B>Seeds</B> many, brown or black, reniform, reticulate-rugose, aril
absent. <I>x</I>&nbsp;=&nbsp;28.</P>

<P>Species 1 (1 in the flora): California, nw
Mexico.<BR>
<BR>
<BR>
<B>