

<P>
<B>5. STYLOPHORUM Nuttall</B>,
Gen. N. Amer. Pl. 2: 7.  1818 - [Greek <I>stylos</I>, style, and
<I>phoros</I>, bearing, in reference to the conspicuous style,
unusual in the family]<BR>

<P>
<B>Herbs</B>,
perennial, caulescent, from stout rhizomes; sap yellow to orange.
 <B>Stems</B> naked above base except for 2-3 leaves subtending
inflorescence.  <B>Leaves:</B> basal rosulate, petiolate; cauline
subopposite, sessile; blades 1-2&#215; pinnately lobed.  <B>Inflorescences</B>
terminal, umbelliform, few-flowered; bracts present.  <B>Flowers:</B>
sepals 2, distinct; petals 4; stamens many; pistil [2-](3-)4-carpellate;
ovary 1-locular; style distinct; stigma shallowly 3-4(-5)-lobed.
 <B>Capsules</B> nodding, [2-](3-)4-valved, dehiscing from apex.
 <B>Seeds</B> few to many, arillate.  <I>x</I>&nbsp;=&nbsp;10.
<P>
 Species 3 (1 in the flora): North America,
China.
<P>
 <I>Stylophorum</I> is most closely
related to <I>Hylomecon</I> Maximowicz, a monotypic genus from
eastern Asia, and to <I>Chelidonium</I>.<BR>

<P>
<B>