22a. <A NAME="27103543"></A><I><B>Thalictrum</B></I><B>
Linnaeus sect. <I>Anemonella</I> (Spach) Tamura, 
Acta Phytotax.  Geobot. 43: 57.  1992</B></B>
<P>
<I>Anemonella</I>
Spach, Hist. Nat. V&eacute;g. 7: 239.  1838; <I>Syndesmon</I>
Hoffmannsegg
<P>
<B>Inflorescences</B>
umbels or flowers solitary.  <B>Flowers</B> bisexual; sepals 5(-10);
filaments narrowly clavate.  <B>Achenes</B> sessile to nearly
sessile.
<P>
 Species 1 (1 in the flora): North America.
<BR>

<P>
<B>