11. <A NAME="27100857"></A><I><B>Thalictrum texanum</B></I><B>
(A.&nbsp;Gray) Small</B></B>,
Fl. S.E. U.S., 446.  1903 - C E
<P>
<I>Thalictrum debile</I>
Buckley var. <I>texanum</I> A. Gray in A.&nbsp;Gray et al., Syn.
Fl.&nbsp;N.&nbsp;Amer. 1: 18.  1895
<P>
<B>Roots</B>
becoming black when dry, tuberous, not ribbed,  irregular.  <B>Stems</B>
erect, 10-45&nbsp;cm, rigid, glabrous.  <B>Leaves:</B> distal
cauline long-petiolate.  <B>Leaf blade</B> 2&#215;-ternately compound;
leaflets cuneate to reniform, undivided, cleft, or lobed, 2-7&nbsp;mm
wide, margins entire or sometimes weakly crenate, surfaces glabrous,
somewhat glaucous.  <B>Inflorescences</B> terminal, racemes, several
flowered.  <B>Flowers:</B> sepals lanceolate to obovate, in staminate
flowers 1.7-3&nbsp;mm, in pistillate flowers 0.7-1.5&nbsp;mm;
filaments colored, not white, ca. 1.5&nbsp;mm; anthers 1.4-2&nbsp;mm;
stigma color unknown.  <B>Achenes</B> few, not reflexed, nearly
sessile; stipe 0.1-0.3&nbsp;mm; body ovoid, not laterally compressed,
adaxial surface 2.7-3.7 &#215; 1.4-1.6&nbsp;mm, glabrous, prominently
6-8-veined, veins not anastomosing-reticulate; beak 0.5-1&nbsp;mm.
 
<P>
 Flowering early spring (Mar-Apr). 
Margins or openings of mesic woodlands or forests; of conservation
concern; 10-100&nbsp;m; Tex.
<P>
 Somewhat difficult to locate in the
field, <I>Thalictrum texanum</I> is currently known from only
two populations.  It is closely related to <I>T</I>.&nbsp;<I>arkansanum</I>
and <I>T</I>.&nbsp;<I>debile</I> and sometimes treated as a variety
of the latter.
<P>
 <I>Thalictrum confine</I> is quite
similar to <I>T</I>.&nbsp;<I>occidentale</I> and <I>T</I>.&nbsp;<I>venulosum</I>;
it has been treated as a variety or synonym of the latter (R.&nbsp;S.
Mitchell 1988).<BR>

<P>
<B>