22e. <A NAME="27103561"></A><I><B>Thalictrum</B></I><B>
Linnaeus sect. <I>Heterogamia</I> (de Candolle) B.&nbsp;Boivin,
Rhodora 46: 432.  1944</B></B>
<P>
<I>Thalictrum</I>
[unranked] <I>Heterogamia</I> de Candolle, Syst. Nat. 1: 172.
 1817 (as <I>Heterogama</I>) 
<P>
<B>Inflorescences</B>
panicles, racemes, or corymbs.  <B>Flowers</B> unisexual (rarely
also bisexual in <I>T</I>.&nbsp;<I>debile</I> and <I>T</I>.&nbsp;<I>fendleri</I>);
sepals 4(-6); filaments filiform (to slightly clavate in <I>T</I>.&nbsp;<I>heliophilum</I>).
 <B>Achenes</B> sessile to nearly sessile.
<P>
 Species 25 (11 in the flora): North
America, Mexico.<BR>

<P>
<B>