7. <A NAME="27100843"></A><I><B>Thalictrum dioicum</B></I><B>
Linnaeus</B></B>, Sp. Pl. 1:
 545.  1753 - Early meadow-rue, quicksilver-weed, pigamon dio&iuml;que
- E F
<P>
<B>Roots</B>
yellow to light brown, fibrous, from stout caudex.  <B>Stems</B>
erect, 30-80&nbsp;cm, glabrous or glandular.  <B>Leaves</B> basal
and cauline, petiolate.  <B>Leaf blade</B> 1-4&#215;-ternately
compound; leaflets reniform or cordate to obovate or orbiculate,
apically 3-12-lobed, 10-45&nbsp;mm wide, lobe margins often crenate,
surfaces abaxially glabrous or glandular.  <B>Inflorescences</B>
terminal and axillary, panicles to corymbs, many flowered.  <B>Flowers:</B>
sepals greenish to purple, ovate or obovate to oval, 1.8-4&nbsp;mm;
filaments yellow to greenish yellow, 3.5-5.5&nbsp;mm; anthers
2-4&nbsp;mm, mucronate to acuminate; stigma purple.  <B>Achenes</B>
(3-)7--13, not reflexed, sessile or nearly so; stipe terete, 0-0.2&nbsp;mm;
body ovoid to ellipsoid, not laterally compressed, 3.5-5&nbsp;mm,
glabrous, very strongly veined, veins not anastomosing-reticulate;
beak 1.5-3&nbsp;mm. 
<P>
 Flowering spring (Apr-Jun).  Rocky
woods, ravines, and alluvial terraces, mountains and piedmont;
10-1000&nbsp;m; Man., Ont., Que.; Ala., Conn., D.C., Ga., Ill.,
Ind., Iowa, Kans., Ky., Maine, Md., Mass., Mich., Minn., Mo.,
Nebr., N.H., N.J., N.Y., N.C., N.Dak., Ohio, Pa., R.I., S.C.,
S.Dak., Tenn., Vt., Va., W.Va., Wis.  
<P>
 Glandular plants of <I>Thalictrum dioicum</I>
have often been misidentified as <I>T</I>.&nbsp;<I>revolutum</I>
despite important differences, especially the leaflets having
crenate versus entire lobe margins, respectively.  The stamens
in both <I>T</I>.&nbsp;<I>dioicum</I> and <I>T</I>.&nbsp;<I>revolutum</I>
are pendulous.
<P>
 Native Americans used roots of <I>Thalictrum
dioicum</I> in various preparations to treat diarrhea and vomiting
and for heart palpitations (D.&nbsp;E. Moerman 1986).<BR>

<P>
<B>