18. <A NAME="27100851"></A><I><B>Thalictrum pubescens</B></I><B>
Pursh</B></B>, Fl. Amer. Sept.
2:  388.  1814, not <I>T</I>.&nbsp;<I>pubescens</I> Schleicher
ex de Candolle 1817 - Tall meadow-rue, late meadow-rue, meadow-weed,
muskrat-weed, king-of-the-meadow, pigamon pubescent - E F W1 
<P>
<I>Thalictrum carolinianum</I>
Bosc ex de Candolle [var.] <I>subpubescens</I> de Candolle; <I>T</I>.&nbsp;<I>polygamum</I>
Muhlenberg ex Sprengel; <I>T</I>.&nbsp;<I>polygamum</I> var. <I>hebecarpum</I>
Fernald; <I>T</I>.&nbsp;<I>polygamum</I> var. <I>intermedium</I>
B.&nbsp;Boivin; <I>T</I>.&nbsp;<I>polygamum</I> var. <I>pubescens</I>
(Pursh) K.&nbsp;C. Davis; <I>T</I>.&nbsp;<I>pubescens</I> var.
<I>hebecarpum</I> (Fernald) B.&nbsp;Boivin
<P>
<B>Stems</B>
erect, coarse, 50-300&nbsp;cm.  <B>Leaves</B> basal and cauline;
basal and proximal cauline leaves petiolate, distal cauline sessile;
petioles and rachises frequently pubescent.  <B>Leaf blade</B>
ternately and pinnately decompound; leaflets light to dark green,
cordate or nearly orbiculate to ovate or obovate, apically undivided
to 2-3(-5)-lobed or -toothed, 11-68 &#215; 5-70&nbsp;mm, length
0.8-2.6 times width, membranous to firm, margins scarcely revolute,
lobe margins entire, surfaces abaxially pubescent to glabrous.
 <B>Inflorescences</B> racemes or panicles to corymbs, apically
&#177;&nbsp;rounded, many flowered; peduncles and pedicels often
pubescent.  <B>Flowers</B> unisexual or bisexual (sometimes bisexual
with very few stamens); sepals 4(-6), white to purplish, elliptic-rounded,
2-3.5&nbsp;mm; filaments ascending, white to purplish, filiform
to distinctly clavate, 1.5-7&nbsp;mm, usually rigid; anthers 0.5-1.5(-2.1)&nbsp;mm,
usually blunt or only slightly apiculate.  <B>Achenes</B> numerous,
sessile to stipitate; stipe 0.5-1.5(-2.4)&nbsp;mm; body ellipsoid,
3-5&nbsp;mm, prominently veined, usually pubescent; beak usually
persistent, straight or coiled distally, 0.6-2.5&nbsp;mm, about
1/2 length of achene body.  2<I>n</I>&nbsp;=&nbsp;126.  
<P>
 Flowering late spring-summer (mid Jun-early
Aug).  Full sun to deep shade, rich woods, low thickets, swamps,
wet meadows, and stream banks; 15-1500&nbsp;m; St. Pierre and
Miquelon; N.B., Nfld., N.S., Ont., P.E.I., Que.; Ala., Ark., Conn.,
Del., D.C., Ga., Ill., Ind., Ky., Maine, Md., Mass., Mich., Miss.,
N.H., N.J., N.Y., N.C., Ohio, Pa., R.I., S.C., Tenn., Vt., Va.,
W.Va.
<P>
 The ovaries change from white to purplish,
becoming light green, then darker green, and finally brown as
fruits mature.
<P>
 Because of the polymorphic nature of
<I>Thalictrum pubescens</I>, a proliferation of names for minor
morphologic variants has resulted.  Field studies (M.&nbsp;Park
1992) have shown that too much morphologic variation occurs within
populations to support the recognition of previously described
taxa.  Plants in New England and northeastern Canada often have
a corymbose inflorescence and longer filaments and achene beaks.

<P>
 This species is often incorrectly treated
in floras as <I>T</I>.&nbsp;<I>polygamum</I> Sprengel, an invalid
name.
<P>
 The Iroquois used <I>Thalictrum pubescens</I>
medicinally a a wash for head and neck, to stop nosebleeds, and
to treat gall (D.&nbsp;E. Moerman 1986).<BR>

<P>
<B>