

<P>
<B>22. THALICTRUM Linnaeus</B>,
Sp. Pl. 1:  545.  1753; Gen. Pl. ed. 5, 242.  1754 - Meadow-rue,
pigamon [<I>Thaliktron</I>, an ancient name used by Dioscorides]
 <BR>

<P>
<B>Herbs</B>,
perennial, from woody rhizomes, caudices, or tuberous roots. 
<B>Leaves</B> basal and cauline, proximal leaves petiolate, distal
leaves sessile; cauline leaves alternate.  <B>Leaf blade</B> 1-4&#215;-ternately
or -pinnately compound; leaflets cordate-reniform, obovate, lanceolate,
or linear, sometimes 3-lobed or more, margins entire or crenate.
 <B>Inflorescences</B> terminal, sometimes also axillary, (1-)2-200-flowered
panicles, racemes, corymbs, umbels, or flowers solitary, to 41&nbsp;cm;
involucres absent or present, involucral bracts 2-3 (these compound,
often resembling whorl of 6-9 simple bracts), leaflike, not closely
subtending flowers.  <B>Flowers</B> all bisexual, bisexual and
unisexual on same plant, or all unisexual with sexes on same or
different plants, radially symmetric; sepals not persistent in
fruit, 4-10, whitish to greenish yellow or purplish, plane, lanceolate
to reniform or spatulate, 1-18&nbsp;mm; petals absent; stamens
7-30; filaments filiform to clavate or distally dilated; staminodes
absent between stamens and pistils; pistils 1-16, simple; ovule
1 per pistil; style present or absent.  <B>Fruits</B> achenes,
usually aggregate, sessile or stipitate, ovoid to obovoid, falcate,
or discoid, sides prominently veined or ribbed; beak present or
absent, terminal, straight to coiled, 0-4&nbsp;mm.  <I>x</I>&nbsp;=&nbsp;7.
<P>
 Species 120-200 (22 in the flora):
nearly worldwide, mostly temperate.
<P>
 <I>Thalictrum</I> is a taxonomically
difficult genus that should be carefully researched through additional
population-based field studies.  Past treatments of <I>Thalictrum</I>
have often emphasized leaf characters that are highly variable
in most species; they are therefore of poor diagnostic value and
not indicative of true relationships.  Because of the paucity
of field studies and a continuing emphasis on highly variable
characters, the literature is replete with names that do not represent
distinct entities.  Often mixes of character states can be found
within a single population; many of the character states used
in past studies were neither ecologically nor geographically distinct.
 
<P>
 Some species of <I>Thalictrum</I> have
been divided into varieties by previous authors.  In the absence
of carefully collected, supporting evidence from field studies,
we are unwilling to perpetuate the use of any infraspecific names.
<P>
 Characters useful in identifying species
of <I>Thalictrum</I> include leaflet shape, degree of dilation
of filaments, anther length, shape of anther apex, achene shape
and venation patterns, and vestiture (glands and/or hairs) of
leaves and achenes.  Leaflets described in this treatment are
the central, distalmost of a midstem leaf; proximal and distal
leaves are more variable and often not representative of the species.
 Stigma and filament colors refer to fresh material in the following
descriptions.  
<P>
 In <I>Thalictrum</I> species, the stigma
extends down the side of the style, so length of style in fruit
(beak) includes the stigma.
<P>
 For many species no reliable characteristics
for the identification of staminate material are known.  Extensive
field work and careful analysis are required to determine if such
characteristics exist.
<P>
 In a narrow strip from southeastern
Ontario to Ohio to Louisiana, some individuals of some species
in <I>Thalictrum</I> section <I>Leucocoma</I> may lack their normal
vestiture.  In the absence of glands or pubescence, the differences
among species are difficult to describe.  The remaining characteristics
overlap considerably.  The species involved may be identified
in the final couplets of the key as follows: if the plant in hand
falls into the area of overlap for the first character of the
couplet, go on to the next character, and so forth, until a distinguishing
character is found.  One or more of the characters offered should
distinguish the infrequent, problematic individual.
<P>
 Several species of <I>Thalictrum</I>
are used as ornamentals.  At least one species, <I>T</I>.&nbsp;<I>aquilegiifolium</I>
Linnaeus, occasionally escapes cultivation in Ontario and Quebec
and possibly elsewhere.  The plant is tall (40-100&nbsp;cm); flowers
bisexual, mauve to pink; and achenes few, filiform, 3-winged,
stipitate, very small, and hidden at anthesis among the bases
of long, rigid stamens.
<P>
 Numerous alkaloids have been identified
from plants of the genus, some with pharmacologic potential. 
Some exhibit antimicrobial activity; others inhibit growth of
tumors or lower blood pressure in mammals.
<P>
<B>SELECTED REFERENCES   </B>
<P>
Boivin,&nbsp;B.  1944.  American Thalictra
and their Old World allies.  Rhodora 46:  337-377, 391-445, 453-487.
  Boivin,&nbsp;B.  1948.  Key to Canadian species of Thalictra.
Canad. Field-Naturalist 62:  169-170.   Lecoyer, J.&nbsp;C.  1885.
 Monographie du genre <I>Thalictrum</I>.  Bull. Soc. Roy. Bot.
Belgique 24:  78-324.   Park, M.&nbsp;M.  1992.  A Biosystematic
Study of <I>Thalictrum</I> Section <I>Leucocoma</I> (Ranunculaceae).
 Ph.D. dissertation.  Pennsylvania State University.   Tamura,&nbsp;M.
 1968.  Morphology, ecology, and phylogeny of the Ranunculaceae.
 VIII.  Sci. Rep. Coll. Gen. Educ. Osaka Univ. 17: 41-56.   Tamura,&nbsp;M.
 1992.  A new classification of the family Ranunculaceae.  Acta
Phytotax. Geobot. 43: 53-58.<BR>

<P>
<B>