8. <A NAME="27100841"></A><I><B>Thalictrum coriaceum</B></I><B>
(Britton) Small</B></B>, Mem.
Torrey Bot. Club 4: 98.  1893 - E
<P>
<I>Thalictrum dioicum</I>
Linnaeus var. <I>coriaceum</I> Britton, Bull. Torrey Bot. Club
18: 363.  1891; <I>T</I>.&nbsp;<I>caulophylloides</I> Small; <I>T</I>.&nbsp;<I>steeleanum</I>
B.&nbsp;Boivin
<P>
<B>Roots</B>
bright yellow, tuberous.  <B>Stems</B> erect, coarse, 65-150&nbsp;cm,
glabrous.  <B>Leaves</B> cauline; petioles of proximal leaves
well developed, clasping stem, distal leaves sessile or nearly
so.  <B>Leaf blade</B> 1-4&#215;-ternately compound; leaflets
reniform or obovate to orbiculate, apically 3-9-lobed or toothed,
10-75&nbsp;mm wide, lobe margins crenate, surfaces abaxially glabrous
or glandular.  <B>Inflorescences</B> panicles, pyramidal, loosely
branched, many flowered.  <B>Flowers:</B> sepals white to purplish,
lanceolate-ovate, 1.5-5.5&nbsp;mm; filaments maroon, 4-4.5&nbsp;mm;
anthers 2-5.5&nbsp;mm, apiculate, subulate-tipped; stigma maroon.
 <B>Achenes</B> 3-15, erect, not reflexed, stipitate; stipe &#177;&nbsp;wing-angled,
0.7-2.5&nbsp;mm; body obliquely ovoid to ellipsoid, not laterally
compressed, 3-6.5&nbsp;mm, strongly veined or ribbed, veins not
anastomosing; beak 1.5-3&nbsp;mm.  
<P>
 Flowering mid spring-late spring (late
May-Jun).  Rocky or mesic, open, deciduous woods, thickets, and
moist alluvium, chiefly in mountains and piedmont; 3-1100&nbsp;m;
D.C., Ky., Md., N.C., Pa., Tenn., Va., W.Va.  
<P>
 Glandular plants of <I>Thalictrum coriaceum</I>
have often been misidentified as <I>T</I>.&nbsp;<I>revolutum</I>
despite important differences in the leaflets, the latter having
entire rather than crenate lobe margins. 
<P>
 Studies by M.&nbsp;Park and L.&nbsp;Morse
(unpubl.) for The Nature Conservancy confirmed that <I>Thalictrum
steeleanum</I> is highly variable in all allegedly diagnostic
characters and is not distinct from <I>T</I>.&nbsp;<I>coriaceum</I>.
<BR>

<P>
<B>