15. <A NAME="27100844"></A><I><B>Thalictrum fendleri</B></I><B>
Engelmann ex A.&nbsp;Gray</B></B>,
Mem. Amer. Acad. Arts, ser. 2, 4: 5.  1849 - Fendler's meadow-rue
- F
<P>
<I>Thalictrum fendleri</I>
var. <I>platycarpum</I> Trelease; <I>T</I>.&nbsp;<I>fendleri</I>
var. <I>wrightii</I> (A.&nbsp;Gray) Trelease
<P>
<B>Roots</B>
dark brown to &#177;&nbsp;black (when dry), fibrous.  <B>Stems</B>
mostly erect, sometimes reclining, (20-)30-60(-150)&nbsp;cm, glabrous,
from rhizomes or branched caudices.  <B>Leaves</B> mainly cauline,
mostly short-petiolate.  <B>Leaf blade</B> green, (2-)3-4&#215;-ternately
compound, membranous; leaflets obliquely orbiculate or nearly
cordate, apically 3-lobed, (5-)10-20 &#215; (6-)8-12(-18)&nbsp;mm
wide, lobe margins crenate, surfaces abaxially often glandular.
 <B>Inflorescences</B> terminal and axillary, panicles, open and
leafy, many flowered.  <B>Flowers:</B> sepals whitish or greenish,
in staminate flowers ovate to elliptic, 3-5&nbsp;mm; in pistillate
flowers ovate to rhombic or broadly lanceolate, 1.5-2&nbsp;mm;
filaments deep yellow or purplish, 4-7.5&nbsp;mm; anthers 2.2-3.4&nbsp;mm,
apiculate with tip to 0.8&nbsp;mm; stigma purplish.  <B>Achenes</B>
7-11(-14), not reflexed, sessile to short-stipitate; stipe 0-2&nbsp;mm;
body oblanceolate to obliquely obovate-elliptic, strongly laterally
compressed, (5-)9(-11)&nbsp;mm, glandular or glabrous, 3-4(-5)-veined
on each side, veins &#177;&nbsp;parallel, converging toward ends
(rarely branched or sinuous), not anastomosing-reticulate; beak
1.5-4&nbsp;mm.  
<P>
 Flowering early-mid summer (Jun-Aug).
 Willow, birch, mountain brush, sagebrush-snowberry, boxelder-cottonwood,
alder, ponderosa pine, lodgepole pine, aspen-tall forb, and spruce-fir
communities; 1100-3300&nbsp;m; Ariz., Calif., Colo., Idaho, Mont.,
Nev., N.Mex., Oreg., S.Dak., Tex., Utah, Wyo.; n&nbsp;Mexico.
<P>
 The stems and achenes of <I>Thalictrum
fendleri</I> are often purplish.
<P>
 Decoctions prepared from the roots
of <I>Thalictrum fendleri</I> were used medicinally by Native
Americans to cure colds and gonorrhea, and in ceremonies (D.&nbsp;E.
Moerman 1986).<BR>

<P>
<B>