17. <A NAME="27100850"></A><I><B>Thalictrum polycarpum</B></I><B>
(Torrey) S.&nbsp;Watson</B></B>,
Proc. Amer. Acad. Arts 14: 288.  1879 - Tall western meadow-rue
- F
<P>
<I>Thalictrum fendleri</I>
Engelmann ex A.&nbsp;Gray var. <I>polycarpum</I> Torrey, Pacif.
Railr. Rep. 4(5): 61.  1857
<P>
<B>Roots</B>
fibrous.  <B>Stems</B> erect, 6-18(-20)&nbsp;dm, glabrous.  <B>Leaves</B>
mostly cauline, petiolate.  <B>Leaf blade</B> 3-4&#215;-ternately
compound; leaflets orbiculate to obovate, apically 3-cleft or
3-parted, divisions undivided or shallowly 3-lobed, 15-40&nbsp;mm
wide, lobes rounded or somewhat acute, surfaces glabrous or glandular.
 <B>Inflorescences</B> terminal, panicles, many flowered.  <B>Flowers:</B>
sepals whitish to purplish, elliptic to ovate or lanceolate, 2-4(-5)&nbsp;mm;
filaments whitish to pinkish, 3-6 mm; anthers (1.4-)2-4&nbsp;mm,
distinctly apiculate.  <B>Achenes</B> 10-15, spreading in globose
heads, not reflexed, sessile or nearly so; stipe 0-0.6&nbsp;mm;
body nearly globose to obovoid to obliquely obovate, laterally
compressed, somewhat inflated and papery, 4-7(-8)&nbsp;mm, glabrous
to glandular, often with 1 or 2 primary veins on each side, veins
sinuous, branched, anastomosing-reticulate; beak 2-4&nbsp;mm.
 
<P>
 Flowering mid-late spring (Apr-Jun).
 Streamsides and other moist places, forests, and open woodlands;
600-3100&nbsp;m; Calif., Nev., Oreg., Utah; Mexico (Baja California).
<P>
 <I>Thalictrum polycarpum</I> is the
only species in sect. <I>Heterogamia</I> with anastomosing-reticulate
veins on the achene.
<P>
 The stems and roots of <I>Thalictrum
polycarpum</I> are considered poisonous when ingested by humans
or cattle; Native Americans used this species medicinally as a
wash for headaches, as an applications for sprains, and as a universal
charm and panacea (D.&nbsp;E. Moerman 1986).<BR>

<P>
<B>