13. <A NAME="27100249"></A><I><B>Thalictrum venulosum</B></I><B>
Trelease</B></B>, Proc. Boston
Soc. Nat. Hist. 23: 302.  1886 - Veiny meadow-rue, early meadow-rue
- E  
<P>
<B>Stems</B>
erect, 20-50&nbsp;cm, glabrous, from rhizomes.  <B>Leaves</B>
basal and cauline; cauline 1-3, those proximal to inflorescence
petiolate, those subtending panicle branches sessile.  <B>Leaf
blade</B> 3-4&#215;-ternately compound; leaflets obovate to orbiculate,
apically 3-5-lobed, 5-20&nbsp;mm, lobe margins crenate, surfaces
abaxially glabrous or glandular-puberulent.  <B>Inflorescences</B>
terminal, panicles, narrow and dense, many flowered.  <B>Flowers:</B>
sepals greenish white, lanceolate or broadly ovate to elliptic
or obovate, 2-4&nbsp;mm; filaments colored, not white, (1.8-)3-5.5&nbsp;mm;
anthers 2-3.5&nbsp;mm, blunt to mucronate; stigma commonly yellowish.
 <B>Achenes</B> 5-17, erect to spreading, not reflexed, nearly
sessile; stipe 0.1-0.3&nbsp;mm; body often distinctly curved,
elliptic-oblong, nearly terete to slightly flattened, adaxial
surface 3-4(-6)&nbsp;mm, glabrous to glandular, veins distinct,
not anastomosing-reticulate; beak 1.5-2.5(-3)&nbsp;mm.  
<P>
 Flowering early summer-mid summer (Jun-Aug).
 Prairies, riparian woods, and coniferous, deciduous, and mixed
forests; 600-3700&nbsp;m; Alta., B.C., Man., N.W.T., Ont., Que.,
Sask., Yukon; Colo., Idaho, Minn., Mont., Nebr., Nev., N.Mex.,
N.Dak., Oreg., S.Dak., Utah, Wash., Wis., Wyo.  
<P>
 <I>Thalctrum venulosum</I> is similar
to <I>T</I>.&nbsp;<I>confine</I> and <I>T</I>.&nbsp;<I>occidentale</I>.
 Careful field studies are needed to clarify the relationships
among these taxa.<BR>

<P>
<B>