22c. <A NAME="27103555"></A><I><B>Thalictrum</B></I><B>
Linnaeus sect. <I>Physocarpum</I> de Candolle, Syst. Nat. 1: 171.
 1817</B></B>
<P>
<I>Physocarpum</I>
(de Candolle) Berchtold &amp; J.&nbsp;Presl, not <I>Physocarpon</I>
Necker ex Rafinesque 1840, not <I>Physocarpus</I> Maximowicz;
<I>Sumnera</I> Nieuwland
<P>
<B>Inflorescenes</B>
panicles to nearly corymbs.  <B>Flowers</B> bisexual; sepals 5;
filaments strongly clavate, petaloid.  <B>Achenes</B> long-stipitate.
<P>
 Species 45 (2 in the flora): temperate
regions, North America, e&nbsp;Asia.<BR>

<P>
<B>