22f. <A NAME="27105313"></A><I><B>Thalictrum</B></I><B>
Linnaeus sect. <I>Leucocoma</I> (Greene) B.&nbsp;Boivin, Rhodora
46: 469.  1944 </B></B>
<P>
<I>Thalictrum</I>
[unranked] <I>Leucocoma</I> Greene, Leafl. W. Bot. 2: 54-55. 
1910; <I>Leucocoma</I> (Greene) Nieuwland 1914, not <I>Leucocoma</I>
Rydberg 1917
<P>
<B>Inflorescences</B>
panicles, racemes, or corymbs.  <B>Flowers</B> bisexual and/or
unisexual; sepals 4-6; filaments filiform to clavate.  <B>Achenes</B>
sessile to stipitate.
<P>
 Species 5 (5 in the flora): North America.
<BR>

<P>
<B>