22d. <A NAME="27103558"></A><I><B>Thalictrum</B></I><B>
Linnaeus sect. <I>Omalophysa</I> Turczaninow ex Fischer &amp;
C.&nbsp;A. Meyer, Index Sem. Hort. Petrop. 1: 40.  1835</B></B>
<P>
<B>Inflorescences</B>
panicles or racemes.  <B>Flowers</B> bisexual; sepals 5; filaments
&#177;&nbsp;dilated.  <B>Achenes</B> short-stipitate.
<P>
 Species 24 (1 in the flora): North
America, e&nbsp;Asia.<BR>

<P>
<B>