14. <A NAME="27100849"></A><I><B>Thalictrum occidentale</B></I><B>
A.&nbsp;Gray</B></B>, Proc. Amer.
Acad. Arts 8: 372. 1873 - Western meadow-rue - E F
<P>
<I>Thalictrum occidentale</I>
var. <I>macounii</I> B.&nbsp;Boivin; <I>T</I>.&nbsp;<I>occidentale</I>
var. <I>palousense</I> H.&nbsp;St. John
<P>
<B>Roots</B>
yellow to medium brown or black, thin, fibrous.  <B>Stems</B>
erect, 30-100(-120)&nbsp;dm, glabrous, often from well-developed
rhizomes.  <B>Leaves</B> mostly cauline.  <B>Leaf blade</B> 3-4&#215;-ternately
compound; leaflets orbiculate to obovate-cuneate or cordate, apically
3-lobed, 10-30&nbsp;mm wide, lobe margins coarsely crenate, surfaces
glabrous to glandular.  <B>Inflorescences</B> terminal (some flowers
in axils of distal leaves), panicles, rather open, many flowered.
 <B>Flowers:</B> sepals whitish or greenish or purplish tinged,
ovate, 3.5-4.4&nbsp;mm in staminate flowers, 1.5-2&nbsp;mm in
pistillate flowers; filaments purplish, 4-10&nbsp;mm; anthers
1.5-4&nbsp;mm, long-apiculate; stigma often purplish.  <B>Achenes</B>
6-9, spreading to reflexed, short-stipitate; stipe 0.4-1.2&nbsp;mm;
body fusiform, not laterally compressed, (4-)6-9(-10)&nbsp;mm,
tapering at both ends, glandular, strongly 3-veined on each side,
veins not anastomosing;  beak 3-4.5(-6)&nbsp;mm.       
<P>
 Flowering early summer-mid summer (Jun-Aug).
 Open woods, meadows, and copses; 200-3400&nbsp;m; Alta., B.C.,
Sask., Yukon; Alaska, Calif., Colo., Idaho, Mont., Nev., N.Dak.,
Oreg., Utah, Wash., Wyo.
<P>
 <I>Thalictrum occidentale</I> is similar
to <I>T</I>.&nbsp;<I>confine</I> and <I>T</I>.&nbsp;<I>venulosum</I>;
thorough field studies are needed to determine whether or not
they should be maintained as separate species.  <I>Thalictrum
occidentale</I> can usually be distinguished by its reflexed achenes.
<P>
 Plants of northern British Columbia,
sometimes called <I>Thalictrum occidentale</I> var. <I>breitungii</I>
(B.&nbsp;Boivin) Brayshaw, appear to be intermediate between <I>T</I>.&nbsp;<I>occidentale</I>
and <I>T</I>.&nbsp;<I>venulosum</I> (T.&nbsp;C. Brayshaw, pers.
comm.); achenes are ascending, &#177;&nbsp;compressed, and beaks
rather short (2-4&nbsp;mm) (T.&nbsp;C. Brayshaw 1989). 
<P>
 Some of the Native Americans used <I>Thalictrum
occidentale</I> medicinally for headaches, eye trouble, and sore
legs, to loosen phlem, and to improve blood circulation (D.&nbsp;E.
Moerman 1986).<BR>

<P>
<B>