5. <A NAME="27100848"></A><I><B>Thalictrum mirabile</B></I><B>
Small</B></B>, Bull. Torrey Bot.
Club 27: 277.  1900 - C E F
<P>
<B>Stems</B>
weakly erect to reclining, 10-30&nbsp;cm, glabrous.  <B>Leaves</B>
basal and cauline; basal petioles 2&nbsp;cm, distal petioles shorter.
 <B>Leaf blade:</B> basal usually ternately compound, distal gradually
less divided; leaflets nearly orbiculate to orbiculate-reniform,
apically 4-7-lobed, 20-30&nbsp;mm wide, lobe margins crenate,
surfaces abaxially glaucescent.  <B>Inflorescences</B> panicles,
few flowered.  <B>Flowers:</B> sepals white, spatulate to rhombic-spatulate,
1.5&nbsp;mm; filaments white, 2-3&nbsp;mm; anthers 0.3-0.5&nbsp;mm.
 <B>Achenes</B> 3-8, spreading; stipe 2.5-3.5&nbsp;mm, nearly
as long as achene body; body flat, 2.5-4&nbsp;mm, abaxial margin
convex, adaxial margin straight, conspicuously 3-veined on each
face; beak minute.  
<P>
 Flowering late spring-early summer
(Jun).  Moist sandstone bluffs, sinks, and rocky crevices; of
conservation concern; 200-1500&nbsp;m; Ala., Ga., Ky., N.C., Tenn.
<P>
 <I>Thalictrum mirabile</I> is very
similar to <I>T</I>.&nbsp;<I>clavatum</I>.  Field studies are
in progress to clarify the status of this species. <BR>

<P>
<B>