3. <A NAME="27105199"></A><I><B>Thalictrum alpinum</B></I><B>
Linnaeus</B></B>, Sp. Pl. 1:
 545.  1753 - Arctic meadow-rue, dwarf meadow-rue, pigamon alpin
- F
<P>
<I>Thalictrum alpinum</I>
var. <I>hebetum</I> B.&nbsp;Boivin
<P>
<B>Stems</B>
erect, scapose, or nearly scapose with very slender rhizomes,
(3-)5-20(-30)&nbsp;cm, glabrous.  <B>Leaves</B> all basal or single
cauline leaf near base, 2-10&nbsp;cm.  <B>Leaf blade</B> 2&#215;-pinnately
compound, proximal primary divisions ternate; leaflets cuneate-obovate
to orbiculate, apically 3-5-lobed, 2-10&nbsp;mm, surfaces glabrous.
 <B>Inflorescences</B> racemes, usually elongate, few flowered.
 <B>Flowers:</B> pedicels recurved in fruit; sepals early deciduous,
purplish tinged, ovate or elliptic, 1-2.3(-2.7)&nbsp;mm; stamens
8-15; filaments purple; anthers bright yellow, 1.5-3&nbsp;mm;
stigmas purple.  <B>Achenes</B> 2-6, nearly sessile; body lance-obovoid,
2-3.5&nbsp;mm, with thick veins.  2<I>n</I>&nbsp;=&nbsp;14, 21.
 
<P>
 Flowering late spring-summer (Jun-Aug).
 Wet meadows, damp rocky ledges and slopes, and cold (often calcareous)
bogs in willow-sedge, lodgepole pine, and spruce-fir; 0-3800&nbsp;m;
Greenland; B.C., Nfld., N.W.T., Que., Yukon; Alaska, Calif., Colo.,
Idaho, Mont., Nev., N.Mex., Oreg., Utah, Wyo.; n&nbsp;Eurasia.
<BR>

<P>
<B>