2. <A NAME="27101384"></A><I><B>Thalictrum minus</B></I><B>
Linnaeus</B></B>, Sp. Pl. 1:
546.  1753 - F
<P>
<I>Thalictrum minus</I>
subsp. <I>kemense</I> (Fries) Hult&eacute;n; <I>T</I>.&nbsp;<I>minus</I>
var. <I>stipellatum</I> (C.&nbsp;A. Meyer) Tamura
<P>
<B>Stems</B>
erect, nearly cespitose or rhizomatous, 15-150&nbsp;cm, glabrous
or somewhat glandular.  <B>Leaves</B> basal, 7-30&nbsp;cm.  <B>Leaf
blade</B> 3-4-ternate; leaflets nearly orbiculate or broadly ovate,
irregularly 2-3-lobed or margins dentate in distal 1/2, 15-30&nbsp;mm,
surfaces glabrous to glandular.  <B>Inflorescences</B> panicles
with long branches, many flowered.  <B>Flowers:</B> pedicels not
recurved in fruit; sepals yellowish green, ovate, 3-4&nbsp;mm;
stamens 10-15; anthers yellowish, 2-3&nbsp;mm.  <B>Achenes</B>
3-15, sessile; body broadly ovoid to narrowly oblong-ovoid, 2.5-4&nbsp;mm,
&#177;&nbsp;weakly veined.      
<P>
 Flowering late spring-summer (Jun-Jul).
 Steppe meadows, shrub thickets, forest margins, and forest meadows;
0-300&nbsp;m; Alaska; Eurasia.  
<P>
 <I>Thalictrum minus</I> has been reported
from mainland Alaska (E.&nbsp;Hult&eacute;n 1968); we have been
able to confirm its occurrence only in the Aleutian Islands.
<P>
 Initially pendent, the flowers become
erect.  The beak is 0.75-1&nbsp;mm, much shorter than the achene,
and not fimbriate.<BR>

<P>
<B>