19. <A NAME="27100852"></A><I><B>Thalictrum revolutum</B></I><B>
de Candolle</B></B>, Syst. Nat.
1:  173.  1817, not <I>T</I>.&nbsp;<I>revolutum</I> Le Li&egrave;vre
1873 - Skunk meadow-rue, wax-leaved meadow-rue, purple meadow-rue
- E
<P>
<I>Thalictrum amphibolum</I>
Greene; <I>T</I>.&nbsp;<I>hepaticum</I> Greene; <I>T</I>.&nbsp;<I>moseleyi</I>
Greene; <I>T</I>.&nbsp;<I>revolutum</I> var. <I>glandulosior</I>
B.&nbsp;Boivin  
<P>
<B>Stems</B>
erect, coarse, 50-150&nbsp;cm.  <B>Leaves</B> cauline, proximal
leaves petiolate, distal sessile; petioles and rachises stipitate-glandular
to glabrous.  <B>Leaf blade</B> 1-4&#215;-ternately compound;
leaflets grayish or brownish green or dark to bright green, lanceolate,
elliptic, ovate, reniform to obovate, apically undivided or 2-3(-5)-lobed,
9-60 &#215; 5-50&nbsp;mm, length 0.9-2.7(-5.25) times width, usually
leathery, margins often revolute, lobe margins entire; surfaces
abaxially with sessile to stalked glands or muriculate to whitish
papillose.  <B>Inflorescences</B> racemes to panicles, elongate,
many flowered; peduncles and pedicels sometimes stipitate-glandular.
 <B>Flowers</B> usually unisexual, staminate and pistillate on
different plants; sepals 4(-6), whitish, ovate to oblanceolate,
(2-)3-4&nbsp;mm; filaments white, slightly clavate, 2.5-7.8&nbsp;mm,
&#177;&nbsp;flexible; anthers (0.7-)1.2-2.7(-3)&nbsp;mm, blunt
to apiculate.  <B>Achenes</B> 8-16, sessile or slightly stipitate;
stipe 0.2-1.7&nbsp;mm; body lanceolate to ellipsoid, 3.5-5&nbsp;mm,
prominently veined, usually stipitate-glandular; beak &#177;&nbsp;persistent,
linear-filiform, (1-)1.5-3.3(-5)&nbsp;mm, &#177;&nbsp;equal to
length of achene body.  2<I>n</I>&nbsp;=&nbsp;140.  
<P>
 Flowering spring-summer (Mar-Jul).
 Dry open woods, brushy banks, thickets, barrens, and prairies;
30-2000&nbsp;m; Man., Ont., Que.; Ala., Ariz., Ark., Colo., Conn.,
Del., D.C., Fla., Ga., Ill., Ind., Iowa, Ky., La., Md., Mass.,
Mich., Minn., Miss., Mo., Nev., N.J., N.Mex., N.Y., N.C., Ohio,
Okla., Pa., R.I., S.C., S.Dak., Tenn., Tex., Vt., Va., W.Va.,
Wis., Wyo.
<P>
 Glandular individuals of <I>Thalictrum
revolutum</I> have been called var. <I>glandulosior</I>.  They
are seen throughout the range of the species and do not represent
a distinct lineage.  Occasional glandular plants with unusually
short anthers are often misidentified as <I>T</I>.&nbsp;<I>pubescens</I>.
 
<P>
 Material of this species from the western
United States has been incorrectly assumed by previous authors
to be <I>T</I>.&nbsp;<I>dasycarpum</I>, because <I>T</I>.&nbsp;<I>revolutum</I>
is not included in floras of that region.<BR>

<P>
<B>