10. <A NAME="27100837"></A><I><B>Thalictrum arkansanum</B></I><B>
B.&nbsp;Boivin</B></B>, Rhodora
46: 433.  1944 - C E
<P>
<B>Roots</B>
brown, thick, tuberous.  <B>Stems</B> decumbent, 20-40&nbsp;cm,
glabrous.  <B>Leaves:</B> distal cauline long-petiolate.  <B>Leaf
blade</B> 1-3&#215;-ternately compound; leaflets ovate to obovate
to reniform or orbiculate, 3-(or more)-lobed, largest leaflets
less than 15&nbsp;mm wide, lobe margins crenate, surfaces glabrous.
 <B>Inflorescences</B> terminal, racemes, few flowered.  <B>Flowers:</B>
sepals whitish, ovate or elliptic, 0.9-2.8(-3)&nbsp;mm; filaments
colored, 2-3&nbsp;mm; anthers 1.8-2.3&nbsp;mm, mucronate, tip
0.1-0.4&nbsp;mm; stigma color unknown.  <B>Achenes</B> few, not
reflexed, nearly sessile; stipe 0.1-0.3&nbsp;mm; body ellipsoid
to oblong, 3.5-4.5 &#215; 1.5-2&nbsp;mm, glabrous, veins 10-12,
not anastomosing-reticulate; beak (1.3-)2.3-3&nbsp;mm.  
<P>
 Flowering early spring (Mar-Apr). 
Wet bottomland forest, sometimes upland woods; of conservation
concern; 20-150&nbsp;m; Ark., Okla., Tex.
<P>
 Poorly known, <I>Thalictrum arkansanum</I>
is closely related to <I>T</I>.&nbsp;<I>texanum</I> and <I>T</I>.&nbsp;<I>debile</I>;
it possibly should be considered as a variety of the latter. 
<BR>

<P>
<B>