12. <A NAME="27100839"></A><I><B>Thalictrum confine</B></I><B>
Fernald</B></B>, Rhodora 2: 232.
 1900 - Northern meadow-rue, pigamon des fronteri&egrave;res -
E
<P>
<I>Thalictrum turneri</I>
B.&nbsp;Boivin; <I>T</I>. <I>venulosum</I> Trelease var. <I>confine</I>
(Fernald) B.&nbsp;Boivin
<P>
<B>Stems</B>
erect, to 100&nbsp;cm, from rhizomes.  <B>Leaves:</B> cauline
leaves 3-4, those proximal to inflorescence petiolate, those subtending
panicle branches sessile.  <B>Leaf blade:</B> leaflets reniform-cordate,
apically 3-5-lobed, 15-50&nbsp;mm wide, lobe margins crenate,
surfaces glabrous to glandular.  <B>Inflorescences</B> terminal,
panicles, narrow with ascending branches, many flowered.  <B>Flowers:</B>
sepals yellowish to purple, oblong, 1.5-5&nbsp;mm; filaments colored,
not white; anthers 3-4.5&nbsp;mm, mucronate; stigma purple.  <B>Achenes</B>
4-13, erect, incurved, not reflexed, sessile; body fusiform to
ovoid, not laterally compressed, adaxial surface 4-6&nbsp;mm,
glandular, veins prominent, not anastomosing-reticulate; beak
(2-)2.5-4(-5)&nbsp;mm.  
<P>
 Flowering early-mid summer (Jun-Jul).
 Alluvial or shingly calcareous shores and talus; 0-200&nbsp;m;
N.B., Ont., P.E.I., Que.; N.Y., Vt.
<P>
 The relationship between <I>Thalictrum
confine</I> and <I>T</I>.&nbsp;<I>venulosum</I> is unclear and
requires additional field study. <BR>

<P>
<B>