16. <A NAME="27101870"></A><I><B>Thalictrum heliophilum</B></I><B>
Wilken &amp; DeMott</B></B>,
Brittonia 35: 156.  1983 - C E F
<P>
<B>Roots</B>
fibrous.  <B>Stems</B> 14-50&nbsp;cm, arising singly or in dense
clusters of 2-3 from short, horizontal, fibrous-rooted rhizomes.
 <B>Leaves</B> basal and cauline, petiolate.  <B>Leaf blade</B>
ternately compound, cauline blades gradually reduced upward, distalmost
2-ternate; leaflets broadly obovate, apically 3-toothed, otherwise
undivided, 5-8 &#215; 4-5&nbsp;mm, leathery, surfaces glabrous,
glaucous.  <B>Inflorescences</B> terminal, panicles, many flowered.
 <B>Flowers:</B> sepals 4, color unknown, lanceolate to ovate,
2-3&nbsp;mm; filaments brownish, 2-3&nbsp;mm; anthers 2-3&nbsp;mm,
apiculate; stigma color unknown.  <B>Achenes</B> 4-5(-6), not
reflexed, nearly sessile; stipe 0.1-0.2&nbsp;mm; body oblique-obovate,
strongly laterally compressed, 4-5&nbsp;mm, glabrous, glaucous,
prominently 3-veined on each side, veins converging near apex,
rarely branched or sinuous, not anastomosing-reticulate; beak
ca. 1.5&nbsp;mm.  
<P>
 Flowering summer-summer (Jun-Aug).
 Decomposing shale of Green River Formation; of conservation concern;
2500&nbsp;m; Colo.  
<P>
 In a genus of primarily mesophytic
plants, <I>Thalictrum heliophilum</I> is notable for its relatively
xeric habitat.  Known only from Garfield and Rio Blanco counties,
northwestern Colorado, it is similar to the widespread <I>T</I>.&nbsp;<I>fendleri</I>;
it may be distinguished by its smaller, leathery, glaucous leaflets
and fewer achenes.  <BR>

<P>
<B>