20. <A NAME="27100242"></A><I><B>Thalictrum dasycarpum</B></I><B>
Fischer &amp; Av&eacute;-Lallemant in Fischer</B></B>,
C.&nbsp;A. Meyer &amp; Av&eacute;-Lallemant, Index Sem. Hort.
Petrop. 8: 72.  1842 - Purple meadow-rue - E F
<P>
<I>Thalictrum dasycarpum</I>
var. <I>hypoglaucum</I> (Rydberg) B.&nbsp;Boivin
<P>
<B>Stems</B>
erect, stout, 40-150(-200)&nbsp;cm.  <B>Leaves</B> chiefly cauline;
basal and proximal cauline petiolate, distal cauline leaves sessile
or nearly so; petioles and rachises glabrous or occasionally pubescent
and/or stipitate-glandular.  <B>Leaf blade:</B> basal and proximal
cauline 3-5&#215;-ternately compound; leaflets brownish green
to dark green or bright green, ovate to cuneate-obovate, apically
undivided or 2-3(-5)-lobed, 15-60 &#215; 8-45&nbsp;mm, length
0.9-2.6 times width, usually leathery with veins prominent abaxially,
margins often revolute, lobe margins entire, surfaces abaxially
usually pubescent and/or papillose (i.e., with very minute sessile
glands).  <B>Inflorescences</B> panicles, apically &#177;&nbsp;acutely
pyramidal, many flowered; peduncles and pedicels usually glabrous,
rarely pubescent or stipitate-glandular.  <B>Flowers</B> usually
unisexual, staminate and pistillate on different plants; sepals
4(-6), whitish, lanceolate, 3-5&nbsp;mm; filaments white to purplish,
filiform, scarcely dilated distally, 2-6.5&nbsp;mm, flexible;
anthers 1-3.6(-4)&nbsp;mm, usually strongly apiculate.  <B>Achenes</B>
numerous, sessile or nearly sessile; stipe 0-1.1&nbsp;mm; body
ovoid to fusiform, 2-4.6&nbsp;mm, prominently veined, usually
pubescent and/or glandular; beak often dehiscent as fruit matures,
&#177;&nbsp;straight, filiform, 1.5-4.7(-6)&nbsp;mm, about as
long as achene body.
<P>
 Flowering late spring-summer (May-late
Jul).  Deciduous, riparian woods, damp thickets, swamps, wet meadows,
and prairies; 80-2500&nbsp;m; Alta., B.C., Man., Ont., Que., Sask.,
Yukon; Ala., Ariz., Ark., Colo., Idaho, Ill., Ind., Iowa, Kans.,
Ky., La., Mich., Minn., Miss., Mo., Mont., Nebr., N.Mex., N.Y.,
N.Dak., Ohio, Okla., Pa., S.Dak., Tenn., Tex., Utah., Wis., Wyo.
<P>
 <I>Thalictrum dasycarpum</I> is a variable
species similar to, and possibly intergrading with, <I>T</I>.&nbsp;<I>pubescens</I>.
 Glabrous variants of <I>T</I>.&nbsp;<I>dasycarpum</I> have been
treated as <I>T</I>.&nbsp;<I>dasycarpum</I> var. <I>hypoglaucum</I>.
 Glabrous and glandular (stipitate and papillate) forms are found
throughout the range of the species and occur together in some
populations. 
<P>
 Native Americans used <I>Thalictrum
dasycarpum</I> medicinally to reduce fever, cure cramps, as a
stimulant for horses, and as a love charm (D.&nbsp;E. Moerman
1986).<BR>

<P>
<B>