4. <A NAME="27100838"></A><I><B>Thalictrum clavatum</B></I><B>
de Candolle</B></B>, Syst. Nat.
1: 171.  1817 - Mountain meadow-rue - E F
<P>
<I>Thalictrum filipes</I>
Torrey &amp; A.&nbsp;Gray; <I>T</I>.&nbsp;<I>nudicaule</I> Schweinitz
ex Torrey &amp; A.&nbsp;Gray
<P>
<B>Roots</B>
few, blackish, filiform or somewhat tuberous.  <B>Stems</B> erect,
not scapose, 15-50(-60)&nbsp;cm, glabrous.  <B>Leaves</B> basal
and cauline; proximal cauline leaves petiolate, 2-3&#215;-ternately
compound; distal cauline leaves sessile or short-petiolate, 2&#215;-ternately
compound or simple.  <B>Leaf blade:</B> leaflets reniform to obovate,
apically 4-7-lobed, 10-30&nbsp;mm wide, lobe margins crenate,
surfaces abaxially glaucous.  <B>Inflorescences</B> panicles or
nearly corymbs, few flowered.  <B>Flowers:</B> pedicels very slender,
elongate; sepals white, obovate-spatulate, 2.5-4&nbsp;mm; filaments
white, 2.5-4&nbsp;mm; anthers 0.3-0.5&nbsp;mm.  <B>Achenes</B>
3-8, spreading; stipe 1-3(-4)&nbsp;mm, usually &#177;&nbsp;1/2
as long (sometimes nearly as long) as achene body; body flat,
falcate, 3-5&nbsp;mm, abaxially convex, adaxially concave, conspicuously
3-veined on each face; beak minute.
<P>
 Flowering spring-summer (May-Jul).
 Rich moist woods, cliffs, seepage slopes, and mountain streams
in mountains and piedmont; 500&nbsp;m; Ga., Ky., N.C., S.C., Tenn.,
Va., W.Va.<BR>

<P>
<B>