6. <A NAME="27100248"></A><I><B>Thalictrum sparsiflorum</B></I><B>
Turczaninow ex Fischer &amp; C.&nbsp;A. Meyer</B></B>,
Index Sem. Hort. Petrop. 1: 40.  1835 - Mountain meadow-rue, few-flowered
meadow-rue - F
<P>
<I>Thalictrum sparsiflorum</I>
subsp. <I>richardsonii</I> (A.&nbsp;Gray) Cody; <I>T</I>.&nbsp;<I>sparsiflorum</I>
var. <I>nevadense</I> B.&nbsp;Boivin; <I>T</I>.&nbsp;<I>sparsiflorum</I>
var. <I>richardsonii</I> (A.&nbsp;Gray) B.&nbsp;Boivin; <I>T</I>.&nbsp;<I>sparsiflorum</I>
var. <I>saximontanum</I> B.&nbsp;Boivin    
<P>
<B>Stems</B>
erect, leafy, slender, (20-)30-100(-120)&nbsp;cm, glabrous.  <B>Leaves</B>
mostly cauline, proximal leaves petiolate, distalmost sessile.
 <B>Leaf blade</B> (2-)3-ternate; leaflets obovate to orbiculate
or cordate, usually 3-cleft and divisions 3-lobed, thin, 10-20&nbsp;mm,
surfaces abaxially often glandular-puberulent.  <B>Inflorescences</B>
axillary, 1-few flowers, diffuse, leafy; bracts leaflike, large.
 <B>Flowers:</B> pedicels abruptly recurved in fruit; sepals whitish
or greenish, often purplish tinged, elliptic, 2-3.5(-4)&nbsp;mm;
stamens 12-20, whitish; filaments 3-4.5&nbsp;mm; anthers 0.5-0.8&nbsp;mm.
 <B>Achenes</B> (4-)6-12; stipe 0.3-1.5&nbsp;mm; body obliquely
obovate to half-rhombic, strongly compressed, (4-)5-6 &#215; 3-4&nbsp;mm,
abaxial margin straight, glabrous or glandular-puberulent, faintly
3-4(-5)-veined; beak 1-1.5&nbsp;mm.  
<P>
 Flowering late spring-summer (Jun-Aug).
 Meadows, damp thickets, bogs, and coniferous, deciduous, and
riparian woods; 0-3000&nbsp;m; Alta., B.C., Man., N.W.T., Ont.,
Sask., Yukon; Alaska, Calif., Colo., Idaho, Mont., Nev., Oreg.,
Utah, Wyo.; ne Asia.
<P>
 The Cheyenne the flowers and ground
plants of <I>Thalictrum sparsiflorum</I> medicinally to make their
horses &quot;spirited, long-winded, and enduring&quot; (D.&nbsp;E.
Moerman 1986).<BR>

<P>
<B>