22. <A NAME="27100840"></A><I><B>Thalictrum cooleyi</B></I><B>
H.&nbsp;E. Ahles</B></B>, Brittonia
11: 68.  1959 - Cooley's meadow-rue - C E F
<P>
<B>Stems</B>
erect to reclining, slender, 60-200&nbsp;cm.  <B>Leaves:</B> proximal
cauline petiolate, distal cauline sessile to nearly sessile; petioles
and rachises glabrous, neither pubescent nor glandular.  <B>Leaf
blade:</B> proximal cauline mostly 2&#215;-ternately compound,
distal cauline usually ternately compound; leaflets linear to
narrowly lanceolate or oblanceolate, apically occasionally 2-3-lobed,
12-68 &#215; 1-12&nbsp;mm, length (2.6-)4-26 times width, membranous
to leathery, margins sometimes revolute, lobe margins entire;
surfaces abaxially glabrous.  <B>Inflorescences</B> racemes to
panicles, elongate, few flowered; peduncles and pedicels neither
pubescent nor glandular.  <B>Flowers</B> usually unisexual, staminate
and pistillate on different plants; sepals 4-5, white to yellowish
in staminate flowers, greenish in pistillate flowers, obovate,
1.5&nbsp;mm; filaments white to purple, 2.5-6&nbsp;mm; anthers
0.9-2.5&nbsp;mm.  <B>Achenes</B> 5-6, sessile or nearly sessile;
stipe 0-0.4&nbsp;mm; body ellipsoid, 4.5-6&nbsp;mm, prominently
veined, glabrous; beak 1.3-2.4&nbsp;mm.  2<I>n</I>&nbsp;=&nbsp;210.
 
<P>
 Flowering summer (mid Jun-mid Jul).
 Boggy, savannahlike borders of low woodlands, and disturbed areas
such as roadside ditches, clearings, and edges of frequently burned
savannahs; of conservation concern; Fla., N.C.
<P>
 <I>Thalictrum cooleyi</I> occurs commonly
on Grifton soil and is associated with some sort of disturbance,
including clearings, edges of frequently burned savannahs, roadsides,
and powerline rights-of-way that are maintained by fire or mowing.
 Silvicultural and agricultural practices and their associated
suppression of fire have seriously affected populations of <I>T</I>.&nbsp;<I>cooleyi</I>.
 Furthermore, fruit production appears to be quite low in the
species (S.&nbsp;W. Leonard 1987).  
<P>
 Leaves of <I>Thalictrum cooleyi</I>
have fewer leaflets than other species of <I>Thalictrum</I> sect.
<I>Leucocoma</I>.
