21. <A NAME="27100846"></A><I><B>Thalictrum macrostylum</B></I><B>
Small &amp; A.&nbsp;Heller</B></B>,
Mem. Torrey Bot. Club 3: 8.  1892 - E
<P>
<I>Thalictrum subrotundum</I>
B.&nbsp;Boivin
<P>
<B>Stems</B>
erect to &#177;&nbsp;reclining, slender, 50-200&nbsp;cm, glabrous.
 <B>Leaves</B> basal and cauline; basal and proximal cauline petiolate,
distal cauline sessile; petioles and rachises glabrous, neither
pubescent nor glandular.  <B>Leaf blade</B> ternately and pinnately
decompound; leaflets grayish green to brownish to bright green,
nearly orbiculate to ovate or obovate, apically undivided or shallowly
2-3-lobed, 5-16(-22) &#215; 3-18&nbsp;mm, length 1-3.3 times width,
leathery and prominently reticulate abaxially, or sometimes quite
membranous, margins sometimes revolute, lobe margins entire; surfaces
abaxially glabrous.  <B>Inflorescences</B> racemes or panicles,
elongate, few flowered; peduncles and pedicels neither pubescent
nor glandular.  <B>Flowers</B> either unisexual with staminate
and pistillate on different plants, or bisexual and unisexual
with staminate and bisexual on some plants, pistillate and bisexual
on others; sepals 4(-6), greenish to white, nearly orbiculate,
1-2&nbsp;mm; filaments white, filiform or sometimes clavate, 1.8-4&nbsp;mm,
rigid to flexible; anthers 0.5-1.2&nbsp;mm.  <B>Achenes</B> numerous,
slightly stipitate; stipe 0.3-0.7&nbsp;mm; body ovoid, 3-4.5&nbsp;mm,
prominently veined, glabrous; beak 0.7-1.7&nbsp;mm. 2<I>n</I>&nbsp;=&nbsp;56.
 
<P>
 Flowering late spring-summer (early
Jun-mid Jul).  Low woods, rich wooded slopes, cliffs, swampy forests,
meadows, and limestone sinks; 500-800&nbsp;m; Ala., Fla., Ga.,
Miss., N.C., S.C., Va.
<P>
 Much variation in <I>Thalictrum macrostylum</I>
seems to be associated with habitat differences, especially the
amount of sunlight received.  The name <I>T</I>.&nbsp;<I>subrotundum</I>
merely represents plants of <I>T</I>.&nbsp;<I>macrostylum</I>
growing in deep shade.  Common garden studies and cluster analyses
do not support recognition of two species (M.&nbsp;Park 1992).
<BR>

<P>
<B>