9. <A NAME="27100842"></A><I><B>Thalictrum debile</B></I><B>
Buckley</B></B>, Amer. J.&nbsp;Sci.
Arts 45:  175.  1843 - C E
<P>
<B>Roots</B>
brownish, fusiform-tuberous with dried ribs.  <B>Stems</B> reclining,
branched and flexible proximally, 10-40&nbsp;cm, glabrous.  <B>Leaves:</B>
proximal cauline leaves petiolate, 1-3&#215;-ternately compound;
distal cauline leaves petiolate or sessile, 1-2&#215;-ternately
compound or simple.   <B>Leaf blade:</B> leaflets ovate or obovate
to reniform or orbiculate, apically shallowly to deeply 3-7-lobed,
rarely undivided, 4-15&nbsp;mm wide, surfaces glabrous.  <B>Inflorescences</B>
terminal and axillary, panicles, elongate, few flowered.  <B>Flowers:</B>
sepals whitish, lanceolate to obovate, 1.5-2.7&nbsp;mm; filaments
colored, not white, 1.5-2&nbsp;mm; anthers 1.7-2.5&nbsp;mm, mucronate;
stigma color unknown.  <B>Achenes</B> 1-6, not reflexed, nearly
sessile; stipe 0.1-0.3&nbsp;mm; body oblong to elliptic-lanceolate,
not compressed, 3-3.7 &#215; 0.7-1.2&nbsp;mm, glabrous, prominently
6-8-veined, veins not anastomosing; beak 1.3-2&nbsp;mm.  
<P>
 Flowering in early spring (Mar-Apr).
 Rich, rocky, limestone woods, often in wet, alluvial soil; of
conservation concern; 50-300&nbsp;m; Ala., Ga., Miss.
<P>
 <I>Thalictrum debile</I> is closely
related to <I>T</I>.&nbsp;<I>arkansanum</I> and <I>T</I>.&nbsp;<I>texanum</I>.
 The distinctions among the three species should be further studied.
<BR>

<P>
<B>