1. <A NAME="27100858"></A><I><B>Thalictrum thalictroides</B></I><B>
(Linnaeus) A.&nbsp;J. Eames &amp; B.&nbsp;Boivin</B></B>,
Bull. Soc. Roy. Bot. Belgique 89: 319.  1957 - Rue-anemone, windflower
- E F
<P>
<I>Anemone thalictroides</I>
Linnaeus, Sp. Pl. 1: 542.  1753; <I>Anemonella thalictroides</I>
(Linnaeus) Spach; <I>Syndesmon thalictroides</I> (Linnaeus) Hoffmannsegg;
<I>Thalictrum anemonoides</I> Michaux
<P>
<B>Roots</B>
black, tuberous.  <B>Stems</B> erect, scapose, 10-30&nbsp;cm,
glabrous.  <B>Leaves</B> basal; petiole 10-30&nbsp;cm.  <B>Leaf
blade</B> 2&#215;-ternately compound; leaflets widely ovate or
obovate to nearly rotund, apically 3-lobed, 8-30&nbsp;mm wide,
surfaces glabrous.  <B>Inflorescences</B> umbels or flowers solitary,
(1-)3-6-flowered; involucral bracts usually 3-foliolate, petiolate
and opposite, or sessile with leaflets appearing to be whorls
of 6 petiolate leaves, otherwise similar to basal leaves.  <B>Flowers:</B>
sepals not caducous, white to pinkish, showy, elliptic to obovate,
5-18&nbsp;mm, longer than stamens; filaments narrowly clavate,
3-4&nbsp;mm; anthers 0.4-0.7&nbsp;mm.  <B>Achenes</B> (4-)8-12(-15),
short-stipitate; stipe 0.1-0.4&nbsp;mm; body ovoid to fusiform,
3-4.5&nbsp;mm, prominently 8-10-veined.    
<P>
 Flowering spring (Mar-Jun).  Deciduous
woods, banks, and thickets; 0-300&nbsp;m; Ont.; Ala., Ark., Conn.,
Del., D.C., Fla., Ga., Ill., Ind., Iowa, Kans., Ky., La., Maine,
Mass., Mich., Minn., Miss., Mo., N.H., N.J., N.Y., N.C., Ohio,
Okla., Pa., R.I., S.C., Tenn., Vt., Va., W.Va., Wis.
<P>
 In <I>Thalictrum</I>, <I>T</I>.&nbsp;<I>thalictroides</I>
is unique in having umbelliform inflorescences and is therefore
easy to identify.  Based on this one distinction, many botanists
still place it in the genus <I>Anemonella</I>.  The leaflets,
flowers, and fruits, however, are not unlike those of <I>Thalictrum</I>.
<P>
 The Cherokee used infusions prepared
from the roots of <I>Thalictrum thalictroides</I> to treat diarrhea
and vomiting (D.&nbsp;E. Moerman 1986).<BR>

<P>
<B>