22b. <A NAME="27103546"></A><I><B>Thalictrum</B></I><B>
Linnaeus sect. <I>Thalictrum</I></B></B>
<P>
<I>Thalictrum</I>
sect. <I>Homothalictrum</I> B.&nbsp;Boivin 
<P>
<B>Inflorescences</B>
panicles or racemes.  <B>Flowers</B> bisexual; sepals 5 (often
4 in <I>T</I>.&nbsp;<I>alpinum</I>); filaments filiform.  <B>Achenes</B>
sessile to nearly sessile.
<P>
 Species 33 (2 in the flora): temperate
North America and Eurasia.<BR>

<P>
<B>