

<P><B>4. TRAUTVETTERIA
Fischer &amp; C. A. Meyer</B>, Index Sem.
Hort. Petrop. 1: 22. 1835 &middot; False bugbane, tassel-rue [for Ernst
Rudolph von Trautvetter (1809-1889), Russian botanist]</P>

<P><B>Herbs</B>, perennial, from short, slender
rhizomes. <B>Leaves</B> basal and cauline, simple, proximal leaves petiolate,
distal leaves sessile; cauline leaves alternate. <B>Leaf blade</B> palmately
5-11-lobed; segments broadly cuneate, margins lacerate to serrate. <B>Inflorescences</B>
terminal, &plusmn;many-flowered corymbs, 2.5-43 cm; bracts inconspicuous,
linear-lanceolate, not forming involucre. <B>Flowers</B> bisexual, radially
symmetric; sepals not persistent in fruit, 3-5(-7), greenish white, concave-cupped,
broadly ovate to obovate, clawed, 3-6 mm; petals absent; stamens ca. 50-100;
outer filaments 15-20, spatulate, often distally wider than anthers, inner
filaments not dilated; staminodes absent between stamens and pistils; pistils
ca. 15, simple; ovule 1 per pistil; style present. <B>Fruits</B> utricles,
aggregate, sessile, ellipsoid to obovoid, 4-angled in cross section, sides
prominently veined; beak terminal, curved to hooked, 0.4-0.8 mm. <I>x</I>=8.</P>

<P>Species 1 (1 in the flora): North America,
e Asia.<BR>
<BR>
<BR>
<B>