1. <A NAME="27100859"></A><I>Trautvetteria caroliniensis</I> (Walter)
Vail</B>, Mem. Torrey Bot. Club 2: 42. 1890 &middot; False bugbane, tassel-rue
&middot; F</P>

<P><I>Hydrastis caroliniensis</I> Walter, Fl.
Carol., 156. 1788; <I>Trautvetteria caroliniensis</I> var. <I>borealis</I>
(Hara) T. Shimizu; <I>T</I>. <I>caroliniensis</I> var. <I>occidentalis</I>
(A.Gray) C. L. Hitchcock; <I>T </I>.<I>grandis</I> Nuttall; <I>T</I>. <I>palmata</I>
(Michaux) Fischer &amp; C. A. Meyer</P>

<P><B>Herbs</B>, 0.5-1.5 m. <B>Rhizome</B> with
fascicles of fibrous roots. <B>Stems</B> 1-several, erect, usually unbranched
below inflorescence, 0.5-1.5 m, glabrous or glabrate. <B>Leaves:</B> basal
leaves with petiole to 4.5dm, blade 1-3(-4) dm wide, lobe apex acute; cauline
leaves reduced toward apex of stem. <B>Inflorescences:</B> peduncle 1-8dm;
pedicel densely pubescent with minute, hooked trichomes. <B>Flowers:</B>
stamens white, 5-10 mm. <B>Utricles</B> papery, veins prominent along angles
and on 2 adaxial faces. 2<I>n</I>=16.</P>

<P>Flowering summer. Wooded seepage slopes, stream
banks, bogs, rarely prairies or bluffs, western spruce-fir forests and
subalpine meadows; 0-3800 m; B.C.; Ala., Ariz., Ark., Calif., Colo., Fla.,
Ga., Idaho, Ill., Ky., Md., Mo., Mont., N.Mex., N.C., Oreg., Pa., S.C.,
Tenn., Utah, Va., Wash., W.Va., Wyo.; Mexico; e Asia.</P>

<P><I>Trautvetteria caroliniensis</I> apparently
has been extirpated from Indiana.</P>

<P>The numerous white stamens make <I>Trautvetteria
caroliniensis</I> an attractive ornamental, and it is reportedly easy to
grow.</P>

<P>Populations of <I>Trautvetteria caroliniensis</I>
in western North America have been distinguished from the eastern typical
material as <I>T</I>. <I>caroliniansis</I> var. <I>borealis</I> (Hara)
T. Shimizu [synonym: <I>T</I>. <I>caroliniensis</I> var. <I>occidentalis</I>
(A. Gray) C.L. Hitchcock]. Asian populations, long treated as the distinct
species <I>T</I>. <I>japonica</I> Siebold &amp; Zuccarini, were most recently
regarded (T. Shimizu 1981; M. Tamura 1991) as conspecific with the North
American populations [as <I>T</I>. <I>caroliniensis</I> var. <I>japonica</I>
(Siebold &amp; Zuccarini) T. Shimizu]. Aside from geography, varietal differences
seem rather arbitrary.</P>

<P>The Bella Coola applied poultices made from
the pounded roots of <I>Trautvetteria caroliniensis</I> to boils (on adults
only) (D.E. Moerman 1986).</P>

