2. <A NAME="27101680"></A><I>Trollius albiflorus</I> (A.Gray) Rydberg</B>,
Mem. New York Bot. Gard. 1: 152. 1900 - White globe-flower - E F</P>

<P><I>Trollius laxus</I> Salisbury var. <I>albiflorus</I>
A.Gray, Amer. J. Sci. Arts, ser. 2, 33: 241. 1862</P>

<P><B>Stems</B> 0.7-5.5 dm (to 8dm in fruit),
base with few petioles persistent from previous year. <B>Leaves:</B> basal
leaves with petioles 4-25 cm, some leaves reduced to sessile, ovate membranous
scales; cauline leaves 1-3(-5), with broad, clasping, membranous sheaths.
<B>Flowers</B> 2.5-5 cm diam.; sepals 5-9, spreading, white when fresh
(pale yellow to greenish white before anthesis), ovate to obovate or nearly
orbiculate, 10-20 mm; petals 15-25, yellow, 1/2-2/3 length of stamens when
pollen shed, 3-6 mm. <B>Follicles</B> usually 11-14, 8-16 mm including
beak; beak often somewhat recurved, sometimes straight. 2<I>n</I>=16.</P>

<P>Flowering summer. Open, wet places, &plusmn;acidic,
montane to alpine; 1200-3800 m; Alta., B.C.; Colo., Idaho, Mont., Utah,
Wash., Wyo.</P>

<P>The diploid <I>Trollius albiflorus</I> is
isolated from the tetraploid <I>T</I>. <I>laxus</I> ecologically, geographically,
and reproductively, although it often has been treated as a variety of
the latter.</P>

<P>Identities of specimens of <I>Trollius albiflorus</I>
and the superficially similar <I>Anemone narcissiflora</I> subsp. <I>zephyra</I>
in Colorado and Wyoming are sometimes confused. Close examination reveals
a number of differences. The anemone has sepals yellow (not white), leaf
blades and flowering stems pilose to villous (not glabrous), achenes (not
follicles), and leaflike bracts subtending the pedicels and whorled (leaves
alternate in <I>Trollius</I>).<BR>
<BR>
<BR>
<B>