3. <A NAME="27100862"></A><I>Trollius laxus</I> Salisbury</B>, Trans.
Linn. Soc. London 8: 303. 1807 - Spreading globe-flower, American globe-flower
- E</P>

<P><I>Trollius americanus</I> de Candolle</P>

<P><B>Stems</B> to 0.5-5.2 dm, base with few
petioles (occasionally thatchlike) persisting from previous year. <B>Leaves:</B>
basal leaves with petioles to 5-30 cm; cauline leaves 2-5, base scarcely
membranous or clasping. <B>Flowers</B> 2.5-5 cm diam.; sepals 5-7(-9),
spreading, bright to pale yellow when fresh, ovate to obovate or nearly
orbiculate, 10-20 mm; petals 10-15(-25), yellow, 1/2-2/3 length of stamens
when pollen shed, 3-6 mm. <B>Follicles</B> usually 5-12, 8-12 mm including
beak; beak usually straight or slightly incurved (rarely slightly recurved).
2<I>n</I>=32.</P>

<P>Flowering spring-summer. Calcareous soils
(rarely not calcareous) in alkaline meadows and open swamps; 100-500 m;
Conn., Del., N.J., N.Y., Pa., Ohio.</P>

<P><I>Trollius laxus</I> is closely related to
the widespread, relatively common, western species <I>T</I>. <I>albiflorus</I>.
Morphologically, the two are separated only by sepal color and the tendency
for <I>T</I>. <I>albiflorus</I> to have slightly recurved follicular beaks
and slightly smaller seeds.</P>

<P><I>Trollius laxus</I> has been extirpated
from central Pennsylvania. The species has been reported from Michigan;
E. G. Voss (1972+, vol. 2) cast doubt on its occurrence there because no
specimens to substantiate the reports have been found.</P>

<P>The Cherokee used infusions prepared from
the leaves and stems of <I>Trollius laxus</I> to treat thrash (D. E. Moerman
1986).<BR>
<BR>
</P>

