1. <A NAME="50003120"></A><I>Trollius riederianus</I> Fischer &amp;
C. A. Meyer</B>, Index Sem. Hort. Petrop. 4: 48. 1838</P>

<P><B>Stems</B> 1.1-4.5(-6) dm, base with persistent
thatch of petioles from previous years. <B>Leaves:</B> basal leaves with
petioles 5-20(-40) cm; cauline leaves 2-5, with broad, clasping, membranous
sheaths. <B>Flowers</B> 3-6 cm diam.; sepals 5-7(-12), spreading, somewhat
incurved, orange-yellow when fresh, obovate to ovate-orbiculate, 15-27
mm; petals 5-7, orange, &plusmn; length of stamens when pollen shed, 8-12
mm. <B>Follicles</B> 5-10, 7-10 mm including beak; beak straight.</P>

<P>Flowering summer. Moist meadows; 0-200 m;
Alaska; Asia.</P>

<P><I>Trollius riederianus</I> has been found
in the flora only on the south side of Kiska Island in the western Aleutian
Islands and at Cold Bay at the western end of the Alaska Peninsula; it
is apparently native. The species is more widespread in eastern Asia, ranging
from northern Japan and the coastal plain of China to the Russian Far East.<BR>
<BR>
<BR>
<B>