

<P><B>14. TROLLIUS Linnaeus</B>,
Sp. Pl. 1: 556. 1753; Gen. pl. ed. 5, 243. 1754 - Globe-flower [German
<I>Trollblume</I>, globe-flower]</P>

<P><B>Herbs</B>, perennial, from short caudices.
<B>Leaves</B> basal and cauline, proximal leaves petiolate, distal leaves
sessile or nearly so; cauline leaves alternate. <B>Leaf blade</B> deeply
palmately divided into (3-)5-7 segments, segments obovate, &plusmn; 3-lobed,
margins coarsely toothed, often incised. <B>Inflorescences</B> terminal,
1-3[-7]-flowered open cymes or flowers solitary; peduncle 2-30 cm; bracts
leaflike, not forming involucre. <B>Flowers</B> bisexual, radially symmetric;
sepals not persistent in fruit, (4-)5-9[-30], white to orange-yellow [orange-red
or purplish], &plusmn; plane [strongly concave and incurved], elliptic,
orbiculate, or obovate, sometimes short-clawed, 10-30 mm; petals 5-25,
distinct, yellow or orange, plane with cupped base of blade, linear-oblong
[ovate], &plusmn; clawed, 2-10[-40] mm; nectary within pocketlike base
of blade; stamens 20-75; filaments filiform; staminodes absent between
stamens and pistils; pistils 5-28[-50], simple; ovules 4-5(-9) per pistil;
style present. <B>Fruits</B> follicles, aggregate, sessile, oblong, sides
transversely veined; beak terminal, straight, 2-4 mm. <B>Seeds</B> black
or dark brown, faceted to angular, dull or lustrous. <I>x</I>=8.</P>

<P>Species ca. 30 (3 in the flora): north temperate
and arctic regions, North America, Europe, Asia.</P>

<P>As many as 10 Eurasian species of <I>Trollius</I>
have been cultivated in North America as ornamentals. Of these, only <I>T</I>.
<I>europaeus</I> Linnaeus has been reported to escape. The species infrequently
persists near old dwellings in New Brunswick (B.Boivin 1966; H.Hinds, pers.
comm.). <I>Trollius europaeus</I> may be distinguished from all North American
species by its globose flowers with strongly incurved sepals (in North
American species flowers are shallowly bowl-shaped with sepals &plusmn;
spreading).</P>

<P><B>SELECTED REFERENCE<BR>
</B>Doroszewska, A. 1974. The genus <I>Trollius </I>L., a taxonomical study.
Monogr. Bot. 41: 1-167, plates 1-16.<BR>
<BR>
<BR>
<B>