1b.<A NAME="17804388"></A><I>Umbellularia
californica</I> (Hooker &amp; Arnott) Nuttall var. <I>fresnensis</I> Eastwood</B>,
Leafl. W. Bot. 4: 166. 1945<B> - </B>C E</P>

<P><B>Leaf blade</B> minutely tomentose abaxially.
<B>Inflorescence stalk</B> with longer and denser pubescence than in var.
<I>californica</I>.</P>

<P>Flowering fall-early spring (Nov-Apr). In
woods; of conservation concern; 200&nbsp;m; Calif.</P>

<P><I>Umbellularia californica</I> var. <I>fresnensis</I>
is known only from Fresno County, California. The type seems quite distinct
from specimens of var. <I>californica</I>, but status and distribution
of var. <I>fresnensis</I> should be further researched. Because I have
not seen intermediate specimens, I am not willing to reduce var. <I>fresnensis</I>
to synonymy.<BR>
</P>

