1.<A NAME="17804222"></A><I>Umbellularia
californica</I> (Hooker &amp; Arnott) Nuttall</B>,
N.&nbsp;Amer. Sylv. 1: 87. 1842 -California bay, Oregon-myrtle, myrtle-wood,
California laurel, pepperwood - F</P>

<P><I>Tetranthera californica</I> Hooker &amp;
Arnott, Bot. Beechey Voy., 159. 1833</P>

<P><B>Trees or shrubs</B>, to 45&nbsp;m; twigs
terete, glabrous or sparsely appressed-pubescent, rarely minutely tomentose.
<B>Leaf blade</B> deep yellow-green, shiny, narrowly oblong or narrowly
elliptic, 3-10 &times; 1.5-3&nbsp;cm, base acute or obtuse, apex acute;
surfaces abaxially glabrous, sparsely appressed-pubescent or minutely tomentose,
adaxially glabrous; domatia absent. <B>Inflorescences</B> pubescent. <B>Flowers</B>
5-10; tepals 6-8&nbsp;mm. <B>Drupe</B> usually solitary, 2&nbsp;cm or more
diam. 2<I>n</I>&nbsp;=24.</P>

<P>Varieties 2: w coast, North America.</P>

<P>Native Americans used <I>Umbellularia californica</I>
for medicinal purposes and occasionally as an insecticide (D.&nbsp;E. Moerman
1986).</P>

<P><B>