1a.<A NAME="17804389"></A><I>Umbellularia
californica</I> (Hooker &amp; Arnott) Nuttall var. <I>californica</I></B></P>

<P><B>Leaf blade</B> abaxially glabrous or sparsely
appressed-pubescent. <B>Inflorescence stalk</B> glabrous or pubescent,
pubescence generally less dense and shorter than in var. <I>fresnensis</I>.</P>

<P>Flowering fall-early spring (Nov-Apr). Various
habitats, mostly in canyons and valleys; 0-1500&nbsp;m; Calif., Oreg.;
Mexico (Baja California).<BR>
</P>

<P><B>