

<P><B>4. UMBELLULARIA (Nees)
Nuttall</B>, N. Amer. Sylv. 1: 87. 1842
-Californian bay [Latin <I>umbellula</I>, partial umbel]</P>

<P><I>Oreodaphne</I> Nees &amp; Martius ex Nees
subg. <I>Umbellularia</I> Nees, Syst. Laur., 464. 1836</P>

<P><B>Shrubs or trees</B>, evergreen. <B>Bark</B>
dark brown, thin. <B>Leaves</B> alternate, with pungent odor when crushed.
<B>Leaf blade</B> pinnately veined, leathery; surfaces glabrous or sparsely
pubescent, gland-dotted; domatia absent. <B>Inflorescences</B> appearing
when mature leaves are present, axillary, pseudoumbels, stalked, young
pseudoumbel enclosed by spirally arranged bracts. <B>Flowers</B> bisexual;
tepals deciduous, yellowish, equal, glabrous; stamens 9, anthers 4-locular,
4-valved, outer anthers introrse, inner anthers extrorse; staminodes 3,
small, stipitate; ovary superior, ovoid. <B>Drupe</B> greenish, dark purple
when dried, spheric-ovoid, seated in flat, small, single-rimmed cupule.</P>

<P>Species 1: w North America.<BR>
</P>

<P><B>