3. <A NAME="03500260"></A><I>Vancouveria planipetala</I> Calloni</B>,
Malpighia 1: 266, plate 6. 1887 &middot; Redwood-ivy, redwood inside-out
flower &middot; E</P>

<P><I>Vancouveria parviflora</I> Greene</P>

<P><B>Leaves</B> persistent, 2(-3)-ternately
compound, 10-30&nbsp;cm; petiole 1-15&nbsp;cm, sparsely hairy, becoming
glabrous. <B>Leaflet blades</B> rounded-deltate to rounded-pentagonal,
often broader than long, obscurely 3-lobed, base cordate, margins conspicuously
thickened, crisped, apex minutely notched; surfaces abaxially glabrous
or sparsely hairy, adaxially glabrous. <B>Inflorescences:</B> peduncle
1-2&nbsp;dm; pedicel 1-3&nbsp;cm, stipitate-glandular. <B>Flowers</B> 20-50;
bracteoles 6-9, white to yellow, glands absent; sepals 6, white to yellow,
oblanceolate, 4-5&nbsp;mm, glands absent; petals 6, white, sometimes lavender-tinged,
3-4&nbsp;mm, margins entire, apex notched, not reflexed, lateral lobes
bearing nectaries, nectaries golden; filaments without glands. <B>Follicles</B>
greenish brown, 4-7&nbsp;mm including beak, beak 2&nbsp;mm, glands absent.
<B>Seeds</B> 1-2, black, lunate, 3-4&nbsp;mm. 2<I>n</I>&nbsp;=&nbsp;24.</P>

<P>Flowering spring (May-Jun); fruiting spring-summer
(Jun-Jul). Redwood forests, shaded areas; 50-1700&nbsp;m; Calif., Oreg.<BR>
</P>

