2. <A NAME="03500164"></A><I>Vancouveria chrysantha</I> Greene</B>,
Bull. Calif. Acad. Sci. 1: 66. 1885 &middot; Siskiyou inside-out flower,
golden inside-out flower &middot; E</P>

<P><B>Leaves</B> persistent, 2-ternately compound
or 3-5-foliolate, 10-18&nbsp;cm; petiole 3-12&nbsp;cm, sparsely hairy.
<B>Leaflet blades</B> ovate to oblong, slightly 3-lobed, leathery, base
cordate, margins thickened, crisped, apex notched; surfaces abaxially pubescent,
glaucous, adaxially glabrous to rarely pubescent. <B>Inflorescences:</B>
peduncle 2-3&nbsp;dm; pedicel 1-4&nbsp;cm, stipitate-glandular. <B>Flowers</B>
4-15; bracteoles 6-9, tan to brown, 1-4&nbsp;mm, caducous, stipitate-glandular;
sepals 6, yellow, spatulate, 6-10&nbsp;mm, stipitate-glandular; petals
6, yellow, 4-6&nbsp;mm, margins entire, apex strongly reflexed, apical
nectary darker yellow; filaments stipitate-glandular. <B>Follicles</B>
greenish brown, 8-15&nbsp;mm including beak, beak 3-4&nbsp;mm, densely
stipitate-glandular. <B>Seeds</B> 3-10, reddish brown, reniform to oblong,
3-4&nbsp;mm. 2<I>n</I>&nbsp;=&nbsp;12.</P>

<P>Flowering spring (May-Jun); fruiting spring-summer
(Jun-Jul). Open, mixed evergreen forests and thickets on serpentine substrates;
100-1500&nbsp;m; Calif., Oreg.<BR>
<BR>
<BR>
<B>