1. <A NAME="03500204"></A><I>Vancouveria hexandra</I> (Hooker) C.&nbsp;Morren
&amp; Decaisne</B>, Ann. Sci. Nat., Bot., s&eacute;r. 2, 2: 351. 1833 &middot;
Northern inside-out flower &middot; E F</P>

<P><I>Epimedium hexandrum</I> Hooker, Fl. Bor.-Amer.
1: 30. 1829</P>

<P><B>Leaves</B> falling when fruits maturing,
2-3-ternately compound, 8-30&nbsp;cm; petiole 3-25&nbsp;cm, pilose at base.
<B>Leaflet blades</B> narrowly to broadly ovate to rhomboid or rounded
pentagonal, often 3-lobed, base cordate, margins entire to slightly sinuate
and not conspicuously thickened, apex rounded to notched; surfaces abaxially
sparsely hairy, adaxially glabrous. <B>Inflorescences:</B> peduncle 2-3&nbsp;dm;
pedicel 1-3&nbsp;cm, glands absent. <B>Flowers</B> 5-30; bracteoles 6-9,
white, yellowish when dried, dotted with glandular trichomes; sepals 6,
white, 5-12&nbsp;mm; petals 6, white, yellowish when dried, 4-6&nbsp;mm,
margins entire, petal apex strongly reflexed, with nectar-bearing pocket,
nectaries golden; filaments stipitate-glandular. <B>Follicles</B> greenish
to light brown, 10-15&nbsp;mm including beak, beak 2-3&nbsp;mm, stipitate-glandular.
<B>Seeds</B> 1-6, black, lunate to reniform, 3&nbsp;mm. 2<I>n</I>&nbsp;=&nbsp;12.</P>

<P>Flowering and fruiting spring-summer (May-Jul).
Redwood and Douglas-fir forests, deep shade; 100-1700&nbsp;m; Calif., Oreg.,
Wash.<BR>
<BR>
<BR>
<B>