

<P><B>7. VANCOUVERIA C.&nbsp;Morren
&amp; Decaisne</B>, Ann. Sci. Nat., Bot., s&eacute;r. 2, 2: 351. 1834 &middot;
Inside-out flower [for George Vancouver (1757-1798), English navigator
and explorer]</P>

<P><B>Herbs,</B> perennial, evergreen or deciduous,
1-5&nbsp;dm, glabrous, glandular-pubescent, or sparsely hairy. <B>Rhizomes</B>
extensive, creeping, nodose, producing 3 or more foliage leaves and flowering
shoots per year. <B>Aerial stems</B> absent. <B>Leaves</B> basal, alternate,
2-3-ternately compound (sometimes 3-5-foliolate in <I>V</I>.&nbsp;<I>chrysantha</I>);
petiole long, slender. <B>Leaf blade</B> deltate in overall outline; rachis
without pulvinae; leaflet blades rhomboid or rounded pentagonal to ovate
to oblong, shallowly 3-lobed, margins entire to sinuate; venation palmate.
<B>Inflorescences</B> terminal, racemes or panicles, open. <B>Flowers</B>
3-merous, 6-14&nbsp;mm; bracteoles 6-9, sepaloid; sepals 6, white to yellow;
petals 6, white to yellow, hooded with tip reflexed or flat, bearing nectar;
stamens 6; anthers dehiscing by 2 apically hinged flaps; pollen exine striate;
ovaries ellipsoid; placentation marginal; style lateral. <B>Fruits</B>
follicles, brown, asymmetric, generally elliptic, dehiscing by 2 valves.
<B>Seeds</B> 4-7, black to reddish brown; aril whitish, covering ca. 1/2-2/3
of seed. <I>x</I>&nbsp;=&nbsp;6.</P>

<P>Species 3 (3 in the flora): w&nbsp;United
States.</P>

<P>The fruits of <I>Vancouveria</I> are thin-walled
follicles that are green or greenish brown at the time of dehiscence. The
follicles dehisce by means of two valves that begin below the style and
open to the base. The two valves recurve, exposing the seeds downward.
In <I>V</I>.&nbsp;<I>hexandra</I> the follicle opens before the seeds are
mature. The green seeds continue to grow and ripen in the open follicle.
The appendage or aril on <I>Vancouveria</I> seeds has been shown to be
a true elaiosome (R.&nbsp;Y. Berg 1972). Ants carry the seeds to their
nests and harvest the appendage as a food source.</P>

<P><B>SELECTED REFERENCES<BR>
</B>Berg, R.&nbsp;Y. 1972. Dispersal ecology of <I>Vancouveria</I> (Berberidaceae).
Amer. J.&nbsp;Bot. 59:&nbsp;109-122. Stearn, W.&nbsp;T. 1938. <I>Epimedium</I>
and <I>Vancouveria</I>, a monograph. J.&nbsp;Linn. Soc., Bot. 51: 409-535.<BR>
<BR>
<BR>
<B>