

<P><B>19. XANTHORHIZA
Marshall</B>, Arbust. Amer., 167. 1785
- Yellowroot [Greek <I>xanthos</I>, yellow, and <I>rhiza</I>, root]</P>

<P><B>Shrubs</B>, deciduous, from long, slender,
yellow rhizomes. <B>Leaves</B> cauline, petiolate; cauline leaves alternate.
<B>Leaf blade</B> 1-2-pinnately compound; leaflets lance-ovate to broadly
ovate or rhombic, margins variously sharply cleft, incised, or serrate.
<B>Inflorescences</B> axillary, many-flowered panicles, 5-21 cm; bracts
scalelike, not forming involucre. <B>Flowers</B> bisexual, radially symmetric;
sepals persistent in fruit, 5, dark brown-purple to greenish yellow, plane,
lanceolate to oblanceolate, usually clawed, ca. 2.5-5 mm; petals 5, distinct,
brown-purple, plane, peltate, 0.5-0.9 mm; nectary terminal, transversely
oblong, 2-lobed; stamens 5 (or 10); filaments with base expanded; staminodes
absent between stamens and pistils; pistils (2-)5-10, simple; ovules 2,
basal ovule aborting; style present. <B>Fruits</B> follicles, aggregate,
sessile, compressed, obliquely oblong or somewhat sickle-shaped, sides
not veined; beak becoming abaxial, curved, 0.4-0.8 mm. <B>Seeds</B> reddish
brown, ovoid, smooth. <I>x</I>=18.</P>

<P>Species 1 (1 in the flora): North America.<BR>
<BR>
<BR>
<B>