1. <A NAME="27100865"></A><I>Xanthorhiza simplicissima</I> Marshall</B>,
Arbust. Amer., 167. 1785 - Yellowroot, shrub yellowroot, brook-feather
- EF</P>

<P><I>Xanthorhiza apiifolia</I> L'H&eacute;ritier</P>

<P><B>Stems</B> 20-70 cm, 3-6mm diam.; bark smooth,
ringed with leaf scars, inner bark yellow. <B>Leaves</B> clustered near
stem apex, to 18cm; leaflets 3-5, 2.5-10 &times; 2-8 cm, sessile to short-petiolulate.
<B>Inflorescences</B> broad-paniculate, arising from cluster of leaves,
6-21 cm, short-pilose; pedicel 2-5 mm. <B>Flowers:</B> sepals spreading,
acuminate; petals with nectary transversely oblong, 2-lobed. <B>Follicles</B>
yellowish brown, glossy, somewhat inflated, 3-4 mm, distally ciliate. 2<I>n</I>=36.</P>

<P>Flowering spring-summer (Apr-May). Shaded
stream banks, moist woods, thickets, and rocky ledges; 0-1200 m; Ala.,
Fla., Ga., Ky., La., Maine, Md., Mass., Miss., N.H., N.Y., N.C., Ohio,
S.C., Tenn., Tex., Vt., Va., W.Va.</P>

<P><I>Xanthorhiza simplicissima</I> is cultivated
as an effective ground cover in moist soils. In the northeastern and midwestern
United States it occasionally escapes from cultivation, and either persists
or becomes established. In southeastern Texas and western Louisiana the
species is apparently native, though infrequent. The leaves bear a striking
resemblance to those of celery, hence <I>apiifolia</I>, the epithet in
synonymy.</P>

<P>The yellow inner bark and roots contain a
bitter principle; the roots have been used medicinally and in making yellow
dye. Bundles of yellowroot are widely sold in Alabama and Georgia for treatment
of gastrointestinal disorders and fever blisters (R. D. Whetstone, pers.
comm.).</P>

<P>Native Americans used <I>Xanthorhiza simplicissima</I>
medicinally to treat ulcerated stomachs, colds, jaundice, piles, sore mouth,
sore throat, cancer, and cramps, and as a blood tonic (D. E. Moerman 1986).</P>

